[2020-03-27 09:34] dmitry-shibanov commented on #63
Hello, changes were added. Current default go version is 1.14. If you have any concerns please feel free to reopen the issue.

[2020-03-27 09:34] #63 closed

[2020-03-27 17:29] ydnar commented on #620
Apple is now rejecting uploads built with the current version of Xcode 11.4 (breaking our CD). Do you have an ETA for this deploy?

[2020-03-27 17:50] maxim-lobanov commented on #108
Closing since Helm 3 is available on image. Sorry for delayed notification

[2020-03-27 17:50] #108 closed

[2020-03-27 18:17] jetersen opened #635 "Windows environment path has an illegal character"
**Describe the bug**
Seems like there is an illegal character coming from Microsoft SQL

[code]

https://github.com/jenkinsci/hashicorp-vault-plugin/runs/540184036#step:4:193

This used to work in the past so a recent change made it borked:

https://github.com/jenkinsci/hashicorp-vault-plugin/actions/runs/47619076

**Area for Triage**:
Java

**Question, Bug, or Feature?**:
Bug

**Virtual environme

[2020-03-27 21:14] briandilley opened #637 "Trouble with C/C++ code compiled/linked with my container"
**Describe the bug**
I’m having trouble using ffmpeg in a container within github workflows.

I have some c/c++ code that links against ffmpeg and it’s unit tests fail every time on CI, but work fine locally... even in the same docker container that’s being used on ci (briandilley/streamhub-linux).

Even running a few ffmpeg commands they fail with odd errors that don’t make sense. The same exact

[2020-03-27 22:01] nulano opened #638 "Specify PyPy version"
**Tool information**
- Tool name: PyPy

**Area for Triage**: Python

**Question, Bug, or Feature?**: Question

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

PyPy versioning is different to CPython. The version in the current readme files (3.6.9) refers to the CPython compatibility of the giv

[2020-03-27 22:23] kudaba commented on #93
An update to this:
* The virtual environment changed from vs Community to Enterprise breaking the Ant directory, turns out I don't need to set the Ant or Java directories, those work properly.
* I tried updating to the Android SDK driectory mentioned in available software but I can't use those directly. The visual studio build system seems to expect an sdk folder to steps above build-tools.
* The

[2020-03-28 07:46] Jetersen commented on #635
https://github.com/jenkinsci/configuration-as-code-plugin/pull/1302/checks?check_run_id=541313850#step:5:599

[2020-03-28 16:22] adwhit commented on #104
I found `scoop` is faster than `choco`. I have the following:
[code]
Note you'll maybe need to pass in
[code]
to subsequent actions.

[2020-03-28 20:47] briandilley commented on #637
nevermind, I just suck at using git-lfs

[2020-03-28 20:47] #637 closed

[2020-03-29 00:11] WilsonHorse1 opened #639 "Virtual env"

[2020-03-29 04:48] jakejarvis commented on #599
Try running [actions/setup-node](https://github.com/actions/setup-node) before installing anything globally with npm. I've run into this problem and doing this seems to fix the permissions, even though node and npm are already pre-installed on the runners.

[code]

[2020-03-29 14:51] dragon-archer opened #641 "Typo CMake in Windows documentation"
In file `images/win/Windows2019-Readme.md`

The package `CMake` is written as `Cmake` in this file.

[2020-03-29 17:14] yongce commented on #517
Fixed now. Thanks!

[2020-03-29 17:14] #517 closed

[2020-03-30 06:17] thomaseizinger commented on #17
Is there anything that needs to be done for docker to be started? Our tests fail with an error from the `docker` CLI:

https://github.com/comit-network/comit-rs/pull/2345/checks?check_run_id=544450918#step:8:177

[2020-03-30 06:21] nikita-bykov commented on #15
We have added Swift support to Ubuntu 16.04 and Ubuntu 18.04. Images with changes will be rolled out around next week.

[2020-03-30 06:27] miketimofeev commented on #620
@pixyzehn @ydnar the image has been updated. Could you check it, please?

[2020-03-30 06:48] andy-mishechkin commented on #639
Hello.
Could you please update issue description to provide details about your issue, build steps and affected environments

[2020-03-30 06:59] WilsonHorse1 commented on #639
You’re obviously a puff

    	Get Outlook for iOS

On Mon, Mar 30, 2020 at 7:48 AM +0100, "Andy Mishechkin" <notifications@github.com> wrote:

Hello.

Could you please update issue description to provide details about your issue, build steps and affected environments

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-30 08:03] dibir-magomedsaygitov commented on #616
SSDT for SSDT to 15.9.4 for vs2017-win2016 has been updated in scope of this [634](https://github.com/actions/virtual-environments/pull/634) PR

[2020-03-30 08:12] dibir-magomedsaygitov commented on #13
AWS CLI has been successfully added to macOS in scope of [this](https://mseng.visualstudio.com/AzureDevOps/_git/Mac-Cloud/pullrequest/542723) PR and to win16 and win19 in scope of [this](https://github.com/actions/virtual-environments/pull/610) PR.
 Changes were merged and will be delivered to all VMs in a week.

[2020-03-30 08:38] maxim-lobanov commented on #560
[The change](https://github.com/linux-test-project/lcov/commit/75fbae1cfc5027f818a0bb865bf6f96fab3202da) that you are looking for was done in master but the new version was not released yet. Release 1.14 is the last one in [lcov repository](https://github.com/linux-test-project/lcov/releases).

1.14-2 can be installed directly from master branch using the following code:
[code]
Installation takes

[2020-03-30 08:47] miketimofeev commented on #605
@josejavieralvarez VS16.5 rollout has been finished

[2020-03-30 08:59] miketimofeev commented on #113
@zwaldowski I've checked `sudo sqlite3 ~/Library/Application\ Support/com.apple.TCC/TCC.db '.dump'` and everything seems fine. Closing the issue, but feel free to reopen if you have any concerns.
Thank you!

[2020-03-30 08:59] #113 closed

[2020-03-30 09:04] miketimofeev commented on #547
@hbuckle Run `Get-Command openssl` returns `C:\Program Files\OpenSSL\bin\openssl.exe`. Closing the issue, but feel free to reopen if you have any concerns.

[2020-03-30 09:04] #547 closed

[2020-03-30 09:24] al-cheb commented on #635
Hello, @Jetersen
I can reproduce the bug. Thank you for mention about it.

[code]

"C:\Program Files (x86)\Microsoft SQL " - contains space  as the last character

[2020-03-30 09:25] maxim-lobanov commented on #578
Hello, thank you for response and confirmation.
You even don't need to specify --sdk_root any more.

`echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;20.0.5594570"` should work.

@samtstern , how much time does it take to install the ndk in runtime?
Agree that ideally, they should be pre-installed (we already pre-install build_tools and platforms so it makes sense to pre-instal

[2020-03-30 09:25] #578 closed

[2020-03-30 10:08] Jetersen commented on #635
Hopefully it would be fixed at the source? 🤔 I assume this is a bug in the Microsoft SQL installer?

[2020-03-30 10:23] al-cheb commented on #635
@Jetersen , I don't think it's a bug in the Microsoft SQL installer. Looks like we reach env var 2048 limit - https://devblogs.microsoft.com/oldnewthing/20100203-00/?p=15083

[2020-03-30 10:29] Jetersen commented on #635
Well that's somewhat disappointing 😞

I guess we need to start using more variables and using short paths.

[2020-03-30 10:31] Jetersen commented on #635
This stackoverflow goes over some of the steps to go through: https://stackoverflow.com/questions/34491244/environment-variable-is-too-large-on-windows-10

Some even suggest Microsoft SQL is partly responsible for the issue.

[2020-03-30 10:32] #602 closed

[2020-03-30 10:57] Dhugal commented on #324
@miketimofeev - Thanks Mike. Unfortunately I'm not seeing the latest version of the image when I carry out a build, so it's still failing.

I've attempted switching the vmImage to both 'windows-2019' and 'windows-latest' and in both cases I get the following in the initialise job step of the build, which appears to indicate a prior version of the image is still being used:

Starting: Initialize jo

[2020-03-30 11:01] miketimofeev commented on #324
@Dhugal oh, I see. The image has been deployed to github only at the moment due to VS 16.5 issues that's why you still see the old image version. Sorry for the misinformation

[2020-03-30 11:06] Dhugal commented on #324
@miketimofeev - Ok, no problem. Do you have an ETA for when it's going to be applied to Azure Dev Ops or is there somewhere we can see the status if this kind of thing?

[2020-03-30 11:13] Dhugal commented on #324
PS: I think it would be good to get some clarification on where you can see the image that is currently deployed.

At the moment, the following page lists the images and has an entry for windows-2019:

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops

The windows-2019 link in turn takes you to this page, which indicates that the 20200319.1 image is in use, bu

[2020-03-30 11:19] miketimofeev commented on #324
@Dhugal yeah, that's quite confusing.
@alepauly do we have any ETA for AzDO update?

[2020-03-30 11:23] al-cheb commented on #611
Hello, @Garima-msft
This behavior is expected that we couldn't  pre-install all desired Az PowerShell module versions on images related due to significantly increase image size, building time, etc.

1. Can we remove old versions?
No. This can break existing customers who has written there scripts based on the old AzurePS commands and using that specific version in the task.

2. Can we change defau

[2020-03-30 11:23] #611 closed

[2020-03-30 12:22] al-cheb commented on #635
I think the root cause: `setx`  Path is truncating the path to 1024 characters.

[2020-03-30 12:23] Jetersen commented on #635
That's even more concerning 😰

[2020-03-30 12:58] manuyavuz-pointr commented on #551
Hi,

Are there any updates on this?

https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md#installed-simulators

According to above list, macos image only has iOS 13 as major version, which is pretty limited imo.

Do you have any plan on maintaining additional previous major versions?

Thanks

[2020-03-30 13:11] samtstern commented on #578
@maxim-lobanov for me it takes about 1.5 minutes which is ~15% or more of my whole build.  I could add a caching step probably but my build didn't need any caching before so that's more complexity.

I'll open a new issue for that.

[2020-03-30 13:14] samtstern opened #643 "Pre-install Android NDK versions on Actions images"
**Tool information**
- Tool name: Android NDK
- Add or update? Update
- Desired version: 20
- Approximate size: Unknown
- If this is an add request: N/A

**Area for Triage**:
Android

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Can this tool be in

[2020-03-30 13:17] samtstern commented on #643
Submitted at the recommendation of @maxim-lobanov in this comment:
https://github.com/actions/virtual-environments/issues/578#issuecomment-605886387

Installing a few common versions of the Android NDK would make builds faster, reduce network traffic, and reduce build complexity.

My Android build used to be super simple:
[code]

Then an Android update forced me to add this:
[code]

That took my b

[2020-03-30 13:31] maxim-lobanov commented on #578
Agree that 1.5 minutes is too much. We will take care about new issue, thanks!

[2020-03-30 14:24] phadej opened #644 "Is there a changelog of deployed environment changes."
I'm suspecting that I'm experiencing an issue with the same underlying reason as https://github.com/actions/virtual-environments/issues/625. There is a comment

Having these changes easily discoverable would simplify adopting to the changes: one would know what changed without reporting "what broke".

EDIT: The releases do contain notes, but it's very hard to filter what changed from these.
EDIT2:

[2020-03-30 16:02] ydnar commented on #620
@miketimofeev thanks! We’re also looking forward to the deployment of Swift on Ubuntu (#609), which lets us run a number of Swift workflows on Linux instead of macOS without having to spend 40s installing Swift.

[2020-03-30 16:17] jared-w opened #645 "Add GHC, Cabal, and Stack to macOS and Windows"
**Tool information**
- Tool name: GHC, Cabal, Stack
- Add or update? Add
- Desired version: Latest supported GHC versions (8.10.1, 8.8.3, 8.6.5), Latest version of Cabal (3.0.0.0), Latest version of Stack (2.1.3).
- Approximate size: ~250MB per GHC. ~25MB for Cabal. ~9MB for Stack.
- If this is an add request:
  - Brief description of tool: Haskell language (already present on Linux). Stack is a c

[2020-03-30 16:23] jared-w commented on #645
I'm not sure where to put this, but currently for Haskell on Linux, there's a lot more installed than seems to be necessary. Is that something you're interested in changing at all? It seems excessive to have 11 versions of GHC when common projects will only use 1 (or 3 at most).

Culturally, Haskell has a convention of supporting the last 3-4 major compiler releases, so at the time of writing that

[2020-03-30 16:42] rick-de-water commented on #560
Got it to work by also adding `sudo apt install libperlio-gzip-perl libjson-perl`, otherwise lcov will get a runtime error on not finding these perl modules.

[2020-03-30 20:52] thejoebourneidentity commented on #35
Hey @d1gress , thanks for the suggestion. Do you mind providing a bit more context on what you're trying to do? For example, why do you need the build tools on all the other images when it's available on `windows-2016`

[2020-03-30 20:59] thejoebourneidentity commented on #560
Thanks @rick-de-water, we're going to close this issue for now and not add `lvoc` directly to the image. Let us know if you continue to see problems over at the community forum.

https://github.community/t5/GitHub-Actions/bd-p/actions

[2020-03-30 20:59] #560 closed

[2020-03-30 21:01] alepauly commented on #596
thanks @maxim-lobanov. @vsafonkin can you please close this issue when pacman actually rolls out?

[2020-03-30 21:08] thejoebourneidentity commented on #613
Thanks for the suggestion @jeroen, I don't think we're going to be taking this one right now.

[2020-03-30 21:08] #613 closed

[2020-03-30 21:12] alepauly commented on #393
We should start by investigating any side-effects of this.

[2020-03-30 21:59] tclem commented on #645
I'm 👍 on supporting just the last 3-4 major releases (there are way too many ghc's installed by default here).

I'm also 👍 to add Stack as part of this.

[2020-03-31 06:59] ralucapredacegeka commented on #629
Hi! When can we expect a solution or a workaround for this one? Our releases/tests have been failing for almost a week know.

[2020-03-31 07:17] nesshoever commented on #629
Or maybe any workaround ti get a different resolution than the default 1028x768 (other than setting up a VM manually ;) )

[2020-03-31 08:22] bartchojnacki commented on #629
It seems that the issue returned last night (UK) - it was working fine over the weekend

"2020-03-31T08:12:54.7286667Z ##[warning]The current user session is not a console session. It may not be possible to change the screen resolution. Please ensure that agent is running with autologon and disconnect any remote desktop sessions."

[2020-03-31 09:14] elduddz commented on #507
@maxim-lobanov @a8ree @alepauly @miketimofeev

does anyone know anyone at hashicorp?

I have raised with hashicorp:
https://github.com/hashicorp/packer/issues/8972#issuecomment-606459263

maybe we can get some pleases?

[2020-03-31 10:22] alepauly commented on #629
@bartchojnacki @nesshoever @ralucapredacegeka @jcageman Apologies for the disruption. We are rolling out a fix, should be everywhere within the next two days.

As @bartchojnacki experienced, it is possible for successes to happen while the fix is completely rolled out.

[2020-03-31 10:50] dragon-archer opened #649 "Conflict of CPack in PATH"
**Describe the bug**
There are two `cpack.exe` in PATH
1. The alias of `choco pack` for Chocolatey
2. The pack module of the CMake suite

The first one (placed in `%ChocolateyInstall%\bin\`) is in front of the second one (placed in CMake  installtion dir), so when use `cpack` in cmd, it will call the first one.
But actually, the first one is just an alias, while the second one is an important prog

[2020-03-31 12:48] alepauly opened #650 "Disable SIP in Mac OS Catalina"
We're planning on disabling SIP (System Integrity Protection) on Mac OS 10.15 images. The change is planned to take effect during the week of April 13th.

Please let us know of any concerns or questions you may have about this change.

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

[2020-03-31 14:39] JustinGrote commented on #644
I agree, some sort of json manifest or something of an images contents would be extremely helpful.

[2020-03-31 15:54] xnorpx commented on #649
this one is really annoying please fix

[2020-03-31 18:17] kemosabe102 commented on #161
This issue is happening to me with the latest release of Windows 2019 (win19/20200319.1). I ended up disabling the scan and Update-MpSignature commands because the image build process kept failing on this very last step.

### Error using the default Run-Antivirus.ps1 script.
[code]

I moved the 'Update-MpSignature' command before the '.\MpCmdRun.exe -Scan -ScanType 2' command based on information

[2020-03-31 19:26] sergeneren commented on #116
Hello,

Is there an update on this?

Thank you?

[2020-04-01 04:36] jeroenleenarts commented on #650
Why disable SIP?

It creates a bigger distance between running build scripting on an end user system compared to the Action/Pipeline VMs. In practice I have never had the need to disable SIP, sometimes some scripting needs to be changes. But still...

[2020-04-01 06:43] dmitry-shibanov commented on #17
Hello @thomaseizinger, thank you for your response. I have confirmed issue and looking into it

[2020-04-01 08:25] dsame commented on #20
PR https://github.com/actions/virtual-environments/pull/591

[2020-04-01 09:54] Croydon commented on #387
Thanks for the update @thejoebourneidentity

Adding Visual Studio 2015 to the `windows-2016` image sounds good to me too 👍

[2020-04-01 10:12] andyhuber commented on #620
@miketimofeev
This situation is unfortunately quite severe for companies that are relying solely on GitHub Actions to upload builds. Our whole build pipeline is built on GitHub actions and that's the second time after 11.2 that we run into the same problems. Since we are doing nightly builds for all our inhouse testing we need this going.

Is there a possibility for future updates that you can hav

[2020-04-01 12:28] saurik commented on #120
Apparently, if I don't leave a comment every now and then, the "github-actions" bot will decide the bug has somehow magically been fixed (by gnomes? I don't understand how that makes any sense); so... "bump: GitHub is still shipping an ancient version of the Android NDK--r18, which notably has disclosed security issues--even though there is an r21 LTS version available and particularly even though

[2020-04-01 15:03] ivansainz opened #654 "Add AWS CLI to windows-latest"
**Tool information**
- Tool name: AWS CLI
- Add or update? Add
- Desired version: 2
- Approximate size: 24 Mb
- If this is an add request:
  - Brief description of tool: Command line interface tools for AWS
  - URL for tool's homepage: https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-windows.html

**Area for Triage**:
Scripting and command line

**Question, Bug, or Feature?**:
Featur

[2020-04-01 15:10] litan1106 commented on #546
The binaries are about 140 mb.

[2020-04-01 15:24] alepauly commented on #650
thanks for the input @jeroenleenarts. At this point it's not set in stone that we'll disable it and we just wanted to get some feedback (rather quickly). The reason to disable it is because it allows for some workflows that don't with it enabled.

We agree that there's a risk with making the CI environment even more different from where the artifacts will eventually be run but want to get a sense

[2020-04-01 15:52] maxim-lobanov commented on #654
Hello!

This request is duplicate of #13 . AWS CLI was added to image recently. The new image will be deployed by the end of this week.

[2020-04-01 16:45] ydnar commented on #620
@andyhuber strongly agree.

Possible to decouple Xcode from the normal Catalina / macOS build train?

[2020-04-01 18:04] miketimofeev commented on #620
@andyhuber @ydnar sorry for the inconvenience. Image with Xcode 11.4 is rolling out right now and the will be delivered in a couple of hours. We are going to make such Xcode updates much faster in the future.
Thank you!

[2020-04-01 18:07] ydnar commented on #620
Thank you! Appreciate your hard work right now.

[2020-04-01 19:46] raulpopadineti opened #656 "Ruby 2.7.1 support"
**Tool information**
- Tool name: [Ruby lang](https://www.ruby-lang.org/en/)
- Add or update? update
- Desired version: `2.7.1`
- Approximate size:
- If this is an add request:
  - Brief description of tool: Ruby is a dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
  - URL for tool's homepage

[2020-04-01 20:17] MaxDesiatov commented on #620
@miketimofeev does this include Azure Pipelines images with macOS 10.15? Could one assume that GitHub Actions images and Azure Pipelines images are now identical, given that the [Azure Pipelines images repository](https://github.com/microsoft/azure-pipelines-image-generation/) redirects to this one?

[2020-04-01 20:21] miketimofeev commented on #620
@MaxDesiatov Unfortunately, no. Azure pipelines pools are updated separately from GitHub ones. They will be updated tomorrow(you can follow this PR https://github.com/microsoft/azure-pipelines-image-generation/pull/1511, it will be merged when the deployment is done)

[2020-04-01 20:58] kceb opened #657 "Apple builds suddenly super slow internet connection"
**Describe the bug**

Recently the setup step for my macOS machines, which only downloads github actions, takes around 5 minutes. NPM install takes 10-20 minutes. In the past, the times for installing dependencies were comparable to ubuntu machines, which I use for Android app builds.

In comparison, the same step takes 30 seconds or less on ubuntu machines.

Was internet access in these machines

[2020-04-01 23:58] ltcmelo opened #658 "macOS-latest's C++ environment seems incomplete: -stdlib=libc++ being ignored"
**Describe the bug**
It appears to me that the C++ environment for macOS-latest (with the clang compiler) is incomplete. Specifically, it doesn't seem to be possible to build against a C++11 (or later) standard library implementation, e.g., libstdc++ or libc++. An official description of the role of libc++ in osx is available [here](https://libcxx.llvm.org/docs/UsingLibcxx.html) -- there's also pl

[2020-04-02 02:23] stephencelis commented on #620
@miketimofeev Any idea how long it usually takes for these rollouts to complete? It looks like the current environment is still on the beta.

[2020-04-02 02:43] PraveenKalavai opened #659 "SSIS Build Sometimes Fails on 'vs2017-win2016' Agent"
**Describe the bug**
I have tried building around 16 of our SSIS Solutions using the 'vs2017-win2016' agent in Azure DevOps. 6 of the SSIS Solutions build successfully, but the other 10 SSIS Builds are failing.

The build is triggered on the agent by invoking devenv.
_

_

**Area for Triage**:
Area: VisualStudio 2017
Area: SSDT 2017
Area: SSIS 2017

**Question, Bug, or Feature?**:
Bug

**Virtual e

[2020-04-02 05:11] 9prady9 opened #661 "Boost Package version suddenly changed"
**Describe the bug**
[ArrayFire](https://github.com/arrayfire/arrayfire) is an open source GPGPU library. We use github actions to build/test our CPU backend. We started using Ubuntu 16.04 which had boost 1.69 since we began. All of a sudden, since couple of days, our build process reported boost 1.58 and failed. I can verify this from our logs also.

**Area for Triage**:  C/C++

**Question, Bug,

[2020-04-02 05:37] andy-mishechkin commented on #641
Script for generation of CMake name has been fixed. Next releases must contains the valid name

[2020-04-02 06:47] al-cheb commented on #599
@hrueger, by default `actions/setup-node@v1` task is using `/opt/hostedtoolcache` as an installation path where all users can able to write.
`npm config get prefix : /opt/hostedtoolcache/node/`

Free free to open the thread if you have any concerns.

[2020-04-02 06:47] #599 closed

[2020-04-02 06:58] andyhuber commented on #620
@stephencelis it seems to be updated by now.
@miketimofeev Thanks. The documentation https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md
seems to still be outdated. Still mentioning 11.4 beta

[2020-04-02 07:07] miketimofeev commented on #620
@stephencelis @andyhuber it's not yet updated for all the environments. The PR will be completed once it's done.
Thank you for your patience!

[2020-04-02 07:48] al-cheb commented on #661
Hello, @9prady9
We have deprecated `BOOST_ROOT` environment variable - https://github.com/actions/virtual-environments/issues/319.

Current image variables:
[code]

Could you please define `BOOST_ROOT` environment variable at runtime?

BOOST_ROOT=$BOOST_LIB/$BOOST_VERSION

[2020-04-02 08:02] 9prady9 commented on #661
That would mean the ubuntu 16.04 images have system boost package (1.58) also installed along with 1.69 and 1.72.0, right ? I was under the impression that system package was replaced by newer version that were listed in the documentation. I can use these versioned boost variables to set `BOOST_ROOT` cmake option. That should do the job for us.

Please feel free to close the issue, I think my ques

[2020-04-02 08:09] 9prady9 commented on #661
@al-cheb Are these variables available on macos-latest image too ?

[2020-04-02 08:26] al-cheb commented on #661
@9prady9, We have never had boost package (1.58) on Ubuntu images. I think it's related with FindBoost function in cmake when BOOST_ROOT is missing and installed on non-default directory.

Sorry, but we don't have boost on macOS image and don't plan to add it - https://github.com/actions/virtual-environments/issues/356#issuecomment-587519480

[code]

[2020-04-02 08:39] 9prady9 commented on #661
sounds good.

[2020-04-02 08:39] #661 closed

[2020-04-02 08:39] #654 closed

[2020-04-02 09:26] miketimofeev commented on #480
@eregon The changes have been delivered. Closing the issue, but feel free to reopen if you have any concerns.
Thank you!

[2020-04-02 09:26] #480 closed

[2020-04-02 09:28] maxim-lobanov commented on #434
Hello @gimenete , Could you please double check if the issue is still actual?

[2020-04-02 09:36] maxim-lobanov commented on #301
@kngohil I am closing the issue based on my message above but please feel free to reopen if you have any concerns

[2020-04-02 09:36] #301 closed

[2020-04-02 09:45] AlenaSviridenko commented on #293
Hi @dimiboi !
I am closing this issue but if this error is still actual for you, please, feel free to open new ticket.
Thanks!

[2020-04-02 09:45] #293 closed

[2020-04-02 12:13] miketimofeev commented on #253
@JustinGrote Closing this issue for now, but feel free to reopen if it still bothers you.
Thank you!

[2020-04-02 12:13] #253 closed

[2020-04-02 13:58] miketimofeev commented on #620
@pixyzehn @andyhuber @stephencelis image rollout finished. Closing this issue, but feel free to reopen if you have any concerns.
Thank you!

[2020-04-02 13:58] #620 closed

[2020-04-02 14:03] litan1106 commented on #546
It took around 14s in ubuntu-latest but you could use action/cache to make it even faster.

[2020-04-02 14:19] another-dave opened #663 "Add Android Emulator and tools for macOS image"
**Tool information**
- Tool name: Android's `emulator` and latest system images
- Add or update? Add
- Desired version: Ideally, System images that can run the last few version of Android (e.g. API levels 30/29/28) with Google Play Services installed.
- Approximate size:
- If this is an add request:
  - Brief description of tool: Google's `emulator` tool for Android to allow Instrumentation Tests

[2020-04-02 16:14] Andrei-Pozolotin commented on #183
+1

[2020-04-02 16:15] Andrei-Pozolotin commented on #114
+1

[2020-04-02 16:21] felipecassiors commented on #114
Isn't this a duplicate of https://github.com/actions/virtual-environments/issues/183?

[2020-04-02 16:23] oxr463 commented on #114
This lists specific packages for use on Linux. The other pertains to Azure infrastructure limitations.

[2020-04-02 17:19] PraveenKalavai commented on #659
Upon further analysis of the activity logs between 'failed' and 'succeeded' builds, I noticed that the only difference is the error about package "Scc Display Information". I suspect this is what is causing the SSIS builds to fail.

**The first two errors are present even in the activity logs of successful builds.**
_

_

_

_

[2020-04-02 19:03] alex opened #664 "Use `brew upgrade openssl@1.1` to update OpenSSL breaks Python 3.8 install on macOS"
**Describe the bug**

The following sequence of steps leads to a broken Python:

[code]

**Area for Triage**:
Python

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
This should leave you with an updated OpenSSL and a working Python.

[2020-04-02 19:03] ydnar commented on #15
Just ran three workflows on Ubuntu with the preinstalled swift. All green. Thanks everyone!

[2020-04-02 21:43] oleg-brizy opened #666 "Create docker images for linux environment"
**Tool information**
- Tool name: Docker
- Add or update? Add
- Desired version: -
- Approximate size: -
- If this is an add request:
  - Brief description of tool: Docker image to be used as base for self hosted runner containers
  - URL for tool's homepage: https://hub.docker.com/

**Area for Triage**: -

**Question, Bug, or Feature?**: Feature

**Virtual environments affected**
- [ ] macOS 10.1

[2020-04-02 23:07] kceb commented on #81
@miketimofeev I noticed there are multiple versions used by my runner, is it possible I can lock to a version? ex: lock to runner version: `2.165.2`?

I believe it is currently `2.168.x`, but I noticed this recent version for some reason slows down certain steps in my build 5x

[2020-04-03 05:47] leecbaker opened #667 "Update Visual C++ to 16.5.2"
**Tool information**
- Tool name: Visual C++
- Add or update? Update
- Desired version: 16.5.2
- Approximate size:

**Area for Triage**:
C/C++

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [x] Windows Server 2019

**Can this tool be installed during the build?**
Unknown/probably

[2020-04-03 06:02] ralucapredacegeka commented on #629
Hi @alepauly ! Please be aware that we are still facing this issue on both vs2017-win2016

[2020-04-03 06:47] BrightRan opened #668 "IPv6 on GitHub-hosted runners"
This issue is transferred from [here](https://github.com/actions/runner/issues/402).

In [this ticket](https://github.community/t5/GitHub-Actions/GitHub-Actions-IPv6-Network-Issues/td-p/52085), the user is trying to reach the **`IPv6 address`** of Google by running the command "**`curl -6 https://www.google.com`**" on the **`GitHub-hosted Ubuntu runner`**, but it always failed to connect and retur

[2020-04-03 13:19] traversaro opened #670 "Add enviroment variable to contain runner version"
**Describe the bug**
In the GitHub Actions there is now the ImageVersion env variable that contains the image version, but it would be useful to have also a variable that contains the runner version. As on some platforms (for example macOS) the `${GITHUB_WORKSPACE}` path contains the runner version, this can create problems with tools that hard-code their path in the build files if they are cached

[2020-04-03 13:31] traversaro commented on #670
See https://github.com/robotology/whole-body-estimators/issues/60 for a related downstream issue.

[2020-04-03 13:37] maxim-lobanov commented on #670
Hello @traversaro , thank you for your suggestion.
I believe it is request for https://github.com/actions/runner

[2020-04-03 13:43] #639 closed

[2020-04-03 13:47] traversaro commented on #670
Thanks @maxim-lobanov , that probably make sense, thanks for the hint!
In any case, I discovered that while `${{ env.GITHUB_WORKSPACE }}` is not working correctly for some reason (probably you can use like that only the enviromental variable that you explicitly declared in the `yml` file) the `${{ runner.temp }}` expression works correctly (see https://github.com/robotology/idyntree/pull/667) so t

[2020-04-03 13:47] #670 closed

[2020-04-03 13:53] felpasl opened #671 "Add Self Hosted configuration out of azure"
**Tool information**
- Tool name: Self Hosted agent configuration
- Add or update? add
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool: create a sh option to configure any environment to act as a self build host, in other clouds or in on-premisses vm
  - URL for tool's homepage:

**Area for Triage**:

**Question, Bug, or Feature?**: Feature

**Virt

[2020-04-03 14:26] al-cheb commented on #534
@hugovk, https://getcomposer.org/doc/00-intro.md#installation-linux-unix-osx
If you like to install it only for your user and avoid requiring root permissions, you can use ~/.local/bin instead which is available by default on some Linux distributions.
**Note: If the above fails due to permissions, you may need to run it again with sudo.**

Feel free to reopen the thread if you have any concerns.

[2020-04-03 14:26] #534 closed

[2020-04-03 14:41] hugovk commented on #534
We used `sudo`, thanks for the clarification!

[2020-04-03 14:47] andy-mishechkin commented on #667
Visual Studio Version 16.5.2 will be updated in the next image automatically.

[2020-04-03 14:50] VerdonTrigance commented on #532
Hey, what is going on?

##[error]This job was blocked because it uses the hosted agent vs2015-win2012r2 which was permanently removed on April 2nd, 2020.  See https://aka.ms/blocked-hosted-agent for more information.
,##[error]The remote provider was unable to process the request.

Why it has been deleted without providing Sharepoint SDK on a new images?

##[error]MVideo.Acquiring.SpDAL\Models\SpL

[2020-04-03 14:51] VerdonTrigance commented on #68
Hey, what is going on?

[code]

Why it has been deleted without providing Sharepoint SDK on a new images?

`##[error]MVideo.Acquiring.SpDAL\Models\SpListItemClaim.cs(1,17): Error CS0234: The type or namespace name 'SharePoint' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)`

[2020-04-03 15:27] andy-mishechkin commented on #464
Hello, @NinoFloris
Do you need to add Docker Buildx to all images , or to something separate image (MacOS, Ubuntu, etc)
Please specify the Virtual environments affected to your request

[2020-04-03 16:15] dtitov opened #672 "Not enough entropy on Ubuntu VMs"
**Describe the bug**
I have discovered that your Ubuntu VMs suffer from this issue: https://serverfault.com/questions/214605/gpg-does-not-have-enough-entropy

I have a [cryptographic library](https://github.com/uio-bmi/crypt4gh) and when I run GitHub Actions pipeline on Ubuntu, the build hangs forever, because library can’t generate encryption keys due to the issue above (FYI: MacOS VMs are not af

[2020-04-03 17:29] oleg-brizy commented on #671
Similar https://github.com/actions/virtual-environments/issues/666

[2020-04-03 20:22] treyhendon commented on #324
I'm late to the party, but actually found myself in the same place as @Dhugal over the past few days.

Our Azure DevOps environment is still using the 20200308.0 image.  I'm using `windows-latest` in our pipeline.

[2020-04-04 00:56] SeanFarrow opened #673 "Remove the reference to 3.1.102 in the .Net Core SDK installation scripts"
Now that .Net Core sdk 3.1.201 has been released, do we need to concern ourselves with
[this](https://github.com/dotnet/aspnetcore/issues/19133)
issue?
If not, I'm happy to update the scripts to remove all checks for 3.1.102.
Thanks,
Sean.

[2020-04-04 02:28] Geod24 commented on #658
Your problem is [here](https://github.com/ltcmelo/psychec/blob/89faa2b5c49e6c768a0f2db7190f270beb27329b/CMakeLists.txt#L38-L40). Why are you trying to link against `libstdc++` ? Apple only distributes an old version which is not C++11 compatible. `libc++` is what you want to use on recent OSX versions, without exception. A custom clang will actually emit a warning if you try to link with `libstdc+

[2020-04-04 07:57] daniela-waranie commented on #196
This ticket started out as a support request, but more and more thinking about it i would now like to treat it as a feature request:  "build azure base images and docker images with the same provisioning tool"  / "add docker image as a supported option to run github actions locally"

[2020-04-04 07:58] daniela-waranie commented on #196
would be cool it you can reopen this ticket

[2020-04-04 14:48] VerdonTrigance opened #674 "SharePoint SDK is missing on every agent. Build failed"
Because no one answer in previous topics (linked here) I create new one.
Everything is described here:
https://github.com/actions/virtual-environments/issues/532
https://github.com/actions/virtual-environments/issues/68#issuecomment-602652021
https://github.com/actions/virtual-environments/pull/556#issuecomment-608478741

**Question, Bug, or Feature?**:
"Bug"

**Virtual environments affected**
- [

[2020-04-04 14:55] ltcmelo commented on #658
@Geod24, I'm not linking against libstdc++, but against libc++. Check the [link mentioned by yourself](https://github.com/ltcmelo/psychec/blob/89faa2b5c49e6c768a0f2db7190f270beb27329b/CMakeLists.txt#L38-L40) (in a earlier commit, though, I attempted passing libstdc++ for investigation purposes).

In fact, I only added explicit link information because, with the default settings, I was already gett

[2020-04-04 16:57] traversaro opened #675 "Unable to connect to azure.archive.ubuntu.com flaky failure on ubuntu-latest"
**Describe the bug**
On some jobs (apparently in a non-deterministic way) commands such as `apt-get install` fail with the following error:
[code]

For an example of such failure, check https://github.com/robotology/idyntree/pull/668/checks?check_run_id=560084383 . I would not be too  surprised about CI jobs failing for networks problems, but this specific issue seems to be extremely frequent. I d

[2020-04-04 17:16] Geod24 commented on #658
My bad, I got things quite mixed up. I have a project where I build C++ code using C++14 and the native toolchain, and things are working just fine, so I am pretty sure that the Github environment is fine. However said project is using its own build system, so I can't provide an example with CMake.

Can you provide the command where clang is invoked?
I would imagine either `-std=c++14` is not pass

[2020-04-04 20:03] ltcmelo commented on #658
I've tried CXX_STANDARD but the issue remains. From a bit more googling, this seems to be libc++ regression -- that might reproduce for certain #include ordering. (I'm actually developing on OSX myself.)

[2020-04-04 20:14] ydnar commented on #650
@alepauly is this related to gaining programmatic access to microphone, location, camera?

[2020-04-05 01:47] MSP-Greg opened #676 "images/macos/macos-10.15-Readme.md - use ImageVersion in commit subject"
**Describe the bug**

Feature request:

Please consider using the environment variable `ImageVersion` in the commit subject for the commits to images/macos/macos-10.15-Readme.md.

**Area for Triage**:

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**E

[2020-04-05 04:01] MSP-Greg commented on #675
I added `-o Acquire::Retries=3`, and today it worked, then failed for a while, then starting working again.

It may not be a GitHub issue, but they (and especially MSFT) have the resources to mirror azure.archive.ubuntu.com so Actions CI is reliable...

[2020-04-05 11:51] #188 closed

[2020-04-05 11:51] maxim-lobanov commented on #188
Fixed in #603

[2020-04-05 14:39] maxim-lobanov commented on #109
I suggest looking at [Unity Builder](https://github.com/marketplace/actions/unity-builder) as a possible solution

[2020-04-06 05:16] maxim-lobanov commented on #86
Tool can be potentially installed in runtime:
[code]

[2020-04-06 05:47] maxim-lobanov commented on #62
Hi, there is a duplicate issue #551 , it contains workaround using `xcversion` tool

[2020-04-06 06:30] miketimofeev commented on #34
@qwhelan Closing this for now in that case. Feel free to reopen if you have any concerns.
Thank you!

[2020-04-06 06:30] #34 closed

[2020-04-06 06:59] dmitry-shibanov commented on #4
Hello, pull request was merged and changes would be added in the next images rollout.

[2020-04-06 07:56] lonevvolf commented on #629
We still have the issue - has it been completely rolled out?

[2020-04-06 08:00] miketimofeev commented on #676
@MSP-Greg A really good point, thanks! We will include ImageVersion in the commit subject starting this week.

[2020-04-06 08:00] #676 closed

[2020-04-06 08:18] maxim-lobanov commented on #58
Installation in runtime takes about 26 seconds on macOS and 35 seconds on Ubuntu / Windows using the following commands:
[code]

[2020-04-06 08:28] miketimofeev commented on #668
@BrightRan looks like the images itself are ok.
@alepauly do we have ipv6 configured on the environment side?

[2020-04-06 08:35] boegel commented on #675
We've been seeing issues like this fairly frequently since Sunday March 29th...

[2020-04-06 08:36] airtower-luna commented on #668
[According to the Docker documentation](https://docs.docker.com/config/daemon/ipv6/) the images would still need to enable IPv6 for Docker containers, even if the VMs start to support it.

[2020-04-06 08:45] miketimofeev commented on #657
Hi @kceb! Could you please provide any samples that work fine on Ubuntu, but not on macOS?

[2020-04-06 08:55] GhassanDukes commented on #629
As lonevvolf we are still seeing the same issue. Is there any ETA for when this will be fully rolled out?

[2020-04-06 09:55] simonsan commented on #86
`2 min with chocolatey under Win`

🤔

[2020-04-06 11:01] boegel commented on #675
Using `-o Acquire::Retries=3` is not helping for us, see for example https://github.com/easybuilders/easybuild-easyblocks/pull/2012/checks?check_run_id=563883264

[2020-04-06 11:24] al-cheb commented on #672
Hello, @dtitov
I am going to add `haveged` package on Ubuntu images.  Could you please validate your build with the package - `sudo apt-get install haveged` ?

[2020-04-06 11:35] al-cheb commented on #659
Hello, @PraveenKalavai
Could you please provide minimal project and steps to reproduce the issue?

[2020-04-06 12:24] al-cheb commented on #227
Hello, @KOLANICH
I don't see any pros to use this kind of tools. Only cons:
1.  Depend on third party unsupported tools/library
2.  No security benefits
3.  Increase maintenance effort
4.  Can break customer CI
5.  Apply unnecessary restrictions to customers
6.  Cannot be applied at runtime
7. Every changes request rerun script
8. Don't prevent from poorly configured third party repos

https://wik

[2020-04-06 12:40] kariharju commented on #657
Ran in to same issue on separate projects as well during last week and the problem seems to continue.

A step where we perform yarn install or npm install last Friday took over 8 mins for macos-latest.
Same step on ubuntu-latest 58 s, and on windows-latest 117 s

At the time of posting this I'm running into similar behavior also on ubuntu-latest. For windows the full pipeline ran in under 5 mins (

[2020-04-06 12:40] rsemenov commented on #629
👋 Unfortunately, we had to revert the fix we made last week as it revealed another more serious issue. At this time we fixed both issues and starting the rollout today and will rollout faster than regular release. It should reach all customers by Tuesday. We apologize for the inconvenience this has caused.

[2020-04-06 13:02] dtitov commented on #672
Hi, @al-cheb,

I tried it and it worked:  https://github.com/uio-bmi/crypt4gh/runs/564321973?check_suite_focus=true 👍

[2020-04-06 13:03] MCOfficer commented on #675
I mentioned this on the github community post, but you can probably use [apt-spy2](https://github.com/lagged/apt-spy2) to find a working mirror before using apt.

[2020-04-06 14:16] MSP-Greg commented on #675
@boegel

Sorry, I didn't mean to imply that using `-o Acquire::Retries=3` was a fix.  What I meant was that if one is using it and `apt-get` still times out, there is really a problem.

[2020-04-06 14:22] maxim-lobanov commented on #72
Changes were deployed.
Please let me know if something doesn't work yet

[2020-04-06 14:22] #72 closed

[2020-04-06 14:49] GhassanDukes commented on #629
@rsemenov thank you for the update. By Tuesday, do you mean 7th April? Or next Tue 14th April?

[2020-04-06 15:22] rsemenov commented on #629
We will try our best to rollout by April 7.

[2020-04-06 16:13] #625 closed

[2020-04-06 17:22] anonymouse64 opened #681 ""/" is not owned by root in the environment"
**Describe the bug**
When launching an Azure Pipeline environment, or even sometimes in GitHub actions (though I have not reproduced that myself), we see that "/" is owned by a vsts user, rather than by root which is expected. This will prevent snapd and snap packages from running, because snap packages running when "/" is a security vulnerability (for snapd), because snapd stores BPF programs in

[2020-04-06 17:22] anonymouse64 commented on #681
CC @jdstrand and @zyga

[2020-04-06 17:33] miketimofeev commented on #681
Hi @anonymouse64! We fixed something very similar a month ago - https://github.com/actions/virtual-environments/issues/422
Have you ever experienced the issue since then?

[2020-04-06 17:35] maxim-lobanov commented on #600
Windows / Ubuntu changes will be deployed in a few days.
@lzutao , I have done the same changes for macOS, they will be deployed next week

[2020-04-06 17:39] bryanmacfarlane commented on #42
Another node issue today: https://github.com/actions/setup-node/issues/132#issuecomment-609811519

[2020-04-06 19:01] anonymouse64 commented on #681
Hi, I have not checked in the last month, but I will ask others to do so. Thanks

[2020-04-06 19:27] PraveenKalavai commented on #659
@al-cheb I can't seem to figure out what is causing certain builds to fail in the Azure Pipeline on the vs2017-win2016 agent.
Our SSIS Solutions are built on VS2017, targeting SQL Server 2017. I cannot share the projects I'm working on since they're client solutions.

I will try to build a dummy ssis project, try to see if I can reproduce the issue and will share it.

[2020-04-06 19:31] nibanks opened #682 "Windows Kernel Mode Build Broken with Latest Azure Pipelines"
**Describe the bug**
This morning it seems that Azure Pipelines took some kind of update because my teams' CI pipeline that builds our kernel mode code is completely broken.

[MSFT Internal Link Only]
https://microsoft.visualstudio.com/OS/_build/results?buildId=22662819&view=logs&j=1204e69e-9c52-5fc3-715c-177f7fdb0a3a&t=b2eebfab-7505-58e7-4497-5b1e11c53393&l=34

[code]

After some investigation, I

[2020-04-06 20:11] jwhui opened #683 "`sudo apt install` fails frequently"
**Describe the bug**
[code]

The above fails frequently. Examples:

[code]

and

[code]

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
sudo apt install on common packages should succeed the vast majority of time.

**Actual behavior*

[2020-04-06 20:19] #683 closed, assigned to nobody

[2020-04-06 22:02] alepauly commented on #473
@hendrikhalkow This is a great candidate for a `setup-yq` Action instead of baking it into the image so we won't be adding it right now. Thanks for your suggestion.

[2020-04-06 22:02] #473 closed

[2020-04-06 22:22] alepauly commented on #546
@jgowdy Thanks for your suggestion but considering that it's a pretty simple install, I think we shouldn't bake into the image. Instead, I would suggest creating an Action to facilitate setting it up.

[2020-04-06 22:22] #546 closed

[2020-04-06 22:25] alepauly commented on #461
@kieran-rigby-focusrite We are not planning to add previous versions at this time, like all plans this could change but probably not in the short term. Thanks for bringing it up.

[2020-04-06 22:25] #461 closed

[2020-04-06 22:26] alepauly commented on #465
Thanks for the suggestion @bsergean but yeah, I think it makes sense to leave it out of the base environment for now. Let us know if something changes and we should reconsider.

[2020-04-06 22:26] #465 closed

[2020-04-06 22:27] alepauly commented on #256
@FigBug thanks for the suggestion but at this time we won't add Packages to the environment. I could suggest creating an Action that will facilitate adding it when needed.

[2020-04-06 22:27] #256 closed

[2020-04-06 22:31] alepauly commented on #8
@dagheyman thanks for suggesting this, sorry it's taken so long to respond. We're adding this to our backlog but will track it with #245 so I'll close this one as a duplicate for now since that one encompasses all platforms.

[2020-04-06 22:31] #8 closed

[2020-04-06 22:32] jrood-nrel commented on #116
Would be nice to have the SDK available to test compiling, even if GPUs don't exist on the nodes.

[2020-04-06 22:34] alepauly commented on #107
@cachapa thanks for the suggestion but considering that this can be done with existing `setup-dart` Actions and keeping multiple versions of Dart is a maintenance concern, we're not going to install it on the environment by default.

[2020-04-06 22:34] #107 closed

[2020-04-06 22:37] alepauly commented on #109
HI @JesseTG , I agree with @maxim-lobanov above, Unity Builder looks like a good option. We have maintenance concerns over the size of Unity and can't add it to the environment by default right now.

[2020-04-06 22:37] #109 closed

[2020-04-06 22:38] alepauly commented on #114
@koteswara-kelam Unfortunately we are unable to support this at the moment, thanks for suggesting it.

[2020-04-06 22:38] #114 closed

[2020-04-06 22:42] alepauly commented on #86
@udzura We won't be adding this at the moment considering that it's somewhat specialized and we have maintenance concerns. Thanks for the suggestion.

[2020-04-06 22:42] #86 closed

[2020-04-06 22:46] alepauly commented on #51
@jmhodges well it took me a while to get here, apologies for the delay in responding. We can't add protobuf to the environments at this time considering that it's fairly specialized and it we are unsure of maintenance going forward. Hopefully the actions/cache as suggested by @maxim-lobanov can improve the timing.

[2020-04-06 22:46] #51 closed

[2020-04-06 22:50] alepauly commented on #11
@jherico Thanks for the suggestion but I'm not sure we could come up with a good set of packages to precache at the virtual environment level in advance. I suggest looking at the actions/cache which along with adding `setup-vcpkg` Action could make this experience nicer.

[2020-04-06 22:50] #11 closed

[2020-04-06 22:52] alepauly commented on #18
Considering this can be installed as suggested above and maintenance could be an issue if we bake it in the environment, we won't add it. Thanks for suggesting it @jherico .

[2020-04-06 22:52] #18 closed

[2020-04-06 22:53] alepauly commented on #21
@cachapa Thanks for the suggestion, there's a pretty good setup-flutter Action available and we have concerns over version maintenance on the virtual environment so we won't be adding it at this time.

[2020-04-06 22:53] #21 closed

[2020-04-06 22:54] alepauly commented on #339
@rbalint Unfortunately this is not something we can support at this time, thanks for contributing with your suggestion.

[2020-04-06 22:54] #339 closed

[2020-04-06 22:56] alepauly commented on #320
Thanks for your contribution at #321 @phozzy! We'll take a look.

[2020-04-06 22:57] alepauly commented on #215
@jhpratt I think this is better suited for a setup style Action that does that install considering it's pretty small instead of baking it into the environment.

[2020-04-06 22:57] #215 closed

[2020-04-06 22:59] alepauly commented on #138
@KOLANICH since the packages are fairly small and binaries are provided we shouldn't bake this into the environment. Instead I suggest creating an Action to facilitate the installation.

[2020-04-06 22:59] #138 closed

[2020-04-06 23:04] alepauly commented on #58
hi @dbyington considering this installs pretty quickly on runtime, we won't be adding it to the environment at this time.

[2020-04-06 23:04] #58 closed

[2020-04-06 23:38] alepauly commented on #252
Unfortunately this is not something we can support at the moment.

[2020-04-06 23:38] #252 closed

[2020-04-06 23:42] danyeaw commented on #159
@maxim-lobanov Please let me know if I can provide any additional information to help resolve this. Thanks!

[2020-04-06 23:45] kudaba commented on #18
That's a bit unsatisfying. I only shared a way to install it on windows, each other platform will have a different install process, and it can take up to 30% of my entire job (4 of 12 minute) so it's eating a ton of my monthly minutes. The time is a bit inconsistent, though, I've seen as low as 1 minute, but average seems to be 3 minutes looking at some historical builds.

[2020-04-07 00:08] jromero commented on #252
Is there a technical limitation if we were to create a custom runner with this configuration?

[2020-04-07 06:33] #60 closed

[2020-04-07 06:40] Automobileservices4 commented on #60
#60

[2020-04-07 07:56] maxim-lobanov commented on #115
Hello @rpsu , thank you for your suggestion!
We already have a bunch of docker cli tools on macOS image: `docker`, `docker-compose`, `docker-machine`. Do they cover your use-case?
Docker Desktop looks pretty huge (2GB) and we worry if it can work as expected on VM (without GUI).
It would be great, if you could share a bit more context on your use-case?

[2020-04-07 08:31] maxim-lobanov commented on #638
@nulano , thank you for your suggestion. That will definitely improve our documentation.
We are planning to rework PyPy installation logic soon (approximately in 1 month) and we are going to handle this work item in scope of this work. I will keep it opened

[2020-04-07 08:36] boegel commented on #675
That adds a couple of minutes to each run, but it seems to work well to circumvent the problems, thanks a lot!

For other, see for example https://github.com/easybuilders/easybuild-easyconfigs/pull/10341

[2020-04-07 08:38] miketimofeev commented on #681
@anonymouse64 I'm going to close the issue. Feel free to reopen if the issue persists.

[2020-04-07 08:38] #681 closed

[2020-04-07 08:51] znarf commented on #675
On our side, we get `503` errors on almost all runs past few hours:

[code]

[2020-04-07 09:20] miketimofeev commented on #657
@kceb @kariharju could you provide some repro steps, please?

[2020-04-07 09:39] kariharju commented on #657
Was just about to comment that just now got one Mac run to pass setup phase in 45 s.
The same step yesterday took over 10min.
The step is running npm install in one folder and yarn in another:
_cd ui ; yarn install --frozen-lockfile; cd ../agent ; npm ci_

[2020-04-07 11:28] chiranjeevi5850 commented on #629
Is there any update.
when can we expect.

[2020-04-07 12:18] lzutao commented on #600
Thanks for letting me know about that!

[2020-04-07 12:56] Darleev commented on #594
Thank you for the investigation and provided details. We have a plan to pre-install MSYS2 to images and get rid of mingw in future. But no ETA for now.
As a temporary workaround, could you please try to delete mingw via `choco uninstall mingw` at the begin of your build?

[2020-04-07 12:56] alepauly commented on #252
hi @jromero yes, to support this we would need to enable hyper-v in the VM running the builds and that is not supported.

[2020-04-07 14:01] simonsan commented on #11
Do you mean the [run-vcpkg](https://github.com/marketplace/actions/run-vcpkg) action?

[2020-04-07 14:22] MonkeyBreaker opened #687 "Boost header(s) files not found"
**Describe the bug**

After updating `BOOST_ROOT` according to #661 to `list(APPEND BOOST_ROOT $ENV{BOOST_ROOT_1_72_0})`. CMake finds the this folder:

[code]

The problem is our compilation fails because it cannot find some headers files:

[code]

I looked into `C:/hostedtoolcache/windows/Boost/1.72.0/boost` but the files are not present (starting at line [165](https://dev.azure.com/maintainers/G

[2020-04-07 15:13] al-cheb commented on #687
Hello, @MonkeyBreaker
These headers are located in `{BOOST_ROOT_1_72_0}\include\boost`.

[2020-04-07 15:21] treyhendon commented on #324
Great news, this seems to be updated in Azure DevOps.  My build was successful and I have the March 31 image.

[code]

Thanks all!

[2020-04-07 15:47] MonkeyBreaker commented on #687
Okay, thank you !

But why is `Boost_INCLUDE_DIRS` set to `C:/hostedtoolcache/windows/Boost/1.72.0`  ? It should point to the folder containing the headers files, no ? If I understood correctly the documentation.

[2020-04-07 15:53] chrispat opened #690 "Include the moby-buildx package on Linux"
We need to include the moby-buildx packages when we install moby and the related container tools in the linux images.

**Virtual environments affected**
- [ ] macOS 10.15
- [X] Ubuntu 16.04 LTS
- [X] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

[2020-04-07 15:55] maxim-lobanov commented on #324
@treyhendon , deployment is in progress right now and will be finished soon.
(please pay attention that not all machines are updated for now).

[2020-04-07 15:58] al-cheb commented on #687
We use non default path for boost thus, not be found by CMake, you can tell CMake where to look for:
[code]

[2020-04-07 15:59] MonkeyBreaker commented on #687
We could also add them to the `.yaml` file directly as variables ?
Or would they be overwritten if we call `find_package(Boost)` ?

[2020-04-07 16:16] Automobileservices4 commented on #675
#675

[2020-04-07 16:18] deivid-rodriguez commented on #675
I added this to my workflow before `apt-get install` as a workaround:

[code]

[2020-04-07 17:04] maxim-lobanov commented on #159
Hello @danyeaw !
Could you please try to rerun your build and confirm that issue is still actual?
I wonder because I just forked your repository (minimal reproducible example) for investigation and [run test build](https://github.com/maxim-lobanov/plugin-console-test/runs/568283972). It passed successfully.

[2020-04-07 17:44] danyeaw commented on #159
@maxim-lobanov Thanks for taking a look. It looks like my minimal reproducible example is no longer failing, but the original issue still exists: https://github.com/gaphor/gaphor/pull/289
I can try to update my example to get it to fail again if digging through the gaphor repo is too difficult.

[2020-04-07 18:02] maxim-lobanov commented on #159
@danyeaw , Yes, please.
If you can update your repro project, it would be great.
Am I right that only Python 3.7 is affected now?

[2020-04-07 18:12] alepauly commented on #650
I think different customers need it for different reasons including building drivers, getting more access to certain OS components, and perhaps access devices.

Unfortunately a per-job variable is not possible at this time but it would definitely be ideal.

[2020-04-07 18:13] alepauly commented on #650
At this time we're going to hold off on making this change based on feedback from customers in multiple channels. I'll reopen and pin this issue back up if we decide to go forward with it. Thanks all.

[2020-04-07 18:13] #650 closed

[2020-04-07 18:22] ydnar commented on #650
Guessing this would be a wholly-separate macOS environment, e.g. `macos-latest-sip-disabled`?

Sorry to hear you’re abandoning this. It could be quite useful for testing iOS apps in a simulator.

[2020-04-07 18:24] danyeaw commented on #159
@maxim-lobanov Ok, repo updated. Yes, it looks like it now is only with Python 3.7. I updated the description above to reflect that as well.

[2020-04-07 19:19] Dhugal commented on #324
@maxim-lobanov @miketimofeev - **Thank you** - I've switched our build to use the windows-2019 image and, after a couple of hiccups, **it's now working for me too**.

In case it helps anyone else out, when I initially switched to this image I got an error during the nuget restore, which I didn't get prior to this upgrade. The error is as follows:

"Exception has been thrown by the target of an inv

[2020-04-07 19:59] saurabhchanchawat commented on #629
Still facing same issue for both vs2017-win2016 & windows-2019.
Agent version - 2.165.2
Is the rollout completed or still in progress?

[2020-04-07 20:31] jmos5156 commented on #507
Hi all.
I have only managed to get back to this feature now and can see that things are progressing. I do see a number of changes in the lastest win19/202000331 release branch and was wondering where the direction of this project is going.

I know that stability is the main issue of this thread. I have encountered my fair share of packer deploy issues (hence having to drop this for a bit) but hope

[2020-04-07 20:57] paoloczi commented on #675
Several workarounds proposed, but no comments about fixing this for real. This is a serious issue making GitHub Actions unusable for anybody working with Ubuntu, and should be looked at with high priority.

[2020-04-07 21:05] Automobileservices4 commented on #675
Automobileengineeringservices

Kyaw

On Tue, Apr 7, 2020, 10:49 PM David Rodríguez <notifications@github.com>
wrote:

[2020-04-07 22:34] evandrocoan commented on #594
I did that, but give up because choco is a too dawn slow tool for everything it does, including uninstalling something as mingw. Instead, I just just maniputale the system path, completely removing the choco bin directories from it. For now, I am installing pacman directly on the msys2 environment which comes on C:\Program Files\Git (https://github.com/actions/virtual-environments/issues/596#issue

[2020-04-08 01:17] rsemenov commented on #629
The rollout supposed the be completed today but we hit at another issue on the last ring and had to rollback. We are verifying the fix to the new issue and will try the rollout tomorrow.

[2020-04-08 01:18] Automobileservices4 commented on #629
#629

[2020-04-08 02:12] alepauly commented on #675
@traversaro (and everyone else affected) - We've engaged the mirror hosts and they have added capacity to improve it's reliability. I'll keep this open until we can confirm the issue is resolved. Please let us know if this continues to occur. Thank you for the reports.

[2020-04-08 02:18] MSP-Greg commented on #675
@alepauly

Thank you.

Last saw a problem at 23:15 GMT (3 hours ago), at which point I changed servers.  Did the update/change happen after that?

[2020-04-08 02:35] alepauly commented on #675
@MSP-Greg, I don't have he exact time where the fixes were put in place yet but I believe it was in the last two hours. Please let me know if you see more issues, thanks!

[2020-04-08 02:40] alepauly commented on #11
Sounds like I should have looked myself, thanks for the pointer :-)

[2020-04-08 02:49] alex commented on #664
Please let me know if there's anything I can do to help diagnose this.

[2020-04-08 02:54] alepauly commented on #183
Unfortunately we can't support this feature at this time, that said the feedback here is valuable and we will definitely keep it in mind . Thanks all.

[2020-04-08 03:03] alepauly commented on #644
Thanks @phadej, we agree and we'll look into improving the release notes to capture the changes only and make differences easier to discover.

 @JustinGrote, can you open a separate issue for a machine readable version of the contents. I think it's an interesting idea and having it on its own issue could help drive some discussion about what it should look like if it was to get done. Thank you.

[2020-04-08 06:03] ThadHouse opened #691 "Windows build changes without a release log"
Did the windows build agents get updated on 4/6/20 without a changelog being posted? Our PR builds were working until about 1 AM on 4/7/20, and now they all fail with library load errors. Trying to find what caused this, as we have not committed anything new in days, and after 8 hours am still stuck. Would gladly appreciate some help in figuring out if anything changed on Azures end.

[2020-04-08 06:10] elduddz commented on #507
I have to say that the 20200331 release completed successfully in 5 hours. Not sure if it is a one off, will see how the next one goes.

[2020-04-08 06:25] FrancescElies commented on #691
I believe we are seeing the same problem here.

We started getting some random failures, the code did not change on our side but something seems to have changed on the image, comparing logs we noticed the following.

When we call the `dir` command we get slightly different outputs
- Failing Build 🔴
[code]
- Passed  Build 🟢 (for the same commit)
[code]

At least the the colume drive D seems to be s

[2020-04-08 06:35] FrancescElies commented on #691
Just in case it helps the problems we are getting are when loading a dll via python.

[code]

[2020-04-08 07:00] ThadHouse commented on #691
I was able to get a full loader log of my issue. The library being loaded from Java is `wpiutiljni.dll`, which is being loaded via a full path. That library depends on `wpiutild.dll`, and when loading the loader seems to be entirely skipping the current working directory, which the top of the log says is the directory where both dlls are located at.

[FullLog.txt](https://github.com/actions/virtua

[2020-04-08 07:05] dmitry-shibanov commented on #433
Hello, pull request with vagrant and virtualbox was merged and changes would be added to next images rollout.

[2020-04-08 07:07] ThadHouse commented on #691
The most interesting load log I think is attempting to load from `C:\Program F\wpiutild.dll`. There are 65 paths it checks before that one. I think whats happening is that the search path is getting too long, and overfilling a buffer.

[2020-04-08 07:21] ThadHouse commented on #691
Sorry for the multiple posts. I was able to completely separate the failing parts into their own repo.

Here is the azure build project. When working correctly, this works just fine
https://dev.azure.com/thadhouse/AzureTest/_build?definitionId=19&_a=summary

Here is the project for that build.
https://github.com/ThadHouse/AzureMFTest

Nothing fancy, just a dll that depends on another dll in the sa

[2020-04-08 07:23] jmos5156 commented on #507
That's brilliant news and I guess that was the entire build? Did you make no changes to the files yourself?

[2020-04-08 07:55] traversaro commented on #675
Thanks a lot @alepauly !

[2020-04-08 08:55] FrancescElies commented on #691
![image](https://user-images.githubusercontent.com/6558089/78764797-59102e80-7987-11ea-96a3-f5457680a77d.png)

Ibelieve the issue is not only Java specific, we have problems loading dlls from python too, is it maybe a more generic problem?

[2020-04-08 08:56] miketimofeev commented on #691
@FrancescElies could you provide repro steps, please?

[2020-04-08 08:59] FrancescElies commented on #691
More Info:

Using dumpbin we get following infos from our dll, as you can see we do not depend on any other dlls than microsoft.

    Dump of file ourfile.dll

    File Type: DLL

      Image has the following dependencies:

        VCRUNTIME140.dll
        api-ms-win-crt-stdio-l1-1-0.dll
        api-ms-win-crt-runtime-l1-1-0.dll
        api-ms-win-crt-string-l1-1-0.dll
        api-ms-win-crt-heap

[2020-04-08 09:03] miketimofeev commented on #691
@FrancescElies I wonder if it's related
https://github.com/actions/virtual-environments/issues/682

[2020-04-08 09:08] FrancescElies commented on #691
Well the repo we are working on is private, I can't paste this kind of info here.

But what I can say is, triggering same pipeline for the same commit in two different moments in time have different outputs, sometimes failed, sometimes pass.

We could see small differences in the logs as mentioned in https://github.com/actions/virtual-environments/issues/691#issuecomment-610775130

Something is di

[2020-04-08 09:16] FrancescElies commented on #691
@miketimofeev ist there any _private channel_ where one can get support where reproduction steps could be provided?

[2020-04-08 09:48] dmitry-shibanov commented on #614
Hello, pull request with changing locale for firefox was merged and changes would be delivered in next images rollout.

[2020-04-08 09:51] kariharju commented on #657
Again the setup step on Mac is back to taking several minutes (ranging between 4-10 mins). Windows and Ubuntu have now been stable at around 1 min for the same step.
Have to ask: These are probably considered as billable action minutes..?

[2020-04-08 10:08] miketimofeev commented on #691
@FrancescElies First of all could you please file another issue for vs2017-win2016? It seems @ThadHouse one related to vs2019 only.

[2020-04-08 10:15] al-cheb commented on #181
Hello, @tamalsaha

[code]

Please update your ci to exclude mysql:
[code]
![build](https://user-images.githubusercontent.com/47745270/78772716-de510e80-799a-11ea-9575-77ee00379926.JPG)

Log output:
[code]

[2020-04-08 10:32] FrancescElies commented on #691
@ThadHouse which image are you using? I could not see it in this post. We started having dll load problems yesterday so I thought this was the right place to post it.

@miketimofeev Do we still want a separate issue?

[2020-04-08 10:39] miketimofeev commented on #691
@FrancescElies the builds provided by @ThadHouse run on vs2019.
By the way, can you try to use disk C and check is the issue still persist?

[2020-04-08 10:44] mvgijssel commented on #183
Folks might be interested in https://github.com/actions/virtual-environments/issues/433#issuecomment-610789144

[2020-04-08 11:03] FrancescElies commented on #691
No where in our pipeline we are hard-coding something like `D:\a\1\s\src` this is where our code is being checked out by the `checkout`,

In many places we use `$(Build.SourcesDirectory)` which is a provided predefined variable, where that is is decided by Azure.

In the docs Azure also explicitly say not to hard-code such things.
![image](https://user-images.githubusercontent.com/6558089/78776838

[2020-04-08 11:03] FrancescElies opened #692 "vs2017-win2016 random dll library load errors"
Summarizing my comments from #691 CC @miketimofeev

**Describe the bug**
Yesterday (7. April 2020) we started getting some random failures, the code did not change code on our side but something seems to have changed on the image, comparing logs we noticed the following.

Running same pipeline for same commit twice behaves differently, sometimes we cannot load dlls.

**Area for Triage**:
C/C++, Py

[2020-04-08 11:04] FrancescElies commented on #691
New issue filled (#692)

[2020-04-08 11:48] hloeung commented on #675
@alepauly has something changed with GitHub's Actions on the 24th March?

[2020-04-08 11:55] alepauly commented on #675
@hloeung we make improvements constantly so, yes. If you're having a specific problem with the tools installed please file an issue in this repo so we can help.

[2020-04-08 12:57] oxr463 commented on #433
Only for macOS though? The Linux issue was closed.

[2020-04-08 13:29] alepauly commented on #692
@FrancescElies I took the liberty to send you an email to the email address on your profile so we can get some more details and try to figure why your builds started failing. I hope that's ok. Thanks.

[2020-04-08 13:52] maxim-lobanov commented on #433
@oxr463 , Yes, only for macOS.

[2020-04-08 13:58] motss commented on #614
@dmitry-shibanov Thank you.

[2020-04-08 14:42] pestophagous commented on #675
Noting another workaround, since there are many interested parties on this thread:

https://github.com/ros2/rmw_cyclonedds/pull/134/files

I'm not the author of that, but I found it a few days ago when I saw this azure-related outage was happening to me. I took the same approach as the ros2/rmw_cyclonedds team, and I've been quite happy with it.

Based on search results I found on April 1 (before

[2020-04-08 15:07] FrancescElies commented on #692
Hi thanks for your reply, I got the email :)

[2020-04-08 15:17] ThadHouse commented on #691
@miketimofeev Moving to the C drive does not seem to fix anything.

[2020-04-08 17:30] andrelaszlo commented on #281
`2.6.5` just stopped working for us:

[code]

[2020-04-08 17:35] dentarg commented on #281
@andrelaszlo you might want to take a look at https://github.com/ruby/setup-ruby

[2020-04-08 17:40] andrelaszlo commented on #281
@dentarg Tackar Patrik, we'll give it a try!

[2020-04-08 17:46] rick-de-water opened #694 "Update CMake to 3.17.0"
**Tool information**
- Tool name: CMake
- Add or update? Update
- Desired version: 3.17.0 (latest)
- Approximate size: ~38.7 MB, but it replaces the old version.

**Area for Triage**:
C/C++

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Can this too

[2020-04-08 17:51] miketimofeev commented on #691
@ThadHouse looks like your case is not related to the temporary drive because you haven't seen any successful builds since 1 AM on 4/7/20, right?

[2020-04-08 17:55] ThadHouse commented on #691
Our main build is actually here,

https://dev.azure.com/wpilib/wpilib/_build?definitionId=26&_a=summary

and the last build that was successful was `#20200406.8`, which was Monday 4/6 at 10:30 AM PDT. `#20200406.10` at 12:21 AM PDT that same day was our first failure, and continuous failures ever since.

[2020-04-08 17:55] rick-de-water commented on #694
I'm not sure how the mac images are updated, but according to the documentation it is already at 3.17.0. So only Linux would be affected, and the Windows documentation would need to be updated.

[2020-04-08 18:07] maxim-lobanov commented on #694
Hello @rick-de-water !
You are right, CMake on macOS and Windows images are updated automatically (latest versions are installed). So only Ubuntu should be updated. I believe [this file](https://github.com/actions/virtual-environments/blob/master/images/linux/scripts/installers/cmake.sh).

[2020-04-08 20:23] miketimofeev commented on #691
@ThadHouse We've forked your test project https://github.com/ThadHouse/AzureMFTest, but can't repro the issue - builds are fine. Could you make another run here, please? https://dev.azure.com/thadhouse/AzureTest/_build?definitionId=19&_a=summary

[2020-04-08 20:30] ThadHouse commented on #691
@miketimofeev Just ran a build from master, and it failed.

https://dev.azure.com/thadhouse/AzureTest/_build/results?buildId=671&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=9c939e41-62c2-5605-5e05-fc3554afc9f5

[2020-04-08 21:05] ThadHouse commented on #691
@miketimofeev After spending some more time, I was able to completely remove Java from the equation, and can reproduce it entirely with C++. How to reproduce is have the library in the current directory, but not the exe. Run the exe, and it won't search the current directory for the library like is supposed to happen.

What my guess is is that the PATH for the systems is too long. The last directo

[2020-04-08 21:10] miketimofeev commented on #691
@ThadHouse thanks for such deep diving! We have slightly different settings across environments and that might cause different path behavior. We'll investigate a way to fix it.

[2020-04-08 21:12] miketimofeev commented on #691
Could you print your %PATH% variable, please?

[2020-04-08 21:14] ThadHouse commented on #691
https://dev.azure.com/thadhouse/AzureTest/_build/results?buildId=677&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=f8ed7bd8-2a7f-56f6-9385-7fc29a8b5b7b

Done. Even there it looks like its overflowing.

[2020-04-08 21:16] ThadHouse commented on #691
Apparently all environmental variables combined must be less then 32767 characters. I wonder if with how many variables azure is adding its getting cut off.

https://devblogs.microsoft.com/oldnewthing/20100203-00/?p=15083

[2020-04-08 21:39] bsolomon1124 opened #696 "Why is MacOS 10.15 showing a 10.13 SDK?"
I use `runs-on: [macOS-10.15]` to build a MacOS Python wheel.

The config is here: https://github.com/bsolomon1124/pycld3/blob/wheels/.github/workflows/pythonpackage.yml

Notice this line which initially started out as a sanity check:

[code]

This gives me:

[code]

And a wheel that looks like:

[code]

As explained in https://github.com/MacPython/wiki/wiki/Spinning-wheels, this means that _the v

[2020-04-08 22:30] Playjasb2 commented on #83
I ran into the same sort of issue when I tried to get CMake to use Boost 1.72. I even tried to install it myself, but I still get the same [problem](https://github.com/Playjasb2/Simple-C-Compiler/runs/572202170?check_suite_focus=true). In the end, I decided that I'll install the version that apt-get installs, and have my project depend on that version. I can confirm that works.

[2020-04-08 22:53] rsemenov commented on #629
The fix is partially available at this point and we finishing rolling it out to the last ring. It should be on everywhere tomorrow.

[2020-04-08 23:23] hloeung commented on #675
@alepauly how can I get in touch with you? Would like to discuss something without having to file an issue.

[2020-04-08 23:44] jules2689 opened #697 "OpenSSL Is outdated and does not seem to support TLS1.2"
**Describe the bug**
Trying to use Net HTTP in Ruby to perform an action on a TLS 1.2 website (like GitHub itself) fails because TLS 1.2 is not supported.

Ruby may need to be re-compiled too

**Area for Triage**:
Servers? Ruby?

**Question, Bug, or Feature?**:
Bug/Feature

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R

[2020-04-09 00:00] jules2689 commented on #697
I am mistaken, sorry about that!

[2020-04-09 00:00] #697 closed

[2020-04-09 01:02] alnaranjo commented on #94
+1

[2020-04-09 05:04] JasonGross opened #698 "Windows runners frequently cannot resolve www.cygwin.com"
**Describe the bug**
I frequently get
[code]
See, e.g., the "Install cygwin" step of https://github.com/mit-plv/fiat-crypto/runs/570956988?check_suite_focus=true

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [x] Windows Server 2019

**Expected behavior**
I expe

[2020-04-09 06:01] herzi opened #699 "Performance UI Tests won't Pass for macOS Apps"
**Describe the bug**

In Xcode, I created a sample macOS project which works as expected on all my Macs: It builds, the tests pass, archiving works.

**Area for Triage**:
- Area: Apple

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Steps performed**

1.

[2020-04-09 06:37] al-cheb commented on #691
Hello,@ThadHouse
Could you please test your build with PATH that doesn't contain space? For example powershell task:
`$env:Path = $env:Path.Split(";").Trim() -join ";"`

[2020-04-09 06:42] ThadHouse commented on #691
@al-cheb Doesn't help. Build link below where I set the PATH to just the windows directory. And still get the same failure.

https://dev.azure.com/thadhouse/AzureTest/_build/results?buildId=678&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=5caf77c8-9b10-50ef-b5c7-ca89c63e1c86

[2020-04-09 06:46] ThadHouse commented on #691
Something interesting about my latest build is

[code]

That's the search path by the loader, and its completely missing the current working directory, which is where the DLL is located. I see nothing in the windows docs that would cause the current working directory to be completely ignored. Especially something caused by an update. There has to be some sort of change made to the images in the 2

[2020-04-09 07:06] erenon commented on #83
@Playjasb2 : BOOST_ROOT is no longer set. Use an explicit version, e.g: BOOST_ROOT_1_69_0 or BOOST_ROOT_1_72_0. Also see https://github.com/actions/virtual-environments/pull/540

[2020-04-09 07:20] al-cheb commented on #691
@ThadHouse
Just to double test. Could you please copy wpiutild.dll to D:\a\1\s\NativeApp?

[2020-04-09 07:24] ThadHouse commented on #691
@al-cheb Yup, that works. So the DLL and EXE are definitely compatible with each other.

https://dev.azure.com/thadhouse/AzureTest/_build/results?buildId=679&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=12f1170f-54f2-53f3-20dd-22fc7dff55f9

[2020-04-09 07:38] Darleev commented on #594
Thank you for the provided workaround and investigation, it can be very usefull for other customers.
As I mentioned previously, we definitely want to remove mingw and switch to msys2 by default but we don't have ETA for now. (Please see this issue for details: https://github.com/actions/virtual-environments/issues/30)
I'm closing the issue, but please let me know in case of any questions, we will

[2020-04-09 07:38] #594 closed

[2020-04-09 08:28] al-cheb commented on #691
@ThadHouse, That's odd why the current path doesn't include by default. Does  the `set PATH=%CD%;%PATH%` command work?

[2020-04-09 08:32] ThadHouse commented on #691
I can try tomorrow. But according to the windows library loader documentation, the current directory should definitely be searched, independent of it being in path or not. I tried digging for a few hours today, and could find no way to make that step be skipped.

[2020-04-09 08:52] VerdonTrigance commented on #674
@alepauly @miketimofeev @AlenaSviridenko @wnjenkin
Guys, installing VS components not enough to build Sharepoint 2013 solutions. It requires SharePoint libraries and license actually. We can't build anything a whole week already. Please give us back vs2015 image.

[2020-04-09 09:31] maxim-lobanov commented on #696
Hello @bsolomon1124,
You are right, currently macOS Python is built on macOS 10.13 and used across all images 10.13, 10.14, 10.15. It was done to simplify maintenance (all images use the same Python binaries, it is easier to diagnose customers' issues) because Python 10.13 is compatible with newer versions of macOS and we have never heard about any issues come from that before.
We definitely agree

[2020-04-09 09:40] AlenaSviridenko commented on #674
Hi @VerdonTrigance !
We are currently trying to find out what exact components we need to install to make your build works again.
It would really help us if you could provide a sample project where you use required components, because on our side we don't have a sample SharePoint 2013 project on which we could test changes.

Could you please provide it?

[2020-04-09 09:42] miketimofeev commented on #698
Hi @JasonGross!
Could you please add this before the download step
`nslookup www.cygwin.com`
and this right after the download
`nslookup www.cygwin.com 8.8.8.8`
It will help us to determine if there is an issue with the particular DNS or with cygwin.com itself

[2020-04-09 10:06] dmitry-shibanov commented on #699
Hello @herzi, thank you for your response. Could you please try to add this option `-enableThreadSanitizer YES` to tests. I forked your repository and tests passed:
- github actions workflows [file](https://github.com/dmitry-shibanov/GithubActionSample/blob/master/.github/workflows/main.yml)
- [test result ](https://github.com/dmitry-shibanov/GithubActionSample/runs/573489506?check_suite_focus=tru

[2020-04-09 11:01] BlueDragon709 opened #701 "Chrome not up to date."
**Describe the bug**
When running browser test I install the latest chrome-driver to test on. But the chrome-driver is a higher version than the chrome install on the ubuntu latest virtual environment.

**Area for Triage**:
Testing and code coverage

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows

[2020-04-09 11:05] al-cheb commented on #692
Hello, @FrancescElies
Just to double check. Could you please add the current path to the `PATH`. For PowerShell example:
`$env:PATH = "$(pwd);$env:PATH"`

[2020-04-09 11:17] maxim-lobanov commented on #701
Hello @BlueDragon709 ,
According to documentation, currently, the following versions are available on our image:
- Google Chrome 80.0.3987.149
- ChromeDriver 80.0.3987.106

We update these versions to latest ones on weekly basis and keep them consistent to make sure that customers' builds will work as expected.

As I can see, Google Chrome was updated to 81 in [apt repository a few days ago](https

[2020-04-09 11:39] BlueDragon709 commented on #701
how would I upgrade Google Chrome in the action?

[2020-04-09 11:58] maxim-lobanov commented on #701
It looks like you use incorrect syntax, This doesn't work for me too.
[code]

 Could you please try to use
[code]
It works perfect for me:
![image](https://user-images.githubusercontent.com/16715858/78892508-28f18a00-7a72-11ea-81dd-8ec4bea24391.png)

[2020-04-09 12:03] BlueDragon709 commented on #701
Like so?
![image](https://user-images.githubusercontent.com/11785665/78893031-cb0d7400-7a6a-11ea-8645-7d5a81291208.png)

[2020-04-09 12:05] maxim-lobanov commented on #701
Almost, we need to use `|` after `run:` because we use multiline command:
![image](https://user-images.githubusercontent.com/16715858/78893170-7e7a6680-7a73-11ea-9e49-4ca199bb783d.png)

[2020-04-09 12:09] #416 closed

[2020-04-09 12:15] BlueDragon709 commented on #701
That fixed it.
Thanks 👌

[2020-04-09 12:17] maxim-lobanov commented on #701
You are welcome! Please let me know if I can help you somehow

[2020-04-09 12:17] #701 closed

[2020-04-09 12:30] bsolomon1124 commented on #696
Thank you for the quick response @maxim-lobanov . One more question for you if you have the time - you mention:

I only see a MacOS-10.15 image listed at https://github.com/actions/virtual-environments/tree/master/images/macos.  Is there a way to use .13 and .14 that I'm missing?  I think the ideal case would be: `runs-on: [macOS-10.15, macOS-10.14, macOS-10.13]`, and where Python is built from a

[2020-04-09 12:46] maxim-lobanov commented on #696
@bsolomon1124 , As it is mentioned in readme file, this repository contains source code for GitHub Actions and Azure DevOps images. Unfortunately, there is only `macos-10.15` on GitHub Actions. AzDO supports `macos-10.14` and `macos-10.15`.

Thank you for your request. We will consider splitting binaries.

[2020-04-09 13:26] KrispyX opened #702 "Update SQL Server Data Tools to SSDT 2017 (or later) for vm image 'windows-2019'"
**Tool information**
- Tool name: SQL Server Data Tools
- Add or update? Update
- Desired version: SQL Server Data Tools 2017 (or later)

**Question, Bug, or Feature?**:
When I create a local instance of LocalDB on build agents from the '**windows-2019**' specification, the agents appear to be running SQL Server Data Tools 2016 (version  13.1.4001.0)

My database deployment scripts requires SSDT 2

[2020-04-09 13:30] KrispyX commented on #702
I notice a similar request was actioned here for vm image vs2017-win2016.  https://github.com/actions/virtual-environments/issues/484

It looks like in that instance SSDT was upgraded to version 15.9.3, so if that could happen for vm image windows-2019, that would be really great.

Thanks.

[2020-04-09 13:51] rpsu commented on #115
My use case is I'd like to be able to have CI test for an app exactly the way end users do it in MacOS. `docker` is a client, `docker-machine` seems to need a VirtualBox to function  properly, or have the Docker.app to contain all of that - including the hypervisor.

An alternative option - using docker-machine and Xhyve hypervisor seems not to work (at least I have not found a way yet).

https://

[2020-04-09 13:58] rpsu commented on #115
![Screenshot 2020-04-09 at 16 57 53](https://user-images.githubusercontent.com/1099454/78903075-5430a500-7a83-11ea-93fa-c699074283c6.png)

[2020-04-09 14:59] VerdonTrigance commented on #674
@AlenaSviridenko
https://github.com/VerdonTrigance/PublicSharepoint2013.git
This is simplest one. Hope it will help.
After this project will be built I provide some new required references that ruin build again (probably).

[2020-04-09 15:47] maxim-lobanov commented on #694
I have merged pull-request, thank you for contribution!

[2020-04-09 16:39] FrancescElies commented on #692
@al-cheb i will give it a try on Tuesday (14. April). This will be a long weekend. İ hope it's fine.

[2020-04-09 16:45] Playjasb2 commented on #83
Ah thanks! That works! :D

[2020-04-09 16:48] mydiemho opened #703 "Update macOS agent browser list to include `Safari`"
**Tool information**
- Tool name: macOS-10.15 documentation
- Add or update? Update
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage: https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md#browsers

**Area for Triage**: Apple

**Question, Bug, or Feature?**:
The [browser section](h

[2020-04-09 19:40] JasonGross commented on #698
From https://github.com/mit-plv/fiat-crypto/runs/574218618?check_suite_focus=true
[code]

[2020-04-09 19:42] JasonGross commented on #698
For reference, when the download succeeds, it looks like this (https://github.com/mit-plv/fiat-crypto/runs/574218103?check_suite_focus=true):
[code]

So it looks like it is a problem with the particular DNS.

[2020-04-09 21:36] jmos5156 opened #706 "Question: Powershell Provisioner"
Hello...
I've been using this repo now for a while and have always wondered if there was any reason why the install and validate scripts are based in different sections of the packer files in the same provisioner section.

For exampled we have
[code]
separate from each other. I cannot see a reason for this but I wonder if this would not be a better layout for future maintenance?

[code]
I suggest

[2020-04-09 21:53] ericsciple commented on #584
Ah I see. Yea that's not ideal.

For a small set of combinations, may be easier to maintain explicit list?

[code]

Trade off either way whether `include` is processed before/after `exclude`. After enables knockout large section of the cross product and add back subset.

[2020-04-09 21:56] ericsciple commented on #584
@chrispat fyi in case he has any additional thoughts. Optimistically closing, can reopen if needed. Haven't seen any more hits.

[2020-04-09 21:56] ericsciple commented on #584
oops looks like i dont have permission on this repo to close 😆

[2020-04-10 05:30] ThadHouse commented on #691
@al-cheb Setting CD in Path does work correctly, as expected. PATH is getting searched, just not the current directory.

[2020-04-10 07:46] maxim-lobanov commented on #658
Hello @ltcmelo ,
I think I have found something:
1) By default, Clang 11 (distributed with active Xcode) is used for build - your repro project failed with this configuration
2) If we switch to Clang 9 (that is installed with `brew install llvm`), repro project still fails to build
3) If we switch to Clang 10, repro project **builds successfully**.
Link to the successful build: https://github.com/

[2020-04-10 07:49] #584 closed

[2020-04-10 08:01] miketimofeev commented on #706
Hi @jmos5156! It's better to run validation scripts after all the software is installed to make sure one tool didn't break the others in terms of PATH, env. variables, etc.

[2020-04-10 08:07] maxim-lobanov commented on #706
Just an idea, we can run tests twice:
- Test for particular tool can be run right after tool installation
- All existing tests are run after image-generation.
It is not big deal to run tests twice because they are pretty quick.

cc: @alepauly , switching to [Pester](https://github.com/pester/Pester) for image testing can help a lot with it

[2020-04-10 08:28] AlenaSviridenko commented on #348
closing this issue since MySQL was shut down by default a month ago.

Please, feel free to open new ticket if the issue is still actual.

[2020-04-10 08:28] #348 closed

[2020-04-10 08:34] AlenaSviridenko commented on #246
Closing this issue since no customers raise this issue for a while.
Feel free to open new ticket if the issue still persists and blocks something.

[2020-04-10 08:39] AlenaSviridenko commented on #177
Closing this issue since no more customers raise this issue.
If the issue still persists, please, feel free to open new ticket.

[2020-04-10 08:39] #177 closed

[2020-04-10 11:11] raul70 commented on #629
It's still not working on windows-2019 hosted agents. The same warning & errors are displayed.

[2020-04-10 12:12] miketimofeev commented on #413
@ADmad @mprins Unfortunately we've found serious issues https://github.com/actions/virtual-environments/issues/691 https://github.com/actions/virtual-environments/issues/692 caused by SQL server express installation and going to remove it from the image.
We will investigate the installation approach more carefully and prepare another PR.
Thank you!

[2020-04-10 12:16] miketimofeev commented on #691
@ThadHouse we've found the root cause - it's SQL server express installation https://github.com/actions/virtual-environments/pull/568. Looks like it adds some libraries dynamically so the DLL search path is being changed.

Without SQL Server:
`0148:0420 @ 00129046 - LdrpComputeLazyDllPath - INFO: DLL search path computed: D:\a\1\s\NativeApp;C:\windows\SYSTEM32;C:\windows\system;C:\windows;.;C:\Pro

[2020-04-10 12:26] ADmad commented on #413
@miketimofeev SQL LocalDB suffices for my needs, so the lack of SQL Express isn't an issue for me currently.

I left the issue open as others asked for it.

[2020-04-10 12:50] freak4pc commented on #15
It’s been 11 days since your message and I see rollout is around 50%... any ideas when it’ll be available everywhere? My workflows don’t have Swift available.

[2020-04-10 14:16] maxim-lobanov commented on #15
@freak4pc , rollout is still in progress. Usually, we don't deploy on Friday to avoid weekend rollbacks :)
Planning to finalize on Monday

[2020-04-10 14:17] freak4pc commented on #15
That's perfect, thank you so much for the quick reply :)

[2020-04-10 15:17] ThadHouse commented on #691
Wow. Thank you for finding that. That's awful behavior for an app to complete change that during the loading process.

[2020-04-10 15:29] ThadHouse commented on #691
Sorry for the double post. Do you know how long this will take to propagate to users?

[2020-04-10 17:17] miketimofeev commented on #657
@kariharju @kceb could you provide any runs with issues so we will be able to get the information about the environment for that run? It'd be very helpful for further investigation because we still can't repro it on our side.

[2020-04-10 19:16] kceb commented on #657
@miketimofeev honestly, the time has improved drastically over the past couple days. Maybe it had to do with caching? I did notice the runner version has went through several patch updates since then.

Mac setup steps now take around 1 minute, ubuntu takes around 20 seconds. 1 minute is a lot better than the previous 5 minutes.

These are the logs from the 5 minute setup step from last week:

[cod

[2020-04-11 04:51] JasonGross commented on #698
On the other hand, here's a run where there is no difference in nslookup:
[code]
https://github.com/mit-plv/fiat-crypto/runs/578537990?check_suite_focus=true

[2020-04-11 13:16] ltcmelo commented on #658
Thanks @maxim-lobanov , I'll give it a try.

[2020-04-11 13:57] bsolomon1124 commented on #696
Okay, I believe I may stand correct here.

I originally stated:

[code]

Some reading and experiment indicates that's not how this actually works.  pip will not require an exact match of the SDK version; it just wants your (the user's) SDK to be greater than or equal to the SDK in the wheel tag. ([more detail here](https://github.com/MacPython/wiki/wiki/Spinning-wheels#question-will-pip-give-me-a-

[2020-04-11 15:28] boegel commented on #675
We changed to using `apt-spy2` a couple of days ago which helped for a while, but today tests starting failing again because of what looks like a faulty mirror picked by `apt-spy2`:

[code]

So, we've disabled the use of `apt-spy2` again, based on @alepauly's comment that the issues with `azure.archive.ubuntu.com` should be largely resolved now... (see https://github.com/easybuilders/easybuild-eas

[2020-04-11 15:34] traversaro commented on #675
It is not an extensive test, but personally I did not have any more azure.archive.ubuntu.com-related failures in the last few days, thanks @alepauly .

[2020-04-11 15:45] pradyunsg opened #708 "Add/Enable FS-iSCSITarget-Server"
**Tool information**
- Tool name: FS-iSCSITarget-Server (feature of Windows)
- Add or update? Add (more like, enable out-of-the-box)
- Desired version: The one that comes as part of respective Windows version
- Approximate size:
- If this is an add request:
  - Brief description of tool: Allows for putting a directory in a RAMdisk
  - URL for tool's homepage: It's an optional feature of Windows

*

[2020-04-11 16:07] deivid-rodriguez commented on #675
Neither did us, everything seems fine now :+1:.

[2020-04-11 16:46] maxim-lobanov commented on #708
Hello @pradyunsg ,
Did you consider enabling this feature in runtime? As I know, enabling of this feature doesn't require reboot so it can be enabled in runtime using the following command (you should add PowerShell step at the begin of your pipeline with the following code):
[code]
Could you please try and confirm that it works for you?

[2020-04-11 18:01] pradyunsg commented on #708
@maxim-lobanov  o/

We do that already -- it was added to our pypa/pip#7263. This issue is a request for it to be enabled by default. There's more context on why we requested this in https://github.com/microsoft/azure-pipelines-image-generation/issues/1353#issuecomment-578533816.

This issue is a follow up on https://github.com/pypa/pip/pull/7263#issuecomment-546973933, which resulted in a filing

[2020-04-11 18:04] maxim-lobanov commented on #708
@pradyunsg , thank you for context!
I believe that makes sense to enable it by default

[2020-04-11 18:54] jmos5156 commented on #706
I'd agree with the pester testing as this is something I've done before with Powershell DSC. Running this at the end of an image creation can help to tick the boxes of installs affecting others.

However, going back to @miketimofeev
I feel that an install should be atomic. It either works or not... All validation of new software should be conducted after the install to verify that path etc... are

[2020-04-11 19:09] maxim-lobanov commented on #206
Hello,
Google Cloud SDK can be installed in runtime via the following commands:
[code]

[2020-04-11 19:23] maxim-lobanov commented on #69
Tool can be installed in runtime:
[code]
Installation takes about 10 seconds

[2020-04-11 19:55] jneira opened #709 "Ubuntu-16.04 is running out of disk space"
**Describe the bug**
Jobs running in Ubuntu-16.04 images are starting to throw error related with low disk space

**Area for Triage**: Servers

**Question, Bug, or Feature?**: Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [X] Ubuntu 16.04 LTS
- [X] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
The disk should have enough free space for

[2020-04-12 06:04] maxim-lobanov commented on #709
Hello @jneira , it is expected behavior. Based on [official documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#capabilities-and-limitations), hosted agents _**provide at least 10 GB of storage for your source and build outputs**_.
At the begin of your build, there are 12 GB of free space.

As a possible workarounds, you can remove the p

[2020-04-12 09:29] jneira commented on #709
@maxim-lobanov thanks for clarification, i didnt know about that limit, but i have to admit it is reasonable. haskell builds can take a lot of space, more than usual for other langs.

I can workaround the issue using the preinstalled `ghc`s compilers, but i was afraid that, if the disk space continue decreasing, that workaround will not work.

Tnaks again for the quick response.

[2020-04-12 13:15] miketimofeev commented on #691
@ThadHouse I'm afraid not so quick. By the end of the next week or so.

[2020-04-12 13:16] miketimofeev commented on #682
@nibanks could you try to add this workaround as the first step of your pipeline?
`Start-Process -Wait -FilePath  "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" -ArgumentList "update --passive --norestart --installpath ""C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise"""`

[2020-04-12 19:36] martinbonnin commented on #120
This comment to reset the Github gnomes timeout 🙃....

I'm interested by that too.

[2020-04-12 19:59] martinbonnin commented on #120
Looks like it can be done manually. See https://github.com/HearthSim/Arcane-Tracker/commit/5533dbb9f37b95b633f05b148777b82317fa9399

[2020-04-12 20:29] dtinth opened #710 "Add fonts-noto-color-emoji"
**Tool information**
- Tool name: fonts-noto-color-emoji
- Add or update? Add
- Desired version: whatever is latest
- Approximate size: 7 MB
- If this is an add request:
  - Brief description of tool: A color emoji font. By default, when capturing web page screenshots via Puppeteer/headless Chrome, emojis are rendered as □□□□. Adding this package fixes that.
  - URL for tool's homepage: https://ww

[2020-04-13 05:15] maxim-lobanov commented on #40
@paulrrogers , currently, our images contain MySQL 5.7. Do you have acontext, will it be a breaking change for other customers who use MySQL 5.7 if we update it to MySQL 8?

[2020-04-13 05:38] maxim-lobanov commented on #696
@bsolomon1124 thank you for the provided details, they are very useful.
Considering these points, I would prefer to keep the current approach for now and use the single set of binaries for all macOS versions. As I mentioned previously, It is significantly easier to debug issues and support the single set of binaries.
We are ok to revisit this strategy in future if we see that it blocks / prevents

[2020-04-13 06:00] al-cheb commented on #370
The docs were updated. Feel free to open the thread if you have any questions.

[2020-04-13 06:00] #370 closed

[2020-04-13 06:00] al-cheb commented on #687
@MonkeyBreaker, any updates?

[2020-04-13 06:33] #319 closed

[2020-04-13 07:34] dsame commented on #117
PR https://github.com/actions/virtual-environments/pull/589

[2020-04-13 07:36] dsame commented on #94
Linux PR https://github.com/actions/virtual-environments/pull/615

[2020-04-13 07:39] dsame commented on #20
Ubuntu PR https://github.com/actions/virtual-environments/pull/591

[2020-04-13 08:52] dmitry-shibanov commented on #98
Hello @raido, thank you for your response, as I know macOS Catalina [deprecated](https://www.macrumors.com/2018/06/05/apple-deprecates-opengl-opencl-gaming/) OpenGL, OpenCL and now they use [Metal](https://developer.apple.com/macos/whats-new/), possibly it's related to it. Could you please provide some small repro steps to confirm it ?

[2020-04-13 08:59] maxim-lobanov commented on #120
Hello @martinbonnin , we are planning to do this issue, it is on our backlog.
As a temporary workaround, manual installation can be used

[2020-04-13 09:44] miketimofeev commented on #675
@traversaro @deivid-rodriguez thanks for the updates! We're going to close the issue, but feel free to open a new one if there are any similar issues in the future.

[2020-04-13 09:44] #675 closed

[2020-04-13 11:02] #696 closed

[2020-04-13 11:58] C0retek commented on #710
I was just searching for a sollution to Puppeteer/headless Chrome rendering emojis as □□□□ - tried sudo apt-get install fonts-noto-color-emoji -y but did'not work.

Do you have a sollution / workaround?

[2020-04-13 12:43] miketimofeev commented on #698
@JasonGross thanks for the data! The last attempt looks really strange. Could you please try to download using the following retry logic? Will it ever download some time(and how many attempts will it take) or loop infinite?
[code]

[2020-04-13 13:14] MonkeyBreaker commented on #687
I'll look this week for a solution to add the variables into the `.yaml` file.
As a workaround, we download boost header into a specific location, It's not very efficient, but it works.

As I said before, I'll look for a better solution this week, and post here any updates.

[2020-04-13 14:06] miketimofeev commented on #657
@kceb @kariharju we've worked out some issues with one of the environments and that might potentially resolve the issue. Let's wait for a few more days.

[2020-04-13 14:24] maxim-lobanov commented on #161
Hello everyone, `Run-Antivirus` step was disabled in packer by default so it should be the issue.
We don't run it on each build and just run before deployment

[2020-04-13 14:24] #161 closed

[2020-04-13 14:24] #62 closed

[2020-04-13 14:42] nikita-bykov commented on #237
We have added Alibaba cloud aliyun-cli installation to Windows, Linux, macOS.
Images with it will be rolled out around next week.

[2020-04-13 15:01] nibanks commented on #682
@miketimofeev that didn't seem to work:

https://microsoft.visualstudio.com/OS/_build/results?buildId=22821963&view=logs&j=1204e69e-9c52-5fc3-715c-177f7fdb0a3a&t=60496b87-ee54-57bc-2b15-3bd0b5dee969

The change I tried can be seen here:

https://github.com/microsoft/msquic/compare/nibanks/test-kernel-workaround?expand=1

[2020-04-13 15:36] post2vishwa commented on #629
Hi Ruslan,

Good day!

Could you confirm on fix is rolled out everywhere?

Thanks,
Vishwa

[2020-04-13 15:37] post2vishwa commented on #629
Hi Ruslan,

Good day!

Could you confirm on fix is rolled out everywhere?

Thanks,
Vishwa

[2020-04-13 15:58] mvdan opened #712 "%TEMP% is broken on Windows"
This was originally [posted on the community forum](https://github.community/t5/GitHub-Actions/TEMP-is-broken-on-Windows/m-p/30432) last year. Since the forum seems to be winding down in activity, and I never got a response, I'm reposting it here.

--

I was running into some test failures when migrating my Windows tests from Travis to GitHub Actions. I ended up narrowing down the breakage to this

[2020-04-13 16:18] AlenaSviridenko commented on #674
Hi @VerdonTrigance !
We have investigated your sample project, thanks for that, it really helped!

The source of the problem seems to be in the changing references format from "package.config" to "project references" and inability to restore nugets in VS2017, no additional tools installations are required. We were able to make your build work with some migration steps. Link to successful build: ht

[2020-04-13 16:25] mvdan commented on #712
Thanks! I also forgot to link to the original post on the forum - done.

[2020-04-13 16:28] al-cheb commented on #712
Hello, @mvdan
It's by design - https://devblogs.microsoft.com/oldnewthing/20041224-00/?p=36893

[2020-04-13 16:31] mvdan commented on #712
I see. I'm surprised because other CIs, like Travis and AppVeyor, didn't do this. Hence many repos, like two of mine, suddenly break when moving to Actions.

I also don't quite get if this is truly required for Actions. It doesn't seem like the expanded path contains any spaces :)

[2020-04-13 16:35] mvdan commented on #712
To clarify, the directory works when opened. What breaks is when programs assume that `%TEMP%` is a canonical location. That is, `echo $dir; cd $dir; pwd` should print the same path twice, but it doesn't.

You could argue you should fix those programs, but given that it seems like the shortening is unnecessary (no spaces), I'm not sure what's the point.

[2020-04-13 16:36] al-cheb commented on #712
Disable 8dot3name can break some customers:
Install-VS2019.ps1 - https://github.com/actions/virtual-environments/blob/e01c3fda2643e137606989cfe0fb2f635997d35a/images/win/scripts/Installers/Windows2019/Install-VS2019.ps1 (Write-Host "Enable short name support on Windows needed for Xamarin Android AOT, defaults appear to have been changed in Azure VMs")

[2020-04-13 16:38] mvdan commented on #712
Oh :( fair enough, thanks for the quick replies. I completely understand your position, though I'm a bit frustrated that we're all dealing with backwards compatibility issues from many decades ago.

The issue can be closed as far as I'm concerned, as I don't see another possible suggestion or improvement.

[2020-04-13 16:46] mvdan commented on #712
Just one last question - was this issue raised with Xamarin anywhere? I assume this is a bug they should fix, even if it might take years (or forever) for Actions to be able to remove the workaround.

[2020-04-13 17:07] al-cheb commented on #712
@mvdan  - https://github.com/Microsoft/azure-pipelines-image-generation/issues/692

[2020-04-13 17:28] miketimofeev commented on #682
@nibanks Unfortunately, I don't have access to the logs, but it looks like you've made a mistake in the quotes,
**you have**
`"update --passive --norestart --installpath 'C:\Program Files (x86)\Microsoft Visual **Studio\2019\Enterprise'"`
**should be**
`"update --passive --norestart --installpath ""C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise"""`

Could you try with the proper qu

[2020-04-13 17:34] al-cheb commented on #712
@mvdan, As a workaround you could redefine variables TMP and TEMP:
Simple app:
[code]

[code]

![test - Copy](https://user-images.githubusercontent.com/47745270/79143564-2078b680-7dc6-11ea-9fa4-f94412eb57ea.JPG)

[2020-04-13 18:05] nibanks commented on #682
That seemed to fix the builds. Thanks:

https://microsoft.visualstudio.com/OS/_build/results?buildId=22824684&view=logs&j=1204e69e-9c52-5fc3-715c-177f7fdb0a3a&t=1204e69e-9c52-5fc3-715c-177f7fdb0a3a

[2020-04-13 20:06] JasonGross commented on #698
I'm having some trouble getting this logic to work with nslookup; see https://github.com/mit-plv/fiat-crypto/pull/745/checks?check_run_id=583090618 .  In particular, when I move the nslookup command from cmd to powershell, I get
[code]
What do you advice doing here?

[2020-04-13 20:17] miketimofeev commented on #698
Looks odd, I've tried just now and everything works fine for me. Maybe there were some google dns issues?
[code]

[2020-04-13 20:49] alepauly commented on #713
hi @JosephDuffy, apologies that your first attempt at getting help for this got missed. In looking at this, there's a few reasons why we need the current setup for the runner, so it wouldn't be a simple fix. Have you considered creating a symlink as the first step in your workflow and using that directory to do the work? I believe caching should work against that symlink and it wouldn't be affecte

[2020-04-13 21:10] aaltat opened #715 "Update Chrome and ChromeDriver to version 81.0"
**Tool information**
- Tool name: Chrome browser and ChromeDriver
- Please update
- Desired version: 81.0

**Area for Triage**:
No idea what should go here.

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Can this tool be installed during the build?**
In theory it could be, but at least on

[2020-04-13 21:35] alepauly commented on #69
Considering this is a small tool and easy to install during the workflow, I dont think we should bake it into the image. Thanks for the suggestion @brentru.

[2020-04-13 21:35] #69 closed

[2020-04-13 21:39] alepauly commented on #81
Hey @kceb, to be clear the runner version actually refers to the small client that runs in the VM and manages the workflow. The code for the runner is at actions/runner. The virtual-environment version is actually in the `ImageVersion` variable. That's the one that indicates what version was build from this repo. It's a bit confusing since the hosted runners run the runner but hope this helps 😄. T

[2020-04-13 21:56] miketimofeev commented on #715
Hi @aaltat!
Chrome will be updated automatically the next image rollout(approx 1 week).
As a workaround you can you use these steps:
[code]
Close this issue for now, but feel free to reopen if you have any concerns.
Thank you!

[2020-04-13 21:56] #715 closed

[2020-04-13 21:57] alepauly commented on #176
Unfortunately we can't share these images via the gallery due to legal issues so I'm closing this 😞 . But rest assured that this is a topic we often bring up to see if there's anyway to get it done.

[2020-04-13 21:57] #176 closed

[2020-04-13 21:59] alepauly commented on #195
@allexzander sorry for the delay in looking at this. Is it still an issue for you?

[2020-04-13 22:19] jemag commented on #176
@alepauly I am a bit confused as to why there would be legal issues since such images have been shared on docker hub for quite a long time and are, technically, still being shared there (although not updated anymore).

Are the legal issues only related to the Azure Marketplace platform and not docker hub? If so, would it be better to create another issue explicitly for docker hub?

[2020-04-14 04:58] maxim-lobanov commented on #115
@rpsu , thank you for provided context.

JFYI: We are installing `virtualbox` to macOS machines in scope of #433 , changes are already merged. The new image is on way.

[2020-04-14 05:30] maxim-lobanov commented on #713
@JosephDuffy ,
To work with symlink as Alejandro proposed, we can use the following code:
[code]
And then, you will be able to cache path `/Users/runner/runners/current/work/<repository_name>/.build` instead of just `.build`.

Could you please try this workaround with symlink and report back if it helps?

[2020-04-14 06:29] vsafonkin commented on #93
Hi @kudaba , As I see these components is already installed to latest windows image:
[Check VS components](https://github.com/vsafonkin/visual-studio-components/runs/567324898?check_suite_focus=true)
Could you please provide some repro for us, so that we can verify that the installation is incorrect?

Thank you!

[2020-04-14 07:35] AlenaSviridenko commented on #102
PR with MSYS2 installation: https://github.com/actions/virtual-environments/pull/632. It will be merged after pandemic is going down in order not to bring possibly dangerous changes on image and reduce customers impact.
Thanks!

[2020-04-14 07:43] AlenaSviridenko commented on #561
Hi @sqlenders ! I am closing this issue in favor of https://github.com/actions/virtual-environments/issues/387 that is prioritized and put in our "To Do" backlog. We will keep your posted with the updates there.
Please, feel free to reopen this issue if you have any concerns.
Thanks!

[2020-04-14 07:43] #561 closed

[2020-04-14 07:55] AlenaSviridenko commented on #434
Hi @weide-zhou! Few images were rolled out since your original issue, could you please check if the issue still appears for you?

[2020-04-14 08:01] AlenaSviridenko commented on #464
Hi @NinoFloris! I am closing this issue in favor of https://github.com/actions/virtual-environments/issues/690 that is prioritized and put to our To Do list.
If you can specify the required OS that we should install Docker BuildX to, please let me know and I'll add it to https://github.com/actions/virtual-environments/issues/690.

Also, please, feel free to reopen this one if you have any concerns

[2020-04-14 08:01] #464 closed

[2020-04-14 08:06] miketimofeev commented on #227
@KOLANICH Close this issue for now but feel free to reopen if you have any concerns.
Thank you for your suggestions!

[2020-04-14 08:06] #227 closed

[2020-04-14 08:54] arek-avanade commented on #620
Something is not quite right with XCode 11.4 rollout. I'm seeing 2 different images in Azure Pipelines for macos-latest:
[code]

**This one works as expected and contains XCode 11.4.**

However there is also another version that's being queued from time to time:
[code]

**This one seems to be newer, however does NOT seem to have XCode 11.4 installed. I'm getting the following error when running xc

[2020-04-14 08:59] miketimofeev commented on #620
@arek-avanade Thanks for the information! We have had some infrastructure changes recently and that might have caused some mess with image versions. I'll take a look and update all the 20200328.1 pools shortly. Sorry for the inconvenience.

[2020-04-14 09:13] miketimofeev commented on #620
@arek-avanade it looks like some of your builds are run on Mojave agents(20200404.1), where Xcode 11.4 is not presented, and sometimes on Catalina(20200328.1). Could you please check your agent specifications?

[2020-04-14 09:19] arek-avanade commented on #620
@miketimofeev This is an excerpt from my YAML:
[code]
When saying macOS-latest, I'd expect to actually get Catalina all the time, as described in this article:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops

[2020-04-14 09:26] kariharju commented on #657
For us as well the install step times have now settled into the 1 min range on Mac as well.

Thanks a bunch!
This helps out significantly in figuring out the maze of Mac signing process.
The actual mac notarizing phase also takes around 10 mins (don't know if this is the electron-builder or the actual mac stuff) so now we can build in 15 mins instead of 30 which is .. significant 🥇

[2020-04-14 09:32] miketimofeev commented on #620
So it's the same pipeline, which sometimes triggered on 20200328.1 and sometimes on 20200404.1, right?
If so, could you please provide examples? If it's not possible then a plan-id for both builds will be helpful. It can be found by the following link:
`https://dev.azure.com/{organization}/{project}/_apis/build/builds/{buildId}`

[2020-04-14 09:41] #324 closed

[2020-04-14 09:56] rpsu commented on #115
thanks!
Is this the correct place to keep eye on to see the new image?
https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md

[2020-04-14 09:57] arek-avanade commented on #620
Yes, the same pipeline, however different stages/jobs. So the failing scenario is for a job which is declared with pool/demands as above, it picks 20200404.1 image.
https://dev.azure.com/essity-projects/CIU/_apis/build/builds/31300

The successful scenario is when I just specify `vmImage: macOS-latest`, but NO demands. In that case somehow 20200328.1 is picked. I'm not sure if this is a coincidenc

[2020-04-14 10:10] maxim-lobanov commented on #706
Thank you for your suggestions. The both, testing approach and modular structure, make sense to us.
I can't share ETA for now but we have a feature on our backlog to rework and improve it.

I am closing this issue for now but feel free to share any additional thoughts / proposals.

[2020-04-14 10:10] #706 closed

[2020-04-14 10:14] miketimofeev commented on #620
Thanks, but unfortunately, I don't have access to the builds. Would you mind providing plan-id for them?

[2020-04-14 10:25] arek-avanade commented on #620
Oh, my bad. Didn't understand your previous ask. I've updated my previous answer with ids.

[2020-04-14 10:28] miketimofeev commented on #620
Thanks!  Yeah, one build is queued against 10.14 while another against 10.15
And what are those demands that you mentioned? I will try to repro it if I have the exact specifications.

[2020-04-14 10:37] FrancescElies commented on #692
@al-cheb prepending current working path to `PATH` environment variable helps, we added the workaround to most of our tasks, thanks!

We are still having some problems though, this time with `DotNetCoreCLI@2` task
1. I am seeing `  \NSIS\ was unexpected at this time.` I can see `C:\Program Files (x86)\NSIS\` was added to path, I have the feeling this is related to the PATH problem but for the mome

[2020-04-14 10:40] miketimofeev commented on #656
@raulpopadineti thanks for keeping an eye on ruby releases! We will include all new ruby releases in the next image rollout(approx 1 week): 2.7.1, 2.6.6, 2.5.8, 2.4.10

[2020-04-14 10:51] maxim-lobanov commented on #115
Yep, that is correct location. Also we will update #433 as soon as update is available

[2020-04-14 10:51] miketimofeev commented on #620
And I've found one important note
![image](https://user-images.githubusercontent.com/48208649/79217129-fb805400-7e56-11ea-837f-28e5516ba880.png)
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/demands?view=azure-devops&tabs=yaml
Looks like it's better to avoid using demands at all.

[2020-04-14 10:52] arek-avanade commented on #620
The one that triggers 10.14 and fails has:
[code]

The one that triggers 10.15 has just:
[code]

[2020-04-14 10:53] arek-avanade commented on #620
Oh, didn't know that. I'll simplify my YAML and try again in that case. Although I think this should still not drive the selection of agent image IMHO.

[2020-04-14 10:57] miketimofeev commented on #620
I'm able to repro it with your demands. I'll ask the engineering team about that strange behavior, but yeah, please avoid using demands for now.

[2020-04-14 10:57] maxim-lobanov commented on #620
@arek-avanade , yep, that is it.
All images have Xcode and Xamarin tools installed so we don't need to specify demands. Could you please try to remove them and test again?

[2020-04-14 11:18] arek-avanade commented on #620
Removed 'demands' and now it works as expected. Thanks for the quick feedback and resolution guys!

[2020-04-14 11:54] TrickTester commented on #629
Great. Issue is resolved.

[2020-04-14 11:56] TrickTester commented on #629
Issue is resolved but I am seeing one odd error as some of the agent has this pop up open which is blocking my selenium test.

![image](https://user-images.githubusercontent.com/18321998/79222318-efa38a80-7e74-11ea-885c-a2e21b17874d.png)

[2020-04-14 13:12] nikita-bykov commented on #643
We have added Android NDK 20.0.5594570 installation to Linux.
Images with it will be rolled out around next week.

[2020-04-14 13:23] jayaddison opened #717 "vmImage 'macOS-10.14': support for 'iPhone 5s' running iOS 12"
**Describe the bug**
The [html2canvas](https://github.com/niklasvh/html2canvas) project uses [Azure Pipelines](https://github.com/niklasvh/html2canvas/blob/ae5f866b37ba9903614965e0aef4366feabd32a6/azure-pipelines.yml) to build and test across multiple operating systems and browsers (e.g. [Safari on iPhone 5s running iOS 12](https://github.com/niklasvh/html2canvas/blob/ae5f866b37ba9903614965e0aef43

[2020-04-14 13:30] al-cheb commented on #692
@FrancescElies, Could you please try to add dot?
`Write-Host "##vso[task.prependpath]."`

[2020-04-14 15:02] maxim-lobanov commented on #717
Hello @jayaddison!
What version of Xcode do you use?
I have looked at azure-pipelines yml files in [html2canvas](https://github.com/niklasvh/html2canvas) and it looks like the default one is used.
Default `Xcode` is different for `macos-10.13` and `macos-10.14` images. `Xcode 10.1` is default one on `macos-10.13` and `Xcode 11.3.1` is default one on `macos-10.14`.
So based on documentation that yo

[2020-04-14 15:04] darthwillis commented on #620
There is a bit of legacy around custom user capabilities and demands for hosted pools that results in this behavior. We have some work on the backlog to make it better, but it hasn't been prioritized yet. Essentially, when demands are presented, we assign the job to the most relevant legacy hosted pool (i.e. one of the pools that existed before the single hosted "Azure Pipelines" pool).

If the YA

[2020-04-14 15:31] jayaddison commented on #717
Thanks for the swift response @maxim-lobanov!

After some typical battles with YAML, this should be [running in a moment](https://dev.azure.com/niklasvh/html2canvas/_build/results?buildId=270&view=logs&j=3b7a686e-0620-5f5b-9d43-3cfc2ab5c523&t=9a87b47e-d0f9-5163-11e3-c17148b46c5d).

[2020-04-14 15:40] jayaddison commented on #717
The build for `iOS Simulator Safari 12` has [succeeded](https://dev.azure.com/niklasvh/html2canvas/_build/results?buildId=271&view=logs&j=3b7a686e-0620-5f5b-9d43-3cfc2ab5c523&t=9a87b47e-d0f9-5163-11e3-c17148b46c5d) after the suggested changes.  Thanks @maxim-lobanov! :tada:

[2020-04-14 15:40] #717 closed

[2020-04-14 16:18] JasonGross commented on #698
@miketimofeev What if you also do `nslookup` before the loop?  In https://github.com/JasonGross/test-windows-cygwin-download/runs/586283926?check_suite_focus=true , I get
[code]
on
[code]
(First try on https://github.com/JasonGross/test-windows-cygwin-download/ )

[2020-04-14 16:37] miketimofeev commented on #698
@JasonGross yeah, got it. Powershell treats  `Non-authoritative answer:` as an error, so let's use direct cmd calling instead
[code]

[2020-04-14 16:39] kudaba commented on #93
They are indeed installed, it's just that the default paths from visual studio don't seem to link up correctly, if I don't set those registry values then the build won't find them.

In addition to the components a lot of variants of the sdk and platforms are also installed, as listed here https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md, however they are

[2020-04-14 16:40] JasonGross commented on #698
Thanks!  Note that it looks like you already have something of an answer to your question, though.  On the dedicated repository, it looks like the download failed twice in a row and then succeeded.

[2020-04-14 17:34] chkimes commented on #698
It's worth checking the InnerException to see if there are more details. Can you change the catch block to recurse the the InnerException properties and dump exception types and messages?

[2020-04-14 18:00] JasonGross commented on #698
If you suggest code, I'm happy to use it and report back on the details.   I've literally never written powershell before (this code was taken from elsewhere), so I don't actually know how to do that (and don't have time right now to dig into how to do it).

[2020-04-14 18:13] miketimofeev commented on #698
@chkimes @JasonGross Looks like there is no inner exception. I've tried to catch it like this and got nothing except the usual error(`The remote name could not be resolved: 'www.cygwin.com'`):
[code]

[2020-04-14 18:28] JosephDuffy commented on #713
I don't know how to test this using GitHub actions (since I can't trigger a runner update) but I tried to following locally:

[code]

This produces an error due to a path change.

I think when Swift does the building it is taking the real path, not the path of the symbolic link.

So I don't think this will work on GitHub Actions.

[2020-04-14 20:01] tusharb86 opened #719 "Breaking change notifications are needed"
**Describe the bug**
In the latest release of the Ubuntu image (from 20200315.1 to 20200330.1), the location of the Android "sdkmanager" tool changed without any notification to consumers of these images.

**Area for Triage**: Android, Deployment/Release

**Question, Bug, or Feature?**: Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Win

[2020-04-14 21:33] aaltat commented on #715
Thank you for quick response, I did got the problem solved.

[2020-04-14 22:45] rsemenov commented on #629
The fix for this issue has been rolled out everywhere since Friday evening.

[2020-04-15 01:40] Mellbabe opened #720 "Update/Add [tool name]"
**Tool information**
- Tool name:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Can this

[2020-04-15 05:37] FrancescElies commented on #692
`Write-Host "##vso[task.prependpath]."` did not do the trick, was worth trying though.

At the moment I am trying to use a script instead of a `DotNetCoreCLI@2` task 🤞

[2020-04-15 05:38] maxim-lobanov commented on #719
Hello @tusharb86 ,
Thank you for bringing this up.
We have reworked `sdkmanager` path in scope of #539 . Previously, it was installed to non-default location and this change moves it to the correct one. This change was not announced because we didn't think that people depend on absolute path to `sdkmanager`. So we didn't consider it as a breaking change. But it was.

Sorry for inconvenience and br

[2020-04-15 05:45] al-cheb commented on #720
@Mellbabe, Could you please fill the issue and provide information about tool that you want to install?

[2020-04-15 06:00] FrancescElies commented on #692
My previous attempt did not work.

At the moment I am printing following info for every running job.
![image](https://user-images.githubusercontent.com/6558089/79303311-e1925000-7eee-11ea-85ba-b0c650522d08.png)

@al-cheb Is there any way to know exactly on which image is every job running? Since some jobs are failing and others aren't would be great for us to print this kind of info, at the moment

[2020-04-15 06:50] al-cheb commented on #692
@FrancescElies, Image info you can find at the `C:\imagedata.json` file.

[2020-04-15 07:31] maxim-lobanov commented on #713
Okay, thank you for attempt.
In this case, we can try another trick: move repository outside `/Users/runner/runners/2.161.0/work`.
[code]
and then try to build in `$HOME/repository`.
Hope, it will help because in this case, the same path will be used independent of runner.

[2020-04-15 10:08] vsafonkin commented on #93
Hi @kudaba , thank you for your point and info about issue with ndk r21, we will follow up it and continue to work when the issue will resolved.

[2020-04-15 10:25] al-cheb commented on #181
@tamalsaha, Feel free to open the thread if you have any concerns.

[2020-04-15 10:25] #181 closed

[2020-04-15 14:43] chkimes commented on #698
@JasonGross we took packet captures from inside the VM and found differences in the DNS response for succeeding and failed requests. These differences are not observable when using other DNS providers.

I have escalated to the Azure DNS team.

[2020-04-15 14:44] chkimes commented on #698
As a workaround, consider forcing a different DNS server:

[code]

[2020-04-15 18:26] simonw commented on #317
Here's a workaround: if you `pip install pysqlite3-binary` you can do `import pysqlite3 as sqlite3` and get a much more recent version of SQLite that allows you to load extensions.

[2020-04-15 18:43] jmos5156 commented on #507
I have been running back to back deploys in West Europe over the last two days and every time I have to manually intervene to run
[code]
via the portal otherwise, packer fails to communicate with the deployed vm. Does anyone have a concrete resolution to this issue that can work both manually and via devOps?

[2020-04-15 19:22] leecbaker commented on #667
A couple of additional patch releases of Visual Studio have come out since I created this issue- we're now up to [16.5.4](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes). I hope we can get the latest version included in the runners soon.

I see that runner software was [updated weekly](https://help.github.com/en/actions/reference/software-installed-on-github-hosted-runne

[2020-04-15 21:10] tommywalkie commented on #16
@kaylangan Does this LLVM instance provide a `llvm-config.exe` executable ? In my use case, all I need is this executable path. Tried installing `llvm` via scoop but it doesn't create any `llvm-config` shim because `llvm-config.exe` is not provided in LLVM prebuilt binaries.

[2020-04-16 04:49] Mellbabe opened #727 "Update/Add [Update]"
**Tool information**
- Tool name:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Can this

[2020-04-16 05:11] maxim-lobanov commented on #667
Hello @leecbaker , we had a bunch of infra issues that prevented us to start deployment earlier. Sorry for delay and inconvenience.
We are planning to start new deployment today. It will contain VS 16.5.4 on board.
We are expecting it to reach all VM on Tue next week.

[2020-04-16 05:34] al-cheb commented on #727
Duplicate https://github.com/actions/virtual-environments/issues/720

[2020-04-16 05:34] #727 closed

[2020-04-16 05:51] maxim-lobanov commented on #159
@danyeaw , I have tried to investigate the issue deeper. Unfortunately, I didn't find the root cause but found that issue reproduces on both AzDO and GitHub images and only with Python 3.7.
I have looked at how we build Python 3.7 for Ubuntu environment and didn't find something suspicious (we use the same code for 3.7 and 3.8)

Do you have a chance to run this code on local Ubuntu environment wit

[2020-04-16 06:19] FrancescElies commented on #692
We have done some extra monitoring and saw the following, two builds (I can share the links via email) from different commits, they totally inoffensive changes (renamed task's `displayName`).

Once failed with `error NU1101` in `dotnet publish` command and the other one passed.

Is this related to this issue or something else? The time this issue appeared is in our builds highly correlated wth the

[2020-04-16 07:59] maxim-lobanov commented on #633
I am closing this issue for now but please let me know if it is still an issue and you are ready to provide additional details

[2020-04-16 07:59] #633 closed

[2020-04-16 08:19] mguirao commented on #692
I think i face a similar issue, with same symptoms and same timeline, but when executing VSTests in releases.

In my case, it is always the same dll that is not found :
![image](https://user-images.githubusercontent.com/20923552/79431198-64d4a400-7fca-11ea-8daf-9185c7f06c43.png)
Where it is actually available, we can see download traces in previous steps.

Everything was working fine on agent imag

[2020-04-16 08:35] maxim-lobanov commented on #116
Hello everyone, thank you fro feature request and your comments.
Could you please help us to understand versioning approach for Cuda SDK?
Will it work for you to have only the latest stable Cuda SDK release on image (10.2 for now)? Will it be a breaking change for you when we update it to 10.3 in future (when it is released)?
We are trying to avoid adding tools for which we will have to keep sever

[2020-04-16 09:38] allexzander commented on #195
Hi @alepauly,

We are using a workaround by manually installing this component during the build process. It would be nice to have it added by default into a virtual OS image, so we would save the time spent for the installation for every build.

[2020-04-16 11:39] HenrikBacher opened #729 "Add trainer"
**Tool information**
- Tool name: trainer
- Add or update? Add
- Desired version: latest
- Approximate size:
- If this is an add request:
  - Brief description of tool: used to convert test results from xcode test results into junit. Similar to xcpretty, however with newer features, specifically for my use case supports collection of results from parallel test execution, per this issue: https://gi

[2020-04-16 12:14] miketimofeev opened #730 "Ubuntu PyPy3 version 7.3.0 'import lzma' error"
**Describe the bug**
PyPy3 on both Ubuntu 16&18 failed when trying to import lzma module with the following error:
`ImportError: /opt/hostedtoolcache/PyPy/3.6.9/x64/lib_pypy/_lzma_cffi.pypy36-pp73-x86_64-linux-gnu.so: undefined symbol: lzma_index_stream_padding`

**Area for Triage**:
Python

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04

[2020-04-16 13:43] estesp opened #731 "sudo environment pass-through behavior is confusing with Go"
**Describe the bug**
When using the [setup-go](https://github.com/actions/setup-go) action to specify an exact release of the Go toolchain, if any follow-on commands in other steps use `sudo` and then, within context as the root user, perform any step which relies on a Go toolchain binary, the `GOROOT` environment used will default back to the latest Go release installed on the ubuntu-18.04 image;

[2020-04-16 14:42] nandor-poka opened #732 "puppeteer can't launch chromium, missing shared library libgbm.so"
**Describe the bug**
My build actions involve running puppeteer tests with chromium. Today (April 16th, 2020) I started to get the following message:
[code]

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
The fil

[2020-04-16 15:33] alepauly commented on #17
For those watching this issue, we've discovered that due to licensing we are unable to bake docker and docker-compose into the macOS image and will have to back out some of our changes.

[2020-04-16 15:33] #17 closed

[2020-04-16 16:14] VerdonTrigance commented on #674
Sorry for delay, but I still can't verify this because of being busy for last weeks. I will check this ASAP and return with answer in a week probably.

[2020-04-16 16:22] miketimofeev commented on #730
PyPy 7.3.1 works fine, packages regenerated and should be available on the next image rollout

[2020-04-16 17:28] miketimofeev commented on #732
@nandor-poka could you please provide a link to successful build?

[2020-04-16 17:38] miketimofeev commented on #732
Looks like it's all about puppeteer 3.0.0
https://github.com/puppeteer/puppeteer/issues/5661

[2020-04-16 17:41] nandor-poka commented on #732
Edited issue with link to successful build from 2 days ago (there were no builds yesterday)

[2020-04-16 18:05] miketimofeev commented on #732
Both builds run on the same image version, the only difference is the puppeteer version puppeteer@2.1.1(success) vs puppeteer@3.0.0(fail) and it seems the new version requires additional libraries.
I've tried to install libgdm in runtime and it helps. Could you please add these lines to your yml file?
[code]

[2020-04-17 00:32] danyeaw commented on #159
@maxim-lobanov Yes, all tests passed fine locally, and with Azure Pipelines before upgrading to GitHub Actions in Python 3.7 and Python 3.8. Since the issue seems to be fixed in Python 3.8 which is the main environment we are using to develop the app, I think we can go ahead and close this issue even if the problem still exists in earlier Python versions.

[2020-04-17 00:32] #159 closed

[2020-04-17 02:46] JasonGross opened #736 "Mac OS X jobs frequently fail for no apparent reason with missing logs and without ever running `if: always ()` steps"
**Describe the bug**
Frequently my Mac OS X jobs fail.  Usually, when a job fails, the subsequent steps display as canceled and take 0s, and the `if: always ()` steps run anyway, as in:
![image](https://user-images.githubusercontent.com/396076/79526421-4060e200-8033-11ea-828c-391a7675bf27.png)
(From https://github.com/mit-plv/fiat-crypto/runs/593609449?check_suite_focus=true )
However, the Mac job

[2020-04-17 04:32] maxim-lobanov commented on #736
@JasonGross , thank you for report of this issue!
Unfortunately, this repository manages only image content but we will try to escalate this issue to appropriate team.

@TingluoHuang , @ericsciple , @alepauly , is it something that [actions/runner](https://github.com/actions/runner) does?

[2020-04-17 05:49] al-cheb commented on #692
@mguirao, Could you please append `dot` as the fist step and provide logs?

[code]

[2020-04-17 05:50] al-cheb commented on #692
@FrancescElies Could you provide a minimal repo to reproduce?

[2020-04-17 06:34] FrancescElies commented on #692
@mguirao did you try to add current path before you call that command as @al-cheb suggested? https://github.com/actions/virtual-environments/issues/692#issuecomment-611469154, that solved the dll loading problems for us.

[2020-04-17 06:39] nandor-poka commented on #732
That did the trick, thank you. I modified my build.yml to have this
[code]
and now it works again.

[2020-04-17 06:47] FrancescElies commented on #692
That's a fair request, I'm sorry but at the moment I can't spend effort on that.

Not sure if it helps but I provided two links via email testing the same code (only changing a `displayName` in a task), I know they are not exactly the same commit but that change in my opinion should not have such a side effect.

I feel like even though `C:\imagedata.json` is the same something else not related wit

[2020-04-17 07:25] miketimofeev commented on #732
@nandor-poka glad to hear! We're going to add libgbm library to the Ubuntu images, so let's leave this issue open until that if you don't mind.

[2020-04-17 10:15] MonkeyBreaker commented on #687
Hi,

Well after digging this morning on the issue, I did not find any solution with only touching the .yaml file. I'm not an expert on this field, maybe someone else could come with a solution, but I'm won't explore further.

The solution in our case that would not impact other users for the library is to do as follow:

[code]

I only have a last remark, could it be possible that you create a "gen

[2020-04-17 12:16] TingluoHuang commented on #736
@maxim-lobanov can you check runner diagnostic for this job to see why the runner can't upload log? I don't know how to access the runner log for hosted mac pool.

[2020-04-17 16:52] elduddz commented on #507
Coming soon...
https://github.com/hashicorp/packer/issues/8972

[2020-04-17 17:27] rmetzger commented on #709
@maxim-lobanov thanks a lot for posting this workaround.
my tests have started to fail as well because of this issue. In my case, I'm running the tests in a docker container. What's the most elegant way of cleaning up the host file system when running in a containerized environment?

[2020-04-18 02:17] sergeneren commented on #116
Hello @maxim-lobanov,

Thank you for looking into this. For me, the latest stable version works. Cuda sdk doesn't introduce breaking changes very often so I don't think it will be a problem t least until cuda 11.

I also think keeping several versions of cuda sdk is unnecessary and it should be updated in regular intervals.

Of course this is my personal opinion and I would love to hear other peop

[2020-04-18 02:50] dimpase commented on #50
WSL or Cygwin are the only ways to build/run code that uses Unix fork(2). Msys/msys2/mingw don't support it. Cygwin's fork is pretty flaky, and Cygwin in general is quite slow. This leaves WSL as the preferred option.

[2020-04-18 02:51] kentonv opened #738 "Installed Android SDK binaries on Ubuntu are only executable by root"
**Describe the bug**

On `ubuntu-latest`, the binaries installed in `$ANDROID_SDK_ROOT/tools/bin` are marked executable only by root.

**Area for Triage**: Android

**Question, Bug, or Feature?**: Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**

Installed binaries sh

[2020-04-18 02:52] dimpase commented on #50
- not sure why I "unassigned" anyone here, sorry for noise, I merely wanted to leave a comment on the issue.

[2020-04-18 10:34] saurik commented on #709
So I'm pretty sure this is an actual new bug. I started running into it on Ubuntu 18.04 just a few days ago. If you look a the output of df, you will notice that the build isn't using any disk space at all on /mnt, which is where most of the disk space is available. I am guessing that /home/runner/work used to be located on /mnt, but now is being left on /, and so we have gone from having 14GB for

[2020-04-18 16:08] moikot commented on #690
Ubuntu 18.04 has a very old version of Docker. Would it be possible to update it?

[2020-04-18 16:52] nandor-poka commented on #732
I don't mind at all, I was merely looking at the issue from my perspective :)

[2020-04-18 19:56] michaelhelmick opened #739 "MySQL Breaking Changes"
**Describe the bug**
Not so much a bug, but more of a clearer description on how to use software on the OS.

**Area for Triage**:
Question

**Question, Bug, or Feature?**:
Question

**Virtual environments affected**
- [x] Ubuntu 18.04 LTS

**Expected behavior**
mysql to work out of the box without starting

**Actual behavior**
I looked across the community for solutions (including adding `services

[2020-04-19 11:42] maxim-lobanov commented on #690
Hello @moikot ,
We [install moby-docker](https://github.com/actions/virtual-environments/blob/master/images/linux/scripts/installers/docker-moby.sh#L18) on Ubuntu images (original Docker can't be pre-installed on images due to license agreement).
Currently, Ubuntu images contain moby-docker v19.03.8 and it is the [latest available version](https://github.com/moby/moby/releases).

[2020-04-19 14:59] moikot commented on #690
Hello @maxim-lobanov
I'm not sure if I understand you correctly, but Ubuntu [18.04 specification says](https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md):
"Docker-Moby (Docker version 3.0.11+azure, build eb310fca49568dccd87c6136f774ef6fff2a1b51)"
I've run `docker version` command and indeed it was 3.0.11.

An excerpt from my pipeline logs:
[code]

[2020-04-19 17:38] maxim-lobanov commented on #690
@moikot , sorry for confusion. I have got a bit more details and will try to clarify:
Official version of Docker can't be pre-installed on images because of EULA.

From https://github.community/t5/GitHub-Actions/What-really-is-docker-3-0-6/m-p/30767/highlight/true#M552

Currently, the latest available version `moby-engine_3.0.11+azure-2_amd64.deb ` ([Link](https://packages.microsoft.com/ubuntu/18.

[2020-04-19 19:13] compnerd opened #741 "Update/Add Ninja"
**Tool information**
- Tool name: Ninja
- Add or update? Add
- Desired version: latest
- Approximate size:
- If this is an add request:
  - Brief description of tool: `ninja` is a build tool focused on speed
  - URL for tool's homepage: https://github.com/ninja-build/ninja

**Area for Triage**:
Packages

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [x] macOS 10.15
-

[2020-04-19 19:14] compnerd commented on #741
The ninja tool is already included in the Windows hosts via Visual Studio.  It would be nice to include it on the macOS and Ubuntu VMs.  For Ubuntu, `apt-get install -y ninja-build` is sufficient.

[2020-04-19 19:21] miketimofeev commented on #741
Hi @compnerd! As I know ninja is installed along with vcpkg, here is the vcpkg installation log:
[code]
I wonder if it could be used for your purposes?

[2020-04-19 19:38] compnerd commented on #741
@miketimofeev interesting, `ninja` is definitely not found on the Linux builders (on Azure).  I thought that the Azure and GitHub actions were merged into a single repository.

[code]

[2020-04-19 19:43] miketimofeev commented on #741
@compnerd Unfortunately, I'm not so familiar with CMake builds, but is it possible to use vcpkg for them?
https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/vcpkg_configure_cmake.md

[2020-04-19 19:46] compnerd commented on #741
@miketimofeev no, it is not possible to use `vcpkg` for building for my purposes.  I need to be able to use ninja directly through CMake as that is the only way that you can build Swift packages with CMake.  The projects only support CMake, and supporting vcpkg is not viable as adding yet another build system to projects is not likely to be acceptedf.

[2020-04-19 19:47] compnerd commented on #741
@miketimofeev actually, thinking more about this - isn't this actually better?  Adding ninja to the base image allows CMake to use it and vcpkg could use the host provided ninja builder as well.

[2020-04-19 19:48] miketimofeev commented on #741
Oh, I see. Can that ninja from vcpkg be used directly from `/usr/local/share/vcpkg/downloads/tools/ninja-1.10.0-linux/ninja`?
We try to avoid tools duplicating, that's why I'm trying to find any possible ways.

[2020-04-19 19:49] compnerd commented on #741
Hardcoding random paths doesn't work very well for the azure pipelines if you are using different builders.  Can you not use `ninja` from `/usr/bin/ninja` instead of `/usr/local/share/vcpkg/downloads/tools/ninja-1.10.0-linux/ninja`?

[2020-04-19 19:50] miketimofeev commented on #741
If this path works `/usr/local/share/vcpkg/downloads/tools/ninja-1.10.0-linux/ninja` then we can simply add a symlink

[2020-04-19 19:51] compnerd commented on #741
Where the tool resides is not a big deal, if ninja can be added to the path for all the builders, that is perfectly acceptable (though beyond my ability to help with).

[2020-04-19 19:56] miketimofeev commented on #741
Can you confirm that
`sudo ln -s /usr/local/share/vcpkg/downloads/tools/ninja-1.10.0-linux/ninja /usr/local/bin/ninja` solves your task?
If yes – we'll consider making the symlink during the vcpkg installation

[2020-04-19 20:00] compnerd commented on #741
@miketimofeev nope, that still fails.  I can verify that `sudo apt-get install ninja-build` does fix it though.

[2020-04-19 20:04] compnerd commented on #741
@miketimofeev also can verify that `sudo ln -s /usr/local/share/vcpkg/downloads/tools/ninja-1.10.0-linux/ninja /usr/bin/ninja` fails.  Its not a PATH issue AFAICT.

[2020-04-19 20:18] martmists opened #743 "Update/Add Wine"
**Tool information**
- Tool name: Wine
- Add or update? Add
- Desired version: 5.0 (latest stable)
- Approximate size:
- If this is an add request:
  - Brief description of tool: Run windows executables on linux
  - URL for tool's homepage: https://www.winehq.org/

**Area for Triage**:
Packages

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubun

[2020-04-19 20:26] martmists opened #744 "Update/Add binutils-arm-none-eabi"
**Tool information**
- Tool name: binutils-arm-none-eabi
- Add or update? Add
- Desired version: 2.25-5+5 (latest)
- Approximate size:
- If this is an add request:
  - Brief description of tool: GNU assembler, linker and binary utilities for ARM Cortex-A/R/M processors
  - URL for tool's homepage: https://packages.debian.org/source/jessie/binutils-arm-none-eabi

**Area for Triage**:
Packages

**Qu

[2020-04-20 06:24] Darleev commented on #741
Hi @compnerd . We had very [similar request](https://github.com/actions/virtual-environments/issues/514) for ninja tool. Unfortunately, we can't add it at the moment. I would like to suggest you to install ninja tool in runtime using the following steps:
[code]
So, currently, it's easy to install ninja in runtime on demand, since installation takes about 10 seconds and there are no issues with it.

[2020-04-20 06:24] #741 closed

[2020-04-20 06:26] al-cheb commented on #712
@mvdan, Feel free to open the thread if you have any concerns.

[2020-04-20 06:26] #712 closed

[2020-04-20 06:57] Darleev commented on #743
In order to install Wine in runtime, need to use the following steps:

[code]

Installation takes about 1,5-2 minutes.

[2020-04-20 07:17] al-cheb commented on #657
@kceb @kariharju Feel free to open the thread if you have any concerns.

[2020-04-20 07:17] #657 closed

[2020-04-20 07:27] MonkeyBreaker commented on #687
Hello @al-cheb,

I like your solution, if you update on your side, we only need to touch the `yaml` file.

For me we can close this issue, but I don't know if it's already in the documentation, maybe add more information about the boost include directories, what do you think ?

Otherwise, thank you for your help,
Julián

[2020-04-20 07:58] al-cheb commented on #709
@alepauly, Does it make sense to extend disk space  on Ubuntu 16.04/18.04 from 84gb to at least 128gb?

Ubuntu 16.04:
`/dev/sda1        84G   75G  8.8G  90% /`

Ubuntu 18.04:
`/dev/sda1        84G   75G  8.3G  91% /`

[2020-04-20 08:38] Darleev commented on #738
Hi @kentonv, $ANDROIDK_SDK_ROOT path is: /usr/local/lib/android/sdk. User cannot write to `/usr/bin/` folder by default. In order to elevate required permissions, it is required to use `sudo`. For example:

`sudo lint`

or by full path

`sudo $ANDROID_SDK_ROOT/tools/bin/lint`

Also, let me provide you with link, where a [similar case](https://github.com/actions/virtual-environments/issues/534) was

[2020-04-20 08:45] jneira commented on #709
@saurik Maybe i did something wrong but i tried to use `/mnt` for placing the files of the haskell build tool `stack` and it failed (`stack` executions) due to permission issues.

[2020-04-20 08:57] matthewfeickert commented on #709
We saw the same thing for pyhf. We did a [hack fix in pyhf PR 819](https://github.com/scikit-hep/pyhf/pull/819#issuecomment-616055763) by running `apt-get clean` on all of the Ubuntu jobs before trying to install anything (which worked) but this came up within the last week after never having been an issue in the past (and none of our dependencies changing size significantly).

[2020-04-20 09:59] maxim-lobanov commented on #739
Hello @michaelhelmick ,
Am I right that your proposal is about updating documentation to include information that MySQL service is not enabled by default and instructions how it can be enabled. Please correct me if I am wrong

[2020-04-20 10:39] AshTappin opened #746 "Cannot connect to Azure SQL Server on ubuntu-18.04"
**Describe the bug**
I was using windows-2019 previously for a pipeline build. It was making successful tcp connections to an Azure SQL Server ("Allow Azure services and resources to access this server" is enabled) However, I had to change the vmImage to ubuntu-18.04 and now it can't make a connection to the SQL server.

This is the area I am getting (the build is running Selenium tests that direc

[2020-04-20 11:22] al-cheb commented on #746
Hello, @AshTappin

Could you please provide results on windows and ubuntu powershell code?

[code]

[2020-04-20 12:08] Darleev commented on #738
@kentonv Thank for the reported issue and the investigation. I have created [pull request](https://github.com/actions/virtual-environments/pull/747) to fix insufficient permissions for android sdk. Please let me know in case of any questions.

[2020-04-20 12:35] michaelhelmick commented on #739
Correct! The only place I could find that MySQL is no longer started by default was the blog post disconnected from documentation. Would be super helpful!

Sent from my iPhone

[2020-04-20 12:38] AshTappin commented on #746
@al-cheb We can close the issue, I figured out what the problem was.

I ran a netstat command and it was connecting to the Azure SQL Server successfully from the ubuntu VM. The problem was related to environment variables. I am setting a job variable which had the database connection string. I didn't realise when job variables are copied to environment variables, they are converted to upper case (

[2020-04-20 12:41] #746 closed

[2020-04-20 12:46] maxim-lobanov commented on #720
Closing the issue because neigher description nor tool name was provided

[2020-04-20 12:46] #720 closed

[2020-04-20 13:20] pitrou opened #749 "Boost regression"
It seems that, following the latest environment changes, Boost cannot be found by CMake anymore on Windows Server 2019:
https://github.com/apache/arrow/pull/6991/checks?check_run_id=601773054#step:7:105
[code]

**Area for Triage**:
C/C++

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016

[2020-04-20 13:26] al-cheb commented on #749
Hello, @pitrou
We have deprecated BOOST_ROOT environment variable - [#319](https://github.com/actions/virtual-environments/issues/319).  How to fix - https://github.com/actions/virtual-environments/issues/661 and https://github.com/actions/virtual-environments/issues/687

[2020-04-20 14:02] nikita-bykov commented on #78
We have added Xcode 10.3 to macOS 10.15.
Images with it will be rolled out around next week.

[2020-04-20 14:10] Chuxel commented on #709
FWIW the same thing is happening on 18.04. I have a Docker build that has been working for months that stopped working last week.

[1_Build and push (1, 4).txt](https://github.com/actions/virtual-environments/files/4503998/1_Build.and.push.1.4.txt)

[2020-04-20 14:39] pitrou commented on #749
@al-cheb This seems to have worked, thank you.

[2020-04-20 14:41] #749 closed

[2020-04-20 15:37] saurik commented on #709
@jneira I'd totally be willing to believe /mnt isn't directly usable; like, I wasn't saying you could definitely solve the problem by using /mnt: what I was even saying is that I purposefully didn't try, as this was previously working and so that space and I expect that any temporary workaround to manually try to move something to /mnt, assuming it worked, would break later. Like, maybe it would b

[2020-04-20 19:09] alepauly commented on #709
@alcheb - Unfortunately we can't easily do that at the time.

Thanks everyone(@saurik, @Chuxel, @matthewfeickert, @jneira, @rmetzger) for the input and apologies for the pain this is causing! Seems to me the simplest workaround is to `apt clean`, which should be pretty fast and reclaim quite a bit of space.

We're looking for mitigations we can apply quickly and safely but in the meantime, adding

[2020-04-20 19:09] obabec commented on #709
I can agree with all you :) Our build was running smooth for couple weeks / months. We were using /mnt as docker root. We are running reallly simple minikube on runnners and now we are not able to even initialize first minikube log. Same disk usage about 91%. /mnt disk is for some reason not usable now.

[2020-04-20 19:18] alepauly commented on #709
@obabec, we'll look into this.

[2020-04-20 19:30] matthewfeickert commented on #709
Thanks very much for the reply and status update @alepauly. This is useful to know how we can proceed for the time being (for the pyhf dev team we're already doing this). :+1:

I'll add that as a naive user to all the intricacies of what is actually happening, it was very strange that this is happening to _only_ the `ubuntu-latest` builds and that all of our `macos-latest` builds are entirely unaf

[2020-04-20 19:40] alepauly commented on #709
@matthewfeickert fwiw, I would also view it as a bug - because you're not exceeding the space we make available, and because things all of a sudden changed and broke you. We try hard for this not to happen but it happens sometimes. We'll figure out a solution as soon as possible (probably will take a day or two to replicate everywhere) so you can remove the workaround.

As the

[2020-04-20 19:42] MitchK commented on #709
We have the same issue with `react-native` / expo builds. A decent amount of disk space is taken up by NPM dependencies, but a huge part is generated during the build (build tools, binaries, expo shell app, ...) that we don't have any control over: https://github.com/expo/turtle/issues/213

As app developers, we don't want to manage any VMs where we run custom workers. Instead, we would prefer tra

[2020-04-20 19:44] matthewfeickert commented on #709
Sounds great. Thanks very much for responding quickly on this and for all the hard work!

[2020-04-20 20:48] congyiwu opened #751 "Clean up apt package cache"
**Describe the bug**
At the end of image generation we should cleanup the apt package cache (apt-get clean). There's no use for it on deployed images.  Doing this would free up multiple GB of disk space.

**Area for Triage**:

I couldn't find an area that matched (this is an OS-wide issue)

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04

[2020-04-20 20:49] alepauly commented on #709
We've started a rollback to the previous version of the VM images used for the virtual-environments in both Ubuntu 16.04 and Ubuntu 18.04. This should take from a few hours to a day, please keep us posted if you don't see mitigation after that. We'll continue working on the fixes so we can roll out the updates soon after the mitigation.

[2020-04-20 20:49] congyiwu commented on #709
I reopened an orphaned issue: https://github.com/microsoft/azure-pipelines-image-generation/issues/1242
as #751

[2020-04-20 20:53] congyiwu opened #752 "Fail fast in image generation if not enough disk space for customers"
**Describe the bug**
A clear and concise description of what the bug is, and why you consider it to be a bug.

If we promise X GB of free disk space for customers, we should check that there is enough space at the end of image generation, and fail fast if there isn't.

**Area for Triage**:

There wasn't an area for general stuff

**Question, Bug, or Feature?**:

Feature

**Virtual environments aff

[2020-04-20 20:53] congyiwu commented on #709
Also filed https://github.com/actions/virtual-environments/issues/752 to catch this ahead of time in the future

[2020-04-20 20:54] congyiwu commented on #752
potentially also fail fast or warn really loudly if we're getting close to X GB

[2020-04-21 08:09] Darleev commented on #738
@kentonv we have verified and merged [pull request](https://github.com/actions/virtual-environments/pull/747). All changes will be applied after next VM rollout.
In case of any questions, feel free to contact us.

[2020-04-21 08:26] lechen26 opened #753 "regression on 20200415.3?"
**Describe the bug**
seems like there is a regression on ubuntu-18.04 version 20200415.3.
the PATH on that image doesnt includes the /snap/bin hence packages installed through snap couldnt be found.

**Area for Triage**:
we are using Github action workflow using runs-on: ubuntu-latest
for some reason yesterday , although the latest images is still 20200406.2 , few workflows pulled the 20200415.3.

[2020-04-21 08:39] vsafonkin commented on #731
Hi @estesp , thank you for the report of this issue! The cause of the issue is Linux security policy that overrides system `$PATH` to default value for sudo. As workaround you can use next step after setup-go task to create symlinks in `/usr/bin` directory for installed Go version:
[code]
and use `sudo -E` for preserving user environment in following steps.

[2020-04-21 09:12] Darleev commented on #753
Hi @lechen26, thank you for the reported issue. We rolled back the latest Ubuntu release, and, I guess,  the issue should not be actual at this moment. We will check the issue further on our side and prepare fix for the issue.
I will keep you posted about status of the issue.

[2020-04-21 09:48] BrightRan opened #762 "Set Locale"
In [this ticket](https://github.community/t5/GitHub-Actions/Set-Locale/td-p/54314), the user wants to change the runner machine's locale language to PT-BR, he uses the below step to do set the locale:
[code]
The locale language seems changed successfully, but when he tries to check the number formats and date formats, they are shown inconsistent with the locale language.

[2020-04-21 10:11] Darleev commented on #528
Hi @Shaac, let me describe current investigation details:
We found that two libraries `/usr/lib/x86_64-linux-gnu/libgdruntime.so.76` and `/usr/lib/x86_64-linux-gnu/libgphobos.so.76` affects gdc by the following way:
If gdc-9 installed with libgdruntime and libgphobos.so versions 8, the same issue as you reported repeats for gdc-9
If gdc-8 installed with libgdruntime and libgphobos.so versions 9, w

[2020-04-21 10:53] maxim-lobanov commented on #699
@herzi , closing this for now because @dmitry-shibanov has provided solution above.
Please let me know if you have any concerns

[2020-04-21 10:53] #699 closed

[2020-04-21 11:07] Darleev commented on #528
The issue was additionally discussed internally, and it seems to be more related to a compatibility between gdc/gcc libraries than images build. The root cause is that different gcc and gdc libraries conflict to each others and we don't see the correct fix for that (except the workaround that we have provided above, but it can't be applied to image during image-generation because we don't pre-inst

[2020-04-21 11:07] #528 closed

[2020-04-21 11:46] HenryAWE opened #754 "Cannot link to Boost 1.72 on Windows"
**Describe the bug**
Some of the Boost 1.72 libraries cannot be opened when the linker wants to link against them.
Since I didn't change any of the CMakeLists.txt from the last successful build, I think it might be a bug of the virtual environment.

**Area for Triage**: C/C++

**Question, Bug, or Feature?**: Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubun

[2020-04-21 11:52] Darleev commented on #754
Hello @HenryAWE,
It seems you have faced the same issue as describe [here ](https://github.com/actions/virtual-environments/issues/749). Could you please try the same fix?
We are looking forward to your reply.

[2020-04-21 11:56] saurik commented on #709
From this past week (so where we didn't have space):

[code]

After this new rollback (so what this was before last week):

[code]

OK, so notably we suddenly had 4.6GB less disk space on /.

The GitHub people probably already know this, but for anyone else following along and curious what is going on: last week, as part of https://github.com/actions/virtual-environments/commit/8abd45c3a8c2f777498

[2020-04-21 12:06] HenryAWE commented on #754
I don't think I'm facing a same issue like that. My situation is that the Boost can be found by the CMake and the codes which only depends on the header-only part of the Boost can be successfully compiled. But the libraries, such as `libboost_locale-vc142-mt-x64-1_72.lib` or `libboost_serialization-vc142-mt-x64-1_72.lib`, cannot be opened by linker.

[2020-04-21 12:59] miketimofeev commented on #709
@obabec could you please provide more details about /mnt being inaccessible? I've tried to create files and copy directories there and everything worked for me(with sudo).

[2020-04-21 13:07] Darleev commented on #754
@HenryAWE, thank you for provided details. I'm checking the issue to figure out a root cause.
We will keep you posted.

[2020-04-21 13:33] chuckatkins commented on #709
I'm hitting this issue consistently.  My builds are running inside a container with a ~3g image, df reports ~7.5g of free space before I start the build, the build tree itself takes up ~1g when complete.  But the build fails regularly with "no space left on device" when it should never be using anywhere close to the limit.  If I was running directly on the VM then I could just run some apt cleanup

[2020-04-21 13:45] miketimofeev commented on #709
@chuckatkins Does it still happen after image rollout? There should be more than 10gb available now.

[2020-04-21 14:40] alepauly commented on #709
@saurik your analysis is pretty spot on 🎯 The work dir should be under /mnt, and we are planning to move it there. But because it's a breaking change we'll have to announce it first and give time to people that might depend on a hard coded `/home/...` path to adjust.

[2020-04-21 14:58] simogasp commented on #116
I agree with @maxim-lobanov , having the latest version available would be great.
For Ubuntu, the workaround is to use Nvidia docker images that have all kind of combinations of Linux distributions versions and sdk versions. But I'm not aware of a similar thing for the other OS.

[2020-04-21 16:09] alexfrasson commented on #116
Same for me. Latest version would be perfect.

[2020-04-21 16:23] alexfrasson commented on #116
Question: would a full installation be required? Some space could be saved if only development subpackages are installed (see [the list under **Silent Installation**](https://docs.nvidia.com/cuda/cuda-installation-guide-microsoft-windows/index.html#install-cuda-software). The same probably applies to debian packages. Subpackages such as `demo_suite_10.2`, `samples_10.2` and `fortran_examples_10.2`

[2020-04-21 18:50] ruslan-shuster opened #759 "Add xmlsec1"
**Tool information**
- Tool name: xmlsec1
- Add
- Desired version: latest
- Approximate size:
- If this is an add request:
  - Brief description of tool: xml cryptography library
  - URL for tool's homepage: https://linux.die.net/man/1/xmlsec1

**Area for Triage**:
Area: Scripting and command line

**Question, Bug, or Feature?**:
"Feature"

**Virtual environments affected**
- [X] macOS 10.15
- [X]

[2020-04-21 19:23] prempalsingh commented on #643
I was about to remove the ndk installation step from my workflow but then realized that this got reverted in #756 . :(

[2020-04-21 19:36] adam-page-st opened #761 "SQL2019 Express Instance Removed from windows-latest"
**Describe the bug**
The SQL2019 local instance has been removed as of the 20200416.1 windows-latest image.

**Area for Triage**:
Databases

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [x] Windows Server 2019
(other images not tested)

**Expected behavior**
Its not really clear

[2020-04-21 19:42] maxim-lobanov commented on #643
Yep, sorry for inconvenience, @prempalsingh.
We have faced with disk space on Ubuntu images recently and had to revert the images and a few latest changes as a quick solution to unblock customers.
As soon as issue with disk space is resolved, we will return it back. We will keep this issue opened

[2020-04-21 19:50] miketimofeev commented on #752
@congyiwu @nikita-bykov we shouldn't forget about additional 8Gb swap file on ubuntu, which is created later during VM provision

[2020-04-21 20:03] saurik commented on #709
@alepauly Why not symlink /home to /mnt/home, or mount /home to space on sdb1 (maybe using btrfs/lvm or whatever it is that let's you "share" partition space among multiple mount points), so this becomes more an implementation detail of the container than some filesystem change? FWIW, I would personally prefer to see folders like $HOME/.pub-cache (Dart) and $HOME/.cargo (Rust) end up on sdb1, not

[2020-04-21 20:10] saurik commented on #709
(BTW, I just noticed that time is getting away from me--I am going to blame the lack of any real external time markers due to the pandemic, even though I honestly always had this problem ;P--and that commit to add the NDK "last week" happened _after_ this bug was opened, apparently now well over a week ago; so my guess that it was the r20 NDK that added the brunt of the loss can't be right? Worse,

[2020-04-21 20:11] alepauly commented on #709
yeah, we were actually discussing doing bind mounts, the only minor risk is collision of anyone already using /mnt/<whatever>. Thanks for sharing your ideas!

[2020-04-21 20:12] chkimes commented on #698
I am not able to repro this issue any longer - does anyone else see a consistent repro or can we now close this issue?

[2020-04-21 20:16] alepauly commented on #709
Good point, @miketimofeev has been looking at it and he might have a better idea of other things that came in earlier and that affected space usage. We rather not revert a lot of what we already shipped since some workflows might have already taken a dependency, but since the NDK v20 was very recent and a major contributor we backed it out.

[2020-04-21 20:45] congyiwu commented on #752
Also if we switch to the temp disk (via a bind mount, symlink, or changing the working for to /mnt), that would obviate this issue

[2020-04-21 22:42] saurik commented on #643
As someone who does a lot of work with the NDK--I seriously use it to compile for all platforms, using the Android NDK clang to target even iOS and Windows and I have a cloud deployment of the NDK on AWS Lambda for massively-parallel C/C++ builds--and who has been requesting that the macOS virtual environment ship a newer version of the NDK for a while now (as issue #120), I was really curious why

[2020-04-21 23:34] JasonGross commented on #736
I'm now seeing this happen on our Linux jobs too, such as https://github.com/mit-plv/fiat-crypto/pull/766/checks?check_run_id=606437846
![image](https://user-images.githubusercontent.com/396076/79924871-fe56e800-8406-11ea-8ab4-21f10247988a.png)
It seems to be happening on the artifact upload step on Linux, maybe the machines are running out of space or something?

[2020-04-22 02:22] samtstern commented on #643
@saurik thank you for the very deep and well reasoned investigation.  I'm not on the Android team and Google is a big company but I'll see what I can do.

In the meantime I'll use your patch to fix my own builds.

I agree r20 is not a good use of GitHub's resources.

[2020-04-22 05:20] jetersen commented on #635
As there are released windows 2019 images according to the tags: https://github.com/actions/virtual-environments/commit/f67375ac5cd480959b184c92c9dda601c9db3982

I can validate that the issue is fixed: https://github.com/jenkinsci/hashicorp-vault-plugin/pull/95

[2020-04-22 05:20] #635 closed

[2020-04-22 06:18] al-cheb commented on #761
Hello, @adam-page-st
We have temporary remove in the https://github.com/actions/virtual-environments/pull/707 PR due to bug with incorrect dynamic-link library search order.  We are working on the fix to resolve the issue and enable MSSQL back.

[2020-04-22 06:44] dmitry-shibanov commented on #385
Hello, thank you for your response. We have investigated this issue deeper from our side and didn't find the root cause, unfortunately.
We have tried to downgrade Chrome / ChromeDriver on the image. Also we have looked at the software updates at the time when you have reported the problem.
It looks like nothing was changed on image side related to fonts / Chrome version.
Probably, issue can come f

[2020-04-22 06:50] dmitry-shibanov commented on #4
Hello, changes were added. If you have any concerns please feel free to reopen the issue.

[2020-04-22 06:50] #4 closed

[2020-04-22 07:30] MarissaGutierre8 opened #763 "I"
**Describe the bug**
A clear and concise description of what the bug is, and why you consider it to be a bug.

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
A description of what you expected to happen.

**Actual be

[2020-04-22 07:49] johanneskares opened #764 "Update/Add gcovr"
**Tool information**
- Tool name: gcovr
- Add or update? Add
- Desired version: Latest
- Approximate size: 5.7 MB
- If this is an add request:
  - Brief description of tool: Popular Code Coverage generator
  - URL for tool's homepage: https://github.com/gcovr/gcovr

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [

[2020-04-22 08:04] Darleev commented on #763
Hello @MarissaGutierre8 . Could you please fill the form above and provide more details?

[2020-04-22 09:06] sakulstra commented on #4
shouldn't sth like this:
[code]
work now?
Getting:
[code]

[2020-04-22 09:25] Woofenator opened #765 "Cannot run docker-compose on ubuntu-latest"
**Describe the bug**
Attempting to run docker-compose results in error `Couldn't connect to Docker daemon at http+docker://localhost - is it running?`. Seems like docker service doesn't get spun up with the environment

**Area for Triage**:
Deployment/Release

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [

[2020-04-22 09:43] miketimofeev commented on #698
@chkimes I'll try to repro it today

[2020-04-22 09:44] Kerizer commented on #4
nvm is a shell function, not an executable.
You need to use global shell, like this:
[code]

[2020-04-22 10:01] al-cheb commented on #751
Hello, @congyiwu
Fixed in the https://github.com/actions/virtual-environments/pull/757 PR.

[2020-04-22 10:01] #751 closed

[2020-04-22 10:08] Darleev commented on #765
Hello @Woofenator, I have double checked the issue with Ubuntu image and docker-compose file, and it seems that the issue is intermittent. I tried the following:
1. Create docker-compose task with empty docker-compose file - everything works fine here.
2. Create bash script and try to start command docker-compose up - everything is fine as well.

Could you please try to reproduce the issue? Is it

[2020-04-22 10:13] Woofenator commented on #765
Ok. I tinkered with the job a little bit more. Seems like setting an env variable (in my case `TAG`) is what broke it

[2020-04-22 11:00] Darleev commented on #765
@Woofenator thank you for the details. Did you try to remove TAG variable? Does it help? I tried to find any information about TAG variable and how it can break docker, but had no luck. I guess, docker fails on another step. Could you please provide us with public repository which contains minimal reproducing steps for the issue reported?

[2020-04-22 12:17] Woofenator commented on #765
@Darleev Hi! I cannot seem to reproduce the issue in a public repository :(

[2020-04-22 12:29] saurik commented on #643
@samtstern Oh, I'm sorry, then: you GitHub bio says "Developer Relations at Google. All Things Android or Firebase.", so I thought you would have pull with the Android team :(.

[2020-04-22 12:37] miketimofeev commented on #698
@chkimes yeah, the issue is still here
`There is an exception Exception calling "DownloadFile" with "2" argument(s): "The remote name could not be resolved: 'www.cygwin.com'"`

[2020-04-22 12:58] Darleev commented on #765
@Woofenator Could you please also clarify about variable? Did you try to remove it? Does it help?

[2020-04-22 13:00] fcollonval commented on #732
@miketimofeev FYI the dependency to fix this is actually `libgbm1`. The development version `libgbm-dev` is not mandatory.

See https://github.com/puppeteer/puppeteer/pull/5693.

[2020-04-22 13:18] Woofenator commented on #765
@Darleev Removing the TAG env variable did indeed fix it. Adding it in the clean project doesn't seem to have any effect

[2020-04-22 13:25] samtstern commented on #643
@saurik got some more information here from someone on the tools team in an older thread about this issue:

[code]

The workaround is what you already figured out, but the hard dependency from latest AGP to not-latest NDK is something the team knows about so I don't think we will be able to change it very quickly.

I will try to see what else can be done.

[2020-04-22 13:28] samtstern commented on #643
@saurik actually it looks like there's a change going in to make things less strict:
https://issuetracker.google.com/144111441#comment10

Basically it would warn (rather than error) and then try to proceed with the NDK version that does exist.  Which in most cases would be fine.

[2020-04-22 13:32] chkimes commented on #698
Thanks - I got a hit from a scheduled run so I have provided the VM and timing information to Azure.

[2020-04-22 14:27] al-cheb commented on #765
@Woofenator, Could you please set TAG as?
[code]

[2020-04-22 14:49] joaomoreno opened #768 "Add ARM64 Windows environment"
**Feature**: Add Windows ARM64 as an environment

Hi there, are there any plans to support a hosted ARM64 environment? We're seeing quite some enthusiasm over here: https://github.com/microsoft/vscode/issues/33620

[2020-04-22 14:59] aibaars opened #769 "SSH host key validation failed on OSX but succeeded on Linux when checking out a repository from `ssh://github.com`"
**Describe the bug**
SSH host key validation failed on OSX but succeeded on Linux when checking out a repository from `ssh://github.com`

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
The same behaviour on both OSX

[2020-04-22 16:26] yodrami opened #770 "powershell GenerateResourcesAndImage script failed: "Provisioning step had errors: Running the cleanup provisioner, if present..." on packer.exe step"
**Describe the bug**
We are trying to create a Windows2016 image by running [this ](https://github.com/actions/virtual-environments/blob/master/helpers/GenerateResourcesAndImage.ps1) script locally.
The script runs for few hours and at the end it fail on packer.exe with this error:

[code]
this is the command that the script calls:
` GenerateResourcesAndImage -SubscriptionId ******* -ResourceGroup

[2020-04-22 18:17] kentonv commented on #738
Thanks!

[2020-04-22 18:51] jmos5156 commented on #770
The actual error is probably further up in the packer log and not actually when packer attempts to clean up after itself. I see these a lot when packer is used in a pipeline where there is no interaction with packer itself. I suspect you ran this via a pipeline?

Looking at the script you are using packer is run using `packer.exe build -on-error=ask` this is great for an interactive session but do

[2020-04-22 20:38] killycal commented on #578
If I'm using NPM and windows and am seeing this problem, what equivalent command would I use to resolve this issue?

[2020-04-22 22:49] p-smirnov opened #771 "Add XQuartz to macOS default machine"
**Tool information**
- Tool name: XQuartz
- Add or update? Add
- Desired version: Latest
- Approximate size: 76 MB
- If this is an add request:
  - An X11 server is no longer standard for macOS, however some open source libraries cross-compiling onto the system require it to be installed. Having it there by default would be great.
  - URL for tool's homepage: https://www.xquartz.org

**Area for Tr

[2020-04-23 01:45] paulrrogers commented on #40
@maxim-lobanov Mysql 8 has significant changes, though if BC is a concern it can be configured to behave similarly to the defaults in v5.7.

https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html

[2020-04-23 02:32] maxim-lobanov commented on #578
@killycal , Sorry, what problem do you mean?
Could you please provide small repro step?

[2020-04-23 05:42] Darleev opened #772 ".Net Core projects started raising a red flag about a DLL signed with a certificate that was revoked"
**Describe the bug**
Signing validation for .Net Core projects started raising a red flag about a DLL signed with a certificate that was revoked. This issue only happens in the hosted agents (only tested with 'windows-2019') and it started happening about a day ago. Apparently the hosted agents got the certificate revoked.
You can take a look at the GitHub issue that we are using to investigate th

[2020-04-23 05:49] moikot commented on #690
@maxim-lobanov I didn't think that it's a common practice on GitHub to retroactively edit comments so that the subsequential commenters look like fools repeating basically the same sentences.

If Microsoft thinks it's a good idea to have versioning schema for their custom docker packages different from the official ones, I have to say it's super confusing, but I don't want to spend my time on this

[2020-04-23 06:00] maxim-lobanov commented on #690
@moikot , I changed initial comment because it could be a bit confusing for other customers (who are out of context) due to inconsistent version approach. Sorry for inconvenience.

I have clarified this question with the team who owns moby docker used by our images:
They build the moby binaries from own mirror of upstream moby and currently, the releases maintained by own release tag (3.0.11+azure

[2020-04-23 08:01] yhmtsai commented on #116
I use `choco install cuda` for Windows in the Github action, and I can check the cuda compilation.
Everything works as expected until yesterday. For some reason, Github action can not find the cuda static library after the updated windows-latest.
- [Previous pass action](https://github.com/ginkgo-project/ginkgo/runs/607578729?check_suite_focus=true)
- [Current failed action](https://github.com/gin

[2020-04-23 08:27] dsame commented on #762
printf is built in command of bash and a bash process does not catch up the locale settings changed with the same process.

The following code in the above workflow [works as expected](https://github.com/dsame/actions-demo/runs/611352187?check_suite_focus=true)
[code]

[2020-04-23 09:15] maxim-lobanov commented on #116
Hello @yhmtsai , thank you for report.
Can the issue come from any updates of choco formula?

Yesterday, we have finished deployment of new image that brings the following [major changes](https://github.com/actions/virtual-environments/commit/44f2342c9e796a4d0c3bd36aff870b38abd6a71b#diff-580bd0ec6b5a6590106c72db0501d8f0):
- `VisualStudio/16.5.0+29911.84` -> `VisualStudio/16.5.4+30011.22`
- `Cmake

[2020-04-23 12:04] olafure opened #774 "macOS source"
I know it's already planned to add the source for the macOS env.

From the README.md:

I just wanted to create this issue to track it and so people can follow it and get notified when it's there.

[2020-04-23 12:10] maxim-lobanov commented on #774
@olafure , thank you for creating it.

Unfortunately, we can't provide any ETA for now because there are a bunch of internal problems that we have to solve before macOS source code is open sourced.
We are working on it and we are happy to see your interest in it.

[2020-04-23 12:32] hugoj-goncalves commented on #762
@dsame
I can't really say that I understand but it's cool that it works that way. I'm no linux expert at all.
Why is it different from running these commands locally/in a docker?
As I'm using without a problem in those two situations.
Would it work if I create a shell script with everything inside, or would I still need to call _/bin/bash -c_ for everything I need localized?

[2020-04-23 12:44] maxim-lobanov commented on #762
@hugoj-goncalves , I believe it will also work if we use different steps for setting locale and testing it because the second step will be new shell session:
[code]

[2020-04-23 13:04] Recurse-blip opened #775 "Xamarin iOS no longer compiles on macos-latest"
**Describe the bug**
The Xamarin iOS project was building fine until this morning.

I'm getting the following error :
[code]

And also getting the following warning :
[code]

**Area for Triage**:
Xamarin

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Ex

[2020-04-23 14:08] hugoj-goncalves commented on #762
@maxim-lobanov That definitely is not the case as my first test was like that :disappointed:
I had a SetLocale step and a SetTime step which I just used _date_ command to check if timezone was okay.
![image](https://user-images.githubusercontent.com/10927715/80103793-dae98580-854b-11ea-90b4-6b21741208a3.png)
As you can see it didn't print _date_ respecting the locale change.

[2020-04-23 14:42] nibanks commented on #682
Still awaiting deployment?! What's the ETA here?

[2020-04-23 15:09] Darleev commented on #754
@HenryAWE let me provide you with details of the investigation:
1. First of all, we have reproduced the issue on our side.
2. Tried to add some new variables to cmake command like BOOST_LIBRARYDIR, but with no luck.

3. Then, we turned on verbose logging and tried to perform cmake again. During cmake command we can see, that cl command executes to compile the code. After that, we tried to compile

[2020-04-23 15:11] Recurse-blip commented on #775
Repo :
https://github.com/Recurse-blip/test-project

I'm not sure what is happening but the same command line works on Github Actions
https://github.com/Recurse-blip/test-project/runs/612367999?check_suite_focus=true

But it doesn't in Azure pipeline
https://dev.azure.com/jonnehbravo/test-project/_build/results?buildId=3&view=logs&j=f342bb14-ba29-5108-1ccc-19c8096b439e&t=eb818a24-636d-5f17-eb0b-08

[2020-04-23 15:38] HenryAWE commented on #754
Thanks,  it solved my problem.

[2020-04-23 15:38] #754 closed

[2020-04-23 15:59] yodrami commented on #770
Thanks for the quick response.
Actually, I didn't run it via pipeline, I ran it locally on my PC.

I looked at the packer output as you suggested and I found this error:

[code]

So I manually ran the WindowsUpdates.ps1 script and it passed successfully.
Then I reran the  GenerateResourcesAndImage script and it failed again.
This time it gave me the generated artifacts' uri. When I tried to view t

[2020-04-23 16:02] miketimofeev commented on #682
@nibanks the deployment was finished yesterday. Could you please check the VS version?

[2020-04-23 16:13] maxim-lobanov commented on #667
@leecbaker , Image with VS 16.5.4 has been deployed recently. Closing the issue. Please let me know if you have any issues with it

[2020-04-23 16:13] #667 closed

[2020-04-23 16:22] dmitry-shibanov commented on #658
Hello @ltcmelo , did it work for you ?

[2020-04-23 16:34] maxim-lobanov commented on #775
Okay, I think I know the root cause. On the latest image, default Xcode (11.3.1) is inconsistent with default Xamarin.iOS 13.6.
Sorry for inconvenience, default Xcode will be updated to 11.4.1 with next image rollout.

Could you please try to add the following step to your pipeline to switch Xcode and fix issue right now?
[code]

[2020-04-23 16:41] al-cheb commented on #762
@hugoj-goncalves
[code]

![time - Copy](https://user-images.githubusercontent.com/47745270/80125445-54a86000-859a-11ea-9dae-051bccc681e9.JPG)

[2020-04-23 17:02] yhmtsai commented on #116
@maxim-lobanov thanks for hint!

The problem is from updated CMake.
CMake (>=3.17.0) can find `CMAKE_CUDA_TOOLKIT_INCLUDE_DIRECTORIES` which is not found in older version.
Thus, I can not write some command which depends on empty `CMAKE_CUDA_TOOLKIT_INCLUDE_DIRECTORIES` condition.
After fixing it, cuda compile in windows is passed again.

By the way, CMake 3.17.0 introduces [FindCUDAToolkit](https

[2020-04-23 17:24] hugoj-goncalves commented on #762
@al-cheb oh wow...
would've never guessed it tough
everything worked just fine that way (just the _printf_ thing that needs the _bash -c_ to work)

![image](https://user-images.githubusercontent.com/10927715/80129829-05e4d100-856e-11ea-9846-9697808274b6.png)

It's still a little confusing for me but I guess this issue is solved. Sorry about the trouble.

[2020-04-23 17:28] Recurse-blip commented on #775
Manually choosing Xcode 11.4 fixed it! Thanks

I ended up doing the following :
[code]

[2020-04-23 17:57] nibanks commented on #682
Looks like the build succeeded without the workaround. Thanks.

[2020-04-23 19:08] hgibson1122 commented on #674
I was able to try this after losing 4 days trying to troubleshoot.

Anyway in my case I needed to add
Microsoft.SharePoint, Microsoft.SharePoint.Client, Microsoft.SharePoint.ClientRuntime, Microsoft.SharePoint.ServerRuntime.  But in the end it finally got past "Build solution **\*.sln

Thanks

[2020-04-23 19:52] maxim-lobanov commented on #775
Great!
I am closing the issue. Feel free to reopen if you have any questions

[2020-04-23 19:52] #775 closed

[2020-04-23 20:02] miketimofeev commented on #682
Closing the issue, but feel free to reopen if you have any concerns.
Thank you!

[2020-04-23 20:02] #682 closed

[2020-04-23 20:13] AlenaSviridenko opened #777 "[Announcement] Default Xcode will be changed to 11.4.1 on April, 29"
Hi!

We are going to change default Xcode version from 11.3.1 to 11.4.1 on April, 29.

Until then, please, use the following command to change default Xcode version
`sudo xcode-select -s "/Applications/Xcode_11.4.1.app"`

If you have any concerns or questions please let use know through this issue.

Thanks!

[2020-04-23 21:04] deinok commented on #228
@kaylangan Now it's ready to use

[2020-04-23 21:24] Sv443 commented on #743
https://github.com/actions/virtual-environments/issues/743#issuecomment-616349857
This works, thank you very much, you saved my day!

[2020-04-24 08:15] dmitry-shibanov commented on #433
Hello, Vagrant and VirtualBox were added to macOS. If you have any concerns feel free to reopen the issue.

[2020-04-24 08:15] #433 closed

[2020-04-24 08:55] maxim-lobanov commented on #659
@PraveenKalavai, any updates?

[2020-04-24 09:03] maxim-lobanov commented on #719
I am closing this issue for now because there is no action items here.
Again, thank you for hands up about the issue. We will keep it on mind and will notify about all potential breaking changes using the channels above.

Feel free to share any thought and ideas how this process can be improved.

[2020-04-24 09:03] #719 closed

[2020-04-24 09:11] maxim-lobanov commented on #761
Closing this issue because installation of SQL is tracked by #413.
Please let us know if you have any concerns

[2020-04-24 09:11] #761 closed

[2020-04-24 09:18] AlenaSviridenko commented on #674
HI @VerdonTrigance! Are there any updates on this issue?

[2020-04-24 09:20] AlenaSviridenko commented on #434
Closing this issue since we didn't get any confirmation the issue is still actual.
If it continue happening, please, feel free to file a new issue.

Thanks!

[2020-04-24 09:20] #434 closed

[2020-04-24 09:38] VerdonTrigance commented on #674
Thank you for waiting, I am on my way to do this on this weekend. I confirm that there are numbers of NuGet packages with SharePoint/Office and I was able to build solution localy on my PC, but I still had no chance to run build in Azure.

[2020-04-24 10:37] AlenaSviridenko commented on #120
Hi! Image with updated Android NDK was fully deployed. I am closing this issue.
If you have any questions or concerns - please, feel free to file the new one.

Thanks!

[2020-04-24 10:37] #120 closed

[2020-04-24 10:55] domenkozar commented on #709
I've also seen this, see https://github.com/cachix/cachix-action/issues/43

[2020-04-24 11:06] phozzy commented on #320
@maxim-lobanov Hi! any updates, is it deployed now?

[2020-04-24 12:58] matejc commented on #650
We would like to test https://github.com/eficode/robotframework-imagehorizonlibrary and it uses pyautogui for making actions which it does not work due to accessibility settings, I could change that with sqlite (https://apple.stackexchange.com/questions/178313/change-accessibility-setting-on-mac-using-terminal), but as it turns out there is SIP here which is preventing me to do just that.

[2020-04-24 18:59] regevbr commented on #263
Hi,
There is still issues with git core commands.
Need to add `C:\Program Files\Git\mingw64\libexec\git-core` to the path as well.
For example git submodule command fails without it in the path

[2020-04-24 19:14] jared-w commented on #645
Any update on this?

[2020-04-24 19:16] tamalsaha opened #781 "Add yq"
**Tool information**
- Tool name: yq
- Add or update? Add
- Desired version: latest
- Approximate size: 6 MB
- If this is an add request:
  - Brief description of tool: yq is a portable command-line YAML processor (like jq but for YAML)
  - URL for tool's homepage:  https://github.com/mikefarah/yq

**Area for Triage**:
Containers

**Question, Bug, or Feature?**:
Feature

**Virtual environments aff

[2020-04-24 19:18] hartwork commented on #228
@kaylangan could this ticket be re-opened please? Thank you!

CC @hannob

[2020-04-25 14:19] ltcmelo commented on #658
Hi @dmitry-shibanov , just gave it a try and it worked. FYI, [this](https://github.com/ltcmelo/psychec/blob/master/.github/workflows/generator-build.yml) is how the workflow looks now.

Thanks again 👍

[2020-04-25 22:18] alexrosenfeld10 opened #782 "[Minor] Found a typo"
**Describe the bug**
Was reading through the readme for virtual environment support and found a small typo. Relevant for folks using `kubectl`.

**Area for Triage**:
https://github.com/actions/virtual-environments/blame/ubuntu18/20200406.2/images/linux/Ubuntu1804-README.md#L159

**Question, Bug, or Feature?**:
Bug

[2020-04-26 15:08] al-cheb commented on #598
Hello, @netheril96 and @siscia
We have granted an additional permissions on macOS image. Now you can able to install the  osxfuse tool on runtime(`brew cask install osxfuse`) without reboot. Sorry we can't pre-install the osxfuse tool on the macOS image due to limitation the osxfuse tool license policy.

Example securefs build:
[code]

![osxfuse](https://user-images.githubusercontent.com/47745270/

[2020-04-26 15:09] pradyunsg commented on #708
@maxim-lobanov Thank you! What would be the next step to enable this by default?

[2020-04-26 15:27] al-cheb commented on #393
Hello, @wadeww

We have extended ability to set screen resolution size to a maximum size - 2560 x 1600.

Example how to change in runtime:
[code]

![s - Copy](https://user-images.githubusercontent.com/47745270/80311948-3c7b4f80-87eb-11ea-9b37-918103d553c7.JPG)

Feel free to open the thread if you have any concerns.

[2020-04-26 15:27] #393 closed

[2020-04-26 17:11] netheril96 commented on #598
Thanks! It works now.

[2020-04-26 17:11] #598 closed

[2020-04-26 18:59] siscia commented on #598
CC: @jbloomer

[2020-04-27 04:02] nreddipalle opened #783 "Running a Linux self-hosted agent in Docker"
**Describe the bug**
This is more of a question/request. Anyone able to successfully build a docker image using the script file https://github.com/actions/virtual-environments/blob/master/images/linux/ubuntu1804.json setting up as dockerfile as reference and try to build an image..

**Area for Triage**:

**Question, Bug, or Feature?**:
Question

**Virtual environments affected**
- [ ] macOS 10.15

[2020-04-27 05:33] 38leinaD opened #785 "Small pagefile fails GraalVM native-image builds on Windows"
**Describe the bug**
I am trying to build a Quarkus application as a GraalVM native-image for Windows.
I am seeing the following error:

`OpenJDK 64-Bit Server VM warning: INFO: os::commit_memory(0x0000000778d00000, 478150656, 0) failed; error='The paging file is too small for this operation to complete' (DOS error/errno=1455)`

https://github.com/38leinaD/quarkus-with-gh-actions/runs/620081929?ch

[2020-04-27 06:21] pedrocamargo commented on #317
Thanks, @simonw . I found that implementing the workaround would mean patching the software in a few places and the result would be particularly ugly and not really justifiable, so I will wait for this to be implemented. Thanks again!

[2020-04-27 06:39] al-cheb commented on #703
Hello, @mydiemho
We have updated the documentation file to provide info about Safari version  - https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md .

Feel free to open the thread if you have any concerns.

[2020-04-27 06:39] #703 closed

[2020-04-27 06:40] al-cheb commented on #628
Hello, @wulfland
We have installed missing certificates on Windows Server 2019 image. Could you please validate your workflow?

[2020-04-27 07:05] al-cheb commented on #649
Hello, @dragon-archer
The default cmake has been set to - `C:\Program Files\CMake\bin\cpack.exe`

![cpack](https://user-images.githubusercontent.com/47745270/80343430-86594980-886e-11ea-9569-edf2d17d40b7.JPG)

Feel free to open the thread if you have any concerns.

[2020-04-27 07:05] #649 closed

[2020-04-27 07:24] dmitry-shibanov commented on #658
Hello @ltcmelo , thank you for your response. I closed the issue but if you have any concerns feel free to reopen the issue.