[2021-03-22 17:49] trel commented on #2890
Excellent - thank you.

[2021-03-22 18:52] hb0 commented on #2997
@maxim-lobanov
I tried this before without success, but did this again a moment ago to demonstrate: [here](https://github.com/cyface-de/android-backend/runs/2169048423?check_suite_focus=true) (`ubuntu-18.04_20210315.1`)

[2021-03-22 19:10] greenEkatherine commented on #2741
I didn't see this error any more, I think the issue may be closed. Thanks for the help!

[2021-03-22 19:26] miketimofeev commented on #2741
@greenEkatherine thanks for confirming! Please feel free to contact us if you have any questions.

[2021-03-22 20:22] ForsakenHarmony commented on #2820
@jsoref ah yes that makes sense, they'd probably not want to deal with that, still meh, but ubuntu is ubuntu

Didn't mean to hijack this issue in any way, just seemed like relevant information, don't think I have the motivation to try and convince microsoft to change the way they do things

[2021-03-23 02:25] ChengYen-Tang commented on #811
I really need the official image, the network in my area always fails to install, I'm almost crazy.

[2021-03-23 05:45] dsherry opened #3009 "Update/Add ALSA (Advanced Linux Sound Architecture)"
**Tool information**
- Tool name: ALSA
- Tool license: GNU General Public License (GPL)
- Add or update? Add
- Desired version: Latest
- Approximate size:
- If this is an add request:
  - Brief description of tool: The Advanced Linux Sound Architecture (ALSA) provides audio and MIDI functionality to the Linux operating system.
  - URL for tool's homepage: https://www.alsa-project.org/wiki/Main_Pag

[2021-03-23 07:35] lbruun commented on #2890
I've seen something similar, i.e. connection problems when connecting outbound to public internet from within GitHub Actions. The problem seems to have escalated over the past month(s). Like @trel my suspicion is the same. There seems to be a "first touch penalty" for creating outbound connections (perhaps the penalty is paid on a per-destination basis, dunno).

Therefore, one advice is to check y

[2021-03-23 07:54] al-cheb commented on #3001
Hey, @ssbarnea
I think we can replace the ansible pkg from apt repo and install it using pipx:

[code]

[2021-03-23 08:14] ssbarnea commented on #3001
I would recommend to keep the tool in PATH while doing the swap from distro ansible to pip(x)-ansible. Keep in mind that by default Ubuntu does not have `%HOME/.local/bin` in PATH (but other major distros do have it, like Fedora).

pipx could be one path for sure, I started using it only recently so I am not yet sure how well it works on each platform and if there are hidden surprises to be expect

[2021-03-23 08:28] nikita-bykov commented on #2889
Hello @JuanCrg90, please feel free to contact us if you have any questions. If not, then we will close the issue.

[2021-03-23 09:11] al-cheb commented on #3001
I don't think it makes sense to store both versions due to the `/opt/pipx_bin` path takes precedence over `/usr/bin/`.
[code]

A user and user's home directory at the end of generation process is deleted.

The `/opt/pipx_bin` is already in PATH.

[2021-03-23 10:22] maxim-lobanov commented on #2825
Python 3.9.2 was added to all images recently. Closing the issue

[2021-03-23 10:22] #2825 closed

[2021-03-23 10:23] vsafonkin commented on #2819
@rurban, what do you mean?  As I see, if the any g++ versions are removed, clang 10 works anyway with installed `libc++abi-dev` and `libc++-dev`:
https://github.com/vsafonkin/test-repo/runs/2174222670?check_suite_focus=true

Looks like `-stdlib=libc++` option requires corresponding packages for each clang version.

[2021-03-23 11:10] rurban commented on #2819
Yes, purging also works ok.

[2021-03-23 15:23] jetersen opened #3010 "Choco pack is extremely slow on Windows Environment"
**Description**
Choco pack is extremely slow on the windows virtual environments not sure why...

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Image version**

[code]

**Expected behavior**
Choco pack is re

[2021-03-23 15:25] lokera07 opened #3012 "hi"
**Breaking changes**

**Target date**

**The motivation for the changes**

**Possible impact**

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.13
- [ ] macOS 10.14
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Mitigation ways**

[2021-03-23 15:52] jetersen commented on #3010
I created a repro:
https://github.com/jetersen/test-choco-pack-github-action

Even when I forgot to checkout the files locally, it takes over a minute to figure out that the nuspec file is missing.
https://github.com/jetersen/test-choco-pack-github-action/runs/2176728690?check_suite_focus=true

[2021-03-23 16:00] jetersen commented on #3010
After testing it seems that the initial call to choco is the one being extremely slow...

[2021-03-23 16:45] miketimofeev commented on #2619
@mzabaluev not 100% actually. I've forked your repo and made a few runs to prove our assumptions. 2 out of 4 passed and we observe the correlation with particular environments.
![image](https://user-images.githubusercontent.com/48208649/112183847-b12f5780-8c0f-11eb-83cd-2afa7f4547f6.png)
Moreover looks like we understood why it happens, but not sure we can fix it from the image side since it's rel

[2021-03-23 16:51] vsafonkin commented on #2997
Hi @hb0, could you please check Android `lint` version on Bitrise?
[code]
Maybe different lint default rules for different lint version are reason of these warnings.

[2021-03-23 18:40] massto opened #3013 "Update tools"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubu

[2021-03-24 01:07] Khalian commented on #2996
The URL is correct. The way my code works is, i need to fetch a DTD of an xml type (called music xml) in order to parse the music xml file into an internal format i prefer.

I know for a fact its correct, since I run the same exact code in travis CI and it succeeds there, and I was considering migrating to github actions, but it seems there are technical limitations to your project to allow outbou

[2021-03-24 01:09] Khalian commented on #2996
For instance here is a successful build in travis CI: https://travis-ci.com/github/Khalian/Modulo12/builds/220743765

And here is the PR i tried with both in tandem https://github.com/Khalian/Modulo12/pull/14 and as you can see, the github actions one fails and the travis one succeeds.

[2021-03-24 03:00] SaintNicholas opened #3014 "Android builds breaking on macOS-10.15 20210321 update"
**Description**
My Android builds are breaking on the macOS-10.15 20210321 update, but they are still working on the 20210314 update.

The error I get is:
`> Task :app:kaptGenerateStubsAlphaDebugKotlin FAILED
e: [kapt] 'com.sun.tools.javac.util.Context' class can't be found ('tools.jar' is absent in the plugin classpath). Kapt won't work.`

In the 20210321 update the path for JDK 1.8 was updated,

[2021-03-24 06:14] maxim-lobanov commented on #3014
@SaintNicholas could you please share minimal repro steps?
@dmitry-shibanov to take a look at this issue.

[2021-03-24 06:27] maxim-lobanov commented on #2996
Hello @Khalian , Looks like your Travis build uses Java 14. Why do you use Java 8 in GitHub Actions build pipeline? (https://github.com/Khalian/Modulo12/pull/14/files#diff-d65baf3ad59488720aa50001fc7eb86b8f6ec0ca91534edb708dfe39e22aece0R19)

After switching Java to 14, build passes successfully.
See build results in my fork: https://github.com/maxim-lobanov/Modulo12/runs/2181818758?check_suite_foc

[2021-03-24 06:57] susanadomingos-falck commented on #2968
@edgariscoding
To fix our pipeline we had to fall back to vs2017-win2016 with MSBUILD 15.0, and install some additional components (that are packed into the windows-2019 image, but not the win2016 one) :-(

[2021-03-24 07:48] FeliciaXmL opened #3016 "Update/Add [tool name]"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubu

[2021-03-24 07:49] #3016 closed

[2021-03-24 07:57] miketimofeev commented on #3001
@ssbarnea just fyi: we're going to add `%HOME/.local/bin` to the PATH in the nearest future

[2021-03-24 08:02] tyagirajnish commented on #3014
I am also facing the same issue from yesterday evening.
**Agent** : macOS-10.15
`/Users/runner/work/1/s/gradlew assembleDebug`

[2021-03-24 08:14] dmitry-shibanov commented on #3014
Hello @tyagirajnish. Thank you for your response. Could you please provide some project for repro steps. If it's a private project, could you please provide build steps. Besides, If you don't mind, could you also add information about versions of kotlin, gradle and dependencies for the project ?

[2021-03-24 08:47] tyagirajnish commented on #3014
hi @dmitry-shibanov, can't share my repo due to private project,  please find the details below
Kotlin_version : 1.3.72
classpath 'com.android.tools.build:gradle:4.0.1'

![Screenshot 2021-03-24 at 15 43 51](https://user-images.githubusercontent.com/46373586/112281044-a3c7ab00-8cab-11eb-8792-923d5ab3844d.png)
![Screenshot 2021-03-24 at 15 44 02](https://user-images.githubusercontent.com/46373586/11

[2021-03-24 08:52] dawidhyzy commented on #3014
Having the same issue since yesterday
[code]

[2021-03-24 09:12] ricohomewood commented on #2867
Az `5.6.0` has a major P0 bug in Az.Automation that has now been fixed in `5.7.0` which has now been released :https://github.com/Azure/azure-powershell/issues/14431 . Do we know when the Hosted Agents will install the real latest version of the Az powershell module? Currently they are still on 5.5.0 as their defined latest which is now 2 versions behind.

[2021-03-24 09:27] miketimofeev commented on #3014
@tyagirajnish @dawidhyzy we're going to rollback the image to unblock you and then continue the investigation. Sorry for the inconvenience and thank you for provided details

[2021-03-24 09:27] francosang commented on #3014
Same error since yesterday.

 :x: Failing environment versions:

[code]

![imagen](https://user-images.githubusercontent.com/25726643/112286321-7cf97c80-8c8b-11eb-8f62-fc5471a20deb.png)

:white_check_mark: Working environment versions:

[code]

![imagen](https://user-images.githubusercontent.com/25726643/112286295-7408ab00-8c8b-11eb-867a-bbc4e9cb80e8.png)

[2021-03-24 09:46] hb0 commented on #2997
@vsafonkin Both locally and on Bitrise this version is used:

[code]

[2021-03-24 10:09] al-cheb commented on #2978
@edumserrano, The new image with fix has been deployed.

[2021-03-24 10:09] #2978 closed

[2021-03-24 10:35] miketimofeev commented on #2997
@hb0 I've cloned your repo to my local box, run `./gradlew lint` from the root, and got the same results:
[code]

[2021-03-24 10:39] miketimofeev commented on #2954
@shibataka000 we've deployed the new image without the **XDG_CONFIG_HOME** variable at all to unblock everyone. I'm going to add it back in the nearest future, but it another way that allows to override it from `env` block

[2021-03-24 11:32] maxim-lobanov commented on #2867
Hello everyone!
No need to wait, both [azure/powershell](https://github.com/azure/powershell) (GitHub Actions task) and [AzurePowerShell](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops) (Azure DevOps) were recently upgraded and can install any version of Az on-flight with 1-2 seconds delay.

[code]

[2021-03-24 13:13] SaintNicholas commented on #3014
I was able to reproduce this locally with the following steps:

1. Create a new project and add the plugin 'room', with a kapt step. I've attached my project ([Reproduce.zip](https://github.com/actions/virtual-environments/files/6197447/Reproduce.zip)).
2. Install AdoptOpenJDK. This installed on my Mac to /Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk.
3. Change the AdoptOpenJDK folder name

[2021-03-24 13:16] maxim-lobanov commented on #3014
@SaintNicholas thank you for providing repro steps.
We have already started image rollback so the issue should be resolved in a few hours.
Your repro steps will help to avoid repeating it in future

[2021-03-24 13:58] miketimofeev commented on #3014
The rollback has been finished

[2021-03-24 15:31] miketimofeev commented on #2848
@adrianreber we've deployed the images. Could you please check the issue is fixed on 1041 kernel?

[2021-03-24 15:31] miketimofeev commented on #2958
The new images were deployed

[2021-03-24 15:31] #2958 closed

[2021-03-24 16:31] adrianreber commented on #2848
Yes, it is fixed. Thanks!

[2021-03-24 16:31] #2848 closed

[2021-03-24 18:23] dibir-magomedsaygitov commented on #2952
Hello, @marblenix. Quick update on Homebrew: we had to rollback `macOS 10.15` image due to [issue ](https://github.com/actions/virtual-environments/issues/3014)with Java. `macOS 11.0 `was successfully updated.
I'll post an update message as soon as new version of Homebrew is available to use on `macOS 10.15`.

[2021-03-24 20:24] KunKaxe opened #3021 "Confing.yml"
**Breaking changes**

**Target date**

**The motivation for the changes**

**Possible impact**

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [x] Ubuntu 20.04
- [x] macOS 10.13
- [x] macOS 10.14
- [x] macOS 10.15
- [x] macOS 11.0
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Mitigation ways**

[2021-03-24 20:31] #3021 closed

[2021-03-24 22:29] manongjohn opened #3022 "Actions running same script produce different artifact results"
**Description**
I'm getting different results with "gcc" compiled Linux artifacts generated by Actions that are running the same steps outlined in this script but either running just "gcc" alone or running "gcc + clang" configurations:

https://github.com/tahoma2d/tahoma2d/blob/master/.github/workflows/linux_build.yml,

Up front, my question is: Is there something different about the environment t

[2021-03-25 01:52] Khalian commented on #2996
@maxim-lobanov oh boy. This is embarrassing. Thanks a ton. I used the default template and forgot about JDK.

[2021-03-25 02:01] Khalian commented on #2996
Yep sorry about that. I just copied the default scala template and forgot about JDK version.

[2021-03-25 02:01] #2996 closed

[2021-03-25 05:07] akkim31 commented on #2996
#2951

[2021-03-25 06:23] al-cheb commented on #3001
@ssbarnea,We are planning to switch installation approach from `apt` to `pipx`. Could you please confirm if it works for you?

[2021-03-25 07:28] Phil-Be commented on #2968
Hello @maxim-lobanov ,
Can you confirm that the new version of VS will be released this week?
We're still stuck and dont wan't to have to do the same thing as @susanadomingos-falck .
Regards,

[2021-03-25 07:34] susanadomingos-falck commented on #2968
This whole situation is fuel on the campfire for the no-Azure advocates... 🙄🤦‍♀️

[2021-03-25 07:49] maxim-lobanov commented on #3014
I think the issue can be closed since images were rolled back. Please let us know if you still experience this issue.

[2021-03-25 07:49] #3014 closed

[2021-03-25 08:05] BretJohnson commented on #2992
@LeonidLapshin Thanks for the reply. I do expect the switch to Component.Android.SDK30 (the default in VS 16.9) triggered this issue. However, something doesn't seem right.  There should be several versions of the Android SDK installed, as shown in the screenshot below from the Android SDK section of the vm image doc.

When setting up a machine manually the process would typically be: Install VS 1

[2021-03-25 08:09] miketimofeev commented on #2995
@drewcassidy we have removed clang11-related libs from the image, thanks @catthehacker for the contribution.
The new image will be deployed next week.

[2021-03-25 08:33] LeonidLapshin commented on #2992
Hey, @BretJohnson
The `C:\Program Files (x86)\Android\android-sdk\platforms\android-28` directory contains android.jar on image, so the 28 SDK is installed correctly. Android SDKs are installed independently to VS, so I guess your project try to find SDK somewhere, but not on this path. Does your build try to find android.jar on this path? Could you please share the full error message?

[2021-03-25 08:54] miketimofeev commented on #2968
@Phil-Be we don't know the exact date, but most likely — yes. Please pay attention that the new image deployment will start on Monday and it will take 3-4 days to propagate the image to all the environments

[2021-03-25 08:59] Phil-Be commented on #2968
As long as we can at least use one of our agents.
The "likely" is still worrying, but no choice?

Thanks for update though

[2021-03-25 10:33] alexgordo commented on #482
To get this package running in my CI workflow I have the following as part of my config script:
[code]
I am using the `ubuntu-18.04` image for github actions

This installs the binary to `/usr/local/bin/wkthmltopdf`

The link may be go out of date, but you can see the latest on their [website](https://wkhtmltopdf.org/downloads.html)

[2021-03-25 12:20] al-cheb commented on #3010
Hello, @jetersen
I can reproduce the same behavior. We pre-install a lot of chocolatey packages that why searching operation for the first time takes soo much time:
[code]

Workaround:
[code]

![image](https://user-images.githubusercontent.com/47745270/112471183-9f1ef780-8d7c-11eb-94b8-24fc46d1911a.png)

Looks like it's well-known issue:
[remove pending packages task - search only top level level

[2021-03-25 15:26] #2410 closed

[2021-03-25 15:35] lukepighetti commented on #2890
Not sure if this is related but just today we started getting "This check failed" errors on our two linux checks without any guidance as to what the issue might be. No logs or anything is running.

[2021-03-25 15:48] hb0 commented on #2997
@miketimofeev Good to know. Unfortunately, this does not really help me reproducing the errors,
as I still don't know what changed on the Github Actions side which made those error disappear before and appear after.

The only differences I notices between both builds are:
- Runner version: `2.276.1` => `2.277.1`
- OS: `ubuntu-18.04_20201210.0` => `ubuntu-18.04_20210315.1`

[2021-03-25 19:24] jetersen commented on #3010
@al-cheb I wonder if you recreate these VM every time would it not be better to clean the choco `lib` folder after all the install of choco packages is done?

[2021-03-25 19:27] edumserrano commented on #2978
I can confirm it's working. Thank you!

[2021-03-25 20:23] miketimofeev commented on #2997
@hb0 there are a lot of changes since then. Could you take a look at the diff for Ubuntu-18 software list, maybe it will help?
https://github.com/actions/virtual-environments/compare/46df370..be672cb2?short_path=8d528b6#diff-8d528b68ca937dfe5a0194829f0eb2633bc3d7a3105a637ccb534a4da765f7a3

[2021-03-25 21:04] miketimofeev commented on #2784
@dylan-smith could you please pull the latest main to your branch? Sorry for the delay

[2021-03-25 21:58] sebastian-toepfer opened #3031 "mini-kube instable on macos"
**Description**
We use mini-kube to setup our application to run test agains.
To setup mini-kube we use fork from `medyagh/setup-minikube` (fork only has macos support). This action works most time, sometimes the setup failed. After setup we must install/active a ingress. this setp timed out in 5 of 10 runs. Some days we have multiple runs without issues on other we have more runs that failed.

**

[2021-03-26 03:31] OmgImAlexis commented on #2890
Same here, this started around 12 hours ago. I'm now randomly getting the following and our environment tag is gone in the repo settings.

Unable to fetch the information for the environment 'staging' targeted by this job.
--

[2021-03-26 05:25] maxim-lobanov commented on #2890
@lukepighetti @OmgImAlexis , could you please log the separate issue for this problem since it is not related to the initial issue. For investigation, we need links to the pipelines (links will be useful even if repo is private)

[2021-03-26 06:35] al-cheb commented on #3010
If we clean the lib folder we will break choco packages.

[2021-03-26 06:44] jetersen commented on #3010
Right forgot that some packages live in the lib folder 😅

[2021-03-26 07:54] LeonidLapshin commented on #3031
Hey, @sebastian-toepfer !
Thank you for your proposal, we need some time for initial investigation, will back to this ticket soon and keep you updated :)

[2021-03-26 07:56] dingmeng-xue opened #3034 "Segmentation fault (core dumped) on Linux Agent"
**Description**
We hit segmentation fault issue recently on random no matter that we use the latest source code or old source code. We googled it and most of comments point to system level issue. We need your engagement.

https://dev.azure.com/azure-sdk/public/_build/results?buildId=805984&view=logs&j=2f953adc-c56d-55c4-a64a-eab7c4b02235&t=fc7ea605-a507-5208-bc88-3e6a658c906b

**Area for Triage**:

[2021-03-26 08:01] LeonidLapshin commented on #3034
Hey, @dingmeng-xue !
We need some time for investigation and will back with details soon :)
Thank you!

[2021-03-26 08:55] CyrilCermak commented on #2853
@Darleev, thank you very much for your help! If I find out more useful info I will keep you updated as well.

Thanks!

[2021-03-26 10:38] miketimofeev commented on #3034
@dingmeng-xue have you tried Ubuntu-20 image? Is the issue reproduced there?

[2021-03-26 12:26] lukepighetti commented on #2890
Ours was a billing issue, but the big red X didn't inform us of this. There are logs available if you click on the Actions tab which are not available if you view the action status from the PR.

[2021-03-26 20:55] AaronVanGeffen opened #3038 "Workflow fails to download dependencies from NuGet.org"
**Description**
For the OpenLoco project, we gratefully make use of GitHub Actions for our CI. To this end, we set up a workflow for our Windows CI:
https://github.com/OpenLoco/OpenLoco/blob/master/.github/workflows/ci.yml#L18-L59

The Visual Studio project this workflow builds has been set up to depend on a package from NuGet.org:
https://github.com/OpenLoco/OpenLoco/blob/master/src/OpenLoco/open

[2021-03-26 22:52] valfrid-ly opened #3039 "Add oracle client to Microsoft-hosted agents"
**Tool information**
- Tool name: Microsoft-hosted agents
- Tool license: Any
- Add or update? Add
- Desired version: I believe 11g client works with all existing versions of the database
- Approximate size:
- If this is an add request:
  - Brief description of tool: Oracle client with SQL Plus to allow publishing for this database
  - URL for tool's homepage: https://www.oracle.com/database/techn

[2021-03-27 00:32] dingmeng-xue commented on #3034
No yet. Currently, we only use Ubuntu 18 for Linux build. We still hope to stick to that version.

[2021-03-27 13:29] maxim-lobanov commented on #3038
Hello @AaronVanGeffen ,  do you have `nuget.config` file in your repo?
I think it is known issue when you don't have config file.
Could you please try to add simple `nuget.config` like described in the message: https://github.com/actions/setup-dotnet/issues/155#issuecomment-761195782

[2021-03-27 13:44] AaronVanGeffen commented on #3038
Hello @maxim-lobanov, thank you for the suggestion. Indeed, there was no `nuget.config` file in our repository. Previously this worked fine, so I was not aware we would need any. However, adding the config file as you suggested appears to have helped: https://github.com/OpenLoco/OpenLoco/pull/855

[2021-03-27 13:50] maxim-lobanov commented on #3038
Cool, glad to hear that it helped.

Looks like sometimes dotnet doesn't resolve packages from remote when doesn't find packages in local cache.
I think It is not the new issue since based on https://github.com/actions/setup-dotnet/issues/155#issuecomment-761195782, it fails pretty randomly without nuget.config file.

The root cause is still unclear but using `nuget.config` is recommendation from N

[2021-03-27 14:01] krokofant commented on #2867
Now 5.7 is out which also fixes a critical issue about nested bicep files.

[2021-03-27 23:54] AaronVanGeffen commented on #3038
Thank you for the explanation. Just to confirm, CI has been working reliably tonight with the `nuget.config` file in.

[2021-03-28 00:07] LuisEnMarroquin commented on #2994
Hi, I created this repo to show what's happenning:
https://github.com/malteada/ubuntu-github-demo

Job `proposed` is what @dmitry-shibanov asked me to run

[code]

## Job `proposed` logs

[code]

## Job `otherFix`

This can algo be fixed installing globally `@octokit/core`

[code]

## Final result

![image](https://user-images.githubusercontent.com/35376824/112738269-07114180-8f27-11eb-9f5c-0394fb

[2021-03-28 15:33] mahrud opened #3040 "Cannot link with libomp5-10 with clang-10 on ubuntu-20.04"
**Description**
Starting exactly 10 days ago our nightly builds using Clang10 on Ubuntu-20.04 began failing to link with OpenMP despite no other changes being made to our source code. The only difference I found seems to be that starting 20210315.1, `libomp5-11` is installed by default rather than `libomp5-10`, so it is removed when the older version is being installed. However, I couldn't reprodu

[2021-03-28 15:38] mahrud commented on #3040
Ah, actually I was able to reproduce this locally in a docker container with the following steps:
[code]
This probably indicates that the issue is indeed with Ubuntu, and commenting the last line (to use the newer libomp with clang-10) seems to prevent the error, so I'll close this.

[2021-03-28 15:38] #3040 closed

[2021-03-28 23:12] hsununu opened #3041 "Update/Add [tool name]"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [x] Ubu

[2021-03-29 00:40] mahrud commented on #3040
This is apparently related to this Debian issue: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=811283

[2021-03-29 01:18] kode54 commented on #2486
Guess I'll just continue doing builds on my personal machine, and set my CI to only test Intel builds.

[2021-03-29 05:38] #3041 closed

[2021-03-29 06:16] susanadomingos-falck commented on #2968
Hi Staff

1. Will this issue be solved in the new image?
2. Will that new image's deployment start today?

Thank you.

[2021-03-29 06:28] friedow opened #3043 "docker app command is unavailable inside ubuntu 20.04"
**Description**
Even after enabling experimental docker features inside the virtual environment, the `docker app` command stays unavailable. [The docker docs regarding `docker app`](https://docs.docker.com/app/working-with-app/) state that the command requires experimental features to be enabled and a docker version of `19.03` or higher.

**Area for Triage**:
Docker

**Question, Bug, or Feature?**

[2021-03-29 06:36] miketimofeev commented on #3038
@AaronVanGeffen thanks for the confirmation!
I'm going to close the issue but feel free to contact us if you have any concerns.

[2021-03-29 06:54] miketimofeev commented on #3043
Hi @friedow!
I'll take a look at what goes wrong and get back with the results shortly

[2021-03-29 08:13] maxim-lobanov commented on #2968
Hello everyone,
Unfortunately, the new version of VS with fix is not available yet: https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes

[2021-03-29 08:23] dmitry-shibanov commented on #2994
Hello @LuisEnMarroquin . Thank you for your response. I think we can't preinstall missing peer dependencies in image generation because it can correlate with some other npm packages. Besides, we should manually maintain this versions. The issue will be resolved when node 16 will be the default one with npm 7. Npm 7th resolves peer dependencies automatically and the issue will be resolved.

[2021-03-29 11:13] jeevzb commented on #2968
Hi @maxim-lobanov , Any ETA for the issue. couple of hour pipelines is running into the issue and we are doing lot of manual builds

[2021-03-29 11:18] naikrovek commented on #2693
I'm OK with Chocolatey, as long as it can be proven to be reasonably secure to security people in the enterprise.

What I'm not OK with is the builder script continually failing in the Chocolatey stages somewhere, about 80% of the time.  I haven't been able to build an image in weeks without manually removing all Chocolatey steps, because one of them, somewhere, always seems to fail.  Checksum won

[2021-03-29 11:33] edgariscoding commented on #2968
Same issue here, we’ve had to halt our deployments to production and we can’t even merge code into the main branches because the PR require a successful build before they can be completed.

[2021-03-29 11:53] Phil-Be commented on #2968
Same here, an ETA would be appreciated.

[2021-03-29 12:50] miketimofeev commented on #2693
@naikrovek we're constantly improving our build scripts, please report any problems you see by creating an issue.
The latest problem with checksum was fixed here https://github.com/actions/virtual-environments/pull/3035

[2021-03-29 14:16] naikrovek commented on #2693
I'm not sure what you'll be able to do to counter a Choco installer returning something non-zero but ok.  I'll file an issue next time I encounter this.  It's already failed once today so I'll try again tomorrow.

[2021-03-29 15:14] miketimofeev commented on #2693
@naikrovek we can consider getting rid of choco for some tools, thanks!

[2021-03-29 15:24] naikrovek commented on #2693
Before I forget, let me express a strong feeling of gratitude for the existence of this repo and it's ongoing maintenance.  You are saving a lot of people a lot of time maintaining their own solution, and even though most of us are silent, we are all thankful and appreciate the time and effort that goes into this.

[2021-03-29 16:00] Darleev commented on #3043
Hello @friedow,
Did you try to enable this feature locally? I tried to do this on Ubuntu18, Ubuntu20 machines, but with no luck. According to `docker version` command, all experimental features are enabled for CLI and Server but the command still not available for use. Also, I see a lack of documentation in official docker documentation, which does not shed light on this.
Could you please provide

[2021-03-29 16:06] piyaphart opened #3049 "Update/Add [tool name]"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubu

[2021-03-29 16:07] #3049 closed

[2021-03-29 16:09] piyaphart opened #3050 "Update/Add [tool name]"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] Ubuntu 16.04
- [x] Ubuntu 18.04
- [x] Ubu

[2021-03-29 16:10] #3050 closed

[2021-03-29 16:45] Darleev commented on #3043
Finally, I've found how to enable the feature:
1) It is possible to auto-enable the feature in Docker desktop, just by setting up the latest updates and enable experimental mode in the configuration. It's a pretty easy way to achieve a result.
2) The second part is about docker which was installed using apt/brew options, the experimental feature is not enough for such cases, and we need to install

[2021-03-29 20:29] dustpan28645 opened #3052 "Let’s go"
**Breaking changes**

**Target date**

**The motivation for the changes**

**Possible impact**

**Virtual environments affected**
- [x] Ubuntu 16.04
- [x] Ubuntu 18.04
- [x] Ubuntu 20.04
- [x] macOS 10.13
- [x] macOS 10.14
- [x] macOS 10.15
- [x] macOS 11.0
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Mitigation ways**

[2021-03-29 20:30] dustpan28645 commented on #3052
To God be the Glory

[2021-03-29 20:57] greenEkatherine commented on #2741
I've got that error again https://dev.azure.com/warpedomen/warpedomen/_build/results?buildId=363&view=logs&j=6a6103bf-e1bd-5dbb-398f-caac80b8eea9&t=9e934b8a-9b7e-528c-f2fb-b9d388be27c2&l=12
@miketimofeev @dsame could you please re-open the issue?

[2021-03-29 21:08] miketimofeev commented on #2741
@greenEkatherine sorry to hear this. We'll take a look

[2021-03-29 21:14] #3052 closed

[2021-03-30 04:56] AlenaSviridenko commented on #1820
Hey,

Finally, guide on how to install certificates to the image is ready, check it out https://docs.github.com/en/actions/guides/installing-an-apple-certificate-on-macos-runners-for-xcode-development

Thank you for your patience!

[2021-03-30 05:51] dsame commented on #3034
@dingmeng-xue

I was able to get core dump and investigate it.

It looks the cause of the segfault is some memory block is freed more than once. There're very few chances its origin in the image or .net core.

The backtrace indicates the exception happens in `/usr/lib/x86_64-linux-gnu/libcrypto.so.1.1` which in turn called from `/usr/share/dotnet/shared/Microsoft.NETCore.App/5.0.4/libcoreclr.so`

[2021-03-30 05:58] ashok-arora opened #3053 "Add clang-format"
**Tool information**
- Tool name: clang-format
- Tool license:
- Add or update? Add
- Desired version: The latest version
- Approximate size:
- If this is an add request:
  - Brief description of tool: It is a tool to format C++ code against a supplied set of rules.
  - URL for tool's homepage: https://clang.llvm.org/docs/ClangFormat.html
  - Provide a basic test case to validate the tool's functi

[2021-03-30 06:01] dsame commented on #2741
The problem is different now

Instead of "System UI isn't responding" there's "test timed out after 30000 milliseconds"

It can be caused either app logic changes or hosts performance problem.
@greenEkatherine  i do not see the output of `ls /usr/local/opt/runner/settings/instancename` anymore, can you please add it once again in order we can investigate possible performance problem.

[2021-03-30 06:28] tusharb86 commented on #2963
+1 I would love to see debian:10 in the cached images on the host agent. I am also willing to submit a PR to get things updated. Thanks!

[2021-03-30 06:33] miketimofeev commented on #3053
Hi @ashok-arora!
We install clang-format as a part of clang installation here
https://github.com/actions/virtual-environments/blob/826fed960459993d41c2f9310d220b7cf2c015e8/images/linux/scripts/installers/clang.sh#L19
Has the process changed and we need to install it in a different way?

[2021-03-30 07:48] nikita-bykov commented on #2889
@JuanCrg90, I closed the issue, but if you have any questions feel free to reopen it.

[2021-03-30 07:48] #2889 closed

[2021-03-30 08:16] greenEkatherine commented on #2741
@dsame this error message wasn't in log it was on the screen and I still see it on the screencast from the job with all failed tests i.e.

https://user-images.githubusercontent.com/19972657/112956405-baa14e00-9140-11eb-96df-3d9f1776a057.mp4

`instancename` also is still there at the top of `Run Android Emulator` step. From that run the issue was on CUS1PMC1015G1032-0018

[2021-03-30 08:39] friedow commented on #3043
I've just tested this and had a github action build my docker app successfully 🙌! Thanks so much for investigating and solving this.

Time to polish these github actions 😄💪.

[2021-03-30 08:39] #3043 closed

[2021-03-30 08:49] AlenaSviridenko commented on #3022
Hi @manongjohn,
we need some time for initial investigation, we will get back with the results once we have something

[2021-03-30 09:09] dsame commented on #2741
@greenEkatherine while we are checking the environment can you increase the timeout to 60sec to ensure with we face performance issue

[2021-03-30 10:15] miketimofeev commented on #2997
@hb0 did this information help you?

[2021-03-30 10:16] miketimofeev commented on #3034
@dingmeng-xue could you please try to use another .net core version? Does it help?

[2021-03-30 11:58] greenEkatherine commented on #2741
done

[2021-03-30 12:31] deivid-rodriguez opened #3060 "Browser testing issues since latest 20.04 update"
**Description**

Since https://github.com/actions/virtual-environments/releases/tag/ubuntu20%2F20210318.0, our CI became flaky. Previously we had ~10 jobs that were consistently green. After the upgrade 1/2 jobs fail most of the times.

**Area for Triage**:  Testing and code coverage

**Question, Bug, or Feature?**:  Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [x

[2021-03-30 12:52] miketimofeev commented on #3060
Hi @deivid-rodriguez and thanks for such kind words about the CI 😃
Could you please provide a few links to the particular runs with issues in https://github.com/activeadmin/activeadmin?

[2021-03-30 13:04] deivid-rodriguez commented on #3060
Sure, all failures here should be due to this issue: https://github.com/activeadmin/activeadmin/actions?page=2.

The last ones include some changes I made to investigate the errors. Due to the tool we're using for parallelizing our cucumber scenarios, the effect a very slow executions resulting in timeouts with no error information. With those changes I enabled sequential execution of our tests, a

[2021-03-30 13:10] catthehacker opened #3061 "SoftwareReport has incorrect Erlang version, Erlang Pester test is stuck"
**Description**
SoftwareReport has incorrect Erlang version and test for Erlang is stuck.

**Area for Triage**: Erlang / Elixir

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [x] Ubuntu 16.04
- [x] Ubuntu 18.04
- [x] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Image version**
https://github.com/actions/virtual

[2021-03-30 13:15] miketimofeev commented on #3061
@catthehacker thanks for reporting and the contribution!

[2021-03-30 13:34] miketimofeev commented on #3060
@deivid-rodriguez thanks, it would also be great if you could find the run when the issue appeared for the first time

[2021-03-30 13:57] I-Cat commented on #2968
The issue is here  [ C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\amd64\msbuild.exe"  ]
see the
amd64

Windows is x32  x64 x86
Windows Phone is amd64

[2021-03-30 14:20] miketimofeev commented on #3060
@deivid-rodriguez thanks for the links! Is it possible to create a minimal repro because running the whole workflow every time to get the issue might be overkill?

[2021-03-30 16:59] dmitry-shibanov commented on #3031
Hello @sebastian-toepfer. I tried to reproduce your issue but unsuccessful . Could you please try to use the latest version of `minikube 1.18.1`.

[2021-03-30 17:08] natescherer opened #3064 "TMPDIR environment variable not set on ubuntu-latest"
**Description**
Hello, it looks like the TMPDIR variable is not set to anything on ubuntu-latest. Attempting to use it in bash or PowerShell shows that it is empty.

Here's a bash printenv showing it's missing:

[code]

**Area for Triage**:
Scripting and command line

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [x] Ubuntu 20.04
- [

[2021-03-30 17:23] ashok-arora commented on #3053
Hello @miketimofeev!
Thanks for the quick response!

Oh right, it does come pre-installed on Github's Ubuntu 20.04.

My first instinct was to search it in this README file
https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
and I installed it manually since it wasn't there.

Would it be possible to add `clang-format` to that README file?

[2021-03-30 18:59] manongjohn commented on #3022
I don't build that particular library (libmypaint) using ccache. The scripts to configure and make libmypaint don't support using ccache very well so I don't even force using like I have to do with other build scripts in the same run.

[2021-03-30 19:00] manongjohn commented on #3022
Oh.  If should also mention, even before i introduced ccache, i was having the same issue.

[2021-03-30 19:00] bobbrow opened #3065 "Circular symlink in AppData\Local folder (windows-2019)"
**Description**
I'm encountering an issue trying to onboard CI for Windows for our CMake Tools extension for VS Code. I've been trying to work around it, but haven't been successful yet, so I decided to open an issue for it.  There is a file watcher that ends up trying to index the %LocalAppData% folder during the test (I haven't figured out why yet since it doesn't appear to be our extension's fi

[2021-03-30 20:21] miketimofeev commented on #2968
Good news! The new version 16.9.3 has been released
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#16.9.3
We're going to start new image deployment tomorrow and plan to finish on Monday the 5th

[2021-03-30 21:09] miketimofeev commented on #3053
@ashok-arora yes, I think we need to provide information about all additional clang tools that are installed along with the clang. Thanks for your suggestion!

[2021-03-31 00:47] dingmeng-xue commented on #3034
Sure. We plan to try another version of .net core.

[2021-03-31 05:14] sebastian-toepfer commented on #3031
Hello @dmitry-shibanov, had update mini-kube to 1.18.1 short after open this issue, but it doesn't change anything. Yeah the issue is tricky, sometimes it doesn't occured. Sometime many times in a row. Have you a tip to enable some tracing logs to help you to dig deeper into this?

[2021-03-31 05:51] dsame commented on #3022
@manongjohn can you please clarify which binary segfaults  ?

[2021-03-31 06:31] al-cheb commented on #3064
Hello, @natescherer
TMPDIR is not set by default for Ubuntu. To set TMPDIR env variable you may use:
`export TMPDIR=/new/path`
or at a build level - https://docs.github.com/en/actions/reference/environment-variables
[code]

![image](https://user-images.githubusercontent.com/47745270/113100249-d4579980-9203-11eb-86a6-c5dbb8310482.png)

[2021-03-31 06:49] miketimofeev commented on #3065
Hi @bobbrow!
We will take a look at it.

[2021-03-31 09:28] hb0 commented on #2997
@miketimofeev Well,
* I checked the versions in the `Android` section with my local versions but was not able to reproduce the Lint errors locally.
* I also search again for a `lint.xml` on my computer or `lintOptions` in the gradle build files.
* When I execute `Android Studio > Analysis > Code Inspections` I get 15 errors but not the ones shown above (which are 28 anyways).
* **So I still only g

[2021-03-31 09:45] miketimofeev commented on #3061
@catthehacker thanks for your contribution!
The new image will be deployed next week

[2021-03-31 10:28] manongjohn commented on #3022
Tahoma2D.AppImage

[2021-03-31 10:30] AlexanderRyazanov opened #3069 "Image Version: 20210330.1 pip install does not work"
**Description**
A clear and concise description of what the bug is, and why you consider it to be a bug.
Script contents:
python -m pip install --upgrade pip setuptools wheel psycopg2
========================== Starting Command Output ===========================
##[debug]which 'bash'
##[debug]found: '/bin/bash'
##[debug]which '/bin/bash'
##[debug]found: '/bin/bash'
##[debug]/bin/bash arg: --noprof

[2021-03-31 10:54] miketimofeev commented on #3069
Hi @AlexanderRyazanov!
It looks like the `setuptools` module is not installed for python2 on Ubuntu 18 image for some reason. Could you please add the following step as a workaround?
`pip install setuptools`

I'll take a look at why we don't have preinstalled `setuptools` module anymore.

[2021-03-31 11:01] AlenaSviridenko commented on #2820
Hi,
@jsoref' description is quite accurate, we pre-install packages in the standard way, without additional management unless it is something critical.
As for the documentation update, we believe it should remain unchanged. We document things that can behave in a non-standard way, or when behavior is different between different OS versions (like the situation with Mono service). If something works

[2021-03-31 11:01] #2820 closed

[2021-03-31 11:10] miketimofeev commented on #3069
@AlexanderRyazanov I've found the root cause, python-setuptools package was installed along with the ansible tool, but we changed the installation method and this package is absent on Ubuntu18 now.
I'd like to suggest you use https://github.com/actions/setup-python task as the most convenient way to use python in GitHub actions. In this way, the image changes won't affect you in the future

[2021-03-31 11:36] deivid-rodriguez commented on #3060
Sure, sorry for the delay, let me try do that now!

[2021-03-31 11:59] AlexanderRyazanov commented on #3069
@miketimofeev thank you, adding "use python version" task to a pipeline fixed the issue

[2021-03-31 13:17] deivid-rodriguez commented on #3060
Well, I don't seem to repro this anymore on ubuntu 20.04, so whatever the problem was, it seems not really related to the upgrade I was pointing to.

Sorry for the false alarm and thanks for your help!

[2021-03-31 13:17] #3060 closed

[2021-03-31 13:51] jsoref commented on #2820
@AlenaSviridenko: I was suggesting you could offer information about how to find port consumers on macOS and Windows as well since @miketimofeev provided commands for all three. Your users aren't going to be experts in all platforms, they could easily be Windows users who are using GitHub to cross build for macOS and Linux (or Linux users cross building for macOS and Windows).

That said. I'll tak

[2021-03-31 15:03] miketimofeev commented on #3060
@deivid-rodriguez thanks for the update! Feel free to reopen the issue if it reoccurs

[2021-03-31 15:07] dmitry-shibanov commented on #3031
Hello @sebastian-toepfer. I'm not really sure that the issue is related to images itself, because I saw some similar [issues](https://github.com/kubernetes/minikube/issues?q=is%3Aissue+Exiting+due+to+MK_ENABLE%3A+run+callbacks%3A+running+callbacks%3A+%5Bwaiting+for+app.kubernetes.io%2Fname%3Dingress-nginx+pods%3A+timed+out+waiting+for+the+condition%5D+is%3Aopen) in minikube repository. I think It'

[2021-03-31 15:45] slime-uk commented on #507
Similar to this, I'm building this today, on a private Azure vnet in Central US and getting HTTP error 429 and it gave up after 20 tries aborting my image after some 3.5 hours :(  This was downloading Microsoft.DataTools.AnalysisServices.vsix as below:

[code]

[2021-03-31 16:03] dibir-magomedsaygitov commented on #2952
Hello, @marblenix. Updated Homebrew should be available on `macOS 10.15` as well. I'm going to close this issue. In case of any questions feel free to contact us.

[2021-03-31 16:19] miketimofeev commented on #507
@slime-uk Unfortunately we've seen this many times, but usually retry helped us in such cases

[2021-03-31 16:22] dibir-magomedsaygitov commented on #2952
Sorry for false alert, deployment of `macOS 10.15` is not finished yet. I'll reopen the issue.

[2021-03-31 16:27] miketimofeev commented on #3069
@AlexanderRyazanov thanks for the update! We've added the module back anyway just in case and will deploy the new image next week

[2021-03-31 16:29] slime-uk commented on #507
@miketimofeev

Thanks - starting a new build now - let's see what happens in about 3.5 hrs time!  Can I ask, does a packer [R] retry step ever work for you?  It never seems to for me - if I get a failure I always have to end up starting from the start!  Just curious.  Thanks!

[2021-03-31 16:45] marblenix commented on #2952
Thanks for keeping us up-to-date

[2021-03-31 16:48] bobbrow commented on #3065
Actually, I may have successfully worked around it with https://github.com/microsoft/vscode-cmake-tools/commit/79c9ac8a2894e6fa0a704d3b362a2d0f38c4e9f2.  I'm seeing the tests proceed past this issue now.

[2021-03-31 18:35] natescherer commented on #3064
Thanks for responding! I'm actually using Azure Pipelines and not GitHub Actions. I'm pretty sure that TMPDIR used to be set on Ubuntu Azure Pipelines hosted VMs, see https://github.com/microsoft/azure-pipelines-agent/pull/824

Unless I'm totally mistaken (always a possibility), I've made use of this in Ubuntu on Azure Pipelines in the past.

I can totally just rewrite to use /tmp on Ubuntu but it

[2021-04-01 01:23] ViRb3 opened #3073 "Persistent networking issue breaks all file transfers"
**Description**
I run my personal server that I use to store various building artifacts. The internet uplink is 200 Mbit/s, so it is definitely not slow. When I try to download any file from my server on one of your **macOS** machines, the speed starts really well (upwards of 7MB/s), but as soon as it hits ~70-100MB downloaded, the speed drops down to exactly 19.6kb/s. After a few minutes the conn

[2021-04-01 06:36] miketimofeev commented on #507
@slime-uk sorry to hear that. Could you please create an issue so we can investigate it further?

[2021-04-01 06:38] miketimofeev commented on #3073
Hi @ViRb3!
We use different cloud providers so the very first question is — does the issue happens all the time or sometimes download finishes without any issues?

[2021-04-01 07:48] slime-uk opened #3074 "HTTP 429 errors when trying to reproduce the Windows 2019 image"
**Description**

For various reasons we are generating our own copy of the Windows Server 2019 image. We have found the process to be flaky and our build of the image often fails at downloading from visual studio marketplace with HTTP 429 error.  After some 3.5 hrs into the build, we try again and it still fails on a subsequent attempt, again after some 3.5 hrs.  I appreciate there is a retry step

[2021-04-01 08:26] #2997 closed

[2021-04-01 09:00] miketimofeev commented on #3074
@slime-uk thanks for bringing this up, we will take a look

[2021-04-01 09:43] MaksimZhukov commented on #2530
Hello @tomesendam! Is it still actual for you to have LLVM preinstalled on Windows images?

[2021-04-01 09:50] vsafonkin commented on #3065
Hi @bobbrow, as I see, this symlink in `AppData/Local` is default part on Windows for backwards compatibility: https://answers.microsoft.com/en-us/windows/forum/windows_7-files/why-are-there-multiple-layers-of-application-data/4ec2c92c-a691-432b-b86a-c76d2b9a3faa

I believe, you can just remove this symlink in runtime.

[2021-04-01 11:07] ViRb3 commented on #3073
Hello, thanks a lot for the prompt response. Indeed, the issue does not always occur - sometimes the download will complete without absolutely any problems. I'd say the success rate of Semaphore is about 1 in 20, and while I haven't extensively measured the success rate of Github, it seems to be more about 1 in 3 (30%).

[2021-04-01 11:13] miketimofeev commented on #3073
@ViRb3 thanks! That explains a lot. Could you please add the following step to your pipeline so we can correlate the issue with the particular environments?
`ls /usr/local/opt/runner/settings/instancename` — the output will be the instance name

[2021-04-01 11:32] ViRb3 commented on #3073
No problem at all! I added the line but the action is taking a long time to start. I will let you know when it runs.

[2021-04-01 11:43] Darleev commented on #3073
@ViRb3 If it is suitable for you, you can add me as a contributor to the test repo and I'll reproduce the issue by myself and collect all required data accordingly.
I guess, push changes to the repo will be enough for triggering GitHub actions workflow and reproduce an error.

[2021-04-01 11:46] ViRb3 commented on #3073
@Darleev I have invited you. The action has been queuing for over 20 minutes and still hasn't started, apologies for the delay.

[2021-04-01 12:22] Darleev commented on #3073
@ViRb3 I'm afraid to affect the remote server by GitHub actions downloads. How many simultaneous processes can I call to the remote server? I need to collect statistics and maybe it will be required to start about 30-50 runs.

[2021-04-01 12:25] speedym opened #3078 "Android build breakage with ubuntu-20.04 (version: 20210330.1)"
**Description**
After yesterday's upgrade to 20210330.1 all our Android builds have started failing with java.lang.NullPointerException.

The error produced is the following (very unhelpful):
[code]
**Area for Triage**:

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [x] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Se

[2021-04-01 12:30] ViRb3 commented on #3073
@Darleev You can run as much as you want/the server can handle, I am counting it in maintenance mode today. It is a Raspberry Pi 4 with 200 Mbit uplink FWIW.

[2021-04-01 12:45] miketimofeev commented on #3078
Hi @speedym!
Could you please provide a link to the failed run and, if possible, minimal repro steps — it will help us sort out the problem faster.

[2021-04-01 12:51] speedym commented on #3078
@miketimofeev I have tried a downgrading a few packages manually, and it turned out that the upgrade from CMake 3.19.7 -> CMake 3.20.0 broke our builds.

I think the best way forward for us is to use the following action to downgrade CMake as a workaround:
https://github.com/marketplace/actions/actions-setup-cmake ?

If CMake 3.20.0 causes more breakage to your users, maybe you can consider rollin

[2021-04-01 13:07] ViRb3 commented on #3073
@Darleev I have some additional debug information I would like to share with you, but it contains private identifiers. Can I e-mail you or message you in any private way? I would take the repository private and share in the README, but I'm afraid that I'm running somewhat low on private minutes. Thanks.

[2021-04-01 13:25] mrustl opened #3079 "GitHub Actions has encountered an internal error when running your job."
**Description**
GitHub Actions has encountered an internal error when running your job:
https://github.com/KWB-R/dwc.ar4gw/actions/runs/708372505
https://github.com/KWB-R/kwb.nextcloud/actions/runs/708144823

**Area for Triage**:

Deployment/Release

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [

[2021-04-01 13:50] miketimofeev commented on #3079
Hey @mrustl! We're experiencing service degradation at the moment, sorry for the inconvenience, it should be resolved shortly

[2021-04-01 13:54] dibir-magomedsaygitov commented on #2952
Hello, @marblenix. `macOS 10.15` deployment is finally finished. I'm going to close this issue. In case of any questions feel free to contact us.

[2021-04-01 13:54] maxim-lobanov commented on #3078
Thank you for sharing investigation results @speedym ,
Yes, you can use this action to downgrade cmake in runtime.

Usually, we follow strategy to install only latest version of tool to images and don't downgrade it. But yes, we definitely will monitor further impact to see how many customers are affected by this issue.

[2021-04-01 13:55] #2952 closed

[2021-04-01 13:56] al-cheb commented on #3001
@ssbarnea , The new image with ansible from pipx has been deployed.

[2021-04-01 14:03] GoodManWEN commented on #841
All `macos-latest` run into `This check failed` at April 1st.

[2021-04-01 14:06] RJacksonm1 commented on #3079
One of my projects has been suffering from this for about 3 hours. Please can y'all make sure to update your status page?  https://www.githubstatus.com/

[2021-04-01 14:09] k-hench commented on #841
same here.... :grimacing:

[2021-04-01 14:16] miketimofeev commented on #841
@GoodManWEN @k-hench We're experiencing service degradation at the moment, sorry for the inconvenience, it should be resolved shortly

[2021-04-01 14:25] miketimofeev commented on #3079
Status page updated https://www.githubstatus.com/incidents/fjrtcnfz2cpd

[2021-04-01 14:27] urfin78 opened #3080 "buildah isn't working in ubuntu-20.04 (version: 20210330.1)"
**Description**

The latest 1.20.0 release of buildah isn't working inside the virtual environment from the github-actions. Maybe it's related to this
buildah issue: https://github.com/containers/buildah/issues/3120

**Area for Triage**:
Containers

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [x] Ubuntu 20.04
- [ ] macOS 10.15
- [

[2021-04-01 15:14] Darleev commented on #3073
@ViRb3 May I contact you using e-mail in your profile to clarify all details?

[2021-04-01 15:19] miketimofeev commented on #3080
Hi @urfin78!
Could you please try the following workaround to build the previous buildah version in runtime? (it takes about 1.5-2min)
[code]

[2021-04-01 15:27] urfin78 commented on #3080
Building and using the old version on the same runner seems to work:
https://github.com/urfin78/playground/runs/2247288346?check_suite_focus=true

[2021-04-01 15:30] miketimofeev commented on #2944
@yutannihilation the new images were deployed! I'm going to close the issue, thanks again for your suggestion!

[2021-04-01 15:30] #2944 closed

[2021-04-01 15:31] miketimofeev commented on #2819
@rurban we have removed the packages that caused the issue, everything should work fine now, thanks!

[2021-04-01 15:31] #2819 closed

[2021-04-01 15:32] miketimofeev commented on #2995
@drewcassidy the image has been deployed! I'm going to close the issue but please feel free to contact us if you have any concerns.
Thank you!

[2021-04-01 15:32] #2995 closed

[2021-04-01 15:33] miketimofeev commented on #2950
The new images were deployed!

[2021-04-01 15:33] #2950 closed

[2021-04-01 15:34] miketimofeev commented on #2954
@shibataka000 we have deployed the new images. Could you please check the behavior?

[2021-04-01 15:37] miketimofeev commented on #3080
@urfin78 great, let's wait for an answer in https://github.com/containers/buildah/issues/3120

[2021-04-01 15:38] tahirmt commented on #3079
Still facing the same issue on macos-10.15

[2021-04-01 15:47] yutannihilation commented on #2944
:tada:

[2021-04-01 17:04] speedym commented on #3078
All clear, thanks for your support! :)

[2021-04-01 17:04] #3078 closed

[2021-04-01 17:08] dsame commented on #3022
@manongjohn
i reviewed compiler options for both "gcc only" and "gcc+clang" builds and they are very same.
Moreover i was not able to reproduce segfault by running the Tahoma2D.AppImage in the pipeline https://github.com/dsame/tahoma2d/runs/2246340007?check_suite_focus=true

In order to idntify the reason of the segfault can you please send us a postmortem core dump of the failed binary?

the step

[2021-04-01 17:10] ViRb3 commented on #3073
@Darleev I'll be more than happy :)

[2021-04-01 17:49] manongjohn commented on #3022
Here is a zip containing the coredump and a log of the command/results of the gdb backtrace.

Since your command didn't provide much output, I executed the app through gdb to get the backtrace

[coredump.zip](https://github.com/actions/virtual-environments/files/6245455/coredump.zip)

[2021-04-01 17:53] slime-uk commented on #3074
Just to let you know, I tried again today and on the 4th attempt, managed to get past this blocker.  25% success rate is not fantastic - so anything you can do to make this more robust would be appreciated!  The error mentions reading the header value for 429 errors and waiting for specified amounts before retry - or is there a backup location for the file if error 429 20 times?

[2021-04-01 18:04] derekbruening commented on #2950
This change seems to have broken 32-bit building.  We install `g++-multilib` and it is suddenly failing, starting ~3 hours ago, with build errors where it finds the wrong libraries, which seems like a toolchain installation problem:

https://github.com/DynamoRIO/dynamorio/pull/4829/checks?check_run_id=2247626216
[code]

[2021-04-01 18:07] miketimofeev commented on #3074
@slime-uk no, there is no backup location. We're trying to engage package owners to help with the investigation

[2021-04-01 18:54] miketimofeev commented on #2950
@derekbruening looks like it's not related to the deprecation. I've tried to change CMake version to 3.19.7 using the following steps and the run passed:
[code]
Related issue https://github.com/actions/virtual-environments/issues/3078

[2021-04-01 19:23] derekbruening commented on #2950
Thank you, @miketimofeev!  That indeed seems to fix it, so it does seem to be cmake 3.20.

[2021-04-01 20:21] hutson opened #3082 "Ubuntu 16.04 LTS Policy"
Ubuntu 16.04 LTS reaches end-of-life this month, April 2021.

Does GitHub use a base image that comes with a Extended Security Maintenance contract with Canonical, thereby extending security patches until 2024?

[2021-04-01 22:25] Milo123459 commented on #3079
Also on Ubuntu latest 🙃

[2021-04-01 22:27] mrustl commented on #3079
Worked a few hours but now service is degraded again.
Github already investigates: https://www.githubstatus.com/incidents/fwtx9db6hz2y

[2021-04-01 23:51] drewcassidy commented on #2995
nope, everything seems to be working fine now, with the exception of my own code 😁

[2021-04-02 00:51] halx99 commented on #1691
This issue come back again: https://github.com/yasio/yasio/actions/runs/708279970

[2021-04-02 03:55] csm10495 commented on #3079
Still hitting this now in macos-latest. It stays stuck on
[code]

then eventually errors on timeout.

[2021-04-02 03:59] chenbohua3 opened #3084 "Can I build images in this repo locally"
This may be helpful for debugging purpose when i need to construct new images based on images in this repo.

[2021-04-02 05:15] dg0yt opened #3085 "C:\shells\msys2bash.cmd fails due to BOM"
**Description**
In the Windows images, there is a file `C:\shells\msys2bash.cmd`, probably created from https://github.com/actions/virtual-environments/blob/main/images/win/scripts/Installers/Configure-Shell.ps1. It is meant to run a command in a MSYS2 bash. This fails to run, probably due to a UTF BOM at the start of the CMD file:
[code]

The same CMD file created manually without BOM works.

**A

[2021-04-02 06:11] miketimofeev commented on #3085
Hi @dg0yt! Thanks for raising this issue since we were not aware of the problem.
We will have a look and make a fix.

[2021-04-02 06:22] al-cheb commented on #3084
Hello, @chenbohua3
You can build images loccaly - https://github.com/actions/virtual-environments/issues/931#issue-623549762

[2021-04-02 06:29] miketimofeev commented on #3084
Hi @chenbohua3!
As @al-cheb mentioned a few solutions are described in the previous issue.
I'm going to close this one but please feel free to ask additional questions in the discussions https://github.com/actions/virtual-environments/discussions — it's more convenient to use them for such topics.
Thank you!

[2021-04-02 06:29] #3084 closed

[2021-04-02 06:39] sidverma32 commented on #70
check this answe: https://stackoverflow.com/questions/38558989/node-js-heap-out-of-memory/66914674#66914674

[2021-04-02 06:42] al-cheb commented on #3085
Hello, @dg0yt
Thank you for mention about the issue. It will be fixed - https://github.com/actions/virtual-environments/pull/3086

[code]

![image](https://user-images.githubusercontent.com/47745270/113388913-c0dd3780-9397-11eb-83c8-a851803e1647.png)

[2021-04-02 07:21] al-cheb commented on #3010
Close as external.

[2021-04-02 07:21] #3010 closed

[2021-04-02 07:33] dg0yt commented on #3085
Thanks! From a long journey to using vcpkg for native MSYS2 builds...

[2021-04-02 07:40] rokups commented on #3038
I bumped into same issue. While workaround does work i noticed that PATH printed by `setup-dotnet` action differs on failing and succeeding builds. Failing builds have `C:\hostedtoolcache\windows\Java_Adopt_jdk\8.0.282+8\x64\bin` in the `PATH` and succeeding builds have `C:\Program Files\Java\jdk8u282-b08\bin`. I suspect not all build workers use same image even if all of them use `windows-latest`

[2021-04-02 07:57] AlenaSviridenko commented on #3082
Hi @hutson,
GitHub doesn't have such a contract, so we started preparing a plan for Ubuntu 16.04 retirement. Thanks for raising up this question.

[2021-04-02 08:24] maxim-lobanov commented on #2693
Closing the issue since initial question was answered above: https://github.com/actions/virtual-environments/issues/2693#issuecomment-779114218
Please let us know if you have any additional thoughts or questions.

[2021-04-02 08:24] #2693 closed

[2021-04-02 08:25] miketimofeev commented on #3038
@rokups it takes 3-4 days to propagate the new image (with Java in the hostedtoolcache directory) to all the environments. We're going to finish the deployment on Monday

[2021-04-02 08:28] maxim-lobanov commented on #2924
Just an update, we are working with docs team on updating GH documentation.

[2021-04-02 09:01] drewdavies commented on #3001
In switching from `apt` to `pipx`, dependencies like `boto3` and `botocore` appear to become inaccessible to Ansible. Eg:
[code]
I was able to resolve my range of broken workflows, by injecting those two packages into the Ansible virtual environment via an additional step:
[code]

[2021-04-02 11:39] miketimofeev commented on #3053
@ashok-arora we've added Clang-format to the software report generator! The new docs will be available along with the new image next week

[2021-04-02 13:32] maxim-lobanov commented on #2960
Hello @toddwalstad-eaton , thank you for proposal.
Considering pretty quick installation in runtime we wouldn't like to bake this tool into the images due to maintenance concerns

[2021-04-02 13:32] #2960 closed

[2021-04-02 13:33] maxim-lobanov commented on #2971
Hello , thank you for proposal.
Unfortunately, we wouldn't like to bake this tool into the images. Please consider installation in runtime like shared above

[2021-04-02 13:33] #2971 closed

[2021-04-02 13:57] AlenaSviridenko commented on #2986
Hi @jonmikeli,
unfortunately, we are unable to add Linux ARM 64 images due to 2 reasons:
1. We host our images in Azure, and it doesn't support ARM 64 architecture
2. Currently, we don't have plans to add more images now due to maintenance and possible segmentation concerns. Our current focus is on stabilizing and improving existing images. Please, consider using [self-hosted runners ](https://doc

[2021-04-02 13:57] #2986 closed

[2021-04-02 14:57] AlenaSviridenko commented on #2999
Hi @AkihiroSuda,
until we don't have a defined plan for macOS 11 support, we'd rather not to add anything new to it, except critical software like Xcode, we only update and support  what we have now on this image.
These tools can be installed from Homebrew pretty easy in runtime:
1. `brew install --cask vagrant` - takes 30 seconds
2. `brew install --cask virtualbox` - takes 40 seconds.
Also, there

[2021-04-02 14:57] #2999 closed

[2021-04-02 15:08] AlenaSviridenko commented on #3004
Hi @NinjaCheetah,
given the pretty quick installation time and tool popularity, we'd rather not to add to the image due to maintenance concerns, please, keep installing it in runtime.

I am closing this issue. Feel free to create a new one if any other help needed.

[2021-04-02 15:08] #3004 closed

[2021-04-02 15:12] AlenaSviridenko commented on #3039
Hi @valfrid-ly,
unfortunately, we cannot pre-install Oracle products due to legal issues.

I am closing this issue. Please, feel free to create a new one if any other help needed. Thanks.

[2021-04-02 15:12] #3039 closed

[2021-04-02 16:15] ssbarnea commented on #3001
Yes, that is the price we have to pay for using pipx, I am aware of it. Mainly what pipx does is that it hides the management of the virtualenv used for installing these commands. Still, when you want to add extra dependencies, you need to do it like this.

[2021-04-03 02:09] shibataka000 commented on #2954
Thank you for your deployment! My workflow in image version [20210330.1](https://github.com/actions/virtual-environments/releases/tag/ubuntu20%2F20210330.1) works as I expected. You can see its result [here](https://github.com/shibataka000/github-actions-issue-2826/runs/2257806660).

[2021-04-03 11:50] kpfleming commented on #3080
Same problem for me, the workaround posted above works in my workflows.

[2021-04-04 01:43] mont1985 opened #3089 "Update/Add [tool v29]"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubu

[2021-04-04 06:30] strager commented on #3079
I think this issue is still happening. macOS jobs for my project are failing. Example failing workflow run: https://github.com/quick-lint/quick-lint-js/runs/2262617164

[2021-04-04 09:19] #3089 closed

[2021-04-04 16:04] elgohr opened #3090 "Experimental Docker inside action"
**Description**
I'm trying to enable experimental Docker inside an action.
Generally https://github.com/actions/virtual-environments/issues/368 was a good hint.
Nevertheless it looks like that doesn't work when not using `run` directly.

Example:
[code]

As shown in https://github.com/elgohr/actions-test/runs/2264996919?check_suite_focus=true , the `Plain job` executes fine; where `In with` is not

[2021-04-04 20:13] GuevaraMarius commented on #841
Same here

[2021-04-04 20:13] GuevaraMarius commented on #841
Same here

[2021-04-04 21:23] miketimofeev commented on #3080
@urfin78 @kpfleming this workaround should be much faster
https://github.com/redhat-actions/buildah-build/issues/45#issuecomment-812043531

[2021-04-04 21:35] miketimofeev commented on #2954
@shibataka000 great, thanks for the confirmation!
I'm going to close the issue, but please feel free to contact us if you have any concerns.

[2021-04-04 21:35] #2954 closed

[2021-04-05 04:49] AlenaSviridenko commented on #2962
Hi @MichaelSimons,
we need some time for initial investigation. We will get back once we have something. Thanks.

[2021-04-05 04:50] AlenaSviridenko commented on #2963
Hi @MichaelSimons,
we need some time for initial investigation. We will get back once we have something. Thanks.

[2021-04-05 06:27] miketimofeev commented on #2968
@edgariscoding we have updated the image with visual studio 16.9.31129.286. Could you please check the behavior?

[2021-04-05 06:28] miketimofeev commented on #2988
@adamkewley we have updated the image with visual studio 16.9.31129.286. Could you please check the behavior?

[2021-04-05 06:33] al-cheb commented on #3090
Hi @elgohr
We will take a look at it.

[2021-04-05 06:35] al-cheb commented on #3001
Feel free to open the thread if you have any concerns.

[2021-04-05 06:35] #3001 closed

[2021-04-05 06:54] nikita-bykov commented on #2967
Hello @amclin. We have reworked our Chromium installation and this should solve your issue. Images with changes will be rolled out around next week.

[2021-04-05 07:22] dmitry-shibanov commented on #2994
Hello @LuisEnMarroquin. I'm closing the issue, if you have any concerns feel free to reopen it.

[2021-04-05 07:22] #2994 closed

[2021-04-05 09:31] edgariscoding commented on #2968
@miketimofeev  looks to be working! Thank you!

[2021-04-05 09:33] miketimofeev commented on #2968
@edgariscoding I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-05 09:33] #2968 closed

[2021-04-05 13:35] fabriciomurta commented on #3038
Hello, I believe this issue should be better investigated and (hopefully) solved without the need of wrapping our own **nuget.config** file. The NuGet config should be the same across different instances of Windows runners and I would also expect them to match Mac and Linux (which does not suffer from this problem) runners;

It sounds reasonable to have nuget.org source enabled by default if any p

[2021-04-05 13:45] kauemendes opened #3102 "sshpass has disappeared from command line on Ubuntu 18.04"
Hi all.

I am currently using an image that I have built on April 1st. Using the Ubuntu 18.04 branch `releases/ubuntu18/20210330`.

In the VMs using the previous builds, I was able to use `sshpass` command fine. l look through a lot of commits before coming here, trying to understand if perhaps some step was added at the process removing/not installing the sshpass command for "security reasons", b

[2021-04-05 14:11] al-cheb commented on #3102
Hello, @kauemendes
Previously the `sshpass` pkg was pre-installed as part of `ansible.sh` script. We are planning to pre-install the `sshpass` pkg in scope of the https://github.com/actions/virtual-environments/pull/3103 PR.

E.g:
https://github.visualstudio.com/virtual-environments/_build/results?buildId=103704&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=5431112d-2b61-5a5f-7042-ef698f76104

[2021-04-05 14:32] kauemendes commented on #3102
Cheers @al-cheb for your prompt response.

I already sent the workaround for our developers here.

And I will be attentive to PR #3103 to generate a new image here!

Thanks Again!

[2021-04-05 14:39] tetchel commented on #3080
The Ubuntu-20.04 runner could be modified similarly to the workaround mentioned https://github.com/redhat-actions/buildah-build/issues/45#issuecomment-812043531.
If the virtual environment used fuse-overlayfs by default, that would fix this issue for all users.

`/etc/containers/containers.conf` would have to be modified to use `mount_program=fuse-overlayfs`.

https://github.com/containers/common/

[2021-04-05 16:52] Nightwalker-87 commented on #461
@alepauly Could you please reconsider to support at least **macOS 10.14** ?
It is the last macOS system to support 32-bit binaries, which adds more significance this approach in terms of compatibility.
This may also leave certain users remaining on that specific version, if the run software does not see any chance of being rewritten for 64-bit. I can't identify a great effort on doing so. However

[2021-04-05 19:51] digeler opened #3106 "Add powershell core to hosted agents"
**Tool information**
- Tool name: powershell core
- Tool license:
- Add or update? Add
- Desired version:  latest
- Approximate size:
- If this is an add request:
  - Brief description of tool: powershell core
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:
Question

**Virtual environments affec

[2021-04-05 20:30] Darleev commented on #3090
Hello @elgohr,
I'm not sure that the issue is related to GitHub actions logic since the same behavior can be reproduced locally using the following steps:

- Clone repository https://github.com/elgohr/Publish-Docker-Github-Action
- Open the directory with the code
- Build docker image:

`docker build -t testapp .`

- Run docker container using the following command

`docker run -it -e INPUT_NAME=s

[2021-04-05 20:53] miketimofeev commented on #3038
@fabriciomurta no, it's not possible — every run is performed on a clean agent

[2021-04-05 21:09] elgohr commented on #3090
Hey @Darleev ,
we’re talking about Docker in Docker, right?
I guess the „host“ daemon has to have experimental features enabled, when a demon inside a docker (running on the host) wants to use that.
I thought that the daemon.json is mounted from the host, when using an action - to make that transparent. But looks like this is not the case.

[2021-04-05 21:43] gabrielmaldi commented on #235
@rajeevkannav `sudo ln -s /etc/ssl/certs/ca-certificates.crt /usr/local/ssl/cert.pem` worked for me.

[2021-04-05 22:16] rt-miller commented on #2574
This helped us as well... to disabled the simple tasks that set the xCode and Mono versions.  Odd, but happy it works now.

[2021-04-06 03:57] Darleev commented on #3090
@elgohr yes, it's correct.
I've checked docker(docker in docker) image [documentation](https://hub.docker.com/_/docker) and it seems need to use `Rootless` dind image with --experimental flag to enable it inside a docker container. Default docker in docker container starts without experimental mode enabled.
Also, it most probably should work to create a daemon.json file during the docker build pro

[2021-04-06 06:11] al-cheb commented on #3106
Hello, @digeler
PowerShell Core is the default shell for Windows Server hosted agents and pre-installed on Windows Server/Ubuntu/macOS. Please check PowerShell section in the documentation:
Windows Server 2016 - https://github.com/actions/virtual-environments/blob/main/images/win/Windows2016-Readme.md
Windows Server 2019 - https://github.com/actions/virtual-environments/blob/releases/win19/2021033

[2021-04-06 06:11] #3106 closed

[2021-04-06 06:26] AlenaSviridenko opened #3111 "[windows, ubuntu] Few outdated Docker images will be removed on April, 12"
**Breaking changes**
The following Docker images will be removed from Ubuntu images on April, 12:
- alpine:3.7
- alpine:3.8
- alpine:3.9
- alpine:3.10
- debian:8
- ubuntu:14.04

The following Docker image will be removed from Windows images on April, 12:
- microsoft/aspnetcore-build:1.0-2.0

**Target date**
Images deployment will start on April, 12, and will take 3-4 days.

**The motivation for th

[2021-04-06 07:10] miketimofeev commented on #3080
@urfin78 I'm going to close the issue since the problem is external. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-06 07:10] #3080 closed

[2021-04-06 07:12] LeonidLapshin commented on #2992
Hi, @BretJohnson !
Do you need any additional help/information or we can close the issue?

[2021-04-06 07:31] miketimofeev commented on #2574
@developer9969 @rt-miller we've created a PR with to update the docs with the symlinks https://github.com/actions/virtual-environments/pull/3113
Please feel free to add comments there if something is unclear

[2021-04-06 07:36] AlenaSviridenko commented on #2916
Changes were deployed fully. Closing this issue.

[2021-04-06 07:36] #2916 closed

[2021-04-06 08:15] PawPaw opened #3114 "Cannot run Ansible playbook"
**Description**
I am not able to run ansible playbook on latest image of Ubuntu 20.04.

**Area for Triage**:

**Bug**:

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Image version**

ubuntu-20.04 20210330.1

**Expected behavior**
Ansible playbook will run wihout

[2021-04-06 08:21] al-cheb commented on #3114
Hello, @PawPaw
We reworked ansible installation to use pipx. Please install module 'msrest' in runtime.

[code]
![image](https://user-images.githubusercontent.com/47745270/113681016-2f890080-96ca-11eb-85d6-5cdaceb7cf6d.png)

[2021-04-06 09:07] dsame commented on #3022
I confirm the builds uses the very same make files and options, but i noticed there are different set of dependencies install on the very first step. This can cause the the different build log outputs. I am going to dig into the differences i noticed, but meanwhile is it possible to reproduce the segfault withing the workflow? I tried to launch the app with xvfb x11 server but it just wait for som

[2021-04-06 09:33] PawPaw commented on #3114
Solved, thanks for fast reply.

[2021-04-06 09:34] #3114 closed

[2021-04-06 10:27] al-cheb commented on #3009
Hello, @dsherry
Sorry, we don't have any plans to replace  or manually build a new  kernel. I am trying to find `linux-modules-extra`  package for Azure kernel  that contains additional sound modules but with no luck. In that case our recommendation is to use self-hosted agent with generic/oracle/gcp kernel.

[2021-04-06 10:27] #3009 closed

[2021-04-06 10:50] manongjohn commented on #3022
Thank you for continuing to look further into this.

I've never tried to have it start in the workflow.

Normally the bad version will segfault within a few seconds after I try to start it. The splash screen doesn't even come up.  The good version will show a splash screen then load the application and provide a dialog box prompting the user for input.

Could you share the list of dependencies tha

[2021-04-06 10:54] Maxgamerboy1 opened #3116 "Windows 20210330.2 image causes NuGet restore to fail when using a MSBuild.Sdk.Extras project"
**Description**
Using new Windows 20210330.2 image causes NuGet restore to fail when using a MSBuild.Sdk.Extras project. May be caused by using the new MSBuild v16.9.0.16703
The old Windows image 20210316.1 uses MSBuild v16.9.0.11203 and this works

**Area for Triage**:

Scripting and command line, Packages

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04

[2021-04-06 11:01] al-cheb commented on #3116
Hello, @Maxgamerboy1
Could you please check the workaround - https://github.com/xamarin/XamarinCommunityToolkit/pull/1173 ?

[2021-04-06 12:55] urfin78 commented on #3080
@miketimofeev If it's expected behaviour from the buildah side, that container configuration should be `mount_program=fuse-overlayfs` when using rootless mode and virtual environments in github-actions run as user, than this has to be changed here.
At this state nobody will change a thing (the buildah bug report https://github.com/containers/buildah/issues/3120 was also closed) and we will have to

[2021-04-06 13:04] tiernano commented on #3074
having the same issue for the last few weeks... posting here to watch thread...

[2021-04-06 13:53] Maxgamerboy1 commented on #3116
I have applied this change and it appears to have worked! Thanks for the quick response!
Do you know if this will be changed in a future Windows image?

[2021-04-06 13:57] dmitry-shibanov opened #3117 "Precached java versions require using sudo"
**Description**
In some cases precached versions of java can fail because It needs extra permissions.

**Question, Bug, or Feature?**:  Bug

**Virtual environments affected**
- [x] Ubuntu 16.04
- [x] Ubuntu 18.04
- [x] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Image version**
20210330.1

**Expected behavior**
Work without `sudo`
**Act

[2021-04-06 14:03] agkusha opened #3118 "Azure Pipeline started failing for image version 20210330.2."
**Description**
Our pipeline started failing after agent version changed to 20210330.2. It was working fine for version 20210316.1.
Is there a way that I can specify agent version along with agent windows-2019?

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug

**Image version**
20210330.2

**Expected behavior**
Pipeline should run successfully as it was running in 20210316.1.

**Actual b

[2021-04-06 14:15] al-cheb commented on #3118
Hello, @agkusha
We don't have access to the pipelines logs. Could you please update the title and attach the logs?

[2021-04-06 14:27] al-cheb commented on #3116
It can unpredictable happen if you don't have a nuget.config file in your repro -  https://github.com/NuGet/Home/issues/10586#issuecomment-783689013 . Example nuget.config - https://github.com/actions/setup-dotnet/issues/155#issuecomment-761195782

[2021-04-06 15:23] elgohr commented on #3090
Looks like the inner docker has no access to `service` (see `sudo: service: command not found`) in https://github.com/elgohr/actions-test/runs/2279546077?check_suite_focus=true (step: "Use local my-action").

I was trying to follow your idea in this step (code: https://github.com/elgohr/actions-test/tree/master/.github/actions/local). Did I miss a thing?

[2021-04-06 16:13] Maxgamerboy1 commented on #3116
Awesome, I'll look into adding this. I'm happy to close this issue for now. Thanks again.

[2021-04-06 16:13] #3116 closed

[2021-04-06 16:42] madmongo1 commented on #2950
Most unwelcome. It cost a day to fix my CI when this little bomb landed.

[2021-04-06 16:46] agkusha commented on #3118
Hi,
I have attached failed and success log.
[failed.log](https://github.com/actions/virtual-environments/files/6266289/failed.log)
[success.log](https://github.com/actions/virtual-environments/files/6266291/success.log)

[2021-04-06 16:48] mhd-babikir opened #3119 "Update/Add App Center CLI"
**Tool information**
- Tool name: App Center CLI
- Add or update? Add
- Desired version: Any version will do
- Approximate size:
- If this is an add request:
  - Brief description of tool: App Center CLI
  - URL for tool's homepage: https://docs.microsoft.com/en-us/appcenter/cli/
  - Provide a basic test case to validate the tool's functionality: run this on terminal "appcenter -v"

**Area for Tri

[2021-04-06 16:59] al-cheb commented on #3118
These logs don't contain any details related to a build.

[2021-04-06 17:03] al-cheb commented on #3119
Hello, @mhd-babikir
Unfortunately, we wouldn't like to bake `App Center CLI` into the images. Please consider installation in runtime like:

[code]

![image](https://user-images.githubusercontent.com/47745270/113750230-325c1380-9713-11eb-908e-77c82847a833.png)

[2021-04-06 17:03] #3119 closed

[2021-04-06 17:03] agkusha commented on #3118
Yes, these logs were the reference to agent version details. We are trying to download and install az cli extension. By referring to failed and success 'download and install' task, we figured out agent version differs. All failed 'download and install task' have updated agent version (20210330.2)

[2021-04-06 17:13] al-cheb commented on #3118
Could you please provide steps to reproduce an issue?

[2021-04-06 17:18] maxim-lobanov commented on #3118
@agkusha, Consider the privacy of repository, I suggest contact Azure DevOps support for further investigation of this issue. Support engineers will be able to retrieve full logs from your builds and escalate to appropriate team. it will simplify analyzing.

In this repository, we won't be able to access your logs.

[2021-04-06 17:43] dougbu opened #3120 "Ubuntu 18.04 agents have unexpected default locale"
**Description**
We (ASP.NET Core team) are attempting to move from Ubuntu 16.04 to 18.04 Microsoft-hosted agents. Our builds are failing because `libicu60` is not installed on the newer agents. See also https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1604-README.md (where `libicu55` is installed) versus https://github.com/actions/virtual-environments/blob/main/images/l

[2021-04-06 18:14] Darleev commented on #3090
@elgohr as far as I understand, docker server enabled is not required for your task, and it is only required to enable the DOCKER_CLI experimental feature. In order to do this, you can just specify DOCKER_CLI_EXPERIMENTAL=enabled variable, right before the container run

`export DOCKER_CLI_EXPERIMENTAL=enabled`

Regarding your question: since the docker server is not running in docker image by def

[2021-04-06 18:23] elgohr commented on #3090
I would like to use `docker buildx` for building multi-platform images. `buildx` uses `buildkit` (https://docs.docker.com/buildx/working-with-buildx/#overview). `buildkit` runs on the host (https://github.com/moby/buildkit#starting-the-buildkitd-daemon).

[2021-04-06 18:47] Darleev commented on #3090
@elgohr it seems I found a way how to implement request which was initially reported here, in order to do this, it is required to start docker container with additional volume configuration: `-v /var/run/docker.sock:/var/run/docker.sock`, after that local docker socket will be transferred into an existing container. I've tested this case locally and it works fine.

[2021-04-06 18:52] elgohr commented on #3090
@Darleev  sorry, I don’t get it.
You found the basic implementation of Docker in Docker.
How would you mount the docker socket inside an action? The mount also requires a privileged execution.

[2021-04-06 18:54] al-cheb commented on #3120
Hello, @dougbu
The `libicu60` is already pre-install on Ubuntu Server 18.04.

[code]

![image](https://user-images.githubusercontent.com/47745270/113763646-976b3580-9722-11eb-9e5d-6525b3c3e505.png)

[2021-04-06 18:59] laughedelic opened #3121 "Update/Add Coursier"
**Tool information**
- Tool name: Coursier (`cs`)
- Tool license: Apache v2
- Add or update? add
- Desired version: [latest stable](https://github.com/coursier/coursier/releases/latest)
- Approximate size: native installer/launcher size is ~55MB (not sure about the full installation size)
- If this is an add request:
  - Brief description of tool:

    Quoting the [official page](https://get-cours

[2021-04-06 19:05] Darleev commented on #3090
@elgohr I see the only example for common workflow, without uses implementation, and most probably it won't work in a such way. An example is available [here](https://stackoverflow.com/questions/58997638/docker-container-volume-does-not-get-mounted-in-github-actions).
Also, please note, that buildx feature is not available out of the box with the docker, and should be installed using an instructio

[2021-04-06 19:10] dougbu commented on #3120
@al-cheb was that changed in the last day or so❔ And, are you saying https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md is not up-to-date❔

Separately, are the agents used for Azure Pipelines and GitHub Actions different despite the fact https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#software links to the a

[2021-04-06 19:38] dougbu commented on #3120
Shoot. The agents aren't appropriate for our builds but the problem isn't as simple as adding `libicu60`. For example, I tried a manual installation of the package in aspnet/BuildTools#998 and saw similar output to you @al-cheb: `libicu60 is already the newest version (60.2-3ubuntu3.1).` at https://dev.azure.com/dnceng/public/_build/results?buildId=1074813&view=logs&j=5818c23b-5f5e-5596-064a-6c64d

[2021-04-06 20:44] bartwitkowski opened #3123 "Azure OMSExtension fails to install in Ubuntu 20.04 due to python-ctypes problem"
**Description**
According to Microsoft problems regarding Python and OMSExtension in Ubuntu 20.04 were resolved from version 1.13.27 of the agent. Meaning, that the installer can use either Python 2.x or Pyton 3.x but ctypes module is required in both. MS Azure Ubuntu 20.04 image works with OMSExtension.

**Area for Triage**:
Python

**Question, Bug, or Feature?**:
Bug

**Virtual environments affe

[2021-04-07 01:15] wokket commented on #1090
Adding a "Me Too" to this, no changes to our builds in AZDO for months and out of the blue we're getting "No packages exist with this id in source(s): Microsoft Visual Studio Offline Packages" from a `dotnet tool update` that works fine on local PC's.

[2021-04-07 02:34] Turnerj commented on #1090
About a month ago I created [a new repo designed specifically to debug this issue](https://github.com/Turnerj/github-action-nuget-test) and set it to trigger the GitHub action every 30 minutes. Each run does 14 builds (7 Windows, 7 Ubuntu) with different combinations of .NET SDKs being installed. It builds a test project that has no code (though may change that in the future) but a single dependen

[2021-04-07 04:17] smorimoto commented on #2858
@maxim-lobanov @al-cheb What about other platforms?

[2021-04-07 04:19] smorimoto commented on #2858
It seems brew is already up to date, so we only need to install it from source on the Ubuntu runners. Or, you can use Linuxbrew. I personally recommend using Linuxbrew for ease of maintenance, but I leave it to your policy.

[2021-04-07 05:44] sebastian-toepfer commented on #3031
agree, minikube is not the best friend of macos. our issue is, that it runs 50 percent of the time and the same amount it doesn't. so for us it looks that some images has issues - may workload or so. It would be nice to get actions that run stable, to get more confindence about runs ... and not oh it was macos is normal and restart it without looking at the error. It would be nice if you hit us in

[2021-04-07 06:17] dsame commented on #3022
@manongjohn
these builds  of forked repo
https://github.com/dsame/tahoma2d/runs/2234450603?check_suite_focus=true
https://github.com/dsame/tahoma2d/runs/2235408221?check_suite_focus=true

have different apt logs
[code]

[2021-04-07 07:31] asklar commented on #3038
@miketimofeev @maxim-lobanov Can you please reactivate this issue and help us get to a resolution? The core NuGet issue NuGet/Home#10586 was closed without a resolution other than "clean the nuget cache" or "have a nuget.config" which don't seem productive, since restoring projects used to work fine before the last AzDO pipelines/GHA updates.
You're saying it's not possible that this is due to non

[2021-04-07 07:37] al-cheb commented on #3120
We don't include every version of pre-installed  packages in the documentation file.

It's the same image Azure Pipelines and GitHub Action .

[2021-04-07 07:44] miketimofeev commented on #3038
@asklar reopened. Could you please share some repo where the issue persists? We've tried to reproduce last time without any luck

[2021-04-07 07:46] rokups commented on #3038
You may use https://github.com/rokups/rbfx if it is not too fat. Delete `nuget.config` from root folder to make it fail.

[2021-04-07 07:49] asklar commented on #3038
@miketimofeev thanks. We're hitting this in https://github.com/microsoft/react-native-windows/ among others

[2021-04-07 08:07] adamkewley commented on #2988
@miketimofeev , I've fixed the core issue in-tree (by refactoring out the things that depend on `/-permissive`), so I can't test it on my latest builds.

What I can do, though, is launch a build against an old commit that I *think* was broken because of this issue (it's a commit just before I went in and manually dropped `/-permissive`). Info:

| Action | Comment |
| - | - |
| [725287707](https://

[2021-04-07 08:11] adamkewley commented on #2988
I will try and follow this up later to confirm it myself (I'm more familiar with the logs etc)

[2021-04-07 08:27] dmitry-shibanov commented on #3031
Hello @sebastian-toepfer. Unfortunately, we can't reproduce the issue from our side, that is why we're blocked to fully investigate the issue. Through 20-30th runs we didn't face up with it. We don't have much experience with `minikube` and we have found  the similar issues in `minikube` repository. As we understood the issue can be reproduced outside of CI that is why we think it's not really rel

[2021-04-07 08:51] miketimofeev commented on #2858
@smorimoto we have a plan about adding it to Ubuntu images, but no ETA for now

[2021-04-07 09:15] jjuncker commented on #1090
Just saw this issue again today. We use a _script_ step in our Azure pipeline to build our project, and it seems that the latest update to dotnet 5, 5.0.202 (https://devblogs.microsoft.com/dotnet/net-april-2021-updates/), broke it, so that nuget is not used when restoring. The symptoms we see are (notice the _Feeds used_ list):

**DO NOT WORK**
[code]

**WORKS**

[code]

We fixed our pipeline by u

[2021-04-07 10:00] miketimofeev commented on #1090
@jjuncker we've reopened the related issue https://github.com/actions/virtual-environments/issues/3038 and will continue the investigation, thanks for your report!

[2021-04-07 10:02] AlenaSviridenko commented on #3121
Hi @laughedelic,
official GitHub recommendation is using actions to setup tools whenever possible https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#using-preinstalled-software, as it is the most safe and flexible way of using them, so we'd rather not to preinstall this tool to the image.

I am closing this issue, please, let us know if you have any concerns

[2021-04-07 10:02] #3121 closed

[2021-04-07 10:40] al-cheb commented on #3120
Looks like the tests are fixed - https://github.com/aspnet/BuildTools/pull/1000

[2021-04-07 10:58] adamkewley commented on #2988
@miketimofeev , looks like there's still something unusual going on with the alignment stuff:

https://github.com/adamkewley/osmv/runs/2285478793?check_suite_focus=true#step:3:6934

There's other build bugs unrelated to this, but I believe the alignment message is specifically related to the original issue :(

[2021-04-07 11:01] chenbohua3 commented on #3084
@al-cheb @miketimofeev thanks a lot!

[2021-04-07 11:11] tiernano opened #3125 "Error trying to rebuild 2019 Server image: Votive2019.vsix returing 2003"
**Description**
When trying to rebuild a Windows Server 2019 image for our own scale set buids, the process fails after 1 hour 22 min with the following error 2003 and fails VHD build.

**Area for Triage**:
Packages

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server

[2021-04-07 11:55] fabriciomurta commented on #3038
This is random, so to troubleshoot you should add a step to pinpoint the
host of the runner (the actual computer) and schedule it to run in any of
the failing sample repos provided, say every 30 min until it fails. I
suspect `dotnet nuget list source` should show a different output in the
affected runners virtual instances (that's my bet with the action I made)

On Wed, Apr 7, 2021, 4:49 AM Alexan

[2021-04-07 12:02] database64128 commented on #3038
@fabriciomurta According to https://github.com/NuGet/Home/issues/10586#issuecomment-809998961, running `dotnet nuget list source` actually fixes the issue on the runner.

[2021-04-07 12:44] Thog commented on #3038
@miketimofeev Hitting it here too but it's not random https://github.com/Ryujinx/Ryujinx/
(Example of a failing PR run: https://github.com/Ryujinx/Ryujinx/runs/2287451767)

[2021-04-07 13:14] jantoineqci commented on #3038
I have consistently received failures this morning because of this. I am also using windows-latest.
Listing the nuget sources, only the offline one is register. I had to manually register nuget.org to get it to work.
![image](https://user-images.githubusercontent.com/77990093/113871961-070c0f80-9779-11eb-8547-73d1407a01b4.png)

![image](https://user-images.githubusercontent.com/77990093/113871819-

[2021-04-07 13:36] fabriciomurta commented on #3038
@jantoineqci this really supports my suspicion the default public nuget source is not being set up and is exactly what the action I made seeks to address. Glad to know it is (very) likely to fix it.

About the 30-min tests I suggested above, it seems somebody already set up a 30-min test in a repo (https://github.com/actions/virtual-environments/issues/1090#issuecomment-814556942), and it is not h

[2021-04-07 14:00] jantoineqci commented on #3038
@miketimofeev Thank you! how long will the fix take to propagate? I will put a continue-on-error on my add source step so the fix doesn't break my build again.

[2021-04-07 14:08] miketimofeev commented on #3038
@jantoineqci I hope we will start the deployment on Monday and it will take 3-4 days if nothing goes wrong 🤞

[2021-04-07 14:30] ArchieCoder commented on #3038
Can the previous working Windows image be restored? It broke us too. I'm pretty sure others will notice this.

[2021-04-07 14:47] tetchel commented on #3080
I agree with @urfin78 that this should be fixed in the virtual environment.

If I had this issue on a system under my control I would edit `storage.conf` as I mentioned above and the problem would go away.

Since Actions users cannot make persistent changes on the GitHub environments, they have to edit that file in every workflow that uses buildah. And there's no way for them to know how to do tha

[2021-04-07 14:51] vsafonkin commented on #3038
@ArchieCoder, could you try `dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org` as first step of workflow? It should be work as temporary workaround.

[2021-04-07 14:59] miketimofeev commented on #3080
@urfin78 @tetchel sorry, I might have missed the idea. What config file do we need to change from our side to fix it? It would be great if you can submit a PR with the fix.

[2021-04-07 15:06] maxim-lobanov commented on #3080
it is unpredictable how other tools and containers will be affected If we patch `storage.conf` on image side

[2021-04-07 15:06] ArchieCoder commented on #3038
@vsafonkin I have this error:

error: The name specified has already been added to the list of available package sources. Provide a unique name.

I added this line in my workflow:

- name: Hack
  run: dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org

[12_Hack.txt](https://github.com/actions/virtual-environments/files/6272584/12_Hack.txt)

[2021-04-07 15:09] miketimofeev commented on #3038
@ArchieCoder could you provide the output from `dotnet nuget list source`?

[2021-04-07 15:10] ArchieCoder commented on #3038
@vsafonkin It is in the link 12_Hack.txt, sorry it was not obvious in my previous post

[2021-04-07 15:20] asklar commented on #3038
@miketimofeev thanks good to hear - note that in our case our projects are not using .net core 5 (nor the dotnet CLI).
They're either C++, or C# UWP, yet they hit the same issue. We restore the project during msbuild by passing `/restore` (and `/p:RestorePackagesConfig=true` for C++ apps)

[2021-04-07 15:26] miketimofeev commented on #3038
@asklar does it mean adding nuget.org as a source doesn't help in your case? `dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org`

[2021-04-07 15:30] AlenaSviridenko opened #3129 "[macOS] Az modules will be upgraded from 4.8.0 to 5.7.0 on April, 12"
**Breaking changes**
Az modules will be upgraded from 4.8.0 to 5.7.0

**Target date**
Image deployment will start on Monday, April 12, and will take 2-3 days

**The motivation for the changes**
Az team published new version with the fix for Az.Accounts, so we are ready to update package on the images.

**Possible impact**
If you project is not compatible with Az module 5.7.0 — your build will be b

[2021-04-07 15:35] asklar commented on #3038
@miketimofeev we already have nuget.org in our nuget.config files. Even when the packages fail to restore, at the end it lists the sources and nuget.org is in there:

[code]

[2021-04-07 15:40] asklar commented on #3038
it's as if nuget is requiring that a package must exist on _all_ sources? some packages won't exist on the local sources, some might even be in private feeds (like our Azure Artifacts feed), so this seems like a bad assumption on nuget's part?
CC @rainersigwald @rrelyea in case this looks familiar

[2021-04-07 15:41] eekamouse opened #3130 "MSBuild.Sdk.Extras no longer on latest agent pool"
**Description**
MSBuild.Sdk.Extras is no longer on the latest agent pool as of last week's push of windows-latest

**Question, Bug, or Feature?**:
Can we get this added back? It's breaking our build.

**Virtual environments affected**
Windows Server 2019

**Image version**
windows-latest

[2021-04-07 15:45] al-cheb commented on #3130
Duplicate - https://github.com/actions/virtual-environments/issues/3038, Temporary workadound - https://github.com/actions/virtual-environments/issues/3038#issuecomment-814979307

[2021-04-07 15:45] #3130 closed

[2021-04-07 15:57] fabriciomurta commented on #3038
For the time being, using my little action has avoided the issue when it should happen:
[code]

Basically the action will ensure there is a nuget source (regardless of the name) pointing to https://api.nuget.org/v3/index.json; if not, it will add/update `nuget.org`  source pointing to that.

So whenever you kick in a broken runner it will just fix the source for you.

I have published the action t

[2021-04-07 16:00] fabriciomurta commented on #3038
@miketimofeev about https://github.com/actions/virtual-environments/issues/3038#issuecomment-814979307, if we just add a step to run that command, then CI will fail when it hits a correct runner, because the source would already exist. So should at least ignore success/failure of the step if want the step not to break workflow.

[2021-04-07 16:01] maxim-lobanov commented on #3038
@fabriciomurta , thank you for sharing, good point!

We are trying to understand the root cause of this issue. It exists for some time but reproduce rarely.
Looks like it started to happen more often with latest updates but nothing obvious on images that could cause it except VS update.

[2021-04-07 16:16] fabriciomurta commented on #3038
To me it is like the actual host (the physical machine hosting the runners) is providing the broken default nuget configuration. So without enforcement from the virtual environment template, the built virtual machine is just inheriting whatever's in its host, instead of ensuring the NuGet sources include the public one.

A hint of what I'm stating is, the macos and linux hosts only have the `nuget

[2021-04-07 16:19] asklar commented on #3038
My point is that nuget is erroring out because it didn't find one of the packages in the "VS offline packages" feed, which should not be an error, it should keep trying the other sources; if it gets to try the nuget.org source it will find them.

[2021-04-07 16:21] eekamouse commented on #3038
I tried the workaround on our build and we are getting the following with the workaround:

"The name specified has already been added to the list of available package sources. Provide a unique name."

[2021-04-07 16:32] fabriciomurta commented on #3038
@asklar I agree with your point; per your logs, you are facing a little different issue than I am.

The issue I have is consistent with @jantoineqci (https://github.com/actions/virtual-environments/issues/3038#issuecomment-814904484) where the NuGet source is not set up at given `windows-latest` runs.

In your case it seems the sources are correctly set up yet the NuGet packages are not found, for

[2021-04-07 16:52] ArchieCoder commented on #3038
FYI @eekamouse @vsafonkin

Thanks @fabriciomurta, your fix works. Is it safe to keep it even after msft fixes the issue?
- name: Ensure NuGet Source
  uses: fabriciomurta/ensure-nuget-source@v1

[2021-04-07 16:56] fabriciomurta commented on #3038
@ArchieCoder yes, if the source is there, the step is not doing anything.

It should only potentially break CI runs if the official public NuGet repository URL stops responding at **https://api.nuget.org/v3/index.json**. (because it ensures you have at least one source pointing to that URL; it will add a new one in no **nuget.org** source exists, or update it if it points elsewhere -- that's where

[2021-04-07 17:03] ryantrem commented on #3078
We hit the same issue (more context here: https://gitlab.kitware.com/cmake/cmake/-/issues/22021). It seems Android Studio 4.2 is the first version that is compatible with CMake 3.20, but Android Studio 4.2 is not yet released and not used in these virtual environments. It seems like upgrading to CMake 3.20 before upgrading to Android Studio 4.2 doesn't make sense and will break most Android Studio

[2021-04-07 17:10] eekamouse commented on #3038
Ah. Perfect. Ya I just switched the command to do a list source and that did the trick.

[2021-04-07 17:21] smorimoto commented on #2858
Since this is important for the next actions cache release, good to know.

[2021-04-07 17:24] fabriciomurta commented on #3038
@eekamouse not really... See this comment: https://github.com/actions/virtual-environments/issues/3038#issuecomment-814904484

It wouldn't fix in this case if I was just doing the list command. The action does list for diagnostics *but* in case the source is not there (which happened for the comment linked above), it will be added. Per the various reports around the subject we have three issues:
-

[2021-04-07 18:59] Heru788 commented on #2667
Good

[2021-04-07 19:17] dougbu commented on #3120
@al-cheb that PR validated using Ubuntu 16.04. The root cause of the test failures is an unexpected locale (`C.UTF-8`) on the 18.04 agents. Will let you know when I've tested the solution. Still catching up on the morning's email&hellip;

[2021-04-07 20:32] miketimofeev commented on #3038
We have another report, which looks like @asklar case.
The only difference we've found in the logs so far is the MSBuild version.
Failed:
`2021-04-06T19:39:24.2927008Z MSBuild auto-detection: using msbuild version '16.9.0.16703' from 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\bin'. Use option -MSBuildVersion to force nuget to use a specific version of MSBuild.`

[2021-04-07 20:35] dougbu commented on #3120
Did a quick test with aspnet/BuildTools#999. On Ubuntu 16.04 agents, the default locale is `en_US.UTF-8` while on 18.04 agents, it's `C.UTF-8`. This isn't a great idea for .NET Core 2.1 and the difference between the two platforms is unexpected. Does this repo set the locale for the agents❔ Or is this a change Canonical made between the two versions❔

I only see `LC_ALL` mentioned in https://githu

[2021-04-07 20:43] asklar commented on #3038
In our case we are not using neither .net core 3 nor .net 5, we are using .net UWP.

[2021-04-07 21:37] pellared commented on #3038
These problems are also affecting Azure Pipelines.
AFAIK that the same machines are used under the hood.

Example: https://dev.azure.com/opentelemetry/pipelines/_build/results?buildId=3370&view=logs&jobId=0f2e0f6c-b584-54be-74cb-0c70b940453f&j=0f2e0f6c-b584-54be-74cb-0c70b940453f&t=2fd4f782-c69f-5b16-baf4-49a1fc40b1f6

[code]

[2021-04-07 23:35] bartwitkowski commented on #3123
Just tested in Ubuntu 18.04 release 20210405 using ARM template and az cli. And it works as expected. So problem is in Ubuntu 20.04.

[2021-04-07 23:56] priyanka-amzn opened #3131 "GitHub build failed - GitHub Actions has encountered an internal error when running your job"
**Description**
I'm trying to setup a GitHub action for my repo. When this action is run, it fails with
[code]
Example: https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-cloudformation/actions/runs/727685484
**Area for Triage**:

Java
**Question, Bug, or Feature?**:

Bug
**Virtual environments affected**
- [x] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS

[2021-04-08 00:31] dougbu commented on #3120
Renamed to reflect current understanding of the problem.

/btw

Ah, makes sense 😺

[2021-04-08 01:18] mlagoma commented on #3131
+1, was working ~4pm PST
It changed to getting stuck on "Starting workflow run..." ~5:30pm PST

[2021-04-08 03:27] priyanka-amzn commented on #3131
+1 build triggered 1 hour ago is stuck in `Queued` state.

[2021-04-08 06:40] al-cheb commented on #3120
We don't have any plans to change the default locale on Azure Ubuntu iamges provided by Canonical - https://stackoverflow.com/questions/55673886/what-is-the-difference-between-c-utf-8-and-en-us-utf-8-locales

![image](https://user-images.githubusercontent.com/47745270/113979774-5ec87a80-984e-11eb-8fe6-c36bdd1bc02d.png)

OS|locale|locale -a | /etc/default/locale
---|-------|----------|-------------

[2021-04-08 07:17] al-cheb commented on #3125
Hello, @tiernano
Could you please provide?
1. `curl.exe -v https://wixtoolset.gallerycdn.vsassets.io/extensions/wixtoolset/wixtoolsetvisualstudio2019extension/1.0.0.4/1563296438961/Votive2019.vsix --output Votive2019.vsix`
2. Location
3. `curl ipinfo.io`

[2021-04-08 07:41] vsafonkin commented on #3038
@asklar, @ArchieCoder, @fabriciomurta, @pellared, could you try this step as workaround?
[code]

[2021-04-08 07:44] al-cheb commented on #3131
Hello, @priyanka-amzn , @mlagoma
We're experiencing service degradation at the moment, sorry for the inconvenience -  https://www.githubstatus.com/

[2021-04-08 07:54] urfin78 commented on #3080
@maxim-lobanov `storage.conf` is used by tools using the shared container storage - at least the redhat container tools `podman`, `buildah` and `skopeo`. I don't know if any other software use this config. Maybe some k8s related tools?
Beside that, as I read in the different issues about this problem, it seems, that the other linux distributions, which provide these packages have the `fuse-overlay

[2021-04-08 07:58] #3118 closed

[2021-04-08 08:00] #3131 closed

[2021-04-08 08:00] miketimofeev commented on #3080
@urfin78 in that case maybe it's a better solution to install `fuse-overlayfs` package? Or it's not possible for ubuntu?

[2021-04-08 08:16] tiernano commented on #3125
I need to get a build server built up again today and make sure it doesnt get killed when it fails. It will take a few hours, so leave it with me. My Geo location is Dublin, but i am building these inside Central US in Azure... I will get that info ASAK.

[2021-04-08 08:18] miketimofeev commented on #2988
@adamkewley Sorry to hear that. Could you please raise the issue on https://developercommunity.visualstudio.com/?

[2021-04-08 08:28] al-cheb commented on #3125
We use `West US 2` Azure location for the image generation process - https://github.visualstudio.com/virtual-environments/_build. The second location we use `Central US`, but  we don't have any network issue with it too.

[2021-04-08 08:29] #2530 closed

[2021-04-08 08:46] tiernano commented on #3125
i will try west us 2 if this fails again today and see if that makes any difference.

[2021-04-08 09:45] urfin78 commented on #3080
@miketimofeev It was just a guess from reading one of issues regarding the problem: https://github.com/containers/buildah/issues/1745#issuecomment-516728029
According to that statement, `fuse-overlayfs` has to be installed before `podman` (i think also before the other container tools `buildah` and  `skopeo`). As it genereates the correct config if the package is available. But I haven't tested it

[2021-04-08 11:32] tiernano commented on #3125
just reran the build of 2019 in central US, and it failed, but for a different reason... seems the issue with that VSIX file is solved... thanks. going to close this off and open the different one...

[2021-04-08 11:32] #3125 closed

[2021-04-08 12:25] ArchieCoder commented on #3038
@vsafonkin  Your fix work AND "uses: fabriciomurta/ensure-nuget-source@v1" also works

[2021-04-08 12:36] fabriciomurta commented on #3038
@vsafonkin I've been looking up our windows-bound workflows in the last ~10 runs or so; we didn't hit the problematic environment, so I myself can't really tell the workarounds are fixing anything.

It _may_ be the case, as pointed at https://github.com/actions/virtual-environments/issues/3038#issuecomment-814857550, that I am hitting that scenario, and simply by checking if nuget sources beforeha

[2021-04-08 12:52] tetchel commented on #3080
As far as I can tell, fuse-overlayfs is already installed on the ubuntu runners. Installing fuse-overlayfs first as suggested may work and is absolutely worth a try.

Otherwise, the storage.conf can be edited as per https://github.com/actions/virtual-environments/issues/3080#issuecomment-813428356 to set it as the default.

[2021-04-08 13:58] weavejester opened #3133 "chromium-browser executable renamed to chromium in Ubuntu environment"
**Description**
Some GH actions I had set up stopped working as they could no longer find the `chromium-browser` executable.

I believe this regression was caused by #3029, which links `/usr/bin/chromium` but not `/usr/bin/chromium-browser`. Note that in Ubuntu 20.04, the Chromium executable is called `chromium-browser`, not `chromium` (according to the [package file list](https://packages.ubuntu.

[2021-04-08 14:33] Darleev commented on #3073
Hello @ViRb3,
We've gathered all required data and forwarded the issue to our internal engineering team.
We will keep you informed.

[2021-04-08 15:27] miketimofeev commented on #3080
@urfin78 @tetchel I'll try to install `libfuse3-dev` before podman and the other tools installation and get back with the results

[2021-04-08 16:03] ViRb3 commented on #3073
Thank you very much for the effort and continuous updates @Darleev, I really appreciate everything you are doing!

[2021-04-08 16:27] miketimofeev commented on #2967
@amclin we've finished the deployment, but, unfortunately the executable name changed — https://github.com/actions/virtual-environments/issues/3133
We're going to fix it soon. Until then, could you please use a workaround?
`sudo ln -s /usr/bin/chromium /usr/bin/chromium-browser`

[2021-04-08 16:29] miketimofeev commented on #3053
@ashok-arora we've added clang-format to the readme
![image](https://user-images.githubusercontent.com/48208649/114062861-a8da4c00-98a0-11eb-9c88-7f172704ffe4.png)
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-08 16:29] #3053 closed

[2021-04-08 16:30] miketimofeev commented on #3069
@AlexanderRyazanov we've deployed the image with `python-setuptools` package.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-08 16:30] #3069 closed

[2021-04-08 16:31] miketimofeev commented on #3061
@catthehacker we have deployed the images.
Thanks for you contribution!

[2021-04-08 16:31] #3061 closed

[2021-04-08 17:35] amclin commented on #2967
Seems to be working in my scenario even without symlinking the executable names, I suspect because the underlying library used for auto-detection is doing a good job of finding binaries by various names.

Here's a successful run using the image tagged `20210405.1`:
https://github.com/amclin/videojs-scene7/pull/622/checks?check_run_id=2298984480#step:7:94

[2021-04-08 17:41] miketimofeev commented on #2967
@amclin great! I'm going to close the issue then.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-08 17:41] #2967 closed

[2021-04-08 18:54] priyanka-amzn commented on #3131
builds are all green now

[2021-04-08 19:51] dougbu commented on #3120
:ok: I'll stick w/ our workaround.

/cc @juntaoluo @wtgodbe, please do the same in the branches and repos you're updating.

[2021-04-08 19:51] #3120 closed

[2021-04-08 19:52] dougbu commented on #3120
See the bottom of https://github.com/actions/virtual-environments/issues/3120#issuecomment-815244409 for the workaround I meant

[2021-04-09 06:21] al-cheb commented on #3085
The image with fix has been deployed.

![image](https://user-images.githubusercontent.com/47745270/114137459-ef698e00-9914-11eb-8ec3-afbbd0e15bb0.png)

[2021-04-09 06:21] #3085 closed

[2021-04-09 06:26] dingmeng-xue commented on #3034
After we test dotnet 2.1 in one week, there is no the same issue.

[2021-04-09 06:40] vsafonkin commented on #3038
@asklar, @ArchieCoder, @pellared, @eekamouse, @rokups, @fabriciomurta, could you please try another workaround for your builds?
[code]
The cause of the issue is empty config file in user' appdata. We want to make sure the deletion this file works too. Thank you!

[2021-04-09 06:46] ykuijs opened #3138 "Update/Add Windows Server 2022 image"
**Tool information**
- Tool name: Windows Server 2022 VM image
- Tool license: Same as Windows Server 2019
- Add or update? Add
- Desired version: 2022
- Approximate size: Similar to Server 2019
- If this is an add request:
  - Brief description of tool: New OS version
  - URL for tool's homepage: https://cloudblogs.microsoft.com/windowsserver/2021/03/02/announcing-windows-server-2022-now-in-previ

[2021-04-09 07:47] m-star5 opened #3139 "Cypher 3 victor +MI +Teeto +Ceemos +Jesse jagz"
@m3[Cypher 3 victor +MI +Teeto +Ceemos +Jesse jagz ](https://youtu.be/flMehELsznw ) **Breaking changes**

**Target date**

**The motivation for the changes**

**Possible impact**

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.13
- [ ] macOS 10.14
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**

[2021-04-09 07:49] #3139 closed

[2021-04-09 08:42] miketimofeev commented on #3034
@dingmeng-xue could you address the issue to the .net team then?

[2021-04-09 09:04] miketimofeev commented on #3080
Nope, it didn't help, the option is still disabled:
[code]

[2021-04-09 09:10] pellared commented on #3038
@vsafonkin You can make a fork from https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/commit/716974d3050afbb0d9cfa2310acfb4229ac6cb1f (commit before the workaround was applied) and experiment yourself 😉

[2021-04-09 10:57] vikramparihar commented on #732
Finally issue fixed by
https://github.com/actions/virtual-environments/issues/732

[2021-04-09 12:11] ashok-arora commented on #3053
Thanks a lot @miketimofeev! :tada:

[2021-04-09 12:23] modernptz commented on #2944
The documentation still not updated https://www.scala-sbt.org/1.x/docs/Installing-sbt-on-Linux.html

[2021-04-09 12:29] yutannihilation commented on #2944
As the doc suggests, DEB package will be provided eventually, but I believe it stays legal to install sbt directly without DEB. Any concerns?

[2021-04-09 12:51] Darleev commented on #3123
Hello @bartwitkowski,
It seems I found [very similar issue](https://github.com/microsoft/OMS-Agent-for-Linux/issues/1217) in OMS agent Github repository. Could you please check your OMG agent version and select it accordingly?
If it does not help with the issue, I would recommend you address this question directly to [OMS agent repository](https://github.com/microsoft/OMS-Agent-for-Linux).
We are

[2021-04-09 12:53] Darleev commented on #3074
Hello @slime-uk @tiernano.
Thank you for reporting the issue to us.
We're forwarding the issue to our engineering team for further investigation. As soon as the update is received, I'll let you know.

[2021-04-09 14:07] dsame commented on #2963
The PR to update cached docker images for Ubuntu merged and will be alive on the next VM rollout

[2021-04-09 14:13] roopsduhra opened #3143 "azure devops windows image - unable install pip ERROR: No matching distribution found for paho-mqtt==1.5.0"
**Tool information**
- Tool name: Azure DevOps
- Tool license: <n/a->
- Add or update? <Add>
- Desired version:  paho-mqtt==1.5.0
- Approximate size: <>
- If this is an add request:
  - Brief description of tool: azure devops pipelines
  - URL for tool's homepage: https://dev.azure.com/
  - Provide a basic test case to validate the tool's functionality:
 <- task: AzureCLI@2
  inputs:
    scriptTyp

[2021-04-09 14:55] tetchel commented on #3080
FWIW, we added a workaround to https://github.com/redhat-actions/buildah-build so it will work without the workaround above.

[2021-04-09 16:17] freak4pc commented on #2486
Sorry for jumping late to the party but this is quite silly. At the bare minimum you should remove this information from [virtual-environments](https://github.com/actions/virtual-environments) to avoid confusion and time waste :)

[2021-04-09 19:25] xt0rted commented on #3038
@vsafonkin Adding that as the first step in my workflow fixes the build.

[2021-04-09 20:09] sezruby opened #3146 "sbt compile failure in ubuntu-18.04 after 20210405.1"
**Description**
Azure pipeline sbt build failure after 20210405.1 version.

https://github.com/microsoft/hyperspace

failed log:
https://dev.azure.com/ossspark/public/_build/results?buildId=1859&view=logs&j=df231af6-32dd-547b-29be-d8756af88091&t=5d7595c6-3f6b-52ad-175f-d5d559db9724
succeeded log: https://dev.azure.com/ossspark/public/_build/results?buildId=1828&view=logs&j=057097eb-ba45-5660-ddec-

[2021-04-10 15:56] laughedelic commented on #3121
Hi @AlenaSviridenko, I would argue that having a preinstalled latest version of Coursier is more important for Scala projects than having sbt (which is already included) because Coursier can be used to install (any version of) sbt or any other Scala build tool (e.g. bloop, mill, seed).

Could you explain the criteria for preinstalling sbt if there are actions (e.g. [setup-scala](https://github.com

[2021-04-10 16:39] ahjohannessen commented on #3121
Please reconsider this

[2021-04-10 17:06] ScalaWilliam commented on #3121
As CS is quite lightweight there should not be good reason not to include it - it in fact allows extra possibilities over Maven and SBT for any JVM application, thus enhancing the ecosystem.

[2021-04-10 17:22] KadekM commented on #3121
Please include the coursier in same manner pip/npm are included

[2021-04-10 20:32] Marcus-James-Adams opened #3147 "Packer images creating VHD is being deprecated - need to support creating as managed images"
When running the scripts we get
azure-arm: Warning: You are using Azure Packer Builder to create VHDs which is being deprecated, consider using Managed Images. Learn more https://www.packer.io/docs/builders/azure/arm#azure-arm-builder-specific-options

[2021-04-10 20:34] catthehacker commented on #3147
Duplicate of #1037 and #2224

[2021-04-11 00:32] tiernano commented on #3074
i reran the build of the VHD on Friday night in Central US, and it succeded... there were a couple of 429 errors, but the retry logic retries them 20 times, and they all finished in the end...

[2021-04-11 01:06] mattleibow opened #3148 "Update/Add MSBuild on macOS and Linux"
It seems the msbuild and VS on the non-Windows bots are a fair bit out of date, with MSBuild being 16.6 and the Windows version 16.9. This means that since I am using some of the new MSBuild features, my macOS builds are failing.

**Tool information**
- Tool name: msbuild
- Tool license: MS?
- Add or update? Update
- Desired version: 16.9+
- Approximate size:
- If this is an add request:
  - Brief

[2021-04-11 17:22] alvinseville7cf opened #3149 "cannot create directory ‘/run/user/0’: Permission denied - ubuntu-latest - Bash Shell"
**Description**
` mkdir: cannot create directory ‘/run/user/1001’: Permission denied` error happens after `drawio` snap execution in `publish` job `Convert Flowchart` step.

![image](https://user-images.githubusercontent.com/42812113/114409942-4d84c280-9bee-11eb-9ff7-58735e56020a.png)

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
-

[2021-04-11 18:10] Darleev commented on #3149
Hello @alvinseville7cf,

I tried to reproduce the issue using the following workflow:

[code]

but everything works fine. Could you please provide step-by-step instructions on how to reproduce the issue or sample repo?
We are looking forward to your reply.

[2021-04-11 18:15] Darleev commented on #3148
Hello @mattleibow,
Thank you for contacting us.
We will check the possibility to add the latest MSBuild to macOS and Ubuntu images.
We'll keep you informed.

[2021-04-11 18:23] Darleev commented on #3146
Hello @sezruby,
According to the [latest Ubuntu changes](https://github.com/actions/virtual-environments/pull/3094), I see that `sbt `has been upgraded to version 1.5.0 which possibly contains some breaking changes. Could you please check this on your side locally or provide us required steps to reproduce the issue?
We are looking forward to your reply.

[2021-04-11 21:08] piekstra commented on #1143
This would be really great. I'm trying to add windows-OS testing for a Python library which leverages the `rodolpheche/wiremock` docker image which is Linux-based with no Windows-based image at this time, thus breaking my `docker-compose` using the windows runner.

[2021-04-12 01:00] dsame commented on #3022
it is confirmed the different build output log does not relate to clang/gcc combination

GCC only build  https://github.com/dsame/tahoma2d/runs/2318343127?check_suite_focus=true has no `rng-double.c:64:3: note: loop vectorized` and the very same (triggered with `git commit --allow-empty ...`) build https://github.com/dsame/tahoma2d/runs/2318341236?check_suite_focus=true - only has `rng-double.c:64

[2021-04-12 05:28] kroggen opened #3150 "Windows runner failing to download file from external server"
**Description**
Windows runner is not downloading a file from external server.

**Area for Triage**:
Area: Scripting and command line

**Question, Bug, or Feature?**:
"Bug"

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [x] Windows Server 2019

**Image version**
Version: 20210404.2

**Exp

[2021-04-12 05:40] dsame commented on #3022
@madhurig
running the build with ccache removed (not the cache step, but ccache call with cc/cxx) 4 times i got no one `rng-double.c:64:3: note: loop vectorized`

  https://github.com/dsame/tahoma2d/runs/2320577994?check_suite_focus=true
  https://github.com/dsame/tahoma2d/runs/2320577535?check_suite_focus=true
  https://github.com/dsame/tahoma2d/runs/2320576850?check_suite_focus=true
  https://gi

[2021-04-12 06:24] sezruby commented on #3146
I reproduced this on my local.

0) git clone https://github.com/sezruby/hyperspace.git
0-1) git fetch origin master
0-2) git checkout origin/master
1)  wget https://github.com/sbt/sbt/releases/download/v1.5.0/sbt-1.5.0.tgz
2) tar -xzf sbt-1.5.0.tgz
3)  sudo apt-get install openjdk-8-jre
4)  path/to/sbt/bin/sbt clean
5)  path/to/sbt/bin/sbt update
5)  path/to/sbt/bin/sbt compile

[2021-04-12 08:25] AlenaSviridenko commented on #2962
Hi @MichaelSimons,
PR with new image was merged, changes deployment has started today and will take 3-4 days. We'll let you know when it finished.

[2021-04-12 08:35] aparcar opened #3158 "Ubuntu 18.04: Missing python-setuptools"
**Description**
The list of installed packages for Ubuntu 18.04 [states](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md) the Python package `setuptools` is installed, however it's missing in the actual images.

[Here](https://github.com/ynezz/openwrt-ucentral-schema/runs/2304056468?check_suite_focus=true#step:7:33) is an actually failing CI job.

**Area

[2021-04-12 08:40] armandabric opened #3159 "Add last Node LTS version image to the cache"
Given https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#cached-docker-images the Node v14 image is not cached yet. As [Node v14 is the active LTS](https://nodejs.org/en/about/releases/) it could justify to have it cached to speed up a lot of GitHub action run.

**Tool information**
- Tool name: Node
- Add or update? Update
- Desired version: 14
- Approxima

[2021-04-12 08:43] Darleev commented on #3150
Hello @kroggen.
Thank you for contacting us.
We will investigate the issue.

[2021-04-12 08:43] shouze opened #3160 "Update terraform to 0.14.10"
**Tool information**
- Tool name:  terraform
- Add or update?  update
- Desired version:  0.14.10
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] Ubuntu 16.04
- [x] Ubuntu 18.

[2021-04-12 08:44] liZe opened #3161 "Crash when building a Python wheel on Windows since version 20210330"
**Description**
Building a Python wheel for my package on Windows crashes since version 20210330. It used to work with version 20210316 and still works on Linux and macOS with recent versions.

**Area for Triage**:
?

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Serve

[2021-04-12 08:47] shouze opened #3162 "Add node 14 cached docker images as it's already done for node 12 ones"
**Tool information**
- Tool name:  nodejs docker images
- Add or update?  add
- Desired version:  14 as it's the LTS

**Area for Triage**:

JavaScript and Node.js

**Question, Bug, or Feature?**:

Feature

**Virtual environments affected**
- [x] Ubuntu 16.04
- [x] Ubuntu 18.04
- [x] Ubuntu 20.04
- [x] macOS 10.15
- [x] macOS 11.0
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Are you wi

[2021-04-12 08:49] shouze commented on #3162
duplicate of #3159 3159

[2021-04-12 08:49] #3162 closed

[2021-04-12 08:52] Darleev commented on #3159
Hello @armandabric @shouze,
Thank you for contacting us.
As soon as we make a decision regarding your request, we'll let you know.

[2021-04-12 08:57] miketimofeev commented on #3148
@mattleibow msbuild comes along with Mono distribution and currently, the latest Mono contains msbuild 16.6. However, it looks like the 16.9 version was added recently and will be available in the nearest Mono releases:
https://github.com/mono/mono/pull/20979

[2021-04-12 09:12] Darleev commented on #3160
Hello @shouze,
Terraform will be upgraded to version 0.14.10 after the next image rollout. It should be completed by the end of this week.
We'll keep you updated.

[2021-04-12 09:14] miketimofeev commented on #3158
Hi @aparcar!
The `python-setuptools` package contains setuptools for python2. There is a separate package with `setuptools` for python3 — `python3-setuptools`.
Could you please try to install it using `sudo apt-get install python3-setuptools`? Does it help?

[2021-04-12 09:14] Darleev commented on #3161
Hello @liZe,
Thank you for contacting us.
We will investigate the issue on our side.

[2021-04-12 09:15] aparcar commented on #3158
That does help, thanks.

[2021-04-12 09:15] #3158 closed

[2021-04-12 09:23] maxim-lobanov commented on #3147
We don't have plans to switch to manage disks in near future because it will require additional changes on infra side. Also VHDs won't be deprecated in near future, see details in https://github.com/actions/virtual-environments/issues/1037#issuecomment-674850320
We should just ignore this warning for now

[2021-04-12 09:23] #3147 closed

[2021-04-12 09:26] #3065 closed

[2021-04-12 10:07] RehanSaeed commented on #3038
Is there a cross-platform command I can run? This is not going to work on Ubuntu or Mac OS. Also, when can we expect the fix to roll out to GitHub Actions.

[code]

[2021-04-12 10:18] Darleev commented on #3146
@sezruby if the issue can be reproduced locally, it means that the issue in the latest `sbt` update. There two possible ways to avoid the issue:
1) Downgrade `sbt` to compatible version;
2) Adapt your code to the latest `sbt`

We are looking forward to your reply.

[2021-04-12 10:19] Darleev commented on #3090
@elgohr Can we assist with the initial issue somehow or maybe it is resolved? Could you please provide an update?

We are looking forward to your reply.

[2021-04-12 10:24] AlenaSviridenko commented on #3121
Hey,
I see your point here. Indeed, previously we installed tools by making decisions based on tool installation time and size only (like for sbt), but after several months with such approach we started facing with a lot of issues when the tool got upgraded and customers got broken with this update, or when tools are conflicting with each other.
So we came to the point that whenever a tool has an

[2021-04-12 11:14] miketimofeev commented on #3038
@RehanSaeed are macOS and Ubuntu experiencing the same issue?
We've started the new image rollout with the fix today and going to finish it in 3-4 days.

[2021-04-12 11:25] miketimofeev commented on #3143
Hi @roopsduhra!
We've started the investigation and get back with the results shortly.

[2021-04-12 12:59] miketimofeev commented on #3143
@roopsduhra Azure Cli has its own Python distribution, but the latest az-cli version seems to have a lack of setuptools and wheel python modules. The workaround is to install these modules in runtime:
[code]

[2021-04-12 13:19] miketimofeev commented on #2867
@cognitionIT @krokofant we've added version 5.7.0 to all the images and started a rollout. It will be finished in 3-4 days.

[2021-04-12 13:51] thisisthekap opened #3165 "macOS-10.15 agent uses Homebrew 3.0.10 which uses Bintray"
**Description**

According to https://github.com/Homebrew/discussions/discussions/691, Homebrew switched from Bintray to GitHub Packages. Homebrew 3.1.0 uses the new CDN. The Microsoft Hosted Agents should imho be updated accordingly to avoid issues when downloading/installing packages using Homebrew.

**Area for Triage**:
Artifacts, Packages, Servers

**Question, Bug, or Feature?**:
Bug

**Virtua

[2021-04-12 14:06] maxim-lobanov commented on #3165
Hello @thisisthekap , I think nothing is required from our side to switch CDN.
As I can see, 5 hours ago the new version of brew with support of new CDN was released: https://github.com/Homebrew/brew/releases/tag/3.1.0

We will update Homebrew to this version with new image rollout (approx middle of next week since this week rollout has been already started).

[2021-04-12 14:20] alvinseville7cf commented on #3149
@Darleev, I've update my first message.

[2021-04-12 14:24] thisisthekap commented on #3165
@maxim-lobanov Thank you for the quick response!

Updating Homebrew to 3.1.0 is indeed the solution I was hoping for :)

Once again: Thank you very much 😎

[2021-04-12 14:30] jsonfry commented on #3165
Right now bintray have started what they're calling a 'brown out' https://status.bintray.com/incidents/4mzph0y8l6hk
 but actually means they're failing all requests to bintray for the next few hours, so any `brew` installs in macos runners are failing / will fail.

Did you have to update brew as part of your ci job?

[2021-04-12 14:31] miketimofeev commented on #3149
@alvinseville7cf unfortunately it's a known issue with snap packages, a few similar issues:
https://github.com/actions/virtual-environments/issues/1378
https://github.com/actions/virtual-environments/issues/1475
https://github.com/actions/virtual-environments/issues/2967

We have not found the solution yet, so it's better to use the .deb packages as you mentioned as a workaround.

[2021-04-12 14:43] thisisthekap commented on #3165
I just execute `brew update` prior to the needed `brew install` call to make sure Homebrew is on the lastest version.

[2021-04-12 14:51] jsonfry commented on #3165
Hmm not ideal.

@maxim-lobanov  I guess there's no chance of brew being updated before bintray finished their thing in about 6 hours?

[2021-04-12 14:57] jonathanhood commented on #3165
Some kind of guidance, or a notification of some kind on the actions status page, may be necessary. It took me, at least, a good portion of the morning chasing down links to find myself here. Such a notification, email, or whatever could save a lot of people a lot of time this morning - especially since the brownout doesn't end until 2pm pacific.

[2021-04-12 15:19] ssbarnea commented on #264
Preinstalling zsh should be done on all platforms because it is a very common shell and many repositories do have shell support testing code. While is unlikely that someone would want to run jobs with zsh shell, the is a real chance they would have few tests around what happens with zsh (completions being one of them).

Also zsh is small, so it should not concern increasing images too much.

[2021-04-12 15:38] ColinPitrat commented on #3165
I'm seeing some "403 forbidden" when executing `brew install` today from GitHub Actions. Is this linked to this issue?

[2021-04-12 15:58] jonathanhood commented on #3165
Yes. To recap the issue:

1. Bintray is issuing `403 Forbidden` errors today as part of a scheduled "brownout" in preparation for their take down of the service.
2. A version of brew is available that uses github packages instead. This version is not installed by default on the mac actions runners.

While we wait for the runners to be updated, you can do `brew update` manually in your github actio

[2021-04-12 16:25] Darleev commented on #3149
@alvinseville7cf I'm going to close the issue.
In case of any questions, feel free to contact us.

[2021-04-12 16:36] #3149 closed

[2021-04-12 18:51] mathbagu commented on #3165
When can we expect the runners to be updated, just to know if we should use the suggested workaround?

[2021-04-12 19:20] miketimofeev commented on #3165
@mathbagu we've decided to start the new rollout tomorrow to deliver the fix asap

[2021-04-12 20:00] maxim-lobanov commented on #3165
Issue is related to planned brown-out session on Bintray side.
Bintray is going to recover in a few hours so issue should disappear: https://status.bintray.com/incidents/4mzph0y8l6hk

With next image rollout, homebrew should stop using bintray. Updating runners take about 3-4 days usually.

[2021-04-12 23:42] gregpakes commented on #2882
I am still seeing this issue on the latest version of main...

[code]

[2021-04-13 00:26] aouinizied commented on #3079
Same on our CI since several days:https://github.com/nfstream/nfstream/actions/runs/742628578

[2021-04-13 00:51] lukasmalkmus opened #3166 "Add SwiftFormat for macOS"
**Tool information**
- Tool name: SwiftFormat
- Tool license: MIT
- Add or update? Add
- Desired version: Latest (v0.47.13 as of writing)
- Approximate size: ~4.9MB
- If this is an add request:
  - Brief description of tool: An OpenSource formatter for Swift source code, not to be confused with Apple's `swift-format`. Or the description from the README: "SwiftFormat is a code library and command-l

[2021-04-13 00:54] lukasmalkmus commented on #3166
I specifically need/want this for macOS. I don't know how common Swift development on Linux is. However, if the Ubuntu env has Homebrew installed as well, it is as simple to install on Ubuntu than it is on macOS.

[2021-04-13 02:19] sezruby commented on #3146
@Darleev It's not syntax or compile error, but missing component error. I wasn't able to resolve the problem from my side, so I created an issue on sbt/sbt repo. Is it possible to downgrade the version?

[2021-04-13 06:30] miketimofeev commented on #2882
@gregpakes we also see this particular issue from time to time. It looks like there is something wrong with chocolatey packages caching — sometimes it returns ghc 9.0.1 and sometimes not. Restart always helps.

[2021-04-13 06:44] nikita-bykov commented on #3133
Hello @weavejester! We have fixed this issue. Images with changes will be available in a couple of days.

[2021-04-13 06:49] gtalarico commented on #2634
@Darleev @alexander-smolyakov

Same thing happened with me - working CI build stopped working with no code change.
Hope it's ok to hop on this issue to provide a minimal repro.
If you prefer, I can also move this over to a new issue.

Here is the actual project failure
https://github.com/gtalarico/gh-actions-repro/runs/2330808953?check_suite_focus=true

Workflow:
https://github.com/gtalarico/gh-ac

[2021-04-13 06:57] elgohr commented on #3090
Ok, so let's sum this up.
When I got this correct, then `uses` is nothing else than Docker in Docker (when using Docker to build the action).
For using experimental features the following ways exist:
- enable it on the host machine with a step before using the action (and inside the action)
- mount the host daemon into the action and configure it inside of the action

To be honest, both solutions

[2021-04-13 07:04] Darleev commented on #3166
Hello @lukasmalkmus,
We will consider adding this package. As soon as the final decision is ready, we will let you know.

[2021-04-13 08:21] Darleev commented on #3146
@sezruby you can downgrade `sbt` version using the following steps:

[code]

[2021-04-13 08:25] AlenaSviridenko commented on #3159
Hi @armandabric,
thanks for the suggestion, I added this issue to our backlog, we will let you know once changes are merged and available.

[2021-04-13 08:26] al-cheb commented on #2858
OS | zstd version
----|--------------
Windows Server 2016/2019 | 1.4.9
macOS-10.15/11| 1.4.9
Ubuntu 16.04/18.04/20.04 | 1.4.4

I was not able to find repositories with updated version of the zstd package for Ubuntu 16/18/20.  Currently we don't have any plans to build zstd from source.

Workaround for Ubuntu:
1. `brew install zstd`
2. manually build zstd from source
[code]

![image](https://user-i

[2021-04-13 08:29] lukesavvatiller commented on #2634
@gtalarico, I am still using my workaround that i posted above. Installing python and odbc from source.

[2021-04-13 08:30] AlenaSviridenko commented on #3166
Hi @lukasmalkmus,
we already have few Swift formatter and linter tools, so we'd rather not add this new formatter. Please, use the following code to install it in runtime (it takes 2s without Homebrew):
[code]

I am closing this issue, feel free to create a new one in case of any other questions.

[2021-04-13 08:43] dsame commented on #3161
@liZe
I noticed the Pango version changed from mingw-w64-x86_64-pango-1.48.3 to mingw-w64-x86_64-pango-1.48.4 between the succeeded and and failed builds.

If i remove pango from `pacman -S mingw-w64-x86_64-ttf-dejavu mingw-w64-x86_64-pango mingw-w64-x86_64-ghostscript --noconfirm` the build fails with the library not found (it is expected), but at least is passes the point where the bug appears.

[2021-04-13 08:45] lukasmalkmus commented on #3166
Unfortunate. Which formatters are installed? [For macOS 11.0, none is actually listed](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11.0-Readme.md), apart from SwiftLint (which I use, but it is a linter, not a formatter). Even the official formatter by Apple (`swift-format`) is not listed.

[2021-04-13 08:47] smorimoto commented on #2858
Why can't you install from the source? Since actions/cache uses zstd by default, fixing its version is important to make official actions more reliable.

[2021-04-13 08:51] dsame commented on #2741
@greenEkatherine does increasing the timeout to 60 seconds eliminated the problem or at least make it to appear less often?

[2021-04-13 09:11] maxim-lobanov commented on #2858
We don't build any tools from source code due to maintenance concerns (image-gen time, complexity, dependencies issues, any potential issues that we won't be able to fix from our side).
I suggest logging issue against https://github.com/facebook/zstd and ask keeping apt source up-to-date or providing another way for installation.

P.S. As an alternative, we can consider installation of zstd via Ho

[2021-04-13 11:05] AlenaSviridenko commented on #3166
Sorry, my mistake, we don't have any formatter for Swift preinstalled on the image. Too many tools 😅
We'd like to add one then, and SwiftFormat seems more popular than swift-format, so I am re-opening the issue and moving it to our backlog.
We will keep you posted with updates. Thanks!

[2021-04-13 11:33] smorimoto commented on #2858
I have already explained here why that is not possible or has no meaning in many cases: https://github.com/actions/virtual-environments/issues/2858#issuecomment-795606526
Also, be aware of the risk of using a repository that you have no confidence about trustworthy with a CI.

I have already suggested that: https://github.com/actions/virtual-environments/issues/2858#issuecomment-814588134
This is

[2021-04-13 12:22] weavejester commented on #3133
Thanks! And I see you even left the `chromium` link intact for backward compatibility.

[2021-04-13 12:22] #3133 closed

[2021-04-13 14:55] mjneuharth opened #3174 "Add pywinrm to the ansible-base virtual environment"
**Tool information**
- Tool name: pywinrm
- Tool license:  MIT License (MIT license)
- Add or update? add
- Desired version: >= 0.4.1
- Approximate size:
- If this is an add request:
  - Brief description of tool: Python library for Windows Remote Management
  - URL for tool's homepage: https://pypi.org/project/pywinrm/
  - Provide a basic test case to validate the tool's functionality:
[code]

**

[2021-04-13 15:29] AlenaSviridenko commented on #3174
Hi @mjneuharth,
given the fast installation time in runtime and installation simplicity, we'd rather not to include this package to the image due to maintenance concerns.
I am closing this issue. Please, feel free to contact in case of any questions.

[2021-04-13 15:29] #3174 closed

[2021-04-13 15:47] mjneuharth commented on #3174
I think that's a fair response.

I raised it as an issue only because it was not obvious how to get the default Ansible (newly running in a pipx environment) to see pywinrm so that my pipeline job could connect to Windows hosts.

`pip install pywinrm` did not work and I had to dig through recent history on the [virtualenvironments](https://github.com/actions/virtual-environments) repo to understan

[2021-04-13 17:11] sezruby commented on #3146
Thanks for the tip! 😄  I made a workaround for our repo. https://github.com/microsoft/hyperspace/pull/416

I think it's sbt side issue & we could close this issue.

[2021-04-13 19:03] maxim-lobanov commented on #3165
The deployment of new set of images has been already started and will be finished in a few days.

[2021-04-13 19:50] Darleev commented on #3146
If additional assistance or information is required, do not hesitate to contact us.

[2021-04-13 19:50] #3146 closed

[2021-04-13 20:43] liZe commented on #3161
Hello @dsame,

Thanks a lot for your very quick answer.

I’ve tried to rebuild without installing Pango, and as you said it fails because the library not found. But it actually fails during the same step, it doesn’t pass the point where the bug appears.

I’ve tried to [install Pango 1.48.3](https://github.com/Kozea/WeasyPrint/runs/2337246822?check_suite_focus=true), and it fails too. Unfortunately

[2021-04-13 21:32] miketimofeev commented on #3159
@armandabric we've added node14 & node14-alpine to all Ubuntu images. The new image rollout will start on Monday and take 3-4 days.

[2021-04-14 01:43] gregpakes commented on #2882
Thanks - It is ashame how flaky this process is.  Waiting 6 hours to see if it succeeds is pretty painful.

[2021-04-14 08:11] miketimofeev commented on #3166
@lukasmalkmus we've added SwiftFormat to the images!
The new image rollout will start on Monday and take 3-4 days.

[2021-04-14 08:37] armandabric commented on #3159
That's a freat news! This will avoid a lot of computation on a lot of GitHub action run :horse_racing: :dash:

[2021-04-14 09:00] miketimofeev commented on #2882
@ferventcoder @gep13 @pauby Hey, folks! We face a weird bug as @gregpakes mentioned — `choco search ghc --allversions | Where-Object { $_.StartsWith("ghc ") -and $_ -match "Approved"}` doesn't return ghc 9.0.1 sometimes. Could you please take a look at what goes wrong? Maybe some caching?
![image](https://user-images.githubusercontent.com/48208649/114683567-d0a23780-9d18-11eb-9ff8-ff93231c0912.png

[2021-04-14 09:10] ShahradGH opened #3180 "Interactive UI testing usable by the Windows Image for 2016/2019 generated by this process"
**Description**
Using Process written back in 02/2021 - Windows 2019 image generated using process-based packer and fed into a Azure VMSS resource.  This then is integrated into Azure Devops to provide a self-hosted agent pool for Azure Private Endpoint development. (Public DevOps agent cant be used as we are incorporating a virtual network with private endpoints resources)

**Area for Triage**:
T

[2021-04-14 09:15] LeonidLapshin commented on #2992
Hey, @BretJohnson !
I'll close the issue for now, but if you have any concerns, please feel free to reopen it :)

[2021-04-14 09:15] #2992 closed

[2021-04-14 09:53] maxim-lobanov commented on #3138
Hello @ykuijs , thank you for your proposal!
We definitely will add Windows Server 2022 when the stable version is released.

As for the adding new image while it is in preview, we would like to keep this issue opened for a while to track popularity of this request.
Usually, adding new images is not fast and simple process.

[2021-04-14 10:13] joekendal commented on #1354
Samen issue. This is not solved and no one explained how to fix.

[2021-04-14 11:15] pfifltrigg commented on #1354
In my case (Debian in VirtualBox on Windows), the error occurs when Windows thinks that you are are on a public network. Try setting the network connection to "private".

[2021-04-14 11:26] Darleev commented on #3123
Hello @bartwitkowski,
Did you try to change OMS agent versions? Could you please provide an update on this?
We are looking forward to your reply.

[2021-04-14 12:30] Darleev commented on #3180
Hello @ShahradGH,
Thank you for contacting us.
We'll investigate the issue. As soon as we find something, we'll let you know.

[2021-04-14 13:28] howardjones opened #3182 "GithubFeedToken parameter is not specified"
**Description**

Following the documentation to build an ADO Ubuntu 20 agent image, and the docs don't align with the script.
https://github.com/actions/virtual-environments/blob/main/docs/create-image-and-azure-resources.md

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [*] Ubuntu 16.04
- [*] Ubuntu 18.04
- [*] Ubuntu 20.04
- [*] macOS 10.15
- [*]

[2021-04-14 13:32] lukasmalkmus commented on #3166
Thanks, appreciate the quick response and effort! 👍

[2021-04-14 14:22] ShahradGH commented on #3180
@Darleev thank you for triaging.

I have confirmed with Microsoft that:

- The image itself can also not run Azure CLI and Azure Powershell based tasks for this similar reason (DevOps Release steps)
- I have prepared the image multiple times in-case it was a specific run issue (of course adhering to the 4-6 hour turnaround)
- Deployed Image in a different Azure location with eased and in 1 case no

[2021-04-14 14:47] luEbe opened #3183 "Signing a UWP Application using either VSBuild or MSBuild not working as expected"
**Description**

We used the VSBuild task to build a UWP application and sign it with a certificate that was uploaded to the _Secure Files Storage_ on Azure and then loaded into the certificate store using a Script utilizing the PowerShellV2 Task.
The build is successful but the application is not signed with that certificate, rather it seems like, it is just using the information given in the app

[2021-04-14 15:25] Darleev commented on #3182
Hello @howardjones,
As far as I see in the provided documentation:
`- github_feed_token - Github PAT. Required for NPM toolcache installation. Will be depricated soon.`
So, need to provide an additional parameter `GithubFeedToken`.
Here the link to the documentation: [How to generate GitHub PAT](https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token)
We are loo

[2021-04-14 15:30] howardjones commented on #3182
Then you should remove the check from GenerateResourcesAndImage.ps1 that aborts the run if it isn't supplied. I noticed that the parameter was actually not mandatory, but there is a check immediately after the parameters that exits if it isn't set. I commented that out and the build seems to be going (but very slowly - at least an hour so far).

The page I linked to above, which is the one the REA

[2021-04-14 15:40] Darleev commented on #3182
@howardjones thank you for pointing to this.
We'll definitely check this and update you as soon as new information appears.

[2021-04-14 15:59] lhotari opened #3185 "Reverse name lookup is broken for current hostname in ubuntu VMs"
**Description**

Reverse name lookup is broken for the current hostname. This leads to odd issues. Here are some reports from GitHub Community:
* https://github.community/t/github-action-and-oserror-errno-99-cannot-assign-requested-address/173973
* https://github.community/t/volatile-local-ip-addresses-during-action-run/174362
* https://github.community/t/github-actions-timeout/174533

This is a p

[2021-04-14 16:02] ibruynin opened #3186 "Azure devops hosted image 20210411.1 builds SSIS packages that cannot be deployed anymore [regression]"
**Description**
_Introduction_
We have an azure devops build pipeline that builds SSIS ispac artifact on a VS 2017 hosted agent.
We have an azure devops release pipeline that deploys those ispac artifacts to our on-prem SQL database(s) with an on prem agent.

_Issue_

- ispac artifacts built with '20210329.1' can be deployed without any issues.
- ispac artifacts (even rebuilding the same codebase)

[2021-04-14 16:09] howardjones commented on #3182
Just saw your PR, but this is the section I meant:

[code]

[2021-04-14 16:14] Darleev commented on #3182
Thank you, I've added GithubFeedToken removal as well

[2021-04-14 16:22] sirosen commented on #2951
Has there been further action on this?

The [workaround I have been using](https://github.com/actions/virtual-environments/issues/2919#issuecomment-799586341) just started failing (`bash -x` snippet):
[code]

Which is fine. I'll add `-f` until I have clarity on what's going on.

So... what is going on? Am I getting broken VMs or was there a change within the last 24-hours?
I don't see any relevant

[2021-04-14 16:24] Darleev commented on #3186
Hello @ibruynin,
Thank for contacting us.
The list of changes can be found in the following PRs:
[Windows 2016](https://github.com/actions/virtual-environments/pull/3157)
[Windows 2019](https://github.com/actions/virtual-environments/pull/3156)
We are investigating the issue.

[2021-04-14 16:35] catthehacker commented on #2951
Yes

`apt` source lists were removed

It was done here: #3077

[It's ongoing process which takes time to properly replace sources](https://github.com/actions/virtual-environments/pulls?q=is%3Apr+sort%3Aupdated+remove+apt+source)

[2021-04-14 16:38] maxim-lobanov commented on #2951
We have merged all our PRs:
- https://github.com/actions/virtual-environments/pull/3095
- https://github.com/actions/virtual-environments/pull/3037
- https://github.com/actions/virtual-environments/pull/3077
- https://github.com/actions/virtual-environments/pull/3036
- https://github.com/actions/virtual-environments/pull/3088
- https://github.com/actions/virtual-environments/pull/3091

All PRs exc

[2021-04-14 16:40] maxim-lobanov commented on #2951
@sirosen, I think this workaround is not needed anymore because apt source was removed.

[2021-04-14 17:50] sirosen commented on #2951
Awesome! Thanks so much for the speedy replies!

I just wanted to know what was up. Without activity on this issue, and given that it takes time from the PR merging until the user (me) sees a change, it wasn't clear if this work was active or stalled.

[2021-04-14 18:16] maxim-lobanov commented on #2951
After these all changes deployed, the list of repos should be:
[code]

Significantly shorter the initial list in first issue. We will continue work to cut it more

[2021-04-15 04:25] Darleev commented on #3185
Hello @lhotari,
Thank you for the detailed report.
We are investigating the issue.

[2021-04-15 07:49] dmitry-shibanov commented on #3031
Hello @sebastian-toepfer. I'm closing the issue, because for now we can't reproduce it from our side and don't have enough information about it. If you get any extra information please share with us and feel free to reopen the issue.

[2021-04-15 07:49] #3031 closed

[2021-04-15 08:00] miketimofeev commented on #3038
Hello, everyone!
The new image has been deployed. Please check if you have any issues now.
We're going to close this issue after a few confirmations that everything works fine now.

[2021-04-15 08:56] Darleev commented on #3183
Hello @luEbe,
Thank you for contacting us.
We will check the issue.

[2021-04-15 09:14] miketimofeev commented on #3165
@thisisthekap We have deployed macOS images with brew 3.1.1 on board! All the packages are now retrieved from GitHub Packages.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-15 09:14] #3165 closed

[2021-04-15 09:20] miketimofeev commented on #2962
@MichaelSimons we've finished the deployment! Both win16 & win19 now contain `sdk:4.8-windowsservercore` images.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-15 09:20] #2962 closed

[2021-04-15 10:20] Darleev commented on #3182
@howardjones We've merged the PR with the required changes. Could you please pull the latest main and try to build again?
Thanks for helping us improve the image generation process.
I'm going to close the issue, in case of any questions feel free to contact us.

[2021-04-15 10:20] #3182 closed

[2021-04-15 11:45] miketimofeev commented on #3038
We've found the root cause and it's related to the chocolatey https://github.com/chocolatey/choco/issues/2233

[2021-04-15 12:43] al-cheb commented on #3102
The new images with `sshpass` have been deployed.

[2021-04-15 12:43] #3102 closed

[2021-04-15 12:46] al-cheb commented on #3160
The new images with `terraform 0.14.10` have been deployed.

[2021-04-15 12:46] #3160 closed

[2021-04-15 13:28] smorimoto commented on #2707
@miketimofeev Many VMs still seem to have the issue. Especially, the write performance is often terrible: https://github.com/smorimoto/actions-ve-repro-2707/actions/runs/752151426

[2021-04-15 15:20] miketimofeev commented on #2963
@MichaelSimons the rollout is finished.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-15 15:20] #2963 closed

[2021-04-15 15:20] miketimofeev commented on #2867
@cognitionIT the rollout is finished for all the images.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-15 15:20] #2867 closed

[2021-04-15 15:37] dmitry-shibanov commented on #3117
Changes were added to the images.

[2021-04-15 15:37] #3117 closed

[2021-04-15 17:26] anpaz commented on #3038
@miketimefeev, what image version was this fixed on? I just tried on  '20210411.1' and I still see the problem.

[2021-04-15 17:30] asklar commented on #3038
@miketimofeev thanks a lot for drilling down and finding the issue, much appreciated! This would also explain why some of our customers who use our dependencies script (which uses choco) are hitting this too!

[2021-04-15 18:51] RoyGI commented on #1335
Hi i update the mac to Big Sur and try the same code

var hostName = Dns.GetHostName();
var ipHostEntry = Dns.GetHostEntry(hostName);

and it fails but works if i add ".local"

var hostName = Dns.GetHostName();
 var ipHostEntry = Dns.GetHostEntry(hostName + ".local");

has any solution in order to avoid ".local"???

[2021-04-15 19:02] xt0rted commented on #3038
I just updated my test PR that was doing `Remove-Item $env:APPDATA\NuGet\NuGet.Config` and I'm no longer getting the NuGet restore error so it looks to be working now. My setup is .net sdk 5.0.202, no `nuget.config`, and setting a GPR feed in the `actions/setup-dotnet` step. Prior to this update only packages in the GPR feed would restore but now the ones from nuget.org are as well.

[2021-04-15 20:15] Darleev commented on #3123
@bartwitkowski [the following issue](https://github.com/microsoft/OMS-Agent-for-Linux/issues/1318) contains the same problem as described in the initial request. You can track the status in the OMG Agent repository further.
I'm going to close the issue for now.
Feel free to contact us in case of any questions.

[2021-04-15 20:15] #3123 closed

[2021-04-15 20:33] Darleev commented on #3090
@elgohr Our team is responsible for virtual environment agents. In order to improve GitHub actions workflows or possible submit community feature, it's better to contact the GitHub actions team using the following link: https://github.community/c/code-to-cloud/github-actions/41
If additional assistance is required from our side, feel free to contact us.

[2021-04-15 21:43] ibruynin commented on #3186
Hi @Darleev

I compared the ispac artifacts in a binary fashion and noticed that they are identical, so I needed to dig a little deeper...

The issue was related to parallel changes in the deployment powershell script (that was also part of the build artifact)
That's why previous builds worked and newer builds did not.

You can close this one and lots of excuses for the inconvenience!

[2021-04-15 22:20] RickXMoore opened #3194 "Update/Add Azure CLI"
**Tool information**
- Tool name: Azure CLI
- Tool license: MS
- Add or update? update
- Desired version: 2.21.0
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:
See https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/azure-cli

**Question

[2021-04-16 05:32] gwang-msft opened #3195 "Java build breakage with MacOS 10.14 (version: '20210413.1')"
**Description**
After yesterday's upgrade to 20210413.1 all our java builds have started failing with 'net.rubygrapefruit.platform.NativeException: Could not query file systems: could not determine file system attributes (errno 5: Input/output error)'

We suspect that the Gradle 7.0 was the reason of the failure, the previous image version 20210405.1 where the build can finish, has Gradle 6.8.3

E

[2021-04-16 05:33] gwang-msft commented on #3195
Is there any way to downgrade in the pipeline run to using Gradle 6.x?

[2021-04-16 06:43] bartwitkowski commented on #3123
Hi @Darleev , yesterday I've tried to add comment, but comments were disabled - strange :/.
Anyway, OMSExtension version 1.13.35 works for me on Ubuntu 18.04 release 20210405 but not Ubuntu 20.04.

[2021-04-16 06:55] #3186 closed

[2021-04-16 06:56] dsame commented on #3186
@ibruynin thanks for your note! Feel free to re-open this issue or create another one in case if the problem still exists

[2021-04-16 06:59] miketimofeev commented on #3195
Hi @gwang-msft!
Could you please try the following steps to downgrade gradle in runtime?
[code]

[2021-04-16 07:32] maxim-lobanov commented on #3034
Closing the issue for now. Please let us know if you have any concerns and it should be reopened after discussion with .NET team

[2021-04-16 07:32] #3034 closed

[2021-04-16 07:42] miketimofeev commented on #2988
@adamkewley I'm going to close the issue since the root cause seems to be on the VS side and we can't do anything here.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-16 07:42] #2988 closed

[2021-04-16 07:45] maxim-lobanov commented on #3079
@aouinizied , you macOS builds failed by timeout. The `pypy-3.7` job was not started due to `fail-fast: true` in YAML file.

[2021-04-16 07:47] miketimofeev commented on #3079
I'm going to close the issue since everything should be fine now

[2021-04-16 07:47] #3079 closed

[2021-04-16 07:56] Darleev commented on #3194
Hello @RickXMoore,
According to the latest [Windows 2019 documentation](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#cli-tools), Azure CLI 2.21.0 should be installed on agent machines.
I'll additionally check it and let you know

[2021-04-16 08:26] max0x7ba commented on #2667
Very unfortunate decision. My project cannot use github actions without boost libraries.

[2021-04-16 09:31] gwang-msft commented on #3195
@miketimofeev the build passed after adding your steps to downgrade gradle to 6.8.3

[2021-04-16 11:26] miketimofeev commented on #3195
@gwang-msft good to hear!
Unfortunately, we can't downgrade the Gradle on the images since our strategy is to install the latest version. Please consider using gradlew to stick to the exact Gradle version for your project https://docs.gradle.org/current/userguide/gradle_wrapper.html
I'm going to close the issue, but feel free to contact us if you have any concerns.
Thank you!

[2021-04-16 11:26] #3195 closed

[2021-04-16 11:52] elieassi opened #3200 "Update Visual Studio Enterprise 2019"
**Tool information**
- Tool name: Visual Studio Enterprise 2019
- Tool license: MS
- Add or update? update
- Desired version: latest
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:
Feature

**Virtual environments aff

[2021-04-16 14:53] progapandist commented on #3185
I can confirm that this was a major issue for my system tests for a Rails app with Chrome and Capybara (unfortunately, private repo). Github Runner VMs on Ubuntu became blind to localhost and all requests headed there timed out.

Quick fix is to add this step to workflow:

[code]

Hope it helps someone and I will subscribe to this issue to see when this is resolved.

[2021-04-16 15:24] Darleev commented on #3200
Hello @elieassi,
Microsoft.NETCore.App 3.1.14 will be available after the next image rollout.
The new image rollout will start on Monday and take 3-4 days.

[2021-04-16 15:25] lhotari commented on #3185
Hi @Darleev,  Have you made progress in the investigation?

To me, it seems like a problem caused by Azure Virtual Network configuration for GitHub Runner VMs. Azure added support for [reverse DNS lookups for Azure Virtual Networks in April 2020](https://azure.microsoft.com/en-us/updates/announcing-reverse-dns-support-in-azure-virtual-networks/).
The reverse DNS lookup information is currently inv

[2021-04-16 15:40] Darleev commented on #3194
@RickXMoore actual version of Azure CLI is `2.21.0` as requested. Version 2.22.0 will be available on next week after the image rollout.
I'm going to close the issue.
In case of any questions, do not hesitate to contact us.

[2021-04-16 15:40] #3194 closed

[2021-04-16 16:45] ltrzesniewski commented on #3038
I removed a build step which executed the following on 2 of my repos:

[code]

And the builds run fine now! Thanks!

Additional details:
 - One of the builds uses `dotnet restore`, the other one uses `msbuild /t:Restore`
 - I don't have nuget.config files in the repos

[2021-04-16 16:48] RickXMoore commented on #3194
Much appreciated.

[2021-04-16 17:00] Halo-Michael opened #3201 "macOS-10.15 image is broken, generated unexecable files."
**Description**
A clear and concise description of what the bug is, and why you consider it to be a bug.
macOS-10.15 image is broken, generated unexecable files.
Here is the repo which used the broken image and generated broken file:
https://github.com/Halo-Michael/suer

And here is the broken build:
https://github.com/Halo-Michael/suer/runs/2363905101

**Area for Triage**:  Apple

**Question, Bug

[2021-04-16 17:37] liZe commented on #3161
This build passed, I don’t know why…

https://github.com/Kozea/WeasyPrint/runs/2360920871?check_suite_focus=true

[2021-04-16 18:00] patrickcarnahan commented on #3185
@lhotari we have identified the change that caused this problem and are working through potential solutions. We will continue to post updates to this issue. Thanks for reporting!

[2021-04-16 20:25] gwang-msft commented on #3195
@miketimofeev

I tried Gradle wrapper to use Gradle version 6.8.3

Here is something interesting, even running gradle wrapper will throw the exception, even it will not cause the pipeline to fail, you may want to reconsider downgrade the gradle until it is more stable? Since gradle 7.0 is newly released 7 days ago.

https://dev.azure.com/onnxruntime/onnxruntime/_build/results?buildId=359900&view=l

[2021-04-16 21:06] rdipardo opened #3202 "windows-latest hangs during npm/nuget package install and/or dotnet build"
**Description**
_Possible duplicate of actions/virtual-environments#2098_

The workflow is (at the time of writing)  [hanging indefintely](https://github.com/rdipardo/rdipardo.github.io/actions/runs/756649905) while trying to do [the following](https://github.com/rdipardo/rdipardo.github.io/blob/main/package.json#L23-L26), all driven by `npm` (on node 12.22.1):

- install a single npm dependency (

[2021-04-16 23:05] XuanThuLe commented on #3185
Ok

[2021-04-17 00:41] skyline1983skyliny opened #3203 "polak1983polak"
**Breaking changes**

**Target date**

**The motivation for the changes**

**Possible impact**

**Virtual environments affected**
- [x] Ubuntu 16.04
- [x] Ubuntu 18.04
- [x] Ubuntu 20.04
- [x] macOS 10.13
- [x] macOS 10.14
- [x] macOS 10.15
- [x] macOS 11.0
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Mitigation ways**

[2021-04-17 03:06] davidkhala commented on #2372
The root reason is: Github workflow ubuntu-latest has pre-installed `mysql-server` as a `apt` package

So it is not a pure clean environment, it is better to stop the mysql service and purge the installation before testing developer's own mysql installation scripts.

Here is my green result!

https://github.com/davidkhala/ubuntu-utils/runs/2345045625

Following is how I purge
[code]

[2021-04-17 03:27] patrickcarnahan commented on #3185
@lhotari we have isolated the issue and will begin rolling the fix on Monday. Apologies for the inconvenience here.

[2021-04-17 03:42] #3203 closed

[2021-04-17 04:22] rdipardo commented on #3202
Found the real problem by reviewing the logs after the job timed out.
The command processor [tried to terminate early][] for some reason.

[tried to terminate early]: https://github.com/rdipardo/rdipardo.github.io/runs/2365155534?check_suite_focus=true#step:5:366

[2021-04-17 04:22] #3202 closed

[2021-04-17 09:41] AlexanderAmelkin commented on #2486
I second freak4pc's suggestion. I must note also that if I add macos-11.0 and want to use a matrix of [ maxos-10.15, macos-11.0 ], then the 11.0 build never finishes without saying that it is not available, and the 10.15 build silently gets 'cancelled' without any explanation at all. That doesn't look like correct behavior. I think you must announce removal of 11.0 environment for new users, and r

[2021-04-18 21:01] piyaphart opened #3205 "Go"
**Breaking changes**

**Target date**

**The motivation for the changes**

**Possible impact**

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.13
- [ ] macOS 10.14
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Mitigation ways**

[2021-04-18 21:19] greenEkatherine commented on #2741
@dsame sorry for the late answer, I've noticed that my changes didn't increase timeouts. I'm trying to find where it should be properly increased. Also, I found a way to close the message with a system error, will run several builds to check if it helps

[2021-04-19 01:33] manongjohn commented on #3022
Not sure what might have changed, but for whatever reason, I am suddenly unable to duplicate this problem when I try to recreate the issue. Because of this, there is no point continuing any more investigation so I will close the issue.

Thanks all that took the time to investigate.

[2021-04-19 01:33] #3022 closed

[2021-04-19 04:12] Halo-Michael commented on #3201
So uha... any help?

[2021-04-19 05:18] ViRb3 commented on #3073
Hello @Darleev just wondering if there's any update on this situation? Thanks

[2021-04-19 05:24] Darleev commented on #3090
@elgohr I'm going to close the issue.
In case of any questions, do not hesitate to contact us.

[2021-04-19 05:24] #3090 closed

[2021-04-19 06:10] elieassi commented on #3200
Good morning @Darleev ,  awesome new.. thank you guys!

[2021-04-19 06:12] dibir-magomedsaygitov commented on #3201
@Halo-Michael Thank you for your report. We will investigate this issue and let you know as soon as we have some results to share.

[2021-04-19 08:33] shlomi-noach commented on #3185
We can confirm that https://github.com/vitessio/vitess CI/workflows suffered major similar issues from hostname resolves, and that @progapandist  's solution in https://github.com/actions/virtual-environments/issues/3185#issuecomment-821233703 fixed the problem (thank you @progapandist !)

[2021-04-19 08:34] progapandist commented on #3185
All credit for that goes to @lhotari, I just retyped his solution to confirm it works :)

[2021-04-19 08:46] shlomi-noach commented on #3185
Then at the cost of spamming this thread just a bit further, thank you @lhotari !

[2021-04-19 08:58] dsame commented on #3183
@luEbe we are not able to reproduce the problem from the ground. Can you please provide a reference to the succeeded and failed builds? Also it would be very useful if there were minimal repro.

[2021-04-19 09:27] miketimofeev commented on #3143
@roopsduhra Good news, azure-cli 2.22 doesn't have the issue. The new image with it on board will be deployed in the next 3-4 days.

[2021-04-19 09:29] luEbe commented on #3183
@dsame What kind of reference would you like to have? The logs or a URL to the exact build or something else?
Also, we do not have the "succeeded" build anymore, as it was deleted due to our retention policy. Furthermore, the build was always successful, it just did not sign the application as expected.

For the minimal repro, I am not sure what to provide, as we can not say for sure what is causi

[2021-04-19 11:50] dsame commented on #3183
@luEbe if your repository is open source the link to it is enough. In the other case please attach the logs.

[2021-04-19 11:55] luEbe commented on #3183
[logs_2118.zip](https://github.com/actions/virtual-environments/files/6335782/logs_2118.zip)

That is what I can offer. These are the logs of one of the "failing" builds. As I already mentioned, I unfortunately cannot supply you with those of the successful one, as it was deleted.

[2021-04-19 13:44] roopsduhra commented on #3143
@miketimofeev, can you please let me know once new images is deployed, many thanks for the update.

[2021-04-19 22:17] chkimes commented on #3185
For a bit of clarification on the change we're making, we're effectively codifying the hosts file change that was recommended in this issue and running it before providing the VMs to customers. This is a short term fix intended to resolve broken workflows. The PTR record will _still_ be incorrect if queried from the DNS server for the eth0 IP, but at least forward queries for the hostname will be

[2021-04-19 23:03] starpit commented on #3185
Has the update propagated at this point? Curious because we're still seeing the same failures that started 2 weeks ago.

[2021-04-19 23:10] chkimes commented on #3185
The rollout has started but only hit a small subset of customers. It should finish completely before the end of this week.

[2021-04-20 05:36] dsame commented on #3183
@luEbe
Ok, i confirm there's no problem with the build steps and they look good

The UWP platform had been upgraded twice between the failed and the succeeded builds so we can not identify the exact source of the problem having the logs only

1. Can you please confirm the UWP components versions used for the local build are the same the ones used in the pipeline?
2. Can you please create the repro

[2021-04-20 08:27] miketimofeev commented on #3148
@mattleibow we have added the MSBuild version to the documentation so you can follow when the version is updated. The docs will be updated on the next image rollout.

[2021-04-20 09:03] EwoutH commented on #2365
For anyone that wants to use the latest NDK with Bazel, add this step:
[code]
If there's a more elegant way, please share.

[2021-04-20 09:33] AHuusom opened #3218 "making the tools idempotent."
I would really like if you could make all the tools idempotent.

This would be useful, since packer can retry after it failed.
So it would be nice, if Pester could test before and skip if the tool is already installed.

Today, if the whole process fails after a 5 hour run, it is frustrating having to start all over again, because it doesn't know how to continue from where it started even though th

[2021-04-20 10:10] dibir-magomedsaygitov commented on #3218
@AHuusom Thank you for your report. We will take a look and share our thoughts on it.

[2021-04-20 12:14] Darleev commented on #3074
Hello @slime-uk @tiernano,
We've received a response from our engineering team. They advised us to use CDN URLs to avoid downloading issue. Currently, we are working on it.
We will keep you updated.

[2021-04-20 13:10] dsame commented on #3201
@Halo-Michael

Is there are any evidences the executable binary must have 0xc8 byte in 0x16 offset?

I confirm the binary built with the current build does not have it

[code]
[code]

but `file suer` still shows correct file format

[code]

Are you sure the crash is caused by the invalid binary? Is there any clear evidences of this?

[2021-04-20 13:31] Halo-Michael commented on #3201
Try to use lipo to cut slices, will generate empty file.

[2021-04-20 13:31] mirabilos commented on #2365
Ewout ter Hoeven dixit:

This is fun, as the Android toolchain positively warns about the
use of ANDROID_NDK_HOME; the side-by-side (instead of bundle) NDK
is preferred these days and I have to explicitly execute
	unset ANDROID_NDK_HOME
(part of my run command) to avoid running into that warning.

bye,
//mirabilos
--
Infrastrukturexperte • tarent solutions GmbH
Am Dickobskreuz 10, D-53121 Bonn • h

[2021-04-20 13:33] Halo-Michael commented on #3201
I think the relevant bytes indicate how the system gets the correct slice, but in fact I don’t know much about these. All in all, if you manually replace the damaged binary with the correct header and re-sign it, it will work normally.

[2021-04-20 14:29] trel commented on #2890
We've seen increased success lately.    Not sure that's actionable here, but seeing fewer timeout failures.    Not yet zero, though.

[2021-04-20 14:29] miketimofeev commented on #2882
@gregpakes we haven't experienced that issue for a week already, looks like something was fixed on the choco end.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-20 14:29] #2882 closed

[2021-04-20 15:53] dsame commented on #3201
@Halo-Michael

Have your ever have succeeded build with the same pipeline?
What is the device you run the binary on? Are you sure it has the arm architecture?

[2021-04-20 16:11] Halo-Michael commented on #3201
The last time I used github action and works is https://github.com/Halo-Michael/Generator-Auto-Setter/runs/2260079781
The devices that can run binary on is iPhone/iPad (iOS).

[2021-04-20 16:17] Halo-Michael commented on #3201
And in fact there have no any exact message because it can't even running.
![DP @)1A8W9NH Q3H{$C7T1R](https://user-images.githubusercontent.com/45062120/115430476-fce91700-a236-11eb-9d7f-f7736a93335c.png)

[2021-04-20 18:18] MarcoEidinger commented on #2486
@AlenaSviridenko Would you be so kind to give a status update on the macOS 11.0 image? Today's Xcode 12.5 RC release (on macOS 11 only) makes the availability even more critical as the official release is expected for next week.

[2021-04-20 18:40] Jon889 commented on #2072
@AlenaSviridenko Is there any update now that we know iOS 14.5 and Xcode 12.5 will be coming out next week?

[2021-04-20 22:47] mikeharder commented on #798
Suspected root cause: https://github.com/Azure/WALinuxAgent/issues/1673

[2021-04-20 23:24] eamonnmcmanus opened #3221 "Ubuntu: `GRADLE_HOME` set to nonexistent directory"
**Description**
[`java-tools.sh`](https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/installers/java-tools.sh)
unpacks the latest Gradle distribution directly into `/usr/share`, leading to a directory like `/usr/share/gradle-7.0`. It then correctly links `/usr/bin/gradle` to `/usr/share/gradle-7.0/bin/gradle`. But then it sets `GRADLE_HOME` to `/usr/share/gradle`, which

[2021-04-21 04:11] dsame commented on #3201
I see this is the different repo, not suer. Have you ever had `suer` build with the expected header? I need this info to identify the differences of the images

[2021-04-21 05:33] Halo-Michael commented on #3201
The only different is not used image 20210412.2.

[2021-04-21 05:47] dsame commented on #3201
@Halo-Michael

Meanwhile i compared the headers of suer and suer_broken and identified the differences as having empty "size" field in the broken binary:

![image](https://user-images.githubusercontent.com/245540/115500764-698e0100-a28b-11eb-8f7f-0650925c4007.png)

Comparing the Makefiles of Suer and Generatore-Auto-Setter i see the extra clang flag `-arch armv7` of the broken suer build:

```xcru

[2021-04-21 06:54] dibir-magomedsaygitov commented on #3221
Hello, @eamonnmcmanus. Thank you for your report. We will take a look and come back with the results.

[2021-04-21 06:55] Halo-Michael commented on #3201
Xcode11.7 or macOS10.15 did not remove support for armv7 builds, so I don’t know why I need to do this.
I think it's a bug of your image.

[2021-04-21 06:56] Halo-Michael commented on #3201
Even Xcode12 or macOS11 has not removed support for armv7 builds.

[2021-04-21 07:02] Halo-Michael commented on #3201
To be honest, I just use github active to run build tests and not really need the packages built by it. I am now distributing packages compiled from my personal device. Even if I don't raise/you don't fix this problem, it won't affect me in any way, I just think you should know that there is a problem with your stuff.

[2021-04-21 07:05] Halo-Michael commented on #3201
If you don’t want to study this issue, I can close this issue right now.

[2021-04-21 07:06] Halo-Michael commented on #3201
If you don’t want to research this issue, I can close this issue now.

[2021-04-21 07:06] dsame commented on #3201
i confirm arm-v7 is not an issue and removing it still does not populate `size` field of mach-o header.

https://github.com/dsame/suer/runs/2397809208?check_suite_focus=true

The local build with xcode-12.0.1 produces correct  mach-o binary though

[2021-04-21 07:12] Halo-Michael commented on #3201
The only one reason I used Xcode11.7 insted of Xcode12 is Apple just changed the ABI of arm64e since iOS14/Xcode12, The new ABI compatible the old one but otherwise is not. So I have to build on Xcode11.7 in order to provide compatibility with the old system as much as possible.

[2021-04-21 07:21] AHuusom opened #3223 "Haskell windows 2019 fails with version check"
**Description**
The sorting mechanism on the versioning is off and shows 3 different outcomes on 3 different VMS.
The if statement testing if version is < 8 is testing against a unused variable.

**Area for Triage**:
Haskell

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [x] Windo

[2021-04-21 07:23] KSXGitHub opened #3224 "GitHub Actions has encountered an internal error when running your job."
**Description**
When using matrix, some check fail due to internal error, some don't.

**Workflows:**

* https://github.com/KSXGitHub/padded-column/actions/runs/769697506
* https://github.com/KSXGitHub/padded-column/actions/runs/769719087
* https://github.com/KSXGitHub/padded-column/actions/runs/769794294

[2021-04-21 07:40] gep13 commented on #3224
Looks like there is a known issue currently:

https://www.githubstatus.com/incidents/cj7gzzj30411

[2021-04-21 07:46] dibir-magomedsaygitov commented on #3224
Hello, @KSXGitHub. As @gep13 mentioned, we are experiencing service degradation at the moment. Sorry for the inconvenience.

[2021-04-21 07:48] miketimofeev commented on #3223
@AHuusom Thanks for your fix. However, it looks like we need to raise the issue in the choco repository because we should have 3 latest versions, but not 3 random versions

[2021-04-21 08:04] AHuusom commented on #3223
@miketimofeev Choco definetely gives you over 3 versions... but the sorting done by the code to get the latest was faulty, as it sorted on the count instead of the version naming.

[2021-04-21 08:07] miketimofeev commented on #3223
@AHuusom yeah, it gives, but sometimes not all the versions
https://github.com/actions/virtual-environments/issues/2882#issuecomment-819356981

[2021-04-21 08:28] AlenaSviridenko commented on #2486
Hi 👋,
we're working on a plan to get Big Sur added to the hosted pool sometime in June/July, we are still working on hardware infrastructure to be ready. We are aware about stable Xcode 12.5 coming soon and doing everything possible to make macOS 11 ready as soon as possible.

[2021-04-21 08:28] AlenaSviridenko commented on #2072
Hi 👋,
we're working on a plan to get Big Sur added to the hosted pool sometime in June/July, we are still working on hardware infrastructure to be ready. We are aware about stable Xcode 12.5 coming soon and doing everything possible to make macOS 11 ready as soon as possible.

[2021-04-21 08:40] Jon889 commented on #2072
Thanks @AlenaSviridenko for the update! It’s possible to run the agent on Big Sur on our own hardware right?

[2021-04-21 08:46] AlenaSviridenko commented on #3129
Image with the changes was deployed fully, closing this ticket

[2021-04-21 08:46] #3129 closed

[2021-04-21 08:52] AlenaSviridenko commented on #3111
Images with the changes were deployed everywhere, closing this ticket

[2021-04-21 08:52] #3111 closed

[2021-04-21 09:08] bielikb opened #3226 "Add Xcode 12.5 RC"
**Tool information**
- Tool name: Xcode
- Add or update? Update
- Desired version: Xcode 12.5 RC
- Approximate size:  -

Download link:
[https://developer.apple.com/services-account/download?path=/Developer_Tools/Xcode_12.5_Release_Candidate/Xcode_12.5_Release_Candidate.xip](https://developer.apple.com/services-account/download?path=/Developer_Tools/Xcode_12.5_Release_Candidate/Xcode_12.5_Release_

[2021-04-21 09:22] miketimofeev commented on #3226
Hi @bielikb!
Xcode 12.5 is available for macOS 11 only. The version has been updated recently:
https://github.com/actions/virtual-environments/pull/3222#pullrequestreview-640801757
I'm going to close the issue. Please feel free to contact us if you have any concerns/
Thank you!

[2021-04-21 09:22] #3226 closed

[2021-04-21 09:26] bielikb commented on #3226
Hi @miketimofeev,

thanks, that's perfect!

Best,
Boris

[2021-04-21 09:36] luEbe commented on #3183
@dsame

Regarding Point 1: What exactly do you mean by UWP components versions? We are using the exact same code base so there should not be any differences, am I right?

We just compared our project file to other UWP Projects and realized, that we are using the **DotnetNativeToolchain**. This has been like that from the beginning of the project and it never caused a problem.
Out of curiosity we t

[2021-04-21 09:57] AlenaSviridenko commented on #2072
Correct, you can use self-hosted runner with Big Sur

[2021-04-21 12:52] dsame commented on #3201
@Halo-Michael
jfi: the problem is with `ldid` - it erases `size` field of the header
https://github.com/dsame/suer/runs/2400475328?check_suite_focus=true

[2021-04-21 13:39] dsame commented on #3201
@Halo-Michael
I've built ldid from the sources and not the build succeeded
https://github.com/dsame/suer/runs/2400773904?check_suite_focus=true

Moreover the success build you've provided https://github.com/Halo-Michael/Generator-Auto-Setter/runs/2260079781
used ldid@2.1.2 alike local build

and the failed build https://github.com/Halo-Michael/suer/runs/2363905101  used ldid@2.1.3

Thus i believe

[2021-04-21 14:51] Halo-Michael commented on #3201
Yes, the cause of the problem is that brew released a broken version of ldid. Although it was repaired afterwards, github active cached the installation information of the problematic ldid, and I did not execute brew update.

[2021-04-21 14:51] #3201 closed

[2021-04-21 15:22] dibir-magomedsaygitov commented on #3221
Hello, @hashtagchris. We have merged PR with the fix. Images should be available with the next week's Rollout. I'll post an update message.

[2021-04-21 18:17] joshuarichards512 opened #3228 "AzDevOps user can not access Java Bin folders"
**Description**
The AzDevops user is unable to access the x64 folders for all installed versions of Java

**Area for Triage**:  Java

**Question, Bug, or Feature?**:  Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [x] Windows Server 2019

**Image version**

Latest

**Expected behavior

[2021-04-21 18:34] dibir-magomedsaygitov commented on #3228
Hello @joshuarichards512 . Thank you for your report. We will take a look at this issue and come back as soon as we have any results.

[2021-04-21 19:11] archer-eli commented on #841
FYI, we're hitting this - please queue for resolution :)

[2021-04-21 20:14] bgilbert opened #3229 "Rootless podman broken in Ubuntu 20.04 20210419.1"
**Description**

On Ubuntu 20.04 20210419.1 (with Podman 3.1.0), running Podman as non-root fails with errors about overlay mounts ([example](https://github.com/coreos/fedora-coreos-docs/runs/2403706798?check_suite_focus=true)).  20210412.1 (with Podman 3.0.1) does not have this problem, nor does Ubuntu 18.04 20210419.1 (which also has Podman 3.0.1).  Running Podman with `sudo` avoids the problem.

[2021-04-21 21:24] dibir-magomedsaygitov commented on #3229
Hello @bgilbert. Thank you for your report. We will take a look at this issue.

[2021-04-21 23:27] rnett opened #3231 "NPE in JS action causes Error: Dr instead of useful error message"
**Description**
I have an action running ~`git add -A`~ `git commit`.  This fails with `Error: Dr` or `Error: ls` which tells me nothing.  I'm not sure if this is the right place for the issue, as I have no idea what's responsible.

Logs: https://github.com/rnett/krosstalk/runs/2406588263?check_suite_focus=true

I'm running this command through a custom action, which uses `actions/exec`.  The comm

[2021-04-22 00:22] R-BLIP885 opened #3232 "Javascripsj3"
**Breaking changes**

**Target date**

**The motivation for the changes**

**Possible impact**

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.13
- [ ] macOS 10.14
- [ ] macOS 10.15
- [ ] macOS 11.0
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Mitigation ways**

[2021-04-22 00:23] R-BLIP885 opened #3233 "Javascripsj3"
**Description**
A clear and concise description of what the bug is, and why you consider it to be a bug.

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] Ubuntu 16.04
- [x] Ubuntu 18.04
- [x] Ubuntu 20.04
- [x] macOS 10.15
- [x] macOS 11.0
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Image version**

Image version where you are experienci

[2021-04-22 00:58] rnett commented on #3231
After splitting the `git add -A` into `git add .` and `git add -u`, only `git add -u` fails with `Error: is`.

[2021-04-22 01:12] rnett commented on #3231
Furthermore, capturing the output of the command and printing it manually regardless of the error code (via actions/exec) does not seem to work.

[2021-04-22 02:05] rnett commented on #3231
This is especially odd since `git` is version `2.31.1`, which means `git add .` is `git add -A` by default.

[2021-04-22 02:17] rnett commented on #3231
Well, `git add .` fails if it's all I run, so it's likely not either of the add commands failing, but instead a subsequent command that isn't shown in the log for some reason.

[2021-04-22 03:55] KSXGitHub commented on #3224
It's working now

[2021-04-22 03:55] #3224 closed

[2021-04-22 04:06] rnett commented on #3231
Alright, so this was because of a NPE in my JS action.  I'm leaving it open because the error messages (or rather lack thereof) seems like a environment issue.

[2021-04-22 04:29] iemejia commented on #3185
Can somebody here please confirm when this is done so we can remove the workarounds?

[2021-04-22 04:54] simonDominos opened #3234 "Ubuntu agent pool 2004 (20210419 update) - some agents are on Chrome v89 and some on v90"
At some point overnight we noticed some tests passing and some failing in our build pipeline. I had a look  and it looks like some Ubuntu 20.04 agents have Chrome v89 installed and some have v90.

Further looks into this when we run the initialise job i noticed the build is selecting a different image version even though we use the same agent pool...

Current image version: '20210412.1' - this has

[2021-04-22 06:00] miketimofeev commented on #3185
@iemejia it should be finished by now

[2021-04-22 06:03] miketimofeev commented on #3234
Hi @simonDominos! it takes time to propagate the image to all the environments. We're going to finish the 20210419.1 image deployment today. Sorry for the inconvenience!
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-04-22 06:03] #3234 closed

[2021-04-22 06:28] dsame commented on #3183
Please compare the versions of the following components used in the current Win 2019 image with the ones installed in your environment

[code]
(see https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md)

[2021-04-22 07:22] al-cheb commented on #3228
Hello, @joshuarichards512
I can't reproduce the issue from my side.

[code]

![image](https://user-images.githubusercontent.com/47745270/115672711-7fb3c400-a354-11eb-8458-5a4f6dfc6d08.png)

[2021-04-22 07:30] maxim-lobanov commented on #3231
Hello @rnett , I think https://github.com/actions/toolkit is correct repo because they own actions/exec.

[2021-04-22 08:02] dsame commented on #3228
I confirm the issue is not reproducible

https://dev.azure.com/v-sedoli/dummy/_build/results?buildId=166&view=logs&j=275f1d19-1bd8-5591-b06b-07d489ea915a&t=24311d03-63ec-5098-c8e5-7df09da2b6d4

[2021-04-22 08:16] AlenaSviridenko opened #3235 "[ubuntu] Clang 9 will be removed on May, 17th and default will be set to Clang 11"
**Breaking changes**
Clang 9 will be removed from Ubuntu 20.04 images in favor of Clang 12, also default will be set to Clang 11

**Target date**
Image deployment will start on May, 17th and will take 3-4 days

**The motivation for the changes**
Based on our [guidelines](https://github.com/actions/virtual-environments/blob/main/docs/software-and-images-guidelines.md#software-and-images-support-pol

[2021-04-22 08:57] dsame commented on #3228
@joshuarichards512 can you please provide the link to a filed build?

[2021-04-22 09:11] dsame commented on #3161
@liZe i guess there's some deps involved in the issue. do you have another success/fail builds?

[2021-04-22 09:23] AlenaSviridenko commented on #3218
Hi @AHuusom,
this topic more fits the discussion section, as it is something that will require significant process update if we decide to do that.
I am going to convert it into discussion, thanks for raising up this point.

[2021-04-22 09:24] #3218 closed

[2021-04-22 09:25] liZe commented on #3161
WeasyPrint is unfortunately the only repository where we have the problem (we don’t have many repositories with Windows tests though).

By "deps", do you mean Python deps or MinGW deps? We can try to remove some of the deps and see if the build crashes. Would it help?

[2021-04-22 09:46] #3231 closed

[2021-04-22 09:49] IkeLutra opened #3237 "Bundler and RubyGem versions incorrect"
**Description**
The bundler and RubyGems versions in the Mac OS 10.15 image (20210419.2) aren't as documented in the [readme](https://github.com/actions/virtual-environments/blob/macOS-10.15/20210419.2/images/macos/macos-10.15-Readme.md)

**Area for Triage**:

Ruby

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**
- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X

[2021-04-22 10:02] dibir-magomedsaygitov commented on #3237
Hello @IkeLutra. Thank you for your report. We will take a look at this issue.

[2021-04-22 10:03] maxim-lobanov commented on #3237
Both default Bundler and default RubyGems are documented in the readme: https://github.com/actions/virtual-environments/blob/macOS-10.15/20210419.2/images/macos/macos-10.15-Readme.md#package-management

But please pay attention that when you use `UseRubyVersion` task, the specified Ruby is installed and brings own RubyGems / Bundlers (included to Ruby).
So it is expected behavior.