[2022-08-03 16:09] #5947 closed

[2022-08-03 16:15] mikhailkoliada commented on #598
@mgree Hello!

Please see my reply https://github.com/actions/virtual-environments/issues/5583#issuecomment-1196763627, unfortunately we can not support macfuse as a part of runner images.

[2022-08-03 16:24] suhas-arcadis commented on #6014
packer version: 1.8.2
I tried packer fix, it created a new json file but still encountering same issue.

FYI - I ran 'packer fix .\images\win\windows2019.json > new.json', replaced the new content within the windows2019.json and executed the command to generate image, again with same issue.

[2022-08-03 18:31] mikhailkoliada commented on #6013
@probal31 as I said I do not observe any problems with debian's mirror at the moment. In anyway, it is a dns' fault, so we are unlikely to help here as we are taking Ubuntu from azure marketplace and do not modify systemd-resolved or systemd-networkd settings, my only advice here could be to play around different dns servers in runtime once you see the problem again and see if it helps.

If you ha

[2022-08-03 18:31] #6013 closed

[2022-08-03 19:02] mgree commented on #598
I see... thanks for following up!

[2022-08-04 06:12] #5991 closed

[2022-08-04 06:28] probal31 commented on #6013
@mikhailkoliada This issue does not happen in a VM while in the dev system. Also this same configuration works fine in Travis as well.  But it fails to run while using GitHub actions.

That's the reason we raised an issue here. It seems to be an issue specifically while using GitHub actions.

Can you please comment how to proceed with this?

Thanks.

[2022-08-04 06:51] dsame commented on #5966
@Rajeswari06
The problem is not reproducible

https://dev.azure.com/v-sdolin-demo/virtual-environments-issues-5966/_build/results?buildId=1&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=133f3517-8e0b-58ce-ce4b-35396d6eb7ef

I created the public repo
https://dev.azure.com/v-sdolin-demo/virtual-environments-issues-5966

Please feel free to fork the git repo
https://dev.azure.com/v-sdolin-demo/_

[2022-08-04 09:11] mikhailkoliada commented on #6013
@probal31 issues like that are probably to go to Azure support in the worst case, it is completly out of our hands

[2022-08-04 09:29] elb3k commented on #5980
@al-cheb since compose v2.9.0 is pushed, can we reopen the ticket, I changed the version from 2.7.0 to 2.9.0.

[2022-08-04 10:25] BoD opened #6020 "Add Google Cloud SDK on macos"
### Tool name

Google Cloud SDK

### Tool license

Apache License v. 2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

The latest

### Approximate size

_No response_

### Brief description of tool

This is [already available](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md#cli-tools) on Ubuntu images, but not on MacOS images.

### UR

[2022-08-04 10:38] mikhailkoliada commented on #6020
Hello @BoD I believe the reasoning was provided [there](https://github.com/actions/virtual-environments/issues/4639) already, and I believe we still would not like pre-installing it as the github action might be used.

[2022-08-04 10:38] #6020 closed

[2022-08-04 10:41] martinbonnin commented on #4639
Is there anything that prevents https://github.com/google-github-actions/setup-gcloud to work with Ubuntu images?

I understand the reasoning but is there a reason it doesn't apply to Ubuntu images? This makes switching images more error prone.

[2022-08-05 02:13] bhjelstrom opened #6022 "Ubuntu 20.04.4 Environment Locks Up While Cloning a Repo (Github-hosted runner)"
### Description

I have an action that sometimes completes in three hours, but often locks-up at the exact same spot while cloning a repository. When this lock-up occurs, it resolves itself consistently after 3 hours and 50 minutes. This lock-up causes my action to fail as it pushes the total action time beyond 6 hours. Git is used to clone the repo via a script in another repo. Hundreds of other

[2022-08-05 06:32] miketimofeev commented on #5879
@ThadHouse @MarijnS95 we have added three variables that point to the latest LTS NDK (25 at the moment) to all the images:
`'ANDROID_NDK', 'ANDROID_NDK_HOME', 'ANDROID_NDK_ROOT'`
Sorry for the inconvenience and please let me know if there is anything else left.
Thank you!

[2022-08-05 06:32] #5879 closed

[2022-08-05 08:41] mikhailkoliada commented on #6022
@bhjelstrom hello!

Could you please provide real examples of the problem so we take a look.

[2022-08-05 09:19] ddobranic opened #6024 "[All OSs] Go version 1.16 will be removed on August, 15th"
### Breaking changes

Go version 1.16 will be removed from all operating systems.

### Target date

August 15, 2022.

### The motivation for the changes

According to our [Software and image guidelines](https://github.com/actions/virtual-environments/blob/main/docs/software-and-images-guidelines.md)
we support [3 latest minor versions of Go],
(https://endoflife.date/go) which are 1.17, 1.18 & 1.19

[2022-08-05 11:21] nikotinman commented on #5949
ujkl

[2022-08-05 11:21] nikotinman commented on #5949
srvdz

[2022-08-05 15:43] lawndoc opened #6026 "Docker-compose containers can't resolve container names"
### Description

When deploying multiple containers with docker that are supposed to communicate with each other, referencing their hostname by the container's name does not resolve. The docker daemon should make container hostnames available to all the containers in the runtime.

I've made a docker-compose.test.yml file in [the repo I am having issues with](https://github.com/commander-framework/

[2022-08-05 16:20] Perksey commented on #5631
Please reopen!

[2022-08-05 21:19] MariuszFerdyn opened #6027 "nuget and mono problems"
### Description

2022-08-04T11:48:44.4492475Z   https://dist.nuget.org/win-x86-commandline/v5.11.0/nuget.exe -> /agent/_work/1/s/vcpkg/downloads/06a337c9-nuget.exe
2022-08-04T11:48:45.0725523Z Failed to read NuGet.Config due to unauthorized access. Path: '/home/admadm/.config/NuGet/NuGet.Config'.
2022-08-04T11:48:45.0726520Z   Access to the path '/home/admadm/.config/NuGet' is denied.
2022-08-04T1

[2022-08-05 21:50] twofingerrightclick opened #6028 "macOS-latest and macOS-12 MSBuild 17 update eta"
### Tool name

MSBuild 17

### Tool license

na

### Add or update?

- [ ] Add
- [X] Update

### Desired version

17.x

### Approximate size

_No response_

### Brief description of tool

[The Mac OS images have installs of MSBuild 16](https://github.com/actions/virtual-environments/blob/f1bb031e436bbb5c5645ddc366ca0856ddbf0131/images/macos/macos-11-Readme.md?plain=1#L28). Looking for eta of when

[2022-08-06 09:24] HofmeisterAn opened #6029 "`dotnet restore` failes `Unable to load shared library 'libdl' or one of its dependencies`"
### Description

[DotNetRestore](https://cakebuild.net/api/Cake.Common.Tools.DotNet/DotNetAliases/26E59D8B) failes with following error [message](https://github.com/testcontainers/testcontainers-dotnet/runs/7703734540?check_suite_focus=true#step:5:12): `Unable to load shared library 'libdl' or one of its dependencies`.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual e

[2022-08-06 14:37] mikhailkoliada commented on #6014
@suhas-arcadis we do not modify encoding anyhow, try to re-fetch the repo

Feel free to ask contact us again if you have questions left.

[2022-08-06 14:37] #6014 closed

[2022-08-06 18:17] SHADYKIMBUM commented on #5967
Hi

[2022-08-06 20:00] cpq commented on #5615
Are there any news on the issue?
We still experience frequent packet drop on UDP port 123  (SNTP server request) on MacOS environment.

[2022-08-07 07:48] Zopolis4 commented on #6011
Hurd isin't linux, and I can't use it as a self-hosted runner because it isnt on the supported list of OS's. I suppose I could use qemu, but that is hardly practical.

[2022-08-07 21:51] Gerst20051 commented on #5469
Seeing this gave me the idea to create a script to show a list and launch the selected simulator.

`[$]> xcrun simctl boot $(xcrun xctrace list devices | \grep -E -i '([0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12})' | fzf --no-sort | \grep -E -o -i '([0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12})')`

<img width="959" alt="Screen Shot 2022-08-07 at 2 48 41 PM" src="https://user-images.githubusercontent.com

[2022-08-08 08:29] igorboskovic3 commented on #6026
Hi @lawndoc we will take a look, thank you for reporting this.

[2022-08-08 08:44] igorboskovic3 commented on #6027
Hi @MariuszFerdyn , thank you for reporting this one, we will take a look.

[2022-08-08 08:52] igorboskovic3 commented on #6029
Hi @HofmeisterAn thank you for reporting this one, we will take a look.

[2022-08-08 10:40] willaaam commented on #6002
Don't get me wrong, I fully understand that you're deprecating 18.04 - but incorporating brownout periods to raise awareness?

If my team needs to get a build out for a critical bugfix on the 22nd of August... I'm just going to have to wait for 4 hours? If my understanding of that is true, I find that very odd behavior in an enterprise environment. Some businesses actually have SLA's with their cl

[2022-08-08 12:22] ddobranic commented on #6028
hi @twofingerrightclick, MSBuild16 is the latest stable version at the moment.

[2022-08-08 12:27] MarkusTeufelberger commented on #5998
Will `ubuntu-latest` also point to `ubuntu-22.04` starting today?

[2022-08-08 13:07] mikhailkoliada commented on #5998
@MarkusTeufelberger No, migration to the latest tag is a separate process out of this specific announcement.

[2022-08-08 15:02] chkimes commented on #5615
I'm still working with the networking team on this, it turns out the blocking rule is part of a sweeping mitigation against NTP reflection attacks and carving out an exemption specifically for Actions Mac traffic is taking some time to get correct (plus additional review from security teams).

Are you able to switch NTP targets to `time.windows.com` for these tests? That is explicitly allowed with

[2022-08-08 15:09] mikhailkoliada commented on #6028
@twofingerrightclick msbuild is a part of mono, which in turn is a part of xamarin bundle in macOS images (we are installing mono from xamarin), so there is no specific ETA, but it will be likely added as soon as new mono is added.

[2022-08-08 15:09] #6028 closed

[2022-08-08 17:05] fbrosseau commented on #6002
Does this impact hosted agents only, or does this also mean the agent tooling/infra (for self hosted pools, but also for 1ES pools for internal folks) will become EOL for ubuntu18? We still need to keep shipping ubuntu18 versions of our product for years.

[2022-08-08 18:34] danielhjacobs opened #6034 "CI seemed to run on an unmerged branch"
### Description

https://github.com/ruffle-rs/ruffle/runs/7731010612?check_suite_focus=true ran with this image: https://github.com/actions/runner-images/blob/ubuntu20/20220807.1/images/linux/Ubuntu2004-Readme.md#browsers-and-drivers, but that image is created by commit https://github.com/actions/runner-images/commit/3c5935f2a2208ebca95da6a10be038acd9f153be, which is part of PR https://github.com/

[2022-08-08 18:41] danielhjacobs commented on #6034
Possibly because https://github.com/actions/runner-images/releases/tag/ubuntu22%2F20220807.1 is available on https://github.com/actions/runner-images/releases, despite it's status as an unmerged PR.

[2022-08-08 20:29] danielhjacobs commented on #6034
Image used is entirely inconsistent:

https://github.com/ruffle-rs/ruffle/actions/runs/2820646866:
- Test Node.js 16 / Rust stable / ubuntu-latest
    - Version: 20220807.1
- Test Node.js 18 / Rust stable / ubuntu-latest
    - Version: 20220729.1

https://github.com/ruffle-rs/ruffle/actions/runs/2820648391:
- Test Node.js 16 / Rust stable / ubuntu-latest
    - Version: 20220729.1
- Test Node.js 18

[2022-08-08 22:08] panekj commented on #6034
That PR is only for documentation to be merged, image version is already being deployed and status can be seen in [README.md](https://github.com/actions/runner-images/blob/main/README.md)

[2022-08-08 22:13] panekj commented on #6002
@fbrosseau it's hosted agent only

[2022-08-08 22:14] danielhjacobs commented on #6034
Ok. Why is the used image inconsistent though?

[2022-08-08 22:19] panekj commented on #6034
Because it's being rolled out to all hosted runners so some of them will run different version until all are updated, unless you mean something else?

[2022-08-08 22:19] #6034 closed

[2022-08-08 23:13] bhjelstrom commented on #6022
I now have 4 basically identical workflows (Ubuntu 22.0.4) running on every commit. Each workflow will sometimes pause for the aforementioned 3.8 hours while downloading ncurses. Through hundreds of self-hosted and local builds I have never seen this. Note the time difference:

[code]

Sometimes when I try to access the logs of workflows that are stuck on this step, this is all I see:
[code]

Is t

[2022-08-09 01:22] KMalaimegam opened #6036 "Execution failed for task ':app:stripReleaseDebugSymbols'. error=2, No such file or directory"
### Description

I have changed the ndk 25 but still getting the same error in **macOS 12 Monterey/macOS 11 Big Sur**
android {
  defaultConfig {
    minSdkVersion 23
    generatedDensities = []
    targetSdkVersion 31
  }
  aaptOptions {
    additionalParameters "--no-version-vectors"
  }
  lintOptions {
        checkReleaseBuilds false
  }
  ndkVersion "25.0.8775105"
}

Execution failed for task

[2022-08-09 04:14] A30008228-christian commented on #5702
This is called out as solved in the latest Xcode 14 beta 5 release notes  that dropped yesterday.
https://developer.apple.com/documentation/xcode-release-notes/xcode-14-release-notes
<img width="963" alt="image" src="https://user-images.githubusercontent.com/85143085/183562761-5d093958-a86b-4ce8-b2db-54e65117cf2b.png">
Would you be able to confirm?

[2022-08-09 07:02] dsfrederic commented on #5949
Hi @ddobranic,

I'm currently experiencing an error that might be related.

![image](https://user-images.githubusercontent.com/28486949/183584893-f020ca7d-b820-4b80-82fb-f2161f9e792f.png)

CONTEXT: I'm building this image in azure devops pipeline to store it in an Azure image gallery. Based on this https://github.com/YannickRe/azuredevops-buildagents

[2022-08-09 07:05] al-cheb commented on #5949
@dsfrederic, pull the latest changes from main branch. It has been fixed in https://github.com/actions/runner-images/pull/6030

[2022-08-09 07:53] igorboskovic3 commented on #6036
HI @KMalaimegam , thank you for reporting this one, can you provide repro steps?

[2022-08-09 07:56] al-cheb commented on #6026
Hello @lawndoc.
I am not able reproduce the issue - https://github.com/al-cheb/docker-example:

[code]

![image](https://user-images.githubusercontent.com/47745270/183594986-ff95fbe6-6317-48ca-a568-841ae1d4c60c.png)

[2022-08-09 08:07] KMalaimegam commented on #6036
Hi @igorboskovic3 ,

I have changed the  ndkVersion from "21.4.7075529" to "25.0.8775105" in app.gradle and in azure DevOps used the Agent Specification "macOS-11"

android {
defaultConfig {
minSdkVersion 23
generatedDensities = []
targetSdkVersion 31
}
aaptOptions {
additionalParameters "--no-version-vectors"
}
lintOptions {
checkReleaseBuilds false
}
ndkVersion "25.0.8775105"
}

Error in Azure D

[2022-08-09 08:10] KMalaimegam commented on #6036
[ErrorLog.txt](https://github.com/actions/runner-images/files/9288493/ErrorLog.txt)

[2022-08-09 09:18] al-cheb commented on #5980
@elb3k, The new Ubuntu Server 20.04 image with Docker Compose v2 2.9.0+azure-1 on board has been deployed.

[2022-08-09 09:18] #5980 closed

[2022-08-09 09:28] dmitry-shibanov commented on #6036
Hello @KMalaimegam. Thank you for your report. Could you please provide a public repository to reproduce the issue ?

[2022-08-09 11:07] al-cheb commented on #6027
@MariuszFerdyn, Do you use a self-hosted agent? If you use hosted agents please provide a test repo.

[2022-08-09 11:26] KMalaimegam commented on #6036
@dmitry-shibanov No public repo.
I was successfully build the same code last week.

[2022-08-09 11:48] soumyamahunt commented on #841
Running into this issue as well: https://github.com/SwiftyLab/AsyncObjects/runs/7742876202?check_suite_focus=true

[2022-08-09 12:14] al-cheb commented on #6029
Hello, @HofmeisterAn.
I see you changed hosted-agent version from ubuntu 20.04 -> 22.04.

Ubuntu Server 20.04 has libc 2.31 version:
[code]
I run a build against of Ubuntu Server 20.04 and it works for me:
![image](https://user-images.githubusercontent.com/47745270/183640508-89558b03-9ab4-4c8c-bc3f-69fa6584c364.png)

https://sourceware.org/pipermail/libc-alpha/2021-August/129718.html

The [release

[2022-08-09 12:16] al-cheb commented on #6029
@devlead, @patriksvensson, hey, folks. Could you please help with this issue on Ubuntu Server 22.04?

[2022-08-09 12:35] gep13 commented on #6029
Adding some other folks for visibility as well...

@Jericho @augustoproiete @nils-a @ecampidoglio @daveaglick @agc93 @pascalberger @bjorkstromm

[2022-08-09 13:20] jonathanpeppers opened #6038 "Xamarin.Android installation broken?"
### Description

As reported here: https://github.com/xamarin/xamarin-android/issues/7233

We recieved some confusing build logs from customers, where it appeared that one file in the Xamarin.Android installation was old on the `macos-latest` pool, while others were up to date.

So I zipped up the contents of (on https://github.com/jonathanpeppers/maui-profiling/pull/20):

    /Library/Frameworks/

[2022-08-09 13:22] devlead commented on #6029
Raised an issue in Cake repo to track in right place
https://github.com/cake-build/cake/issues/3931

[2022-08-09 13:24] al-cheb commented on #6029
I am planning to close the thread as external. Feel free to open it if you have any concerns.

[2022-08-09 13:24] #6029 closed

[2022-08-09 14:07] dsfrederic commented on #5949
It seems to have gone past the mongoDb install. Now we're one step further and the scripts fail again. Can you help me along? Is there a method to run only on verified scripts. In other words what's the branching/tagging strategy?

![image](https://user-images.githubusercontent.com/28486949/183670096-243c84d6-0486-423d-860f-290355f87025.png)

[2022-08-09 14:37] lawndoc commented on #6026
Interesting. Maybe it makes a difference if containers are tied to multiple networks? Sample from my compose file:
[code]

[2022-08-09 15:07] lemnis commented on #393
Ubuntu doesn't have a (virtual) screen as far as I know 😉  https://github.com/actions/runner-images/discussions/5943

[2022-08-09 15:12] igorboskovic3 commented on #6038
Hi @jonathanpeppers, thank you for reporting this one. We will take a look and get back to you.

[2022-08-09 15:18] planetmarshall opened #6039 "Frequent 404 errors when using `apt-get`"
### Description

Frequent 404 errors when using `apt-get install`

[code]

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

[code]

### Is it regression?

No

[2022-08-09 15:21] al-cheb commented on #6026
@lawndoc,
I have updated my repo to add multiple networks https://github.com/al-cheb/docker-example/blob/main/docker-compose.yml: **client ->[net:frontend] nginx[port:80] ->[net:backend] backend[port:1234]**

[code]

![image](https://user-images.githubusercontent.com/47745270/183689775-4083c212-b2a4-4f99-af03-f6ba3a9342b9.png)

[2022-08-09 15:27] al-cheb commented on #6039
Hello @planetmarshall.

Please note: https://docs.github.com/en/actions/using-github-hosted-runners/customizing-github-hosted-runners

Should be:
[code]

[2022-08-09 15:27] #6039 closed

[2022-08-09 16:44] MehdiChinoune commented on #2187
https://github.blog/changelog/2022-08-09-github-actions-self-hosted-runners-now-support-apple-m1-hardware/

[2022-08-09 16:56] ultimaweapon commented on #2187
@MehdiChinoune that is a different issue. That one for self-hosted runner. This issue for GitHub hosted runner.

[2022-08-09 19:59] jonathanpeppers commented on #6038
@igorboskovic3 we had 3 reports come in related to this in the past 24 hours, let me know if there is anything I can do to help, thanks!

[2022-08-09 23:15] lawndoc commented on #6026
There must be a misconfiguration or something in my workflow or GitHub repo then... Sorry for the wasted time.

[2022-08-09 23:15] #6026 closed

[2022-08-10 04:37] ddeveza commented on #5403
![image](https://user-images.githubusercontent.com/13481326/183816823-934a5d2a-d403-4ab7-8d01-568ade071a4d.png)
I already updated the agent spec but still encountering the error of 2016 deprecation.
![image](https://user-images.githubusercontent.com/13481326/183816948-a6056bb8-2075-414d-b4d2-46bc3bd27489.png)

[2022-08-10 06:59] al-cheb commented on #6038
Hello @jonathanpeppers.
The latest version of Xamarin.Android installed on macOS-12 is [12.2.8.3](https://github.com/actions/runner-images/blob/main/images/macos/toolsets/toolset-12.json).

[code]

We are planning to add  Xamarin.Android xamarin.android-12.3.3.3 version. Should we add Xamarin.Anroid 13-preview?

[2022-08-10 12:55] #5967 closed

[2022-08-10 13:30] jonathanpeppers commented on #6038
Xamarin.Android 13 released to stable yesterday along with VS 2022 17.3:
* https://download.visualstudio.microsoft.com/download/pr/e81e04d3-768a-4310-9c9b-f32e8ba00eaa/cadb090bcfdea3e663e23d082701d4ad/xamarin.android-13.0.0.0.pkg
* https://download.visualstudio.microsoft.com/download/pr/f33785ca-afdb-403b-a9aa-1465b7c2737c/7261c190c51cfa50126fce083b5ebee54542ac6a8816880bfc3474b7d9830284/Xamarin.An

[2022-08-10 14:26] jonathanpeppers commented on #6038
FYI I reviewed the contents of this file again:

    /Library/Frameworks/Xamarin.Android.framework/Versions/Current/lib/xamarin.android/xbuild/Xamarin/Android/Xamarin.Android.Common.props

The image seems like it has:

[code]

So the only "mismatch" I actually see, is in a customer's `.binlog` they emailed me. It says `XamarinAndroidVersion=13.0.0-0`, but then has the outdated `Xamarin.Android.Too

[2022-08-10 14:49] al-cheb commented on #5702
The new macOS-12 image with Xcode Beta5 has been deployed - https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md

![image](https://user-images.githubusercontent.com/47745270/183933492-a6cafbd4-5874-4647-84f7-85530059b203.png)

[2022-08-10 15:10] rkm commented on #5949
Hi - I've updated my CI today with `Start-Service -Name mongodb` in order to handle this change, however we've already seen a few runs fail with:

[code]
(https://github.com/SMI/SmiServices/runs/7769010886?check_suite_focus=true#step:8:1)

Any ideas? Thanks.

[2022-08-10 15:38] al-cheb commented on #5949
@rkm,
It should be:

[code]

[2022-08-10 15:40] Brett-Best commented on #5702
@al-cheb would it be possible to pre-install the tvOS and watchOS runtimes? They are no longer included by default.

[2022-08-10 15:42] al-cheb commented on #5702
@Brett-Best, please create a new issue which versions should be included by default.

[2022-08-10 15:43] GreatBarrier86 commented on #6038
@jonathanpeppers, should this have fixed the v12.1 issue i reported? I just verified that it still seems to be happening, No rush for me since we do have the boots workaround. Just curious if we thought that was fixed too.

[2022-08-10 15:48] Brett-Best opened #6051 "Add tvOS and watchOS to Xcode 14b5"
### Tool name

Xcode 14b5 tvOS & watchOS Components

### Tool license

N/A

### Add or update?

- [X] Add
- [ ] Update

### Desired version

The version associated with Xcode 14b5

### Approximate size

Unknown

### Brief description of tool

Xcode 13 and below included all OS platforms by default.
This changed in Xcode 14, where you now get to choose what platforms to install.

https://github.com

[2022-08-10 15:49] Brett-Best commented on #5702
@al-cheb https://github.com/actions/runner-images/issues/6051 hopefully it makes sense (:

[2022-08-10 15:49] jonathanpeppers commented on #6038
I believe https://github.com/actions/runner-images/pull/6045 is updating the image, maybe @al-cheb can comment how long that will take to roll out everywhere.

[2022-08-10 16:00] btfranklin commented on #6051
If it helps at all, I just installed Xcode Beta 5, and the versions offered are:
iOS 16.0 (built-in)
macOS 13.0 (built-in)
watchOS 9.0
tvOS 16.0

[2022-08-10 16:04] Brett-Best commented on #6051
Since I last looked, they seem to have added a command that will hopefully help!

https://developer.apple.com/documentation/xcode/installing-additional-simulator-runtimes

    `xcodebuild -downloadAllPlatforms`

[2022-08-10 16:29] al-cheb commented on #6038
A new image rollout starts on Monday and it takes ~ 3-4 days to deploy.

[2022-08-10 16:36] rkm commented on #5949
@al-cheb Have tried this now, but still encountering the issue

[2022-08-10 16:53] mikhailkoliada commented on #6024
Will be removed next week.

[2022-08-10 16:53] al-cheb commented on #5949
Please provide  a link to the build.

[2022-08-10 17:05] jas88 commented on #5949
Here's our most recent instance https://github.com/SMI/SmiServices/runs/7771359161?check_suite_focus=true

[2022-08-10 18:41] al-cheb commented on #5949
@jas88, just for curiosity, what happens when you move this step right after the checkout step?

[2022-08-10 19:36] erikng commented on #5702
Awesome news!

[2022-08-10 19:39] BrianMouncer opened #6054 "unannounced change from cmake 3.23.3 to 3.24.0?"
### Description

The public documentation and announcements still claim the highest version of CMake installed on the windows 2019 build agent should be 3.23.3, and history shows it was changed from 3.23.2 a week ago...

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml

[runner-images/Windows2019-Readme.md at main · actions/runner-images (github.com

[2022-08-10 23:15] jas88 commented on #5949
@al-cheb Trying that now. Since this is non-deterministic, of course, it succeeding this time won't necessarily tell us anything, but I'll see what happens...

[2022-08-11 01:35] yassermkhan opened #6055 "MFCS140u.lib missing for arm/arm64"
### Description

Mfcs140u.dll is missing in the arm and arm64 vs2022 installs inside the windows2022. Other flavors are fine.

![image](https://user-images.githubusercontent.com/86027491/184050211-ac5fce04-16bc-4b87-96ed-73c6cf2271f3.png)

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [

[2022-08-11 01:55] KMalaimegam commented on #6036
Any updates?

[2022-08-11 02:41] esudaley opened #6056 "Inconsistent virtual-environment"
### Description

The github runner is providing inconsistent virtual environments. This occurred not only across runs, but even within a matrix running the same job across multiple containers. This was specifically noticed in the runner's Chrome version.
Env #1 featured Chrome 103.0.5060.134, whereas env #2 featured Chrome 104.0.5112.79

1) Environment: ubuntu-22.04
Version: 20220731.1

2) Environ

[2022-08-11 07:26] mikhailkoliada commented on #6056
Hello! We release a new version of the image weekly and gradually. So it may happen.

[2022-08-11 07:26] #6056 closed

[2022-08-11 08:21] al-cheb commented on #6055
Hello @yassermkhan.
I didn't found any mention about this `mfcs140u.dll` lib. Which VS component contains this lib?

[2022-08-11 08:22] igorboskovic3 commented on #6051
Hi @Brett-Best we will consider this and get back to you.

[2022-08-11 08:27] igorboskovic3 commented on #6054
Hi @BrianMouncer we will check this, thank you for reporting this one.

[2022-08-11 08:36] #5702 closed

[2022-08-11 10:58] smistad commented on #6002
I am sad to see this removal of ubuntu-18.04 and hope you will reconsider.
I use github to build C++ software on ubuntu-18.04, essentially making it possible to run it on 18.04 and newer releases.
Due to the lack of backward compatability when compiling with the C++ libraries on linux (GLIBC), binaries compiled on 20.04 will not work on 18.04.

[2022-08-11 10:59] HoLengZai commented on #5859
@mikhailkoliada
Facing the same issue today... Seems the issue is back again..
In the meantime, I will overwrite the original erlang.sh by your workaround #5867 in my pipeline.
Hope you will consider @jappenzesr suggestions https://github.com/actions/runner-images/issues/5859#issuecomment-1177461072

[2022-08-11 11:18] mikhailkoliada commented on #6002
@smistad as per the policy we only support the two latest LTS

[2022-08-11 11:20] panekj commented on #6002
You can use `container:` option to build with `ubuntu:18.04` image or statically link binaries.

[2022-08-11 11:30] smistad commented on #6002
Thanks for the tip @panekj

[2022-08-11 12:53] muralidar44 commented on #675
i still face same issue, sudo apt-get update itself doesnt work

[2022-08-11 13:01] #5998 closed

[2022-08-11 13:04] al-cheb commented on #5952
All images have been updated.

[2022-08-11 13:04] #5952 closed

[2022-08-11 15:26] PraveenHudgi1 opened #6061 "Update Chrome Driver"
### Tool name

ChromeDriver

### Tool license

No License

### Add or update?

- [ ] Add
- [X] Update

### Desired version

104.0.5112.79

### Approximate size

_No response_

### Brief description of tool

Current driver version having issue to run selenium scripts , hence needed updated version of chrome driver for windows

### URL for tool's homepage

https://chromedriver.storage.googleapis.com

[2022-08-11 15:38] igorboskovic3 commented on #6061
Hi @PraveenHudgi1, thank you for you request, we already updated Chrome driver to desired version, so it will be updated as soon as we finish with this week deployments.

[2022-08-11 16:19] PraveenHudgi1 commented on #6061
Thank You for the update @igorboskovic3 .

When we can expect ? Any tentative date ?
Because of current version of chrome driver 103,We are not able to run automation script on azure pipeline.

[2022-08-11 16:41] swenkeratmicrosoft commented on #6055
In my local install, I see the following, so I assume it's the ATL MFC Spectre-mitigated components for ARM and ARM64.

c:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.33.31629\atlmfc\lib\spectre\arm\mfcs140u.lib
c:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.33.31629\atlmfc\lib\spectre\arm64\mfcs140u.lib
c:\Program Files\Microsoft Visual Studio

[2022-08-11 17:01] al-cheb commented on #6055
@swenkeratmicrosoft, those libraries are already preinstalled:

![image](https://user-images.githubusercontent.com/47745270/184191709-22f4f755-bff6-40bb-b9cf-2d4de7a7806f.png)

[2022-08-11 21:57] swenkeratmicrosoft commented on #6055
@al-cheb

From your above output, versions 14.16 and 14.32 have arm but 14.29 does not.  I suspect that's our issue.

[2022-08-11 22:03] yassermkhan commented on #6055
I can confirm that the 2022 image has the same libs (missing 14.29 on arm/arm64)

[2022-08-12 02:02] ojwb commented on #6002
Should be 12/1/2023 or is it a US format date?

[2022-08-12 02:42] aaronfranke commented on #6002
@mikhailkoliada Is there any way we can convince GitHub to change this to the latest three LTS releases? We actually switched from 20.04 to 18.04 a few months ago because we found it worked better for our use cases.

[2022-08-12 07:34] al-cheb commented on #6055
In scope of this https://github.com/actions/runner-images/pull/6064 PR I added new VS components.

[2022-08-12 12:10] inaryart opened #6067 "Unable to use command line `winxp` component"
### Description

Unable to use command line `winxp` component, everything worked fine 3 days ago.
If possible, please allow the xp component to exist by default.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [X]

[2022-08-12 12:13] igorboskovic3 commented on #6067
Hi @inaryart, thank you, we will take a look.

[2022-08-12 12:32] al-cheb commented on #6027
Feel free to open the thread. If you have any concerns.

[2022-08-12 12:32] #6027 closed

[2022-08-12 12:39] al-cheb commented on #6067
Hey @inaryart.

I am not able to reproduce the issue:

[code]
![image](https://user-images.githubusercontent.com/47745270/184355583-34b6fdf4-c76d-40ef-abfc-427337fcd91f.png)

[2022-08-12 12:43] al-cheb commented on #6067
Were you able to reproduce the issue with my code snippet above?

[2022-08-12 12:52] al-cheb commented on #6067
Could you please use my code  snippet that I mentioned in https://github.com/actions/runner-images/issues/6067#issuecomment-1213069040 ?

[2022-08-12 13:00] al-cheb commented on #6067
Please remove test1

[2022-08-12 13:31] #6067 closed

[2022-08-12 13:51] tedmiston commented on #5998
Was ubuntu-latest recently changed to point to 22.04?

My otherwise unchanged code that runs a SHA pinned Docker image has inexplicably started failing on the GHA Ubuntu runner beginning yesterday ~14 hours ago and the timing seems curious.

https://github.com/tedmiston/qcbrunch/actions/workflows/ci.yml?query=branch%3Amaster

I also noticed other users reporting Docker issues in https://github.com

[2022-08-12 13:56] al-cheb commented on #5998
@tedmiston , please read the https://github.com/actions/runner-images/issues/5998#issuecomment-1208105796

As I can see the failed build was run on Ubuntu Server 20.04. How can it be related to Ubuntu Server 22.04?

![image](https://user-images.githubusercontent.com/47745270/184368249-3d69fee4-505b-411e-abe9-e75bbd60506f.png)

[2022-08-12 14:06] al-cheb commented on #5998
If you need any help please create a new issue with minimal repro steps.

[2022-08-12 18:08] soroshsabz commented on #5595
related to https://github.com/xamarin/xamarin-android/issues/6808#issuecomment-1102662611

[2022-08-12 18:08] soroshsabz commented on #5198
related to https://github.com/xamarin/xamarin-android/issues/6808#issuecomment-1102662611

[2022-08-12 18:33] DavidXanatos opened #6069 "Windows2019 requires ARM64EC workload"
### Tool name

ARM64EC workload for VS

### Tool license

same as teh rest of VS

### Add or update?

- [X] Add
- [ ] Update

### Desired version

newest

### Approximate size

_No response_

### Brief description of tool

Allows to build ARM64EC binaries using VS 2019

Using VS 2022 is not an option as VS 2022 can no longer compile windows 7 compatible drivers.

### URL for tool's homepage

_No r

[2022-08-13 10:17] erwan-joly commented on #2552
@AlenaSviridenko can this issue be reopened please as it now see to be doable (azure support arm images)?

[2022-08-14 08:45] TES286 opened #6070 "Add Netwide Assembler (NASM)"
### Tool name

Netwide Assembler (NASM)

### Tool license

Simplified (2-clause) BSD license

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

Less than 2M

### Brief description of tool

An asssembler for the x86 CPU architecture portable to nearly every modern platform, and with code generation for many platforms old and new.

### URL for tool's home

[2022-08-14 09:56] MarkCallow opened #6071 "No way to update session environment in Windows runners"
### Description

After a step runs a software installer that adds environment variables or updates the Path environment in the Windows registry there is no way to update the session environment so it has the updated environment. I have been trying Chocolatey's `refreshenv`. Even subsequent steps do not see the new environment. Do they not use new shells?

I consider this to be a bug because (a) fi

[2022-08-14 12:15] johannesdrescher opened #6072 "Add Tailscale"
### Tool name

Tailscale

### Tool license

BSD-3-Clause license

### Add or update?

- [X] Add
- [ ] Update

### Desired version

1.28.0

### Approximate size

_No response_

### Brief description of tool

CLI for WireGuard VPN Provider

### URL for tool's homepage

https://tailscale.com/

### Provide a basic test case to validate the tool's functionality.

[code]

### Platforms where you need th

[2022-08-15 06:40] Swampen opened #6073 "Fails to upload `cleanup.sh` after reboot"
### Description

My build is failing at random builds and they are all caused by this error:
[code]
While inspecting the debug logs, it seems like a 1 minute delay is somewhat to short short. Is this a known problem?

[code]

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15

[2022-08-15 06:44] al-cheb commented on #6071
Hey @MarkCallow.
This issue is not related to images itself, for general questions about using the runner images please open requests in the [GitHub Actions Runner](https://github.com/actions/runner) or  [GitHub Actions Community Forum](https://github.community/c/github-actions/41).

[2022-08-15 06:44] #6071 closed

[2022-08-15 06:48] al-cheb commented on #6070
Hey @TES286.
There is a community task [setup-nasm](https://github.com/marketplace/actions/set-up-nasm) to install it in runtime. Please consider using it.
Considering the fact that tool is pretty small and can be installed in runtime, we wouldn't like to bake it into the image due to maintenance concerns

[2022-08-15 06:48] #6070 closed

[2022-08-15 06:54] al-cheb commented on #6072
Hey @johannesdrescher.

Considering the fact that tool is pretty small and can be installed in runtime, we wouldn't like to bake it into the image due to maintenance concerns

[2022-08-15 06:54] #6072 closed

[2022-08-15 07:31] reiniervlinschoten opened #6076 "Flaky Network -> RemoteProtocolError"
### Description

Transfered from [Bug report](https://github.com/actions/runner/issues/1975)

**Describe the bug**
When I am running my Pytest modules on a Github hosted runner, there are some flaky tests.
This occurs because I get a RemoteProtocolError when trying to connect with an external API [Castor EDC](https://data.castoredc.com/api#/).
This happens for a different test every time, and as s

[2022-08-15 07:33] Bondarenko1990 commented on #5403
same error. I use windows-2019

[2022-08-15 07:40] al-cheb commented on #6076
Hey @reiniervlinschoten.
Please attach tcpdump trace like in - https://github.com/actions/runner-images/issues/5615#issuecomment-1138741887

[2022-08-15 08:18] reiniervlinschoten commented on #6076
@al-cheb, see below.

[sntp capture.zip](https://github.com/actions/runner-images/files/9335952/sntp.capture.zip)

[2022-08-15 08:27] al-cheb commented on #6076
The file is empty. Please pay attention at the port configuration ` sudo tcpdump -nn -i any port 123 -w sntp.cap &`, 123 - replace to API port.

[2022-08-15 09:01] shyam-santoki commented on #2187
Any updates?

[2022-08-15 09:45] reiniervlinschoten commented on #6076
I will do this, but I see that some API specifications changed, so I'll need to adjust my testing suite/code first. I'll get back to you with the proper capture file.

[2022-08-15 12:42] neilyoung commented on #675
[code]

[2022-08-15 12:49] MCOfficer commented on #675
Looks like you too forgot to `apt-get update`, the correct version would've been `1.16.3-0ubuntu1.1_i386.deb`.

[2022-08-15 12:51] neilyoung commented on #675
Thanks. I added this right now to my workflow script:

[code]

Let's hope :)

[2022-08-15 13:23] jeromelaban opened #6082 "Xamarin workload is missing or not installed in windows-2022 20220814.1"
### Description

Building a xamarin.ios library using windows-2022 20220814.1 results in failures such [as this one](https://dev.azure.com/uno-platform/Uno%20Platform/_build/results?buildId=51963&view=logs&j=2f2835f1-b487-5d0f-02dc-03106f033ea9&t=d5a0b1a3-e1dc-521c-db15-8d5dd936a2aa&l=8100):

[code]

Curiously, the image is [supposed to have it installed](https://github.com/actions/runner-images/b

[2022-08-15 13:35] al-cheb commented on #6082
Hey @jeromelaban.
We have been starting a new image rollout and this component is not pre-installed by default - https://github.com/actions/runner-images/pull/6078. I will add it back.

[2022-08-15 14:12] johannesdrescher commented on #6072
Hi @al-cheb, thank you for your response. I undertand your position. The thing is, this tool is so widely used and gaining popularity. I use it in almost all of my workflows and I'm sure many others do too. It takes about 5-8 seconds to install (granted, not much, but on every workflow run...). Caching it doesn't speed things up because that takes a moment too. Considering that many users will hav

[2022-08-15 14:38] albertosottile commented on #4133
https://github.com/actions/python-versions/pull/175 reverted the change for this issue. Is there a way to have a universal2 Python version in the GHA image? Otherwise I think this should be reopened. The reasons stated in the original issue are still valid today.

[2022-08-15 14:49] al-cheb commented on #6082
As a temporary workaround, this component can be installed in runtime:

[code]

[2022-08-15 15:02] ssbarnea commented on #4133
@albertosottile I am also curious about this because that revert was bit weird, with an army of reviewers approving it but the explanation was extremely vague "breaking changes for some customers". No mention of those customers and the nature of the breakage.

On the bright side, it was mentioned as "temporary", even if there was no timeline regarding when it would be restored.

As `universal2` is

[2022-08-15 15:45] jeromelaban commented on #6082
Thanks for the workaround, I'll keep it handy in case this happens in the future :) Also as an FYI, a rollback has been made and builds are running on `20220808.1`.

[2022-08-15 15:58] #6024 closed

[2022-08-15 16:53] Ziao commented on #1336
Agred. The performance of macos-latest is abysmal. A simple `yarn install` that would take 15 seconds on my local machine (with node_modules and cache removed) takes upwards of 5 minutes on an action. You cannot charge 10x when performance is 0.1 that of other images. For this reason, we are also looking to simply set up our own physical machine. It'll be cheaper in the (not that) long term.

[2022-08-15 18:34] dmitry-shibanov commented on #6036
Hello @KMalaimegam. I was trying to reproduce the issue on simple projects but it works as expected. Could you please provide a public repository to reproduce the issue outside of your project ?

[2022-08-15 18:34] dmitry-shibanov commented on #5987
Hello @akrol95. Sorry for the late response. I've tried to reproduce the issue again after updating the image on 24 and 25 ndk versions but I've got different error related to `Error MSB4044: The "AndroidSignPackage"`. After setting AndroidKeyStore option to false it worked as expected. Could you please try to run your build one more time ? I think it should be resolved with updating visual studio

[2022-08-15 18:46] jeromelaban commented on #6082
Update again, it looks like the rollback was rollbacked and I'm back on `20220814.1`.

[2022-08-15 21:01] arvindshmicrosoft opened #6086 "Visual Studio 2022 17.3"
### Tool name

Visual Studio 2022

### Tool license

https://visualstudio.microsoft.com/license-terms/vs2022-ga-proenterprise/

### Add or update?

- [ ] Add
- [X] Update

### Desired version

17.3 - https://devblogs.microsoft.com/visualstudio/visual-studio-2022-17-3-is-now-available/

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_

[2022-08-16 00:36] tgeoghegan opened #6087 "Add miniflare"
### Tool name

miniflare

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Latest

### Approximate size

_No response_

### Brief description of tool

"Miniflare is a simulator for developing and testing [Cloudflare Workers](https://workers.cloudflare.com/)."

This is useful for developers who are deploying to Cloudflare Workers.

### URL for tool's homepage

[2022-08-16 01:20] Simonl9l opened #6088 "Update/Add AWS CDK CLI"
### Tool name

AWS CDK CLI

### Tool license

Apache-2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

53 MB

### Brief description of tool

The [AWS Cloud Development Kit](https://github.com/aws/aws-cdk) (AWS CDK) is an open-source software development framework to define cloud infrastructure in code and provision it through AWS CloudFormation.

I

[2022-08-16 01:31] Simonl9l opened #6089 "Update/Add cdklocal"
### Tool name

cdkocal

### Tool license

Apache-2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

27.5 kB

### Brief description of tool

This project provides a thin wrapper script cdklocal for using the [AWS CDK](https://github.com/aws/aws-cdk) library against local APIs provided by [LocalStack](https://github.com/localstack/localstack).

LocalS

[2022-08-16 01:36] Simonl9l opened #6090 "Update/Add dotnet Amazon.Lambda.Tools"
### Tool name

Amazon.Lambda.Tools

### Tool license

Apache v2

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

A dotnet tool - only needed for images that have dotnet installed

Amazon.Lambda.Tools adds commands to the dotnet cli to build/deploy/invoke AWS Lambda functions

### URL for tool's homepage

h

[2022-08-16 06:09] DSMitten opened #6091 "Unresolved external symbol in the C++ standard library for builds on image 20220814.1"
### Description

Our build pipelines started failing today with the rollout of image 20220814.1 for windows-latest VM images.

We use vcpkg in our repo, and install the benchmark library with it, and build one of our target exes against that library. The library calls something in the standard library that uses _Find_unchecked which calls  __std_find_trivial. The error is a linker error so somehow

[2022-08-16 06:44] al-cheb commented on #6091
Hey @DSMitten.
We don't have access to the link. Please provide minimal steps to reproduce the issue.

[2022-08-16 07:08] DSMitten commented on #6091
This only reproduces on this VM image. It doesn't repro on local dev machines or on last week's image.

Is it possible to find out what changed between the images? Different Visual Studio version, compiler version, or standard library?

[2022-08-16 07:13] al-cheb commented on #6091
@DSMitten , Different Visual Studio version, compiler version, or standard library? - yep, you can find them in https://github.com/actions/runner-images/pull/6078

[2022-08-16 07:45] al-cheb commented on #6087
Hey @tgeoghegan.

Considering the fact that tool is pretty small and can be installed in runtime, we wouldn't like to bake it into the image due to maintenance concerns

[2022-08-16 07:45] #6087 closed

[2022-08-16 07:45] al-cheb commented on #6088
Hey @Simonl9l.

Considering the fact that tool is pretty small and can be installed in runtime, we wouldn't like to bake it into the image due to maintenance concerns

[2022-08-16 07:45] #6088 closed

[2022-08-16 07:45] al-cheb commented on #6089
Hey @Simonl9l.

Considering the fact that tool is pretty small and can be installed in runtime, we wouldn't like to bake it into the image due to maintenance concerns

[2022-08-16 07:45] al-cheb commented on #6090
Hey @Simonl9l.

Considering the fact that tool is pretty small and can be installed in runtime, we wouldn't like to bake it into the image due to maintenance concerns

[2022-08-16 07:45] #6090 closed

[2022-08-16 08:21] eric41 commented on #5925
It's unclear to me whether this'll be included in the image or that I should install it at runtime every build. Could someone enlighten me? Thanks!

[2022-08-16 09:54] ddobranic commented on #5925
hi @eric41 , it can be installed in runtime and it doesn't take much time, so we decided not to include it in the image.

[2022-08-16 10:30] DavidXanatos commented on #6069
When #6075 be online? currently it still fails

[2022-08-16 10:35] al-cheb commented on #6069
The new image rollout will be started on Monday and it will take 2-3 days.

[2022-08-16 12:36] WaKeMaTTa opened #6094 "Ubuntu : Update the libyaml version to 0.2.5 (latest)"
### Description

Hello,

I'm using the ruby gem `pysch` to properly format YAML files.

`pysch` uses `libyaml` package.

The Ubuntu does not have the last version v0.2.5, then is causing problems.

**Solution**

Please upgrade the libyaml version to v0.2.5 ( https://github.com/yaml/libyaml )

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [X]

[2022-08-16 13:15] al-cheb commented on #6055
The new Windows Server 2022 image has been deployed.

![image](https://user-images.githubusercontent.com/47745270/184888603-289191fd-1582-4720-b606-c1bf4b4e4124.png)

[2022-08-16 13:15] #6055 closed

[2022-08-16 13:26] al-cheb commented on #6094
Hello @WaKeMaTTa.

There is no available libyaml-0.2.5 version in Ubuntu-18/20/22.04 repoes.

As a workaround you could try to install this library from Ubuntu kinetic repo in runtime:
[code]

[2022-08-16 13:28] #5930 closed

[2022-08-16 13:33] al-cheb commented on #6086
@arvindshmicrosoft , the new Windows Server 2022 image with Visual Studio Enterprise 2022 | 17.3.32804.467 on board has been deployed - https://github.com/actions/runner-images/blob/main/images/win/Windows2022-Readme.md

[2022-08-16 13:33] #6086 closed

[2022-08-16 13:37] igorboskovic3 commented on #6054
We added appropriate version of Cmake, so now it should be ok.

[2022-08-16 14:00] al-cheb commented on #6061
@PraveenHudgi1, The new Windows Server 2019 image has been deployed - https://github.com/actions/runner-images/blob/main/images/win/Windows2019-Readme.md

- Google Chrome 104.0.5112.81
- Chrome Driver 104.0.5112.79

[2022-08-16 14:00] #6061 closed

[2022-08-16 14:26] XenGi commented on #668
@alepauly I don't know why you closed this ticket in the first place but the demand for IPv6 is just getting higher. Do you see any chance of this ever getting fixed or should we all just switch to Gitlab CI or go back to Travis CI.

[2022-08-16 14:59] WilliamWatterson86 commented on #6082
Having the same issue here.  Do we think this one will be fixed soon?  Workaround seems to work ok for me at the minute

[2022-08-16 15:47] jeromelaban commented on #6082
Also, as a note, testing is difficult because agents are balanced between `20220814.1` and `20220808.1`, making builds pass or fail randomly.

[2022-08-16 15:54] WilliamWatterson86 commented on #6082
Actually the workaround didnt work for me, it got passed the nuget restore step (which was the one failing previously), but this time it fails with an AOT error.  Build works fine when it uses agent with version 20220808.1.  Is there any way to force my pipeline to use this agent version?

[2022-08-16 15:58] DDoS commented on #6091
We're also having this issue with a few different Windows builds. It started failing without any changes on our side. We're also using vcpkg.

Here's the error for one project:
[code]

And the error from another project:
[code]

[2022-08-16 17:42] arvindshmicrosoft commented on #6086
Thank you for the extremely quick turnaround @al-cheb !

[2022-08-16 17:49] swenkeratmicrosoft commented on #6055
@al-cheb - I confirmed that the new libs are available and that this fixed our build break.  Thanks!

[2022-08-16 18:58] lsm5 commented on #5578
@miketimofeev hi, can you give this a try again on Ubuntu 22.04 ? The maintainer filed annoyance should be fixed now and the latest released podman is usable as well.

cc @korijn please give this a try as well if you're on 22.04.

If things work well for github actions, I'll create a separate repo with the packaging sources duplicated under a different repo name than `unstable`.

[2022-08-16 21:32] Simonl9l commented on #6090
@al-cheb it would be good if more concise documentation contained a "real" understanding what requirements define eligibility.

It is very had to distinguish this `Amazon.Lambda.Tools` request say from say the  `dotnet workflow`https://github.com/actions/runner-images/issues/5720 request where it seem the latter will be supported.

there seem to be a ton of subjectivity here!

[2022-08-16 21:37] Simonl9l commented on #6088
How is this different than including the base AWS Cli in the image ? its also pretty small...

CDK is becoming the standard for IaC deployment. even Hashi Corp Terraform is now adopting it.

As per other issue requests, the eligibility rules for inclusion seem very nebulous.

I guess in AWS were asking...

[2022-08-17 00:24] equeim commented on #6091
I also experience similar error when linking to Qt built by vcpkg using x64-windows-static triplet (on GitHub Actions):
[code]

[2022-08-17 04:21] roanutil opened #6098 "Swift package unit test failing on hosted macOS image but passing locally"
### Description

A swift package [CoreDataRepository](https://github.com/roanutil/CoreDataRepository) on branch [non-main-queue](https://github.com/roanutil/CoreDataRepository/tree/non-main-queue) is failing two specific unit tests on the hosted image but passing on my local computer. Hosted environments macos-11 Xcode 12.4, 12.5.1, and 13.2; macos-12 Xcode 13.4.

Local environment is M1 Pro SoC,

[2022-08-17 07:29] albertosottile commented on #4133
Should we create a new issue? I am afraid we will not get much visibility here...

[2022-08-17 07:43] ssbarnea commented on #4133
@vsafonkin Can you please reopen this issue because it was undone?

[2022-08-17 07:44] al-cheb commented on #4133
@albertosottile, Please create a new issue for visibility in [actions/setup-python](https://github.com/actions/setup-python) repo

[2022-08-17 07:54] al-cheb commented on #6098
Hello @roanutil.
We will take a look at it.

[2022-08-17 09:10] WaKeMaTTa commented on #6094
Thank you @al-cheb , that workaround works.

Should I close the issue or should I leave it open?

[2022-08-17 09:29] #6094 closed

[2022-08-17 09:31] al-cheb commented on #5966
@Rajeswari06,  I am planning to close the thread , if you have any concerns feel free to open it.

[2022-08-17 09:31] #5966 closed

[2022-08-17 10:49] kevcrooks opened #6101 "XamarinTelemetry build issue with the current Visual Studio version"
### Description

The current build agents are using Visual Studio 17.3.32804.467 (https://github.com/actions/runner-images/blob/main/images/win/Windows2022-Readme.md)

However this version has an issue which will cause Xamarin builds to sometimes fail with the following error:

[code]

This has been fixed in the latest Visual Studio version:
17.3.1 (17.3.32811.315)

Can the agents be updated to us

[2022-08-17 10:56] al-cheb commented on #6101
Hello @kevcrooks.
We will take a look at it.

[2022-08-17 11:11] al-cheb commented on #6082
We have been starting a new image rollout - https://github.com/actions/runner-images/pull/6102. I hope this helps.

[2022-08-17 12:40] TheVice opened #6103 "Path to bin directory of MinGW is not in the PATH environment variable."
### Description

Hello.

By not added path to bin directory of MinGW some of C++ application, that was created by this compiler, will not run at same build environment.
For example application where access to the data member of non constant string is present, see repros steps for full source sample.

It detected after updated to the 11.2 version, see #5729 and #5530. Previous environment (8.1.0) w

[2022-08-17 12:40] kevcrooks commented on #6101
Thank you, for reference, here's one of the associated VS bug reports, showing that the issue is fixed in the latest release, so would be good to get this on the build agents when possible: https://developercommunity.visualstudio.com/t/Unexpected-error-of-task-Xamarin-Teleme/10096527

[2022-08-17 13:20] al-cheb commented on #6103
Hello @TheVice.
We don't have any plans to add mingw in the Path. If you need to update the PATH you could use - https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#adding-a-system-path

[2022-08-17 13:20] #6103 closed

[2022-08-17 13:57] drmikesell commented on #6082
@al-cheb Thanks for addressing this quickly, it's very much appreciated.

[2022-08-17 14:13] adamdecaf commented on #5631
@al-cheb can we re-open this and add support for ARM64?

[2022-08-17 14:19] andersonvieiragomeslopes commented on #6082
@al-cheb I'm having a problem too, but only on (Xamarin) android, an error appears apparently from iOS, but it's in the android build, can you tell me if they are different problems or is there?

"C:/Program Files/Microsoft Visual Studio/2022/Enterprise/MSBuild/Current/Bin/msbuild.exe" /version /nologo
SYSTEMVSSCONNECTION exists true
SYSTEMVSSCONNECTION exists true
C:\Windows\system32\chcp.com 650

[2022-08-17 14:22] s4got10dev opened #6104 "Maven build issues on Ubuntu 20.04 (20220814.1)"
### Description

Since release of [20220814.1](https://github.com/actions/runner-images/releases/tag/ubuntu20%2F20220814.1) our maven builds are taking too much time to finish or often fails with `Java Heap Space` issues when we run tests with Surefire plugin that starts fork process.

We use ***Java 17*** installed by [**actions/setup-java**](https://github.com/actions/setup-java) and ***MySQL 5.

[2022-08-17 14:22] mknejp commented on #6091
We get similar errors using Catch2 and vcpkg
[code]
A local build with cleared binary cache using vcpkg d293ac220 and VS Professional 17.3.1 succeeds.

[2022-08-17 14:25] al-cheb commented on #6104
Hello @s4got10dev.
Currently, it's not possible to pick up image version.

[2022-08-17 14:31] al-cheb commented on #5631
We plan to add this feature in the future but its not yet been prioritized.

[2022-08-17 14:35] s4got10dev commented on #6104
Thanks @al-cheb for quick answer.

As I understand we can expect next `ubuntu-20.04` release next week?
Is there any roadmap on planned image updated?

[2022-08-17 14:43] al-cheb commented on #6104
Usually, we deploy a new image once per week.

[2022-08-17 14:59] TheVice commented on #6103
@al-cheb thank you.
Work in same way like a per step setting of $env:Path at PowerShell script (patch 2 in first message of this issue) but required to set only once for multiple steps.

[2022-08-17 16:17] AenBleidd commented on #6091
I can confirm that this happens with the latest update of WIndows image: https://github.com/BOINC/boinc-apps/runs/7871981783?check_suite_focus=true

[2022-08-17 17:19] fwosar commented on #6091
We are experiencing the same issue with vcpkg and Crypto++:

``` cryptopp-static.lib(oaep.cpp.obj) : error LNK2019: unresolved external symbol ___std_find_trivial_1@12 referenced in function "unsigned char * __cdecl __std_find_trivial<unsigned char,int>(unsigned char *,unsigned char *,int)" (??$__std_find_trivial@EH@@YAPAEPAE0H@Z)```

It started happening with the latest runner image update. Is th

[2022-08-17 17:57] deathaxe commented on #6002
What about projects which still need python 3.3 support for a reasonable time?

see: https://github.com/wbond/package_control/runs/7884696802?check_suite_focus=true

You must not simply break existing workflows!!!!

[2022-08-17 18:13] al-cheb commented on #6101
The new image with VS 17.3.32811.315 has been deployed.

[2022-08-17 18:14] al-cheb commented on #6082
@jeromelaban, The new image with `Component.Xamarin` has been deployed.

[2022-08-17 20:46] MariuszFerdyn commented on #6027
The solution as post installation is:
[code]

[2022-08-17 23:36] dmachaj opened #6105 "Add Parallels to MacOS image"
### Tool name

Parallels + Parallels SDK

### Tool license

Paid.  We can supply our own paid license when our builds begin

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest Parallels (currently 18.0.0-53049)
latest ParallelsVirtualizationSDK (currently 17.1.4-51567)

### Approximate size

43 + 324 = 367MB (.dmg files)

### Brief description of tool

[https://download.parall

[2022-08-18 00:24] Brett-Best commented on #6051
Any updates? `xcodebuild -downloadAllPlatforms` takes about 8 minutes to run in an action

[2022-08-18 00:33] lisaong commented on #6091
hey @al-cheb , here's a minimal repro that builds a catch2 test using [vcpkg @ 23cc584](https://github.com/microsoft/vcpkg/tree/23cc58477e200bb54c293ad76f3ce438dbabc86c)

[code]

Github action: https://github.com/lisaong/accera-llvm-canary/runs/7890007951?check_suite_focus=true

Steps: https://github.com/lisaong/accera-llvm-canary/blob/main/.github/workflows/repro.yml

[2022-08-18 03:29] daztucker opened #6106 "Sudo on ubuntu-22.04 does not allow running binaries from build dir with "sudo -u""
### Description

sudo on ubuntu-22.04 prompts for a password for "sudo -u nobody" for a binary in the build directory.  On previous iterations of ubuntu images as well as Mac OS work fine.  Running a system binary such as /usr/bin/id works fine.

Sample repo and test run demonstrating issue: https://github.com/daztucker/runner-test/runs/7891375280?check_suite_focus=true

### Platforms affected

-

[2022-08-18 05:43] matthiakl opened #6107 "Il mismatch between 'P1' version '20220421' and 'P2' version '20211117'"
### Description

Since the 20220814.1 Windows runner update MSVC fails linking MSIL module with LTCG. First I thought, the problem was that the vcpkg bincache was built with an older version, but now vcpkg got an update and the problem persists.
This looks similar to #6091

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ]

[2022-08-18 06:54] al-cheb commented on #6106
Hello @daztucker.
I can't reproduce the issue using command `sudo -u nobody id`:

![image](https://user-images.githubusercontent.com/47745270/185320743-e16fc934-4056-42e6-9105-7ccbf045b17f.png)

[2022-08-18 07:46] daztucker commented on #6106
Copy it onto /home and try again.

On Thu, 18 Aug 2022, 16:54 Aleksandr Chebotov, ***@***.***>
wrote:

[2022-08-18 08:24] al-cheb commented on #6091
@AenBleidd, Any idea why cmake picks up `MSVC/14.32.31326` instead of `MSVC/14.33.31629`  ?

[2022-08-18 09:07] AenBleidd commented on #6091
@al-cheb, I don't have an answer for you. I believe, cmake picks up the compiler that is set 'by default' on the system. I can assume that it's an issue with MSVC configuration/installation. Maybe. `MSVC/14.32.31326` was installed after `MSVC/14.33.31629` in the provisioning script.
But I'm not an expert here.

[2022-08-18 09:44] al-cheb commented on #6106
@daztucker, it's a new security feature in Ubuntu 22.04 (Private home directories) - https://ubuntu.com/blog/whats-new-in-security-for-ubuntu-22-04-lts

[code]

![image](https://user-images.githubusercontent.com/47745270/185364871-de03b612-682b-4d9f-8225-8fbf488a668b.png)

[2022-08-18 10:10] friendlyanon commented on #6091
CMake's VS selection logic is implemented in [cmVSSetupHelper.cxx](https://github.com/Kitware/CMake/blob/master/Source/cmVSSetupHelper.cxx). In `cmVSSetupAPIHelper::EnumerateAndChooseVSInstance()`, you can see that it fetches the installed VS versions via COM or falls back to VsWhere. If CMake knows what version it's looking for, then it will pick the first one.

[2022-08-18 10:49] al-cheb commented on #6091
Could someone try this workaround?

[code]

[2022-08-18 10:52] #6101 closed

[2022-08-18 10:53] #6082 closed

[2022-08-18 10:54] AenBleidd commented on #6091
I can

[2022-08-18 10:54] StNebel opened #6108 "Cannot find an installed Xcode satisfying '13.4' on macos-12-Readme.md"
### Description

Cant fint Xcode 13.4 via xcversion on macos-12.

GitHub workflow

[code]

<img width="854" alt="grafik" src="https://user-images.githubusercontent.com/54270778/185378138-9e239ff2-15e9-485e-ac81-8f5692d1bd77.png">

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS

[2022-08-18 10:57] AenBleidd commented on #6091
@al-cheb, please track build process here: https://github.com/BOINC/boinc-apps/actions/runs/2881893859

[2022-08-18 10:59] al-cheb commented on #6108
Hello  @StNebel.
Please use m[axim-lobanov/setup-xcode@v1](https://github.com/marketplace/actions/setup-xcode-version) task

[code]

![image](https://user-images.githubusercontent.com/47745270/185379426-d045568d-5757-4526-ad8a-8a741f80a0f5.png)

[2022-08-18 11:27] al-cheb commented on #6091
@AenBleidd, Thank you. I hope we can start a new deployment with fix on Monday.

[2022-08-18 11:30] 3pehrbehroozi commented on #6108
Same issue here.
The output of the `xcversion installed` command might differ each time you run the workflow.
The screenshots are related to running our workflow on a PR multiple times.

Same configurations:
- Platform: Github Actions
- Virtual environments affected: macOS 12

![Screenshot 2022-08-18 at 13 20 16](https://user-images.githubusercontent.com/1960884/185384192-9d9d988c-76db-4b9b-b096-9

[2022-08-18 11:36] al-cheb commented on #6108
I can't reproduce the issue. It works as expected:

![image](https://user-images.githubusercontent.com/47745270/185385539-35ea8faa-cc1c-43c6-9335-f5994355225e.png)

[2022-08-18 11:56] al-cheb commented on #6107
@matthiakl, Could you please test a workaround - https://github.com/actions/runner-images/issues/6091#issuecomment-1219346037 ?

[2022-08-18 12:23] 3pehrbehroozi commented on #6108
You might catch the error if you try to run your workflow a few times more. Sometimes not all Xcode versions are available.

[2022-08-18 12:25] al-cheb commented on #6108
@3pehrbehroozi, Could you provide a minimal repro streps with repo?

[2022-08-18 12:34] daztucker commented on #6106
Thanks, with that information I was able to add your workaround.

[2022-08-18 12:34] #6106 closed

[2022-08-18 13:33] 3pehrbehroozi commented on #6108
@al-cheb It happens sometimes. I'm having the issue with a private repo that can't be shared.
Some of our tools depend on a specific version of Xcode, which should be available in macOS 12 VMs as per the [README.md file here](https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md#xcode). I have a step on my workflow to check the available Xcode versions using this comma

[2022-08-18 13:35] Steve-Glass commented on #5583
👋 We've been listening to feedback and have decided to postpone the deprecation of macOS 10.15 until 12/1/2022. We will provide an update brownout schedule and will communicate this update via change log as well.

[2022-08-18 13:40] al-cheb commented on #6108
@3pehrbehroozi, Could you please provide a link to the failed build and info about the image? If you have the same image I think this is a bug in xcversion.

![image](https://user-images.githubusercontent.com/47745270/185409211-a99bffa2-64be-4d93-acc4-4e2673615691.png)

[2022-08-18 13:46] 3pehrbehroozi commented on #6108
@al-cheb Runner version is the same but I'm running on a `macOS 12` VM.
The build is on a private repo, so I can't share the link to the failed build. But, Here are the details:

![Screenshot 2022-08-18 at 15 43 03](https://user-images.githubusercontent.com/1960884/185409938-b6059459-408d-44fd-8127-ffa8967b32ee.png)

[2022-08-18 13:53] al-cheb commented on #6108
@3pehrbehroozi, I was able to reproduce the same behavior, but Xcode 13.4 exists.

![image](https://user-images.githubusercontent.com/47745270/185412139-3fea00f6-14d5-4ae0-9362-d3230f1e8235.png)

[2022-08-18 13:56] 3pehrbehroozi commented on #6108
@al-cheb True. And that's the issue. Not all mentioned Xcode versions are available every time.
I'm expecting `13.1` to be installed on the `macOS 12` VM, but I'm getting failure because it isn't.

[2022-08-18 14:03] matthiakl commented on #6107
Thanks @al-cheb, with the workaround it links successfully again.
(https://github.com/matthiakl/widelands/runs/7898693155?check_suite_focus=true)

[2022-08-18 14:03] 3pehrbehroozi commented on #6108
@al-cheb Yup. Confirming with some debugging.
Although we have other versions of Xcode available in the `/Applications/` folder, `xcversion` won't consider them as installed.

The command I put after the `listing all Xcode apps` is:
[code]
![Screenshot 2022-08-18 at 16 01 28](https://user-images.githubusercontent.com/1960884/185414164-3081fb6e-49b9-4749-beb1-bc4b28ac8e00.png)

[2022-08-18 14:10] al-cheb commented on #6107
Thank you . Close to track https://github.com/actions/runner-images/issues/6091

[2022-08-18 14:10] #6107 closed

[2022-08-18 14:28] fwosar commented on #6091
Can confirm that the workaround appears to work for us as well.

[2022-08-19 02:04] scottshambaugh commented on #6002
Ubuntu 18.04 does not reach the end of its standard support phase until [April 2023](https://wiki.ubuntu.com/Releases). If the policy here is to support the last two LTS releases, I would suggest it be amended to align dropping support when Ubuntu does.

[2022-08-19 08:26] al-cheb commented on #6105
Hello @dmachaj.
We have decided not to add Parallels software on macos images due to license policy and maintenance complexity. If we see  a lot of requests from customers to add it we will reopen the thread.

[2022-08-19 08:26] #6105 closed

[2022-08-19 08:27] al-cheb commented on #6108
Close as external - https://github.com/xcpretty/xcode-install/issues/465

[2022-08-19 08:27] #6108 closed

[2022-08-19 08:32] al-cheb commented on #6036
@KMalaimegam, Any updates?

[2022-08-19 08:33] al-cheb commented on #5987
@akrol95, Any updates?

[2022-08-19 08:55] Hornet-Nest opened #6111 "Tests using the .NET Docker remote API run indefinitely on Ubuntu 20.04 and Ubuntu 22.04 agents"
### Description

I have an integration test project that uses a library called [`Testcontainers`](https://github.com/testcontainers/testcontainers-dotnet) to start an instance of a docker container for running tests against. The tests in this project pass on the Ubuntu 18.04 agent, however on updating to either Ubuntu 20.04 or 22.04 these tests now run up until the 1 hour build timeout is hit.

As

[2022-08-19 13:03] al-cheb commented on #6038
The new macOS-12 image has been deployed.

[2022-08-19 13:03] #6038 closed

[2022-08-19 15:25] tabishhussain63 commented on #5930
Hi I am trying to run ndk 21.3.6528147 on iOS macOS-11 and I followed the mitigation ways but still getting this error when I am trying to access android.ndkDirectory in gradle.

NDK is not installed

Can you help what am I missing here is my install ndk Job steps

 - task: CmdLine@2
        displayName: 'Install NDK 21.3.6528147'
        inputs:
          script: |
            ANDROID_HOME=$HOME/

[2022-08-19 15:43] sudara opened #6113 "Add AzureSignTool"
### Tool name

AzureSignTool

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

3.0

### Approximate size

_No response_

### Brief description of tool

Julian Dunn asked me to put in this request.

Currently, one cannot build a signed (deployable) Windows application out of the box with GitHub Actions.  Translated: Windows apps/installers built on GitHub Acti

[2022-08-19 15:45] al-cheb commented on #6113
Hey @sudara.

Considering the fact that tool is pretty small and can be installed in runtime, we wouldn't like to bake it into the image due to maintenance concerns

[2022-08-19 15:45] #6113 closed

[2022-08-19 18:29] lsm5 commented on #5578
@miketimofeev ping, can you give this another try please? Only on 22.04 though. Other versions have a long way to go.

[2022-08-19 23:11] yperess opened #6114 "CI fails for precompiled headers in cmake"
### Description

If you add a project that uses:

[code]

The build will fail with a MinGW error saying there's an invalid memory address access.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [X] Windows Server 2

[2022-08-20 06:07] MariuszFerdyn commented on #6027
Alternative solution mkdir -m 777 -p /home/admadm/.config/NuGet/

where admadm is user created.

[2022-08-20 08:01] Nefcanto opened #6115 "/home/runner/work/_temp/4dbf8165-adae-46e1-b205-67956c159651.sh: line 1: sudo: command not found"
### Description

I use `sudo` on `ubuntu-latest` to create top-level directories in my actions.

It was working fine for this public repository: https://github.com/SultanimMubin/Path

But now it fails with this message:

[code]

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [X] Ubuntu 22.04
- [ ] macOS 10

[2022-08-20 12:39] al-cheb commented on #6115
Hey @Nefcanto.

The PATH doesn't expand and contains:
`${PATH}:/HolismHolding/Commands`

If you would like to add something to the PATH you should use - https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#adding-a-system-path
[code]

![image](https://user-images.githubusercontent.com/47745270/185746549-cfcb8a36-f365-43d4-b8a0-d0fd6587bec3.png)

[2022-08-20 12:39] #6115 closed

[2022-08-20 12:48] al-cheb commented on #6114
Close as external - https://github.com/brechtsanders/winlibs_mingw/issues/97

[2022-08-20 12:48] #6114 closed

[2022-08-20 13:16] Nefcanto commented on #6115
@al-cheb thank you so much. But that error was **WAY** unrelated to the real problem. How could I solve it? It's solved now.

[2022-08-20 21:58] thomas000274 opened #6116 "thank everyone that helped w my laptop now i have a problem with my s21 ultra"
### Breaking changes

google play services & possible spyware

### Target date

8/20/22

### The motivation for the changes

divorce

### Possible impact

myself im already getting sued

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Wi

[2022-08-21 09:17] #6116 closed

[2022-08-21 12:46] burner1024 commented on #4589
Seriously fed up with this, created an [action](https://github.com/devopsx/gha-focal-i386-fix).

[2022-08-21 15:05] probonopd commented on #6002
Ubuntu 18.04 does not reach the end of its standard support phase until [April 2023](https://wiki.ubuntu.com/Releases). The AppImage project is relying on it to be available on GitHub Actions for the whole timeframe doring which it is supported.

[2022-08-22 06:47] melchiorbc commented on #5403
Hi Mike, are you sure of this? Up to today we still see jobs using the "vs2017-win2016" Microsoft Hosted Agent image.

[2022-08-22 11:37] dmitry-shibanov commented on #5166
Hello @xt0rted. Sorry for the late response. Does the issue reproduce with new images ?

[2022-08-22 11:37] dmitry-shibanov commented on #5916
Hello @flopik3-5, just a gentle ping

[2022-08-22 11:45] flopik3-5 commented on #5916
Hello @dmitry-shibanov, unfortunately no.

[2022-08-22 12:11] albertosottile commented on #4133
@al-cheb I wanted to create a new issue, but then I found this https://github.com/actions/setup-python/issues/271. Should I still create essentially a duplicate?

[2022-08-22 12:25] vladbresan opened #6123 "NUnit tests fail on windows-2019 after image version update to 20220814.1"
### Description

We are having some trouble with some unit tests failing after the windows-2019 image has been upgraded to 20220814.1

We ran our pipeline without any issues on 20220801.1 on the same commit hash which is currently failing.

We have also tried to use the windows-2022 vmImage to run our build stage but to no avail. Is there anyone else experiencing this issue?

### Platforms affecte

[2022-08-22 13:27] danfairs commented on #6002
So yeah, we've just found out that 18.04 is deprecated. Considering I just upgraded to Enterprise at the cost of the order of thousands of dollars a month, I'm not massively pleased to see you just breaking our whole company's jobs for four hours.

Couldn't this be done in a different way? A banner on jobs that use the image? An email to org admins? It's pretty bad behaviour.

[2022-08-22 13:31] simonbaralos-codiance opened #6124 ".Net Framework 4.8.1 Build Fails"
### Description

Visual Studio build task fails for .Net Framework target 4.8.1

I've set the image to Windows-latest and VS 2022 as the version.

##[error]C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets(1220,5): Error MSB3644: The reference assemblies for .NETFramework,Version=v4.8.1 were not found. To resolve this

### Platform

[2022-08-22 13:35] panekj commented on #6002
![image](https://user-images.githubusercontent.com/50457605/185933938-a414ff30-9134-4ff0-81da-1ec2154db8a3.png)

[2022-08-22 13:38] danfairs commented on #6002
What can I say? A whole company of 20 people didn't notice it.

[2022-08-22 13:41] panekj commented on #6002
There is also https://github.blog/changelog/2022-08-09-github-actions-the-ubuntu-18-04-actions-runner-image-is-being-deprecated-and-will-be-removed-by-12-1-22

[2022-08-22 13:42] akrol95 commented on #5987
I successfully built the project on 20220816.1 image.

[2022-08-22 13:45] danfairs commented on #6002
I'm sure there is. But we *pay* for this. You (as in GH, not you personally) need to be proactive about reaching out to customers when you're planning to break something. The rest of Microsoft is pretty good at this.

[2022-08-22 13:52] m0ar commented on #6002
This brownout scheme is the worst way to "raise awareness for deprecation" and has put a dark tint over our otherwise happy relationship with GitHub. Who figured that this would be a good solution? We sure disagree.

[2022-08-22 13:55] al-cheb commented on #6124
Hey @simonbaralos-codiance.
We will take a look at it.

[2022-08-22 13:56] simonbaralos-codiance commented on #6124
Great, thank you 🙂

[2022-08-22 13:59] covidium commented on #6002
Why not send some emails? It's easier than screwing peoples builds :)

[2022-08-22 14:01] RainbowMango commented on #268
@miketimofeev and @andy-mishechkin I met this issue on ubuntu-20.04 when I tried to [promote from ubuntu-18.04 to ubuntu-20.04](https://github.com/karmada-io/karmada/pull/2404). Yeah, sure it works on ubuntu-18.04.

You can get the full logs from :
https://github.com/karmada-io/karmada/runs/7952115182?check_suite_focus=true

I tried to find what's the default node number on ubuntu-20.04 as per #34

[2022-08-22 14:07] RainbowMango commented on #268
Yeah, I find it:
https://github.com/actions/runner-images/blob/c08d3333864a501c7e0a703c655e391d360da917/images/linux/scripts/base/limits.sh#L9-L10

Seems the limitation is equal to ubuntu-18.04.  Does that mean the ubuntu-20.04 itself uses more files than ubuntu-18.04?

[2022-08-22 14:34] amacgregorhumi commented on #6002
@miketimofeev Brownout is pretty extreme, you are getting in the way of people shipping and being able to work. And stopping for service we are paying for.

This is huge loss of trust, and pushing us to consider alternatives.

[2022-08-22 14:56] Steve-Glass commented on #6002
👋  Thank you all for expressing your concerns with the deprecation schedule and  feedback on preferred availability. We will revise the deprecation schedule and are will immediately stop the brownouts.

[2022-08-22 14:56] j4mb0ti commented on #6002
We are working on a complex migration with a pretty tight deadline (tomorrow). We have noticed the deprecation and planned for it accordingly. Running into a random brownout is the worst thing any tool could do to us at the moment.
Yes, we are aware of the deprecation. Yes, we have planned to make the necessary changes when we are able to. You are just adding insult to an injury - not raising awar

[2022-08-22 15:08] RajJani opened #6126 "pyodbc 4.0.32 fails to build on Ubuntu 22.04."
### Description

I am using Azure DevOps build pipeline with agent specification as ubuntu-22.04
My requirements.txt includes pyodbc==4.0.32 (since latest version of [pyodbc 4.0.34 is broken](https://github.com/mkleehammer/pyodbc/issues/1095) as of today)

The build fails with it tries to install pyodbc.

The error reads as

[code]

Look at the attached Screenshot for the error message.
![error](h

[2022-08-22 15:16] mullermp commented on #6002
This is impacting AWS SDK For Ruby CI - I agree with others that this is a poor way to raise awareness, as this is the first time I've heard of this campaign. We can make steps to migrate.

[2022-08-22 15:20] al-cheb commented on #6126
Hello @RajJani.
We will try to add sqltools on Ubuntu Server 22.04.

[2022-08-22 15:35] rtek commented on #6002
Please come up with a more reasonable way to handle deprecation of the runners.

Consider how AWS handles lambda runtime deprecations as an example. They distribute emails when old runtimes are being used. You have access to all the workflows so you know whos using them.

[2022-08-22 16:36] miketimofeev commented on #6111
Hi @Hornet-Nest!
We will take a look.

[2022-08-22 16:57] miketimofeev commented on #5930
@tabishhussain63 if you'd like to set env variables you need to do it another way
ANDROID_NDK="/usr/local/lib/android/sdk/ndk/21.3.6528147"
echo "##vso[task.setvariable variable=ANDROID_NDK]$ANDROID_NDK"
and in the subtasks, the variable will be overridden by the new one.

[2022-08-22 17:03] miketimofeev commented on #5403
@melchiorbc could you share a few links, please? I don't need access to pipelines, will take a look at telemetry by those urls

[2022-08-22 17:13] miketimofeev commented on #268
@RainbowMango a bit more:
9921 for ub18
10635 for ub20
You can check it using the `lsof | wc -l` command

[2022-08-22 17:14] miketimofeev commented on #6126
@RajJani we will deploy the new image next week, most likely by Tue-Wed.

[2022-08-22 19:27] bwoodsend commented on #4133
Not a maintainer but I'd say go for it. Strictly speaking https://github.com/actions/setup-python/issues/271 should have been closed at the same time this was closed.

[2022-08-22 21:43] thibauds commented on #482
@maxim-lobanov @alexgordo
Did you find a way to cache `wkhtmltopdf` in order to save these 25 seconds? I'm struggling with permission errors.

[2022-08-23 00:58] spencerdrak opened #6129 "`macos-11` and `macos-12` have unreliable build errors between re-runs of jobs"
### Description

We are running a build which during setup runs `opam switch create 4.14.0`. This works fine on `macos-10.15` but doesn't work reliably on `macos-11` or `macos-12`. Sometimes it passes, sometimes it fails - when it fails, the error is as such:

[code]

We understand you won't be able to assist with the specifics of that command or the specifics of our workflow - but the issue is th

[2022-08-23 04:46] ijansch commented on #6002
With a three week notice period, introducing these brownouts is like pulling the deprecation date forward. Because you can’t rely on a production system that breaks deployments every week for 6 hours. Not being able to perform an action during this time is Ill-advised and a serious risk for anyone relying on GitHub actions for production deployments.

It’s like putting a house on fire to raise awa

[2022-08-23 06:47] mikhailkoliada commented on #6129
@spencerdrak hello! Thanks, we'll take a look.

[2022-08-23 06:52] vladbresan commented on #6123
@mikhailkoliada unfortunately, this can be only reproduced on our project and I can't share details publicly.

For reference, the unit tests are running successfully on developers' machines. Tested on latest version VS2019 and VS2022

[2022-08-23 07:40] Adir207 commented on #2187
I think we as a community need to push for this one. We have hundreds of comments here and a lot of us are eager to get this support. It's already on the roadmap, but on future implementation 😞

[2022-08-23 08:17] alexgordo commented on #482
@thibauds Yes I cached the loading in the end by manually downloading the debs. The cache retrieves in 1s and the install takes 6s (on average).

To download & cache:
[code]
Then to install:
[code]

[2022-08-23 08:29] yy158775 commented on #268
I check it in the e2e test process.
14685 for lsof | wc -l
65536 for ulimit -n

But error still appears.
`webhook server exits unexpectedly: too many open files`

[2022-08-23 08:53] melchiorbc commented on #5403
@miketimofeev I checked and I do see now the jobs trying to use 'vs2017-win2016' do get cancelled by Microsoft stating this is a deprecated environment, only people are still able to pick the 'vs2017-win2016' in their pipelines from the dropdown with VM types (which is confusing).
![image](https://user-images.githubusercontent.com/45199629/186115734-4964bb82-5bc2-42fa-b0bf-29c949172cad.png)

[2022-08-23 09:18] MattiSG commented on #5949
As documented in https://github.com/orgs/community/discussions/30083, I encounter the same issue as @rkm described in https://github.com/actions/runner-images/issues/5949#issuecomment-1210815164:

[code]

This happens using the instructions [provided](https://github.com/actions/runner-images/issues/5949#issuecomment-1210885327) by @al-cheb, with this step:

[code]

And yields the exact same result

[2022-08-23 09:29] al-cheb commented on #5949
@MattiSG, could you add the start mongodb service step right after checkout or the first one?

[2022-08-23 09:47] MattiSG commented on #5949
Thank you @al-cheb for your quick reply! I thought I [got it to work](https://github.com/ambanum/OpenTermsArchive/runs/7969921154?check_suite_focus=true) by adjusting your instructions to use the case-sensitive version of the service name (with `MongoDB` and not `mongodb` as the service name). However, I now am in the same situation as described by @jas88, where one run passed and the [next run fa

[2022-08-23 09:53] MattiSG commented on #5949
I confirm that on a second run, even as “first step after checkout”, the [service start fails](https://github.com/ambanum/OpenTermsArchive/runs/7970386247?check_suite_focus=true).

[2022-08-23 09:55] al-cheb commented on #5949
@MattiSG, Could you check?

[code]

[2022-08-23 09:58] al-cheb commented on #6091
The new Windows Server 2022 image has been deployed.

[2022-08-23 10:00] miketimofeev commented on #5578
@lsm5 thanks! We haven't heard any complaints about the outdated version so we'd rather avoid adding a PPA and will use canonical repo.

[2022-08-23 10:07] #6091 closed

[2022-08-23 10:42] AenBleidd commented on #6091
I can confirm this issue is resolved with the new Windows Server 2022 image without any workaround.
@al-cheb, thanks for the quick fix!

[2022-08-23 10:52] al-cheb commented on #268
@RainbowMango, @yy158775. Could you check?

[code]

[2022-08-23 11:30] mattlewis92 commented on #6002
We got hit by this brownout yesterday but nothing told us our jobs were getting cancelled because of the brownout, I found this issue purely by chance. If you're going to do something like this you really need to give an obvious error message and explain why jobs are being cancelled, just seeing the job being cancelled made me think there was an outage. Even our github account manager wasn't aware

[2022-08-23 11:44] mwisner opened #6131 "GitHub Actions has encountered an internal error when running your job."
### Description

Hi,

Within the past few days one specific repo of ours has started receiving:

[code]

Before this, our workflows ran flawlessly for at least the past year, and we have many other repos that have had no issues

I've created a very basic workflow:

[code]

Within the repo in question, this workflow, along with all the other workflows fail. Things I've tried:

- Changing out the `r

[2022-08-23 11:49] mikhailkoliada commented on #6131
@mwisner Hi! could you provide a link to the real workflow runs?

[2022-08-23 11:53] mwisner commented on #6131
HI @mikhailkoliada,

Thank you for reviewing this issue... Sadly this is a private repo, so I am not sure how to provide the link.

[2022-08-23 12:16] MattiSG commented on #5949
With `sc.exe` instead of `Service-Start, I had 3 successful attempts out of 4. So far, this is the most reliable way to start MongoDB on Windows. I will rebase the branch and add another few refactors, that should trigger additional builds. I will report here if additional failures are encountered.

On a first run, the service did start and logged:

[code]

However, all sorts of weird, never-seen-

[2022-08-23 13:11] vladbresan commented on #6123
So i created a VM and added that to a custom Agent Pool. Logged in through RDP and noticed the following when running our tests:
- CPU reaching 100% and throttling, thus making our tests unstable
- Windows Defender Advanced Threat Protection Service Executable (mssense.exe from my understanding) cruising at at 60-70% CPU usage

Do you have any suggestions regarding this issue besides trying to mak

[2022-08-23 13:12] fcjz commented on #6002
Also, last night, I also experienced this brownout , but there is no explanation, I feel a little baffling.

Too sloppy.

[2022-08-23 13:44] al-cheb commented on #6069
The new Windows Server 2019 image has been deployed.

[2022-08-23 13:44] #6069 closed

[2022-08-23 15:01] MattiSG commented on #5949
The `sc.exe` workaround seems the most reliable until now. However, since its introduction, we regularly [get](https://github.com/ambanum/OpenTermsArchive/runs/7974900791?check_suite_focus=true) [failures](https://github.com/ambanum/OpenTermsArchive/runs/7974592009?check_suite_focus=true) on non-MongoDB-related parts of the test suite. These are [random](https://github.com/ambanum/OpenTermsArchive

[2022-08-23 15:13] lopopolo opened #6136 "Update/Add npm to >= 8.16.0"
### Tool name

npm

### Tool license

The Artistic License 2.0

### Add or update?

- [ ] Add
- [X] Update

### Desired version

8.16.0

### Approximate size

_No response_

### Brief description of tool

npm is the package manager for the node.js ecosystem.

There is a bug in npm 8.15.0 that prevents installation and execution of packages from non-npm registries when using `npx`:

- https://githu

[2022-08-23 16:07] mikeb-ah opened #6137 "Add Windows SDK 10.0.22621 to the 2019 image"
### Tool name

Windows SDK 10.0.22621

### Tool license

See SDK

### Add or update?

- [X] Add
- [ ] Update

### Desired version

10.0.22621

### Approximate size

_No response_

### Brief description of tool

Windows 11 SDK, latest version.

### URL for tool's homepage

https://developer.microsoft.com/en-us/windows/downloads/windows-sdk/

### Provide a basic test case to validate the tool's func

[2022-08-23 16:09] mikeb-ah commented on #6137
I should note that the windows 2022 environment has other incompatibilities with the build I'm attempting to automate, so that's not an option in my case.

[2022-08-23 16:22] al-cheb commented on #6137
Hey @mikeb-ah.

https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk
Starting with the Windows 11, version 22H2 release of the WDK and EWDK, the kits support:
- **Visual Studio 2022 exclusively**
- Building and testing kernel-mode drivers for x64 and Arm64
- Building and testing drivers for Windows 10, Windows Server 2016 and later client and server versions
- Side by side (S

[2022-08-23 16:31] mikeb-ah commented on #6137
That is true for the Windows Driver Kit (WDK), but not for the Windows SDK, see here:
https://developercommunity.visualstudio.com/t/64-bit-EXEs-built-with-VS2019-crash-unde/1248753#TPIN-N10088359

[2022-08-23 16:33] DavidXanatos commented on #6069
seams to be working thank you very much

[2022-08-23 19:46] LKaemmerling commented on #5850
An interesting fact is that we started to see similar issues in the last few days. Sample: https://github.com/hetznercloud/terraform-provider-hcloud/pull/560/checks It makes the usage of Github Actions not possible for us anymore. So is there maybe a solution? In this case, we can't reach our API anymore that generates an API token for further tests. We have this issue on multiple projects and can

[2022-08-23 21:49] dmitry-shibanov commented on #5987
Hello @akrol95. Thank you for your response. In this case I'm going to close the issue.

[2022-08-23 21:49] #5987 closed

[2022-08-23 21:50] dmitry-shibanov commented on #6036
Hello @KMalaimegam. For now I'm going to close the issue because we can't reproduce it. If you get a public repository or any additional information feel free to ping us.

[2022-08-23 21:50] #6036 closed

[2022-08-24 02:50] yy158775 commented on #268
Thank you.
I add these in the e2e script,it has no such error.
But now I am not very clear how max_user_instances and max_user_watches affect the result.It maybe has to do with kubernetes or kind. By the way,in ubuntu 20.04 these default to 54107 for max_user_watches and 128 for max_user_instances.

[2022-08-24 08:54] mikhailkoliada commented on #6136
@lopopolo Hello!

We do not pre-install npm versions other than a version currently available with nodejs by default, you can use `actions/setup-node` to manage the node installation yourself (I see you already did :) )

[2022-08-24 08:54] #6136 closed

[2022-08-24 09:11] miketimofeev commented on #5403
@melchiorbc this is fixed now, sorry for the inconvenience

[2022-08-24 10:21] MattiSG commented on #5949
## Stability report after running 10 times each syntax

The following syntaxes were run in GitHub Actions on `windows-2022` 10 times in a row. They all show about 90% success, tending to demonstrate there is no difference in failure rate depending on syntax.

The test suite itself is not inherently flaky, as each run was also run in `ubuntu-latest` and was successful every time.

In almost two yea

[2022-08-24 11:27] mwisner commented on #6131
It seems like our issues were resolved. Not sure what happened to be honest but ran them again a few hours later and they started working again. Appreciate you reviewing this issue either way!

[2022-08-24 11:27] #6131 closed

[2022-08-24 11:30] kkazala commented on #2279
Since v16.13, Node.js is shipping [Corepack](https://nodejs.org/api/corepack.html) for managing package managers: https://pnpm.io/installation#using-corepack

windows-latest (2022) and ubuntu-latest (22.04) already include Node v16, so it's enough to use `corepack enable`:
[code]

prints out:
[code]

[2022-08-24 18:03] victomized commented on #6051
Anyone care to chat with me in private? I have some questions I really need answers to

[2022-08-24 21:31] chkimes commented on #5850
@LKaemmerling I tried to look at those checks, but they seemed to pass. Was there a specific check suite you had in mind? I see this one which had a failure:

https://github.com/hetznercloud/terraform-provider-hcloud/runs/7966084022?check_suite_focus=true

That's a TCP timeout that appears to have happened before any significant work had been done on the VM, which is very unusual unless there's a

[2022-08-25 07:21] Javernaut opened #6141 "Update Android NDK to r25b LTS"
### Tool name

Android NDK

### Tool license

Same as before

### Add or update?

- [ ] Add
- [X] Update

### Desired version

25.1.8937393

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

- [ ] Azu

[2022-08-25 07:55] mikhailkoliada commented on #6141
Will be deployed next week.

[2022-08-25 08:08] czechdude commented on #1382
Hi, great work, could you publish an example **azure-pipelines.yml** to use for building vdproj on azure pipelines? thanks!

[2022-08-25 11:01] al-cheb commented on #6124
@simonbaralos-codiance, we are planning to finish new image deployment by next Wed-Thu.

[2022-08-25 11:14] miketimofeev commented on #6022
@bhjelstrom do you have any updates? And maybe you have a repo that we can clone and experiment with?

[2022-08-25 11:19] miketimofeev commented on #6111
@Hornet-Nest could you take a look at this issue https://github.com/actions/runner-images/issues/5036?
This seems related to me but I could be wrong.

[2022-08-25 13:45] davdroman commented on #6051
Here's an ad-hoc step whilst #6140 is pending:

[code]

[2022-08-25 14:05] miketimofeev commented on #6051
@Brett-Best sorry for the delay, we have opened a PR adding simulators and most likely deploy the new image early next week.

[2022-08-25 17:03] softworkz commented on #1382
.vdproj projects are not MSBuild projects, which means need to do an IDE build calling devenv.exe. There's an extension on the marketplace for this.

[2022-08-25 17:04] smorimoto commented on #1336
If you can accept arm64, I think Scaleway's product is relatively good.

[2022-08-25 18:14] czechdude commented on #1382
i thought this issue is about adding such extension to windows-2019 image for MS hosted agents?

[2022-08-25 18:16] dharanidhar-m opened #6144 "Playwright tests are not running in the latest image version(20220821.1) of "windows-latest" Microsoft hosted agent"
### Description

Playwright tests stopped working in the latest image version of windows microsoft hosted agent. Can you please check and fix the issue.

MS Hosted Agent: "windows-latest"
Current image version: '20220821.1'

It used to work with earlier version.

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [X] Ubuntu 18.04
- [X] Ubuntu 20.0

[2022-08-25 18:50] softworkz commented on #1382
Correct. Sorry for the confusion.

What I meant above is an Azure DevOps extension on the Azure DevOps MarketPlace.
I looked it up now. This is the one I'm using: https://marketplace.visualstudio.com/items?itemName=mmajcica.devenv-build

[2022-08-25 18:54] softworkz commented on #1382
You might also need to run this CMD script before:

[code]

Background: https://github.com/it3xl/MSBuild-DevEnv-Build-Server-Workarounds/issues/1

[2022-08-26 00:14] BeagleJoe opened #6145 "Windows 2022 can no longer download zlib sources"
### Description

As of version '2.295.0', the Windows Server 2022 runner fails to download the zlib source archive from sourceforge.net
This worked with 2.294.0.
Also works on Windows Server 2019 '2.295.0'

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [

[2022-08-26 07:37] kevinzakka opened #6147 "macOS 12 Slow"
### Description

I've noticed that macOS 12 unit tests end up taking 2 to 3x longer than their Ubuntu / Windows counterpart, for example see [here](https://github.com/deepmind/mujoco/runs/8031509285?check_suite_focus=true). Wondering if this is a common issue and how it can be addressed!

Cheers

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

-

[2022-08-26 07:44] mikhailkoliada commented on #6144
@dharanidhar-m hello!

Could you please provide us with a pipeline with possible reprosteps?

[2022-08-26 09:45] dharanidhar-m commented on #6144
Hi @mikhailkoliada  When we try to run playwright test cases its throwing no tests found error,
![image](https://user-images.githubusercontent.com/82205190/186877125-3bf367f8-f613-4558-beec-98b4338388fb.png)

[2022-08-26 09:51] dharanidhar-m commented on #6144
We are blocked here, Can you please provide the solution if any

[2022-08-26 09:59] miketimofeev commented on #6104
@s4got10dev could you check the new image? Does the issue persist?

[2022-08-26 10:22] mikhailkoliada commented on #6051
Added. Will be deployed next week.

[2022-08-26 11:00] s4got10dev commented on #6104
@miketimofeev unfortunately we still facing issues, so we will still use `ubuntu-22.04`

[2022-08-26 11:19] miketimofeev commented on #6104
@s4got10dev Sorry to hear that. Could you provide a reproducible example so we can experiment and debug the issue further?

[2022-08-26 12:51] mikhailkoliada commented on #6147
@kevinzakka Hello!

This is the hardware limitation, we are working on improving it but have no any ETA at the moment.

[2022-08-26 12:51] #6147 closed

[2022-08-26 12:59] mikhailkoliada commented on #6145
@BeagleJoe does it happen only with cmake or generally with downloading those specific archives? Could you provide a full repro steps backlog? I see you have changed your options recently and the build is green now, was these changes relevant?

[2022-08-26 13:13] joshuapoq opened #6149 "MacOS-12 Agent: Cocoapods is broken"
### Description

Cocoapods is no longer loading on the `macos-12` hosted agents. This was working fine yesterday and we do not install any other gems.
[code]

I reported this earlier via the developercommunity but we've already gone many hours with failing builds so I'm raising here.
https://developercommunity.visualstudio.com/t/MacOS-12-Agent:-Cocoapods-is-broken/10132099

### Platforms affected

[2022-08-26 13:56] martingalvan-nordic commented on #6002
We had the exact same problem when windows-2017 was deprecated, and it was extremely painful to have this transition forced unto us.

IMHO this one is particularly bad since there are legitimate reasons to build on older versions of Ubuntu; namely, so that the linker won't pull in symbols from newer versions of glibc which the customer's systems don't have.

[2022-08-26 14:17] mikhailkoliada commented on #6149
@joshuapoq Hello!

We will take a look.

[2022-08-26 14:23] idealo-ricardo-band commented on #668
Any updates on this?

[2022-08-26 14:28] Hornet-Nest commented on #6111
@miketimofeev I'd say the 2 issues are related.
Both are using the same container image (`mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator`) and in both cases the image works correctly on an Ubuntu 18.04 agent but not on 20.04 agent or newer.

I've not been able to check the logs output from the container on for the build that was run an Ubuntu 20.04 agent however I suspect they will be simi

[2022-08-26 14:40] miketimofeev commented on #6149
@joshuapoq could you please add this line before executing Fastlane? `gem uninstall public_suffix -v 5.0.0` there are two `public_suffix` versions available on the image (4.0.7 & 5.0.0) and that fact seems to be a root cause of the issue. We are currently investigating where both versions came from and what can be done to resolve the issue. Sorry for the inconvenience.

[2022-08-26 15:05] s4got10dev commented on #6104
@miketimofeev as I mentioned in `Repro steps` already It would be quite time consuming to create similar project with a lot of tests that utilise MySQL

[2022-08-26 15:07] miketimofeev commented on #6104
@s4got10dev I understand, but I'm afraid we can't do much without repro steps as we couldn't find any suspicious changes between working and problematic images.

[2022-08-26 15:55] s4got10dev commented on #6104
@miketimofeev sure I understand, that's why I just thought that it's possible to fallback to some specific version from the past.
I assume changes are somewhere in low level components that made MySQL or JVM work so slow, so I will close this issue, as it not worth spending too much time on it.

[2022-08-26 15:55] #6104 closed

[2022-08-26 21:57] BeagleJoe commented on #6145
@mikhailkoliada

I suspect it is that specific archive (zlib-1.2.11.tar.gz), as CMake is able to download the others.
OTOH, CMake is able to download zlib-1.2.11.tar.gz on Windows 2019 (and the previous version of Windows 2022)

I don't know what you mean.

I am experimenting with another branch, I can set that up as a minimal failure case if it will help.
Thanks

[2022-08-27 11:36] snigdhadas8111 opened #6152 "Android emulator boots up with black screen on microsoft hosted agent with mac-11 and Mac-12 in Azure pipeline"
### Description

I have setup a pipeline in azure devops to run automated tests using android emulator on microsoft hosted agent .For couple of days ,I can see that the emulator has been booting up with black screen.I had taken a snapshot and has been attached.The snapshot has been taken just by launching the emulator.I can see the both mac-11 and mac-12 are using new version of android emulator i

[2022-08-27 12:05] shlomif opened #6153 "libgd-dev cannot be installed"
This is happening again as of yesterday, with the GHA config not having changed at all (https://github.com/PDLPorters/pdl/runs/7473608493?check_suite_focus=true):

[code]

_Originally posted by @mohawk2 in https://github.com/actions/runner-images/issues/2139#issuecomment-1192919820_

[2022-08-27 12:06] shlomif commented on #6153
see https://github.com/shlomif/shlomi-fish-homepage/runs/8050079666?check_suite_focus=true too

[2022-08-28 10:21] liby opened #6154 "`Segmentation fault` on Windows i686"
### Description

Starting with `runner version: '2.295.0'` and repeatedly encountering `Segmentation fault`.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [X] Windows Server 2022

### Image version and build link

[2022-08-28 11:59] NiKiZe commented on #668
GitHub and the won't fix from @alepauly shows that they have no intention to fixing this. If they did this issue would have remained open.

[2022-08-29 00:58] nes-nagashin opened #6155 "Update Microsoft Graph module to 1.11.1"
### Tool name

Microsoft.Graph

### Tool license

MIT

### Add or update?

- [ ] Add
- [X] Update

### Desired version

1.11.1

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

- [ ] Azure DevOps
- [

[2022-08-29 06:49] al-cheb commented on #6153
Hey @shlomif.
You should remove the nginx first as a dependency of ligdb3:

`-   run: sudo apt-get remove nginx libgd3`

[2022-08-29 07:29] al-cheb commented on #6145
@BeagleJoe, could you please try to use github.com as a source to download zlib - `https://github.com/madler/zlib/archive/v1.2.11.tar.gz`?

[2022-08-29 07:44] miketimofeev commented on #6155
Hi @nes-nagashin!
The new version will be deployed this week. We will let you know once the deployment is finished.

[2022-08-29 08:33] al-cheb commented on #6154
@liby, hey. Could you please try running a build without cache packages?

[2022-08-29 08:34] igorboskovic3 commented on #6154
Hi @liby , thank you for reporting this one, we will take a look.

[2022-08-29 08:39] igorboskovic3 commented on #6152
Hi @snigdhadas8111 we will take a look.

[2022-08-29 10:23] liby commented on #6154
[Same error](https://github.com/liby/hexo-util-rs/runs/8067918444?check_suite_focus=true)

[2022-08-29 10:38] al-cheb commented on #6154
@liby, I tried the last successful `3265db583bfe729b977fba8ba5add25e2884c2e2` commit and it is working:

![image](https://user-images.githubusercontent.com/47745270/187182991-bdeb5627-3cc3-4cf4-b60d-e14c44e86e6b.png)

[2022-08-29 10:43] #6153 closed

[2022-08-29 10:52] liby commented on #6154
It should be caused by the [`workerThreads` option](https://github.com/actions/runner-images/issues/6154#:~:text=3265db583bfe729b977fba8ba5add25e2884c2e2%20commit%20and-,it%20is%20working,-%3A), but it is not clear why.

[2022-08-29 11:08] al-cheb commented on #6144
@dharanidhar-m, I can't reproduce the issue from my side using repo - https://github.com/fearlessly-dev/30daysofSWA-testing:

[code]

![image](https://user-images.githubusercontent.com/47745270/187188150-a3adcc0f-03e3-44e5-a0b4-173e4ad02d65.png)

[2022-08-29 11:14] al-cheb commented on #6154
Because it worked before updating I am planning to close as external issue.

[2022-08-29 11:14] #6154 closed

[2022-08-29 11:18] liby commented on #6154
Can't agree, because with the `workerThreads` option enabled, only `Windows Server 2022` is wrong, so we still need to look at why.

[2022-08-29 12:57] petermolnar-dev opened #6161 "Add xcparse to macOS toolset"
### Tool name

xcparse

### Tool license

MIT License

### Add or update?

- [X] Add
- [ ] Update

### Desired version

2.3.0

### Approximate size

_No response_

### Brief description of tool

Xcparse is a tool to extract the Xcode generated Unit test coverage and screenshots during the Xcode test run. It enables to pass the code coverage easier to other static code analysers such as Sonarqube.

[2022-08-29 14:06] reiniervlinschoten commented on #6076
Yes, it seems that with a change in backend architecture for the API, the tests are less flaky. Closing this issue for now.

[2022-08-29 14:06] #6076 closed

[2022-08-29 14:13] mikhailkoliada commented on #6161
@petermolnar-dev Hello, we will decide on adding the tool to the images and get back to you.

[2022-08-29 15:00] tedm13 opened #6162 "Subscription not found issue with GenerateResourcesAndImage"
### Description

I've recently had troubles running the scripts specifically the GenerateResourcesAndImage, the result is with an error saying it is unable to find the Subscription however it will create the resource group but it will not create the storage account to hold the resources. I've had this working in a different subscription but not in a subscription I just created to isolate all the b

[2022-08-29 15:29] joaopereiradti opened #6164 "An error occurred while provisioning resources (Error Type: Failure)."
### Description

I am getting this error when I run my pipe in macos-12

##[error]An error occurred while provisioning resources (Error Type: Failure).
,##[error]The remote provider was unable to process the request.
Pool: [Azure Pipelines](https://dev.azure.com/dti-bbi/3b1bf90f-799d-44dd-b332-2dc53c828079/_settings/agentqueues?poolId=&queueId=9)
Image: macos-12

### Platforms affected

- [X] Azur

[2022-08-29 15:31] igorboskovic3 commented on #6164
Hi @joaopereiradti we will take a look. Can you provide repro steps? Thank you

[2022-08-29 15:35] joaopereiradti commented on #6164
This occurs at job startup. On Friday morning it was working normally...

<img width="985" alt="Captura de Tela 2022-08-29 às 12 33 59" src="https://user-images.githubusercontent.com/43824992/187238735-e14e7bbd-7f9a-463c-bbbb-89992a9b1138.png">

[2022-08-29 16:09] BeagleJoe commented on #6145
@al-cheb,
I changed to https://zlib.net/zlib-1.2.12.tar.gz for zlib.
Build is good now, thank you.
If you want to continue investigating and need any more information, let me know.
If not, feel free to close this issue.
Thanks again.

[2022-08-29 19:20] joaopereiradti commented on #6164
@igorboskovic3

Adding more infos:

`
ContinueOnError: False
TimeoutInMinutes: 60
CancelTimeoutInMinutes: 5
Expand:
  MaxConcurrency: 0
  ########## System Pipeline Decorator(s) ##########

  Begin evaluating template 'system-pre-steps.yml'
Evaluating: eq('true', variables['system.debugContext'])
Expanded: eq('true', Null)
Result: False
Evaluating: resources['repositories']['self']
Expanded: Objec

[2022-08-29 20:14] MSP-Greg commented on #5583
Is the target date actually 9/30/2022?

First post shows 8/30/2022 in two places, but multiple brownout dates are occurring in Sept?

[2022-08-30 06:30] miketimofeev commented on #5930
@m-kuhn this is the new image that is being deployed. We are going to finish the deployment and update the documentation today.

[2022-08-30 07:01] #6145 closed

[2022-08-30 07:45] al-cheb commented on #6126
The new image with unixodbc-dev has been deployed.

[2022-08-30 07:45] #6126 closed

[2022-08-30 07:57] al-cheb commented on #6155
The new Ubuntu images with Microsoft.Graph | 1.11.1 have been deployed.

[2022-08-30 07:57] #6155 closed

[2022-08-30 09:14] miketimofeev commented on #268
@yy158775 @RainbowMango the fix is now deployed so no need for a workaround anymore. Sorry for the inconvenience.

[2022-08-30 09:24] igorboskovic3 commented on #6164
@joaopereiradti Hi, can you provide us with successful and unsuccessful build links?

[2022-08-30 09:46] RainbowMango commented on #268
thanks for your notice @miketimofeev.
I've started my job and I can see the image is [Version: 20220828.1](https://github.com/karmada-io/karmada/runs/8089086951?check_suite_focus=true#step:1:9) now.

[2022-08-30 10:55] miketimofeev commented on #5583
@MSP-Greg the targed date was shifted to December 1st. We will fix the description, thanks!

[2022-08-30 12:39] sivasamsivasam commented on #5998
Any ETA to change the default tag to 22.04?

[2022-08-30 12:56] joaopereiradti commented on #6164
Hello @igorboskovic3,
unfortunately this project is not public :/
Is there anything I can help you with?

[2022-08-30 12:59] igorboskovic3 commented on #6152
Hi @snigdhadas8111 I will try to reproduce this issue on outside of this codebase.

[2022-08-30 13:09] al-cheb commented on #6164
@joaopereiradti, please send me links to the failed build al-cheb at github.com.

[2022-08-30 15:36] al-cheb commented on #6124
The new Windows2022 image with .Net 4.8.1 has been deployed.

[2022-08-30 15:36] #6124 closed

[2022-08-30 16:28] miketimofeev commented on #6002
The deprecation date has shifted to March 1st, 2023 to give more time to adapt the workflows to Ubuntu20 or Ubuntu22.
The brownout schedule is also adjusted and now has shortened periods.

[2022-08-30 17:09] miketimofeev commented on #5998
@sivasamsivasam we are going to announce it soon and migrate the tag till the end of this year.

[2022-08-30 17:19] dbussink commented on #6002
@miketimofeev Is there also a plan to make it much more obvious in the UI that the brownout is happening? The lack of any information in the view linked from pull requests made the user experience significantly worse here.

[2022-08-30 17:51] stephenhauck commented on #5782
This appears to still be a problem 28 days later
Is there an easier way to resolve this?
I don't want a custom script .. Appcenter is old enough it should work just fine by now

[2022-08-30 19:32] gdams commented on #5631
Presumably the announcement of Arm64 VMs in Azure will make enabling this much easier?

[2022-08-30 19:59] theodrim opened #6171 "Update/Add git-crypt"
### Tool name

git-crypt

### Tool license

GNU General Public License v3.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

0.7.0

### Approximate size

206016 bytes

### Brief description of tool

### Transparent file encryption in git.

git-crypt enables transparent encryption and decryption of files in a git repository. Files which you choose to protect are encrypted when comm

[2022-08-31 07:24] waszak commented on #6111
This is issue is also here mentioned https://github.com/Azure/azure-cosmos-db-emulator-docker/issues/45

Probably the only way to fix this issue before they depracate ubuntu 18.04 is to upvote issues like that in both places.

They even have special email for issues like that  that https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=sql-api%2Cssl-netstd21#report-an-emulator-issue

[2022-08-31 07:50] mikhailkoliada commented on #6171
@theodrim Hello!

We will decide on adding the tool to the images and get back to you.

[2022-08-31 09:16] miketimofeev commented on #6111
@Hornet-Nest @waszak I'm going to close this issue as an external one but please feel free to contact us if you need any help from our side.
Thank you!

[2022-08-31 09:16] #6111 closed

[2022-08-31 09:32] miketimofeev commented on #6002
it's on our radar but I'm afraid we can't guarantee that better UI notifications will be implemented during this deprecation.

[2022-08-31 11:43] ddobranic commented on #6161
Hello @petermolnar-dev, thank you for your proposal for adding `xcparse` to macOS toolset.
Our general advice is implementing installation logic on task side even if if tool is pre-installed on Hosted images.
Tool is easy and quick to install in runtime, so we recommend that approach in this case.

[2022-08-31 11:43] #6161 closed

[2022-08-31 12:07] al-cheb commented on #6144
@dharanidhar-m, Any updates?

[2022-08-31 12:07] al-cheb commented on #6164
@joaopereiradti, any updates?

[2022-08-31 12:30] polqf opened #6172 "Xcode 12.5.1 is not available in macos-11 image"
### Description

Up until some time from now, `macos-11` was having Xcode 12.5.1 installed. This is also stated in the [Xcode section](https://github.com/actions/runner-images/blob/main/images/macos/macos-11-Readme.md#xcode) in the README.

But some days ago we started seeing this error message:
`Cannot find an installed Xcode satisfying '~> 12.5.1'`

After adding some logs, I can see that there a

[2022-08-31 12:36] al-cheb commented on #6172
@polqf, hey.

It's work as expected. To set up Xcode version I use the [ctions/setup-xcode-version](https://github.com/marketplace/actions/setup-xcode-version) task:

![image](https://user-images.githubusercontent.com/47745270/187679599-8eb7f8f0-796f-4f04-8587-5f777d97235c.png)

[2022-08-31 12:53] jmprice18 commented on #5584
We've hit this issue on our side and we can reproduce it easily on MacOS 12 and Xcode 13.4+.  We believe that Xcode is trying to access the keychain interactively while cloning at least 10 repositories from Github with a PAT.  But if you only use public repositories, you won't run into this.  We've tried using the PAT in git credential helper or via URL re-write and both produce the same error dep

[2022-08-31 13:40] miketimofeev commented on #5584
@jmprice18 we will take a look at what can be done from our side but at first glance, it looks like Xcode security limitations.

[2022-08-31 14:35] al-cheb commented on #6172
close as external https://github.com/xcpretty/xcode-install/issues/204

[2022-08-31 14:35] #6172 closed

[2022-08-31 16:28] niehusstaab commented on #3517
Just to chime in here, this is plaguing one of my repos as well, but on `ubuntu-latest` image. Sadly it's not public, so I can't share any links or anything, but my workflows all fail around the 30min mark with either the error:
[code]
or
[code]
The workflow is just a simple action running `npm quicktype`. Occasionally, I will get some logs (as opposed to the typical no logs on the failing step th

[2022-08-31 16:31] ddobranic commented on #6171
Hello @theodrim, thank you for your proposal. Tool is small and easy to install in runtime. We recommend that approach.

[2022-08-31 16:31] #6171 closed

[2022-08-31 17:10] miketimofeev commented on #3517
@niehusstaab even links to private repos will help as we don't need access to your repo to get the telemetry for the run and see if there was high CPU usage or something like that. Most likely this is the root cause.

[2022-08-31 17:11] miketimofeev commented on #6149
@joshuapoq the new image with a workaround has been deployed. I'm going to close the issue but please let me know if the issue persists.
Thank you!

[2022-08-31 17:11] #6149 closed

[2022-08-31 18:44] filbranden opened #6173 "Error loading libpq.5.dylib from Ruby pg gem in MacOS 20220829.1"
### Description

I started getting this error in my rspec run on Mac:

[code]

https://github.com/igrigorik/vimgolf/runs/8119938671?check_suite_focus=true

Looking at the [release notes for image 20220829.1](https://github.com/actions/runner-images/blob/macOS-11/20220829.1/images/macos/macos-11-Readme.md) and comparing it to the previous image, I see the list of shipped utilities changed from "Pos

[2022-08-31 19:21] jonathanpeppers commented on #6038
@al-cheb we have a customer saying they still don't have Xamarin.Android 13.x on `macos-latest`:

https://github.com/xamarin/xamarin-android/issues/7233#issuecomment-1233315111

Is there more info we can ask for? I wonder if they somehow don't have the update that rolled out?

[2022-08-31 19:24] GreatBarrier86 commented on #6038
Here is the comment showing the `-v:diag' in the MSBuild options: https://github.com/xamarin/xamarin-android/issues/7233#issuecomment-1223252344

It's showing Android 12.

[2022-08-31 21:11] al-cheb commented on #6038
@jonathanpeppers , it should be:

![image](https://user-images.githubusercontent.com/47745270/187783829-751340af-cb3e-4007-b8a0-888c26902dd5.png)

[2022-08-31 21:16] al-cheb commented on #6038
@GreatBarrier86 , could you please provide a runner version?

[2022-08-31 21:58] GreatBarrier86 commented on #6038
Here's the info. Are you saying you won't be updating `macos-latest`? Seems reasonable that one would be updated. Isn't that was "latest" really means?

![image](https://user-images.githubusercontent.com/29482393/187792475-22ed62d8-5b39-432c-9596-4d398d1b9b20.png)

[2022-08-31 22:21] al-cheb commented on #6038
https://github.com/actions/runner-images#available-images

[2022-08-31 22:24] GreatBarrier86 commented on #6038
I'm really asking why the "latest" one isn't updated with the latest software. I've been fighting this assuming that latest was actually latest, and it's not. Can we not trust latest to always have the latest software then?

[2022-09-01 06:21] miketimofeev commented on #6173
Hi @filbranden!
The output in the readme is not related to the problem. The root cause is the changes in Homebrew postgres formula — it was bumped from 14 to 15 but as we still use version 14 it's now installed under the `/usr/local/opt/postgresql@14` instead of `/usr/local/opt/postgresql`
Could you try symlinking the directory` ln -s "/usr/local/opt/postgresql@14" "/usr/local/opt/postgresql"` and

[2022-09-01 06:59] miketimofeev commented on #6038
@GreatBarrier86 migration the *-latest tag is not that easy process. We will announce` macOS-latest` migration to `macOS-12` soon.

[2022-09-01 07:07] filbranden commented on #6173
Since this is a regression on the image itself, shouldn't you consider shipping this symlink as part of the image, for backwards compatibility?

I'm a little bit reluctant to update my action to add a symlink to an image that should just work...

Or did you mean for me to try to add the symlink to confirm it solves the issue, so it can be incorporated on the upstream image?

[2022-09-01 07:11] miketimofeev commented on #6173
@filbranden correct, if it helps I will create a PR adding the symlink to the image.

[2022-09-01 07:40] filbranden commented on #6173
I just tried that, it didn't seem to fix the issue.
https://github.com/filbranden/vimgolf/runs/8129651541?check_suite_focus=true
Let me poke around some more.

[2022-09-01 07:52] miketimofeev commented on #6173
Intrestingly, the libs are in the `usr/local/opt/postgresql/lib/postgresql@14` not in the `usr/local/opt/postgresql/lib/`

[2022-09-01 07:53] miketimofeev commented on #6173
there is a discussion around it already https://github.com/orgs/Homebrew/discussions/3579

[2022-09-01 07:58] filbranden commented on #6173
Yes! This worked:

[code]

See commit https://github.com/filbranden/vimgolf/commit/c7cfad62f65261f1164b3d8c35ac845fe5298ec0

And corresponding run https://github.com/filbranden/vimgolf/runs/8130217463?check_suite_focus=true

Nice that you found a discussion about it already, thanks for that!

If you'd like to push a workaround for the issue in the meantime, I'd appreciate it.

[2022-09-01 08:00] miketimofeev commented on #6173
I would wait for a bit for the next steps from Homebrew before implementing a workaround. Would you mind putting your two cents in that discussion?

[2022-09-01 08:03] JAugustusSmith opened #6174 "Update/Add [tool name]"
### Tool name

Xcode 13.3 or later

### Tool license

none

### Add or update?

- [ ] Add
- [X] Update

### Desired version

Xcode 13.3 or later

### Approximate size

_No response_

### Brief description of tool

xcode on macos latest

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

[code]

### Platforms where you need the tool

- [

[2022-09-01 08:06] filbranden commented on #6173
Consider shipping `brew install libpq` in the MacOS image, it seems that specific Homebrew formula is more appropriate for users of the library instead of the version shipped with the database server itself.

[2022-09-01 08:49] dennisameling opened #6175 "Support Windows ARM64 build images"
### Tool name

ARM64 Windows

### Tool license

N/A

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Windows 11 ARM64

### Approximate size

_No response_

### Brief description of tool

Same as https://github.com/actions/runner-images/issues/5631, but this request is for Windows ARM64 rather than Linux ARM64.

Now that [Azure ARM64 VMs](https://azure.microsoft.com/en-us/blog/azur

[2022-09-01 08:51] #6174 closed

[2022-09-01 10:24] VadVergasov commented on #6173
This issue with PostgreSQL also affects CMake and CMake couldn't find PostgreSQL on machine.

[2022-09-01 11:24] mikhailkoliada commented on #6141
Deployed

[2022-09-01 11:24] #6141 closed

[2022-09-01 12:32] panticmilos commented on #5584
Hi @jmprice18, we were discussing how we could potentially overcome this issue, and for self-hosted runner, we could maybe run `git config credential.helper cache` after auth to avoid keychain prompts. In this case, we could avoid it. Of course, there is still a question to be resolved how we can avoid it for hosted runners.

[2022-09-01 13:03] erik-bershel commented on #6137
@mikeb-ah
May I ask you to check the set of options for the requested SDK? Will the list of options specified in the pull request be sufficient for your application?
Mentioned PR is [here](https://github.com/actions/runner-images/pull/6148/files#diff-0bc9c7c16dcb9715baaa2770d73a8ca4958d598ceb8bdd405ad622262891f98a). String 49
Or you can provide an example of application.

[2022-09-01 13:09] miketimofeev commented on #6173
@VadVergasov would you mind participating in the homebrew discussion as I'm afraid we can't control the way homebrew installs postgres? https://github.com/orgs/Homebrew/discussions/3579

[2022-09-01 13:54] al-cheb commented on #6144
I am going to close the thread. Feel free to open it if you have any concerns.

[2022-09-01 13:54] #6144 closed

[2022-09-01 14:23] igorboskovic3 commented on #6175
Hi @dennisameling we will take a look and get back to you.

[2022-09-01 14:34] EwoutH commented on #841
Same issue: https://github.com/EwoutH/pydsol-core/runs/8137779104?check_suite_focus=true

[2022-09-01 14:45] alexistdk commented on #841
Same here in a self-hosted runner

[2022-09-01 15:44] dmnd commented on #2187
Marketing:

![image](https://user-images.githubusercontent.com/4427/187956525-3b1c48ee-8fb7-453b-9c4e-7b6a985645ea.png)

Reality:

![image](https://user-images.githubusercontent.com/4427/187956544-13ddd13b-688b-484e-a8c1-e3aa7a1c5ec1.png)

[2022-09-01 17:42] filbranden commented on #6173
@miketimofeev It turns out the issue I was having was due to the bundle cache of the `ruby/setup-ruby` action. It had cached the gems built in the previous image, with the previous directory layout of the Postgres homebrew install, but then it was trying to use the same binaries on the new layout.

In debugging the issue, I noticed that building from source fixed the problem correctly, so then I f

[2022-09-01 17:52] #6173 closed

[2022-09-01 20:16] VadVergasov opened #6176 "PostgreSQL regression on MacOS"
### Description

Something is wrong with the PostgreSQL location and CMake couldn't find it currently. I've tried to ensure, that PostgreSQL has been installed with a brew. The issue seems to be similar to https://github.com/actions/runner-images/issues/6173 but creating symlink links have no effect for me.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments

[2022-09-01 22:26] muratcorlu commented on #2187
M1 support of hundreds of open-source projects waiting for this (look at the mentions above). I don’t know the difficulty here but GitHub should not be the one of the last ones that supports M1 hardware.

[2022-09-01 22:43] Milo123459 commented on #2187
For everyone who doesn't like getting spam on this thread, you can customise watch settings to only get notified when this issue is closed.

[2022-09-02 06:27] bhjelstrom commented on #6022
I believe this has been fixed by reducing in the number of make jobs from 4 (via nproc) to 2. The build completes an entire hour earlier as well. This implies that the old builds were locking up more than once.

Most likely cause: My build required too much memory for the 7GB runner and sometimes spilled over into swap. I should have seen this coming, but resource warnings for action runners might

[2022-09-02 06:29] miketimofeev commented on #6002
We have decided to prolong the deprecation until the official end of life — April 2023. Brownouts schedule has been adjusted  as well to reflect the prolonged deprecation

[2022-09-02 06:35] miketimofeev commented on #5720
Closing this as windows image will receive the tools eventually and for ubuntu we wouldn't like to add it as Tim mentioned.

[2022-09-02 06:35] #5720 closed

[2022-09-02 06:39] miketimofeev commented on #6022
@bhjelstrom thanks for the update!
More powerful runners are on our radar but I can't provide ETA when they will be available.
I'm going to close the issue please let me know if you have any concerns.
Thank you!

[2022-09-02 06:39] #6022 closed

[2022-09-02 06:48] al-cheb commented on #6164
I am planning to close the thread. Feel free to open it if you have any concerns.

[2022-09-02 06:48] #6164 closed

[2022-09-02 07:18] al-cheb commented on #6176
Hello @VadVergasov.
Could you please try using PostgreSQL_LIBRARY option `-DPostgreSQL_LIBRARY="$(pg_config --libdir)"` ?

[2022-09-02 08:37] mikhailkoliada commented on #6129
@spencerdrak closing as external, I can reproduce this problem on my own macOS laptop and a clean macOS virtual machine too, please report to formulae maintainers directly. Feel free to reach us out if you think you have questions left.

[2022-09-02 08:37] #6129 closed

[2022-09-02 11:22] snigdhadas8111 commented on #6152
Hi @igorboskovic3 , it would be very helpful if you can help us with your findings.

[2022-09-02 11:25] igorboskovic3 commented on #6152
Hi @snigdhadas8111, we are working on resolution, as soon as we have one, I will update it here. Btw, can you try again, since we deployed new image yesterday, thank you

[2022-09-02 11:38] miketimofeev commented on #6022
@bhjelstrom beta is announced by the way https://github.blog/2022-09-01-github-actions-introducing-the-new-larger-github-hosted-runners-beta/

[2022-09-02 13:40] igorboskovic3 commented on #6152
Hi @snigdhadas8111, thank you for additional try, I wanted to confirm that you have issue on newest image.

[2022-09-02 14:45] dsame commented on #6152
Hello @snigdhadas8111
Can you please provide the step of the pipeline to launch the emulator? In order to reproduce the problem i'd like to know

 - the way the emulator is installed/updated (if not pre-installed is used)
 - the image to be used to create the AVD
 - how the AVD is created
 - and most important: how the emulator is launched and is waiting for ready status

 also i assume there're n

[2022-09-02 15:14] joaopereiradti commented on #6164
Hello!
Sorry for the delay, but this is not working yet...
I create one ticket here: https://developercommunity.visualstudio.com/t/An-error-occurred-while-provisioning-res/10133669

[2022-09-02 16:08] bhjelstrom commented on #6022
@miketimofeev Great timing! I signed up for the beta. Thanks.

[2022-09-02 17:37] VadVergasov commented on #6176
[Now](https://github.com/Plnguins/CRM/runs/8161152427?check_suite_focus=true) build fails because libpq include can't be found.

[2022-09-03 15:37] al-cheb commented on #6176
@VadVergasov, check this:
`-DPostgreSQL_INCLUDE_DIR="$(pg_config --includedir)" -DPostgreSQL_LIBRARY="$(pg_config --libdir)"`

[2022-09-03 16:29] VadVergasov commented on #6176
[Already](https://github.com/Plnguins/CRM/runs/8161228374?check_suite_focus=true) checked this and also can't be build successfully.

[2022-09-03 16:56] al-cheb commented on #6176
@VadVergasov, try libpq:
`-DPostgreSQL_INCLUDE_DIR="/usr/local/opt/libpq/include" -DPostgreSQL_LIBRARY="/usr/local/opt/libpq/lib/libpq.dylib"`

[2022-09-03 17:04] VadVergasov commented on #6176
@al-cheb also nothing changed. Same error as in the latest run

[2022-09-03 18:52] al-cheb commented on #6176
@VadVergasov, add this step before configure cmake step:
[code]

![image](https://user-images.githubusercontent.com/47745270/188284369-be1b6917-b348-4e31-b510-99e5ea7a654c.png)

[2022-09-03 20:03] VadVergasov commented on #6176
@al-cheb thanks, that solved the issue

[2022-09-03 20:03] #6176 closed

[2022-09-03 21:20] sylvestre opened #6177 "whoami and others coreutils commands are failing"
### Description

Currently, if you run one of the GNU/Coreutils relative to user/group on one of the Ubuntu VM in github action, it will fail with:
[code]

The /etc/passwd & /etc/group seem to be incorrect:

[code]

[code]

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
-

[2022-09-04 01:08] xt0rted commented on #5166
@dmitry-shibanov I haven't been working on the projects where I first encountered this (the ones in the original screen shots) but I do still see slower Windows 2022 times in one of my public projects.

- https://github.com/xt0rted/dotnet-rimraf/actions/runs/2907464171
- https://github.com/xt0rted/dotnet-rimraf/actions/runs/2908340659

With the [announcement](https://github.blog/changelog/2022-09-

[2022-09-04 13:31] al-cheb commented on #6177
Hey @sylvestre.
I can't reproduce the issue from my side.

[code]

![image](https://user-images.githubusercontent.com/47745270/188316163-a09f0385-4e75-420f-9835-2025186b0e48.png)

[2022-09-04 15:32] sylvestre commented on #6177
maybe it is a problem between the chair and the keyboard ;) I will try to create a small test case.

The passwd & group files look unusual here https://github.com/uutils/coreutils/issues/3890#issuecomment-1236187636
uid=1001 & gid=121 but no references in /etc/passwd or /etc/group

[2022-09-04 16:06] al-cheb commented on #6177
Could you please attach a link to the failed build?
[code]

![image](https://user-images.githubusercontent.com/47745270/188322742-e8475819-bb60-4ba8-8c32-74207fdf99d9.png)

[2022-09-04 16:17] sylvestre commented on #6177
Sure, here it is:
https://github.com/sylvestre/coreutils/runs/8171972246?check_suite_focus=true
https://pipelines.actions.githubusercontent.com/serviceHosts/91f3338c-0673-45e0-bd1a-bef98f89b878/_apis/pipelines/1/runs/1741/signedlogcontent/165?urlExpires=2022-09-04T16%3A18%3A35.9690849Z&urlSigningMethod=HMACV1&urlSignature=lgqDvZrYfpj5%2F4%2F1u9TtvX8Bo%2BhBpCaHjmUnixDAJEM%3D

[2022-09-04 16:22] illfygli commented on #6175
I would find this useful too.
I would like to make Windows-on-ARM builds of [Joplin](https://github.com/laurent22/joplin) available.

[2022-09-04 20:19] al-cheb commented on #6177
As I can see you are running tests in docker containers( https://github.com/cross-rs/cross - One of these container engines is required. If both are installed, cross will default to docker.). It explains why passwd & group files are different :
![image](https://user-images.githubusercontent.com/47745270/188331731-0096b735-36e7-492c-b5a4-505bf63186ee.png)

For e.g.:
[code]

I'm not familiar with yo

[2022-09-05 04:57] snigdha81 commented on #6152
Hi @dsame ,

Please see below my comments inline:

Sharing the scripts used in pipeline:

task: Bash@3
displayName: Install AVD FIle
inputs:
targetType: inline
script: >+
# **Install AVD files**
echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install 'system-images;android-27;google_apis;x86'

task: Bash@3
displayName: Create AVD
inputs:
targetType: inline
script: >-
# **Create emulator**
echo "no

[2022-09-05 05:56] sylvestre commented on #6177
@al-cheb many thanks, it fixes the issue:
https://github.com/uutils/coreutils/pull/3902
I am curious why it regressed ?!

[2022-09-05 05:56] sylvestre commented on #6177
sorry for the noise

[2022-09-05 05:56] #6177 closed

[2022-09-05 07:17] ddobranic commented on #6175
We plan to add this feature in the future but it has not been prioritized.

[2022-09-05 07:17] #6175 closed

[2022-09-05 07:40] emo-slido opened #6180 "Update skopeo"
### Tool name

skopeo

### Tool license

Apache License Version 2.0

### Add or update?

- [ ] Add
- [X] Update

### Desired version

v1.9.2 (latest) or at least v1.5.1 or greater

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

https://github.com/containers/skopeo

### Provide a basic test case to validate the tool's functionality.

[2022-09-05 08:01] miketimofeev opened #6181 "[Windows] Docker EE will be replaced with Docker CE / Moby on September, 19"
### Breaking changes

Docker EE will be replaced with Docker CE / Moby

### Target date

September, 19. The propagation will take 2-3 days.

### The motivation for the changes

Support for DockerMsftProvider ends at the end of September and will be fully transferred to Mirantis. The alternative is Docker CE / Moby

### Possible impact

If your builds depend on Docker EE-specific functionality they

[2022-09-05 08:07] miketimofeev commented on #6180
@emo-slido I'm afraid we don't control the upstream repo updates. The new version of skopeo will be delivered right after those repos (https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable for Ubuntu 18&20 and the official Ubuntu repo for Ubuntu22) are updated.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2022-09-05 08:07] #6180 closed

[2022-09-05 08:09] al-cheb commented on #6180
As a workaround you can install skopeo in runtime:

[code]

![image](https://user-images.githubusercontent.com/47745270/188400564-a98702a7-3264-46a2-bb43-aea630e0d0fe.png)

[2022-09-05 14:21] dsame commented on #6152
@snigdhadas8111
yes, it is correct way to launch the emulator. While i am trying to reproduce and solve the problem, please try to take a look at this snippet https://gist.github.com/badsyntax/ce848ab40b952d944c496575d40e5427 - it looks we have some GPU issue which is common problem that may be solved with gpu options and/or screen settings. It might happen you will be able to find out the solutio

[2022-09-05 14:51] dreaddymck commented on #4589
Ubuntu 22.04.1 LTS - Same Issue since fresh install.

The following packages have unmet dependencies:
 libsndio7.1 : Breaks: libsndio7.0:i386 (= 1.8.1-1.1) but 1.8.1-1.1 is to be installed
E: Error, pkgProblemResolver::Resolve generated breaks, this may be caused by held packages.

Force install libsndio7.0 removes a lot of packages that are currently being used.

[2022-09-05 16:26] snigdha81 commented on #6152
@dsame  ,Had tried all GPU options without any success. Would like to add one note here. The same emulator configuration works on mac OS-10.15 which has the older version of emulator  .Mac 11 and 12 are using the latest emulator version.

[2022-09-06 06:31] mai-nakagawa opened #6185 "[Ubuntu] g-dbus-error-quark: The name org.freedesktop.secrets was not provided by any .service files (2)"
### Description

The latest `ubuntu-latest` or `ubuntu-20.04` version `2.296.0` and `2.296.1` fails to run `poetry install` (`poetry` is a Python's package manager) with the following error log:
https://github.com/mai-nakagawa/test-runner-images/runs/8200561159?check_suite_focus=true

The workaround is to add `sudo apt install gnome-keyring` beforehand:
https://github.com/mai-nakagawa/test-runner-

[2022-09-06 06:33] kingofDaniel commented on #5583
thanks for all effort 😬

[2022-09-06 06:49] al-cheb commented on #6185
Hey @mai-nakagawa.
We will take a look at it.

[2022-09-06 07:21] al-cheb commented on #6185
@mai-nakagawa, I have found out a couple of relative issues: https://github.com/python-poetry/poetry/issues/2692 https://github.com/python-poetry/poetry/issues/6277 https://github.com/pypa/pip/issues/6773

[code]

![image](https://user-images.githubusercontent.com/47745270/188571802-497fe93d-b332-4d93-92be-1cb32a0cbfac.png)

[2022-09-06 07:33] al-cheb commented on #6185
I am planning to close as external. Feel free to open it if you have any concerns.

[2022-09-06 07:33] #6185 closed

[2022-09-06 07:50] mai-nakagawa commented on #6185
Thanks @al-cheb for your quick investigation. Understood the root cause and the solution!

[2022-09-06 10:31] stephenhauck commented on #5782
Seem like when your commercial product relies on it you should do more than wait ?

[2022-09-06 13:47] salvatoreboemia opened #6190 "[XCode 14 issue]: No signing certificate iOS Development found. needs selected Development Team for Pod Bundles"
### Description

Hi

since I set up on Azure XCode 14 the fastlane fails in the build_app phase

Local XCode 14 works (assigning the teamID to the two PODs

ERRORS:

[code]
<img width="270" alt="Screenshot 2022-09-06 at 12 24 41" src="https://user-images.githubusercontent.com/20614870/188651239-92c83991-d76f-4221-bf34-7df47ef9936d.png">

Do you have any suggestions on how to fix this error?

Thank

[2022-09-06 16:10] domenkozar commented on #183
Has anyone tested the new larger runners if they have nested virt?

[2022-09-06 16:29] mikehardy commented on #183
@domenkozar nice find! It looks like the DS4 machine type maps best to the configuration options available (https://docs.microsoft.com/en-us/azure/virtual-machines/dv4-dsv4-series) and they list it on azure as "nested virtualization supported". I wouldn't bet much, but I'd bet $1 it does work unless Github has specifically disabled it.

[2022-09-06 16:34] maxkratz commented on #183
@domenkozar Unfortunately, they are "paid-only" for Teams and Enterprise users (from https://github.blog/changelog/2022-09-01-github-actions-larger-runners-are-now-in-public-beta/):

[2022-09-06 19:25] mikeb-ah commented on #6137
That looks good, thanks very much!

[2022-09-07 13:51] eladmaimoni commented on #6091
@al-cheb @AenBleidd

I stumbled upon this thread while google-searching this linker issue. It appeared in a small executable that uses vcpkg after upgrading to Visual Studio 2022 17.3.3.

Can you please explain what exactly is the issue? what is the workaround?

[2022-09-07 14:03] JimmyBanks commented on #6002
Our project is using 'ubuntu-latest', but the pipelines continually default to 18.04 giving us this alert/error notice.

[2022-09-07 14:33] miketimofeev commented on #6002
@JimmyBanks could you share a few links to your pipelines with these warning and the screenshot of the Initialize job step with the runner image?

[2022-09-07 16:57] drewlearns opened #6197 "Azure Dev pipelines azds command not working"
### Description

I've been trying to get a pipeline to work using the automated system:
![New pipeline - Pipelines 2022-09-07 at 12 49 47](https://user-images.githubusercontent.com/54754951/188935257-3e1a8b6a-c58a-48f9-bab7-34fad097887d.jpg)
It tries to use AZDS:
![dst-selectorazure-pipelines yml at azure-pipelines2 · precision-sustainable-agdst-selector 2022-09-07 at 12 47 30](https://user-images

[2022-09-07 19:14] JimmyBanks commented on #6002
Turns out this was a mistake on our end and the pipeline was set to 18.04, not latest. We mixed up two different projects settings, and assumed both were updated at the same time to latest.

Sorry for wasting your time

[2022-09-08 05:24] knox commented on #6190
This is a known issue. See https://github.com/CocoaPods/CocoaPods/issues/11402 for details and workaround.

[2022-09-08 05:34] knox opened #6198 "Add xcbeautify to macOS image"
### Tool name

xcbeautify

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

0.13.0 / latest

### Approximate size

_No response_

### Brief description of tool

It's recommended to use [xcbeautify](https://github.com/tuist/xcbeautify) for xcodebuild output formatting. This has several advantages e.g. it supports Xcode's new build system and it's faster and mo

[2022-09-08 05:41] knox opened #6199 "Update Xcode 14"
### Tool name

Xcode 14

### Tool license

Apple

### Add or update?

- [ ] Add
- [X] Update

### Desired version

14 Release Candidate

### Approximate size

_No response_

### Brief description of tool

An update to the latest version is desired to build and publish for the new iOS 16 which will be released to the public on sep 12th

[code]

https://developer.apple.com/news/releases/?id=09072022

[2022-09-08 06:38] al-cheb commented on #6190
Close as external.

[2022-09-08 06:38] #6190 closed

[2022-09-08 06:39] al-cheb commented on #6198
Duplicate https://github.com/actions/runner-images/issues/1665

[2022-09-08 06:39] #6198 closed

[2022-09-08 06:43] sneps85 commented on #1336
Same here, CocoaPods install taking over 10 minutes, where local it takes not 1. Please upgrade your infrastructure so that macos images perform in a more realistic way.

[2022-09-08 06:55] al-cheb commented on #6197
Hey @drewlearns.

https://github.com/Azure/dev-spaces

How does this affect me?
**Azure Dev Spaces is no longer supported, and all projects using Azure Dev Spaces will no longer function.**

What action should I take?
Transition to [Bridge to Kubernetes](https://aka.ms/bridge-to-k8s-ga). More information on migration options is available [here](https://aka.ms/migrate-to-bridge). If you have migrat

[2022-09-08 06:55] #6197 closed

[2022-09-08 07:22] enricenrich commented on #6199
I agree with @knox.

@al-cheb The release of iOS 16, iPadOS 16, watchOS 9, and tvOS 16 will happen on Monday, September 12th. To ensure that our updates are ready for that date, we must submit the builds with the Xcode 14 RC build before tomorrow. We can't wait until next week.

[2022-09-08 07:39] miketimofeev commented on #6199
Considering the importance of this update we will start the rollout today and finish it by tomorrow.

[2022-09-08 08:19] ms-gavinkinsey commented on #5897
The posted workaround works but adds a significant amount of time to our builds.

I believe the underlying issue may now be resolved in a newer version of the WDK.

From https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk
"""
If you installed the original Windows 11, version 22H2 WDK between May and August 2022 (version 10.0.22621.1), you may see the following error message

[2022-09-08 08:23] drewlearns commented on #6197
Can the pipeline that is generated automatically be updated to use bridge to kuberenetes instead of dev spaces?

[2022-09-08 08:32] al-cheb commented on #6197
Please ask this question -  https://github.com/microsoft/azure-pipelines-tasks

[2022-09-08 08:35] dungi commented on #6199
Thank you @miketimofeev

[2022-09-08 09:00] zioalex opened #6200 "/imagegeneration/SoftwareReport/SoftwareReport.Generator.ps1 : The term 'zstd' is not recognized as a name of a cmdlet"
### Description

I am building the ubuntu-20.04 runner-image and the build fails with:

[code]
I've checked and the zstd package has been downloaded correctly:

[code]
And consequently the build failed:
[code]

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11

[2022-09-08 09:02] al-cheb commented on #6200
Hello @zioalex.
We are working on this issue related to the new brew version 3.6.0.

[2022-09-08 09:10] drewlearns commented on #6197
Ah I understand now, perhaps dev spaces option should be removed since it's deprecated. The option above it works.

[2022-09-08 09:15] #6137 closed

[2022-09-08 09:19] al-cheb commented on #5897
@ms-gavinkinsey, I will check it.

[2022-09-08 09:28] zioalex commented on #6200
Is there anyway to specify the image Version to use?

[2022-09-08 09:35] al-cheb commented on #6200
There is no way to specify image version. You could fork the repo and temporary remove brew installation.

[2022-09-08 11:12] zioalex commented on #6200
In the release page I still see version Homebrew 3.5.10 (https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2004-Readme.md) and not the 3.6.0.

[2022-09-08 11:18] rene-hermenau commented on #6002
This will explain why our jobs suddenly fail without doing any modifications.
We are paying you a lot of money for CI minutes, so you should inform your customers properly in advance, keep the deprecated services running until expiration date instead of making your clients tests fail and rising their costs for extra CI minutes and development time.

[2022-09-08 16:50] miketimofeev commented on #6199
We have deployed the new image with the Xcode 14 RC on board, however, it turned out that to continue developing apps for macOS Ventura Xcode 14 beta is required (see comment https://github.com/actions/runner-images/pull/6201#discussion_r966051218) so we will deploy the new image with both Xcodes early next week.

[2022-09-08 17:28] mvgijssel commented on #2150
Solved this using https://github.com/abiosoft/colima (example: https://github.com/mvgijssel/setup/pull/103/commits/dab0918a59d8e303ee8de0a931379b8f1d5aeea9).

Would it be possible to bake a tool like this in the macOS base image? 🤔.

[2022-09-08 17:35] miketimofeev commented on #2150
@mvgijssel how long does it take to install the tool in runtime? Looks like it's really popular so we can consider adding it if the installation time in runtime is long enough. Feel free to create a new issue using the Tool request template

[2022-09-08 18:28] InquisitorJax commented on #5782
just piping in here - running into the same issue trying to get CI working for Xamarin iOS / Android using github actions

Sample failing github actions here https://github.com/InquisitorJax/Xamarin-Forms-Github-Actions/actions

perhaps there's a way to tell github actions to use a version of msbuild which includes the Roslyn 4.x compilers?

[2022-09-08 18:52] mac-chaffee commented on #5850
I think I might be experiencing this issue as well. Tcpdump can be found here: https://github.com/mac-chaffee/APSVIZ-Supervisor/actions/runs/3010474179

But I make less connections than the Dapr folks (less than 100 total new connections, counted by searching for SYNs in the packet trace). Do multiple Github Actions runners sometimes share the same NAT gateway? Meaning that a "noisy neighbor" coul

[2022-09-08 22:03] Journeyman-dev commented on #1621
Had the same problem just now.The solution proposed by @FranciscoPombal no longer works. It results in an error:

`Error: The `set-env` command is disabled. Please upgrade to using Environment Files or opt into unsecure command execution by setting the `ACTIONS_ALLOW_UNSECURE_COMMANDS` environment variable to `true`. For more information see: https://github.blog/changelog/2020-10-01-github-actions

[2022-09-08 22:23] Journeyman-dev opened #6205 "cl.exe path is not enviornment variables on Windows"
### Description

The path to cl.exe is not in the enviornment variables on Windows. This makes it hard to use cl.exe to build C++ binaries. It used to be possible to set the enviornment variable yourself, but the features to do so have been depreciated:

https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

### Platforms affected

- [ ] Azure DevOps
-

[2022-09-09 00:54] naikrovek commented on #6200
I'm sure it will be updated.  If they update the documentation before they fix the image generation, the documentation will be wrong.  If they fix the image generation before the documentation is updated, the documentation will be wrong.

I would rather they fix the problem, first.

[2022-09-09 03:49] bdrelling commented on #6199
@miketimofeev I'm seeing an extremely weird issue that I'm not sure how to explain.

On `macos-12` with Xcode 14.0, when I run `xcodebuild -showdestinations` on GitHub Actions, I see the following devices for watchOS simulator:

[code]
but locally, I see the following:
[code]

For running tests via `xcodebuild test`, an exact simulator name has to be specified, but the two don't match.

I can veri

[2022-09-09 06:15] miketimofeev commented on #6199
@bdrelling hi! Yeah, we install watchos and tvos simulators additionally using `xcodebuild -downloadAllPlatforms` command (see https://github.com/actions/runner-images/issues/6051). Could you check locally if there is the same behavior when using a command rather than GUI?

[2022-09-09 06:54] al-cheb commented on #6205
Hey @Journeyman-dev.
We don't have plans to cl.exe to the PATH. If you need to create an env variable use notation - https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#environment-files

`echo "{environment_variable_name}={value}" >> $GITHUB_ENV`

[2022-09-09 06:54] #6205 closed

[2022-09-09 06:59] knox commented on #6199
You are refering to #6201 i guess. For me this issue is resolved and i'd close it, not?

[2022-09-09 09:04] miketimofeev commented on #6199
@knox feel free to close it, thank you.

[2022-09-09 09:31] knox commented on #6199
@miketimofeev maybe you update these tags for clarification. Thank you very much for resolving this so instantly.

[2022-09-09 09:31] #6199 closed

[2022-09-09 09:50] miketimofeev commented on #6051
@Brett-Best could you please clarify — do we still need to install watchOS and tvOS components as the stable Xcode 14 version has been released or they are now bundled?

[2022-09-09 10:07] Brett-Best commented on #6051
They aren't included by default so you have to run the command that you coded already for each Xcode version that's 14.x+

[2022-09-09 11:10] Kicer86 opened #6207 "Update/Add ImageMagick"
### Tool name

ImageMagick

### Tool license

Apache 2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

7.1.0

### Approximate size

131MB

### Brief description of tool

CLI tool for image maniplation/conversion etc.

### URL for tool's homepage

https://imagemagick.org/script/index.php

### Provide a basic test case to validate the tool's functionality.

_No response_

### Pla

[2022-09-09 16:15] ShipraRay150 opened #6208 "Unable to build in Azure Devops pipeline using agent specification windows-2019, before the code was building fine using agent VS2017-win2016"
### Description

Unable to build in Azure Devops pipeline using agent specification windows-2019, before the code was building fine using agent VS2017-win2016(which is decommissioned now)

My VS .net solution is building fine using VS2019 in my local machine but it fails in Azure Devops pipeline using windows-2019 agent.
In my local i had to add one environment variable :
MSBuild with below path
C

[2022-09-09 16:17] leighmcculloch opened #6209 "Add sccache"
### Tool name

sccache

### Tool license

Apache License 2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

v0.3.0

### Approximate size

12MB

### Brief description of tool

[sccache](https://github.com/mozilla/sccache) is a [ccache](https://ccache.dev/)-like compiler caching tool. It is used as a compiler wrapper and avoids compilation when possible, storing cached results eit

[2022-09-09 16:41] leighmcculloch commented on #6209
I have submitted a PR adding sccache: https://github.com/stellar/actions/pull/22.

[2022-09-09 17:04] igorboskovic3 commented on #6152
Hi @snigdhadas8111, can you use this snippet for installation of Android emulator [here](https://github.com/igorboskovic3/actions-test/blob/main/.github/workflows/sdk.yml). You can see proof of work on summary as artifacts [here](https://github.com/igorboskovic3/actions-test/runs/8274610828?check_suite_focus=true).
![screenshot](https://user-images.githubusercontent.com/68074361/189404366-520fa763

[2022-09-09 17:07] bdrelling commented on #6199
@miketimofeev I won't have access to a clean machine to run that command on for a few days, so I won't be able to test that, but to be clear: if running that command does fix it locally, that still won't fix it for the majority of local Xcode installations where users are not running that command, meaning a local vs. CI mismatch, so GitHub Actions should still be the one to rename those incorrectl

[2022-09-09 23:32] rdvansloten opened #6212 "Ubuntu2204 - Unzip, zip not found"
### Description

Several tasks require unzip, but it is not included. I see it present in the toolset-2204.json file, but it is not actually installed. If I look in the hcl file, it seems the toolset installer is called after all the installer packages. I am using the version of this repo that was recent on 9 Sept, main branch commit 148eaf9c80af082b519d24f82f7c965cb5a320e9.

Passing in:
[code]

B

[2022-09-10 01:12] HoLengZai opened #6213 "Quick fix: wrong comment / file name for mongodb.sh"
### Description

The comment indicates "homebrew.sh" instead of "mongodb.sh"

Line 3,
https://github.com/actions/runner-images/blob/812929556709b48410ec6ac2d3533762c35488a2/images/linux/scripts/installers/mongodb.sh#L2-L5

### Platforms affected

- [X] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [X] Ubuntu 22.04
- [ ] macOS 10.15
-

[2022-09-10 12:07] al-cheb commented on #6212
Hey @rdvansloten.

I can't reproduce the issue.

![image](https://user-images.githubusercontent.com/47745270/189482625-213869dc-ec4e-4fb1-8a6a-26525a842633.png)

[2022-09-10 12:08] #6212 closed

[2022-09-10 12:09] rdvansloten commented on #6212
Hi @al-cheb you seem to be testing through GitHub Actions judging by the screenshot? I am using Azure DevOps.

[2022-09-10 12:10] al-cheb commented on #6212
We deploy the same image in Azure DevOps&GitHub.

[2022-09-10 12:13] al-cheb commented on #6208
Hey @ShipraRay150.
Please add minimal repro steps with repo how to reproduce the issue.

[2022-09-10 12:13] rdvansloten commented on #6212
So you're saying there's a 0% chance that arguments or settings passed from the included Azure Pipelines file can not be the reason for any potential failure?

[2022-09-10 12:15] al-cheb commented on #6209
Close as https://github.com/actions/runner-images/pull/1600

[2022-09-10 12:15] #6209 closed

[2022-09-10 12:29] al-cheb commented on #6213
Hey @HoLengZai.
Thank you. It will be fixed in https://github.com/actions/runner-images/pull/6215.

[2022-09-10 12:37] al-cheb commented on #6212
Please attach repro steps how to reproduce the issue in Azure DevOps.

[2022-09-10 13:03] rdvansloten commented on #6212
I have, it's in the initial post. I simply cloned the repo to my private organization, and ran the included `images.CI/linux-and-win/azure-pipelines/ubuntu2204.yml pipeline.`

The executing Ubuntu 2204 agent has zip, Packer and pwsh installed, as they are required to run the pipeline steps.

[2022-09-10 13:07] al-cheb commented on #6212
The nightly build is green with zip&unzip - https://github.visualstudio.com/runner-images/_build/results?buildId=128726&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=72559e73-928c-58e0-b67e-e22d7a78faae

[code]

[2022-09-10 14:51] leighmcculloch commented on #6209
@al-cheb I note that the reasons for not including sccache was the 9 minute build time and the fact it is installed from source. In my tests install including compile takes 28 seconds, not 9 minutes. Would it be accepted if I change the PR to install the prereleased binary? This would also make it much faster.

[2022-09-11 05:11] mvgijssel commented on #2150
Looking at the last two GitHub action runs, it takes about ~1 minute to run

[code]

Personally, I think saving 1 minute on each execution would be a big win for me 😍.

[2022-09-11 05:17] mvgijssel opened #6216 "Add colima"
### Tool name

Colima

### Tool license

MIT license

### Add or update?

- [X] Add
- [ ] Update

### Desired version

0.4.4

### Approximate size

17mb

### Brief description of tool

Colima - container runtimes on macOS (and Linux) with minimal setup. Means you can run `docker` without having to install Docker for macOS and run into licensing issues (https://github.com/actions/runner-images/issu

[2022-09-11 05:17] mvgijssel commented on #2150
Submitted colima as a tool request! https://github.com/actions/runner-images/issues/6216

[2022-09-11 07:45] TAxCOmax commented on #6207
I can fix it smoothly

[2022-09-11 09:23] mikhailkoliada commented on #6216
@mvgijssel we will decide on adding it and get back to you.

[2022-09-12 04:16] snigdha81 commented on #6152
Hi,

With the snippet shared above ,I am able to see the display.
Thanks a lot for the support.

[2022-09-12 06:38] raherrebrugh commented on #6200
Also applies to Ubuntu 18.04

[2022-09-12 07:00] #6213 closed

[2022-09-12 09:18] miketimofeev commented on #6199
@bdrelling yes, please, open a new issue as it's not clear for now how to rename them so we need to investigate the issue further.

[2022-09-12 09:36] Brett-Best commented on #6199
I’m seeing this locally on my iMac btw.

[2022-09-12 10:24] miketimofeev commented on #6199
@Brett-Best do you install simulators the same way via command-line?

[2022-09-12 10:28] Brett-Best commented on #6199
No, installed the simulators using the Xcode dialog that comes up when you launch Xcode for the first time @miketimofeev - that sounded like the way @bdrelling was doing it too (?)

[2022-09-12 10:48] ShipraRay150 commented on #6208
Sorry i cannot share the repo as it is a organizations so cant share in public.
Issue:
In Azure devops pipeline my .Net framework 4.6 toolversion = 14 was building fine when agent specification used VS2017-win 2016(which is deprecated now). My organization solution is using Fake library to build the solution

But when agent specification used windows-2019 , build is failing at soln.fsx(Fake build

[2022-09-12 10:55] ShipraRay150 commented on #6208
I am not able to check the vs2017-win2016(i donot see the link is visible to check software in msdn as this is deprecated) software links to validate which software is missing that needs to be installed in windows 2019

[2022-09-12 11:06] ddobranic commented on #6207
hi, @Kicer86! we will add ImageMagic to Windows images. new images will be released next week. thank you!

[2022-09-12 12:17] miketimofeev commented on #6208
@ShipraRay150 the latest windows-2016 readme is available by this link, you can compare the difference https://github.com/actions/runner-images/blob/493f3c3ee19fc6f2f5456b1f8563f77f0096c3e1/images/win/Windows2016-Readme.md

[2022-09-12 12:25] ddobranic commented on #6216
hi @mvgijssel! thank you for your proposal. we will add colima to our macOS images.

[2022-09-12 12:39] mvgijssel commented on #6216
That’s awesome! Let me know if you need any help!

[2022-09-12 13:10] igorboskovic3 commented on #6152
Sharing snippet here in case I delete testing repo

[code]

[2022-09-12 14:06] bdrelling commented on #6199
@Brett-Best thank you for confirming via the Xcode dialog. I’ve installed locally twice on two machines and saw the same result. One machine had Xcode previously, the other did not.

I’ll open a new issue, but wouldn’t mind if others could confirm as well! If it’s somehow just my install, it’ll help to narrow it down so I can submit a Radar. Thanks!

[2022-09-12 14:34] roballie opened #6221 "Add Xcode 14 beta (not RC)"
### Tool name

Xcode 14 beta

### Tool license

none

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest beta (not RC)

### Approximate size

12.6GB

### Brief description of tool

It is the latest beta of Xcode.  The Xcode 14 release candidate doesn't include the macOS 13 SDK, but the latest beta version does.

### URL for tool's homepage

https://developer.apple.com/download

[2022-09-12 14:35] miketimofeev commented on #6221
@roballie Hi!
We have already done this in the scope of https://github.com/actions/runner-images/pull/6204
The new image will be deployed in the next two days.

[2022-09-12 15:34] mikhailkoliada commented on #6200
Should be fixed, please update your main and try again.

[2022-09-12 15:34] #6200 closed

[2022-09-12 15:47] ShipraRay150 commented on #6208
In my local i am able to build the solution but in Azure Devops Pipeline it is failing.

In my local i have VS2019, but in environment variable i have added:
MSBuild:
C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\Bin

[2022-09-13 06:11] slajar opened #6224 "Update/Add [tool name]"
### Tool name

XCode 14

### Tool license

free

### Add or update?

- [ ] Add
- [X] Update

### Desired version

latest

### Approximate size

unknown

### Brief description of tool

Apples software developement tool, that is needed for appstore submissions.
This shall be the default XCode from now on.

### URL for tool's homepage

https://developer.apple.com/download/all/?q=Xcode

### Provide a

[2022-09-13 07:45] miketimofeev commented on #6224
@slajar we already have Xcode 14 on the image. We will make it the default one in two weeks.

[2022-09-13 07:45] #6224 closed

[2022-09-13 07:58] miketimofeev opened #6225 "[macOS] Default Xcode on macOS 12 Monterey will be set to Xcode 14.0 on September, 26"
### Breaking changes

Default Xcode will be changed to 14.0 on macOS 12 Monterey

### Target date

The propagation will start on September, 26 and take 2-3 days

### The motivation for the changes

We would like to provide images with the latest stable updates as default ones

### Possible impact

If you use the default Xcode version and your project is not compatible with Xcode 14.0 your build ca

[2022-09-13 09:56] dsame commented on #6152
@snigdha81 glad to here the provide solution worked for you, while i am closing the issue, please feel free to reopen it or create another one in case the problem appears once again.

[2022-09-13 09:56] #6152 closed

[2022-09-13 15:44] Mikebeem opened #6230 "Failure on Update for Microsoft Defender Antivirus antimalware platform - KB4052623"
### Description

The image build for Windows 2022 is failing for some while now in our environment. It fails on Update for Microsoft Defender Antivirus antimalware platform - KB4052623:

==> vhd: Provisioning with powershell script: /agent/_work/1/s/images/win/scripts/Installers/Wait-WindowsUpdatesForInstall.ps1
    vhd: There is an error encountered:
    vhd:  InProgress: Update for Microsoft Def

[2022-09-13 15:49] al-cheb commented on #5897
The new image with WDK.vsix has been deployed.

[2022-09-13 15:49] #5897 closed

[2022-09-13 16:27] chkimes commented on #5850
They currently do not, though we don't make any guarantees about future designs for SNAT port allocation. I think in any case we'd want to make sure each job has some number of minimum SNAT ports available. Today that number should be 1024 (depending on Azure's also not guaranteed current implementation).

I see 57 new connection attempts in that packet capture, so I don't think this is consistent

[2022-09-13 16:39] ShipraRay150 commented on #6208
Please help on this!

[2022-09-13 16:48] xt0rted commented on #5166
@dmitry-shibanov I'm revisiting this and testing Actions vs. DevOps at work. Here's another very consistently reproducible example of the difference in Windows 2022 times vs. other platforms.

<img width="234" alt="image" src="https://user-images.githubusercontent.com/831974/189954707-3160f2db-0833-4148-af7d-ab2d793e705f.png">

The Ubuntu runs are failing due to a unit test, but they're running to

[2022-09-13 17:51] grzegorzkrukowski opened #6233 "Swift Package Manager hangs on xcodebuild"
### Description

Our builds started to freeze on the SPM resolving package graph during xcodebuild phase.

We tried disabling caching for SPM, but it didn't matter.
It randomly stops on checking out some SPMs (randomly), for example:
`Checking out x.x.x of package ‘Dependency’`

We tried with Xcode 13.4.1 and 14.0 - both are going through SPM package resolving.
We increased the timeout to 50 minut

[2022-09-13 17:53] mikhailkoliada commented on #6233
@grzegorzkrukowski Hi! Could you provide a minimalistic pipeline steps to reproduce the issue?

[2022-09-13 18:55] grzegorzkrukowski commented on #6233
@mikhailkoliada I will try to extract the minimalistic project and workflow that will reproduce the issue. It is happening for our private repository which is not easy to share unfortunately.

[2022-09-13 21:50] mac-chaffee commented on #5850
Hmm very interesting, thanks for clarifying!

Yes I control the destination network, no firewalls or DDoS protection. Essentially just a router and a switch straight to a physical machine. A packet trace on that machine shows the packets never arrive.

I'll do more searching, thanks!

[2022-09-14 09:40] idzikovski commented on #5782
Hi Ivan. I have tried this workaround, but I get the following error

`
/usr/local/share/dotnet/sdk/6.0.400/Microsoft.Common.CurrentVersion.targets(1220,5): error MSB3644: The reference assemblies for Xamarin.iOS,Version=v1.0 were not found. To resolve this, install the Developer Pack (SDK/Targeting Pack) for this framework version or retarget your application. You can download .NET Framework Deve

[2022-09-14 09:47] stephenhauck commented on #5782
Why are we being presented with workarounds when Roslyn 4 has been out for so long ?
If I can build on my desktop with Visual Studio then CI / CD of Appcenter, Git Hub actions or Azure build pipelines should ALL work out of the box ...

[2022-09-14 11:11] miketimofeev commented on #6221
@roballie @Brett-Best the new image with both Xcodes has been deployed.
I'm going to close the issue.
Thank you!

[2022-09-14 11:11] #6221 closed

[2022-09-14 12:23] damienmartel2 opened #6239 "Error with StartProcess and az command"
### Description

In a powershell task i am using the code :

[code]

Without changes the pipeline now fails with this error
[code]
It seems to have an issue with the command az...

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [X] Windows Server

[2022-09-14 13:21] al-cheb commented on #6239
Hey @damienmartel2.

az is a powershell script now:

![image](https://user-images.githubusercontent.com/47745270/190165342-148c390b-375f-4f69-84f1-fe672f87847e.png)

az account list - should work

[2022-09-14 13:27] damienmartel2 commented on #6239
Ok the problem is Azure Cli has been updated and so now there is an az.ps1 so i need to make "az.cmd" in order to continue to call the good program...

[2022-09-14 13:27] #6239 closed

[2022-09-14 13:29] damienmartel2 commented on #6239
sorry @al-cheb i didn't show your answer. It's exactly that ;) thanks

[2022-09-14 13:45] ShipraRay150 commented on #6208
@miketimofeev @al-cheb Any suggestions on this issue?

[2022-09-14 13:50] al-cheb commented on #6208
We can't investigate without repro steps.

[2022-09-14 14:28] ShipraRay150 commented on #6208
Reproducing steps:

1.In Azure devops pipeline my .Net framework 4.6 toolversion = 14 was building fine when agent specification used VS2017-win 2016(which is deprecated now). My organization solution is using Fake library to build the solution

2.But when agent specification used windows-2019 , build is failing at soln.fsx(Fake build script).
(After analyzing the fake build script found 'Fake.Dot

[2022-09-14 14:50] IvanZosimov commented on #5782
Hi, @InquisitorJax and @idzikovski 👋 To use the MSBuild which has `Roslyn 4.x`, you need to use `dotnet build` command instead of `msbuild`, because `msbuild` points to MSBuild incorporated into the Mono, which currently still doesn't have `Roslyn 4.x`. When you specify `dotnet build`, it points to the MSBuild incorporated into SDK which has `Roslyn 4.x`. As for question from @idzikovski, try to u

[2022-09-14 14:54] stephenhauck commented on #5782
Why are we being presented with workarounds when Roslyn 4 has been out for so long ?
If I can build on my desktop with Visual Studio then CI / CD of Appcenter, Git Hub actions or Azure build pipelines should ALL work out of the box ...

[2022-09-14 15:03] idzikovski commented on #5782
Thanks for the reply, this builds successfully, but it doesn't generate a binary. It seems as dotnet build ignores the properties in the csproj file such as `<BuildIpa>true</BuildIpa>`. Is there a way to configure dotnet to create the ipa file?

[2022-09-14 15:29] pentamassiv commented on #2552
I guess this is now tracked in https://github.com/actions/runner-images/issues/5631

[2022-09-14 20:36] bdrelling opened #6243 "Xcode 14 Simulator Names Inconsistent"
### Description

_Previously posted a [comment](https://github.com/actions/runner-images/issues/6199#issuecomment-1241465885) on another issue, moving this into it's own thread._

When I wrote the context below, I previously thought the biggest issue would be that my scripts wouldn't work when running Xcode for UI-installed simulators versus CLI-installed simulators. However, even within GitHub Ac

[2022-09-14 20:38] bdrelling commented on #6199
Well, I previously thought the biggest issue would be that my scripts wouldn't work when running Xcode for UI-installed simulators versus CLI-installed simulators. However, even within GitHub Actions' `macos-12` runner, the simulators are inconsistent from Xcode 12 and 13 as well, so it's not just an issue of local/remote, but an issue of naming across multiple installations of Xcode.

Opened up a

[2022-09-14 21:07] Brett-Best commented on #6243
Command run:
[code]

Xcode 14.1b1:
[code]

Xcode 14:
[code]

Xcode 13:
Didn’t show up any watchOS Simulators at all for some reason.

[2022-09-14 21:11] Brett-Best commented on #6243
From left to right
Xcode 13.4.1, Xcode 14, Xcode 14.1b1
<img width="2560" alt="Screen Shot 2022-09-15 at 7 11 01 am" src="https://user-images.githubusercontent.com/6104381/190263220-6a0c0002-798e-44f5-963d-6c372667e47f.png">

[2022-09-14 21:17] Brett-Best commented on #6243
Command ran:
[code]

Xcode 14.1b1:
[code]

Xcode 14:
[code]

Xcode 13.4.1:
[code]

[2022-09-14 21:29] Brett-Best commented on #6243
Doing the above same steps but getting rid of the simulator devices between opening up each Xcode version which recreates them.

1. Quit all Xcodes, run `rm -rf  ~/Library/Developer/CoreSimulator/Devices`
2. Run `killall -9 com.apple.CoreSimulator.CoreSimulatorService`
3. Open up an Xcode version
4. Run `xcrun simctl list | grep atch`

Xcode 14.1b1:
[code]

Xcode 14:
[code]

Xcode 13.4.1:
[code]

[2022-09-14 21:33] Brett-Best commented on #6243
@bdrelling I’m going to take a guess that the reason you were getting the inconsistency in the naming is due to different versions of Xcode not recreating already existent simulators for the same device.

If you try the steps in the last comment above, does it make the naming consistent for you on your local machine?

[2022-09-14 21:41] bdrelling commented on #6243
@Brett-Best Thanks for all this output of information! I had a hard time collecting it myself, as I only have the GitHub Actions runners for output currently.

I think what we're seeing in your snippets above, if I'm understanding correctly, is the same thing I'm seeing locally:

Xcode 12, 13, and 14 (via UI) all install simulators with one naming convention.
Xcode 14 (via CLI) installs simulators

[2022-09-14 21:49] Brett-Best commented on #6243
Can’t test Xcode 12.

No, Xcode 13 and 14 have different naming conventions - see the screenshots for confirmation

Usage in Xcode and within the CLI have the same naming convention.
Doesn’t matter if the simulator runtime was installed using the UI or the xcodebuild command that downloads them.

The issue you have with the inconsistencies is because Xcode won’t recreate simulators if they already

[2022-09-14 21:59] bdrelling commented on #6243
Got it, I'm understanding what you're saying now.

I was positive I confirmed this in the other thread, but it's possible I didn't have a clean install because I didn't properly remove Xcode's tools when testing it.

Definitely frustrating that Apple did this, especially given that it'll break so much more (like SwiftUI previews, which are still hardcoded values), but I don't think GitHub should c

[2022-09-14 23:33] indygit opened #6244 "Driver build broken because SDK 10.1.22621.1 is installed but not the matching WDK"
### Description

My driver project depends on headers such as d3d10umddi.h that are installed into C:\Program Files (x86)\Windows Kits\10\Include\[SDK version]\um by WDK, SDK version on "Windows Server 2019 image" is now 10.1.22621.1, but WDK is only 10.1.22000.1, so the build couldn't find the headers such as d3d10umddi.h

Would you be able to install 10.1.22621.1 into "Windows Server 2019 image"

[2022-09-15 06:13] ShipraRay150 commented on #6208
@al-cheb @miketimofeev

Please help on this.

[2022-09-15 06:24] #6243 closed

[2022-09-15 07:34] mikhailkoliada commented on #6244
@indygit thanks, we will take a look.

[2022-09-15 07:55] IvanZosimov commented on #5782
@idzikovski , 👋 Yes, there is a way, try to use this command: `dotnet build TestApp.iOS.csproj -t:clean -p:Configuration=Release -p:BuildIpa=true -p:Platform=iPhone`. More information with other use cases can be found [here](https://docs.microsoft.com/en-us/xamarin/ios/deploy-test/app-distribution/ipa-support?tabs=macos).

[2022-09-15 07:59] al-cheb commented on #6208
@ShipraRay150, try to add a step:

![image](https://user-images.githubusercontent.com/47745270/190348815-2bcc3414-d5f8-4370-8453-54654d0a1828.png)

[code]

[2022-09-15 08:23] ShipraRay150 commented on #6208
@al-cheb
I have one task to execute the Fake build script.

Do i need to add this Batch script before the Fake build script task ?

[2022-09-15 08:24] al-cheb commented on #6208
@ShipraRay150, before the Fake build task.

[2022-09-15 08:59] ShipraRay150 commented on #6208
@al-cheb

Tried but this didnot worked.

MSBuild Path taken: c:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe

[2022-09-15 09:02] al-cheb commented on #6208
@ShipraRay150, please attach build logs.

[2022-09-15 09:04] ShipraRay150 commented on #6208
@al-cheb

I need to modify the fakebuild.fsx script to get the msbuildpath to C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin

Can you please help on this ?
What script modification i need to do?
I tried below but didnot worked:

let toolsVersion = "16.0"
let msBuildPath ="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin"

let se

[2022-09-15 09:19] erik-bershel commented on #6244
@indygit
Unfortunately, the required WDK is not compatible with the specified base image. For a successful build, I can recommend choosing Win2022 or specifying another version of the SDK (Win11SDK.22000) for which there is a compatible WDK (10.1.22000.1) for your particular project.
Please, feel free to contact us if we can help in any other way.

[2022-09-15 09:24] al-cheb commented on #6208
ToolPath should be an exe file, like:
let msBuildPath ="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\\MSBuild\Current\Bin\MSBuild.exe"

[2022-09-15 11:37] grzegorzkrukowski commented on #6233
Hey. While trying to prepare a public project to present the problem, we nailed down the issue.

It seems that SPM starting from Xcode 13.3, with .netrc authorization support, has a weird behavior when it's asking for Keychain access even for public repositories declared with https.
More in this thread:
https://forums.swift.org/t/spm-support-basic-auth-for-non-git-binary-dependency-hosts/37878

Th

[2022-09-15 11:37] #6233 closed

[2022-09-15 11:48] ShipraRay150 commented on #6208
@al-cheb
Below is the azure build logs:

2022-09-15T08:57:40.1450368Z ##[command]D:\a\1\s\FAKE\tools\fake.exe "D:\a\1\s\my.fsx" buildcode -fa my.fsx 2021.9.1555277.1 --removeLegacyFakeWarning
2022-09-15T08:57:53.2902202Z targets...
2022-09-15T08:57:53.4913155Z run buildcode
2022-09-15T08:57:53.4913961Z Building project with version: 2021.9.1555277.1
2022-09-15T08:57:53.5010082Z Shortened Dependenc

[2022-09-15 11:51] ShipraRay150 commented on #6208
tried with this also not worked, for some reason fake build is still taking MSbuild path as: c:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe

[2022-09-15 12:01] ShipraRay150 commented on #6208
@al-cheb

Is it possible to add an MSBuild environment variable for this agent windows-2019 in microsoft servers
path: C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\Bin ?

[2022-09-15 12:09] ShipraRay150 commented on #6208
How to add this ?

[2022-09-15 12:11] al-cheb commented on #6208
Click Add a task -> Choose PowerShell:
![image](https://user-images.githubusercontent.com/47745270/190400354-85e038d1-f892-4a6e-b9ad-d406f36e58b2.png)

[2022-09-15 12:54] fernandotcl opened #6248 "Update/Add Xcode 14.1 betas"
### Tool name

Xcode

### Tool license

Freeware

### Add or update?

- [X] Add
- [ ] Update

### Desired version

14.1 beta 1

### Approximate size

_No response_

### Brief description of tool

Xcode 14.1 betas contain the macOS 13 (Ventura) SDK. Right now, the only way to do macOS CI on Azure Pipelines would be to revert to the 14.0 betas, which itself has other issues.

### URL for tool's home

[2022-09-15 13:03] mikhailkoliada commented on #6248
@fernandotcl Hi!

Thanks, we will take care of it.

[2022-09-15 13:12] #6208 closed

[2022-09-15 14:01] domenichelfenstein commented on #128
I still have the same problem: It took 10 minutes before the build even started on the `windows-2022` image.

@nikolai-frolov: What I'm using (and @kudaba also seems to use) is `devenv` (Visual Studio in C:\Program Files\Microsoft Visual Studio\2022\Enterprise), not `msbuild`

[2022-09-15 14:15] domenichelfenstein commented on #5301
I'm also having the same problem. Initialization takes 10min on `windows-2022`.
Doing the exact same thing as @MH-ZShearer (building an installer)

[2022-09-15 14:45] martingem opened #6250 "Building for Windows Server 2019 yields IMAGE_STATE_UNDEPLOYABLE"
### Description

Hello,

I've been building the images for two years using the official code, the only difference is the publish part to an internal Shared computer gallery (formerly Shared image gallery).

[code]

Of course, I tried to rebuild (as suggested by others in TechNet forums) 4 times, no success.

It seems like the capture is working (Finalize VM), but the next step yields IMAGE_STATE_U

[2022-09-15 16:16] mpconte opened #6252 "x86_64 Android 31 emulator launch fails on Macos latest runner"
### Description

When trying to launch an Android emulator using a x86_64 system image, with google_apis target for Goodle API 31, the action appears to stall and not launch the emulator.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] macOS 12
- [ ] Windows

[2022-09-15 16:25] mpconte opened #6253 "x86_64 Android 31 emulator launch fails on Ubuntu latest runner"
### Description

After installing a x86_64, Android 31 system image:

[code]

Android emulator fails to launch created avd due to an unfound shared library:
[code]

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windo

[2022-09-15 16:35] InquisitorJax commented on #5782
Hi @IvanZosimov - thanks for the suggestion - unfortunately not having any luck
![image](https://user-images.githubusercontent.com/1822976/190459084-d894a128-0809-44b7-a220-37018345160b.png)

Here's the public repo https://github.com/InquisitorJax/Xamarin-Forms-Github-Actions

[2022-09-15 16:49] zioalex commented on #6200
When will it be part of a release?
Alessandro Surace

On Mon, Sep 12, 2022 at 5:34 PM Mikhail Koliada ***@***.***>
wrote:

[2022-09-15 17:18] mikhailkoliada commented on #6200
@zioalex we currently rolled this change back as brew now installs gcc@11 on ubuntu18 and 20 and this also conflicts with toolchain provided by ubuntu itself, we are working on the fix, hopefully it will be in the next week's release

[2022-09-15 17:33] dmachaj commented on #6105
@al-cheb I have been communicating with Parallels support.  One option is simply to get the kernel extension approved without otherwise installing Parallels.  That would avoid the license policy concern.

The approach would be:
1) Install Parallels
2) Approve the Parallels Kernel Extension
3) Reboot
4) Uninstall Parallels

The only remainder in the image would be the kernel record that the Paralle

[2022-09-15 18:49] mikhailkoliada commented on #6248
Added. Will be deployed next week.

[2022-09-15 21:34] chrnguyen-msft commented on #6105
@al-cheb For context: The Parallels VMs that we produce get nearly a million downloads per year.
This is a high priority item for us and we would greatly appreciate any assistance that we can get to close on this.

[2022-09-16 07:33] mikhailkoliada commented on #6253
@mpconte Hello!

We will take a look.

[2022-09-16 07:36] mikhailkoliada commented on #6252
@mpconte Hello!

We will take a look.

[2022-09-16 08:21] IvanZosimov commented on #5782
Hi, @InquisitorJax 👋 The steps for making it work are pretty the same as in the comment https://github.com/actions/runner-images/issues/5782#issuecomment-1202815693, but for Android the path to `Xamarin.Android.CSharp.targets` is different.

For **iOS**:

1. Use this command: `dotnet build XamFormsGithubActions/App1/App1.iOS/App1.iOS.csproj -t:clean -p:Configuration=Release -p:Platform=iPhone`
2.

[2022-09-16 08:38] stephenhauck commented on #5782
Thanks for the workarounds but why ....
Microsoft needs to fix this ...

[2022-09-16 09:23] igorboskovic3 commented on #6252
CC: @dsame

[2022-09-16 09:24] igorboskovic3 commented on #6253
CC: @dsame

[2022-09-16 09:43] igorboskovic3 commented on #6253
Hi @mpconte can you check same issue [here](https://github.com/actions/runner-images/issues/6152) that we recently resolved and let us know results, thank you

[2022-09-16 09:44] igorboskovic3 commented on #6252
Hi @mpconte can you check same issue [here](https://github.com/actions/runner-images/issues/6152) that we recently resolved and let us know results, thank you

[2022-09-16 09:46] igorboskovic3 commented on #6253
@mpconte also check this part of your code
[code]
on the end is should be `x86_64`

[2022-09-16 10:16] miketimofeev commented on #6248
@roballie @Brett-Best FYI: we have replaced Xcode 14.0 beta with Xcode 14.1 beta as it supports macOS Ventura SDK. Please let us know if you have any concerns.

[2022-09-16 16:50] mpconte commented on #6252
Hi @igorboskovic3

So I tried to follow the steps in the linked issue.

Currently when I run this step:

`echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install "system-images;android-31;google_apis;x86_64"`

I get the following error:

[code]

[2022-09-16 18:57] justusranvier opened #6254 "Setting environment variables does not work on windows images"
### Description

The [instructions](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-environment-variable) for setting environment variables does not work on windows runners but does work on macos runners.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu

[2022-09-16 21:12] mpconte opened #6256 "Installing HAXM fails on windows-latest runner"
### Description

When attempting to install the HAXM in order to utilize hardware acceleration as required for running Android x86_64 emulators, the install fails

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [X] Window

[2022-09-16 21:45] santoshx commented on #6002
What is the name of new pool to replace with pool "Azure Pipelines"?

[2022-09-16 21:49] InquisitorJax commented on #5782
@IvanZosimov that's good for the github actions build - but those project file changes will then result in the same error when trying to build the project on the local machine - the CSharp.Targes path doesn't exist on a local machine.
As @stephenhauck mentions - these work-arounds (hacks) are bound to cause these kinds of issues - would be great if it "just works" . Building on my machine vs cloud

[2022-09-17 00:03] InquisitorJax commented on #5782
in the meantime - I implemented a work-around by copying the Release build config to a 'GitHubActions' build config, and then adding conditional inclustions in the project file:
[code]

[2022-09-17 12:55] al-cheb commented on #6254
Hello @justusranvier.
In PowerShell to get access to a variable you should use `$env:<variable-name>` syntax. It works in macOS because the default shell is bash where syntax is $VARIABLE-NAME.

[code]

[2022-09-17 12:55] #6254 closed

[2022-09-17 13:00] al-cheb commented on #6256
Close as https://github.com/actions/runner-images/issues/4023#issuecomment-913576338

[2022-09-17 13:00] #6256 closed

[2022-09-17 15:00] justusranvier commented on #6254
That control for switching between Bash and PowerShell only existing at the top of a rather long page makes it very easy to miss. It would be a lot more helpful if every script snippet had that control on it.

[2022-09-17 15:19] miketimofeev commented on #6225
UPD: the default Xcode will be 14.0.1

[2022-09-18 05:16] HoLengZai commented on #3695
Hi @miketimofeev
I post a workaround to avoid any change on runner-images as it's not related to the runner-images but on how the VM pipeline agent extension for linux deploy the pipeline agent on the VM
https://github.com/microsoft/azure-pipelines-agent/issues/3461#issuecomment-1250117490

@marcuslopes @ChristopheLav
It is also possible to add the `.env` file in `/agent` folder on the runner-imag

[2022-09-18 17:49] dennisameling commented on #6175
For anyone interested: [here's a repo with an Azure Resource Manager template](https://github.com/dennisameling/azure-arm64-templates). It includes a post-deployment script that installs Git for Windows and the GitHub Actions runner, so you can set up your own GitHub Actions runners for this platform until they add official support.

[2022-09-19 04:26] shapleya commented on #6200
This is still happening trying to build ubuntu-20.04

[2022-09-19 05:44] jkoooo4456 commented on #6002
Tlustoch

[2022-09-19 08:24] erik-bershel commented on #6244
@indygit
Hello!
Were you able to verify the build of the project with the specified SDK? Maybe there are some other problems or questions for us?

[2022-09-19 09:15] miketimofeev commented on #6248
The image is deployed. I'm going to close the issue.
Thank you!

[2022-09-19 13:17] TonyFTannous opened #6260 "The following build commands failed: PhaseScriptExecution Bundle\ React\ Native\ code\ and\ images /Users/runner/Library/Developer/Xcode/DerivedData/myproject-hfznzxvrsqgfuzajavqfcfjkopph/Build/Intermediates.noindex/myproject.build/Dev-iphoneos/myproject-IOS.build/Script-00DD1BFF1BD5951E006B06BC.sh"
### Description

Hello, i need help

in my mac using xcode 13.4.1, everything go well, but when publishing using azure/pipeline, the build failed
after the azure update (Updating readme file for macOS-11 version 20220906.1)
but before the update of azure everything go well and no build failed

The following build commands failed:
PhaseScriptExecution Bundle\ React\ Native\ code\ and\ images /Users

[2022-09-19 17:35] ShipraRay150 commented on #6208
@al-cheb

My classic build pipeline is working fine but when i ran release pipeline ahent windows-2019 i get this build error:
error CS7034: The specified version string does not conform to the required format - major[.minor[.build[.revision]]]

Can you please help on this??

[2022-09-19 18:23] al-cheb commented on #6208
@ShipraRay150, please share the AssemblyVersion.cs content.

[2022-09-19 18:36] ShipraRay150 commented on #6208
@al-cheb Before the last successful ran with the release pipeline when agent selected was VS2017-win16

I get this error with agent windows-2019

[2022-09-19 21:09] al-cheb commented on #6208
@ShipraRay150, do you have SolutionInfo.cs file?

[2022-09-20 04:46] thecontemporaryflorals opened #6263 "gh pr checkout 6262"
gh pr checkout 6262

_Originally posted by @thecontemporaryflorals in https://github.com/actions/runner-images/pull/6262#pullrequestreview-1113134822_

[2022-09-20 04:55] #6263 closed

[2022-09-20 05:04] ShipraRay150 commented on #6208
@al-cheb  No we dont have

[2022-09-20 05:53] sean-mcmanus commented on #6002
Our data shows Ubuntu 18 usage is still close to Ubuntu 22 usage. Can you delay the deprecation/removal until more users have migrated off Ubuntu 18? The support for only 2 OS versions seems arbitrary and not driven by usage data?

[2022-09-20 06:10] miketimofeev commented on #6002
@sean-mcmanus we will support Ubuntu 18 until it reaches end of life in April 2023

[2022-09-20 06:56] al-cheb commented on #6260
Hey, @TonyFTannous.
There is no Xcode 13.4.1 available on macOS 11, it's available only on macOS-12. We don't have access to your repo. Could you please attach logs from  successfuly and failed builds?

[2022-09-20 07:02] ShipraRay150 commented on #6208
@al-cheb Any suggestions on this please?

[2022-09-20 07:05] al-cheb commented on #6208
@ShipraRay150, please attach logs of the failed build.
![image](https://user-images.githubusercontent.com/47745270/191189962-45d1d2ad-0d37-4655-a5ff-d9e8ef3aeef0.png)

[2022-09-20 07:12] swapnil-kambli opened #6270 "Windows Server 2022 Image Build IMAGE_STATE_UNDEPLOYABLE"
### Description

vhd: Machine successfully restarted, moving on
==> vhd: Provisioning with Powershell...
==> vhd: Provisioning with powershell script: C:\Users\AzDevOps\AppData\Local\Temp\1\powershell-provisioner539113561
    vhd: IMAGE_STATE_COMPLETE
    vhd: IMAGE_STATE_UNDEPLOYABLE
    vhd: IMAGE_STATE_UNDEPLOYABLE
    vhd: IMAGE_STATE_UNDEPLOYABLE
    vhd: IMAGE_STATE_UNDEPLOYABLE
    vhd: IMA

[2022-09-20 07:14] al-cheb commented on #6270
Close as https://github.com/actions/runner-images/discussions/6251

[2022-09-20 07:14] #6270 closed

[2022-09-20 07:20] ShipraRay150 commented on #6208
@al-cheb
[TestLogs.txt](https://github.com/actions/runner-images/files/9605035/TestLogs.txt)

[2022-09-20 07:23] ShipraRay150 commented on #6208
@al-cheb
Logs:

2022-09-19T17:22:03.9592497Z        "D:\a\1\s\source\TEST.build.Common\TEST.build.Common.sln" (Clean;Build target) (1) ->
2022-09-19T17:22:03.9602035Z        "D:\a\1\s\source\TEST.build.Common\TEST.build.Constants\TEST.build.Constants.csproj" (default target) (14:2) ->
2022-09-19T17:22:03.9603547Z          D:\a\1\s\source\components\Solution\AssemblyVersion.cs(5,28): error CS7034:

[2022-09-20 07:33] al-cheb commented on #6208
@ShipraRay150, Please show TEST.build.Constants.csproj content.

[2022-09-20 07:41] ShipraRay150 commented on #6208
@al-cheb
[logs.txt](https://github.com/actions/runner-images/files/9605212/logs.txt)

[2022-09-20 07:48] al-cheb commented on #6208
@ShipraRay150, from previous log you passed `2021.9.1646096.1` version. Could you replace the Build part to less than 65535 ( `2021.9.164.1`)  ?

[2022-09-20 07:50] ShipraRay150 commented on #6208
@al-cheb Where i need to make this change?

[2022-09-20 07:57] ShipraRay150 commented on #6208
sure will do and check

[2022-09-20 08:57] miketimofeev commented on #6248
This is now finally deployed.
Closing the issue.

[2022-09-20 08:57] #6248 closed

[2022-09-20 09:08] ShipraRay150 commented on #6208
This worked Thankyou..!! (y)

[2022-09-20 09:30] TonyFTannous commented on #6260
Hey al-cheb, thanks for your answere
Xcode 13.4.1, macOS 12.4 is my Mac and using it everything go well.
but when using virtual machine Azure DevOps (macOS-11 version 20220906.1) thru pipeline yaml, the build failed, although before this update all go well on azure devops
[logs.pdf](https://github.com/actions/runner-images/files/9606157/logs.pdf)

[2022-09-20 09:46] al-cheb commented on #6260
Could you please attach a zip archive?
![image](https://user-images.githubusercontent.com/47745270/191189962-45d1d2ad-0d37-4655-a5ff-d9e8ef3aeef0.png)

[2022-09-20 10:19] TonyFTannous commented on #6260
my mac is macos-12 and my xcode is 13.4.1, in these i have not any issues i can build my app
but in azure devops i use macos-11
[logs_53925.zip](https://github.com/actions/runner-images/files/9606505/logs_53925.zip)

[2022-09-20 13:59] Devepre opened #6273 "Can't select Xcode 14.0 for build process. Instead 14.0.1 is automatically chosen"
### Description

While trying to create a build using **latest public** release at this point of time (Xcode **14.0** 14A309), system can't switch to this version and switches to the **14.0.1** (14A400) instead.
As result, system can't upload created archive because of this problem:
`Could not find transporter at /Applications/Xcode_14.0.1.app/Contents/Developer/. Please make sure you set the corr

[2022-09-20 14:19] al-cheb commented on #6273
Hey @Devepre.
You could use x.x.x notation to select Xcode version:

[code]

![image](https://user-images.githubusercontent.com/47745270/191282669-34709f97-057a-4996-a128-d41be636ad26.png)

[2022-09-20 14:22] rgommers opened #6274 "gfortran in Ubuntu images broken because of added `-gdwarf-5` flag"
### Description

Today all Ubuntu jobs in the SciPy CI on Azure DevOps started breaking because `gfortran` is no longer able to compile anything. The way this shows up is:
[code]
We are not installing Linuxbrew explicitly, nor are adding a `-gdwarf-5` flag. This is likely to be a mixup in GCC specs caused by gh-6258.

See https://github.com/scipy/scipy/issues/17058 for more details on the SciPy bu

[2022-09-20 14:25] al-cheb commented on #6274
Hey @rgommers.
We will take a look at it.

[2022-09-20 14:25] koaminakligo-eaton commented on #6200
@al-cheb @mikhailkoliada Is this ubuntu20 issue about 'zstd not recognize' fixed yet. I am having the same issue. Thank you

[2022-09-20 14:35] #6273 closed

[2022-09-20 15:56] rubenstolk commented on #6036
I'm suddenly getting the same issue in one of our builds:

[code]

[2022-09-20 16:14] dawidd6 commented on #6274
Ubuntu 22.04 should not be affected as Homebrew does not need to install newer gcc there.

[2022-09-20 16:28] Piedone opened #6275 "Update/Add [tool name]"
### Tool name

curl

### Tool license

https://curl.se/docs/copyright.html

### Add or update?

- [ ] Add
- [X] Update

### Desired version

ideally latest, otherwise >=7.76.0

### Approximate size

3 MB

### Brief description of tool

_No response_

### URL for tool's homepage

https://curl.se/

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms wher

[2022-09-20 16:30] Piedone commented on #6275
There was not field for the rationale, but here's why I'm asking for an update: curl 7.76.0 brought `--fail-with-body` that'll both fail the command (status code != 0) and output the response if the HTTP request fails, see [this SO answer](https://superuser.com/a/1626376/47254). Under prior versions you can either fail the command or output the response, but not both (unless you hack around).

[2022-09-20 16:44] al-cheb commented on #6275
Hey @Piedone.
Curl version is already updated > 7.76 on Windows Server 2022/Ubuntu Server 22.04.

Windows Server 2022:
![image](https://user-images.githubusercontent.com/47745270/191316322-510f875e-cc37-4ab9-864b-1db7335a91c6.png)

Ubuntu Server 22.04:
![image](https://user-images.githubusercontent.com/47745270/191316468-f3141a23-40a2-4ff8-9c94-dc4804a6e358.png)

[2022-09-20 16:44] #6275 closed

[2022-09-20 16:48] Piedone commented on #6275
Hmm, `--fail-with-body` is not working for some reason though with `curl: option --fail-with-body: is unknown`. Let me check.

[2022-09-20 16:53] Piedone commented on #6275
Ah well, `ubuntu-latest` is not 22.x but 20.x, I see. Thanks for the quick reply.

[2022-09-20 18:48] naikrovek commented on #6200
if you are having the same issue, it isn't fixed, yet, is it?

[2022-09-21 00:46] specter119 opened #6277 "Windows Server 2019 missing `OpenCL.dll`"
### Description

I the MS Community:
https://answers.microsoft.com/en-us/windows/forum/all/opencldll-is-missing/de5a9687-c53d-4f33-8b28-47dc8115e745
Missing OpenCL.dll can be check by `sfc /scannow`, which means it should be a built-in file.

### Platforms affected

- [X] Azure DevOps
- [X] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] m