[2022-06-14 14:49] AlexanderGitin commented on #5718
Hello @projectsal, could you provide the steps to reproduce please?

[2022-06-14 14:59] projectsal commented on #5718
fill the release tag like 0.8.6,and the other three fill with y or just ignore,then click run the workflow,then it will always stop at the process of gradle build.
![IMG_20220614_225540](https://user-images.githubusercontent.com/107234036/173609323-60c70d10-b491-4c01-9938-9009be2b8aff.jpg)

[2022-06-14 15:02] projectsal commented on #5718
here is the workflow file
[workflow](https://raw.githubusercontent.com/projectsal/s/amy/.github/workflows/release.yml)

[2022-06-14 15:23] judechen-bhp commented on #5490
@miketimofeev Thanks! this solved the issue.

[2022-06-14 16:07] EwertonJordao commented on #5728
@miketimofeev Hi! How are you?

Yep is quick to include this tool and use, but I have some tools to install 1s+1s+1s for installing tooling spent time agent hosted with no valuable tasks. Ok, I will create my images self-hosted.

Thank you.

[2022-06-14 17:01] MurugeswariMuthurajan commented on #4539
Hi @tranguyen221 Can you please let me know how did you downgraded the azure devops version

[2022-06-14 18:04] wzyboy opened #5744 "/etc/environment should not contain variable substitution"
### Description

The `/etc/environment` file is handled by `pam_env` and [accepts only simple key-value pairs](https://askubuntu.com/a/78866). Currently there are several lines in the file that violates this rule:

[code]

These lines are invalid and result unexpected behaviours for some applications. For example, the `XDG_CONFIG_HOME` variable contains a literal string `$HOME`. This makes some ap

[2022-06-14 18:08] wzyboy commented on #5744
I looked into https://github.com/actions/virtual-environments/pull/3030 and see that the literal `$HOME` should be replaced with actual usernames by another script. Weird it's not replaced in my build.

[2022-06-14 18:14] wzyboy commented on #5744
Okay I see that `post-generation` scripts are supposed to be run manually. Closing the issue.

[2022-06-14 18:14] #5744 closed

[2022-06-14 18:36] miketimofeev commented on #5728
@EwertonJordao we have this guidline https://github.com/actions/virtual-environments/blob/main/docs/software-and-images-guidelines.md#software-preinstallation-policy mentioning` If a tool can be installed during the build, we will evaluate how much time is saved and how much space is used by having the tool pre-installed.` We tend to pre-install the populart tools that take 30+ seconds to install

[2022-06-15 09:30] CodeDoctorDE commented on #5490
Is java now available on ubuntu 22.04? I think the issue message needs to be updated.
https://github.com/actions/virtual-environments/pull/5612

[2022-06-15 10:47] miketimofeev commented on #5720
@SteveBush one of the problem here is that `dotnet workload install` is introduced in .Net 6.x, which is available only for Ubuntu20,22 & Windows2022 by default. For other OSs it can be installed using either using [task for azdo](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops) or [action for gh actions ](https://github.com/actions/s

[2022-06-15 11:33] nevardreik opened #5751 "Add google/bundletool"
### Tool name

google/bundletool

### Tool license

Apache License 2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

1.10.0

### Approximate size

_No response_

### Brief description of tool

Bundletool is a tool to manipulate Android App Bundles. The Android App Bundle is a new format for publishing Android apps in app distribution stores such as Google Play.

Bundletool has

[2022-06-15 12:16] miketimofeev commented on #5446
macOS-12 is now generally available https://github.blog/changelog/2022-06-13-github-actions-macos-12-for-github-hosted-runners-is-now-generally-available/

[2022-06-15 12:16] #5446 closed

[2022-06-15 13:44] mklarsen opened #5752 "Add [Firebase CLI]"
### Tool name

Firebase CLI

### Tool license

Free

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

The Firebase CLI is a utility used to administer Firebase projects and perform tasks such as Realtime Database management tasks from the command-line of a terminal or command-prompt window. The Firebase CLI

[2022-06-15 13:52] AlexanderGitin commented on #5751
Hello @nevardreik , we will take a look

[2022-06-15 14:11] timheuer commented on #5720
Let me do a discussion with the team. Workloads (especially those with the bindings to iOS/Android can also update out-of-band so it may not follow the same versioning timeframes as the SDK itself, thus making this require a bit more management. Workloads were designed to be flexible in this regard to the consumers.

[2022-06-15 14:24] #5752 closed

[2022-06-15 14:32] SteveBush commented on #5720
From a developer's perspective, I waste a lot of my build time installing and updating the workloads.  As more developers move to build on net6.X and MAUI, the compute time spent installing and updating workloads will increase pipeline build times for everyone.  As you evaluate the management complexity of taking on workloads, please consider developer and build minutes savings.  You could probabl

[2022-06-15 15:32] miketimofeev commented on #5751
@nevardreik we wouldn't like to use homebrew bundletool package as it would bring OpenJDK as well.
Please download and use the jar file directly as it's pretty simple and quick:
- windows:
[code]
- macos
[code]
- ubuntu:
[code]

I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2022-06-15 15:32] #5751 closed

[2022-06-15 17:35] robmen commented on #4419
The production releases have not changed. We are totally focused on a WiX v4 release by the end of the year.

[2022-06-15 21:19] srprash opened #5754 "Update Nuget to 6.2.1"
### Tool name

Nuget

### Tool license

Apache License, Version 2.0

### Add or update?

- [ ] Add
- [X] Update

### Desired version

6.2.1

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

- [ ] Azu

[2022-06-15 21:24] srprash commented on #5754
Nuget recently announced a security vulnerability in v6.2.0 or lower. As per [the docs](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md#package-management), the `windows-latest` virtual env uses v6.2.0.146 of nuget.
https://github.com/NuGet/Announcements/issues/62

Please update Nuget to 6.2.1. Thanks.

[2022-06-15 23:35] srprash commented on #5754
Just noticed that this Nuget update has been included in the new release and is being deployed. 😊
Thanks. I can close this issue.

[2022-06-15 23:35] #5754 closed

[2022-06-16 03:03] nschonni commented on #2187
There is now a tracking issue on the roadmap repo https://github.com/github/roadmap/issues/528

[2022-06-16 09:41] miketimofeev commented on #5702
@Brett-Best I'm afraid we are still investigating and can not provide any ETA

[2022-06-16 10:02] mikhailkoliada commented on #5679
Changes will be deployed next week.

[2022-06-16 11:34] SenthilSelvaraju commented on #4419
We are using private agents as a work around. Do you mind sending an update in this thread when Wix v4 is available in windows images?

Thanks.

[2022-06-16 11:54] Vampire opened #5760 "Suddenly half supported WSL 2 breaks workflows"
### Description

I have a daily running CI for all sorts of combinations for my https://github.com/Vampire/setup-wsl action. These tests started to fail today after you deployed the latest windows-2022 image yesterday and today my users started to complain too.

While the documentation of the `windows-2022` build states that still just WSL 1 is supported, it seems suddenly this changed to having h

[2022-06-16 12:00] al-cheb commented on #5760
@Vampire, it was definitely not  intended, but looks like it's part of the new updates - https://techcommunity.microsoft.com/t5/itops-talk-blog/wsl2-now-available-on-windows-server-2022/ba-p/3447570

`Second, if you wait until June, you will get the update that is required for WSL2 to run properly on a Windows Server 2022, through the regular update process. `

[2022-06-16 12:01] panekj commented on #5760
https://github.com/microsoft/WSL/issues/6301#issuecomment-1024521788

[2022-06-16 12:06] Vampire commented on #5760
Also don't get me wrong, it is great if WSL 2 is going to be supported now. Just maybe not in a breaking fashion. And maybe we with the needed kernel installed already. And if not, I at least know I should mitigate it in my action.

[2022-06-16 12:08] al-cheb commented on #5760
Unfortunately it doesn't help due to Azure vm spec limitation we use, at that moment it is DSv2-series without supporting nested Hyper-V virtualization.

[2022-06-16 12:30] robmen commented on #4419
One of the *huge* changes in WiX v4 is that we've done (a lot of) work so that the WiX Toolset is easily installable without out having to be built into the many, many various CI virtual environments. For example, when using a .wixproj in v4, running `msbuild -Restore` will bring down the WiX Toolset and build the project in one go.

Our (obvious) goal is to make it trivial to use whichever revisi

[2022-06-16 13:34] tranguyen221 commented on #4539
Hi @MurugeswariMuthurajan, I'm using this cmd to downgrade the azure devops version

az extension remove --name azure-devops
az extension add --name azure-devops --version 0.21.0

[2022-06-16 15:15] #5530 closed

[2022-06-16 15:30] abrown commented on #5530
@miketimofeev, thanks! About how long should I wait to see this propagate to GitHub runners out there?

[2022-06-16 15:33] pabloalmeidac opened #5763 "Thank you very much."
Thank you very much.

It works

[code]

_Originally posted by @1neye in https://github.com/actions/virtual-environments/issues/732#issuecomment-770293533_

[2022-06-16 15:34] #5763 closed

[2022-06-16 16:34] bobblybit commented on #5403
how do i fix this issue [](url
![issues](https://user-images.githubusercontent.com/55890407/174121119-bf58c766-3d72-4990-bf38-afe48d50c515.PNG)
)

[2022-06-16 16:35] bobblybit commented on #5403
![issues](https://user-images.githubusercontent.com/55890407/174121354-3a040d14-0e74-4c0d-948a-7c8f0d329227.PNG)

please how  do i fix this

[2022-06-16 17:25] miketimofeev commented on #5530
@abrown we will start the new image deployment on Monday-Tuesday and it will take 3-4 days to propagate the image.

[2022-06-16 18:33] pradt2 commented on #668
Summer 2022 and still no IPv6 support. Unacceptable.

[2022-06-16 19:03] al-cheb commented on #5760
_that WSLv2 could not be used even if I would install the Kernel package?_ - that's right, because if you look at https://techcommunity.microsoft.com/t5/itops-talk-blog/wsl2-now-available-on-windows-server-2022/ba-p/3447570

![image](https://user-images.githubusercontent.com/47745270/174145028-111988ab-dc31-4584-9fc0-a95c088e96f2.png)

You could easily reproduce the same behavior from your side us

[2022-06-16 19:39] Vampire commented on #5760
Well, for now I just also added setting the default version to v1 to my action to fix the workflows out there.
I would need someone providing a self-hosted agent with WSLv2 available properly to implement and test that.
I'm not going to implement this blindly, especially as long as noone with a self-hosted agent that would be capable needs it. :-)

[2022-06-16 21:43] angiurgiu commented on #5403
One of our build steps is getting this brownout error, however I can't find what's still using WIN2016. I've looked at all the YAMLs. @miketimofeev

https://skype.visualstudio.com/SCC/_releaseProgress?_a=release-environment-logs&releaseId=567067&environmentId=6245439

[2022-06-16 21:56] megamingus commented on #5403
Hey, I was just hit by the brownout in a pipeline working flawlessly for years 😭.
I'm not sure but, it seems that there are missing some UWP SDKs?

[code]

[2022-06-17 06:58] al-cheb commented on #5623
The new macOS-12 image has been deployed with miniconda on board - https://github.com/actions/virtual-environments/blob/main/images/macos/macos-12-Readme.md

[code]

[2022-06-17 06:58] #5623 closed

[2022-06-17 07:55] AlexanderGitin commented on #5718
Hey @projectsal, could you please make sure your workflow is not draining the runner resources.

[2022-06-17 12:27] SenthilSelvaraju commented on #4419
That's exciting.!!! Thanks for the brief into the upcoming release. I appreciate it.

I am looking forward to the release of Wix v4.

[2022-06-17 15:57] qwertylolman opened #5766 "Projects with Sdk="MSBuild.Sdk.Extras" are failing"
### Description

Xamarin solution with multitarget project configured via Sdk="MSBuild.Sdk.Extras" are failing on restore Nuget step with errors:

error : Unable to resolve 'MSBuild.Sdk.Extras (= 3.0.44)' for '.NETStandard,Version=v0.0'.
error : /Users/runner/work/_temp/dotnet/sdk/5.0.408/Sdks/MSBuild.Sdk.Extras/Sdk not found. Check that a recent enough .NET SDK is installed and/or increase the ve

[2022-06-17 15:59] qwertylolman commented on #5766
this issue is critical, as it fail the builds for our internal framework and few applications. one of this application planned to go live in next few days

[2022-06-17 17:04] mattleibow opened #5767 "Unix-based agents cannot download build artifacts"
### Description

I have a build here: https://dev.azure.com/xamarin/public/_build/results?buildId=64422&view=logs&j=b5f87e8d-65cd-564c-4ec8-feedcce3d1c8&t=ea3f294e-1129-53ed-3599-2a7255a56ad0&l=11

[code]

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [X] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [X] macOS 11
- [

[2022-06-17 17:34] uragonda-rajesh opened #5768 "Mac agent unable to restore nuget packages."
### Description

We recently see the image version is update to '20220614.2' and from then we see the nuget package failures.
[code]

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Imag

[2022-06-17 17:36] qwertylolman commented on #5766
seems to be working on macos-10.15 agent
so i'm pretty sure it's an msbuild 16.10.1.31401
still we cannot downgrade, because of Xamarin.Ios

[2022-06-17 19:13] GNUGradyn opened #5769 "[Xamarin] [windows-2022] AndroidAot target fails with error "The system cannot find the file specified [D:\a\1\s\example.Android\example.Android.csproj]" after CoreCompile and ConvertPdbFiles targets already succeeded"
### Description

Hello. At some point in the past month or so the azure DevOps pipeline for my Xamarin application has stopped working for android. Here's a snippet from the logs

[code]
(project name replaced with "example")

This is also after the nuget restore has already succeeded. Seeing as the nuget restore already restored example.Android.csproj, and the `CoreCompile` and `AndroidAot` targe

[2022-06-17 22:02] MBilderbeek commented on #5595
Thanks for this work! But how exactly can I make sure my build uses ndk r24 instead of the default 23 on the Ubuntu 22.04 image? See https://github.com/openMSX/openMSX/actions/workflows/build_snapshots.yml
Our code needs clang-13, so ndk r24 is the only way...

[2022-06-17 22:19] DarryStonem commented on #5768
Same is happening to my team.
We cannot generate any build with the latest from `macos-latest`, or any other version.

The last image version (20220605.1) was working successfully

[2022-06-18 03:12] joshtriplett opened #5770 "[Ubuntu] Add musl-tools and musl-dev"
### Tool name

musl-tools / musl-dev

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Current version from Ubuntu repository

### Approximate size

~3MB

### Brief description of tool

This provides the development headers and compiler wrappers to compile and link code using the MUSL C library, commonly used for building static binaries. This is useful for b

[2022-06-18 03:49] olivierlefloch opened #5772 "Update Python to 3.8.13"
### Tool name

Python

### Tool license

https://github.com/python/cpython/blob/main/LICENSE?rgh-link-date=2022-05-31T15%3A06%3A19Z

### Add or update?

- [ ] Add
- [X] Update

### Desired version

3.8.13

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

https://www.python.org/downloads/release/python-3813/

### Provide a basic test ca

[2022-06-18 05:10] keiji commented on #5768
Same issue is happening to our project.

And my workaround below that add a step...

[code]

[2022-06-18 08:24] uragonda-rajesh commented on #5768
@keiji could you please let us know where we need to add this.

[code]

[2022-06-18 11:50] keiji commented on #5768
In my case, `macos-latest` image has empty NuGet.Config like that.

[code]

We can add Nuget repository url to NuGet.Config.
https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file

`https://api.nuget.org/v3/index.json` is NuGet repository(nuget.org) url that our project need.

[2022-06-18 12:11] uragonda-rajesh commented on #5768
![MicrosoftTeams-image (13)](https://user-images.githubusercontent.com/11378500/174436717-bc51881e-4c97-4955-ab92-58da9dbb2239.png)
In the above task we are trying to restore the nuget packages, could you please let us know if we need to add the Nuget.Config file in the project or add from pipeline yml file?

If it is from the pipeline yml could you please elaborate, also can you provide the modif

[2022-06-18 12:51] keiji commented on #5768
@uragonda-rajesh
I don't know what NuGet packages is depended from your project.
I recommend you check which NuGet repository is using for your project.

NuGet.Config structure is not complicated. You can create NuGet.Config easily 😃

And my workaround is just temporary.
 I will remove this workaround step if `macos-latest` image is updated.

[2022-06-18 17:33] StefanLobbenmeier commented on #1256
@Safihre could you add http://unlicense.org/ to your comment so that anyone can use the snippet in their project? I think otherwise it is implicitly published as MIT: https://opensource.stackexchange.com/a/7900

[2022-06-18 18:23] Safihre commented on #1256
@StefanLobbenmeier Done. Maybe bit outdated.
I included a link to our current workflow, which has some nice other tricks of how to compile PyInstaller, Cffi and Cryptography for macOS 10.9 and above.
https://github.com/sabnzbd/sabnzbd/blob/0347907044ee2a8b060c9a53ca362c8210f6e83b/.github/workflows/build_release.yml#L80

[2022-06-18 18:26] StefanLobbenmeier commented on #1256
Ahh so you managed to get both a universal binary and support for older macOS versions?

[2022-06-18 20:24] Safihre commented on #1256
@StefanLobbenmeier Yes indeed, we have a release that's fully universal2 version that also supports 10.9+. In `package.py` there's a [check] (https://github.com/sabnzbd/sabnzbd/blob/0347907044ee2a8b060c9a53ca362c8210f6e83b/builder/package.py#L345) to see if each binary (executable but also the Python extensions) is universal2. Because I learned the hard way that often only when a specific line of

[2022-06-18 21:43] altwohill opened #5773 "Unable to build virtual environment"
### Description

When building a Server 2022 environment following these instructions https://github.com/actions/virtual-environments/blob/main/docs/create-image-and-azure-resources.md, I get an error

[code]

Retry does not succeed.

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] ma

[2022-06-19 09:59] al-cheb commented on #5773
Check the thread - https://github.com/actions/virtual-environments/discussions/5432

[2022-06-19 09:59] #5773 closed

[2022-06-19 19:34] SaschaJohn opened #5774 "Windows Server 2019: Install-VS.ps1 fails with exit-code 1"
### Description

vhd: Script exited with non-zero exit status: 1. Allowed exit codes are: [0 3010]

==> vhd: Provisioning with Powershell...
==> vhd: Provisioning with powershell script: /agent/_work/1/s/virtual-environments/images/win/scripts/Installers/Install-VS.ps1
    vhd: Downloading Bootstrapper ...
    vhd: Downloading package from: https://aka.ms/vs/16/release/vs_Enterprise.exe to path C:

[2022-06-19 22:29] nevardreik opened #5775 "Android emulator script working on Github Actions but not on Azure Pipelines"
### Description

I have the following script which works fine with `macos-11` in Github Actions, but when running the same script in Azure Pipelines it doesn't work (when it should).

Script:
[code]

This is the error in Azure Pipelines:
[code]

This is the success output in Guthub Actions:
[code]

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

[2022-06-20 06:42] al-cheb commented on #5774
The nightly build on the main branch is green - https://github.visualstudio.com/virtual-environments/_build/results?buildId=127045&view=results . Looks like flaky network error, try to restart.

[2022-06-20 06:42] #5774 closed

[2022-06-20 08:35] al-cheb commented on #5719
The new Ubuntu images with new Android SDK Build-tools & Android SDK Platforms have been deployed.

[2022-06-20 08:57] mikhailkoliada commented on #5772
Hi @olivierlefloch, we will take a look

[2022-06-20 09:00] wizlee commented on #4341
Is it possible to also include an older version of v142, i.e. 14.28.29333 ?

[2022-06-20 09:39] al-cheb commented on #5767
Hello @mattleibow.
We will take a look at it.

[2022-06-20 10:09] mikhailkoliada commented on #5775
Hi @nevardreik!

Thanks, we will take a look.

[2022-06-20 10:13] sylveon commented on #4341
I believe that's possible, yes, but you would need to create another issue to request it

[2022-06-20 10:36] Apollo3zehn opened #5776 "dotnet workload install: Workload ID xxx is not recognized"
### Description

My [builds](https://github.com/Nexusforge/nexus/runs/6963708342?check_suite_focus=true) fail early when trying to run `dotnet workload install wasm-tools` since image version 20220614.0. As far as I can see, the only thing that has changed was the update from SDK version 6.0.300 to 6.0.301. However, on my local PC (Windows), `dotnet workload install wasm-tools` works just fine wit

[2022-06-20 10:40] mikhailkoliada commented on #5768
@uragonda-rajesh Hi!

Thanks! We will take a look.

[2022-06-20 11:01] mikhailkoliada commented on #5766
@qwertylolman Hi!

Could you please provide us a minimalistic pipeline and an msbuild spec to reproduce the issue?

[2022-06-20 11:15] SaschaJohn commented on #5774
@al-cheb can you tell me from which region your pipeline is running? I tried WestEurope and EastUS, EastUS got further than WestEurope but still fails during VS install. The instances are in our Azure tenant and created via the Packer build on demand. So no possibility to restart manually to fix a flaky connection. Thanks in advance

[2022-06-20 14:45] mikhailkoliada commented on #5772
@olivierlefloch it should be available for `actions/setup-python` right now and will be in the image by the end of this week.

[2022-06-20 15:36] arnoj commented on #5340
Hi @bryandam, just checking this a bit late (on vacation), but I found the answer on the extensions [Q&A page](https://marketplace.visualstudio.com/items?itemName=ProBITools.MicrosoftReportProjectsforVisualStudio2022&ssr=false#qna) (first comment on 3/1). It works if you add `<TargetFrameworkVersion>v4.8</TargetFrameworkVersion>` to the `rptproj` project file since that developer pack is [installe

[2022-06-20 16:13] akoeplinger commented on #5766
This looks like the same underlying issue as https://github.com/actions/virtual-environments/issues/5768 i.e. the nuget.config being wrong/empty.

[2022-06-20 17:41] qwertylolman commented on #5766
not sure i can provide you the pipeline. the failed step looks like this:
`  - task: NuGetCommand@2
    displayName: "Restoring project's NuGets"
    inputs:
      command: 'restore'
      restoreSolution: ${{ parameters.solutionPath }}
      feedsToUse: 'select'
      vstsFeed: ${{ parameters.vstsFeed }}      `

where parameters.vstsFeed is out internal feed deployed in Azure. It also has copies

[2022-06-20 17:45] mikhailkoliada commented on #5776
@Apollo3zehn Hi!

Thanks! We will take a look.

[2022-06-20 18:38] al-cheb commented on #5767
I think it could be related to this https://status.dev.azure.com/_event/313560682 issue, also I didn't find any builds with the same issue since Wed,15. I will close the thread, because it affects Azure DevOps Artifact Service(support forum - https://developercommunity.visualstudio.com/search?space=21), but not the image itself.

[2022-06-20 18:38] #5767 closed

[2022-06-20 20:55] al-cheb commented on #5774
@SaschaJohn , we use centralus and westus2.

[2022-06-21 00:21] benwis opened #5781 "mac-os-latest failing to build for aarch64-apple-darwin due to missing stdlib.h"
### Description

[code]
I'm attempting to compile a rust package with some c++ dependencies in the form of tree-sitter-html, and it looks like the macos-latest environment is missing the standard library for arm processors. The same host builds the package normally for x86_64 mac.

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.0

[2022-06-21 00:25] nevardreik commented on #5775
@mikhailkoliada I was able to resolve this by overriding the `ANDROID_AVD_HOME` environment variable to point to `$(Pipeline.Workspace)/.android`

`ANDROID_AVD_HOME` environment variable typically points to `~/.android` however this doesn't exist on the Azure agents, instead it lives in `~/work/1/.android` - so when `emulator` tries to locate the AVD, it will never be able to find it as it will on

[2022-06-21 07:39] vsafonkin commented on #5566
Hi @rayzchen, is this issue still actual for you?

[2022-06-21 07:54] roughiain opened #5782 "Source generators have been disabled on the current configuration, as they need Roslyn 4.x"
### Description

When Building a Xamarin project on

* `vmImage: 'macos-latest'
*  `task: XamariniOS@2`

 using CommunityToolkit.Mvvm.targets the build fails with

[code]

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] macOS 12
- [ ] Windows Server 20

[2022-06-21 09:18] mikhailkoliada commented on #5781
@benwis HI!

Does the file actually exist for you?

[2022-06-21 09:47] SaschaJohn commented on #5774
@al-cheb running in centralus works without any issue, thanks for pointing to that. Maybe something that can be added to the documentation?

[2022-06-21 10:15] akoeplinger commented on #5766
@qwertylolman can you add a step to your pipeline that prints the contents of `~/.config/NuGet/NuGet.Config` ?

If that file has an empty `<packageSources>` element then it is the same issue as #5768

[2022-06-21 10:50] miketimofeev commented on #5595
@MBilderbeek you can try the following snippet to replace ndk-bundle with NDK r24
[code]

[2022-06-21 11:26] qwertylolman commented on #5766
ok, assuming you are right. how would you explain this? the same solution, one with multitarget projects, other has platform specific projects instead of multitarget
<img width="1131" alt="Screenshot 2022-06-21 at 14 20 39" src="https://user-images.githubusercontent.com/539593/174788546-3a30c8e4-f9f5-4fbb-a011-b9d54bbdda50.png">
<img width="1102" alt="Screenshot 2022-06-21 at 14 24 17" src="https:

[2022-06-21 11:29] qwertylolman commented on #5766
also here is the ouput from failed nuget restore task
`/Library/Frameworks/Mono.framework/Versions/Current/Commands/mono /Users/runner/hostedtoolcache/NuGet/6.2.1/x64/nuget.exe sources Add -NonInteractive -Name FooBarFeed -Source https://foobar.dev.azure.com/foobar/_packaging/foobar/nuget/v3/index.json -ConfigFile /Users/runner/work/1/Nuget/tempNuGet_2204124.config
Package source with Name: FooBar

[2022-06-21 12:32] roughiain commented on #5782
Will do one and attach

[2022-06-21 15:23] al-cheb commented on #5776
It should be fixed in the next image rollout by Friday.

[2022-06-21 17:21] vtamanam commented on #5768
The same is happening with our projects too. When can we expect a fix for this? We are stuck because of this issue.

[2022-06-21 18:14] qwertylolman commented on #5766
ok, we added nuget.config to our solution and magic happened. it's building for now. but i still don't get why it's working without multitarget projects and empty `~/.config/NuGet/NuGet.Config`

[2022-06-21 18:22] benwis commented on #5781
Since it builds for x64 on mac, wouldn't that mean the file exists? I haven't tried to explore that directory though during the arm build process, I could do that.

[2022-06-21 20:01] amotl opened #5791 "Possible regression with Python 3.10 on macOS >= 11; with reproduction repository"
### Description

Dear people of GitHub and Microsoft,

first things first: Thanks a stack for running the whole GHA machinery. It is indespensible!

We think we discovered a flaw when doing builds on macOS => 11, when Python 3.10 and [Buildout] is involved, and a Python package dependency will be installed that needs to compile a C extension, like, for example, SQLAlchemy. We already reported the

[2022-06-21 20:46] MehdiChinoune commented on #5791
Maybe it's because Python was updated to 3.10.5.
You could force Python 3.10.4 using setup-python.

[2022-06-22 00:29] amotl commented on #5791
Dear Mehdi,

thanks for your quick reply. I already exercised this detail and explicitly tested using all of Python 3.10.3, 3.10.4 and 3.10.5. The behavior was the same.

With kind regards,
Andreas.

[2022-06-22 05:21] wizlee commented on #4341
Thanks! I think I might have mistaken this to be a feature request for the visual studio installer. When logging the issue to request this only I noticed that this is more for github actions and virtual environment!

[2022-06-22 06:09] miketimofeev commented on #5768
@rubverma @vtamanam and all the others who are experiencing the issue.
Could you try running the following snippet and report back if it helps?
[code]

[2022-06-22 06:28] keiji commented on #5768
@miketimofeev

[code]

And I have removed `~/.config/NuGet/NuGet.Config`. The workflow works well.

[2022-06-22 07:35] rubverma commented on #5768
@miketimofeev thank you for the solution. This is working.

[2022-06-22 07:44] mary-georgiou-sonarsource opened #5792 "ubuntu-latest: Failing to run NET6 app due to missing Microsoft.NETCore.App"
### Description

After the [latest ](https://github.com/actions/virtual-environments/commit/7de34e33a87a3142a38576970e61542902020766) update in `ubuntu-latest` we started having issues in our Azure pipeline while running a NET5 app with the error

```/usr/share/dotnet/sdk/6.0.301/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(356,5): error NETSDK1127: The tar

[2022-06-22 07:48] al-cheb commented on #5792
Hey @mary-georgiou-sonarsource.
Please use [setup-dotnet](https://github.com/actions/setup-dotnet) task, the new image rollout should fix it.

[2022-06-22 08:10] mikhailkoliada commented on #5791
@amotl Hi! It does not look like a bug to me in the first place, your pipelines report ```xcode-select: Failed to locate 'gcc', requesting installation of command line developer tools```, have you tried calling an xcode-tools installation to see if it helps?

[2022-06-22 08:35] MBilderbeek commented on #5595
@miketimofeev Thanks, got it working by just adding this step:
`echo "$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin" >> $GITHUB_PATH`
However, for some reason, the clang-14 in NDK r24 can't compile what normal clang can, and thus we have failing builds. This is probably an NDK question, but if someone has any idea, please contact me.
In detail: it doesn't recognize std::identi

[2022-06-22 09:05] IliyanPopov commented on #5768
This workaround works:
Quote:
"I ran into this on a project I'm on, and while I don't know exactly what's causing it, I do know a solution (which might help support figure out what's going on). It's acting like it doesn't have any nuget sources, so placing a nuget.config file in the same directory as your solution, with this as the contents:"

<?xml version="1.0" encoding="utf-8"?>
<configuration>

[2022-06-22 09:49] kurtpattyn-tomtom commented on #1281
This issue has been closed. What is the solution? I am encountering the same issue.

[2022-06-22 10:52] amotl commented on #5791
Dear Mikhail,

thank you for taking the time to look into this.

### Response

I also don't think it qualifies as a bug for GHA, because everything works flawlessly when doing the same things on CI/GHA without using Buildout. @idgserpro suggested at https://github.com/buildout/buildout/issues/609#issuecomment-1162465580 that it even might be an issue with the `setuptools` package.

I saw that. How

[2022-06-22 11:25] mikhailkoliada commented on #5791
@amotl

I did not investigate what happens in your code under the hood, but usual dev dir selection solved the problem for me.

<img width="653" alt="image" src="https://user-images.githubusercontent.com/88318005/175017883-1c045245-0cce-4345-acc0-a2254ab3e1ff.png">

[2022-06-22 11:41] pmatuszewski opened #5794 "Running .net5 tests failed because .net5 framework was not found"
### Description

Before environment update I was able to run tests for .net5 application.
Currently when tests are run following error is displayed:

Testhost process exited with error: It was not possible to find any compatible framework version
The framework 'Microsoft.WindowsDesktop.App', version '5.0.0' (x86) was not found.
  - The following frameworks were found:
      3.1.26 at [C:\Program F

[2022-06-22 11:54] anish1984 commented on #5768
@miketimofeev Thank for solution. Now we We are able to generate build using macos-latest

[2022-06-22 12:17] EmilySeville7cfg opened #5795 "`dash` shell is not a valid shell and is not listed in preinstalled software Ubuntu 20.04 LTS"
### Description

`dash` shell is not a valid [shell][docs] and is not listed in [installed software][soft] for Ubuntu 20.04 LTS.

[docs]: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsshell
[soft]: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md

### Platforms affected

- [ ] Azure DevOps
- [X] GitHu

[2022-06-22 12:29] dennisvang commented on #712
Having a similar issue using Python with `pathlib.Path` and `tempfile.TemporaryDirectory`.

Encountered the following differences in unittests on GitHub Actions:
- MacOS: `/private/var/folders/...` vs `/var/folders/...`
- Windows: `C:/Users/runneradmin/...` vs `C:/Users/RUNNER~1/...`

Managed to fix this using [pathlib.Path.resolve()][1].

[1]: https://docs.python.org/3/library/pathlib.html#pathli

[2022-06-22 12:29] miketimofeev commented on #5794
This is expected behavior as runtime component was upgraded from 5 to 6 recently https://github.com/actions/virtual-environments/pull/5749/files
![image](https://user-images.githubusercontent.com/48208649/175029066-66720829-4631-4928-b800-27cde8f2be0e.png)
@timheuer could you please suggest what is the best possible option to solve the issue?

[2022-06-22 12:41] al-cheb commented on #5795
Hey @EmilySeville7cfg,
GitHub actions doesn't support `dash` shell as the default one. GH Actions allows to use a custom shell using shell {0} syntax:

[code]

![image](https://user-images.githubusercontent.com/47745270/175031224-cb4f6b8a-1ee5-43ad-bcde-da9f910ceaa3.png)

I will update doc file to include info about dash shell version.

[2022-06-22 14:50] timheuer commented on #5794
@pmatuszewski .NET 5 is out of support, but you can at your own control install it on your run.  Using the `setup-dotnet` action and specify the `5.0.x` version to install prior to your subsequent commands.

[2022-06-22 15:44] pmatuszewski commented on #5794
Thanks for your response. Unfortunately installing .NET 5 with setup-dotnet didn't solve the issue. The same error is returned when tests are run.
![image](https://user-images.githubusercontent.com/12195214/175073905-8b5c5cdd-ef1b-4625-b6f0-2d29634334ce.png)
![image](https://user-images.githubusercontent.com/12195214/175074014-a0786f90-9b0f-492e-9c5c-ac872fc4ff49.png)

[2022-06-22 16:43] jlumbroso commented on #2875
@Imipenem Having faced this siutation so many times, I decided to stop rewriting the wheel 😁 and wrote a GitHub Actions to do this properly:

https://github.com/marketplace/actions/free-disk-space-ubuntu

Open to suggestions. I noticed these lines:
[code]
but I am not sure what they remove?

[2022-06-22 17:18] timheuer commented on #5794
@pmatuszewski is this a public repo? I think I'll need more info to see what's going on here -- the Desktop aspect is probably the cause here but I don't know why.  My .NET 5 projects are running/testing fine: https://github.com/timheuer/ClassLibrary2/runs/7007951826?check_suite_focus=true -- so I'm not sure what the diff is here (in mine using windows-2019 runner image, and both projects target n

[2022-06-22 17:25] elpiel commented on #192
For anyone landing here from a google search and still interested to install SDL2 you can follow this article CI workflow https://alexene.dev/2019/09/04/Github-actions-CI-rust-SDL2.html

Here's the solution:

[code]

[2022-06-22 18:13] #5776 closed

[2022-06-22 18:20] miketimofeev commented on #5702
@bielikb sure! We will give it a try. No need to create a new ticket.

[2022-06-22 18:27] miketimofeev commented on #5768
We will deploy new images with the fix in the next 2-3 business days.

[2022-06-22 19:00] erdembayar commented on #5768
@miketimofeev
If understood correctly you're using `pwsh` which is `Powershell Core` right? PowerShell Core should be using updated NuGet.Configuration.dll, and should not be creating an empty nuget.config.
Fyi @zivkan.

[2022-06-22 19:07] miketimofeev commented on #5768
@erdembayar correct, but the empty config file is being created after any powershell module installation, for example, `Az`.

[2022-06-22 19:10] akoeplinger commented on #5766
Hmm not sure why it works in one case and not the other, but the root cause for your issue is still the malformed nugget.config

[2022-06-22 19:27] erdembayar commented on #5768
Is it the one https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-8.0.0?

What happens if you try previous version like 7.0? Does it non-empty nuget.config file?

[2022-06-22 19:57] davidmatson opened #5797 "Update/Add Windows SDK version 10.0.22621"
### Tool name

Windows SDK

### Tool license

see website

### Add or update?

- [X] Add
- [ ] Update

### Desired version

10.0.22621 (currently, the latest RTM)

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

https://developer.microsoft.com/en-us/windows/downloads/windows-sdk/

### Provide a basic test case to validate the tool's f

[2022-06-22 20:06] al-cheb commented on #5797
Duplicate: https://github.com/actions/virtual-environments/issues/5235#issuecomment-1149995269

[2022-06-22 20:56] kewalker commented on #5768
@miketimofeev The bash commands just helped unblock a restore and build for me. +1

[2022-06-22 21:19] al-cheb commented on #5797
@davidmatson, https://github.com/actions/virtual-environments/pull/5755

[2022-06-22 23:01] zivkan commented on #5768
@al-cheb When I test (on Windows) with PowerShell Core 7.2.4 (and `Get-Module PackageManagement` says version 1.4.7), I don't get this behaviour. It doesn't create the nuget.config at all, meaning the first time the `dotnet` cli runs, NuGet creates its own default.

I don't know what OneGet is, but someone should report to them that they're creating a different default to the official NuGet client

[2022-06-23 05:02] Apollo3zehn commented on #5776
It works again, thanks!

[2022-06-23 06:14] wrexbe commented on #3577
This is very frustrating, the nuget downloading was slow on windows, even timing out sometimes, so to make it faster, and more reliable I wanted to use the cache, only to find out that the cache action is also very slow on windows.
https://github.com/space-wizards/space-station-14/runs/7017334343?check_suite_focus=true
The windows server took 2 minutes, and 29 seconds to restore the compressed fil

[2022-06-23 06:52] al-cheb commented on #5768
@zivkan , I can easily reproduce as well on Windows:

[code]

info:
[code]

[2022-06-23 06:54] Adir207 commented on #2187
I guess we should lower our expectations, the roadmap status for this issue is on future status, not even planned for this year 😢

[2022-06-23 07:01] mmuetzel commented on #2187
Afaict, it is on the roadmap for Q2 2022:
https://github.com/orgs/github/projects/4247/views/1?filterQuery=M1

[2022-06-23 08:14] Mwalima opened #5799 "deprecation warning for 'az group deployment create'"
### Description

https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest#az-deployment-group-create

deprecation warning and error on az function

should be:  az deployment group create

### Platforms affected

- [X] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [X] Ubuntu 22.04
- [X] macOS 10.15
- [X] macOS

[2022-06-23 08:18] al-cheb commented on #5799
Hey @Mwalima,
We will take a look at it.

[2022-06-23 08:55] egvimo opened #5800 "Build broken with `ubuntu-20.04` version `20220619.1`"
### Description

After the version update to `20220619.1` of the `ubuntu-20.04` image our builds are broken.

Unfortunately I can not say what exactly is broken. Our Scenario:

- Compile and Package a Java App ✔️
- Start depending services (database, IAM, ...) ✔️
- Run Java App ✔️
- Run E2E Tests ❌

The error is inside the Java App, which appears to missing a session.
I have no idea how this is re

[2022-06-23 09:19] miketimofeev commented on #5766
@SVetrichelvan @qwertylolman another possible option is to remove the broken nuget config from the user's home directory before restoring the packages `rm -rf ~/.config/NuGet/NuGet.Config`
Sorry for the inconvenience, the new image with the fix will be deployed in a few days.

[2022-06-23 09:24] mikhailkoliada commented on #5679
Deployed.

[2022-06-23 09:24] #5679 closed

[2022-06-23 10:00] mikhailkoliada commented on #5800
Hi @egvimo!

Yes, please provide us a minimalistic example so we could reproduce the issue.

[2022-06-23 10:38] Mwalima opened #5802 "Coming breaking change: zone is mandatory when sku = Standard"
### Description

Creating a public IP address
WARNING: [Coming breaking change] In the coming release, the default behavior will be changed as follows when sku is Standard and zone is not provided: For zonal regions, you will get a zone-redundant IP indicated by zones:["1","2","3"]; For non-zonal regions, you will get a non zone-redundant IP indicated by zones:null.
{

_Standard SKU public IP is r

[2022-06-23 10:59] al-cheb commented on #5799
Fixed in https://github.com/actions/virtual-environments/pull/5803 PR

[2022-06-23 10:59] #5799 closed

[2022-06-23 10:59] al-cheb commented on #5802
Fixed in https://github.com/actions/virtual-environments/pull/5803 PR

[2022-06-23 10:59] #5802 closed

[2022-06-23 11:31] mary-georgiou-sonarsource commented on #5792
@al-cheb I confirm that the issue has been resolved.
Thanks a lot for the super quick fix!

[2022-06-23 11:34] #5792 closed

[2022-06-23 14:38] al-cheb commented on #5797
The new image and documentation have been updated.

[2022-06-23 14:38] #5797 closed

[2022-06-23 14:39] miketimofeev commented on #5702
@bielikb I'm afraid the same issue in our tests with beta 2. We will continue our investigation
[code]

[2022-06-23 14:41] al-cheb commented on #5760
The WSLv1 is set by default.

![image](https://user-images.githubusercontent.com/47745270/175326518-b29f61bb-0b63-4e85-8218-2c855815685b.png)

[2022-06-23 14:41] #5760 closed

[2022-06-23 14:51] miketimofeev commented on #5800
@Kolfering most likely your issue is unrelated to this one judging by the logs. You have a problem with `libudev-dev` installation. Could you please file a new issue for that?

[2022-06-23 15:07] Kolfering opened #5806 "Build stop working on Ubuntu 22.04 since 20220619.1"
### Description

The builds are now broken with Ubuntu 22.04 since 20220619.1 while nothing changed in our workflows.
It was working with the previous version: 20220614.0. It happens in the apt-get install step which fails with this error message:

[code]

Thanks for your help.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
-

[2022-06-23 15:10] tytan652 commented on #5702
Can you explain why did you try to install iOS 13 simulator ?
macOS 12 images seems to have only simulators for iOS 15 and later.

https://github.com/actions/virtual-environments/blob/main/images/macos/macos-12-Readme.md#installed-simulators

[2022-06-23 15:23] nickmccurdy commented on #2279
Once https://github.com/actions/setup-node/pull/482 is merged, you can use corepack instead

[2022-06-23 15:38] lucasw commented on #5806
I've been seeing something similar at a step that installs libsdl2-dev
https://github.com/lucasw/ros_from_src/runs/7026816609

One odd thing is that a build of the same version triggered by release did succeed: https://github.com/lucasw/ros_from_src/runs/7006499800

(I was also experimenting with restarting services that are noted as needing restarting, but maybe I shouldn't be doing an apt upgrad

[2022-06-23 15:50] al-cheb commented on #5806
Some Ubuntu mirrors are out of sync, we should wait:

Current:
[code]

My test vm:
[code]

[2022-06-23 16:07] al-cheb commented on #5806
As a temporary workaround manually update to the latest version:
[code]

![image](https://user-images.githubusercontent.com/47745270/175344799-0bb7c2a9-693d-41f3-b0e6-e10aea5b850f.png)

[2022-06-23 16:13] pkgw opened #5807 "`dotnet tool install` stopped working on Ubuntu 20.04 version 20220619.1"
### Description

I have an Azure Pipelines system on the `ubuntu-latest` image that used to work reliably. With the latest image I now get this error consistently:

[code]

This is on version 3.1.420 of the .NET Core SDK. The identical command works on the `windows-latest` image, and it worked in the 20220529.1 image.

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual en

[2022-06-23 16:33] al-cheb commented on #5807
@pkgw, Is it possible to update Use .Net task version? After I have bumped .dotnet version to the latest one a build starts working for me.

Use .NET Core sdk 3.x
![image](https://user-images.githubusercontent.com/47745270/175349422-63e411b6-bd18-4c00-8335-5e09a826e107.png)

Use .NET Core sdk 5.x
![image](https://user-images.githubusercontent.com/47745270/175349473-f62da605-054d-4380-9b6f-b73c80d7

[2022-06-23 17:30] pkgw commented on #5807
Unfortunately I don't believe that we're able to upgrade the SDK right now.

If I update the version of GitVersion.Tool to 5.10.3, that specific error goes away, but then I get many more similar errors deeper in the build process. E.g.:

[code]

But it is curious to me that bumping the version fixed the GitVersion.Tool problem. Do I have to update many/most/all of my dependencies to pick up newer

[2022-06-23 18:01] BastianZim commented on #2187
Have contacted GitHub support and they hope to have it in place by FY2022.

[2022-06-23 18:30] al-cheb commented on #5807
@pkgw, Could we bump .Net 3.x and 5.x versions just for test?

[2022-06-23 18:57] al-cheb commented on #5807
I have created a fork for the https://github.com/WorldWideTelescope/wwt-website repo and updated the global.json config to:

[code]
![image](https://user-images.githubusercontent.com/47745270/175376537-fa562b96-5b7e-466e-aeb5-2fb6b54dad40.png)

[2022-06-23 20:22] amolenaar opened #5808 "Regression in 20220619.1"
### Description

Recently, our linux build (Ubuntu-latest) started to segfault, without any change on out side that we can relate to this.
Updating the runner to Ubuntu 22.04 yields the same result.

Rerunning older version -- successful builds -- also causes the same segfaults.

Examples of failing build:

https://github.com/gaphor/gaphor/runs/7018338306?check_suite_focus=true#step:33:447

We're

[2022-06-23 20:35] pkgw commented on #5807
I do not understand why, but your change indeed fixes my problem! Thank you! I will close this, although I would love to understand what is going on here.

[2022-06-23 20:35] #5807 closed

[2022-06-23 23:23] FullStackPro commented on #5522
Close VS and delete/rename global.json file and then reopen your project in VS and voila...

[2022-06-24 06:01] johnstep commented on #5235
We also need the WDK. How about adding it and including a release note in the image readme?

[2022-06-24 09:10] frenck commented on #5808
We at Home Assistant have started experiencing segfauls in our pytest since ~12 hours too.

![CleanShot 2022-06-24 at 11 09 56](https://user-images.githubusercontent.com/195327/175503506-1d72c177-bffc-4c52-9baf-9ec5ea9165d3.png)

<https://github.com/home-assistant/core/runs/7038256499?check_suite_focus=true>

We've been looking at it with multiple developers, but are in the dark on how to resolve

[2022-06-24 09:18] al-cheb commented on #5808
@frenck, Could you provide a minimal repro steps?

[2022-06-24 09:27] Oatelaus commented on #5679
I hope it's okay to document here, but this caused issues with our pipelines and we weren't aware of this change. If you come across an error which looks like the following, it might be because of IMDS.

https://github.com/aws/aws-cli/issues/5623

https://florian.ec/blog/github-actions-awscli-errors/

[2022-06-24 09:28] frenck commented on #5808
@al-cheb We don't have a clue on where to start on creating a reproduction. It only occurs on GitHub actions. Got tips on how to approach that?

I don't want to create noise, but this issue is the closest to what we've could find on why this happens, matches what we experience (segfaults) and fits the timeframe.

[2022-06-24 09:32] smauthai1 opened #5811 "Probably ok! Never hurts to have an extra, thank you!"
Probably ok! Never hurts to have an extra, thank you!

_Originally posted by @coding-horror in https://github.com/coding-horror/basic-computer-games/pull/585#issuecomment-1049000599_

[2022-06-24 09:35] #5811 closed

[2022-06-24 10:06] bluca commented on #5806
The azure mirror has the new packages, and the metadata lists it, but the problem is still occurring:

https://azure.archive.ubuntu.com/ubuntu/pool/main/s/systemd
http://azure.archive.ubuntu.com/ubuntu/dists/jammy-updates/main/binary-amd64/Packages.gz

[2022-06-24 10:10] al-cheb commented on #5808
Unfortunately I don't have access to the old version. The worst thing I have got the same segfault when I  created a new Azure VM with Ubuntu 20.04 with installed Docker Moby 20.10.17 only.

![image](https://user-images.githubusercontent.com/47745270/175514171-7dc480a1-6659-4231-acda-e87c762ffb28.png)

[2022-06-24 10:52] al-cheb commented on #5808
@amolenaar, I have picked up a container from successful build - https://github.com/gaphor/gaphor/runs/6931333640

![image](https://user-images.githubusercontent.com/47745270/175520257-6015e84e-f77c-4c9b-9046-06ca98aa44ea.png)

Update my pipeline to use the same digest:
[code]
![image](https://user-images.githubusercontent.com/47745270/175520446-1b3345bb-b5c1-4fe2-8fb6-34b925e8ff05.png)

![image](

[2022-06-24 10:56] bluca commented on #5806
On a minimal jammy image, with the exact same sources.list that GH actions uses, the installation works fine. Is there some local caching happening in GH?

[2022-06-24 11:34] al-cheb commented on #5806
I have check package policy:
[code]

After enable option allow to install phased updates:
[code]

![image](https://user-images.githubusercontent.com/47745270/175526332-cfe9aa83-e6a7-4633-ad71-b0af8d534ccd.png)

We should wait a new image rollout or use workaround above.

[2022-06-24 11:34] mikhailkoliada commented on #5768
Has been deployed.

[2022-06-24 11:34] #5768 closed

[2022-06-24 11:35] mikhailkoliada commented on #5766
The fix has been deployed.

[2022-06-24 11:35] #5766 closed

[2022-06-24 11:36] mikhailkoliada commented on #5772
Should be available now.

[2022-06-24 11:36] #5772 closed

[2022-06-24 11:46] bluca commented on #5806
good fine - so the issue is that there are local packages from src:systemd installed, that are no longer in the -updates repository as there's a new phased update. But extra packages (we hit it with systemd-container) have a hard dependency on other packages from src:systemd that are newer, but they can't be installed because they are phased.

[2022-06-24 11:51] vsafonkin commented on #5702
Hi @tytan652, we need to be sure that our customers would be able to install additional iOS SDKs and use it.

[2022-06-24 11:59] Brett-Best commented on #5702
Would it be possible to create an macOS 13 beta image with the Xcode 14 betas?

[2022-06-24 12:27] bluca commented on #5806
I've been told this is a known issue and it is being worked on: https://irclogs.ubuntu.com/2022/06/23/%23ubuntu-devel.html

[2022-06-24 13:02] amolenaar commented on #5808
Crap. It's our own docker image that's somehow broken. I was not aware of that. Thanks for helping out.

[2022-06-24 14:03] al-cheb commented on #5806
Close as external.

[2022-06-24 14:03] #5806 closed

[2022-06-24 14:29] amolenaar commented on #5808
@al-cheb Thanks a lot for helping out. We'll fix the build (image) and add some checks to avoid this issue in the future.

[2022-06-24 14:53] richlander commented on #5807
I'd also like to know what resolved this issue.

@dtivel

[2022-06-24 15:10] al-cheb commented on #5807
Looks like - https://github.com/NuGet/Home/issues/10491#issuecomment-827161752

[2022-06-24 15:32] thbusch opened #5813 "LLVM 14 linker error (lld-link: error: ignoring unknown debug$S subsection kind 0xFF in file libucrt.lib)"
### Description

Since the latest update lld from LLVM-14.0.4-win64 produces a bunch of errors which seem related to the latest Windows SDK

`lld-link: error: ignoring unknown debug$S subsection kind 0xFF in file libucrt.lib(initialization.obj)
lld-link: error: ignoring unknown debug$S subsection kind 0xFF in file libucrt.lib(initialization.obj)
lld-link: error: ignoring unknown debug$S subsection

[2022-06-24 15:42] al-cheb commented on #5681
@dotlegacy, Does the issue still reproduce?

[2022-06-24 15:54] richlander commented on #5807
I agree that it looks like that. @dvitel and I worked on that issue. It shouldn't affect the .NET versions being used. That's a surprise to us.

[2022-06-24 19:35] MatiKloster commented on #5681
Sandly, the problem is still happening for me

[2022-06-24 23:02] bryevdv commented on #5679
Seem to be having the same issues as @Oatelaus

[2022-06-25 06:27] autumnblazey commented on #2279
that would be nice, thanks for the heads up!

[2022-06-25 08:30] MaceWindu commented on #5522
@FullStackPro on CI?

[2022-06-25 13:23] smauthai1 opened #5817 "Aosp-mirror"
https://github.com/aosp-mirror/platform_frameworks_base

[2022-06-25 14:51] #5817 closed

[2022-06-26 17:35] gf777 opened #5818 "win22 v20220619.1 appears to have broken support for zlib compared to 20220614.0 or win19"
### Description

It appears that the [latest update of win22](https://github.com/actions/virtual-environments/blob/win22/20220619.1/images/win/Windows2022-Readme.md) broke c++ support for zlib (-lz) compared to the [version of a few days before](https://github.com/actions/virtual-environments/blob/win22/20220614.0/images/win/Windows2022-Readme.md)

### Platforms affected

- [ ] Azure DevOps
- [ ]

[2022-06-27 04:06] namazso commented on #5235
@al-cheb  I don't think anyone is going to debug drivers with the VS gui in a CI pipeline, so the regression is not relevant to this issue, you could simply just not install the debug extensions.

[2022-06-27 06:58] al-cheb commented on #5813
Hello @thbusch.
Could you share a minimal repo how to reproduce the issue?

[2022-06-27 07:11] al-cheb commented on #5818
Hello @gf777.
We have updated mingw from 8.1.0 to 11.2.0 version and looks like zlib headers are missing. We will take a look at it.

[2022-06-27 07:12] al-cheb commented on #5800
@egvimo, Any updates?

[2022-06-27 07:13] al-cheb commented on #5775
I am going to close the thread as not reproducible. Feel free to open it if you have any concerns.

[2022-06-27 07:13] #5775 closed

[2022-06-27 07:14] al-cheb commented on #5681
@dotlegacy, Any updates?
@MatiKloster, Could you share a repo with minimal steps how to reproduce the issue?

[2022-06-27 07:19] al-cheb commented on #5235
@namazso , I agree but it breaks VS first initialization creating additional windows with errors.

[2022-06-27 07:20] namazso commented on #5235
If you don't install it it doesn't. It's optional in the WDK installer

[2022-06-27 07:42] egvimo commented on #5800
@al-cheb Unfortunately I did not managed to create a minimalistic example to reproduce this issue.

I've "fixed" that on the application side so that our builds are running again, because my workaround (switching to 22.04) did not last very long. After some builds the version also switched to 20220619.1 braking the builds again.

It would be very helpful to be able to pin the VM version.

So since

[2022-06-27 07:44] #5800 closed

[2022-06-27 08:15] kvyatkovskys commented on #5584
Hi @panticmilos, any updates?

[2022-06-27 08:54] al-cheb commented on #5531
@sandyarmstrong, Any updates?

[2022-06-27 09:09] al-cheb commented on #5818
@abrown, Any ideas about this regression?

[2022-06-27 10:12] ALTrijssenaar opened #5820 "Reusing build-image script without VNET"
### Description

When reusing the build-image.ps1 script in a custom pipeline it is required to provide the VNET parameters
PACKER can also omit these parameters to provide the image an public IP, so the only limiting factor is the scripts itself.
If you don't make these parameters mandatory, the scripts is reusable.

### Platforms affected

- [X] Azure DevOps
- [X] GitHub Actions

### Virtual env

[2022-06-27 10:41] al-cheb commented on #5820
Merged https://github.com/actions/virtual-environments/pull/5821

[2022-06-27 10:41] #5820 closed

[2022-06-27 10:47] FrancescElies commented on #5813
@al-cheb Hi 👋

On our side providing a reprex is always quite a big effort, we have a pretty complex setup.

What we can confirm though is that for the same commit we have different results since Wednesday 22 June, the following links are froma private repo:
- This was [green](https://mbbm-ast.visualstudio.com/AST/_build/results?buildId=87490&view=results), Environment: windows-2022 Version: 20220

[2022-06-27 11:05] RudraSen2 opened #5823 "Error while creating macOS ISO/DMG using macOS-11 Runner"
### Description

When I’m trying to run this:

[code]

There comes an error with it’s output:

[code]

How do I fix this?

[Repository Link](https://github.com/Comp-Labs/Download-macOS)

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] macOS 12
- [ ] Wi

[2022-06-27 11:43] RudraSen2 opened #5824 "`softwareupdate` cannot find and download macOS Ventura Beta on macOS-11 Runner"
### Description

When I run this:

[code]

I get this error:

[code]

How do I fix this?

And, the error is coming up unknowingly. sometimes it works, sometimes it doesn't.

[Repository Link](https://github.com/Comp-Labs/Download-macOS)

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ]

[2022-06-27 11:46] al-cheb commented on #5824
Unfortunately, nothing we can do from our side, add retry logic to a script.

[2022-06-27 11:47] RudraSen2 commented on #5824
Can you tell me how to do this? I'm new to GitHub.

[2022-06-27 11:54] RudraSen2 commented on #5823
Latest run: https://github.com/Comp-Labs/Download-macOS/runs/7071879039?check_suite_focus=true

[2022-06-27 12:35] al-cheb commented on #5823
Test CI:

[code]

![image](https://user-images.githubusercontent.com/47745270/175941752-47022f86-384a-4ec9-a8d5-d40b6e280954.png)

[2022-06-27 13:29] SaiDeepthi574 opened #5829 "Update chrome version to latest"
### Breaking changes

Update chrome version to  latest 103

### Target date

*

### The motivation for the changes

lSystem.InvalidOperationException : session not created: This version of ChromeDriver only supports Chrome version 103
 Current browser version is 102.0.5005.115 with binary path C:\Program Files\Google\Chrome\Application\chrome.exe (SessionNotCreated)

### Possible impact

*

### Pl

[2022-06-27 13:35] al-cheb commented on #5829
We are planning to start the new image rollout with Chrome 103 on board.

[2022-06-27 13:46] #5823 closed

[2022-06-27 14:18] al-cheb commented on #5829
The deployment has been starting - https://github.com/actions/virtual-environments/pull/5830

[2022-06-27 14:25] FrancescElies commented on #5813
@al-cheb we realized the following, we still one clang job successfully running on the new image but the other jobs started failing as we posted previously.

The jobs that failing use the flag `-g -gdwarf-4 -O0` the one which is successful don't so I guess there is something going on with those flags and windows sdk `10.0.22621.0`.

Is there a place we can post this issue for the new windows sdk?

[2022-06-27 16:53] al-cheb commented on #5813
@FrancescElies, I think you could use - https://developercommunity.visualstudio.com/report?space=8&entry=problem

[2022-06-27 17:55] abrown commented on #5818
(Though I wonder if zlib is now a separate library... see [here](https://packages.msys2.org/package/mingw-w64-x86_64-zlib))

[2022-06-27 19:38] gsmtcnr commented on #5403
![image](https://user-images.githubusercontent.com/31734521/176022000-112cfa2c-9d49-462d-bb8d-69688acc968b.png)

I selected windows2022 instead of vs2017-win2016 then It fixed.

[2022-06-27 19:57] amotl commented on #5791
Dear Mikhail,

thank you very much for coming up with a solution so quickly. I just exercised your suggestion at https://github.com/crate-workbench/test-buildout-python310/pull/2 and want to confirm it works flawlessly.

Now that I never ever typed that line you are suggesting into a GHA workflow definition, I am now learning that I will probably need to put that into my muscle memory, right? Or,

[2022-06-27 22:58] sandyarmstrong commented on #5531
Feel free to close, I haven't seen this since May.

[2022-06-27 23:43] JMA-Dv commented on #5403
I made a post in stack where I explaned how I fixed this issue. If you're interested
`https://stackoverflow.com/questions/71493785/error-deploying-release-pipeline-windows-2016-deprecated-azure-devops/72779265#72779265`

[2022-06-28 02:26] TLaborde opened #5831 "VS studio dependencies cannot be downloaded during build"
### Description

Building the agent from latest source, it has been failing for several days when downloading some dependencies:

[code]
The agent is working from Japan East region.
the file can be accessed from Japan without issue.
there is no firewall between the VM and internet.
The error seems related to BITS log in?

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual

[2022-06-28 02:40] TLaborde commented on #5831
Trying to find similar bugs, it seems to indicate an issue with the CDN, like here: https://github.com/actions/virtual-environments/issues/4222

[2022-06-28 05:18] SenthilnathanThang commented on #5626
@miketimofeev , Sorry or the delay in response.

     Yes, I use GitHub as Repository and Azure DevOps for Pipeline.

     I'm using Windows OS.

[2022-06-28 06:53] al-cheb commented on #5831
Nothing we can do with CDN, our recommendation is to switch to WESTUS2 or CentralUS,

[2022-06-28 06:53] #5831 closed

[2022-06-28 09:02] FrancescElies commented on #5813
@al-cheb It looks like this error is actually a warning (our linking step is a bit strict), we will proceed to ignore that warning.

In the meanwhile here a min reprex.

`example.c`
[code]

In a powershell execute, this steps will work `10.0.19041.0` for but fail for `10.0.22621.0`:
[code]

The problem seems to be the combination of `lld` (if not using the lld linker but the msvc one is fine), `-g

[2022-06-28 12:30] miketimofeev opened #5835 "[Windows, macOS] LLVM will be updated to version 14 on July, 11"
### Breaking changes

LLVM will be updated from version 13 to version 14 on Windows and macOS images.

### Target date

The propagation will start on July 11 and take 2-3 days.

### The motivation for the changes

We'd like to keep images up-to-date with recent software updates.

### Possible impact

If your builds depend on LLVM 13 they can be broken.

### Platforms affected

- [X] Azure DevOps
-

[2022-06-28 12:31] miketimofeev commented on #5285
@FrancescElies hi! The announcement is right here https://github.com/actions/virtual-environments/issues/5835

[2022-06-28 12:40] miketimofeev opened #5836 "[macOS] Default Xcode on Monterey image will be set to Xcode 13.4.1 on July, 11"
### Breaking changes

Default Xcode will be changed to 13.4.1 on macOS 12.4 Monterey. Xamarin bundle will also be changed to the latest one that supports Xcode 13.4.1

### Target date

The propagation will start on July 11 and take 2-3 days.

### The motivation for the changes

We would like to provide images with the latest stable updates as default ones.

### Possible impact

If you use the defa

[2022-06-28 13:19] miketimofeev commented on #5490
Most likely in August-September

[2022-06-28 13:31] mikhailkoliada commented on #5791
@amotl Hi,

I did not investigate the code much, but something is clearly broken there in the tools detection part.
The thing is, we are installing xcode tools twice separately. In the first place we are installing the command-line-tools as they are pulling git and other tools as needed for homebrew installation, then we are installing xcode which always installs its own copy of toolchain and basi

[2022-06-28 14:12] kapilvagyani commented on #5403
Does this means after 30th June 2022  we wont be able to create VM even for window server **sku- "2016-Datacenter-Server-Core"** using images from Microsoft market place ?
pls clarify. Thanks in advance. Kapil

[2022-06-28 14:25] #5818 closed

[2022-06-28 14:31] al-cheb commented on #5681
@MatiKloster, Thank you. If we swap nuget and .net installation step it's working:

[code]
![image](https://user-images.githubusercontent.com/47745270/176205457-3706ff00-3463-45d4-a458-1a6d3c102484.png)

[2022-06-28 14:33] MatiKloster commented on #5681
Exactly, that's what we did

But do you how this file stopped working?

[2022-06-28 14:40] al-cheb commented on #5795
The documentation in the repo has been updated.

[2022-06-28 14:40] #5795 closed

[2022-06-28 14:49] rdvansloten commented on #5490
Running the build pipeline for generating a Ubuntu 22.04 self hosted agent is completely busted, unless I am missing something. Tried on both Azure Pipelines agent and my self-hosted Ubuntu 20.04:

[code]

This same file works fine for 20.04

[2022-06-28 14:54] al-cheb commented on #5490
@rdvansloten , Try to pass this value manually as a packer param: `-var "run_validation_diskspace=false`

[2022-06-28 15:10] rdvansloten commented on #5490
@al-cheb I removed the var, so that it would default to that, to no avail. As a workaround, I have commented out any reference to the diskspace check. It appears to run now. It'll take 1-2 hours to know if the result is positive.

 I've also noticed that all the templates are not possible to deploy if there's a tag policy in place on the Azure subscription. I've used a workaround for this by addin

[2022-06-28 16:16] miketimofeev commented on #5626
@SenthilnathanThang I'm afraid we are not going to pre-install this tool due to its popularity and maintenance concerns. Please use the following powershell snippet to install the CLI in runtime:
[code]

[2022-06-28 16:16] #5626 closed

[2022-06-28 17:32] megamingus commented on #5403
is there a way to install missing UWP SDKs in newer images? or are te images going to be updated with the missing ones?

[2022-06-28 18:00] miketimofeev commented on #5403
@megamingus what SDKs do you mean?

[2022-06-28 19:31] kvyatkovskys commented on #5584
still have problems

<img width="915" alt="Screen Shot 2022-06-28 at 10 24 01 PM" src="https://user-images.githubusercontent.com/8233076/176269301-292c4036-c79e-4353-b87d-294725d8c055.png">
<img width="1077" alt="Screen Shot 2022-06-28 at 10 31 11 PM" src="https://user-images.githubusercontent.com/8233076/176269318-f9ec9196-fe80-45c5-9bdf-f007ba0c9246.png">

[2022-06-28 22:40] mark-pictor-csec opened #5841 "windows-latest 20220626.1: regression `ThreadSanitizer failed to allocate...` with `go test -race`"
### Description

Something in the latest win22 image ([win22/20220626.1](https://github.com/actions/virtual-environments/releases/tag/win22%2F20220626.1)) is causing a regression. This is not seen with the previous image ([win22/20220614.0](https://github.com/actions/virtual-environments/releases/tag/win22%2F20220614.0)).

The errors seen are of the form
[code]
while running
[code]

Something simi

[2022-06-28 22:45] mark-pictor-csec commented on #5841
Is it possible to specify a specific image version for github actions? I didn't see it in the gh actions docs, but if it is possible it'd be a temporary workaround.

[2022-06-29 00:56] dotlegacy commented on #5681
@MatiKloster thanks for setting up the test repo; been swamp lately at work.

I have mentioned that it was picking up net5.0 even though net6.0 is installed in the Ubuntu image used by Azure DevOps.  I compared the previous working image with the broken one but couldn't find the cause.  There was a small change in the nuget version and if I recalled correctly, I tested the broken image with the nu

[2022-06-29 01:34] mattleibow commented on #5767
I logged this issue as it still happens  every time: https://developercommunity.visualstudio.com/t/Unix-based-agents-cannot-download-build/10082907

[2022-06-29 03:00] LOGOLFGODORD commented on #5490
Having fun

On Tue, Jun 28, 2022, 11:10 AM Rudy van Sloten ***@***.***>
wrote:

[2022-06-29 06:57] al-cheb commented on #5841
Hello @mark-pictor-csec.
We updated mingw in this https://github.com/actions/virtual-environments/pull/5729 PR to the v11.2.0 version. I have found out the same issue in golang official repo - https://github.com/golang/go/issues/46099. The recommendation is to downgrade mingw to 10.2.0 in runtime - https://github.com/golang/go/issues/46099#issuecomment-1158744544

[code]

![image](https://user-ima

[2022-06-29 07:16] panticmilos commented on #5584
Hi @kvyatkovskys,

Is there any way you can provide me with a mock of the repository?

[2022-06-29 07:47] miketimofeev commented on #5767
@mattleibow there could be also an issue with the DownloadBuildArtifacts@0 task so the issue could be filed in the https://github.com/microsoft/azure-pipelines-tasks as well.
Also, the documentation recommends upgrading from build artifacts to [Pipeline Artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops) for faster performance. Could y

[2022-06-29 08:38] #5841 closed

[2022-06-29 08:48] FrancescElies commented on #5813
Hi @al-cheb,

We tested our llvm asan job pinning the win-sdk it uses in the following constellation:

| vm-image     | win-sdk      | result                                                                                                 |
|:-------------|:-------------|:-------------------------------------------------------------------------------------------------------|
| windows-2019 | 10.0.1

[2022-06-29 09:44] Midnayt commented on #5782
Same issue with 8.0.0-preview4 can't buid or run in VS MAC

[2022-06-29 16:31] johnstep commented on #5235
@al-cheb Here is the full list of features from `wdksetup.exe /help`:
[code]
For CI pipelines, the first is likely sufficient: `wdksetup.exe /features OptionId.WindowsDriverKitComplete /quiet`

[2022-06-29 22:21] dministro opened #5845 "Add Microsoft Edge (chromium) to Ubuntu 20.04"
### Tool name

Microsoft Edge

### Tool license

Proprietary software, based on open source components

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest stable

### Approximate size

_No response_

### Brief description of tool

Microsoft Edge (chromium) is Microsofts latest incarnation of the Edge browser. A fork of the popular Chromium open source project.

### URL for too

[2022-06-30 01:10] zivkan commented on #5768
Eventually, yes, I'm sure there will be. But it's complicated.

The PR I linked to is for a module called PackageManagement, and the version with the fix is here: https://www.powershellgallery.com/packages/PackageManagement/1.4.8. Notice how it says the package is unlisted. More on that below.

However, when I looked at PowerShell Core's repo for the dependabot upgrade of this module, I found this

[2022-06-30 02:04] strager opened #5846 "macos-10.15 missing LLVM 13"
### Description

The [documentation for macos-10.15](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md) says that LLVM 13 is installed in `/usr/local/opt/llvm`:

I have relied on this tool at this location for many months.

Today (or yesterday), my CI scripts stopped working correctly. It looks like `/usr/local/opt/llvm` no longer exists on macos-10.15 wo

[2022-06-30 04:29] olandese opened #5847 "[Windows] Configure-Antivirus.ps1 is marked as dangerous"
### Description

During my onw nightly build the Windows 2002 throwed the following error:

![image](https://user-images.githubusercontent.com/1708128/176592287-6f0f4c51-bcef-40c8-b80e-0c15df5e66b0.png)

After opening the repo and the file in question (Configure-Antivirus.ps1) on my laptop, Windows warned me about a dangerous file:

![image](https://user-images.githubusercontent.com/1708128/176592

[2022-06-30 06:40] al-cheb commented on #5847
Hello @olandese.
Add the repo path to Windows Defender to the exclusion path:
`Set-MpPreference -ExclusionPath REPO_PATH`

[2022-06-30 06:47] al-cheb commented on #5846
Hello @strager.
It's expected that the path `/usr/local/opt/llvm` doesn't exist - https://github.com/actions/virtual-environments/pull/5819#issuecomment-1167815588

[2022-06-30 06:47] #5846 closed

[2022-06-30 06:51] strager commented on #5846
Then the documentation should be updated.

[2022-06-30 06:58] al-cheb commented on #5846
https://github.com/actions/virtual-environments/pull/5837 is in progress.

[2022-06-30 08:01] kvyatkovskys commented on #5584
Yeah 😀 but we use the Twilio package in our project. Still investigating the issue

[2022-06-30 08:59] dministro commented on #5845
Hi @miketimofeev
Thank you for the prompt response.

[2022-06-30 09:10] fsarter commented on #3038
You saved my life !!! I enounter the same issue after installing Visual Studio 2022 for the first time. I think i should get some details about nuget. Thanks a lot.

[2022-06-30 09:24] #5847 closed

[2022-06-30 13:40] mattleibow commented on #5767
I can't upgrade as the feature I need is not supported. I push from several jobs to a single package and this is not supported.

But I will open an issue for that task. Not sure why I opened an issue here tbh.

[2022-06-30 15:12] al-cheb commented on #5813
@FrancescElies, Thank you to raise this issue. We are planning to close the thread as external.

[2022-06-30 15:12] #5813 closed

[2022-06-30 15:25] mikhailkoliada commented on #5781
@benwis Hello!

Have you tried switching to the command-line tools for xcode with the

```sudo xcode-select -s /Library/Developer/CommandLineTools```

command?

[2022-06-30 15:44] MurugeswariMuthurajan commented on #4539
@tranguyen221 Thanks much Tranguyen :)

[2022-06-30 17:18] cadop commented on #92
@alepauly  What about for windows?

[2022-06-30 23:46] ItalyPaleAle opened #5850 "Very frequent network timeouts (especially on Windows)"
### Description

We (Dapr project) are seeing very weird issues with our GitHub Actions runners, both Windows and Linux, where the network seems very unstable.

For example, all these failures happened with the last 2 days:

- Lots of timeouts while trying to connect to external endpoints. Over the last 2 days, these Actions failed while trying to push a Docker image to an Azure Container Registry

[2022-07-01 03:17] jlosito commented on #5583
@miketimofeev the macOS 10 runners had vagrant installed on them while the macOS 12 runners do not. I'm able to install them via brew, but brew bundle is unable to pin versions in the same way I could expect a certain version to be pre-installed on the runner. Is there plans to include the vagrant package in the v12 runners like they were on the v10 runners?

[2022-07-01 07:00] abitrolly opened #5851 "Installed Python packages are not documented"
### Description

There are quite a few Python packages that are installed, but not documented.

![Screenshot from 2022-07-01 09-07-59](https://user-images.githubusercontent.com/8781107/176837762-8748bfb9-50a1-496a-96df-b7e2b71926c1.png)

I also don't see build image logs to see who installs them.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

-

[2022-07-01 07:29] al-cheb commented on #5850
Hello @ItalyPaleAle.
We will take a look at it.

[2022-07-01 08:03] abitrolly commented on #5851
With build logs I could check it myself.

[2022-07-01 08:05] al-cheb commented on #5851
You can find it - https://github.visualstudio.com/virtual-environments/_build?definitionId=71

[2022-07-01 08:53] miketimofeev commented on #92
@cadop you can download and extract these binaries for windows in a few seconds https://www.doxygen.nl/files/doxygen-1.9.4.windows.x64.bin.zip

[2022-07-01 09:15] saurik commented on #2689
@dibir-magomedsaygitov @miketimofeev So, this is either still broken or is now broken again after being fixed for a while.

To maybe be more blunt about the issue, as I seem to have fully explained the problem before and yet I was still asked to "clarify": you can't arbitrarily symlink these two folders together and expect the result to work, as the contents of the Android SDK folder isn't some "j

[2022-07-01 10:36] mikhailkoliada commented on #5791
@amotl as there is nothing we can help you with anymore, I am going to close the issue, but feel free to reopen it if you have more questions.

[2022-07-01 10:51] amotl commented on #5791
Dear Mikhail,

thank you very much for your support!

I also think this issue aggregated many useful details which may help others to resolve some specific issues they are facing. I also agree that, if at all, improvements or fixes would have to go into Buildout instead, because everything works flawlessly on GHA runners within vanilla Python environments.

With kind regards,
Andreas.

[2022-07-01 11:22] miketimofeev commented on #2689
@saurik I agree that the final result produces weird errors but on the other hand, we haven't found any other way to have non-latest ndk as ndk-bundle. If you have any suggestions, please share them as our team doesn't have much experience in Android development.

[2022-07-01 11:27] miketimofeev commented on #5583
@jlosito sure, there are no objections now. I opened a PR here https://github.com/actions/virtual-environments/pull/5854

[2022-07-01 11:27] cadop commented on #92
@miketimofeev Can you provide the commands to do the install and add to path so its available for others also looking?

[2022-07-01 11:31] qwertylolman commented on #5766
Confirmed, fixed. Thank you!
Btw, we found another workaround - add nuget.config with nuget.org and our azre feed to solution

[2022-07-01 12:24] ddobranic commented on #5718
@projectsal closing the issue since we can't do anything more from our side. Please feel free to reopen if there is any new information we can help with.

[2022-07-01 13:01] al-cheb commented on #5851
If you deploy in Azure a vm with Ubuntu Server 20.04 LTS the `colorama` package is pre-installed by default:
![image](https://user-images.githubusercontent.com/47745270/176899311-2b160ea3-6d9d-49e8-a3f3-f6a132f59a17.png)

[code]

<details>
  <summary>Packages</summary>

[code]
</details>

[2022-07-01 13:01] #5851 closed

[2022-07-01 13:15] al-cheb commented on #5681
I am planning close the thread as external.

Workaround:
1. Use [setup-dotnet](https://github.com/actions/setup-dotnet) / [UseDotNet@2](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops)
2. Create [global.json](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json)
3. Replace nuget restore to dotnet restore

[2022-07-01 13:15] #5681 closed

[2022-07-01 15:18] miketimofeev commented on #92
@cadop not the most elegant solution as it's not recommended to use system directories but should work
[code]

[2022-07-01 16:20] abitrolly commented on #5851
I don't see how it is related.

According to this log - https://github.visualstudio.com/08427f54-005b-4b34-b700-dca767ba7c14/_apis/build/builds/127430/logs/14 - the package is being pulled by `miniconda`.

So why not document the dependencies?

[2022-07-01 17:47] BEATVAL opened #5856 "Hi there!"
Hi there!

One of our goals as a maintainers of this repo is to provide nice and smooth customer experience with virtual-environments.
We would like to open this discussion to hear your feedbacks on service usage and how we could improve your experience.

Please, share here your thoughts\ideas about potential process and repository improvements 📈

_Originally posted by @AlenaSviridenko in https://

[2022-07-02 01:29] saurik commented on #2689
@miketimofeev If that's your goal -- and I want to be explicit that I do not agree with this goal, as ndk-bundle was explicitly marked as "Obsolete" by Google years ago and is no longer even something Android Studio shows as installable unless you go out of your way to uncheck "Hide Obsolete Packages" (which I doubt many people do), and so I maintain you should NOT be attempting to do anything wit

[2022-07-02 11:22] al-cheb commented on #5851
The colorama **is pre-installed by default on a Azure vm**. We don't install it.

 According to this log - https://github.visualstudio.com/08427f54-005b-4b34-b700-dca767ba7c14/_apis/build/builds/127430/logs/14 - the package is being pulled by `miniconda`. - Please check version that installed with miniconda `colorama==0.4.4=pyhd3eb1b0_0` vs `0.4.3` came from apt-get

[2022-07-02 11:34] abitrolly commented on #5851
Are GitHub Action runners the same as Azure vms?

[2022-07-02 12:04] al-cheb commented on #5851
That's right, for image generation we use Standard_D4s_v4 size and Standard_DS2_v2 for runners.

[2022-07-02 13:08] al-cheb commented on #5829
The new image has been deployed.

[2022-07-02 13:08] #5829 closed

[2022-07-03 07:09] abitrolly commented on #5851
It doesn't make it better, unless you want to say that default Ubuntu image (not Azure) comes with preinstalled `colorama`.

[2022-07-03 13:03] Antonytm opened #5857 "Wrong behavior of `docker build` for Windows-based images"
### Description

`docker build` command behaves differently in Github actions than it should.

I have `Dockerfile` that uses 2 images:
1. mcr.microsoft.com/windows/nanoserver:1809 as a base image
2. mcr.microsoft.com/dotnet/framework/sdk:4.8 as a build image

I expect that building `Dockerfile` on Windows locally and using Github Action should behave in the same way, but it is not.

I tried locall

[2022-07-03 13:17] Antonytm commented on #5857
**Update:**
Presence of 2 Windows in the list when I reported the bug gave me an idea to try running on `windows-2019` instead of `windows-latest`. And I got successful build on `windows-2019`.

Successful build link:
https://github.com/Antonytm/Dianoga/runs/7168986642?check_suite_focus=true

The problem is inconsistency. Docker builds should have the same result on both platforms. You should not

[2022-07-03 15:05] al-cheb commented on #5851
We use Azure vm images from the marketplace which come with pre-installed `colorama`:

[code]
E.g.:
`az vm image show --location westus2 --urn "canonical:0001-com-ubuntu-server-focal:20_04-lts:latest"`

[2022-07-03 15:45] al-cheb commented on #5857
As I can see the default shell in your build is cmd(`The command 'cmd /S /C dotnet build -c $env:BUILD_CONFIGURATION' returned a non-zero code: 1`),  that's why %TEST% syntax is working. If you want to use $env:Var the default shell should be set up to powershell.

You can set the [shell](https://docs.docker.com/engine/reference/builder/#shell) of the docker image in the Dockerfile:

`SHELL ["powe

[2022-07-03 19:20] Antonytm commented on #5857
@al-cheb

It works.

But why do I get a different shell for the same `Dockerfile` based on the same images for different environments?
Was it expected that they switched from the default shell from `powershell` to `cmd` in `windows-2022`?

[2022-07-03 20:15] al-cheb commented on #5857
@Antonytm
According to the documentation it should be  `'cmd /S /C'`:
https://docs.docker.com/engine/reference/builder/
https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/manage-windows-dockerfile

RUN has 2 forms:

- RUN <command> (shell form, the command is run in a shell, which by default is `/bin/sh -c on Linux` or `cmd /S /C on Windows`)
- RUN ["executable", "para

[2022-07-03 21:32] Antonytm commented on #5857
If the default should be `'cmd /S /C` then it means that it doesn't work properly on `windows-2019` environments. And there is the issue with running `PowerShell` instead of `cmd`.

But shouldn't the `shell` be inherited from the base image?

I run a local test on 2 images:
`mcr.microsoft.com/dotnet/framework/sdk:4.8` - default shell is `PowerShell`
`mcr.microsoft.com/windows/nanoserver:1809` - de

[2022-07-04 01:50] gzeng1 commented on #5661
Anyone can help on this ?

[2022-07-04 07:16] abitrolly commented on #5851
@al-cheb the marketplace"?

[2022-07-04 07:26] al-cheb commented on #5851
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/cli-ps-findimage

[2022-07-04 07:30] abitrolly commented on #5851
My point - if it is not pristine Canonical Ubuntu image, the extra installed dependencies should be documented.

[2022-07-04 07:48] melchiorbc commented on #5403
Hello, in our organization we still see jobs being run on Microsoft Hosted vs2017-win2016 Agents. I thought these would no longer be available as of 30 June? When can we expect these to be offline permanently?

[2022-07-04 08:07] LOGOLFGODORD commented on #5490
Can you follow up on more info please !

Thanks,
Justin Irish
ᐧ

[2022-07-04 08:33] al-cheb commented on #5857
_If the default should be 'cmd /S /C then it means that it doesn't work properly on windows-2019 environments. And there is the issue with running PowerShell instead of cmd._ - It works by design.

You compare two different images with different configs:
Windows Server 2019(ContainerConfig - Shell is powershell):
[code]

Windows Server 2022(ContainerConfig - Shell is not set):
[code]

https://any-

[2022-07-04 11:00] al-cheb commented on #5851
We don't include into the doc implicitly installed packages.

[2022-07-04 11:15] miketimofeev commented on #2689
@saurik thanks for all the suggestions and such a detailed explanation. We haven't noticed that ndk-bundle is obsolete for a while so it might be a better solution to announce its deprecation from the images and remove all those weird symlinks after all. We will investigate the possible impact and prepare an announcement.

[2022-07-04 11:46] gaui opened #5859 "Erlang tool installation not passing tests for Ubuntu Focal (20.04)"
### Description

I am getting the following error:

[code]

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

20220626.1

### Is it regression?

Not sure

###

[2022-07-04 11:49] igorboskovic3 commented on #5859
Hi @gaui, thank you for reporting this error, we will take a look.

[2022-07-04 12:02] miketimofeev commented on #5403
@melchiorbc we are a bit delayed with some changes to default hosted images. Most likely the image will be fully deprecated in 1-2 weeks.

[2022-07-04 12:06] miketimofeev commented on #5857
Similar issue for reference https://github.com/actions/virtual-environments/issues/5296

[2022-07-04 13:18] miketimofeev commented on #4208
The new version of WDK is released but it is available only for VS2022.
We don't have any exact dates when this will be fixed if will.

[2022-07-04 13:39] dmitry-shibanov commented on #5661
Hello @gzeng1. Sorry for the late response. Could you please provide a public repository to reproduce the issue ? We've tried from our side but could not reproduce it. Does the issue reproduce on previous versions of Xcode ?

[2022-07-04 19:58] Shahad790 commented on #5490
Duplicate of #

[2022-07-04 19:59] Shahad790 commented on #5490
#5661 #5661 #4208 #5857 #5403
Duplicate of #

[2022-07-05 02:22] gzeng1 commented on #5661
@dmitry-shibanov Here is the public repository to reproduce the issue: https://github.com/gzeng1/POS_web/actions/workflows/Guest.yml

Please check

[2022-07-05 05:25] SPALLADI commented on #5859
Hi, Can we exclude the Erlang tool while building the image? Do we have any ETA on this?

[2022-07-05 06:32] raherrebrugh opened #5860 "Install-PyPy Fails"
### Description

Python installation fails in Install-PyPy.ps1 when getting the list of PyPy releases

The following error message is thrown
[code]

When manually navigating to https://downloads.python.org/pypy/versions.json I get the following error
[code]

It is unclear to me whether this file is supposed to be there but not available (temporarily) or that it was moved and the script needs to be

[2022-07-05 06:55] al-cheb commented on #5860
This is an external issue you could track one - https://foss.heptapod.net/pypy/pypy/-/issues/3773 .

[2022-07-05 09:09] abitrolly commented on #5851
For the user it doesn't matter how the packages were installed. They change system behavior in an unexpected way, and should be documented.

[2022-07-05 09:33] mayong43111 commented on #5859
I had the same problem today  :(

[2022-07-05 09:54] mikhailkoliada commented on #5859
Hello, we have no ETA yet, we are awaiting a response from the repo owners first.

[2022-07-05 10:43] mklarsen commented on #3666
Hi There,
basically I disagree in the result/solution given: Use GitHub-Actions.
if so, why even make these platforms like Ubuntu, Mac, etc.?

My take on these platforms (Like Ubuntu, Mac et.c) at there were super swiss army knives and therefor had many tools preinstalled.

In my case I have a flutter barley. Who will build an android, ios and a Docker / web images. all in all it takes 20-30 just

[2022-07-05 11:27] mikhailkoliada commented on #5781
@benwis I am going to close this ticket now, but feel free to reach us out if you have questions left.

[2022-07-05 11:27] #5781 closed

[2022-07-05 11:28] jappenzesr commented on #5860
This also affects the build of the Ubuntu virtual environments.

[2022-07-05 12:45] davelens commented on #37
In addition to this, for even further future reference, the above will still fail in ubuntu-latest (20.04 at the time of writing). You'll need to run `sudo apt-get update` prior to installing `libcurl4-openssl-dev`. Occured for me in Rails 6.1 with the `curb` gem (0.9.10) in its Gemfile. More info [here](https://github.com/actions/virtual-environments/issues/5470).

[2022-07-05 13:40] mikhailkoliada commented on #5860
pypy upstream fixed it

[2022-07-05 13:40] #5860 closed

[2022-07-05 15:55] SPALLADI opened #5865 "terraform: command not found"
### Description

    azure-arm:   [-] terraform 109ms (79ms|31ms)

    azure-arm:    Command 'terraform --version' has finished with exit code

    azure-arm:        /usr/bin/bash: terraform: command not found
    azure-arm:    at "terraform --version" | Should -ReturnZeroExitCode, /imagegeneration/tests/Tools.Tests.ps1:219

    azure-arm:    at <ScriptBlock>, /imagegeneration/tests/Tools.Tests.ps

[2022-07-05 16:57] ggoraa commented on #5702
Are there any news yet?

[2022-07-05 17:07] rushfrisby commented on #5403
What other agent can build .NET Framework projects? I've tried windows-latest, windows-2022, and windows-2019 but the solution fails to build on all with an error about not being able to locate the .NET Framework assemblies.

[2022-07-06 06:39] al-cheb commented on #5865
Nightly build for Ubuntu Server 22.04 is green - https://github.visualstudio.com/virtual-environments/_build/results?buildId=127542&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=5431112d-2b61-5a5f-7042-ef698f761043

[2022-07-06 06:39] #5865 closed

[2022-07-06 06:55] mklarsen opened #5866 "reconsider proposals adding Firebase CLI"
Hi There,
basically I disagree in the result/solution given: Use GitHub-Actions.
if so, why even make these platforms like Ubuntu, Mac, etc.?

My take on these platforms (Like Ubuntu, Mac et.c) at there were super swiss army knives and therefor had many tools preinstalled.

In my case I have a flutter barley. Who will build an android, ios and a Docker / web images. all in all it takes 20-30 just

[2022-07-06 08:16] jappenzesr commented on #5859
Simply excluding erlang is not possible because it is also referenced from SoftwareReportGenerator:
[code]

which is due to

[code]
In general, it would be great to not have an explicit dependencies in the software report generator, but instead to exclude the specific software (erlang in this case) from the generated report if it not found.

[2022-07-06 09:34] jappenzesr commented on #5859
@mikhailkoliada can you please post the link to where this has been reported to the repo owners, thanks

[2022-07-06 10:22] SPALLADI commented on #5859
I am also facing error due to softwarereport generator error.
==> azure-arm: /imagegeneration/SoftwareReport/SoftwareReport.Generator.ps1 : The term 'erl' is not recognized as a name of a cmdlet, function, script file, or executable program.

==> azure-arm: Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

==> azure-arm: + CategoryInfo

[2022-07-06 10:23] miketimofeev commented on #5702
It would be, but no ETA, I'm afraid.

[2022-07-06 10:26] al-cheb commented on #5859
cc @garazdawi, could you please escalate?

[2022-07-06 10:27] miketimofeev commented on #5403
@rushfrisby what error do you have? Windows-2019, for example, has a reduced set of installed .Net frameworks:
`4.7.2 & 4.8` vs `4.6.1, 4.6.2, 4.7, 4.7.1, 4.7.2, 4.8` on windows-2016

[2022-07-06 11:10] ALTrijssenaar commented on #5859
Same problem here. Trying to recreate the same images that the Azure Pipelines are using, but the current agent with build label ubuntu20/20220626.1 are not able to be rebuilt again due to:

    azure-arm: Err:7 https://packages.erlang-solutions.com/ubuntu focal/contrib amd64 esl-erlang amd64 1:25.0.2-1
    azure-arm:   File has unexpected size (40579688 != 40585792). Mirror sync in progress? [IP:

[2022-07-06 13:38] al-cheb commented on #5403
@rushfrisby, Could you bump .Net version to 4.6.2?

[2022-07-06 15:36] palminha commented on #2187
it seems that Github Actions Mac M1 support is on the roadmap: https://github.com/github/roadmap/issues/528

[2022-07-06 15:47] JMA-Dv commented on #5403
@rushfrisby  I ran against this issue.
1) Try to point your project to .NET v4.8.
2) Re-publish now with the v4.8 project. (if it doesn't fix it, go to step 3).
3) In your .yaml pipeline check for the pool tag. and change the vmImage: 'windows-2016' to 'windows-2019' or 'windows-latest'
4) Re-run your pipeline.

Those were my steps to correct the issue.

[2022-07-06 16:22] theelderbeever opened #5869 "Update/Add OCI cli"
### Tool name

Oracle Cloud CLI

### Tool license

Universal Permissive License 1.0 and the Apache License 2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

CLI for managing Oracle cloud resources. Necessary for authenticating to Oracle Cloud as well.

### URL for tool's homepage

https://github.com/ora

[2022-07-07 08:32] to-s opened #5872 "libsystemd-dev : Depends: libsystemd0 (= 249.11-0ubuntu3) but 249.11-0ubuntu3.1 is to be installed"
### Description

We had the same issue around two weeks ago, than it was gone and now it's there again.

The Github Support asked us to open an issue here.

https://support.github.com/ticket/personal/0/1680493

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11

[2022-07-07 08:37] igorboskovic3 commented on #5869
Hi @theelderbeever, thank you for your proposal. We will consider and get back to you.

[2022-07-07 08:50] michaelmoneypenny commented on #5584
I had an issue with twilio and bitcode, apparently disabling bitcode fixes the issue (bitcode is apparently deprecated)

[2022-07-07 09:38] mikhailkoliada commented on #5866
@mklarsen Hello!

We would not like to have firebase-cli pre-installed, the installation time is literally 10 seconds so we strongly believe that the overhead of not having this tool pre-installed is not really big, even if someone has multiple builds a day. The fact that a project might have a ready to use installators for multiple OSes does not play a key role when we decide what we might add an

[2022-07-07 09:38] #5866 closed

[2022-07-07 09:49] to-s commented on #5872
Hi @al-cheb, thanks a lot for that fast answer, it's working.

[2022-07-07 09:50] #5872 closed

[2022-07-07 11:31] jappenzesr commented on #5859
Above workaround solved the problem for us, many thanks.

Please consider the refactoring proposed above to remove the tight coupling between the set of tools installed, and the SoftwareReport generator. Allowing tools to be excluded easily by removing the installation script from the packer file would be beneficial not only in cases such as this one, but also more generally. E.g. if I would like

[2022-07-07 14:56] DeeDeeG commented on #5403
We have a project that started experiencing CI errors in the new image, even when we installed older Visual Studio Build Tools with Chocolatey. So newer Visual Studio isn't the culprit. https://github.com/atom-community/atom/issues/428

Does anyone have any idea what else is different about the new CI image environment that would have caused this? _(Other than Visual Studio being newer?)_ Any hint

[2022-07-07 18:40] leonardoalmiron opened #5875 "Azure DevOps Hosted Agents"
### Tool name

Azure DevOps Hosted Agents

### Tool license

visual studio professional

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

Availability to have the powershell module Az pre-installed in Azure DevOps hosted agents since this causes lot of delays in connecting to Azure portal through the Azure

[2022-07-07 23:49] Yuongshad commented on #5490
Hi im mehrshadnazarali sukA

[2022-07-07 23:50] Yuongshad commented on #5490
😉🛸🖐🏽🧭💎✌🏽😬

[2022-07-08 06:53] igorboskovic3 commented on #5875
Hi @leonardoalmiron , thank you for your request, we will look and get back to you.

[2022-07-08 07:02] ddobranic commented on #5875
Hi @leonardoalmiron, you can see that Az module has been preinstalled and list of other installed modules for Windows Server 2019 [here](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#azure-powershell-modules)

[2022-07-08 07:02] #5875 closed

[2022-07-08 09:21] mikhailkoliada commented on #5845
Changes will be deployed next week

[2022-07-08 12:35] leonardoalmiron commented on #5875
Hi team,

Is this pre-installed in Azure Hosted Agents from DevOps?

Regards,

Leonardo Almirón
Tech Arch Delivery Specialist
Accenture - CIO – DaaS SQL Team – MS Azure
P
Before printing this e-mail think carefully if it is necessary

From: Dusko Dobranic ***@***.***>
Sent: Friday, July 8, 2022 4:03 AM
To: actions/virtual-environments ***@***.***>
Cc: Almiron, Leonardo ***@***.***>; Mention ***@**

[2022-07-08 13:05] SPALLADI opened #5877 "Image version is not created by Packer build"
### Description

Using Packer build, image version is not created. Could you please help?

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [X] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

  - task: PackerB

[2022-07-08 13:07] #5877 closed

[2022-07-08 13:56] anthony-c-martin commented on #3517
We're seeing the same issue very frequently with our Windows builds. There's no detailed errors to indicate what went wrong:
https://github.com/Azure/bicep/actions/runs/2633252423

### Summary view:
![image](https://user-images.githubusercontent.com/38542602/178005550-54e7c179-b5c3-4892-b90e-232c33875904.png)

### Trying to see logs for an individual job:
![image](https://user-images.githubusercon

[2022-07-08 14:20] igorboskovic3 commented on #5869
Hi @theelderbeever we already had this feature request and you can check it [here](https://github.com/actions/virtual-environments/issues/3909), so I will close this one as duplicated issue.
Thank you

[2022-07-08 14:20] #5869 closed

[2022-07-08 15:42] miketimofeev opened #5879 "[all OSs] Android ndk-bundle along with old NDK versions will be deprecated on July, 24"
### Breaking changes

- Symlink from LTS NDK to `ndk-bundle` won't be created anymore.
- NDK version from 15 to 18 will be removed from macOS-10.15 image.

### Target date

The propagation will start on July, 24 and take 2-3 days.

### The motivation for the changes

- `ndk-bundle` was explicitly marked as "Obsolete" by Google and no one should be using it anymore. The current symlink creation pro

[2022-07-08 17:23] miketimofeev commented on #5875
@leonardoalmiron Az Powershell 7.3.2 is available in all AzDO hosted agents.

[2022-07-08 18:28] kadariyaujwal commented on #4589
still is not resolved in ubuntu 20.04?

[2022-07-08 21:33] kaedenwile commented on #3034
+1 Also seeing this on our `yarn eslint` step. Occurs on `ubuntu-20.04` and `ubuntu-22.04`.

I used `mxschmitt/action-tmate@v3` to ssh into the box (after a segmentation fault has occurred) and manually run `yarn eslint`. I run the command multiple times, one after the other, without changing any code. All runs within the first minute or so will fail with a segmentation fault. After that first min

[2022-07-09 21:26] GabrielLins64 commented on #4589
Still can't install it here...

[2022-07-10 02:57] gf777 commented on #5818
hi @mikhailkoliada

Thanks and sorry for the late reply. Do you have an example of how to install mingw-w64-x86_64-toolchain ? The approach I tried seem to have worked but takes a long time to compile. For now I reverted to 2019

[2022-07-11 09:27] Adir207 commented on #2187
It's on the roadmap for almost a month, the problem is that they placed it on future implementation, therefore we have no idea when this will be done 😢

[2022-07-11 15:37] ggoraa commented on #5702
Guys, there is already Xcode 14 Beta 3, are there any ETAs about Xcode 14 arriving at lease on `macos-12` images?

[2022-07-11 16:48] alainvezina commented on #5847
@al-cheb this is still an issue since my last successful build on June 5.

I have the same described issue by @olandese.

I tried to test your solution, but it is something that can not be done on a Azure Build Server.

![image](https://user-images.githubusercontent.com/22731865/178316029-e9e9a119-de17-49e6-9845-4aa2463bbaac.png)

[2022-07-11 20:00] timheuer commented on #5720
@SteveBush -- so for `windows-2022` agent, when that image updates to the released Visual Studio 2022 build that has the MAUI GA tools, it will get those workloads.  For `ubuntu-latest` agent it wouldn't make sense I don't think to have the MAUI workloads by default.  `wasm-tools` here might be the difference for that agent.

[2022-07-12 03:12] maryammadzadeh commented on #4650
Can we reopen this. The 2022 VS installation has this and this is not a problem locally.

[2022-07-12 06:21] flopik3-5 opened #5892 "Remote error from secret service"
### Description

I am getting the following error:

[code]

When trying to upload files to Azure Storage using powershell script. After agent's image update.

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [X] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Wind

[2022-07-12 06:47] al-cheb commented on #5892
External bug - https://github.com/Azure/azure-powershell/issues/14207

[2022-07-12 06:47] #5892 closed

[2022-07-12 07:29] miketimofeev commented on #4650
@maryammadzadeh I still can't see this component for VS2022. Is it a part of some other workload?

[2022-07-12 10:23] mikhailkoliada commented on #5850
@ItalyPaleAle hello and sorry for delays!

I have not found anything suspicious playing with acr and few more services, have you had problems since the report was opened? Could you also please add the following snippets to your pipeline?

[code]

and then

[code]

and attach your dump somewhere

(we did something similar in the https://github.com/actions/virtual-environments/issues/5615) that way

[2022-07-12 11:24] dmitry-shibanov commented on #5661
Hello @gzeng1, just a gentle ping.

[2022-07-12 11:52] #5235 closed

[2022-07-12 12:01] mikhailkoliada commented on #5845
Deployed

[2022-07-12 12:01] #5845 closed

[2022-07-12 13:58] maryammadzadeh commented on #4650
"Can we reopen this? The 2022 VS installation has this and this is not a problem locally." - me

Somehow my previous comment is gone (reposted above). I am just using the vs 2022 installed IDE. I'm not sure about the component here. but opening VS 2022 and running tests that start the azure storage emulator does not reproduce the error that ado gives with storage emulator.  It possible that the vm

[2022-07-12 14:06] maryammadzadeh commented on #4650
For installed workloads I have:
![image](https://user-images.githubusercontent.com/43354588/178509241-731bd3e5-c335-4d0a-89ab-9a520d68f5d7.png)

Hope this helps.

[2022-07-12 15:03] djhoese opened #5894 "Virtual display not working with new Ubuntu 20.04 image"
### Description

Based on the commits here it looks like the Ubuntu 20.04 image was recently updated from `20220626.1` to `20220710.1`. Our GitHub Actions jobs depend on creating a virtual display to test OpenGL-based Python code (the vispy python library). Since this change we haven't been able to determine the DPI of the virtual display. I'm hoping for any help you can give for understanding wha

[2022-07-12 15:04] stuarta opened #5895 "ubuntu-22.04 action runners missing python3-oauth"
### Description

Attempts to install python3-oauth package on an ubuntu-22.04 runner fail with the following error
`
E: Unable to locate package python3-oauth
Error: Process completed with exit code 100.
`

This package is available on a normal ubuntu-22.04 installation, and is available for installation on a ubuntu-20.04 runner

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

###

[2022-07-12 15:08] panekj commented on #5895
It's not available on Ubuntu 22.04
[20.04](https://packages.ubuntu.com/search?suite=focal&searchon=names&keywords=python3-oauth)
[22.04](https://packages.ubuntu.com/search?suite=jammy&searchon=names&keywords=python3-oauth)

[2022-07-12 15:14] #5895 closed

[2022-07-12 16:18] ItalyPaleAle commented on #5850
Thanks @mikhailkoliada  I will add that to our pipelines.

What's the equivalent command for Windows?

[2022-07-12 16:22] erikng commented on #5702
Why can't you just install xcode 14 with the simulators it comes bundled with for now? Something is more ideal than **nothing**.

I'd really like to build a new version of my application through github and I am blocked by this.

[2022-07-12 16:44] Brett-Best commented on #5702
@miketimofeev would it be possible to create a new macOS 12 image (with a different agent name) with this as a known issue? Then only deploy a limited amount for the people that want to opt into it.

It would be great to get macOS 13 ASAP, though not expecting much given how long macOS 11 and 12 took.

[2022-07-12 16:54] miketimofeev commented on #5702
@Brett-Best I'm afraid it's quite a complicated process. We are currently trying to find a workaround.

[2022-07-12 17:21] maryammadzadeh commented on #4650
Does it help that the error ADO pipeline gives using the vmImage windows-2022 prints
"An error occurred trying to start process 'C:\Program Files (x86)\Microsoft SDKs\Azure\Storage Emulator\AzureStorageEmulator.exe' with working directory "

It looks like the vm just doesnt have the storage emulator installed by default.

[2022-07-12 17:29] al-cheb commented on #4650
You could install AzureStorageEmulator in runtime:
`choco install azurestorageemulator`

As I can see - https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator

[2022-07-12 17:38] maryammadzadeh commented on #4650
Also note - I only caught this because I was using windows-latest as my vm image, which worked fine up until a month ago. So when the vm images move forward (im guess windows-latest is no pointing to windows 2022 over time this essentially breaks customer pipelines without notice. Adding the storage emulator or azurite in the latest vm images will prevent breaking changes from happening. Thoughts?

[2022-07-12 17:43] maryammadzadeh commented on #4650
Azurite is  automatically available with vs2022 which is probably why it works.
![image](https://user-images.githubusercontent.com/43354588/178558158-c4ce56d5-a956-45aa-821f-8a1fff703de2.png)

[2022-07-12 19:26] erikng commented on #5702
do you think it has to do with

[code]

from: https://developer.apple.com/documentation/Xcode-Release-Notes/xcode-14-release-notes

[2022-07-12 20:11] djhoese commented on #5894
I've found a work around which is to add `x11-utils` to my explicit dependencies. My best guess is that one of the image dependencies was automatically pulling it in and now a newer version of this dependency no longer needs it.

[2022-07-12 20:11] #5894 closed

[2022-07-12 20:22] dmitry-shibanov commented on #5769
Hello @GNUGradyn, just a gentle ping.

[2022-07-12 21:44] mattjohnsonpint opened #5896 "Add .NET 6 SDKs for macOS virtual environments"
### Tool name

.NET 6 SDK

### Tool license

MIT

### Add or update?

- [X] Add
- [X] Update

### Desired version

6.0.xxx (latest)

### Approximate size

_No response_

### Brief description of tool

The macOS virtual images only include the .NET SDK through version 5, which is out of support.  While .NET 6 can be installed via the `setup-dotnet` action, that shouldn't be required anymore, becaus

[2022-07-12 22:30] sandyarmstrong commented on #5531
A little more detail from the log:

[code]

[2022-07-12 23:54] Piedone commented on #5845
Thank you!

[2022-07-13 03:16] MiroKaku opened #5897 "[Windows] [Windows Server 2022] [WDK] error MSB8020: The build tools for WindowsKernelModeDriver10.0 cannot be found."
### Description

Date:   Wed Jul 13 10:49:09 2022 +0800

https://github.com/MiroKaku/ucxxrt/runs/7313600205?check_suite_focus=true#step:4:27

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [X] Windows Server 2022

[2022-07-13 06:22] strager commented on #5835
How can I subscribe to announcements like this so I can be aware of breaking changes?

[2022-07-13 09:19] miketimofeev commented on #5403
The new retirement date is set — July, 22

[2022-07-13 11:58] miketimofeev commented on #5836
This is now deployed.

[2022-07-13 11:58] #5836 closed

[2022-07-13 15:29] sandyarmstrong commented on #5531
I'm trying to find a minimal repro (https://github.com/sandyarmstrong/cmake-sample) but no luck yet.

[2022-07-13 15:36] sandyarmstrong commented on #5531
Oh. So we run our cmake build from an msbuild project, which does something like this:

[code]

Looks like the `xcrun` command is failing and putting a bunch of error output into `$(MacSdkPath)` which is of course not ok for `DCMAKE_OSX_SYSROOT`.

[2022-07-13 15:40] sandyarmstrong commented on #5531
Yeah, I didn't realize this, but the `Exec` task in msbuild doesn't separate stdout and stderr (https://github.com/dotnet/msbuild/issues/6838). I should be able to tweak my command and send stderr to null.

[2022-07-13 15:45] sandyarmstrong commented on #5531
OK I think this is probably it. See the `xcrun` step in https://github.com/sandyarmstrong/cmake-sample/runs/7324455572?check_suite_focus=true. It spits out all those errors. Since my build was working before, this is likely a behavioral change. There may be an issue with Xcode not being initialized to the same degree as before.

I'll update when I've tested a fix in my real build.

[2022-07-13 16:20] tstellar opened #5900 "pkg-config on macos-10.15 prefers packages from older SDK"
### Description

I'm seeing similar error messages reported in #2274.

[code]
From what I can tell, this is caused by the fact that in my project CMake is passing both -isysroot /Applications/Xcode_12.4.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.1.sdk and -I/Users/runner/work/llvm-project/llvm-project/build/tools/lldb/source -I/Library/Developer/CommandLineTools/SDKs/

[2022-07-13 22:20] yujincheng08 opened #5901 "Update Android NDK to r25"
### Tool name

Android SDK Build-tools & Android SDK Platforms

### Tool license

Same as before

### Add or update?

- [ ] Add
- [X] Update

### Desired version

25.0.8775105

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platform

[2022-07-14 01:48] MiroKaku commented on #5897
thanks, it worked

[2022-07-14 04:17] igorboskovic3 commented on #5900
Hi @tstellar, thank you for reporting this, we will check it.

[2022-07-14 04:27] igorboskovic3 commented on #5901
Hi @yujincheng08 , thank you for reporting this one, we will take a look.

[2022-07-14 05:38] suyash691 opened #5906 "Rollback ORAS CLI version to 0.12 instead of 0.13 as it breaks login for GHCR"
### Tool name

ORAS CLI

### Tool license

MIT License

### Add or update?

- [ ] Add
- [X] Update

### Desired version

0.12

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

- [ ] Azure DevOps
- [X

[2022-07-14 05:47] rexingQ commented on #5879
Pop

[2022-07-14 07:31] suyash691 commented on #5906
Raised [PR](https://github.com/actions/virtual-environments/pull/5907)

[2022-07-14 07:39] al-cheb commented on #5906
You can easily install oras in runtime:
[code]

[2022-07-14 07:52] suyash691 commented on #5906
Yes i understand but this is to ensure better out of the box experience with GHCR for actions

[2022-07-14 08:10] miketimofeev commented on #5906
@suyash691 do you know how long will it take to release the new ORAS CLI version with the fix? I'm asking as we tend to start rollouts on Monday but can wait till Tuesday if the fix is available early next week.

[2022-07-14 08:59] miketimofeev commented on #5531
@sandyarmstrong thanks for the updates! We will take a look if we can do anything with this

[2022-07-14 10:35] suyash691 commented on #5906
I am not sure, the maintainers for ORAS CLI have yet to respond to my request.
That is why I wanted to ensure that we are fixing the experience for GitHub customers first; WRT the actual fix in the newer version i'll report back with to this issue when we can upgrade the ORAS CLI

[2022-07-14 12:38] MarcoK80 opened #5908 "[BUG] Since 2 days our pipeline can not get secrets from the keyvault because not the defined TenantId is used"
### Description

Since 2 days our pipeline can not get secrets from the keyvault because not the defined TenantId is used. Before it has worked for one year without problems.

Azure Devops Pipeline running with the correct service principal to connect but the following error occured

`Azure.RequestFailedException: Service request failed.
Status: 401 (Unauthorized)

Content:
{"error":{"code":"Unaut

[2022-07-14 13:00] miketimofeev commented on #5908
@MarcoK80 the issue can be related to the new Azure-cli version. Could you try downgrading it in runtime and see if it helps using the following snippet
[code]
If the issue is resolved by downgrading then please file a bug in the https://github.com/Azure/azure-cli/issues repository

[2022-07-14 13:34] MarcoK80 commented on #5908
@miketimofeev  This was not successful. I still have the issue:

![image](https://user-images.githubusercontent.com/43368445/178994809-ce7a88b4-8556-4c69-9107-1adeee94625d.png)

[2022-07-14 13:54] al-cheb commented on #5908
Could you for testing purpose replace the inline script to?

[code]

[2022-07-14 16:20] gaui commented on #5859
Thank you for the workaround @mikhailkoliada :pray:

[2022-07-14 21:38] swenkeratmicrosoft opened #5910 "The CRT / SDK installed on MMS VS 2019 1ES images is not compliant with Microsoft BinSkim."
### Description

The CRT / SDK installed on MMS VS 2019 1ES images is not compliant with Microsoft BinSkim.

Several libraries yield warnings due to using MD5 hashes instead of SHA256.  Examples include libcmt.lib, libvcruntime.lib, msvcprt.lib, and atls.lib (may not be exhaustive).

This blocks warning-free use of BinSkim for binaries built on those images.

### Platforms affected

- [X] Azure De

[2022-07-14 23:11] jeffpuckett opened #5911 "errors building Linux VHD - packer ssh error"
### Description

Here is the error I'm getting.

==> azure-arm.build_vhd: Running builder ...
==> azure-arm.build_vhd: Getting tokens using client secret
==> azure-arm.build_vhd: Getting tokens using client secret
    azure-arm.build_vhd: Creating Azure Resource Manager (ARM) client ...
==> azure-arm.build_vhd: Warning: You are using Azure Packer Builder to create VHDs which is being deprecated, c

[2022-07-15 06:47] al-cheb commented on #5911
Hello @jeffpuckett.
You should update packer version to the latest one 1.8.2 - https://www.packer.io/downloads .

[2022-07-15 06:47] #5911 closed

[2022-07-15 06:54] MarcoK80 commented on #5908
@al-cheb Hello this is the output of the command:

Setting active cloud to: AzureCloud
/usr/bin/az cloud set -n AzureCloud
/usr/bin/az login --service-principal -u *** --password=*** --tenant cfd26b50-fb8f-44cf-87b2-d5df3d15d884 --allow-no-subscriptions
[
  {
    "cloudName": "AzureCloud",
    "homeTenantId": "cfd26b50-fb8f-44cf-87b2-d5df3d15d884",
    "id": "581f94ee-8dff-4292-b6b9-55936b77a189",

[2022-07-15 07:04] al-cheb commented on #5910
Hello @swenkeratmicrosoft.
We don't manage '1ES Hosted Pool' pools and nothing we can do with those libs from other side. Please create a bug report on https://developercommunity.visualstudio.com/ board like https://developercommunity.visualstudio.com/t/crt-is-not-built-with-zhsha-256/1369173.

[2022-07-15 07:41] al-cheb commented on #5908
@MarcoK80, thank you, once more test please: `az keyvault secret list --vault-name xyz`

I have found an open bug report - https://github.com/Azure/azure-cli/issues/11871 and one of the recommendation to set the value `VisualStudioTenantId` or configure `AZURE_TENANT_ID` env var - https://github.com/Azure/azure-cli/issues/11871#issuecomment-854093995

[code]

[2022-07-15 08:01] MarcoK80 commented on #5908
Yes this shows the keyvault secret:

/usr/bin/az account set --subscription 581f94ee-8dff-4292-b6b9-55936b77a189
/usr/bin/pwsh -NoLogo -NoProfile -NonInteractive -ExecutionPolicy Unrestricted -Command . '/home/vsts/work/_temp/azureclitaskscript1657871418719.ps1'
[
  {
    "attributes": {
      "created": "2021-10-18T06:53:42+00:00",
      "enabled": true,
      "expires": null,
      "notBefore":

[2022-07-15 08:04] egorshulga commented on #5908
I believe we are also facing the same issue, but with connections to Azure SQL DB and Cosmos DB from our Azure Pipelines. As all of our pipelines are currently completely blocked, lots of effort is put to this issue investigation.
That would be one of our recent findings: when we try to dump the token, which is used for auth for those resources, that's what we can see in the claims:
[code]

[2022-07-15 08:40] al-cheb commented on #5908
@MarcoK80, Could we check with AZURE_TENANT_ID env var?
[code]

[2022-07-15 09:22] mikhailkoliada commented on #5859
The fix was reverted now as everything looks fine by default.

[2022-07-15 09:22] #5859 closed

[2022-07-15 09:27] dldldlepl commented on #5908
@al-cheb, we have the same problem, but we are running inside of an Azure Powershell task. Setting the following in the first line of the script does help to prevent the problem.
[code]

Disabling Managed Identity Credential Authentication does allow the pipeline to authenticate successfully again:
[code]

It seems to me, that somehow in the Pipeline is now a Managed Identity available?

[2022-07-15 09:43] MarcoK80 commented on #5908
Hi, env can not be used with AzureCLI tasks but to set the environment variable solved the issue:

  - task: AzureCLI@2
    displayName: iTest
    inputs:
      failOnStandardError: true
      azureSubscription: 'TeamPrivate-ConnectivityDev'
      scriptType: 'pscore'
      scriptLocation: inlineScript
      inlineScript: |
        Write-Host "##vso[task.setvariable variable=AZURE_TENANT_ID]cfd26b

[2022-07-15 10:12] egorshulga commented on #5908
I tried to set the env variable in powershell like this, and then I am trying to get a new token to get into it to see, what is the issuer. I do not see that the env variable is honored. I can still see that the issuer is `[72f988bf-86f1-41af-91ab-2d7cd011db47](https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/)`:

[code]

[code]

[code]

[2022-07-15 10:17] egorshulga commented on #5908
But we also spotted that ~30% of pipelines started to be green again. Is microsoft reverting something on their end?

[2022-07-15 10:19] suyash691 commented on #5906
Updating here from the issue in ORAS CLI. The newer version has removed support for protocol detection, which is why we were seeing the above issue. They are still considering whether to add back protocol detection or not

[2022-07-15 10:46] miketimofeev commented on #5908
@egorshulga could you provide links to the successful and unsuccessful builds? We will try to compare the difference in environments that run those builds.

[2022-07-15 10:56] miketimofeev commented on #5906
@suyash691 I'm going to close this as external then. Feel free to contact us if you have any objections.
Thank you!

[2022-07-15 10:56] #5906 closed

[2022-07-15 11:49] MarcoK80 commented on #5908
Yes I agree the environment variable is maybe not the solution. We have now pipelines with it and it still fails for some runs.

PR run was green. Main was red again:

![image](https://user-images.githubusercontent.com/43368445/179217431-514a2cde-cfb4-46ee-a1b9-6939c85e0630.png)

[2022-07-15 11:54] MarcoK80 commented on #5908
I can:

https://dev.azure.com/shcgravity/Receiver/_build/results?buildId=659818&view=results
https://dev.azure.com/shcgravity/Receiver/_build/results?buildId=659974&view=results

[2022-07-15 12:23] mikhailkoliada commented on #5900
@tstellar Hello!

By default pkg-config looks up files and constructs path using the xcode command-line tools, literally for 10.15 the path would be

[code]

We have never defined the PKG_CONFIG_PATH variable anyhow, so probably there is some mess regarding your settings we can not help you with.

I am going to close the issue, but feel free to reach us out if you have questions left.

[2022-07-15 12:23] #5900 closed

[2022-07-15 12:25] egorshulga commented on #5908
So, I believe that we managed to find a workaround by providing not only the tenantId, but cliendId and clientSecret (which come from our service connection) _as_ environment variable explicitly, which means that we are basically following the first credential provider in [the chain](https://github.com/Azure/azure-sdk-for-net/blob/44fea8eb7a3a952a9b35bc1e357c02238c2ea272/sdk/identity/Azure.Identit

[2022-07-15 12:42] miketimofeev commented on #5908
@jsquire could you please assist? We haven't found anything suspicious in the VM image so far

[2022-07-15 13:14] jsquire commented on #5908
@schaabs:  Would you please be so kind as to offer your thoughts?

[2022-07-15 14:56] egorshulga commented on #5908
I obtained some logs from Azure-Identity library:
[code]

Would we know how to further debug the API endpoint which returns us the token? (http://169.254.169.254/metadata/identity/oauth2/token)

[2022-07-15 15:50] al-cheb commented on #5910
Those libs are part of Visual Studio 2019/2022(C++ Standard Library) - https://docs.microsoft.com/en-us/cpp/c-runtime-library/crt-library-features?view=msvc-170, in that case I don't see any way how only to reach out  to a developer team and ask them to fix this issue or remove the libs before deploying a new image. If you have any better solutions how to fix it we are open for discussion.

[2022-07-15 15:57] swenkeratmicrosoft commented on #5910
@al-cheb - Ah, so you need the public SDK to get updated.  That makes more sense now.  Thanks!  :)

[2022-07-15 16:33] RytoEX opened #5915 "Update Clang/LLVM"
### Tool name

Clang/LLVM

### Tool license

Apache-2.0 WITH LLVM-exception

### Add or update?

- [ ] Add
- [X] Update

### Desired version

14.0.6

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

[2022-07-15 18:48] flopik3-5 opened #5916 "[Floating Issue] dotnet build runs too long"
### Description

dotnet build operation runs too long (floating problem), agent fails with one of the next errors:

`We stopped hearing from agent Azure Pipelines 2. Verify the agent machine is running and has a healthy network connection. Anything that terminates an agent process, starves it for CPU, or blocks its network access can cause this error. For more information, see: https://go.microsof

[2022-07-15 19:56] tstellar commented on #5900
@mikhailkoliada The default XCode version for the macos-10.15 image is listed as 12.4 which uses 11.1 SDK.  What I'm saying is that by default pkg-config should also be using 11.1 SDK install paths instead of 10.15.  The XCode default and the pkg-config default should be in agreement.

[2022-07-15 19:59] mknic commented on #5908
We experience the exact same behavior using the following configuration:

# Platforms affected
- [ ] Azure DevOps
- [x] GitHub Actions

# Virtual environments affected
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [x] Windows Server 2022

# Image version
windows-2022
https://github.com/Energinet-DataHub/.github/

[2022-07-15 21:21] rtrindvg commented on #5908
The bug also exists on the NodeJS stack, using DefaultCredentials. I replaced it for a ClientSecretCredentials as a workaround.

[2022-07-15 22:16] ItalyPaleAle commented on #5850
@mikhailkoliada please see these tests that failed with network timeouts. TCP dumps have been collected and you can find them as artifacts (see the `linux_amd64_tcpdump` or `windows_amd64_tcpdump`).

Note that all tests run on Linux agents even those that are called "windows":

- https://github.com/dapr/dapr/actions/runs/2678522535 -> Windows failed
- https://github.com/dapr/dapr/actions/runs/2677

[2022-07-16 02:19] dariusonsched opened #5917 "Pipeline Broken by Ubuntu 18.04 (20220710 update) PR #5882"
### Description

Our YAML pipeline broke following your Ubuntu 18.04 agent update 20220710 in PR #5882.

Without any changes to our YAML pipeline definition for over thirty days, following our last successful execution of a YAML pipeline that sets a pipeline variable using the AzurePowerShell@5 task on 7/11/2022 at 9:47am EDT, all subsequent executions are failing as of 7/14/2022 at 12:57pm EDT an

[2022-07-17 12:32] mikhailkoliada commented on #5915
Hi!

14.0.6 is only available in 22.10 for now, there is no ETA when it will be available in the LTS repo, but as soon it is, it will be released as a part of the ubuntu 22.04 image.

[2022-07-17 12:32] #5915 closed

[2022-07-17 13:54] daiaji commented on #2703
[code]
A similar error occurred when I tried to install buildah version 1.26.2. It seems that the golang GitHub containers common package conflicts with containers common.

[2022-07-17 14:42] nzbr opened #5920 "Add WSL2 to the Windows 2022 image"
### Tool name

Windows Subsystem for Linux version 2

### Tool license

Proprietary (included with Windows)

### Add or update?

- [X] Add
- [ ] Update

### Desired version

2

### Approximate size

_No response_

### Brief description of tool

WSL2 allows running Linux applications on windows by using a Hyper-V VM running a real Linux kernel

### URL for tool's homepage

https://docs.microsoft.co

[2022-07-17 14:46] al-cheb commented on #5920
https://github.com/actions/virtual-environments/issues/5760#issuecomment-1157585475

[2022-07-17 14:46] #5920 closed

[2022-07-18 06:53] egorshulga commented on #5908
Let me cautiously say, that the issue _probably_ got healed itself over the weekend. We can see no more issues like this in our pipelines. We will continue to monitor it though

[2022-07-18 06:55] igorboskovic3 commented on #5916
Hi @flopik3-5, thank you for reporting this one. We will take a look.

[2022-07-18 08:05] roughiain commented on #5782
@mikhailkoliada Any update

[2022-07-18 08:24] mikhailkoliada commented on #5782
Hey @roughiain, we have not had a chance to take a look yet :(

[2022-07-18 10:01] #5917 closed

[2022-07-18 12:09] miketimofeev commented on #5583
Added brownouts for ADO

[2022-07-18 12:25] dmitry-shibanov commented on #5661
Hello @gzeng1. For now I'm going to close the issue because we can't reproduce it from our side. If you get any additional information feel free to ping us.

[2022-07-18 12:25] #5661 closed

[2022-07-18 12:45] miketimofeev commented on #5896
@mattjohnsonpint we found out that our Visual Studio 2022 installation method doesn't bring .Net 6 component. We will install .Net 6 additionally on macOS-11 and macOS-12 images. The new deployment will happen this week.

[2022-07-18 12:48] #5769 closed

[2022-07-18 13:31] psandhu79 opened #5925 "Update/Add [tool name]"
### Tool name

gke-gcloud-auth-plugin

### Tool license

Apache License v. 2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Same version as the Google SDK

### Approximate size

_No response_

### Brief description of tool

Kubectl will soon be removing the auth code to connect to GKE clusters

https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-i

[2022-07-18 13:38] mikhailkoliada commented on #5925
@psandhu79 Hi!

Thanks, we will decide on the tool addition and get back to you.

[2022-07-18 13:52] mikhailkoliada commented on #5925
@psandhu79 could you please also change the title of the ticket to reflect the wanted package?

[2022-07-18 14:22] ddobranic opened #5930 "[all OSs] Android NDK 21 will be replaced in favor of 25 on August, 1st"
### Breaking changes

NDK r21 will be replaced by NDK r25

### Target date

The propagation is starting on August, 1st and will take 2-3 days

### The motivation for the changes

We are replacing r21 with r25 as we support two latest LTS versions according to our [Software and image guidelines](https://github.com/actions/virtual-environments/blob/main/docs/software-and-images-guidelines.md)(we sup

[2022-07-18 14:23] mattjohnsonpint commented on #5896
Thank you. 👍

[2022-07-18 15:29] dd-eg opened #5931 "Install-Edge.ps1 fails when WebDriver missing for latest Edge version"
### Description

I saw Install-Edge.ps1 fail when running last week (14-Jul-2022) because the URL generated for the latest version of WebDriver was invalid -- for whatever reason, this version did not include an x64 download.

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.1

[2022-07-18 15:43] ddobranic commented on #5901
hello @yujincheng08 Android NDK 25 will be updated on August, 1st. you can see the announcement [here](https://github.com/actions/virtual-environments/issues/5930)

[2022-07-18 15:50] al-cheb commented on #5931
We parse edge webdriver version from the https://msedgedriver.azureedge.net/LATEST_RELEASE_103_WINDOW file. At the time of writing the latest available version is `103.0.1264.62`. We changed the link for download edge driver in scrope https://github.com/actions/virtual-environments/pull/5106 PR "https://msedgedriver.azureedge.net/LATEST_RELEASE_$($EdgeVersion.Major)" -> "https://msedgedriver.azure

[2022-07-18 15:51] #5931 closed

[2022-07-18 15:54] dd-eg commented on #5931
Ah-ha! I looked over the latest Install-Edge and missed that _WINDOWS suffix change :) Thank you for pointing that out, much appreciated!

[2022-07-18 19:33] yujincheng08 commented on #5901
Thanks. Close in favor of #5930

[2022-07-19 02:24] dariusonsched commented on #5917
@al-cheb While I appreciate your referring to the external bug, our issue does not relate to MSAL calls, but to a simple "Write-Host" statement within an Azure DevOps Pipeline to set a pipeline variable via the '##vsto' expression.  Therefore, I have to disagree the cause being the same.  That said, if the latest Azure PowerShell module upgrade to the Ubuntu 18.04 vm image rendered numerous Azure

[2022-07-19 06:41] al-cheb commented on #5917
@dariusonsched, in that case you should create a new issue in  - [azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks) repository

[2022-07-19 08:51] AbeerAhmad commented on #70
Where to put it in github actions?

[2022-07-19 11:37] jonasflynn66 commented on #5879
NAWS ALL GOOD ARR ALL

[2022-07-19 12:49] Praveenrajmani opened #5934 "Build breaks with `Version: 20220717.1`"
### Description

The test builds on github runners started failing for the past 24 hours, when investigated, looks like the virtual environment version was upgraded.

Working virtual environment version: 20220710.1
Working virtual environment provisioner version: 1.0.0.0-main-20220616-1

Non-working virtual environment version: 20220717.1
Non-working virtual environment provisioner version: 1.0.0.

[2022-07-19 13:40] al-cheb commented on #5934
Hey @Praveenrajmani.
I see the pipelines you provided are not the same.

Working - https://github.com/minio/directpv/actions/runs/2690641775/workflow
[code]
Non-working - https://github.com/minio/directpv/runs/7408016471?check_suite_focus=true
[code]

[2022-07-19 13:59] Praveenrajmani commented on #5934
Hi @al-cheb,

Let me share the correct ones

working: https://github.com/minio/directpv/runs/7389713364?check_suite_focus=true
non-working: https://github.com/minio/directpv/runs/7409833561?check_suite_focus=true

[2022-07-19 14:10] Praveenrajmani commented on #5934
@al-cheb One question - Is there a way to pick a selective virtual environment version for the github action runners?

[2022-07-19 14:12] mikhailkoliada opened #5935 "test ticket"
### Description

-

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

-

### Is it regression?

-

### Expected behavior

-

### Actual behavior

-

### Repro

[2022-07-19 14:13] al-cheb commented on #5934
Unfortunately, it's not possible to pick up a version.

[2022-07-19 16:58] #5935 closed

[2022-07-19 17:38] dangrif commented on #5910
The v14.30.* MSVC++ toolset (VS 2022 v17.0) was the first that was built with /ZH:SHA_256 in the runtime libraries. You'll need to upgrade to that toolset/runtime version for libraries that pass this binskim check.  We have no plans, at this time, to backport and rebuild older toolset releases with this option enabled, including older toolsets such as the VS 2019 v16.11 (MSVC++ v14.29).

[2022-07-19 17:45] swenkeratmicrosoft commented on #5910
@dangrif - Which MMS images include the toolset you reference?

[2022-07-19 19:10] sylus commented on #5934
I believe I have the same problem as of Version: 20220717.1 the docker overlay doesn't seem to be working correctly?

Build Success: https://github.com/drupalwxt/wxt/actions/runs/2676949961
Build Fail: https://github.com/drupalwxt/wxt/actions/runs/2699844768

[2022-07-19 19:12] sylus commented on #5934
Very odd though as I switched to 22.04 it worked.

Environment: ubuntu-22.04
Version: 20220717.1

Wonder if it works for you @Praveenrajmani using 22.04?

[2022-07-19 19:42] tarcieri commented on #2187
There's a typo on https://github.com/github/roadmap/issues/528 however I can't comment there as that issue isn't open for public comments:

should be

[2022-07-19 20:09] swenkeratmicrosoft commented on #5910
@al-cheb  As you can see from dangrif, latest VS 2022 _does_ have SHA256-hashed libs.

Which MMS images have a public SDK with a high enough version as indicated by dangrif?  VS 2022 is required.

If none, this item needs to be re-opened to track creating or updating image(s) that have that version.  Agreed?

[2022-07-19 20:20] amitdo commented on #2187
OSX -> macOS

[2022-07-19 21:20] al-cheb commented on #5910
Currently, we don't pre-install v14.30.x MSVC++ and above - https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md . We will think about to add those components on Windows Server 2022 image.

[2022-07-20 00:10] essoperagma opened #5936 "Update/Add Dotfuscator"
### Tool name

Dotfuscator - Visual Studio Component

### Tool license

Community

### Add or update?

- [X] Add
- [ ] Update

### Desired version

-

### Approximate size

_No response_

### Brief description of tool

Dotfuscator comes installed with VS in windows-2019 image, but not in windows-2022 image.

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the

[2022-07-20 00:21] varunsh-coder commented on #5934
`Ubuntu 20.04.4` with image version `20220717.1` is also causing issue for https://github.com/step-security/harden-runner

I noticed that in the latest update, the linux kernel version for `Ubuntu 20.04.4` is updated to `5.15.0-1014-azure`. In previous updates, it was `5.13.0-XXXXX`.
PR: https://github.com/actions/virtual-environments/commit/ce779a6f6ea52b63a32ce2200a319be149c9203f

I was looking

[2022-07-20 04:41] Praveenrajmani commented on #5934
It works when i downgrade the ubuntu version to 18.04 @sylus

[2022-07-20 07:21] greha opened #5938 "Windows Server 2022 image build fails at Configure-Antivirus.ps1"
### Description

I am trying to build the Windows Server 2022 image but it fails.
==> vhd: Provisioning with powershell script: C:\agent\_work\21\s\virtual-environments\images\win/scripts/Installers/Configure-Antivirus.ps1
==> vhd: Provisioning step had errors: Running the cleanup provisioner, if present...

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments

[2022-07-20 07:22] al-cheb commented on #5938
Duplicate: https://github.com/actions/virtual-environments/issues/5847

[2022-07-20 07:22] #5938 closed

[2022-07-20 07:48] JJ commented on #3885
Performance is so slow that any CPU-bound task, like caching, is rendered totally useless. Unpacking a 120 MB file takes longer than actually running all the different `npm i` that create the node_modules directories (4x as slow).

[2022-07-20 07:50] al-cheb commented on #5910
@dangrif, Could you please review this https://github.com/actions/virtual-environments/pull/5939 PR?

[2022-07-20 08:16] mikhailkoliada commented on #5936
@essoperagma Hi! The shortest way to do this is what @al-cheb said :)
We will decide on adding the extension to the image and get back to you.

[2022-07-20 10:53] miketimofeev commented on #5403
The retirement date is shifted to July, 31

[2022-07-20 11:05] melchiorbc commented on #5403
LOL, can you guys please, please, please stop shifting the retirement date :) every time we need to tell our developers to stop using Win2016 as Agent type, and each time you guys postpone the deadline slowly people start using it again (I know their own fault), and we need to start warning them again, but we (and also Microsoft) are loosing our credibility on when they are actually decommissioned

[2022-07-20 11:06] flameshikari commented on #5301
Hello there, I have the same problem. Any progress?

[2022-07-20 11:12] al-cheb commented on #5301
Currently, no updates.

[2022-07-20 11:31] miketimofeev commented on #5403
@melchiorbc sorry for the inconvenience, hopefully, this is the last one 🤞

[2022-07-20 11:38] miketimofeev commented on #5403
Two more brownout dates are set:
- Friday July 22, 00:00 UTC to July 23, 00:00 UTC
- Wednesday July 27, 00:00 UTC to July 28, 00:00 UTC

[2022-07-20 12:31] al-cheb commented on #5934
@Praveenrajmani , I was able to reproduce this issue on a clean Azure vm, in that case the issue is not related to GitHub Runner image. Feel free to ping me if you need any logs from this vm.

![image](https://user-images.githubusercontent.com/47745270/179980121-37540026-20f4-4efc-8ff0-066cb5006a53.png)

[2022-07-20 14:15] smorimoto commented on #3885
@JJ That's unlikely. At least it only executes system commands. In other words, there is absolutely nothing that humans can recognize about the overhead in that part, and the cause is clear from my past investigations. I'm a little confused as to why this problem still exists. See https://github.com/actions/virtual-environments/issues/2707

[2022-07-20 14:52] varunagrawal commented on #5934
Maybe related, we're seeing failures for GTSAM as well on PRs that didn't have issues before. From looking at the error message, it's an OOM issue for the compiler, so maybe something is up with how some devices are configured?

[2022-07-20 18:49] narasamdya commented on #5934
Our CI builds started to fail when we use 20220717.1 image; some of our Linux unit tests started to fail.

Successful build: [Pipelines - Run 20220715.12 (azure.com)](https://dev.azure.com/mseng/Domino/_build/results?buildId=17712942&view=results) - on 20220710.1 image

Failed build: [Pipelines - Run 20220719.2 (azure.com)](https://dev.azure.com/mseng/Domino/_build/results?buildId=17751703&view=re

[2022-07-20 19:10] al-cheb commented on #5934
@narasamdya, @sylus, Could you provide minimal repro steps how to reproduce the issue?

[2022-07-20 19:32] varunsh-coder commented on #5934
Hi @al-cheb I wanted to check if you got a chance to review the mapping of ubuntu versions and linux kernel versions [here](https://ubuntu.com/about/release-cycle#ubuntu-kernel-release-cycle)? Is it expected to use `5.15` kernel for `Ubuntu 20.04.4`? I only see `5.13` next to `Ubuntu 20.04.4` in the Ubuntu kernel support lifecycle picture...Thanks!

[2022-07-20 19:58] al-cheb commented on #5934
Looks like the documentation is stale because we use a vm template created by Canonical:

[code]

[2022-07-20 20:04] essoperagma commented on #5936
@al-cheb Thanks for the snippet. It indeed did the trick!

It takes 3 minutes 20 seconds to install it during the pipeline run. But since I'm unblocked now, I don't mind.

[2022-07-20 22:02] TiffD72 commented on #5916
<PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
    <RootNamespace>...</RootNamespace>
  </PropertyGroup>

  <PropertyGroup>

    <PreserveCompilationReferences>true</PreserveCompilationReferences>
    <PreserveCompilationContext>true</PreserveCompilationContext>
  </PropertyGroup>

  ...

</Project>

[2022-07-20 22:04] TiffD72 commented on #5916
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
    <RootNamespace>...</RootNamespace>
  </PropertyGroup>

  <PropertyGroup>

    <PreserveCompilationReferences>true</PreserveCompilationReferences>
    <PreserveCompilationContext>true</PreserveCompilationContext>
  </PropertyGroup>

  ...

</Project>
[code]

[2022-07-20 22:05] TiffD72 commented on #5916
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
    <RootNamespace>...</RootNamespace>
  </PropertyGroup>

  <PropertyGroup>

    <PreserveCompilationReferences>true</PreserveCompilationReferences>
    <PreserveCompilationContext>true</PreserveCompilationContext>
  </PropertyGroup>

  ...

</Project>

[2022-07-21 05:16] Praveenrajmani commented on #5934
What was the virtual environment version here? @al-cheb

[2022-07-21 05:37] BethanyZhou commented on #5892
Hi @al-cheb , I'm from Azure PowerShell team. We hit this problem on Ubuntu 18.04 , image version: 20220710.1 while the error message on image version: 20220710.1 was only warning on image version 20220626.1.
- Do you have any idea about the changes between these two image versions.
- could you guide us to build these virtual environment on our local so that we can reproduce this issue? Tested on

[2022-07-21 06:55] gokultw commented on #393
How to change resolution on Ubuntu ?

[2022-07-21 07:02] al-cheb commented on #5934
@Praveenrajmani, As I mentioned before I took a clean vm and pre-installed only moby-engine on it. Maybe it's a bug in the new `Linux kernel version: 5.15.0-1014-azure` kernel.

[2022-07-21 07:09] al-cheb commented on #5892
Hey @BethanyZhou, how to generate images you can find in this doc -  https://github.com/actions/virtual-environments/blob/main/docs/create-image-and-azure-resources.md. Another way is to connect to a GitHub runner via ssh using this [debugging-with-tmate](https://github.com/marketplace/actions/debugging-with-tmate) task:

[code]

[2022-07-21 07:51] #5835 closed

[2022-07-21 08:46] al-cheb commented on #5908
@MarcoK80, Does the issue still persist?

[2022-07-21 08:50] MarcoK80 commented on #5908
Hi, I havent seen any issue in the last days. But the temporary workaround is still implemented. Should I remove and check again?

[2022-07-21 08:56] al-cheb commented on #5908
Let's check.

[2022-07-21 09:04] MarcoK80 commented on #5908
Looks good without workaround

[2022-07-21 09:09] al-cheb commented on #5908
Thank you. I am planning to close the thread. We will reopen it if the issue returns.

[2022-07-21 09:09] #5908 closed

[2022-07-21 09:14] MarcoK80 commented on #5908
Please go ahead

[2022-07-21 09:20] ddobranic commented on #5936
@essoperagma, thank you for update! Please feel free to reopen if you think there is anything we might help with.

[2022-07-21 12:49] billziss-gh commented on #5583
It appears that macOS 10.15 is the only version of the OS that can load the macFUSE kext.

Please see relevant issues: #4731, #598

If you deprecate macOS 10.15 what is your plan for supporting macFUSE related testing?

[2022-07-21 13:13] miketimofeev commented on #5583
@billziss-gh thanks for bringing this up! We will revisit macFUSE installation and try to find a solution to install it on the newer macOS versions.

[2022-07-21 13:26] pavshr commented on #5584
@panticmilos No, we are not using Twilio, and bitcode is also disabled for our app.

[2022-07-21 14:05] varunsh-coder commented on #5934
I did more digging for my scenario and found the root cause for it.

I have a GitHub Action (https://github.com/step-security/harden-runner) that uses Linux Audit Framework to audit events on the Ubuntu VM.

In the latest release of the Ubuntu 20.04.4 VM, there is already a process that is listening to the audit events. The process is `/opt/microsoft/auoms/bin/auomscollect`.

In the previous relea

[2022-07-21 14:15] al-cheb commented on #5934
@varunagrawal, The `OMS Audit data collection daemon` is active by default on Azure runners.

[2022-07-21 14:23] varunsh-coder commented on #5934
Hi @al-cheb I am not sure if `OMS Audit data collection daemon` is the same as `auomscollect`. `auomscollect` was not enabled until this release of Ubuntu 20.04.4 VM. Also in the current release of Ubuntu 22.04.4 VM, it is not enabled. It is definitely a change from the previous release of Ubuntu 20.04.4 VM and it is odd that the same change is not applied to Ubuntu 22.04.4 VM yet.

[2022-07-21 14:54] al-cheb commented on #5934
@varunagrawal, sorry, I was wrong. I have reached out the right team to clarify that moment. Currently, it’s unexpected behavior that AzSecPack is being installed on Ubuntu18/20, but we are in control of at the moment. I will let you know if I get more information.

[2022-07-21 14:55] varunagrawal commented on #5934
@al-cheb you're tagging the wrong person. 😂

[2022-07-21 15:00] varunsh-coder commented on #5934
Thanks @al-cheb! Here is a [workflow](https://github.com/varunsh-coder/actions-playground/blob/main/.github/workflows/auoms.yml) I created to view status of `auoms` on `ubuntu-latest` and `ubuntu-22.04`. It shows that the service is running on one and not running on the other.

https://github.com/varunsh-coder/actions-playground/actions/runs/2712687332

[2022-07-21 15:29] al-cheb commented on #5934
@varunsh-coder, The `ubuntu-latest` spec is linked to `ubuntu-20.04`.

[2022-07-21 16:38] fisprak commented on #70
@AbeerAhmad In `run` or `env` blocks.

`run`

[code]

`env`

[code]

[2022-07-21 18:01] ktbolt commented on #5583
We had just started using Actions and it made our build process and installer creation much easier and convenient for users.

It is unfortunate that Actions only maintains the latest two stable versions of any given OS version. This will make it unusable for us because porting our software suite to new OS versions is a major effort and sometimes not even possible due to various software incompatib

[2022-07-21 18:06] jlosito commented on #5583
@ktbolt with Jenkins you would still need to define an agent. Why not just build an agent and still use gha?

[2022-07-21 18:27] al-cheb commented on #5896
The new images with .Net 6.0 on board have been deployed.

[2022-07-21 18:27] #5896 closed

[2022-07-21 18:35] ktbolt commented on #5583
@jlosito I was nice to have something that just worked. I don't think self-hosted runners will work for us. Thanks!

[2022-07-21 18:47] enocom commented on #5583
@billziss-gh We have the same problem. We're having to drop test coverage for macOS using FUSE because the 10.15 runner is being deprecated.

It would be nice if GitHub provided a way to install kernel extensions in the new macOS runner.

Related:
* https://github.com/actions/virtual-environments/issues/4731
* https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/1225

[2022-07-21 19:32] JakeSiFive commented on #5583
We can't use osxfuse or macfuse on 11 or 12 which means we can't build or test our code base now. Can we get some work around for this before 8/30/22?

[2022-07-21 21:50] ljharb commented on #4471
ping; i'd still like to hear an answer to the question.

[2022-07-22 06:57] tobihagemann commented on #5583
I agree that the concern voiced by @billziss-gh @enocom @JakeSiFive is a real problem for many developers that rely on macFUSE and its testability (incl. our team). Any chance to reconsider this decision until a proper solution has been found, @Steve-Glass @miketimofeev?

[2022-07-22 07:00] hello-smile6 commented on #5583
Just saw the announcement.

[2022-07-22 08:57] zspitzer opened #5947 "System.IO.IOException: No space left on device"
### Description

[code]

https://github.com/lucee/extension-compress/runs/7465171399?check_suite_focus=true

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

[2022-07-22 09:00] DanielOverdevest opened #5948 "Add Linux docker containers on Windows 2019 environment"
### Tool name

Linux docker containers

### Tool license

?

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

At the moment it's not possible to use the Windows 2019 image within Azure DevOps Pipeline to build Linux based docker images. Now we need to use ubuntu-latest to get this working - but it would be

[2022-07-22 09:07] al-cheb commented on #5948
Hey @DanielOverdevest.
Unfortunately, we can't add linux container support due to Azure vm spec limitation we use, at that moment it is [DSv2-series](https://docs.microsoft.com/en-us/azure/virtual-machines/dv2-dsv2-series) without supporting nested Hyper-V virtualization.

![image](https://user-images.githubusercontent.com/47745270/180405349-51f020aa-782c-41e7-bbf4-ecd7e290ec46.png)

[2022-07-22 09:07] #5948 closed

[2022-07-22 09:10] DanielOverdevest commented on #5948
Thanks for swift response! I understand.

[2022-07-22 09:51] ddobranic opened #5949 "[Windows] mongo service will be disabled by default on August, 8th"
### Breaking changes

mongodb service on Windows Server which is currently running will be disabled

### Target date

The propagation is starting on August, 8th and will take 2-3 days

### The motivation for the changes

Currently, mongodb service on Windows Server is running but it should be disabled by default

### Possible impact

The mongodb service is disabled and all related processes

### P

[2022-07-22 10:53] al-cheb commented on #5934
@varunsh-coder, We are planning to deploy new Ubuntu18/20 images next week with disabled OMS daemon.

[2022-07-22 11:23] mikhailkoliada commented on #5947
@zspitzer hi!

We will take a look

[2022-07-22 14:21] tsal commented on #5934
We've spent the last few days troubleshooting why our Gradle builds (Android) started failing a couple of days ago. After a lot of struggling with memory settings (that we don't believe are the problem) and testing the builds, we finally got something useful from the logs, but it isn't anymore useful than telling us GitHub's runner cancelled the job run -- not an OOM kill.

[code]

[2022-07-22 16:29] varunsh-coder commented on #5934
Thanks a lot @al-cheb! This is great to hear.

I have a suggestion/ idea to improve the process. Do you think it would be possible to list the services that are expected to run as part of the [VM README](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md)? As of now, it lists the software installed, but not the services that are expected to run.

Listing th

[2022-07-22 18:09] jsherm-fwdsec commented on #541
Hey @miketimofeev and team. I'm running in to what looks like similar errors when building with the Windows Server 2019 image:
[code]

This project is using VSTO as well. Please let me know if you have any ideas?

[2022-07-22 20:40] mohawk2 commented on #2139
This is happening again as of yesterday, with the GHA config not having changed at all (https://github.com/PDLPorters/pdl/runs/7473608493?check_suite_focus=true):

[code]

[2022-07-23 05:05] yujincheng08 opened #5952 "Update cmake of Android SDK to 3.22.1"
### Tool name

cmake

### Tool license

OSI-approved BSD 3-clause

### Add or update?

- [ ] Add
- [X] Update

### Desired version

3.22.1

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

- [ ] Azur

[2022-07-23 09:33] misl6 commented on #4133
Considering https://github.com/actions/python-versions/pull/114 changes got reverted, I guess this issue should be re-opened?

[2022-07-23 10:24] JimBobSquarePants commented on #5631
Please reconsider closing this.

[2022-07-23 11:57] ladar opened #5953 "CRITICAL BUG // DefaultLimitNOFILESoft=1024"
### Description

My GitHub [actions started failing](https://github.com/lavabit/robox/actions) on 7/22/22... after lots of troubleshooting, I realized a new virtual environment was pushed between my successful run on the 21st and the failures starting on the 22nd.

I can't check what the limits were on the previous Ubuntu image, but for the current one, the build steps are launching with systemd l

[2022-07-23 12:53] al-cheb commented on #5953
Hey @ladar.
You can change this limit:
https://github.com/actions/virtual-environments/issues/4683#issuecomment-988542768
https://github.com/actions/virtual-environments/issues/3738#issuecomment-881207263

Default settings:
![image](https://user-images.githubusercontent.com/47745270/180605501-8b502667-e859-4321-8128-4bd9c542ce42.png)

[code]

![image](https://user-images.githubusercontent.com/4774

[2022-07-23 12:58] kvyatkovskys commented on #5584
I fixed the issue🙂. I added the twilio package as a binary xcframework to the project.

`package.swift` example

[code]

[2022-07-23 13:03] kvyatkovskys commented on #5584
I think, problem was due to a large file download. The twilio package is 60 mb in size.

cc @miketimofeev @panticmilos

[code]

[2022-07-23 14:28] ladar commented on #5953
So I don't know definitively what caused the breakage between the 20220717 and 20220722 images. Nothing in the repo commit commit log looked like a culprit. So the issue could be at a lower level.

I don't know which change fixed the problem, but I wasn't able to get the workflow to run reliability until I increased the swap size from 4096 to 8192. Some of my other changes may have also helped, as

[2022-07-24 11:23] PatTheMav commented on #5702
Support for Xcode 14 would be highly appreciated given new Frameworks (and also new functionality added to existing Frameworks) which are only available with new SDK versions available on the runners.

Right now I'm implementing features available on macOS 12.4+ and macOS 13 respectively, but cannot provide (automatic) nightly builds for testing as neither is available on runners.

[2022-07-25 00:21] general-kroll-4-life opened #5954 "inconsistent-behaviour-with-robot-docker-compose-mockserver"
### Description

I have one step in a job that uses robot framework to start containers via `docker-compose`, as part of an automated test suite setup.  Sometimes this step (`jobs.dockerbuild['Run robot mocked functional tests']`) runs successfully and other times it just hangs until timeout (without timeout just hangs indefinitely until manual cancellation):

- [successful run](https://github.com

[2022-07-25 07:14] #5953 closed

[2022-07-25 07:19] al-cheb commented on #5954
Hey @general-kroll-4-life.
We will take a look at it.

[2022-07-25 07:44] ddobranic commented on #5952
@yujincheng08 thank you for submitting this issue. we will update cmake of Android SDK to 3.22.1 next week with update of Android NDK.

[2022-07-25 09:41] lemnis opened #5960 "Video screencapture fails on Macos-latest"
### Description

I was trying to capture the desktop of macOS, but the outputted file is a pixel mess. Screencapture does work on macOS 10 & 12

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windows Server 202

[2022-07-25 09:41] lemnis commented on #5960
Video output:
https://user-images.githubusercontent.com/3999815/180747687-8fbb4a12-3b69-4ea1-af86-7fecf57268b6.mov

[2022-07-25 10:05] al-cheb commented on #5960
Hello @lemnis.
We will take a look at it.

[2022-07-25 11:40] miketimofeev commented on #5642
@arielelkin The issue preventing easy xcpretty installation has been fixed and the new images are deployed, however, Lightricks/xcpretty is also not updated for more than two years so we are not going to change the official package to the fork. Please use this snippet to install the fork in runtime, it takes only 3 seconds. Thank you!
[code]

[2022-07-25 11:40] #5642 closed

[2022-07-25 17:52] Rajeswari06 opened #5966 "iOS build in Azure pipeline is failing at archive task after changing the macOS agent to macoOS-12"
### Description

iOS build in Azure pipeline is failing at archive task after changing the macOS agent to macoOS-12 and Xcode version to /Applications/Xcode_13.4.1.app with below steps

SetMode u+w,go-w,a+rX /Users/runner/Library/Developer/Xcode/DerivedData/iOSBuild-ehqfaveavmyhzlfqcwjddekgmauk/Build/Intermediates.noindex/ArchiveIntermediates/iOSBuild/InstallationBuildProductsLocation/Applications

[2022-07-25 17:54] ddobranic opened #5967 "'virtual-environments' repository name will be changed to 'runner-images' on August, 8th"
### Breaking changes

Current name of 'virtual-environments' repository will be changed to 'runner-images'

### Target date

The repository will be re-named starting on August 8th but will take 2 weeks for changes to fully propagate out

### The motivation for the changes

The term "virtual-environments" no longer accurately represents what GitHub is trying to achieve with this repository

### Pos

[2022-07-25 17:57] al-cheb commented on #5966
Hey @Rajeswari06.
Please include ta repo with minimum steps needed to reproduce the issue.

[2022-07-25 18:03] al-cheb commented on #5794
@pmatuszewski, Any updates?

[2022-07-25 23:03] plimburg opened #5970 "Windows-2022 Agent with WDK does not provision WDK platform toolsets in Visual Studio 2022"
### Description

We have successfully run printer driver creation pipelines with Windows-2019 agent and Visual Studio 2019.  The pipelines build projects that reference WDK platform toolsets such as WindowsUserModeDriver10.0.
Now migrated to local Visual Studio 2022 and updated WDK. WDK platforms are available, and builds are successful locally.
But, build pipeline run on agent Windows-2022 fails.

[2022-07-25 23:09] plimburg commented on #5970
I have found this may be same issue as #5897, and will try the fix reported there.

[2022-07-26 01:40] bgilbert commented on #4589
This worked for me to remove the PPA PHP packages and downgrade the conflicting dependencies:

[code]

[2022-07-26 02:11] falkTX commented on #4589
I have updated my setups to now use this:
[code]

the main reason for breakage is that any package built on PPAs that is not part of a very specific allowlist, will not have i386 versions built.
as wine requires i386 and amd64 packages with matching versions, the updated amd64 without a matching i386 (due to newer versions being built in PPAs used by GitHub images) makes wine uninstallable.

[2022-07-26 05:30] MichelZ opened #5971 "VSTest has a -preview indication"
### Description

When running tests on Azure Devops, Windows Server 2022 today (2022-07-26), it looks like a preview version of Visual Studio's vstest is used:

[code]

Instead of the preview version, it should use the release version?

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ]

[2022-07-26 06:37] #5970 closed

[2022-07-26 07:04] al-cheb commented on #5971
Hey @MichelZ.
We will check.

[2022-07-26 07:37] al-cheb commented on #5971
@MichelZ, As I can see there are no available vstest release versions  - https://github.com/microsoft/vstest-docs/blob/main/docs/releases.md#1720

17.2.0 marks as https://github.com/microsoft/vstest/compare/v17.2.0-preview-20220401-07...v17.2.0
![image](https://user-images.githubusercontent.com/47745270/180950300-a7c8fda0-01b9-4737-a5dc-523cb4041789.png)

[2022-07-26 07:46] MarijnS95 commented on #2689
Could this have possibly kept `export ANDROID_NDK_ROOT=$ANDROID_NDK_LATEST_HOME` for the vast majority of users who probably want "some" (typically close to the latest) NDK but most likely don't care about the exact version, to minimize breakage caused by "fixing" this?

[2022-07-26 08:07] MichelZ commented on #5971
Something is weird....

https://www.nuget.org/packages/Microsoft.TestPlatform/#versions-body-tab
It clearly says there is a non-preview 17.2.0 version.

![image](https://user-images.githubusercontent.com/1040252/180956165-7c90c72a-890c-489c-85ec-8b16b6402ec1.png)

The changes seem to be insignificant though, and probably not related to the issue I was investigating.
It just struck me as odd that i

[2022-07-26 08:15] MarijnS95 commented on #5879
@miketimofeev Repeating what I asked in https://github.com/actions/virtual-environments/issues/2689#issuecomment-1195127579, this issue seems to be about removing the `ndk-bundle` symlink (which was breaking sdkmanager), but couldn't you have kept something along the lines of:

[code]

Without creating a symlink at all, so that most software requiring just the "default" (latest LTS, afaiu) NDK wou

[2022-07-26 09:15] miketimofeev commented on #5879
Hey @MarijnS95! Sorry for the inconvenience but I assume the variable is related only to ndk_bundle, which is obsolete now, isn't it?

[2022-07-26 09:18] MarijnS95 commented on #5879
@miketimofeev I've always understood `ANDROID_NDK_HOME` and `ANDROID_NDK_ROOT` to point to the NDK the user wants to use, regardless whether that's `ndk-bundle` or another version downloaded/extracted elsewhere. That's also how our Rust tools (`cargo-apk`, `cargo-ndk`, etc) treat these variables.

[2022-07-26 09:30] MarijnS95 commented on #5879
@miketimofeev I wouldn't expect anything in the SDK something, but it should have been in the NDK-specific build-system docs where it turns out not to be... https://android.googlesource.com/platform/ndk/+/master/docs/BuildSystemMaintainers.md

At least https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling-for-android:~:text=Else%2C%20if%20an%20environment%20variable%20

[2022-07-26 09:45] al-cheb commented on #5794
I am planning to close the thread. If you have any concerns feel free to open it.

[2022-07-26 09:45] #5794 closed

[2022-07-26 09:46] miketimofeev commented on #5879
@saurik could you provide your thoughts regarding the env variables too?

[2022-07-26 09:47] miketimofeev commented on #5490
Mono, msbuild and nuget are now available on Ubuntu22 image!

[2022-07-26 10:05] mikhailkoliada commented on #5850
@ItalyPaleAle Hello and sorry for delay! It took me a while to investigate large logs. I have not identified network problems regarding runners, so I think it is possible to be azure problem and as azure is a big SDN network we will not be able to catch problems on our end

cast @chkimes here,
Chad. would be glad if you take a double look, might be I am missing something.

[2022-07-26 10:29] al-cheb commented on #5934
Hey @Praveenrajmani, @varunsh-coder , @sylus , @tsal.
The new Ubuntu Server 18.04/20.04 images have been deployed.

[2022-07-26 10:30] al-cheb commented on #5934
@Praveenrajmani, I checked new Ubuntu Server 20.04 image and it works for me.

![image](https://user-images.githubusercontent.com/47745270/180985522-49091949-ec22-443a-a27d-1f8c6ea1d6b1.png)

[2022-07-26 11:42] Praveenrajmani commented on #5934
Hi @al-cheb , I can still see the same problem, and my virtual environment provisioner version remains the same - https://github.com/minio/directpv/runs/7519147904?check_suite_focus=true

![image](https://user-images.githubusercontent.com/5410427/180997484-d04a7fe9-d90f-4f5b-99de-e95a6f58fd9a.png)

shouldn't the provisioner version be updated too?

[2022-07-26 11:52] al-cheb commented on #5934
@Praveenrajmani, I checked it worked for `Run upgrade test from v2.0.9`. Looks like you should fix `v1.4.6` version and adopt to the new kernel version.

[2022-07-26 12:08] plimburg commented on #5970
I tried to install WDK.vsix by running Powershell task with inline script as suggested in #5897 :
$FilePath = Resolve-Path "C:\Program Files (x86)\Windows Kits\10\Vsix\VS2022\*\WDK.vsix:
Install-VsixExtension -FilePath $FilePath -Name "WDK.vsix" -VSversion "2022" -InstallOnly

Task seems to start OK, but after 10 minutes with no visible progress, I cancelled. How long should this take? Any suggest

[2022-07-26 12:09] al-cheb commented on #5970
@plimburg,  it takes 10-30 minutes.

[2022-07-26 12:16] plimburg commented on #5970
@al-cheb,
Yikes, too long for iterative development.
Looks like I'll have to purge the WDK extensions from my projects, and just use their tools separately.
Thanks for the quick response.

[2022-07-26 12:54] leotm commented on #5702
i know you guys working hard investigating/debugging

just noting CircleCI not supporting macOS 13 yet either
but Xcode 14 since [last month (b2)](https://discuss.circleci.com/t/xcode-14-beta-3-released/44690) and [couple wks ago (b3)](https://discuss.circleci.com/t/xcode-14-beta-3-released/44690) [(VM manifest)](https://circle-macos-docs.s3.amazonaws.com/image-manifest/v8405/index.html)
with know

[2022-07-26 13:02] al-cheb commented on #5910
Windows Server 2022 image with v14.32.x MSVC++ on board has been deployed to GitHub and Azure DevOps environments.

[2022-07-26 13:02] #5910 closed

[2022-07-26 13:13] KillerCodeMonkey commented on #4589
@falkTX you are a motherf***** god and life saver.
![thanks](https://media4.giphy.com/media/5xtDarmwsuR9sDRObyU/giphy.gif?cid=ecf05e477nwiokfztwih2dwn2be5zpe6f5kgxkwa7f6mjckj&rid=giphy.gif&ct=g)

[2022-07-26 13:14] Praveenrajmani commented on #5934
looks like latest kernel version support doesn't support 1.4.6 @al-cheb

what is the kernel version here? @al-cheb

[2022-07-26 13:20] al-cheb commented on #5934
Linux kernel version: 5.15.0-1014-azure

[2022-07-26 13:34] Praveenrajmani commented on #5934
thanks @al-cheb , May i know the kernel version that was used in `20220710.1`? Are there any dependency docs explaining this?

[2022-07-26 13:35] al-cheb commented on #5934
Linux kernel version: 5.13.0-1031-azure

[2022-07-26 14:11] al-cheb commented on #5954
@general-kroll-4-life, I was able to reproduce the same issue on my local vm . The tests got stuck because a docker container had exited. The second attempt to rerun the tests was successful.

Failed case when containers did not properly start:

[code]

Add a second attempt as a workaround:
[code]

![image](https://user-images.githubusercontent.com/47745270/181020475-e1d9889c-bcc8-40df-8729-ecc670

[2022-07-26 14:11] #5954 closed

[2022-07-26 15:21] essoperagma commented on #5936
Awesome, thank you!

[2022-07-26 17:05] varunsh-coder commented on #5934
Thanks @al-cheb! I can confirm that https://github.com/step-security/harden-runner is working fine now. I did have ideas on separate comment on how to prevent regression. Please let me know if you have thoughts on that. Thanks!

[2022-07-26 18:57] mikhailkoliada commented on #5947
@zspitzer hello!

I see that:

*  we do not have fs quota enabled on runners
* you still have enough free space before tests run (I mean plain `df -h`)
* even if I lift ext4 fs reservation to 0% via `tune2fs -m 0` the problem is still existing
So my only guess is that  space is exhausted somewhere in the middle of the failed step.
Could you try to attach strace to the run itself or the process so

[2022-07-26 19:02] al-cheb commented on #5934
Thank you for the proposal. We will think about it.

[2022-07-26 19:56] chkimes commented on #5850
Some of the timeouts in the logs appear to be HTTP related, e.g.:

[code]

However others do look to be TCP timeouts. From one of the packet captures, it does pretty clear look like SNAT exhaustion. Here's a breakdown of connections to remote endpoints:

[code]

1k connections to the same endpoint in a short window will absolutely trigger exhaustion. This run was ~50 minutes long, though, and I ha

[2022-07-26 20:33] ItalyPaleAle commented on #5850
Thanks for looking into the captures and for confirming.

Our tests do indeed make a lot of requests to the same endpoint. The runtime of the actual tests is around 30-35 mins (excluding the initial setup), and new connections do tend to come in bursts.

We are now aware of SNAT exhaustion being an issue on the Actions agents. Three months ago, right before we learnt about that even being a thing,

[2022-07-26 20:44] rayzchen commented on #5566
Is there any reason why this happens?

[2022-07-27 02:43] general-kroll-4-life commented on #5954
Hi Aleksandr,

Thank you kindly.

Much appreciated.

Cheers,

Kieran

On Wed, 27 Jul 2022 at 00:11, Aleksandr Chebotov ***@***.***>
wrote:

[2022-07-27 05:34] Rajeswari06 commented on #5966
Hi @al-cheb ,

Please use below steps to reproduce the issue,

An iOS project with objective-c code
Enable Push notifications
Use entitlements file
Run the build in pipeline

Below is the yml configuration used  for Azure devops pipeline build. Pipeline is failing at step 'Xcode archive' with above mentioned error.

- job: Build
  condition: and(succeededOrFailed(), or(eq(variables['Build.SourceBr

[2022-07-27 06:48] al-cheb commented on #5971
I  have got a response from the test platform team:

[2022-07-27 06:48] #5971 closed

[2022-07-27 06:50] MichelZ commented on #5971
Thanks for checking, very much appreciated

[2022-07-27 06:55] pellared commented on #5583
Next time I suggest renaming e.g. using the following pattern: from `macos-10.15` to `macos-10.15-eol`.

It would still "raise awareness" (even more), but at least users which desperately need a given version can still use it for some time if the transition to the newer version would not be straightforwards.

[2022-07-27 07:15] vsafonkin commented on #5566
Sorry @rayzchen, I can't find any reasons from our side.

[2022-07-27 08:52] al-cheb commented on #5960
Hey @lemnis.

As a workaround you should change a screen resolution, e.g. 1920x1080:

[code]

[2022-07-27 12:06] HenrikSommer-eng opened #5976 ".NET Core SDK is not correct always"
### Description

Hi.

I can see you have update [Windows2022-Readme.md](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md) yesterday to include new version of .NET Core SDK (6.0.302)

We have update our code to use it but can see pipeline are failing from time to time because of the agent image only have version: 6.0.301

Did you update the documentations t

[2022-07-27 12:13] miketimofeev commented on #5976
Hey, @HenrikSommer-eng!
It looks like your builds are on the old image version judging by `Current image version: '20220710.1'`. Could you share a few links to such builds? We will check telemetry to understand which environments are affected.
Sorry for the inconvenience!

[2022-07-27 12:32] HenrikSommer-eng commented on #5976
Hi
Our pipeline are not public so dont know if help you.
And yes it is running on an old image version.

When running the same pipeline it got this:
Agent name: 'Azure Pipelines 3'
Agent machine name: 'fv-az569-656'
Current agent version: '2.206.1'
Operating System
Virtual Environment
Virtual Environment Provisioner
`Current image version: '20220724.1'`

[2022-07-27 12:35] HenrikSommer-eng commented on #5976
If you still need the links I can provide it in an email.

[2022-07-27 12:56] al-cheb commented on #5976
@HenrikSommer-eng, Do you have builds that were run in less than 12 hours on the version '20220710.1'?

[2022-07-27 13:09] HenrikSommer-eng commented on #5976
Yes.
[code]

[2022-07-27 13:15] HenrikSommer-eng commented on #5976
latest error happen:
`2022-07-27T11:02:13.4651094Z`
And have queue about 40 jobs since with out the problem

[2022-07-27 13:18] al-cheb commented on #5976
We need a `planId` for this build, click `View raw log` button, remove at the end of the link `/logs/XXX`(`_apis/build/builds/2470053/logs/13 -> _apis/build/builds/2470053` ), find planId and paste it.

![image](https://user-images.githubusercontent.com/47745270/181256300-97fefb7a-0841-49fd-980a-ddff1f670b40.png)
![image](https://user-images.githubusercontent.com/47745270/181256421-f7a08045-122c-4

[2022-07-27 13:19] HenrikSommer-eng commented on #5976
"plans":[{"planId":"4fa8239d-664e-4cd8-a556-d702f2b0ff28"}]

[2022-07-27 13:28] mikhailkoliada commented on #5583
The situation with macFUSE is no good, it can not be installed in runtime due to apple hardened its security checks in macOS 11.3+.
We also can not add it to the images because macfuse's license has been changed to the non-free one (see https://github.com/osxfuse/osxfuse/issues/616) and we can not install a non-free component.

Our advise on this matter would be to use a self-hosted runner.

[2022-07-27 13:30] HenrikSommer-eng commented on #5976
I can see i was wrong about last failed run and had 1 about 30 min later.
[code]

[2022-07-27 15:26] dmotte commented on #433
FYI, now that the [`macos-10.15` environment is deprecated](https://github.com/actions/virtual-environments/issues/5583), I've switched to `macos-12` for my projects and it's working :)

Here are my workflow files:

- [dmotte/vagrant-dockerbox](https://github.com/dmotte/vagrant-dockerbox/blob/main/.github/workflows/release.yml)
- [dmotte/vagrant-podmanbox](https://github.com/dmotte/vagrant-podmanb

[2022-07-27 19:50] ThadHouse commented on #5879
This is breaking any android build that builds openssl. It looks for ANDROID_NDK or ANDROID_NDK_ROOT, both of which are now no longer defined. Many builds were dependent on those variables, and at least the variables is something that should be looked at bringing back.

https://github.com/openssl/openssl/blob/master/Configurations/15-android.conf#L27

[2022-07-27 20:37] elb3k opened #5980 "Update Docker Compose v2 to v2.9.0"
### Tool name

Docker Compose v2

### Tool license

Apache 2.0

### Add or update?

- [ ] Add
- [X] Update

### Desired version

2.9.0

### Approximate size

_No response_

### Brief description of tool

Docker Compose is a tool for running multi-container applications on Docker defined using the [Compose file format](https://compose-spec.io/). A Compose file is used to define how the one or more

[2022-07-27 20:45] rayzchen commented on #5566
After disabling parallel compilation, the error seems to have disappeared, however parallel compilation works on Linux Github Actions, MacOS Github Actions, my Windows home computer and a Windows VPS that I tested on. This is enabled with `python setup.py build_ext -j <cpu>`. Would there be any reason why parallel compilation would crash?

[2022-07-28 01:15] Avasam commented on #4897
@miketimofeev  This issue is back

[2022-07-28 07:00] al-cheb commented on #5980
@elb3k, there is no updated version of docker-compose v2 in https://packages.microsoft.com/ubuntu/20.04/prod/pool/main/m/moby-compose/ repository

[2022-07-28 07:05] elb3k commented on #5980
Probably it will be pushed soon. You can see the release in compose github page: https://github.com/docker/compose/releases/tag/v2.7.0

[2022-07-28 07:10] al-cheb commented on #5980
We use moby project to install docker and  moby-compose(docker-compose-linux-x86_64).

If you need the latest version of docker-compose you can install it in runtime:
[code]

[2022-07-28 07:13] elb3k commented on #5980
@al-cheb Thanks! will try that.

[2022-07-28 07:22] elb3k commented on #5980
@al-cheb I tried installing newest `docker-compose`, and it is good for now. (kind of bandaid solution for the time being)
Do you know how often `moby-compose` gets updated to reflect `docker-compose v2` releases?

[2022-07-28 07:26] HenrikSommer-eng commented on #5976
Just an update we have not seen the problem today.

[2022-07-28 07:40] al-cheb commented on #5980
@cpuguy83, Could you please answer to a question?

[2022-07-28 08:11] miketimofeev commented on #5879
@ThadHouse @MarijnS95 thanks for all the examples, I'll get those variables back and point them to the latest LTS NDK (25 for now)

[2022-07-28 08:35] #5960 closed

[2022-07-28 08:41] MarijnS95 commented on #5879
@miketimofeev Thanks! I've meanwhile been asking around for explicit docs on this for the NDK, given that it only exists for the SDK. Hopefully that'll help clarify even further once they arrive :)

[2022-07-28 10:45] miketimofeev commented on #4897
@Avasam should be fixed now, sorry for the inconvenience.

[2022-07-28 14:05] al-cheb commented on #5976
@HenrikSommer-eng, Thank you. I am planning to close the thread. We tracked this issue in our internal backlog and we will continue monitoring.

[2022-07-28 14:05] #5976 closed

[2022-07-28 14:37] HenrikSommer-eng commented on #5976
That is fair, thanks for looking into it.

[2022-07-28 16:37] dsame commented on #5531
@miketimofeev
It seems there's a bug of xcode installer since 13.3.1 which can be fixed for with the snippet:

[code]

The others solutions do not work robustly or do not work at all
https://github.com/akv-platform/cmake-sample/runs/7564435016?check_suite_focus=true

[2022-07-28 16:50] Tayevans09 commented on #5583
Open 👁️‍🗨️

[2022-07-28 19:42] chkimes commented on #5850
How many new processes are you creating during your testing? Connections will get reused within the scope of an existing process (and HTTP Client or Transport instance), but those connections can't be shared across processes.

Also what is your concurrency level when running tests? In HTTP 1.0/1.1, connections will be re-used only if they are not currently in use. In HTTP 2.0 it is dependent on yo

[2022-07-28 19:43] chkimes commented on #5850
A very crude and likely undesirable solution is to put a few minutes delay between steps that are heavy on connection usage, or organize the test order such that steps with heavy connection usage are spread out across the total execution time. Closed connections will reserve a port for 4 minutes, but after that the port should be free for reuse.

[2022-07-29 00:41] swt2c opened #5986 "Building using nmake on Azure Pipelines broke in windows-2022 image 20220710.1"
### Description

Before image 20220710.1, it used to be possible to use nmake to build a VS project on windows-2022.  However, this no longer works as nmake doesn't seem to be able to find system headers:

[code]

This worked fine with 20220626.1 (here's an example: https://alldunn.visualstudio.com/wxPython-CI/_build/results?buildId=965)

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Act

[2022-07-29 07:20] al-cheb commented on #5986
Hey @swt2c.
We will take a look at it.

[2022-07-29 07:50] ladar commented on #5953
@al-cheb I saw you closed the bug. Were you able to figure out what changed between the 20220717 and 20220721 images?

[2022-07-29 07:55] al-cheb commented on #5986
I was able to reproduce the issue. Looks like building tools can't find path to libs. I took [msvc-dev-cmd](https://github.com/ilammy/msvc-dev-cmd ) task to  initialize VS environment  and the build completed successfully.

[code]

![image](https://user-images.githubusercontent.com/47745270/181711954-b258d0b9-acfb-4497-9abd-7ce0d144349c.png)

[2022-07-29 11:24] akrol95 opened #5987 "Android build is crashing with NDK r24"
### Description

For the past few days we have been experiencing problems building our Xamarin Android application using Azure Pipeline.

We use AOT compilation, we need Android NDK installed on building machine. We passing its path to MSBuild by ANDROID_NDK_LATEST_HOME environment variable, which on used image version points to NDK version 24.0.8215888.

With this configuration build is crashing

[2022-07-29 11:29] al-cheb commented on #5987
Hello  @akrol95.
Please provide a test repo with minimal steps to reproduce the issue.

[2022-07-29 12:51] swt2c commented on #5986
Thanks @al-cheb - I can't use ilammy/msvc-dev-cmd on Azure Pipelines, though, can I?

[2022-07-29 14:40] akrol95 commented on #5987
@al-cheb As we are open source, I can share entire project with you:

https://github.com/bcc-code/bmm-app
I prepared branch named '**build-problems'** there, which have exactly the same configuration as described in this ticket.

I can also prepare separate, smaller project with similiar configuration if needed.

[2022-07-29 14:55] akrol95 commented on #5769
I think it's the same problem as described here: https://github.com/actions/virtual-environments/issues/5987

[2022-07-30 08:53] Gatito1010 opened #5990 "# Descripciónhttps://github.com/users/Gatito1010/achievements/quickdraw"

[2022-07-30 17:44] #5990 closed

[2022-07-30 18:39] Gatito1010 opened #5991 "Gattito1010s'"
10b2fd3e119c446dacd2043ccf4255b704fe1e66

[2022-07-30 20:13] Gatito1010 opened #5992 "Gato1010"
https://github.com/MicrosoftDocs/PowerShell-Docs/pull/9048

[2022-07-31 10:29] #5992 closed

[2022-07-31 17:56] ItalyPaleAle commented on #5850
@chkimes thanks for the feedback. I will discuss this with my team and we'll see what we can do.

Making tests slower would be a last-resort option. Even if we didn't have to pause for a full 4 minutes (perhaps 1 min between tests would be helpful already), we have invested a lot into making our tests faster, and this would be a move in the other direction.

An alternative approach I am considerin

[2022-08-01 09:53] Kiruel commented on #5702
Have you got any news on this one ? (btw Xcode 14 beta 3 is available)

[2022-08-01 10:12] sjavora commented on #5702
It's beta 4 now in fact...

[2022-08-01 10:25] dmitry-shibanov commented on #5986
Hello @swt2c. Could you please try to use this steps for windows-2022:
[code]

[2022-08-01 10:48] miketimofeev commented on #5702
The issue still persists in beta 4 as well

[2022-08-01 11:08] enricenrich commented on #5702
@miketimofeev Temporarily, can't you do like CircleCI ([ref.](https://github.com/actions/virtual-environments/issues/5702#issuecomment-1195445174)) and offer the Xcode 14 Beta image with its current limitation? That would already unblock many of us for now. It's better this than nothing... 😕

[2022-08-01 13:58] PatTheMav commented on #5702
Not to put too fine a point on it, but the oldest simulator made available in Xcode 14 targets iOS 13.7. Given Apple's observed behaviour of focusing support on the current version plus prior two versions (which in this case would only include iOS 16, 15, and 14) it wouldn't come as a shock to me that iOS 13 is not considered a "supported" OS anymore and only the most recent simulator is made avai

[2022-08-01 14:01] dsame commented on #5531
This is the known Xcode installer bug https://developer.apple.com/forums/thread/703233 and there's no appropriate solution so far.

Nevertheless it is possible to apply the workaround that expected to eliminate `xcodebuild[1606:9383] Requested but did not find extension point with identifier` error message streamed to stderr

[code]
@sandyarmstrong i know you've solved the original problem by redi

[2022-08-01 15:06] leotm commented on #5702
nice ^ for React Native we deprecated 11.0 for 12.4 in [March](https://github.com/facebook/react-native/commit/982ca30de079d7e80bd0b50365d58b9048fb628f), getting 13.7 on b3 so time to upg to b4

[2022-08-01 17:19] swt2c commented on #5986
@dmitry-shibanov, I can confirm that works.

[2022-08-01 21:46] chkimes commented on #5850
Using a tunnel is clever, and it seems to me like it should work well for reducing outbound connections. The downside is pushing all your test traffic through a single endpoint, but if you're not bandwidth constrained then I bet it would be pretty effective. There are Azure native solutions that you could use, or you could easily spin up a VM with wireguard and plop it onto the same vnet as your c

[2022-08-01 21:48] ItalyPaleAle commented on #5850
I will let you know if we can do that and how it works. We shouldn't be constrained in terms of bandwidth: we make lots of requests but the payloads are very small (usually a few bytes at most).

I was thinking something like https://github.com/ivanmorenoj/k8s-wireguard which doesn't even require deploying a VM in the VNet.

[2022-08-01 22:04] andycmaj commented on #5078
hello folks...

i'm seeing this again. artifactory returning 403.

any idea who to contact upstream?

![image](https://user-images.githubusercontent.com/97470/182253733-db506b59-5595-4130-90b5-8e4af71c01aa.png)

[2022-08-02 01:23] zorgiepoo commented on #5702
For me, it doesn't show anything below iOS 13.7
<img width="942" alt="Screenshot 2022-08-01 at 6 23 06 PM" src="https://user-images.githubusercontent.com/857267/182271710-a876458c-347c-423b-9408-c9907c358f77.png">
.

[2022-08-02 01:58] zorgiepoo commented on #5702
My other Mac (which is on Monterey (instead of Ventura) and also has Xcode 13.4 installed) shows me more Simulator runtimes down to iOS 12.4. If I download iOS 13.0 Simulator using Xcode 14 (beta 4)'s UI, I can later run:

[code]

Without any issue over here. @miketimofeev is using `xcversions` to install the Simulator instead which I think is the only difference in these setups. (I don't have `xc

[2022-08-02 06:05] MilindVaidya03 commented on #371
Can we install win32 version of OpenSSL using choco install function

[2022-08-02 07:40] vladonemo commented on #5078
same here. Can't install JDK any longer. Failing on the same 403 error.

[2022-08-02 08:40] miketimofeev opened #5998 "Ubuntu 22.04 is generally available starting from August, 8"
### Breaking changes

Ubuntu 22.04 is generally available starting from August, 8. Use it by putting `runs-on: ubuntu-22.04` in your workflow file.

### Target date

August, 8

### The motivation for the changes

Most of the software issues with the new image were resolved.

### Possible impact

n\a

### Platforms affected

- [X] Azure DevOps
- [X] GitHub Actions

### Virtual environments affected

[2022-08-02 08:41] dmitry-shibanov commented on #5986
Hello @swt2c. Thank you for your response. In this case I'm going to close the issue.

[2022-08-02 08:41] #5986 closed

[2022-08-02 09:07] miketimofeev commented on #5490
Closing this as we have announced image GA
https://github.com/actions/virtual-environments/issues/5998

[2022-08-02 09:07] #5490 closed

[2022-08-02 10:24] miketimofeev opened #6002 "The Ubuntu 18.04 Actions runner image will begin deprecation on 2022/08/08 and will be fully unsupported by 2023/04/03"
### Breaking changes

We have started the deprecation process for Ubuntu 18.04. While the image is being deprecated, You may experience longer queue times during peak usage hours. Deprecation will begin on 2022/08/08 and the image will be fully unsupported by 2023/04/03

To raise awareness of the upcoming removal, we will temporarily fail jobs using Ubuntu 18.04. Builds that are scheduled to run d

[2022-08-02 11:05] dmitry-shibanov commented on #5987
Hello @akrol95. Could you please provide smaller project I've tried to reproduce the issue on bmm-app but I could not properly configure it.

[2022-08-02 11:49] ggoraa commented on #5702
![image](https://user-images.githubusercontent.com/61655029/182367400-e3ea5de8-53bd-409d-97ee-c58309dc3aa0.png)
I think this info useful to the issue

Got from release notes of Xcode 14 beta 4

[2022-08-02 11:53] PatTheMav commented on #5702
I'm happy to be wrong and you could be right that this might depend on older versions being installed in tandem - with just Xcode 14b4 installed 13.7 is the oldest iOS simulator available on my machine, but that one's also on a macOS 13 already.

[2022-08-02 12:15] miketimofeev commented on #5403
Windows 2016 environment is finally deprecated in ADO.

[2022-08-02 12:15] #5403 closed

[2022-08-02 12:58] akrol95 commented on #5987
@dmitry-shibanov Here you are: https://github.com/bcc-code/bmm-app/tree/minimal-projects-to-fail-on-pipeline

I removed all not needed projects, files and configuration from the project and YAML and it still fails on pipeline.

[2022-08-02 15:24] IvanZosimov commented on #5782
Hi, @roughiain and @Midnayt 👋 The root cause of the problem is in the version of the Roslyn compiler that is bundled with the Mono project. By now the latest stable version of the Mono is [6.12.0.182](https://github.com/mono/mono/tags) and Roslyn [3.9.0-5.21112.8](https://github.com/mono/msbuild/blob/xplat-master/eng/Versions.props#L13) is bundled to it. I created this [request](https://github.com

[2022-08-02 19:42] rybal06 opened #6007 "Packer build fails on Ubuntu 20.04 image with a 404 error while installing ruby-builder"
### Description

    azure-arm: Error — Either HTTP response code for 'https://github.com/ruby/ruby-builder/releases/download/toolcache/' is wrong - '404' or exit code is not 0 - '23'. Waiting 30 seconds before the next attempt, 1 attempts left
    azure-arm: Error — Either HTTP response code for 'https://github.com/ruby/ruby-builder/releases/download/toolcache/' is wrong - '404' or exit code is n

[2022-08-02 20:36] cpuguy83 commented on #5980
Apologies for the delay.
Some of our release automation broken due to some internal issues.
I've pushed compose v2.9.0.

[2022-08-02 21:32] chrisbehanna commented on #5930
We had no notice of this change at Mojang, and only learned of it today.  We very strongly suggest delaying it two weeks so that we can prepare for it.

[2022-08-02 23:30] asottile opened #6010 "mismatch from documentation?"
### Description

I've been tracking a bug in git 2.36 which is fixed in 2.37 -- the image information for 20220724.1 claims it has git 2.37.1 but I'm still seeing 2.36

here's my job run: https://dev.azure.com/asottile/asottile/_build/results?buildId=13799&view=logs&j=94d9d3b4-8e3d-5cdc-d6c7-40ce0e4fea69&t=3be1b07c-7b5b-4b02-84ff-33b8af3eb53d

(excerpt from setup):

[code]

(excerpt from checkout)

[2022-08-03 06:42] al-cheb commented on #6007
The nightly build is green - https://github.visualstudio.com/virtual-environments/_build/results?buildId=128288&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=5431112d-2b61-5a5f-7042-ef698f761043 . Looks like a flaky network issue.

[2022-08-03 06:42] #6007 closed

[2022-08-03 07:02] al-cheb commented on #6010
Hello @asottile.
The documentation is correct. There are a couple of git versions available on Azure DevOps images:

1. https://github.com/microsoft/azure-pipelines-agent
2. Pre-installed on an image

![image](https://user-images.githubusercontent.com/47745270/182543721-020bdaa1-912d-47d4-9b53-690f0b0eca7c.png)

If we take a look at the build we can find the agent version - `Current agent version:

[2022-08-03 07:02] #6010 closed

[2022-08-03 07:44] Zopolis4 opened #6011 "Feature request: GNU/Hurd runner"
Having a gnu/hurd runner would be very convenient to test that software still builds on hurd, as it is not used by a ton of people and so could easily have silently introduced bugs.

### Name

GNU/Hurd

### License

GPL

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Debian GNU/Hurd 2021

### URL for tool's homepage

https://www.gnu.org/software/hurd/

### Platforms where I need

[2022-08-03 07:47] al-cheb commented on #6011
Hello @Zopolis4 .

**Looking for other Linux distributions?** We do not plan to offer other Linux distributions. We recommend using Docker if you'd like to build using other distributions with the hosted virtual environments. Alternatively, you can leverage [self-hosted runners](https://help.github.com/en/actions/hosting-your-own-runners) and fully customize your environment to your needs.

[2022-08-03 07:47] #6011 closed

[2022-08-03 07:50] al-cheb commented on #5934
I am planning to close the thread as reproduceable on Azure clean vm. Feel free to open the thread if you have any concerns.

[2022-08-03 07:50] #5934 closed

[2022-08-03 09:44] ddobranic commented on #5930
@chrisbehanna you can install NDK 21 in runtime. Please see 'Mitigation ways' section in the announcement, above.

[2022-08-03 12:09] dmitry-shibanov commented on #5916
Hello @flopik3-5. Thank you for your report. Could you please provide a public repository to reproduce the issue.

[2022-08-03 12:56] FlorianKirmaier commented on #5930
Is there a way, to use an Image from before this change?

[2022-08-03 13:24] al-cheb commented on #6010
No, it shouldn't. It's part a 3rd party external agent. You can still use git version which mentioned in the doc.

[2022-08-03 13:48] probal31 opened #6013 "Temporary failure resolving 'deb.debian.org'"
### Description

Hello Team,

We have GitHub actions setup for building/running some scripts.

However, we see some issues while the script is run.
Probably not an issue with the scripts but seems to be a system/environment issue.

Please find the error snippet below:

[code]

Can you please look into the issue and suggest any way to avoid the issue?

Thanks in advance,

### Platforms affected

-

[2022-08-03 14:46] mikhailkoliada commented on #6013
@probal31 I do not see the exact problem with debian's mirror, could you please point a place in your repo where exactly it is used in your build script/

[2022-08-03 14:48] mikhailkoliada commented on #5930
No, but you can still install r21 in runtime as described, it is the only possible solution.

[2022-08-03 14:59] probal31 commented on #6013
@mikhailkoliada

It fails here: https://github.com/Nitrux/iso-tool/blob/legacy-minimal/bootstrap.sh#L64

After the Debian source is added (here https://github.com/Nitrux/iso-tool/blob/legacy-minimal/bootstrap.sh#L58)
and `apt update` command is run

[2022-08-03 15:01] mgree commented on #598
We have arrived at macos-10.15 deprecation. Has anyone figured out something clever in the meantime?

I'm using CI to generate my macOS artifacts, and it'd be a shame to no longer be able to distribute on macOS. 😢

[2022-08-03 15:53] suhas-arcadis opened #6014 "Receiving error while creating windows image locally using packer and"
### Description

Command executed:
GenerateResourcesAndImage -SubscriptionId {YourSubscriptionId} -ResourceGroupName "myTestResourceGroup" -ImageGenerationRepositoryRoot "$pwd" -ImageType Ubuntu1804 -AzureLocation "East US" -EnableHttpsTrafficOnly $true -tags @{dept="devops";env="prod"}

error:
Latest commit:
Date: Tue Aug 2 11:08:13 2022 +0000; Commit: 12138a59a4145aeba4efade4cd0744555ed2eb5b - U

[2022-08-03 16:07] mikhailkoliada commented on #6014
Hi @suhas-arcadis

* Whats your packer version?
* Have you tried running packer fix?

[2022-08-03 16:09] mikhailkoliada commented on #5947
I am going to close this issue as we do not have any updates for the time being, feel free to contact us again if you have more details or any questions left.