[2021-11-08 07:56] miketimofeev commented on #3894
@palumbo67 here you are, this powershell snippet will uninstall the latest ndk 23.
[code]

[2021-11-08 07:58] dibir-magomedsaygitov commented on #4431
Hello @chkpnt. Thank you for your report. We will take a look.

[2021-11-08 08:52] miketimofeev commented on #1865
Hi @fabsenet!
We use the following link to install BizTalk https://aka.ms/BuildComponentSetup.EN — it is a zip archive containing Bootstrap.msi and BuildComponentSetup.msi files. The latest CU2 however is an EXE file and when I tried to apply it to the VM I got the error
![image](https://user-images.githubusercontent.com/48208649/140711917-15ce3069-34f1-4e97-8bb7-e7c5ea53f177.png)

[2021-11-08 08:57] miketimofeev commented on #4424
Hi @akyamada-ms!
How long does it take to install .Net 6 in runtime? We are thinking of changing the policy and do not pre-install .NET on the images due to maintenance and security concerns.

[2021-11-08 09:01] GalaxiaGuy opened #4436 "[macOS] msbuild failed with exit code null on specific task after recent update"
### Description

When trying to build a Xamarin project using the ResizetizerNT package, the build fails - `msbuild failed with exit code null`.

The issue is reported on the Resizetizer repo here:

https://github.com/Redth/ResizetizerNT/issues/81

But it only started happening with the update to the VM images. Previous versions worked fine and when running it locally on machines with various conf

[2021-11-08 09:09] al-cheb commented on #4436
Hey, @GalaxiaGuy
We will take a look at it.

[2021-11-08 09:14] vsafonkin commented on #4402
Hi @JolandaArends, could you try to check your builds again? I have the successful build in my fork of your sample at the moment.

[2021-11-08 09:18] al-cheb commented on #4432
@hhhaiai , Are you still experiencing this problem if set image label to `ubuntu-20.04` or `macos-11`?

[2021-11-08 09:25] al-cheb commented on #1637
@nibanks, Windows Server 2019 image with enabled Test signing mode has been deployed.

[2021-11-08 09:28] JolandaArends commented on #4402
@vsafonkin Good morning!
I was just checking the sample project this morning and noticed that the pipeline is now running correctly.
Took some time to check it in our real project as well, just to be sure, and there the tests are running again too!
Very happy with that, because that means we can upgrade to Xcode 13 now.

So I was just about to ask if there were any changes made and then I saw your

[2021-11-08 09:30] JolandaArends commented on #4402
If you are fine with it, I can close the issue now I think?

[2021-11-08 09:37] vsafonkin commented on #4402
@JolandaArends, I think yes, looks like some simulators was not installed correctly on the previous runner version.

[2021-11-08 09:39] JolandaArends commented on #4402
Allright, then I'll close the issue. Thanks a lot for looking into it and fixing it!

[2021-11-08 09:39] #4402 closed

[2021-11-08 09:48] miketimofeev commented on #4419
Hi @barnson!
Please feel free to submit a PR. Let us know if you need any help with this.

[2021-11-08 09:48] GalaxiaGuy commented on #4436
@miketimofeev I don't believe so. Nuget restore seems to be working fine (and working the same as on previous successful runs).

[2021-11-08 10:11] fabsenet commented on #1865
I was reading the issue and the pullrequest and I feel like this buildcomponent setup was created just for azure devops. Maybe handmade by @Elvis-Shi ?

I have no idea, how I can help here tbh, I only know, I want/need the latest version :-)

the cumulative update is always an update for biztalk, but the agent has only some kind of minimal installation which is obviously not detected.

[2021-11-08 10:36] MuddyChrisA commented on #4060
This does not work for me as it breaks my UWP build

Error WMC9999: Type universe cannot resolve assembly: System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a.

[2021-11-08 12:09] #4347 closed

[2021-11-08 12:37] mattip commented on #4347
Thanks.

[2021-11-08 12:56] akyamada-ms commented on #4424
Thank you, @al-cheb @miketimofeev
I tried it five times with ubuntu-latest and it took an average of 8.6 seconds. It looks like there is no problem with the Pipeline execution time.

[2021-11-08 13:50] JoeDiesel40 commented on #4060
So running  this  would  do what?

[2021-11-08 15:03] dibir-magomedsaygitov commented on #4431
Hello @chkpnt. Looks like updated VirtualBox is causing some issues. Could you please try following workaround and check if it helps to resolve the issue:
[code]

[2021-11-08 15:29] crhistianramirez commented on #2575
The ubuntu retirement may be the cause for some users but I am running windows 2019 vm and still seeing it crop up.

[2021-11-08 16:21] epvanhouten commented on #4424
@miketimofeev is the guidance going forward to rely on UseDotNet@2 to get dotnet onto the agent?

[2021-11-08 16:24] miketimofeev commented on #4424
@epvanhouten using setup-* actions or Use* tasks is a recommended way to install the desired version.

[2021-11-08 16:37] mfe- commented on #4057
Is it possible that this failure occurs on PowerShell tasks as well?

[code]

I can execute the powershell script locally with the same parameters without any problems. It looks like the maximum parameters I can use within azure pipelines are two.

[code]

[2021-11-08 16:49] al-cheb commented on #4057
@mfe- , Could you please provide the script and how do you pass parameters to it?

[2021-11-08 17:11] Sergey-Nosov-CloudFit commented on #4312
`windows-latest` is not available in Release pipelines. Please add
![Release_Agents](https://user-images.githubusercontent.com/91916122/140787144-b5d49801-d3e5-4352-8f96-85b3ff6946ac.png)
:

[2021-11-08 18:04] mfe- commented on #4057
@al-cheb I just tried to create a public repository where the issue occurs, but it looks like it's not reproduceable anymore. Maybe I have overlooked something.  If I find something I'll let you know. Thanks

[2021-11-08 18:59] lizgorb opened #4443 "Ruby's FileUtils.copy_file does not copy Tempfile properly"
### Description

We are using ubuntu-18.04 with ruby:2.7.1 for running our specs in a github action.
We started experiencing odd failures at about the same time the latest ubuntu image (https://github.com/actions/virtual-environments/blob/releases/ubuntu18/20211101/images/linux/Ubuntu1804-README.md) was rolled out.
The issue manifested for us as an error with minimagick image conversion, specifica

[2021-11-08 20:01] mikeblakeuk commented on #4424
Make sure you force the base path
https://github.com/MicrosoftDocs/azure-devops-docs/issues/9690

[2021-11-08 20:21] RonnyRos commented on #4436
Make sure all nugets are updated, if there is a old reference sdk reference in a outdated nuget this error can occur.

[2021-11-09 00:36] LennardF1989 commented on #4312
Can confirm, not available under release pipelines.

[2021-11-09 00:51] AraHaan commented on #4424
.NET 6 has been out today (a day early), I can manually install it today however when invoking an .NET global tool it will fail on me saying that the ``Microsoft.NETCore.App`` version 6.0.0 was not found in ``/usr/share/dotnet/shared/``.

[2021-11-09 01:43] AraHaan commented on #4424
Ok I found a workaround for this:

use the following locally and commit these to repository:

[code]
from repository root.

Then install all the tools you need without ``-g`` or ``--global`` in the command so they get added to that manifest.

Then in the github actions workflows run ``dotnet tool restore`` and then run the commands like normal and they will run exactly the way they was made to eve

[2021-11-09 06:17] al-cheb commented on #4443
Hello, @lizgorb
We will take a look at it.

[2021-11-09 09:04] miketimofeev commented on #1865
@fabsenet could you file an issue for this problem? We will engage BizTalk team after that

[2021-11-09 09:06] al-cheb commented on #4277
@NateB2, @rink72 , Is it right that the Microsoft Antimalware extension is enabled for a vm with the default settings?
![image](https://user-images.githubusercontent.com/47745270/140892449-c10f5f29-0239-465a-a7d8-c6831ddca3ee.png)

[code]

[2021-11-09 09:49] frederikolsen88 commented on #4312
I'm currently using windows-2016 for certain tasks where I need to use bcputil to move data between databases.

However, as far as I was able to tell when I set up my pipelines, bcputil is not present in windows-2019, which would make migration impossible for me.

Has the utility been included in any of the later images?

[2021-11-09 10:22] al-cheb commented on #4312
@frederikolsen88 , bcp util is already pre-installed on Windows Server 2019:
![image](https://user-images.githubusercontent.com/47745270/140906679-b1002578-e622-432a-a28d-7e24cf82635d.png)

[2021-11-09 11:03] fabsenet opened #4444 "Update BizTalk Server Project Build Component"
### Tool name

BizTalk Server Project Build Component

### Tool license

Developer license

### Add or update?

- [ ] Add
- [X] Update

### Desired version

3.13.785.0 / latest / CU2

### Approximate size

_No response_

### Brief description of tool

This is a continuation of the talk over here: https://github.com/actions/virtual-environments/issues/1865#issuecomment-960596247

### URL for tool's

[2021-11-09 11:39] al-cheb commented on #4444
Hey, @fabsenet
We already pre-installed the latest available version of BizTalk Server Visual Studio extension(`ms-biztalk.BizTalk`) on Windows Server 2019 - https://github.com/actions/virtual-environments/blob/main/images/win/toolsets/toolset-2019.json

[code]

![image](https://user-images.githubusercontent.com/47745270/140917406-e7e1896d-f68d-4450-9e71-56d230767506.png)

3.13.785.0 - It's the ve

[2021-11-09 11:59] chriskilding commented on #176
This issue is frequently cited as the reason a number of related issues can't be addressed. Unfortunately the reasoning is quite vague at the moment: "the legal issues are due to the software included in the image" doesn't tell us much. Please could someone from GitHub clarify what exactly the legal problems are with publishing official runner images? I.e. which software components in the images a

[2021-11-09 12:51] bitsydarel opened #4445 "Xcode 13 is not default for macOS 11 or not found."
### Description

A simple xcodebuild -version step fail.

Run xcodebuild -version
  xcodebuild -version
  shell: /bin/bash -e {0}
  env:
    PR_NUMBER:
    DEVELOPER_DIR: /Applications/Xcode_13.app/Contents/Developer
    JAVA_HOME_12.0.2_x64: /Users/runner/hostedtoolcache/jdk/12.0.2/x64
    JAVA_HOME: /Users/runner/hostedtoolcache/jdk/12.0.2/x64
    JAVA_HOME_12_0_2_X64: /Users/runner/hostedtoolca

[2021-11-09 13:00] bitsydarel commented on #4445
Seems like the directory "/Applications/Xcode_13.app" does not exist but directory exist "/Applications/Xcode_13.0.app"

As specified here https://github.com/actions/virtual-environments/issues/4355

[2021-11-09 13:07] bitsydarel commented on #4445
The directory path is wrong
[code]

Should be
[code]

[2021-11-09 13:09] al-cheb commented on #4445
Hello, @bitsydarel
Please check Xcode section in the documenation - https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md#xcode

### Xcode
| Version        | Build    | Path                              |
| -------------- | -------- | --------------------------------- |
| 13.2 (beta)    | 13C5066c | /Applications/Xcode_13.2.app      |
| 13.1           | 13A1030d

[2021-11-09 13:12] bitsydarel commented on #4445
@al-cheb  Yes but the github actions pipeline is using the wrong directory path
`DEVELOPER_DIR: /Applications/Xcode_13.app/Contents/Developer`

[2021-11-09 13:14] bitsydarel commented on #4445
seems like missing a '.0' in the xcode app name

[2021-11-09 13:38] juanmalm commented on #3949
@maxim-lobanov would be possible to include Microsoft.VisualStudio.Component.Windows10SDK.17763 as part of the included software?? We have to keep 17763 as minimum version for our UWP project.

[2021-11-09 13:46] al-cheb commented on #4445
@bitsydarel, As I can see you manually set up these variables in your pipeline and `DEVELOPER_DIR` env var points to the wrong dir.
[code]

[2021-11-09 13:52] miketimofeev opened #4446 "[all OSs] Default Nodejs version will be set to 16 on November, 29"
### Breaking changes

We are going to set Nodejs 16 as the default version across all VM images.

### Target date

Image deployment is starting on November 29 and will take 3-4 days.

### The motivation for the changes

Node.js 16 has moved to Active LTS status and is ready for general use. We would like to provide images with the latest stable updates as default ones.

### Possible impact

If you

[2021-11-09 14:54] mikeblakeuk commented on #4424
You are hitting the bug I had
https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1906
I'm just going to wait this time.
Note; .net 6.0 is on the windows-2022 builds, just not ubuntu yet

[2021-11-09 15:45] #4432 closed

[2021-11-09 18:32] MichaelGoulding opened #4450 "Update/Add Miniconda to windows-2022 image"
### Tool name

Miniconda

### Tool license

same as what's on windows-latest

### Add or update?

- [X] Add
- [ ] Update

### Desired version

same as what's on windows-latest

### Approximate size

_No response_

### Brief description of tool

Miniconda is missing from the windows-2022 image

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's function

[2021-11-09 19:21] zcsizmadia commented on #4424
@AraHaan

This will install the latest .NET 3.1, 5.0 and 6.0 in the github action. Adding this will make the action future proof, in case Github decides to remove the dotnet SKDs from the latest imgages. @miketimofeev mentioned earlier, that it is under consideration. Btw each SDK install takes 6-7s.

[code]

[2021-11-09 23:15] julianxhokaxhiu commented on #3949
Please consider updating VS2022 to the official release instead of the preview one. Thank you!

[2021-11-10 07:18] vsafonkin commented on #4436
Hi @GalaxiaGuy, could you please provide some repro in public repository? Maybe sample application project with `ResizetizerNT ` or something like this.

[2021-11-10 09:25] miketimofeev commented on #4450
Hi @MichaelGoulding!
Could you please clarify — do you use conda in AzureDevOps or GH actions? I'm asking since there is a popular action for GH to install and prepare conda environment in runtime https://github.com/marketplace/actions/setup-miniconda

[2021-11-10 09:36] fabsenet commented on #4444
The actual tool download comes from https://aka.ms/BuildComponentSetup.EN and is a zip file containing 2 MSIs and a bunch of BizTalk-DLLs but not that vsix. the vsix is neither included nor needed.

this zip file is outdated.

[2021-11-10 10:20] GalaxiaGuy commented on #4436
@vsafonkin https://github.com/GalaxiaGuy/xf-bugs/actions

The `resizetizer` builds are a branch with Resizetizer installed.
The other branch is just to demonstrate it builds okay otherwise.

On Github actions the error is different `Process completed with exit code 137`

[code]

[2021-11-10 10:45] dibir-magomedsaygitov commented on #4383
Hello @leleliu008. `ANDROID_NDK_LATEST_HOME` env var should be available on Ubuntu 18 image. I'm going to close this issue. Feel free to contact us in case of any questions.

[2021-11-10 10:46] #4383 closed

[2021-11-10 11:39] miketimofeev commented on #4419
@barnson Thanks for the PR!
The changes will be deployed next week.

[2021-11-10 11:56] vsafonkin commented on #4436
@GalaxiaGuy, as I see the latest version of `resizetizer` is 0.3.0: https://www.nuget.org/packages/Resizetizer.NT
In your repro project (great thanks for it!) `resizetizer` is 0.2.0: https://github.com/GalaxiaGuy/xf-bugs/blob/resizetizer/Bug/Bug.csproj

I've tried to update it to 0.3.0 and project build was successful: https://github.com/vsafonkin-test-organization/xf-bugs/actions/runs/1443981192

[2021-11-10 12:07] RonnyRos commented on #4436
If i can just chip in, i have tried everything from both 0.2.0 and 0.3.0.
If i remove just the resizetizer nuget from the repo, the appcenter build goes through and on azure pipelines aswell (with of course no images working).
If i add 0.3.0 to Android and iOS and the shared project it fails with the same errorcode. This is due to the fact that appcenter and AzurePipelines run on a too low version

[2021-11-10 12:08] RonnyRos commented on #4436
If i can just chip in, i have tried everything from both 0.2.0 and 0.3.0.
If i remove just the resizetizer nuget from the repo, the appcenter build goes through and on azure pipelines aswell (with of course no images working).
If i add 0.3.0 to Android and iOS and the shared project it fails with the same errorcode. This is due to the fact that appcenter and AzurePipelines run on a too low version

[2021-11-10 12:29] vsafonkin commented on #4436
@RonnyRos, could you try to add step to setup Xamarin versions as Xamarin.iOS 15.2 and Xamarin.Android 12.0?
[code]

[2021-11-10 12:45] GalaxiaGuy commented on #4436
@vsafonkin That is... unfortunate. Sadly, the project I'm actually working is more complicated in various ways so I'm not sure off hand what is important.

Just for reference, the timing of the problem from our side:

* We were using resizetizer 0.2.0 without a problem.
* Some time last week all our builds started failing on AzDo (across all our active branches) despite building fine locally.
* We

[2021-11-10 13:17] barnson commented on #4419
Thanks!

[2021-11-10 13:29] arsdever opened #4458 "`vcpkg` upgrade required since `pcre` issue"
### Description

Hi guys. I'd like to ask the `vcpkg` upgrade on (at least) windows build machines because of the `pcre` package issues reported here https://github.com/microsoft/vcpkg/issues/21201.

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [X] Windows Server 2019
- [ ] Windows Server 2022

### Image versi

[2021-11-10 14:23] j-boivie opened #4459 "Default `bash` shell doesn't seem to run with `-o pipefail`"
### Description

I had an issue where I piped the output of my tests to `tee`, which would make the test step exit with success, even if the tests failed. Setting the shell parameter to use pipefail explicitly solved the issue.

[code]
According to the [docs](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference) this shou

[2021-11-10 14:36] miketimofeev commented on #3949
@julianxhokaxhiu the image rollout has started and will be finished tomorrow.

[2021-11-10 14:38] al-cheb commented on #4459
https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference
For **built-in shell** keywords, we provide the following defaults that are executed by GitHub-hosted runners.

E.g.:
[code]
![image](https://user-images.githubusercontent.com/47745270/141132584-f99ebee6-2297-4b61-a800-135627d95ec4.png)

If you want to request on changi

[2021-11-10 14:38] #4459 closed

[2021-11-10 14:43] miketimofeev commented on #4444
@fabsenet thanks for the clarification. The vsix is installed by one of those MSIs. We have engaged the BizTalk team.

[2021-11-10 15:20] al-cheb commented on #4458
Hey, @arsdever
We have been starting a new image rollout with `Vcpkg (build from master <70033db>)` https://github.com/actions/virtual-environments/pull/4460.  Will it work for you?

[2021-11-10 15:22] #4327 closed

[2021-11-10 15:25] dsame commented on #4443
@lizgorb
Most probably the problem is caused by linux kernel upgrade. The simplest workaround could be to call `FileUtils.touch(tempfile)` before the copying the temp file.

It is proven the workaround works for the repro you've provided
https://github.com/dsame/actions-demo/actions/runs/1444805652
[code]

@al-cheb @dibir-magomedsaygitov @miketimofeev

The root cause is the `copy_file_range` linux

[2021-11-10 15:29] arsdever commented on #4458
Do I have any ways to check if the proposed image for the build machine will work? AKA, can I run my action on the proposed machine image?

[2021-11-10 15:38] GalaxiaGuy commented on #4436
@vsafonkin I just tried updating to 0.3.0 on my repro repo, and it failed the same way:
https://github.com/GalaxiaGuy/xf-bugs/runs/4165286373?check_suite_focus=true

After checking your changes, I noticed you only updated the package in the shared project, not in the platform (Android) project.

So, I downgraded the platform package version (so now shared is on 0.3.0 and Android is on 0.2.0) and i

[2021-11-10 15:46] AlexChadwickP opened #4462 "Xamarin Android builds fail"
### Description

We've got a couple of Xamarin Android applications whose build fails when trying to build it on the windows 2022 image. It works on our development machines without any errors. Our best guess is that the image might be missing some Xamarin component.

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016

[2021-11-10 15:51] al-cheb commented on #4462
Hey, @AlexChadwickP
Could you please provide public repo with test app that we can reproduce from our site?

[2021-11-10 15:52] arsdever commented on #4458
If it works, then I'd guess I'll be good with that image. Will update on this thread if the issue is still there after the image is published.

[2021-11-10 16:56] hbq1 opened #4463 "_PyUnicode_DecodeUnicodeEscape on Py3.9, ubuntu-20.04 v 20211108.1"
### Description

Hello,

We are getting the following error on py3.9 Github Actions workflow after the ubuntu-20.04 v20211108.1 release (2 days ago):

[code]

Full log: https://github.com/deepmind/distrax/runs/4168111281?check_suite_focus=true

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 20

[2021-11-10 16:59] hbq1 commented on #4463
The error occurs only in py3.9 virtualenv.

[2021-11-10 17:27] gabrielbaptista opened #4464 "Cannot define the machine for the Microsoft Agent"
### Description

For some reason, I have tried to setup a new environment to build in my Azure DevOps Account, and I could not set the virtual environment.

![image](https://user-images.githubusercontent.com/4146065/141162673-1daec788-ccf5-4387-93cc-6320d5c0659e.png)

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016

[2021-11-10 18:01] rgraber opened #4466 "Latest VirtualBox doesn't work in macOS 10.15 virtualenv"
### Description

Setting up docker in Mac with `docker-machine --debug create --driver virtualbox default` fails with:
[code]
This is preventing us from running our ci tests in the mac virtualenv. We believe the culprit to be an upgrade to VirtualBox after looking at this thread https://discuss.hashicorp.com/t/vagrant-2-2-18-osx-11-6-cannot-create-private-network/30984/4 (the thread deals with Mac

[2021-11-10 18:57] LanceMcCarthy commented on #4424
Just to add, this request is more than just installing NET6 RTM to the runner. We also need `VS 2022 Current` and it's NET6.0 based tooling.

[2021-11-10 18:58] v-dineshdeva commented on #4312
Iam not able to see any "Agent Specification" section. How do I get that added?

![image](https://user-images.githubusercontent.com/94075348/141175996-cb1665b4-df7a-480d-a402-64b3d8c14f3f.png)

[2021-11-10 19:32] miketimofeev commented on #4466
Hi @rgraber!
Could you please take a look at this issue https://github.com/actions/virtual-environments/issues/4431?
Is it the same problem?

[2021-11-10 19:35] miketimofeev commented on #4424
@LanceMcCarthy the VS2022 stable image with .NET 6.0 is currently rolling out and will be generally available tomorrow.

[2021-11-10 19:47] miketimofeev commented on #4312
@v-dineshdeva Hey!
I assume you have the same issue as described here https://github.com/actions/virtual-environments/issues/4464

[2021-11-10 19:48] miketimofeev commented on #4464
Hi @gabrielbaptista!
We will contact the team responsible for AzDO and ask what can be done.

[2021-11-10 20:26] rgraber commented on #4466
That worked, thank you! Closing the issue.

[2021-11-10 20:26] #4466 closed

[2021-11-10 20:30] aardappel opened #4468 "Update/Add Platform Toolset v143 for windows-latest"
### Tool name

Platform Toolset v143

### Tool license

no idea

### Add or update?

- [X] Add
- [ ] Update

### Desired version

v143

### Approximate size

_No response_

### Brief description of tool

VS2022 was just released, but it is not supported on windows-latest. I can't use windows-2022 either, since that is missing other tools. Platform Toolset v143 would be sufficient for building thru

[2021-11-10 21:37] djohnson864 commented on #4312
I already have in the yaml file.

pool:
  vmImage: 'windows-latest'

But still got the warning.  Any ideas?

[2021-11-10 21:59] RonnyRos commented on #4436
@vsafonkin No luck unfortunatley

[2021-11-10 22:14] lizgorb commented on #4443
hey @dsame,
Thank you for the links to the related issues.
Your workaround is exactly what we ended up implementing as a temporary patch. The tricky bit is that we are using gems that are performing these operations under the hood (like [minimagick](https://github.com/minimagick/minimagick)).

Is it possible to specify which virtual environment version our actions run on? Sounds like if this is a

[2021-11-10 23:12] astarche commented on #2690
It does look like this is fixed in cpython `venv` code, but not in 3.10. python/cpython#25216

[2021-11-10 23:52] rink72 commented on #4277
Hi @al-cheb , sorry for the delay.

So far the build machine hasn't had the "IaaSAntimalware" extension installed. However, the `MDE.Windows` extension does get installed. This happens eventually though and in most cases *after* `Configure-Antivirus.ps1` has run which may reset configuration?

The settings for the `MDE.Windows` extension.

[code]

[2021-11-11 00:13] NateB2 commented on #4277
@al-cheb - I finally had a chance to look at this, and like @rink72, the IaaSAntimalware extension isn't installed but MDE.Windows is.

[2021-11-11 02:22] NateB2 commented on #4277
@rink72 - I tried adding the "ConfigureAntivirus.ps1" script right before the point where it installs Ruby, and it still gives the same error, so I'm not sure it's a result of the settings being reverted.

[2021-11-11 06:12] al-cheb commented on #4277
@NateB2 , @rink72 , Could you please update `Install-Ruby.ps1` script to include these commands and provide output?
[code]

[2021-11-11 06:50] dibir-magomedsaygitov commented on #4443
Hello @lizgorb. It is impossible to use the previous release.

[2021-11-11 07:03] ljharb opened #4471 "Update/Add nvm to windows-latest"
### Tool name

nvm

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

v0.39.0

### Approximate size

_No response_

### Brief description of tool

nvm is already included on ubuntu-latest and macos-latest. nvm also supports WSL, but it's not included on windows-latest. Could it be added?

(i'm the nvm maintainer)

### URL for tool's homepage

https://nvm.sh

#

[2021-11-11 07:16] al-cheb commented on #4471
Hello, @ljharb
We don't have any plans to pre-install WSL environment related to maintenance concern. Could we install nvm on Windows Server without using WSL?

[2021-11-11 07:18] miketimofeev commented on #4464
@gabrielbaptista there was an issue on the AzureDevOps side, which should be resolved by now. I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-11 07:19] #4464 closed

[2021-11-11 07:19] miketimofeev commented on #4312
@v-dineshdeva there was an issue on the AzureDevOps side, which is resolved by now

[2021-11-11 07:23] miketimofeev commented on #4312
@djohnson864 does your build run on windows-2019? You can check it in the Initialize job step
![image](https://user-images.githubusercontent.com/48208649/141255597-b80bcdff-6773-448d-8a1f-4ab8836b12df.png)

[2021-11-11 07:31] RonnyRos commented on #4436
More info from Azure Pipeline:
ProcessSharedFonts:
Creating "obj/Release/sharedfont.stamp" because "AlwaysCreate" was specified.
##[debug]Exit code null received from tool '/Library/Frameworks/Mono.framework/Versions/Current/Commands/msbuild'
##[debug]STDIO streams have closed for tool '/Library/Frameworks/Mono.framework/Versions/Current/Commands/msbuild'
##[debug]task result: Failed
##[error]Xama

[2021-11-11 07:54] dsame commented on #4443
@lizgorb is there a reason to use ubuntu-18.04? It is confirmed 20.04 image does not have the problem.

[2021-11-11 08:45] ki11roy commented on #264
Why this one is closed? The shell is still missing on ubuntu-latest, for example too.

[2021-11-11 10:03] vsafonkin commented on #4436
@GalaxiaGuy, @RonnyRos , could you try to remove current mono version and install previous mono version on the runner in runtime? As I see, msbuild version was updated:
mono `6.12.0.125` -> `6.12.0.140`
msbuild `16.6.0.15801` -> `16.9.0.22901`

You can do it with the helper script: https://github.com/vsafonkin-test-organization/xf-bugs/blob/resizetizer/install-mono.sh
I've tried downgrade mono in

[2021-11-11 10:27] RonnyRos commented on #4436
Im able to set the SDK in the pipeline, i get mono missing on nuget restore task.
Also im not sure how to set the MSbuild version? Do you want me to switch to MSbuild only task instead of Xamarin.iOS task?.
Again thanks alot for the help.
I currently use the following YAML:

# Xamarin.iOS
trigger:
- iOS

pool:
  vmImage: 'macOS-11'

steps:
# To manually select a Xamarin SDK version on the Microsof

[2021-11-11 10:46] vsafonkin commented on #4436
@RonnyRos, could you please try to add script in your repository and invoke it in your pipeline? There is no Xamarin bundle 6_12_0_125 on the runner so your try to switch Xamarin sdk is not working.

[2021-11-11 11:27] RonnyRos commented on #4436
I run it as Bash, not sure if thats what you intended.

- task: Bash@3
  inputs:
    filePath: '$(Build.SourcesDirectory)/install-mono.sh'

/Users/runner/work/1/s/install-mono.sh: line 1: ﻿MONO_VERSION=6.12.0.140: command not found
/tmp/visualstudio.XEDj ~/work/1/s
Installing Mono ...
Downloading https://dl.xamarin.com/MonoFrameworkMDK/Macx86/MonoFramework-MDK-.macos10.xamarin.universal.pkg...
htt

[2021-11-11 11:42] vsafonkin commented on #4436
It's weird, version 6.12.0.125 is specified in script. Please double-check that the script is transferred correctly

[2021-11-11 12:10] krokofant commented on #3949
Any idea when `windows-latest` will point to `windows-2022`? If it will switch just after windows-2022 goes stable then maybe it should be mentioned.

[2021-11-11 12:27] miketimofeev commented on #4450
@MichaelGoulding the changes have been merged. The new image will be deployed next week. I'll let you know once the deployment is finished

[2021-11-11 12:38] vsafonkin commented on #4436
@RonnyRos, I've tested it on Azure DevOps:
yaml file: https://github.com/vsafonkin/xf-bugs/blob/resizetizer/azure-pipelines.yaml
script: https://github.com/vsafonkin/xf-bugs/blob/resizetizer/install-mono.sh

Test run: https://dev.azure.com/v-vlsafo/test/_build/results?buildId=6&view=results

[2021-11-11 12:45] RonnyRos commented on #4436
Yes the the script works (I might of not been clear enough in the last post about that),  but still the same error occurs when trying to build the solution. And again this only occurs on the resizetizer nuget added.

##[debug]Exit code null received from tool '/Library/Frameworks/Mono.framework/Versions/Current/Commands/msbuild'
##[debug]STDIO streams have closed for tool '/Library/Frameworks/Mono

[2021-11-11 12:50] vsafonkin commented on #4436
Your project builds successfully on your local machine? If yes, could you check msbuild version on your local machine?
[code]

[2021-11-11 12:54] RonnyRos commented on #4436
It is, locally it works with:
MsBuild 16.9.0

Pipeline seems to run: 'Found msbuild version: 16.6.0.15801'

[2021-11-11 13:02] vsafonkin commented on #4436
Thanks, looks like the current msbuild version on the runner is the same as on your local machine. I will continue to investigate it.

[2021-11-11 13:03] RonnyRos commented on #4436
No thank you.

[2021-11-11 13:11] vsafonkin commented on #4436
The current default Xamarin SDKs on the runner: https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md#xamarin-bundles

I just wanted to find out if the update of msbuild is the reason of issue.

[2021-11-11 13:16] ceccomil opened #4479 "Update/Add workload .NET WebAssembly build tools"
### Tool name

wasm-tools

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

Enables WebAssmbly AOT for Blazor applications

### URL for tool's homepage

https://github.com/mono/mono/tree/bdd772531d379b4e78593587d15113c37edd4a64/sdks/wasm

### Provide a basic test case to validate the

[2021-11-11 13:54] miketimofeev commented on #4479
Hi @ceccomil!
This component is included in [the Microsoft.VisualStudio.Workload.NetWeb](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-enterprise?view=vs-2022#aspnet-and-web-development), which is installed on VS2022:
https://github.com/actions/virtual-environments/blob/60dcd87ff38380e3b67d6a2cdd4d8e1b37131782/images/win/toolsets/toolset-2022.json#L233

[2021-11-11 14:32] miketimofeev commented on #264
@ki11roy installing zsh takes about 20 seconds in runtime so it shouldn't be the issue.

[2021-11-11 14:33] miketimofeev commented on #3949
@krokofant we are working on a migration plan and will announce the timeline a bit later.

[2021-11-11 14:51] algomaster99 opened #4485 "Build failure due to running a subprocess in Java in windows-2019/20211102.4 environment"
### Description

I am executing junit5 for executing tests in my [project](https://github.com/SpoonLabs/sorald) and inside one of the test cases, a [subprocess is executed](https://github.com/INRIA/spoon/blob/2fff4c50266f79bc06b961e3b01ca6c6e0fcc1ab/src/main/java/spoon/support/compiler/SpoonPom.java#L523) which tries to find the path to the `mvn` executable. If we run `mvn.cmd -version`, the proce

[2021-11-11 14:54] al-cheb commented on #4485
Hey, @algomaster99
We will take a look at it.

[2021-11-11 14:55] algomaster99 commented on #4485
Hi @al-cheb !

Thank you! Please mention me if you need anymore details.

[2021-11-11 15:14] ceccomil commented on #4479
Hi @miketimofeev thanks for the prompt reply... To be honest, that is what I thought but then I don't understand why the build on Azure agent is failing:
![image](https://user-images.githubusercontent.com/40296947/141321266-56d433ab-605f-4add-8afb-fa8b19600c7e.png)

`

       "D:\a\1\s\B~~~es\K~~~App\K~~~App.csproj" (Restore target) (1) ->
       "D:\a\1\s\B~~~es\K~~~App\K~~~App.csproj" (_Generate

[2021-11-11 15:15] miketimofeev commented on #4479
@ceccomil could you create a simple repro project so we can take a look?

[2021-11-11 15:24] dibir-magomedsaygitov commented on #4376
All PR's ([macOS](https://github.com/actions/virtual-environments/pull/4472). [Windows](https://github.com/actions/virtual-environments/pull/4473) and [Ubuntu](https://github.com/actions/virtual-environments/pull/4472)) were merged.

[2021-11-11 15:48] ceilingfish opened #4486 "libgdiplus on ubuntu"
### Tool name

libgdiplus

### Tool license

None? https://github.com/mono/libgdiplus/blob/main/LICENSE

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

140Kb

### Brief description of tool

This is a supporting library used by the `System.Drawing` API in .net 5, when it runs on linux. It's authored by the Mono project.

### URL for tool's homepage

h

[2021-11-11 16:02] al-cheb commented on #4458
@arsdever , Windows Server 2019 has been deployed with `Vcpkg (build from master <70033db>)`.

[2021-11-11 16:02] #4458 closed

[2021-11-11 16:04] ljharb commented on #264
@miketimofeev the time isn’t the issue; it’s knowing which install command to use, and having to conditionally run it when testing on a matrix of shells.

[2021-11-11 16:04] al-cheb commented on #4424
@LanceMcCarthy , Windows Server 2022 with VS2022 has been deployed.

[2021-11-11 16:06] Chaouki-Tiouassiouine commented on #4277
I am getting the following error when running the Windows script:

==> vhd: Provisioning with powershell script: C:\a\22\s\virtual-environments\images\win/scripts/Installers/Install-Ruby.ps1
    vhd: Starting installation Ruby...
    vhd: Starting Ruby 2.4 installation
    vhd: Downloading package from: https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-2.4.10-1/rubyinstall

[2021-11-11 16:15] ceccomil commented on #4479
https://dev.azure.com/milanifrancesco/Public%20Tests/_git/BlazorAotTest/commits

![image](https://user-images.githubusercontent.com/40296947/141331014-bed18611-bd94-4e90-8169-46b12623aed9.png)

As you can see the pipeline build successfully from the feature branch where AOT is disabled but fails when AOT (from main)

Locally it works fine see logs below:
*******************************************

[2021-11-11 16:20] ljharb commented on #4471
nvm also works in git bash and cygwin; https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md doesn’t mention those but it does mention Bash - it’s only bash if it’s posix compliant, and nvm works in posix shells, so i assumed that “bash” meant that WSL is installed.

[2021-11-11 16:26] al-cheb commented on #4277
@Chaouki-Tiouassiouine , Do you have MDE.Windows or IaaSAntimalware enabled extensions?

[2021-11-11 16:53] eelco commented on #1717
I’m running into the same issue and this had me stumped for a solid hour. I do feel that this is (still) a bug.

Interestingly, it also only happens for the tag that is being checked out, older tags do have their body available.

[2021-11-11 17:00] MaksimZhukov commented on #4486
Hello @ceilingfish !
Considering fast installation time in runtime and maintenance concerns we would not like to add this tool to the images.

I'm going to close the issue, but feel free to contact us if you have any concerns.
Thank you!

[2021-11-11 17:00] #4486 closed

[2021-11-11 17:01] eelco commented on #1717
Found the relevant issue in the checkout repo: https://github.com/actions/checkout/issues/290, which has two other workarounds:
- Use `actions/checkout@v1`
- Run `git fetch --force --tags`

[2021-11-11 17:37] ki11roy commented on #264
Example use case for zsh on ubuntu-latest (substitution)
[code]

[2021-11-11 18:15] martingem commented on #4277
Hello @al-cheb, [long time no see](https://github.com/actions/virtual-environments/issues/2527),

I have the same issue, and I can provide the information you asked for the others, at least from our side:

No, neither.

The issue happens either during the Ruby Installer or Java Installer, in our case.
[code]
Since java is installed before Ruby, I cannot provide the status of the computer/antivirus

[2021-11-11 19:04] NateB2 commented on #4277
@al-cheb
[code]

[2021-11-11 19:17] Chaouki-Tiouassiouine commented on #4277
@al-cheb No we do not have those enabled

[2021-11-11 19:43] miketimofeev commented on #4479
@ceccomil thanks for the example! I've created a VM from the image and it seems the workload doesn't install this component by default as the component is optional.
![image](https://user-images.githubusercontent.com/48208649/141348983-e550af31-40b5-4d85-861c-525244a5e2d1.png)
Could you try to install it in runtime using the following snippet and check if it helps?
[code]

[2021-11-11 19:55] miketimofeev opened #4488 "Windows Server 2022 with Visual Studio 2022 is generally available starting from November, 15"
### Change

Windows Server 2022 with Visual Studio 2022 is generally available starting from November, 15. Use it by putting `runs-on: windows-2022` in your workflow file.

### Target date

November, 15

### The motivation for the changes

- Visual Studio 2022 came out of preview
- Most of the software issues with the new image were resolved

### Virtual environments affected

- [ ] Ubuntu 18.04
-

[2021-11-11 19:58] miketimofeev commented on #3949
We are going to stop treating the image as beta starting from November, 15.
The announcement available here
https://github.com/actions/virtual-environments/issues/4488

[2021-11-11 19:58] #3949 closed

[2021-11-11 20:08] arsdever commented on #4458
I have rerun my workflow and it succeeded. Thanks for taking care of the upgrade. 👍🏼 🥇

[2021-11-11 20:09] miketimofeev commented on #4400
@FrancescElies the images have been deployed!

[2021-11-11 20:09] #4400 closed

[2021-11-11 20:15] AraHaan commented on #4424
Actually I replaced the setup-dotnet github action, but I figured out a solution to the .NET Core global tools issue.

[2021-11-11 20:28] rink72 commented on #4277
@al-cheb

We're the same as @martingem in that it can be the Java or Ruby installer script that fails.

I actually have one of the broken build machines around to try get logs off if that's helpful?

[code]

[code]

[2021-11-11 21:16] ceccomil commented on #4479
@miketimofeev Many thanks the installation during the pipeline execution solved the problem.
![image](https://user-images.githubusercontent.com/40296947/141369884-bcb0ce52-beb7-4a02-8984-0a5db9a919a6.png)

I'm just wondering since is quite a time-consuming task, will it always be treated as an optional component? or is there a plan to add it to the image?

[2021-11-12 06:20] #4311 closed

[2021-11-12 06:28] dibir-magomedsaygitov commented on #4329
Hello @heronrs. Any updates on the issue?

[2021-11-12 06:35] dibir-magomedsaygitov commented on #4443
@lizgorb other than applying workaround provided by @dsame or switching to Ubuntu20 - there is no other way to resolve the issue from your end.

[2021-11-12 08:15] mikhailkoliada commented on #4462
@AlexChadwickP, hello!
Could you please provide a minimalistic example to reproduce the issue?

[2021-11-12 08:16] al-cheb commented on #4445
@bitsydarel, Any updates?

[2021-11-12 09:20] miketimofeev commented on #4479
@ceccomil since VS2022 is the reason to use windows-2022 image we don't mind adding the component. The changes will be available next week.

[2021-11-12 09:21] KVROHITH098 commented on #4479
I will do this change thank you.

[2021-11-12 10:02] KVROHITH098 commented on #4479
Is this done Jake?

[2021-11-12 10:03] KVROHITH098 commented on #4479
I will do this on Saturday.

[2021-11-12 10:50] miketimofeev commented on #2604
I'm afraid we can't provide the information due to NDA so I'm going to close this issue.

[2021-11-12 10:50] #2604 closed

[2021-11-12 10:52] #4283 closed

[2021-11-12 10:53] miketimofeev commented on #4283
@jeffj254 we have created separate issues for each OS and put them in the backlog so this issue can be closed for now.

[2021-11-12 10:55] mikhailkoliada commented on #4463
The minimal repro is

[code]
I can reproduce the problem with python v3.9.8 even on my personal Linux machine (older versions do not seem to be affected), and as was linked above it looks like the problem was fixed by upstream in their repo already, so nothing we can do about it but waiting for another release.

I am going to close this issue now, but feel free to ping us if you have questions.

[2021-11-12 10:55] #4463 closed

[2021-11-12 11:00] KalleOlaviNiemitalo commented on #2604
I suppose that means a user of GitHub-hosted macOS runners might not have the subleasing right defined in clause 3.B.

[2021-11-12 11:00] KVROHITH098 commented on #3949
I willl do this one do not worry

[2021-11-12 11:01] miketimofeev commented on #4424
As we decided not to add .NET for all the images (at least for now) I'm going to close the issue.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-12 11:01] dibir-magomedsaygitov commented on #4329
I'm going to close this issue for now. In case of any concerns or question feel free to reopen it or create new one.

[2021-11-12 11:01] #4329 closed

[2021-11-12 11:03] mikeblakeuk commented on #4424
When will the **Ubuntu 20.04** DevOps agent have .NET 6.0 pre installed? (in the same style that it has 5.0)

[2021-11-12 11:03] dibir-magomedsaygitov commented on #4468
Hello @aardappel. Thank you for your request. We've prepared [the PR](https://github.com/actions/virtual-environments/pull/4491) to add `Microsoft.VisualStudio.ComponentGroup.UWP.VC` to VS2022 (v143). Unfortunately, VS2019 doesn't support v143.

[2021-11-12 11:04] KVROHITH098 commented on #4424
Yes it we are working on this one as of now

[2021-11-12 11:06] KVROHITH098 commented on #3949
I have a idea on this Jake.

[2021-11-12 11:06] miketimofeev commented on #4468
@aardappel what tools prevent you from using windows-2022?

[2021-11-12 11:08] KVROHITH098 commented on #4468
Well he says that the file which is a system admin is locking him out of the PC database so that is why he is unable to login

[2021-11-12 11:12] miketimofeev commented on #4424
@mikeblakeuk please consider using the task https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops
Please provide a reason if it's not possible for you.

[2021-11-12 11:37] julianxhokaxhiu commented on #4488
Just wanted to let you know I've tested my pipeline on top of this image and it worked great. Smoother migration ever :)

Kudos to the team!

[2021-11-12 11:52] KVROHITH098 commented on #4488
Well I can create a issue for that if u want me to Jake?

[2021-11-12 11:53] KVROHITH098 commented on #4488
Well I am working on this as of right now I will let you guys now soon ok?

[2021-11-12 12:06] MasterKolka commented on #4123
@v-pkoneti When this fix is going to be available in Azure Devops?

[2021-11-12 12:41] KVROHITH098 commented on #4488
Please the new ones to me thank you!

[2021-11-12 13:25] KVROHITH098 commented on #4436
Ok I will!!!

[2021-11-12 14:10] nikolai-frolov commented on #4485
Hello @algomaster99. Looking at the exception messages `spoon.SpoonException: M2_HOME must be initialized to use this MavenLauncher constructor`, your project still uses `M2_HOME` which was deprecated and removed along with Win 20211102.4 release (more details here: https://github.com/TheCakeIsNaOH/chocolatey-packages/issues/17). Probably you need to redesign your scripts to avoid M2_HOME usage.

[2021-11-12 14:42] algomaster99 commented on #4485
@nikolai-frolov Thanks for your reply!

Our project is configured to find path of `mvn` from `PATH` as well (by running `mvn -version` on linux and `mvn.cmd -version` on Windows). It doesn't necessarily rely on the value of `M2_HOME`. However, we cannot run execute the `mvn.cmd -version` command in Windows because when we execute the above snippet,

the subprocess exits with `1` however, JVM execu

[2021-11-12 14:53] hbq1 commented on #4463
Thanks guys! I can confirm that the issue has been resolved.

[2021-11-12 17:12] aardappel commented on #4468
Not exactly sure why, but I got this with the 2022 image:

[code]
see run: https://github.com/aardappel/lobster/runs/4170461751?check_suite_focus=true

[2021-11-12 18:28] rufusnufus opened #4495 "curl: command not found in Ubuntu20.04"
### Description

I'm facing a problem with curl command.
According to installed apt packages in [https://github.com/actions/virtual-environments/blob/ubuntu20/20211108.1/images/linux/Ubuntu2004-README.md](https://github.com/actions/virtual-environments/blob/ubuntu20/20211108.1/images/linux/Ubuntu2004-README.md) curl package should be installed. In one repository action works without any problem, h

[2021-11-12 19:15] AtOMiCNebula commented on #4424
@miketimofeev, can you elaborate on how this decision was reached?  The answer isn't obvious to me (and a few others, given the downvotes on your comment).  .NET 6 _is_ ultimately getting installed in the windows-2022 images, likely from the VS2022 installation process (it's not listed in the dotnet toolset section for either -2019 or -2022).

What will happen to the -2019 image when .NET 5 reache

[2021-11-12 19:40] AraHaan commented on #4424
I think they uninstall the EOL versions of .NET.

[2021-11-12 20:56] AtOMiCNebula commented on #4424
Will we have no pre-installed SDKs then?  Is that a happy position?  It feels inconsistent to me, especially if getting .NET 6 onto the windows-2022 agents is a side-effect and not necessarily an intended effect.

[2021-11-12 21:35] AraHaan commented on #4424
In the mean time I would suggest using the github action I made and follow the steps I posted above using my workflow as an example. This should work 100% of all needed usage of the .NET 6 SDK.

[2021-11-13 06:55] RainbowMango opened #4496 "/bin/tar: not works properly on 'Hosted Agent(hosted)'"
### Description

We are using the [fossa-contrib/fossa-action](https://github.com/karmada-io/karmada/blob/master/.github/workflows/fossa.yml), it starts falling this morning, the error message I can get as follows:
[code]
More details info you can get from [here](https://github.com/karmada-io/karmada/runs/4196669453?check_suite_focus=true).

I compared the logs against previous and found that all

[2021-11-13 07:37] 3033071101 commented on #4060
，

[2021-11-13 09:13] MatthewSteeples commented on #1549
Our CI build on `win-*` agents takes approximately 23 minutes, whereas our build on `fv-az*` images takes 16 minutes. Is this kind of difference to be expected as well?

[2021-11-13 09:58] arambazamba commented on #4312
Some of the az-204 classroom moc labs depend on this agent and VS 2017 ... wont build with win19 or win22 ... best would be to update the labs from "old" .net ... Examples: https://github.com/MicrosoftLearning/AZ400-DesigningandImplementingMicrosoftDevOpsSolutions/blob/master/Instructions/Labs/AZ400_M11_Setting_Up_and_Running_Functional_Tests.md

[2021-11-13 10:03] alanwilter opened #4498 "GitHub Actions failing because of a python module"
### Description

The original ticket is here: https://support.github.com/ticket/personal/0/1334390

Briefly:

After tens of commits to debug GitHub actions (act is really useless for me) I found and fixed the issue with:

[code]

Obviously this is a really poor solution. I tried to add `/usr/lib/python3/dist-packages/` to the python system path but it causes conflict.

Using `pip` to install openb

[2021-11-13 11:40] KVROHITH098 opened #4499 "Build #macOS-10.15_20211113.1_unstable.1 failed"
### Description

We have file being bugged and it is unable to start I need a Application team on this right now.

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [x] macOS 10.15
- [ ] macOS 11
- [x] Windows Server 2016
- [ ] Windows Server 2019
- [x] Windows Server 2022

### Image version and build link

Build #macOS-10.15_20211113.1_unstable.1 failed

### Is it regress

[2021-11-13 18:38] slarse commented on #4485
Alright, so I debugged this quite extensively. The root of the problem is that for some reason, on Windows, `Runtime.exec` does not lookup binaries on the `PATH`. So, even if `mvn.cmd` is clearly on _all_ paths (user, system and process), it's not recognized as a command.

This differs from how it works on *NIX-like systems, where any executable on the `PATH` (or rather, in a directory on the `PAT

[2021-11-14 05:53] spuder commented on #2187
Temporary workaround would be to setup a self-hosted github runner https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners

[2021-11-14 22:39] fernandreu opened #4501 "InnoSetup and Google Cloud SDK missing from windows-2022 agent"
### Description

Hi, I noticed that both InnoSetup 6.2.0 and Google Cloud SDK 364.0.0 are missing in the [list of tools for windows-2022](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md) when compared to the [windows-2019 list](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md).

These could have been removed from

[2021-11-15 06:20] mikhailkoliada commented on #4495
@rufusnufus Hello!

<img width="1033" alt="Screenshot 2021-11-15 at 09 15 29" src="https://user-images.githubusercontent.com/88318005/141731929-2a327b49-0d56-4e88-989d-34370dc2f0ed.png">

curl is in place, please check that nothing  wrong happens with your `$PATH` variable.
I simply run the pipeline you gave us above but added `curl --version` and `file $(which curl)` to add verbosity.

As there i

[2021-11-15 06:20] #4495 closed

[2021-11-15 06:31] mikhailkoliada commented on #4496
@RainbowMango Hello!

I believe all your concerns got solved here https://github.com/karmada-io/karmada/commit/8d8cc260bfe1401b801e2d8f1b92e259802ae310. It is though worth mentioning that all the concerns must be directed to the module's author (in the future), as we are only providing the hosted agents' environments while it seems the error you reflected concerns the module you are using.

I am g

[2021-11-15 06:31] #4496 closed

[2021-11-15 06:46] mikhailkoliada commented on #4501
@fernandreu Hello!

Thanks, we will take a look.

[2021-11-15 06:58] RainbowMango commented on #4496
Yeah, the module's author also fixed the issue.

[2021-11-15 07:05] mikhailkoliada commented on #4498
@alanwilter Hello!

As I do not have access to the original ticket I think we would need more context.
Do I understand correctly that you can not import the module properly after installation?

[2021-11-15 07:07] dibir-magomedsaygitov commented on #4468
Hello @aardappel. I've tried to reproduce the issue, but step `- name: Add msbuild to PATH` was successful.
![test](https://user-images.githubusercontent.com/61747324/141737216-2673b7d8-90e9-4ec7-9a82-e1d3d0c0b078.jpg)

[2021-11-15 07:15] HUMBERP opened #4503 "[linux] maven install broke"
### Description

Since the maven github tag list returns latest version 3.8.4, but on the constructed maven downloadurl only version 3.8.3 is available the install fails with 404 not found.

[code]

Would it be better to get the "mavenDownloadUrl" by selecting the zipball_url value?

mavenDownloadUrl=$(echo $json | jq -r '.[1] | .zipball_url')

### Virtual environments affected

- [X] Ubuntu 18.04

[2021-11-15 07:46] hakonk commented on #3649
@Steve-Glass Hi! Any news on the timeline for supporting Mac OS 12? Should we fill out a form in order to request access as we did with Mac OS 11? Thanks 🙂

[2021-11-15 07:48] alanwilter commented on #4498
Thanks @mikhailkoliada and sorry for that. Please see below the whole story from the original ticket:

* **Bottomline**: _I got GH action to work but with a nasty solution that will stop working eventually. Looking for a more robust solution._

Working on https://github.com/alanwilter/acpype

I have a local Docker with Ubuntu 20.04 where I can "simulate" all the steps I expected GitHub Actions to

[2021-11-15 07:51] GerbenIndeqa commented on #4436
We have been experiencing the same issue. Also have a Xamarin solution that builds into an iOS app. Ran our last succesfull build about 2 weeks ago. Locally we can still build the project without issue on multiple DEV devices, both Windows and a Mac. We do use the ResizetizerNT package as well, which we also recently upgraded. But the pipeline also fails now when building older commits before thes

[2021-11-15 08:20] mikhailkoliada commented on #4503
@HUMBERP Hello!

The problem is that zipball does not have the binary we are installing, only sources

[2021-11-15 08:31] rufusnufus commented on #4495
Yes, my fault, I messed up with PATH env🙊

[2021-11-15 09:01] mikhailkoliada commented on #4462
@AlexChadwickP it looks like you are missing `Xamarin.Android.Support.Design` import. Do you have the module imported?

[2021-11-15 09:16] HUMBERP commented on #4503
Ok, what about to use

curl -s "http://dlcdn.apache.org/maven/maven-3/"

and extract the latest version from the returned xml structure?

[2021-11-15 09:44] qkxc64 opened #4508 "Update/Add Java OpenJDK"
### Tool name

Java

### Tool license

GNU GPL v2 with Classpath Exception

### Add or update?

- [X] Add
- [X] Update

### Desired version

Adoptium 11.0.13 and Eclipse Temurin 17.0.1

### Approximate size

182 MB & 182 MB

### Brief description of tool

Java OpenJDK

### URL for tool's homepage

https://adoptium.net/?variant=openjdk11 and https://adoptium.net/

### Provide a basic test case to v

[2021-11-15 09:47] algomaster99 commented on #4485
Thanks, @nikolai-frolov and @slarse for your answers! Closing this issue as it is not related to GHA.

[2021-11-15 09:47] #4485 closed

[2021-11-15 10:06] miketimofeev commented on #4312
@arambazamba thanks for the heads-up! Could you create an issue about that in the https://github.com/MicrosoftLearning, please?

[2021-11-15 10:22] miketimofeev commented on #4501
Hi @fernandreu!
Yes, we have removed this software intentionally assuming its low popularity and maintenance concerns. Please install innosetup in runtime as the installation is quite fast.
I'm going to close this issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-15 10:22] #4501 closed

[2021-11-15 11:07] miketimofeev commented on #1549
@MatthewSteeples there can be some difference in performance between two agent types. We are working on eliminating the difference, but no ETA for now.

[2021-11-15 11:09] miketimofeev commented on #4468
@aardappel you error was related to the preview version of the Visual Studio 2022, it is fixed in 1.0.3 version of the task https://github.com/microsoft/setup-msbuild/releases/tag/v1.0.3
But since the stable VS version was released you can continue using 1.0.2 without any issues — it should work now as @dibir-magomedsaygitov just checked

[2021-11-15 11:14] mikhailkoliada commented on #4508
Duplicate of https://github.com/actions/virtual-environments/issues/4085

[2021-11-15 11:14] #4508 closed

[2021-11-15 12:11] miketimofeev commented on #4503
@HUMBERP we have decided to stick to the exact version and update the toolset file manually. The changes are merged and the main branch should work now.

[2021-11-15 12:22] #4503 closed

[2021-11-15 12:54] noisypigeon opened #4513 "Gradle fails to download Groovy through JCenter in macOS images"
### Description

I am trying to run a Detox testing session for Android on the Mac hosted GitHub Actions environment. It works up until the point where `Task :app:lintVitalApptestRelease` needs to download Groovy through JCenter where instead of doing that it fails with a network error.

This does not happen in the Ubuntu Latest image but I can't use Ubuntu because it does not support hardware acc

[2021-11-15 13:12] mikhailkoliada commented on #4513
@noisypigeon Hello!

Thanks, we will take a look.

[2021-11-15 13:13] noisypigeon commented on #4513
Thank you! Hope you have a great day! 🥇

[2021-11-15 13:23] mikhailkoliada commented on #4513
@noisypigeon What is the best way to reproduce the issue? I see in the original repo you are using a self-hosted runner, but in the repro steps you are referencing the yaml file with the github-hosted runner.

[2021-11-15 13:55] mikhailkoliada commented on #4426
@zordark Hello!
I am going to close this issue now as we are lacking any repro steps and therefore can't help anyhow.
Please feel free to ping us if you have questions or are ready to share some more info.

[2021-11-15 13:55] #4426 closed

[2021-11-15 14:08] al-cheb commented on #4445
I am going to close the thread if you have any concerns feel free to open.

[2021-11-15 14:08] #4445 closed

[2021-11-15 14:56] noisypigeon commented on #4513
@mikhailkoliada I am working on this branch: https://github.com/valora-inc/wallet/tree/np/github-actions-hosted-android-e2e.

[2021-11-15 15:09] AClerbois opened #4515 "Update dotnet sdk 6.x"
### Tool name

dotnet

### Tool license

https://dotnet.microsoft.com/download/dotnet

### Add or update?

- [ ] Add
- [X] Update

### Desired version

6.0.0

### Approximate size

_No response_

### Brief description of tool

Software Development kit to building and running .NET apps on Linux, macOS, and Windows. Runtimes, SDKs, and developer packs for .NET Framework, .NET, and ASP.NET.

### URL

[2021-11-15 15:11] miketimofeev commented on #4515
Hi @AClerbois!
Take a look here, please https://github.com/actions/virtual-environments/issues/4424
Closing this one as a duplicate.

[2021-11-15 15:11] #4515 closed

[2021-11-15 15:43] aleqsss opened #4516 "Generating the Ubuntu 20.04 image - kubernetes-tools.sh"
### Description

When trying to build the Ubuntu 20.04 image, with the [ubuntu2004.json Packer definition](https://github.com/actions/virtual-environments/blob/main/images/linux/ubuntu2004.json), the following error from the [kubernetes-tools.sh](https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/installers/kubernetes-tools.sh) exits the build:

==> azure-arm: **Provisi

[2021-11-15 17:02] aardappel commented on #4468
Thanks, with `1.0.3` this now builds with `windows-2022`!

[2021-11-15 17:02] #4468 closed

[2021-11-15 17:17] nshenoy opened #4517 "Update/Add .NET 6"
### Tool name

.NET 6

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

.NET 6

### Approximate size

_No response_

### Brief description of tool

.NET 6 is now GA, but the latest version on the agents are .NET 5.

### URL for tool's homepage

https://dotnet.microsoft.com/

### Provide a basic test case to validate the tool's functionality.

_No response_

#

[2021-11-15 17:43] miketimofeev commented on #4517
Hi @nshenoy!
Take a look here, please #4424
Closing this one as a duplicate.

[2021-11-15 17:43] #4517 closed

[2021-11-15 18:40] potatoqualitee opened #4519 "macos-latest keychain is locked"
### Description

The macOS 11 keychain does not appear to behave like macOS 10.15.

An Action that last ran 3 months ago is no longer running sucessfully and it seems the culprit is that macOS 11 is now default and macOS 11 has a locked keychain.

When I attempt to unlock it, I'm prompted for a password.

You can see this behavior with the `mkcert` lines at https://github.com/potatoqualitee/azurig

[2021-11-15 19:08] miketimofeev commented on #4519
Hi @potatoqualitee!
Could you take a look at this PR that we created to bypass the problem with the certificates? Is it the same issue as yours?
https://github.com/actions/virtual-environments/pull/3311

[2021-11-15 19:40] potatoqualitee commented on #4519
Thanks for the response, @miketimofeev! MMM, maybe? Can I initiate this from my runner? Do I need to run the following code manually or is it already running?

[code]

I don't know enough to say for sure, my apologies.

[2021-11-15 22:15] dgw opened #4521 "Update to Python 3.9.9"
### Tool name

Python

### Tool license

PSF license

### Add or update?

- [ ] Add
- [X] Update

### Desired version

3.9.9

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Virtual environments affected

- [X] Ubuntu 18.04
- [X] Ubu

[2021-11-15 22:18] dgw commented on #4521
Further detail that didn't fit into the issue form: Python 3.9.8 broke some `argparse` behavior (a regression), and it is fixed in 3.9.9.

See azure/azure-cli#20269, sopel-irc/sopel#2210, and https://bugs.python.org/issue45235

[2021-11-16 02:51] jamelia1303 commented on #4277
Hello! I just rerun build for the main branch and  it started failing again with the same error.. I was able to built it just ones ..

==> vhd: Provisioning with Powershell...
==> vhd: Provisioning with powershell script: D:\a\1\s\virtual-environments\images\win/scripts/Installers/Install-Ruby.ps1
    vhd: Starting installation Ruby...
    vhd: Starting Ruby 2.4 installation
    vhd: Downloading p

[2021-11-16 03:00] jamelia1303 commented on #4277
@al-cheb
I have this extension enabled
![Capture](https://user-images.githubusercontent.com/46940149/141887973-63da59a5-69e2-4bfe-b434-c67b64d03b80.PNG)

[2021-11-16 06:52] mikhailkoliada commented on #4516
@aleqsss Hello!

For the first glance it looks like one of your links were modified and rather than pipe a raw file to the bash interpreter you are piping a server-generated html file as no downloaded files in the script are consisting of anything with the html code/extensions.

[2021-11-16 07:10] mikhailkoliada commented on #4521
python3.9.9 is available via `setup-python` now.
It well be available in the images next week.

[2021-11-16 07:12] vsafonkin commented on #4436
Hi @GerbenIndeqa, your project is public or private? It will be great if we have some public repo to reproduce this issue.

[2021-11-16 07:14] GerbenIndeqa commented on #4436
@vsafonkin  Private unfortunately

[2021-11-16 07:20] vsafonkin commented on #4436
@GerbenIndeqa, I see, could you please share the failures logs here then?

[2021-11-16 07:49] miketimofeev commented on #4519
@potatoqualitee yes, you need to compile the code using `swiftc`:
[code]
and then use the binary to add a certificate
[code]

[2021-11-16 08:08] KVROHITH098 opened #4524 "We are going to work on this."
### Breaking changes

We have a task to do and it should be implemented very fast A.S.A.P

### Target date

NEXT MONTH LAST DAY

### The motivation for the changes

From 992e56c21f2b160b32592e85b212134df8bb5598 Mon Sep 17 00:00:00 2001
From: Image generation service account <no-reply@microsoft.com>
Date: Mon, 15 Nov 2021 11:57:53 +0000
Subject: [PATCH] Updating readme file for win22 version 202111

[2021-11-16 09:23] eddieyanez commented on #4436
Hi @vsafonkin, I've been experiencing the same issue and have spent the last couple of days working with MS App Center support to identify why my build has stopped working suddenly last month.

The project build on App Center again if I remove the Nuget package. The version I had installed was 0.2.0. I have since then installed the package version 0.3.0, built the app locally but found that an ima

[2021-11-16 09:27] GerbenIndeqa commented on #4436
@vsafonkin I was a bit too quickly early on perhaps. I can't share the full logs and definitely not here. As it also contains sensitive information. But if you are looking for something specific let me know

[2021-11-16 09:44] eddieyanez commented on #4436
I can also confirm that the solution referred to here https://github.com/actions/virtual-environments/issues/4436#issuecomment-965424675 by @GalaxiaGuy addressed the problem for me.

Specifically the **solution works** if using this configuration:

The following two configurations however **do not work**:

All projects using Resizetizer.NT version 0.2.0 i.e.:

All projects using Resizetizer.NT ver

[2021-11-16 10:20] potatoqualitee commented on #4519
Ahh, that looks like something `mkcert` should take care of. I'll let them know, thank you.

[2021-11-16 10:20] #4519 closed

[2021-11-16 11:17] mikhailkoliada commented on #4498
@alanwilter

Agents-installed python indeed does ignore the ubuntu-specific installation paths by not having these paths in the `PYTHONPATH` variable. Though pip system-wide installations still work (I simply installed a random pip package, then a random apt package and compared the installation paths).
That said, nothing prevents you from installing the openbabel package from pip system-wide. The

[2021-11-16 11:17] #4498 closed

[2021-11-16 12:01] potatoqualitee commented on #4519
I had an issue with implementing the swift script -- it would just say that my `mkcert` generated root cert couldn't be read.

So I ended up smashing `sudo security authorizationdb write com.apple.trust-settings.admin allow` into the script (as suggested [here](https://developer.apple.com/forums/thread/671582?answerId=693632022#693632022)) and it worked 😆  According to the post, this allows all us

[2021-11-16 13:01] dibir-magomedsaygitov commented on #4443
Hello @lizgorb. I'm going to close this issue for now. In case of any concerns or questions feel free to reopen it or create a new one.

[2021-11-16 13:01] #4443 closed

[2021-11-16 18:51] Jawz84 opened #4529 "Update/Add [tool name]"
### Tool name

.Net Core SDK

### Tool license

MIT license

### Add or update?

- [ ] Add
- [X] Update

### Desired version

6.0

### Approximate size

815MB installed size

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Virtual environments affected

- [ ] Ubuntu 18.

[2021-11-16 19:19] nehagargSeequent commented on #4277
Any update on this issue?
I am having the access denied error while trying to install Java tools,

![image](https://user-images.githubusercontent.com/81267312/142051129-31397fa4-3131-45c4-b3ba-9b5646726427.png)

[2021-11-16 19:51] NunoBem commented on #4436
It resolves the building part without failing, but there are no images in the apps in my case.

[2021-11-16 20:11] miketimofeev commented on #4529
Hi @Jawz84!
Take a look here, please https://github.com/actions/virtual-environments/issues/4424
Closing this one as a duplicate.

[2021-11-16 20:11] #4529 closed

[2021-11-16 20:13] justinpenguin45 opened #4530 "Pipeline now failing after Windows 2019 image updated"
### Description

Bower task fails running postinstall script (gulp command)
Error is "ENOENT spawn C:\npm\prefix\gulp ENOENT"
If I take the postinstall script out, then the Bower task succeeds. Maybe it has something to do with gulp then, as the postinstall script is a gulp command. Either way this worked before the image update...

Log below

bower                             postinstall gulp wir

[2021-11-16 20:55] Jawz84 commented on #4529
Clear, thank you @miketimofeev using the github action instead!
👍

[2021-11-16 21:48] martingem commented on #4277
Update: Tried with https://github.com/actions/virtual-environments/commit/df27520b1f223f23188191ec1a3fdce76f5cddd8 (latest commit at this time) as well, no avail for Ruby at least.

[2021-11-17 07:13] mikhailkoliada commented on #4530
@justinpenguin45 Hello!
Could you post a minimal workflow in a public repo so we could reproduce the issue on our side?

[2021-11-17 07:13] GerbenIndeqa commented on #4436
Same here. The proposed solution of @GalaxiaGuy to set ResizetizerNT to 0.3.0 in the shared project and 0.2.0 in the platform projects works. Unfortunately the build later runs into another issue, so couldn't test yet if the images do show up.

[2021-11-17 07:50] eddieyanez commented on #4436
You're both correct, the images are missing although the build does succeed. This can also be observed when building locally.

[2021-11-17 08:29] b10-dslappendel commented on #4327
@al-cheb Sadly as I've mentioned in the linked issue Azure/azure-cli#20049, this is not fixed with Azure CLI 2.30.0.

[2021-11-17 08:45] bartpollet commented on #4277
On 10 November it went good, now same issue restarted:
azure-arm: Starting Ruby 3.0 installation

azure-arm: Downloading package from: https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-3.0.2-1/rubyinstaller-3.0.2-1-x64.7z to path C:\Users\packer\AppData\Local\Temp\rubyinstaller-3.0.2-1-x64.7z .

azure-arm: Package downloaded successfully in 0.72 seconds

azure-arm: Expand

[2021-11-17 09:19] mikhailkoliada commented on #4516
@aleqsss could you post your `kubernetes-tools.sh`?

[2021-11-17 09:21] mikhailkoliada commented on #4462
@AlexChadwickP  I am going to close this issue now as we have not gotten anything to reproduce the issue. Feel free to ping us if you have questions or repro steps ready.

[2021-11-17 09:21] #4462 closed

[2021-11-17 09:30] ndea7941 commented on #2187
Any updates on this?

[2021-11-17 09:47] lloeki commented on #2187
As a workaround step I'm cross-compiling builds for `arm64` on `x86_64` runners for some projects by adding `-arch arm64` to `CFLAGS`, `CXXFLAGS`, and `LDFLAGS` (or its `cmake` equivalent `-DCMAKE_OSX_ARCHITECTURES=arm64`, see e.g [libddwaf](https://github.com/DataDog/libddwaf/blob/8a6e6e2b545c7075c17767bc4b43a5fd88d526f1/.github/workflows/build.yml#L72-L95)) but others are trickier (e.g [libv8-no

[2021-11-17 09:50] GerbenIndeqa commented on #4436
@eddieyanez Did not bother to check local build, but you are completely right. Pictures are missing in local build as well.

[2021-11-17 09:51] aleqsss commented on #4516
Yes absolutely, any assistance is appreciated. 🙂

[kubernetes-tools.zip](https://github.com/actions/virtual-environments/files/7553561/kubernetes-tools.zip)

[2021-11-17 09:54] ndea7941 commented on #2187
Yep. This a problem for, as you might know, for some newer languages such as Rust (see: https://github.com/rust-lang/rust/issues/73908). CIs for macOS arm can't execute compiler tests because providers don't have access to native hardware... I assume this will continue to be an issue for as long as VMs aren't supported on Apple M1 to run GitHub actions

[2021-11-17 11:21] vsafonkin commented on #4436
@GalaxiaGuy, @RonnyRos, @eddieyanez, @GerbenIndeqa, could you please try this command as workaround before build step to clear inactive memory?
[code]
Looks like it works for sample repro above.

[2021-11-17 11:43] llbartekll opened #4531 "Add XCode 13 to virtual environments"
### Tool name

XCode 13

### Tool license

apple

### Add or update?

- [X] Add
- [ ] Update

### Desired version

13.0, 13.1

### Approximate size

_No response_

### Brief description of tool

The lates supported version is 12.4 right now. New version 13 is required.

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

#

[2021-11-17 11:48] #4531 closed

[2021-11-17 14:02] GalaxiaGuy commented on #4436
@vsafonkin That built for me (on my actual, larger project). I'll need more time to check the output build actually has images.

[2021-11-17 14:05] eddieyanez commented on #4436
@vsafonkin, I’m using App Center. I think I can add custom scripts if that’s what you mean. If so, which one should I use? https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/

[2021-11-17 14:21] vsafonkin commented on #4436
@eddieyanez, you can try `pre-build` script but I'm not sure if this will work for App Center, because looks like memory usage increases after install dependencies.

@GalaxiaGuy, ok, thanks.

[2021-11-17 14:25] eddieyanez commented on #4436
@vsafonkin sure, I’ll give it a try later tonight when I have my laptop with me.

[2021-11-17 14:28] justinpenguin45 commented on #4530
That takes quite a bit of time that I don't have at the moment. Any idea
why gulp or bower would have been affected by the image update?

On Wed, Nov 17, 2021, 1:13 AM Mikhail Koliada ***@***.***>
wrote:

[2021-11-17 14:39] GalaxiaGuy commented on #4436
@vsafonkin I can confirm this app builds and does have working resizetized images.

(Also relevant to @eddieyanez) If I do the purge before nuget restore, the app fails to build, it has to be between nuget restore and the build.

[2021-11-17 15:05] shawnz88 commented on #4277
We ran into the same access denied issue for either Java or Ruby with either main branch or other release branch for win19. Wondering when it can be fixed.

[2021-11-17 15:31] mrquincle opened #4532 "Add hci_vhci kernel module"
### Tool name

hci_vhci

### Tool license

GPL-2.0-or-later

### Add or update?

- [X] Add
- [ ] Update

### Desired version

no specific requirement

### Approximate size

28 kB

### Brief description of tool

This is the Bluetooth Virtual HCI device driver.
This driver is required if you want to use HCI Emulation software.

### URL for tool's homepage

https://git.kernel.org/pub/scm/linux/kernel

[2021-11-17 15:35] MSP-Greg opened #4533 "[Windows] ANSI color codes no longer work with Powershell"
### Description

This is an odd bug.  With 20211102.4, ANSI color codes worked with PowerShell.  With 20211110.1, they stopped working.  But, the jobs also use ANSI color codes with js code in a custom action, and Ruby code.  Both of those still work.

I run Win10 locally, and I can't repo it.

A job with [20211110.1](https://github.com/MSP-Greg/ruby-loco/runs/4176025174), you'll see color from js

[2021-11-17 15:49] aleqsss commented on #4516
I'll close this issue now, since it seems to be connected with a temporary redirect, caused by our network security implementations.

Thank you for your time, effort and input in this matter @mikhailkoliada, much appreciated. 🙂

[2021-11-17 15:49] #4516 closed

[2021-11-17 17:37] MattChique commented on #4488
When will `windows-latest` be replaced by `windows-2022`?

[2021-11-17 17:39] ramondeklein commented on #4060
Adding `<Target Name="_IsProjectRestoreSupported" />` broke the UWP build when running in AppCenter.

[2021-11-17 17:58] miketimofeev commented on #4488
@MattChique it will be announced, but not early than next year

[2021-11-17 20:52] eddieyanez commented on #4436
@vsafonkin @GalaxiaGuy I can also confirm the pre-build script means that I can use version 3.0.0 on Shared, iOS and Android projects, and the project will build successfully with working images. I've tested via App Center on an actual iPhone and an actual Android phone.

The downside is that the Android build jumped from 08:12 to 13:05, and the iPhone was worse from 07:25 to 20:11.

[2021-11-18 02:46] danyeaw opened #4534 "Seg Faults in Linux with Python 3.10.0"
### Description

In the GitHub Actions ubuntu-latest runner, I am getting a segmentation fault while running some of my Python tests using Pytest with Python 3.10. The tests all pass fine locally, and all pass with macOS and Windows on GitHub Actions.

I had a similar issue in the past with Python 3.7: https://github.com/actions/virtual-environments/issues/159.

When running the tests with gdb, I

[2021-11-18 07:09] mikhailkoliada commented on #4532
@mrquincle Hello!

We are building our images on top of clean ubuntu/windows/macos and therefor are not responsible for managing the kernel and its subsystems at all. I think that the best course of actions for you is to ask the azure support to assist you with that.

I am going to close the issue now but feel free to ping us if you have more questions or concerns.

[2021-11-18 07:09] #4532 closed

[2021-11-18 07:32] mikhailkoliada commented on #4533
@MSP-Greg Hello!

In virtual-environments we do nothing specific to powershell but installing it. There was recent [update](https://github.com/actions/virtual-environments/commit/08024941c38cc74d608a7e2cde0b1b0a8eba1509#diff-816219d3c9f30fcc1c40f88ca826c1662bf99eded781c1b419dd2dfb577ae227) to powershell 7.2 so might be you hit a problem here. In anyway I believe it is out of scope of our responsib

[2021-11-18 07:32] #4533 closed

[2021-11-18 07:44] yogeshkoshti4313 commented on #4312
I'm using vs2017-win2016 and everything is working fine but as a part of this deprecation I've tried to use both windows-2019 and windows-2022 but after successful deployment, my App Service has started throwing package exceptions. I'm not sure what needs to do here to fix this issue?

Does anyone face this kind of issue after migration to the latest run agent?

[2021-11-18 08:14] Nasicus opened #4535 "az keyvault logs out secret values on newest macOS image"
### Description

Since yesterday the following command prints out the value of the secret to the console / log statement of the build pipeline (which contains our passwords!). Seems to be related to the newest macos build, still works on older versions as before.

We have a bash script (`.sh`)  which looks like this:

[code]

On the newest mac os image it now prints this to the console / log, wher

[2021-11-18 08:57] fluffynuts opened #4537 "ubuntu-latest no longer supports the mono required for .net framework 4.6.2"
### Description

I have a workflow up at https://github.com/fluffynuts/NExpect which _used to_ use `ubuntu-latest`, but I've had to switch this morning to `windows-latest` after builds fail with:

[code]

I'm assuming that net462 support was coming from built-in mono and my mono targets props file was resolving this:
[code]

I'd prefer to build on a linux host to encourage cross-platform dev, if p

[2021-11-18 09:00] mikhailkoliada commented on #4535
@Nasicus Hello!

I am pretty sure azure-cli's version has not changed in the version of the image you referenced ([changelog](https://github.com/actions/virtual-environments/commit/01570219dae48676fee5b295dcef94bcd409bc1d)).

Could you please try to downgrade azure-cli manually in order to make sure you can repeat the problem?

[2021-11-18 09:09] fluffynuts commented on #4537
hm, this seems to have been triggered by having a non-sdk .csproj introduced, so my bad; closing.

[2021-11-18 09:09] #4537 closed

[2021-11-18 09:13] mikhailkoliada commented on #4534
@danyeaw Hello!
Thanks! We will take a look.

[2021-11-18 10:35] Nasicus commented on #4535
@mikhailkoliada
Thanks for you reply.
I know it didn't change. I upgraded to the same az cli version locally (on my mac) and there it works as expected.
On the other mac os agent where it works it also has the same az cli version - the only difference I can see is the image version.
Here are all the information from the working macos image:

[code]

[2021-11-18 10:37] al-cheb commented on #4277
@NateB2 , @rink72  Could you please help and collect ProcMon logs? I have prepared a branch with changes to collect logs for Ruby&Java and stop image generation after `Install-Ruby.ps1` :
[code]
If you have luck please upload a `c:\log_*.pml` file.

[2021-11-18 10:40] tranguyen221 opened #4539 "Azure CLI (azure-devops) 0.22.0 installed on Ubuntu1804"
### Description

In essence, we are running some ADO pipelines with an AML service connection to execute some code in an AML workspace. But in the past few days, we were getting this error:

The latest version of az cli (2.30.0) break while running az commands [link](https://github.com/microsoft/dstoolkit-mlops-base/issues/47)

It seems to be a wider problem that has started occurring a few days a

[2021-11-18 10:44] vsafonkin commented on #4436
@GalaxiaGuy, could you try to downgrade `nuget` version in your project? Current default version is 5.9.0
You can do it with [setup-nuget](https://github.com/marketplace/actions/setup-nuget-exe-for-use-with-actions) action for GitHub actions:
[code]
or [nuget installer task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/nuget?view=azure-devops) for Azure DevOps.

Looks like nu

[2021-11-18 10:58] vsafonkin commented on #4436
@eddieyanez, unfortunately, I don't know the way to downgrade `nuget` version for App Center builds.

[2021-11-18 11:27] RonnyRos commented on #4436
Tried changing to 0.3.0 on android, ios and shared, Added sudo purge in the end of the prebuild bash file on appcenter, same error unfortunatly.

[2021-11-18 11:40] danyeaw commented on #4534
Thanks @mikhailkoliada!

[2021-11-18 12:00] mrquincle commented on #4532
@mikhailkoliada I understand. If you have a concrete pointer to the team/repos where I can address someone w.r.t. this, that would be great. It's probably not even the team that's about the virtual machines themselves, but the team that's about the hardware on which it runs and the permissions of the VM on top of that hardware.

Just for my own reference, these are the loaded modules (`ubuntu-20.0

[2021-11-18 12:03] mikhailkoliada commented on #4539
@tranguyen221 Hello!

Thanks, we will take a look.

[2021-11-18 12:04] GalaxiaGuy commented on #4436
@vsafonkin Using nuget 5.6.x (with no purge) built correctly.

[2021-11-18 12:22] mikhailkoliada commented on #4539
@tranguyen221 azure-cli devops [got updated](https://github.com/actions/virtual-environments/commit/152addc1c7badc3f970bfa254d09b37fb7960730#) this week, so you indeed want to downgrade if you are still using older cli-core. We can not downgrade it due to the weekly nature of the releases.

Feel free to ping us if you have more questions.

[2021-11-18 12:22] #4539 closed

[2021-11-18 12:28] vsafonkin commented on #4436
@RonnyRos, I think it can be argued that the issue is in the new version of `nuget`, maybe it's better to ask App Center support how to downgrade `nuget` tool version, sorry.

[2021-11-18 12:29] RonnyRos commented on #4436
Okay, thank you so far.

[2021-11-18 12:32] RonnyRos commented on #4436
But shouldnt Resizetizer work with the newest version of Nuget? Why the downgrades?

[2021-11-18 13:14] vsafonkin commented on #4436
@RonnyRos, I believe it must works but looks like there is an issue))

[2021-11-18 13:21] dibir-magomedsaygitov commented on #4513
Hello @noisypigeon. Could you please try to run your workflow again? Looks like it was temporary issue with `Gradle 7.2`. Gradle has been updated up to 7.3 version and the issue should be resolved. My [last run](https://github.com/dibir-magomedsaygitov/wallet/runs/4251460462?check_suite_focus=true) was successful.

[2021-11-18 14:23] h0p3zZ commented on #1143
@al-cheb is WSL2 enabled on windows-latest?

[2021-11-18 14:28] h0p3zZ commented on #1143
The ability to run docker on windows via WSL would be great, because if you need smth. like Electron (as we do) with a windows-build you could still use it.

[2021-11-18 14:43] catthehacker commented on #1143
@h0p3zZ WSL2 has been removed from Windows Server 2022 so it's not possible to run Linux containers in WSL

[2021-11-18 14:50] h0p3zZ commented on #1143
Alright... yeah thats real bad :D

Still... is there a way we can achieve the usecase I mentioned earlier?

[2021-11-18 14:57] catthehacker commented on #1143
Not sure what are you trying to do, but Electron should work normally through NodeJS

[2021-11-18 16:02] h0p3zZ commented on #1143
@catthehacker I'm trying to run the spectron tests in an Action. But when I try to run this in ubuntu-latest it does not work at all. In windows all tests pass in ubuntu none do.

Therefore the request.

[2021-11-18 16:02] justinpenguin45 commented on #4530
This has put us at a standstill. Is there any way we can get back to the working image??

[2021-11-18 16:49] miketimofeev commented on #4530
@justinpenguin45 we don't have much experience with either gulp or bower that's why we are asking for a public repro to speed up the investigation

[2021-11-18 17:03] al-cheb commented on #4535
@Nasicus , I can't reproduce from my side:

[code]
![image](https://user-images.githubusercontent.com/47745270/142462095-f90f0e90-5152-48d6-a353-042e41afd7a7.png)

[2021-11-18 17:55] dpaoliello opened #4541 "MacOS Image 20211114.1 broke ICU (Unicode) support"
### Description

Since the update to 20211114.1 we haven't been able to include the Unicode headers, they appear to be missing.

Note that we use CMake for the build, and in both cases CMake is able to find ICU:
[code]

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2

[2021-11-18 18:21] Nasicus commented on #4535
@al-cheb hmm damn... I have no idea what to do then, because we didn't change anything in the pipeline and it literally fails in the SAME pipeline in different stages....

[2021-11-18 18:24] Nasicus commented on #4535
@al-cheb  wait: in your first screenshot, I think that's already strange, becuase the `vaultValue` should only contain the `Hello` and not everything....  => I think that's exactly what's going wrong / has changed!

maybe I should add that after getting the vaultValue we do something liek this:

[code]

[2021-11-18 18:33] al-cheb commented on #4535
@Nasicus , it's a bug - https://github.com/Azure/azure-cli/issues/20348. Temporary workaround use jq:
[code]

![image](https://user-images.githubusercontent.com/47745270/142475842-4897bb5a-4315-480d-aba5-1c8b86a16c55.png)

[2021-11-18 19:33] justinpenguin45 commented on #4530
I do understand, and we are all so busy! Thinking out of band here, and this is probably the appropriate place but maybe MS/Azure should give consumers the option to also choose the image (and lock it in) when using the hosted build agents. I locked in the Windows 2019 build agent, but with the image changing from underneath me, could me problematic. It would be cool if once we are using a certain

[2021-11-18 20:16] NateB2 commented on #4277
Logs were too big to attach, uploaded a compressed zip of them here: https://1drv.ms/u/s!AhhLuWmKGlKl4oZOomI-UAPugpyiBg?e=Ja007B

[2021-11-18 21:08] noisypigeon commented on #4513
Thanks! I've kicked off a build: https://github.com/valora-inc/wallet/runs/4257003017?check_suite_focus=true. Will report back it's conclusion. :) thanks for the help!

[2021-11-18 22:26] nehagargSeequent commented on #4277
My last build finished successfully.

[2021-11-18 22:53] dpaoliello commented on #4541
Looks like the updates version of XCode now includes `unicode/utypes.h`, which was tripping our ICU detection logic:
[code]

Searching for `unicode/locid.h` fixed the issue.

[2021-11-18 22:53] #4541 closed

[2021-11-18 23:07] noisypigeon commented on #4513
@dibir-magomedsaygitov Unfortunately, it's still happening: https://github.com/valora-inc/wallet/runs/4257003017?check_suite_focus=true#step:11:2504. :)

[2021-11-18 23:59] NateB2 commented on #4277
OK, so I updated the Java/Ruby scripts on our build image repository with the procmon logging code and ran it a few times - now, it is consistently passing the Java/Ruby scripts and failing on later tasks (Python/Android).  It's almost like the delays in those scripts are enabling the script to succeed.  I'm going to try to add some sleep statements in the other scripts that are consistently faili

[2021-11-19 06:11] NateB2 commented on #4419
We are getting the following error when trying to build one of our Wix projects on a 2022 image we built ourselves using the packer script:

`##[error]src\UesClient.Installer.CustomAction\UesClient.Installer.CustomAction.csproj(66,3): Error MSB4019: The imported project "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Microsoft\WiX\v3.x\Wix.CA.targets" was not found. Confirm that

[2021-11-19 06:48] al-cheb commented on #4277
@NateB2, I have updated my branch to include Expand-7Zip operation and remove procmon logs if no errors. I will prepare a branch with another approach to wait for exit 7z.

[2021-11-19 07:21] Nasicus commented on #4535
@al-cheb Thanks for your help!
Your workaround also worked!

[2021-11-19 07:54] dibir-magomedsaygitov commented on #4513
@noisypigeon looks like I was able to resolve the issue by adding following lines in `android{}` in `app\build.gradle`:
[code]
You can check my edited `app\build.gradle` file [here](https://github.com/dibir-magomedsaygitov/wallet/blob/main/packages/mobile/android/build.gradle#:~:text=rootProject.ext.buildToolsVersion-,lintOptions,-%7B) and run [here](https://github.com/dibir-magomedsaygitov/wallet

[2021-11-19 07:54] al-cheb commented on #4277
@martingem, @NateB2 , @rink72,  This is the branch with updated Expand-7Zip function

[code]

Wait for exit:
[code]

[2021-11-19 08:46] martingem commented on #4277
@al-cheb started the pipeline, I'll report back once I get the results!

[2021-11-19 14:33] miketimofeev commented on #4419
@barnson do you know what could be the root cause for @NateB2?

[2021-11-19 14:56] martingem commented on #4277
Hello @al-cheb, I failed at Java (removed date \t azure-arm for clarity):
[code]
![image](https://user-images.githubusercontent.com/2473921/142643238-8c8cdd0b-7e30-4dc4-9206-a4d23e9e8879.png)

[2021-11-19 18:02] fluiddot opened #4545 "Opening Simulator app fails often with error `The executable is missing`"
### Description

I experienced often failures on different workflows that open and use the Simulator app for running mobile end-to-end tests, so far the failure ratio is 70-50%.

The command used for opening the Simulator app is:
[code]

And the error message:
[code]

In the beginning, I wasn't sure if this issue might be produced by other steps in the workflow, so for this reason, I created an em

[2021-11-19 21:00] NateB2 commented on #4277
@al-cheb I'm more than happy to do that if you want, but I'm not convinced that's the issue, especially since @martingem was receiving the same error, and since it worked up until a few months ago and even now apparently works reliably in some scenarios.  It really looks to me like another process temporarily locks those files immediately after the extraction process finishes, especially since the

[2021-11-19 22:00] NateB2 commented on #4419
I found the wix.ca.targets file in the wix toolset's SDK folder, but now it's failing trying to find the wix.targets file, which does not exist in the wix toolset's folder.

[2021-11-20 00:18] nnmrts commented on #264
Can this issue please be reopened? There should be better supprt for `zsh`. In my opinion it should even be the default for all new workflows running on `macos-latest` and `macos-11` but that's a different story...

[2021-11-20 01:51] barnson commented on #4419
WiX installs its targets files to `C:\Program Files (x86)\MSBuild` and uses `MSBuildExtensionsPath32` in the project templates to refer to it. Try creating new projects using the templates available in the VS2022 extension and compare them to your existing projects.

[2021-11-20 02:15] NateB2 commented on #4419
Yep, that worked, thanks for the help!  Our Wix project is super old at this point, so that probably explains the issue.

[2021-11-20 03:20] grantborthwick opened #4546 "Update/Add the service fabric sdk to the windows-2022 image"
### Description

When I upgrade to the windows-2022 image, my tests that use the service fabric dlls are no longer able to load them.

I do see that the service fabric tools component was upgraded with the new image, but I would expect the dlls to still be present.
[2019](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#workloads-components-and-extensions)

[2021-11-20 05:28] kamasawaddee opened #4547 "Itunes connect"

[2021-11-20 12:09] #4547 closed

[2021-11-21 11:32] yeliudev opened #4549 "Why pip on macos-11 does not support wheels built on the same platform?"
### Description

I'm using the `macos-11` platform on GitHub Actions, and using `actions/setup-python@v2` to setup Python 3.10.0. However, `pip debug -v` shows that this environment does not support `macos_11` wheels. Also, `macos-10.15` has the same issue.

[code]

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
-

[2021-11-21 12:55] wjdavis5 commented on #4277
Failing for me as well. Unlike some of the others I've not gotten this to work at all. I'm using the new branch and I've added a 15 second sleep to the end of the Expand-7Zip function. Looks like this issue has been open for some time as well and  not alot of progress. I'm really curious how the official images have been getting built while this has been broken.

[2021-11-21 13:16] dibir-magomedsaygitov commented on #4545
Hello @fluiddot. Thank you for your report. We will take a look.

[2021-11-21 13:20] dibir-magomedsaygitov commented on #4546
Hello @grantborthwick. Thank you for your report. We will take a look.

[2021-11-21 13:21] couchdeveloper commented on #551
Dear @maxim-lobanov

During evaluation of GitHub Actions for our app, I ran in to the situation that on macOS-11 runner, only iOS 15 version is available in the simulators.

Xcode ships simulators only with the newest iOS versions. However, for testing it is absolutely crucial to have simulators for several major versions of iOS on each runner:

In practice it is never the case, that an App will o

[2021-11-21 13:24] dibir-magomedsaygitov commented on #4549
Hello @yeliudev. Thank you for your report. We will take a look.

[2021-11-22 00:25] richiej84 commented on #4436
Anyone found a way to get App Center to use 5.6 version of nuget? @RonnyRos @vsafonkin

[2021-11-22 03:07] RonnyRos commented on #4436
No, removed resizetizer and added the images manually unfortunatly

On Mon, 22 Nov 2021 at 01:26, Rich Johnston ***@***.***>
wrote:

--
*Mvh*
*Ronny Rosvold*
*+47 411 03 997*

***@***.*** ***@***.***>*

[2021-11-22 07:07] svenmuennich commented on #551
`xcrun simctl create` takes up the three arguments, where the runtime is the optional third argument. The second argument must be a device type identifier (can be listed via `xcrun simctl list devicetypes`). So for an iPhone 8 running iOS 14.4 the command would have to look as follows:
[code]

[2021-11-22 07:22] mgardi85 opened #4556 "Support for .net 6 for Ubuntu 18/20 hosted agent images"
### Description

.Net 6 is  GA now. However only Win-Server 2022 images have it pre-installed.
The Ubuntu images should have it pre-installed as well as Windows -2019 images.

### Virtual environments affected

- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [X] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

https

[2021-11-22 07:22] al-cheb commented on #4277
@martingem, @NateB2 . I have created a branch with 2 seconds sleep after `Expand-7Zip` and updated android script.
[code]

[2021-11-22 07:31] dibir-magomedsaygitov commented on #4556
Hi @mgardi85 !
Take a look here, please [#4424](https://github.com/actions/virtual-environments/issues/4424)
Closing this one as a duplicate.

[2021-11-22 07:31] #4556 closed

[2021-11-22 07:56] vsafonkin commented on #4436
@RonnyRos, @richiej84, I've tried the following [post-clone script](https://docs.microsoft.com/en-us/appcenter/build/custom/scripts/#post-clone) in App Center to install nuget 5.6:
[code]
for the latest stable SDK version:
![Screenshot 2021-11-22 at 10 53 17 AM](https://user-images.githubusercontent.com/7628945/142823646-b6e39e72-43a5-45de-91fc-2b7e19e3c860.png)

and it works for sample repro. Cou

[2021-11-22 08:12] miketimofeev commented on #4549
@yeliudev Hi! We build python for macOS runners using macos-10.14 for backward compatibility. I assume this could be the root cause.

[2021-11-22 08:17] yeliudev commented on #4549
@dibir-magomedsaygitov @miketimofeev Thanks for your kind reply! May I ask that will it be fixed in future versions of macos-11 runners, or I should re-build python in CI every time?

[2021-11-22 08:58] miketimofeev commented on #4357
The images were deployed

[2021-11-22 08:58] #4357 closed

[2021-11-22 08:59] miketimofeev commented on #4355
The image was deployed

[2021-11-22 08:59] #4355 closed

[2021-11-22 10:25] miketimofeev commented on #4546
@grantborthwick we don't install service fabric SDK on windows-2022 due to its incompatibility with the windows version https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions#supported-windows-versions-and-support-end-date

[2021-11-22 10:40] miketimofeev commented on #4549
@yeliudev we will switch python generation to use macos 10.15 soon since 10.14 is deprecated, but looks like it won't fully resolve your issue. I'm going to transfer the issue to the setup-python repo, which is also maintained by our team as I believe it needs to be investigated from the python build perspective.

[2021-11-22 11:06] fluiddot commented on #4545
Thank you @dibir-magomedsaygitov for the heads up 🙇 .

As a side note, I'd like to note that I also tried with the following Xcode versions and also experienced this issue:
- `12.5.1`
- `13.1`

[2021-11-22 12:04] nikolai-frolov commented on #4546
Hello @grantborthwick and thanks for reporting. Mentioned Visual Studio components are not the Service Fabric SDK versions. As @miketimofeev correctly said we don't install Service Fabric SDK for Windows 2022, but to avoid confusion in future I've prepared PR above which adds information about an installed Service Fabric SDK to ReadMe file. Hope it will be useful.

[2021-11-22 15:31] noisypigeon commented on #4513
Thank you @dibir-magomedsaygitov! I'll try this.

[2021-11-22 16:46] dsame commented on #4545
The problem seems to relate to QT library and is not specific for GH Actions.

The possible workarounds are:
1. [retry](https://github.com/dsame/actions-demo/runs/4289314472?check_suite_focus=true)
[code]
2. force [update Launch Database](https://github.com/dsame/actions-demo/actions/runs/1491177047)
[code]

Reference documentation: https://eclecticlight.co/2017/08/11/launch-services-database-prob

[2021-11-22 17:14] noisypigeon commented on #4513
This is resolved (still failing but for an unrelated issue as you mentioned. Thank you for the help @dibir-magomedsaygitov and @mikhailkoliada.

[2021-11-22 17:14] #4513 closed

[2021-11-22 17:31] CartBlanche opened #4566 "Unable to find $(DevEnvDir)\Extensions\Xamarin.VisualStudio/*.dlls"
### Description

I'm trying to build some Xamarin related projects using Github Actions.
I looked here and but couldn't find what dlls are installed with each extension....
https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md#visual-studio-enterprise-2022

The actual path that seems to be missing on the VMs is
`$(DevEnvDir)\Extensions\Xamarin.VisualStudio\Mono

[2021-11-22 18:02] martingem commented on #4277
Hello @al-cheb,
@NateB2 's comment is 100% valid. Even with your suggestion (or work-around), it's flaky at best:
![image](https://user-images.githubusercontent.com/2473921/142911524-63d7739b-e062-4be2-8c04-7b10ae666b13.png)

So my first run, it fails on the tests:
[code]

The second one (2h) fails on the ruby installer again, which is what @NateB2 said that it's not really fixing the issue.
[code

[2021-11-22 18:25] NateB2 commented on #4277
Yeah, my concern with just adding a sleep statement is that without knowing how long the underlying process is locking the files, we could easily run into this issue again like @martingem did, as it probably depends on a variety of factors, most notably the VM  type/size.  I've been trying to think of ways we could get past this issue, especially since we don't know exactly what's going on behind

[2021-11-22 21:33] conradj3 commented on #4277
Not sure if this is going to rabbit hole this conversation, but we are still experiencing issues with our Windows build agents. My question is why on windows builds do we write a function `Extract-7Zip` and not use the [Expand-Archive](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.archive/expand-archive?view=powershell-7.2) built into powershell?

We are testing with this

[2021-11-22 22:00] bnippercg opened #4567 "Include SSIS DevOps Tool (stand alone version) to Windows builds"
### Tool name

SSIS DevOps Tool

### Tool license

MICROSOFT SOFTWARE LICENSE TERMS

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Current

### Approximate size

_No response_

### Brief description of tool

The stand-alone tool available at the homepage of the URL which allows for building and deploying SSIS

### URL for tool's homepage

https://docs.microsoft.com/en-us/sql/int

[2021-11-23 00:19] rink72 commented on #4277
@al-cheb , I've just tried running the latest branch you created `add-archive-timeout` and I'm still getting the same error.

[code]

[2021-11-23 06:55] al-cheb commented on #4277
@conradj3, The Expand-Archive cmdlet performance is too slow  that why we decided to use 7z.
@NateB2, @martingem , @rink72,  What Azure vm sizes, location, disks do you use?

[2021-11-23 06:55] dibir-magomedsaygitov commented on #4566
Hello @CartBlanche. Thank you for your report. We will take a look.

[2021-11-23 08:17] martingem commented on #4277
@al-cheb :
Standard_D8s_v4, 270GB (os_disk_size_gb), CanadaCentral

[2021-11-23 08:27] al-cheb commented on #4277
@NateB2, @martingem , @rink72, New branch with retries for `Move-Item`  and `Rename-Item`:
[code]

[2021-11-23 09:07] fluiddot commented on #4545
Good point, actually I initially considered this option but the `open` command is being executed by the testing tools (Appium specifically) used in the mobile end-to-end tests, not in the workflow, so I wanted to avoid introducing potential tweaks.

I'm going to try option 2 in the original workflows where I identified the issue. Thank you very much @dsame for taking a look and providing such help

[2021-11-23 10:05] Meertman commented on #4424
The proposed work-around of specifying the .NET SDK version to use, does not work when executing unit and integration tests using multiple target frameworks. (For example when building a library that targets ASP.NET Core 3.1, ASP.NET 5 and ASP.NET 6)

This will ensure that the tests for .NET Core 3.1 and .NET 5 fail with the following message:

**ASP.NET Core 3.1:**
 The framework 'Microsoft.AspNe

[2021-11-23 10:41] bielikb opened #4571 "Add Xcode 13.2 beta 2"
### Tool name

Xcode

### Tool license

Apple, Inc.

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Xcode 13.2 beta 2 (13C5081f)

### Approximate size

_No response_

### Brief description of tool

[Xcode IDE](https://developer.apple.com/xcode/).

### URL for tool's homepage

https://xcodereleases.com

### Provide a basic test case to validate the tool's functionality.

_No respo

[2021-11-23 12:00] miketimofeev commented on #4571
@bielikb the new image version includes Xcode 13.2 beta2 https://github.com/actions/virtual-environments/pull/4558
The deployment will be finished in 2-3 days.

[2021-11-23 12:15] KrisWragg commented on #4277
Just giving this a try now, not updated our build machines for a couple months as we were on a freeze due to a release. Been having constant failures installing Java, then Ruby etc.

Just stumbled across this issue and see its not just a me thing :)

[2021-11-23 13:02] AraHaan commented on #4424
That is because when you specified .NET 6 you did not install the other SDKs before that in order to install their runtimes for those other TFMs.

[2021-11-23 13:05] Meertman commented on #4424
@AraHaan, that is correct, so the work-around does not work in this case, or am I missing something?

Or can you specify multiple SDK's?

[2021-11-23 13:21] maxkoshevoi commented on #4424
Just execute setup-... task multiple times with different SDK versions

[2021-11-23 13:32] zcsizmadia commented on #4424
@Meertman https://github.com/actions/setup-dotnet/pull/240 just got merged. It got much easier to deploy multiple frameworks. Check https://github.com/actions/setup-dotnet for more examples:

[code]

[2021-11-23 13:45] AraHaan commented on #4424
I guess I could update my setup-latest-dotnet action with the ability to specify multiple .NET versions as well.

[2021-11-23 14:34] GGG-KILLER commented on #4424
Just a reminder that the `v1` tag hasn't been updated to it yet, so the snippet you posted isn't working yet

[2021-11-23 14:38] sensuikan1973 commented on #264
@maxim-lobanov
This issue shouldn't be closed.
**I don't arguing that the default shell on MacOS should be `zsh`, but that `zsh` should be supported as an option.**

It's because from Catalina, default shell is `zsh`. (See: https://support.apple.com/en-us/HT208050)

Although there is a workaround(https://github.com/actions/virtual-environments/issues/264#issuecomment-574032011), but it is claimed

[2021-11-23 14:40] LanceMcCarthy commented on #4424
Indeed, the latest published version (v1.8.3) was released on Sept 14th 2021. Additionally, I do not see any pending builds in the release workflow https://github.com/actions/setup-dotnet/actions/workflows/release-new-action-version.yml

So, the current readme is a bit misleading.

[2021-11-23 15:11] Epidemias commented on #4277
@al-cheb with the retries it seems to work

    azure-arm: Downloading package from: https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-3.0.2-1/rubyinstaller-3.0.2-1-x64.7z to path C:\Users\packer\AppData\Local\Temp\rubyinstaller-3.0.2-1-x64.7z .
    azure-arm: Package downloaded successfully in 0.59 seconds
    azure-arm: Expand archive 'C:\Users\packer\AppData\Local\Temp\

[2021-11-23 15:23] PatrickGrub opened #4573 "Same Pipeline fails: WiX toolset ERROR since today (vm image depreciated)"
### Description

Our [WiX projects](https://wixtoolset.org/) have been built on azure pipeline vmImage `VS2017-Win2016` for 2 years.
Since today all are failing to build! (read below)

I have read about the [deprecation of that VM Image](https://devblogs.microsoft.com/devops/hosted-pipelines-image-deprecation/#windows) and we should use instead `windows-2019`. But using the new 2019 image I retrie

[2021-11-23 15:28] PatrickGrub commented on #4419
@barnson
I get the same error see #4573

The line which fails in the project file contains `  <Import Project="$(WixTargetsPath)" />`

So, you say we should change it to ` <Import Project="$(MSBuildExtensionsPath32)" />`

Can you confirm that?

[2021-11-23 15:30] dibir-magomedsaygitov commented on #4573
Hello @PatrickGrub. Thank you for your report. Could you please provide us minimal reprosteps to help with the investigation.

[2021-11-23 15:30] PatrickGrub commented on #4573
I think its the same problem like here
https://github.com/actions/virtual-environments/issues/4419#issuecomment-973783256

[2021-11-23 15:38] barnson commented on #4419
.wixproj files need multiple changes to support isolated MSBuild. The easiest way to fix them is probably to create new .wixproj files from the templates in the Visual Studio extension for VS2019 or VS2022.

[2021-11-23 15:38] barnson commented on #4573
https://github.com/actions/virtual-environments/issues/4419#issuecomment-976734435

[2021-11-23 15:42] dibir-magomedsaygitov commented on #4573
Closing this issue as duplicate of [#4419](https://github.com/actions/virtual-environments/issues/4419)

[2021-11-23 15:42] #4573 closed

[2021-11-23 16:01] PatrickGrub commented on #4419
Why happened this regression in the `VS2017-Win2016` ?

[2021-11-23 16:32] KrisWragg commented on #4277
@al-cheb this seems to have sorted it for me for win-2019 I saw it did a retry on both ruby and Java packages, possibly others I haven't scrutinised the logs.

[2021-11-23 16:35] wjdavis5 commented on #4277
Things seem to have progressed beyond the failures for me as well

[2021-11-23 17:11] maxim-lobanov commented on #264
@sensuikan1973 ,
The initial issue was scoped about adding `zsh` to macOS system only and actually it is available on macOS images. It is why this issue is closed.

If you request adding zsh to Ubuntu images, feel free to log a separate feature request for Ubuntu OS.
As for the UI issue reported by you, could you please log separate issue for that in https://github.com/actions/runner repo. In this

[2021-11-23 18:12] NateB2 commented on #4419
@barnson , @PatrickGrub - this is what I had to change in our main .wixproj file to get the project to build on the VS 2022 agents:

![image](https://user-images.githubusercontent.com/1522539/143080791-ae2dec05-1b02-4c11-bce2-ccf56446c45c.png)

[2021-11-23 19:08] rink72 commented on #4277
@al-cheb , we are using Standard D8s v4 in Australia East.

I'm about to kick off that new branch so I'll let you know how it goes.

[2021-11-23 21:52] NateB2 commented on #4277
@al-cheb standard_f8s_v2

Your latest branch seems to be working for us, too.

[2021-11-23 22:39] shawntoffel commented on #4573
We have encountered this problem as well. It seems to be broken only for newer image versions so some builds pass and some fail depending on which image version we get.

For `vs2017-win2016` our build runs fine on image version `20211109.0`. Image version `20211115.1` fails with above error.

For `windows-2019` image version `20211110.1` passes, and `20211122.1` fails with the above error.

I'm no

[2021-11-23 23:23] richiej84 commented on #4436
Thanks @vsafonkin that works great for Android. Unfortunately not so for iOS. I'll let you know if I find a resolution.

[2021-11-24 00:23] rink72 commented on #4277
@al-cheb , branch working for us too.

[2021-11-24 00:31] martingem commented on #4277
@al-cheb , I may be unlucky, failing on mysql for failing permissions as well:
[code]
Should this also have the retry?

[2021-11-24 06:35] al-cheb commented on #4277
@martingem, add retry to the `Install-MysqlCli.ps1` script.

[2021-11-24 06:55] martingem commented on #4277
@al-cheb added the retry in `Install-MysqlCli.ps1` on my end, I'll let you know once it's done 👍

[2021-11-24 07:38] nikolai-frolov commented on #4546
@grantborthwick PR which adds Service Fabric SDK to ReadMe file was merged. ReadMe files will be updated during next week deployment. We are going to close an issue in case you have no objections.

[2021-11-24 08:23] LeventeNagy-CD commented on #4277
Hi,
the script fails to deploy Ruby after successful install of ServiceFabricSDK and removal of Microsoft Azure PowerShell - April 2018.

`    vhd: Describing ServiceFabricSDK
    vhd:   [+] PowerShell Module 779ms (563ms|215ms)
    vhd: Tests completed in 4.64s
    vhd: Tests Passed: 1, Failed: 0, Skipped: 0 NotRun: 42
==> vhd: Restarting Machine
==> vhd: Waiting for machine to restart...
==> vhd

[2021-11-24 09:24] fluiddot commented on #4545
@dsame using option 2 worked like charm in the workflows, thank you so much for investigating and providing the workarounds 🙇 .

[2021-11-24 09:35] miketimofeev commented on #4545
@fluiddot we are thinking of implementing `lsregister` call during the image generation so the workaround won't be needed. We will let you know once it's done.

[2021-11-24 09:37] ioeifcss commented on #4277
Works great for me in East US2 with default SKU

[2021-11-24 09:45] fluiddot commented on #4545
@miketimofeev awesome, thank you for letting me know 🙇 , I'll be looking forward to the workaround 👍 .

[2021-11-24 11:19] takacs525 commented on #4312
Thanks for the notification. I would like to know more about this 'brownout' periods.
Question: If a pipeline starts running just before one of the planned 'brownout' periods, will it continue to work during that interval or will be terminated?

[2021-11-24 11:45] MaksimZhukov commented on #4567
Hello @bnippercg !
Considering fast installation time in runtime and maintenance concerns we would not like to add this tool to the images.

Please use the following snippet to install it in runtime:
[code]

I'm going to close the issue, but feel free to contact us if you have any concerns.
Thank you!

[2021-11-24 11:45] #4567 closed

[2021-11-24 12:18] lukepuplett opened #4577 "Add Gulp to windows-2022 image"
### Tool name

Gulp

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

Gulp is a popular client-side build system for front-end development.

### URL for tool's homepage

https://gulpjs.com

### Provide a basic test case to validate the tool's functionality.

On a machine with Node and

[2021-11-24 12:21] PatrickGrub commented on #4573
I could solve it by using vm image "windows-latest.

[2021-11-24 12:21] PatrickGrub commented on #4419
I could solve it by using vm image "windows-latest.

[2021-11-24 12:50] dmitry-shibanov commented on #4534
Hello @danyeaw. We've investigated the issue and it looks like we can't fix it from our side. We think it's mostly related to the python itself. Besides, I want to ask you, if it's required for you to run tests through `xvfb-run` ? We've run your tests without this tools and it works as expected.
Actually the issue with python 3.7 still persists. Previously ubuntu-latest pointed to ubuntu-18.04, b

[2021-11-24 14:15] bnippercg commented on #4567
Thank you @MaksimZhukov

[2021-11-24 14:32] GGG-KILLER commented on #4424
The [workflow run](https://github.com/actions/setup-dotnet/actions/runs/1498303938) to update the `v1` tag is still pending, so if you want to use this, you'll have to use `actions/setup-dotnet@v1.9.0` until the workflow has finished running

[2021-11-24 14:33] miketimofeev commented on #4312
@takacs525 no, only the new one will fail.

[2021-11-24 15:14] martingem commented on #4277
@al-cheb I have passed Mysql, Ruby, Java.

Now I'm experiencing a different issue, I believe related to https://github.com/actions/virtual-environments/commit/df27520b1f223f23188191ec1a3fdce76f5cddd8 where the Windows Update tests don't seem to pass. I'll make another ticket as it's not related. Thanks @al-cheb !

[code]

[2021-11-24 15:23] miketimofeev commented on #4577
@lukepuplett thanks for the provided points. It makes sense to pre-install gulp to windows-2022. We will take care of it.

[2021-11-24 15:31] martingem opened #4578 "Windows Update tests seems to fail"
### Description

I am experiencing issues with the Windows Update tests, it started from https://github.com/actions/virtual-environments/issues/4277#issuecomment-977971402 (before getting Mysqlcli installation to work, I had this issue, then I had the Mysqlcli issue, then this issue again).

Sorry if this is a duplicate of another ticket, we may close if it is.

I believe it has to do with an inva

[2021-11-24 16:17] BartokW opened #4580 "Add Microsoft Installer Projects to VS 2022 on windows-2022"
### Tool name

Microsoft Visual Studio Installer Projects 2022

### Tool license

N/A

### Add or update?

- [ ] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

Allows compiling MS Installer Projects in Visual Studio

### URL for tool's homepage

https://marketplace.visualstudio.com/items?itemName=VisualStudioClient.MicrosoftVisual

[2021-11-24 16:19] svnscha opened #4582 "WiX Builds are broken with recent update to virtual environments"
### Description

Our WiX setup builds are suddenly broken. The build system is reporting that the following file is missing:

- `C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\WiX\v3.x\Wix.targets`

Recently WiX was updated - is the Visual Studio extension missing/broken now?

- https://github.com/actions/virtual-environments/releases

### Virtual environments aff

[2021-11-24 16:20] al-cheb commented on #4582
@svnscha , Please take a look at https://github.com/actions/virtual-environments/issues/4419

[2021-11-24 16:37] al-cheb commented on #4578
@martingem, Could you please provide output `Get-WUHistory` and  attach a `Get-WinEvent -FilterHashtable @{LogName = "System"; ProviderName = "Microsoft-Windows-WindowsUpdateClient"} | Export-Clixml evnt.xml` log file ?

[2021-11-24 16:40] dibir-magomedsaygitov commented on #4580
Hello @BartokW. Thank you for your request. Could you please clarify the name of Microsoft Installer Projects Addon component in [VS](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-enterprise?view=vs-2022&preserve-view=true)?

[2021-11-24 16:57] martingem commented on #4578
@al-cheb will do, added both and will provide the info in ~4h ETA

[2021-11-24 17:36] bstr413 commented on #4582
Can confirm that this is an issue. Switching the agent to windows-2022 or windows-latest is a workaround for this issue.

[2021-11-24 17:41] al-cheb commented on #4535
@Nasicus , The new version with Python 3.10.0 has been deployed.
![image](https://user-images.githubusercontent.com/47745270/143288532-8814d0b0-318b-4aea-9509-c3ed9ce8337a.png)

[2021-11-24 17:41] #4535 closed

[2021-11-24 19:15] russorat opened #4583 "Update/Add ngrok"
### Tool name

ngrok

### Tool license

ngrok, Inc.

### Add or update?

- [X] Add
- [ ] Update

### Desired version

2.3.40

### Approximate size

29M

### Brief description of tool

ngrok allows you to quickly create reverse proxy tunnels to access services remotely. It can be used to open secure ssh connections for debugging and previewing what's happening during a running action.

### URL for

[2021-11-24 19:43] miketimofeev commented on #4571
@bielikb the image was updated.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-24 19:43] #4571 closed

[2021-11-24 20:48] dibir-magomedsaygitov commented on #4582
Closing this issue as a duplicate of #4419

[2021-11-24 20:48] #4582 closed

[2021-11-24 21:47] martingem commented on #4578
[evnt.zip](https://github.com/actions/virtual-environments/files/7598873/evnt.zip)
For the Get-WUHistory it hasn't run unfortunately, I got printed the command, I'll "`| Out-Host`" it... See you in 4.5 hours.

[2021-11-25 02:32] grantborthwick commented on #4546
Thanks @nikolai-frolov - closing with this comment.

As a workaround for anyone that wants to be able to use the service fabric sdk from tasks on the 2022 image before service fabric adds it to its supported OS versions, the second PowerShell task from the following yaml will install the sdk:

[code]

[2021-11-25 05:05] martingem commented on #4578
@al-cheb I cannot reproduce.. I've done 2 builds and they both succeed. Thanks anyway for the help, if it occurs I'll comment again.

[2021-11-25 05:05] #4578 closed

[2021-11-25 07:45] svnscha commented on #4582
The comments in issue #4419 indeed helped. But the actual fix is changing the *.wixproj file as mentioned by someone in that thread.

[code]

For reference, the required change and `windows-2019` still works with that, too.

[2021-11-25 07:45] svnscha commented on #4419
@NateB2 this helped for VS 2019 agents, too. Thanks for this.

For anyone else who want copy-paste the changes:

[code]

[2021-11-25 08:07] nirbheek commented on #4312
We want to be able to test with Visual Studio 2017, since users _will_ be using it. What image provides that? windows-2019 provides VS 2019.

[2021-11-25 09:51] anders9ustafsson commented on #4060
@ramondeklein @MuddyChrisA

I found a more sufficient workaround [here](https://github.com/jonathanpeppers/boots/issues/87#issuecomment-963947168). Instead of adding a dummy `<Target/>´, when building the iOS or Android apps, the UWP project(s) is removed from the solution in the post-clone build script.

[2021-11-25 10:21] ramondeklein commented on #4060
@anders9ustafsson Love the hacks that people make to workaround this issue. :joy: My hack was a bit different. I patch out the `<Target Name="_IsProjectRestoreSupported" />` using the `appcenter-post-clone.sh` script... Also works.

[2021-11-25 10:23] vsafonkin commented on #4566
Hi @CartBlanche, probably the thing is Visual Studio extensions are installed with admin permissions on the Windows runner. According [Visual Studio docs](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/finding-and-using-visual-studio-extensions.md#per-user-and-administrative-extensions), location of these extentions is `<Visual Studio installation folder>\Common7\IDE\Exten

[2021-11-25 11:44] ethteck opened #4589 "[ubuntu-20.04] Unable to install wine32:i386 / issues with i386 arch support in apt"
### Description

We noticed in our project that somewhere in between 20211114.1 and 20211122.1, apt behavior changed when adding the i386 arch. We use this to install wine for running 32-bit processes. One of our tests is failing now because the version of wine installed is for 64-bit processes.

Additionally, you can see when you compare the two runs that the packages installed greatly differ des

[2021-11-25 11:52] dibir-magomedsaygitov commented on #4589
Hello @ethteck. Thank you for your report. We will take a look.

[2021-11-25 11:54] dibir-magomedsaygitov commented on #4589
@ethteck could you please try to apply workaround described [here ](https://github.com/actions/virtual-environments/issues/3852#issuecomment-892630440)

[2021-11-25 12:30] ethteck commented on #4589
Hi, thanks for the swift reply! Unfortunately, that doesn't seem to be helping. "wine" and "wine64" install, but "wine" is unable to run 32-bit binaries.

If I try to install "wine32" (which I get warnings that I should do), I get apt errors:
https://github.com/decompme/decomp.me/runs/4323785244?check_suite_focus=true

[2021-11-25 13:16] KlausLinzner opened #4591 "WIX 3 Build errors in Image version 20211122.1 (works in 20211110)"
### Description

On our Azure Devops hosted agents we're now getting some builds queued to image https://github.com/actions/virtual-environments/releases/tag/win19%2F20211122.1 - and in there we're getting errors with WIX 3:

`Error MSB4019: The imported project "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\WiX\v3.x\Wix.targets" was not found. Confirm that the e

[2021-11-25 13:17] al-cheb commented on #4591
@KlausLinzner , Please check https://github.com/actions/virtual-environments/issues/4419.

[2021-11-25 13:17] #4591 closed

[2021-11-25 13:32] ethteck commented on #4589
If I understood what change in the new version caused the regression, I could maybe manually do some repository management to fix it, but I'm a bit lost as to what change could have caused this..

[2021-11-25 13:36] CaireIncTom commented on #4436
We are also facing same issues with AppCenter pipeline. We implemented a post-build script from https://github.com/vsafonkin and were able to successfully build Android version with Version 12.2 and 6.1.2 mono (thank you vsafonkin ) We are still failing on iOS project. Likewise, we are continuing to play with versions. Please post any solutions or any fixes for this.

[2021-11-25 13:39] GerbenIndeqa commented on #4436
Sorry for the late reply. Have had a crazy week with other issues. Our dependency on the Resizetizer nuget was very small. It also wasn't our first issue with this library so our app developer proposed to drop the library from the solution. It was literally used for 4 images in total, so we could easily work around it...

[2021-11-25 14:00] AlmightyFuzz commented on #4573
We've just run into the same issue as @shawntoffel. As of this morning our builds (using `windows-2019` vm) are failing and reporting that the `wix.targets` file cannot be found at `C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\WiX\v3.x\Wix.targets`

On vm image version `20211110.1` the same build is successful, while on vm image version `20211122.1` the build fa

[2021-11-25 14:10] dibir-magomedsaygitov commented on #4589
@ethteck I've tried to reproduce the issue, but my run was successful ([link the run](https://github.com/dibir-magomedsaygitov/decomp.me/runs/4324697610?check_suite_focus=true))

[2021-11-25 14:14] AlmightyFuzz commented on #4582
@dibir-magomedsaygitov I don't think this is a duplicate of #4419 because adding the Wix tools to the `windows-2022` vm image should not have broken the `windows-2019` vm image.

[2021-11-25 14:22] al-cheb commented on #4582
@AlmightyFuzz , This https://github.com/actions/virtual-environments/pull/4448 PR affected all Windows Server 2016,2019,2022 images.

[2021-11-25 14:28] dibir-magomedsaygitov commented on #4376
Selenium was updated up to 4.* version across all the images. Closing this issue.

[2021-11-25 14:28] #4376 closed

[2021-11-25 14:29] AlmightyFuzz commented on #4582
@al-cheb Why? The pull request title suggests it should only affect 2022?

[2021-11-25 14:54] richardfric opened #4592 "Missing Wix.targets in VS 2019"
### Description

Building Wix installer projects on windows-2019 is failing due the following problem:
2021-11-25T12:12:13.6380030Z ##[error]Installer.Wix\Installer.Wix.wixproj(89,3): Error MSB4019: The imported project "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\WiX\v3.x\Wix.targets" was not found. Confirm that the expression in the Import declaration "C:\Pro

[2021-11-25 14:55] al-cheb commented on #4582
It's a single script for all images - https://github.com/barnson/virtual-environments/blob/main/images/win/scripts/Installers/Install-Wix.ps1

[2021-11-25 14:56] #4592 closed

[2021-11-25 15:01] richardfric commented on #4592
Hello @dibir-magomedsaygitov - this is NOT duplicate of #4419 but the regression bug in VS2019.

[2021-11-25 15:24] AbhijeetChowdhury92 commented on #4436
For iOS I used different pre-build and post-clone scripts [using the techniques mentioned over here](https://github.com/microsoft/appcenter/issues/2120) and it worked gracefully.

**`appcenter-pre-build.sh`**
[code]

**`appcenter-post-clone.sh`**
[code]
**N.B.** Replace <ProjectName> with the name of your project and check [how to use custom scripts in AppCenter](https://docs.microsoft.com/en-us/a

[2021-11-25 15:27] dibir-magomedsaygitov commented on #4592
@richardfric could you please try [this](https://github.com/actions/virtual-environments/issues/4419#issuecomment-978916739) workaround?

[2021-11-25 15:37] PatrickGrub commented on #4573
Indeed it was not solved by using  `windows-latest`. I just had the luck getting image version `20211110.1` . But now sometimes I get image version `20211122.1` and then fails.

Also the "workaround" with the wixproj file did not help I tried windows 2016, 2019 and 2022 images: https://github.com/actions/virtual-environments/issues/4419#issuecomment-978916739

**How can I use in the YML file a spe

[2021-11-25 15:43] ethteck commented on #4589
Installing wine is working for us, but it appears to not have 32 bit support because of errors we get in our tests. I'll make a sample repo tomorrow that simply downloads wine and tries to execute a 32-bit executable through wine, to easier demonstrate what's going on.

[2021-11-25 15:51] AlmightyFuzz commented on #4582
I understand what has changed now, as part of the update to the `windows-2022` image you have removed the `Wix Toolset Studio 2019 Extension` from the `windows-2019` image. See [win-2019 readme changes](https://github.com/actions/virtual-environments/commit/446bf8d222493ea5c155c47024263a72f3aa87dc#diff-b60cdaf0c005f4f4f992f022cc8eb2ef29c8c03c8f18f04d225851500acd0325)

If the script is used by all

[2021-11-25 15:51] barnson commented on #4419
Note that removing the `WixTargetsPath` entries from the `PropertyGroup` isn't optional. [@NateB2's diff screenshot](https://github.com/actions/virtual-environments/issues/4419#issuecomment-976961106) is correct.

[2021-11-25 15:59] PatrickGrub commented on #4573
Now, I corrected my wixproj file, I have missed deleting the entries in the property group mentioned here: https://github.com/actions/virtual-environments/issues/4419#issuecomment-979319218

Now it works with every image version!

[2021-11-25 15:59] richardfric commented on #4592
Yes, it helped. Thanks.

[2021-11-25 15:59] Gallimathias commented on #4582
Adjusting the files has not helped us at the moment. We are now running the script that @barnson removed again manually in the CI process.

Warning. This could extend every build by at least 20 minutes.

This issue cost us today and the next day's a lot of time 😑

_Have to remove the test call because file is not there_

[code]

[2021-11-25 16:01] Gallimathias commented on #4419
For all those for whom the file changes are currently too time-consuming or do not work. You can execute the file that @barnson removed in the ci yourself.

But it may take 20 minutes.

https://github.com/actions/virtual-environments/issues/4582#issuecomment-979324383

[2021-11-25 16:05] AlmightyFuzz commented on #4419
@barnson Why was this change also applied to the `windows-2019` image if this was only supposed to be applied to the `windows-2022` image?

[2021-11-25 17:39] barnson commented on #4419
The Windows version is irrelevant. What matters is the version of Visual Studio. More than 4.5 years ago, we ([the WiX team](https://github.com/wixtoolset)) released support for Visual Studio 2017 and "isolated MSBuild." Doing so required changes in the .wixproj structure, creating "new-style" .wixprojs so we deprecated "old-style" .wixprojs. In Visual Studio 2019, we obsoleted old-style .wixprojs

[2021-11-25 18:07] danyeaw commented on #4534
@dmitry-shibanov Thanks for investigating the issue, I really appreciate it. I have further reduced the minimum reproducible example. It requires:

1. xvfb to run the tests
2. import Gtk and rlcompleter
3. pytest
4. Python 3.7 on ubuntu-18.04 or Python 3.10 or 3.7 on ubuntu-20.04, Python 3.8 and Python 3.9 work on all OSes, all Python versions work in Windows and macOS
5. GitHub Actions runner, I

[2021-11-25 18:25] ensiform commented on #4589
Having a similar issue to this mysteriously failing on libglib2.0-dev:i386 and libsdl2-dev:i386 on my project here:

https://github.com/etfdevs/ETe/runs/4326926427?check_suite_focus=true

Attempting to add the listed packages only further adds more package complaints https://github.com/etfdevs/ETe/runs/4327104370?check_suite_focus=true

When it built fine the previously action with no issues on pa

[2021-11-25 18:44] kamasawaddee opened #4593 "Exit"

[2021-11-25 18:59] kamasawaddee opened #4594 "Push"

[2021-11-25 19:06] #4594 closed

[2021-11-25 19:06] #4593 closed

[2021-11-25 21:11] kudaba commented on #128
This started acting up again taking 5+ and sometimes over 10 minutes for the initial execution to run, compared to other platforms that complete their entire build process in just over a minute.

[2021-11-25 23:27] Sam-Sundar-Apty commented on #4589
Same issue for us too, some recent change to runners broke apt adding i386 architecture.
[code]

Also when trying to install `wine32` is throwing much more dependency issues.

[2021-11-26 05:20] mgardi85 commented on #4556
@dibir-magomedsaygitov The workaround works but it also hides all the other .Net Code SdKs. Some extensions have dependency on previous version  (Eg SonarQube ) and by using the "UseDotNet@2" task in ADO pipeline ,  other extensions are failing.

It would also enforce that all code is moved to .Net 6 which may not work for everyone as transition/ upgrade are generally longer process

[2021-11-26 05:42] kamasawaddee opened #4596 "Close"

[2021-11-26 05:57] #4596 closed

[2021-11-26 06:19] nmaheshkumarkalahasti opened #4597 "Wix.CA.targets was not found in Visual Studio installation path"
### Description

Getting the error when trying to build wix solutions
Error MSB4019: The imported project "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\WiX\v3.x\Wix.CA.targets" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
-

[2021-11-26 06:19] al-cheb commented on #4597
@nmaheshkumarkalahasti , Workaround and duplicate https://github.com/actions/virtual-environments/issues/4419

[2021-11-26 06:19] #4597 closed

[2021-11-26 06:47] dibir-magomedsaygitov commented on #128
Hello @kudaba. We will take a look.

[2021-11-26 08:15] KlausLinzner commented on #4582
Please don't get me wrong - I completely understand that changes can be necessary f.e. switching from windows-2019 to windows-2022; this is not a problem as it can be handled via regular change & deployment process to make those changes ahead of time.
And while everybody understands that bugs can occur, (intentionally) breaking a released image is a completely different situation;

We ship build p

[2021-11-26 08:24] KlausLinzner commented on #4419
Please don't get me wrong - I completely understand that changes can be necessary f.e. switching from windows-2019 to windows-2022 image; this is not a problem as it can be handled via regular change & deployment process to make those changes ahead of time.
And while everybody understands that bugs can occur, (intentionally) breaking a released image is a completely different situation;

We ship b

[2021-11-26 08:45] ghelyar commented on #4419
IMHO the real problem is that without any version number changes, things that have been building for years have stopped working, and can't be fixed without making changes, which indicates a breaking change.

If you have a WiX project that was created a few years ago, but still on the same major version of WiX (3), and it has been successfully building for years, and then suddenly something changes

[2021-11-26 09:35] dixyes commented on #4312
The question is windows-2019 image **only** provides Visual Studio 2019 build tools, vs15 build tools can be installed in vs16, but it's not...

PHP 7.4 is still offically supported until the end of 2022, see [https://www.php.net/supported-versions.php](https://www.php.net/supported-versions.php), it's built with vs15, that's meaning all php 7.4 windows extensions cannot be tested on hosted runner

[2021-11-26 09:45] mikhailkoliada commented on #4521
Should be deployed now

[2021-11-26 09:45] #4521 closed

[2021-11-26 09:53] mikhailkoliada commented on #4450
Should be finished as per https://github.com/actions/virtual-environments/commit/1fc7895bd9e469460c143cabef1e85a848b7a39c#diff-a1f67f5c4a583bf90c239743379ad9473fbf1fa9d11c5cb7739c8012404dcc7a

[2021-11-26 09:53] #4450 closed

[2021-11-26 10:23] nmaheshkumarkalahasti commented on #4597
MSBuildExtensionsPath32 is set to "C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild" instead of "C:\Program Files (x86)\MSBuild any idea why?

[2021-11-26 10:23] mikhailkoliada commented on #4356
nodejs 10 should have gone by now.

[2021-11-26 10:23] #4356 closed

[2021-11-26 10:24] nmaheshkumarkalahasti commented on #4419
MSBuildExtensionsPath32 is set to "C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\MSBuild" instead of "C:\Program Files (x86)\MSBuild" not sure why? Do we have to update it explicitly?

[2021-11-26 10:27] mikhailkoliada commented on #4479
WASM component is in the win22 image already https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md

[2021-11-26 10:27] #4479 closed

[2021-11-26 10:28] patspaeth opened #4600 "windows-latest (20211122.1) Has not latest dotnet 5 version 12"
### Description

We are using the vm windows-latest in our Azure DevOps pipelines and have currently an issue with the dotnet runtime installed on the vm.
We run a dotnet tool that requires dotnet 5.0.12 runtime
but we get an error that this is not installed, but dotnet 5.0.11 is installed.

Expecting from the readme for windows-latest (20211122.1), I would expect that the dotnet runtime of 5.0.12

[2021-11-26 11:08] dibir-magomedsaygitov commented on #4600
Hello @patspaeth. Thank you for your report. We will take a look.

[2021-11-26 11:15] patspaeth commented on #4600
I want to give some more information:
We use also a Use dotnet taks:
Starting: Use global dotnet sdk
[code]

[2021-11-26 14:05] CartBlanche commented on #4566
@vsafonkin Thanks for the reply. So what do I need to do for my VS extension to see this path on the runner?

I know that locally, on Windows, assuming I have the .NET Mobile workload installed, my VS Extension sees that path and builds perfectly from both the command line and the IDE. So I sort of expect it to "Just Work"(tm) on the runner too, assuming everything there is installed identically t

[2021-11-26 14:12] MikeAtETI commented on #4419
We've also been stung by this change to the VS2019 based images - and while the changes at https://github.com/actions/virtual-environments/issues/4419#issuecomment-976961106 aren't difficult its something the tooling in VS should have picked up and suggested a long time ago if it was going to be needed.

[2021-11-26 14:39] chrpai opened #4606 "WiX Projects Build Failure using 2019 Image"
### Description

Our build last ran successfully on Wednesday 12/24 @ 12:20AM using  Current image version: '20211110.1'

Suddenly our build started failing on Wednesday 12/24 @ 12:52AM using Current image version: '20211122.1'

Our error message is:

Error MSB4019: The imported project "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\WiX\v3.x\Wix.targets" was not

[2021-11-26 14:43] dibir-magomedsaygitov commented on #4606
Hello @chrpai. Thank you for your report. Please take a look at #4419. Closing this issue as a duplicate.

[2021-11-26 14:43] #4606 closed

[2021-11-26 14:51] chrpai commented on #4606
@dibir-magomedsaygitov I don't see how this is a dupe.  All those comments over there should be over here.    A change to add Votitve to VS2022 shouldn't break VS2019.

Reading through the image readme.md file I can see the components are no longer installed.  This was never announced and is a regression.   Every single customer who builds WiX is going to be affected and it's not right to say they

[2021-11-26 14:51] chrpai commented on #4419
@dibir-magomedsaygitov I don't see how this is a dupe.  All those comments over there should be over here.    A change to add Votitve to VS2022 shouldn't break VS2019.

Reading through the image readme.md file I can see the components are no longer installed.  This was never announced and is a regression.   Every single customer who builds WiX is going to be affected and it's not right to say they

[2021-11-26 14:53] al-cheb commented on #4277
The https://github.com/actions/virtual-environments/pull/4598 PR with retry has been merged.

[2021-11-26 15:02] dibir-magomedsaygitov commented on #4419
@chrpai we are in progress of reverting our recent changes. [The PR](https://github.com/actions/virtual-environments/pull/4604) has been prepared.

[2021-11-26 15:10] chrpai commented on #4419
Is there a way in the pipeline to specify the image version to be used?  I'm looking but don't see it.  Maybe I'm blind.

[2021-11-26 15:11] dibir-magomedsaygitov commented on #4419
@chrpai you can't specify image version unfortunately

[2021-11-26 15:12] chrpai commented on #4419
Rats.  Is there an ETA on when the new image will be deployed?  I'm a WiX / Azure DevOps consultant and my inbox is being lit up by customers with broken builds.

[2021-11-26 15:15] dibir-magomedsaygitov commented on #4419
@chrpai the new images should be available by the Thursday next week. We will post an update message.

[2021-11-26 15:50] chrpai commented on #4419
For a quick workaround add this powershell to your VS2019 builds.  The code is simplified snippets taken from InstallHelpers.ps1 and Install-Wix.ps1,  The dependency on the toolset.json is removed and hardcoded to Enterprise edition.

`function Start-DownloadWithRetry
{
    Param
    (
        [Parameter(Mandatory)]
        [string] $Url,
        [string] $Name,
        [string] $DownloadPath = "$

[2021-11-26 17:30] ethteck commented on #4589
Glad to see this isn't just me with this issue. I made a test repo that just tries to install wine after adding the i386 arch and executing a small win32 console application:

https://github.com/ethteck/github-wine-test

As you can see, it's acting like wine32 is not installed and suggesting I run `apt-get install wine32`, but this does not work as I get similar errors to those posting above

[2021-11-26 17:39] MaksimZhukov commented on #4419
Hello everyone!
We are sorry for the inconvenience!

We have reverted changes for Windows 2016 and 2019. [The pull request](https://github.com/actions/virtual-environments/pull/4604) has been merged. We will rollout images next week.

Thank you for the patience!

[2021-11-26 22:34] smudrak commented on #4589
Adding
`sudo apt upgrade -y`
`sudo apt install -y --allow-downgrades libpcre2-8-0=10.34-7`
before wine32 install seems to fix the broken dependency. If you do not need packages removed by downgrade command.

[2021-11-27 02:28] Sam-Sundar-Apty commented on #4589
Hi @smudrak,

Getting this error if we try to install `libpcre2-8-0`

[code]

[2021-11-27 05:34] smudrak commented on #4589
Hmmm, that's weird, 10.34-7 is the official version of this package in 20.04LTS. We cross-compile our project using mxe, so maybe it is loaded from the depository we add. This is the whole set of commands we use to setup our runner.

[code]

[2021-11-27 10:47] kamasawaddee opened #4608 "Thank"

[2021-11-27 10:48] kamasawaddee opened #4609 "Push"
Thank

[2021-11-27 11:40] KuSh commented on #176
At least Android Studio and NDK licences prevent redistribution. That could also be the case for Chrome and perhaps for MS SQL tooling (licences are unclear)

[2021-11-27 16:08] Sam-Sundar-Apty commented on #4589
Hey @smudrak ,

Wine is now installing. Thanks much.

[2021-11-28 08:29] hhhaiai commented on #4432
ok. thx.

[2021-11-28 13:36] danyeaw commented on #4534
I have looked in to this more and it impacts readline or any module that uses readline (doctest, rlcompleter). A workaround is to avoid using modules that use readline.

I also submitted an issue to the Python Bug tracker: https://bugs.python.org/issue45913

I also created a workflow that builds Python with debug enabled: https://github.com/danyeaw/setup-python-debug/

[2021-11-28 14:43] sampalanisamy opened #4618 "Chrome installer step is failing since 10/05/2021 - Install-Chrome.ps1"
### Description

We are using Virtual environment repo's packer file to build a private build agent for our organization. Our pipeline for building vs2019 image has been failing since 10/05/2021. Looking at the commit history, it appears that the last update to this script was on 10/05/2020. Not sure what has changed, where  and why we consistently fail at this step now. Error messages printed on

[2021-11-28 16:30] PaulCharlton commented on #2307
@kolyshkin for the interim time being -- perhaps run a "self-hosted" VM with GHA ?

[2021-11-28 17:03] #4608 closed

[2021-11-28 17:03] #4609 closed

[2021-11-29 00:13] mchernyavsky opened #4619 "An error occurred while provisioning resources on windows-2022"
### Description

I'm trying to set up WSL with Rust toolchain via [Setup WSL](https://github.com/marketplace/actions/setup-wsl) action on Windows Server 2022, but my builds hang and crash with an error (see below).

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [X] Windows Server 2022

[2021-11-29 00:55] ensiform opened #4620 "Issue with some i386 packages on UB 20.04 Image now causing impossible dependency problems"
### Description

I thought it might have been related to this issue but I do not think it is directly related to it as it was wine package specific?
https://github.com/actions/virtual-environments/issues/4589#issuecomment-979413467

Last successful build on 20.04 : https://github.com/etfdevs/ETe/runs/4195324955?check_suite_focus=true

There appears to be several image updates since then but I had

[2021-11-29 04:32] ksaffarian opened #4621 "Add AzureAD PowerShell Module to Windows and Linux images"
### Tool name

AzureAD PowerShell Module

### Tool license

Apache License

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Stable (most recent, 2.0.2.140)

### Approximate size

_No response_

### Brief description of tool

This is one of the common modules that are needed when dealing with Azure Active Directory. It is used to run recurring tasks (using Azure Pipelines) for Azur

[2021-11-29 06:41] Sam-Sundar-Apty commented on #4620
Hi @ensiform,

As a temporary workaround, u can use below command until Github fixes the issue.

[code]

[2021-11-29 06:42] shilovmaksim commented on #4618
Hi @sampalanisamy. Let us know some more context. Are you using just packer specification and windows2019.json from the whole repo?

[2021-11-29 07:03] shilovmaksim commented on #4620
Hi @ensiform. Please try use workaround from @Sam-Sundar-Apty.
I'm going to close this issue as a duplicate of https://github.com/actions/virtual-environments/issues/4589, but feel free to reopen it if you think it's not related.

[2021-11-29 07:03] #4620 closed

[2021-11-29 07:06] al-cheb commented on #4277
I am planning to close this thread. If you have any concerns feel free to open the thread.

[2021-11-29 07:06] #4277 closed

[2021-11-29 07:15] shilovmaksim commented on #4619
Hi @mchernyavsky. Thank you for your report. We will take a look. Could you please provide minimal workflow or slightly more detailed repro steps to help us with the investigation process.

[2021-11-29 07:39] shilovmaksim commented on #4621
Hi @ksaffarian. Could you please change title of the request to include tool you want to add to the image.

[2021-11-29 10:56] dave99galloway opened #4627 "GitHub Actions has encountered an internal error when running your job."
### Description

intermittent failure running a job that calls another workflow

1st job runs ok and sets output variables for input to the called workflow ok, but then the called workflow failsto start with only this 👎
`GitHub Actions has encountered an internal error when running your job.`

this is in around 50% of attempts, with no changes to either workflow yml in between

### Virtual environ

[2021-11-29 12:38] shilovmaksim commented on #4627
Hi @dave99galloway. We will take a look. Could you please provide proper links to the builds and minimal repro steps workflow to help us with the investigation process.
Links to the builds you've provided either in private repo or broken.

[2021-11-29 12:53] shilovmaksim commented on #4530
Hi @justinpenguin45. We are going to close the issue since there are no repro steps or more detailed information how to reproduce the issue provided.
Feel free to reopen the issue if you have more information provide.

[2021-11-29 12:53] #4530 closed

[2021-11-29 14:19] jobackman commented on #4589
Can also confirm that @smudrak's workaround seems to have solved it for me as well

[2021-11-29 14:33] dave99galloway commented on #4627
@shilovmaksim - I've added a full repro here :
https://github.com/dave99galloway/github-actions-issues/actions/runs/1516395849

apologies took me a while to strip out the unneccesary stuff. Looks like the issue is 100% reproducible, not intermittent

[2021-11-29 14:50] ensiform commented on #4620
Does work for now yes

[2021-11-29 15:17] davidjward30 commented on #4277
Hello, I've just pulled main and hit the issue on

Install-Zstd.ps1

Snippet from file:

if ($filesInArchive.Contains($zstdParentName)) {
    Extract-7Zip -Path $zstdArchivePath -DestinationPath $toolPath
    **Move-Item -Path "${zstdPath}*" -Destination $zstdPath**
} else {
    Extract-7Zip -Path $zstdArchivePath -DestinationPath $zstdPath
}

[2021-11-29 15:42] al-cheb commented on #4277
@davidjward30, Thank you. Waiting for https://github.com/actions/virtual-environments/pull/4633 PR.

[2021-11-29 15:49] ethteck commented on #4589
My apologies - in my yml editing, I mistakenly deleted the most important command: adding the i386 arch. This does indeed work! Thank you @smudrak for the workaround!

It is a bit unfortunate to have to add a repository *and* do the install of a specific depdenency with the allow downgrades command, however. Is it possible to make this use case more user friendly in the future?

[2021-11-29 16:02] shilovmaksim commented on #4627
@dave99galloway. It looks like there's a mismatch in the `BAZ: ${{ needs.set-variables.outputs.BAZ }}` input value type.
Workflow call works fine if I set it to bool "true" directly in the call job or change the called workflow input to "string".
https://github.com/shilovmaksim/github-actions-issues/actions/workflows/main.yml

[2021-11-29 16:11] dibir-magomedsaygitov commented on #4589
Hello @ethteck. Thank you for the provided information. Since we don't install 32bit packages on our images we don't have plans to enable multiarch. I'm going to close this issue for now. Feel free to contact us in case of any questions.

[2021-11-29 16:28] dave99galloway commented on #4627
@shilovmaksim - thanks for taking the time to investigate this - I was suspecting a boolean variable type mismatch but wasn't expecting the solution to be to change it to a string - that sounds nasty!

Could you re-paste the link to the docs - the one you posted links to the Actions results!

[2021-11-29 16:36] shilovmaksim commented on #4627
Oh, my apologies for the incorrect link.
https://docs.github.com/en/actions/learn-github-actions/reusing-workflows#using-inputs-and-secrets-in-a-reusable-workflow
Third point: "For inputs, the data type of the input value must match the type specified in the called workflow (either boolean, number, or string)."

[2021-11-29 16:41] dave99galloway commented on #4627
@shilovmaksim - no worries! so it seems that yaml and booleans don't play well together (see e.g. this [issue](https://github.com/actions/toolkit/issues/361)), so I'll need to treat them as strings and parse them. yuck! thanks for your help!

[2021-11-29 16:44] dave99galloway commented on #4627
see also this comment https://github.community/t/boolean-evaluation-workflow-yaml/173565

[2021-11-29 16:52] dave99galloway commented on #4627
actually - I'm reopening this as it really seems like the error from github actions could be more helpful - like "you tried to pass input x as astring value but input x is a boolean" or something similar :)

[2021-11-29 18:22] Sam-Sundar-Apty commented on #4589
Hi @dibir-magomedsaygitov,

Can you let us know what actually broke apt in the latest release ? Since it was working without any issues earlier

[2021-11-29 18:55] jamelia1303 opened #4636 "Test run has failed during the build / windows22 image"
### Description

    vhd: Configuration         : PesterConfiguration
    vhd: DiscoveryDuration     : 00:00:12.3776868
    vhd: UserDuration          : 00:02:05.4943363
    vhd: FrameworkDuration     : 00:00:08.0136601
    vhd: Failed                : {[-] 2021-11 Cumulative Update Preview for .NET Framework 3.5 and 4.8 for Microsoft server
    vhd:                         operating system versio

[2021-11-29 19:00] Jakuje commented on #4589
Please, consider reopening this issue and fixing it properly as this worked as a charm for ages until something messed up last week with a new image. Using wine kind of requires "multilib" as quite a lot of windows stuff is 32b only.

The suggested workaround will work only until ubuntu will update the `libpcre2-8-0` package and after that all the CI scripts hardcoding this version will have to be

[2021-11-29 19:08] al-cheb commented on #4636
Hey, @jamelia1303
We will take a look at it.

[2021-11-29 19:43] VonOgre commented on #4419
Based on https://github.com/actions/virtual-environments/commit/446bf8d222493ea5c155c47024263a72f3aa87dc#diff-816219d3c9f30fcc1c40f88ca826c1662bf99eded781c1b419dd2dfb577ae227L480-L481 and behavior I noted in my builds this morning, WiX was removed entirely from the windows-2019 image

[2021-11-29 20:53] mikhailkoliada commented on #4589
Hello!

is my guess right that this is happening only on 20.04 and never on 18.04?

[2021-11-29 20:59] sampalanisamy commented on #4618
Hello @shilovmaksim , thanks for the quick response. Yes our VM image build pipeline checks out the latest from the repo and attempts to build the image using windows2019.json for each run.

[2021-11-29 22:20] Sam-Sundar-Apty commented on #4589
Hi @mikhailkoliada ,

Happens on 18.04 as well.

[2021-11-29 22:52] nikolai-frolov commented on #4419
@VonOgre WiX toolset is located under Tools now: https://github.com/actions/virtual-environments/blob/446bf8d222493ea5c155c47024263a72f3aa87dc/images/win/Windows2019-Readme.md?plain=1#L88

[2021-11-30 06:27] HUMBERP commented on #4636
Same problem here, seems to be that "2021-11 Cumulative Update Preview for .NET Framework 3.5 and 4.8" will remain in state InProgress.

`    vhd:   [-] 2021-11 Cumulative Update Preview for .NET Framework 3.5 and 4.8 for Microsoft server operating system version 21H2 for x64 (KB5007293) 162ms (160ms|2ms)
    vhd:    Expected collection 'Successful' to contain 'InProgress', but it was not found.

[2021-11-30 06:40] shilovmaksim commented on #4618
@sampalanisamy. Our build pipelines running this specs without any issues. Could you please provide us links to the failed builds and minimal repro steps workflow to help us with the investigation process?

[2021-11-30 07:57] V-Zabayrachny commented on #4600
Hello @patspaeth. We were unable to reproduce your problem, could you please provide a minimal example in a public repo so we could reproduce the issue on our side?

[2021-11-30 08:49] DiachenkoD commented on #4107
Good afternoon @MaksimZhukov !
Sorry for the delay, the issue was postponed due to others tasks.
I have created the public repo, which works on my pc build but fails on the git workflow.
Please see the attached link. This repo contains a very simple maven project with the one test method calling the native library.
The project is independent of any IDE which you prefer to use, so feel free to inst

[2021-11-30 08:57] al-cheb commented on #4636
@jamelia1303 , @HUMBERP , Could you please build an image using this branch?
[code]

[2021-11-30 09:30] HUMBERP commented on #4636
Currently is running a different image-generation. Hope i can run the test this afternoon.

[2021-11-30 10:21] mikhailkoliada commented on #4589
Hello!

The problem is caused by the recent php update on ubuntu20.04 as it pulls the newer version of libpcre2-8-0 which breaks the deptree for the 32bit packages (we are installing php from the `ppa:ondrej` repo). This dependency and a version are unconditional and if we downgrade libpcre2-8-0 version to the one which is currently in the repo php will be removed too. As per our [policy](https://

[2021-11-30 10:42] Jakuje commented on #4589
FYI, I tried to tweak our configuration in https://github.com/OpenSC/OpenSC/pull/2458 which worked flawlessly before the 1122 image, but even with workaround, the wine is failing to install the windows package without any useful messages so I assume there is still something wrong in the installation.

[2021-11-30 11:00] stefanes commented on #4636
I'm running a build now on this fork/branch (~1h 45 min in), I'll get back to you with the result.

I saw the same error popping up on Windows 2019 yesterday, but it the went away the next build. Maybe this fix should go into both Windows 2022 and 2019?

[2021-11-30 11:03] barucoh opened #4639 "Add gcloud sdk"
### Tool name

gcloud util

### Tool license

free

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

~600 MB

### Brief description of tool

Similar to AWS and Azure, `gcloud sdk util` is used to interact with GCP

### URL for tool's homepage

https://cloud.google.com/sdk/gcloud

### Provide a basic test case to validate the tool's functionality.

[cod

[2021-11-30 11:09] shilovmaksim commented on #4627
Unfortunately, there is nothing we can do from our side. This common message usually indicates that the hosted runner has disconnected for some reason and was unable to run the job. Please direct your questions to our support community forum at https://github.community/c/code-to-cloud/github-actions/41
Thanks!

[2021-11-30 11:09] #4627 closed

[2021-11-30 11:12] catthehacker commented on #4639
There is an official action to setup `gcloud`
https://github.com/google-github-actions/setup-gcloud

[2021-11-30 11:16] barucoh commented on #4639
Thanks, but regardless, it's easier and less expensive for me as a user to have the image prebuilt with `gcloud` in it instead of having to do extra preparations before I can start the actual work.

[2021-11-30 11:21] shilovmaksim commented on #4639
Hi @barucoh. Google Cloud SDK is prebuilt on the [Ubuntu 20](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md) image already.
As for the MacOS, we're not going to add any software to the image that can be setup by existing action or installed in the runtime.

@catthehacker. Thank you for the link to existing action.

[2021-11-30 11:21] #4639 closed

[2021-11-30 12:57] jamelia1303 commented on #4636
@al-cheb
sure.  thank you!
 I'll post the  results in ~ 4 hours.

[2021-11-30 13:15] CartBlanche commented on #4566
@dibir-magomedsaygitov, @MaksimZhukov Do either of you have any other suggestions, as I can't merge my PR until my build goes green??

[2021-11-30 14:01] stefanes commented on #4636
Still got the error in my latest build:
[code]

[2021-11-30 16:18] robmen commented on #4419
@MPasadu, you will want to [apply those changes to your .wixproj](https://github.com/actions/virtual-environments/issues/4419#issuecomment-976961106) in all cases. Future updates to the tooling will (eventually) deprecate the current syntax.

[2021-11-30 20:05] al-cheb commented on #4636
@stefanes , I was able to reproduce the exact behavior from my side.  I have created https://github.com/actions/virtual-environments/pull/4641 PR.

[2021-12-01 01:30] DavidKnight-Bluescape commented on #4545
Just a note that we are launching with `xcrun simctl` and hitting the same issue intermittently. Thanks for the workaround - we'll give #2 a shot until there is a fix.

[2021-12-01 03:16] sampalanisamy commented on #4618
@shilovmaksim Thanks for the update. Our pipelines are running from a private repo inside one of our company's DevOps organizations. It won't be easy to provide a direct link to the failing pipelines. The fact that windows2019.json spec builds successfully in your pipelines is a useful information to me. Let me try and run windows2019.json as-is without adding our custom provisioners and see if I

[2021-12-01 03:16] #4618 closed

[2021-12-01 08:19] shilovmaksim commented on #4545
Hi @fluiddot, @DavidKnight-Bluescape .
Approach with `lsregister` call during the image generation merged into main. The update will be available after next week's deployment.

[2021-12-01 09:01] yaroslavyaroslav opened #4643 "Error: The operation was canceled."
### Description

While running `swift test` in github actions it canceles tests in the testing proccess.

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

failed run:
https://github.com/yaroslavyaroslav/web3swift/actions/runs/1521

[2021-12-01 09:32] eddieyanez commented on #4436
Just sharing an update as I've continued the discussion with App Center's customer support regarding this issue. In my message I asked the following:
<img width="658" alt="image" src="https://user-images.githubusercontent.com/1080027/144208557-8b63004d-1f06-4db6-8105-9671d89e6e38.png">

And the response is as follows:
<img width="682" alt="image" src="https://user-images.githubusercontent.com/1080

[2021-12-01 09:38] shilovmaksim commented on #4643
Hi @yaroslavyaroslav.
Your workflow runs cancelling due to timeout exceeded, that set up in your [workflow yaml file](https://github.com/yaroslavyaroslav/web3swift/blob/github-actions/.github/workflows/ci.yml)
[code]

[2021-12-01 12:39] shilovmaksim commented on #4643
I'm closing this issue since it's not one.
@yaroslavyaroslav, you can find more details regarding workflow syntax and limits in the GitHub docs:
- [workflow-syntax-for-github-actions#jobsjob_idstepstimeout-minutes](https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#jobsjob_idstepstimeout-minutes)
- [usage-limits](https://docs.github.com/en/actions/learn-gith

[2021-12-01 12:39] #4643 closed

[2021-12-01 15:43] ejntaylor commented on #4446
Is there a good place to subscribe to updates like this so we can prepare in advance for it... Or best just to keep an eye on the Issues here in GH? Thanks

[2021-12-01 16:07] dave99galloway commented on #4627
@shilovmaksim - thanks for redirecting me to the correct forum - will raise there :)

[2021-12-01 17:54] mikeblakeuk commented on #4424
What should we use for Azure DevOps when using latest ubuntu?

[2021-12-01 17:57] LanceMcCarthy commented on #4424
@mikeblakeuk In ADO, you can add a step for each version of .NET you want installed. For example, here I am adding 6.0 at the top of my stack:

![image](https://user-images.githubusercontent.com/3520532/144287862-f4b25939-61a4-4f8a-944b-548c546169fb.png)

If you need more than one, add additional steps for each version you need.

[2021-12-01 18:35] mchernyavsky commented on #4619
@shilovmaksim

1. Create a fork of https://github.com/intellij-rust/intellij-rust repo
2. Enable `check` workflow
3. Create a PR from `wsl-tests` into your main branch

PR in my fork fails with the same result - https://github.com/mchernyavsky/intellij-rust/pull/3

[2021-12-01 19:01] noiseunion opened #4647 "Node compilation error under new virtual environment"
### Description

We have a GH Action that runs our ES Lint process.  It was working under `Version: 20211122.1` but is now blowing up under `Version: 20211129.1`.

From my understanding of this previous issue: https://github.com/actions/virtual-environments/issues/2505

There is no way for me to pin back to the previous virtual environment.

We are now seeing this on every run of the ES-Linter act

[2021-12-01 19:12] kis-xt commented on #4647
What I see that previous build used [Node 14.18.1 ](https://github.com/actions/virtual-environments/blob/ubuntu20/20211122.1/images/linux/Ubuntu2004-README.md) but this minor image update change node version to [Node 16.13.0](https://github.com/actions/virtual-environments/blob/ubuntu20/20211129.1/images/linux/Ubuntu2004-README.md)

[2021-12-01 19:13] catthehacker commented on #4647
https://github.com/actions/virtual-environments/issues/4446

[2021-12-01 19:22] noiseunion commented on #4647
@kis-xt @catthehacker - thank you for the quick responses.  Should this not have been a bit more prominently called out here: [Changelog blog](https://github.blog/changelog/)?

I went there to look for details before submitting this and I did not see this change mentioned anywhere. Not saying that I didn't miss it....but it doesn't seem to be easy to see in the location we are told to go look for

[2021-12-01 19:26] catthehacker commented on #4647
Yes, it seems that should be posted.

[2021-12-01 19:34] noiseunion commented on #4647
@catthehacker - Thanks for the link to #4446 - the mitigation suggestions worked and we are up and running again!

[2021-12-01 19:34] #4647 closed

[2021-12-01 20:20] arsdever opened #4648 "glx.h is missing"
### Description

This is more of a question than a bug report. Is there a `<GL/glx.h>` file available on the `Ubuntu 20.04`?
I'm trying to install `angle` (actually trying to install other packages and this one comes as a dependency) and it fails. I reported the bug on `vcpkg` and [was questioned](https://github.com/microsoft/vcpkg/issues/21524#issuecomment-983461748) whether this file is availabl

[2021-12-01 20:41] panekj commented on #4648
`glx.h` is provided by `libglx-dev` package which is not installed.

could you try to run `sudo apt-get update && sudo apt-get install libglx-dev` at the beginning of the workflow and see if that works?

[2021-12-01 21:12] arsdever commented on #4648
@panekj Thanks for the hint. Unfortunately, it didn't resolve the issue. As you see in this [build result](https://github.com/arsdever/lcd/runs/4387215316)
- `Update package repository` runs `sudo apt update`
- `Install dependent packages` runs `sudo apt install libglx-dev`
- `Install packages` runs `vcpkg` and fails. The [artifact file](https://github.com/arsdever/lcd/suites/4524906080/artifacts/

[2021-12-01 21:18] panekj commented on #4648
According to log it fails on `gl.h` now which is provided by `libgl-dev` package

[code]

[2021-12-01 21:31] panekj commented on #4648
As the CMake warning says:
[code]

You should install those in the runtime, `libmesa-dev` should have the `gl`/`glx` headers, unfortunately this is incorrect package name and it probably should be `libgl1-mesa-dev`

[2021-12-01 21:54] arsdever commented on #4648
@panekj Thanks for your guidance. Actually `libgl[x]-dev` packages did help me proceed on the blockage I had, but there is a new one coming. I'll probably install these ones instead, as you again suggested. In any case, I think this thread can be closed since the main goal was reached.
So the answer to my question, as I understood, will be, that some packages might actually be missing from the bui

[2021-12-01 22:32] skhilliard opened #4649 "Gulp-typescript out of memory error"
### Description

I recently tried to update an package for my Node.js project (mongoose 5.13.13 from 5.12.8), and it seems to have pushed me over the edge for memory during the typescript compilation phase (using gulp-typescript 5.0.1). Here is the error I see...

[18:24:13] Starting 'node_ts'...

<--- Last few GCs --->

[480:0x58548e0] 225969 ms: Mark-sweep (reduce) 2040.9 (2051.1) -> 2039.9 (205

[2021-12-02 00:49] ksaffarian commented on #4621
May I know what is the next step about this request?

[2021-12-02 06:30] sureshbemagani opened #4650 "latest windows 2022 agents doesn't have the Storage emulator pre-installed where as 2019 does"
### Description

The windows 2022 images doesnt have the Storage emulator installed. The same is avialable in 2019 images.

https://github.com/actions/virtual-environments/blob/win22/20211130.3/images/win/Windows2022-Readme.md

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [X] Windows

[2021-12-02 06:52] sureshbemagani opened #4651 "npm install fails in latest versions of windows-2019 and 2022 agents"
### Description

We have couple of release definitions which use Azure pipelines hosted agents (windows-2019). From yesterday, they started failing at “npm install”.

The releases are failing in below agents:

•	Environment: windows-2019 (image version: '20211229.2')
•	Environment: windows-2022 (image version: '20211130.3')

The releases are working with below agents only:

•	Environment: windows-

[2021-12-02 07:13] vsafonkin commented on #4566
@CartBlanche, we are still investigating it and try to find properly decision for you, thank you for your patience!

[2021-12-02 07:36] shilovmaksim commented on #4650
Hi @sureshbemagani. We will think about adding Azure storage emulator to the Windows 2022 image and will let you know.

[2021-12-02 08:02] shilovmaksim commented on #4651
Hi @sureshbemagani. Thank you for your report. We will take a look. In the meantime, could you please provide us logs of a failing jobs?

[2021-12-02 08:04] al-cheb commented on #4636
The [#4641](https://github.com/actions/virtual-environments/pull/4641) PR has been merged. I am going to close the thread. Feel free to open it if you have any concerns.

[2021-12-02 08:04] #4636 closed

[2021-12-02 08:27] kt3k opened #4652 "Question about cargo installation directory"
### Description

Until ubuntu 20.04 version 20211122.1, cargo was installed at `/usr/share/rust/.cargo`, but it now seems installed at `/home/runner/.cargo` at version 20211129.1. Is this change intentional?

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Im

[2021-12-02 08:31] sureshbemagani commented on #4651
[Error on windows 2019 version 20211229.2.txt](https://github.com/actions/virtual-environments/files/7640300/Error.on.windows.2019.version.20211229.2.txt
[Success on windows 2022 version 20211122.0.txt](https://github.com/actions/virtual-environments/files/7640302/Success.on.windows.2022.version.20211122.0.txt)
)

[2021-12-02 08:34] al-cheb commented on #4652
Hello, @kt3k
This change was intentional -in scope of this https://github.com/actions/virtual-environments/pull/4575 PR , to remove symlinks and move /usr/share/rust -> to a user profile folder.

[2021-12-02 08:41] kt3k commented on #4652
@al-cheb
Now the change makes sense to me. Thank you for the quick reply!

[2021-12-02 08:41] #4652 closed

[2021-12-02 08:45] sportbilly21 commented on #4419
@dibir-magomedsaygitov  I am still getting an error regarding the wix Toolset is not installed. VmImage 'windows-2019' Please see below error from pipelines.

Task         : NuGet
Description  : Restore, pack, or push NuGet packages, or run a NuGet command. Supports NuGet.org and authenticated feeds like Azure Artifacts and MyGet. Uses NuGet.exe and works with .NET Framework apps. For .NET Core an

[2021-12-02 08:52] buckleyGI opened #4653 "Is it possible to use an older image while we work through updating our end?"
### Tool name

older devops image

### Tool license

/

### Add or update?

- [X] Add
- [ ] Update

### Desired version

20211122.1

### Approximate size

_No response_

### Brief description of tool

I think it makes sense to revert to an older image if we are working through the kinks of updating our systems.

We just got in that situation as of yesterday

Before (success)
Included Software: htt

[2021-12-02 08:54] shilovmaksim commented on #4648
Hi @arsdever. I will close the issue since it's not image related, but caused by missing dependencies.
Thank you @panekj for your guidance.

[2021-12-02 08:54] #4648 closed

[2021-12-02 08:58] sureshbemagani commented on #4651
[Error on windows 2022 version 20211130.3.txt](https://github.com/actions/virtual-environments/files/7640502/Error.on.windows.2022.version.20211130.3.txt)

[2021-12-02 08:58] shilovmaksim commented on #4621
@ksaffarian, we will think about adding AzureAD PowerShell Module to the images and will let you know.

[2021-12-02 09:03] shilovmaksim commented on #4649
Hi @skhilliard . Thank you for your report. We will take a look. Could you please provide minimal workflow or slightly more detailed repro steps to help us with the investigation process.

[2021-12-02 09:33] shilovmaksim commented on #4653
Hi @buckleyGI. There are a lot of such requests but unfortunately it is not possible for now.

[2021-12-02 09:33] #4653 closed

[2021-12-02 09:43] sportbilly21 commented on #4419
Update: Pipeline is working OK for me now.
I had done the changes suggested in the wix project file and I had removes the line below:
  <OutputType>Package</OutputType>
    <WixTargetsPath Condition=" '$(WixTargetsPath)' == '' AND '$(MSBuildExtensionsPath32)' != '' ">$(MSBuildExtensionsPath32)\Microsoft\WiX\v3.x\Wix.targets</WixTargetsPath>
    <WixTargetsPath Condition=" '$(WixTargetsPath)' == ''

[2021-12-02 10:38] V-Zabayrachny commented on #4107
Hello @DiachenkoD!
We have looked through example you provided, given that your logs contain the `The forked VM terminated without properly saying goodbye. VM crash or System.exit called?` error it looks like this is purely related to the `maven-surefire-plugin` and its settings, have you tried to give it more granular options? The error is related to forking, have you tried playing with the `fork

[2021-12-02 11:13] DiachenkoD commented on #4107
Good afternoon @V-Zabayrachny !
We have been trying to play with the forking before create the first request to you. The question still is the reason why this native libraries work on our machines with no errors. The poms haven’t been changed for years, but such kind of error is fresh one.
Did you try to build this project on your own machine to ensure that there is no bug in this case?
Native lib

[2021-12-02 13:32] Lietotajs opened #4654 "Wix.Tests Fails"
### Description

I have tried several times Windows2019 and Windows2022 image, always fails at Running tests from 'C:\image\Tests\Wix.Tests.ps1'

Windows2019 image log -
   vhd: Running tests from 'C:\image\Tests\Wix.Tests.ps1'
    vhd: Describing Wix
    vhd:   [+] Wix Toolset version from registry 4ms (2ms|2ms)
    vhd:   [+] Wix Toolset version from system 73ms (72ms|1ms)
    vhd: Tests complet

[2021-12-02 13:34] al-cheb commented on #4654
Hello, @Lietotajs
As I can see an issue with `vhd: Failed : {[-] 2021-01 Update for Windows Server 2019 for x64-based Systems (KB4589208), [-] 2021-11`.  This issue was fixed - https://github.com/actions/virtual-environments/issues/4636. Please pull the latest changes from `main` branch.

[2021-12-02 13:34] #4654 closed

[2021-12-02 13:51] qwertylolman commented on #4123
When this fix will be available on agent?

[2021-12-02 14:19] mikhailkoliada commented on #4446
All the images are deployed with 16 by default

[2021-12-02 14:19] #4446 closed

[2021-12-02 15:27] kamasawaddee opened #4655 "Ok"

[2021-12-02 15:31] #4655 closed

[2021-12-02 15:45] hinchley2018 commented on #4446
@ejntaylor we subscribed to github releases for this repo so that we are notified in the future

[2021-12-02 15:55] kamasawaddee opened #4656 "Push"
Thanks

[2021-12-02 15:56] kamasawaddee commented on #4656
Yes

[2021-12-02 15:57] #4656 closed

[2021-12-02 16:21] SpyderHunter03 opened #4657 "Update/Add Docker Compose v2"
### Tool name

Docker Compose v2

### Tool license

Unknown

### Add or update?

- [X] Add
- [ ] Update

### Desired version

2 (latest or whichever one we can)

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Virtual environments af

[2021-12-02 16:39] reynoldsbd opened #4658 "Rust Tools Unavailable in Ubuntu 18.04 20211129.1"
### Description

My team's pipeline started failing after the latest Ubuntu 18.04 20211129.1 image was pushed out. It seems that Rust tools such as rustup/cargo/etc. are no longer in PATH.

### Virtual environments affected

- [X] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and bui

[2021-12-02 17:16] reynoldsbd commented on #4658
Looks like PATH might be messed up. It contains multiple entries with the literal text `$HOME`. I also don't see any entry for rustup.

The following is output from the PowerShell command `$Env:PATH -split ":"`

[code]

Perhaps this is related to #4575?

[2021-12-02 17:42] reynoldsbd commented on #4658
If anybody is looking for a workaround (ADO-specific):

[code]

[2021-12-02 19:15] mikhailkoliada commented on #4658
Hello @reynoldsbd!
I have written somewhat pretty plain (`head` is just to compress the output and show that binaries are there):

[code]
![image](https://user-images.githubusercontent.com/88318005/144487111-e0d8fc32-a6e1-41c4-b287-6a482b1f6317.png)

with the `Current image version: '20211202.1'`

As of `$HOME` in `$PATH` there is nothing wrong with it as it holds the home path of the current user

[2021-12-02 19:15] #4658 closed

[2021-12-02 19:18] mikhailkoliada commented on #4651
Hello @sureshbemagani!

What version of node are you running?

[2021-12-02 19:24] abdullah007001 commented on #4651
I did faced similar issue today with my Azure build pipeline which was using ubuntu-latest image and we have fixed our build pipeline by pinning Node version.
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/node-js?view=azure-devops

New version of NPM/Node my Agent machine - Node v16.13.0, NPM 8.1.0
Expected was 14.15.0

[2021-12-02 20:01] skhilliard commented on #4649
@shilovmaksim I will do my best, but since this a build issue, it'll be a little challenging.  Here are some instructions for doing a build locally using VSCode (this demonstrates the wildly increased memory usage during a build)...

#node.js
NVM for windows can be used to manage node.js versions on your system.
https://github.com/coreybutler/nvm-windows

To install node.js, run the following comm

[2021-12-02 20:30] reynoldsbd commented on #4658
Thanks for taking a look @mikhailkoliada! Hopefully I just need to move to the latest image version. Still figuring out how to do that on my internal agent pool - will reply with my result once I know more.

---

The following isn't true on Linux:

Unlike Windows, environment variable references within PATH are not automatically expanded on Linux. Usually this expansion is performed by the shell w

[2021-12-03 02:46] sahlawiz opened #4659 "Virt"

[2021-12-03 04:17] sureshbemagani commented on #4651
This worked! Thanks @mikhailkoliada/ @abdullah007001

[2021-12-03 04:46] #4651 closed

[2021-12-03 06:48] nikolai-frolov commented on #4577
Hello. Changes were deployed, Gulp tool should be available on Windows 2022.

[2021-12-03 06:48] #4577 closed

[2021-12-03 07:10] shilovmaksim commented on #4657
Hi @SpyderHunter03. could you please provide some more details:
- Why it should be added to image, because this change is the breaking one?
- Can docker compose be updated to v2 during the runtime?

[2021-12-03 07:55] al-cheb commented on #4654
Tests for Wix completed
[code]

Failed tests:
[code]

Please attach full logs.

[2021-12-03 08:03] Lietotajs commented on #4654
[outputW2019.txt](https://github.com/actions/virtual-environments/files/7647723/outputW2019.txt)

[2021-12-03 08:10] al-cheb commented on #4654
@Lietotajs,
Looks like you use a custom packer template, because a lot of scripts just skipped:
[code]

For e.g. nightly build - https://github.visualstudio.com/virtual-environments/_build/results?buildId=119950&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=5431112d-2b61-5a5f-7042-ef698f761043

[code]

[2021-12-03 08:22] Lietotajs commented on #4654
I was following guide here : https://github.com/actions/virtual-environments/blob/main/docs/create-image-and-azure-resources.md
I have not done any customization to any scripts.
Could you advice, when you say "you use a custom packer template" - how to make sure I use proper template ?
Thanks.

[2021-12-03 10:25] vroncevic opened #4660 "Problem with installing package libgtkmm-3.0-dev for Ubuntu-20.04.3"
### Description

Failed to fetch http://azure.archive.ubuntu.com/ubuntu/pool/main/m/mesa/libegl-mesa0_21.0.3-0ubuntu0.3~20.04.4_amd64.deb ERROR:404
Description: Not Found, missing mesa lib version 20.04.4, detected only new version: 20.04.5
Checked libs at: http://azure.archive.ubuntu.com/ubuntu/pool/main/m/mesa/

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS

[2021-12-03 10:37] catthehacker commented on #4660
You are missing `sudo apt-get update` before package installation
https://docs.github.com/en/actions/using-github-hosted-runners/customizing-github-hosted-runners#installing-software-on-ubuntu-runners

[2021-12-03 11:06] vroncevic commented on #4660
Updated action:
`
    - name: install GTK--
      id: install_gtkmm
      run: |
        sudo apt-get update
        sudo apt-get install jq
        sudo apt-get install libgtkmm-3.0-dev
`
Success job: https://github.com/dof2bot/motionbot/actions/runs/1534918306
Thanks for fast response @catthehacker

[2021-12-03 11:06] #4660 closed

[2021-12-03 11:23] V-Zabayrachny commented on #4600
@patspaeth I'm going to close the issue since we cannot proceed with our investigation due to the lack of repro steps.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-12-03 11:23] #4600 closed

[2021-12-03 14:32] mariusandersen opened #4661 "windows-2022 agent - Grunt@0 task not working"
### Description

On windows-2019 we could just run with a pwsh task "yarn && grunt".

In windows-2022 I previously had to use the dedicated [grunt task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/grunt?view=azure-devops) as it seemed grunt-cli was now removed. This worked for several weeks.

Today, the windows-2022 gives error using the Grunt@0 task:
##[error]Grunt-cli is

[2021-12-03 14:43] jamelia1303 opened #4662 "Error during Finalize-VM.ps1 script . C:\Windows\WinSxS\Temp: Access is denied"
### Description

 Windows2022 VHD was captured successfully and I was able to deploy VM using it.  But there is the error during the last script execution.
Please take a look
[log.txt](https://github.com/actions/virtual-environments/files/7650344/log.txt)

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windo

[2021-12-03 15:04] hartwork commented on #4589
There is a third option that @miketimofeev [mentioned](https://github.com/actions/virtual-environments/issues/3339#issuecomment-834355074) at issue #3339 (of which we have a regression here):

* Re-add repository `ppa:ondrej/php`
  (e.g. through command `sudo apt-add-repository ppa:ondrej/php -y` followed by `sudo apt-get update`)

That works for me at pull request https://github.com/uriparser/uri

[2021-12-03 15:30] vsafonkin commented on #4566
@CartBlanche, looks like `DevEnvDir` macros is not defined on the Windows runner. Could you try this step in your workflow to build your project?
[code]

[2021-12-03 15:36] reynoldsbd commented on #4658
Okay I've got a little more information.

I ran my test on the default "ubuntu-18.04" image and everything works fine. The issue seems specific to our internally-hosted (1ES) agent pools. These pools use the same VM images, but I believe there may be something different about the way the user account is provisioned.

Following up internally to understand more.

[2021-12-03 17:27] iquasere opened #4663 "No disk left on device"
### Description

This is not a bug, but I found no other option for asking about it. I am trying to run a [workflow](https://github.com/iquasere/reCOGnizer/actions/runs/1536028113/attempts/1) that depends on a large file (35 Gb when decompacted). I am aware of the 14 Gb limitation, which is already very generous.

Is this workflow impossible to run with GitHub actions? Or is there some way to make

[2021-12-03 17:54] catthehacker commented on #4663
You can try cleaning up runner and then unpacking the file

<details>
<summary>Free space step</summary>

Remove tools you require from below step

[code]

</details>

[2021-12-03 18:02] ethteck commented on #4589
I modified the title, but I think the scope of this is beyond just wine, so I left in some of my original title as well @hartwork . Thanks for your summary of the issue thus far!

[2021-12-03 20:35] CartBlanche commented on #4566
@vsafonkin Yes creating our own DevEnvDir environment variable helps and allows the VS2019 project to build. So thanks for that!!

I now have an issue with VS2022 (is that installed in the runner anywhere?), so wondering if I should raise another issue for that or continue?

[2021-12-03 20:41] MaksimZhukov commented on #4419
Windows images were deployed.
I'm going to close the issue, please feel free to contact us if you have any concerns.
Thank you!

[2021-12-03 20:41] #4419 closed

[2021-12-04 10:04] MaksimZhukov commented on #4583
Hi @russorat! Thank you for the request!
Considering insignificant installation time in runtime and maintenance concerns we would not like to add the tool to the image. Please use the commands you attached to install the tool in runtime.

I'm going to close the issue, but feel free to contact us if you have any concerns.
Thank you!

[2021-12-04 10:04] #4583 closed

[2021-12-04 14:26] MaksimZhukov commented on #4621
Hello @ksaffarian! Thank you for the request!
Have you considered using Microsoft Graph instead of Azure AD? It looks like the Azure AD PowerShell module will reach EOL in 2022 in favor of Microsoft Graph. Please see the details [here](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/automate-and-manage-azure-ad-tasks-at-scale-with-the-microsoft/ba-p/1942489)

[2021-12-04 15:19] geoffrey4444 commented on #2187
I hope you'll be able to add support for GItHub Actions for Apple Silicon...is there any update?

[2021-12-04 19:46] bolshoytoster commented on #4662
From the log it looks like it fails to create some temporary files
[code]
Then tries to access one of those files
[code]
A temporary solution would be to run the script but really it shouldn't assume you have permissions to access a directory the standard user doesn't have.

It should probably use either `%userprofile%\AppData\Local\Temp` or it's own directory instead.

[2021-12-04 20:18] bolshoytoster commented on #4662
Looking further into it, it appears the first 'Access denied':
[code]
comes from the last line in `Finalize-VM.ps1`:
https://github.com/actions/virtual-environments/blob/050efaf52a756ad291fd5e0d5923d07e913bc34c/images/win/scripts/Installers/Finalize-VM.ps1#L38-L40
Meaning that the rest of the errors come from elsewhere.

[2021-12-05 12:08] blaadje commented on #2187
+1

[2021-12-05 13:06] layday opened #4665 "Default Node has custom $PATH"
### Description

The default version of Node on the latest macOS 11 image (20211127.1) has a different $PATH than the enclosing environment.  Notably it puts Python 3.10 on path which leads to hard to debug failures for code which calls out Python from Node.

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Wi

[2021-12-06 01:15] ksaffarian commented on #4621
Thanks for the good point @MaksimZhukov
We will look into using Graph SDK.
Can you confirm if that is included in the OS images?

[2021-12-06 06:07] al-cheb commented on #4661
Hello, @mariusandersen
We will take a look at it.

[2021-12-06 06:09] al-cheb commented on #4662
Hello, @jamelia1303
We will take a look at it.

[2021-12-06 06:11] al-cheb commented on #4663
Hey, @iquasere
We provide only 14GB - https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners. If you need more free space you can use a self-hosted runner - https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners

[2021-12-06 06:11] #4663 closed

[2021-12-06 06:16] al-cheb commented on #4665
Hey, @layday
We will take a look at it.

[2021-12-06 06:34] V-Zabayrachny commented on #4107
@DiachenkoD We tried to reproduce the build locally, but it didn't work out. After reviewing the event log, we noticed that the error occurs at the time of calling "klu.solvecomplex". Library KLU.dll it is a third-party library, so we can assume that the problem is related to the work of the library itself. We performed an another check of the workability of tests using "maven" on other projects,

[2021-12-06 06:40] monstro805 opened #4666 "https://blurb-it.herokuapp.com/"

[2021-12-06 07:27] vsafonkin commented on #4566
Closed, @CartBlanche please contact us if you have any questions.

[2021-12-06 07:27] #4566 closed

[2021-12-06 09:35] MaksimZhukov commented on #4621
The Microsoft Graph module is preinstalled on [Windows images](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md#powershell-modules).

[2021-12-06 09:38] DiachenkoD commented on #4107
Hi @V-Zabayrachny!
Locally it works. There is the question. The library contains the methods which path should be exactly repeated by loader on the runtime. So locally it returns the correct path and everything is okay, but on workflow, as I suppose, the path is broken somehow. The interesting part is that it works perfect couple of month ago

[2021-12-06 14:28] miketimofeev commented on #4658
@reynoldsbd I believe, the changes that caused this issue were introduced here and it's by design
https://github.com/actions/virtual-environments/pull/4575

[2021-12-06 14:44] miketimofeev commented on #4650
Hi @sureshbemagani!
Could you please point us to the workload\component that contains storage emulator for VS2022?
https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-enterprise?view=vs-2022

[2021-12-06 14:53] miketimofeev commented on #4556
@mgardi85 you can install any number of .net versions you need in runtime. Please take a look at this comment
https://github.com/actions/virtual-environments/issues/4424#issuecomment-983905101

[2021-12-06 16:12] davide-f opened #4669 "Corrupted ZIP library: C:\Miniconda\envs\test\Library\bin\zip.dll"
### Description

Hi,

While executing the workflow of https://github.com/pypsa-meets-africa/pypsa-africa, we cannot run it on Windows because the error Corrupted ZIP library arises when initializing the VM:
[code]
See lines 851-852 at: https://github.com/pypsa-meets-africa/pypsa-africa/runs/4333471322?check_suite_focus=true

On linux and Mac, the workflow works successfully also on the VM; on our

[2021-12-06 16:34] dibir-magomedsaygitov commented on #4619
Hello @mchernyavsky. I've investigated the issue and looks like the root cause was temporary connection issues. I wasn't able to reproduce the issue anymore and as I can see your builds are passing now. Could you please confirm that the issue is not appearing anymore.

[2021-12-06 18:03] chrpai commented on #4419
@MaksimZhukov Thanks for fixing VS2019.  Where does this leave VS2022?  Does it have WiX or not yet?  If not yet do we have an ETA?

[2021-12-06 18:30] nikolai-frolov commented on #4419
@chrpai installation was fixed for Windows 2016 and 2019. Windows 2022 has a WiX toolset installed as well (https://github.com/actions/virtual-environments/blob/050efaf52a756ad291fd5e0d5923d07e913bc34c/images/win/Windows2022-Readme.md?plain=1#L82).

[2021-12-06 20:50] miketimofeev commented on #4580
@BartokW we will take a look if it can be installed in runtime and then decide whether we should add it to the image or not.

[2021-12-06 22:28] ksaffarian commented on #4621
I think we can close this issue for now;
Thanks for the help :)

[2021-12-06 22:43] rvanmil commented on #4312
@Croydon  Not sure if this is of any help to you, but I was able to switch to `windows-latest` by adding the following step to my workflow (this was for a cordova-windows project):

[code]

And adding the following `env` to the step using Visual Studio 2017
[code]

[2021-12-06 23:21] Croydon commented on #4312
@rvanmil How long does it take to install it? The last time I tried something like that it took 40+ minutes which was too much for our use case

[2021-12-07 01:22] mchernyavsky commented on #4619
@dibir-magomedsaygitov

I still have this issue:
* In intellij-rust repo - https://github.com/intellij-rust/intellij-rust/actions/runs/1546646297
* In my fork - https://github.com/mchernyavsky/intellij-rust/actions/runs/1546766549

[2021-12-07 01:45] erwabo opened #4671 "IIS Default Document Changes"
### Description

We have a python web services that runs from an ADO build pipeline. The base server image gets built from a packer pipeline. The image it was using is 'vs2017-vs2016' but due to deprecation, I changed it to 'windows-latest'.  The website now requires us to include web.config in the default document list. I validated this behavior numerous times with various builds and it was consi

[2021-12-07 06:23] al-cheb commented on #4669
Hey, @davide-f
We will take a look at it.

[2021-12-07 06:30] al-cheb commented on #4671
Hey, @erwabo
We will take a look at it.

[2021-12-07 07:06] al-cheb commented on #4669
@davide-f , This issue is not related to the image itself, because the same bug exists - https://github.com/conda-forge/openjdk-feedstock/issues/86. I am planning to close the thread as external.

[2021-12-07 07:06] #4669 closed

[2021-12-07 08:29] g14com0 opened #4672 "Update/Add argo-rollouts"
### Tool name

argo-rollouts

### Tool license

Apache License 2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest, v1.1.1

### Approximate size

More or less 70MB

### Brief description of tool

Argo Rollouts is a Kubernetes controller and set of CRDs which provide advanced deployment capabilities such as blue-green, canary, canary analysis, experimentation, and progressi

[2021-12-07 09:57] rvanmil commented on #4312
Here's the latest build log. It appears windows-latest currently uses Microsoft Windows Server 2019. Installing Visual Studio 2017 with choco took less than 10 minutes.

<img width="564" alt="image" src="https://user-images.githubusercontent.com/991226/145007130-5d69b5f5-0214-46fa-af4a-a3f583cc94ee.png">

[2021-12-07 10:32] sureshbemagani commented on #4650
I dont find it in the link. But, i raised this question because the [storage emulator](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#workloads-components-and-extensions) was part of windows-2019 agents but not windows-2022. If the issue is with vs2022, pls assign this issue to concerned team.

[2021-12-07 10:51] al-cheb commented on #4672
Hi @g14com0! Thank you for the request!
Considering insignificant installation time in runtime and maintenance concerns we would not like to add the tool to the image. Please use the commands you attached to install the tool in runtime.

Ubuntu Server:
[code]

Windows Server:
[code]

[2021-12-07 10:51] #4672 closed

[2021-12-07 11:41] #4621 closed

[2021-12-07 12:57] miketimofeev commented on #4650
@sureshbemagani does your local VS2022 installation have this component? If it doesn't work locally either, please address the problem in the https://developercommunity.visualstudio.com/

[2021-12-07 14:44] shivammathur opened #4678 "Add PHP 8.1"
### Tool name

PHP

### Tool license

PHP-3.01

### Add or update?

- [ ] Add
- [X] Update

### Desired version

8.1.0

### Approximate size

_No response_

### Brief description of tool

PHP is a popular general-purpose scripting language

### URL for tool's homepage

https://php.net/

### Provide a basic test case to validate the tool's functionality.

[code]

### Virtual environments affected

[2021-12-07 15:18] nikolai-frolov commented on #128
Hello @kudaba, I've investigated the issue but unfortunately wasn't able to reproduce the mentioned 5+ minutes delay. All my pipelines pass first build step (build debug) in 2-3 minutes and I guess it is expected for the devenv tool since it performs initialization for the first project run on machine (e.g. https://github.com/nikolai-frolov/image-testing/runs/4433619975?check_suite_focus=true). Pr

[2021-12-07 16:10] michaeltryby opened #4679 "Permission issues on Windows restoring boost from cache"
### Description

Insufficient permission to restore boost from cache on Windows2019. I use choco to install boost to C:\local. I use actions/cache to create a cache for the install. Restore fails because tar can't write back to C:\local.

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [X] Windows Server 2019
- [

[2021-12-07 16:12] al-cheb commented on #4679
Hey, @michaeltryby
I see errors not related to permissions issue:
[code]

[2021-12-07 16:18] michaeltryby commented on #4679
@al-cheb Yes thanks. I am working on that one. Boost gets cached in the "Build and unit test" job.

[2021-12-07 16:25] al-cheb commented on #4679
How do you install boost via choco?

[2021-12-07 16:28] michaeltryby commented on #4679
Actions step
[code]
packages.config
[code]

[2021-12-07 16:31] miketimofeev commented on #4678
@shivammathur please feel free to submit PRs!

[2021-12-07 16:43] kudaba commented on #128
That seems to be working so far. I can't remember if there was a reason I needed to use devenv over msbuild (I'm building a c++ project so who knows).

[2021-12-07 16:43] #128 closed

[2021-12-07 17:28] al-cheb commented on #4679
@michaeltryby,
The bsd tar doesn't support symlinks which is default on Windows Server 2019. Could you please add tar.exe from git as the default one on Windows Server 2016?
[code]

[2021-12-07 19:15] michaeltryby commented on #4679
@al-cheb I copy pasted directly from your post and got the following when I ran it

[code]

[2021-12-07 19:38] hutson commented on #4662
We are seeing a similar error on our Windows 2016 and 2019 image builds (Which run the same GitHub Packer configuration but using an AWS base image) using the `f65be8018d5248ccf09dc5c72599bd171459d119` commit.

[code]

[2021-12-07 20:53] miketimofeev commented on #4060
Azure DevOps users have been fully migrated.
Migration for GitHub actions users will be finished in the next 5-10 days.

[2021-12-07 21:11] michaeltryby commented on #4679
@al-cheb Thanks for your help. I added the step and got boost to restore from cache successfully.

[2021-12-07 21:45] JoeDiesel40 commented on #4060
🎊

On Tue, Dec 7, 2021, 2:53 PM Mikhail Timofeev ***@***.***>
wrote:

[2021-12-07 23:38] sullis opened #4683 "Linux io_uring support and ulimit memlock"
### Description

OS:  Linux (ubuntu-latest)

I have a GitHub Actions workflow that tries to utilize io_uring from Java

https://github.com/sullis/netty-playground/runs/4450624231?check_suite_focus=true

The error message is:
[code]

In the workflow, I print the ulimit value:
[code]

Is there any way to change the ulimit memlock value? Is there a workaround?

### Virtual environments affected

- [