[2021-09-21 05:56] al-cheb commented on #4121
Hello, @jf
Are you sure that the file exists?

[code]

![image](https://user-images.githubusercontent.com/47745270/134119169-9c3e40cb-b4b6-4297-b6d9-f0576483bb58.png)

[2021-09-21 06:20] jf commented on #4121
Yes. It does come from an earlier `run` step, though. But I've assumed that it does exist. The earlier `run` creates 2 files: `sgfe.tbz`, and the "commit_*" file. I've assumed that there is no issue with the "commit_*" file because the sgfe.tbz file is also there when we do the `aws s3 cp`

[2021-09-21 06:38] dibir-magomedsaygitov commented on #4120
Hello @zoj613. Thank you for your report. We will take a look.

[2021-09-21 06:49] al-cheb commented on #4121
@jf, Globbing happens after variable expansion. You should use: `COMMIT=$(echo commit_*)` to store the result of expansion.

[code]

![image](https://user-images.githubusercontent.com/47745270/134124224-1dae3e9f-3345-48e5-abdc-5c40bd0140a6.png)

Your example:
![image](https://user-images.githubusercontent.com/47745270/134124475-950a8c5b-03f9-4542-bde1-6707aa7c6488.png)

[2021-09-21 06:57] jf commented on #4121
Thank you, @al-cheb . I'll try the $() fix. I have to say though that this is still a mystery to me. We've never added, or changed the 'set -/+f' setting, and it's as per default, so I still don't understand why it would not work.

[2021-09-21 07:04] zoj613 commented on #4120
@dibir-magomedsaygitov Strangey enough, this commit: https://github.com/zoj613/polyagamma/commit/9f0ecd53dc96791b36f75d6d831a5e892a76c200 seems to have resolved the issue. Maybe the environment needs an alias for pip that points to pip3? This wasn't an issue the last time I ran the workflow and I still use just `pip` on other workflows that install poetry on macos 10.15 with no issue. not sure if

[2021-09-21 07:10] al-cheb commented on #4121
I see the issue with globbing is still not resolved - https://github.com/aws/aws-cli/issues/925

[2021-09-21 07:10] #4121 closed

[2021-09-21 07:11] jf commented on #4121
thanks for the helpful note! apologies, but I closed this without seeing this reply. In this case we can work around the absence of globbing with aws-cli, but this is good to know. Thank you once again!

[2021-09-21 08:59] dsame commented on #4108
@iBotPeaches

I believe it is just a typo, but while we investigating Tizen, please take a not jdk should be first in the path:

[code]

[2021-09-21 09:54] SandraHartl commented on #4112
Hi,
this allows me to get the fortran compiler from oneAPI from the command line but not with VisualStudio integrated as IDE. So, to my understanding, I am not allowed to run vfproj files. Is there any other way in doing so?

[2021-09-21 10:01] mazgajmaciek commented on #4023
@al-cheb how about Hyper-V / Windows Hypervisor Platform (WHPX) for Windows Server runners? Reading this https://docs.microsoft.com/en-us/xamarin/android/get-started/installation/android-emulator/hardware-acceleration?pivots=windows#accelerating-android-emulators-on-windows we should be enabling it to run android emulator. My use case is to switch from macos runners running android emulator to win

[2021-09-21 10:07] DiachenkoD commented on #4107
Good afternoon!
Unfortunatelly we can’t share the code examples according to NDA. The build fails on the using some native methods from the *.dll libs. We will try to make an standalone project to provide you with more information.

[2021-09-21 10:27] miketimofeev commented on #4112
@SandraHartl could you clarify which installer should be used to integrate oneAPI with VS?

[2021-09-21 10:27] al-cheb commented on #4023
https://github.com/actions/virtual-environments/issues/183#issuecomment-610723516

[2021-09-21 12:25] iBotPeaches commented on #4108
Thanks, good catch @dsame. Unfortunately same issue.

[code]

Compared to the last working build (20ish days ago)
[code]

[2021-09-21 13:08] SandraHartl commented on #4112
This is what I did on my local maschine using the installation GUI of oneAPI (https://software.intel.com/content/www/us/en/develop/articles/intel-fortran-compiler-in-ms-visual-studio.html). However, I didn't find a ways doing this when using the oneAPI package loaded with pip or conda. I would be grateful for any advise here.

[2021-09-21 13:35] nibanks opened #4123 "VSTest Failure on Windows-2022"
### Description

We are trying out running updating our tests to run on the windows-2022 image (now that test-signing is rolling out) and encountered an issue where the tests don't even run, claiming that Visual Studio 2015 wasn't found ([link](https://mscodehub.visualstudio.com/WindowsXDP/_build/results?buildId=211460&view=logs&j=dc73162c-e9a5-5aad-58cc-3e7f05745135&t=af2b7667-eb8e-5aaa-734b-1af5

[2021-09-21 13:53] dibir-magomedsaygitov commented on #4123
Hello @nibanks. Thank you for your report. Could you please provide us more detailed repro steps since we don't have permissions to your project.
I've seen [similar issue](https://github.com/Microsoft/vstest/issues/1349) to yours. If you are using VSTest Task, could you please try to choose the option as "Installed by tools installer" for the "Test platform version" input and check if it helps.

[2021-09-21 13:55] nibanks commented on #4123
Simply, we have a solution (`xdp.sln`), that we run the following on `windows-latest`:
[code]
and then run this on `windows-2022`:
[code]

[2021-09-21 14:06] nadesu commented on #4123
@shreyasrmsft - pls take a look at it

[2021-09-21 14:17] ShreyasRmsft commented on #4123
@al-cheb is there any version of Visual studio installed on the agent machine?

If you do not have visual studio installed you'd need to use https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/vstest-platform-tool-installer?view=azure-devops

[2021-09-21 14:20] al-cheb commented on #4123
@ShreyasRmsft, Windows Server 2022 hosted agent:

# Microsoft Windows Server 2022 Datacenter
- OS Version: 10.0.20348 Build 230
- Image Version: 20210920.1
-
### Visual Studio Enterprise 2022
| Name                          | Version      | Path                                                  |
| ----------------------------- | ------------ | -----------------------------------------------------

[2021-09-21 14:21] nibanks commented on #3858
I created microsoft/azure-pipelines-agent#3540 to track supporting the reboot that occurs when a bugcheck happens. In parallel, I'd like to make sure the Windows machines are configured to collect full Windows kernel dumps to a well-known location. The following would just need to be added to the setup script for agents (before the final reboot).
[code]

[2021-09-21 14:25] ShreyasRmsft commented on #4123
@al-cheb got it, we'll update the task to have support for VS 2022 in the coming release. Thanks for letting us know that the hosted pools are being updated with the preview versions of 2022.

@v-pkoneti will be working on it and can provide further updates.

[2021-09-21 14:53] PaulVrugt commented on #4057
We have the same issue on our private agent, but in our case we have already installed azure powershell 6.4.0. Even when specifying a different preferredAzurePowerShellVersion the warning still appears

[2021-09-21 14:56] al-cheb commented on #4057
Could you please show `Get-Module Az.Resources -ListAvailable` ?

[2021-09-21 15:00] vsafonkin commented on #4120
Hi @zoj613, looks like `python-version` is missed in matrix of your release workflow:
https://github.com/zoj613/polyagamma/blob/main/.github/workflows/release.yml#L25

As i see it uses pip from python 2.7 in the failed release:
[code]
and also:
[code]

I can't understand how it worked before, because `pip` is alias for pip from python 2.7 all this time. I recommend that you use `setup-python` task

[2021-09-21 15:07] zoj613 commented on #4120
Thanks for the detailed reply. I will make sure to specify the python version. Just to be sure, setting it to a particular version wont conflict with the `pypa/cibuildwheel` action,right?

[2021-09-21 15:07] #4120 closed

[2021-09-21 15:12] PaulVrugt commented on #4057
[code]

[2021-09-21 15:13] vsafonkin commented on #4120
I guess it won't.

[2021-09-21 16:00] al-cheb commented on #3976
The new image has been deployed with WDK 11.

[2021-09-21 16:00] #3976 closed, assigned to al-cheb

[2021-09-21 18:37] FlsZen commented on #4123
@nibanks I came across this issue this morning. My temporary workaround is to use the `dotnet test` task in my pipeline (below). I look forward to switching back to the VSTest task at some point since it kind of feels wrong to be mixing `VSBuild` and `dotnet test`, although the tests all seem to run fine.

[code]

[2021-09-21 21:39] miketimofeev commented on #4112
@SandraHartl well, technically it's possible using the offline installer and passing the flags from this article https://software.intel.com/content/www/us/en/develop/documentation/installation-guide-for-intel-oneapi-toolkits-windows/top/installation/install-with-command-line.html
The installer is available at the following URL https://registrationcenter-download.intel.com/akdlm/irc_nas/17940/w_HPC

[2021-09-21 22:22] DiachenkoD commented on #4107
Could we get the log file from the build path?

[2021-09-21 23:37] zi6xuan commented on #4060
When I compiled the ios version of the flutter project on actions, the script script of the ios project got stuck. Stuck at the last script running. I was stuck for six hours and was eventually cancelled because time ran out.

[code]

[2021-09-22 06:32] PaulVrugt commented on #4057
Yes that seems to fix the issue. Thanks @al-cheb

[2021-09-22 08:44] miketimofeev commented on #4060
@zi6xuan feel free to create a new issue and we will try to help you

[2021-09-22 09:11] v-pkoneti commented on #4123
@al-cheb  i am working on it and will update you early next week on this.

Thank you.

[2021-09-22 09:42] miketimofeev commented on #3949
@robertmclaws the new image with update VS has been deployed

[2021-09-22 09:45] al-cheb commented on #1637
Windows Server 2022 image with enabled Test signing mode has been deployed.

[2021-09-22 09:45] #1637 closed

[2021-09-22 11:29] dsame commented on #4108
@iBotPeaches

I created a project which is close to your repro suggestion and it succeeded, so can you please take a look at my workflow https://github.com/dsame/actions-demo/blob/tizen/.github/workflows/blank.yml and try to modify it in order to make it to fail?

The build https://github.com/dsame/actions-demo/runs/3674532974?check_suite_focus=true

[2021-09-22 12:15] nibanks commented on #1637
@al-cheb WS2022 is just the first step. We need this on all Windows versions. My understanding was that we'd start with 2022, and if all goes well (after x weeks?) it'd be enabled for the rest. Can we keep this open until it's everywhere please? WS2022 can't even be used yet anyways because of a number of other issues.

[2021-09-22 13:03] miketimofeev commented on #1637
@nibanks let's get back to this in the mid of October. We will track if there is no complaints for win-2022 and then enable the mode on win-2019

[2021-09-22 14:06] miketimofeev commented on #4112
@SandraHartl this snippet should install the compiler, but it takes quite a long time:
[code]
Thanks to @shilovmaksim for the script

[2021-09-22 14:11] miketimofeev commented on #4112
I also found this repository, which can be useful for your needs https://github.com/oneapi-src/oneapi-ci

[2021-09-22 14:36] maminetahiri commented on #4105
Hello @Darleev, thanks for response.

Sorry, i don't have a sample repository but in my description i put it the maven build task.

I can also send you the dependencies with version that i use for the build let me know if you it will helpfull to have this dependencies.

[2021-09-22 20:40] hutson opened #4131 "API Rate Limit Exceeded when Building Windows Images"
### Description

This is not a bug in the built image but a pain point while building images using `virtual-environments` packer scripts.

When building Windows and Ubuntu images using a fork of this repository, I get the following error:

[code]

This is likely because we run our builds on a corporate network that has a single external IP address. We share that IP with other internal processes th

[2021-09-22 22:24] ettore commented on #4060
Meanwhile, this forum post highlights the iOS re-signing details on macOS 10.15 / Xcode 12 to solve the new signature issues on iOS 15 devices:
https://developer.apple.com/forums/thread/682775

[2021-09-22 22:31] iBotPeaches commented on #4108
Hi @dsame , thanks a ton for starting that off. I adapted it until it matched our testing (Just generated a new test certificate that is obviously public and revoked now). However, to my strange-ness it worked.

Our real one continues to fail, so we are entering an internal phase of compare/contract this public one and our own, which is scarily already almost 100% matched, just the difference bein

[2021-09-22 22:55] bwoodsend opened #4133 "Add universal2 builds of Python to actions/setup-python"
### Tool name

actions

### Tool license

Python software foundation

### Add or update?

- [ ] Add
- [X] Update

### Desired version

latest (3.9.6)

### Approximate size

40MB in .pkg form. 150MB installed

### Brief description of tool

As you're probably aware, Apple are transitioning from `x86_64` to `arm64`. Whilst `x86_64` machines are still around, Apple are encouraging software authors to

[2021-09-22 23:59] vamshisiram commented on #4096
@Darleev  @miketimofeev  @mortenlerudjordet the vm creation is failing. it is failing indicating that the NIC cannot be found and when i look into the operation details, i am seeing a 404 error code.

![image](https://user-images.githubusercontent.com/90816346/134437214-90d28d3d-32c9-400b-b756-e643209c0282.png)

but when i go to the Resource Group, the script is actually creating the NIC, PIp etc.

[2021-09-23 01:46] PenghaiZhang opened #4134 "SBT fails to run tests due to memory issue"
### Description

My project uses SBT to run around 620 tests with TestNG, and it was all good until the`Version: 20210913.1`.  The build logs show `OutOfMemoryError` and I have updated  `jvmopts` and `sbtopts` to have more memory but still failed.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016

[2021-09-23 06:06] dibir-magomedsaygitov commented on #4134
Hello @PenghaiZhang. Thank you for your report. We will take a look.

[2021-09-23 06:08] PenghaiZhang commented on #4134
Thank you!!!!!!!

[2021-09-23 06:23] dibir-magomedsaygitov commented on #4131
Hello @hutson. Thank you for your report. We will take a look.

[2021-09-23 07:25] quark17 commented on #4094
I think the original commit also forgot to add this:
[code]
That line appears in the macOS script (`images/macos/provision/core/haskell.sh`), which had already been using ghcup to install.  I am finding that the Ubuntu VMs (as deployed) don't have `ghc`, `ghc-pkg`, or `cabal` in the default search path.  I have to explicitly add `$HOME/.ghcup/bin` and then my Ubuntu CI jobs start working.  But thi

[2021-09-23 07:26] daniel-mohr opened #4136 "404 Not Found [IP: 40.81.13.82 80]"
### Description

I use [Ubuntu 18.04.5 LTS](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md) in a github action. Now I realized that using `sudo apt install ...` results in:

[code]

About 3 days ago it was still working.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [X] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Wi

[2021-09-23 07:31] dibir-magomedsaygitov commented on #4136
Hello @daniel-mohr  please make sure that you have run `sudo apt-get update` before installation packages.

[2021-09-23 07:34] al-cheb commented on #4094
The main difference between macOS and Ubuntu is that for macOS we don't delete a user profile after image generation that's why we can't use the user profile for Ubuntu images and should put ghc at the global path.

[2021-09-23 07:37] dsame commented on #4108
@iBotPeaches i merged the PR and will take a look in order to find out the way to make it to fail :)

[2021-09-23 07:41] dsame commented on #4108
@iBotPeaches also i tryed to look through Tizen source code but i saw only "org.tizen.cli." package while we the problem is "org.tizen.ncli." package. Do you know where are the sources of NCLI command? I believe it will give us an idea about the root problem.

[2021-09-23 07:46] dsame commented on #4108
@iBotPeaches
In fact "just the difference being GitHub Secrets in place of raw known secrets" looks suspicious - i guess the pipeline does not get environment variables expected by ncli and this causes the NPE.

Can you please clarify what does it mean "raw known secrets" - environment varibales? Hardcodede ones? File input? Can you make sure "GitHub Secrets" really substitutes (become env.variabl

[2021-09-23 07:56] vsajip opened #4137 "3-hour (!) delay during a step only in a Windows environment"
### Description

On [this public repo](https://github.com/vsajip/cfgclient), a workflow has completed without issue on Ubuntu and macOS environments, but experiences a 3-hour delay on Windows for no apparent reason. This behaviour is evident across two separate runs of the workflow.

A three-hour delay for no reason appears to be a bug.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ]

[2021-09-23 08:10] daniel-mohr commented on #4136
@dibir-magomedsaygitov Thank you for this hint.

It [was not necessary](https://github.com/dlr-pa/fuse_git_bare_fs/runs/3291136492) and [is still not necessary in all cases](https://github.com/daniel-mohr/i/actions/runs/1264927457).

But at least [for some packages it seems to be necessary now](https://github.com/daniel-mohr/i/actions/runs/1264957576).

[2021-09-23 08:10] #4136 closed

[2021-09-23 08:46] miketimofeev commented on #4133
Hi @bwoodsend!
Just to clarify what we have on the image:
- Python3 installed from homebrew https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/python@3.9.rb
- Pre-cached python versions built from source using this repository https://github.com/actions/python-versions to use with https://github.com/actions/setup-python

We can't do anything with the one from brew but we can probably try t

[2021-09-23 09:17] hasufell commented on #4094
you can install into `/usr` now with ghcup, e.g.

[code]

Should we maybe do that?

[2021-09-23 09:57] miketimofeev commented on #4137
Hi @vsajip!
Looks like the issue is with the path that was changed after setup-ruby action, which leads to python being used from mingw64 instead of hostedtoolcache. We will take a look at it.

[2021-09-23 10:24] miketimofeev commented on #4042
The images without Alpine 3.11 have been deployed.

[2021-09-23 10:24] #4042 closed

[2021-09-23 10:25] miketimofeev commented on #4035
@damienpontifex the image has been deployed.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-09-23 10:25] #4035 closed

[2021-09-23 10:27] iBotPeaches commented on #4108
We have two secrets in our real build which is the base64 version of the p12 file and the author password for that certificate. These are loaded into the repository secrets. Like the public version of the build shows now, instead of us building a profile with contents and hard-coded passwords. We just take the secrets from `${{ secrets.foo }}` and add them into the variable expansion to build the

[2021-09-23 10:30] al-cheb commented on #4063
The Ubuntu Server 20.04 with podman 3.3.1  have been deployed.

[2021-09-23 10:30] #4063 closed

[2021-09-23 11:01] mikhailkoliada commented on #4020
All the images have been updated by now.

[2021-09-23 11:01] #4020 closed

[2021-09-23 11:19] bwoodsend commented on #4133
OK, I'll do a PR for option 2. The [python-versions source code](https://github.com/actions/python-versions/blob/main/builders/macos-python-builder.psm1) looks a lot less intimidating than I expected so this *shouldn't* be too hard.

Do you have any thoughts on whether all Python versions that are capable of `universal2` builds should become `universal2` or should it be opt-in via a `universal2: t

[2021-09-23 11:20] mikhailkoliada commented on #4049
New image version has been released, the problem must be solved by now.

[2021-09-23 11:20] #4049 closed

[2021-09-23 12:07] SandraHartl commented on #4112
Thanks @miketimofeev the link to the github repository you send helped me a lot. Now I have a proper ifort on my system I can use.

To my understanding the following command should allow the coupling to VisualStudio 2017:
@call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Auxiliary\Build\vcvars64.bat"

Unfortunatly, nothing changed (still not working) when running my vfproj f

[2021-09-23 12:55] nibanks opened #4139 "Windows Driver Build Failure on windows-2022 Image"
### Description

When we move our Windows driver builds to run on the `windows-2022` image they fail with the following error:

PR: https://github.com/microsoft/msquic/pull/2025
Pipeline: https://dev.azure.com/ms/msquic/_build/results?buildId=224542&view=logs&j=94396e2f-981e-567a-61e4-6daa52649fcc&t=67d38931-2ffe-5107-01d6-fdb4cd94df8c

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] U

[2021-09-23 12:57] miketimofeev commented on #4133
What is the difference in size? If it's just a few megabytes then we should be good to go with the universal by default

[2021-09-23 12:57] dibir-magomedsaygitov commented on #4139
Hello @nibanks. Thank you for your report. We will take a look.

[2021-09-23 13:01] Mizux opened #4140 "Missing GNU Make in various readme.md"
### Description

Following #4138 (but not only for ubuntu images) I would like to know which version of GNU Make is installed in each environments (`ubuntu-latest`, `windows-latest` and  `macos-latest`) when looking at their respective README.md

In google/or-tools we still have a Make based build so we need to know which version is installed by default on each of these github action runners...
I

[2021-09-23 13:09] catthehacker commented on #4140
Windows has `make.exe` from MinGW64
https://github.com/actions/virtual-environments/blob/b7f276c003aea42575b52247bdb2183e355fca2f/images/win/scripts/Installers/Install-Mingw64.ps1#L1-L13

[2021-09-23 13:14] shilovmaksim commented on #4137
Hi @vsajip.
First of all, you should swap setup-ruby and setup-python steps so python will be executed from hostedtoolcache instead of mingw64.
Also it looks like there's some problem with calling gradle inside test_jvm test.
I tried to debug this a little in a forked repo. I changed `out = run_command('%s run' % get_exe('gradle'), wd)` to  `os.chdir(wd) out = os.system('gradle run')`. Now gradle

[2021-09-23 13:16] Mizux commented on #4140
@catthehacker so will it be possible to update

Report to add it to the README.md aka
* https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/tests/Tools.Tests.ps1
* https://github.com/actions/virtual-environments/blob/main/images/macos/software-report/SoftwareReport.Common.psm1
* https://github.com/actions/virtual-environments/blob/main/images/win/scripts/SoftwareReport/S

[2021-09-23 13:23] catthehacker commented on #4140
most likely, someone from action should chime in here soon and clarify if they want to add this or not

PR content would be something like this:
[code]
or
[code]

[2021-09-23 13:43] vsajip commented on #4137
I've moved the Python setup to the end of the setup steps - I can see how using the wrong Python interpreter would mess things up, but do you know why it would complete successfully, but just with a 3-hour delay? Seems very odd and IMO worth getting to the bottom of it.

Moving the Python setup causes some other failure (on Windows only!), but that might be in my script so I'll attend to that.

Ho

[2021-09-23 14:26] vsajip commented on #4137
Another point: the first thing the Python script `test_all.py` does is to print the Python version and executable's path, like this:
[code]
That's before it's even decided to run Gradle, or whatever, based on the command line arguments.
So there should be little or no delay between the `##[debug]C:\Program Files\PowerShell\7\pwsh.EXE -command ...` line in the log and the "Running on Python ..." li

[2021-09-23 15:11] miketimofeev commented on #4137
@vsajip we are not java and gradle experts, but we have managed to found that gradle daemon is not started on windows (maybe it is expected) and then we tried the following cases:
1. Run `gradle run` inside jvm directory — the daemon starts and the test passes
2. Run `python3 test_all.py test_jvm` after that — it passes since the daemon is launched
3. Change the line to `out = run_command('%s run

[2021-09-23 15:33] maxim-lobanov commented on #4133
We would avoid adding additional parameters on actions/setup-python side so rebuilding existing binaries with universal2 support is more preferable. Of course, in case if it is not a breaking changes

[2021-09-23 15:59] vsajip commented on #4137
How can that be the reason, when the 3-hour delay occurs between the debug line indicating that the Powershell script for the step is about to run, and the first output from the step? That first output - the
[code]
line - occurs before the script has even decided to run Gradle. It is normal for the Gradle daemon to not be running initially, and it is autostarted by Gradle on the first run to speed

[2021-09-23 16:25] mspaansen commented on #4108
😀

[2021-09-23 16:27] miketimofeev commented on #4137
@vsajip the delay happens after `python3 test_all.py test_jvm`, not somewhere in between so I would call it a hang, not a delay. We tested the behavior in the VM in Azure created from this repository and the result is pretty the same — the command is stuck when the gradle daemon is not running.
It's not possible to connect to the VM with your run so we can't check the processes there, but on our V

[2021-09-23 16:30] vsajip commented on #4137
I've made one more change by invoking `gradle run --no-daemon`, and it seems to complete without the delay. That's great, but I think there is still an issue for you to look at, in that the log timestamps don't seem to tie up with the true state of when events are occurring - the long delay, if caused by daemon startup, should show up *after* the first statement from the script, not before it. Her

[2021-09-23 16:36] vsajip commented on #4137
Of course, I verified that it runs locally - there's no long delay, even with a daemon. Based on the evidence I would agree that the daemon is likely to be the cause of the problem, though this means the timestamps are wrong.

For this specific workflow it doesn't matter, but for Java project CI in general, you would want to enable the Gradle daemon and not have it be the cause of long delays. Not

[2021-09-23 16:39] miketimofeev commented on #4137
There is no issue when you run `gradle run` from the jvm directory even when the daemon is not started so we suppose the issue is related to python and subprocesses not to the gradle itself.

[2021-09-23 17:07] vsajip commented on #4137
Well, the `jvm` directory *is* the current directory when the `gradle run` is executed, and there is no problem in the Ubuntu and macOS environments, which run the same logic.

[2021-09-23 17:07] bwoodsend commented on #4133
They're effectively two copies in one so the binaries about double the size of a single arch Python. But they compress down well when you archive them.
| | single | universal2 |
| --- | --- | --- |
| unpacked | 161MB | 215MB |
| archive | 29MB | 36MB |

[2021-09-23 17:34] dibir-magomedsaygitov commented on #4066
Hello @sureshg. Image rollout is finished. I'm going to close this issue. Feel free to contact us in case of any questions.

[2021-09-23 17:34] #4066 closed

[2021-09-23 18:35] jimhester commented on #4060
FWIW the first R-4.1.1.pkg link for Intel based Macs at https://cloud.r-project.org/bin/macosx/ does support Big Sur (I have been using it on Big Sur myself for months now), however the explanatory text does not seem to have been updated to reflect this.

[2021-09-23 18:51] bwoodsend commented on #4133
I've opened actions/python-versions#114 which assumes universal2 by default.

[2021-09-23 21:35] sureshg commented on #4066
@dibir-magomedsaygitov Awesome..It's working as expected. By the way, does it make sense to add `KOTLIN_ROOT` env variable to kotlin installation path like other tools (GOROOT etc)?

[2021-09-23 23:06] junghans commented on #3812
Same issue now on `ubuntu:devel` (e.g. see https://github.com/kokkos/ci-containers/runs/3628868286)

[2021-09-23 23:16] gotmax23 commented on #3812
For a stopgap solution, take a look at [this file][1] in my Containerfiles repo. Specifically, look at the `Download Docker with patched seccomp` step where I replace the Github-supplied Docker packages with a patched version from @pascallj's PPA and `Create Buildx builder with updated image` where I instruct Buildx to use an updated version of Buildkit.

[1]: https://github.com/gotmax23/Container

[2021-09-23 23:31] gotmax23 commented on #3812
For a stopgap solution, take a look at [this workflow file][1] in my Containerfiles repo. Specifically, look at the `Download Docker with patched seccomp` step which replaces the Github-supplied Docker packages with a patched version of Ubuntu's stock `docker.io` package from @pascallj's PPA. Also look at `Create Buildx builder with updated image` that instructs Buildx to use an updated version of

[2021-09-23 23:53] junghans commented on #3812
@gotmax23: That is gold! Due https://github.com/docker/build-push-action/issues/251 I am still using `docker/build-push-action@v1` hence adding:
[code]
was all it took. Thanks!

[2021-09-24 00:02] gotmax23 commented on #3812
Hi @junghans,

I'm glad that I helped someone else, because I spent a lot of time troubleshooting this issue! We both probably should replace that Bugzilla link to one that's more relevant; that link is leftover from a previous failed attempt to fix this issue.

Thanks,
Maxwell 😀

[2021-09-24 01:10] vamshisiram commented on #4096
@Darleev @miketimofeev i found that it works only if the resource group/storage account/vm all are in central us. I was using north central earlier.

Even with central us, it was failing at some parts indicating the replication failure for vm creation, but when I retried it was fine.

Wanted to let you know that this can now be closed.

[2021-09-24 01:20] vamshisiram opened #4141 "Import got repo into devops repo not working"
### Description

@Darleev. @miketimofeev

I was importing this git repo into devops repo using the import option by providing the https git url.

it imported almost everything except the Ubuntu 2004 and windows 2022 json files in the images folder. I found this out because I was using the image value in generate script and it errors out indicating the Json was not found.

Is this a known bug?

###

[2021-09-24 01:30] totalo commented on #4054
@dsame Hello, it will still appear after modification. such as:
https://github.com/apache/shardingsphere/pull/12661/checks?check_run_id=3687097516#step:6:20740

[2021-09-24 05:04] vsajip commented on #4137
I've changed the script to output debug information from Gradle, and it seems to show that the 3-hour delay occurs at the *end* of the step, not the beginning. The log can be seen [here](https://github.com/vsajip/cfgclient/runs/3693448301?check_suite_focus=true) - the relevant lines are shown below. You can ignore the GitHub Actions timestamps after the step starts, they are all off by about 3 hou

[2021-09-24 05:17] vsajip commented on #4137
As an extra point, the lines of debug information relating to the Gradle daemon are
[code]
All within 4 minutes of start, which suggests that the daemon didn't contribute to any delay at startup, though the delay *might* be due to waiting for the daemon to die (which might not happen for 3 hours, depending on how the Gradle launcher is configured in the Windows VMs).

Please escalate as needed to

[2021-09-24 06:26] shilovmaksim commented on #4137
Could you please try to run your script locally on a windows machine with all gradle [daemons stopped](https://docs.gradle.org/current/userguide/gradle_daemon.html#sec:stopping_an_existing_daemon) and not running.

[2021-09-24 07:14] Darleev commented on #4096
@vamshisiram thank you for your effort and the information provided.
I'm going to close the issue.
Feel free to contact us at any time

[2021-09-24 07:14] #4096 closed

[2021-09-24 07:33] vsajip commented on #4137
Sure. I used this batch file (`runit.bat`):
[code]
Here's the run with daemons not disabled:
[code]
Here's the run with `--no-daemon` to disable daemons:
[code]

[2021-09-24 07:46] miketimofeev commented on #4060
@jimhester feel free to open Add request in this repo and we will add R to the Big Sur image.

[2021-09-24 09:26] mikhailkoliada commented on #3859
MacOS and Windows are done, for Linux we are waiting for https://github.com/adoptium/installer/issues/330

[2021-09-24 09:29] mikhailkoliada commented on #4085
Windows and MacOS are done, jdk 17 should be available there as soon as new images are deployed next week

[2021-09-24 10:05] dmitry-shibanov commented on #4089
Hello everyone, changes were added to the images.
For now I'm closing the issue.

[2021-09-24 10:05] #4089 closed

[2021-09-24 11:12] WPrins opened #4144 "Gradle failing for NDK23"
### Description

Android builds started failing today. The previous build was done on Monday 20 sept which still succeeded. I noticed that in the meantime the default NDK was updated to 23.
This is the error message:

* What went wrong:
Execution failed for task ':app:stripDevelopReleaseDebugSymbols'.

  org.gradle.process.internal.ExecException: A problem occurred starting process 'command '/User

[2021-09-24 11:17] dibir-magomedsaygitov commented on #4144
Hello @WPrins. Thank you for your report. Could you please share content of `gradle-wrapper.properties` and `build.gradle` files?

[2021-09-24 11:51] bionanek commented on #4060
Just out of curiosity - why does this update take so long after new iOS and MacOS has been already officially released by Apple? I mean, If it's gonna be done by November 3rd it's gonna be +/- 3 months without proper GitHub support for this kind of environments.

[2021-09-24 12:01] shilovmaksim commented on #4137
@vsajip, How is gradle installed on your local machine? I mean manually or via some package manager like chocolatey.

[2021-09-24 12:16] WPrins commented on #4144
The gradle-wrapper.properties:

[code]

and build.gradle

[code]

[2021-09-24 13:08] dibir-magomedsaygitov commented on #4144
Could you please try to change:
`classpath 'com.android.tools.build:gradle:3.6.4'` -> `classpath 'com.android.tools.build:gradle:4.1.0'`
`distributionUrl=https\://services.gradle.org/distributions/gradle-6.7.1-bin.zip` -> `distributionUrl=https\://services.gradle.org/distributions/gradle-6.5-bin.zip`
and check if it helps to resolve the issue?

[2021-09-24 15:00] nibanks commented on #4053
@DougGal-Microsoft would be the one to know for sure, but I think it might just be best to start with windows-2019 for now.

[2021-09-24 16:28] miketimofeev commented on #4053
@nibanks thanks! We already discussed it with Doug and VS-2022 is not yet supported, so we have added GDK only for the windows-2019 image for now. The changes will be deployed next week.

[2021-09-24 16:30] aiceball opened #4146 "Alibaba Cloud CLI installation fails when building Ubuntu images"
### Description

When building an Ubuntu 20.04 image with `packer`, the following errors occur:

[code]
Etc

Upon further inspection of the `aliyun-cli.sh` it seems the issue is caused by line
[code]
returning 2 entries:
[code]

Adding `select(contains("arm"))` to the filter resolved the issue for me.

### Virtual environments affected

- [X] Ubuntu 16.04
- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [

[2021-09-24 16:42] dibir-magomedsaygitov commented on #4146
Hello @aiceball. Thank you for your report. I'll prepare PR with the fix.

[2021-09-24 17:13] mikhailkoliada commented on #4131
Hello @hutson

Unfortunately we unlikely to help you with this problem. GitHub api queries are indeed limited to 60 query/hour for unauthenticated users. We can not control each and every package query (especially installed from choco). Yes, Github lets you to use a personal access token to increase your limitations, but there is no way, for say, choco to adopt the token for usage, not to say that

[2021-09-24 17:44] miketimofeev commented on #3757
The issue seems to be resolved on Cordova side.

[2021-09-24 17:44] #3757 closed

[2021-09-24 17:45] miketimofeev commented on #4051
@zufuliu the image has been deployed. I'm going to close the issue.
Feel free to contact us if you have any concerns.
Thank you!

[2021-09-24 17:45] #4051 closed

[2021-09-24 18:37] vsajip commented on #4137
Manually, as per the instructions [here](https://gradle.org/install/), except onto drive `F:` and I also have a `gradle.exe`, because the manual installation just provides a `gradle.bat`, but in your VMs there's just `gradle.exe` AFAIK. My `gradle.exe` is just derived from a Python script that does exactly the same as `gradle.bat`, which is to run (as I have JDK1.8 on this Windows machine)
[code]

[2021-09-24 18:49] vsajip commented on #4137
I think the problem is the Gradle daemon die time. I can change this repo's workflow to use `--no-daemon`, but that won't solve the issue in the wider case, which might well be one of my other projects :wink: The real question is - why does the Windows VM hang around in the step for 3 hours (apparently waiting for the daemon to die), whereas the Ubuntu and macOS ones don't seem to? See [this parag

[2021-09-24 19:10] mikhailkoliada commented on #4139
Hello @nibanks!

I guess the problem is missing WDK installation in our win22 image. I believe there had been no proper WDK version released by the time we had been preparing the release. Apart from that we are shipping Visual Studio Code 2022 Preview as a part of the image. There is no compatible public WDK release available yet, which means we can not handle this issue right now.

[2021-09-24 19:16] anjebarnard-deloitte commented on #4144
We also saw a similar error in our build (on the macOS 10.15 environment):

* What went wrong:
Execution failed for task ':app:stripReleaseDebugSymbols'.

Updating the gradle tools version to 4.1.0 and the gradle distribution version to gradle-6.5-bin, made the build work again. (P.S. We also didn't make any code changes before it started breaking.)

@dibir-magomedsaygitov Thanks for the suggestio

[2021-09-24 19:20] nibanks commented on #4139
Hmm... do you have any contacts that might provide some ETA for a WDK that works with Visual Studio 2022?

[2021-09-24 20:55] ShadowJonathan commented on #4060
Technically 2.7 is also deprecated, why is it included in the image?

[2021-09-24 21:40] codefromthecrypt commented on #2536
I know the relationship is loose, but last year [Azure Pipelines](https://azure.microsoft.com/en-us/updates/azure-devops-pipelines-introduces-support-for-linuxarm64/) added support for arm64.

Having this issue closed seems more about timing vs a won't fix, right? Other platforms such as Travis added arm64 and it would be unlikely GitHub Actions never has a free runner (I hope!)

Is there a way we

[2021-09-24 21:59] rickardp commented on #2536
@codefromthecrypt the problem is, as far as I understand it that Azure does not expose general purpose compute nodes (VM scale sets) with arm64 CPU types. GitHub can either wait for Azure or use AWS (unlikely I suppose given ownership). I hope Azure publishes Arm64 VM sizes soon, not only because of this issue.

[2021-09-24 23:45] chadbrewbaker commented on #2187
Why not use @sickcodes Docker-OS X under the stock GitHub Actions Ubuntu instance? Apple has never complained- XNU and LLVM are open source. What Apple doesn’t want is people loading non-headless QEMU.

[2021-09-24 23:50] catthehacker commented on #2187
@chadbrewbaker because the request is about specific CPU configuration which you cannot achieve with a virtual machine (macOS in KVM on ArchLinux in Docker).
If you need to run just macOS, you can use `macos-11` or `macos-10.15`.

[2021-09-25 03:30] Turki-Tk commented on #2187
I'm sorry I'm new and I'm not very good in English
Please can help

في السبت، ٢٥ سبتمبر ٢٠٢١ ٢:٤٦ ص Chad Brewbaker ***@***.***>
كتب:

[2021-09-25 06:39] #4141 closed

[2021-09-25 11:32] bmarwell commented on #4089
Thanks, I was able to verify it works nicely again yesterday. Sorry for not letting you know earlier and thanks a lot for your efforts! 👍🏻

[2021-09-25 12:03] shilovmaksim commented on #4137
Gradle on a Windows VM installed via chocolatey.

Choco installing packages inside his installation folder and creating a [shim](https://docs.chocolatey.org/en-us/features/shim) leading to specific executable.
I've managed to repro the issue on my local machine with gradle installed with choco. And script works as expected with the same gradle switched to use gradle.bat bypassing shim.
The problem

[2021-09-25 13:28] vsajip commented on #4137
I don't agree, because the logs indicate otherwise - specifically the link and my analysis of the log [as given in this message](https://github.com/actions/virtual-environments/issues/4137#issuecomment-926348851). In that analysis, it shows that the Gradle run proceeds normally, with a 3-hour delay *after the run has completed*. There is no point in hand-waving about `interaction between "run_comm

[2021-09-25 14:54] jackbond commented on #3949
Does the image have the .NET Core SDK 6? In the table above, it only indicates 3.1 and 5, which seems strange.

[2021-09-25 15:58] robertmclaws commented on #3949
By virtue of having Visual Studio 2022 on there, it should also have the .NET 6 SDK that ships with that version.

Having said that, I always have a ".NET Core SDK" task in my pipeline that installs the version specified in global.json. Ensures I'm using the right version no matter what is on the box.

[2021-09-25 16:20] miketimofeev commented on #4137
@vsajip you can reproduce the issue on your local machine if you switch Gradle to the one from choco. The issue is most likely caused by the gradle shim and how it returns the status to your python script. Could you debug this combination (gradle from choco plus your script) locally because we can't do much from our end rather than get rid of choco, which we would rather avoid due to maintenance c

[2021-09-25 17:10] jackbond commented on #3949
You guys might want to make that explicit in your table. It's possible to install Visual Studio without .NET support isn't it?

[2021-09-25 17:50] vsajip commented on #4137
I'll try installing Gradle with Chocolatey and see how that goes.

[2021-09-25 18:22] dibir-magomedsaygitov commented on #4146
[PR](https://github.com/actions/virtual-environments/pull/4147) with the fix is merged. Closing the issue.

[2021-09-25 18:22] #4146 closed

[2021-09-25 18:55] compnerd commented on #1652
My recommended handling for installation has changed with the 5.5 release now officially complete.  (@MaxDesiatov, there was a reason that I didn't make my original composite action more broadly accessible ;-)) I now recommend this:

[code]

The reason for the matrix is to allow constructing the URL more easily and makes updating the snapshots easier.  It also does allow testing for multiple versi

[2021-09-25 19:11] vsajip commented on #4137
OK, I can reproduce the problem with the Chocolatey shim, thank goodness! Looks like it's a known issue with CI; AppVeyor had a [similar issue](https://github.com/appveyor/ci/issues/1745#issuecomment-324467836), I've now found.

[2021-09-25 19:27] vsajip commented on #4137
There's no specific place to log an issue for this, so I've contacted the Gradle package maintainers via a form on the Chocolatey site. Let's hope they respond.

[2021-09-25 23:13] Arifan998 commented on #4042
Write

[2021-09-26 10:36] styluo commented on #4144
ndk version from 22.1.7171670 to 23.0.7599858 in macos-latest
The NdkLocator.kt in gradle plugin 3.5.0 will use the highest version
[code]
So the environment variable (ANDROID_NDK_HOME) has no effect

[2021-09-26 10:42] styluo commented on #4144
ndk version from 22.1.7171670 to 23.0.7599858(ANDROID_NDK_LATEST_HOME) in macos-latest
The NdkLocator.kt in gradle plugin 3.5.0 will use the highest version
[code]
So the environment variable (ANDROID_NDK_HOME) has no effect

[2021-09-26 18:29] jcflack commented on #3397
It took me a long time to get back to this, but Darleev's suggestion worked for me, and I did not need the additional step of fetching the key first.

That seems ok if it means the key is already in the image. I hope it does not mean the `apt-get` was done without signature checking. As I did not say `--allow-unauthenticated`, I should be confident it would simply fail without the key, right?

[2021-09-26 19:41] mikhailkoliada commented on #4140
Hello!

Unlike gcc, make releases happen hardly ever [1] and usually introduce very small amount of changes, which possibly makes 'make' not worth being shown in the README files.

[1] - http://ftp.gnu.org/gnu/make/

[2021-09-26 23:09] PenghaiZhang commented on #4134
Hello @dibir-magomedsaygitov , just let you know that I have switched to Ubuntu18.04 and it works fine.

[2021-09-27 06:15] al-cheb commented on #4045
The new images with cargo-audit have been deployed.

[2021-09-27 06:15] #4045 closed

[2021-09-27 07:23] Darleev commented on #4099
Hello @adrianeui,
I'm going to close the issue until further clarifications from your side.
Feel free to contact us at any time.

[2021-09-27 07:23] #4099 closed

[2021-09-27 07:46] miketimofeev commented on #4137
@vsajip looks like it's a known issue, this one sounds very similar https://github.com/chocolatey/shimgen/issues/44
I'm going to close the issue since no action is required from our side at the moment. Feel free to contact us if you have any concerns or updates.
Thank you!

[2021-09-27 07:46] #4137 closed

[2021-09-27 07:52] miketimofeev commented on #4107
Hi @DiachenkoD! Do you have any progress with standalone project preparation? Unfortunately, we can't help your team without a proper reproducible example

[2021-09-27 07:56] miketimofeev commented on #3894
macOS images with NDK 23 were deployed, ubuntu is deploying this week

[2021-09-27 08:39] mikhailkoliada commented on #4139
@nibanks Looks like there is a question about it [already](https://developercommunity.visualstudio.com/t/vs2022-missing-compatible-wdk/1507277). I'll try to contact Luke to see what's going on and figure out if there is expected ETA.

[2021-09-27 10:22] MaksimZhukov commented on #3949
Hello @jackbond!
The Windows Server 2022 image contains .NET Core SDK 6. Please find more details about included software in the [Windows2022-Readme.md](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md#net-core-sdk) file

[2021-09-27 14:10] vaibhavrja commented on #384
Hi, I am getting the same error. Can you please tell me how did you solve this error.

[2021-09-27 15:22] palumbo67 commented on #4060
Getting the following error when running tns test android on macOS-latest (11.6)
[code]

I even get this error when running it against 10.15. Did something change?

[2021-09-27 15:26] miketimofeev commented on #4060
@palumbo67 could be related to this https://github.com/actions/virtual-environments/issues/3894

[2021-09-27 15:31] palumbo67 commented on #4060
@miketimofeev so I can technically run my unit tests in ubuntu-latest instead of macOS-latest

[2021-09-27 15:45] palumbo67 commented on #3894
I ran my pipeline this morning and it still failed searching for NDK. How long does this usually take?

[2021-09-27 16:38] miketimofeev commented on #4017
Thanks, @catthehacker for all the provided instructions.
@vesubramanian we have the discussions section available here https://github.com/actions/virtual-environments/discussions It's better to ask such kind of configuration questions there.
I'm going to close this issue.

[2021-09-27 16:38] #4017 closed

[2021-09-27 20:38] codefromthecrypt opened #4156 "env variables like GOROOT_1_17_X64 missing from macos"
### Description

It seems a mistake that environment variables like GOROOT_1_17_X64 are present on windows and linux, but not on macos. Can you please add them?

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

[2021-09-27 21:21] simondelphia opened #4157 "`instruments -s devices` command failing in workflow running on macOS 11 Xcode 13"
### Description

In my macOS-11 workflow I run the following shell command to get a list of available devices

    instruments -s devices

This used to work fine with Xcode 12.5 but now when I switched to Xcode 13 it isn't working.

When I ran it locally Xcode wanted to install additional command line tools… I assume then the reason why it's failing on GitHub actions is because these additional to

[2021-09-27 22:12] woodrufs commented on #4157
FWIW, instruments was removed from the CLI in Xcode 13:

https://developer.apple.com/documentation/xcode-release-notes/xcode-13-release-notes

[2021-09-27 22:20] simondelphia commented on #4157
Ah ok, thank you

[2021-09-27 22:20] #4157 closed

[2021-09-27 23:57] iBotPeaches commented on #4108
Okay, this is resolved now. I spent probably way too long on this. Long story short - something has the strangest password requirements. It seems that Tizen in comparison with the specific software installed on GHA requires a purely alpha lowercase password (of at least 27 characters).

When we put our real cert/pass into the test action - it failed
When we put the fake cert/pass into the real act

[2021-09-27 23:57] #4108 closed

[2021-09-28 06:06] krokofant opened #4158 "Add SqlPackage to Windows"
### Tool name

SqlPackage

### Tool license

Unsure. The tool already exists in the Ubuntu image.

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest/any

### Approximate size

_No response_

### Brief description of tool

This tool already exists in the Ubuntu image since #2787, see that issue for reference.
Please add this to Windows as well.

### URL for tool's homepage

ht

[2021-09-28 06:49] al-cheb commented on #4158
Hello, @krokofant
We already pre-installed DACFx - https://github.com/actions/virtual-environments/blob/main/images/win/scripts/Installers/Install-DACFx.ps1

`sqlpackage.exe` util exists `C:\Program Files\Microsoft SQL Server\150\DAC\bin\sqlpackage.exe`

[2021-09-28 08:26] MaksimZhukov commented on #3894
Hello @palumbo67!
Usually, it takes 3-4 days to propagate the images to all environments if there are no issues

[2021-09-28 08:30] krokofant commented on #4158
@al-cheb Aha! Could this be made clearer in the readme?

The [Ubuntu18.04](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md) lists SqlPackage but the [Windows ones](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md) does not. 😕

[2021-09-28 08:49] al-cheb commented on #4158
It's part of DacFx 15.0.5164.1.

[2021-09-28 09:02] krokofant commented on #4158
@al-cheb I get what you're saying, I just think it's not especially clear.

[2021-09-28 09:02] #4158 closed

[2021-09-28 10:55] mikhailkoliada commented on #4140
I am going to close this now, feel free to reopen if you have any questions.

[2021-09-28 10:55] #4140 closed

[2021-09-28 11:02] Mizux commented on #4140
Actually, for me, it matter since macos env use make 3.80 instead of 4.2.21 (IIRC) on `windows-latest` and `ubuntu-latest`

and make `$(foreach ...)` is not correctly evaluated...
e.g. https://github.com/google/or-tools/blob/b37d9c786b69128f3505f15beca09e89bf078a89/cmake/Makefile#L146-L182

Also in the C++ realm, when using CMake (which is a build **generator**) this one default to make based buil

[2021-09-28 11:07] dibir-magomedsaygitov commented on #4144
Hello @WPrins. Have you tried to update gradle tools version to 4.1.0 and the gradle distribution version to gradle-6.5-bin to check if it helps to resolve the issue?

[2021-09-28 13:10] cfbao opened #4163 "docker-compose v2 release breaks Linux docker-compose installer"
### Description

the [installer](https://github.com/actions/virtual-environments/blob/1e7e6749a5fa9ad8d332d8d93ae24785579e5fc9/images/linux/scripts/installers/docker-compose.sh#L8) looks for `docker-compose-Linux-x86_64` in the latest release, but docker-compose [just released v2](https://github.com/docker/compose/releases), and the asset name is changed to `docker-compose-linux-arm64`.

pin v1 or

[2021-09-28 13:37] shilovmaksim commented on #4053
Hi @DougGal-Microsoft , @nibanks .
GDK package installing on a machine whole bunch of tools including AzureRM PowerShell modules which breaking our tests.
Could you please tell us whether installation can be minimized to the list of tools required only?

[2021-09-28 13:43] nibanks commented on #4053
I don't know any useful details here, so I'll have to leave it to @DougGal-Microsoft to answer.

[2021-09-28 14:39] palumbo67 commented on #4144
I get this issue when running `tns test android` on the Microsoft Hosted Mac agent. This was running fine but I am getting the error message:
[code]

[2021-09-28 15:08] nkarczmarzyk commented on #4144
@palumbo67 We have the same issue when running `tns build android` on a Microsoft Hosted Mac agent (macOS-10.15).

[2021-09-28 15:27] kenmorse commented on #3894
@palumbo67 — while you are waiting, something like this might help:

      - name: Check for specific NDK
        run: |
            [ ! -d "$ANDROID_NDK_ROOT/23.0.7599858" ] && echo "NDK_23_0_7599858=not available" >> $GITHUB_ENV

      - name: NDK Cache
        if: ${{ env.NDK_23_0_7599858 == 'not available' }}
        id: ndk-cache
        uses: actions/cache@v2
        with:
          path: /u

[2021-09-28 16:15] mikhailkoliada commented on #4131
I am going to close this issue right now, feel free to reopen if you have any questions.

[2021-09-28 16:15] #4131 closed

[2021-09-28 17:17] DougGal-Microsoft commented on #4053
I can't find any way to install it only partially.  Several studios are known to install it on one machine and just copy binaries around through their build system, but that's not an officially supported scenario.  In this case, it's unclear if there is a parallel or not.

[2021-09-28 17:40] Cymoki commented on #4139
The WDK team is working to ensure WDK compatibility with Visual Studio 2022. Preview versions of the WDK that supports Visual Studio 2022 will be made available through the Windows Insider Program (WIP) as soon as its ready for insiders to review.

[2021-09-28 17:49] newsoft-github opened #4170 "Update/Add [tool name]"
### Tool name

Microsoft.VisualStudio.Component.VC.ATLMFC

### Tool license

same license as the windows-2019 image

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

The windows-2019 image has ATLMFC, ATLMFC.Spectre, v141.MFC, v141.MFC.Spectre.
The windows-2022 image has ATLMFC.Spectre, v141.MFC, v141.MFC.S

[2021-09-28 21:00] spyder007 commented on #4163
It should be noted, also, that the new version seems to be installed as a docker plugin rather than it's own binary.  I fixed the jq select locally, but the unit tests were failing when trying to call docker-compose --version.  It looks like docker-compose is installed before docker, so the unit test is incorrect as well.

[2021-09-28 21:04] pluck011 commented on #4144
Saw this issue as well - supplying a working `ndkVersion` in the `build.gradle` fixed it for me.

[2021-09-28 21:11] miketimofeev commented on #4163
@cfbao @spyder007 it seems we may stick to version 1 for now and then switch to the moby-compose package when 2.0 is available there.

[2021-09-28 21:18] pluck011 opened #4171 "macos-11 agents stuck on "Queued" status for hours"
### Description

Starting on 9/28/21, my builds in on Azure hosted agents (United States) running macos-11 are stuck in the "Queued" state for hours on end with the only output being:
[code]

I have 5 Azure hosted agents (United States) and my builds have two parallel jobs that run. There are free agents and they are operational, but the pipeline doesn't progress for over an hour.

They do eventua

[2021-09-28 21:21] u605902 commented on #4163
we are also stuck here when trying to build docker image. any temporary solution?

[2021-09-28 21:28] miketimofeev commented on #4171
Hi @pluck011!
We are aware of the issue and the engineering team is currently working on adding capacity to macOS-11 in Azure DevOps. Sorry for the inconvenience.

[2021-09-28 21:43] spyder007 commented on #4163
@u605902

I changed the docker-compose.sh locally to this:
`# Install latest docker-compose from releases
URL=$(curl -s https://api.github.com/repos/docker/compose/releases/latest | jq -r '.assets[].browser_download_url | select(endswith("docker-compose-linux-amd64"))')
curl -L $URL -o /usr/local/bin/docker-compose
chmod +x /usr/local/bin/docker-compose

#invoke_tests "Tools" "Docker-compose"`

I'

[2021-09-28 21:55] spyder007 opened #4172 "Maven installer does not use supplied download url"
### Description

The Maven install section retrieves information from github (https://api.github.com/repos/apache/maven/tags) but then extracts the latest version number and manually builds a download link from www-eu.apache.org/dist/maven.

I ran into an issue this morning where that mirror was behind and the appropriate version (in this case, 3.8.3) wasn't there.  So we're pulling version number

[2021-09-28 22:18] catthehacker commented on #4172
I assumed that since there is no 'release' but only tags on maven repo they don't distribute binaries via GitHub (`apache-maven-${latestMavenVersion}-bin.zip` suggests it's a zip with a compiled binary) so that's why I recommended using GitHub for latest tag.

[2021-09-29 00:10] spyder007 commented on #4172
@catthehacker Honestly, that works 9 times out of ten, but, right now, it's causing an issue because Github is reporting version 3.8.3 available, but apache doesn't have that version up yet.  Not sure how to remedy that.

[2021-09-29 05:40] MP91 opened #4175 "Set Xcode 13 as default for macOS agents"
### Description

Since Xcode 13 is released, it should be the default for the builds.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

Every build with default Xcode uses Xcode 12.5.1

### Is it regression?

_N

[2021-09-29 06:40] al-cheb commented on #4172
Hello, @spyder007
As a temporary workaround please update the [java-tools.sh](https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/installers/java-tools.sh) script:
[code]

[2021-09-29 08:16] miketimofeev commented on #4170
@newsoft-github could you please change the issue title to `Add Microsoft.VisualStudio.Component.VC.ATLMFC to VS22` or something like that?

[2021-09-29 08:21] miketimofeev commented on #4175
Hi @MP91!
We have no objections to setting Xcode 13 as default. We will announce the change and switch the version in two weeks.

[2021-09-29 08:38] mikhailkoliada commented on #4139
@Cymoki thanks a lot for the update!

@nibanks as there is nothing for us to do yet (and there will be nothing to do in the near future as well I bet) I am going to close this issue for now. Feel free to reopen / file a new one as soon as the WDK release is available and we will surely add it to the image.

[2021-09-29 08:38] #4139 closed

[2021-09-29 08:44] miketimofeev opened #4180 "[macOS] Default Xcode on Big Sur image will be set to Xcode 13.0 on October, 18"
### Breaking changes

Default Xcode will be changed to 13.0 on macOS 11 Big Sur.

### Target date

Update propagation will start on October, 18 and will take 2-3 days.

### The motivation for the changes

We would like to provide images with the latest stable updates as default ones.

### Possible impact

If you use the default Xcode version and your project is not compatible with Xcode 13.0 your

[2021-09-29 08:45] miketimofeev commented on #4175
@MP91 announcement created https://github.com/actions/virtual-environments/issues/4180
I'm going to close this issue, please track the progress in the announcement.
Thank you!

[2021-09-29 08:45] #4175 closed

[2021-09-29 10:11] miketimofeev opened #4183 "[macOS] Xcode 12.5 will be removed from Big Sur on October, 18"
### Breaking changes

Xcode 12.5 will be removed from macOS 11 Big Sur on October, 18

### Target date

The deployment will start on October, 18 and will take 2-3 days

### The motivation for the changes

According to our [Software and image guidelines
](https://github.com/actions/virtual-environments/blob/main/docs/software-and-images-guidelines.md) old patch Xcode versions are deprecated in 3 mo

[2021-09-29 10:23] dsame commented on #4054
@totalo

Hm... I looked through the maven execution and the only suggestion i have now is some chosen mirror mvn repos does not reply in time.

Don't you mind to modify `.mvn/jvm.config` in order to increase loggin level like this one?

[code]
https://github.com/akv-platform/shardingsphere/blob/master/.mvn/jvm.config

I expect we can identify the problem with the trace log and next to apply fine t

[2021-09-29 11:09] nibanks commented on #4139
Ok, but this must block 2022 from becoming latest, as it will break all driver development.

[2021-09-29 11:14] fauust commented on #3536
Hey @DanNixon!
I finally may have found a solution (thanks to @gotmax23, see https://github.com/ansible-community/molecule/discussions/3155#discussioncomment-1399189 and https://github.com/fauust/ansible-role-mariadb/commit/be3e1a07ee5d0992f2c3d03f22a4f3755a7343df

[2021-09-29 11:42] miketimofeev commented on #4139
@nibanks 2022 is in beta state so it won't become latest till GA.

[2021-09-29 12:29] spyder007 commented on #4172
@al-cheb Thank you, I've actually just been using the replacement I suggested above for the time being (downloading using the zipball_url provided by github).  Once this is fixed I will just discard my changes.

Thanks again!

[2021-09-29 12:47] mikhailkoliada commented on #4170
The component has been added, deployment of the the image with the component is going to happen next week.

[2021-09-29 12:49] al-cheb commented on #4172
PR https://github.com/actions/virtual-environments/issues/4172 is merged.

[2021-09-29 12:49] #4172 closed

[2021-09-29 14:01] shilovmaksim commented on #4053
@DougGal-Microsoft , is it possible to you to install GDK during runtime?

[2021-09-29 14:47] quincy commented on #3362
After we downgraded to maven 3.6 we also put a load balancer to handle https in front of our maven repo.  I would recommend one of these two routes as they are both relatively easy and don't fight what Apache is trying to do with Maven.

[2021-09-29 15:33] nkarczmarzyk commented on #4144
Please don't make the same like mistake I did.
In the [readme](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md) for macos-10.15 it says that the NDK version 21.4.7075529 is the default. This is apparently wrong. After I set the version manually via `ndkVersion`, the build suceeded again.

[2021-09-29 15:39] miketimofeev commented on #4144
@nkarczmarzyk thanks for the heads up! The default means that `ndk-bundle` points to this ndk version, probably we need to be more specific about it.

[2021-09-29 18:48] u605902 opened #4186 "Ansible installed failing - ansible-playbook: command not found"
### Description

The installer which installs ansible is failing with the following error
azure-arm: Provisioning with Ansible...
    azure-arm: Creating Ansible staging directory...
    azure-arm: Creating directory: /tmp/packer-provisioner-ansible-local/6154885c-8288-a706-acb5-69242dde5123
    azure-arm: Uploading main Playbook file...
    azure-arm: Uploading inventory file...
    azure-arm: Ex

[2021-09-30 06:35] al-cheb commented on #4186
Hey, @u605902
Please provide steps how to reproduce the issue. I don't see any issues with nightly builds.

[2021-09-30 06:44] dibir-magomedsaygitov commented on #4105
Hello @maminetahiri. Could you please add one step before the maven task and execute this command:
`mvn clean scala:compile compile package`
And, also, could you please share the content of your POM file?

[2021-09-30 07:02] wimdeblauwe commented on #4085
What about Linux ?

[2021-09-30 07:17] mvysny commented on #4085
@wimdeblauwe for me it works well with ubuntu-latest and jdk17, please see an example here: https://github.com/mvysny/karibu-tools/blob/main/.github/workflows/gradle.yml

[2021-09-30 07:47] miketimofeev commented on #4085
@wimdeblauwe we are waiting for adoptium linux installers https://github.com/adoptium/installer/issues/330

[2021-09-30 08:40] FarahaDadvarDeveloper commented on #4060
Hi All,
Any update on when the macOS host agent will support XCode 13?
Kind regards

[2021-09-30 08:57] al-cheb commented on #4060
It is already available.
https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md
<html>
<body>
<h3 style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 1.25em; font-weight: 600; line-height: 1.25; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color

[2021-09-30 09:20] QuintinWillison opened #4189 "Virtual Environment Provisioner version includes the word `master`"
### Description

This may not be the right place to report this, but I would appreciate it if someone with more knowledge of GitHub's repository structures (perhaps including internal ones) could register this in the right place if this repository isn't that place.

If I open up the 'Set up job' section of one of my workflow runs then I see log output entitled 'Virtual Environment Provisioner' (e.

[2021-09-30 09:36] al-cheb commented on #4189
Hello, @QuintinWillison
Thank you, we will take a look at it..

[2021-09-30 10:03] FarahaDadvarDeveloper commented on #2072
Hi,

When will macOS 11.6 host agent be made available on Azure DevOps Pipeline?

[2021-09-30 10:06] al-cheb commented on #2072
macOS 11 is  already available on Azure DevOps Pipeline.

[2021-09-30 10:07] al-cheb commented on #2072
macOS 11 is publicly available for all Azure DevOps users - https://github.com/actions/virtual-environments/issues/2072#issuecomment-904371992

[2021-09-30 10:10] FarahaDadvarDeveloper commented on #2072
I was wondering when macOS **11.6** will be available as this will support Xcode 13

[2021-09-30 10:11] al-cheb commented on #2072
Already available:
https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md
`System Version: macOS 11.6 (20G165)`

[2021-09-30 10:45] jake8787 commented on #3874
Thanks guys! @al-cheb @catthehacker
It's now working as expected 👍

[2021-09-30 11:05] al-cheb commented on #4094
The `/usr/bin/ghc` path has been removed.

[2021-09-30 11:08] #4094 closed

[2021-09-30 12:37] sami1971 commented on #4060
Any update when Xamarin IOS builds will support XCode 13? There doesn't seem to be way to make Visual Studio to use 13 instead of Xcode_12.5.1.

[2021-09-30 12:52] JanBessai commented on #736
Any update on this?

[2021-09-30 12:57] sami1971 commented on #4060
Yes, the updates were published today. Wondering when they will be available on the Azure pipeline. Currently the builds use 12.5.1 as Xamarin.iOS 14.20 is the latest available. Will we be getting 15.0.0.6 anytime soon on the image?

[2021-09-30 13:19] lslezak opened #4193 "Docker incompatibility with glibc-2.34"
### Description

### The Problem

Using glibc-2.34 in GitHub Actions Docker images results in strange "permission error" failures in the jobs.

This new glibc has been introduced in openSUSE Tumbleweed recently (see the [announcement](https://lists.opensuse.org/archives/list/factory@lists.opensuse.org/thread/P5ATW7DDZ56ZEY6KNT6CLLQIWNNGZYTC/)). That means all Docker images based on the latest open

[2021-09-30 13:42] speedym opened #4195 "CMake fails to find OpenSSL in 20210927.1"
### Description

After the upgrade from 20210919.1 -> 20210927.1 of the macos-10.15 virtual environment, our CI broke because the following line:

find_package(OpenSSL REQUIRED)

fails with:
`CMake Error at /usr/local/Cellar/cmake/3.21.3/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
  Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the
  system variab

[2021-09-30 13:46] al-cheb commented on #4195
Hey, @speedym
Could you please check if `OPENSSL_ROOT_DIR` works?
`make -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl .`

[2021-09-30 14:08] u605902 commented on #4186
Hi @al-cheb

here is the step we are following

1. cloning the repo
2. using packer to build the image from ubuntu1804.json using azure pipelines
3. we are getting the above error

azure-arm: Executing Ansible: cd /tmp/packer-provisioner-ansible-local/6154885c-8288-a706-acb5-69242dde5123 && ANSIBLE_FORCE_COLOR=1 PYTHONUNBUFFERED=1 ansible-playbook /tmp/packer-provisioner-ansible-local/6154885c-828

[2021-09-30 14:22] al-cheb commented on #4186
@u605902 , We don't use ansible to build an image. Please provide a script with test repo what we can reproduce the issue from our side.

[2021-09-30 14:40] Bjego opened #4196 "ISRG Root X1 not trusted in default Java JDK (SonarQube plugin fails)"
### Description

ISRG Root X1 not trusted in default Java JDK (SonarQube plugin fails).

Hey guys,
today let's encrypt switched off the old root cert. Since now our builds are failing as the default Java can't connect to our SQ Server with a current Let's encrypt cert.

Here is the announcement:
https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

Supported clients:
https://lets

[2021-09-30 15:04] u605902 commented on #4186
@al-cheb  we are using packer to build the image here are the steps

1. clone repo
 git clone https://github.com/actions/virtual-environments.git

2. running this on azure pipeline as step
packer build \
          -force  \
          -var 'subscription_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx \
          -var 'resource_group=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' \
          -var 'location=eastus2' \

[2021-09-30 15:08] al-cheb commented on #4186
We don't have `fl_ubuntu1804.json` template. I will close the thread, because  the issue doesn't related to current repo. All additional question you can ask - https://github.com/actions/virtual-environments/discussions

[2021-09-30 15:08] #4186 closed

[2021-09-30 15:10] u605902 commented on #4186
@al-cheb  that was typo. here is the file what we are using

packer build
-force
-var 'subscription_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
-var 'resource_group=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
-var 'location=eastus2'
-var 'announcements=devops-build-agent-image'
-var 'private_virtual_network_with_public_ip=false'
-var 'github_feed_token=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
-var 'storage_account=xxxxxxxxxx

[2021-09-30 15:16] freud14 opened #4197 "Exit code 1 in Windows build do fail the build"
### Description

I'm using [black](https://github.com/psf/black) as a code formatter and uses it in my CI. When the check fails, it returns 1 as exit code. Using the Linux image, the builds fail automatically. However, it seems that when using the Windows build it does not.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11

[2021-09-30 15:16] ccorneliusHsv opened #4198 "CocoaPods from build report doesn't match version in Readme."
### Description

Trying to build latest version of our code. I'm attempting to update some code that requires a newer version of CocoaPods. I am using macOS 11. I expected the CocoaPods version to be CocoaPods 1.11.2..but when I ran the build I received the following error:

The information about the OS was:

Of note - I just went through this same issue on my development machine where I had insta

[2021-09-30 15:26] al-cheb commented on #4196
Hello, @Bjego
ISRG Root X1 is trusted by default version of java. I have tested https://matthewdavis111.com/java/poke-ssl-test-java-certs/ connect to the https://valid-isrgrootx1.letsencrypt.org/ .
![image](https://user-images.githubusercontent.com/47745270/135484900-b31978e6-7db0-41e0-97ca-db44cfc99cb9.png)

![image](https://user-images.githubusercontent.com/47745270/135484957-7fc975c1-f325-4d13-

[2021-09-30 15:57] al-cheb commented on #4197
Hello, @freud14
This behavior is by design for PowerShell Core(the default shell on Windows Server , bash is default for Ubuntu, macOS).

Let's compare with bash shell, e.g.:
[code]
Run:
[code]
![image](https://user-images.githubusercontent.com/47745270/135488763-6e829f26-2c82-41c2-829a-86f12ea41ca2.png)

As you can see above, the script is run  `shell: /usr/bin/bash -e {0}` with e flag. The -e op

[2021-09-30 15:58] #4197 closed

[2021-09-30 16:12] al-cheb commented on #4186
Our repo doesn't contain any steps related to invoke ansible or ansible-playbook(playbook.yml) commands.

[2021-09-30 16:14] freud14 commented on #4197
Alright, thank you for the answer. Damn Windows as always. I guess I'll make different steps.

[2021-09-30 17:20] miketimofeev commented on #4193
Hi @lslezak! Do you happen to know the exact docker version where the issue is fixed? I assume it will be 20.10.9 so all we can do here is to wait until the version is released

[2021-09-30 17:27] miketimofeev commented on #4198
Hi @ccorneliusHsv!
Could you provide steps and sample code to reproduce the issue? It will significantly help us investigating the issue

[2021-09-30 17:43] ccorneliusHsv commented on #4198
Unfortunately, original source is in a private repo. I'll see what I can put together to reproduce the issue in a public repo.

[2021-09-30 17:55] catthehacker commented on #4163
New compose version https://github.com/docker/compose/releases/tag/v2.0.1

[2021-09-30 18:45] agostinofacotti opened #4199 "Version 20210919.1: Cannot find libsystemd or libsystemd-journal"
### Description

From the introduction of version 20210919.1 our build workflow became broken.

We use setuptools to build a python package and the workflow was working good until the introduction of the 20210919.1 ubuntu version.

The error now is during the installation of the package:
[code]

Workaround
========

Adding an  `apt-get update` and `apt-get install libsystemd-dev` at the beginning

[2021-09-30 18:53] JELaVallee commented on #3894
After the `ubuntu-latest` (ubuntu20/20210929.1) rolled out, our `flutter build appbundle` workflow step has started failing with the following error:

[code]

Was building w/o error up until yesterday when running on ubuntu20/20210919.1

Nothing changed in our gradle configs since yesterday and not seeing this in our macOS or ubuntu20 local development environments.

Anyone else seeing this with f

[2021-09-30 19:00] cgwhouse opened #4200 "macOS hosted agents unable to build Xamarin.iOS 15.x"
### Description

Xamarin.iOS `15.0.0.6` was released to the Stable VS release channel yesterday. Azure DevOps hosted agents' latest Xamarin bundle available is `6_12_9`, which maps to Xamarin.iOS `14.20` as the latest available version.

Developers are now starting to write iOS 15-specific bug fixes against `15.x` locally, only to have the CI/CD build fail due to using new APIs not yet available i

[2021-09-30 19:41] grzegorzkrukowski opened #4201 "osascript: can’t open default scripting component"
### Description

We are running macOS builds on macOS 11 machines.

From time to time creating disk images fails and it shows this error:
`osascript: can’t open default scripting component`

We are using osascript to generate DMG files.

After re-running jobs it usually works next time - so it's completely random behaviour

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
-

[2021-09-30 21:08] codefromthecrypt commented on #4156
here's a patch I'm using meanwhile

[code]

then...

[code]

[2021-09-30 21:21] mqueiroz1995 commented on #3894
We are experiencing the same issue. No changes in our build config, but they started to fail with a similar problem:

[code]

[2021-09-30 21:41] miketimofeev commented on #4200
Hi @cgwhouse! Xamarin iOS 15 will be available on the macOS-11 image early next week.

[2021-09-30 22:22] cgwhouse commented on #4200
@miketimofeev Thank you for the reply 😄 Sounds good.

[2021-10-01 01:47] PenghaiZhang commented on #4134
Unfortunately this issue now happens on Ubuntu 18.04 as well...
It was all good until `Version: 20210929.1`...

[2021-10-01 01:50] PenghaiZhang commented on #4134
[A failed build](https://github.com/openequella/openEQUELLA/pull/3429/checks?check_run_id=3762348101#step:13:3015)

[2021-10-01 03:25] PenghaiZhang commented on #4134
May I ask if it is possible to specify the VM version in the yaml file ?

[2021-10-01 04:52] Bjego commented on #4196
Thanks for checking that - but the Sonarqube plugin is still failing. Looks like it's a SonarQube issue and only happening in Azure Pipelines.

https://community.sonarsource.com/t/api-get-api-server-version-failed-error-was-code-cert-has-expired/50654.

Guess the plugin needs a fix.

[2021-10-01 04:52] #4196 closed

[2021-10-01 07:38] hbeni commented on #4060
Hi, I get the following error (https://github.com/hbeni/fgcom-mumble/actions/runs/1293281303):
The log tells me, that on `macos-latest` openssl is not found.
Yesterday it run just fine. Today even switching back to `macOS-10.15` does drop the same error.

[code]

[2021-10-01 07:43] miketimofeev commented on #4060
Hi @hbeni, you faced the same issue probably https://github.com/actions/virtual-environments/issues/4195

[2021-10-01 07:43] al-cheb commented on #4201
Hello, @grzegorzkrukowski
Could you please provide steps to reproduce the issue?

[2021-10-01 07:44] al-cheb commented on #4199
Hello, @agostinofacotti
We will take a look at it.

[2021-10-01 07:49] miketimofeev commented on #4198
@ccorneliusHsv another question — what version do you set in your podfile?
Could you try to use for example this action https://github.com/maxim-lobanov/setup-cocoapods, does it solves the issue?

[2021-10-01 08:02] al-cheb commented on #4060
Hey, @hbeni
Could you please use `/usr/local/opt/openssl` ->  `/usr/local/opt/openssl@1.1` path?

[2021-10-01 08:20] miketimofeev commented on #3941
I'm going to close the issue.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-10-01 08:20] #3941 closed

[2021-10-01 08:23] al-cheb commented on #4199
@agostinofacotti ,
I see the image version did not change -  `20210919.1`:
![image](https://user-images.githubusercontent.com/47745270/135588688-8e4974cc-8fc3-480e-85b6-25c41d79030e.png)
![image](https://user-images.githubusercontent.com/47745270/135588715-13d13379-0e1b-4505-9658-e48750dad6ca.png)

[2021-10-01 08:27] vsafonkin commented on #4134
Hi @PenghaiZhang, sorry for the delay, we're investigating it.

Unfortunately, it's impossible.

[2021-10-01 08:38] hbeni commented on #4060
@al-cheb @miketimofeev
Thank you, works!

[2021-10-01 09:02] miketimofeev commented on #4163
@cfbao @catthehacker we have decided to install both v1 and v2 versions together for some time as v2 contains breaking changes https://github.com/actions/virtual-environments/pull/4203
We will probably deprecate V1 early next year if there are no objections from the users.

[2021-10-01 09:27] dibir-magomedsaygitov commented on #3894
Hello @mqueiroz1995. Could you please share content of gradle-wrapper.properties and build.gradle files?

[2021-10-01 10:09] FrancescElies opened #4204 "exe is not compatible with the version of Windows you're running."
### Description

When I call the following executable [tokei-x86_64-pc-windows-msvc.exe](https://github.com/XAMPPRocky/tokei/releases/download/v12.1.2/tokei-x86_64-pc-windows-msvc.exe) I get the following error.

[code]

I am pretty sure this executable works on x64 (locally does at least). Why is it failing on CI?

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubu

[2021-10-01 10:15] lslezak commented on #4193
I'm not involved in the Docker development, but that pull request is included in the [20.10.9](https://github.com/moby/moby/milestone/96) milestone so it should be fixed in that version.

[2021-10-01 10:17] agostinofacotti commented on #4199
@al-cheb Yes, you are right!
I compared at first the last good run with a newest one ([this](https://github.com/covmatic/stations/actions/runs/1292092224)).
So the problem is hidden somewhere else.

I'll take a look to find anything different...

Thanks for your support 👍

[2021-10-01 10:17] #4199 closed

[2021-10-01 10:40] mafalb commented on #4193
there is also an issue about fedora 35 #3812 - which is closed - but fedora 35 containers are still not working.

moby is used, not docker?
https://github.com/actions/virtual-environments/issues/3812#issuecomment-889872246

[2021-10-01 10:58] catthehacker commented on #4193
Docker is just `moby` but released under different licence by Docker, Inc.

[2021-10-01 11:06] ChristopheLav commented on #3695
Hi @MaksimZhukov, can you jump into the discussion here https://github.com/microsoft/azure-pipelines-agent/issues/3461 and help us? Thank you!

[2021-10-01 11:57] al-cheb commented on #4204
Hey, @FrancescElies
I can't reproduce the same issue:
![image](https://user-images.githubusercontent.com/47745270/135616118-526bb112-6e03-485b-8c3f-f9e856c39bfc.png)

[2021-10-01 12:06] Bionus commented on #4195
I had the same issue and changing the `OPENSSL_ROOT_DIR` from `/usr/local/opt/openssl` to `/usr/local/opt/openssl@1.1` indeed solved the problem 👍

[2021-10-01 12:12] speedym commented on #4195
Sorry for lagging on this, on our side "brew install openssl" solved the problem as well. It would be great if it worked out of the box though.

[2021-10-01 12:14] miketimofeev commented on #4195
@speedym `brew install openssl` installs version 3.0, but we would like to stick to 1.1 for some time. We are working on possible workarounds

[2021-10-01 12:32] ccorneliusHsv commented on #4198
@miketimofeev  I've put together a coding sample and it builds correctly. That leads me to believe that it's my project setup that is somehow triggering the older version of cocoapods. I am going to close this bug report as it does not appear to be an issue with the vitrual-environment. If I can establish what causes this, I will add info here.

[2021-10-01 12:32] #4198 closed

[2021-10-01 13:00] mkindahl opened #4205 "PostgreSQL build fails in 20210927.1 with OpenSSL"
### Description

Trying to build PostgreSQL with 20210927.1 fails with an error because the symbol `CRYPTO_new_ex_data` cannot be found.

[code]

Autotools generate the following file and tries to link it using `gcc conftest.c -lcrypto`:

[code]

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
-

[2021-10-01 13:16] WPrins commented on #4144
Thanks! We also fixed this for now by setting the `ndkVersion` in our gradle.build. In parallel we're looking into updating our gradle version furthe, this however also requires a different Java version requiring extra testing on our side.

[2021-10-01 13:33] amq commented on #2420
Here we go again https://github.com/actions/virtual-environments/issues/4144

[2021-10-01 13:47] dibir-magomedsaygitov commented on #4144
In this case I'm going to close the issue. Feel free to contact us if any.

[2021-10-01 13:47] #4144 closed

[2021-10-01 13:49] FrancescElies commented on #4204
you are right! I tried with `invoke-webrequest` and it worked.

I realized the mistake I made, the file I was using it was lfs but the checkout was with `lfs: false`. 😓

Sorry for the false alarm @al-cheb

[2021-10-01 13:49] #4204 closed

[2021-10-01 14:16] al-cheb commented on #4205
Hey, @mkindahl
Could you please invoke `brew install openssl` or set `/usr/local/opt/openssl@1.1` path to the openssl? We are working on possible workarounds due to `brew install openssl` installs openssl 3.0.

[2021-10-01 14:21] al-cheb commented on #4205
Close as duplicate: https://github.com/actions/virtual-environments/issues/4195

[2021-10-01 14:21] #4205 closed

[2021-10-01 15:18] ederbond commented on #4200
BTW as you can see on the logs bellow of my Azure Pipelines build running on `vmImage: 'macOS-11'`, it indicates that it is using XCode 12.5.1 instead of XCode 13. Could you guys make sure that XCode 13 and it's respective Xcode command line tools are set to the 13 version.

[code]

[2021-10-01 15:24] cgwhouse commented on #4200
@ederbond That change is being tracked here: https://github.com/actions/virtual-environments/issues/4180

FYI, XCode 13 is available on the agents today. If you ever wanted to manually ensure your builds are using a given version of XCode, you could run this command prior to building (this has some Azure DevOps specifics in it, but you get the idea):

`echo '##vso[task.setvariable variable=MD_APPL

[2021-10-01 18:09] ccorneliusHsv commented on #4198
Looks like the GemFile.lock had a specific version of CocoPods specified. Used `bundle update` and not CocoaPods runs correctly.

[2021-10-01 19:25] thomthom commented on #2072
Looking to use XCode 12.5 with Azure Devops, pipeline is not setup via YML, but via the UI. How does one choose an image that support XCode 12.5?

[2021-10-01 21:28] AraHaan commented on #4060
Too bad we cant specify that we want the latest MacOS 12 Beta if we are writing code that depends on explicitly using that to build + run tests.

[2021-10-01 21:48] miketimofeev commented on #2072
@thomthom make sure you specify `macos-11` as vm image, it is enough

[2021-10-02 11:33] mikhailkoliada commented on #4195
the fix should be in the next week's release

[2021-10-02 17:19] palfrey commented on #2999
They are in Homebrew, but they don't work without some manual GUI changes (see https://stackoverflow.com/a/52813517). Also the action does stuff with an installed Vagrant/Virtualbox setup, but won't do the install for you.

[2021-10-02 18:23] gorlak opened #4208 "pdbstr exits with -1073741511 (STATUS_ENTRYPOINT_NOT_FOUND?)"
### Description

I use github actions to source-index pdbs as a part of the built and installer-package of a program, here: https://github.com/gorlak/PowerMateTray

Included is a script that wrangles all the publicly available source from the git repo and submodules: source_index_pdb.bat. This script uses pdbstr to amend a stream of the pdb file so that debuggers attached to a released binary can

[2021-10-03 02:20] rdipardo opened #4209 "Sporadic timeouts on windows-latest affecting MSVC x86 only"
### Description

_(Potentially) similar issue: https://github.com/actions/virtual-environments/issues/4137_

`windows-latest` sometimes hangs for 6 hours when using MSVC to build 32-bit targets: [build (x86).zip](https://github.com/actions/virtual-environments/files/7272533/build.x86.zip)

The problem appears when `LINK.exe` is called on the very last build target (a unit test program).
It seems t

[2021-10-03 09:08] thomthom commented on #2072
For the record, the source of my confusion was due to me having an old setup. My builds were still using the `Hosted macOS" agents.

![image](https://user-images.githubusercontent.com/192418/135747134-be3eb88c-f9af-4a94-b6f5-aeff6627a0db.png)

Once I switched to Azure Pipelines I got the list of images:

![image](https://user-images.githubusercontent.com/192418/135747161-7535a208-af64-4964-9144-5f

[2021-10-03 10:47] KOLANICH opened #4210 "Add Ubuntu 21.10"
### Tool name

Ubuntu 21.10

### Tool license

aggregate of multiple products with different licenses

### Add or update?

- [X] Add
- [X] Update

### Desired version

21.10

### Approximate size

≥8.6 GB

### Brief description of tool

New version of Ubuntu

### URL for tool's homepage

https://help.ubuntu.com/community/Installation

### Provide a basic test case to validate the tool's functional

[2021-10-03 11:06] catthehacker commented on #4210
Ubuntu 21.10 can't be provided since it's not an LTS release.

from https://github.com/actions/virtual-environments/blob/main/docs/software-and-images-guidelines.md#software-and-images-support-policy

Next LTS release will be Ubuntu 22.04
[![image](https://user-images.githubusercontent.com/31106839/135750874-e1c3cbb8-4373-450b-8dda-4167cdaf53fc.png)](https://ubuntu.com/blog/what-is-an-ubuntu-lts-r

[2021-10-03 11:19] KOLANICH commented on #4210
:facepalm: I'm sorry, I havent read the docs before posting (they have been added quite recently). My bad. I guess the policies are not the things to be disputed. I hope Microsoft policymakers have carefully evaluated pros and cons of before introducing such policies (and it'd be nice to see them near the policies).

[2021-10-03 11:19] #4210 closed

[2021-10-03 18:02] sinekhayantuli opened #4211 "3AA5C34371567BD2"
### Breaking changes

3AA5C34371567BD2

### Target date

3AA5C34371567BD2

### The motivation for the changes

3AA5C34371567BD2

### Possible impact

3AA5C34371567BD2

### Virtual environments affected

- [X] Ubuntu 16.04
- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [X] Windows Server 2016
- [X] Windows Server 2019
- [X] Windows Server 2022

### Mitigation ways

3AA5C34

[2021-10-03 18:17] #4211 closed

[2021-10-03 19:14] Bilalbilalmounir commented on #4201
لينعل طبون مكوم

[2021-10-03 21:29] rdipardo commented on #4209
Apologies: the real problem was with some [recently commited code](https://github.com/rdipardo/libmoreinttypes/commit/208595d7a01dae601420901d283303b77df8cc23) failing a debug assertion:

![Screenshot 2021-10-03 165817](https://user-images.githubusercontent.com/59004801/135772041-fe2328b7-862e-4a2e-9ef8-6b1fa2dbaba2.png)

Of course there's no way to dismiss a modal dialog during workflow runs, hen

[2021-10-03 21:29] #4209 closed

[2021-10-04 06:09] mikhailkoliada commented on #4208
Thanks @gorlak, we will take a look at this issue

[2021-10-04 07:29] dibir-magomedsaygitov commented on #4105
Hello @maminetahiri. Any updates on the issue?

[2021-10-04 08:09] DaVaMa1 commented on #3894
We're experiencing the exact same issue with our Flutter builds and it's been halting our entire workflow for the past week, both on ubuntu as well as MacOs agents:

[code]

gradle-wrapper.properties:
[code]

build.gradle:
[code]

[2021-10-04 08:25] j-marcon opened #4217 "Add Tex Live"
### Tool name

Tex Live

### Tool license

https://www.tug.org/texlive/copying.html

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

System for building (La)TeX documents, widely used in the science community.

### URL for tool's homepage

https://www.tug.org/texlive/

### Provide a basic test case to vali

[2021-10-04 08:55] mikhailkoliada commented on #4217
@j-marcon Hello!

We will discuss it and come back to you as soon as possible.

[2021-10-04 09:00] MaksimZhukov commented on #4065
All the images with SBT have been deployed.

[2021-10-04 09:00] #4065 closed

[2021-10-04 09:08] MaksimZhukov commented on #3894
All the images with Android NDK r23 have been deployed.

[2021-10-04 09:09] DaVaMa1 commented on #3894
Update, changing from gradle 3.6.4 to 4.2.0 seems to have fixed the issue for the pipeline for us.

[2021-10-04 09:13] miketimofeev commented on #3894
@DaVaMa1 there is no `ndk/23.0.7599858/toolchains/llvm/prebuilt/darwin-x86_64/bin/arm-linux-androideabi-strip` file as the error mentioned. Please file an issue in the https://github.com/android/ndk/issues
As a workaround you can uninstall ndk 23, which allows you to use ndk22 instead:

**macOS**:
[code]
**ubuntu**:
[code]

[2021-10-04 09:22] #3894 closed

[2021-10-04 10:25] kuleshovilya commented on #3695
@MaksimZhukov @ChristopheLav  We looked into the issue, and there is not much we can do on the agent side.
The issue seems to be stemming from the fact that /etc/environment is loaded on login, but script sets it after that, and agent is installed during that same login session, thus making it unable to read the /etc/env variables(since the agent loads PATH var itself)
I think the changes to the d

[2021-10-04 11:02] DaVaMa1 commented on #3894
O wow, thats a huge help, my bash is on hello world level so I would not have figured that out quickly by myself.
Workaround seems to work, our AppCenter build is green again, thanks!

[This](https://github.com/android/ndk/issues/1593)  issue on the NDK tells that the behaviour is expected, so it seems to be working as intended.
I'm _guessing_ that for Flutter builds the flutter sdk should have th

[2021-10-04 11:31] mikhailkoliada commented on #4085
Both are in place by now.

[2021-10-04 13:22] #4171 closed

[2021-10-04 13:44] mikhailkoliada commented on #4217
@j-marcon

 we are unlikely to add texlive to our hosted images, the resulting weight of the installed files is too high (full texlive distribution might take up to 15Gb of the disk space). As a person who has been contributing to the texlive upstream I can tell you that the distribution itself is consisting of thousands of tiny macros packages taken from [CTAN](https://ctan.org/tex-archive/system

[2021-10-04 13:50] shilovmaksim commented on #4053
@DougGal-Microsoft , gentle reminder.
Could you please try whether it's applicable to you to install GDK in the runtime as a step before your build with a [snippet provided earlier](https://github.com/actions/virtual-environments/issues/4053#issuecomment-930206263)?

[2021-10-04 13:57] miketimofeev commented on #4217
@j-marcon, as @mikhailkoliada mentioned the recommended way to install the tools, is to use an action. For tex there are at least two actions available:
https://github.com/marketplace/actions/github-action-for-latex
https://github.com/marketplace/actions/setup-texlive
Considering tool size and maintenance concerns we wouldn't like to bake it into the image. I'm going to close the issue. Feel free

[2021-10-04 13:57] #4217 closed

[2021-10-04 14:00] miketimofeev commented on #4060
@mportune-bw you don't need this rollout to build for iOS15. `macos-11` runners are already available so the change only affects the `macos-latest` tag

[2021-10-04 15:25] Prince2k3 commented on #3763
I've been trying to get Xcode 13 (not beta) to work. The action keeps using beta and I have no idea how to not point to that version. Can anyone help with what step I need to use in order for it to use the correct Xcode version.

[2021-10-04 17:26] iainbrighton opened #4221 "Cannot register Azure DevOps PowerShell repository"
### Description

We have many pipelines running `windows-2016` and `windows-2019` that successfully register an internal PowerShell repository (the repo is also hosted by Azure DevOps). This post was used as a basis for registering the repository: https://devblogs.microsoft.com/powershell/using-powershellget-with-azure-artifacts/

However, when switching to the new `windows-2022` image, the reposi

[2021-10-04 17:47] al-cheb commented on #4221
Hey, @iainbrighton
We will take a look at it.

[2021-10-04 17:52] avezina-flexpay opened #4222 "Image failed build because of WebClient download failed: The operation has timed out"
### Description

We tried multiple time, was working before and now since last week it failed all the time.

Tried on multiple environment, local, on a vm on azure

    vhd:     Impacted components
    vhd:         C++ MFC for v141 build tools with Spectre Mitigations (ARM) (Microsoft.VisualStudio.Component.VC.v141.MFC.ARM.Spectre,version=16.0.28625.61)
    vhd:         MSVC v141 - VS 2017 C++ ARM

[2021-10-04 17:58] jseguillon commented on #183
I can launch nested KVMs in my WSL2 windows 11... Why can't runners do the same ? Could this be a workaround if win11 runners exists ?

[2021-10-04 18:31] al-cheb commented on #4221
@iainbrighton,
Could you please install Azure Artifacts Credential Provider and check ?
`iex "& { $(irm https://aka.ms/install-artifacts-credprovider.ps1) } -AddNetfx"`

[2021-10-04 18:55] mikehardy commented on #183
You'll have to test it and see. I do not see windows 11, I see various windows server versions: https://github.com/actions/virtual-environments/tree/main/images/win

They appear to have WSL1 on in the 2022 version and identical hardware to the linux runners: https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources - so I am

[2021-10-04 20:02] catthehacker commented on #4193
https://github.com/moby/moby/releases/tag/v20.10.9

Now waiting for the package to get updated here:
https://packages.microsoft.com/ubuntu/20.04/prod/pool/main/m/moby-engine/

[2021-10-04 20:15] bitsjoanrobira opened #4225 "Error when compile flutter app"
### Description

Hello:

No toolchains found in the NDK toolchains folder for ABI with prefix: arm-linux-androideabi
Cause: android license not accepted

Thank you very much

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and

[2021-10-04 21:04] avezina-flexpay commented on #4222
Last Wednesday, we use the same build and here the result

![image](https://user-images.githubusercontent.com/70772598/135924566-65c24639-7fa6-46c4-8872-0e17f4d2e2b4.png)

[2021-10-04 21:04] miketimofeev commented on #4225
Hi @bitsjoanrobira!
Is it the same issue as described here?
https://github.com/actions/virtual-environments/issues/4144#issuecomment-929295216
Does the workarounds help?

[2021-10-04 21:11] bitsjoanrobira commented on #4225
yes, is the same

[2021-10-04 21:11] miketimofeev commented on #4222
Hi @avezina-flexpay! Have you tried different azure regions when generating the image? We had similar issues before, which were caused by a damaged file on the CDN provider side. Our nightly builds in easteus look good https://github.visualstudio.com/virtual-environments/_build?definitionId=64

[2021-10-04 21:15] miketimofeev commented on #3763
@Prince2k3 have you tried the following?
`sudo xcode-select --switch /Applications/Xcode_13.0.app/Contents/Developer`

[2021-10-05 00:20] Prince2k3 commented on #3763
@miketimofeev Thank you for your reply and help. Greatly appreciated! I ended up resolving the issue. I was running the wrong version of macOS. It was using v 11 instead of 12.

[2021-10-05 05:46] KVROHITH098 commented on #4201
Hi I have a Mac OS can I help you today?

[2021-10-05 06:35] nolar opened #4226 "Add Python 3.10 (release)"
### Tool name

Python

### Tool license

PSF

### Add or update?

- [ ] Add
- [X] Update

### Desired version

3.10 (released yesterday)

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Virtual environments affected

- [ ] Ubuntu 16.

[2021-10-05 06:43] mikhailkoliada commented on #4226
Hello @nolar!
Thank you for the report, we'll take a closer look at this issue.

[2021-10-05 06:57] hugovk commented on #4226
For reference, it took 22 days for Python 3.9 (https://github.com/actions/virtual-environments/issues/1740) and 24 days for Python 3.8 (https://web.archive.org/web/20201012044438/https://github.com/microsoft/azure-pipelines-image-generation/issues/1317) :)

[2021-10-05 07:26] Darleev commented on #4225
@bitsjoanrobira Does the workaround help you to resolve the issue?
We're looking forward to your reply.

[2021-10-05 07:50] grzegorzkrukowski commented on #4201
Hey - we have been trying to find a best way to reproduce this problem, but this week all builds are working just fine.
Last week it was completely randomly failing on different apple scripts.

[2021-10-05 07:52] miketimofeev commented on #4226
@nolar @hugovk Python 3.10 is already available through https://github.com/actions/setup-python and will be pre-cached on the next week's images.

[2021-10-05 07:54] Darleev commented on #4201
@grzegorzkrukowski thank you for the information.
In order to investigate the issue further and figure out the reason of script failures, we need steps to reproduce the issue on our side.
Currently, I'm going to close the issue. In case of any questions, feel free to contact us.

[2021-10-05 08:11] iMonZ commented on #2187
Anything new here?
This is actually pretty important

[2021-10-05 08:50] hugovk commented on #4226
Thank you! Confirmed now available for GitHub Actions: https://github.com/actions/setup-python/issues/249#issuecomment-934193641

---

Does Azure Pipelines need to wait for the pre-cached images next week?

[code]

https://dev.azure.com/hugovk/hugovk/_build/results?buildId=2488&view=logs&j=1c03d131-585d-5673-8b12-4599c17588ee

[2021-10-05 09:25] nolar commented on #4226
Indeed, it works! https://github.com/nolar/kopf/runs/3801486572?check_suite_focus=true

[2021-10-05 09:27] hugovk commented on #4226
Please could we re-open this to track Azure Pipelines? Or shall I open a new issue (here or elsewhere)?

[2021-10-05 09:30] nolar commented on #4226
Sorry. Reopened.

[2021-10-05 09:54] miketimofeev commented on #2187
@iMonZ we are working on it, but can not provide ETA for now

[2021-10-05 09:57] miketimofeev commented on #4226
@hugovk correct, AzDO task can't download the version on demand so we have to wait until the new images are available

[2021-10-05 09:58] lloeki commented on #2187
@miketimofeev thanks for the info. To manage our expectations, would you be able to provide an order of magnitude (not even a ballpark), like are we talking about a week, month, quarter, year here? I promise we won't hold you folks accountable for it ;)

[2021-10-05 12:04] avezina-flexpay commented on #4222
Ok, I'm trying your suggestion will come back with the result

[2021-10-05 12:38] Yuriy-Kukushkin commented on #4208
Hello @gorlak, we were able to reproduce that and looks like there're some issues with pdbstr.exe (x64). But at the same time pdbstr.exe x86 works.
Is it possible for you to use pdbstr.exe x86 instead of x64?

[2021-10-05 14:07] totalo commented on #4054
Sorry, I am late in replying, I checked your example, he seems to have failed, please take a look. https://github.com/akv-platform/shardingsphere/runs/3741378308#step:6:48569

[2021-10-05 15:22] iainbrighton commented on #4221
Thanks @al-cheb

I can confirm that setting the NUGET_PLUGIN_PATHS environment variable has resolved the issue! I have not tried installing the Azure Artifacts Credential Provider.

[2021-10-05 15:32] nibanks commented on #4053
Just to be clear, @DougGal-Microsoft, does installing the GDK require a reboot? If so, it can't be installed at runtime.

[2021-10-05 15:46] miketimofeev commented on #4200
@svaldetero yes, Xamarin.iOS 15 was set as default and the image is currently being rolled out, that's why the Readme is not yet merged https://github.com/actions/virtual-environments/pull/4224
I'm afraid we can't fix it before the next week, so please either pin to Xcode 13 explicitly or lower Xamarin iOS version. Sorry for the inconvenience.

[2021-10-05 17:14] traversaro opened #4228 "brew update and brew upgrade fails with nghttp2 related error"
### Description

If I run:
[code]
I get as error:
[code]

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

Failed build: https://github.com/traversaro/github-actions-brew-update-upgrade-check/actions/runs/130838

[2021-10-05 19:32] akinncar opened #4229 "[macOS] Keychain "Process completed with exit code 2.""
### Description

`Process completed with exit code 2.` on Keychain commands

![image](https://user-images.githubusercontent.com/42688281/136090134-092fccbc-38e3-4764-9332-e282f93dce76.png)

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Im

[2021-10-05 20:21] jvesely opened #4230 "cannot flush stdout in python3.7 in macos-11"
### Description

Hi,

I've started seeing failures in out tests starting with the change to macos-11.
Working: https://github.com/PrincetonUniversity/PsyNeuLink/runs/3799828761?check_suite_focus=true
Broken: https://github.com/PrincetonUniversity/PsyNeuLink/runs/3806023006?check_suite_focus=true#step:8:48

the test is rather simple:
1.) call printf from generated binary function
2.) get fflush fun

[2021-10-06 05:47] Darleev commented on #4228
Hello @traversaro,
Currently, I see no issues on macOS 10.15, 11 for mentioned brew commands. Could you please verify one more time?
We're looking forward to your reply.

[2021-10-06 05:51] traversaro commented on #4228
Indeed, the issue is now solved: https://github.com/traversaro/github-actions-brew-update-upgrade-check/actions/runs/1310171470 . Thanks a lot!!

[2021-10-06 06:25] mikhailkoliada commented on #4230
@jvesely Hello!

Thanks, we will take a look at the issue

[2021-10-06 07:08] al-cheb commented on #4221
Feel free to open the thread if you have any concerns. Close as external.

[2021-10-06 07:08] #4221 closed

[2021-10-06 07:27] al-cheb commented on #4229
Hey, @akinncar
I could not reproduce the issue.

# macos-11
![image](https://user-images.githubusercontent.com/47745270/136158527-3b484a8f-b746-46d6-899b-69a845465468.png)

# macos-10.15
![image](https://user-images.githubusercontent.com/47745270/136158589-335400a4-079c-4e6a-b070-93e116b65246.png)

[2021-10-06 07:32] traversaro commented on #4228
Sure! I tought I had closed it myself, but that is not the case indeed.

[2021-10-06 07:54] ssbarnea opened #4233 "environments ending in latest should not produce upgrade warnings"
### Description

I find the warnings raised by workflows using platforms like `ubuntu-latest` or `macos-latest` noisy as best and distracting.

These warnings make no sense for someone that did already make the decision to use the latest platforms in their workflows.

GHA should avoid penalizing those that decided to go for this path instead of going for a hardcoded version.

Those that do not wan

[2021-10-06 10:57] miketimofeev commented on #4233
Hi @ssbarnea!
We understand that those warnings can be annoying for you, but I'm afraid we would have received much more complaints if we hadn't made a warning at all as many people don't check this repository for the announcements, and don't expect the tag migration.
Currently, the notifications in GitHub are configured in the following way:
- If your build is on `macos-latest` and it's resolved

[2021-10-06 10:57] #4233 closed

[2021-10-06 11:02] ssbarnea commented on #4233
As its usefulness is debatable it would be useful to give an option to silence them inside the pipeline config. No need to think about UI notification that can be marked as ack by the user as this would be too complex to be practical to implement. Still, disabling using pipeline config looks like a decent compromise IMHO. Thanks!

[2021-10-06 13:31] akinncar commented on #4229
Thank's for the fast reply, after a lot of trying I found the problem with my KEYCHAIN environment variable declaration (that causes the issue on unlocking it). So following your example (declaring before create) it works.
I fixed and now it's working fine

[2021-10-06 15:44] MaksimZhukov commented on #4107
Hello @DiachenkoD!
Please provide us with steps to reproduce the issue or a sample repository for further investigation.
Thanks!

[2021-10-06 23:34] tobbi opened #4235 "SDL.h include file not found with windows-2019 since 20210903.7"
### Description

Since update 20210903.7 of the Windows Server 2019 image, a submodule (tinygettext) that we use can't find the "SDL.h" include anymore.

This worked fine in the previous build and there haven't been any changes in the code that would warrant such a behaviour.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS

[2021-10-07 07:04] tobbi commented on #4235
Sorry, I was wrong about the first failing build.

It's this one: https://github.com/SuperTux/supertux/runs/3548835223?check_suite_focus=true

We install sdl2 through a custom version of vcpkg (and use the latest master of that).

There haven't been any changes to the build files nonetheless.

[2021-10-07 13:07] Chaouki-Tiouassiouine opened #4236 "Python.sh - 3.6.9 is causing errors in pipx-packages.sh"
### Description

While running the pipx-packages.sh in our Docker file we are getting an error.
We make use of the python.sh install (it installs version 3.6.9) which provided via the virtual environments.
When we adjust the python.sh to install a version 3.7 or higher we do not get the error down below.
Could you refactor the script so it installs 3.7 or higher?

#36 0.329 Install yamllint into d

[2021-10-07 13:21] hugovk commented on #4226
Short version: put quotes around the versions, so it interprets "3.10" as a string and not "3.1" as a float:

[code]

Longer version: https://dev.to/hugovk/the-python-3-1-problem-85g

[2021-10-07 13:25] eccles commented on #4226
ah thanx - alt=ready saw this when inspacting the commit here...

[2021-10-07 14:39] aleqsss opened #4237 "Timeout waiting for machine to restart"
### Description

When I build with Packer using the [Windows Server 2019 JSON](https://github.com/actions/virtual-environments/blob/main/images/win/windows2019.json) located in this repository, I get to the [windows-restart](https://github.com/actions/virtual-environments/blob/c610e2cb297212a67f0462db4371f160b029add4/images/win/windows2019.json#L145) step after the [windows update](https://github.

[2021-10-07 16:50] dsame commented on #4054
@totalo

From the few runs i see the build hangs on attempt to access `spring-snapshots: https://repo.spring.io/snapshot/org/springframework/spring-test/maven-metadata.xml`

It is confirmed `https://repo.spring.io/snapshot` often fails with timeout even if accessed by `curl https://repo.spring.io/snapshot/org/springframework/spring-test/maven-metadata.xml`. It looks like they have some limits on t

[2021-10-07 20:06] greadtm opened #4238 "Windows 2019 image create failing"
### Description

I am creating a new Azure DevOps VMScaleSet using the image from tag:
win19/20211003.2

I ran into the error in the same location 2 days in a row with above tag.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [X] Windows Server 2019
- [ ] Windows Server 2022

### Image versio

[2021-10-07 22:34] tobbi commented on #4235
We were able to fix the issue with the linked pull request. Thanks for your help, anyway :)

[2021-10-07 22:34] #4235 closed, assigned to vsafonkin

[2021-10-08 01:06] PenghaiZhang commented on #4134
Thanks for your investigation @vsafonkin !! Yeah we have successful builds today and I noticed that the VM version now is `20211004.1`.

[2021-10-08 08:34] aleqsss commented on #4237
As additional information - I just tried to build the Windows 2022 image and it completed successfully.

[2021-10-08 15:50] gdotdesign opened #4241 "Errors after using the latest version of images."
### Description

Since yesterday (2021-10-07) runs started fail for our project (private).

It uses Ruby and Ruby on Rails, and it fails when running migrations with several memory related errors:

[code]

[code]

We used the `ubuntu-latest` before, and now I tested with `ubuntu-18.04` but with both it fails.

The information for the last working run:

[code]

### Virtual environments affected

-

[2021-10-08 18:21] Steve-Glass commented on #2187
👋  @lloeki - We are still in evaluation phase for M1, but are taking the next step by developing plans for a preview in 2022.

[2021-10-08 19:28] d-frey opened #4243 "CMake does not find PostgreSQL anymore"
### Description

About 2 days ago, CMake stopped finding PostgreSQL in the system. I have changes some source code, then reverted it back. But the build fails before even trying to compile my code, so from my perspective it has to be some change in the virtual environment.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11

[2021-10-08 19:48] miketimofeev commented on #4243
Hi @d-frey!
The Postgres version was updated from 13 to 14 across all the images. Most likely your issue is related to that.

[2021-10-08 19:52] d-frey commented on #4243
I do not require any specific version, I just use [`find_package(PostgreSQL REQUIRED)`](https://github.com/taocpp/taopq/blob/549a5d797cb0cce859181218c1f51720842828fb/CMakeLists.txt#L7).

If PostgreSQL version 14 is installed correctly, it should be found just like version 13 before, right? (Again, CMake fails *before* it even tries to compile my code)

[2021-10-08 20:13] miketimofeev commented on #4243
We haven't changed the installation process. Is there a possibility that `find_package(PostgreSQL REQUIRED)` is not adapted for Postgre14?

[2021-10-08 20:42] greadtm commented on #4238
I will try again with centralus.

[2021-10-08 20:49] wojsmol commented on #4243
Short googling bring [this documentation of find_package](https://cmake.org/cmake/help/latest/command/find_package.html#search-procedure)

[2021-10-08 21:05] d-frey commented on #4243
BTW: What looks really weird to me is the part of the error message where it seems to find an older version of PostgreSQL:

[code]

It looks like the first and the last line belong together, so it is effectively trying to say

[code]

Which is a bit self-contradictory. If it found version "11.3", then why does it say it could NOT find PostgreSQL.
Maybe that might help someone to debug the issue.

[2021-10-08 21:07] wojsmol commented on #4243
@d-frey I'm not CMake expert - maybe this will help virtual environments people to help you.

[2021-10-08 21:13] wojsmol commented on #4243
`D:/a/taopq/taopq/build/CMakeFiles/CMakeOutput.log` - personalty I will try use `actions/download-arteffact` to get that log.

[2021-10-08 23:47] MSP-Greg commented on #3949
Please consider installing the base-devel and compression groups to the MSYS2 installation on Windows-2022.  Both were installed on previous images.

A few issues:

1. The base-devel group is shared by the separate build tool chains.  For example, mingw or ucrt gcc won't run unless MSYS2 base-devel is installed.  It contains many build tools that are platform/compiler agnostic.

2. Without compres

[2021-10-09 01:14] fcharlie opened #4244 "Windows Server 2022 with Visual Studio 2022 ARM64 missing atls.lib"
### Description

When I built my project based on Windows Server 2022 (Visual Studio 2022), the ARM64 platform failed to build and reported missing atls.lib. I suspect that this problem is caused by not installing `Microsoft.VisualStudio.Component.VC.ATL.ARM64`.

https://github.com/baulk/baulk/runs/3844027152?check_suite_focus=true

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubunt

[2021-10-09 07:52] dibir-magomedsaygitov commented on #4105
Hello @maminetahiri. I'm going to close this issue for now. Feel free to reopen it if you have any concerns or questions.

[2021-10-09 07:52] #4105 closed

[2021-10-09 15:06] greadtm commented on #4238
I ran into the same error with centralus region as the image source.

[2021-10-10 07:43] scop opened #4246 "Add Python 3.11 pre-releases"
### Tool name

Python

### Tool license

PSF

### Add or update?

- [ ] Add
- [X] Update

### Desired version

Whatever is latest 3.11 pre-release, currently 3.11.0a1

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Virtual environme

[2021-10-10 07:46] scop opened #4247 "Add Pyston"
### Tool name

Pyston

### Tool license

PSF

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Whatever is latest, currently 2.3.1

### Approximate size

_No response_

### Brief description of tool

Performance enhanced Python.

### URL for tool's homepage

 https://github.com/pyston/pyston

### Provide a basic test case to validate the tool's functionality.

_No response_

### Vi

[2021-10-10 12:26] dibir-magomedsaygitov commented on #4244
Hello @fcharlie. We have added `Microsoft.VisualStudio.Component.VC.ATL.ARM64` component to WIndows-2022 and it should be available later next week. I'll post an update message.

[2021-10-10 14:42] fcharlie commented on #4244
@dibir-magomedsaygitov Thanks

[2021-10-10 22:03] sehz commented on #1298
am seeing same issue:  https://github.com/infinyon/fluvio/runs/3852962686?check_suite_focus=true

[code]

[2021-10-11 07:57] miketimofeev commented on #4222
@avezina-flexpay the file cache was probably fixed on the CDN side. Unfortunately, we can't do much in such cases.
I'm going to close the issue as external.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-10-11 07:58] miketimofeev commented on #4225
@bitsjoanrobira I'm going to close the issue as we haven't received a reply from you.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-10-11 07:58] #4225 closed

[2021-10-11 08:00] miketimofeev commented on #4241
@gdotdesign one note, could you try to avoid using actions\cache in the run? Does it help?

[2021-10-11 08:34] #4246 closed, assigned to nobody

[2021-10-11 11:26] miketimofeev commented on #4247
@scop given the popularity of the tool and maintenance concerns, we would not like to add it to images. We can revisit this request in the future, but for now, we recommend installing pyston either in runtime or consider creating an action for the installation.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-10-11 11:26] #4247 closed

[2021-10-11 12:03] mikhailkoliada commented on #4243
There is a bug in the `FindPostgreSQL` of cmake that I suggest reporting upstream. Downgrading to postgresql13 helps

The workaround would be the following workflow:

[code]

I've tested it on a pretty primitive `CMakeLists.txt` file and it works just fine:

[code]

[2021-10-11 12:54] greadtm commented on #4238
I am just trying to educate myself on the process. If Main is considered stable and released version, I will give it a try.

From: Aleksandr Chebotov ***@***.***>
Sent: Monday, October 11, 2021 8:51 AM
To: actions/virtual-environments ***@***.***>
Cc: Greg Read ***@***.***>; Mention ***@***.***>
Subject: Re: [actions/virtual-environments] Windows 2019 image create failing (#4238)

Why would someon

[2021-10-11 13:31] Chaouki-Tiouassiouine commented on #4236
@vsafonkin that is great, did you found the log files when the error occurs? If yes, could you please provide it so that @mikhailkoliada can check the log files. It would be best if this team decides to upgrade to 3.7 or higher so that the workaround is not needed

[2021-10-12 07:32] miketimofeev commented on #3287
@yosefe that is strange because we tested the behavior before the brownout and it was fine.
Could you please try this very simple yaml? Will it run on ubuntu-latest?
[code]

[2021-10-12 08:56] miketimofeev commented on #3287
@titimoby it works for me just fine using the following yaml
![image](https://user-images.githubusercontent.com/48208649/136924793-882f183f-c1cc-4b39-b959-f220917ddecf.png)
even though the default pool is set to Ubuntu16:
![image](https://user-images.githubusercontent.com/48208649/136924893-5884b1b4-d041-4429-8bc9-c3b313525127.png)
I got ubuntu-20.04
![image](https://user-images.githubusercontent.

[2021-10-12 09:13] titimoby commented on #3287
"Am I missing an important detail?"
yes, I never said it was not working for you ;)

Until I switched to Azure Pipelines, all my build got
[code]

So maybe everything is working now, but it wasn't the case until my morning.

[2021-10-12 09:54] Andy-AO commented on #61
Even on Linux, I also want the default script runner to be pwsh, hope this problem can be solved as soon as possible

[2021-10-12 12:44] miketimofeev commented on #4195
Hi @sanderland! The behavior changed because openssl brew formula now points to the openssl 3.0, but we decided to stick to 1.1 for a while thus `brew --prefix openssl` returns an incorrect path (this command doesn't check whether the formula is installed on machine or not). You need to change the line to `export OPENSSL_ROOT_DIR=$(brew --prefix openssl@1.1)` to fix the issue

[2021-10-12 12:45] #4238 closed, assigned to al-cheb

[2021-10-12 17:19] d-frey commented on #4243
Thank you for investigating! You mentioned that you have found a bug. What is the bug and did you report it upstream?

I tried the workaround, but it does not seem to be compatible with the old installation, as now some other error comes up. I would appreciate any hint.

[2021-10-12 18:18] marc-hb commented on #1445
So we still don't know what the exact agreement terms are but for at least public repos, anonymous pulls from github don't seem to hit any rate limit anymore. I'm guessing some caching is also happening because why would it not.

But rate limits are not the end of the story. I found this FAQ https://forums.docker.com/t/automated-docker-pulls-from-github-hosted-runner-which-organization-must-pay/11

[2021-10-12 19:34] miketimofeev commented on #4183
@woodrufs only Xcode 12.5 will be removed, Xcode 12.5.1 will be left on the image without any changes.

[2021-10-12 22:44] dzsquared opened #4265 "Update DacFx"
### Tool name

DacFx

### Tool license

redistritibutable

### Add or update?

- [ ] Add
- [X] Update

### Desired version

18.8

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ]

[2021-10-13 10:09] LockTar opened #4268 "Add Microsoft Graph PowerShell SDK to the agents"
### Tool name

Microsoft Graph PowerShell SDK

### Tool license

MIT License

### Add or update?

- [X] Add
- [ ] Update

### Desired version

1.7.0 (Latest)

### Approximate size

76,4 mb

### Brief description of tool

The Microsoft Graph PowerShell SDK is a collection of PowerShell modules that contain commands for calling Microsoft Graph service. It's the replacement of the AzureAD PowerShell

[2021-10-13 13:45] xavier2k6 commented on #3949
For anyone interested:

[Visual Studio 2022 hits general availability (GA) on November 8](https://devblogs.microsoft.com/visualstudio/join-us-november-8th-for-the-launch-of-visual-studio-2022/)

[Visual Studio 2022 Launch Event Monday November 8, 2021 | 8:30am PT](https://visualstudio.microsoft.com/launch/)

[2021-10-13 17:11] Diggsey opened #4269 "Allow software version to lag"
### Description

Recently Github updated all images to Postgres 14. This has caused a lot of breakage, from issues like https://github.com/actions/virtual-environments/issues/4243 to https://www.postgresql.org/message-id/flat/16040-eaacad11fecfb198%40postgresql.org

This policy of immediately updating all existing images across major software versions is doomed to cause problems for end-users when

[2021-10-13 20:23] mikhailkoliada commented on #4243
I've [reported](https://gitlab.kitware.com/cmake/cmake/-/issues/22757) this upstream anyway. As the entire situation looks weird to me

[2021-10-13 21:14] Kohzam opened #4270 "https://www.facebook.com/profile.php?id=100033646037670"
### Breaking changes

https://www.facebook.com/profile.php?id=100033646037670

### Target date

https://www.facebook.com/profile.php?id=100033646037670

### The motivation for the changes

https://www.facebook.com/profile.php?id=100033646037670

### Possible impact

https://www.facebook.com/profile.php?id=100033646037670

### Virtual environments affected

- [X] Ubuntu 16.04
- [X] Ubuntu 18.04
- [

[2021-10-13 21:59] krokofant opened #4271 "Install-Selenium.ps1 fails due to faulty url"
### Description

I've tried to rebuild _Windows Server 2019 (20211011 update)_ several times but it has failed with this:
[code]

Testing the failing part locally I can see that the api call doesn't return any urls that matched the expected .jar file
[code]
gives
[code]

The is no match for [`selenium-server-standalone-.+.jar`](https://github.com/actions/virtual-environments/blob/main/images/win/s

[2021-10-14 07:27] LockTar commented on #4268
Issue updated and PR #4274 is made

[2021-10-14 08:18] aleqsss commented on #4237
Any luck with this, have you been able to replicate/pinpoint the issue? 🙂

[2021-10-14 08:27] mikhailkoliada commented on #4243
As the bug has been reported I am going to close the issue right now (as we have no idea by which time the cmake developers are going to fix the problem). Feel free to file a new issue if you have additional questions.

[2021-10-14 08:55] SebastianSchuetze opened #4275 "Update Aure CLI because of bug in Version 2.28.0"
### Description

I hope it's enough to reference the original bug:

https://github.com/Azure/azure-cli/issues/19475

### Virtual environments affected

- [X] Ubuntu 16.04
- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [X] Windows Server 2016
- [X] Windows Server 2019
- [X] Windows Server 2022

### Image version and build link

All releases that are released when writing t

[2021-10-14 10:01] mpptx commented on #4241
Hi, we're experiencing the same issue. Ruby 2.2.10. As soon as the command related to the database is being executed the same errors appear. It doesn't matter if the DB is hosted externally or launched as a Docker Service within Actions.

[2021-10-14 10:28] aleqsss commented on #4237
So I was using version 1.6.0 of Packer, just did a test where I changed it to the latest version (1.7.6). With this being done, now it seems to be working (at least not failing with a timeout on the same reboot step).

I'll post here as the Packer image build progresses.

[2021-10-14 11:44] dibir-magomedsaygitov commented on #4180
The [PR](https://github.com/actions/virtual-environments/pull/4258) has been merged. Image with the default version of Xcode set to 13.0 should be available with the next week's image rollout. I'll post an update message.

[2021-10-14 11:45] dibir-magomedsaygitov commented on #4183
The [PR](https://github.com/actions/virtual-environments/pull/4258) has been merged. Image with the removed Xcode 12.5 version should be available with the next week's image rollout. I'll post an update message.

[2021-10-14 12:26] jamelia1303 opened #4277 "Job fails on Ruby Installation task"
### Description

Hello!
Is there any idea why it can happened ?
I tried to build on different agents with different version and commits .
thank you .

==> vhd: Provisioning with Powershell...
==> vhd: Provisioning with powershell script: D:\a\1\s\virtual-environments\images\win/scripts/Installers/Install-Ruby.ps1
    vhd: Starting installation Ruby...
    vhd: Starting Ruby 2.4 installation
    vh

[2021-10-14 13:17] #4237 closed

[2021-10-14 15:56] aolszowka opened #4280 "Add RSAT PowerShell Modules (ActiveDirectory)"
### Tool name

Remote Server Administration Tools (RSAT) for Windows

### Tool license

Windows License

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Latest

### Approximate size

_No response_

### Brief description of tool

RSAT enables IT administrators to remotely manage roles and features in Windows Server from a computer that is running Windows 10 and Windows 7 Service Pa

[2021-10-14 16:21] aolszowka opened #4281 "Documentation Is Missing Several PowerShell Modules"
### Description

The documentation seems to under-document the PowerShell modules available to us; is this intended? Possibly related #1266

The module of interest was that `ThreadJob` was already installed; this can reduce the amount of load we put on PowerShell Gallery by avoiding pulling this module down every build. However this is not a documented guarantee, does the documentation just need t

[2021-10-14 16:44] aolszowka opened #4282 "Add IIS PowerShell Administration Modules (WebAdministration/IISAdministration)"
### Tool name

IIS Powershell Administration Modules

### Tool license

Windows License

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Latest

### Approximate size

_No response_

### Brief description of tool

IIS has two PowerShell Modules for managing and configuring IIS:

* WebAdministration
   * https://docs.microsoft.com/en-us/powershell/module/webadministration/?view=wind

[2021-10-14 17:02] dibir-magomedsaygitov commented on #4281
Hello @aolszowka. Thank you for your report. We will take a look.

[2021-10-14 17:07] codefromthecrypt commented on #4156
fantastic! I'll be removing the if statements next week, and thanks for giving them a short life!

[2021-10-14 19:57] dibir-magomedsaygitov commented on #4244
Hello @fcharlie. `Microsoft.VisualStudio.Component.VC.ATL.ARM64` should available across all the WIndows images. I'm going to close this issue. Feel free to contact us in case of any questions.

[2021-10-14 19:57] #4244 closed

[2021-10-14 22:24] fcharlie commented on #4244
@dibir-magomedsaygitov Great

[2021-10-14 22:32] jeffj254 opened #4283 "Update installer scripts to pass superlinter"
### Description

We use a fork of this repo to build an ami for our internal self-hosted runners.  We've added some installers of our own to our fork, and we have superlint enabled on our repo to keep us writing quality code.  We've noticed though, that most of the install scripts from this repo do not currently pass the default linting checks in superlinter.  For now we're excluding scripts from

[2021-10-15 01:22] sylveon commented on #3949
Is it possible to install the Windows SDK, version 10.0.22000 on those images?

Also, `VSTest` is not listed in the broken tasks but is broken.

[2021-10-15 10:42] andtii opened #4284 "Npm Restore 15x slower when going from Ubuntu 1604 > Newer"
### Description

NPM Restore is 15x slower when changing base image från Ubuntu 1604 to any newer 18 or 20. A simple npm restore for 1600 packages goes from 1 minute to 15 or more on any newer Ubuntu version

### Virtual environments affected

- [ ] Ubuntu 16.04
- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows

[2021-10-15 10:46] #4281 closed, assigned to al-cheb

[2021-10-15 10:46] dibir-magomedsaygitov commented on #4284
Hello @andtii. Thank you for your report. We will take a look.

[2021-10-15 11:31] jamelia1303 commented on #4277
@DarkPitch Did you find any way how to fix it ? I tried to build the image using different commits and branches, from pipeline and from my local machine.. the same error ..

[2021-10-15 12:11] nesherhh commented on #3949
ok, thanks

[2021-10-15 13:25] akramdhiabii opened #4286 "update gh CLI to latest version"
### Description

Actually GitHub runner 'ubuntu latest' claims using the latest gh CLI version:
[code]
Please update it to version v2.1

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

https://github.com/cli/cl

[2021-10-15 13:33] dibir-magomedsaygitov commented on #4286
Hello @akramdhiabii. Thank you for your report. We install latest available GitHub CLI at the moment. Newest version should be available with the next week's image rollout. I'll post an update message.

[2021-10-15 15:46] miketimofeev commented on #3949
@database64128 @sylveon the image with windows11 SDK will be deployed next week

[2021-10-15 15:49] miketimofeev commented on #4277
@jamelia1303 thanks for the confirmation! If it helps we will have to change the scripts in the main as well.

[2021-10-15 16:19] sylveon commented on #3949
Awesome, thank you!

[2021-10-15 21:05] grzegorzkrukowski commented on #4201
Hey @Darleev @KVROHITH098

I managed to prepare a cut to minimum example which shows the problem.

Here is the failure:
https://github.com/raycast/github-oascript-bug/runs/3910385565?check_suite_focus=true#step:3:12

It basically failed after re-running all job 5 times - it's quite random.
But here you can see it's failing on `/usr/bin/osascript` being run.

[2021-10-15 22:58] jvesely commented on #4230
just to confirm. the same issue appears with python3.7 from homebrew [0] or built within the same job [1].

[0] https://github.com/jvesely/PsyNeuLink/runs/3910293900?check_suite_focus=true
[1] https://github.com/jvesely/PsyNeuLink/runs/3910641687?check_suite_focus=true

[2021-10-16 12:27] jetersen opened #4287 "Unable to install ICD / ImagingAndConfigurationDesigner"
### Description

I am trying to setup GitHub workflow to build a [.PPKG](https://docs.microsoft.com/en-us/windows/configuration/provisioning-packages/provisioning-create-package)

You can see my attempts here to use ADK setup to install ICD:
https://github.com/jetersen/test-windows-gh-runner/blob/main/.github/workflows/run.yml

I need to use ADK setup to also install the necessary `Microsoft-Deskt

[2021-10-17 13:45] charris commented on #4226
@miketimofeev No problem with no 32 bit 3.10 on windows, we would prefer to drop it ourselves. As to the missing `Python.h`, it is simply a question of if it is installed and, if so, where.

[2021-10-17 15:22] huskeee opened #4288 "DMG image creation fails on Big Sur"
### Description

A workflow that uses macos-latest (currently Big Sur for our repository) will fail on the DMG image creation step with the error ```hdiutil: create failed - No space left on device
could not access /Volumes/Pixelorama/Pixelorama.app/Contents/Resources/Pixelorama.pck - No space left on device```. This does not happen when using macos-10.15, and wasn't happening when macos-latest wa

[2021-10-17 15:46] charris commented on #4226
@miketimofeev  The problem looks to be a change in Python 3.10 distutils.

[2021-10-17 16:03] vsajip opened #4289 "Elixir test hangs on Windows, though runs fine on Ubuntu"
### Description

In [this workflow](https://github.com/vsajip/cfgclient/runs/3919367843?check_suite_focus=true), a simple Elixir script hangs whereas it runs locally and on Ubuntu without any problems.

The test run just does
[code]
And it's not really clear which step it's hanging on.

### Virtual environments affected

- [ ] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
-

[2021-10-17 21:33] vsajip commented on #4289
The problem was because `mix` is a `.bat` file in this environment, and the test was expecting to use a `.exe`.

[2021-10-17 21:33] #4289 closed

[2021-10-18 02:08] jamelia1303 commented on #3228
@miketimofeev
I run into this issue too.

    vhd: Set JAVA_HOME environmental variable as C:\hostedtoolcache\windows\Java_Temurin-Hotspot_jdk\8.0.302-8\x64
    vhd:
    vhd: SUCCESS: Specified value was saved.
    vhd: Downloading package from: https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.12%2B7/OpenJDK11U-jdk_x64_windows_hotspot_11.0.12_7.zip to path C:\Users\packer\

[2021-10-18 06:52] jetersen commented on #4287
Oh, I feel silly 🗡️ @al-cheb cheers for the hint 😅

[2021-10-18 07:10] miketimofeev commented on #4226
@charris we have a feature request to support universal2 builds and a PR as well but didn't have a chance to validate it yet https://github.com/actions/python-versions/pull/114

[2021-10-18 07:55] #4287 closed, assigned to al-cheb

[2021-10-18 08:46] al-cheb commented on #4288
@huskeee , Could you try to set size or fs?
`hdiutil create -srcfolder ./build/mac -fs HFS+ -volname Pixelorama ./build/mac/Pixelorama.dmg`
or
`hdiutil create -size 100mb -srcfolder ./build/mac -volname Pixelorama ./build/mac/Pixelorama.dmg`

[2021-10-18 09:03] huskeee commented on #4288
Specifying the file system fixes the error. Specifying the image size has not worked for us before (gave us an error that there was no space left in image, even though it was large enough for the contents.

Weird thing is that it only happens with Big Sur. On Catalina it works without setting the file system, [as you can see in this run](https://github.com/huskeee/Pixelorama/runs/3919281446).

[2021-10-18 09:16] al-cheb commented on #4288
If the size is set up:
![image](https://user-images.githubusercontent.com/47745270/137702903-f4bc715a-27ea-438c-82ab-f775990ae5d5.png)

I think better to ask at https://developer.apple.com/forums why the behavior has been changed in macOS Big Sur.

[2021-10-18 09:31] miketimofeev commented on #4183
@zhiqingchen later this week. We will update this issue when it's done.

[2021-10-18 15:58] #4282 closed, assigned to nobody

[2021-10-18 15:58] miketimofeev commented on #4280
Hi @aolszowka!
Considering quick installation time in runtime (~1 minute), we'd rather not add the tool to the image to avoid additional maintenance efforts.
I'm going to close the issue, but feel free to contact us if you have any concerns.
Thank you!

[2021-10-18 16:14] aolszowka commented on #4280
@miketimofeev Indeed I am, I apologize:

azure-pipelines.yml
[code]

Output:
[code]

[2021-10-18 17:12] SchoolGuy opened #4297 "glibc 2.34 updates break Container Images"
### Description

The Ubuntu Hosts have a broken implementation of Docker which is in some operating systems already fixed through patches. The problem is glibc 2.34 which introduced a new syscall.

- openSUSE Bugzilla: https://bugzilla.suse.com/show_bug.cgi?id=1190670
- Ubuntu Launchpad "Fix": https://launchpad.net/ubuntu/+source/glibc/2.34-0ubuntu3
- Workaround found in the community: https://git

[2021-10-18 17:21] catthehacker commented on #4297
Duplicate of https://github.com/actions/virtual-environments/issues/4193

[2021-10-18 17:37] #4297 closed, assigned to nobody

[2021-10-18 19:24] Brett-Best opened #4299 "Add macOS 12"
### Tool name

macOS 12

### Tool license

https://www.apple.com/au/legal/sla/

### Add or update?

- [X] Add
- [ ] Update

### Desired version

12.0.1

### Approximate size

_No response_

### Brief description of tool

macOS 12 will be released to the public next Monday, I’m requesting access to a macOS 12 runner

### URL for tool's homepage

https://developer.apple.com/documentation/macos-relea

[2021-10-18 20:02] erikng opened #4300 "Update/Add Xcode 13.1 RC"
### Tool name

Xcode

### Tool license

Unknown

### Add or update?

- [ ] Add
- [X] Update

### Desired version

13.1 RC

### Approximate size

_No response_

### Brief description of tool

Xcode 13.1 RC contains all the SDKs and could remove the need for Xcode 13 Beta 5 that's currently in the image to allow macOS 12 code building.

### URL for tool's homepage

_No response_

### Provide a basic

[2021-10-18 20:03] erikng commented on #4300
Previous conversation here https://github.com/actions/virtual-environments/issues/4084

[2021-10-18 20:12] erikng commented on #4300
Ugh. You are right. This is going to be horrible unless we can get macos12 runners ASAP.

[2021-10-18 22:25] thhous-msft opened #4302 "Pipelines without an explicit pool do not work"
### Description

We have a pipeline without an explicit pool, which just uses whatever the default image is. It seems like the default is still set to Ubuntu16, which causes all projects without an explicit image set to fail.

### Virtual environments affected

- [X] Ubuntu 16.04
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2

[2021-10-18 22:34] nibanks commented on #4123
Any updates here @v-pkoneti?

[2021-10-19 04:54] dsame commented on #4201
@grzegorzkrukowski

Hi, while i was not able to reproduce the problem and get more tracing info of active script, can you please change your build to use `dtruss` with `osascript` in order to let us know that is going on on build fail.

Because of SIP limitation it is not possible to debug `/usr/bin/osascript` and you should create unsigned copy of it.

[code]

The exact commit for your workflow:

[2021-10-19 06:05] al-cheb commented on #4299
Duplicate: https://github.com/actions/virtual-environments/issues/3649

[2021-10-19 06:05] #4299 closed

[2021-10-19 06:45] al-cheb commented on #4288
I am planning to close the thread as external. Feel free to open the thread if you have any concerns.

[2021-10-19 06:45] #4288 closed, assigned to al-cheb

[2021-10-19 08:53] #4302 closed, assigned to nobody

[2021-10-19 09:54] andtii commented on #4284
![image](https://user-images.githubusercontent.com/1434571/137887018-8d97b8cf-7109-4353-822f-727d87aad3c5.png)

[2021-10-19 11:46] prashanthramakrishnan commented on #4180
Do you have any update if this now rolled out and live for everyone?

[2021-10-19 13:26] mmulhearn opened #4307 "[dotnet] installed nugets are not found in build"
### Description

I have an action that pulls a dotnet core 3.1 solution from a GitHub repo and then restores and builds it.  Turning on "normal" logging, I can see the nuget packages from my private GitHub Packages feed installing, but the build fails with errors that would indicate the packages aren't found or the DLLs are missing.

I need to be careful about pasting as the projects and Nuget inc

[2021-10-19 14:59] al-cheb commented on #4307
@mmulhearn , Could you check?

[code]

[2021-10-19 17:08] miketimofeev commented on #4277
@NateB2 just to narrow it down — have you tried windows-2022? Does the issue persist there as well?

[2021-10-19 18:00] Brett-Best commented on #3649
For macOS 11 we had separate issues for Github Actions and Azure Pipelines, as the timelines were different. Perhaps the title of this issue could be updated to reflect it will track both Github Actions and Azure Pipelines @al-cheb?

Can we also have an update on the expected timeframe for macOS 12 GitHub action runners? In the macOS 11 issue it was mentioned it was on schedule which would be no l

[2021-10-19 18:21] mmulhearn opened #4310 "GITHUB_TOKEN fails to pull packages from GitHub Packages"
### Description

Using [documentation on GitHub Docs](https://docs.github.com/en/actions/security-guides/automatic-token-authentication), I set up my GitHub Action with permissions so the GITHUB_TOKEN could read `packages`.  However, when the workflow runs, it claims the packages could not be found.

If I create a PAT with the `read:packages` and `repo` scopes, the packages are found and install f

[2021-10-19 18:28] dsame commented on #4284
It is confirmed npm of version 6 is very slow on ubuntu and osx images. It is the problem of npm v6 it self and reproduced on the local machines.

@andtii as a workaround please upgrade npm to version 7 or use alternatives - yarn or pnpm
@miketimofeev i believe the default npm should be upgraded to at least 7th version on the images.

[2021-10-19 19:42] NateB2 commented on #4277
@miketimofeev Nope, still same error on 2022 for us:

    vhd: Creating Ruby toolcache folder
    vhd: Creating Ruby '2.7.4' folder in 'C:\hostedtoolcache\windows\Ruby\2.7.4'
    vhd: Moving Ruby '2.7.4' files to 'C:\hostedtoolcache\windows\Ruby\2.7.4\x64'

==> vhd: Move-Item : Access to the path 'C:\Users\packer\AppData\Local\Temp\rubyinstaller-2.7.4-1-x64' is denied.

I will try 2019 using packe

[2021-10-19 20:46] miketimofeev commented on #4284
@dsame we install npm as a part of Nodejs version. Npm version 7 comes along with the Nodejs 16 yet we install version 14 at the moment as it is LTS. Ubuntu16 image also came with npm6, the only difference is the version 6.14.13 vs 6.14.15

[2021-10-19 20:52] alexz76 commented on #2575
It appears this issue is back! I'm getting the error below when running my pipeline using agent pool "Azure Pipelines". No changes happened in my `azure-pipelines.yml` file and just running a simple echo job fails as well.

**Error message:**

[code]

**YAML Sample:**

[code]

Does anyone have an idea? Both Azure status page related to Azure DevOps shows it as healthy.

- **https://status.dev.azur

[2021-10-19 21:08] miketimofeev opened #4311 "[All OSs] Go versions less than 1.15 will be removed on November, 8"
### Breaking changes

All pre-cached Go versions less than 1.15 will be removed from all operating systems.

### Target date

November 8, 2021

### The motivation for the changes

According to our [Software and image guidelines
](https://github.com/actions/virtual-environments/blob/main/docs/software-and-images-guidelines.md) we support 3 latest minor versions of Go, which are 1.15, 1.16 & 1.17 at

[2021-10-19 21:23] miketimofeev opened #4312 "Windows-2016 environment will be removed on March 15, 2022"
### Breaking changes

Windows 2016 hosted runners will be removed from GitHub actions and Azure DevOps.
To raise awareness of the upcoming removal, we will temporarily fail jobs using Windows 2016 for two short 'brownout' periods. Builds that are scheduled to run during the brownout periods will fail. The brownouts are scheduled for the following dates and times:

**GitHub Actions:**
- December 1,

[2021-10-20 01:10] NateB2 commented on #4277
@miketimofeev - Switching to 1.7.2 on 2019 worked for us, but it could have been a fluke, judging by @timofla 's experience?

I'm out of town the next few days, but if it's not resolved by Monday, I'll try it again to see if it will fail on a re-run.

[2021-10-20 01:42] KVROHITH098 commented on #4277
Hi guys I did the entire patch pls validate thank you.

[2021-10-20 04:42] jeffj254 opened #4314 "Linux Chromium install pulls incorrect version for low base positions"
### Description

The function to retrieve the version of `chromium-browser-snapshots` to install has an edge case failure when Google releases a version of Chrome that uses a very low base position (source commit for the release branch).  For example, right now the base position for the latest `95.0.4638.54` release of Chrome for linux is `920003`.  This base position causes the install process to

[2021-10-20 07:19] hbuckle opened #4316 "Error renaming Java Temurin"
### Description

We build our own images from this repository but the Windows build has started failing with this error

[code]

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [X] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

Latest commit from this repo

### Is it regression?

[2021-10-20 07:53] miketimofeev commented on #4314
Hi @jeffj254!
Thanks for reporting this. We will take a look at the issue and at the PR you've made.

[2021-10-20 10:39] #4053 closed

[2021-10-20 12:25] Chaouki-Tiouassiouine commented on #4236
I run the Docker Build and Push step in Azure DevOps. Oke so with other words we will have to adjust the pipx scripts ourselves and keep it in our repo.

[2021-10-20 12:34] al-cheb commented on #3583
Currently, no ETA. We are still investigating the issue.

[2021-10-20 12:37] Chaouki-Tiouassiouine opened #4318 "chromium-browser is causing test to fail during build - Linux"
### Description

2021-10-20T12:08:28.2153119Z [0mCHROME_BIN=/usr/bin/google-chrome
2021-10-20T12:08:28.3146016Z Downloading chromedriver v95.0.4638.17...
2021-10-20T12:08:28.3147957Z Downloading 'https://chromedriver.storage.googleapis.com/95.0.4638.17/chromedriver_linux64.zip' to '/tmp/chromedriver_linux64.zip'...
2021-10-20T12:08:28.4756521Z Download completed
2021-10-20T12:08:28.6904733Z CHROM

[2021-10-20 12:42] #4318 closed, assigned to nobody

[2021-10-20 12:44] al-cheb commented on #4316
Hey, @hbuckle
Please provide:
1. Commit for build
2. Attach full logs
3. Any changes in scripts?
4. Packer version

[2021-10-20 15:38] vt-alt commented on #3812
Docker images with distributions which contain glibc-2.34 just doesn't work on GA.
Where should we report if not here?

[2021-10-20 16:01] coolhome commented on #3287
I have a Azure DevOps pipeline that has several top level stages. Each stage defines `vmImage` as `windows-latest`. However I have a single stage with no pool defined and its defaulting to Ubuntu16 instead of Ubunut-Latest? Am I missing something there?

[code]

[2021-10-20 16:04] miketimofeev commented on #3287
@coolhome hi!
Could you please check the advice given here? https://github.com/actions/virtual-environments/issues/4302

[2021-10-20 16:05] miketimofeev commented on #3287
If the default pool is azure pipelines then the agent will be selected as ubuntu-latest automatically
![image](https://user-images.githubusercontent.com/48208649/137876131-bede94c4-37d3-4e96-ab31-1e194d459b76.png)

[2021-10-20 17:13] miketimofeev commented on #3287
@skoladich no, it's not
![image](https://user-images.githubusercontent.com/48208649/138139970-eac36a35-980e-4507-9ed7-14f8fa1c2e81.png)

[2021-10-20 18:20] gotmax23 commented on #3812
I already submitted a patch for Fedora's `moby-engine` packages[2], and I believe @pascallj has done the same for Ubuntu's packages. I asked Github to patch their Docker packages about a month and a half ago[1]. There's not much I can do, because Github uses different Docker packages that are provided by Microsoft.

Thanks,
Maxwell

[1]: https://github.com/actions/virtual-environments/issues/3812#

[2021-10-20 18:36] timofla commented on #4316
Hello, I've experienced this issue as well.
It either crashes on "Renaming Java Temurin" or on "Moving Ruby '2.6.8' folder to 'C:\hostedtollcache\windows\Ruby\2.6.8\x64'" [#4277](https://github.com/actions/virtual-environments/issues/4277)

[2021-10-20 19:22] miketimofeev commented on #4277
@jamelia1303 could you try using not the MS hosted agent to build an image but either self-hosted windows agent or even your local dev-box?

[2021-10-20 19:51] miketimofeev commented on #4180
The image has been deployed.

[2021-10-20 19:52] #4300 closed

[2021-10-20 19:59] Richard-Gist opened #4320 "Add jazzy to macOS images"
### Tool name

jazzy

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

whatever is latest (currently 0.14.1)

### Approximate size

_No response_

### Brief description of tool

jazzy is a command-line utility that generates documentation for Swift or Objective-C

### URL for tool's homepage

https://github.com/realm/Jazzy

### Provide a basic test case to va

[2021-10-20 20:15] jamelia1303 commented on #4277
sure. let me try to build it with those changes  locally and using 1.7.2 version.
I

[2021-10-20 20:30] miketimofeev commented on #4277
@rink72 do you also use hosted agents to build the image?

[2021-10-20 21:38] vt-alt commented on #3812
@pascallj @gotmax23 Thanks, that's good to know!

[2021-10-21 07:05] al-cheb commented on #4277
You have to use only main branch to build images, because we don't backport any changes to tags.

[2021-10-21 07:37] dsame commented on #4307
@mmulhearn i suspect we have a differences between `actions/setup-dotnet@v1.8.2` and `DotNetCoreCLI@2` namely something related to these:
https://docs.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference
https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

While i am trying to reproduce the problem can you please send nuget

[2021-10-21 07:53] miketimofeev commented on #4183
@benr75 got it. We will discuss this internally and come up with a decision.

[2021-10-21 12:11] miketimofeev commented on #4277
@jamelia1303 sorry, there was an error in my snippet, I forgot to add `Out-Null `to the directory creation. Should be
`        New-Item -Path $DownloadPath -ItemType Directory -Force | Out-Null`

[2021-10-21 12:20] leonardBang commented on #2575
Thanks for your @miketimofeev response, I've fixed this issue,  and the docs[1] should update too
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml

[2021-10-21 12:23] gene-keys commented on #2575
@miketimofeev there is no working solution on that post, already using "vmImage: 'ubuntu-latest'", changing to Azure Pipelines in my region results in 503 service not available. What is likely happening is the issue is regional and intermittent.

[2021-10-21 15:47] rifaterdemsahin commented on #4275
is this related to this one ?
https://github.com/MicrosoftDocs/azure-docs/issues/82665

[2021-10-21 17:30] #4275 closed, assigned to dibir-magomedsaygitov

[2021-10-21 17:53] #4265 closed, assigned to nobody

[2021-10-21 17:54] miketimofeev commented on #4156
@codefromthecrypt the images have been deployed.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-10-21 20:32] apetrovskiy opened #4323 "Ubuntu package repository lacks a package or broken"
### Description

Hello,
today an action stopped working due to a missing package.
The goal of the action is to install package called allure and I used this action is several repos at least from the beginnig of 2021, and everything worked fine.

Output demonstrating the problem:
![image](https://user-images.githubusercontent.com/2947151/138352595-16f4f8f1-72ca-428d-992f-09efeee37b4a.png)

[Sample

[2021-10-21 21:06] hugovk commented on #4226
Thank you!

I count that as 17 days since Python 3.10, an improvement over last year's 22 days since 3.9 and the year before's 24 days since 3.8! 🎈👏

[2021-10-21 22:44] storopoli opened #4324 "Update/Add Rust + Cargo to 1.56.0"
### Tool name

Rust + Cargo

### Tool license

MIT/Apache 2.0

### Add or update?

- [ ] Add
- [X] Update

### Desired version

1.56

### Approximate size

_No response_

### Brief description of tool

Current version of rustc and cargo on build image is 1.55.0
1.56.0 was released 1 day ago.

### URL for tool's homepage

https://www.rust-lang.org/

### Provide a basic test case to validate the too

[2021-10-22 00:55] nightlark opened #4325 "Update/Add NSIS"
### Tool name

NSIS

### Tool license

zlib/libpng license for everything except the bzip2 and lzma compression modules. bzip2 module is under the bzip2 license, and lzma module is under the Common Public License version 1.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Whatever is the latest, or the same version as is installed on windows-2019 images

### Approximate size

7.1

[2021-10-22 05:57] #4323 closed, assigned to nobody

[2021-10-22 06:56] b10-dslappendel opened #4327 "Update of Azure CLI 2.28.0 -> 2.29.0 is broken"
### Description

On Azure DevOps, we've noticed that yesterday an update of the Windows 2022 image was deployed, which includes the update of Azure CLI from 2.28.0 to 2.29.0.

With this update, one of our scripts that uses the `az webapp show --name <any_name> --query 'id'` command, fails.

Now there [seems to be an update to 2.29.1](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-c

[2021-10-22 07:28] #4316 closed, assigned to al-cheb

[2021-10-22 09:48] #4268 closed, assigned to miketimofeev

[2021-10-23 09:24] Javernaut opened #4328 "Update Android NDK to r23b LTS"
### Tool name

Android NDK

### Tool license

Same as before

### Add or update?

- [ ] Add
- [X] Update

### Desired version

23.1.7779620

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Virtual environments affected

- [X] Ubuntu

[2021-10-23 14:23] heronrs opened #4329 "aws eks --get-token error"
### Description

While installing a terraform managed Kubernetes cluster using the [exec-plugin](ghghgv3-us-east-1b-70bf7b3797eafd89)  authentication I'll start getting 255 errors from the aws cli. Updating the cli with `pip install -U awscli` seems to have solved it.

Some users mentioned this in https://github.com/kubernetes/kubectl/issues/747

### Virtual environments affected

- [ ] Ubuntu 18.

[2021-10-23 17:55] hrueger opened #4330 "`node-gyp` not working with version 20211018.0"
### Description

Hi,
I don't know if that's the right place to report this, but I couldn't solve this issue with googleing.

Three days ago, my workflow was running just fine. I'm using `npm` to install some packages. The problematic one is `node-serialport` because it requires `node-gyp` to built which internally uses VS.

Three days ago, the version of the environment was
[code]
and everything w

[2021-10-23 18:32] akinncar opened #4331 "gpg: cannot open '/dev/tty': Device not configured on macOS machines"
### Description

I'm having `gpg: cannot open '/dev/tty': Device not configured` on macOS 10 and 11 machines.
When I try to use `gpg` with `--no-tty` I have an error.
When I try to use `gpg` with `--batch` I have `gpg: handle plaintext failed` error.

It was working well in last versions (like '2.283.1', see below)

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] mac

[2021-10-24 23:39] augustoproiete opened #4332 "Warning "macOS-latest workflows will use macOS-11 soon" even when not using "-latest""
### Description

A warning "macOS-latest workflows will use macOS-11 soon" is shown on GitHub Actions Workflows that are **not** using `macos-latest` - but instead are using a specific version of macos, such as `macos-10.15`

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Se

[2021-10-25 10:30] vsajip opened #4334 "Cache action on Windows doesn't seem to restore to the expected place"
### Description

A file is cached but apparently not restored, even though the cache step claims success. The file is in the `$env:USERPROFILE\bin` directory, but apparently not restored there. Here is the cache step:
[code]
The step which uses the cache is:
[code]
However, the cache restoring command seems to be
[code]
Which will not work, as it restores to `D:/a/javacc21` - not the source of the

[2021-10-25 16:42] typeoneerror opened #4338 "xcode-select"
### Description

Our long-running workflow is erroring since last week with:

[code]

It's not clear what changed, but it seems like 12.5 was removed from macos-11?

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

  Environment:

[2021-10-25 16:44] #4338 closed, assigned to nobody

[2021-10-25 19:06] greadtm opened #4340 "GenerateResourcesandImage failed due to helm installer"
### Description

Pulling latest Ubuntu 2004 image from main.
Attempting to execute GenerateResourcesandImage (azure location=centralus)
When gets to the helm install step its failing:

2021-10-22T21:29:35.6080187Z     azure-arm: Running tests from '/imagegeneration/tests/Java.Tests.ps1'
2021-10-22T21:29:35.7679005Z     azure-arm: Describing Java
2021-10-22T21:29:35.8926314Z     azure-arm:   [+] Ja

[2021-10-26 03:46] sylveon opened #4341 "Add v142 toolset to VS 2022 images"
### Tool name

MSVC v142 - VS 2019 C++ build tools

### Tool license

VS License

### Add or update?

- [X] Add
- [ ] Update

### Desired version

14.29 - 16.11

### Approximate size

_No response_

### Brief description of tool

The VS 2019 build tools for VS 2022, available in the VS installer. Required to build certain projects that have parts which cannot use VS 2022 due to compatibility issue

[2021-10-26 03:48] sylveon opened #4342 "Add ARM64 Spectre mitigated libs to VS 2022"
### Tool name

MSVC v143 - VS 2022 C++ ARM64 Spectre-mitigated libs

### Tool license

VS License

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Latest

### Approximate size

_No response_

### Brief description of tool

The Spectre-mitigated C++ runtime libraries for ARM64. Required to build ARM64 code with /Qspectre on.

### URL for tool's homepage

_No response_

### Provide

[2021-10-26 06:41] #4334 closed, assigned to nobody

[2021-10-26 13:31] mattip opened #4347 "Update PyPy3.7 to 7.3.7 and add PyPy3.8"
### Tool name

PyPy

### Tool license

MIT

### Add or update?

- [ ] Add
- [X] Update

### Desired version

7.3.6 is broken, please update to 7.3.7 ASAP

### Approximate size

~25MB / version

### Brief description of tool

PyPy already appears in the images. In the 7.3.7 release (7.3.6 is broken, see https://www.pypy.org/posts/2021/10/pypy-v737-release.html) there is a python3.8. So my request i

[2021-10-27 09:03] #4330 closed, assigned to shilovmaksim

[2021-10-27 12:17] miketimofeev opened #4355 "[macOS Big Sur] Xcode 13 beta will be removed and Xcode 13.1 set as default on November, 15"
### Breaking changes

- Xcode 13 beta, which is available on `/Applications/Xcode_13.0_beta.app` path, will be removed.
- Xcode 13.1 will be set as the default one.

as Xcode 13.1 contains macOS 12 SDK

### Target date

November 15, 2021

### The motivation for the changes

Xcode beta 13 was preserved on the image due to a lack of macOS 12 SDK in the stable Xcode 13 version. Since Xcode 13.1 conta

[2021-10-27 12:29] miketimofeev opened #4356 "[All OSs] Node.js version 10 will be removed from the images on November, 15"
### Breaking changes

The pre-cached Node.js version 10 will be removed from all operating systems.

### Target date

November 15, 2021

### The motivation for the changes

Node.js 16 has moved to Active LTS status and is ready for general use. According to our [Software and image guidelines
](https://github.com/actions/virtual-environments/blob/main/docs/software-and-images-guidelines.md) we supp

[2021-10-27 12:37] miketimofeev opened #4357 "[Ubuntu] Node:10 docker images will be removed on November, 15"
### Breaking changes

We are going to remove `node:10` and `node:10-alpine` docker images from the list of pre-cached images on VM.

### Target date

November 15, 2021

### The motivation for the changes

Node.js 16 has moved to Active LTS status and is ready for general use. According to our [Software and image guidelines
](https://github.com/actions/virtual-environments/blob/main/docs/software-a

[2021-10-27 13:34] frank-w opened #4358 "adding ppa failed"
### Description

Hi,

i try to add a ppa and this failed with gpg key error...
[code]
results with:

`Error: retrieving gpg key timed out.`

seems to be a network issue...i've read somewhere that this step needs an additional open port in firewall

https://github.com/frank-w/arm-crosscompile/runs/4013116527?check_suite_focus=true

currently i have changed to an ubuntu18.04 vm to get the chroot bui

[2021-10-27 15:07] #4307 closed, assigned to dsame

[2021-10-27 17:21] rishid opened #4360 "Chocolately was updated to v0.11.3"
### Description

Starting to get this error on my Windows build that run `cpack` (part of CMake). Previous commits that were executing this step successfully are no longer working.

[code]

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [X] Windows Server 2019
- [ ] Windows Server 2022

### Image version and bui

[2021-10-28 06:34] #4358 closed, assigned to nobody

[2021-10-28 11:07] mosyp opened #4367 "Access is denied on rename in Windows"
### Description

When rust's `std::fs::rename` (window's `MoveFileEx`) is called then the
[code]
is called.

Discovered in https://github.com/delta-io/delta-rs/runs/4011135260?check_suite_focus=true

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [X] Windows Server 2019
- [ ] Windows Server 2022

### Image versi

[2021-10-28 12:47] #4284 closed, assigned to dsame

[2021-10-28 15:16] conradj3 opened #4373 "Install-JavaTools.ps1 / Windows Server19"
### Description

Anyone else experiencing issues with the latest Temurin Hotspot SDK (Windows 2019)?  My pipelines are failing because it is failing to extract the with the `Extract-7z` function.  I'm thinking this may be a file system permission error but not to sure havent dug into it yet

[code]

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] ma

[2021-10-28 15:32] #4373 closed, assigned to nobody

[2021-10-29 07:54] #4340 closed, assigned to nobody

[2021-10-29 08:31] miketimofeev opened #4376 "[all OSs] Selenium server version will be upgraded from 3 to 4 on November, 15"
### Breaking changes

Selenium server version will be upgraded from 3 to 4 on all available images.

### Target date

November 15, 2021

### The motivation for the changes

We'd like to keep images up-to-date with recent software updates.

### Possible impact

There are a few breaking changes in selenium server 4 thus your builds can be broken after the update. More information about breaking chan

[2021-10-29 09:12] #4331 closed, assigned to mikhailkoliada

[2021-10-29 18:48] leleliu008 opened #4383 "ANDROID_NDK_LATEST_HOME environment variable is missing in ubuntu-18.04"
### Description

`ANDROID_NDK_LATEST_HOME` environment variable is missing in `ubuntu-18.04`, it exits in `ubuntu-20.04` `macos-11` `macos-10.15`

### Virtual environments affected

- [X] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

https://github.com/leleliu008/ndk-

[2021-10-29 20:07] Domina585 commented on #3287
[![CI/PR](https://github.com/git/git/actions/workflows/main.yml/badge.svg)](https://github.com/git/git/actions/workflows/main.yml)

[2021-10-30 01:34] Croydon commented on #4312
I have no problem saying goodbye to Windows Server 2016, but dropping Visual Studio 2017 is kinda hurtful. Not all projects can use up-to-date tooling

[2021-10-30 06:08] IanKemp commented on #4312
Visual Studio 2017 is half a decade old at this point, which is an epoch in software development. If your project depends on VS2017 maybe, just maybe, it's time to figure out an upgrade path.

[2021-10-30 12:09] dibir-magomedsaygitov commented on #4383
Hello @leleliu008. Thank you for your report. We will take a look.

[2021-10-30 13:13] sithlord48 opened #4384 "[WINDOWS] .nuspec file suddenly needed when cpack is called."
### Description

Chocolatey was updated to a new version

Chocolatey was recently updated and its cpack is being called with the command 'cpack' instead of the cpack provided by Cmake.

Community Link: https://github.community/t/windows-actions-suddenly-fail-needing-a-nuspec-file/199483

Times this bug has happened:
 - Chocolatey 0.11.1 -> .0.11.2 (Fixed)
 - Chocolatey 0.11.2 -> .0.11.3 (OPEN)

##

[2021-10-30 16:33] antonioborondo commented on #649
The same problem is happening again.

[2021-10-31 02:43] RolandoMalena commented on #3949
Is WSL2 something that can happen on this new agent? One nice use case that we would love to have on our CI pipelines is to have integration testing where we test the integration between our Windows Desktop App and our NodeJS API running on Ubuntu (which is what we use on Production). The former would send data via HTTP requests to the latter.

I would love to be able to run Linux containers in a

[2021-10-31 06:47] andreineculau commented on #3949
@RolandoMalena  unfortunately there is no wsl2 on Windows Server 2022. Nothing to do with GitHub turning on a switch, it's all about Windows - see https://github.com/microsoft/WSL/issues/6301#issuecomment-858816891

We are many that would be interested in WSL2 and I hope there are alternatives considered by GitHub, but specifically to your case, while I haven't tried it myself but why can't you ru

[2021-10-31 08:01] mikhailkoliada commented on #4384
A duplicate of https://github.com/actions/virtual-environments/issues/4360

[2021-10-31 08:01] #4384 closed

[2021-10-31 12:16] TrueBrain commented on #4360
@mikhailkoliada
I was wondering about this. In our images we do not update choco, yet we run into the issue cpack is back. So I was browsing through how images are generated, and found this snippet:

https://github.com/actions/virtual-environments/blob/main/images/win/post-generation/Choco.ps1

I don't know much about how these images are actually generated, but to me that reads you (not us) are u

[2021-10-31 14:25] RolandoMalena commented on #3949
@andreineculau Currently I am unable to run docker within wsl1, the error I get indicates the docker daemon never starts and I haven't figured out how to start it yet. I will keep trying of course.

Another alternative might be to just download the source code and run the API but I would rather not do that if possible.

Here is my test repo with a workflow and some failed runs, feel free to contri

[2021-10-31 16:59] pboling commented on #37
@mxcl I am [getting an error](https://github.com/oauth-xx/oauth-ruby/runs/4061006868?check_suite_focus=true#step:4:13) with your snippet:
[code]
It may be out of date already?

[2021-10-31 17:53] mxcl commented on #37
The download failed, check the tarball exists.

[2021-10-31 19:18] mikhailkoliada commented on #4269
I have opened separate tasks for each package and we will handle them separately. This issue now can be closed.
@Diggsey Thanks a lot!

[2021-10-31 19:18] #4269 closed

[2021-10-31 21:42] shankari commented on #3757
wrt

I don't see any explicit confirmation here, so for the record, I upgraded to cordova-android@10.0
and removed the workaround and everything works
https://github.com/e-mission/e-mission-phone/pull/804

[2021-11-01 06:04] vsafonkin commented on #4236
@Chaouki-Tiouassiouine, sorry, I thought your last comment was not a question. Yes, since we can't do something from our side you can try to adjust the pipx scripts ourselves.

[2021-11-01 09:03] miketimofeev commented on #4360
@TrueBrain good catch, thanks! These post-generation scripts are run on hosted VM preparation step and indeed can update chocolatey if there is a new version available. We will take a look at what can be done to fix that.

[2021-11-01 10:39] mosyp commented on #4367
It has been "fixed" in https://github.com/delta-io/delta-rs/pull/485 by suing shared lock, so seems like you're assumption regarding race condition might be tru

[2021-11-01 10:46] al-cheb commented on #4367
I am planning to close as external fix. Feel free to open the thread if you have any concerns.

[2021-11-01 10:46] #4367 closed

[2021-11-01 11:41] pronebird commented on #4060
Since macOS 11 it's impossible to symlink iOS 12.4 runtime anymore since Xcode 10.3 is not shipped with the image anymore. Without it it's impossible to run tests for apps that support iOS 12 - 15 range. The one would need Xcode 13 for that.

Using `Xcode-install` I can easily add iOS 12 sim but it takes 10 minutes to install. It takes ages then to run tests.

[code]

Please provide some sort of s

[2021-11-01 11:58] Sushma-tiwari commented on #2575
Mine is **Central US** check to snap :
[https://prnt.sc/1y1xjvm](url)

But But still getting this error from past 7 days :
##[warning]An image label with the label ubuntu-16.04 does not exist.
,##[error]The remote provider was unable to process the request.

Check error snap :
[https://prnt.sc/1y1xped](url)

Thanks,

[2021-11-01 12:03] Sushma-tiwari opened #4390 ",##[error]The remote provider was unable to process the request."
### Description

We have set up CI/CD deployment in azure and working from past 2 year with it.
Now whenever release using CI /CD getting error like remote provider was unable to process the request.
please check to snap :
[https://prnt.sc/1y1xjvm](url)

Getting this error from past 7 days :
##[warning]An image label with the label ubuntu-16.04 does not exist.
,##[error]The remote provider was una

[2021-11-01 12:10] dibir-magomedsaygitov commented on #4390
Hello @Sushma-tiwari. Thank you for your report. Could you please provide minimal repro steps with full description.

[2021-11-01 12:46] miketimofeev commented on #4390
@Sushma-tiwari please follow advice from this issue https://github.com/actions/virtual-environments/issues/3287

[2021-11-01 12:48] miketimofeev commented on #4390
I'm going to close the issue, feel free to contact us if you have any concerns.
Thank you!

[2021-11-01 12:48] #4390 closed

[2021-11-01 13:57] vesubramanian opened #4391 "Unable to Install Prereqs on an Ubuntu 20.04.3 VM in vSphere using the scripts provided"
### Description

On my Ubuntu 20.04.3 VM, I installed Packer 1.7.7. My vSphere version is 6.7.0.50000. I am using the [ubuntu2004.json](https://github.com/actions/virtual-environments/blob/main/images/linux/ubuntu2004.json) and modified the builders section for provisioning a VM in vSphere and kept the provisioners section exactly the same. When I run the packer build, I am running to multiple iss

[2021-11-01 14:40] dibir-magomedsaygitov commented on #4383
Hello @leleliu008. `ANDROID_NDK_LATEST_HOME` env variable was added in scope of this PR. Changes should be delivered with the next week's deployment. I'll post an update message.

[2021-11-01 14:41] markybry commented on #4312
Seems that when no vm image is specified that any VM available at that time is selected which may then cause this error.

[2021-11-01 14:45] dibir-magomedsaygitov commented on #4391
Hello @vesubramanian. Thank you for your report. We will take a look.

[2021-11-01 15:00] miketimofeev commented on #4312
@markybry the recommended approach is to target a specific image that suits your needs

[2021-11-01 20:45] MehdiChinoune commented on #4193
An updated ubuntu-20.04 with a new docker-moby is rolling #4395
[code]

[2021-11-01 20:48] aolszowka opened #4398 "Windows 2019 Agent Is Affected By PowerShell Debugger Regression"
### Description

### Background
We are lifting a self hosted build agent and replacing it with a Microsoft Agent. Our pipeline is testing and packaging a PowerShell 5.1 Module, a very simplified workflow looks like this:

* Check out Code
* Run PowerShell Script Analyzer
* Run Pester Tests (With Code Coverage)
* Publish to NuGet Feed

When attempting to lift this agent it has been discovered that

[2021-11-02 00:01] scbedd opened #4399 "Add `docker` to mac images"
### Tool name

docker

### Tool license

Uncertain what our licensing issue is for Windows/Linux version. Would be the same on Mac.

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

I don't think I need to tell you folks what `docker` is. I'd be willing to put money on the fact that you know more about it t

[2021-11-02 05:44] dibir-magomedsaygitov commented on #4399
Hello @scbedd. Thank you for your request. We will take a look.

[2021-11-02 05:49] dibir-magomedsaygitov commented on #4398
Hello @aolszowka. Thank you for your report. Could you please provide us link to the builds and yml file with repro steps?

[2021-11-02 07:52] miketimofeev commented on #4399
Hi @scbedd!
Unfortunately, we can not add docker due to license restrictions. Please take a look at this issue and the advice given there https://github.com/actions/virtual-environments/issues/2150
I'm going to close this issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-02 07:52] #4399 closed

[2021-11-02 07:57] miketimofeev commented on #4398
@aolszowka the windows-2022 will be GA very soon after the stable Visual Studio 2022 release on November, 8th.

[2021-11-02 08:39] FrancescElies opened #4400 "Python 3.10 32bit missing in cloud machines"
### Description

All python versions have 32 bit except 3.10, see [here](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#python).

We still have a private project where we test a 32 bit dll on windows, this means if we want to upgrade python we can't use the cloud without installing python 3.10 32 its ourselves.

Before going into the details on _why we d

[2021-11-02 08:52] dibir-magomedsaygitov commented on #4391
Hello @vesubramanian. Your setup won't work as we don't have support for vSphere. If you want to build the image in Azure, you should follow [this guideline](https://github.com/actions/virtual-environments/blob/main/docs/create-image-and-azure-resources.md). I'm going to close this issue. Feel free to contact us in case of any questions.

[2021-11-02 08:52] #4391 closed

[2021-11-02 09:07] vesubramanian commented on #4391
So, these scripts are targeted only for Azure VM Image? Please confirm so that I can inform the relevant people in my organization. Also, just curious. From packer, I am able to provision the Ubuntu 20.04 VM in vSphere. Aren't these scripts supposed to run on Ubuntu 20.04.3 irrespective of whether the VM is in vSphere or Azure? I am just trying to understand the exact issue. Please help me underst

[2021-11-02 09:27] dibir-magomedsaygitov commented on #4391
@vesubramanian yes, we support only Azure.

[2021-11-02 09:56] JolandaArends opened #4402 "Xcode 13, iOS 15 sim: The test runner encountered an error (Failed to establish communication with the test runner)."
### Description

We've updated our Github workflow (where we run unit and snapshot tests), to Xcode 13.0 and simulator 15.0.
This workflow worked with Xcode 12.5.1 and simulator 14.5, but with the updated version numbers we get the following error:
_The test runner encountered an error (Failed to establish communication with the test runner)._

We can't seem to figure out why we get this error or

[2021-11-02 09:58] dibir-magomedsaygitov commented on #4402
Hello @JolandaArends. Thank you for your report. Could you please create public repo with reprosteps as your repo is private.

[2021-11-02 10:31] JolandaArends commented on #4402
As you can see, we haven't made much changes, so we're a bit hesitant in setting up a new public repo to reproduce it:
yml file before: [before_tests.txt](https://github.com/actions/virtual-environments/files/7459801/before_tests.txt)
yml file after: [after_tests.txt](https://github.com/actions/virtual-environments/files/7459803/after_tests.txt)

With this information, do you still think we need t

[2021-11-02 10:46] dibir-magomedsaygitov commented on #4402
@JolandaArends Thank you for the provided information. Public repo with sample project would be more helpful.

[2021-11-02 11:37] Rus1an31 commented on #4060
@miketimofeev Today is November, 2. We're still see warnings "##[warning]macOS-latest pipelines will use macOS-11 soon" in our builds. Can you tell please when migration will be completed? It's blocking us to use iOS 15.

[2021-11-02 12:08] miketimofeev commented on #4400
Hi @FrancescElies!
Yes, this makes sense to add Python x86 as this is not the first time it is asked for. We will also submit a feature request to the build task team to support downloading and installing python in runtime in AzDO using https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-version?view=azure-devops task

[2021-11-02 12:25] miketimofeev commented on #4060
@Rus1an31 sorry for the inconvenience, the migration is delayed till December. You can explicitly point your builds to the `macos-11` image label until that.

[2021-11-02 14:04] mikhailkoliada commented on #4360
The post-generation script has been merged and the fix merged.

[2021-11-02 14:37] valx commented on #4312
We are using Azure DevOps to deploy resources from an ARM template.
In particular in Azure DevOps Release Pipelines, we use an "ARM template deployment" task (latest version: 3.*).
When the release is executed we get a warning:
<<The windows-2016 environment will be deprecated on November 15, 2021, and removed on March 15, 2022. Migrate to windows-latest instead. For more details see https://githu

[2021-11-02 14:58] miketimofeev commented on #4312
@valx the agent can be configured for the releases as well:
![image](https://user-images.githubusercontent.com/48208649/139872372-e89b3b81-72c6-4a02-820a-b12ed7672065.png)

[2021-11-02 16:19] JolandaArends commented on #4402
@dibir-magomedsaygitov
I've set-up a sample (simplified) project in a public repo with the same structure we use in our own project.

This is the Xcode 12 pipeline that's running fine: https://github.com/restocks-net/app-ios-test/pull/1
This is the Xcode 13 pipeline with the issue we have: https://github.com/restocks-net/app-ios-test/pull/2

Hope this helps.

[2021-11-02 16:51] dibir-magomedsaygitov commented on #4402
@JolandaArends Thank you for the provided details. We will take a look.

[2021-11-02 16:59] aolszowka commented on #4398
@miketimofeev If we're going to hit GA that soon I'll move efforts to using that agent and advocate internally for it.

@dibir-magomedsaygitov Unfortunately I am unable to share the code base. In addition this issue is more pronounced with large code bases, as the number of breakpoints increase so does the time, meaning that it is non-trivial to create a simple reproducing test case. As per the li

[2021-11-02 18:42] joshepkt commented on #4060
When doing a nuget restore on a xamarin solutions with windows, ios, and android I am getting ##[error]The nuget command failed with exit code(1) and error(/Users/runner/work/1/s/YYY/YYY.UWP/YYYY.UWP.csproj : error MSB4057: The target "_IsProjectRestoreSupported" does not exist in the project.  It works if the vmImage version is 11.6, but not 11.6.1

[2021-11-02 20:29] rink72 commented on #4277
@miketimofeev @al-cheb @mikhailkoliada, is this a change that will be applied to the virtual-environments repository?

[2021-11-03 06:17] al-cheb commented on #4277
@rink72 , Do you mean this https://github.com/actions/virtual-environments/issues/4277#issuecomment-953741454 ?

[2021-11-03 07:05] gustafnilklint commented on #949
I have exactly this issue too, but we do not use Fastlane.
Our "Nightly-builds" sometimes fails because it hasn't finished before our maximum execution time of 30 minutes(typically the builds finish in  < 10 min on GH and < 5 min locally).
After it has failed I can see that the build was stuck on "/usr/bin/codesign"

[2021-11-03 07:32] miketimofeev commented on #4398
@aolszowka thanks for all the data. I would prefer to close this issue as an "external" one as Pester folks are aware of the problems and will _probably_ fit this in the future.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 07:32] #4398 closed

[2021-11-03 07:56] miketimofeev commented on #949
@gustafnilklint feel free to open a new issue but please prepare a repro – it will help us a lot during the investigation.

[2021-11-03 07:58] miketimofeev commented on #4400
@FrancescElies the changes are merged and will be deployed next week.

[2021-11-03 08:00] rink72 commented on #4277
@al-cheb , sorry, yeah that's the change I was meaning.

[2021-11-03 08:27] MaksimZhukov commented on #4060
Hello @joshepkt!
We have updated Mono version from `6.12.0.125` to `6.12.0.140`. The default behavior of the `nuget restore` command has been changed. Previously, this command skipped restoring for project if the project file is invalid. For now, it throws the error.

Could you please confirm if restoring for the `YYYY.UWP.csproj` project was skipped in your successful builds?

Also, could you ple

[2021-11-03 08:42] FrancescElies commented on #4400
Closing 😄

[2021-11-03 10:11] miketimofeev commented on #4400
@FrancescElies I would prefer to leave this open until the images are deployed if you don't mind

[2021-11-03 10:22] miketimofeev commented on #4201
@grzegorzkrukowski I'm going to close the issue.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 10:22] #4201 closed

[2021-11-03 10:24] al-cheb commented on #3583
@jahmai-ca , @mierzynskim , Mono 6.12.0.140 is on board.

[2021-11-03 10:24] #3583 closed

[2021-11-03 10:26] miketimofeev commented on #4332
@augustoproiete this is fixed now, the messages are shown only in the following cases:
- macos-latest points to macos-10.15
- macos-latest points to macos-11 and the run is failed

In case a specific version e.g. macos-10.15 is used — no warnings are displayed.
I'm going to close the issue.
Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 10:26] #4332 closed

[2021-11-03 10:36] miketimofeev commented on #4320
@Richard-Gist the images have been deployed.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 10:36] #4320 closed

[2021-11-03 11:07] krishpranav commented on #4060
is there any way to sign development team to building a swift app in GitHub workflows????

[2021-11-03 12:12] MehdiChinoune commented on #4193
It's working now, I have just tried it with Fedora 35.
I think the issue could be closed now.

[2021-11-03 12:56] miketimofeev commented on #4193
@lslezak @MehdiChinoune the images with docker moby 20.10.10 have been deployed!
I'm going to close this issue, please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 12:56] #4193 closed

[2021-11-03 13:27] miketimofeev commented on #4328
@Javernaut ubuntu and macOS images with the latest NDK r23 were deployed.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 13:27] #4328 closed

[2021-11-03 13:49] joshepkt commented on #4060
@MaksimZhukov, Yes in the ones that worked, it looks like it errored out and skipped the UWP project.

From a working one:
/Users/runner/work/1/s/YYYY/YYYY.UWP/YYYY.UWP.csproj : error MSB4057: The target "_IsProjectRestoreSupported" does not exist in the project.
/var/folders/24/8k48jl6d249_n_qfxwsl6xvm0000gn/T/NuGetScratch/rque8wsk.68l.nugetrestore.targets(315,5): warning : Skipping restore for p

[2021-11-03 13:51] rishid commented on #4360
I am still having this issue with the following version. I presume I just have to wait to get the latest provisioner?

[code]

[2021-11-03 14:33] chowarth commented on #4060
We're also seeing this same issue today. So far I've not had much luck getting it sorted; using `msbuild -t:restore` allowed the NuGet restore to complete but caused the iOS build to fail (Android was fine) thinking that the packages/references weren't there.

[2021-11-03 14:40] miketimofeev commented on #4360
@rishid the new image with the updated chocolatey will be deployed today — that should resolve the issue

[2021-11-03 15:31] avezina-flexpay commented on #4277
The fix from @al-cheb  seems to fix my issue. running multiple build, will let you know the final result

[2021-11-03 15:47] al-cheb commented on #4277
@rink72, @avezina-flexpay , This https://github.com/actions/virtual-environments/pull/4415 fix has been merged in the main branch.

[2021-11-03 16:24] schen623 commented on #2604
Also curious about this.

[2021-11-03 16:57] barnson opened #4419 "Add WiX Toolset build tools to `windows-2022`"
### Tool name

WiX Toolset

### Tool license

MS-RL

### Add or update?

- [X] Add
- [ ] Update

### Desired version

v3.11.2.4516

### Approximate size

120MB

### Brief description of tool

About the WiX toolset: The WiX toolset lets developers create installers for Windows Installer, the Windows installation engine.

WiX is available in previous generations of VMs but was not included in `windo

[2021-11-03 17:58] evertonlperes commented on #183
That's interesting.
I'm also struggling to run some E2E tests on the existing GitActions runners.
The app need to run into a VM with nested-virtualization enabled (macOS, Windows and Linux). Also, for Windows the app requires `WSL2` enabled instead WSL1.

Looking into the runners VM_Config, for Windows and Linux the VM has nested-virtualization embedded already.
* `windows-2022` --> `Standard_D8s_

[2021-11-03 19:17] miketimofeev commented on #183
@evertonlperes these sizes are used only for image generation to speed up the process. The runners have different specs and don't have nested virtualization.

[2021-11-03 19:29] #4324 closed

[2021-11-03 19:49] evertonlperes commented on #183
Thanks for clarify @miketimofeev
That's a blocker to us, unfortunately :(

[2021-11-03 20:42] NateB2 commented on #4277
Unfortunately, this is still not working for us.  It did apply the reg fix as shown here:

    vhd: Set antivirus parameters
    vhd: Disable Antivirus
    vhd: Set Microsoft Defender Antivirus to passive mode

but failed with the same type of error message here:

==> vhd: Move-Item : Access to the path 'C:\hostedtoolcache\windows\PyPy\pypy3.6-v7.3.3-win32' is denied.
==> vhd: At C:\Windows\Temp\s

[2021-11-03 21:39] miketimofeev commented on #4341
@sylveon the new image with pre-installed components is deployed.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 21:39] #4341 closed

[2021-11-03 21:39] miketimofeev commented on #4342
@sylveon the new image with pre-installed components is deployed.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 21:39] #4342 closed

[2021-11-03 21:40] miketimofeev commented on #4325
@nightlark the new image with pre-installed NSIS is deployed.
I'm going to close the issue. Please feel free to contact us if you have any concerns.
Thank you!

[2021-11-03 21:40] #4325 closed

[2021-11-04 02:44] rink72 commented on #4277
@al-cheb , we have also just run a build with it failing as well. I checked the logs and also saw the disable steps run

[code]

[2021-11-04 04:32] akyamada-ms opened #4424 "Add .NET 6 SDK"
### Tool name

.NET 6 SDK

### Tool license

N/A

### Add or update?

- [X] Add
- [ ] Update

### Desired version

N/A

### Approximate size

_No response_

### Brief description of tool

I’m support engineer in Japan. One of my customers is using Ubuntu latest OS image for Microsoft-hosted agents in Azure DevOps Services. Does not have .NET 6 installed in Ubuntu latest OS image, so he adds the fo

[2021-11-04 09:41] fabsenet commented on #1865
hi @Elvis-Shi and others,

I feel like this component might need an update? I really cannot tell the correct version nummer, but https://marketplace.visualstudio.com/items?itemName=ms-biztalk.BizTalk&ssr=false lists version 3.13.2.0

This page https://support.microsoft.com/en-us/topic/service-pack-and-cumulative-update-list-for-biztalk-server-108e5e94-4558-8b57-d5fb-45984506d56f lists 3.13.785.0 a

[2021-11-04 11:05] TriplEight commented on #4060
using the `macos-latest` just got a job executed by
![image](https://user-images.githubusercontent.com/17856421/140303182-652236ab-d32b-4c24-9c4d-7ef5128967a7.png)
and my binary is no longer executable neither on macos-11 nor macos-10.5

[2021-11-04 11:09] chevdor commented on #4060
FYI: I had CI runs this morning using `macos-latest`. They did run on MacOS 11. They produced binaries running in the runner but **not** valid on an Intel Mac running 11.6 (Big Sur).

Specifying `macos-10.15` instead of `macos-latest` as suggested in the issue indeed solves the issue for now.

[2021-11-04 12:08] avezina-flexpay commented on #4277
It worked for us. Since the change our build now succeed. Thank you.

it was a simple fix, but a nasty one to investigate

[2021-11-04 12:21] m7kvqbe1 commented on #4357
Will you be making `16.x.x` the default node runtime for `ubuntu-latest`?

[2021-11-04 16:00] kipwoker commented on #4312
I have the same issue. Is it possible to have VS2017 at `windows-2019`? It could be a solution for me. We have a bunch of `.net 4.6.2` apps that are impossible to upgrade before March.

[2021-11-04 17:28] IanKemp commented on #4312
No, Microsoft isn't going to waste time and effort catering to businesses that haven't bothered to invest the time and effort to keep their software current.

[2021-11-04 17:46] brandonh6k commented on #4312
You should be able to use the Windows 2019 image (it includes VS 2019 and .NET 4.7.2) or the Windows 2022 image (includes VS 2022 and .NET 4.8) with minimal changes to your apps. [Hosted Agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#software)

Otherwise, you can always use a self-hosted agent with whatever mix of software and versions tha

[2021-11-04 22:31] kipwoker commented on #4312
I got your point, but:
1. GitHub Actions isn't a free service. It costs money
2. I'm not proposing to keep the old version forever. There is less than half a year for making changes. I'm trying to propose something that will give us more time to upgrade the solutions

[2021-11-04 22:33] kipwoker commented on #4312
@brandonh6k thank you for the answer. Upgrade or self-hosted agent could be an option.

[2021-11-05 07:33] ababar03 commented on #841
Hi Team, I am facing a `This check failed` issue. Please resolve it.

[2021-11-05 10:06] vital987 commented on #841
Try checking your Github Actions quota from Settings > Billing & Plans, if it's full, wait till it renews.

[2021-11-05 10:38] anders9ustafsson commented on #4060
It seems like a temporary workaround is to add a dummy target in the UWP project file, i.e.

      <Target Name="_IsProjectRestoreSupported" />

I guess this workaround should be handled with caution, since I think including this target in the UWP project file will override correctly implemented instances of the `_IsProjectRestoreSupported` target. But until the original problem is fixed, this mig

[2021-11-05 12:58] zordark opened #4426 "Azure Devops Microsoft-hosted Ubuntu agent integration tests fail to call Docker Rest Api"
### Description

We have a problem with Azure pipeline.
Our pipeline is executed on Microsoft-hosted Ubuntu based agent.
Inside pipeline we are running integration tests, those tests interacts with Docker Rest API to run specific containers (we are using Docker.DotNet for that). Everything works on on-premise hosted build agent (but we are using our own image for that), but doesn't on Microsoft-ho

[2021-11-05 14:04] palumbo67 commented on #3894
Has anyone managed to get to translate this to windows?

[2021-11-05 19:58] ababar03 commented on #841
I have checked. it is not full but still getting an error

<img width="742" alt="Screen Shot 2021-11-05 at 3 56 13 PM" src="https://user-images.githubusercontent.com/77753390/140571045-678b4c20-f078-4a53-b965-aa8d78f2f89c.png">

[2021-11-05 21:38] sobrinho commented on #2187
Looking forward for this

[2021-11-06 19:37] JayDoubleu opened #4427 "Swift installer script no longer works"
### Description

[code]

https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/installers/swift.sh#L12 no longer returns swift version.

### Virtual environments affected

- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

https://github.visu

[2021-11-06 19:39] JayDoubleu commented on #4427
Perhaps worth switching to `SWIFT_VERSION=$(curl -s "https://api.github.com/repos/apple/swift/releases/latest" | grep -Po '"tag_name": "swift-\K[0-9.]+')`

[2021-11-06 23:32] gucciigang opened #4428 "(Anthony Stewart)"
### Tool name

5D looking

### Tool license

#'/134896

### Add or update?

- [X] Add
- [X] Update

### Desired version

Build log

### Approximate size

Update%2FAdd+%5Btool+name%5D

### Brief description of tool

https:///actions/virtual-environments/issues/new?assignees=&labels=feature+request%2Cneeds+triage&template=tool-request.yml&title=Update%2FAdd+%5Btool+name%5D.com

### URL for tool's ho

[2021-11-07 12:12] mikhailkoliada commented on #4427
@JayDoubleu Hello!

The easiest thing is just to pass the `--compressed` option to curl, as the output is compressed, I will prepare a pull request this week.

[2021-11-07 12:31] JayDoubleu commented on #4427
Yes, until it breaks down again. 🙃

[2021-11-07 16:07] #4427 closed

[2021-11-07 16:22] chkpnt opened #4431 "VirtualBox / Vagrant with private network is failing"
### Description

I've a Vagrantfile for VirtualBox with a `private_network`. This worked before (Oct 16th), but now I'm getting an error `Code E_ACCESSDENIED (0x80070005) - Access denied (extended info not available)`.

### Virtual environments affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] macOS 10.15
- [ ] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2

[2021-11-07 18:27] #4428 closed

[2021-11-07 18:45] l1ving commented on #2552
This appears to now be supported by Azure, could someone take a look at this issue again?

https://azure.microsoft.com/en-us/updates/azure-devops-pipelines-introduces-support-for-linuxarm64/

[2021-11-07 19:21] martin-g commented on #2552
@l1ving See few comments above ^^

[2021-11-07 19:28] l1ving commented on #2552
That's why I'm making a comment, it looks like it's supported on non-self hosted runners as well?

[2021-11-07 19:28] l1ving commented on #2552
Oh. I pasted the wrong link

[2021-11-07 19:42] rink72 commented on #4277
@al-cheb, I've run a few builds with the implemented fix and can see defender being set to passive mode. However, only one of the builds has succeeded and the rest have failed with similar access denied errors.

[2021-11-08 05:38] hhhaiai opened #4432 "This check failed"
### Description

MY PROJECT  BUILD FAILED, build success at 12:00, then 13:00 failed , what happen ?

eRROR LOG:

[code]

### Virtual environments affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [X] macOS 10.15
- [X] macOS 11
- [ ] Windows Server 2016
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version and build link

HAS NO

### Is it regression?

_No response_

### Expected

[2021-11-08 06:05] al-cheb commented on #4424
Hey, @akyamada-ms
.NET 6 will launch at .NET Conf November 9-11(https://devblogs.microsoft.com/dotnet/announcing-net-6-release-candidate-2/) and take 1 or 2 weeks to new rollout.

[2021-11-08 06:07] dibir-magomedsaygitov commented on #4329
Hello @heronrs. Could you please check if the issue still persists?

[2021-11-08 06:07] al-cheb commented on #4426
Hello, @zordark
Please provide logs of the failed builds and steps to reproduce the issue.

[2021-11-08 06:10] al-cheb commented on #4432
Hello, @hhhaiai
Please provide logs to the failed builds and organization name.

[2021-11-08 06:35] hhhaiai commented on #4432
hi:     hhhaiai/analysys-dev-sdk.

has no log

![image](https://user-images.githubusercontent.com/5738285/140694996-39b4bf58-07d8-4074-8f60-201db525e353.png)

[2021-11-08 07:36] vsafonkin commented on #4236
Closed, because we cannot do anything from our side.

[2021-11-08 07:36] #4236 closed

[2021-11-08 07:42] miketimofeev commented on #4357
@m7kvqbe1 yes, we will announce it soon.

[2021-11-08 07:47] miketimofeev commented on #4427
@JayDoubleu thank you for your contribution!