[2022-09-21 02:01] specter119 commented on #6277
solve by add `khronos-opencl-icd-loader`, it's not a windows image bug.

[2022-09-21 02:01] #6277 closed

[2022-09-21 08:45] mikhailkoliada commented on #6274
gfortran symlink removed, changes will be released this week.

[2022-09-21 09:18] erik-bershel commented on #6207
@Kicer86 Windows images have been successfully generated! You can use the new tool. Feel free to contact us if something goes wrong, or if you have new suggestions or questions.

[2022-09-21 09:25] #6207 closed

[2022-09-21 10:28] rgommers commented on #6274
Thanks @mikhailkoliada! It looks like in the meantime the default image got reverted to an older build, so our CI is working again.

[2022-09-21 14:25] mpconte commented on #6253
@igorboskovic3 Sorry, that was a typo on this issue.

I tried to follow the instructions of the referenced issue, but I still encounter the same error when I launch the emulator

[2022-09-21 15:02] igorboskovic3 commented on #6253
@mpconte Can you share some repro steps in order to investigate?

[2022-09-21 15:08] al-cheb commented on #6105
@dmachaj, Do you have a code snippet that we can use to validate a pipeline except the installation step?

[2022-09-21 15:15] dmachaj commented on #6105
Could you please elaborate on the question?  I don't think I fully understand.  Are you looking for a pipeline that would test if Parallels is registered properly?  Or one that would use it?  If the latter please send me an email and I can point you to our MacOS build pipeline that uses Parallels.

[2022-09-21 15:18] al-cheb commented on #6105
@dmachaj,  Are you looking for a pipeline that would test if Parallels is registered properly? - Yep, I am looking for the steps how we can validate it.

[2022-09-21 15:33] mpconte commented on #6253
@igorboskovic3, I used the following workflow

[code]

and I receive the following error on launching the emulator:

[code]

[2022-09-21 15:36] mpconte commented on #6252
@igorboskovic3 I managed to resolve my issue by removing the shell script to wait for the device to load following the **wait-for-device** command.

i.e:

`$ANDROID_HOME/platform-tools/adb wait-for-device `

instead of

`$ANDROID_HOME/platform-tools/adb wait-for-device  shell 'while [[ -z $(getprop sys.boot_completed | tr -d '\r') ]]; do echo "wait..."; sleep 1; done; input keyevent 82'
`

[2022-09-21 15:43] ssrinivasKG commented on #6252
I still believe the latest runner image does not have HAXM installed and running `emulator -accel-check` after installing Intel HaxM shows the following error output.
`accel:
8
HAXM is not installed on this machine (/dev/HAX is missing).
accel`

Which is causing the emulator to be super slow since its unable to startup using hardware acceleration. Not sure if @mpconte you're facing a similar issue

[2022-09-21 16:08] mpconte commented on #6252
My workflow didn't appear to have an issue with installing **intel-haxm**, although running `emulator -accel-check ` did indeed give me the same error output you said.

My (very simple) instrumentation test seems to pass, so I believe that everything is working fine on my end.

[2022-09-21 17:27] naikrovek commented on #6200
Then why are you having this exact problem?  Am I misunderstanding?

[2022-09-21 17:34] koaminakligo-eaton commented on #6200
I had that problem last Friday when I was updating our VM. I updated the latest changes yesterday, and the issue is fixed.

[2022-09-21 19:41] bobbrow opened #6280 "Latest update to Ubuntu 20.04 image breaks gcc compiler"
### Description

My [VS Code extension's CI](https://github.com/microsoft/vscode-cmake-tools/actions/workflows/ci-main-linux.yml) cannot run with the latest 20.04 image because CMake cannot configure our projects with the new way of acquiring the gcc compiler.

[code]
[code]

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [X] Ubunt

[2022-09-21 19:43] bobbrow commented on #6280
#6258

[2022-09-21 20:06] mikhailkoliada commented on #6280
@bobbrow Hello!

Do I understand correctly that you are using gcc-12? If so, you should either:

* remove homebrew from your $PATH
* change homebrew's place in $PATH to be less preferable
* change the way your CMakeLists.txt acquires gcc
*
gcc dependency is now mandatory brew dependency on Ubuntu 18 and 20 so this can not be changed anyhow other than the ways I described above.

[2022-09-21 20:29] bobbrow commented on #6280
We use whatever version of gcc we find on the image.  It used to be gcc 9.4, I believe.  This new brew version seems to be found ahead of the version that ships with the LTS.  We don't really care if a new version (e.g. 12) appears as long as it can compile.  It seems that brew's version of the compiler is incorrectly configured and cannot be used, so it needs to be patched or removed.

[2022-09-21 21:06] mikhailkoliada commented on #6280
I am not sure that brew's gcc is fully compatible with what cmake make do, but I guess @MikeMcQuaid can fix me, or at least he might know a person who can.

I am mainly concerned how you came with the

[code]
Invocation.

Is this auto-generated or whatever else, because if I explicitly call your command with gcc/g++ from /usr/bin - it works

[2022-09-21 21:31] Piedone commented on #5166
For those interested, I did some investigation of various performance optimization options (NTFS settings, virtual drives with different file systems), including the necessary scripts and measurements here: https://github.com/Lombiq/GitHub-Actions/issues/32 Spoiler alert: I didn't find anything that would be possible to use and would help.

[2022-09-21 21:41] bobbrow commented on #6280
Yes, I also noticed that when we don't specify a compiler explicitly that CMake will select the usual default `/usr/bin/gcc` and it works.  The problem is that our extension has a feature that discovers compilers on the machine and lets our customers select the one they want.  Some of our tests will attempt to configure with one of those.  This normally just works because a compiler is a compiler

[2022-09-22 06:44] mikhailkoliada commented on #6280
@bobbrow I've glanced through your logs one more time and it does not look like a gcc's problem. In your logs it is clearly stated that it searches for `-lc` which is in fact (g)libc. gcc@12 from brew pulls both, glibc and binutils for everything to be compatible I suppose. Given that homebrew maintainers have marked glibc as keg-only [recently](https://github.com/Homebrew/homebrew-core/issues/110

[2022-09-22 11:15] igsilya opened #6282 "Podman build failure: Connection reset by peer"
### Description

Originally created as a https://github.com/actions/runner/issues/1994 .  It was suggested in the thread to create a bug for virtual environment, but that didn't happen, IIUC.  So, doing that now.

The issue affects multiple projects.  Basically, everyone who tries to build podman images in GHA.
Freshly failed job: https://github.com/ovn-org/ovn-fake-multinode/actions/runs/31048878

[2022-09-22 11:34] al-cheb commented on #6282
Hey @igsilya.
Could you please try to set `XDG_RUNTIME_DIR` to emtpy value?
[code]

[2022-09-22 11:43] igsilya commented on #6282
@al-cheb that workaround works, yes.  But it is a workaround.

[2022-09-22 12:09] al-cheb commented on #6282
You can reproduce the same behavior on a local vm:

[code]

sudo -E preserves a user environment.  These point to directories with UID names, which  not intended to be used by another user.

[2022-09-22 12:18] igsilya commented on #6282
Yes, but we need that environment to not pass all the other variables manually.

[2022-09-22 12:21] ebattat commented on #6282
Hi @al-cheb,

I agreed, I think that this issue should be solved because it worked properly in the past

[code]

[2022-09-22 12:45] igorboskovic3 commented on #6252
@mpconte can you try use this `brew install intel-haxm` before installation of emulator

[2022-09-22 12:46] igorboskovic3 commented on #6252
@mpconte sorry, didnt saw your last comment

[2022-09-22 12:47] igorboskovic3 commented on #6252
Ok i will close then this issue, thank you @mpconte and @ssrinivasKG

[2022-09-22 12:47] #6252 closed

[2022-09-22 12:49] igorboskovic3 commented on #6253
@mpconte Can you try use this `apt-get install libpulse0:i386`

[2022-09-22 12:52] mpconte commented on #6253
@igorboskovic3 I get the following error:

`E: Unable to locate package libpulse0:i386`

[2022-09-22 13:14] igorboskovic3 commented on #6253
@mpconte Sorry, try without `i386` arch `apt-get install libpulse0`

[2022-09-22 13:22] mpconte commented on #6253
@igorboskovic3 On trying to launch the emulator, I receive the following error:

[code]

[2022-09-22 13:22] al-cheb commented on #6282
@ebattat, I can reproduce the same behavior on my local vm:

[code]

[2022-09-22 13:50] anthony-c-martin commented on #3517
To circle back - by chance I discovered that one of our tests was eating up a LOT of system memory, and this issue stopped occurring once I fixed it. It would be **super** helpful if this information could have been communicated somehow through the workflow logs, and would have saved a lot of time spent debugging.

[2022-09-22 15:54] bobbrow commented on #6280
What I don't understand is why should I need to modify the image to get a basic compilation to work?  Can you add this line to your image so that everyone can benefit from it?  Or remove gcc-12 from your brew install because it doesn't work out of the box.

[2022-09-22 15:57] bobbrow commented on #6280
Does #6240 solve my problem by removing brew stuff from the $PATH?

[2022-09-22 16:04] mikhailkoliada commented on #6280
@bobbrow yes, it will, and that is exactly what we are going to do

[2022-09-22 16:25] ddobranic opened #6283 "[Ubuntu] homebrew will be removed from PATH variable"
### Breaking changes

homebrew will be removed from $PATH on Ubuntu images.

### Target date

Image deployment will start September 22nd, and will be finished on Monday, September 27th.

### The motivation for the changes

Starting with homebrew 3.6.0, gcc and its toolchain (binutils and glibc) became mandatory dependencies for any installed package. We are going to remove homebrew from the $PATH

[2022-09-22 22:43] McAdamz opened #6286 "Error running the windows2022 image scripts"
### Description

Trying to run the latest windows2022 image, but receiving this error:

` vhd: Install docker-wincred
==> vhd: Start-DownloadWithRetry : Cannot bind argument to parameter 'Url' because it is an empty string.
==> vhd: At C:\Windows\Temp\script-632ccdd5-4fa3-a4ae-f996-6902a8f192d7.ps1:25 char:51
==> vhd: + ... ckerCredArchive = Start-DownloadWithRetry -Url $dockerCredDownloadUrl
==>

[2022-09-23 00:38] SagiKovaliov commented on #6286
Getting the same on win2019 image. On any release tag. Seems like it's not connected to the code

[2022-09-23 00:52] mmckechney commented on #6181
This seems to have caused an unexpected breaking change. When running an Azure DevOps Windows Container build, it fails at the login for Azure Container Registry with DOCKER_COMMAND_ERROR suggesting that the Docker engine is not running on the worker. I wouldn't have expected this to happen with this update. Can this be investigated please?
![B3503dff338d54526b966bfd84babd71d637994564999694089_azd

[2022-09-23 01:19] pfrcks commented on #6181
@miketimofeev  I am seeing the same issue as @mmckechney

[2022-09-23 03:35] yew commented on #6181
@mmckechney, @pfrcks, add this line before `az acr login` could workaround the issue.
`New-Item -ItemType SymbolicLink -Path "C:\Windows\SysWOW64\docker.exe" -Target "C:\Windows\System32\docker.exe"`

[2022-09-23 07:17] al-cheb commented on #6286
Hey @McAdamz.
It will be fixed in scope of this https://github.com/actions/runner-images/pull/6287 PR.

[2022-09-23 08:50] igorboskovic3 commented on #6253
@mpconte

Unfortunately we can't support this feature at this time for Ubuntu, `ERROR   | x86_64 emulation currently requires hardware acceleration!`, feedback here is valuable and we will definitely keep it in mind. Thank you.

[2022-09-23 10:37] miketimofeev commented on #6181
The changes are now deployed.
@pfrcks @mmckechney @yew sorry for the inconvenience, this will be fixed next week, related pr is https://github.com/actions/runner-images/pull/6287

[2022-09-23 10:37] #6181 closed

[2022-09-23 12:54] mpconte commented on #6253
@igorboskovic3

Thank you for your feedback, I'll close the issue then since there's no immediate solution.

[2022-09-23 12:54] #6253 closed

[2022-09-23 14:03] jasonm23 commented on #90
👍🏽 I just ran into this issue too.  Installing core-utils or alias shasum seems to be a reasonable workaround, but it'd be better if it was just added to the image.

[2022-09-23 14:43] pauloafp opened #6296 "[Windows] Add SQL Server Reporting Services PowerShell utilities"
### Tool name

Windows Server 2022 image

### Tool license

MIT license

### Add or update?

- [ ] Add
- [X] Update

### Desired version

windows-latest

### Approximate size

_No response_

### Brief description of tool

Powershell module ReportingServicesTools for Msft SQL Server Reporting Services and PowerBI

### URL for tool's homepage

https://github.com/microsoft/ReportingServicesTools

###

[2022-09-23 15:02] igorboskovic3 commented on #6296
Hi @pauloafp we will take a look and get back to you. Thank you

[2022-09-24 11:28] drazkiewicz opened #6301 "[ Rust ] Cargo Outdated not installing"
### Description

First attempt:

[code]

Second attempt:

[code]

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [X] Windows Server 2022

### Image version and build link

No

### Is it regression?

No

### Expected behav

[2022-09-24 14:52] #6286 closed

[2022-09-25 04:47] XZTDean opened #6302 "Java has incorrect version names"
### Description

For Ubuntu images, in the [readme file](https://github.com/actions/runner-images/blob/releases/ubuntu20/20220922/images/linux/Ubuntu2004-Readme.md#java), the version of java 11 is 11.0.16+1 and java 17 is 17.0.4+1. But the correct tag for those two versions is [11.0.16.1+1](https://github.com/adoptium/temurin11-binaries/releases/tag/jdk-11.0.16.1+1) and [17.0.4.1+1](https://github

[2022-09-25 08:36] carlocab commented on #6280
Yes, this was broken by making `glibc` keg-only, which we did upon request of the GitHub Actions team (see https://github.com/Homebrew/homebrew-core/issues/110877). Doing `brew link --force glibc` does make this work.

[2022-09-25 08:47] mikhailkoliada commented on #6302
@XZTDean Hi!

Well, they are not really wrong, on macOS and Windows we are parsing semver, as it is easier to track changes down, for linux we are using `-fullversion` and upstream is using `-version`. So the best course of action here is to switch linux to dosplay semver, too for consistency.

[2022-09-25 13:08] rfay commented on #6283
Enormous breakage, enormous number of repositories.

[2022-09-25 19:26] Evico-tr commented on #4431
This worked for me.

If you're a mac user, go do this:
1.  cat ~/Library/VirtualBox/VirtualBox.xml to check the allowed IP addresses. You may see an upper and lower IP address limit.
2. Edit your Vagrantfile and use an IP address that falls within that range.

[2022-09-26 01:53] dipesharora opened #6303 "Incorrect Packer version"
### Description

Version of packer in the Readme is mentioned as 1.8.3, but during runtime, packer version output shows its 1.5.4

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [x] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [ ] Windows Server 2022

### Image version

[2022-09-26 01:59] dipesharora commented on #6303
Ubuntu 22.04 runner also has same issue
Image: ubuntu-22.04
Version: 20220919.1
Included Software: https://github.com/actions/runner-images/blob/ubuntu22/20220919.1/images/linux/Ubuntu2204-Readme.md
Image Release: https://github.com/actions/runner-images/releases/tag/ubuntu22%2F20220919.1

[2022-09-26 02:14] Kojoley opened #6304 "Add qemu-user-static"
### Tool name

qemu-user-static

### Tool license

GPLv2

### Add or update?

- [X] Add
- [ ] Update

### Desired version

no particular version

### Approximate size

13MB

### Brief description of tool

A generic and open source machine emulator and virtualizer.

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

[code]

### Platforms

[2022-09-26 05:59] mikhailkoliada commented on #6303
@dipesharora Hello!

I see this action does not rely on a packer version in the image, it simply runs [docker](https://github.com/hashicorp/packer-github-actions/commits/master/Dockerfile) container with a specific version of packer. Even master version of the action still has 1.8.2 while in the image it is 1.8.3

[2022-09-26 05:59] #6303 closed

[2022-09-26 06:45] al-cheb commented on #6301
Hey @drazkiewicz.
We will take a look at it.

[2022-09-26 06:51] al-cheb commented on #6304
Hello, @Kojoley.
Considering the installation time, we wouldn't like to bake this tool into the image for now.

[2022-09-26 06:51] #6304 closed

[2022-09-26 07:33] TonyFTannous commented on #6260
Hey. any update
failed to generate the bundle
the script located in bundle react-native code and images failed to generate the bundle
**export NODE_BINARY=node
../node_modules/react-native/scripts/react-native-xcode.sh**

please help
thanks in advanced

[2022-09-26 07:44] retyui commented on #6225
@miketimofeev can be closed ?

[2022-09-26 07:55] mikhailkoliada commented on #6225
@retyui not really, the propagation of the changes is going to start today

[2022-09-26 08:22] dsuch commented on #6002
Hello @miketimofeev - can you please clarify whether 4/1/2023 means the 4th of January or the 1st of April in 2023? Thank you.

[2022-09-26 11:39] dipesharora commented on #6303
Hi, yes that's correct. I did more investigation and found the same that the action has a pinned version of Packer at 1.5.4.

[2022-09-26 12:02] #6296 closed

[2022-09-26 12:25] pauloafp commented on #6296
Hi,

We're not using GitHub Actions. Instead we're using Azure DevOps. Currently is taking almost 2 minutes to install this module on a windows agent, what is more than half of the time it takes to execute the pipeline.

Melhores Cumprimentos,
Best Regards,

Paulo Palma

From: Erik Bershel ***@***.***>
Sent: 26 de setembro de 2022 13:02
To: actions/runner-images ***@***.***>
Cc: Paulo Palma ***@**

[2022-09-26 13:28] erik-bershel commented on #6296
@pauloafp
I apologise for the misunderstanding on my part. I checked the information and ran a couple of tests. Yes, indeed, in the case of ADO for runtime install, the “idle” time increases by about two minutes. But unfortunately our maintenance policy in this case forces me to leave the installation decision the same. I offer my deepest apologies for wasting your time. Please, feel free to open

[2022-09-26 17:31] selfsk commented on #6283
Strange approach... lets brake image that used probably by 95% of github actions. Where there an announcement made about these changes? If not - it makes github images completely unreliable.

[2022-09-27 09:53] F4DE777 commented on #4589
sudo add-apt-repository 'deb [arch=amd64] https://mirror.mxe.cc/repos/apt focal main'
Repository: 'deb [arch=amd64] https://mirror.mxe.cc/repos/apt focal main'
Description:
Archive for codename: focal components: main
More info: https://mirror.mxe.cc/repos/apt
Adding repository.
Press [ENTER] to continue or Ctrl-c to cancel.
Adding deb entry to /etc/apt/sources.list.d/archive_uri-https_mirror_mxe_

[2022-09-27 09:54] F4DE777 commented on #4589
~ $ sudo apt -qq update
W: https://dl.winehq.org/wine-builds/ubuntu/dists/bionic/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.
W: https://mirror.mxe.cc/repos/apt/dists/focal/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.
E: T

[2022-09-27 09:54] F4DE777 commented on #4589
~ $ sudo apt install -y --allow-downgrades libpcre2-8-0=10.34-7
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Package libpcre2-8-0 is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source
However the following packages replace it:
  libpcre2-8-0

[2022-09-27 09:54] F4DE777 commented on #4589
~ $ sudo apt install -y wine32
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to res

[2022-09-27 14:20] omptech opened #6312 "Build Pipeline downloading multiple version of snowflake and gets failed"
### Description

Suddenly Build Pipeline downloading multiple version of snowflake from function app requirement.txt and gets failed, when specifying like (snowflake-connector-python) but when specifying with version like (snowflake-connector-python==2.7.9) So it works.

Dont know why it suddenly happened

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Runner images affected

[2022-09-27 14:22] al-cheb commented on #6312
Hey @omptech.
Please provide  minimal steps how to reproduce the issue.

[2022-09-27 15:37] omptech commented on #6312
HI @al-cheb

To reproduce the issue please follow below steps:

1. Download the requirement.txt file which I have already attached.
[requirement.txt](https://github.com/actions/runner-images/files/9657507/requirement.txt)

2.Run the below command, But before that change the requirement.txt path according to path where you put it.
install --target="./.python_packages/lib/site-packages" -r ./PythonF

[2022-09-27 17:04] Yafaruk opened #6313 "Wow"
My Stub  https://play.google.com/store/apps/details?id=xyz.chartech.movieplus

[2022-09-27 17:05] #6313 closed

[2022-09-27 17:07] akhil-cervello commented on #6283
Could've been handled with prior announcement! Reactive approach.

[2022-09-27 21:01] antonmos commented on #6283
This change breaks the commitment made in https://github.com/actions/runner-images/tree/releases/ubuntu20/20220922#default-version-update-policy
Moreover, this suggestion just does not work `echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH`
`eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"` does work, but for the life of me, i cannot get `tfenv` to run af

[2022-09-27 21:19] calvinjhuang commented on #5631
@al-cheb do we have a timeline for this in the near future?

[2022-09-27 21:29] Sytten commented on #1336
Community link has been deleted, but definitely still an issue. Our rust builds are 3x slower on mac than other platforms... Really not acceptable considering the price charged.

[2022-09-27 21:48] rouson commented on #6280
@carlocab thank you so much for posting this!  I've been plagued by this for a few days and just landed upon your solution, which works for me!

[2022-09-27 22:44] antonmos commented on #6283
After multiple hours, I found a workaround that works, run the following commands in a **single action step**:
* `eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"`
* `brew install tfenv`
* `tfenv install terraform`

Hope this is helps someone.

[2022-09-27 22:58] vadz commented on #4589
FWIW the following workaround works for me for Ubuntu 22.04 right now (2022-09-28):
[code]

It might not be (and probably is not) minimal, but it allows the build to proceed which is all I want now.

[2022-09-28 00:42] carlocab commented on #6280
@rouson glad that helped you. We're working on a fix for that, so you shouldn't need the `brew link --force` workaround for too long.

[2022-09-28 00:57] raviqqe commented on #6283
Is it possible for GitHub to provide an official GitHub Action that enables Homebrew in Ubuntu images (e.g. `actions/homebrew`?)

Copying the `eval` line in every workflow in every repository is not robust against future changes to Homebrew's implementation details. For example, IIRC, Homebrew introduced the global `/home/linuxbrew` directory just a few years ago.

[2022-09-28 06:57] Milne4t1qbit commented on #6283
I use Astronomer Cloud for Apache Airflow.  The YAML file they provide to their clients uses brew to install their CLI, which then manages the push from GitHub to their repo.  This is detail that I thought had been abstracted away from my workflow.

The GitHub admins could have easily mapped the brew command onto something that provided useful useful information. Also, what was the rationale for r

[2022-09-28 07:29] Kielek opened #6315 "Add alpine:3.16"
### Tool name

alpine:3.16

### Tool license

https://pkgs.alpinelinux.org/packages

### Add or update?

- [X] Add
- [ ] Update

### Desired version

3.16

### Approximate size

_No response_

### Brief description of tool

Add alpine:3.16 to cached images both for ubuntu 20.04 and 22.04.
For now, there are only older versions.

### URL for tool's homepage

https://alpinelinux.org/

### Provide a

[2022-09-28 08:22] idealo-ricardo-band commented on #668
So Github is not able to adapt it's infrastructure in over 2 years. Wow..

[2022-09-28 08:37] F4DE777 commented on #4589
i got an error i have tried many methods to install it and i  think i broke
something

 ~ $ sudo apt-get remove -qq libmono* moby* mono* nginx* php* libgdiplus
libpcre2-posix3 libzip4
E: Unable to locate package phpMyAdmin-latest-all-languages.tar.gz
E: Couldn't find any package by glob
'phpMyAdmin-latest-all-languages.tar.gz'
E: Couldn't find any package by regex
'phpMyAdmin-latest-all-languages.

[2022-09-28 09:05] ebesic-bluefield opened #6316 "Missing a lot of root certificates on windows-latest: X509"
### Description

The current windows-latest image is missing a large amount of root certificates. We have a signed certificate from Sectigo Limited with root CA being 'USERTrust RSA Certification Authority' and we are getting certificate errors in our pipeline due to the root authority being missing.

### Platforms affected

- [ ] Azure DevOps
- [x] GitHub Actions

### Runner images affected

- [

[2022-09-28 09:06] al-cheb commented on #6316
Hey @ebesic-bluefield.
We will take a look at it.

[2022-09-28 09:13] nigulable commented on #6283
Im using tgenv  and that wont find terragrunt commands anymore. Anyone knows how to fix this?

[2022-09-28 09:37] al-cheb commented on #6316
@ebesic-bluefield, this certificate presents on the windows images in the `Cert:\LocalMachine\Root` store:

![image](https://user-images.githubusercontent.com/47745270/192745151-628c3608-0a93-45eb-9228-51d4f8c9247b.png)

[2022-09-28 09:48] ebesic-bluefield commented on #6316
Oh, i did not think to look for them in local machine. Hm... so that means it should be working.
Probably an issue in our certificate chain then. We're going to have to doublecheck it. Thanks a lot for the quick help!

[2022-09-28 09:48] #6316 closed

[2022-09-28 09:51] ddobranic commented on #6315
hello @Kielek, we will add new version of alpine. thank you!

[2022-09-28 10:18] ddobranic opened #6317 "[Ubuntu] Old Alpine docker images will be removed and new added on October, 17"
### Breaking changes

We are going to remove alpine:3.12, alpine:3.13 from the list of pre-cached images on VM and add alpine:3.15, alpine:3.16 docker images on Ubuntu 20.04.

We are going to add alpine:3.16 docker image on Ubuntu 22.04.

### Target date

Image deployment will start October, 12 and will take 3-4 days. Old versions will be removed starting October 19.

### The motivation for the ch

[2022-09-28 10:30] al-cheb commented on #6312
@omptech , I can reproduce the issue on a clean ubuntu vm with python 3.9 and pip > 20.3 and it's by design - https://pip.pypa.io/en/stable/topics/dependency-resolution/#backtracking

Workarounds:
1. [Reduce the number of versions pip is trying to use](https://pip.pypa.io/en/stable/topics/dependency-resolution/#reduce-the-number-of-versions-pip-is-trying-to-use)
`snowflake-connector-python >= 2.8.

[2022-09-28 10:30] #6312 closed

[2022-09-28 11:31] mrvindu commented on #6283
[code]
works with above path on different steps

[2022-09-28 12:09] mmckechney commented on #6181
@miketimofeev  - can you confirm that this change has been propagated to all Windows runners in all regions?

[2022-09-28 12:10] omptech commented on #6312
Hi @al-cheb
The actual problem is not with downloading multiple version. But it gets failed during downloading multiple version in Ubuntu 20.04 So I want to know why it gets failed?

[2022-09-28 12:20] al-cheb commented on #6312
There is no issue with downloading, the issue is with resolving dependecies.

[2022-09-28 12:33] ShipraRay150 commented on #6208
@al-cheb, Hi need one help is there any azure devops pipeline task to copy remote server files to local machine? Please help!

[2022-09-28 12:34] mikhailkoliada commented on #6283
Hello! We see that lots of customers are corcerned about this specific change,
so we deem necessery to give more context on what has happened.

Starting from version 6.0, homebrew has a dependency on gcc@11 and this dependency is installed automatically together with brew.
Installing these dependencies cause overriding the Ubuntu tools installed from apt and some preinstalled Ubuntu tools.

By def

[2022-09-28 12:38] al-cheb commented on #6208
You can publish an artifact and download it manually to the local machine.  How to publish artifacts - https://learn.microsoft.com/en-us/azure/devops/pipelines/artifacts/build-artifacts?view=azure-devops&tabs=classic#publish-artifacts

[2022-09-28 13:13] al-cheb commented on #6208
Please read message above how to publish artifacts.

[2022-09-28 13:36] omptech commented on #6312
@al-cheb Yes, but in my case Before the requirement.txt which I attached was working fine but right now it started getting failed. How can I track why it is not working now ?
I have resolved issue already by specifying latest version. Right now I just want to find the root cause

[2022-09-28 13:42] al-cheb commented on #6312
You can ask this question in [https://github.community/c/github-actions/41](https://github.community/c/github-actions/41).

[2022-09-28 14:17] BenedekFarkas opened #6318 "Upgrade JSON image definitions to HCL2"
### Description

It's not actually a bug report, more like a feature request, but this template has the least irrelevant fields.

All the Packer image definitions (except Ubuntu 22.04) are using the old, JSON format, but HCL2 is now the recommended syntax according to the [documentation](https://developer.hashicorp.com/packer/guides/hcl):

Upgrading existing image definitions can achieved with a s

[2022-09-28 14:19] miketimofeev commented on #6181
@mmckechney should be. If you see any issues please let us know

[2022-09-28 14:19] al-cheb commented on #6318
close as https://github.com/actions/runner-images/discussions/5988

[2022-09-28 14:19] #6318 closed

[2022-09-28 14:20] miketimofeev commented on #6301
@drazkiewicz thanks for the update. Please contact us if the issue reappears.

[2022-09-28 14:20] #6301 closed

[2022-09-28 14:29] BenedekFarkas commented on #6318
Ah, I haven't found that discussion, because I searched for `hcl2`, not `hcl`, my bad.

So according to the answer, you'd consider upgrading given there's an accompanying PR. Is that still the case? If yes, please reopen the issue and I'll create a PR with the templates converted.

[2022-09-28 19:38] Yafaruk opened #6319 "Hi"
Please! Cum Inside Me

http://www.imdb.com/title/tt0409156

[2022-09-28 19:40] #6319 closed

[2022-09-28 20:14] alexkfreed commented on #6283
For me it worked when I setup the command as its own step. Subsequent steps were then able to find brew.

[2022-09-28 21:07] egg-r commented on #6225
Has this been delayed?  Rollout progress is showing old image.
https://github.com/actions/runner-images/blob/releases/macOS-12/20220917/images/macos/macos-12-Readme.md

[2022-09-29 06:52] slajar commented on #6225
it is not in the current deployed image. Is this delayed?

[2022-09-29 07:08] Baza207 commented on #6225
Still waiting as well, but the description does say this:

So they still have a day or so 🙃

[2022-09-29 11:22] miketimofeev commented on #6225
@egg-r @slajar @Baza207 I'm afraid this change shifted to next week due to some issue that came up

[2022-09-29 14:04] sawantakash321 opened #6327 "[ubuntu-latest]: Path to http://azure.archive.ubuntu.com/ubuntu broken when running apt-get"
### Description

when trying to install for eg. imagemagick through apt-get, it throws 404 NOT FOUND for ubuntu.
[code]
Until yesterday, it was working with the same image version.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server

[2022-09-29 15:12] shillam opened #6328 "Windows 2022 Agents suddenly using old version of Nuget tool"
### Description

Windows 2022 build agents have started defaulting to using nuget version 4.1.0

Previous builds (last good build was Monday 26th September) were using 5.8.0.

As a workaround I have added the following step to force a newer version of nuget to be used:

[code]

### Platforms affected

- [X] Azure DevOps
- [ ] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubu

[2022-09-29 15:20] al-cheb commented on #6328
Hey @shillam.

I can't reproduce issue from my side:
![image](https://user-images.githubusercontent.com/47745270/193071889-dd6ebc96-84f2-477c-95dc-9ce38d0a45c0.png)
![image](https://user-images.githubusercontent.com/47745270/193071962-0618581a-32d7-4732-8df3-15a94181b5dd.png)

[2022-09-29 15:22] al-cheb commented on #6244
I am planning to close the thread. If you have any concerns feel free to open it.

[2022-09-29 15:22] #6244 closed

[2022-09-29 15:57] shillam commented on #6328
Hi @al-cheb,

I don't know what our difference is, we call NuGetAuthenticate@0, followed by a powershell script that does nothing but set versions, then we call a nuget restore. This is the pipeline:

<img width="615" alt="Screen1-Pipeline" src="https://user-images.githubusercontent.com/5928460/193079766-4f8cab69-1112-407f-9a09-e8476465b749.png">

This is result running today where we pick up the

[2022-09-29 16:24] al-cheb commented on #6328
@shillam, It's well-known - https://github.com/microsoft/azure-pipelines-tasks/issues/16088

First check there is no Nuget:
![image](https://user-images.githubusercontent.com/47745270/193085712-58c1293d-79ce-4f82-9d13-932f6619ff11.png)

Run restore:
![image](https://user-images.githubusercontent.com/47745270/193085811-d5d4ccd2-23e2-4a1d-b790-891e8fc63038.png)

Now Nuget is precached:
![image](http

[2022-09-29 16:24] #6328 closed

[2022-09-29 22:31] gbakeman commented on #1382
Apologies if this is off topic, but I'm getting started with GitHub Actions/CI/Workflows and am confused about how Azure Pipelines translate over to the former, if at all. Can someone provide a short example of how one utilizes this .vdproj/devenv build feature from the perspective of a GitHub workflow .yaml?

[2022-09-30 02:51] varunsh-coder commented on #5934
Hi @al-cheb I wanted to check if there is a way to test out a GitHub Actions runner VM before it is released. As an example, I would like to test few of my workflows on a new image 1-2 weeks before it gets released to be used for GitHub hosted-runners. Is there a way I can do this? Thanks!

[2022-09-30 07:01] al-cheb commented on #5934
@varunagrawal , hey, unfortunatly, we can't provide early access to a new image. What kind of tests do you want to run, maybe we could integrate them with our current tests?

[2022-09-30 07:05] varunsh-coder commented on #5934
@al-cheb, you tagged the wrong Varun again :). I am @varunsh-coder. I need to run a few workflows that use https://github.com/step-security/harden-runner GitHub Action on the new image, to make sure the workflows pass.

[2022-09-30 07:16] al-cheb commented on #5934
@varunsh-coder, I will create an internal ticket to investigate how we can integrate them. Which workflows should we use?

[2022-09-30 07:20] varunsh-coder commented on #5934
Thanks a lot @al-cheb for your help with this! I currently run an integration test on a set of workflows on different repos. See this: https://github.com/step-security/harden-runner/actions/runs/3156704291/jobs/5136693292#step:5:8. But even a simple workflow that runs for more than 5 minutes, and makes a few outbound calls should do. If you want, I can create a workflow and share with you.

[2022-09-30 07:22] hfhbd commented on #6283
Could you please use the blog for such a big breaking change? With the new UI, it shows some blog posts in the upper right corner and media uses announcements of the company blog too, but not a random issue in some repo.

[2022-09-30 07:23] al-cheb commented on #5934
@varunsh-coder, Thank you. If we have a separate workflow it will help us a lot.

[2022-09-30 07:25] varunsh-coder commented on #5934
ok, let me work on that and get back. thank you!

[2022-09-30 09:29] ddobranic opened #6331 "Third party PHP repository will be removed from the Ubuntu 22.04 image"
### Breaking changes

The third party repository for PHP will be removed from the Ubuntu 22.04 image in favor of the official Ubuntu software repository.

### Target date

October, 31. The propagation will take 2-3 days.

### The motivation for the changes

GitHub is tightening security on our images and will only use official sources for packages we install on our runner images going forward.

##

[2022-09-30 10:42] mikhailkoliada commented on #6274
homebrew has been removed from $PATH so it will not affect you anymore (though we still remove gfortran symlink too, so if you add homebrew back to PATH it should work too).

[2022-09-30 10:42] #6274 closed

[2022-09-30 10:43] mikhailkoliada commented on #6280
brew is generally not in $PATH now.

[2022-09-30 10:43] #6280 closed

[2022-09-30 11:01] AHuusom commented on #5166
Does it have anything to do with .NET Core SDK 6.0.401 only being installed on 2022 and not on 2019?

[2022-09-30 11:02] since81 opened #6333 "error during connect: In the default daemon configuration on Windows, the docker client must be run with elevated privileges to connect."
### Description

About two weeks ago my pipelines were working, yesterday I tried to run but got error for first pwsh task in container:

error during connect: In the default daemon configuration on Windows, the docker client must be run with elevated privileges to connect.: Get "[http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/containers/fd8ff246ac5cd257090fd89d1c0e2ba694ee3b594be50704744fdb93928b591

[2022-09-30 11:04] al-cheb commented on #6333
Hey @since81.
We will take a look at it.

[2022-09-30 11:06] AHuusom opened #6334 ".NET Core SDK 6.0.401 is not being installed on windows 2019"
### Description

For some reason .NET Core SDK 6.0.401 is noget being installed on the windows 2019 repository.

All the other repositories has it.

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [X] Windows Server 2019
- [ ] Windows Server 2022

[2022-09-30 11:18] al-cheb commented on #6334
Hey @AHuusom.
Please take a look at the comment - https://github.com/actions/runner-images/issues/4424#issuecomment-1012911541

Our recommendation is always to use tasks to install .Net in runtime:
1. [UseDotNet@2](https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops) - Azure DevOps
2. [setup-dotnet](https://github.com/actions/setup-dotne

[2022-09-30 11:18] #6334 closed

[2022-09-30 11:43] al-cheb commented on #6333
@since81, What image do you use for container?

[code]
![image](https://user-images.githubusercontent.com/47745270/193262431-84ae9469-4524-42ee-8836-248fbd983cce.png)
![image](https://user-images.githubusercontent.com/47745270/193262384-ab5f9cbd-12c0-4b03-af80-a1b7afb688f7.png)

[2022-09-30 11:57] since81 commented on #6333
It is build  on top of
mcr.microsoft.com/dotnet/framework/runtime:4.8-windowsservercore-ltsc2019
plus visual studio 2017
plus java 11
plus specific software addon to visual studio 2017

[2022-09-30 12:09] al-cheb commented on #6333
Could you share it?

[2022-09-30 12:12] since81 commented on #6333
Container is successfully initialized for me also, two first steps of checkout is working, but first pwsh failed.

![image](https://user-images.githubusercontent.com/15886102/193266929-a60b00e3-3015-4c93-a2cd-8032fbd674fa.png)

[2022-09-30 12:28] al-cheb commented on #6333
Works fine:

![image](https://user-images.githubusercontent.com/47745270/193269507-409da000-2639-464f-a1cb-c8b7b873028d.png)
![image](https://user-images.githubusercontent.com/47745270/193269591-36ec8a86-e9f4-40af-b43d-612517de8f31.png)

[2022-09-30 12:50] since81 commented on #6333
I tried, image by image.
this working: mcr.microsoft.com/dotnet/framework/runtime:4.8-windowsservercore-ltsc2019
next layer also working: vs2017 + pwsh

but last is not,
will try to get a clue what is a difference.

[2022-09-30 13:21] since81 commented on #6333
I do not know what, but something changed in windows-2019 image.
I cannot run any image tags which was working before.

Also, I cannot build new image, which I can build on September 19.

[2022-09-30 13:26] al-cheb commented on #6333
The latest huge change was - https://github.com/actions/runner-images/issues/6181

[2022-09-30 14:07] bouthainaghachem opened #6335 "[!] Cannot find an installed Xcode satisfying '13.0' using MacOS 11.7"
### Description

Hello,

I'm facing issues with new image version runner updated two days ago under MacOS 11.7 (ref: https://github.com/actions/runner-images/blame/main/images/macos/macos-11-Readme.md)

It's mentionned under the documentation that MacOS 11 still supporting XCode 13.0 version. am I wrong ?
I'm setting under my fastlane file the xcversion(version: "13.0")

but I'm getting the follow

[2022-09-30 14:09] al-cheb commented on #6335
Hey @bouthainaghachem.
close as external https://github.com/xcpretty/xcode-install/issues/204

[2022-09-30 14:09] #6335 closed

[2022-09-30 16:49] spoelstraethan opened #6336 "[macos-latest] Gradle 7.5.1 requires JDK 11 or higher, but default for system (and therefore Gradle@2 task is still JDK 8)"
### Description

We upgraded the gradle-wrapper in our project to use the latest version supplied by the build system instead of overriding with an old version, now we are getting failures due to the `default` JDK set for `macos-latest` aka `macos-11`.

Gradle 7.5.1 requires JDK 11 or higher, but default for system (and therefore Gradle@2 task is still JDK 8)

This may affect other agent OSes, but

[2022-09-30 22:13] indygit commented on #6244
Thanks Erik-bershel and Al-cheb.

Yes, specifying 10.1.22000.1 for WindowsTargetPlatformVersion fixed the issue.

Best regards, Indy

[2022-10-01 04:41] strophy opened #6337 "Update Docker Compose v2 to 2.11.2+"
### Description

Docker Compose v2 2.11.0 and 2.11.1 contains a bug that prevents built images from being tagged properly. The bug is fixed in 2.11.2

Discussion: https://github.com/docker/compose/issues/9856
Resolution: https://github.com/docker/compose/pull/9862

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions

### Runner images affected

- [X] Ubuntu 18.04
- [X] Ubuntu 20.04
- [

[2022-10-01 18:18] vkaytsanov commented on #6091
Issue still persists. Not using vckpg
[code]

[2022-10-02 06:12] Otus9051 commented on #668
Its just IPv6, its not even like they need to change their BGP peers or something.
Same with Azure, they still don't provide IPv6 by default with their services.

[2022-10-03 04:11] David-Trustana commented on #6283
I never saw an announcement regarding this change, and filed a support ticket regarding 'brew: command not found'. You responded that you were receiving a large number of support requests and a response (which I never got) would take a while. No wonder. Perhaps better notification would have reduced the number of support requests?

[2022-10-03 05:10] nes-nagashin opened #6338 "Update Microsoft.Graph module to 1.12.2"
### Tool name

Microsoft.Graph

### Tool license

MIT

### Add or update?

- [ ] Add
- [X] Update

### Desired version

1.12.2

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

- [ ] Azure DevOps
- [

[2022-10-03 06:31] mikhailkoliada commented on #6338
Will be deployed this week

[2022-10-03 08:18] mikhailkoliada commented on #6337
will be deployed this week

[2022-10-03 10:34] AenBleidd opened #6344 "vcpkg install fails when tries to restore cached ports on OSX"
### Description

From time to time when I run `vcpkg install` and restore cached binaries, build just fails with the next error:
[code]
I have to rerun the same build, and after several retries it succeeds.
It's not some particular vcpkg port that is failiing, but different one.
I assume this happens because it tries to restore a lot of small ports with big amount of files.

Ref: https://github.co

[2022-10-03 10:48] mikhailkoliada commented on #6344
@AenBleidd Could you please provide the most minimalistic workflow to reproduce the issue? Your referenced run shows that you need to define a CXX compiler, but it is a bit counter-intuitive.

[2022-10-03 10:52] AenBleidd commented on #6344
I can try to create a new project and recreate all this, but currently you can see that this happens when doing 'vcpkg install' when boost libraries are cached and are in restore phase.

[2022-10-03 12:48] markododa opened #6345 "Update github cli to 2.16.1"
### Tool name

gh

### Tool license

Its your own product

### Add or update?

- [ ] Add
- [X] Update

2.16.0 has a bug breaks calling workflows https://github.com/cli/cli/issues/6328

### Desired version

2.16.1

### Approximate size

_No response_

### Brief description of tool

This is not an add request but 2.16.1 solves an issue with running workflows https://github.com/cli/cli/issues/6328

#

[2022-10-03 13:07] mikhailkoliada commented on #6345
Will be deployed this week

[2022-10-03 15:09] Sam-Spencer commented on #6225
Is the propagation still confirmed to begin today?

[2022-10-03 15:36] mikhailkoliada commented on #6225
@Sam-Spencer yes

[2022-10-03 16:07] wenwuwu commented on #4896
Code signing times out + 1

[2022-10-03 16:07] wenwuwu commented on #4896
Code signing times out + 1

[2022-10-03 21:03] Piedone opened #6348 "Long path fails on larger Windows runner, works on standard one"
### Description

I experienced this while trying out the larger runners. However, I don't know if this is due to the larger runners doing something different behind the scenes, or due to the only apparent difference I can observe, the difference in the runner image version. Also, if this is rather something for the `actions/checkout` team then let me know.

- Git checkout of [this repo](https://gi

[2022-10-03 21:13] al-cheb commented on #6348
Hey @Piedone.
Could you try using `git config --system core.longpaths true` command before the checkout step? I see that the paths are slightly different between agents: `hosted(D:/a)` vs `larger-runner(C:/actions-runner/work)`.

[2022-10-03 21:22] Piedone commented on #6348
Thank you for your quick reply.

Indeed, in the meantime, the working directory is also different, and Git `longpaths` fixes this, see [this run](https://github.com/Lombiq/Open-Source-Orchard-Core-Extensions/actions/runs/3177521321/jobs/5178056936) (which fails for some other reason).

However, shouldn't the large runner use the same (or at least a similarly short) checkout directory?

[2022-10-03 21:28] al-cheb commented on #6348
@maxim-lobanov, do you have any thoughts?

[2022-10-03 22:39] Piedone opened #6349 "SQL Server installation (startup?) mostly fails on larger Ubuntu runners"
### Description

Installing and starting up SQL Server on the larger runners fails under Ubuntu. The exact same code works (has been working for the past half year) on standard runners.

Code in question, executed with `pwsh`:

[code]

While all the Docker commands seemingly execute properly, the `sqlcmd` call will keep failing, showing that SQL Server didn't properly start.

Interestingly, while

[2022-10-03 23:12] johnkerl opened #6350 "Linker SEGV on MacOS, as of today"
### Description

* Happening on https://github.com/single-cell-data/TileDB-SOMA as of today
* MacOS CI runs affected -- for example https://github.com/single-cell-data/TileDB-SOMA/actions/runs/3177996393/jobs/5179048104
* As a test I tried putting up a PR branched off an earlier commit which was green in CI at the time -- from there I only added a comment mod
  * https://github.com/single-cell-dat

[2022-10-03 23:49] johnkerl commented on #6350
Sometimes when we 're-run failed jobs' we get the same linker-assertion-failure message; other times we do not. I can't find a patter other than to say there appears to be some randomness involved ...

[2022-10-04 03:10] johnkerl commented on #6350
As a workaround we've downgraded our CI runner from macos-12 to macos-11

https://github.com/single-cell-data/TileDB-SOMA/pull/370

[2022-10-04 03:19] johnkerl commented on #6350
Ah, more info: successful build log

[code]

and unsuccessful build log
[code]

[2022-10-04 07:15] mikhailkoliada commented on #6350
@johnkerl hello! We will take a look!

First idea is a bug in xcode, have you tried to choose a different xcode version in your pipeline?

[2022-10-04 07:26] mikhailkoliada commented on #6349
@Piedone Hello! We will take  look

CC: @maxim-lobanov @AlenaSviridenko

[2022-10-04 07:29] al-cheb commented on #6349
@Piedone, Could you please attach docker logs for a failed build?
`docker logs sql2019`

[2022-10-04 07:35] al-cheb commented on #6333
@since81, any updates?

[2022-10-04 07:43] maxim-lobanov commented on #6348
For Linux, Larger Runners have the same layout as Standard Runners
For Windows, layout is a bit different, we use C drive and `C:/actions-runner/work` directory instead `D:/a`

@al-cheb do you think we can apply `git longpaths` configuration on image level by default? AFAIK, we [already have](https://github.com/actions/runner-images/blob/1def28243de16d4b555a9475f871bac5aad465fa/images/win/scripts/

[2022-10-04 07:45] al-cheb commented on #6348
We shouldn't to apply this fix - https://github.com/actions/runner-images/pull/4915#discussion_r788654504

[2022-10-04 07:55] romandrahan commented on #6225
`20220929.2` is already available, while https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md is still outdated.

[2022-10-04 08:27] al-cheb commented on #6349
LR and hosted agents have slightly different hostname configuration:

[code]

Workarounds for LR:
1. Use -S param
`sqlcmd -b -S '127.0.0.1,1433' -U sa -P 'Password1!' -Q "SELECT @@SERVERNAME as ServerName"`
3. Update hosts file
`- run: echo -e "$(ip addr show eth0 | grep "inet\b" | awk '{print $2}' | cut -d/ -f1) $(hostname -f) $(hostname -s)" | sudo tee -a /etc/hosts`

[2022-10-04 08:32] dmitry-shibanov commented on #6336
Hello @spoelstraethan. Thank you for your report. For now we're not planing to switch default Java version from 8 to 11 because some customers and other software can depend on Java 8. One of possible solution for you is to use [JavaToolInstaller](https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/java-tool-installer?view=azure-devops).

You can try to use this snippet to set up Ja

[2022-10-04 08:32] #6336 closed

[2022-10-04 08:51] dmitry-shibanov commented on #6098
Hello @roanutil. Sorry for the late response. I could resolve some tests falling by increasing timeout for the requests tests. Could you please try to increase timeouts for the requests tests or mock requests ?

[2022-10-04 08:57] mustafaozhan commented on #6225
Is there any period of time we should wait until this will be available for all the hosts ? My host is still have `Xcode_13.4.1` even though the OS is `macOS 12`

[2022-10-04 09:11] MausamGaurav opened #6353 "Unable to perform GET, POST, PUT requests on GitHub default runners."
### Description

I am trying to perform simple get and post requests through the 'requests' library in Python. They don't seem to work and my tests fail.

Example test:
[code]

The error I am getting is the below:
[code]

I have tried enabling http and https in the workflow yaml file:
[code]

However, this doesn't resolve the issue.

FYI, The below is the yaml file I used.
[code]

**How do I allow

[2022-10-04 09:24] maxim-lobanov commented on #6349
@al-cheb , thank you for deep investigation!
I will check if we can apply this fix for all Larger Runners by default.

[2022-10-04 09:28] burnpanck commented on #6350
I observe the same assertion in `ld` trying to compile something completely different locally on my mac. The same code compiled previously. In my case, the assert only happens when I compile in debug mode (I use GCC; the error happens both with GCC 11 and GCC 12). Given that it is an assert, it most definitely should be considered a bug (specifically in `ld`, which is comes from xcode, not from GC

[2022-10-04 09:49] clemp6r commented on #4896
We contacted the support and they informed us this is a yarn issue: https://github.com/yarnpkg/yarn/issues/8242
Workaround: use yarn v2+ or npm.

[2022-10-04 10:16] mikhailkoliada commented on #6225
@mustafaozhan propagation is gradual and take 3-4 days, most ETA is Thursday, maybe earlier for you, but not later

[2022-10-04 10:18] mikhailkoliada commented on #6225
@romandrahan it is only updated once all the deployments are completed.

[2022-10-04 10:20] mustafaozhan commented on #6225
@mikhailkoliada thank you for the clarification!

[2022-10-04 11:15] mikhailkoliada commented on #6353
I can not reproduce anything testing against 3.7, 3.8, 3.9, and 3.10 with latest version of requests installed from pip, please check your test. Below is just an example.

<img width="917" alt="image" src="https://user-images.githubusercontent.com/88318005/193804905-9f55e7c0-b50c-488c-8123-fd05758ab5a6.png">

[2022-10-04 11:15] #6353 closed

[2022-10-04 11:43] johnkerl commented on #6350
@mikhailkoliada as a workaround we've downgraded our CI runner from macos-12 to macos-11

[2022-10-04 11:54] mikhailkoliada commented on #6350
@johnkerl could you please try to get back to macos-12 and try different xcode version(s)?

[2022-10-04 12:00] donatellijl commented on #4856
It seems that windows-latest is still pointing to windows-2019 instead of windows-2022. When I run my pipeline in Azure DevOps with the vmImage set to windows-latest, I see that the pool is set to windows-2019.

![Screen Shot 2022-10-04 at 7 53 44 AM](https://user-images.githubusercontent.com/45564887/193813145-c43b3d4b-ea40-4cee-88b6-ffc10095c194.png)

When I change to windows-2022, the pool is s

[2022-10-04 12:09] erik-bershel commented on #6315
@Kielek
Hello! Cached images with Alpine 3.16 for Ubuntu 20.04 and 22.04 will be deployed next week.

[2022-10-04 12:10] al-cheb commented on #6105
@dmachaj, the new macos-12 image has been deployed.

![image](https://user-images.githubusercontent.com/47745270/193815831-6e7b1bd0-11e2-4348-b916-6a57f1fda4c1.png)

[2022-10-04 12:18] al-cheb commented on #4856
@donatellijl, Could you check?
[code]

[2022-10-04 12:26] dundargoc opened #6354 "Please consider adding `-oldest` YAML labels for older images"
### Feature Request

Hello! I was wondering if we could have `-oldest` YAML labels similar to the `-latest` (e.g. `ubuntu-latest`)? We like to test both versions of a system to cover as broad as range as possible, but as far as I know there's no way to point to the oldest, non-deprecated version without explicitly specifying the version. This leads to us requiring to manually bump the version in o

[2022-10-04 12:46] donatellijl commented on #4856
I added "name: Azure Pipelines" and now instead of my first screenshot, I see windows-latest as the Image. Why is having the name a requirement?

![Screen Shot 2022-10-04 at 8 32 15 AM](https://user-images.githubusercontent.com/45564887/193820611-899bb1a9-38bc-401f-a784-354dc7a47050.png)

[2022-10-04 13:44] MausamGaurav commented on #6353
@mikhailkoliada Which url did you use for the get request, just wanted to check whether there is an issue with the specific url request I am making.

[2022-10-04 14:02] mikhailkoliada commented on #6354
CC @samvantran @Steve-Glass for possible audit and discussion

[2022-10-04 14:06] johnkerl commented on #6350
@mikhailkoliada hmm I tried
https://github.com/single-cell-data/TileDB-SOMA/pull/368/files
but still the fail at
https://github.com/single-cell-data/TileDB-SOMA/actions/runs/3182721862/jobs/5189036547
wherein I see
[code]
so I'll need to check my understand of how to configure XCode versioning within GHA.

[2022-10-04 14:39] Piedone commented on #6349
Thank you for the detailed answer. It would be great if LR could do the same as standard ones.

[2022-10-04 15:07] nibanks opened #6355 "Request: Support Windows Server vNext/Preview"
### Tool name

Windows Server

### Tool license

N/A

### Add or update?

- [X] Add
- [ ] Update

### Desired version

vNext

### Approximate size

_No response_

### Brief description of tool

The latest preview version of Windows Server.

There are more and more examples of Windows components (such as [MsQuic](https://github.com/microsoft/msquic) and [XDP-for-Windows](https://github.com/microsof

[2022-10-04 19:19] mxcl commented on #6283
Just saying that @teaxyz would never choose an action that would compel the maintainers of a CI system used by millions to withdraw use of our tooling.

[2022-10-04 19:21] varunsh-coder commented on #5934
Hi @al-cheb, here is the workflow: https://github.com/varunsh-coder/actions-playground/blob/main/.github/workflows/harden-runner-test.yml

Please let me know if you can include this as part of your new image tests. It can run independently in any repository. It should pass for new images, but if it fails, I would like to know before the new image gets released. Thank you!

[2022-10-05 03:38] eterv opened #6356 "[Request] Add pnpm"
### Tool name

pnpm

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

7.13.1 or latest

### Approximate size

_No response_

### Brief description of tool

pnpm is fast, disk space efficient Node package manager.
today, many monorepo developers use this pnpm. (vite, svelte, ...)
I also use it. very fast and helpful.
Please see the link below for more informat

[2022-10-05 06:51] mikhailkoliada commented on #6356
A duplicate of https://github.com/actions/runner-images/issues/2279

[2022-10-05 06:51] #6356 closed

[2022-10-05 08:20] mikhailkoliada commented on #6355
Currently we are providing pretty standard image offers from azure marketplace as declared in our packer specs, we have never provided preview.

[2022-10-05 09:52] since81 commented on #6333
Hi @al-cheb ,

I am trying to reproduce error with same binaries of docker which ms are using in azure pipelines.
And it is working locally.

I will upload today images and will provide access for you to tests, if you do not mind.

My assumption: can it be because of a big image of windows containers:
REPOSITORY                                   TAG                              IMAGE ID       CREA

[2022-10-05 12:30] nibanks commented on #6355
Understood. Yes, this is an ask for something new. But we are asking you folks because otherwise the Windows teams would have to build something entirely separate that's nearly identical to what you already have, just with a different base image.

[2022-10-05 15:59] al-cheb commented on #6337
The new images with Docker Compose v2 2.11.2 on board have been deployed.

[2022-10-05 15:59] #6337 closed

[2022-10-05 16:05] al-cheb commented on #6345
The new images with gh 2.16.1 on board have been deployed.

[2022-10-05 16:05] #6345 closed

[2022-10-05 16:07] al-cheb commented on #6338
The new images with Microsoft.Graph 1.12.2 have been deployed.

[2022-10-05 16:07] #6338 closed

[2022-10-05 19:09] tumata commented on #6225
Linking to https://github.com/CocoaPods/CocoaPods/issues/11402 for people that may wonder why all their builds are suddenly failing

[2022-10-05 19:10] eseiler commented on #6350
We had a similar issue with our tests. Running `sudo xcode-select -s '/Applications/Xcode_13.4.1.app/Contents/Developer'` (the default in `20220917.1`) resolved it.

[2022-10-05 22:33] varunsh-coder commented on #5934
Hi @erik-bershel, thanks a lot for the info. As next steps, I can port the GitHub Action to an ADO task and setup an ADO pipeline. It will take me some time to do this, but once I am done, I can share the ADO pipeline YAML file.

[2022-10-06 06:04] since81 commented on #6333
Hi @al-cheb,

can you please try with this image, it was working before?
c07970development.azurecr.io/edbt:7.0.7

[2022-10-06 10:17] al-cheb commented on #6333
@since81, I was able to reproduce the issue locally. Looks like the current docker version contains a bug that was fixed in the latest version, I have prepared a PR  -  https://github.com/actions/runner-images/pull/6360. This fix we are planning to deploy next week.

[2022-10-06 10:37] cipriancaba opened #6361 "Github actions failing on checkout"
### Description

Error: Can't use 'tar -xzf' extract archive file: /home/runner/work/_actions/_temp_a9201551-77fe-434b-9a17-dae240c2a706/f9e42ebf-abcc-4cef-ae30-9ce9195a0051.tar.gz. return code: 2.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu

[2022-10-06 10:42] JasonGross commented on #6361
Seems to be happening on all actions using checkout, e.g., https://github.com/mit-plv/rewriter/actions/runs/3196480702/jobs/5218469686

[2022-10-06 10:43] JasonGross commented on #6361
See also https://github.com/actions/checkout/issues/948

[2022-10-06 10:48] chrisponton commented on #6361
Happening to me also :(

[2022-10-06 10:58] mklarsen commented on #6361
Plz. check this https://www.githubstatus.com/.

[2022-10-06 11:22] cipriancaba commented on #6361
Anyone following this, just upgrade the checkout actions to 3.1.0

`actions/checkout@v3.1.0`

[2022-10-06 11:42] mikhailkoliada commented on #6361
Closed as external as we can't do anything on our side :(

[2022-10-06 11:42] #6361 closed

[2022-10-06 12:17] dmitry-shibanov commented on #6350
Hello everyone. It looks like an issue with Xcode, that is why for now I'm going to close the issue.

[2022-10-06 12:17] #6350 closed

[2022-10-06 12:22] al-cheb commented on #6350
Our recommendation is to use this actions - https://github.com/marketplace/actions/setup-xcode-version

[2022-10-06 15:37] jcmanke opened #6362 "Xamarin.iOS builds failing with Xcode 13.4.1"
### Description

Xamarin.iOS builds using Xcode 13.4.1 have been failing since the default Xcode version was updated to 14.0.1.

Xcode version is being set to 13.4.1 using xcode-select tool but the build logs show 14.0.1 is still being used, for example:
[code]

The build fails with an error message about the dsymutil utility not being found under 13.4.1.
[code]

### Platforms affected

- [X] Azur

[2022-10-06 16:02] al-cheb commented on #6362
In AZDO you should use this command:
`sudo xcode-select -s "/Applications/Xcode_13.4.1.app/Contents/Developer"`

[2022-10-06 16:03] jcmanke commented on #6362
I am doing that, and the build is failing. Did you read before you started replying?

[2022-10-06 16:10] jcmanke commented on #6362
I'm sorry, I copy pasted that from #6225 when I was creating the issue. My actual YAML pipeline step is including /Contents/Developer when calling xcode-select.

[2022-10-06 16:16] al-cheb commented on #6362
Could you try to select xamarin ios bundle - [Set the Xamarin SDK version on macOS](https://learn.microsoft.com/en-us/azure/devops/pipelines/ecosystems/xamarin?view=azure-devops&tabs=yaml#set-the-xamarin-sdk-version-on-macos) ?

[code]

[2022-10-06 16:47] jcmanke commented on #6362
Still the same error with that script.

[2022-10-06 17:10] IkHaffner opened #6363 "Bazel v5.1.0 installation fails on Tools.Tests.ps1"
### Description

On both Ubuntu 2004 and Windows 2022 our image builds fail with the following error:

2022/06/01 12:40:51 could not resolve the version 'latest' to an actual version number: unable to determine latest version: could not list Bazel versions in GCS bucket: could not list GCS objects at https://www.googleapis.com/storage/v1/b/bazel/o?delimiter=/: could not fetch https://www.googleapi

[2022-10-06 17:15] ljharb commented on #6283
Why not just stick to homebrew 5.0 and avoid breaking everyone??

[2022-10-06 17:58] al-cheb commented on #6362
Could you share a test repo?

[2022-10-06 21:15] samvantran commented on #6354
Hi @dundargoc,

Thanks for your request - as of now of we don't have plans to support this. Internally we had discussed similar ideas in the past (e.g. `macos-deprecated`) but ultimately decided against it.

Rather than adding in additional label support we've been discussing alternative options to bring more awareness to image deprecation. Things like banners at the top of the workflow runs and a

[2022-10-06 21:25] dundargoc commented on #6354
I understand. Thank you for taking the time to consider it and for you work overall :).

[2022-10-06 21:25] #6354 closed

[2022-10-06 21:51] jamessan commented on #6354
Just for clarity, the deprecation notification isn't really the issue.  We want to always build on the oldest supported runner, so that the appimage we produce has the broadest compatibility for systems it will run on.

[2022-10-07 04:30] andreasabel opened #6364 "`pkg-config --list-all segfaults` on macOS-{11,12}"
### Description

cabal-install 3.8.1.0 runs `pkg-config --list-all` to build its own pkg-config database.  Pointer:
- https://github.com/haskell/cabal/pull/8496

Unfortunately `pkg-config --list-all` crashes on `macOS-11` and `macOS-12`, see e.g. https://github.com/andreasabel/gha-test/actions/runs/3202198515.
Here is the reproducer:
[code]
On `macOS-11`, we see:
[code]
On `macOS-12`, we see:
[cod

[2022-10-07 06:09] mrk-han opened #6365 "Getting spammed with [CAMetalLayer nextDrawable] returning nil because device is nil on latest macOS Agent"
### Description

We are getting spammed by this one message in our emulator android test runs on the latest macOS agent.

You can see the same logs appear in this ticket too: https://github.com/actions/runner-images/issues/6252

I'm not sure anything is wrong because of it, but it is quite distracting to troubleshoot emulator issues with the spam.

`[CAMetalLayer nextDrawable] returning nil becaus

[2022-10-07 06:44] mikhailkoliada commented on #6363
I have checked our nightly builds (which also reside an azure devops) and did not observe any problem, please make sure your network and environment settings are correct, feel free to reach us again if you think we can help you.

[2022-10-07 06:44] #6363 closed

[2022-10-07 07:02] mikhailkoliada commented on #6365
@mrk-han thanks, we will take a look

[2022-10-07 07:04] mikhailkoliada commented on #6364
@andreasabel thanks, we will take a look

[2022-10-07 07:22] thbusch opened #6366 ".cargo/bin in PATH points to different users' home directory"
### Description

When using (Rust-) `cargo install <binary>` in a build job and then trying to run it, the executable cannot be found because the entry for the Cargo bin directory in PATH points to a different user (Default) than the user the build step is run as (VssAdministrator).

This issue happens sporadically, some builds with the same runner version don't have that issue (users in PATH and

[2022-10-07 07:42] al-cheb commented on #6366
Hey @thbusch.
Could you attach logs with Default user?

[2022-10-07 08:53] ssallmen-pro commented on #1445
I think the issue with rate limit has landed again, has the agreement between GitHub and Docker been terminated or what has happened?
In my workflow (or actually in my own composite action but that does not really affect the functionality) I am using a fork of Docker(file) based action (https://github.com/simple-elf/allure-report-action) which uses openjdk:8-jre-alpine as the base image. This week

[2022-10-07 08:54] igorboskovic3 commented on #6365
Hi @mrk-han can you provide exact repro steps?

[2022-10-07 08:55] igorboskovic3 commented on #6365
CC: @dsame

[2022-10-07 10:13] cry-inc commented on #6366
I reported the same issues two days ago and reported it here: https://developercommunity.visualstudio.com/t/Hosted-Agent-Rust-Issue-on-Windows-2022/10164368 and was now told to come here.

For us, it happens only on one agent machine with the name "WIN-EERHFLKC3PP", all others with the same agent image work without issues. Our organization is in the EU-West region.

I observed the same things as T

[2022-10-07 10:19] maxim-lobanov commented on #6349
Hello @Piedone ,
The fix for this issue was deployed so your use-case should start working without workarounds.

One note, there may be idle VMs waiting to pick up jobs which don't have fix applied yet. So you may need to trigger 1-2 extra jobs to make sure that all workflows are run on VMs with fix.

Will keep the issue opened until confirmation that issue is resolved.

[2022-10-07 10:21] maxim-lobanov commented on #6348
@Piedone, I am looking at changing working directory for agent to be `C:\a`. It can take a couple of days to test it and make sure that there is no regression. I will post update at the begin of next week.

[2022-10-07 10:27] cry-inc commented on #6366
Here is an example job where the problem is visible:

[code]

For the faulty agent the first script will fail with exit code 1. I have attached the logs of two runs, one from our affected machine and one that worked because it was executed on another machine (with the same image).

[not-working.txt](https://github.com/actions/runner-images/files/9733094/not-working.txt)
[working.txt](https://githu

[2022-10-07 12:39] cry-inc commented on #6366
`reg query HKCU\Environment`:
[code]

`dir %USERPROFILE%`:
[code]
[job.txt](https://github.com/actions/runner-images/files/9733939/job.txt)

[2022-10-07 12:44] Piedone commented on #6348
Great, thank you.

[2022-10-07 14:11] Piedone commented on #6349
Great, thank you!

I tested it and SQL Server properly starts up now, with the same code that works on standard runners: https://github.com/Lombiq/Open-Source-Orchard-Core-Extensions/actions/runs/3177521321/jobs/5236914471#step:2:47

[2022-10-07 14:53] al-cheb commented on #6366
@cry-inc, could you please attach `planId` for the job above?

Click `View raw log` button, remove at the end of the link `/logs/XXX`(`_apis/build/builds/2470053/logs/13 -> _apis/build/builds/2470053` ):

![image](https://user-images.githubusercontent.com/47745270/181256300-97fefb7a-0841-49fd-980a-ddff1f670b40.png)
![image](https://user-images.githubusercontent.com/47745270/181256421-f7a08045-122c

[2022-10-07 15:11] cry-inc commented on #6366
The planId for that job is `1f676ead-a3d4-4d31-a5bf-fd49e19a69ea`

[2022-10-07 15:36] maxim-lobanov commented on #6349
Nice,
I closing this issue. Let me know if you have any concerns or objections.

[2022-10-07 15:36] #6349 closed

[2022-10-07 16:07] Piedone commented on #6349
Thank you for fixing this so quickly!

[2022-10-07 16:31] mrk-han commented on #6365
It's possible that the new screenshot APIs could be causing this? But not sure.

[code]

You can find code to use here: https://github.com/android/testing-samples/tree/main/ui/espresso/ScreenshotSample but I think we need to hook this sample up to a basic Github Action using the following:

[code]

[2022-10-07 16:43] mrk-han commented on #6365
![image](https://user-images.githubusercontent.com/22263679/194604963-9f959ded-bcc5-4a05-97fd-9836de89f00a.png)

[2022-10-07 17:01] mrk-han commented on #6365
@igorboskovic3 @mikhailkoliada

I think the screenshot API is a red herring. I noticed in my log it starts appearing after we revoke the microphone permission

[code]

[2022-10-07 17:52] marc-hb commented on #1445
Some projects like this one publish their images to https://ghcr.io too:

https://github.com/zephyrproject-rtos/docker-image/blob/1a0e3737905/README.md

Given that choice, we switched from docker.io to ghcr.io for that particular image. Interestingly, we didn't observe any speedup but we (naively?) hope this will avoid all rate limiting issues now and in the future.

[2022-10-07 18:02] mrk-han commented on #6365
Nevermind, it seems the `-no-audio` flag was a red herring as well.

[2022-10-07 21:10] ssrinivasKG opened #6369 "Android Emulator on API 31 fails to launch on macos-12"
### Description

Android emulator for API 31 configured in the yml file shown below fails to launch. Logs show the following error repeatedly
`qemu-system-x86_64[4472:17343] [CAMetalLayer nextDrawable] returning nil because device is nil.`

As can be seen in the below yml file, installing intel haxm has no effect on whether the emulator launches without any errors

Test yml file:

[code]

### Plat

[2022-10-08 19:10] spencerbart commented on #6283
I didn't know this happened until a critical piece of our infrastructure stopped working in CI/CD.

[2022-10-09 06:10] ofek opened #6370 "Add Hatch"
### Tool name

Hatch

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

1.6.0

### Approximate size

_No response_

### Brief description of tool

Hatch is a modern, extensible, and standards-compliant Python project manager. I am a maintainer of this tool.

Its first stable release was [announced](https://discuss.python.org/t/15359) on Python's dev forum in A

[2022-10-09 17:01] ofek commented on #6370
Actually, I think I did it!

- https://github.com/actions/runner-images/pull/6371
- https://github.com/actions/runner-images/pull/6372
- https://github.com/actions/runner-images/pull/6373

This was very easy to contribute, great job 😄

[2022-10-10 04:44] roanutil commented on #6098
@dmitry-shibanov I tried increasing all timeouts to 60 seconds but still get some failures. Each test case should take very little time. At least on my local MBP, it's basically instantaneous.

`Test Suite 'All tests' started at 2022-10-09 23:42:16.719
Test Suite 'CoreDataRepositoryPackageTests.xctest' started at 2022-10-09 23:42:16.719
Test Suite 'AggregateRepositoryTests' started at 2022-10-09 2

[2022-10-10 07:10] vsafonkin commented on #5916
@flopik3-5, we cannot do something without repro. I'm going to close this issue, feel free to reopen it if you can provide it.

[2022-10-10 07:10] #5916 closed

[2022-10-10 07:27] ssallmen-pro commented on #1445
@marc-hb Do you have some Docker(file) based actions (https://docs.github.com/en/actions/creating-actions/creating-a-docker-container-action) which are using base images from a ghrc.io or some other private Dopcker registry? How are you able to login to the registry before the action is built in the workflow since none of the steps in the workflow run before the base image is tried to be pulled?
I

[2022-10-10 07:27] igorboskovic3 commented on #6370
Hi @ofek , we will take a look and get back to you, thank you.

[2022-10-10 07:29] igorboskovic3 commented on #6369
Hi @ssrinivasKG, thank you for report, we will take a look.

[2022-10-10 07:51] mfkl opened #6375 "Xamarin.macOS SDK not found"
### Description

Hi there,

5 days ago, the build of my cross-platform .NET library started failing on the Windows agent for the macOS target, with no changes on my part. https://videolan.visualstudio.com/LibVLCSharp/_build?definitionId=22

The macOS Xamarin SDK is suddenly not found anymore
[code]

- No changes on my part. It started failing on October 5th.
- `dotnet workload install macos` is st

[2022-10-10 07:54] igorboskovic3 commented on #6375
Hi @mfkl, we will take a look, thanks for reporting this one.

[2022-10-10 09:21] ddobranic opened #6376 "[all OSs] The VCPKG_ROOT variable will be removed from runner images"
### Breaking changes

The VCPKG_ROOT variable will be removed from runner images.

### Target date

October, 31. The propagation will take 2-3 days.

### The motivation for the changes

In accordance with the reaction of the VCPKG developers and community to the recent changes regarding the setting of the VCPKG_ROOT variable, it was decided to abandon such breaking changes so that users can indepe

[2022-10-10 09:38] igorboskovic3 commented on #6370
Hi @ofek we decide not to add Hatch to images, considering installation time, thank you.

[2022-10-10 09:38] #6370 closed

[2022-10-10 10:53] isimpson opened #6378 "Github Action macOS-12 runner Xcode build failing with no log"
### Description

In the last couple of days we are seeing Xcode build failures on our GitHub action for our iOS app.
This is blocking our PRing so we would like to get it fixed asap.

Using our GitHub actions runners on macOS-12 we haven't had a problem up until last week (around 6th October) which coincided with when you updated the runner to use Xcode to 14.0.1.
The version is not an issue as ou

[2022-10-10 12:22] igorboskovic3 commented on #6378
Hi @isimpson we will take a look.

[2022-10-10 14:08] al-cheb commented on #6378
@isimpson, could you please provide steps to reproduce the issue?

[2022-10-10 15:21] mikhailkoliada commented on #6364
@andreasabel it looks like a pure software bug, as a workaround you can remove imagemagick and its dependencies in runtime, I am trying to figure out where it should be better reported.

[2022-10-10 17:03] mikhailkoliada commented on #6364
Ok, it will be fixed by homebrew maintainers

[2022-10-10 17:14] mikhailkoliada commented on #6370
it can be installed from pip in 7 seconds

[2022-10-10 17:19] maxim-lobanov commented on #6348
@Piedone , changes are fully deployed. Agent working directory should be `C:\a`.

One note, there may be idle VMs waiting to pick up jobs which don't have fix applied yet. So you may need to trigger 1-2 extra jobs to make sure that all workflows are run on VMs with fix.

Will keep the issue opened until confirmation that issue is resolved.

[2022-10-10 17:21] Bo98 commented on #6364
It's fixed from our side now. You can do `brew reinstall highway` until there's a new runner image.

[2022-10-10 17:25] marc-hb commented on #1445
We don't login, that's why we switched to the ghcr.io mirror of that particular image. I have never set up a ghcr.io mirror myself but I assumed it's not rocket science if you're already publishing images somewhere and an alternative worth mentioning.

[2022-10-10 17:26] ofek commented on #6370
Not on macOS nor Windows

[2022-10-10 18:34] Kichura opened #6380 ""ubuntu-latest" and "macos-latest" don't use correct version."
### Description

When using "ubuntu-latest" and/or "macos-latest", they are normally supposed to be using their latest counter-parts of their operating systems, However what they actually do is reuse older versions of their operating systems instead.

Windows on the other hand is not affected as it is already using the correct version as expected.

### Platforms affected

- [x] Azure DevOps
- [X]

[2022-10-10 20:23] Piedone commented on #6348
Thank you for fixing this on short notice, it works!

[2022-10-10 20:37] maxim-lobanov commented on #6348
Nice. Thank you for reporting these two issues and providing simple repro steps.
Larger Runners use a bit different infrastructure from Standard Runners so it is expected that some VM configuration can be different. We are working to make it as consistent with standard runners as possible to ensure smoothly migration from Standard Runners to Larger Runners. Please report any issues.

[2022-10-10 20:37] #6348 closed

[2022-10-10 21:09] andreasabel commented on #6364
Fantastic research and swift action, thanks a lot, everyone!!

Might be advisable to add `pkg-config --list-all` to your regression testsuite, to prevent it from breaking again in the future...

[2022-10-10 21:10] Piedone commented on #6348
Great, thank you.

[2022-10-10 21:11] bje- opened #6383 "macos-latest lacking localhost"
### Description

The macos-latest runner was failing on some Python tests I had written that made use of a simple TCP client and server. To confirm my suspicions, I added a `host localhost` command to one of my install dependencies step and sure enough I got:

    Host localhost not found: 3(NXDOMAIN)

Why doesn't the runner have an `/etc/hosts` or similar entry for `localhost`?

### Platforms aff

[2022-10-10 21:35] erik-bershel commented on #6380
@Kichura
Hi! We are already working on this, but it is a rather complicated and long process, given that it should bring more benefit than loss to all of our users.

[2022-10-10 21:35] #6380 closed

[2022-10-10 22:12] al-cheb commented on #6383
Hey @bje-.
This is by design. The host command uses standard C library calls to contact the DNS resolvers directory; it does not use mDNSResponder or DirectoryService(bypass the system name resolver, and query DNS directly, it won't resolve names defined in /etc/hosts (unless they're also defined in the DNS service)).

To resolve ip address for host entry in /etc/hosts, you should use `dscacheutil

[2022-10-10 22:12] #6383 closed

[2022-10-11 01:09] mattjohnsonpint commented on #6334
@al-cheb - that doesn't align at all with what was done for the Ubuntu, Mac, and `windows-2022` images - all of which have .NET 6.0.401 now.  It's only `windows-2019` that doesn't.  Why should it be any different?

Also, the [Support Policy](https://github.com/actions/runner-images#software-and-image-support) says explicitly that .NET Core will have the installation strategy of:

The `windows-2019

[2022-10-11 07:02] b7rnee commented on #6260
any update? same issue in here.

[2022-10-11 07:20] mikhailkoliada commented on #6364
The new macOS images must be released this week

[2022-10-11 08:39] ddobranic commented on #6216
hello @mvgijssel! colima has been added to macOS images.

[2022-10-11 08:39] #6216 closed

[2022-10-11 09:06] ssallmen-pro commented on #1445
Ok, didn't know that it is possible to pull images from a ghcr.io mirror without any login on GitHub runners but now I know. The issue is just that the base image in the Dockerfile is an official openjdk image which I was not able to find being available in ghcr.io. And, even though it is of course always possible to set up an own user for container registry, it is even more challenging than rocke

[2022-10-11 09:19] bje- commented on #6383
OK, my choice of using `host` to demonstrate the problem was not the greatest idea. I'm simply trying to illustrate that `localhost` is not a recognised hostname for applications being tested on the macos-latest runner. It doesn't strike me as unusual to expect it to be.

I'll use your workaround for now. Thanks.

[2022-10-11 11:32] ddobranic opened #6384 "macOS-latest workflows will use macOS-12"
### Breaking changes

macOS-12 is ready to be the default version for the "macos-latest" label in GitHub Actions and Azure DevOps.

### Target date

This change will be rolled out over a period of several weeks beginning on October, 3. We plan to complete the migration by March, 1st, 2023.

### The motivation for the changes

GitHub Actions and Azure DevOps have supported macOS-12 in public beta s

[2022-10-11 11:40] erik-bershel commented on #6380
@Kichura
Hi again! Take a look here, please. #6384
First half of your request is already publicly in progress.

[2022-10-11 11:49] Kichura commented on #6380
Excellent, is there an related issue with ubuntu 22.04 lts as a relationship?

[2022-10-11 12:01] Piedone commented on #6348
BTW this also fixed another issue later in our build (when running UI tests) that I suspected was due to long paths too. So great!

[2022-10-11 12:51] Piedone opened #6385 "Use shorter working directory path on Windows runners"
### Description

This is not so much a bug per se, but a suggested improvement to work around Windows long path limitations.

Despite app-specific workarounds like `git longpaths`, and despite Windows kind of supporting long paths for a while, there are still some apps that'll break in various ways with long (>260 character) paths. Thus, every letter counts, especially since the repository name is

[2022-10-11 13:01] al-cheb commented on #6385
This issue is not related to Windows runners. You should open an issue at the repo - https://github.com/actions/checkout

[2022-10-11 16:04] Steve-Glass commented on #6355
👋 @nibanks I'm the GitHub PM in this space and we've had a similar requests in the past for `preview` builds. I'll bring this topic to our internal sync next Thursday and will provide an update by 10/20.

[2022-10-11 16:05] nibanks commented on #6355
Thanks a lot @Steve-Glass. Feel free to reach out internally to me if you need more details. We're driving a pretty big initiative internally that would really benefit from this.

[2022-10-11 17:37] noslav opened #6387 "`tar` available but not listed for runner image docs"
### Description

https://github.com/actions/runner-images/blob/ubuntu20/20221002.2/images/linux/Ubuntu2004-Readme.md
 does not contain any info for `tar`

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [X] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ]

[2022-10-12 00:33] AaronFriel commented on #3737
Hey folks, bumping an old thread here, we're seeing *a lot* of ECONNRESET issues, primarily in one action: https://github.com/actions/setup-dotnet/issues/333

No recent change in the action, is this an issue with the virtual environment?

[2022-10-12 01:49] mikhailkoliada commented on #6387
Thanks, we probably should document it, indeed

[2022-10-12 03:53] mrk-han commented on #6365
<img width="311" alt="image" src="https://user-images.githubusercontent.com/22263679/195245862-025c00e2-6994-42f9-8682-7876a30a7b33.png">
I ran our pipeline on a variety of system-images and emulators, and they all had the same spam.

I also ran an `emulator -accel-check` and learned that HAXM is not enabled on these agents by default, which is not what I had originally heard about these macOS age

[2022-10-12 04:27] mrk-han opened #6388 "Update/Add HAXM to macOS 11 and macOS 12 agents"
### Tool name

MacOS Runner Images

### Tool license

None

### Add or update?

- [X] Add
- [ ] Update

### Desired version

N/A

### Approximate size

_No response_

### Brief description of tool

https://github.com/actions/runner-images/blob/main/images/macos/macos-10.15-Readme.md HAXM

https://github.com/actions/runner-images/blob/main/images/macos/macos-11-Readme.md No HAXM

https://github.com

[2022-10-12 08:06] bhosalemahesh899 opened #6390 "[error]Unable to locate executable file"
### Description

I am using ubuntu-latest agent to run pipeline on azure DevOps. Getting following error for Python Script task.

##[error]Unable to locate executable file: '...' Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is executable.
![image](https://user-images.git

[2022-10-12 08:08] erik-bershel commented on #6380
@Kichura I'll send you a link when we start the public part of a process with Ubuntu. But we are working on that too.

[2022-10-12 08:11] al-cheb commented on #6390
Hey @bhosalemahesh899.
I can't reproduce the issue.

pipeline:
![image](https://user-images.githubusercontent.com/47745270/195287427-0b0144b7-a041-45fa-829c-900166a7fc6c.png)

output:
![image](https://user-images.githubusercontent.com/47745270/195287314-2909ee6d-e09e-4a5c-aba0-4b11a7be85c9.png)

[2022-10-12 08:44] igorboskovic3 commented on #6388
Hi @mrk-han, thank you for your interest, we are aware of this and we are already discussed HAXM, as you can see [here](https://github.com/actions/runner-images/issues/183#issuecomment-610723516). You can check this [thread](https://github.com/intel/haxm/issues/403) also for additional information.

[2022-10-12 08:44] #6388 closed

[2022-10-12 09:00] al-cheb commented on #6362
@jcmanke, Any updates?

[2022-10-12 09:19] igorboskovic3 commented on #6369
Hi @ssrinivasKG did you check this [thread](https://github.com/actions/runner-images/issues/6152).

You can use this snippet and it should work

    steps:
       - name: Create Android emulator
         run: |
          brew install intel-haxm
          # Install AVD files
          echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install 'system-images;android-27;default;x86_64'
          echo "y

[2022-10-12 09:31] igorboskovic3 commented on #6365
Hi @mrk-han, can you check this [thread](https://github.com/actions/runner-images/issues/6152) and use this snippet from that thread to resolve your issue?

[2022-10-12 10:01] igorboskovic3 commented on #6365
Yes, HAXM isnt installed on our MacOS images, you can check same [thread](https://github.com/actions/runner-images/issues/6152) for installation, thank you

[2022-10-12 13:52] mrk-han commented on #6365
I'll implement shortly and let you know. Thank you!

[2022-10-12 17:17] ssrinivasKG commented on #6369
@igorboskovic3 Yes i did try that. For API's greater than 27 the emulator fails to start. It is stuck in the while loop for over 15 minutes. My guess is that is because of the display not launching.

[2022-10-13 07:28] buttaface opened #6396 "Add Swift 5.7 to Ubuntu 22.04 image"
### Tool name

Swift

### Tool license

Apache

### Add or update?

- [X] Add
- [ ] Update

### Desired version

5.7

### Approximate size

1.5 GB

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

- [ ] Azure DevOps
- [X] GitHub Actions

[2022-10-13 07:30] buttaface commented on #6396
#5490 noted that prebuilt Swift toolchains for 22.04 were not available at that time, but [with the release of Swift 5.7 last month, support for 22.04 was added](https://www.swift.org/download/#releases).

[2022-10-13 07:33] igorboskovic3 commented on #6396
Hi @buttaface we will taka a look and get back to you, thank you

[2022-10-13 09:36] gee-whiz commented on #6225
Good day, just checking if this was updated to Xcode 14 yet

[2022-10-13 09:53] mustafaozhan commented on #6225
@gee-whiz Yeap it is

[2022-10-13 10:07] igorboskovic3 commented on #6369
@ssrinivasKG yes, you are right, we cannot use API`s greater then 27, can you try to use 27?

[2022-10-13 10:09] igorboskovic3 commented on #6369
@igorboskovic3 My conclusion is that performance issue and we cannot do much regarding that

[2022-10-13 11:19] ddobranic opened #6399 "Ubuntu-latest workflows will use Ubuntu-22.04"
### Breaking changes

Ubuntu 22.04 is ready to be the default version for the "ubuntu-latest" label in GitHub Actions and Azure DevOps.

### Target date

This change will be rolled out over a period of several weeks beginning in October, 3. We plan to complete the migration by December, 15th, 2022.

### The motivation for the changes

GitHub Actions and Azure DevOps have supported Ubuntu 22.04 in

[2022-10-13 12:14] ssrinivasKG commented on #6369
@igorboskovic3 would that be the same even if it was for github enterprise? Is there a different dedicated support portal for that?

[2022-10-13 12:59] igorboskovic3 commented on #6369
@ssrinivasKG Yes it is a same , because there is no difference between agents.

[2022-10-13 13:37] since81 commented on #6333
Hi @al-cheb,

thank you for your help and effort.

do you still have plan release new images this week?

[2022-10-13 13:48] akeblom commented on #949
What was the change? It seems like the discussion is no longer available.

[2022-10-13 15:20] arichorn commented on #6384
I heard the news. Is there any new methods for these? These just got deprecated and it led me to this GitHub page. I will need to fix this as soon as possible if the new methods are found.
![42523143-E8E7-40EC-B122-6D6758BC33FA](https://user-images.githubusercontent.com/78001398/195637360-955ad414-ad37-4e1d-8f02-2867772bf324.jpeg)

[2022-10-13 15:48] dion-gionet opened #6402 "Update NuGet and .NET SDK"
### Tool name

NuGet and .NET SDK

### Tool license

unknown

### Add or update?

- [ ] Add
- [X] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

NuGet and .NET SDKs need to be updated to counter the latest security advisory

https://github.com/NuGet/NuGet.Client/security/advisories/GHSA-g3q9-xf95-8hp5

Affected software
NuGet & NuGet Packag

[2022-10-13 16:28] ddobranic commented on #6402
hi @dion-gionet, thank you. we are already working on it.

[2022-10-13 16:44] erik-bershel commented on #6380
@Kichura so, next part published. #6399

[2022-10-13 16:49] Kichura commented on #6380
Alright, Thank you for the redirections. :)

[2022-10-13 19:01] eseiler commented on #6378
Might be related to https://github.com/actions/runner-images/issues/6350?
Does explicitly setting another/the old xcode version work?

[2022-10-13 23:59] williamchenicon commented on #6362
Any updates?

[2022-10-14 08:38] isimpson commented on #6378
@eseiler yes it looks related to #6350 and downgrading did fix the issue, but we would like to use Xcode 14 :)
I am also surprised that macos-latest is still using macos-11 and Xcode 13.2.1.

[2022-10-14 09:05] erik-bershel commented on #5934
Hi @varunsh-coder, is there anything I can help with?  Any news about the implementation?

[2022-10-14 11:28] al-cheb commented on #6333
@since81, The Win19 deployment is on track - https://github.com/actions/runner-images/pull/6406. I hope we will finish the deployment by Tuesday.

[2022-10-14 12:54] awaters-pa commented on #6002
This is happening today and today is not on your list....any advice?  We are very aware of the deprecation and don't need our productivity on the needed changes to be blacked by an artificial hindrance.

[2022-10-14 13:01] patrickcavli commented on #6002
This incident occurred while running CI pipeline of our platform. At least they could have mentioned this before the scheduled brownout.

[2022-10-14 13:07] HSPDev commented on #6002
Yeah wtf, this was not scheduled and on a friday... I was about to go home with a nice bugfixed shipped out....

[2022-10-14 13:25] GeoFro commented on #6002
October 14th is not on your brownout list.

[2022-10-14 13:27] wojsmol commented on #6384
@arichorn Please see this [blog post](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/)

[2022-10-14 13:58] gibz104 commented on #6002
🤡

[2022-10-14 14:20] OlegKarasik commented on #6002
The best moment here is that jobs are get canceled and ... no notifications are send by email. We have just lost a few hours before realised that our build is not running and not propagating to environments. Thanks you very much, you increased my awareness of other platforms.

[2022-10-14 14:21] AmaliaGM commented on #2179
Hello ! I'm having this issue today. Should I just wait?

[2022-10-14 14:49] kieranajp commented on #2179
Ditto - you're not alone @AmaliaGM :D

[2022-10-14 14:50] SNMetamorph opened #6407 "Package qtbase5-dev:i386 can't be installed"
### Description

This package can't be installed using apt, but it was working well on `ubuntu-18.04` environment.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 2019
- [

[2022-10-14 14:57] al-cheb commented on #6407
Hey @SNMetamorph.
You could use ubuntu-22.04.

[2022-10-14 14:57] ddobranic commented on #6384
Thank you @wojsmol

[2022-10-14 15:00] ollielowson-wcbs commented on #6002
@github / @miketimofeev - any comment (other than just adding it after the fact and hoping none of your paying customers would notice)? This does not reflect well on you: the questionable decision to use brownouts is one thing, but then attempting to cover up a miscommunication by editing the communication after the fact makes you look unprofessional. Another reason to move to @gitlab!

[2022-10-14 15:04] ollielowson-wcbs commented on #6002
### For posterity, @miketimofeev / @github.
Before:
https://web.archive.org/web/20221012145059/https://github.com/actions/runner-images/issues/6002
![image](https://user-images.githubusercontent.com/95355555/195879442-a9c5847c-ed86-4c91-89e1-e2d3443d50ab.png)

After:
![image](https://user-images.githubusercontent.com/95355555/195879485-594942a1-ef35-4ca6-a2cf-e6db817a85d0.png)

[2022-10-14 15:05] awaters-pa commented on #6002
And the blog still isn't updated... :roll_eyes:
https://github.blog/changelog/2022-08-09-github-actions-the-ubuntu-18-04-actions-runner-image-is-being-deprecated-and-will-be-removed-by-12-1-22/

[2022-10-14 15:07] miketimofeev commented on #6002
@ollielowson-wcbs sorry, I'm not part of the team anymore and am not aware of the changes to the schedule.
Please ping @ddobranic for clarification

[2022-10-14 15:40] ddobranic commented on #6002
@awaters-pa sorry, my bad. reverted to original dates.

[2022-10-14 15:57] awaters-pa commented on #6002
So when should we expect this unexpected brownout to end? @ddobranic

[2022-10-14 16:01] redaER7 commented on #6002
brownouts are starting...
of course, with no notifications or alert...

[2022-10-14 16:02] pierskarsenbarg commented on #6002
Information on brownouts here: https://github.com/actions/runner-images/issues/6002

[2022-10-14 16:03] awaters-pa commented on #6002
Why link back to this issue?  The dates are wrong.  They were changed and then changed back.

[2022-10-14 16:04] pierskarsenbarg commented on #6002
Because when I first saw the link to this issue it said that the brownouts were due today 🤷

[2022-10-14 16:26] Yafaruk opened #6408 "All"
Free All Movies & TV!
Include All 【Disney Marvel Netflix Hulu HBO Prime ...】
Watch & Download for Free!
https://free.mtv08.com?id=63OEViqGG_-&sid=334&pid=335

[2022-10-14 16:26] Yafaruk commented on #6408
😘

[2022-10-14 16:26] #6408 closed

[2022-10-14 16:29] arichorn commented on #6384
Alright but I already went to this site earlier today, it is a little complicated to understand GitHub’s new commands

[2022-10-14 16:56] SNMetamorph commented on #6407
Yes, I can use it. But why it doesn't work on `ubuntu-20.04`? But also it works on WSL2 with Ubuntu 20.04

[2022-10-14 17:17] mattjohnsonpint commented on #6384
@arichorn - It would seem they forgot to include the name of the offending action into the error message, so it can be quite cryptic.  Re-run a job that shows the warning and check the box for debug logging, then you can see in the debug output which actions need to be updated.

[2022-10-14 17:51] jcmanke commented on #6362
Attaching logs for a failed build using Xcode 13.4.1 and Xamarin SDK 6_12_19
[logs_167763.zip](https://github.com/actions/runner-images/files/9788881/logs_167763.zip)

[2022-10-14 18:36] mihaylovg commented on #6002
@ddobranic Only registered to let you know what happened today was not professional at all.
My client was not able to deploy changes to production so they are not happy too.

[2022-10-14 18:43] arichorn commented on #6384
Oh alright thanks, and sorry for putting it in here

[2022-10-14 21:23] johnkerl commented on #6350
@al-cheb can you share your full CI YAML file? I'm trying this as

[code]

yet at https://github.com/single-cell-data/TileDB-SOMA/actions/runs/3253018679/jobs/5339868620 I am  seeing the `prep` job run, but still XCode 14.0 below that ... 3483

[2022-10-14 22:00] Namburger opened #6409 "[WinError 5] Access is denied when doing a shutil.copytree"
### Description

Not sure if this is the right place for it, and my usage is a little convoluted :D

Anyhow, I'm trying to run a [bash script](https://github.com/Namburger/coralmicro/actions/runs/3252938515/workflow#L88) in the windows ci. The bash script setup toolchains and call a python script to package some artifacts.
The issue is that I'm now getting a `[WinError 5] Access is denied` on a ca

[2022-10-14 23:54] ohhmm opened #6410 "Update/Add [tool name]"
### Tool name

boost

### Tool license

boost

### Add or update?

- [X] Add
- [ ] Update

### Desired version

1.80.0

### Approximate size

_No response_

### Brief description of tool

Its a library for native C++ development
https://boostorg.jfrog.io/artifactory/main/release/1.80.0/source/boost_1_80_0.zip

### URL for tool's homepage

https://www.boost.org/

### Provide a basic test case to va

[2022-10-14 23:58] arichorn commented on #6384
Hey I’m back! I have successfully migrated the runner to run MacOS 12 actions, I readed the thing above and resolved it! Ty y’all

[2022-10-15 20:20] al-cheb commented on #6410
Hey, @ohhmm.

[code]

Close as https://github.com/actions/runner-images/issues/2667

[2022-10-15 20:20] #6410 closed

[2022-10-15 20:50] ohhmm commented on #6410
@al-cheb, FYI, boost is the most popular C++ library.
Anyway, 0.5 Gb is how much the boost installation require.
Also, NTFS-compression may be applied or NAS junction with COW FS.

[2022-10-15 21:02] al-cheb commented on #6407
It works on Ubuntu 20.04:

[code]

![image](https://user-images.githubusercontent.com/47745270/196007438-17985031-597a-4ee9-aadc-44db9c4f6d4d.png)

[2022-10-16 07:01] IsaacShelton opened #6412 "[bug] windows-2022 can no longer run applications compiled with included mingw64"
### Description

When you run a C/C++ executable compiled with the included mingw64, you would expect it to run without any issues on the same machine, instead of ~~silently~~ failing.

My particular workflow was working completely fine, but now, without any changes to my workflow, everything I build with mingw64 on Github runners ~~silently~~ crashes immediately.

### Solution:

It's probably an

[2022-10-16 17:03] Yafaruk opened #6413 "."
My Stub  https://play.google.com/store/apps/details?id=xyz.chartech.movieplus

[2022-10-16 17:34] Xanonymous-GitHub commented on #6384
I just found even I use `macos-latest` it still runs on v11 instead of v12 in this https://github.com/NEO-TAT/tat_flutter/actions/runs/3260016715/jobs/5353264229.

But if I changed it to `macos-12`, is use 12.

Don't know what's happened ...

[2022-10-16 17:38] ThadHouse opened #6414 "VS 14.33 redistributable not included in VS install"
### Description

The version of VS 2022 installed has the 14.33 compiler. However, the 14.33 redistributable is missing from the VS install. It should be located at `%VCINSTALLDIR%Redist\MSVC\v143\ 14.33.31629`

### Platforms affected

- [X] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [X] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04

[2022-10-16 19:40] #6413 closed

[2022-10-16 19:55] since81 commented on #6333
Hi @al-cheb, with new vetsion of image everything working fine.
Thank you!

[2022-10-16 19:55] #6333 closed

[2022-10-16 21:53] delta42 commented on #5301
In the same boat

[2022-10-16 23:04] ThadHouse commented on #6414
Nevermind, I didn't realize the compiler and runtime major and minor were not required to match. In over 3 years we'd never had them be different, and our CI depended on them being identical, so I had just assumed something was broken.

[2022-10-16 23:04] #6414 closed

[2022-10-17 06:39] ddobranic commented on #6384
@Xanonymous-GitHub hello, yes migration is in progress and it is planned to be complete by December 1st.

[2022-10-17 06:46] al-cheb commented on #6409
Close as external bug - https://github.com/python/cpython/issues/82814

[2022-10-17 06:46] #6409 closed

[2022-10-17 06:46] #6407 closed

[2022-10-17 06:48] al-cheb commented on #6390
Feel free to open the thread if you have any concerns.

[2022-10-17 06:48] #6390 closed

[2022-10-17 06:51] al-cheb commented on #6412
Hey @IsaacShelton.
We will take a look at it.

[2022-10-17 06:58] Chthirupathi opened #6415 "Update/Add pack cli"
### Tool name

pack cli

### Tool license

pack CLI (version 0.27.0)

### Add or update?

- [X] Add
- [X] Update

### Desired version

pack CLI (version 0.27.0)

### Approximate size

_No response_

### Brief description of tool

Pack is a tool maintained by the Cloud Native Buildpacks project to support the use of buildpacks.

It enables the following functionality:

1. build an application using

[2022-10-17 07:12] al-cheb commented on #6415
Hey @Chthirupathi.

We decided not to add pack-cli to images, considering installation time. Please use code snipet below it takes less 1 minute to install in runtime.

Windows:
`choco install pack --version=0.27.0`

Ubuntu:
[code]

[2022-10-17 07:12] #6415 closed

[2022-10-17 09:39] Xanonymous-GitHub commented on #6384
Got it, thanks :)

[2022-10-17 11:49] ddobranic commented on #6399
@Kichura yes, it was a mischeck. thank you!

[2022-10-17 13:45] al-cheb commented on #6412
Close as https://github.com/actions/runner-images/issues/6103

[2022-10-17 13:45] #6412 closed

[2022-10-17 15:00] egg-r commented on #6356
Hi @mikhailkoliada ,

For Azure DevOps pipelines, I'd have to install pnpm though right each time it's needed?  The mentioned duplicate is for a Github Action task for functionality.  I was researching this morning if pnpm was installed already in image, and wanted to ask here before creating a new issue/request to add.

[2022-10-17 16:01] Anton-V-K commented on #6091
I'm facing same/similar issue when linking against `jsoncpp` (`x64-windows-static` or `x86-windows-static`) with VS2022 17.3.4:
[code]
I'm not using pre-configured image, just vcpkg and built-in integration with VS2022.
I wonder what is the cause of such issue and how can it be resolved?
Judging from comments it seems to be caused by a bug in MSVC compiler, or am I overlooking something?

[2022-10-17 16:44] vkaytsanov commented on #6091
@Anton-V-K I suggest you to try to change the runner from `windows-latest` to `windows-2019` as specified in the docs https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job

This is how I resolved my issue

[2022-10-17 19:35] arunksingh16 opened #6420 "The macOS 11.7 runner image is creating issue while resigning iOS IPA files"
### Description

Hi

Since MacOS 11.7 runner images are being used we are seeing issues while resigning iOS IPA files.

- task: IpaResign@1
  inputs:
    ipaPath: '$(System.DefaultWorkingDirectory)/XXX/$(FileName).ipa'
    signFileP12Path: '$(XXX.XXX)'
    signFileP12Password: '$(CertPass)'
    provFileProfilePath: '$(System.DefaultWorkingDirectory)/XXXXX/XXXX.mobileprovision'
  displayName: 'Resi

[2022-10-17 22:46] uthark opened #6421 "Update/Add Python 3.9.15"
### Tool name

Python

### Tool license

https://docs.python.org/3.9/license.html

### Add or update?

- [ ] Add
- [X] Update

### Desired version

3.9.15

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

https://www.python.org/downloads/release/python-3915/

### Provide a basic test case to validate the tool's functionality.

_No resp

[2022-10-17 22:54] jcmanke commented on #6362
Adding this to the script fixed the build for me:

`echo '##vso[task.setvariable variable=MD_APPLE_SDK_ROOT;]'/Applications/Xcode_13.4.1.app`

Full AzDO pipeline step:

[code]

[2022-10-17 22:54] #6362 closed

[2022-10-18 00:27] gaiksaya opened #6422 "CI tests pass on ubuntu image version 20221012.1 but not on 20221002.2"
### Description

Hi,

We have some groovy (jenkins) [tests](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/groovy-tests.yml) that uses `ubuntu-latest` as the CI runner.
The tests were passing locally but randomly failing and on deep diving it was observed that they were only passing (for ubuntu latest) on below runner image
[code]
Check the run here: https://git

[2022-10-18 02:39] AnnaMChoi-CD opened #6423 "Ubuntu 20.04 - 20221012 release"
### Description

Some of the github actions I have in my repository that with run-on ubuntu-latest started to pick up the newer runner version: 20221012.
and it started to fail the bash command step which has no problem when it uses runner version of 20221002.

Below is the log from the "setup job" step:
Current runner version: '2.298.2'
Operating System
  Ubuntu
  [2](https://github.com/woolworth

[2022-10-18 05:59] xvjixiang commented on #6423
Same for us, we have some python scripts what run smoothly with version 20221002 but failed with version 20221012

[2022-10-18 06:44] al-cheb commented on #6420
Hey @arunksingh16.
We will take a look at it.

[2022-10-18 07:10] al-cheb commented on #6423
Hey @AnnaMChoi-CD.
We will take a look at it.

[2022-10-18 07:10] al-cheb commented on #6422
Hey @gaiksaya.
We will take a look at it.

[2022-10-18 08:24] akunzai commented on #6422
Hi,

I'm facing the same issue running `phpstan` tests on the `ubuntu-latest` runner.

- [passing](https://github.com/akunzai/MageBridgeCore/actions/runs/3268350507/jobs/5374653206) on runner image `20221002.1`
- [failing](https://github.com/akunzai/MageBridgeCore/actions/runs/3268364514/jobs/5378099799) on runner image `20221002.2`

[2022-10-18 13:43] peternorthphorest commented on #6423
This also hit our workflows and resulted in a terraform version mismatch between 20221002.2 and 20221012.1 (terraform versions 1.3.1 and 1.3.2 respectively).

[2022-10-18 13:47] andreasabel commented on #6364
Great work, everyone!

`pkg-config --list-all` succeeds now on the macOS runners dated 2022-10-10: https://github.com/andreasabel/gha-test/actions/runs/3273901704/jobs/5386715502

[2022-10-18 14:47] mhever opened #6424 "Ubuntu 20.04 / Rust install fails with bindgen 0.61 issues"
### Description

Ubuntu 20.04 image fails at Rust installation with issues at bindgen 0.61:

==> azure-arm:   Downloaded bindgen v0.61.0
==> azure-arm: warning: no Cargo.lock file published in bindgen v0.61.0
==> azure-arm: error: there is nothing to install in `bindgen v0.61.0`, because it has no binaries
==> azure-arm: `cargo install` is only for installing programs, and can't be used with libra

[2022-10-18 14:48] al-cheb commented on #6424
Fixed in https://github.com/actions/runner-images/pull/6417.

[2022-10-18 14:48] #6424 closed

[2022-10-18 18:51] mrk-han commented on #6365
@ssrinivasKG @igorboskovic3

I attempted to install HAXM like this:

[code]

It gave the following output:
[code]

and to verify, after the tests I ran:

[code]

but received:

[code]

And then the bug still existed:

[code]

[2022-10-18 18:57] scottgrowdnd opened #6425 "macOS-12 (version 20221010.1) - can't find Xcode Error"
### Description

We have an established Xamarion IOs pipeline running on vm image: macOS-12 (version 20221010.1)  which failed today with a new error:
[BuildLog.txt](https://github.com/actions/runner-images/files/9814229/BuildLog.txt)

**Could not find a valid Xcode app bundle at 'Applications/Xcode_14.0.1.app'. Please update your Apple SDK location in Visual Studio's preferences (Projects > SDK L

[2022-10-18 18:59] mrk-han commented on #6152
@igorboskovic3 https://github.com/igorboskovic3/actions-test/actions/runs/3239642296

in your latest run, if you check the PNG it is black

[2022-10-18 19:04] mrk-han commented on #6365
Note: This is also showing in the logs from @igorboskovic3 's run here: https://github.com/igorboskovic3/actions-test/actions/runs/3023933068/jobs/4864768035

[2022-10-18 19:10] ssrinivasKG commented on #6365
Based on the comments on my issue, does not seem like something fixable https://github.com/actions/runner-images/issues/6369

[2022-10-18 19:43] al-cheb commented on #6425
Hey @scottgrowdnd.
Could you check this https://github.com/actions/runner-images/issues/6362#issuecomment-1281602028 comment?

[2022-10-18 20:00] RaitonGG commented on #5656
raiton@raiton-N550JV:~/Downloads$ sudo rm -f /etc/apt/sources.list.d/archive_uri-*
raiton@raiton-N550JV:~/Downloads$ sudo apt-get update
Hit:1 https://linux.teamviewer.com/deb stable InRelease
Hit:2 http://packages.microsoft.com/repos/code stable InRelease
Hit:3 https://dl.google.com/linux/chrome/deb stable InRelease
Hit:4 https://ppa.launchpadcontent.net/openjdk-r/ppa/ubuntu jammy InRelease
Hit:5

[2022-10-18 20:08] scottgrowdnd commented on #6425
@al-cheb thank you!  We had that line code, but were missing a "/" which was omitted when we recently updated the XCode version.

[2022-10-18 20:08] #6425 closed

[2022-10-18 20:11] Brett-Best opened #6426 "Add macOS 13 runner image"
### Tool name

macOS 13

### Tool license

https://www.apple.com/au/legal/sla/

### Add or update?

- [X] Add
- [ ] Update

### Desired version

13 RC (22A379)

### Approximate size

_No response_

### Brief description of tool

Latest major macOS version released by Apple.

### URL for tool's homepage

https://developer.apple.com/documentation/macos-release-notes/macos-13-release-notes

### Provi

[2022-10-18 20:14] eivinhb commented on #6423
We also see issues with `20221012.1`. Exact same git commit was ok on `20221002.2` just 12h ago.

We have strange issues with maven-jib-plugin in  java build:

[code]

[2022-10-18 21:41] JacobWrenn commented on #949
From memory, adding the `setup_travis` step to my Fastlane file was sufficient to resolve the issues. It related to the keychain needing to be correctly setup in order for code signing to function properly.

[2022-10-18 21:53] dmitry-shibanov commented on #6344
Hello @AenBleidd. Did you reproduce the issue on the minimum project ?

[2022-10-18 22:01] EwoutH commented on #6426
As for the timing of this issue, the [macOS 13 Release Candiate](https://developer.apple.com/news/releases/?id=10182022e) and [Xcode 14.1 Release Candiate](https://developer.apple.com/news/releases/?id=10182022h) were released today, along with an announcement that [Mac App Store submissions are now open for macOS Ventura](https://developer.apple.com/news/?id=vc82glbw).

This means developers will

[2022-10-18 22:26] AenBleidd commented on #6344
@dmitry-shibanov, had no time to do that yet. I'm still experiencing this issue regularly on the repo I linked above. Hopefully will have time to make a minimal project to reproduce this issue later this week.

[2022-10-19 07:30] igorboskovic3 commented on #6152
@mrk-han This issue is resolved, so we wont reopen this one. That is my testing repo and I wouldnt use that as reference. Im testing there various variables and this one is not related specific to your issue. For example you can find in my testing repo this action https://github.com/igorboskovic3/actions-test/actions/runs/3239143575, which works well.

[2022-10-19 07:42] igorboskovic3 commented on #6365
@mrk-han this is my testing repo, i wouldnt use that a reference, as I answered on other thread [here](https://github.com/actions/runner-images/issues/6152#issuecomment-1283557637),  you have there successful and unsuccessful actions so you should use for example successful one https://github.com/igorboskovic3/actions-test/actions/runs/3239143575. Please use this [snippet ](https://github.com/acti

[2022-10-19 12:19] AenBleidd commented on #6344
I made a simple repo to reproduce this issue.
Here's the faulty run: https://github.com/AenBleidd/osx_vcpkg_github_actions_test/actions/runs/3281214507/jobs/5403428505
It's not reproducible always, sometime you need to rerun it several times.
Important steps:
- you need to setup AWS to store vcpkg binary cache
- you need to have cache present on AWS, because it doesn't happen when cache is not pre

[2022-10-19 12:20] AenBleidd commented on #6344
@mikhailkoliada, @dmitry-shibanov please check my last comment

[2022-10-19 13:56] asset-web commented on #2840
Thanks for the tip @al-cheb

FYI: On `ubuntu-20.04` based GitHub actions the below directories exist and removal can free up approx 10G.

[2022-10-19 14:22] varunsh-coder commented on #5934
Thanks @erik-bershel for following up! Not yet, should be done in a couple of weeks. Will get back once it is ready. Thanks!

[2022-10-19 14:56] manitua opened #6431 "Activating Windows Feature 'NET-Framework-Features' fails on Windows 2022"
### Description

Noticed today that building Windows 2022 image on `main` branch (commit: 1bbdd25a22dd003e3b720c77de25bb44ece8bc0e) is failing when trying to activate the `NET-Framework-Features`.

Log:
[code]

This is my first build of Windows 2022 image for this week. Last week it was working without issues - last build done, last week, was on Friday, 2022-10-14, on `main` branch  (commit: ac65b

[2022-10-19 15:03] al-cheb commented on #6431
Hello @manitua.
Windows Server 2022(20348.1131.221014) Azure image is broken. As a workaround you can rollback image version to `"image_version": "20348.1129.221007"` - https://github.com/al-cheb/virtual-environments/commit/408d5a88f94396fd3d28ed53aa2326a1248c25cd

[code]

[2022-10-19 15:23] GrahamCampbell commented on #6331
Oh, dear. This will be a big blow for people using the defaults. Really badly out dated versions only available by default.

[2022-10-19 15:43] Benj13 commented on #6423
Having some issues with the new image as well, different version of Azure CLI it seems between `20221002.2` and `20221012.1`, and we can't really "fix" the code that calls the CLI as we don't know which version of the runner image we'll get.

Interesting part also is that it seems that this version doesn't officially exists https://github.com/actions/runner-images/releases/tag/ubuntu20%2F20221012.

[2022-10-19 16:24] CartBlanche commented on #2187
@thejoebourneide it has been nearly 2 years since this issue was raised. Is there still no ETA for M1/M2 support?

[2022-10-19 16:28] remyleone commented on #2187
<Shameless plug> Scaleway can provide on-demand M1 https://www.scaleway.com/en/hello-m1/ </Shameless Plug> You would still have to configure it with a self-hosted runner <https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners> but at least it could maybe help some of you.

[2022-10-19 18:25] joeyparrish commented on #6399
Does the ubuntu-22.04 install Firefox as a snap package, or directly, or not at all?  I'm seeing test failures with that image, and worry that I'll need to either add a Firefox install to my workflow or maybe pin to ubuntu-20.04 for a while.

[2022-10-19 18:42] Kichura commented on #6399
20.04 LTS has actually shipped firefox as a snapd feature in it's desktop variant whereas the server variant does not have it at all - but can be looked into.

[2022-10-19 20:47] joeyparrish commented on #6399
We're using ubuntu-latest images for Firefox testing today.  I tried ubuntu-22.04 in a PR to see what would happen, and our workflow fails to detect Firefox at all.  So it looks like we'll have to either pin to ubuntu-20.04 or install Firefox explicitly to avoid issues.

[2022-10-19 21:38] mrk-han commented on #6152
@igorboskovic3 Thank you, I'll try that out. I really appreciate your time!

Meanwhile, I have a few questions about your script if you don't mind. My intentions are to better understand your reasoning so I can in-turn help others.

The first is this line, and its purpose:
[code]

Another question is why do we use `-gpu host` above it and `-gpu swiftshader_indirect` here?

We start an emulator in

[2022-10-19 21:50] deleugpn commented on #6331
I sympathise with the ~bad~ decision of phasing out PHP from the builds, but doing so by the end of this month seems like a massive impact. I would like to better understand what version is currently available by default and what version will become available in 2 weeks to better gauge how much busywork GitHub is generating me in such a short notice and very little regard for customer experience.

[2022-10-20 06:26] Chthirupathi opened #6435 "Update/Add Pack CLI"
### Tool name

pack CLI

### Tool license

pack CLI (version 0.27.0)

### Add or update?

- [X] Add
- [X] Update

### Desired version

pack CLI (version 0.27.0)

### Approximate size

_No response_

### Brief description of tool

Pack is a tool maintained by the Cloud Native Buildpacks project to support the use of buildpacks.

It enables the following functionality:

1. build an application using

[2022-10-20 06:32] aravindavk commented on #6399
In one of our repos, Ubuntu 22.04 based tests are failing. I am yet to figure out the issue. But the same tests working with 20.04.

https://github.com/kadalu-tech/pkgs/pull/2

[code]

[2022-10-20 06:38] al-cheb commented on #6435
Close as https://github.com/actions/runner-images/issues/6415

[2022-10-20 06:38] #6435 closed

[2022-10-20 08:13] manitua commented on #6431
Hi @al-cheb,

Sorry for late reply - I have applied rollback workaround yesterday, it built runner image flawlessly :). Thank you!
I hope Microsoft will fix this in next Azure datacenter version of WindowsServer 2022.

[2022-10-20 08:30] ddobranic commented on #6426
@EwoutH , thank you for your request. New macOS-12 image with included Xcode 14.1 RC (14B47) is in release process currently.

[2022-10-20 08:35] erik-bershel commented on #6331
@deleugpn it is very good idea to ask about additional information for better understanding. I will answer with great pleasure all questions for which I have answers. @GrahamCampbell take a look here, please.

So! What we have now? We have Ubuntu 18, 20 and 22 images. Let's take a look under the hood! Here are the lists of preinstalled PHP versions for all these images: [Ubuntu 18](https://github.

[2022-10-20 09:55] EwoutH commented on #6426
This is the big one that needs to be done for macOS 13: https://github.com/actions/runner-images/pull/4062

[2022-10-20 10:39] ralflang commented on #6331
This encourages projects to use containers in their actions and workflows. That has both pros and cons.

[2022-10-20 12:52] al-cheb commented on #6423
The Ubuntu 20.04 - 20221012 release was cancelled, the https://github.com/actions/runner-images/pull/6433 new image is on track.

[2022-10-20 12:52] #6423 closed

[2022-10-20 13:38] hrst commented on #6331
@erik-bershel So just to understand this: when always using the most recent version is fine, nothing changes?

[2022-10-20 13:38] mikhailkoliada commented on #6396
Deployed now

[2022-10-20 13:38] #6396 closed

[2022-10-20 13:45] GrahamCampbell commented on #6331
This is exactly the problem, however. The officially distributed PHP versions with Ubuntu are very, very old, and unusable to most people. This is why everyone uses the PPA that you have currently installed.

[2022-10-20 13:56] mikhailkoliada commented on #6387
Changes are deployed now

[2022-10-20 13:56] #6387 closed

[2022-10-20 13:59] radiomix commented on #45
@oldskool

AWS EC2 instances come with AWS linux: It would be _nice_  to run Github Actions on an AWS-like OS.
Seems as if Github - aka MicroSoft aka closed-source - and AWS are competitors, hence . . . ;-((  we woun't see any progress here.

Probably also holds true for:

This all reminds me of the 90s when monopoly IT big evil was . . . .

![ms](https://user-images.githubusercontent.com/6728633/

[2022-10-20 13:59] #6317 closed

[2022-10-20 14:00] mikhailkoliada commented on #6315
Deployed now.

[2022-10-20 14:00] #6315 closed

[2022-10-20 14:05] al-cheb commented on #6421
The new Ubuntu images have been deployed with Python 3.9.15.

[2022-10-20 14:05] #6421 closed

[2022-10-20 15:27] erik-bershel commented on #6331
@hrst I can't say that nothing will change at all in answer to your question. To be brief, for Ubuntu 20, nothing really will change according to that announcement.
The situation is somewhat different for the case of Ubuntu22. I would divide it into several segments.
The first segment continues from now and to the point of announced changes: Nothing changes for the community in this segment.
The s

[2022-10-20 15:52] akunzai commented on #6422
@al-cheb - it [passing](https://github.com/akunzai/MageBridgeCore/actions/runs/3268364514/jobs/5424706702) on `ubuntu-20.04` runner with image version `20221018.2`

[2022-10-20 16:18] #6422 closed

[2022-10-20 16:24] vintagesucks commented on #6331
This effectively means that the PHP version included in the Ubuntu 22 image cannot be used if you want (or need) to test your application with a PHP version that includes the latest bugfixes and security patches.

For me personally, this would mean broken builds as soon as `ubuntu-latest` receives this change, as I require the latest security release, in this case [PHP 8.1.11](https://www.php.net/

[2022-10-20 17:58] al-cheb commented on #6366
@thbusch, @cry-inc, Could you please check if the issue still exists on `2.0.91.1` image provisioner?

[2022-10-20 19:41] erik-bershel commented on #6399
Hello, @aravindavk!
[Here](https://bugs.launchpad.net/ubuntu/+source/google-glog/+bug/1991919) is an explanation why this is happening with your build. I added a [comment](https://github.com/kadalu-tech/pkgs/pull/2/files#r1001042597) explaining how to fix the situation.

[2022-10-20 20:23] jpgnz commented on #6331
_GitHub is tightening security on our images._

This change has the opposite effect and at a minimum should be paused for the impact to be properly assessed. It reads as if there's a fundamental misunderstanding of what php packages are available and their management in the default Ubuntu repos.

[2022-10-20 21:12] hopeseekr commented on #6331
I'm the maintainer of [`phpexperts/dockerize`](https://github.com/PHPExpertsInc/dockerize-php).

Is it not possible to do `composer require --dev phpexperts/dockerize`, set it up on your project, and run that in GitHub actions?

You will always have the latest PHP that's delivered by the `ppa:ondrej/php` apt repostiory on Ubuntu 22.

[2022-10-20 22:43] lionslair commented on #6331
Does this mean best solution is to go back to maintaining a custom image to run on again?

[2022-10-20 23:09] GrahamCampbell commented on #6331
No, but if people did do that, it would definitely have the opposite effect of security hardening.

[2022-10-21 04:23] austinmatherne-wk opened #6442 "macos-12 Python can't find Tcl/Tk 8.6 shared libraries"
### Description

macos-12 has a similar issue as reported for macos-11 in #4931 where `libtcl8.6.dylib` can't be found by Python.

I think the symlink [created here](https://github.com/actions/runner-images/blob/145f9dff8f8a60a99a59ad3137383bd1fb7bea67/images/macos/provision/core/commonutils.sh#L85-L91) for Big Sur also needs to be created for Monterey.

I created a repo ([macos-12-github-runner-t

[2022-10-21 05:09] aravindavk commented on #6399
Thanks @erik-bershel

[2022-10-21 05:45] NiKiZe commented on #668
Maybe, just maybe there is a little bit of hope on this moving forward. https://github.com/orgs/community/discussions/10539#discussioncomment-3917345

[2022-10-21 06:52] al-cheb commented on #6442
Hey @austinmatherne-wk.
We will take a look at it.

[2022-10-21 09:05] al-cheb commented on #6378
@isimpson, could you please provide steps and a repo to reproduce the issue?

[2022-10-21 10:46] vedantmgoyal2009 opened #6446 "Update GitHub CLI version in runners before next scheduled update considering this case an exception"
### Description

GitHub CLI had a regression issue recently, due to which PRs were not created in non-interactive mode. The issue was fixed in v2.18.1 - https://github.com/cli/cli/releases/tag/v2.18.1.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubu

[2022-10-21 10:50] vedantmgoyal2009 commented on #6446
Latest runner image has GitHub CLI v2.18.0, the release in which this bug was introduced.

[2022-10-21 10:52] al-cheb commented on #6446
Hey @vedantmgoyal2009.
We will update GitHub CLI next week.

[2022-10-21 10:53] vedantmgoyal2009 commented on #6446
Can't it be updated earlier? Many workflows are failing due to this.

[2022-10-21 10:55] al-cheb commented on #6446
Weekends are the deployment freeze, we will try to start on Monday.

[2022-10-21 11:58] erik-bershel commented on #6420
@arunksingh16 in any case, the first thing I would recommend is that you try changing the version of the openssl library before running this step, regardless of the runner image you are using. It was a [bug in openssl v1.1](https://openradar.appspot.com/FB8988319) connected to PKCS#12 previously.

[2022-10-21 12:57] yassinox1234 opened #6448 "Add [Tizen Studio]"
### Tool name

Tizen Studio

### Tool license

https://docs.tizen.org/application/tizen-studio/setup/install-sdk/

### Add or update?

- [X] Add
- [ ] Update

### Desired version

4.6

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

https://developer.tizen.org/development/tizen-studio/download

### Provide a basic test case to validat

[2022-10-21 13:01] al-cheb commented on #6448
Hey @yassinox1234.
We are not going to add Tizen Studio due to lack of free space on images and maintenance concerns.

[2022-10-21 13:01] #6448 closed

[2022-10-21 14:08] zyv commented on #6399
@ddobranic it seems that Ubuntu Mozilla Team still provides official non-snap ESR packages of Firefox via PPA:

https://launchpad.net/~mozillateam/+archive/ubuntu/ppa?field.series_filter=jammy

Maybe you could coordinate with them, not having any Firefox at all in CI images is quite... limiting.

[2022-10-23 02:43] poconn opened #6451 "Update g++"
### Tool name

GNU g++

### Tool license

GPL-2.0

### Add or update?

- [ ] Add
- [X] Update

### Desired version

12 (to match installed gcc version)

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the too

[2022-10-24 02:27] vedantmgoyal2009 commented on #6446
It's Moday, please deploy. I can't see the pre-release.

[2022-10-24 05:52] mikhailkoliada commented on #6364
yes, the changes have been fully deployed

[2022-10-24 05:52] #6364 closed

[2022-10-24 07:07] al-cheb commented on #6366
Feel free to reopen the issue if you have any concerns.

[2022-10-24 07:07] #6366 closed

[2022-10-24 07:30] mikhailkoliada commented on #6451
We are installing the default build-essentials package which is now pulling only gnu toolchains versioned as 11, not 12

[2022-10-24 07:30] #6451 closed

[2022-10-24 11:49] cry-inc commented on #6366
@al-cheb Our builds get no longer the machine WIN-EERHFLKC3PP assigned, so its impossible to say if it was fixed. I cannot reproduce the issue with any other agents that used the 2.0.91.1 image provisioner. Thanks!

[2022-10-24 20:19] wbarnha opened #6459 "Add Python 3.11 support for runners"
### Tool name

Python

### Tool license

PSF-2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

3.11

### Approximate size

_No response_

### Brief description of tool

Python 3.11 was released today on https://www.python.org/downloads/, can we get this added so that it's available in `python-versions` and `setup-python`?

### URL for tool's homepage

_No response_

### Provide

[2022-10-24 20:26] egg-r opened #6460 "Add [pnpm] - Azure DevOps"
### Tool name

pnpm

### Tool license

MIT

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest v7.x.x release

### Approximate size

_No response_

### Brief description of tool

pnpm is fast, disk space efficient Node package manager.
today, many monorepo developers use this pnpm. (vite, svelte, ...)
I also use it. very fast and helpful.
Please see the link below for more inf

[2022-10-24 20:30] egg-r commented on #6460
Greetings,

I created this request as a duplicate of #2279 , but for Azure DevOps usage.  Rather than for Github Actions.  Sorry if this is also a duplicate, but I'm unaware of functionality to specify pnpm as the package manager like what's described for the Github Action.

[2022-10-24 21:30] peterjlay commented on #6431
This is still in issue with current build. Setting "image_version" to "20348.1129.221007" didn't work for me.

[2022-10-24 21:41] peterjlay opened #6461 "Windows 2019 latest release - Image creation fails for Nginx"
### Description

fails to install Nginx when following the image creation process at https://github.com/actions/runner-images/blob/main/docs/create-image-and-azure-resources.md

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.

[2022-10-24 22:12] peterjlay commented on #6431
I can confirm this is fixed now with latest commit

[2022-10-24 22:41] al-cheb commented on #6461
Fixed in https://github.com/mkevenaar/chocolatey-packages/pull/149 PR

[2022-10-24 22:41] #6461 closed

[2022-10-24 23:18] charmipatalia commented on #6384
I am using Azure Devops with fastlane to upload the iOS app in testFlight. If I use macOS-12 then build is failing. Any idea?
![Screen Shot 2022-10-25 at 9 48 06 am](https://user-images.githubusercontent.com/105029373/197647781-81f6d24a-9c6e-48e9-a323-1ed0b92aea8f.png)

[2022-10-25 00:12] kamil-kielczewski commented on #4589
In my case: docker witch node, java, angular and electron this works - I left full dockerfile

[code]

[2022-10-25 06:24] manxorist commented on #6002
Please use a non-broken date format in the issue title: https://en.wikipedia.org/wiki/ISO_8601

[2022-10-25 07:04] erik-bershel commented on #6459
@wbarnha
Hi! We'll take a look.

[2022-10-25 07:06] mikhailkoliada commented on #6459
We will deploy it as soon as it is in the python-version repo

[2022-10-25 07:15] mfkl commented on #6375
Reproduced on Github Action agents as well.

[2022-10-25 07:29] erik-bershel commented on #6460
@egg-r
Hi! Yes, it is still a duplicate of #2279. And yes, for Azure DevOps there really is no separate module that can install the requested tool in "one line" or something like that. But you can look at the [official instructions](https://pnpm.io/next/continuous-integration) for use or the [example](https://stackoverflow.com/questions/73117288/how-to-use-pnpm-on-azure-pipelines) of use in the co

[2022-10-25 07:29] #6460 closed

[2022-10-25 07:33] mikhailkoliada commented on #6376
Removal date shifted one week.

[2022-10-25 07:38] AntonOfTheWoods commented on #6459
@mikhailkoliada , is there are more detailed description of the workflow somewhere? `python-version` says:

[code]

Is that basically saying that the maintainers of that repo look at these issues and then add what is required there, which will then get picked up here?

[2022-10-25 07:52] #6431 closed

[2022-10-25 14:26] mdshw5 commented on #6459
As this issue is tagged with `OS: macOS`, but macOS runner images were not specified in the description, will python 3.11.0 macOS builds be produced? I'm testing against 3.11.0 using the macOS image in https://github.com/mdshw5/pyfaidx/pull/197. Thanks for all your work maintaining these important resources!

[2022-10-25 14:58] erik-bershel commented on #6459
@mdshw5 similar changes are planned for macOS too.

[2022-10-25 18:18] vedantmgoyal2009 opened #6472 "Update/Add Windows Package Manager (WinGet)"
### Tool name

Microsoft Windows Package Manager

### Tool license

MIT (https://github.com/microsoft/winget-cli/blob/master/LICENSE)

### Add or update?

- [X] Add
- [ ] Update

### Desired version

Whatever is latest

### Approximate size

_No response_

### Brief description of tool

The Windows Package Manager is an open-source tool that is capable to be used by both the home user and the ente

[2022-10-25 18:23] al-cheb commented on #6472
Duplicate https://github.com/actions/runner-images/issues/910

https://github.com/microsoft/winget-cli#installing-the-client

[2022-10-25 18:23] #6472 closed

[2022-10-25 18:29] vedantmgoyal2009 commented on #6472
@al-cheb you're a contributor, how can you close the issue?

Also, as the note specifies that it is possible to (experimentally) install on Windows Server 2022, may be that can be added?

[2022-10-25 18:50] vedantmgoyal2009 commented on #6472
Well, I've added my comments on the original issue.

[2022-10-25 18:52] vedantmgoyal2009 commented on #910
[code]

The installation method is now a lot simpler with no workarounds. Just download the files and use PowerShell Cmdlet to install WinGet.

@miketimofeev Can this be re-considered adding to Windows Server 2022 image since Windows Server 2019 is still not supported.

[2022-10-25 18:55] al-cheb commented on #6472
Windows Server 2022, this should be considered experimental **(not supported)** - https://github.com/microsoft/winget-cli#installing-the-client

[2022-10-25 18:58] miketimofeev commented on #910
@vedantmgoyal2009 sorry, I'm not the part of the team anymore.
@al-cheb @mikhailkoliada @ddobranic could you take a look?

[2022-10-25 19:16] vedantmgoyal2009 commented on #910
@miketimofeev No problem. @al-cheb responded at https://github.com/actions/runner-images/issues/6472 (sometime after I pinged you 😅)

[2022-10-25 21:02] parafoxia opened #6473 "Add Python 3.12.0a1 (3.12-dev) support"
### Tool name

Python

### Tool license

PSF-2.0

### Add or update?

- [X] Add
- [ ] Update

### Desired version

3.12.0a1

### Approximate size

_No response_

### Brief description of tool

3.12.0a1 was released on 24 October just after the release of 3.11.0. This should be released to allow for the inclusion of 3.12-dev Python versions within workflows.

### URL for tool's homepage

https://do

[2022-10-26 04:14] mrk-han commented on #6365
@igorboskovic3 Thank you so much. I got HAXM working and I am still seeing this output spammed

[2022-10-26 06:38] mgedmin commented on #6459
Looks like Python 3.11 is already available for GitHub Actions.  (I subscribed to this bug hoping to get a notification when that happens.)

[2022-10-26 07:04] erik-bershel commented on #6473
@parafoxia
Hi! We'll take a look.

[2022-10-26 08:00] erik-bershel commented on #6473
@parafoxia
We will add these changes in our images when this minor branch becomes stable but not preview or alfa. Until then, only installation in runtime will be available.

[2022-10-26 09:48] parafoxia commented on #6473
@erik-bershel

I'm a bit confused -- is Python 3.12 support only plans upon the release of final? This would be for the python-versions action btw, not preinstallation of the OS images. Apologies if I wasn't clear on that.

[2022-10-26 10:57] erik-bershel commented on #6473
@parafoxia it is okay. Feel free to ask anything.
About our case. We will add Python 3.12 directly to the runner images only after it becomes an [active official release](https://www.python.org/downloads/) according to the [software support policy](https://github.com/actions/runner-images#software-and-image-support) or in case if it becomes very popular. Until then, you can install in runtime the

[2022-10-26 11:18] parafoxia commented on #6473
Okay awesome, thanks for the clarification! This sounds great -- I use the setup-python action generally to test compatibility with different versions, so yeah this issue was mainly for that. I look forward to the release!

[2022-10-26 12:19] igorboskovic3 commented on #6365
@mrk-han Code is working and you have output spammed or doesnt work at all?

[2022-10-26 12:36] arunksingh16 commented on #6420
Hi @erik-bershel the issue occurred on one of our internal pipelines so I cannot share the link. The runner image details are -
2022-10-17T15:05:52.3695310Z Image: macos-11
2022-10-17T15:05:52.3695580Z Version: 20221010.1
2022-10-17T15:05:52.3696680Z Included Software: https://github.com/actions/runner-images/blob/macOS-11/20221010.1/images/macos/macos-11-Readme.md
2022-10-17T15:05:52.3697240Z Ima

[2022-10-26 14:19] erik-bershel commented on #6420
@arunksingh16 thank you for feedback. I'm glad my comment helped you solve the problem. Unfortunately, we cannot change the version of openSSL in the image because this would lead to other serious issues. Thus I close that issue. Feel free to contact us if you have any questions or have any other problems related to the work of runner images.

[2022-10-26 14:19] #6420 closed

[2022-10-26 15:21] #6283 closed

[2022-10-26 15:22] mikhailkoliada commented on #6283
Removed a month ago

[2022-10-26 15:53] mikhailkoliada commented on #6459
3.11 must be available via `actions/setup-python` across all images, will be deployed as part of the runners next week.

[2022-10-26 16:44] screig commented on #128
I am seeing the same problem

![image](https://user-images.githubusercontent.com/4292074/198085338-59f9ee2c-64a2-4e62-9c9d-3a0623b9d8d8.png)

snippet from the yml file.

        $devcom = 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\devenv.com'
        echo $devcom
        echo '>>> Does the executable exist ....'
        Test-Path -Path $devcom

        $helpargs =

[2022-10-26 16:48] screig commented on #128
note I can't use msbuild as suggested as I am building a vdproj file.

[2022-10-26 19:33] yeroc commented on #2187
https://github.com/github/roadmap/issues/528 seems relevant?

[2022-10-26 19:40] varunsh-coder commented on #5934
Hi @erik-bershel, the ADO pipeline is ready. It is here: https://github.com/varunsh-coder/actions-playground/blob/main/azure-pipelines.yml

It has 4 jobs. 2 run on `ubuntu-20.04` and 2 on `ubuntu-22.04`. They need to be triggered as part of canary test for new image, so I guess you will need to update it to use `vmImage` tags for the unreleased image.

If any of the jobs fail during canary test, I

[2022-10-26 19:59] hugovk commented on #6459
Looks like we're all set for 3.11 in Azure Pipelines, at least on-flight:

https://dev.azure.com/hugovk/hugovk/_build/results?buildId=2858&view=results

[2022-10-26 22:45] nkleinbaer commented on #6026
@lawndoc I'm running into a similar issue, were you ever able to figure out the cause of this and/or a solution?

[2022-10-27 06:37] vedantmgoyal2009 commented on #6446
There are half of the workflow runs running on 20221024 update and half of them on 20221019 update.

Why you guys don't consider the impact caused due to a bug, and prioritize the things according to that.

[2022-10-27 07:08] al-cheb commented on #6378
Feel free to reopen the thread if you have any concerns.

[2022-10-27 07:08] #6378 closed

[2022-10-27 08:06] erik-bershel commented on #6282
@igsilya
The problem is reproducible in any environment and is related to the operation of the application, not related to compatibility or version. Therefore, the issue is not related to the operation of the runner images.
I have to close the issue. If you have any other questions or concerns, feel free to contact us at any time.

[2022-10-27 08:06] #6282 closed, assigned to nobody

[2022-10-27 08:09] erik-bershel commented on #6123
@vladbresan please update status of issue. Do you have the same troubles on the latest release?

[2022-10-27 08:15] erik-bershel commented on #5934
Hi @varunsh-coder, I'll take a look at the changes and come back a little later with questions and comments.

[2022-10-27 08:21] mikhailkoliada commented on #6446
Our deployment schedule takes 3-4 days, to catch all possible bugs, please keep the ticket open, we will close it ourselves once all updates are rolled out.

[2022-10-27 11:10] vladbresan commented on #6123
@erik-bershel we would have to revert to the problematic commit and test it out again. Since the test were failing, we ended up disabling them.
I will try to run a pipeline today and update you

[2022-10-27 11:54] martijnarts commented on #183
It looks like large runners don't have KVM access enabled: https://github.com/ReactiveCircus/android-emulator-runner/issues/46#issuecomment-1284155863

[2022-10-27 12:22] mikhailkoliada opened #6482 "[all OSs] Nodejs 12.x will be removed from the images on November, 14"
### Breaking changes

Nodejs 12.x will be removed from all the images alongside with its docker containers on Ubuntu runners.

### Target date

Rollout of the change will start on November, 14 and will take 3-4 days.

### The motivation for the changes

As per the [software and image support](https://github.com/actions/runner-images#software-and-image-support) policy only the 3 latest LTS versions

[2022-10-27 13:05] lawndoc commented on #6026
In my case, it was actually caused by a separate issue. The container I was trying to contact was failing to start when running in GitHub Actions, so it wasn't being resolved by the Docker daemon. I'd recommend creating an artifact of the logs of your containers, and after the failed run check and make sure that all of the containers are starting properly.

You could also assign a static IP to eac

[2022-10-27 13:10] lawndoc commented on #6026
It was a subtle issue because the container wasn't failing to start when testing locally. In my case, I had a missing secret in the environment I was testing in.

[2022-10-27 13:26] nkleinbaer commented on #6026
Thanks for the reply, @lawndoc!

In my case I was able to confirm the containers were successfully starting, and at least based on `docker network ls` they appeared to be attached to the appropriate bridge networks. I think the issue may have been that I was running the entire job inside a container [as described here](https://docs.github.com/en/actions/using-jobs/running-jobs-in-a-container). I'm

[2022-10-27 14:35] fkorotkov commented on #2187
Sorry for a shameless plug but we've tried to reach out to GitHub [in this thread](https://github.com/actions/runner-images/issues/2187#issuecomment-1122350871) and in a few other places to collaborate on using our open-sourced virtualization solution to power Apple Silicon runners but haven't got any responses...

So we've built our own service with on-demand Apple Silicon runners for GitHub Acti

[2022-10-27 14:39] hadiidbouk commented on #2187
GitHub will never take this as a priority soon, they are earning a lot more money compared to what they will get if they support Apple Silicon 😅

[2022-10-27 16:10] chrisheninger commented on #2187
Thanks for posting @fkorotkov – https://github.com/cirruslabs/tart + https://github.com/cirruslabs/macos-image-templates/pkgs/container/macos-ventura-xcode is exactly what I've been looking for.

(I'm looking to run with self-hosted runners, but using pre-built MacOS Virtual Machines)

[2022-10-27 17:59] mrk-han commented on #6365
@igorboskovic3 Well, the stability of the emulator itself is causing UI tests to be very unstable. That is the heart of the issue. When debugging things, this spam is incredible excessive (happening anywhere from 3-7 times a second), it makes it hard to read.

My concern is the amount of times this error is happening is either indicative of, or itself causing performance issues. Or means something

[2022-10-27 18:00] mrk-han commented on #6365
I am really not sure if this is a problem because of the Google Emulator team, or the MacOS Runner configuration.

[2022-10-28 00:48] chandrashekarkandepu opened #6485 "getting error while install system ds as fatal error compiling"
### Description

<img width="1440" alt="Screen Shot 2022-10-27 at 7 25 39 PM" src="https://user-images.githubusercontent.com/34734568/198423548-8f1c7cb4-4d75-4db9-88d1-dc8a9be61c2d.png">

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ]

[2022-10-28 06:41] al-cheb commented on #6446
The new images with GitHub CLI v2.18.1 have been deployed.

[2022-10-28 06:41] #6446 closed

[2022-10-28 06:43] al-cheb commented on #6485
Hey @chandrashekarkandepu.
We don't support non hosted github agents.

[2022-10-28 06:43] #6485 closed

[2022-10-28 08:43] luke-hill opened #6486 "Cannot use actions to connect to apt-get (Repeat of #675)"
### Description

Running `Run sudo apt-get install libcurl4-openssl-dev` in github actions fails with an error

This looks like a clone of #675

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12

[2022-10-28 08:47] al-cheb commented on #6486
Hey @luke-hill.

Please note: https://docs.github.com/en/actions/using-github-hosted-runners/customizing-github-hosted-runners

Should be:
[code]

[2022-10-28 08:47] #6486 closed

[2022-10-28 08:49] luke-hill commented on #6486
Is there a reason this has passed ~ 300 times in the past 2+ months without this then?

[2022-10-28 08:54] al-cheb commented on #6486
https://github.com/actions/runner-images/issues/592#issuecomment-602448135

[2022-10-28 08:56] luke-hill commented on #6486
So ubuntu updated this lib-ssl package, which hasn't happened for a while. And as such the old cache one is invalidated and it cannot find the existing one on the server without updating refs first.

TIL - Many thanks @al-cheb 🥇

[2022-10-28 09:01] vedantmgoyal2009 commented on #6446
Thanks a lot 🙏🏻

[2022-10-28 10:08] panticmilos commented on #5584
Hi everyone. Since this looks like the security limitation of the Xcode and given the recent inactivity on the issue I am going to close it for now.

Feel free to continue the conversation here or reopen the issue.
Cheers

[2022-10-28 10:08] #5584 closed

[2022-10-28 14:09] nagisa opened #6487 "Provide pre-built, or make it possible to build locally, runner images for local testing"
### Description

I have Github Actions run that runs some tests. These tests are segfaulting reliably in a Github Actions run, but not in an environment which was a best-effort replication of the GHA environment (I went ahead and grabbed a win2k22 evaluation image, pointed qemu at it and tried running tests on there...)

This makes me suspect that there is something very specific about how the VM

[2022-10-28 14:30] al-cheb commented on #6487
Hey @nagisa.

1. Is there a reason why building images locally isn’t a supported mode of operation? What would it take to make it possible?
We don't have any test environments expect Azure to build  images and the second concern is that it would take a huge amount of time to maintenance and support it. - https://github.com/actions/runner-images/issues/931

2. Is there a reason why GitHub is unable

[2022-10-28 14:30] #6487 closed

[2022-10-28 16:57] mimartin12 opened #6488 "Ubuntu 20.04.5 unable to fetch archives from azure.archive.ubuntu.com"
### Description

Error:
[code]
Run [here](https://github.com/bitwarden/clients/actions/runs/3346838333/jobs/5544705061)

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [X] Ubuntu 20.04
- [ ] Ubuntu 22.04
- [ ] macOS 10.15
- [ ] macOS 11
- [ ] macOS 12
- [ ] Windows Server 201

[2022-10-28 18:50] conradj3 commented on #6431
Hey Y'all, some individuals may use our their own **packer**_.json_ files that closely mimic the main branch but offer customizations such as private networking, shared image gallery, etc...

Make sure you don't miss this in the **Packer** **_builders_** section for Windows 22.

[code]

**Example a custom Packer Json Builders Section**
[code]

[2022-10-29 03:21] abulka commented on #6488
I'm getting a similar `404` with

[code]

error:

[code]

which is wreaking havoc on on my builds.

[2022-10-29 06:35] AdrianaDJ commented on #6488
AdrianaDJ.iNG

[2022-10-29 09:58] al-cheb commented on #6488
@mimartin12, @abulka : Please always use `sudo apt-get update`:
Duplicate: https://github.com/actions/runner-images/issues/6486

[2022-10-29 09:58] #6488 closed

[2022-10-29 18:05] danielbayley commented on #2187
@fkorotkov Is there no free tier for unfunded open source projects?

[2022-10-30 13:00] AlexeyCL opened #6489 "Chrome and chromedriver aren't identical"
### Description

Sometimes chrome and chromedriver aren't identical. I think in this case, you shouldn't update chrome. Based on [PR](https://github.com/actions/runner-images/pull/6330)
Today we have chrome version 106, but driver 107 and they can't work together

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner im

[2022-10-30 21:28] erik-bershel commented on #6489
@AlexeyCL
Hi! All three versions of Ubuntu runner images have same major versions of the Chrome browser and Chrome driver, just due to the #6330.
[Ubuntu 18.04](https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu1804-Readme.md#browsers-and-drivers), [Ubuntu 20.04](https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2004-Readme.md#browsers-and-drivers), [Ubuntu

[2022-10-30 21:28] #6489 closed

[2022-10-31 09:09] igorboskovic3 commented on #6375
Hi @mfkl and thank you, Ive already created testing environment, but till now I didnt find anything unusual form our side, so ive pinged Xamarin team and waiting for response

[2022-10-31 09:51] hugovk commented on #6473
Here's the tracking issue for `3.12-dev` in `actions/setup-python`:

* https://github.com/actions/setup-python/issues/514

[2022-10-31 10:51] al-cheb commented on #6375
@mfkl , it's a bug in VS 2022 - https://developercommunity.visualstudio.com/t/XamarinMac-binaries-are-missing-in-173/10164443#T-ND10165277

As workaround update `mac-test-ci.csproj` file:
[code]

![image](https://user-images.githubusercontent.com/47745270/198991623-eb57728e-51c7-4d8d-8e85-ca67f8259769.png)

[2022-10-31 14:35] Nisim761 opened #6493 "This version of Xamarin.iOS requires the iOS 16.0 SDK (shipped with Xcode 14.0)"
### Description

MTOUCH : error MT0180: This version of Xamarin.iOS requires the iOS 16.0 SDK (shipped with Xcode 14.0). Either upgrade Xcode to get the required header files or set the managed linker behaviour to Link Framework SDKs Only in your project's iOS Build Options > Linker Behavior (to try to avoid the new APIs)

### Platforms affected

- [ ] Azure DevOps
- [ ] GitHub Actions - Standard

[2022-10-31 15:02] igorboskovic3 commented on #6493
Hi @Nisim761,thank you for reporting this one, we will take a look.

[2022-10-31 18:04] JiayuanL opened #6494 "Add WSL2 support"
### Tool name

WSL2

### Tool license

Microsoft

### Add or update?

- [X] Add
- [ ] Update

### Desired version

2

### Approximate size

_No response_

### Brief description of tool

We hope to use docker cmd in windows pool because the downloadartifactdrop task only work on window pool, but the docker cmd we depend on requires it must be linux or WSL2 enabled, can we have windows pool with WSL

[2022-10-31 18:10] michaelsaxbury opened #6495 "Update/Add [tool name]"
### Tool name

velero

### Tool license

open

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

Velero (formerly Heptio Ark) gives you tools to back up and restore your Kubernetes cluster resources and persistent volumes. You can run Velero with a cloud provider or on-premises. Velero lets you:

Take backup

[2022-10-31 18:15] al-cheb commented on #6495
Hey @michaelsaxbury .
Considering can be installed in runtime, we wouldn't like to bake it into the image due to maintenance concerns

[2022-10-31 18:15] #6495 closed

[2022-10-31 20:44] fkorotkov commented on #2187
@danielbayley we do **unlimited minutes for free** for open-source projects in our [Cirrus CI offering](https://cirrus-ci.org/guide/macOS/). But for Cirrus Runners we only do paid plans.

[2022-10-31 21:41] michaelsaxbury commented on #6495
I downloaded the latest package using powershell core in an Azure CLI task in my azure devops pipeline. It extracts successfully, but I cannot call velero to perform any actions?

$url = 'https://github.com/vmware-tanzu/velero/releases/latest'
$request = [System.Net.WebRequest]::Create($url)
$response = $request.GetResponse()
$realTagUrl = $response.ResponseUri.OriginalString
$version = $realTagUr

[2022-10-31 22:01] Ramon5 commented on #6185
thks man, works for me!

[2022-10-31 23:53] general-kroll-4-life opened #6496 "pip3 installed software is not available in `PATH` in `macos-12`"
### Description

I am using `pip3` to install robot framework and other python packages.  In the `macos-11` image, they are all available to subsequent steps.  In the `macos-12` image I encountered, at least robot framework was not available.

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ]

[2022-11-01 03:20] mfkl commented on #6375
Ok, thank you for the link and workaround!

[2022-11-01 03:20] #6375 closed

[2022-11-01 06:57] gotson opened #6497 "Homebrew installed libraries not being loaded properly"
### Description

Hi,

tbh i am not sure what's the problem here, but i will try to explain the best i can. I feel like something is wrong with the Linux environment, but i can't pinpoint what exactly.

My Java project is using native libraries, the CI used to work fine on both macOS and ubuntu 20.04. The [last run](https://github.com/gotson/NightMonkeys/actions/runs/2931046772) was 2 months ago.

[2022-11-01 07:31] 3a4oT commented on #6426
Do we have ETA on this? Would be nice to avoid last year's situation where we weren't able to upgrade to the latest version of Xcode because of latest macOS was not supported.

[2022-11-01 08:01] mikhailkoliada commented on #6426
I believe @Steve-Glass may provide more info on ETA

[2022-11-01 08:44] igorboskovic3 commented on #6496
Hi @general-kroll-4-life, we will take a look.

[2022-11-01 08:52] igorboskovic3 commented on #6497
Hi @gotson, we will take a look and get back to you.

[2022-11-01 09:03] al-cheb commented on #6495
bash script:
[code]

venero help output:
![image](https://user-images.githubusercontent.com/47745270/199198452-8febb944-c853-4044-8cb5-d5edc1880618.png)

[2022-11-01 09:13] al-cheb commented on #6496
Hey @general-kroll-4-life.

We have migrated python installation to use macOS universal package. Our recommendation is to use setup-python task or python3 -m syntax:

setup-python:
[code]
![image](https://user-images.githubusercontent.com/47745270/199199904-d05a709a-bb68-4b78-9676-545851f3a2aa.png)

https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#installing-python-on-

[2022-11-01 09:21] rmurphyaxa opened #6498 "Packer build fails to provision Windows 2022 VM correctly in Azure Devops"
### Description

Hi,
We have been building packer generated windows self hosted agents with a hosted agent (vers 2.211.1) in Azure DevOps and uploaded these to an Azure shared image gallery.

The packer build uses the windows 2022 packer build (https://github.com/actions/runner-images/blob/main/images/win/windows2022.json) which was patched to point the target location to a Azure shared_image_gall

[2022-11-01 09:24] igorboskovic3 commented on #6498
Hi @rmurphyaxa, we will take a look.

[2022-11-01 09:55] erencelik commented on #6426
Also need ETA, we need Ventura in order to proceed our CI&CD tests

[2022-11-01 11:15] aibaars commented on #6002
Out of curiosity is `4/1/2023` an English or an American date?

[2022-11-01 13:07] al-cheb commented on #6498
Duplicate https://github.com/actions/runner-images/discussions/6251

[2022-11-01 13:07] #6498 closed

[2022-11-01 13:34] jfk056 opened #6503 "Swift package manager stuck on package resolution"
### Description

We have start using the new version of Xcode 14.0.1/14.1 on macOS 12 agent back in the September but recently we are seeing some strange behaviour around swift package resolution process when we add new package to the project and the process will get stuck on resolution until we hit timeout on the pipeline. We have tried multiple things to debug this kind of behaviour but so far t

[2022-11-01 14:52] bogdan-damian-bgd commented on #6503
Hi @jfk056, we will take a look and get back to you.

[2022-11-01 16:33] clayellis commented on #6426
I don't want to just spam with "same" — but same. We have had to temporarily set up a self-hosted runner to unblock ourselves.

[2022-11-01 18:04] maraino opened #6504 "[go-versions] Get Go version action should be in sync with Go releases"
### Description

Go versions, especially security releases, are generally released minutes before 10 am Pacific Time. But the cronjob in [go-versions](https://github.com/actions/go-versions/blob/8b01adb6c0565ba2e44413df1bea0b29e04ccd49/.github/workflows/get-go-versions.yml#L1-L4) that I think it checks for new Go versions runs at `0 3,15 * * *`.

Right now, on daylight saving, the release versions

[2022-11-01 18:14] ssrinivasKG commented on #6365
Looking at the screenshot, looks very much like a GitHub runner configuration issue. Especially the system dialogue complaining about nested virtualization and plus the GPU driver information system image as well

[2022-11-01 18:35] Josh-Osmanski commented on #6399
Is there any updates on Firefox not being included in ubuntu-22.04?

[2022-11-01 23:28] mrk-han commented on #6365
@ssrinivasKG Exactly, these macOS agents are VMs, and the Android Emulator is a VM -- so it is using Nested Virtualization. But without proper Hardware Support, the Emulators are super flakey -- which is why we are trying to enable HAXM to help.

@igorboskovic3 Across many teams, plus others I have spoken to, none of us are able to get reliable test suites working on Github's MacOS Runners.

[2022-11-02 01:32] mrk-han commented on #6253
@igorboskovic3 Is there official reasoning why y'all cannot support KVM / Hardware Acceleration for Ubuntu, and is this the case even with the Larger Runners Beta?

Is there anything on the roadmap to support this? There is a huge need for running emulators stably on Microsoft Runners. Sorry for posting on this closed topic, but this is the issue I ran into when trying to swap over to Ubuntu Runne

[2022-11-02 05:17] general-kroll-4-life commented on #6496
Cheers all

[2022-11-02 09:05] magnus-book-sb commented on #6333
Hi
I am new to docker and just tried to follow the tutorial from docker.com and got the exact same issue, when running
` docker build -t getting-started .`
as described here https://docs.docker.com/get-started/02_our_app/

Error is
error during connect: In the default daemon configuration on Windows, the docker client must be run with elevated privileges to connect.: Post "http://%2F%2F.%2Fpipe%2F

[2022-11-02 09:09] bogdan-damian-bgd commented on #6504
Hey @maraino, thanks for reporting this one, we'll take a look and get back to you.

[2022-11-02 09:10] al-cheb commented on #6333
Please attach Dockerfile.

[2022-11-02 09:15] magnus-book-sb commented on #6333
This is the dockerfile that was instructed to be created in the tutorial. I had to rename it to .txt since github does not allow plain dockerfile to be attached.

[Dockerfile.txt](https://github.com/actions/runner-images/files/9918798/Dockerfile.txt)

[2022-11-02 09:16] bogdan-damian-bgd commented on #6503
Hi @jfk056, could you provide us with minimal repro steps?

[2022-11-02 09:22] al-cheb commented on #6333
Currently, it's not possible to run linux containers on Windows hosted agents.

[2022-11-02 09:24] Talalgmel commented on #6504
I

On Wed, 2 Nov 2022, 12:11 pm Talal Gmel, ***@***.***> wrote:

[2022-11-02 09:29] al-cheb commented on #6333
You should use Ubuntu hosted agents to run linux containers.

[2022-11-02 09:34] AenBleidd commented on #6344
@mikhailkoliada, @dmitry-shibanov, @vsafonkin,
Any updates on this? Do you need smth additional to reproduce this that I could help you with?

[2022-11-02 09:38] kopax-polyconseil commented on #6365
Hello, we have the exact same issue, this is our branch : https://github.com/pass-culture/pass-culture-app-native/pull/3840

We are trying to run appium to perform e2e tests, did you find a workaround ? I have tried all github action for avd and none works.

[2022-11-02 10:06] al-cheb commented on #6496
Close as by design.

[2022-11-02 10:06] #6496 closed

[2022-11-02 10:28] mikhailkoliada commented on #6497
We do not really manage homebrew anyhow now other than installing it into the image and the action itself just adds brew to the [path]https://github.com/Homebrew/actions/blob/master/setup-homebrew/main.sh#L34)

[2022-11-02 10:28] #6497 closed

[2022-11-02 10:34] magnus-book-sb commented on #6333
Sorry I am new to this and I am not following, do you mean I cannot use windows at all to run docker containers? The following command
`docker version`
also gives me the same error, is that expected?

[2022-11-02 10:50] al-cheb commented on #6333
Please share a link of the failed build.

[2022-11-02 10:59] mikhailkoliada commented on #6123
We are going to close the issue now, feel free to reach us if you have questions left.

[2022-11-02 10:59] #6123 closed

[2022-11-02 11:20] mrgrain opened #6505 "Unable to run rootless docker in docker"
### Description

When running in a rootless docker container, it is not easily possible to run Docker in Docker (or Docker out of Docker) commands. This is due to missing permissions of the rootless user to access the mounted `unix:///var/run/docker.sock`

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [X] GitHub Actions - Larger Runners

### Runner images aff

[2022-11-02 11:37] igorboskovic3 commented on #6505
Hi @mrgrain, we will take a look and get back to you.

[2022-11-02 12:06] al-cheb commented on #6505
Hey @mrgrain.
We don't manage container task and I don't think we should create a new group due to maintenace concern. Youcould dynamically get a docker id group and pass it to next job:

[code]

[2022-11-02 16:08] al-cheb commented on #6442
The new image with fix has been deployed.

![image](https://user-images.githubusercontent.com/47745270/199541387-857c15c1-1db9-498d-ade3-0784d48a493a.png)

[2022-11-02 16:08] #6442 closed

[2022-11-02 16:17] al-cheb commented on #6505
Close as external.

[2022-11-02 16:17] #6505 closed

[2022-11-02 17:15] aetherealtech opened #6507 "Python CLI Tools Installing Inside Python Framework on macOS-12"
### Description

We have a GitHub Action that installs [codemagic-cli-tools](https://github.com/codemagic-ci-cd/cli-tools) using the following shell command:

`pip3 install codemagic-cli-tools`

This is supposed to add several CLI programs to the path (installing them to `usr/local/bin`).  We use one of them, `app-store-connect`, later in the action.

This script broke somewhere between 6 and 1 da

[2022-11-02 22:07] alandefreitas opened #6508 "Update/Add lcov"
### Tool name

lcov

### Tool license

GPL-2.0 license

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

LCOV is an extension of GCOV, a GNU tool which provides information about what parts of a program are actually executed (i.e. "covered") while running a particular test case.

After writing tests with yo

[2022-11-02 22:07] sbates130272 commented on #183
I am another +1 on this but I do understand that GitHub prefers to run its runners (sic) on hardware that might not support nested virtualization out of the box. Of course anyone can do a self-hosted runner on hardware that does support nested-virtualization and do it that way. Any input from tyhe GitHub team on when their runner hardware will support nested?

[2022-11-02 22:10] alandefreitas opened #6509 "Update/Add GCC 12"
### Tool name

GCC 12

### Tool license

GPL-2.0 and 2 other licenses found

### Add or update?

- [X] Add
- [X] Update

### Desired version

GCC 12

### Approximate size

_No response_

### Brief description of tool

The GNU Compiler Collection includes front ends for [C](https://gcc.gnu.org/c99status.html), [C++](https://gcc.gnu.org/projects/cxx-status.html), Objective-C, [Fortran](https://gcc.g

[2022-11-03 04:49] ssrobins commented on #6507
I'm seeing the same thing with `pip3 install conan`. I can work around it by setting the following step prior to any steps that use it:
[code]

One of my CI jobs is scheduled to run every day. Last time it worked, the runner image was `20221018.2`. First failure had runner image `20221027.1`.

[2022-11-03 05:12] ssrobins commented on #6507
I bet this will fix the image:
https://github.com/actions/runner-images/commit/c7958d79a7076013bd48cb7b6cc19ece210d2127

I held off on a PR since the Contribution guide said macOS contributions aren't supported, but let me know if you want me to make one.

[2022-11-03 07:23] mikhailkoliada commented on #6508
Hello!

Given the runtime installation time (3-5s) we would like not to preinstall it into the image

[2022-11-03 07:23] #6508 closed

[2022-11-03 07:36] general-kroll-4-life commented on #6496
@al-cheb this same thing is now happening in a `macos-11` runnner; is this intentional?

[2022-11-03 08:15] al-cheb commented on #6496
Yep, we use the same universal package.

[2022-11-03 08:20] igorboskovic3 commented on #6507
Hi @aetherealtech and @ssrobins  thank you for reporting and contributing, we will check it and get back to you,

[2022-11-03 09:53] mikhailkoliada commented on #6493
@Nisim761 Hello!

Not sure I am following, the error message requires you to have xcode-14 which is a part of macos-12, plus circle ci and actions are quite different entities.

I am going to close that issue as non-relevant one. Please let us know if we are wrong.

[2022-11-03 09:53] #6493 closed

[2022-11-03 10:18] andrewvr99 opened #6510 "Ubuntu 22.04 SKUs have changed - "22_04-lts" is not longer valid"
### Description

File images\linux\ubuntu2204.pkr.hcl refers to an out of date SKU. For the selected image_offer of "0001-com-ubuntu-server-jammy", the only valid SKUs are pro-22_04-lts and pro-22_04-lts-gen2, as can be seen from the output of this command:

Get-AzVMImageSku -Location 'westus' -PublisherName  'canonical' -Offer '0001-com-ubuntu-pro-jammy' | Select Skus

### Platforms affected

- [

[2022-11-03 10:49] al-cheb commented on #6510
Hey @andrewvr99.
We don't see any issues with nightly Ubuntu22 builds.
[code]

[2022-11-03 10:49] #6510 closed

[2022-11-03 11:05] mikhailkoliada commented on #6509
Thanks, we will add it

[2022-11-03 13:53] ddobranic commented on #6399
@Josh-Osmanski yes, we are planning to add Firefox. thank you!

[2022-11-03 15:56] erik-bershel commented on #6331
Changes applied. The new image has been deployed.

[2022-11-03 16:03] to-s opened #6513 "ubuntu-latest in readme wrong"
### Breaking changes

22.04 is becoming the new _ubuntu-lastest_. Source: https://github.com/actions/runner-images/releases/tag/ubuntu22%2F20221027.1 // https://github.com/actions/runner-images/issues/6399

### Target date

Now

### The motivation for the changes

We already running into issue caused by using the _ubuntu-latest_ label.

### Possible impact

Apt is not able to install packages (e.g

[2022-11-03 16:09] mikhailkoliada commented on #6513
The migration is not yet done. we update readmes automatically.

[2022-11-03 16:09] #6513 closed

[2022-11-03 16:40] mgol commented on #6399
@ddobranic The original post mentioned a migration happening automatically between October, 3 & December, 1. We're in the middle of this period. If it's indeed happening, auto-migrated repositories doing Firefox testing may start seeing breakages since Firefox has not been added to the image yet. What's the plan around that?

[2022-11-03 18:49] JiayuanL opened #6514 "Powershell Install-Package ran into error "Unable to resolve package reference '' in ubuntu pool agent"
### Description

I have been using azure pipeline with vmImage: 'ubuntu-latest', and run "install-package" powershell, the exact same powershell working in my local ubuntu, but ran into error "Unable to resolve package reference '' in ubuntu pool agent. I checked the ubuntu version and powershell version, both are same, can you help what could be the issue and how should I resolve it?

### Platfor

[2022-11-03 20:52] andreujuanc commented on #6507
Please give top priority to this, we need to issue a patch on iOS ASAP

[2022-11-04 00:03] nima-ap commented on #6384
Try disabling xcpretty by setting `useXcpretty: false` under your `inputs` to the Xcode task and I believe you'll get to see a ton more logs that will hopefully help you figure out why it's failing.

[2022-11-04 08:03] al-cheb commented on #6514
Hey @JiayuanL
I can' t reproduce the issue:

[code]
![image](https://user-images.githubusercontent.com/47745270/199922654-fc379dd4-6d08-4053-a0b0-7b4dbd2837c7.png)

Could you provide package name?

[2022-11-04 08:08] al-cheb commented on #6507
Our recommendation is to use setup-python action - https://github.com/actions/setup-python

[2022-11-04 08:34] rmurphyaxa opened #6515 "az cli extension (bicep) does not persist to image after Packer build on Linux image"
### Description

Morning,
I patched the linux image to install the az bicep cli extension after the az cli was installed. The inline script installs the az bicep cli and then verifies it's existence.
{
  "execute_command": "sudo sh -c '{{ .Vars }} {{ .Path }}'",
  "inline": [
    "echo 3_azBicepInstall",
    "az bicep install",
    "az bicep version"
  ],
  "type": "shell"
},
---
This results in t

[2022-11-04 08:45] mikhailkoliada commented on #6331
Actually Large Runners are not updated it, lets preserve it open for a while

[2022-11-04 10:35] andreujuanc commented on #6507
Thanks @al-cheb team sends you a hug!
To the github team: I opened a ticket because we spent some minutes figuring this out and we would like us and everyone else on the platform to get reimbursed for this. Specially because MacOS minutes have a 10x multiplier.

[2022-11-04 10:37] markatky46 opened #6517 "Install-VS for Windows 2019 fails due to azcopy being unavailable"
### Description

My pipeline to build Windows 2019 images is failing each time at the same stage of the install-vs.ps1.

Provisioning with powershell script: /agent/_work/1/s/runner-images/images/win/scripts/Installers/Install-VS.ps1
    azure-arm: Downloading Bootstrapper ...
    azure-arm: Downloading package from: https://aka.ms/vs/16/release/vs_Enterprise.exe to path C:\Users\install\AppData\L

[2022-11-04 12:26] kxrob commented on #6473
Was also (miss-)guided here from https://github.com/actions/python-versions  :

( The link auto-translates to https://github.com/actions/runner-images )

That Readme link should perhaps be changed to https://github.com/actions/setup-python/issues

[2022-11-04 12:47] igorboskovic3 commented on #6517
Hey @markatky46 we will take a look

[2022-11-04 13:29] al-cheb commented on #6199
@stancho-stanchev , xcode 14.1 is available on macOS-12 - [Python One-Liners](https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md#xcode)

[2022-11-04 13:59] Brett-Best commented on #6199
What OS have you specified in the workflow?

[2022-11-04 17:32] JiayuanL commented on #6514
Thanks @al-cheb  for your reply, the powershell I am using is as below:
	$Pkg = Install-Package $File.Basename -Source $File.Directory -Destination $Target -Force -Confirm:$false
And the error I hit is:
![image](https://user-images.githubusercontent.com/49004334/200039471-c80d54d1-3f0a-4968-a9fb-67881cbe1b88.png)

[2022-11-04 17:56] hazem6767 commented on #6482
I need to send it to the wallet

[2022-11-04 22:26] childsc commented on #6517
We are getting the same issue. We believe this issue is somehow resulting from a Windows Update, possibly an update from this week. However, we are not 100% but it was working last week and the only change has been the Windows updates.

[2022-11-05 16:55] felipem1210 opened #6521 "Add super-linter docker image"
### Tool name

Super-linter

### Tool license

MIT license

### Add or update?

- [X] Add
- [ ] Update

### Desired version

slim-latest

### Approximate size

1.37GB

### Brief description of tool

The super-linter is a tool created by Github, it would be nice to have the docker image already included in the image of github runners, so we don't have to wait 1 minute of download of this docker ima

[2022-11-05 23:44] monamimani commented on #6376
Now that VCPKG_ROOT  is not defined anymore,

For people that use the installation that comes with the image how do you set VCPKG_ROOT  to  VCPKG_INSTALLATION_ROOT  in a cross-platform way without have a step for each platform that set just 1 variable.

[2022-11-06 10:23] sgloe commented on #6331
Wow. What a step backwards. It had made developer experience great, that it was working right out of the box. It is also very frustrating, that it came without any notice.

[2022-11-06 12:11] sgloe commented on #6331
What is the recommended migration way, when using Azure DevOps Pipelines?

[2022-11-06 16:09] BeagleJoe opened #6522 "Windows 2022 random SSL connection issues"
### Description

As of version '2.295.0', the Windows Server 2022 runner randomly fails to download source archive from sourceforge.net
This worked with 2.294.0.
Also works on Windows Server 2019 '2.295.0'
See also: https://github.com/actions/runner-images/issues/6145

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runn

[2022-11-06 17:57] vintagepc opened #6523 "Arbitrary MSYS2 Python failures on Windows builds"
### Description

I use MSYS2 to build Windows binaries of QEMU in my actions. Currently, I'm getting arbitrary python failures during the build process - sometimes the build works, and sometimes it fails despite there being no changes in the affected region.

Here is an example of a failed build:
https://github.com/vintagepc/MINI404/actions/runs/3404920110/jobs/5662636923#step:1:2

And this build

[2022-11-06 19:12] mikhailkoliada commented on #6331
@sgloe you can still add the repo's addition step to your pipeline and then install a php version of your choice

[2022-11-07 08:00] al-cheb commented on #6521
Hey @felipem1210.
Due to the container image size we decided not to add it on images.

[2022-11-07 08:00] #6521 closed

[2022-11-07 08:11] al-cheb commented on #6514
@JiayuanL, please attach a pkg archive that we can test it locally.

[2022-11-07 08:19] al-cheb commented on #6522
Hey @BeagleJoe.
Nothing we can do from our side with sourceforge.net.

[2022-11-07 08:19] #6522 closed

[2022-11-07 08:30] al-cheb commented on #6523
Hey @vintagepc.
We will take a look at it.

[2022-11-07 09:32] MikeMcC399 commented on #6399
@ddobranic

Could you update the Node.js entry in the table ^^?

The Node.js Active LTS version 18.12.0 is now cached in both [ubuntu-20.04](https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2004-Readme.md) and [ubuntu-22.04](https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md). The 16.x version has also been updated.

I think it should look lik

[2022-11-07 09:37] ddobranic commented on #6399
@MikeMcC399 thank you! updated.

[2022-11-07 09:48] halonsoluis commented on #6426
With the official release of Ventura (macos13) and Xcode 14.1 this gets even more important. Could we have an ETA and a bit of a push? This ticket has been open for almost a month now.

[2022-11-07 14:05] ddobranic commented on #6523
hello @vintagepc! in successful build log i can see checkout [step](https://github.com/vintagepc/MINI404/actions/runs/3404850675/jobs/5662389192#step:4:543) for  `114-fix-workflows` differs from checkout [step](https://github.com/vintagepc/MINI404/actions/runs/3404920110/jobs/5662636923#step:4:552) from unsuccessful build

[2022-11-07 15:46] sgloe commented on #6331
@mikhailkoliada Thanks, that's what we did now. Unfortunately, this increases build time by 90 seconds.

[2022-11-07 17:43] MehdiChinoune commented on #6523
I think this is related to https://github.com/msys2/MINGW-packages/issues/11864

[2022-11-07 21:06] brittandeyoung commented on #6517
It looks like the asset is just no longer available, did Microsoft take it down possibly?:

[code]

[2022-11-07 22:01] rajeevoncloud9 commented on #6517
getting the same error

[2022-11-07 22:08] mattjohnsonpint commented on #183
@sbates130272 - Unfortunately that's not quite true, because self-hosted runners are a security risk for public repos.
https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#self-hosted-runner-security

[2022-11-07 22:56] defunctl opened #6526 "Docker Compose container networking failing when logs show: `Hosted Agent (hosted)` vs `GitHub Actions 3 (hosted)`"
### Description

During our acceptance tests, curl commands time out when logs show:

[code]

The same jobs will succeed if the logs show:

[code]

I'm not sure what the difference is between these runners, but I can consistently see our actions fail when the logs show `Hosted Agent (hosted)` and pass when they show `GitHub Actions 3 (hosted)`

**Sample Failed Logs:**

[code]

**Sample Success Log

[2022-11-07 23:32] vintagepc commented on #6523
That's some interesting reading. Glad to hear it's not just me and others are also experiencing this problem in GA

[2022-11-08 01:54] varunsh-coder commented on #5934
Hi @erik-bershel, wanted to check if you have any update on this? Thanks!

[2022-11-08 07:51] ShootingKing-AM opened #6527 "Android emulator dosent startup on non 27 SDK level"
### Description

Android emulator dosent startup on non-27 emulator image level

Used the snippet here - https://github.com/actions/runner-images/issues/6152#issuecomment-1243718140

Test Run - https://github.com/ShootingKing-AM/aw-android/actions/runs/3416481978

Full Test Code - https://github.com/ShootingKing-AM/aw-android/actions/runs/3416481978/workflow

Can github actions be used for android

[2022-11-08 07:53] al-cheb commented on #6527
Duplicate https://github.com/actions/runner-images/issues/6369

[2022-11-08 07:53] #6527 closed

[2022-11-08 08:08] al-cheb commented on #6526
Hey @defunctl.
Could you please provide minimal steps to reproduce the issue?

[2022-11-08 10:14] erik-bershel commented on #5934
Hello, @varunsh-coder!
I am still working on it. Some result would be here until the end of the week I suppose.

[2022-11-08 13:10] EwoutH commented on #6509
With #6511 merged, does that mean GCC 12 is fully added?

[2022-11-08 13:16] markatky46 commented on #6517
@brittandeyoung it would appear so but that subcomponent is still cited as available by Microsoft so unsure why it would have been removed.

[2022-11-08 13:16] markatky46 commented on #6517
Sorry slipped and clicked the wrong button!

[2022-11-08 13:19] desek commented on #6517
A workaround to complete the image build is to remove the AzCopy component from the VS installer at https://github.com/actions/runner-images/blob/main/images/win/toolsets/toolset-2019.json#L304

It's easy to install azcopy in the workflow until this is fixed.

[2022-11-08 13:20] brittandeyoung commented on #6517
There is an open issue here on the developer community that I have been trying to get information on. I am not sure where the proper location is to report this to Microsoft as being gone.

https://developercommunity.visualstudio.com/t/PackageId:MicrosoftAzureStorageAzCopy/10188273?f=&type=question+OR+problem&type=question+OR+problem&c=&redirect=search%2Fsearch&sort=relevance&utm_source=vssetup&utm

[2022-11-08 13:23] markatky46 commented on #6517
@brittandeyoung i have commented on that article also now.

[2022-11-08 13:46] EwoutH commented on #6509
That should happen within a week or so right?

[2022-11-08 15:51] defunctl commented on #6526
@al-cheb Yes, I'll provide a better test case, may have to do with creating a docker network first.

Is there some way I can force the `Hosted Agent (hosted)` ?

[2022-11-08 16:01] kopax-polyconseil commented on #1336
Hello, we are stuck trying to run iOS-Simulateur with appium end 2 end test using this runner. Did anyone succeed ?

I am able only using a self hosted runner, any hint can be appreciated!

[2022-11-08 16:18] defunctl commented on #6526
@al-cheb under the hood, what is the difference between those two agents? Are there docs or anything I can check out to learn more?

It was the only difference I found between failing jobs, but I'll put together a repo to try to reproduce it in isolation.

[2022-11-08 16:25] defunctl commented on #6526
Safe to say that `Hosted Agent (hosted)` agent vs `GitHub Actions 3 (hosted)` are on different infrastructure?

[2022-11-08 20:34] azchohfi opened #6531 "Update Visual Studio 2022 to 17.4"
### Tool name

Visual Studio 2022

### Tool license

https://visualstudio.microsoft.com/license-terms/vs2022-ga-proenterprise/

### Add or update?

- [ ] Add
- [X] Update

### Desired version

17.4

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No r

[2022-11-09 01:51] SNMetamorph commented on #6407
@al-cheb so I just should use command `sudo apt install -y --allow-downgrades libpcre2-8-0=10.34-7` and it will work as it should?

[2022-11-09 02:02] taozuhong opened #6532 "Add Windows ARM64 support"
### Tool name

Windows-ARM64

### Tool license

Microsoft

### Add or update?

- [X] Add
- [ ] Update

### Desired version

latest

### Approximate size

_No response_

### Brief description of tool

_No response_

### URL for tool's homepage

_No response_

### Provide a basic test case to validate the tool's functionality.

_No response_

### Platforms where you need the tool

- [X] Azure DevOps

[2022-11-09 02:41] ldsenow commented on #6531
really look forward to it! What is the ETA BTW?

[2022-11-09 06:00] mikhailkoliada commented on #6531
@ldsenow ending of the next week

[2022-11-09 07:20] MikeMcC399 commented on #6482
If Node.js 12 is removed from the images will this stop actions relying on Node.js 12 from working or will they still have access to Node.js 12?

See https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#runsusing which says:

`runs.using`

Required The runtime used to execute the code specified in [main](https://docs.github.com/en/actions/creating-actions/metadata

[2022-11-09 07:35] mikhailkoliada commented on #6509
@EwoutH yes

[2022-11-09 07:39] mikhailkoliada commented on #6482
@MikeMcC399 no, both tasks still will download a version you specify if it is listed in the [versions-manifest.json](https://github.com/actions/node-versions/blob/main/versions-manifest.json) file as stated in the mitigation section.

[2022-11-09 07:49] al-cheb commented on #6532
Duplicate https://github.com/actions/runner-images/issues/6532

[2022-11-09 07:49] #6532 closed

[2022-11-09 08:32] MikeMcC399 commented on #6482
@mikhailkoliada

Thanks for the confirmation! I wasn't sure, since `runs.using` wasn't explicitly mentioned in "Mitigation ways" in the original post.

[2022-11-09 09:36] #6514 closed

[2022-11-09 10:27] IGR2014 opened #6533 "Update/Add Clang 15.0.0+"
### Tool name

Clang

### Tool license

Apache License v2.0 with LLVM Exceptions

### Add or update?

- [X] Add
- [X] Update

### Desired version

15.0.0+

### Approximate size

676 MB

### Brief description of tool

C-like languages use the [Clang](http://clang.llvm.org/) frontend. This component compiles C, C++, Objective-C, and Objective-C++ code into LLVM bitcode -- and from there into object

[2022-11-09 12:23] al-cheb commented on #6533
Hey @IGR2014.
clang-15 is not available in Ubuntu 22.04 repos - https://packages.ubuntu.com/search?keywords=clang-15

[2022-11-09 12:23] #6533 closed

[2022-11-09 12:51] IGR2014 commented on #6533
Oh, so only 22.04 official packages for 22.04 ?
Thanks, got it...

[2022-11-09 15:47] ewanden0 commented on #5656
Hi friends,
I have tried the same workaround and it didn't work either.

[2022-11-09 15:53] ilya-scale opened #6539 "Update/Add .Net 7 SDK (Released today)"
### Tool name

.Net SDK

### Tool license

None

### Add or update?

- [ ] Add
- [X] Update

### Desired version

7

### Approximate size

_No response_

### Brief description of tool

.Net 7 SDK just came out and it would be nice to have it by default in the runner images and not to pull it

### URL for tool's homepage

https://devblogs.microsoft.com/dotnet/announcing-dotnet-7/

### Provide a bas

[2022-11-09 18:59] VOvchinnikov commented on #1336
Our pure python build takes ~15 minutes to run on `ubuntu-latest` runner, but 30+ minutes on `macos-latest` runner - it would be nice if the issue was actually re-opened as not solved.

[2022-11-09 19:50] mattjohnsonpint commented on #6539
Per the [Software and Image Support Policy](https://github.com/actions/runner-images/blob/main/README.md#software-and-image-support):

| Tool name | Installation strategy |
|-----------|-----------------------|
| .NET Core | 2 latest LTS versions and 1 latest version. For each feature version only latest patch is installed |

Presently, at least according to the image ReadMe files, we have:

| Ima

[2022-11-09 20:53] mikhailkoliada commented on #6539
thanks, we will add 7 soon

[2022-11-09 23:05] charmipatalia commented on #6384
Hello @nima-ap , Thanks for your guide. Now I am able to see more logs of failure and trying to fix the issue.

[2022-11-10 06:57] sommmen commented on #6539
Can you ballpark when this will happen? next week, next month?

[2022-11-10 14:12] markatky46 commented on #6517
Thanks @al-cheb

[2022-11-10 14:48] sidekick-eimantas opened #6547 "Macos runner intermittent performance issues"
### Description

Hi

Either the network or disk is shot on macos runners, intermittently. See screenshots.

Control (ubuntu-22.04):
<img width="1332" alt="image" src="https://user-images.githubusercontent.com/111279287/201122171-be65f456-7893-42f1-aa30-3782a42399ea.png">
<img width="1330" alt="image" src="https://user-images.githubusercontent.com/111279287/201122221-83b66792-73d4-49fc-8754-7993dea

[2022-11-10 14:51] al-cheb commented on #6547
Duplicate https://github.com/actions/runner-images/issues/6547

[2022-11-10 14:51] #6547 closed

[2022-11-10 15:27] defunctl commented on #6526
Apologies, things got really busy. Please give me a few days.

[2022-11-10 16:11] jeeb commented on #6459
Seems like this or some other recent update has caused something similar to #2322 to happen again, except with python3.11's `2to3-3.11`. We are installing the `meson` build tool via homebrew, and homebrew decides it needs to update to Python 3.11, and then loudly fails when it cannot symlink `/usr/local/bin/2to3-3.11`.

[code]

Can anyone else confirm?

[2022-11-10 17:03] al-cheb commented on #6431
@manitua, @conradj3 , @fady-azmy-msft - the new image version has been published. I have reverted image_version in this https://github.com/actions/runner-images/pull/6545 PR.

[2022-11-10 18:48] edwardskrod commented on #1794
I just ran into this same issue, thinking I could use "${{ env:GITHUB_WORKSPACE }}"

[2022-11-10 19:01] mrk-han commented on #6152
With the latest android emulator on macOS, HAXM is actually not needed because it defaults to the native macOS hypervisor. See: [here](https://developer.android.com/studio/run/emulator-acceleration#vm-mac)

[2022-11-10 19:01] mrk-han commented on #6152
Trying to install HAXM adds a pop-up about kernel extensions that further blocks tests from running.

[2022-11-10 19:44] al-cheb commented on #6517
@brittandeyoung, https://az837173.vo.msecnd.net/azcopy-6-2-0/MicrosoftAzureStorageTools.msi should be restored.

[2022-11-10 20:03] eli-schwartz commented on #6459
I've already seen this problem for the past week in Meson's own CI, but for homebrew python3 -> python@3.10, so my attempted solution was to --overwrite after `brew upgrade && brew install python3`.

As it happens to turn out, python3 from homebrew is already installed in the base image -- brew just skips it after observing it's already there -- but as described in https://github.com/Homebrew/disc

[2022-11-10 20:06] al-cheb commented on #6473
https://github.com/actions/setup-python/issues/514#issuecomment-1308580602
Python 3.12.0-alpha.1 is now available!

[2022-11-10 20:06] #6473 closed

[2022-11-10 21:42] Xiphoseer commented on #6145
Could this be related to https://gitlab.kitware.com/cmake/cmake/-/issues/24093? We were hitting a libcurl error 35 `SSL connect error` in a runner for the last ~2 months (not before and it seems to be inconsistent now).  That issue is specific to CMake on libcurl with nghttp2 on SChannel so difficult to hit otherwise.

[2022-11-11 07:17] reegeek commented on #5794
Hi,
I have the same error.

The issue is that we cannot run net50 **x86** test with the latest image.

On my project:
this [run](https://github.com/reegeek/StructLinq/actions/runs/3181478586/jobs/5186282072) worked with image version 20220925.1
And not working on this [run](https://github.com/reegeek/StructLinq/actions/runs/3441318752/jobs/5740724005) with image version 20221027.1

[2022-11-11 08:05] reegeek commented on #5794
In fact, when a runtime is integrate to a image, x64 and x86 version are installed.

With dotnet-setup you cannot specify x86.
actions/setup-dotnet#72

[2022-11-11 11:21] markatky46 commented on #6517
Will you be restoring the feature now? @al-cheb

[2022-11-11 11:27] al-cheb commented on #6517
Yep, it was reverted in this https://github.com/actions/runner-images/pull/6548 PR.

[2022-11-11 11:28] markatky46 commented on #6517
Thanks so much @al-cheb

[2022-11-11 11:56] matskiv commented on #6384
According to [macos-12 Readme](https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md) the Helm tool is not included, but it was included in macos-11. It is not listed in the "Possible impact" table in this issue.

[2022-11-11 12:23] Talalgmel commented on #6504
---------- Forwarded message ---------
From: Talal Gmel ***@***.***>
Date: Fri, 11 Nov 2022, 3:09 pm
Subject: Re: [actions/runner-images] [macOS] remove node12 and sync nvm18
(PR #6553)
To: actions/runner-images <
***@***.***>

S

On Fri, 11 Nov 2022, 3:08 pm Mikhail Koliada, ***@***.***>
wrote:

[2022-11-11 14:16] Maxl94 commented on #5656
Me too, on different machines.

[2022-11-11 16:39] user-muthu opened #6554 "Add Serverless tool to ubuntu image"
### Tool name

serverless

### Tool license

open source

### Add or update?

- [X] Add
- [ ] Update

### Desired version

whatever is latest

### Approximate size

_No response_

### Brief description of tool

To use aws serverless deployments we need serverless tool to be used in images inside Github actions.

### URL for tool's homepage

_No response_

### Provide a basic test case to validate

[2022-11-11 16:58] al-cheb commented on #6554
Hey @user-muthu.
We are not going to add serverless due to lack of free space on images and maintenance concerns.

Install in runtime:
[code]
![image](https://user-images.githubusercontent.com/47745270/201390825-46854488-b6ad-4b3f-8997-29e1fa60e73c.png)

or use Github Action for Serverless task - https://github.com/marketplace/actions/serverless

[2022-11-11 16:58] #6554 closed

[2022-11-11 19:05] mikhailkoliada commented on #6539
@sommmen next week

[2022-11-12 02:28] BeagleJoe commented on #6145
@ Xiphoseer,
Could be, but this works fine on Windows Server 2019 with CMake.

[2022-11-12 02:30] BeagleJoe commented on #6522
Hi @al-cheb. Works on Windows 2019, so probably not sourceforge.net problem.
See also https://github.com/actions/runner-images/issues/6145#issuecomment-1310940347

[2022-11-12 15:04] patrickcavli opened #6558 "Docker build failed with exit code 243"
### Description

Tried building an Angular App with v13.0.0 but exited while installing npm and related dependencies. Tried clearing the cache, rewriting the workflow with uninstalling the npm version., but still the error persists.

**Please check the below log**

[code]

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

###

[2022-11-12 15:37] al-cheb commented on #6558
Hey @patrickcavli.

You should remove sudo:
[code]
![image](https://user-images.githubusercontent.com/47745270/201481800-624d65a6-66db-477a-8c2d-8ead4def8d35.png)

[2022-11-12 15:37] #6558 closed

[2022-11-13 17:06] kleisauke commented on #6496
Is this a duplicate of issue #6507, which was fixed with commit f6632ff53b24db9705c5b15bf90dbf05cc3fe295 (but not deployed at the time of writing)? If so, the workaround in comment https://github.com/actions/runner-images/issues/6507#issuecomment-1301636292 or waiting until the new macOS images are deployed would also fix this. :sweat_smile:

[2022-11-13 18:01] ofek opened #6561 "The first command invocation on Windows is extraordinarily slow"
### Description

Between 8-25s to run a help command

Note:

- `bash` is faster but still affected, `powershell` is fastest
- Rust-compiled tools like Cargo and Rustup are _significantly_ slower than Git or Python

### Platforms affected

- [ ] Azure DevOps
- [X] GitHub Actions - Standard Runners
- [ ] GitHub Actions - Larger Runners

### Runner images affected

- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.

[2022-11-13 18:46] eli-schwartz commented on #6459
We're now hitting immediate `brew install` failures in Meson CI too, because homebrew LLVM has been rebuilt to depend on `python@3.11`.

[2022-11-14 08:26] erik-bershel commented on #6561
Hello @ofek,
We'll take a look at it.

[2022-11-14 09:25] wisnhusurya commented on #6036
Any update regarding this issue?

[2022-11-14 09:58] devmittalciv16 opened #6565 "Startup script is not running when gcp instance comes up"
### Description

I'm creating a custom image using a base image of windows-2019. I'm using the `images/win/windows2019.json` script to run the installations on a GCP instance. Once the image is created and I create a vm with it, The startup script isn't running.
Although with the base image, it's working fine.
Through trial and error, I found out that After I remove Finalize-VM.ps1 step and follow

[2022-11-14 10:25] mikhailkoliada commented on #6565
We support only azure as a primary building platform, other cloud providers are out of our scope.

[2022-11-14 10:25] #6565 closed

[2022-11-14 17:32] mattjohnsonpint commented on #6539
Just to mention for those that need .NET 7 and can't wait, you can still install it manually via:

[code]

Having it pre-installed is still important, as it speeds up build times and reduces network traffic.