[2020-04-27 07:24] #658 closed

[2020-04-27 07:25] maxim-lobanov commented on #645
@jared-w , it is on the our backlog but we don't have updates or ETA for now.

[2020-04-27 07:53] miketimofeev commented on #692
@FrancescElies we've deployed the image with the fix. Could you please check the behavior?

[2020-04-27 07:54] miketimofeev commented on #691
@ThadHouse we've deployed the image with the fix. Could you please check the behavior?

[2020-04-27 08:25] miketimofeev commented on #605
The very latest visual studio still has the same issue, waiting for release with the fix.

[2020-04-27 08:27] miketimofeev commented on #629
@ralucapredacegeka I'm going to close the issue, but feel free to reopen if you have any concerns.
Thank you!

[2020-04-27 08:27] #629 closed

[2020-04-27 08:54] simonsan opened #786 "Update Python 3.x installation flags"
**Tool information**
- Tool name: Python 3.x (Debug/Development)
- Add or update? Update/Add
- Desired version: Development, Debug
- Approximate size:
- If this is an add request:
  - Brief description of tool: Python is an interpreted, high-level, general-purpose programming language.
  - URL for tool's homepage: https://www.python.org/

**Area for Triage**:
Python, Packages

**Question, Bug, or

[2020-04-27 10:18] maxim-lobanov commented on #786
Hello @simonsan ,
Currently, we install Python with default flags (just override installation dir): https://docs.python.org/3/using/windows.html#installing-without-ui

Am I right, that you request is just enabling `Include_debug` to 1. Other flags looks like already enabled

[2020-04-27 10:37] simonsan commented on #786
Indeed, only changes would be:
`Include_debug=1`
`CompileAll=1`

[2020-04-27 10:45] maxim-lobanov commented on #708
сс @alepauly to take a look and approve for work when you have a chance

[2020-04-27 11:08] #13 closed

[2020-04-27 11:28] maxim-lobanov commented on #759
Tool can be installed in runtime:
[code]

[2020-04-27 11:29] #15 closed

[2020-04-27 11:33] maxim-lobanov commented on #42
Hello!
We are working to add one more caching level for setup-node task to improve stability. We will update issue if we have updates

[2020-04-27 11:41] dibir-magomedsaygitov commented on #13
AWS CLI has been successfully added to macOS and to win16 and win19. Feel free to contact if you have any issues.

[2020-04-27 11:42] maxim-lobanov commented on #744
Tool can be installed in runtime via the following code (installation takes about 30 seconds):
[code]

[2020-04-27 11:49] dibir-magomedsaygitov commented on #739
Documentation has been successfully updated. Changes were merged and will be delivered to all VMs in a week.

[2020-04-27 11:52] nikita-bykov commented on #15
All changes were successfully deployed.

[2020-04-27 11:54] nikita-bykov commented on #237
All changes were successfully deployed.

[2020-04-27 11:54] #237 closed

[2020-04-27 12:58] FrancescElies commented on #692
Thanks for the update, we will do that soon, I'll report back

[2020-04-27 13:09] KrispyX commented on #702
Hi.  Is there any eta on when this might be implemented?  I only ask because a similar request https://github.com/actions/virtual-environments/issues/484 appeared to be resolved within a few days.  Thanks in advance,

[2020-04-27 13:14] maxim-lobanov commented on #702
@KrispyX , it is on our backlog but no ETA for now. We will update the issue as soon as it is implemented.

[2020-04-27 13:45] nehsharmMS opened #788 "Microsoft hosted agent shows ProcessTelemetry window preventing UI tests to work correctly"
Microsoft hosted agent shows ProcessTelemetry window preventing UI tests to work correctly

**Question, Bug, or Feature?**: Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [x] Windows Server 2019

**Expected behavior**
Note : Creating this issue on customer's behalf. Refer  [Dev Community Issue].(https://develope

[2020-04-27 14:19] al-cheb commented on #785
Hello, @38leinaD
I can reproduce the issue. It's very difficult to change from our side. Could you please use a workaround and change pagesize at runtime?

[code]
![pagesize - Copy](https://user-images.githubusercontent.com/47745270/80382689-3ea4e300-88ab-11ea-85ea-8c1dfa4a9532.JPG)

[2020-04-27 16:30] 38leinaD commented on #785
Awesome! This works. I was under the impression that the pagefile size cannot be changed without a restart of the system.
What is the recommendation going forward? Is it safe to rely on the WebRequest to download this file (what is this tool anyway?) and will it be there the forseeable future?

[2020-04-27 16:49] jared-w commented on #645
Thanks! Would a PR help speed up the process? (I'd imagine probably not because the mac builder code doesn't seem to be in the repo?); this isn't blocking any work I have either way, but I know many projects would benefit from it.

[2020-04-27 16:55] rbellamy commented on #564
@Sispheor I've been working on something similar - and almost have a build that will target both Docker and AWS. Then there's https://github.com/nektos/act which uses a Docker image he created by hand-crafting something from this repo. That can be found at https://github.com/nektos/act-environments.

[2020-04-27 16:56] rbellamy commented on #564
One open question I have that fits into this discussion is: what user is used to run the provisioning scripts on Linux? It's clear from the scripts that the user is NOT root, yet I find no indication of what user that might be, or how packer is configured to use that user.

[2020-04-27 17:02] rbellamy commented on #564
I mispoke. _**SOME**_ of the provisioning scripts use `sudo` and others don't - making it unclear how a non-root user is supposed to run `java-tools.sh` for instance, while numerous other scripts DO use `sudo`.

[code]

[2020-04-27 17:54] wulfland commented on #628
Hi @al-cheb
Works perfectly! Thanks for the help!

[2020-04-27 17:55] #628 closed

[2020-04-27 21:20] SerVB opened #810 "Python 2.7.7"
Hi. Please add Python 2.7.7 support.

Follow-up of https://github.com/actions/setup-python/pull/82#issuecomment-619853247.

[2020-04-27 23:23] rbellamy opened #790 "Is the backup of /etc/environment to /etc/environmente deliberate?"
**Describe the bug**
Within `etc-environment.sh` there is the following `sed` command:
https://github.com/actions/virtual-environments/blob/master/images/linux/scripts/helpers/etc-environment.sh#L29

[code]

The `-ie` has the effect of backing up the file with an `e` suffix. Was this deliberate?

[code]

**Area for Triage**:
Deployments/Release

**Question, Bug, or Feature?**:
Question

**Virtual

[2020-04-28 00:07] alepauly commented on #781
I think this should be implemented as an Action instead of baking into the image. See #365 and #473. Thanks for suggesting @tamalsaha

[2020-04-28 00:08] #781 closed

[2020-04-28 02:36] vmapetr commented on #320
Hi @phozzy! Deployment is on the way, your changes should be available within a week. Unfortunately, we're noticed small issue with single quotes in your PR:
[code]
Podman, Buildah and Skopeo versions will be added in readme as
`Podman (podman --version) Buildah (buildah --version) Skopeo (skopeo --version)`,
instead of actual versions.
Could you please submit a fix?

[2020-04-28 08:24] Woofenator commented on #765
Little bit of progress: No matter how I set the environment variables, the issue persists on my private repo and I cannot reproduce it on the public repo. I did try to check if docker is running, and, lo and behold, it is:
![image](https://user-images.githubusercontent.com/7696606/80464646-c7229280-8942-11ea-873d-66c4ef91cdff.png)

It's just docker-compose that cannot see the docker daemon on the

[2020-04-28 08:43] konradpabjan commented on #786
In terms of compatibility there shouldn't be a problem. The biggest concern that I have is regards to the new size.

Locally I tested with Python 3.8 and a standard installation would report `Size: 120MB` and `Size on Disk: 137MB`. After updating the installation with the debug binaries and with the compile all option, it jumped up to `Size: 221MB` and `Size on Disk: 246 MB`

Updating the installa

[2020-04-28 08:50] andy-mishechkin commented on #690
Hello!
Moby-buildx has been added to Ubuntu 16/18 images, and has been tested.
Now we are waiting the deployment of these images with moby-buildx.
If you'll detect some issues with moby-buildx working - please inform us about it

[2020-04-28 08:53] Woofenator commented on #765
Another thing: I have two workflows with exactly the same definitions. The only differences are the `on` setting (on `branches.staging` & on `branches.workflow_1.0.0`) and their names. The one on the staging branch works just fine, the one on the workflow branch doesn't

[2020-04-28 09:51] phozzy commented on #320
ok. I'll fix that. Should I create a new PR?

[2020-04-28 09:54] galaxy4public commented on #762
Just in case somebody stumbles on this thread, the following command in the above comments does not seem right:
[code]

[2020-04-28 10:04] al-cheb commented on #762
@galaxy4public, Just for example:
[code]
Find a parameter $1:
[code]

As you can see $1 is the first argument

[2020-04-28 10:21] simonsan commented on #786
@konradpabjan I don't have any problems on Linux as and Mac as they both have Package Managers that where I can add these easily.

It's as easy as:
`apt-get install python3-dev`

But I understand the size issue. What about having just the newest Python version of each Minor version (3.7x, 3.8.x) with these libraries to deal with this problem. That would be just two installations not all 3.x.

[2020-04-28 10:35] simonsan commented on #786
For others, that probably need it and don't want to work around, this I do currently to get the Debug version for development with a `-DPYTHON_DIR` flag for CMake to ship around the Python in `PATH`.

I as well opened an issue in actions/setup-python#86 because I think it would be also fine, if the the debug versions (let's really just say of the last two newest major versions, 3.7x/3.8.x) could b

[2020-04-28 10:44] galaxy4public commented on #762
Well, I trust that on your system it works like you showcased, however [Ubuntu's man page](http://manpages.ubuntu.com/manpages/focal/man8/locale-gen.8.html) does not mention such a behaviour and other distros do not follow it too (e.g. on Archlinux the script is pretty simple and does not respect any arguments to `locale-gen`)

[2020-04-28 11:43] maxim-lobanov commented on #320
@phozzy , yes, please.
Also I suggest to split invocation of doc function:
[code]
->
[code]
So it will look better at logs

[2020-04-28 12:05] konradpabjan commented on #786
400+ MB, not GB, my bad. (`246MB - 137MB = 109MB`) We have 3.5, 3.6, 3,7 and 3.8 on each image so updating the flags for each would be `109 * 4` would be just over 436MB. Including both (x86 and x64) we would get around 872MB.

We have to be very careful and considerate in terms of what goes on the image because there is a limited amount of storage. Some recent issues have come up with not enough

[2020-04-28 12:24] maxim-lobanov commented on #687
@MonkeyBreaker thank you for your suggestion!
We are planning to add some troubleshooting page for our images to describe such cases. We will add this point there as soon as it is ready.

I am closing this issue for now. Feel free to ping if you have any questions

[2020-04-28 12:24] #687 closed

[2020-04-28 12:29] dibir-magomedsaygitov commented on #616
SSDT for SSDT to 15.9.4 for vs2017-win2016 has been successfully updated. All changes are delivered to VMs. Feel free to contact if you have any issues.

[2020-04-28 12:29] #616 closed

[2020-04-28 12:42] alepauly commented on #786
thanks @simonsan for the suggestion and @konradpabjan for the investigation! I agree that this seems something that should be handled in https:/ which can probably be taught to serve debug versions as needed. @simonsan feel free to create an issue/PR there.

[2020-04-28 12:42] #786 closed

[2020-04-28 12:44] alepauly commented on #771
@p-smirnov can you help us understand what kind of workflows would benefit from having this built into the image?

[2020-04-28 12:47] alepauly commented on #768
Hi @joaomoreno, unfortunately not at this time. Adding extra environments currently affects overall capacity and how we can serve the existing environments. If that changes in the future we'll definitely consider it. Have you looked into setting up your own [self-hosted runner](https://help.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners)?

[2020-04-28 12:47] #768 closed

[2020-04-28 12:49] joaomoreno commented on #768
@alepauly Windows ARM64 doesn't seem to be a supported platform for self-hosted runners, or am I missing something?

[2020-04-28 12:58] maxim-lobanov commented on #587
Changes were delivered and available on Windows 2019 image. Please let me know if you have any issues with it

[2020-04-28 12:58] #587 closed

[2020-04-28 13:00] maxim-lobanov commented on #597
Change-log was updated. Closing the issue

[2020-04-28 13:00] #597 closed

[2020-04-28 13:01] maxim-lobanov commented on #641
Change-log was updated

[2020-04-28 13:01] #641 closed

[2020-04-28 13:02] maxim-lobanov commented on #600
Changes should be delivered to all images. Thank you for contribution.
Please let me know if something works incorrectly

[2020-04-28 13:02] #600 closed

[2020-04-28 13:04] maxim-lobanov commented on #128
Hello @kudaba , we have tweaked VS a bit.
Could you check one more time?

[2020-04-28 13:56] mauro3005 commented on #777
Hello @AlenaSviridenko i'm still having the issue :
MTOUCH : warning MT0079: The recommended Xcode version for Xamarin.iOS 13.16.0 is Xcode 11.4 or later. The current Xcode version (found in /Applications/Xcode.app/Contents/Developer) is 11.3.1.

I tried using a console job and pasted the exact line you reference  sudo xcode-select -s "/Applications/Xcode_11.4.1.app" also tried without the ""

I t

[2020-04-28 14:13] raido commented on #98
I'll try to setup blank Ember.js app with Github Actions for repro.

[2020-04-28 14:18] AlenaSviridenko commented on #777
Hi @mauro3005! Could you please share the log of `sudo xcode-select -s "/Applications/Xcode_11.4.1.app"` command?

[2020-04-28 14:22] alepauly commented on #176
Hi @jemag, the legal issues are due to the software included in the image and in part the reason why the docker hub image is not updated any longer.

[2020-04-28 14:23] alepauly commented on #783
Hi @nreddipalle, you might be interested in this: https://github.com/actions/virtual-environments/issues/196. This has been tried in the past with mixed results.

[2020-04-28 14:24] alepauly commented on #196
Hi, @daniela-waranie. At this time this is not a feature we plan to support.

[2020-04-28 14:44] mauro3005 commented on #777
2020-04-28T13:47:08.7694060Z ##[debug]Evaluating condition for step: 'Select Xcode 11.4'
2020-04-28T13:47:08.7695990Z ##[debug]Evaluating: succeeded()
2020-04-28T13:47:08.7696570Z ##[debug]Evaluating succeeded:
2020-04-28T13:47:08.7697820Z ##[debug]=> True
2020-04-28T13:47:08.7698540Z ##[debug]Result: True
2020-04-28T13:47:08.7699330Z ##[section]Starting: Select Xcode 11.4
2020-04-28T13:47:08.7707

[2020-04-28 14:46] jvalley19 opened #794 "Issue building a docker container with ubuntu. Was working until Apr 21"
**Describe the bug**
I had a github action that build an ubuntu docker container. This container installed powershell and used ubuntu latest. It is now failing with no edits to the dockerfile. I can run the dockerfile locally just fine. Were there any breaking changes in the last week that could have effected the powershell install?
![Annotation 2020-04-28 104517](https://user-images.githubusercon

[2020-04-28 14:47] maxim-lobanov commented on #736
Hello, Just a quick update, issue can come from bug on our backend. We are still looking at it.

[2020-04-28 14:58] nreddipalle commented on #783
Thanks @alepauly . I will take a look.

[2020-04-28 15:09] joshmgross commented on #427
👋 Hey @maxim-lobanov, do you have any updates on this?

https://github.com/actions/cache/issues/280 reported this with Gradle on macOS

[2020-04-28 15:11] AlenaSviridenko commented on #777
Oh, for Xamarin usage please, also use this command before changing the default Xcode
[code]
Here the page for reference about it: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#xamarin

[2020-04-28 15:12] maxim-lobanov commented on #427
@joshmgross , new macOS image with fix should be deployed this week

[2020-04-28 15:22] JavierSegoviaCordoba commented on #643
I uploaded the android block to include a version of NDK, but if every time GitHub updates the OS I will get:

[code]

I think GitHub should add 20.0.5594570 because AGP 4.1 can take at least 6 months to be released.

[2020-04-28 15:46] alepauly commented on #768
Hi @joaomoreno, you aren't missing anything, my bad. I wasn't looking at the Windows part of your request and was thinking the runner could run on ARM64 but that's not true on Windows. Until DotNet Core doesn't run there, we probably won't be able to support it.

[2020-04-28 16:21] joaomoreno commented on #768
Relevant: https://github.com/dotnet/winforms/issues/2053#issuecomment-540269844

[2020-04-28 16:21] alepauly commented on #764
Hi @johanneskares, we won't be able to bake this into the images at this time. Have you looked into creating an Action that simplifies install during workflows?

[2020-04-28 16:21] #764 closed

[2020-04-28 16:50] alepauly commented on #744
Hi @martmists, considering that it's fairly easy to install on runtime we won't be baking this into the image at this time. Depending on popularity and interest we might reconsider later. Thanks for the suggestion.

[2020-04-28 16:50] #744 closed

[2020-04-28 16:59] alepauly commented on #729
@HenrikBacher this should be doable during your workflow (passwordless sudo is enabled) so we won't add it to the image at this time.

[2020-04-28 16:59] #729 closed

[2020-04-28 17:01] alepauly commented on #710
thanks @dtinth, I don't think this is something we should bake into the runners at this time. To make install during workflows easier you could create an Action that runs the install steps that @C0retek documented (thanks for those!)

[2020-04-28 17:01] #710 closed

[2020-04-28 17:06] alepauly commented on #595
Since switching to latest LTS as default is a breaking change for many workflows and builds we won't do it until we have support and adoption from the ecosystem (e.g. `setup-java`) and can minimize disruption to existing builds. The work to improve `setup-java` is in transit, so I'll leave this open until we can get back to it.

[2020-04-28 17:07] alepauly commented on #195
Hi @allexzander, we briefly looked into it and considering the size of the component and maintenance concerns, we won't be baking it into the image at this time.

[2020-04-28 17:07] #195 closed

[2020-04-28 17:08] alepauly commented on #115
@rpsu looks like Docker licensing doesn't actually allow us to put this in the hosted images so we won't be adding it at this time. Thanks for the suggestion!

[2020-04-28 17:08] #115 closed

[2020-04-28 17:10] alepauly commented on #35
Closing for now, @d1gress please reopen if you still need this and can help us understand the context. Thanks!

[2020-04-28 17:10] #35 closed

[2020-04-28 18:01] alepauly commented on #788
Hi @nehsharmMS, from what we can tell this is not a recent regression, but regardless I don't think we can make guarantees of certain UI interactions during the jobs that run on the hosted agents so there's really nothing to fix sustainably here. I think in this case the best would be for the tests to be resilient to the environment, meaning they should either minimize all existing Windows or be a

[2020-04-28 18:01] #788 closed

[2020-04-28 18:11] mauro3005 commented on #777
Yay that did it! Thanks @AlenaSviridenko

[2020-04-28 18:35] #794 closed

[2020-04-28 18:41] barrett777 commented on #788
It's a bit frustrating to me that the docs lead me to believe Microsoft hosted agents are ready for UI tests, yet this issue is dismissed so quickly

https://docs.microsoft.com/en-us/azure/devops/pipelines/test/ui-testing-considerations?view=azure-devops&tabs=mstest

For myself who is somewhat new to Azure devops, it took me several hours to get screenshots of the UI tests so I could finally figur

[2020-04-28 20:26] sjackman opened #797 "Add rustfmt once again [regression]"
Today's update to `ubuntu-18.04` appears to have removed `rustfmt`, which was present in previous releases.

**Tool information**
- Tool name: rustfmt
- Tool license: Apache License
- Add or update? Add once again
- Desired version: 1.4.12
- Approximate size: ?
- If this is an add request:
  - Brief description of tool: Format Rust code
  - URL for tool's homepage: https://github.com/rust-lang/rus

[2020-04-28 20:49] mikeharder opened #798 "Ubuntu 18.04 unable to resolve cognitiveservices DNS names"
**Describe the bug**
Ubuntu 18.04 is unable to resolve `*.cognitiveservices.azure.com` DNS names by default.  As a workaround, we are bypassing the local (stub) DNS server using the following command:

[code]

This may be related to https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1822416 and/or https://github.com/actions/virtual-environments/issues/397.

**Area for Triage**:
Servers

**Ques

[2020-04-28 21:53] kudaba commented on #128
Sure: 4 builds had the following timings in seconds between the first and second executions of visual studio:
First|Second
-|-
60|8
114|6
87|9
68|7

It's a small sample set but seems to be heading in the right direction.

[2020-04-28 23:05] PraveenKalavai commented on #659
@al-cheb @maxim-lobanov
I tried to compare the build log of a successful build with the build log of a failed build.
The build log always fails after the step 'applied active configuration to 'Project.params'"
The next step in the build should be to apply the active configuration to each package. So the steps to build the packages were failing.

![image](https://user-images.githubusercontent.com/3

[2020-04-29 05:04] rpsu commented on #115
@alepauly okay, I see. I think I can manage with the Virtualbox providing the VM. I do have some difficulties with bash variables (seemingly not working as they do in desktop), can you point me to someone or some docs how to play with them in macos VM?

[2020-04-29 05:17] maxim-lobanov commented on #115
@rpsu , Am I right that you need some docs about configuring Docker + Virtualbox on hosted machine?
I think [this guide](https://medium.com/@yutafujii_59175/a-complete-one-by-one-guide-to-install-docker-on-your-mac-os-using-homebrew-e818eb4cfc3) will work for you. virtualbox is already installed to the images. Other software have to be installed in runtime

[2020-04-29 05:59] miketimofeev commented on #797
Hi @sjackman! There was a rollback and then we deployed new image, could you please check rustfm one more time? Rustfm works for me at the moment
![image](https://user-images.githubusercontent.com/48208649/80564890-c566d680-89f7-11ea-96cc-9adb1f012448.png)

[2020-04-29 06:18] nikita-bykov commented on #451
All changes were successfully deployed.

[2020-04-29 06:18] #451 closed

[2020-04-29 07:04] vsafonkin commented on #782
Pull request with fix: #799

[2020-04-29 07:07] VerdonTrigance commented on #674
Hi, I just checked it and it works. Thank you for help.

[2020-04-29 07:07] #674 closed

[2020-04-29 07:11] dsame commented on #753
Fix provided in https://github.com/actions/virtual-environments/pull/755 and will be available for use in a week or two

[2020-04-29 07:33] alvarosanchez opened #800 "Add GitHub CLI"
**Tool information**
- Tool name: `gh`
- Tool license: MIT
- Add or update? Add
- Desired version: 0.7.0
- URL for tool's homepage: https://github.com/cli/cli

**Area for Triage**:
Packages

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Can this too

[2020-04-29 08:52] al-cheb commented on #785
@38leinaD,
We have been discussing the possibility of changing PageFile size on Windows image or prepare non-official GitHub Action task. I have written a powershell script that allow to change PageFile size without reboot - https://raw.githubusercontent.com/al-cheb/PageFile/master/SetPageFileSize.ps1 if you would like to replace the SetPageFile.exe util.

[code]

[2020-04-29 08:59] dsame commented on #790
@rbellamy Thanks for your note, the fix is applied in the PR https://github.com/actions/virtual-environments/pull/792 and will be deployed in a week or two

[2020-04-29 09:49] vmapetr commented on #800
Hi @alvarosanchez! This tool can be easily installed in runtime by following steps:
[code]
It take approximately 20 seconds on each OS.

@alepauly What do you think? Perhaps we can add `gh` to the images as a potential replacement to the [hub](https://github.com/github/hub)?

[2020-04-29 10:03] alvarosanchez commented on #800
Hi @vmapetr, thanks for the feedback. I know how to install it. The point of this issue is to have it preinstalled, though.

[2020-04-29 10:05] maxim-lobanov commented on #800
I think it is not big deal to have both hub and gh on images.
They are compatible and looks like functionality is a bit different: https://github.com/cli/cli/blob/master/docs/gh-vs-hub.md

[2020-04-29 11:07] al-cheb commented on #659
Hello, @PraveenKalavai
I have checked and none of these adapters  present on our images(Microsoft Connector Version 5.0 for Oracle by Attunity/ PDW Destination Adapters).

[2020-04-29 14:01] PraveenKalavai commented on #659
@al-cheb
Thanks for the confirmation.
What is the process to get these adapters installed to the agents?

[2020-04-29 14:40] julian-lamoso opened #803 "Error compiling a Python dependency package"
**Describe the bug**
Since Monday 27/04/2020 i am experimenting an error when installing a Python dependency during my CI workflow. The command 'pip install tesserocr==2.5.1' downloads the package properly, but then it is not able to install it. There is an error compiling the python binding of the C++ package. The package was successfully installed several times before, using the same configurati

[2020-04-29 15:04] p-smirnov commented on #771
Sure!
I am using Github Actions to test R package development across platform. Some existing libraries in R, which are unfortunately quite common dependencies, rely on TCL/TK libraries to build. On macOS, this creates a dependency on X11.

I am not 100% sure, but I think a similar situation could happen with scientific package development in other languages, such as Python or Julia.

[2020-04-29 15:21] vmapetr commented on #803
Hi @julian-lamoso! Thank you for reporting the issue. Could you please provide image version of successful build, so we're can track changes in dependencies?

[2020-04-29 15:31] fgsalomon commented on #803
Hi, @julian-lamoso and me are on the same organization.

The last successful build whas with this image:
[code]

[2020-04-29 15:42] vmapetr commented on #803
Hi @fgsalomon! Strangely, this is the same version that we use currently.
According to the [tesserocr 2.5.1](https://pypi.org/project/tesserocr/) requirements Cython is also required.
Could you please check following workaround:
[code]

[2020-04-29 16:12] al-cheb commented on #659
@PraveenKalavai,

https://social.msdn.microsoft.com/Forums/en-US/d0d45473-eea6-4d19-a708-25ceb79bf920/ssdt-for-visual-studio-2017-1590-and-oracle-connector-requirements?forum=ssdt

SSDT for Visual Studio 2017 (15.8.0) doesn't support designing packages that contain Oracle/Teradata source/destination. Use SSDT for Visual Studio 2017 (15.8).

1.  **Microsoft Connector Version 5.0 for Oracle by Attun

[2020-04-29 16:52] julian-lamoso commented on #803
By adding 'pip install Cython' it worked! Thanks a lot @vmapetr  :)
How is it possible that worked just a few days ago? Was Cython installed by default?

[2020-04-29 17:12] sjackman commented on #797
It looks like the current deployment is 4% of the way through. I'm hopeful that will resolve my issue. Thanks, Mike! https://github.com/actions/virtual-environments#available-environments

[2020-04-29 17:21] jbe2277 commented on #775
@maxim-lobanov When can we expect the next macos image rollout?

[2020-04-29 17:26] PraveenKalavai commented on #659
@al-cheb
Thank you.
If I run this piece of code as an inline script in PowerShell task in the build pipeline using the 'vs2017-win2016' agent, would it install the drivers during runtime?

[2020-04-29 17:27] Darleev commented on #765
@Woofenator thank you for provided details. What is the difference between two branches except their names? Could you please provide more information about it?
Could you please try to add additional command to your pipeline, to retrieve docker daemon log:

`journalctl -u docker.service`

and provide us with a result.

[2020-04-29 17:32] maxim-lobanov commented on #775
@jbe2277 , it should be deployed tomorrow

[2020-04-29 17:37] vtbassmatt opened #804 "Update Windows config for error reporting"
[Original request](https://developercommunity.visualstudio.com/idea/1012461/hosted-build-agents-have-error-reporting-set-to-re.html)

When something crashes on a hosted Windows agent, Windows hangs waiting for consent to send telemetry. Consider either disable error reporting, or offer a way to auto-consent.

**Area for Triage**:

**Question, Bug, or Feature?**:
Feature

**Virtual environments aff

[2020-04-29 17:38] vtbassmatt commented on #804
@jessehouwing

[2020-04-29 17:48] jessehouwing commented on #804
I consider it a bug ;).

[2020-04-29 18:00] al-cheb commented on #659
@PraveenKalavai, It should work at runtime .

[2020-04-29 18:55] mikeharder commented on #798
Also, this does **not** repro on a new Azure Ubuntu 18.04 VM.  It only repros on a DevOps Ubuntu 18.04 Hosted Agent.

[2020-04-29 19:42] miketimofeev commented on #797
@sjackman is your issue persists? If yes, could you please provide run examples?

[2020-04-29 19:56] alepauly opened #806 "Hosted build agents have Error Reporting set to require consent"
originally reported here: https://developercommunity.visualstudio.com/idea/1012461/hosted-build-agents-have-error-reporting-set-to-re.html

**Describe the bug**
I had a process crash in the build, causing the build to hang.
![image](https://user-images.githubusercontent.com/6873951/80640810-f532d000-8a31-11ea-988e-d1adc95d4bb7.png)

I believe the build agents should either:

Auto-queue crashes
Dis

[2020-04-29 19:59] alepauly commented on #804
closing in lieu of #806 thanks @vtbassmatt and @jessehouwing !

[2020-04-29 19:59] #804 closed

[2020-04-30 04:24] sjackman commented on #797
Yes, the issue persists.
[code]
It's a private repo `check_run_id=630482101`.

[2020-04-30 06:30] nikita-bykov commented on #752
We have added validation for available disk space.
Images with changes will be rolled out around next week.

[2020-04-30 07:09] BrightRan opened #808 "Workflow using docker-compose running pytest results I/O operation on closed file"
In this [Community Forum ticket](https://github.community/t5/GitHub-Actions/Workflow-using-docker-compose-running-pytest-results-I-O/td-p/56291), the user is trying to setup a workflow for his project, which uses **`docker-compose`** to run tests with **`pytest`**. However executing **`pytest`** results the following error in the workflow run.
[code]

This project can work fine on the local.

[2020-04-30 08:29] maxim-lobanov opened #809 "Xcode 11.2.0 and 11.3.0 will be deprecated on Catalina image on May 13"
Hello everyone,
Recently, we have added Xcode 10.3 and Xcode 11.4.1 on Catalina image. Xcode 11.5 beta will come very soon.

To simplify image maintenance and reduce image generation time / image size, we would like to deprecate Xcode 11.2.0 and 11.3.0 from our images.

Our images will keep Xcode 11.2.1 and 11.3.1 (they are fully compatible because patch version doesn't bring any breaking changes)

[2020-04-30 09:41] miketimofeev commented on #810
Hi @SerVB! Did you mean 3.7.7? There is no 2.7.7, the very latest version is 2.7.18

[2020-04-30 09:47] lechen26 commented on #753
10x!

[2020-04-30 09:54] maxim-lobanov commented on #810
Hello,  @SerVB ,
Just to confirm: Am I right that you need this particular version `2.7.7` and `2.7.17` doesn't work for your use-case? Usually, patch version doesn't bring breaking changes.

[2020-04-30 09:57] JamieMagee opened #811 "Distribute Azure VM Image Builder Templates"
Is it possible to distribute [Azure VM image builder templates](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-overview) for these images?

I had hoped for #176, but if that's not possible it should be possible to distribute the templates in a different form.

Looks like @danielsollondon is the most knowledgeable in this area.

[2020-04-30 10:18] miketimofeev commented on #797
@sjackman could you please also provide an image version, which can be found in 'Set up job' stage?
![image](https://user-images.githubusercontent.com/48208649/80699660-0852a800-8ae5-11ea-8459-52c6416bd4ed.png)

[2020-04-30 10:20] krokofant commented on #413
So the LocalDB that's available is an old version and not the newest one shipped with SQL Server 2019?

[2020-04-30 12:56] soonho-tri commented on #221
On macOS, can we install `bazelisk` via `homebrew` not via `node`?

For now, if one installs `bazel` via `brew install bazel`, it generates the following error:

[code]

In macOS CI scripts, I think it's a typical workflow of installing `bazel` via `brew`, and it should not cause a conflict because of pre-installed `bazelisk`.

[2020-04-30 13:36] maxim-lobanov commented on #221
@soonho-tri , could you please log the separate issue? We will consider it

[2020-04-30 13:52] soonho-tri opened #812 "Update bazelisk on macOS"
**Tool information**
- Tool name: bazelisk
- Tool license: Apache-2.0
- Add or update? Update
- Desired version: latest
- Approximate size:

**Area for Triage**:
Apple

**Question, Bug, or Feature?**:
Bug / Feature

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Description**

From my comme

[2020-04-30 13:53] soonho-tri commented on #812
/cc @maxim-lobanov
/cc @YannisAgiomyrgiannakis who requested `bazelisk` in #221.

[2020-04-30 13:54] soonho-tri commented on #221
@maxim-lobanov , => https://github.com/actions/virtual-environments/issues/812

[2020-04-30 14:47] vmapetr commented on #803
Glad I could help! Cython wasn't installed previously and we didn't deployed Ubuntu images more than a week. Could you please provide image version for failed builds, so we could compare it with successful?

[2020-04-30 15:00] PraveenKalavai commented on #659
@al-cheb
The runtime installation of Attunity drivers seems to be working. I'm not getting any build error with that.
However, the SQLPDW component is still failing with the error
**System.ArgumentException: Unable to create the type with the name 'SQLPDW'.**

I checked with our DBA and found out that our PDW Appliance version was recently upgraded to AU7.
Here is the download link for AU7 PDW des

[2020-04-30 15:06] JosephDuffy commented on #713
This is a bit of a pain because most actions assume they are running in the work directory, so files may need to be copied back and forth or more paths need to be hardcoded.

Since this is primarily an issue with caches I have added `github.workspace` to the cache key. This means caches are invalidated if runner updates, but it's simpler that juggling the work directory.

[2020-04-30 15:43] swissspidy commented on #808
If it helps with investigation, I'm running into the same issue with https://github.com/google/web-stories-wp/pull/1399, where I intend to use Docker to spin up a website for testing.

[2020-04-30 15:45] b-onc commented on #551
We're also in need of this. Currently, installing the simulators take too long.

[2020-04-30 16:09] compnerd opened #813 "Update/Add swift-format"
**Tool information**
- Tool name: apple/swift-format
- Tool license: Apache 2
- Add or update? add
- Desired version: 5.2 (matching swift version)
- Approximate size:
- If this is an add request:
  - Brief description of tool: auto-formatting/linting for Swift
  - URL for tool's homepage: https://github.com/apple/swift-format

**Area for Triage**: Apple, Testing and Code Coverage

**Question, Bug,

[2020-04-30 16:28] kinnison commented on #228
I am having difficulty migrating CI to github actions for a project which needs newer GTK/glib than is available in 18.04.  Is there any indication of when 20.04 will become available in actions?

[2020-04-30 16:50] sjackman commented on #797
[code]

[code]
https://github.com/actions/virtual-environments/blob/ubuntu18/20200406.2/images/linux/Ubuntu1804-README.md

That's the problem. I need to wait for rust 1.43.0 to roll out.

[2020-04-30 18:11] SerVB commented on #810
@maxim-lobanov , hi, yep, I think I need exactly `2.7.7`.

Why exactly `2.7.7`? I'm developing a modification for a video game that uses Python 2.7.7 in its core.

Why does not another Python 2.7 version suit me?
* I compile my code to `pyc` files, and maybe there is no guarantee that latest Python 2 versions will generate bytecode compatible with `2.7.7`.
* In `2.7.7` there isn't many built-in mo

[2020-04-30 18:46] miketimofeev commented on #797
@sjackman thanks for the update. Rust 1.43 will be available on the next week's deployment(approx Tuesday or Wednesday if nothing goes wrong)

[2020-04-30 18:48] miketimofeev commented on #78
@jherico Xcode 10.3 is now available on the image. Could you check it, please?

[2020-04-30 18:58] jherico commented on #78
In the months since I filed this bug, I've been laid off
![image](https://user-images.githubusercontent.com/1533642/80748437-c708cb00-8ad9-11ea-8f51-175f3bc35e9e.png)

...from the job where I was working on supporting desktop software on out of date MacOS versions and started a new Job in backend development where that sweet sweet container magic ensures I'm always working in a reliable environmen

[2020-04-30 19:09] miketimofeev commented on #78
Close the issue in that case. If anyone has concerns, please open a new issue.
Thank you!

[2020-04-30 19:09] #78 closed

[2020-04-30 19:58] Darleev commented on #808
@BrightRan  @swissspidy Hello,
I was not able to reproduce the issue anywhere except GitHub Actions, most probably it is related to specific implementation of Github agents jobs execution. However, we found very similar[ git hub issue with the same problem](https://github.com/docker/compose/issues/5696) and it was fixed by adding -T flag to `docker-compose exec app pytest` like in example below:

[2020-04-30 20:22] sjackman commented on #797
Thanks for the update, Mikhail. Feel free to close this issue.

[2020-04-30 20:40] ydnar opened #815 "Add Xcode 11.5 beta (for COVID-19 contact tracing APIs)"
**Tool information**
- Tool name: Xcode 11.5 beta
- Tool license: commercial
- Add or update? update
- Desired version: 11.5 beta
- Approximate size:

**Area for Triage**:
Apple

**Question, Bug, or Feature?**:
Feature

Xcode 11.5 adds support for Apple + Google’s[ COVID-19 contact tracing API](https://developer.apple.com/documentation/exposurenotification?changes=latest_minor). Given the current

[2020-04-30 20:47] miketimofeev commented on #815
Hi @ydnar! We've already added Xcode 11.5 to the image and it will be rolled out next week (approx. on Wednesday)

[2020-04-30 20:53] ydnar commented on #815
Thanks!

[2020-04-30 21:08] Darleev commented on #798
@mikeharder Hello, Thank you for provided details and the investigation. I was able to reproduce the issue on Ubuntu 18.04 agent, and it seems something is configured incorrectly here, since file directly shows us that `systemd-resolve` service should be responsible for nameservers, but it is not.

[code]
Locally, we still use 127.0.0.53 address, which is recorded in the file /etc/resolv.conf. It

[2020-04-30 21:44] miketimofeev commented on #797
@sjackman let's leave it till the rollout is finished if you don't mind

[2020-04-30 23:53] orthodoX commented on #228
@kinnison I have the same problem 😞

[2020-05-01 00:00] rigtorp opened #816 "Add Ubuntu 20.04 LTS envrionment"
Ubuntu 20.04 LTS (https://releases.ubuntu.com/20.04/) is now out and makes sense to add it as a supported environment while deprecating Ubuntu 16.04 LTS.

[2020-05-01 00:18] peaceiris commented on #816
This is a duplicate of https://github.com/actions/virtual-environments/issues/228

[2020-05-01 01:44] peaceiris commented on #228
Is there any roadmap about this?

I have some public GitHub Actions and want to test those on the Ubuntu 20.04 LTS. Now, the version is not available via `runs-on` so I will use the following workaround.

[code]

We are looking forward to 20.04! 😄

[2020-05-01 04:24] johndatserakis commented on #765
Hey there - I had the same issue.

I was working on my workflow on a private repo and at one point I actually got the docker-compose build working (that's how I knew it had worked at some point). The thing was, after a bit, I had started using certain variables in the `docker-compose` file, and that is what brought on the issue.

What's interesting is that my own secrets are fine to use in my `doc

[2020-05-01 05:35] maxim-lobanov commented on #228
Hello everyone, we are looking at adding Ubuntu 20.04 environment but can't provide any ETA or promises for now. Will keep you posted

[2020-05-01 05:42] maxim-lobanov commented on #812
Thank you for logging this issue.
@soonho-tri , any ideas, will it cause regression for someone if we switch from npm installation to brew? Like use-cases that worked previously and will stop to work after switching.

[2020-05-01 06:27] miketimofeev commented on #812
But bazel is also presented in the image and bazelisk can be used to download newer bazle versions, so we should consider that scenario too.

[2020-05-01 06:34] vmapetr commented on #816
Hi @rigtorp! Thank you for your feedback! Please check details about Ubuntu 20.04 in related issue https://github.com/actions/virtual-environments/issues/228.

[2020-05-01 06:34] #816 closed

[2020-05-01 06:51] miketimofeev commented on #812
And moreover `brew install bazelisk` installs bazel as a dependency as well

[2020-05-01 06:53] BrightRan commented on #808
@Darleev ,
Great! I also tested on my side, it works.
Thanks very much for sharing your solution.

[2020-05-01 07:25] soonho-tri commented on #812
Have no idea. Bazelisk is mainly written in go and python, and I do not understand why it should be installed via npm.

`bazelisk` is a derived tool from `bazel`. It does not make sense if it interferes the installation of `bazel`. I would say that you can only provide `bazel` and ask users to install `bazelisk` by themselves if they want. `brew install bazelisk` takes only around 5 sec (including

[2020-05-01 08:03] al-cheb commented on #765
Hello, @johndatserakis

Could you please compare behavior with export and env:?

[code]

vs

[code]

[2020-05-01 08:32] rbellamy opened #818 "helm init no longer present in helm 3"
**Describe the bug**
The script https://github.com/actions/virtual-environments/blob/master/images/linux/scripts/installers/1804/kubernetes-tools.sh#L37 installs helm 3. It uses a deprecated command:

[code]

See https://github.com/helm/helm-www/pull/485.

**Area for Triage**:

Servers

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS

[2020-05-01 11:07] Darleev commented on #798
@mikeharder I have created [Pull Request](https://github.com/actions/virtual-environments/pull/819) with suggest workaround. As soon as all verification processes are complete, workaround will be applied on Ubuntu 18 agents, until then your workaround is the best option here.
 I will let you know additionally, when PR will be merged.

[2020-05-01 11:35] YannisAgiomyrgiannakis commented on #812
Ideally (meaning by design), bazelisk should not interfere with a
pre-installed version of bazel, but -yet- this is google software we are
talking about. :)

On Fri, May 1, 2020 at 8:25 AM Soonho Kong <notifications@github.com> wrote:

--
best regards,
Yannis

[2020-05-01 11:55] soonho-tri commented on #812
I do not think there is an issue in bazel or bazelisk.

When `bazelisk` is installed via `npm`, it installed `bazel` at `/usr/local/bin`. When `brew install bazel` is run, it tries to install `bazel` at the same location, founds an existing file, and exits with a warning.

[2020-05-01 12:43] miketimofeev commented on #812
@soonho-tri The simplest way here is to install both of the tools via brew, you're right.
`brew install bazelisk`
`brew install bazel`

[2020-05-01 12:46] soonho-tri commented on #812
@miketimofeev , agreed.

Is there a way I can make a PR to make this change? https://github.com/actions/virtual-environments/tree/master/images/macos only includes `README.md` file. I guess the image is not part of this repo?

[2020-05-01 12:48] miketimofeev commented on #812
@soonho-tri yeah, unfortunately, macOS image generation isn't open-sourced yet. I'll prepare PR with the changes in the private repo and let you know when the image is deployed.
Thanks!

[2020-05-01 16:48] tysonite opened #820 "Time is not monotonic on macOS runner"
I am not sure if this is a right repo to report this kind of issue, so please feel free to close it, but point me into the right direction.

Sometimes, we note that consequence calls to get current time of operating system return values that are not monotonically increasing. The 2nd call, for example, may return value that is less than previous one.

I can reproduce this by a simple Python script

[2020-05-01 18:17] PraveenKalavai commented on #659
@al-cheb
After updating the script with AU7 PDW destination adapters and installing them during runtime, I'm now able to build my SSIS solutions successfully!

Thanks for the help with the resolution.
This issue can now be closed.

[2020-05-01 19:59] ykaygisiz commented on #98
I also have an same issue. I tried a lot of things, but nothing. I have Host Machine Windows 10, Guest Machine is MacOs Catalina 10.15.4. I couldn't Success to run Android Emulator. Copy/Paste, Drag&Drop doesn't work too. I thing all are related.

https://www.virtualbox.org/manual/ch14.html
Mac OS X guests:
Mac OS X guests can only run on a certain host hardware. For details about license and host

[2020-05-01 23:18] jmichas opened #821 "Mono version 6.8.0.123 does not use Xamarin.iOS 13.16.0.13"
**Describe the bug**
Selecting the latest mono version using 6_8_0 yields version 6.8.0.123 as expected, but the accompanying Xamarin iOS version is still 13.4. It should be 13.16.0.13 which by everything I can find is on the macOS-latest image, but there is no way to select it.

This is immensely important as we are past the Apple deadline (4/30/20) for removing UIWebView references. The mtouch a

[2020-05-02 01:19] johndatserakis commented on #765
Sure, I already moved passed this but I reverted to try out your tests. I used a secret instead of `github.event.repository.name` as I am no longer using that.

First example worked, second example didn't work, third example didn't work.

The docker error definitely seems tied to an error in the build, it's just that the error message isn't that good. But I think it's more of a docker thing, as my

[2020-05-02 06:01] maxim-lobanov commented on #821
Hello @jmichas !
Could you please try symlink `6_8_1`?

`6_8_0` - Mono 6.8, Xamarin.iOS 13.14, Xamarin.Mac 6.14, Xamarin.Android 10.2
`6_8_1` - Mono 6.8, Xamarin.iOS 13.16, Xamarin.Mac 6.16, Xamarin.Android 10.2

Btw, configuration `Mono 6.8, Xamarin.iOS 13.16, Xamarin.Mac 6.16, Xamarin.Android 10.2` is default on the image if you don't override anything.

If you use GitHub Actions, you can use ac

[2020-05-02 06:17] jmichas commented on #821
@maxim-lobanov Thanks. Thats seems to be working. But it is extremely confusing. I never found anywhere in the documentation that shows some sort of mapping between the 6_8_0 notation and the actual version numbers. Even more confusing is selecting 6_8_0 and 6_8_1 both yield mono 6.8.0.123 but _0 is xamarin 13.14 and _1 is 13.16.

Regarding using the defaults, which I also didn't see anywhere in t

[2020-05-02 10:49] mati865 commented on #102
Choco installs arch matching the OS arch so you get i686 mingw-w64 on 32 bit Windows and x86_64 on 64 bit Windows.
On the CI only x86_64 mingw-w64 is installed: https://github.com/mati865/actions-test/runs/638620890?check_suite_focus=true

[2020-05-02 11:39] deloorc opened #822 "Add workload Live Dependency Validation for Visual Studio 2019"
**Tool information**
- Tool name: Visual Studio 2019
- Tool license: n/a
- Add or update? Add
- Desired version: n/a
- Approximate size: 1MB (see Visual Studio Installer when checked)
- If this is an add request:
  - Brief description of tool: [Live Dependency Validation](https://docs.microsoft.com/en-us/visualstudio/modeling/validate-code-with-layer-diagrams?view=vs-2019)
  - URL for tool's homep

[2020-05-02 20:21] CallumHibbert opened #823 "Add Terragrunt"
**Tool information**
- Tool name: Terragrunt
- Tool license: Open source
- Add or update? Add
- Desired version: Latest compatible with Terraform
- Approximate size: ~30MB
- If this is an add request:
  - Brief description of tool: Helper for Terraform
  - URL for tool's homepage: https://github.com/gruntwork-io/terragrunt/

**Area for Triage**: Deployment

**Question, Bug, or Feature?**: Feature

[2020-05-02 21:56] maxgolov commented on #777
Is it possible to select an older version:
[code]
i.e. would it still be installed and available on the runner?

Reason why I'm asking is that 11.4.1 has some iOS Simulator breaking changes that require us to rework our static library build structure. Mentioned here: https://forums.developer.apple.com/thread/130684

[2020-05-03 05:19] maxim-lobanov commented on #777
@maxgolov , Yes, [a bunch of Xcode versions](https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md#xcode) are available on the image.
You can switch between them using the command that you shared above or [setup-xcode](https://github.com/marketplace/actions/setup-xcode-version) action.

[2020-05-04 04:50] villekr commented on #808
Yep, that -T option does the trick. Thanks for quick actions on this!

[2020-05-04 05:29] Darleev commented on #813
Hello,
Let me describe current situation regarding this package:
- First of all, I tried to setup it according to provided steps, but with no luck.
- Then, I tested another way:

[code]
and It takes around 4-5 minutes to install everything.

@compnerd I also found the following [swift-format package ](https://github.com/nicklockwood/SwiftFormat), which has meaningful documentation and steps to ins

[2020-05-04 07:49] derhansen opened #824 "Wrong permissions for PHP .composer directory"
**Describe the bug**
When using PHP composer, it is not possible to use the composer cache, since the `.composer` directory permissions are wrong. This leads to the situation, that the composer cache cannot be saved during built steps

**Area for Triage**:

Error Message:
[code]

Permissions:

![image](https://user-images.githubusercontent.com/2629896/80945560-5a007880-8dec-11ea-96a1-08b8cf275975.

[2020-05-04 09:04] maxim-lobanov commented on #821
Thank you for your feedback. Agree that it can be confusing. We will look how it can be improved.

If you are using `macos-10.15` or `macos-latest` image, yes, we keep the latest available Xamarin & Mono versions as default so you can just remove `Select the Xamarin SDK version` and `Set Mono Version $(mono_version)` steps and everything will work. Also, you can be sure that your build will switch

[2020-05-04 09:56] phozzy commented on #320
Hi @vmapetr @maxim-lobanov !
Here is a PR with a fix to the documentation.

[2020-05-04 11:38] EwoutH commented on #517
It looks like CMake 3.10.2 is now the version used by default on the Ubuntu 18.04 image, is that intended behaviour?

[2020-05-04 12:26] ydnar commented on #813
@Darleev NickLockwood/swiftformat is a completely different, but still useful, formatter than apple/swift-format. It’s arguably more mature.

FWIW we use Nick’s swiftformat in our projects and spend the N minutes to install it on Ubuntu for running our CI on GitHub Actions.

I’d love to have it preinstalled.

[2020-05-04 12:37] maxim-lobanov commented on #517
@EwoutH , just checked and `cmake --version` shows `cmake version 3.17.0` for me.
In scope of this issue, new cmake was added to Android sdkmanager. It doesn't affect default system cmake.

[2020-05-04 13:32] EwoutH commented on #517
Thanks, I checked again and it was a docker issue on my side.

[2020-05-04 13:43] Darleev commented on #820
Hello @tysonite,
I was able to reproduce the issue only in Github Actions. I tried to reproduce the issue in ADO(Azure DevOps) agents or locally, but with no luck. It seems the issue is specific for current platform.
We will continue the investigation and keep you posted.
Also, I will try to find a way how to mitigate the issue

[2020-05-04 14:09] maxim-lobanov commented on #320
@phozzy, thank you!
Will merge PR as soon as checks are green

[2020-05-04 14:10] jmichas commented on #821
Ok, great thanks. That will simplify my yaml quite a bit. I think the docs should be updated to show some sort of mapping between symlink notation and actual version numbers.

[2020-05-04 14:10] #821 closed

[2020-05-04 14:15] Darleev commented on #808
@villekr I am glad that this solution helped.
In case of any questions, do not hesitate to contact us.

[2020-05-04 14:15] #808 closed

[2020-05-04 14:40] compnerd commented on #813
Thanks @Darleev for looking into this.  The version that you found is not really complete enough for the needs of the packages that I’m trying to use it on.  I think that using the official swift format would be better than Nick Lockwood’s version

I should mention that the official swift format should match the version of Swift that’s installed (the current images have Swift 5.2).

If there’s spe

[2020-05-04 15:37] mletterle opened #827 "macOS 10.15 Does Not Include .NET 2.1 SDK/Runtime"
**Tool information**
- Tool name: .NET SDK 2.1

[The image](https://github.com/actions/virtual-environments/blob/d3b4d6b4d1fb00e6c50ed79bacc4aca7767714a3/images/macos/macos-10.15-Readme.md#language-and-runtime) already includes the non-LTS .NET 2.0 SDK, it should also include the LTS 2.1 SDK/Runtime

**Area for Triage**:
.NET Core

**Question, Bug, or Feature?**:
Bug

**Virtual environments affect

[2020-05-04 15:37] Darleev commented on #824
@derhansen Hello,
Thank you for the reported issue and the investigation details. I have reproduced the issue on my side and I'm working on the fix at this time.
I will keep you posted.

[2020-05-04 17:03] Saibamen commented on #387
Good. ReactOS wanted to test builds by it's soon minimum supported VS 2015 version: https://github.com/reactos/reactos/pull/2658

[2020-05-04 17:20] miketimofeev commented on #822
Hi @deloorc!
As a workaround component can be installed in runtime, but it takes about 10 min.
[code]

[2020-05-04 18:54] deloorc commented on #822
Hi @miketimofeev!

Thanks for the update and workaround. Any chance this enhancement will get added? Happy to create PR.

[2020-05-04 19:00] ydnar commented on #813
@compnerd both can be installed—`swiftformat` and `swift-format` don’t conflict with each other. Nick Lockwood’s is mature and feature-complete.

[2020-05-04 19:45] alepauly commented on #671
Hi @felpasl. I think it would be interesting to have the json files be able to generate images in other packer builders such as AWS, HyperV, Virtual Box or whatever else is useful. The team that maintains this repo won't be able to take on that type of work, but we would be most welcoming of community contributions that can be shared by all around here. We'll be happy to review and merge as long a

[2020-05-04 21:19] compnerd commented on #813
@ydnar yeah, I agree that they can both be installed, but don't they both provide `swift-format`?

[2020-05-04 21:23] mganandraj opened #829 "Update Android NDK bundle to R21B in Ubuntu 18.04 LTS"
**Tool information**
- Tool name: Android SDK/NDK
- Tool license: No change
- Add or update? Update
- Desired version: NDK R21B (v21.1.6352462 ) which has some critical bug fixes , Current version is NDK R21A (21.0.6113669)
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:

**Area for Triage**: Android

**Question, Bug, or Feature?**: Bug

[2020-05-04 21:53] ydnar commented on #813
One provides `swiftformat` and the other provides `swift-format`.

[2020-05-05 05:05] maxim-lobanov commented on #427
Hello everyone,
New image with fix is deployed everywhere and issue should be fixed.
Could you please check and report back if it works for you?

[2020-05-05 06:19] #659 closed

[2020-05-05 06:20] #772 closed

[2020-05-05 06:42] maxim-lobanov commented on #320
@phozzy , merged. Thank you for contribution

[2020-05-05 06:53] vsafonkin commented on #818
Hi @rbellamy , thank you for reported issue! Fix for it was added to PR: #799

[2020-05-05 07:27] yodrami commented on #770
Hi @jmos5156
Did you have any idea what the issue is?

[2020-05-05 08:21] andy-mishechkin commented on #829
Hello.
The last version of Android NDK will be included in the next Ubuntu 18 build. Please wait for the next image deployment.

[2020-05-05 09:25] Darleev commented on #824
@derhansen We have added fix for the issue to the image and it will be rolled out next week.
In case of any questions, please let us know, we will be glad to assist you further.

[2020-05-05 11:04] Darleev commented on #798
@mikeharder We have added fix for the issue to the image and it will be rolled out next week.
In case of any questions, please let us know, we will be glad to assist you further.

[2020-05-05 12:20] miketimofeev commented on #822
@deloorc we'll consider adding of the workload. Do you see any drawbacks of adding this except disk space(about 500Mb as I've noticed) in terms of VS stability? I'm asking because it seems we've faced some issues after workloads installation(I can't find any example, unfortunately)

[2020-05-05 14:00] alepauly commented on #785
thanks for the workaround @al-cheb! @38leinaD I don't think we can easily increase the current pagefile size without significantly impacting a lot of jobs since it would eat into the available space in the temp drive of the VM. I'll close this for now, it's not something we are planning to change at the time, please reopen if you wish to discuss further. Thanks for reaching out!

[2020-05-05 14:00] #785 closed

[2020-05-05 14:06] alepauly commented on #550
hi @mythi, we looked into this briefly and one concern we currently have is what effect this would have on existing jobs that depend on the current setting. Any idea?

[2020-05-05 14:09] ProgramComputer opened #832 "Swift on macOS-latest has exit code 1"
**Describe the bug**

When running Swift.yml in Actions CI on macOs-latest tests will pass, but Swift.yml will have exit code 1 causing build to fail.

**Area for Triage**:
 Apple

**Question, Bug, or Feature?**:

Bug
**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**

When

[2020-05-05 14:11] alepauly commented on #666
hi @oleg-brizy, unfortunately we won't be able to work on this but I'll leave this open in case someone out there has a chance to figure it out. Thanks for the feedback. It's not the first time it's requested: https://github.com/actions/virtual-environments/issues/196

[2020-05-05 14:12] nerijusk commented on #798
The PR breaks agent build for self hosted agent pools:
[code]

[2020-05-05 14:13] alepauly commented on #668
Unfortunately we can't support this at this time due to infrastructure constraints.

[2020-05-05 14:13] #668 closed

[2020-05-05 14:19] alepauly commented on #771
thanks for the info @p-smirnov, considering some compat concerns and other work we have to prioritize right now we won't be able to preinstall it at this time. Please reopen if this becomes a blocker or you want to discuss further.

[2020-05-05 14:19] #771 closed

[2020-05-05 14:19] miketimofeev commented on #691
@ThadHouse I'm going to close the issue since there are no new issues after the fix. Feel free to ping me if you have any concerns.
Thank you!

[2020-05-05 14:19] #691 closed

[2020-05-05 14:19] miketimofeev commented on #692
@FrancescElies I'm going to close the issue since there are no new issues after the fix. Feel free to ping me if you have any concerns.
Thank you!

[2020-05-05 14:19] #692 closed

[2020-05-05 14:27] dmitry-shibanov commented on #385
Hello, I am closing this issue for now because as I mentioned above, that doesn’t look like image issue. Feel free to ping me if you found out image issue.

[2020-05-05 14:27] #385 closed

[2020-05-05 14:42] JavierSegoviaCordoba commented on #643
Any way to at least cache the NDK?

[2020-05-05 14:43] maxim-lobanov commented on #832
Hello @ProgramComputer , I think that issue is pretty clear from the error message that you have in build logs:
![image](https://user-images.githubusercontent.com/16715858/81079081-bd2b0180-8ef7-11ea-80dc-d01cf07d1f0d.png)
`swift build`command should be run in folder where package manifest is located. Your repository doesn't contain `package.swift` file so command fails.
I have cloned your repo lo

[2020-05-05 14:45] alepauly commented on #810
Hi @SerVB, we looked briefly into compiling 2.7.7 and it looks like it might need some tweaks. Considering the version is 6 years old now, it's not something we can prioritize. My suggestion would be for you to precompile and host off your repo, then use a version of the changes you have for `setup-python` to load in your workflow. Thanks for reaching out.

[2020-05-05 14:45] #810 closed

[2020-05-05 14:48] compnerd commented on #813
Ah, good, that avoids the conflict.  I’m still looking to use the official swift format though.

[2020-05-05 14:50] alepauly commented on #810
I should clarify, you should be able to do this off your fork since we can't really support custom hosts in the generally available action.

[2020-05-05 15:00] SerVB commented on #810
Hi! I think I'll then just continue using my `setup-python` that downloads and compiles it:

https://github.com/SerVB/TheRecentStatOfYou/blob/4ce343779458450ca075c289635d61852603635a/.github/workflows/build.yml#L9-L12

[code]

This variant's totally fine for me, it works as expected. I can wait this extra time needed for compilation.

And understanding how to precompile and host 2.7.7 in a fork wi

[2020-05-05 15:01] deloorc commented on #822
Currently we have this workload installed on our private agents and did not encounter any issues. If you would encounter any issue I would love to help diagnose.

[2020-05-05 15:39] alepauly commented on #811
Hi @JamieMagee, that's an interesting idea. I have very little knowledge on templates but if we could get some help in understanding what needs to get done and how it would be maintained, we are definitely open considering it. I'll mark the issue as `community-feature` since we can't actively work on it due to priorities but hopefully others can help.

[2020-05-05 16:41] maxim-lobanov commented on #643
@JavierSegoviaCordoba , I think you can use [actions/cache](https://github.com/actions/cache) to cache folder `/usr/local/lib/android/sdk/ndk` and it will speed up your build

[2020-05-05 16:59] ProgramComputer commented on #832
@maxim-lobanov Thank You, I have resolved my issue.

[2020-05-05 16:59] #832 closed

[2020-05-05 17:07] Darleev commented on #798
@nerijusk
Agree, We didn't take into account the fact that docker self-hosted agents occupy /etc/resolv.conf file and use it inside containers. We have rolled the pull request back.
@mikeharder it seems, suggested solution cannot be applied for ubuntu 18 image due to described above limitations. I will try to find another solution for the issue, which hopefully does not affect anything else.

[2020-05-05 17:20] Darleev commented on #820
@tysonite During the investigation, I found that issue most probably related to MacOS time synchronization(using sntp).  I'm trying to find a way how to disable time synchronization for MacOS at all, to test how it works without sync.
Currently, I see only 1-2 failed requests for 1.000.000 attempts. Meanwhile, could you please provide use case for this specific task(t2-t1 ever 0.0001 sec)? Maybe w

[2020-05-05 17:45] kahuang commented on #743
This stopped working within the last few days, have there been any changes to the virtual environments that could cause this?

I've narrowed down the install-chain to the following:

[code]

[2020-05-05 17:55] tysonite commented on #820
We use Github Actions to run unit/acceptance tests for [Robot Framework project](https://github.com/robotframework/robotframework), sometimes, tests fail due to that issue, and it is just weird.

The test verifies that elapsed time is not negative, and the mitigation on Robot Framework side is clear, it is only needed to remove such check. But the removal of check may lead to potential errors, and

[2020-05-05 18:02] medyagh opened #834 "Update/Add [tool name]"
**Tool information**
- Tool name: minikube
- Tool license: [apache](https://github.com/kubernetes/minikube/blob/master/LICENSE)
- Add or update: Add
- Desired version: Latest
- Approximate size: ~56 Mb binary + cached latest kubernetes images (~500mbs)
- If this is an add request:
  - Brief description of tool: minikube is local Kubernetes, focusing on making it easy to learn and develop for Kuber

[2020-05-05 18:16] mikeharder commented on #798
@Darleev: Sounds good.  I don't think my workaround is the correct long-term solution, it's just sufficient to unblock our builds.  The local (stub) DNS server should be able to resolve all DNS names.

As I mentioned earlier, this doesn't repro on an Azure Ubuntu 18 VM, so you might want to start by figuring out which additional component on a DevOps Hosted Ubuntu 18 VM is causing this behavior di

[2020-05-05 18:26] derhansen commented on #824
@Darleev Awesome, thanks a lot for your work!

[2020-05-05 19:07] mythi commented on #550
no idea, sorry. I've noticed the equivalent kernel config (`CONFIG_OVERLAY_FS_REDIRECT_DIR`) is not set in Fedora and Debian (stable) kernels at least.

[2020-05-05 19:16] mikeharder commented on #798
Last time I tested it I am pretty sure it did **not** repro on an Azure Ubuntu 18 VM.  However, I just created a new Azure Ubuntu 18 VM and now it **does** repro until I use the same workaround.

[2020-05-05 19:53] mikeharder commented on #798
However, it does not repro on a Hyper-V VM created from `ubuntu-18.04.4-live-server-amd64.iso`.

[2020-05-05 22:17] al-cheb commented on #798
@nerijusk, Could you please append and validate script with small changes ?

[code]

[2020-05-05 22:44] ruixi1994 opened #835 "Add Device into Microsoft Apple Developer Program"
**Tool information**
Hi there, I am opening this issue to seek help for code sign issue with macOS 10.15 and ask whether it is possible to have virtual-environment registered into Microsoft Developer Program.

*Context:* we are facing issue now to migrate our tests automation to macOS Catalina because of the forced notarization. Since our tests relied on `keychain access`, forced notarization mean

[2020-05-06 01:34] kahuang commented on #743
cc @Darleev , this was on ubuntu 18.04, started may 2nd.

[2020-05-06 02:40] mganandraj opened #836 "Include Android emulator in Ubuntu images"
**Tool information**
- Tool name: Android x86 Emulator from the Android SDK
- Tool license: Same as Android SDK
- Add or update? Add
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool: Currently the Ubuntu images include all the build toolchains but no emulators are included for running CI validations.
  - URL for tool's homepage: https://developer.an

[2020-05-06 03:33] simons-public opened #837 "OpenSSL 1.0.2t installation location conflicts with Homebrew on MacOS"
**Describe the bug**
OpenSSL 1.0.2t has been installed at `/usr/local/opt/openssl` on the MacOS image. Homebrew is also installed and used for installing software. Hombrew normally creates a symlink at `/usr/local/opt/openssl` that points to the latest installed version. OpenSSL 1.0.2 is not supported by Homebrew anymore (Homebrew/homebrew-core#46876).

This can cause issues when the compiler or l

[2020-05-06 04:37] maxim-lobanov commented on #713
@JosephDuffy , thank you for your feedback.
Unfortunately, we don't have quick solution for this issue because runner installation layout is not something that can be changed quickly and without impact.

I am closing this issue but we will keep it on mind and will post update if we have a plan to rework it in future

[2020-05-06 04:37] #713 closed

[2020-05-06 04:51] maxim-lobanov commented on #128
Hello,
Our latest result (reducing VS initialization time to 1-1.5 minutes) was achieved by invocation `devenv.exe /updateconfiguration` during deployment. It does first VS initialization and improves build time.

Unfortunately, we don't see more ways to improve it because it seems that remain time comes from VS execution (probably, initialization of solution or something similar)
I am going to cl

[2020-05-06 05:55] #782 closed

[2020-05-06 07:23] fabriciomurta opened #838 "Add git-ftp"
**Tool information**
- Tool name: git-ftp
- Tool license: [gpl3](https://github.com/git-ftp/git-ftp/blob/master/LICENSE)
- Add or update? Add
- Desired version: latest stable
- Approximate size: 70kB (informed by apt-get during installation on Ubuntu 18.04 LTS)
- If this is an add request:
  - Brief description of tool: Git-ftp -- uploads to FTP servers the Git way
  - URL for tool's homepage: htt

[2020-05-06 09:04] maxim-lobanov commented on #770
Hello, @yodrami ,
1) Script `GenerateResourcesAndImage` works correctly, it doesn't delete resource group, it just prepares environment for build and run packer.exe. Since your packer build has started, script works as expected.
2) it is expected that resource group is deleted when build doesn't finish successfully. Based on your logs, It is done by packer.
[code]
If you want to prevent it, you sh

[2020-05-06 09:18] miketimofeev commented on #812
@soonho-tri The changes will be deployed next week(approx 05/13 – 05/14)

[2020-05-06 10:17] chintan369 commented on #578
Using this command It;'s getting download NDK and Building App Fine.
But In Pipeline, when Job runs next time, It is executed again so it's getting re-downloaded.
So is there any way to check whether it's already installed or not?

[2020-05-06 10:32] andy-mishechkin commented on #836
This emulator is shipped by Apache 2.0 license

[2020-05-06 10:39] maxim-lobanov commented on #663
Hello, thank you for your suggestion.
Considering the size of emulators, we don't have resources to pre-install and support android emulators on macOS image for now. Probably, we will be able to revisit this decision in future if we see more interests for it and have resources to support it.

Emulators can be installed in runtime using the following code (it takes about 1 minute to install one par

[2020-05-06 10:39] #663 closed

[2020-05-06 10:42] maxim-lobanov commented on #836
Hello @mganandraj, thank you for your suggestion.
Considering the fact that android emulators are pretty huge, we don't have resources to pre-install and support android emulators on Ubuntu image for now. Probably, we will be able to revisit this decision in future if we see more interests for it and have resources to support it.

Emulators can be installed in runtime using the [android-emulator-r

[2020-05-06 10:42] #836 closed

[2020-05-06 10:48] maxim-lobanov commented on #507
Hello everyone,
Recently, we have done a lot of PRs / improvements to increase stability of Windows image generation.
(Thank you for @elduddz for his contribution). 🚀

It would be great if you can sync your repository with latest master and shared some feedback if your pass rate becomes better or not

[2020-05-06 10:55] maxim-lobanov commented on #578
@chintan369 , every job is run on clean machine where this sdk is not installed. (Changes that were done by your previous job are not saved). So you have to install it on each build

[2020-05-06 11:14] soonho-tri commented on #812
@miketimofeev , thank you!

[2020-05-06 11:24] Darleev commented on #743
@kahuang @Sv443 @martmists I'm not completely sure, but It seems official wine repository is broken or something like this, since I tried to install on clean Ubuntu 18, but with no luck, I also tried to install all required libs etc, but it does not help as well.
I have found another way to install wine-5 on ubuntu, you can find it below:
[code]
Please let us know in case of any questions, We will

[2020-05-06 11:24] #743 closed

[2020-05-06 11:31] Sv443 commented on #743
I'm using your solution https://github.com/actions/virtual-environments/issues/743#issuecomment-616349857 for a GitHub Actions runner on the latest Ubuntu and haven't had any problems

[2020-05-06 11:38] blueelvis commented on #484
@m-minasyan - I tried this in the same pool above but I am still seeing the older version. Any idea what could be wrong?
[code]

[2020-05-06 12:01] maxim-lobanov commented on #643
Hello everyone,
As I mentioned above, recently we had an incident related to disk space on Ubuntu images. Currently, this incident is resolved and Ubuntu images have enough free disk space. But we have to be very careful to choose the software that is pre-installed on the image because we are pretty close to edge (disk space issue) and we don't have a chance to increase disk space right now.
Consi

[2020-05-06 12:01] #643 closed

[2020-05-06 12:24] blueelvis commented on #702
@KrispyX - I was able to get the v14 version of localdb by adding a PowerShell task below -
[code]

It installs chocolatey package manager and then installs the 2017 version of sqllocaldb. It roughly adds 2-3 minutes of build time.

[2020-05-06 13:10] AlenaSviridenko commented on #762
Hi! I am closing this issue since the original question was solved.
Please, feel free to file a new ticket if you have any other issues with locale.
Thank you!

[2020-05-06 13:10] #762 closed

[2020-05-06 13:11] StephanBijzitter commented on #81
I came to this issue because I found that the only two values accepted are "macos-10.15" and "macos-latest", which are both are same thing.

I run tests with Selenium 3 on Safari 11, which in turn requires "macos-10.13" to exist. Running on "macos-10.15" means I'd have to use Selenium 4 with Safari 13, but all my other tests would still have to use Selenium 3.

That's inconvenient, but next to tha

[2020-05-06 13:16] maxim-lobanov commented on #605
It is mentioned that the issue will be resolved in Visual Studio 16.6. Currently, it is in preview. Not sure about release date

[2020-05-06 13:36] maxim-lobanov commented on #81
Hello @StephanBijzitter ,
Currently,
- GitHub Actions supports only `macos-10.15`
- AzDO supports `macos-10.14` and `macos-10.15`

Unfortunately, we don't have plans to add `macos-10.13` because it was removed (deprecated) from Azure DevOps recently (when 10.15 was added)

[2020-05-06 14:45] Darleev commented on #820
@tysonite We've found a workaround for the issue on MacOS agent, to reach our goal, it is required to disable time synchronisation using the following commands in runtime:
[code]
Please try this solution on your side. We are looking forward to your reply.

[2020-05-06 16:14] tysonite commented on #820
Thanks, @Darleev, I will report back if any issues.

[2020-05-06 16:19] kudaba commented on #128
It's a lot better than before, thanks for taking the time to look into this. I can imagine the rest of the cost is probably just spinning up from the HD into the ram cache, etc, etc. This still saves a lot of minutes per run.

[2020-05-06 17:34] tysonite opened #841 "(X) This check failed - sometimes happens on macOS runner"
Sometimes, only "(X) This check failed" message appears on the output for a particular macOS run, example is here: https://github.com/tysonite/robotframework/runs/650302841?check_suite_focus=true

![image](https://user-images.githubusercontent.com/196535/81209526-55e57e00-8fd9-11ea-97b8-2b5879d3b1a1.png)

This error message does not include other information to get details of what's going wrong in

[2020-05-06 23:57] jamesmcguirepro opened #842 "Add Windows SDK 8.1"
**Tool information**
- Tool name: Microsoft Windows SDK
- Tool license:
- Add or update? Update
- Desired version: 8.1
- Approximate size: 0.98 GB
- If this is an add request:
  - Brief description of tool: Windows Software Development Toolkit
  - URL for tool's homepage: https://developer.microsoft.com/en-us/windows/downloads/sdk-archive/

**Area for Triage**:

**Question, Bug, or Feature?**:

**

[2020-05-07 00:09] johanatan opened #843 "libsodium"
**Tool information**
- Tool name: libsodium
- Tool license: ISC license
- Add or update? Add.
- Desired version: latest.
- Approximate size: No idea.
- If this is an add request:
  - Brief description of tool: it's required for cryptography (which is required for your "secrets API").
  - URL for tool's homepage: https://github.com/jedisct1/libsodium

**Area for Triage**:

**Question, Bug, or Featu

[2020-05-07 03:47] Darleev commented on #738
@kentonv The fix still not deployed due to postponed releases last time. We are doing our best to make release sooner.
We will keep you posted.

[2020-05-07 06:42] maxim-lobanov commented on #842
@jamesmcguirepro , Could you please share the approximate size of this SDK?

Also I see that Windows 8.1 SDK is officially deprecated in VS 2019.

[2020-05-07 06:48] AlenaSviridenko commented on #484
Hi @blueelvis!
MS SQL LocalDB is installed through Visual Studio installer, so installation of SSDT don't affect it.
We will consider the idea of installing a separate SQL Server Express in order to have more up-to-date version of LocalDB.
Thanks for raising this issue!

[2020-05-07 08:04] andy-mishechkin commented on #843
Hello, Johanatan!
Please select the Virtual environments, where you plan to use libsodium.
Also may you provide approximate size of this feature (it may be different on various virtual environments).
Thank you

[2020-05-07 08:10] elduddz commented on #507
@maxim-lobanov Thanks, I am not sure what is going on with this.

I have tested in UKS and Central US, the CUS was fine, the UKS returned this message:
[code]

Looking at the install step:
[code]

so it looks like the Choco-Install has detected that nsis has installed, but the validate cannot run one of the commands? I am wondering if looking for the program in choco list isnt 100% proof, is it po

[2020-05-07 08:25] jleonard-r7 commented on #843
I believe it is too late for me to edit but I need it for latest Ubuntu and it’s approximately 2MB. Thanks!

[2020-05-07 08:47] andy-mishechkin commented on #843
libsodium is shipped by ISC license

[2020-05-07 08:54] jleonard-r7 commented on #843
Yes. And?

[2020-05-07 08:56] AlenaSviridenko commented on #777
Default Xcode was changed, closing this issue.

[2020-05-07 08:56] #777 closed

[2020-05-07 09:02] maxim-lobanov commented on #843
ISC license should work for us since it allows to distribute software.
Did you consider installation of this tool in runtime?

It can be installed using the following code (it takes about 5 seconds to install):
[code]

[2020-05-07 09:26] jleonard-r7 commented on #843
Yea I tried that but Clojure tools.deps caesium compile could not find it. Probably there is a way to make it work but I will have to troubleshoot some more.

[2020-05-07 09:52] al-cheb commented on #507
@elduddz, Hi, This  is a known choco issue  - https://github.com/chocolatey/choco/issues/1521.

[2020-05-07 09:55] maxim-lobanov commented on #835
Hello @ruixi1994 , thank you for raising this question.
Unfortunately, we are not super familiar with process of Apple notarization signing but at the first look, it is not possible with VMs.
As I understand the process correctly, we need to include UUID of our build machines to the provisioning profile. All of our builds run on one of our Virtual Machines chosen during runtime. Since the UUID of

[2020-05-07 10:02] UBaggeler commented on #815
I assume you're talking about beta 1. Apple yesterday released beta 2 (11N605f), which should allow to upload apps with Exposure Notification to Testflight. Do you already know when we can expect this?

[2020-05-07 10:15] maxim-lobanov commented on #815
`beta 1` will be available today.
`beta 2` will be available on Wed / Thu next week

We have a lot of VMs that we need to update with new software so it takes ~1 week time to propagate update to all VMs

[2020-05-07 10:36] al-cheb commented on #837
Hello, @simons-public

Hombrew does not really create a symlink by default at `/usr/local/opt/openssl` that points to the latest installed version.

[code]

As we can see above there are no any symlinks.

[code]

Why can't we deprecate OpenSSL 1.0.2t and use it as a default version on macOS image? - OpenSSL 1.1+ breaks some tasks -  https://github.com/microsoft/azure-pipelines-tasks/issues/11852 .

[2020-05-07 10:41] FrancescElies commented on #692
I did not get yet the time yet to undo the prependpath changes and see, but I'll report back if I find anything by that time.

Thanks for your support!

[2020-05-07 11:56] Darleev commented on #820
@tysonite could you please provide us with results of your tests? Are they successful?
We are looking forward to your reply.

[2020-05-07 13:23] maxim-lobanov commented on #302
Closing this issue because initial issue is related to self-hosted agent, not Hosted one. Feel free to ping me if you have any concerns

[2020-05-07 13:23] #302 closed

[2020-05-07 14:21] pekkaklarck commented on #820
I merged a PR by @tysonite with these fixes (robotframework/robotfamework#3571) and results are here:
https://github.com/robotframework/robotframework/runs/652387887

There's some macOS failure but apparently it's something different and @tysonite already reported it as #841. No time related failures this time, but these failures have been flaky so one successful run doesn't guarantee anything. We

[2020-05-07 15:00] StephenCleary opened #847 "Documentation for when prerelease images are available"
**Describe the bug**
I can't find a description for when/how prerelease images are rolled out, or if/how prelease images can be used in my actions before they roll out.

**Area for Triage**:

**Question, Bug, or Feature?**:
Question

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

(possibly ot

[2020-05-07 15:14] Darleev commented on #820
@pekkaklarck Thank you for an update. I have already verified that the workaround works fine . Just in case I will perform additional test, python/c++ to make sure it's not just a coincidence.
[Successful run #1](https://github.com/roasted-eggplant/v-danurg-time/actions/runs/98115348)
[Successful run #2](https://github.com/roasted-eggplant/v-danurg-time/actions/runs/97657816)
[Successful run #3](h

[2020-05-07 15:22] jamesmcguirepro commented on #842
@maxim-lobanov
It's listed as 0.98 GB on my local machine's Uninstall Programs list

[2020-05-07 15:29] alepauly commented on #759
hi @ruslan-shuster, considering the install is pretty quick and simple we won't bake it into the images. We've been having issues with disk space and so we are trying to prioritize only the more critical tools. Thanks for reaching out.

[2020-05-07 15:29] #759 closed

[2020-05-07 15:33] simons-public commented on #837
@al-cheb Homebrew _does_ actually by default create a symlink by default at `/usr/local/opt/openssl` that points to the latest installed version. The warning there is about what Homebrew calls linking, which is putting links in `/usr/local` like the `/usr/local/bin/openssl` you mentioned.

You can test this by running `brew install openssl` on a fresh install with no other packages and looking at

[2020-05-07 15:47] maxim-lobanov commented on #847
Hello @StephenCleary ,
Actually, you can't switch between image versions. Let me clarify our deployment process a bit.

We have a huge number of VMs that we need to update and usually it takes 3-4 days to propagate new image to all VMs. Pre-release is created when deployment is started. And then pre-release is converted to release when the deployment is finished. Current deployment is in progress

[2020-05-07 15:57] maxim-lobanov commented on #815
`Xcode 11.5 beta 1` is available on all VMs

[2020-05-07 16:16] miketimofeev commented on #815
@ydnar I'm going to close the issue, feel free to ping me if you have any concerns.
Thank you!

[2020-05-07 16:16] #815 closed

[2020-05-07 16:23] tysonite commented on #820
I also have scheduled tests running once a day here (C++ / Python): https://github.com/tysonite/test_cpython/actions. I suppose if they are fine till Monday, we could consider issue I described in the first post as fixed.

However, this is only a work-around, but not a fix if I understand this right. Despite of the good results, the fix is required globally applied to all runners, probably.

[2020-05-07 16:35] al-cheb commented on #837
@simons-public,
Yep, you are right.  My fault, I have double checked and confirmed about symlinks. I will update documentation about OpenSSL 1.0.2t point to the /usr/local/opt/openssl/ until the task will not be fixed - https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/Common/ios-signing-common/ios-signing-common.ts

[2020-05-07 16:50] Darleev commented on #820
@tysonite currently, we are not planning to implement fix for the issue globally, and I can only provide the workaround. Synchronisation is out of the box MacOS feature, and it seems 1 failure for 1.000.000 attempts(every 0.0001) is expected behavior in such cases.
I'm going to close the issue for now. If additional assistance or information is required, please do not hesitate to contact us.

[2020-05-07 17:07] bansp commented on #423
I would like to ask the maintainers to reconsider the "wontfix". `xmllint` is a lightweight utility on top of libxml2 that would cater to the basic needs of the XML-based (or XML-dependent) community by providing fast validation against the most important / widespread document grammars. While its installation may take 7 seconds on a good day, and it has succeeded for me as well, this very note was

[2020-05-07 17:17] tysonite commented on #820
I never used macOS, and you might be right. In Linux, such behavior usually means misconfiguration if either guest or host OS, e. g.  https://www.redhat.com/en/blog/avoiding-clock-drift-vms

In any case, thanks again for your support!

[2020-05-07 17:18] simons-public commented on #837
@al-cheb Thanks!

[2020-05-07 17:20] #820 closed

[2020-05-07 19:16] StephenCleary commented on #847
Ah, [that](https://github.com/actions/virtual-environments/issues/709) makes perfect sense. Thanks!

[2020-05-07 19:44] arvindshmicrosoft opened #850 "Update Data Tools"
**Tool information**
- Tool name: sqlpackage for Windows / Data Tools
- Tool license: MSFT redistributable
- Add or update? Update
- Desired version: current latest from https://go.microsoft.com/fwlink/?linkid=2128142
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:

**Area for Triage**: Databases

**Question, Bug, or Feature?**:
 Feature

[2020-05-08 03:35] #847 closed

[2020-05-08 04:02] maxim-lobanov commented on #736
@JasonGross , Hello!
Could you please check if you still see the same issues?

[2020-05-08 04:11] maxim-lobanov commented on #835
@ruixi1994 , thank you for pushing me for additional investigation.
After additional investigation, I have realized that I was wrong in my previous post and relied on legacy documentation that is wrong for now.

Currently, all available VMs, for all pools, have the same `Hardware UUID`(4203018E-580F-C1B5-9525-B745CECA79EB) and it comes from the fact how virtualization works.
You can get this UUID

[2020-05-08 06:59] #818 closed

[2020-05-08 07:49] al-cheb commented on #672
Hi, @dtitov
We have pre-installed `haveged` on Ubuntu images.  Feel free to open the thread if you have any concerns.

[2020-05-08 08:08] pekkaklarck commented on #820
For our usage the workaround is adequate. Thanks for support @Darleev and thanks for investigation @tysonite!

[2020-05-08 08:24] elduddz commented on #507
Only a few years old 😏

[2020-05-08 08:30] al-cheb commented on #785
Hello, @38leinaD
Good news, @maxim-lobanov have created wrapper [configure-pagefile-action](https://github.com/marketplace/actions/configure-pagefile) task. Feel free to use in your pipeline.

E.g.

[code]

![page - Copy](https://user-images.githubusercontent.com/47745270/81387392-42dcc600-911f-11ea-8c32-d31f0fac570b.JPG)

[2020-05-08 09:32] maxim-lobanov opened #852 "Deprecation of old Haskell, Cabal versions on Ubuntu images"
Hello everyone,
Recently, [actions/setup-haskell v.1.1](https://github.com/actions/setup-haskell/releases/tag/v1.1.0) was released. This version started to support installation of Haskel, Cabal, Stack on-demand. Considering this fact, we are planning to deprecate old versions of ghc and cabal from the image to release free space for new software.

In future, we are planning to pre-cache 3 latest r

[2020-05-08 09:42] vsafonkin commented on #731
Hi @estesp , I close this issue, please, feel free reopen it if you have any concerns, thank you!

[2020-05-08 09:42] #731 closed

[2020-05-08 10:22] al-cheb commented on #220
Hello, @liborty

The `apt-get autoremove` command provide list of packages that we can't delete, because it will break some customers who use e.g.`bc` in their scripts.
[code]
198 MB is not large amount of space that we can save on an image.

To suppress message about obsolete package, please use one of the workarounds:

1. flag -qq
`sudo apt-get -qq install zstd`

2. apt.conf
[code]

I will prepa

[2020-05-08 13:24] FrancescElies opened #855 "Add [Windows Defender] (question/feature)"
**Problem:**
I wanted to run following commands in the cloud:
[code]

Is there a way to do this or something I missed?

**Tool information**
- Tool name: Windows Defender

**Area for Triage**:
Don't know

**Question, Bug, or Feature?**:
Question and/or Feature (not sure)

**Virtual environments affected**
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Can this tool be installed during t

[2020-05-08 14:05] al-cheb commented on #855
Hello, @FrancescElies

You should use a scheduled job to run antivirus check:

Example:
[code]

![antivirus - Copy](https://user-images.githubusercontent.com/47745270/81413460-22783000-914e-11ea-902a-a0e712301f8b.JPG)

[2020-05-08 15:00] psftw commented on #690
How can I call buildx? With Docker CE it is built-in as a subcommand, but this ("docker buildx") doesn't seem to work in Actions.

https://github.com/actions/virtual-environments/blob/master/images/linux/scripts/installers/docker-moby.sh#L30 :thinking:

[2020-05-08 15:06] maxim-lobanov commented on #690
Hello @psftw , we have a delay with delivering new image because of the a few issues.
We are expecting new image is available on Tue next week. After that command `docker buildx` should work

[2020-05-08 15:42] mganandraj commented on #836
Hi @maxim,

Considering the size of the image, Is it a good practice to download and install them as part of CI validation, assuming double digit PRs each day ? Are there network caching layers to serve this kind of download patterns ?

Thanks
ANandraj

From: Maxim Lobanov <notifications@github.com>
Sent: Wednesday, May 6, 2020 3:43 AM
To: actions/virtual-environments <virtual-environments@noreply

[2020-05-08 17:18] maxim-lobanov commented on #836
We understand that it can be pretty painful to install Android emulators in runtime, especially if the number of builds is pretty huge.
We are trying to improve our images constantly and currently, our main focus is improving stability of our images and software that is already installed. It means that we have to be fairly picky right now about new software.

By default, no, but you can use [actio

[2020-05-08 22:10] ruixi1994 commented on #835
Thanks you so much for the updates! Let me try this and verify. Really appreciate your help!

[2020-05-08 22:21] rbellamy commented on #852
This brings up a point that I am continually confused by - all the sample workflows suggest using an action to "setup" your respective environment (e.g. Python, Node, Java, Haskell, etc), and yet the runners come with those preinstalled - in the case of Java, it's got 7, 8, 11, and 12.

What is the policy (if there is one) and best-practice of pre-installed vs "action-setup" for language toolchain

[2020-05-08 23:11] xperiandri opened #857 "Xamarin F# 4.6+ does not build on macOS 10.15.4"
**Describe the bug**
On macOS 10.15.4 old F# compiler (4.5) is used to build Xamarin projects.

**Area for Triage**:
Xamarin

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [X] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
Xamarin is being built with the latest F# 4.7.1 compiler

**A

[2020-05-09 01:55] riverar opened #858 "Windows Application Packaging Project doesn't compile against recently added Windows 10 SDK (10.0.14393.795)"
**Describe the bug**
Windows 10 SDK 14393 was added to Windows virtual images per my issue #451 (added via PR #580). (Thanks!) But the [14393 SDK feature](https://github.com/actions/virtual-environments/pull/580/commits/b7714ce050888355c6ac0611539afc190ffd8b1d#diff-dd501d5a81da549f4f4e3133b66b66fdR124) installed via Visual Studio 2019 installation does not appear to install the components necessar

[2020-05-09 06:02] maxim-lobanov commented on #857
Hello @xperiandri , unfortunately, it is not something that can be fixed from image side.

F# 4.7 is available on image as a part of .NET Core
[code]

However, if you build Xamarin app, F# from Mono is used for build.
[code]
The current stable version of Mono (6.8) is installed on image and it contains F# 4.5.
I also checked and it looks like that next version of Mono (6.10; still in-preview) stil

[2020-05-09 06:14] maxim-lobanov commented on #852
Hello @rbellamy , you should always use setup actions to configure your environment if it is possible.

The most of the `setup-*` actions (at least, official actions) works the following way:
1) Check if specified version is pre-installed on the image. If it is pre-installed, action switches version immediately (without any delay).
2) If version is not pre-installed, it downloads it and install in

[2020-05-09 12:17] xperiandri commented on #857
Ah, does that mean that it doesn't build on Mac at all without new Mono in preview?

[2020-05-09 14:53] leotsarev commented on #702
I wonder why readme for Windows 2019 image states localdb version as Version: 15.0.4538.1

[2020-05-09 15:05] maxim-lobanov commented on #857
As I mentioned above, looks like preview version of Mono still contains F# 4.5 :(
Yes, it means that Xamarin apps with F# 4.7 can't be built on Mac at all.
(I am not F# developer so I could be wrong, but based on my investigation, it is true).

I suggest to create an issue against Mono to clarify if they have any plans to update F# in future releases.

[2020-05-09 15:54] Juriyx commented on #857
Well, as F# 4.6+ are used only in .NET Core projects we found a workaround to build .NET Core project with `dotnet build -o "Biblioteko.Mobile/bin/iPhone/$(BuildConfiguration)/netstandard2.0/"` and `dotnet build -o "Biblioteko.Mobile/bin/iPhone/$(BuildConfiguration)/netstandard2.0/"` first and then use `/p:BuildProjectReferences=false` to build Xamarin projects

[2020-05-09 19:02] Margen67 opened #859 "Update/Add XCode 9.4.1"
**Tool information**
- Tool name: XCode
- Tool license:
- Add or update? Add
- Desired version: 9.4.1
- Approximate size:
- If this is an add request:
  - Brief description of tool: XCode ~9.4.1 is the last version of XCode to support building 32-bit applications. It used to be in older versions of the macOS environment.
Travis, and CircleCI also have it:
https://docs.travis-ci.com/user/reference/

[2020-05-10 06:33] maxim-lobanov commented on #859
Hello,
Unfortunately, it is not possible to add Xcode 9.4.1 to our images.
For GitHub Actions, we provide the single macOS version - 10.15 (Catalina). Xcode 9.4.1 is not supported on it (Actually, you can't install this version of Xcode through https://github.com/marketplace/actions/setup-xcode action)
A few related threads on Apple forum:
- https://forums.developer.apple.com/thread/126968
- https

[2020-05-10 06:33] #859 closed

[2020-05-11 05:33] riverar commented on #842
All SKUs of Windows 8.1 have left mainstream support. Only extended support is available for this version of Windows.

Azure Pipelines has green lit the addition of this SDK to their image
https://github.com/Microsoft/azure-pipelines-image-generation/commit/2b478e34162f61738bf10d02bc2e11a56ec1223c

You can install just the desktop/.NET SDK features (no tooling) via:
`sdksetup.exe /features OptionI

[2020-05-11 07:36] FrancescElies commented on #855
@al-cheb Thanks for the quick reply, a couple of questions.

Just for my understanding, what's the reason behind for having to run `MpCmdRun.exe` over the scheduler? shouldn't `"C:\Program Files\Windows Defender\MpCmdRun.exe" -Scan -ScanType 3 -File myfile.so` be enough?
I saw you used `/st 13:00` starts the command at on o'clock? Is there any trick here I don't see so that the command starts dire

[2020-05-11 08:37] miketimofeev commented on #858
Hi @riverar!
Unfortunately, I've found there is no such SDK component for VS19, that's why compile doesn't work.
![image](https://user-images.githubusercontent.com/48208649/81540787-d52cd600-937a-11ea-9859-07db8e0251c9.png)
We will consider adding the SDK through the setup file as you suggested.
Thank you!

[2020-05-11 08:54] maxim-lobanov commented on #857
I am going to close this issue since it is not the image defect and unfortunately, we can't fix this issue from our side.

@Juriyx , thank you for provided work around. I think it can be useful for some people.
In general, I suggest to log issue against mono to update F#.

[2020-05-11 08:54] #857 closed

[2020-05-11 09:01] al-cheb commented on #855
@FrancescElies,
1. I saw you used /st 13:00 starts the command at on o'clock? - I am using ` Start-ScheduledTask -TaskName $taskName` command in my example to start a scheduled task right now and wait after finishing.

2. - run: is an alias for - powershell, right? - by default it uses pwsh shell. I forgot to provide shell: powershell when copy the example:

[code]

3. Just for my understanding, w

[2020-05-11 09:17] maxim-lobanov commented on #645
Hello @jared-w ,
Just a question about Stack. I have found that you are expecting to find Stack in tool-cache dir for all OSs: https://github.com/actions/setup-haskell/blob/master/src/installer.ts#L69
We will put it there for Windows / macOS. But it looks like currently, for Ubuntu we install Stack to [different directory](https://github.com/actions/virtual-environments/blob/master/images/linux/sc

[2020-05-11 09:36] dibir-magomedsaygitov commented on #572
We fixed this issue on Ubuntu by changing the permissions during the deployment of image. Changes were merged and will be delivered to all VMs in a week.

[2020-05-11 09:40] riverar commented on #858
@miketimofeev In the meantime, I'll send an email to the Visual Studio folks. I don't understand why 14393 was removed ([prematurely too](https://github.com/MicrosoftDocs/visualstudio-docs/commit/37e6886087e40f8576eaa82dfd5e87e524c2319f#diff-757fef660bf40737850ce059881acf40L387)) as it's the current LTSC build.

[2020-05-11 09:44] ordian commented on #572
@dibir-magomedsaygitov thanks a bunch for the PR! I see it was closed instead of being merged, was that intended?

[2020-05-11 09:47] maxim-lobanov commented on #572
@ordian , Yep. We have decided to apply fix during deployment instead of image-generation (this code is located in our private repository).
Unfortunately, it is not possible to fix the issue from image-generation side because user profile is re-created during deployment

[2020-05-11 09:52] ordian commented on #572
@maxim-lobanov thanks for the clarification! Do you think it's possible to apply the same fix for Windows deployments as well?

[2020-05-11 10:42] maxim-lobanov commented on #572
@ordian , On Ubuntu, you experienced issue with permissions and this fix will help you.

On Windows, the issue is different and i don't think that it is image issue.
`actions/cache` uses `tar` to pack and unpack files and tar doesn't work properly with symlinks on Windows.
Actually, this issue affects not only Rust but NPM https://github.com/actions/cache/issues/257 and any other cases where you n

[2020-05-11 10:42] maxim-lobanov commented on #572
@ordian , On Ubuntu, you experienced issue with permissions and this fix will help you.

On Windows, the issue is different and i don't think that it is image issue.
`actions/cache` uses `tar` to pack and unpack files and tar doesn't work properly with symlinks on Windows.
Actually, this issue affects not only Rust but NPM https://github.com/actions/cache/issues/257 and any other cases where you n

[2020-05-11 11:18] ordian commented on #572
I see, thanks!

[2020-05-11 11:22] AlenaSviridenko commented on #803
I am closing this issue, since problem seems to be resolved.
Please, feel free to file the new ticket, if anything new comes up. Thanks!

[2020-05-11 11:22] #803 closed

[2020-05-11 11:24] miketimofeev commented on #698
For reference: Internal incident number 184150533

[2020-05-11 12:28] FrancescElies commented on #855
For the moment I have it running on a self-hosted machine, over there I can run `MpCmdRun` directly.

Is `hr = 0x80070422` a bug? Is this something to be addressed?
At some point I it would be nice to move that job to the cloud without having to do gymnastics with the scheduler.

[2020-05-11 13:12] al-cheb commented on #855
Is hr = 0x80070422 a bug? - Nope, `wuauserv` service is disabled by default.  You should manually enable the `wuauserv` service and start pipeline.

[code]

[2020-05-11 13:19] dmitry-shibanov commented on #769
Hello, pull request was merged. Changes would be added in the next images rollout.

[2020-05-11 13:20] Darleev commented on #702
@KrispyX we have added installation of SSDT workload for Visual Studio 2019 in scope of [feature request](https://github.com/actions/virtual-environments/pull/844) to the image and it will be rolled out next week.
In case of any questions, please let us know, we will be glad to assist you further.

[2020-05-11 13:52] KrispyX commented on #702
Thanks @Darleev.  Much appreciated.

[2020-05-11 14:09] rbellamy commented on #852
@maxim-lobanov I'm not sure I've found that the official setup actions leverage the preinstalled versions. Maybe I'm wrong, but from what I can tell, they ONLY leverage those items that have been installed in the tool cache.

[**Java setup action**](https://github.com/actions/setup-java/blob/5c87b70ffefc9ca2e77153b3528c6b7bc85a84a9/src/installer.ts#L35)
[code]

**toolcache-1804.json**
[code]

So,

[2020-05-11 14:15] Darleev commented on #850
Hello @arvindshmicrosoft
I have added few changes to upgrade Data Tool to the latest version. Currently, [feature request](https://github.com/actions/virtual-environments/pull/863) in review state. I will keep you posted about status.

[2020-05-11 14:39] maxim-lobanov commented on #852
@rbellamy , I am not familiar with `actions/setup-java` action so I was talking about setup-haskell, setup-node, setup-python, and etc. But after quick look, you are right about `setup-java`.

We install Java to these locations from the very beginning and `actions/setup-java` was appeared later. So I think it is the question for maintainers of `actions/setup-java` action why they are not looking f

[2020-05-11 15:08] FrancescElies commented on #855
I see, I will close this one, thanks for your help!

[2020-05-11 15:08] #855 closed

[2020-05-11 17:07] ruixi1994 commented on #835
@maxim-lobanov I registered the UUID with Microsoft Corporation Apple Developer program and verified that the developer cert works on the virtual image now! Thanks so much! Please let me know if you got the answer of how often it will change. Really appreciate your help.

[2020-05-11 18:19] Nielsbishere commented on #18
I think it should be added too. At least the tools and lib/include files. The solution @kudaba mentioned didn't work for me, it completed but the %VULKAN_SDK% variable wasn't set on completion and therefore it couldn't complete for me.

[2020-05-11 19:25] moljac opened #865 "MacOSX images with case sensitive APFS filesystem"
MacOSX installation defaults to case insensitive APFS filesystem, but it would be good to have images with case sensitive filesystem. Case insensitive FS are more tolerant and a lot of errors are undetected.

Building on case sensitive MacOSX would also cover some tests for Linux, which has case sensitive by default.

Some errors due to case sensitivity:

https://github.com/novotnyllc/MSBuildSdkEx

[2020-05-12 06:48] MaxPeal commented on #114
+1

[2020-05-12 07:48] miketimofeev commented on #858
@riverar PR with the change has been merged. I'll notify you when the image is deployed.
Thank you!

[2020-05-12 09:15] domenkozar commented on #709
Is there some progress to fix this? I'm currently deleting `/opt` but getting a lot of support from people to workaround this issue.

[2020-05-12 09:53] AlenaSviridenko commented on #30
PR with added MSYS2 was merged, fix should be available on the next rollout in a week or two.

[2020-05-12 09:55] lundman commented on #650
I build kexts that I would like to kextload, and SIP disabled would certainly help, I would be able to avoid the whole codesign/certificate access in CI.

[2020-05-12 10:00] maxim-lobanov commented on #709
@domenkozar , how much space do you have right now at the build start?
It should be 14 GB. Please let us know if you have less

[2020-05-12 10:43] domenkozar commented on #709
`/dev/sda1        84G   71G   13G  86% /`

[2020-05-12 10:49] maxim-lobanov commented on #709
Thanks! Based on documentation, runners [should have 14 GB of free disk space](https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners#supported-runners-and-hardware-resources) and currently, we are deploying the new image where 14 GB should be available.

[2020-05-12 12:56] Poil opened #868 "Update/Add azcopy"
**Tool information**
- Tool name: azcopy
- Tool license: MIT
- Add or update? update
- Desired version: v10
- Approximate size: 20Mb
- If this is an add request:
  - Brief description of tool: AzCopy v10 is a command-line utility that you can use to copy data to and from containers and file shares in Azure Storage accounts
  - URL for tool's homepage: https://github.com/Azure/azure-storage-azcopy

[2020-05-12 13:03] miketimofeev commented on #868
@Poil could you please update the description with `Approximate size: 20Mb`?

[2020-05-12 13:34] cmconti opened #869 "Unable to compile project that includes mscoree.h"
**Describe the bug**
Unable to compile project that includes mscoree.h

**Area for Triage**: .NET Framework, C/C++

**Question, Bug, or Feature?**: Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [X] Windows Server 2019

**Expected behavior**
Expect project to compile

**Actual behavior**
Compile fails with error

[2020-05-12 13:44] miketimofeev commented on #869
Hi @cmconti!
Could you please provide a failed sample workflow? It will help us a lot during the investigation.

[2020-05-12 14:07] damccorm opened #870 "Cached node on ubuntu not set up correctly"
**Describe the bug**
I think [this commit](https://github.com/actions/virtual-environments/commit/9b1143ddddc87e3924cc36a7cefc3d14c4bf10cb) introduced a bug and isn't setting up node modules correctly.

**Area for Triage**: JavaScript and Node.js

**Question, Bug, or Feature?**: Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Ser

[2020-05-12 14:31] maxim-lobanov commented on #870
Hello @damccorm , Thank you for the report.
We are aware about this issue and it affects only Ring 0 currently.
We have done fix on Provisioner side and it should be deployed to Ring 0 today later

[2020-05-12 14:33] alepauly commented on #371
Hi @pitrou - sorry for the delay in responding here. Considering maintenance concerns and the fact that it can be installed during the build, we are not going to pre-install this into the virtual environments. Thanks for reaching out.

[2020-05-12 14:33] #371 closed

[2020-05-12 14:44] domenkozar commented on #709
@maxim-lobanov What's the reason for `/` to have 14GB and `/mnt` to have 14GB? It would be preferable to have both combined on `/`.

[2020-05-12 15:17] miketimofeev commented on #868
@Poil I've created a PR with Azcopy10, but we can't get rid of version 7 at the moment to not break any workflows, which depend on version 7 functional.

[2020-05-12 15:36] Kleinzs opened #872 "Update/Add [tool name]"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2

[2020-05-12 15:39] miketimofeev commented on #872
Hi @Kleinzs!
Could you please update the description with corresponding values?

[2020-05-12 15:59] miketimofeev commented on #872
I'm going to close the issue since no description provided.

[2020-05-12 15:59] #872 closed

[2020-05-12 16:13] Darleev commented on #850
@arvindshmicrosoft We have added Data Tools latest to the image and it will be rolled out next week.
In case of any questions, please let us know, we will be glad to assist you further.

[2020-05-12 16:56] cmconti commented on #869
If you have access to it, here is the job output from a test project
https://dev.azure.com/Pegasystems-ATL/Chris%20Conti%20Playground/_build/results?buildId=1695&view=results

if not, I've attached the source code and the build logs
[logs_1695.zip](https://github.com/actions/virtual-environments/files/4617220/logs_1695.zip)
[MscoreeTest.zip](https://github.com/actions/virtual-environments/files/46

[2020-05-12 17:42] junr03 opened #875 "Cannot create Android 28 emulator"
**Describe the bug**
Cannot create Android 28 emulator.

**Area for Triage**:
Android

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [X] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
I expect Android 28 to be supported per: https://github.com/actions/virtual-environments/blob/master

[2020-05-12 17:47] maxim-lobanov commented on #875
Hello!
Actually, we don't pre-install emulators on images. Please see details in #663 .
So you have to install simulator in runtime,
Also you can use [android-emulator-runner](https://github.com/ReactiveCircus/android-emulator-runner) action to configure simulator

[2020-05-12 17:50] miketimofeev commented on #869
@cmconti we don't have access, thanks for the files!

[2020-05-12 19:48] miketimofeev commented on #870
@damccorm should be fixed now. Could you check, please?

[2020-05-12 19:49] zscgeek opened #876 "Update/Add Conan"
**Tool information**
- Tool name: Conan
- Tool license: MIT
- Add or update? Add
- Desired version: Latest
- Approximate size:
- If this is an add request:
  - Brief description of tool: Conan C++ Package Manager
  - URL for tool's homepage: https://conan.io/

**Virtual environments affected**
- [X ] macOS 10.15
- [X ] Ubuntu 16.04 LTS
- [X ] Ubuntu 18.04 LTS
- [ X] Windows Server 2016 R2
- [X ] W

[2020-05-12 19:59] jared-w commented on #645
@maxim-lobanov there's actually a subtle reason for why I did things that way although it ultimately boiled down to a trade-off between code complexity and speed. tl;dr yes it installs stack every time on linux, but it doesn't *have* to.

On Linux, stack is preinstalled, but not to a versioned directory. As such, the only reliable way of making sure the *right* version of stack is on the path is c

[2020-05-12 20:05] miketimofeev commented on #875
@junr03 looks like you've specified the wrong image `'system-images;android-28;google_apis;x86'`, there are 4 of them available
![image](https://user-images.githubusercontent.com/48208649/81739930-d9eda900-94a4-11ea-81f7-0c2d3d4c3a38.png)
[code]
I'm going to close the issue, but feel free to ping me if you have any concerns and I'll reopen it.
Thank you!

[2020-05-12 20:06] damccorm commented on #870
Looks like its working now, thanks for the quick turnaround!

Successfully build - https://dev.azure.com/vstscix/damccormTest/_build/results?buildId=115149&view=logs&j=09020321-c96b-5abf-ada0-57823a408a7d&t=09020321-c96b-5abf-ada0-57823a408a7d

[2020-05-12 20:06] #870 closed

[2020-05-12 21:16] bachp commented on #423
@bansp Have you considered runnint `apt-get update` before `apt-get install libxml2-utils` in my case it reduced the issue.

[2020-05-12 22:14] bansp commented on #423
Hi @bachp I do use that line indeed now, thanks, but how can that help against network latency? I was unable to fetch the package. Updating first, with each single action, I run a greater risk of overall failure, because many more chance repositories can turn out to be unavailable.
Part of my thinking was that installing the utils package is a small price in PR terms as well, to be able to say to

[2020-05-13 01:39] Takashiidobe opened #877 "Update/Add OCaml"
**Tool information**
- Tool name: OCaml
- Tool license: GNU Lesser General Public License. More details at: https://ocaml.org/docs/license.html
- Add or update? Add
- Desired version: [4.10.0, 4.09.1, 4.09, 4.08.1] (This list can be altered as necessary).
- Approximate size: ~307MB on Mac OS X with homebrew, ~400MB on Linux installing OPAM and using `opam switch`
- If this is an add request:
  - B

[2020-05-13 05:42] maxim-lobanov commented on #427
Closing the issue. Feel free to reopen if you still see the issue

[2020-05-13 06:13] al-cheb commented on #672
Hello, @dtitov
We have pre-installed `haveged` on Ubuntu images - https://github.com/actions/virtual-environments/blob/releases/ubuntu18/20200430/images/linux/Ubuntu1804-README.md
Feel free to open the thread if you have any concerns.

[2020-05-13 06:13] #672 closed

[2020-05-13 06:20] al-cheb commented on #572
@ordian, Could you please check rust folder permissions? It should be `runner:docker` now.

[2020-05-13 06:26] al-cheb commented on #708
Hello, @pradyunsg
The `FS-iSCSITarget-Server` feature is now pre-installed on Windows images. Feel free to open the thread if you have any concerns.

![fs - Copy](https://user-images.githubusercontent.com/47745270/81778573-cd486f80-94fb-11ea-9109-0ca4ef3a89a2.JPG)

[2020-05-13 06:26] #708 closed

[2020-05-13 06:28] mortenholmgaard commented on #875
This has been working up until a few days ago. We have had this working in our script for the last 6 months or more.

'system-images;android-28;google_apis;x86'

[2020-05-13 06:57] miketimofeev commented on #875
@mortenholmgaard looks like this image has been deprecated, we didn't make any changes on the VM and it also doesn't work on my local mac
[code]

[2020-05-13 07:17] miketimofeev commented on #730
@konradpabjan FYI
The image has been rolled out. Close the issue.

[2020-05-13 07:17] #730 closed

[2020-05-13 07:20] maxim-lobanov commented on #694
Closing the issue since update was delivered to all images. Sorry for delay

[2020-05-13 07:20] #694 closed

[2020-05-13 07:21] miketimofeev commented on #797
@sjackman the image has been rolled out.
[code]
I'm going to close the issue, but feel free to ping me if you have any concerns.
Thank you!

[2020-05-13 07:21] #797 closed

[2020-05-13 07:25] miketimofeev commented on #732
The image with `libgbm` has been deployed.
@nandor-poka feel free to ping me if you have any concerns.
Thank you!

[2020-05-13 07:25] #732 closed

[2020-05-13 07:26] miketimofeev commented on #656
@raulpopadineti we have deployed the new image with Ruby 2.7.1
I'm going to close the issue, but feel free to ping me if you have any concerns.
Thank you!

[2020-05-13 07:26] #656 closed

[2020-05-13 07:29] maxim-lobanov commented on #117
New image with homebrew was deployed everywhere. Closing the issue

[2020-05-13 07:29] #117 closed

[2020-05-13 07:32] maxim-lobanov commented on #829
New image with NDK v21.1.6352462 was deployed.

[2020-05-13 07:32] #829 closed

[2020-05-13 07:34] maxim-lobanov commented on #753
@lechen26 , new image was deployed. Could you please check if snap works as expected?

[2020-05-13 07:35] maxim-lobanov commented on #320
Closing the issue since new image with software was deployed everywhere. Fix for versions work correctly too

[2020-05-13 07:35] #320 closed

[2020-05-13 07:38] maxim-lobanov commented on #752
Closing the issue since test works as expected on all images

[2020-05-13 07:38] #752 closed

[2020-05-13 07:46] AlenaSviridenko commented on #94
Images with AWS SAM CLI were deployed, closing this issue.
Please, feel free to contact up if needed.

[2020-05-13 07:46] #94 closed

[2020-05-13 07:57] AlenaSviridenko commented on #98
Hi @raido! Are there any updates on the app with repro?

[2020-05-13 08:11] maxim-lobanov commented on #605
I am closing this issue because actually, bug is related to Visual Studio. Not the images itself so I don't see any actions items from our side.
As I mentioned previously, fix should be available in Visual Studio 16.6 that will be released soon. We will deliver this update as soon as it is available. You can track new updates in our image documentation.

[2020-05-13 08:11] #605 closed

[2020-05-13 09:12] ordian commented on #572
@al-cheb seems to be working fine! https://github.com/openethereum/openethereum/pull/11706/checks?check_run_id=670160888#step:4:9

[2020-05-13 09:26] ordian commented on #572
I think the issue can be closed as the problem with `tar` on Windows is unrelated to permissions.
Thanks everyone!

[2020-05-13 09:26] #572 closed

[2020-05-13 09:43] raulpopadineti commented on #656
Thank you very much @miketimofeev !! 🙇

[2020-05-13 10:09] dmitry-shibanov commented on #614
Hello, changes were added. If you have any concerns feel free to reopen the issue.

[2020-05-13 10:09] #614 closed

[2020-05-13 10:31] maxim-lobanov commented on #835
@ruixi1994,
I have confirmed that UUID was not changed for the last 2 years. It is how our infra works right now. And we don't have plans to change it for now.
But unfortunately, we can't promise and guarantee that it won't be changed in future in case of some internal infra changes.

In my opinion, you can rely on the current UUID for now, because as I mentioned previously, we don't have plan to

[2020-05-13 10:33] AlenaSviridenko commented on #413
Hi @krokofant,
that's correct, LocalDB we are providing is installed with Visual Studio, it can be older that the one provided with SQL Server 2019.
Currently, we are not planning to install SQL Server 2019 on images due to breaking changes it can bring on them.

[2020-05-13 10:35] AlenaSviridenko commented on #413
Closing this issue, since we reviewed the possible impact of installing SQL Server Express and decided not to install it now.
Please, feel free to open the new ticket if needed. Thank you.

[2020-05-13 10:35] #413 closed

[2020-05-13 10:49] kpfleming commented on #320
Thanks for doing this @phozzy, I've updated my workflow to stop installing buildah now :-)

[2020-05-13 11:08] raido commented on #98
@AlenaSviridenko Hi, here is the repro - https://github.com/raido/gh-actions-macos-repro/runs/670493883 :)

[2020-05-13 11:21] dibir-magomedsaygitov commented on #739
Documentation has been successfully updated. All changes are delivered to VMs. Feel free to contact if you have any issues.

[2020-05-13 11:21] #739 closed

[2020-05-13 12:27] andy-mishechkin commented on #690
Docker buildx has been tested on the last Ubuntu image - all works correct.
I think, we can close this issue

[2020-05-13 12:27] #690 closed

[2020-05-13 12:57] andy-mishechkin commented on #76
Docker images have been checked. Ubuntu 14.04 docker image is present.
I think we can close this ticket

[2020-05-13 12:57] #76 closed

[2020-05-13 14:21] lgmorand commented on #666
I do agree, that's a need. Especially because it was available for AzDO (https://github.com/Microsoft/azure-pipelines-image-generation/)

I do hope, it'll get in the backlog at one moment :)

[2020-05-13 14:27] miketimofeev commented on #812
@soonho-tri the image has been deployed. Could you check everything is fine now, please?

[2020-05-13 14:28] ezYakaEagle442 commented on #666
👍
see also [https://github.com/MicrosoftDocs/azure-docs/issues/54750](https://github.com/MicrosoftDocs/azure-docs/issues/54750)

[2020-05-13 14:34] soonho-tri commented on #812
Confirmed. Thanks for the update, @miketimofeev .

[2020-05-13 14:34] #812 closed

[2020-05-13 16:58] sjackman commented on #797
Thank you, Mike!

[2020-05-13 19:05] Lewiscowles1986 commented on #104
does anyone here know how to force clang to build for mac?

[2020-05-13 19:34] al-cheb commented on #104
@Lewiscowles1986, Could you please take a look - https://github.com/actions/virtual-environments/issues/658#issuecomment-611921753

[2020-05-13 20:31] shivammathur commented on #666
For [`shivammathur/setup-php`](https://github.com/shivammathur/setup-php) after `2.2.0` release, [`shivammathur/node`](https://github.com/shivammathur/setup-php) docker images can be used for ubuntu workflows. For `windows` workflows `servercore` docker image with `pwsh` installed would work.

Example Dockerfile for setting up self-hosted runner - [Ubuntu](https://github.com/shivammathur/setup-php

[2020-05-13 21:48] ruixi1994 commented on #835
@maxim-lobanov,
Thanks again helping me with that! And glad to hear that this is not planned to be change in near future. My team and I decided to rely on it now as a temp solution. We also had added a function in task to detect the UUID change. I think this will be good for us so far! Thanks!

[2020-05-13 21:56] joshmgross commented on #427
👋 Hey @maxim-lobanov,

I'm still seeing a large NPM cache on `macOS-latest`:

Running `du -sh ~/.npm` outputs:  `202M	/Users/runner/.npm` so the cache is still large compared to the non-existent cache on `ubuntu-latest`.

[2020-05-13 22:45] chkimes commented on #698
I had a chat with the DNS team, they believe this is related to a bug in WinDNS that is being triggered by an unusual DNS configuration for `www.cygwin.com`.

https://www.digwebinterface.com/?hostnames=www.cygwin.com%0D%0Aserver2.sourceware.org.%0D%0Abing.com%0D%0Agoogle.com&type=A&trace=on&ns=resolver&useresolver=8.8.4.4&nameservers=

See the above traces, with `bing.com` and `google.com` include

[2020-05-14 00:49] JasonGross commented on #698
You could always [email the cygwin mailing list](https://cygwin.com/mailman/listinfo/cygwin).

[2020-05-14 03:40] maxim-lobanov commented on #427
Thank you for report.
We have removed pre-cache packages but these 202MB comes from `npm install` that does during image provisioning. I will reopen the issue and will fix it too.

Other tools (like gradle and yarn and etc should be okay)

[2020-05-14 05:21] maxim-lobanov commented on #835
I am glad that could help you!
Closing the issue for now but feel free to reopen if any

[2020-05-14 05:21] #835 closed

[2020-05-14 05:26] maxim-lobanov commented on #645
@jared-w , that sounds good to me.
On Windows and macOS we will install Stack to the tool-cache dir.
If you want us to consider moving stack to tool-cache dir on Ubuntu, feel free to raise separate issue.

[2020-05-14 05:36] maxim-lobanov commented on #736
Closing this for now but please let us know if you still see the same issue

[2020-05-14 06:27] maxim-lobanov commented on #865
Thank you for feature request.

@alepauly , a few thoughts:
We definitely can't switch existing images because it will be breaking change for the most of the builds. It can be done only as a separate image (we have to use different filesystem)

[2020-05-14 07:34] dsame commented on #790
The fix deployed to the production

[2020-05-14 07:34] #790 closed

[2020-05-14 08:01] moljac commented on #865
Morn @maxim-lobanov

I pinged you on Xamarin slack in a reply to your question about Xamarin.Android images. Please ignore/disregard that thread.

No. Please don't do it on existing images. There would be too much problems.

Separate image would be the best option, excluding the fact that MacOSX could be built twice, so energy consuption is higher (and I'm green aware freak).

[2020-05-14 08:21] moljac commented on #865
For example: Users could build only on case sensitive MacOSX image. It is more restrictive, so errors would pop up earlier, thus no need to build on case insensitive OS at all.

So, additional MacOSX images are the best option.

[2020-05-14 08:47] maxim-lobanov commented on #841
Hello, it was related to temporary issue with our backend. It should be resolved for now.
Could you please double check?

[2020-05-14 09:57] tysonite commented on #841
It looks like that it still happens: https://github.com/robotframework/robotframework/runs/673835994?check_suite_focus=true

[2020-05-14 10:34] aibaars commented on #769
Great, thanks!

[2020-05-14 12:00] andrzej-kodify commented on #650
My use case is trying to launch TestCafe (browser automation) with Safari on OSX and it also fails as it requires automation and screen recording permissions.
Since the issue is closed are there any plans for addressing this at all in near future?

[2020-05-14 12:21] brunowowk opened #882 "Add vercel"
**Tool information**
- Tool name: Formely `now`, renamed to `vercel`
- Tool license:  Apache-2.0
- Add or update? Add
- Desired version: latest
- Approximate size: ?

ref: https://github.com/zeit/now/releases/tag/vercel%4019.0.0

it's probably best to keep both `now` and `vercel` until then. Maybe install `vercel` and create a symlink for `now` because it's the same package

**Area for Triage**: J

[2020-05-14 13:35] Lewiscowles1986 commented on #104
Got it. I fixed last night by overriding `CXX` and `CC` environment variables. Thank you.

[2020-05-14 14:57] miketimofeev commented on #882
Hi @brunowowk!
Can it be installed during runtime? How much time does it take?

[2020-05-14 16:07] Darleev commented on #824
@derhansen I have verified that after deployment .composer directory exists in home(~/) directory with the following rights:
drwxrwxrwx   2 vsts docker 4.0K May 13 03:16 .composer
I'm going to close the issue, in case of any questions feel free to open new issue:)

[2020-05-14 16:07] #824 closed

[2020-05-14 16:13] Darleev commented on #738
@kentonv I glad to inform you that the issue has been fixed in the current Ubuntu release.
[code]
I'm going to close the issue. In case of any questions feel free to open new ticket.

[2020-05-14 16:13] #738 closed

[2020-05-14 16:17] Darleev commented on #798
@mikeharder @nerijusk we have applied new fix according to comment above and it will be rolled out next week.

[2020-05-14 16:25] tysonite commented on #841
And 2 times happened later today:
- https://github.com/robotframework/robotframework/pull/3530/checks?check_run_id=675082683
- https://github.com/robotframework/robotframework/pull/3530/checks?check_run_id=675082644

[2020-05-14 16:27] jon-turney commented on #698
│17:23:57   @fche | pls let them know RH IT has been requested to change it to an A record  │

[2020-05-14 17:24] brunowowk commented on #882
yes, it's an npm package. It's actually an update to the `now` bin that's already included.

Then only change would be to install `vercel` instead of `now`, or to install both over here:
https://github.com/actions/virtual-environments/blob/51d02f26f42e53bb963bb6bc9754501b28a3d2ba/images/linux/scripts/installers/zeit-now.sh#L11

[2020-05-14 17:26] maxim-lobanov commented on #882
if they are fully compatible (you mentioned that it is identical package), installing `vacel` instead of `now` and creating symlink sounds good

[2020-05-14 19:20] ihnorton commented on #480
Is there now no `tar` built-in support? I am getting `tar: command not found` in bash script sections running on both vs2017 amd macOS-10.15 images.

[2020-05-14 19:37] ihnorton opened #884 "Add 7-zip to macOS image"
**Tool information**
- Tool name: 7-zip
- Tool license: LGPL
- Add or update? add (exists in other images)
- Desired version: same as other images
- Approximate size: n/a

**Area for Triage**:

**Question, Bug, or Feature?**:

Feature

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Can this

[2020-05-14 20:15] miketimofeev commented on #480
@ihnorton hmm, both work just fine for me now.
[code]

[2020-05-14 20:22] ihnorton commented on #480
My mistake, thanks.

[2020-05-14 23:29] alepauly commented on #650
@andrzej-kodify, no plans right now but thanks for the input. We'll continue looking here and if we are able to figure out a way to offer it cost effectively, we will.

[2020-05-14 23:58] alepauly commented on #865
Thanks for reaching out @moljac. We can't offer another image at this time since it would affect overall capacity of Mac and be costly to maintain.

[2020-05-14 23:58] #865 closed

[2020-05-15 04:32] derhansen commented on #824
@Darleev Thanks, works as expected

[2020-05-15 10:53] maxim-lobanov commented on #281
Hello,
In current implementation `actions/setup-ruby` doesn't install ruby on-flight. It just switches versions that are pre-installed (pre-cached) on image.
On image, we keep only latest patch version for each `x.y.*` pair because we can't afford to put more versions on the image.
If you are using `actions/setup-ruby` it is recommended to specify only 2 numbers in version (like `2.4`) and latest

[2020-05-15 10:53] #281 closed

[2020-05-15 11:09] maxim-lobanov commented on #608
Hello @rido-min ,
We are good to install this component to the image and it is on our backlog. Unfortunately, we don't have capacity to start it right now so we would be very appreciate if you can prepare the pull-request

[2020-05-15 12:01] mickael-caro-sonarsource opened #885 "Bring back JDK 11 on vs2017-win2016 version"
**Tool information**
- Tool name: Azure JDK
- Add or update? "bring back"
- Desired version: version 11
C:\Program Files\Java\zulu-11-azure-jdk_11.33.15-11.0.4-win_x64

**Area for Triage**:
Java

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ X] Windows Server 2016 R2
- [ ] Windows Server 2019

Hi,

Can

[2020-05-15 12:37] maxim-lobanov commented on #885
@mickael-caro-sonarsource , thank you for your report. It is not expected because we didn't remove it from the images.
At the first look, it seems that Java 11 is still installed but `$env:JAVA_HOME_11_X64` variable points to `C:\Program Files\Java\zulu-13-azure-jdk_13.31.11-13.0.3-win_x64`
We are looking at it

[2020-05-15 12:50] maxim-lobanov commented on #885
This issue was caused by #795 PR. We are preparing the fix and will rollout it early next week.
As a workaround, you can use full path to point to Java `C:\Program Files\zulu-11-azure-jdk_11.33.15-11.0.4-win_x64` or add [Java Tool Installer task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/java-tool-installer?view=azure-devops) / [setup-java](https://github.com/actions/setup

[2020-05-15 12:52] mickael-caro-sonarsource commented on #885
Thanks for your prompt reply ! I'll try to test the workaround.

[2020-05-15 14:45] rebecca-makar opened #886 "Ubuntu 16.04 NewImage - go breaking change."
**Describe the bug**
20200430.2- working on this image
20200512.2 - broke on this image
`
Using Go, older install for version 1.11:
Here are docs showing the way I have had it set up, but I am using version 1.11.
It shows the path where the GOROOT directory is: https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/go?view=azure-devops&tabs=go-older#set-up-go

**Question, Bug, or Featu

[2020-05-15 15:50] chkimes commented on #698
The team at www.cygwin.com has updated their DNS to use an explicit A record which has resolved this issue. Unfortunately that means that IPv6 connectivity was lost since the CNAME was resolving AAAA records as well, but only an A record was added after removing the CNAME.

I have reached out to the cygwin mailing list again informing them of the issue. The intermittent connectivity problems refer

[2020-05-15 15:51] maxim-lobanov commented on #886
Hello Rebecca,

We have moved location of Go versions to `/opt/hostedtoolcache` instead of `/usr/local/go*` to improve work of [Go tool task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/go-tool?view=azure-devops). Previously, this task always downloaded Go on-flight (even if version is pre-installed on image). After moving, Go task will be able to find pre-installed Go on im

[2020-05-15 18:13] rebecca-makar commented on #886
Hi @maxim-lobanov

I changed it to the setup of Go 11.1+, just had to play around with figuring out where the go get was installing the clone... I am manually updating some files to handle mock cases, once figured that out everything was good.

Thanks again!!  Closing this.

[2020-05-15 18:13] #886 closed

[2020-05-16 11:47] ikesyo commented on #841
I'm hitting the same problem in https://github.com/Quick/Nimble.

[2020-05-16 13:28] maxim-lobanov commented on #841
Hello everyone, thank you for your report.
It is known problem with our backend and we are working to fix it and deploy the fix.
I will post update as soon as I have it

[2020-05-16 21:42] SlySven opened #890 "Misidentification of "Mingw-w64" as "MinGW""
Not sure if this is the best place to mention it but I will be pleases to see MSYS2 added by #30 .

However on the https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md page it confusingly lists MinGW but that is WRONG - as the original developers of THAT project at https://osdn.net/projects/mingw/releases/ pointedly point out:

Therefore can that be edited t

[2020-05-16 23:47] 1480c1 commented on #890
It's possible the MinGW that they mention in that readme is the actual MinGW and not a Mingw-w64 toolchain

[2020-05-17 04:53] cyfrost opened #891 "Support Ubuntu 20.04 in virtual environments"
Hi, the current `ubuntu-latest` points to Ubuntu 18.04 LTS. Since Ubuntu 20.04 LTS is available, can we please add it to the list of supported virtual environments for running github actions on? Thanks!

[2020-05-17 04:53] #891 closed

[2020-05-17 07:13] maxim-lobanov commented on #891
Hello @cyfrost ,
We have already started to work on it but unfortunately, can't provide ETA for now.
Please track current progress by #228 .

[2020-05-17 18:30] SlySven commented on #890
I was going to say that the version number (8.1.0 IIRC) *seems* more likely to be a Mingw-w64 one (though, looking at http://mingw-w64.org/doku.php/download it seems that that is actually the GCC version - and the MSYS2 builds of Mingw-w64 are now official offering a 9.x one, though having done a sort of homunculus installation of the interesting parts of GitForWindows as per https://github.com/gi

[2020-05-17 18:34] 1480c1 commented on #890
I believe the versioning between MinGW, Mingw-w64, and gcc are all separate (sort of), so I think the 8.1.0 they are referring to is gcc 8.1.0 and not necessarily referring to mingw-w64 or MinGW 8.1.0, but the quickest way to confirm is to check the gcc they have in their runner.

[2020-05-17 18:46] 1480c1 commented on #890
[code]
It seems they do use the `MinGW-W64` distribution of gcc rather than MinGW installed through chocolatey

[2020-05-18 00:34] ThadHouse commented on #885
Same bug is happening on `windows-2019` too. Just want to make sure its fixed there as well.

[2020-05-18 05:10] Darleev commented on #765
@johndatserakis @Woofenator I was not able to reproduce the issue on my test repositories. I tried to pass parameter follows your examples, but I didn't face the same issue.
Is it possible to provide public repository with steps to reproduce the issue? It will help to find a root cause and speed up the investigation.

[2020-05-18 06:43] al-cheb commented on #890
Hello, @SlySven
Thank you for provide info about documenation. I have updated documentation. Could you please take a look if it's good to you - https://github.com/actions/virtual-environments/pull/893?

[2020-05-18 07:19] miketimofeev commented on #885
@ThadHouse yeah, the installation script is the same for both Windows version. We're going to start image deployment with the fix today.

[2020-05-18 10:22] FrancescElies opened #894 "Update/Add [latex and friends: miktex]"
Related to #613, this might be closed because of the same reason, but I am opening an issue to see if there is any interest out there.

**Tool information**
- Tool name: [Miktex](https://miktex.org/)
- Tool license: [here](https://miktex.org/copying)
- Add or update? Add
- Desired version: 2.9
- Approximate size: around 880MB
- If this is an add request:
  - Brief description of tool: TeX/LaTeX

[2020-05-18 10:27] miketimofeev commented on #709
Hi everyone!
We've switched working directory to /mnt and started to propagate the changes throughout the environments. It will take about 3-4 days.

[2020-05-18 10:28] miketimofeev commented on #709
@domenkozar Unfortunately, it's not possible in the current virtualization scheme.

[2020-05-18 13:55] alepauly commented on #709
@domenkozar yeah, the reason is that the /mnt space is on a temp disk added to the vm, it's not the same device.

[2020-05-18 14:11] mzabaluev opened #895 "Old cargo cache left over from the build in Windows and Linux"
**Describe the bug**
Parts of the `~/.cargo` file tree baked into the virtual environments `windows-latest` and `ubuntu-latest` contain cached crate registry data left over from the build.

**Area for Triage**:
Rust

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [x] Windows Serve

[2020-05-18 14:19] mzabaluev commented on #895
[This](https://github.com/actions/virtual-environments/blob/3fba9caa4f550544319c0201e7759f7a55f645cf/images/win/scripts/Installers/Install-Rust.ps1#L25) and [this](https://github.com/actions/virtual-environments/blob/bb9538cc9b547051c01ff5a20439b9660ffcb6e7/images/linux/scripts/installers/rust.sh#L21) are the culprits for the crate build. The cached crates are from the dependency graph of the bind

[2020-05-18 14:54] al-cheb commented on #895
Hi, @alexcrichton,
What do you think about safety removing `~/.cargo/registry/cach`e and `~/.cargo/registry/src` fodlers after installing `cargo install bindgen cbindgen`?

[2020-05-18 15:23] alexcrichton commented on #895
I would personally say that it's a nice feature to have a pre-populated cache in all the images. That should help amortize the initial update of the index since much of it is already downloaded.

If Windows is super slow though in bringing the registry forward that's definitely something that should be fixed on Cargo's side!

[2020-05-18 19:44] lechen26 commented on #753
working, 10x!

[2020-05-18 20:21] mattip commented on #638
When you do this, please take into account the canonical location for all things pypy has moved off bitbucket: downloads are now hosted at https://downloads.python.org/pypy and development happens at https://foss.heptapod.net/pypy/pypy.

[2020-05-18 20:41] alepauly commented on #827
Thanks for the suggestion @mletterle.

@maxim-lobanov, should we get rid of 2.0?

[2020-05-18 20:51] alepauly commented on #550
hi @mythi, we have been unable to verify the side effects from doing this work and considering the risk to existing workflows I don't think we can make the change at this time. I'll close this but if you are able to figure out more information or a workaround to ensure we won't break things, please reopen and we can discuss. Thanks for reaching out!

[2020-05-18 20:51] #550 closed

[2020-05-18 20:53] alepauly commented on #813
thanks for the suggestion @compnerd but considering that we are working on fixing disk space issues in Linux, we won't bake this into the images at this time

[2020-05-18 20:53] #813 closed

[2020-05-18 20:54] alepauly commented on #822
Hi @deloorc, considering disk space usage and popularity of this we can't bake it into the images at this time. Thanks for reaching out.

[2020-05-18 20:54] #822 closed

[2020-05-18 20:56] alepauly commented on #823
Hi @CallumHibbert, considering it's a pretty quick install and this isn't a common request, we won't be adding this to the images at this time. Thanks for the suggestion.

[2020-05-18 20:56] #823 closed

[2020-05-18 20:57] alepauly commented on #842
Hi @jamesmcguirepro, considering that it can be installed on runtime and it's a pretty old version, we won't install it by default in the images. Thanks for the suggestion though.

[2020-05-18 20:57] #842 closed

[2020-05-18 20:58] alepauly commented on #843
@johanatan, since this is a pretty quick install and due to maintenance concerns, we won't bake it into the image. Thanks for bringing it up though.

[2020-05-18 20:58] #843 closed

[2020-05-18 20:59] alepauly commented on #877
Thanks for the request @Takashiidobe but at this time we can't add it to the images, mostly due to disk space concerns.

[2020-05-18 20:59] #877 closed

[2020-05-18 21:02] alepauly commented on #876
Hi @zscgeek, how big is Conan on disk and how long would it take to install it on the fly?

[2020-05-18 21:05] mzabaluev commented on #895
I would expect there to be more flexible caching schemes than baking in an index working copy that is only updated with the frequency of the virtual environment image. The index I see in [a test run](https://github.com/mzabaluev/test-github-push/runs/686757513?check_suite_focus=true) made today had its head commit made on Apr 30.

With the `Cargo.lock` checked into the repository, it's [easy](http

[2020-05-18 21:19] jleonard-r7 commented on #843
Seems an odd choice since your Actions API requires it.

[2020-05-18 21:30] miketimofeev commented on #753
@lechen26 thanks for the update!
I'm going to close the issue, feel free to ping us if you have any concerns.

[2020-05-18 21:30] #753 closed

[2020-05-18 22:52] AtOMiCNebula opened #898 "Validate-Msys2.ps1 fails on missing tar"
**Describe the bug**
We're unable to build images using the `win19/20200517.1` tag, and are failing a few hours into the process during running the newly-added `Validate-Msys2.ps1` (#632).  Log output below reports `managedimage` instead of `vhd`, since a pipeline I set up patches `Windows2019-Azure.json` to generate a managed image instead of a VHD, but otherwise doesn't change the file.  We were

[2020-05-19 05:10] SlySven commented on #30
Can I lob a stone into this pond and ask what the feelings are as to providing the Qt 5 SDK libraries for **both** 32 and 64 bits in this environment, i.e. the Mingw-w64 packages called:
* mingw-w64-i686-qt5
* mingw-w64-x86_64-qt5

I would note that there are also the debug and static versions of the Qt libraries which can be useful in some circumstances but the former are quite large (over 0.5 GB

[2020-05-19 07:38] maxim-lobanov commented on #30
@SlySven , we don't have plans to pre-install these packages for now because of the size (we had an incident with image capacity recently so we have to be very careful about adding new software.
But feel free to raise the separate issue to discuss it.

[2020-05-19 07:44] AtOMiCNebula commented on #898
Dug a little deeper on this one, and it looks like *actual* failures are happening inside `Install-Msys2.ps1` but the script isn't bubbling them out, and Packer continues onward blissfully until the Validate script detects the fault.  I guess it's good the validation script is there at least. :smile:

First mention of errors in the `Install-Msys2.ps1` output:
[code]

Full log for `Install-Msys2.ps

[2020-05-19 07:46] maxim-lobanov commented on #827
Yep, we should but we need to do some announcement here. I will take care about it.

[2020-05-19 07:59] vsafonkin commented on #898
@AtOMiCNebula , thank you for your help, this error is related to the last msys2 update:
https://github.com/msys2/MSYS2-packages/issues/1962
https://github.com/msys2/MSYS2-packages/issues/1960

We are trying to fix it at the moment.

[2020-05-19 10:09] haymansfield opened #900 "Azure Devops Windows images could do with chromedriver updating to 81.0.4044.138"
**Describe the bug**
Azure Devops Windows images are using a version of chromedriver which is causing an issue with tests

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug/Feature

**Virtual environments affected**
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
Chrome and chromedriver work together.

**Actual behavior**
An issue occurs with version 81.0.4044

[2020-05-19 10:15] maxim-lobanov commented on #900
Hello @haymansfield , currently, we are deploying new image with Chrome driver 81.0.4044.138: https://github.com/actions/virtual-environments/releases/tag/win19%2F20200517.1
It should be deployed this week / early next week.

[2020-05-19 11:32] Darleev commented on #98
@raido @ykaygisiz Hello,
During the investigation of the issue, I find a cause of the issue reported:
Safari opens confirmation windows in case of local tests. The same scenario appears to be using github agents. So, in other words we are waiting the confirmation in safari browser, but cannot accept it using command line tools. I believe that this is a security feature of Safari to avoid random ap

[2020-05-19 11:32] #98 closed

[2020-05-19 11:52] raido commented on #98
Hmm, I am not sure how user management etc. is done in VM images but if you have accepted it once and stored Safari state in VM image that's used, shouldn't it just work?

[2020-05-19 12:06] raido commented on #98
Oh my, I now see that behaviour on my machine as well. It prompts for some reason for start.html file open window. It should not do that at all, something is off.

[2020-05-19 12:07] AlenaSviridenko commented on #98
Unfortunately, no. VMs are reseting to the initial state after each build, and builds can be ran on different machines, so accepting dialog doesn't affect further builds.
And even locally Safari asks for confirmation on each tests run, I believe because test files are generated in temp directory that is different on each run.
![image](https://user-images.githubusercontent.com/8777209/82324345-27f1

[2020-05-19 12:09] raido commented on #98
There is actually issue about this over here: https://github.com/testem/testem/issues/1387

[2020-05-19 12:43] cygnim opened #902 "Update .NET Core SDK to 3.1.202"
**Tool information**
- Tool name: .NET Core 3.1
- Tool license: MIT
- Add or update? Update
- Desired version: SDK 3.1.202
- Approximate size: 121 MB

**Area for Triage**:

**Question, Bug, or Feature?**:
This version of the .NET SDK addresses security vulnerabilities in .NET Core and was released May 12.

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.0

[2020-05-19 13:15] al-cheb commented on #902
Hello, @cygnim

Windows images already have  .Net 3.1.202 pre-installed:
https://github.com/actions/virtual-environments/blob/releases/win19/20200517/images/win/Windows2019-Readme.md
https://github.com/actions/virtual-environments/blob/releases/win16/20200517/images/win/Windows2016-Readme.md

Ubuntu images are being deploying with Net 3.1.202 and I hope will be available soon:
https://github.com/a

[2020-05-19 13:39] eine commented on #898
Ref https://github.com/msys2/MSYS2-packages/issues/1962#issuecomment-630733627

[2020-05-19 13:59] eine commented on #30
@SlySven, you can use [eine/setup-msys2](https://github.com/eine/setup-msys2) as a workaround, while the windows environment is fixed, stabilized and rolled out with documentation.

Regarding your request for arbitrary packages, I suggest to use caching options to avoid explicitly installing them again and again. That's a possible enhancement to setup-msys2. As discussed above, I think that the ba

[2020-05-19 14:17] henti opened #903 "Not enough disk space on the image when building image."
**Describe the bug**
When trying to build an image for the Ubuntu 18.04 the provisioned VM runs out of disk.

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
`packer build images/linux/ubuntu1804.json` runs and ex

[2020-05-19 14:22] al-cheb commented on #903
Hello, @henti

Could you please use the master branch or merge the latest changes to your repo?

[2020-05-19 14:23] AlenaSviridenko commented on #30
Hi @eine, we are going to update docs with a proper note on a next image deployment, which is approximately next week. But we don't have plans to add MSYS2 to PATH in future.

[2020-05-19 14:27] al-cheb commented on #898
Hello, @AtOMiCNebula
We have merged PR to fix this issue - https://github.com/actions/virtual-environments/pull/899. Could you please rerun your build?

[2020-05-19 14:32] haymansfield commented on #900
@maxim-lobanov Thanks for the update.

[2020-05-19 15:07] henti commented on #903
Thanks for the quick response. I did indeed miss that I'm not up to date.

Running now with latest changes merged.

[2020-05-19 17:29] AtOMiCNebula commented on #898
I will give it a shot and let you know.  Thanks for the fast turnaround!

[2020-05-19 18:37] vadi2 commented on #30
Qt can be installed with https://github.com/jurplel/install-qt-action.

[2020-05-19 21:16] cygnim commented on #902
@al-cheb
I swear the Windows images did not have it when I posted! :)

Thanks for the update!

[2020-05-19 21:19] klei1984 opened #904 "broken apt-get packages on ubuntu"
**Describe the bug**
Since an hour ubuntu-latest as well as ubuntu-18.04 fails to execute the following command:

```sudo apt-get install -y -qq build-essential gcc-multilib libsdl2-dev:i386 libsdl2-mixer-dev:i386```

Relevant script down to failing step:
[code]

Error log:
[code]

**Area for Triage**:

Maybe Packages area?

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**
-

[2020-05-19 21:29] chkimes commented on #798
Are we pulling in kernel upgrades with each new image? Do we suspect a DNS bug that was recently introduced into systemd? If so, we should probably file an issue upstream.

[2020-05-19 21:32] henti commented on #903
I've done a `git fetch && git pull` on git@github.com:actions/virtual-environments.git with HEAD commit `8b72149ff762e5597a9916ebaead17e9640002fd`

Same problem.

[code]

There is upstaged changes which i can only guess is updated as part of the run for `images/linux/Ubuntu1804-README.md`

[Ubuntu1804-README.md.diff.txt](https://github.com/actions/virtual-environments/files/4653284/Ubuntu1804-READ

[2020-05-19 21:38] mikeharder commented on #798
@chkimes: It might be this bug, but I am not an expert in this area so I am not certain:

https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1822416

While it does not repro on a new VM created from the ISO, it does also repro on a new Azure Ubuntu 18.04 image, so the issue does appear to be upstream from DevOps.

One thing I know recently changed in the Azure Ubuntu 18.04 image is the default

[2020-05-19 21:50] chkimes commented on #798
It's possible that they're related, but the behaviors appear to be different from the bug description. I'm seeing the DNS resolver return SERVFAIL while the linked ticket describes NXDOMAIN responses.

I took a packet capture and, interestingly, I see the systemd resolver making an external DNS query and the response making it back to systemd, however it appears to completely ignore the response a

[2020-05-19 23:54] AtOMiCNebula commented on #898
@al-cheb, the fix worked!  Thanks. :smile:

[2020-05-19 23:54] #898 closed

[2020-05-20 03:28] lopopolo opened #905 "7z binary (7zip) is not present on windows-latest runner beginning 2020-05-19"
**Describe the bug**

Invoking `7z` with `shell: bash` on `windows-latest` os produces this error:

[code]

https://github.com/actions/virtual-environments/issues/898 mentions an msys upgrade. Is this possibly related?

Failing run: https://github.com/artichoke/nightly/runs/691297319

This is the first failing run of a job that has not changed. This failing run has the following environment:

[cod

[2020-05-20 05:34] maxim-lobanov commented on #903
We need to make this validation (disk space test) optional and enable it only on our CI. Not all customers need 18 GB of free space that we need in AzDo / GitHub

[2020-05-20 06:23] al-cheb commented on #904
Hello, @klei1984

I can't reproduce this behavior on the same image - `Version: 20200512.2`. Could you please run 2-3 times to confirm what the issue is not transient?

![123 - Copy](https://user-images.githubusercontent.com/47745270/82412058-98986300-9a7b-11ea-9b26-e8b8bd75f881.JPG)

[2020-05-20 10:02] maxim-lobanov commented on #827
Oh, just found that .NET Core 2.0 is installed to fix some legacy compatibility issue related to miniconda. Need to check if it can be safety removed.

Also will install .NET Core 2.1 to macOS 10.15 images

[2020-05-20 11:04] MCOfficer opened #910 "Add winget-cli ("App Installer")"
**Tool information**
- Tool name: winget-cli
- Tool license: MIT
- Add or update? Add
- Desired version: 1.0
- Approximate size: probably ~5-10 MB
- If this is an add request:
  - Brief description of tool: Microsoft recently [announced](https://github.com/microsoft/winget-cli) winget, a package manager for windows. It fulfills a similar role as choco, apt and others.
  - URL for tool's homepage:

[2020-05-20 11:12] henti commented on #903
Good morning.

For the short term I've dropped the value of `minimumFreeSpaceMB` in my checkout and running another test.

[2020-05-20 11:18] maxim-lobanov commented on #903
@henti , yep, it should work.
Sorry for inconvenience, we have prepared PR #909  to disable this check for non-official CI because not all customers, who use this repository for building image, are needed this check.

[2020-05-20 11:22] Darleev commented on #905
hello @lopopolo,
I tried to reproduce the issue on my side, using windows-latest and the same build version, but with no luck. Could you please try to simply restart github-actions job and provide us with a result?
We are looking forward to your reply.

[2020-05-20 11:23] maxim-lobanov commented on #910
Thank you for feature request. In general, tool looks good to us but we would like to wait for stable release (v1.0 is going to come on May 2021 [based on Roadmap](https://github.com/microsoft/winget-cli/blob/master/doc/windows-package-manager-v1-roadmap.md) or may be a bit earlier) and install it. Currently, packages base is pretty small and installation looks complicated (build from source code

[2020-05-20 13:24] lopopolo commented on #905
I get these messages every time I enqueue a build:

[2020-05-20 14:14] klei1984 commented on #904
Hello @al-cheb

I re-ran the builds, about 5-6 of them, that failed yesterday. Now the Linux-i386 jobs worked without problems.
The virtual environment reported today by the logs is:
[code]
Yesterday the failed logs were produced by:
[code]
I am not sure how to specify to use the version in question for re-runs.

[2020-05-20 15:55] #903 closed

[2020-05-20 16:00] henti opened #911 "NPM auth failing"
**Describe the bug**
When trying to build an image for the Ubuntu 18.04 authentication for NPM is failing

**Area for Triage**:
Scripting and command line

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
NPM installas as expected and i

[2020-05-20 17:30] Darleev commented on #344
@NotMoni @larvacea @hannesa2 Hello,
Let me provide you steps to install desired versions of Android SDK/NDK in runtime:
[code]
In the meantime, I will prepare a PR to add these versions to Windows images.

[2020-05-20 17:43] zooba opened #912 "Update/Add CPython 3.9.0 beta 1"
**Tool information**
- Tool name: CPython
- Tool license: Python Software Foundation License
- Add or update? Add
- Desired version: 3.9.0b1 (for CPython, "beta" == "library devs should test with this")
- Approximate size:

**Area for Triage**:
Python

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Wi

[2020-05-20 18:59] al-cheb commented on #904
@klei1984 , Feel free to open the thread if you have any concerns.

[2020-05-20 18:59] #904 closed

[2020-05-20 19:05] al-cheb commented on #911
Hello, @henti

Do you have a proxy server configuration in your environment? Because the error is related with network connection `reason: getaddrinfo ENOTFOUND npm.pkg.github.com`

[2020-05-20 19:10] lopopolo commented on #905
@Darleev I was able to run the job again and it still failed with the same error.

https://github.com/artichoke/nightly/runs/693976956?check_suite_focus=true

This is the fourth time I've rerun the workflow and it has failed in this way.

[code]

This workflow runs daily and the repo hasn't seen any commits in 23 days. The only change is the new builder environment, which in this latest run was:

[2020-05-20 21:38] al-cheb commented on #905
Hello, @lopopolo

I can reproduce the issue. The root cause is the https://github.com/ruby/setup-ruby (`For Ruby ≥ 2.4, MSYS2 is prepended to the Path, similar to what RubyInstaller2 does`.) task which adds additional `D:\rubyinstaller-2.6.3-1-x64\bin;C:\msys64\mingw64\bin;C:\msys64\usr\bin;` items to the PATH. Previous working directory was - `7z -> /c/ProgramData/Chocolatey/bin/7z`  now it is ch

[2020-05-20 22:01] al-cheb commented on #905
@MSP-Greg, Could you please assist?

[2020-05-20 22:14] MSP-Greg commented on #905
@al-cheb @lopopolo reviewing now

[2020-05-20 22:32] MSP-Greg commented on #905
@lopopolo

If you need 7z available, install the MSYS2 version with:
[code]

There are a lot of conflicting tools in the WIndows image, ruby/setup-ruby is setup to use the MSYS2 tools.  I believe some of the items you're installing are now available in the MSYS2 install.

I've used 7z in my workflows, I always used a full path to 'C:\Program Files\7-Zip'...

[2020-05-20 23:06] MSP-Greg commented on #905
@lopopolo

I believe 7z.exe exists in the following:
[code]

You can probably replace 7z with "/c/Program Files/7-Zip/7z.exe" in your 'Build archive'  step.  I tried it in a Git Bash shell, and it worked fine

[2020-05-21 00:08] sixlettervariables opened #915 "Random IO failures during nightly actions"
**Describe the bug**
We receive random IO failures on a nightly matrix job that runs a build across two JDK versions on both Windows and Linux. The failures are always during an IO operation and vary which JDK and OS depending on the night.

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [X] Ubuntu 18.04 LTS
-

[2020-05-21 00:26] lopopolo commented on #905
Wow thank you so much @al-cheb and @MSP-Greg! 💪

I applied the workaround to use the full path to 7-Zip in https://github.com/artichoke/nightly/pull/1 and was able to successfully release: https://github.com/artichoke/nightly/releases/tag/test-GH-1-7zip-win.

From what I can see, ruby/setup-ruby including a bundled MSYS2 installation was temporary and expected to be rolled back once the windows ru

[2020-05-21 00:26] #905 closed

[2020-05-21 01:08] MSP-Greg commented on #905
@lopopolo

Glad that fixed your problem.

This is messy.  As noted above, there are already two versions of 7z installed, the MSYS2 version is the 3rd.

The MSYS2 version is 16.02, the native Windows version I have installed is 19.00.  I might consider that an indication that MSYS2 7z is not used a lot.  I work with MSYS2 tools both locally and in CI, and I've never installed the p7zip package.  I

[2020-05-21 04:30] MSP-Greg commented on #905
@al-cheb

I ran a list of the embedded MSYS2 install that ruby/setup-ruby uses. See the MSYS2 Packages step:
https://github.com/MSP-Greg/actions-image-testing/runs/695152533?check_suite_focus=true

The p7zip package is not installed, so the issue is not ruby/setup-ruby, but that the current MSYS2 install script is installing it as part of the compression package group.  As mentioned above, it is a

[2020-05-21 06:00] BrightRan opened #917 "Windows bash: kill command takes up to 15min to kill process"
In [this Community Forum ticket](https://github.community/t5/GitHub-Actions/Windows-bash-kill-command-takes-up-to-15min-to-kill-process/td-p/59188), the user is using Windows runner and different Python versions for integration tests.
It seems that all the Python builds (Python 2.7, 3.5, 3.6, 3.7 and 3.8) on Windows always run time out.
The user figured out that the `kill` command used in Windows

[2020-05-21 07:10] al-cheb commented on #890
PR : https://github.com/actions/virtual-environments/pull/893

[2020-05-21 07:10] #890 closed

[2020-05-21 08:34] henti commented on #911
The only proxy I have is an apt-cacher for Debian packages, other than that, should be straight to the internet.

It must have been transient. I ran the job again and that succeeded.

[2020-05-21 08:34] #911 closed

[2020-05-21 10:02] maxim-lobanov commented on #608
PR was merged. Changes should be available in a week

[2020-05-21 11:53] NotMoni commented on #344
Alright

[2020-05-21 12:04] zufuliu commented on #16
Hope someone reopen this issue and pre-install latest official LLVM package available at https://github.com/llvm/llvm-project/releases

[2020-05-21 14:22] phadej opened #919 "Is GHC and cabal-install now pre-installed on windows images?"
**Describe the bug**

Starting today I see failures like:

[code]

- Example job: https://github.com/haskell/cabal/runs/696423815
- https://github.com/haskell/cabal/pull/6829/checks?check_run_id=696535334

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [x] Window

[2020-05-21 14:36] maxim-lobanov commented on #919
Hello @phadej , exactly.

Recently, we have installed ghc and cabal on Windows images in scope of #645 .
We are planning to keep 3 latest ghc versions (the latest one as default) on image and latest cabal version.

[2020-05-21 14:43] nikita-bykov commented on #869
Hello @cmconti, thank you for the report!
We investigated your issue and it is a known problem in Visual Studio that was mentioned here https://developercommunity.visualstudio.com/content/problem/895653/netfxkitsdir-netfxsdkdir-empty-on-vs-2019-again.html?childToView=1039881#comment-1039881. This issue was resolved in the latest preview version (16.7 preview 1). We installed 16.7 preview 1 version

[2020-05-21 14:47] phadej commented on #919
@maxim-lobanov It's great to hear that you consider Haskell stuff worth having in the default images.

Yet because there are no indication of GHC / cabal-install in releases or https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md I'm unhappy. Could you priorize the https://github.com/actions/virtual-environments/issues/644 issue. It's not fun to play detecti

[2020-05-21 14:56] phadej commented on #645
https://hub.zhox.com/posts/introducing-haskell-dev/ contains relevant information.

With #919 it seems that even `cabal-install` and `ghc` are now preinstalled, `msys2` isn't (at least it's not mentioned in included software). Without `msys2` the `cabal-install` and `ghc` are not so useful (I think you could not compile `network` package for example).

[2020-05-21 14:57] al-cheb commented on #902
@cygnim,
Updates macOS: Today we have deployed macOS with .Net 3.1.202 - https://github.com/actions/virtual-environments/pull/918

[2020-05-21 15:06] maxim-lobanov commented on #919
Actually, the latest pre-release contains both ghc and cabal in software report: https://github.com/actions/virtual-environments/releases/tag/win19%2F20200517.1
This pre-release will become release as soon as deployment is finished.
Anyway, I agree that current release description is not clear to determine difference between old and new software set. We have the nearest plan to fix it.

I am closi

[2020-05-21 15:06] #919 closed

[2020-05-21 15:08] phadej commented on #919
I guess I was looking for Haskell, and didn't find it on that page.

[2020-05-21 15:08] maxim-lobanov commented on #645
@phadej , Actually, MSYS2 was added to our images recently too in scope of #30. It should be deployed soon

[2020-05-21 15:13] phadej commented on #645
The failing jobs in #919 both do seem to install `msys2`. Is it installed with `chocolatey` or by some other means? Having multiple installations would be a recipe for disaster.

To answer myself: Looks like it's isntalled manually https://github.com/actions/virtual-environments/blob/master/images/win/scripts/Installers/Install-Msys2.ps1 so chocolatey itself won't detect that it's installed. Have

[2020-05-21 15:18] epicfaace commented on #533
@al-cheb @maxim-lobanov this cleanup step takes a while -- see that it takes 6 minutes and 21 seconds in this case -- https://github.com/codalab/codalab-worksheets/runs/696582920?check_suite_focus=true

Is it possible to make this faster, or alternatively, just increase the default disk space available on Ubuntu?

[2020-05-21 15:19] phadej commented on #645
Also I should ask, how your image deployment works. May I assume that once a job in a repository (cabal in this case) gets a new version of an image all other new jobs will get the new image version as well. Or is it arbitrary?

In short, can I already change cabal CI scripts to assume that msys2 is installed? As it seems that (some) jobs run using newer image version.

[2020-05-21 15:32] maxim-lobanov commented on #645
@phadej , yep, we don't put MSYS2 on PATH for now because it will override some default tools and break existing customers so we just install it to the separate directory.

We deploy images by rings (the whole ring at a time) and your repository is attached to one particular ring. It means that if your job got new image version, all next jobs will consume new image version too.

[2020-05-21 15:41] maxim-lobanov commented on #533
Hello @epicfaace ,
Sorry, but for now, we have no opportunity to extend our Ubuntu images. Sometimes we deprecate old software and increase disk space but then we add new software and decrease it again.
Based on our documentation, our machines contains at least 14 GB of free space (currently, 16 GB). But I would say that you should not rely on having more than 14 GB.

As for the time of workaround

[2020-05-21 15:44] phadej commented on #645
@maxim-lobanov that clarifies and sounds good. Thanks for the explanations!

[2020-05-21 16:16] al-cheb commented on #533
@epicfaace
Should be faster to remove these foders:
[code]

[2020-05-21 19:45] miketimofeev commented on #16
@zufuliu could you please open a new issue with LLVM 10 request?

[2020-05-21 21:00] aminya commented on #104
Clang is installed in windows-latest, but it is not on the PATH. Any solution?

I even tried installing it using `choco`, but I got the same issue.

[2020-05-21 23:24] JasonGross commented on #736
It's been happening less often, but it just happened again : https://github.com/JasonGross/fiat-crypto/runs/697783422
![image](https://user-images.githubusercontent.com/396076/82615497-95df6000-9b98-11ea-8b65-e616b2c5db72.png)

I've also seen the Mac OS jobs frequently show up as "cancelled" when I didn't cancel them, and I don't believe anyone else did, either.

So I guess this issue should be re

[2020-05-21 23:45] johndatserakis commented on #765
@Darleev thank you for looking into it. For me, I've moved these variables to secrets, and they are working for me now, as they are attached to the `env:` property. So sorry but I am not able to reproduce this situation in my current setup. I will update if things change though. Thanks again.

[2020-05-22 00:17] zufuliu opened #921 "Update/Add LLVM"
**Tool information**
- Tool name: LLVM
- Tool license: Apache License v2.0 with LLVM Exceptions
- Add or update? Add
- Desired version: latest, current 10.0, 10.0.1 soon
- Approximate size: 10.0: 160 MiB download size, 1.5 GiB installation size; 10.0.1 rc1: 228 MiB download size, 1.83 GiB installation size
- If this is an add request:
  - Brief description of tool: LLVM compiler suite
  - URL for

[2020-05-22 00:18] zufuliu commented on #16
@miketimofeev opened #921

[2020-05-22 01:07] epicfaace commented on #533
Thanks for your help! Just doing `rm -rf /opt/ghc` did the trick for me.

[2020-05-22 06:14] al-cheb commented on #837
@simons-public,  [macos-10.15-Readme.md](https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md) has been updated and included point to `OpenSSL 1.0.2t 10 Sep 2019 (/usr/local/opt/openssl -> /usr/local/Cellar/openssl/1.0.2t)`

Feel free to open the thread if you have any concerns.

[2020-05-22 06:14] #837 closed

[2020-05-22 07:19] BrightRan opened #922 "EXDEV: cross-device link not permitted"
In [this Community Forum ticket](https://github.community/t5/GitHub-Actions/EXDEV-cross-device-link-not-permitted/td-p/59390), some users report that recently their workflows run failed with the following error message:
[code]
The workflows could work fine before.

[2020-05-22 07:47] al-cheb commented on #922
Hello, @BrightRan
Thank you for providing information about the issue . We are currently working on the fix and planning to deploy fix soon.

[2020-05-22 08:25] miketimofeev commented on #709
Unfortunately, we've faced unpredictable issues when /mnt is used as a working directory
https://github.com/actions/virtual-environments/issues/922#issue-623008971
We're going to rollback the changes today.

[2020-05-22 08:28] domenkozar commented on #709
I'd love if you find a way to just increase root disk space, that would from user perspective be a win-win.

I do understand you have your own design restrictions, keeping my fingers crossed.

[2020-05-22 08:29] phadej opened #923 "Provide a minimal Windows (and why not other platform) images."
There are special use-cases (like `cabal-install` CI), where setting up the environment from clean-ish state feels easier than trying to dodge interactions with all installed (and ever increasing?) stuff.

[2020-05-22 08:32] Darleev commented on #765
@johndatserakis @Woofenator  thank you for the update. It seems the issue cannot by reproduced at this time. In order to continue the investigation following information is required:
- Step by step instruction how to reproduce the issue, or condition where the issue can be reproduced;
- Public repository where the issue can be reproduced.

Currently, I'm going to close the issue. In case of any qu

[2020-05-22 08:43] maxim-lobanov commented on #427
@joshmgross , image with clean npm folder is deployed.
Could you please double check from your side?

[2020-05-22 08:59] phadej opened #924 "Interactive way to debug build issues."
Either a ssh or remote desktop (or VirtualBox images) would be great to have.

Debugging CI environment issues via triggering new jobs simply takes too much time. I'm tempted to go for the "easiest", not the "correct" solution.

There seems to be hacks like https://github.com/nelsonjchen/reverse-rdp-windows-github-actions, but I rather not rely on them either.

[2020-05-22 09:17] phadej commented on #645
I relaying a message from https://github.com/haskell/cabal/pull/6829#issuecomment-632589222

---

What I don't get is why the image has to have every single version installed at once? Why can't you simply use something like AppVeyor's build matrix? Isn't that simpler? or does github actions not support something like that.

The motivation seems to be that having tools preinstalled would save start

[2020-05-22 11:00] maxim-lobanov commented on #770
Closing this one.
Please let me know if it is still an issue for you.

[2020-05-22 11:00] #770 closed

[2020-05-22 11:46] #765 closed

[2020-05-22 12:14] miketimofeev commented on #858
@riverar the image has been deployed. Could you check the SDK, please?

[2020-05-22 12:16] miketimofeev commented on #885
@ThadHouse @mickael-caro-sonarsource both win19 and win16 images have been deployed. Java11 is on its place 😀I'm closing the issue, but feel free to ping me if you have any concerns.

[2020-05-22 12:16] #885 closed

[2020-05-22 12:41] AshTappin opened #926 "Update Chrome and Chromedriver to v83 on ubuntu 18.04 image"
**Question, Bug, or Feature?**:
Could Chrome be updated to version 83.0.4103 on the ubuntu 18.04 image?

**Virtual environments affected**
- [ ] Ubuntu 18.04 LTS

[2020-05-22 12:46] al-cheb commented on #926
Hello, @AshTappin
We are planning to deploy a new roll-out with Google Chrome 83 on the next week.

Test builds:
https://github.visualstudio.com/virtual-environments/_build/results?buildId=69941&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=72559e73-928c-58e0-b67e-e22d7a78faae

[code]

[2020-05-22 13:08] AshTappin commented on #926
Great @al-cheb !

[2020-05-22 14:29] konradpabjan commented on #912
Since this is an in-development version of Python, I would put this under the same issue: https://github.com/actions/setup-python/issues/20

The `v2` version of `setup-python` can now JIT download and install specific versions of Python from the [actions/python-versions](https://github.com/actions/python-versions) repo so ideally we should add all in-development versions there.

[2020-05-22 14:36] tamalsaha opened #927 "EXDEV: cross-device link not permitted"
**Describe the bug**
Since yesterday, I have started seeing `EXDEV: cross-device link not permitted` error. Example:

**Area for Triage**: Npm

**Question, Bug, or Feature?**: Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
A description of what you expected to happe

[2020-05-22 14:37] maxim-lobanov commented on #927
Hello @tamalsaha , it is known issue and we are working to rollback breaking change.
Closing as duplicate: #922

[2020-05-22 14:37] #927 closed

[2020-05-22 14:40] 1orz commented on #709
How long does the rollback operation take to complete? When can it take effect on Github actions？

[2020-05-22 17:13] riverar commented on #858
@miketimofeev Verified https://github.com/riverar/GHA-Repro-14393/runs/700336612 🚀

[2020-05-22 17:46] joshmgross commented on #427
Thanks @maxim-lobanov,

Running `du -sh ~/.npm` on macos-latest shows `4.0K	/Users/runner/.npm` which is 👍

[2020-05-22 17:51] maxim-lobanov commented on #427
Great, I am closing the issue

[2020-05-22 17:51] #427 closed

[2020-05-22 18:25] miketimofeev commented on #709
@1orz it should take about 4-6 more hours

[2020-05-22 18:26] miketimofeev commented on #858
@riverar thanks for the update! I'm going to close the issue.

[2020-05-22 18:27] #858 closed

[2020-05-22 21:06] cytopia opened #929 "Cannot resolve localhost to an IPv6 address on ubuntu-latest (all Python versions affected)"
**Describe the bug**
As of today I am getting the following error resolving `localhost` to an IP address on Ubuntu latest:
[code]

The resolving process is done via Python:
[code]
It affects all Python versions: 2.6, 3.5, 3.6, 3.7, 3.8 pypy2 and pypy3

This has not happened a few days ago and it also does not happen on MacOS or Windows

**Area for Triage**:
https://github.com/cytopia/pwncat/pull/7

[2020-05-22 21:52] cytopia commented on #929
I've investigated this further and it seems like IPv6 support is simply gone: https://github.com/cytopia/pwncat/pull/77/checks?check_run_id=700860054#step:5:37

It smees to be working for IPv4, but not for IPv6 anymore.

[2020-05-23 01:05] MSP-Greg opened #930 "Update/Add Windows Ruby - remove embedded MSYS2 installs"
**Tool information**
- Tool name: **Ruby all versions**
- Tool license: **na**
- Add or update? **update ?**
- Desired version: **na**
- Approximate size: **smaller than current**

**Question, Bug, or Feature?**: Question

### Preface

This is a long post, as I've tried to explain the issue in a manner that (hopefully) will be clear to people unfamiliar with Windows Ruby.

### General Info

Window

[2020-05-23 01:59] elshize opened #931 "Building Ubuntu VM setup locally"
Hi, I found instructions on how to build a VM on Azure but I'd like to set it up locally so that I can easily test all my config before pushing to the repository. Would you mind helping out with that? Ideally, it would be nice if there was a docker image one can download, or at least some kind of script setting up the environment, installing packages, etc. Without that, it's rather difficult to gu

[2020-05-23 02:16] zufuliu commented on #921
now I use following command to install LLVM 10.0, it takes about 1 minute:

https://github.com/zufuliu/notepad2/runs/701136763?check_suite_focus=true#step:3:2
[code]

[2020-05-23 02:23] saurik commented on #709
@miketimofeev From the linked GitHub Community Forum report, it seems like you made /home/runner/work be the mounted partition while /home/runner was not. Seeing this, that does not surprise me as something that would break people's assumptions :(. Being able to easily move files around within one's own $HOME directory using the rename() syscall seems very reasonable.

[code]

My recommendation he

[2020-05-23 02:28] zufuliu opened #932 "Update/Add Visual Studio 2019"
**Tool information**
- Tool name: Visual Studio 2019
- Tool license:
- Add or update? Update
- Desired version: 16.6.0 or later
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:

**Area for Triage**:

C/C++

**Question, Bug, or Feature?**:

Feature

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.

[2020-05-23 02:55] zufuliu commented on #932
See also https://github.com/microsoft/STL/issues/480 and https://github.com/microsoft/STL/pull/708

[2020-05-23 04:58] maxim-lobanov commented on #932
Hello!
We always install latest VS version during image-generation. VS 16.6 will be delivered next week

[2020-05-23 05:00] zufuliu commented on #932
Thank you.

[2020-05-23 05:01] maxim-lobanov commented on #929
Probably, similar to #668

[2020-05-23 10:11] cytopia commented on #929
I don't think so. As I wrote above, the problem started as of today (yesterday). It all worked fine before.

[2020-05-23 10:28] miketimofeev commented on #929
@cytopia does the same happen on Ubuntu 16? I wonder if it's related to this PR https://github.com/actions/virtual-environments/pull/881

[2020-05-23 10:30] cytopia commented on #929
Give me a few minutes, will add pipelines for these to try it out

[2020-05-23 10:38] cytopia commented on #929
Seems to be the same issue on Ubuntu 16: https://github.com/cytopia/pwncat/runs/701818515?check_suite_focus=true#step:5:22 No IPv6 support available anymore

[2020-05-23 11:29] al-cheb commented on #929
@cytopia

Could you please test with step?
[code]

[2020-05-23 11:32] cytopia commented on #929
@al-cheb is there something where I can tell it for a step to only do this on Linux?

[2020-05-23 11:36] al-cheb commented on #929
[code]

[2020-05-23 11:59] cytopia commented on #929
Looks good so far. I can resolve it to IPv6 again. Will however also wait for the whole pipeline and report back here

[2020-05-23 18:05] cytopia commented on #917
If you need any help triaging this, let me know - it directly affects my builds.

[2020-05-24 04:11] MSP-Greg commented on #923
Interesting idea.

In the past I did have AppVeyor scripts where PATH was totally reset, which essentially removes issues with interactions.  I've also written several Actions scripts filled with `where` commands to find conflicts...

One issue is what is 'minimal Windows'?  Should actions work (node.js in PATH)?  Maybe some custom actions exec out to other tools?  Should Visual Studio be installe

[2020-05-24 06:24] phadej commented on #923
Resetting Path to something minimal would work too.

The is ::add-path:: command, but no remove, nor clear. I’m not sure if ::set-env:: works on Windows for Path.

Because chocolatey is not licensed on GitHub arvionsa, we cannot use installationdir flag, to install somewhere else and not care about existing installations. That complicates things too ( forces us to uninstall/reinstall if versions a

[2020-05-24 14:23] MSP-Greg commented on #923
Sometimes renaming the old then reinstall works (and is faster than uninstall), but for things like MSYS2/MinGW packages, rename doesn't work, e.g. some old Rubies that are used in CI use OpenSSL 1.0.2, and one has to uninstall 1.1.1, as it's spread across several folders...

Ignoring issues with EOL.

[2020-05-24 17:05] maxim-lobanov commented on #923
Thank you for your proposal and feedback.

Just a quick solution while we are evaluating the initial request:
1) The following  step can be used to clean path:
[code]
2) Special function to remove one path from PATH:
[code]

[2020-05-24 18:05] MSP-Greg commented on #930
Re the Ruby 2.7.1 package from https://github.com/actions/virtual-environments-packages, at:
https://github.com/actions/virtual-environments-packages/packages/110285

If you drill down into the package, you see 'rubyinstaller-2.7.1-1-x64.exe' and also 'tool.zip'.  The script install_to_tools_cache.ps1 seems to only uses tool.zip, so I'm not sure why the exe is included.

Anyway, looking at tool.zi

[2020-05-25 04:09] maxim-lobanov commented on #930
@MSP-Greg , Thank you for enhancement request.
What steps can we use to validate Ruby after removing embedded msys64 to make sure that system MSYS is used?

[2020-05-25 04:54] MSP-Greg commented on #930
Something like the following (adapted to what you need)
[code]

Note that current gcc's installed on Actions output the following, and hence, don't match 'Built by MSYS2' used above:
[code]

[2020-05-25 05:57] mzabaluev commented on #895
This is not merely a performance problem, it's causing caching failures on Windows: https://github.com/actions/cache/issues/198#issuecomment-633390550

[2020-05-25 07:38] AlenaSviridenko commented on #809
Images with changes were deployed everywhere

[2020-05-25 07:38] #809 closed

[2020-05-25 07:41] pedrocamargo commented on #317
Can we increase the size of the issue request and add the shipping of RTree with the SQLite binary?

It would solve the remaining problems of testing with Spatialite

![image](https://user-images.githubusercontent.com/7377666/82790170-fcbd8b80-9eae-11ea-8c53-66d8ed073dfe.png)

[2020-05-25 08:02] miketimofeev commented on #709
@saurik thanks for your suggestions! The only reason we haven't done it with the home directory is that it's more complicated in terms of VM creation logic. We'll try to look at it one more time. Another thought is to move /swap on the /mnt.

[2020-05-25 08:38] Darleev commented on #931
Hello @elshize,
There was a separate [project in the past](https://hub.docker.com/_/microsoft-azure-pipelines-vsts-agent), where it was possible to build separate agent in docker image for local testing. Currently, in order to build local machine with pre-installed software on your own, I see only one way:
- Take [installation scripts](https://github.com/actions/virtual-environments/tree/master/im

[2020-05-25 10:02] miketimofeev commented on #900
@haymansfield we've finished with the deployment. I'm going to close the issue. Feel free to open a new one if you have any concerns.
Thank you!

[2020-05-25 10:02] #900 closed

[2020-05-25 10:13] miketimofeev commented on #868
@Poil We've deployed the image with azcopy10.
[code]
I'm going to close the issue, but feel free to ping me if you have any concerns.
Thank you!

[2020-05-25 10:13] #868 closed

[2020-05-25 10:18] miketimofeev commented on #806
@alepauly Image with the fix has been deployed.

[2020-05-25 10:18] #806 closed

[2020-05-25 10:20] Darleev commented on #850
@arvindshmicrosoft The latest data tools have been added to the image.
I'm going to close the issue.
In case of any questions please let us know

[2020-05-25 10:20] #850 closed

[2020-05-25 10:21] miketimofeev commented on #220
@liborty The image with suppressed output has been deployed. Feel free to open a new issue if you have any concerns.
Thank you!

[2020-05-25 10:21] #220 closed

[2020-05-25 12:49] elshize commented on #931
Thanks @Darleev, this helps a lot. Just to clarify, since I'm not familiar with Packer, this can be used to set up a VM outside of cloud, as in my local desktop for instance?

[2020-05-25 14:32] miketimofeev commented on #922
We have finished the rollback on Friday.

[2020-05-25 14:32] #922 closed

[2020-05-25 15:10] MSP-Greg commented on #930
@maxim-lobanov

As to the code example, the first test is good enough.  The second one (ridk version) uses the same code as the first, and the important thing is that it finds the MSYS2 gcc.exe.

JFYI, MSYS2 just did a new release, from [20200517](https://github.com/msys2/msys2-installer/releases/tag/2020-05-17) to [20200522](https://github.com/msys2/msys2-installer/releases/tag/2020-05-22).

[2020-05-25 16:26] 1480c1 commented on #30
As msys2 was added under `C:\msys64` now with `windows-2019` does this issue still need to stay open?

[2020-05-25 16:44] 1480c1 commented on #930
MSYS, MinGW, MSYS2, and mingw-w64 are all separate projects, so it would be best to make sure not to use the wrong word when describing something since it can confuse others too

MSYS: <http://www.mingw.org/wiki/MSYS>
- `MSYS is a collection of GNU utilities such as bash, make, gawk and grep to allow building of applications and programs which depend on traditionally UNIX tools to be present. It i

[2020-05-25 16:55] 1480c1 commented on #930
One such confusion, the comment section on the `mingw` package section of chocolatey <https://chocolatey.org/packages/mingw>

[2020-05-25 16:59] 1480c1 commented on #30
I see, it's probably best to link those prs and stuff to here so it's more visible without needing to go through the PR page,

[2020-05-25 17:15] MSP-Greg commented on #30
Install script in master [Install-Msys2.ps1](https://github.com/actions/virtual-environments/blob/master/images/win/scripts/Installers/Install-Msys2.ps1)

[2020-05-25 17:34] mxcl commented on #37
Since installing libcurl-openssl-dev changes libcurl from libcurl3 to libcurl4, this can break some other things you may need, thus you can get the headers by themselves like so:

[code]

[2020-05-25 18:30] miketimofeev commented on #605
@traversaro VS 16.6 was released and the issue is fixed there. We've started the Image Deployment today and it will take a few days to propagate to all the environments.

[2020-05-25 19:32] miketimofeev commented on #769
@aibaars the image with changes has been deployed. Could you check the behavior, please?

[2020-05-25 19:55] mzabaluev opened #936 "Tar cannot overwrite read-only files on Windows"
**Describe the bug**
`C:\Windows\System32\tar.exe` fails to remove existing files that need to be overwritten by an archive extraction, but have the read-only attribute.

**Area for Triage**:
Scripting and command line

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [x] Windows Se

[2020-05-26 07:35] zhangyoufu opened #937 "expired signing key for bazel APT repo"
**Describe the bug**
expired signing key for bazel APT repo

**Area for Triage**:
Packages

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
`apt-get update` finish without error

**Actual behavior**
`apt-get update` shows the following

[2020-05-26 07:53] al-cheb commented on #937
Hello, @zhangyoufu

We are planning to roll-out a new image version this week where the gpg key was updated. As a  temporary workaround you can update manually the gpg for bazel:

[code]

[2020-05-26 08:24] Darleev commented on #936
Current implementation of actions/cache uses tar from system32 directory.
Windows2019 image contain bsdtar 3.3.2 in this folder.
"C:\ProgramFiles\Git" folder contains tar (GNU tar) 1.32 that works for this cases.
Unfortunately, we can't replace system32 tar with GNU version because previously, it caused huge regression for a lot of customers.
I suggest to improve actions/cache to use tar that come

[2020-05-26 09:30] aibaars commented on #769
It works for me, thanks!

[2020-05-26 09:31] vsafonkin commented on #596
Closed, Windows images with msys2 and pacman were rolled out.

[2020-05-26 09:31] #769 closed

[2020-05-26 09:31] #596 closed

[2020-05-26 09:43] andreasdotorg commented on #30
I'm missing pacman in the MSYS2 install on windows-2019. Is that a deliberate omission or an oversight?

[2020-05-26 09:48] Darleev commented on #344
@larvacea we have added Android SDK 29.0.1 and latest NDK to Windows image and it will be rolled out next week.
In case of any questions, please let us know.

[2020-05-26 09:52] Darleev commented on #931
@elshize for local testing, you can use the following approaches:
[VMware](https://www.packer.io/docs/builders/vmware/)
[Hyper-V](https://www.packer.io/docs/builders/hyperv/)
[VirtualBox](http://packer.io/docs/builders/virtualbox/)
In other words, need to build image for one of these virtual environments and deploy as virtual machine locally.

[2020-05-26 10:06] mzabaluev commented on #936
This [fails](https://github.com/mzabaluev/github-actions-playground/runs/708869532?check_suite_focus=true) because the `tar` in Git distribution does not interpret Windows path names as such. This has not changed since #480, so I guess it's not an option for the time being.

[2020-05-26 10:07] Darleev commented on #702
@KrispyX SSDT workload for Visual Studio has been installed to the images. Could you please verify and let us know?

[2020-05-26 10:14] Darleev commented on #798
@mikeharder fix has been applied to the current images and initial DNS issue should not be reproduced anymore. Could you please verify?
@chkimes if you believe that need to investigate the issue further and report it to systemd team, please let us know.

[2020-05-26 10:53] vsafonkin commented on #102
Hi @fireundubh , MinGW-w64 is installed on Windows images. I've closed this issue, please feel free reopen it if you have any concerns or problems. Thank you!

[2020-05-26 10:53] #102 closed

[2020-05-26 12:38] mprins commented on #413
Bummer, it means it's impossible to test Java applications on Windows+SQL server using GH actions

[2020-05-26 12:49] FrancescElies commented on #894
ℹ Downloading a zip package with [miktex portable](https://miktex.org/howto/portable-edition) unpacking it and adapting the PATH variable takes around 1 minute in the cloud.

[2020-05-26 13:02] 1480c1 commented on #30
Where are you looking for pacman?

[2020-05-26 13:27] LanceMcCarthy commented on #932
Hi Team, just to make sure, can you please double check that when updating to VS 16.6 that the new UWP SDK (version 19041) is also included.

Otherwise, you will see a bunch of Actions fail to build, like these two:

- https://github.com/microsoft/github-actions-for-desktop-apps/pull/30/checks?check_run_id=709249059
- https://github.com/LanceMcCarthy/MediaFileManager/actions/runs/113382459

[2020-05-26 13:34] MSP-Greg commented on #30
@andreasdotorg

Git's bash shell has been the default on Win images, so MSYS2 is not included in Path.  Pacman is located at `C:\msys64\usr\bin`.  You may need to add other locations to Path to use the MSYS2 MinGW tools.

[2020-05-26 13:46] maxim-lobanov commented on #932
Hi @LanceMcCarthy , we are planning to deliver VS 16.6 this week and new SDK (19041) next week.
Just to clarify: Do you mean that builds will fail if VS 16.6 is installed on image but 19041 SDK not?
In your builds, I see that VS 16.5 is still used.

[2020-05-26 13:47] 1480c1 commented on #30
In appveyor, I used
[code]
to remove git from the path so I could use msys2's `C:\msys64\usr\bin;C:\msys64\mingw64\bin` in the path without any conflicts, you might be able to modify it to match github actions better

[2020-05-26 13:54] LanceMcCarthy commented on #932
Correct, indeed the reason it fails is because it's missing 19041.

It's not a guarantee that you get 19041 just for installing VS 16.6 (I had to go in and explicitly add it after the fact in VS Installer > Additional Components), so I wanted to mention it now so that you wouldn't need to roll out two updates :)

[2020-05-26 14:19] maxim-lobanov commented on #932
I see. So VS 16.6 should be delivered in a few days. And 19041 will be delivered next week, PR is ready and will be merged today (#935)

[2020-05-26 14:24] JavierSegoviaCordoba commented on #643
@maxim-lobanov I am having this warning:

[code]

[2020-05-26 14:41] Darleev commented on #936
@mzabaluev I have tested in your test repository on a separate branch the behavior you have mentioned. I have changed a little bit your workflow file, and it works fine with the following configuration:

[code]

Could you please verify on your side and provide a result?

[2020-05-26 14:54] elshize commented on #931
Thanks, sounds good. I should be able to take it from here. I appreciate you taking the time to help, thanks a bunch!

[2020-05-26 15:01] maxim-lobanov commented on #643
I see, I can reproduce it via `mkdir /usr/local/lib/android/sdk/ndk`.
Looks like `actions/cache` doesn't use sudo and this folder is not available without sudo by default.
Quick workaround - invoke `sudo mkdir /usr/local/lib/android/sdk/ndk` before cache step.
Long term solution:
1) Ideally, improve `actions/cache` to make sure that it uses `sudo` if needs. I like this solution because it will fix

[2020-05-26 15:03] JavierSegoviaCordoba commented on #643
Yeah, I fixed creating the file, I think the solution 1 is better to avoid boilerplate.

[2020-05-26 15:04] nulano commented on #30
I'm using the following to run commands in MSYS/MinGW32 or MSYS/MinGW64 bash shell:

[code]

The first step adds msys at the start of the path, and the `MSYSTEM` and `CHERE_INVOKING` envvars tell MSYS bash to run on the given platform (MinGW32 or MinGW64). I'm setting a default custom shell to run multiple steps in the MSYS shell, but you can explicitly set it for each step.

[2020-05-26 15:08] 1480c1 commented on #30
You might want to add `-eo pipefail` to your `shell:` line to emulate what github actions uses for their `bash`

[2020-05-26 15:34] parrainc opened #938 "Update/Add Java SDK to latest version (at least version 11)"
**Tool information**
- Tool name: Java SDK
- Tool license:
- Add or update? Update
- Desired version: v11 (or latest)
- Approximate size:

**Area for Triage**:
Java

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Can this tool be installed during the

[2020-05-26 15:36] parrainc commented on #938
I found this during a sonar analysis in our build pipelines. We got a warning message like this:
`##[warning]14:38:44.377 WARN: The version of Java (1.8.0_252) you have used to run this analysis is deprecated and we will stop accepting it from October 2020. Please update to at least Java 11.`

So, it would be good if that java sdk version is updated to at least version 11 or the latest.

[2020-05-26 15:39] maxim-lobanov commented on #938
Java 11 is already installed on Ubuntu images and available via `JAVA_HOME_11_X64` environment variable.

The following versions are installed:
- 7 (openjdk version "1.7.0_262")
- 8 (openjdk version "1.8.0_252") (default)
- 11 (openjdk version "11.0.7" 2020-04-14 LTS)
- 12 (openjdk version "12.0.2" 2019-07-16)

One more convenient way to switch Java is [actions/setup-java](https://github.com/actio

[2020-05-26 16:00] parrainc commented on #938
Any solution for azure pipelines?

[2020-05-26 16:02] maxim-lobanov commented on #938
There is the same task for AzDO: [Java tool installer](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/java-tool-installer?view=azure-devops).

[2020-05-26 16:03] mzabaluev commented on #936
@Darleev Thank you, the `--force-local` option [makes it work](https://github.com/mzabaluev/github-actions-playground/runs/709969926?check_suite_focus=true).

Closing, as it's not reasonable to expect the Windows-provided tool in its standard location to be replaced with something that behaves differently.

[2020-05-26 16:03] #936 closed

[2020-05-26 16:04] parrainc commented on #938
Got it, looks like sonar task is looking for JAVA_HOME var and since the default is 1.8.x that's why the warning. I'll see if I can override it with the one you listed above or use the java tool task.

Thanks, @maxim-lobanov

[2020-05-26 16:15] maxim-lobanov commented on #938
If you need to override JAVA_HOME variable, the following step will work for you:
[code]
It will work faster than task.

[2020-05-26 16:50] parrainc commented on #938
Yeah, I did something similar to that. The task looks cool, but I think there are too many params we need to pass through.

Anyway, things are working great. No warnings!

[2020-05-26 16:50] #938 closed

[2020-05-26 16:55] agrobbin commented on #929
@al-cheb we've started running into a very similar issue, specifically with [Percy.io's](https://percy.io/) image downloading functionality:

[code]

We use `.localhost` as a TLD, which up until 5/22 worked just fine, but starting on 5/22 (and I believe alongside the `20200518.1` virtual env release), requests for our assets on that domain are no longer working.

I tried including your suggested c

[2020-05-26 17:16] Darleev opened #940 "Selenium Web Driver for IE link is absent."
**Describe the bug**
Windows images build fails due to DNS issue in attempt to download Selenium Web Driver for IE

`C:\Windows\Temp\script-5ecd16ad-74f7-86b7-1e84-501f9e9dfe1f.ps1 : [!] Failed to download SeleniumWebDrivers.zip`

Link: https://seleniumwebdrivers.blob.core.windows.net/seleniumwebdrivers/SeleniumWebDrivers.zip cannot be resolved or I guess was completely removed.

**Area for Triage