[2020-09-07 07:47] asklar commented on #1469
Thanks @andy-mishechkin , I will check it out

[2020-09-07 08:51] BrightRan opened #1553 "Workflow fails after a month of inactivity"
Associated GitHub Community ticket: https://github.community/t/github-actions-fails-after-a-month-of-inactivity/130926

The customer has a workflow (see [here](https://github.com/caelwithcats/cross-lib/blob/master/.github/workflows/main.yml)), it could work in July, but now, after a month of inactivity, the same workflow fails and returns the following error (see [here](https://github.com/caelwith

[2020-09-07 09:27] iamrecursion commented on #1187
We also see the instability on macOS, but less often than on Windows. Configuring this for Windows and Linux _seems_ to have reduced the incidence of the network-related failures significantly. I'll be keeping an eye on it, but at least initially it seems to have helped!

I'm definitely interested in an equivalent setting for macOS.

[2020-09-07 09:40] LeonidLapshin commented on #1354
Hey, @pfifltrigg !
Tried to reproduce your problem, but all downloads were successful,
[80 threads downloading this package 200 times, checking sha256, unzip check](https://github.com/LeonidLapshin/test-pip-tensorflow/runs/1077456588?check_suite_focus=true)
I guess there is a really flaky problem, we currently investigating it, if you have any logs or pipelines that needs a look, please, share if

[2020-09-07 09:41] miketimofeev commented on #1553
Hi @caelwithcats @BrightRan!
There were a lot of updates in the past two months but it's not related to the issue. `Install packages` actually failed due to outdated apt-get data(Unable to fetch some archives) so you need to add these lines to https://github.com/caelwithcats/cross-lib/blob/master/cross_apis_r/packages.sh and everything works just fine after that
[code]
another good idea is to add`

[2020-09-07 10:09] BrightRan commented on #1553
@miketimofeev ,
Thanks for your quick answer.
I tested as your suggestion, yes, the workflow works now.

However, I'm curious that why the workflow worked in the past, although we omitted the line "sudo apt-get update".

[2020-09-07 10:17] miketimofeev commented on #1553
@BrightRan it's not obligatory to run `sudo apt-get update` every time, but package indexes become outdated from time to time and thus point to an outdated links so it's always a good idea to refresh this cache before running apt-get install.

[2020-09-07 10:58] joehorsnell commented on #1454
Hi @maxim-lobanov - thanks for your reply.

Fair enough 👍.

Obviously one can always just manually uninstall Homebrew and any other pre-existing software in the rarer cases where required, before running builds. The only suggestion that springs to mind is maybe an "official" or endorsed "Clean" GitHub Action that does this uninstallation for you, but that it's quite simple to do manually, it might

[2020-09-07 12:30] caelwithcats commented on #1553
A bit off topic but why does username12 keep appearing in my commits:
![username12](https://user-images.githubusercontent.com/53895123/92387912-b805e980-f159-11ea-9ac6-c2835e654e84.png)

[2020-09-07 13:07] miketimofeev commented on #1553
@caelwithcats don't know, I see me there because I've forked your repo to test the solution
![image](https://user-images.githubusercontent.com/48208649/92390750-292aaa00-f124-11ea-8ff3-9639a79a009b.png)

[2020-09-07 13:27] caelwithcats commented on #1553
@miketimofeev but your username isn't username12

[2020-09-07 14:39] maxim-lobanov commented on #1430
@drpaneas , GitHub documentation contains information about meaning `ubuntu-latest` tag. Please check [documentation](https://docs.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners#supported-runners-and-hardware-resources).

[2020-09-07 15:09] dscho commented on #1525
As long as you do not try to call it via `git-lfs.exe`, but via `git lfs` (or even better: implicitly via the common smudge/clean filters), the internal copy will be picked up _by Git_. My PR won't change that.

[2020-09-07 15:14] dscho commented on #1525
Re: `tar` and `printf`: I really _hate_ to spoil the party, but it is _really_, like *really* not guaranteed that Git for Windows will ship with these!

If you want to make sure that those are shipped, and officially supported, it will need to be handled via `C:\Program Files\Git\cmd`, and I will have to be convinced that this does not increase my maintenance burden.

One plan, for example, is to

[2020-09-07 15:30] maxim-lobanov commented on #1525
Hello everyone,
We are a bit concerned that removing Git Unix tools from Windows images could cause unpredictable impact, also it doesn't look like a good idea to remove Git Unix tools from PATH but support hardcoded list of tools to have in PATH (like `tar` and `printf` as was asked above) so we would like to continue some discussion here.

**Summary & Details:**
Currently, PATH contains the foll

[2020-09-07 15:47] pfifltrigg commented on #1354
@LeonidLapshin :
It looks like it's a local problem with Debian running in VirtualBox. Downloads on the host system are fine, while simultaneous downloads on the guest system produce errors. After some fiddling and a reboot, everything is working again, at least for now. Sigh. Sorry for any inconvenience.

[2020-09-07 17:00] MSP-Greg commented on #1525
I don't see any problems with this.

[ruby/setup-ruby](https://github.com/ruby/setup-ruby) and [MSP-Greg/setup-ruby-pkgs](https://github.com/MSP-Greg/setup-ruby-pkgs) are enabling MSYS2 early in their code, and have switched to using the MSYS2 bash shell.

Re option 2 above, you may need to also add `C:\msys64\mingw64\bin`.  It's been a while since I've compared the tools in each, as I've always u

[2020-09-07 17:55] Darleev commented on #1120
@erphunranjbar
I have created [a separate branch ](https://github.com/Darleev/virtual-environments/tree/v-danurg-apt_retry_function)in the upstream repository where implemented retry logic for apt/dpkg, which should resolve the issue.
Could you please try to build from [the mentioned branch](https://github.com/Darleev/virtual-environments/tree/v-danurg-apt_retry_function) and provide a result?

We

[2020-09-07 18:27] dscho commented on #1525
I am in favor of replacing `C:\Program Files\Git\usr\bin` (and `...\ming64\bin`) in `PATH` by their MSYS2 equivalents: in contrast to Git for Windows, which only so happens to ship those tools at the moment, MSYS2 *does* support the indicated use cases explicitly.

[2020-09-07 18:56] MSP-Greg commented on #1525
@dscho

Thanks.  What is the suggested way to add Git to path, `C:\Program Files\Git\bin` or `C:\Program Files\Git\cmd`?  I assume `cmd`, as it doesn't have bash in the folder?  I believe the current Actions path contains the `bin` folder?

[2020-09-07 20:24] mitm001 commented on #1541
Ok, I will close this, thanks for the fix.

[2020-09-07 20:24] #1541 closed

[2020-09-08 02:47] BrightRan opened #1554 "Maven packages works on local but fails in workflow"
Associated GitHub Community case: https://github.community/t/works-locally-but-on-github-actions-build-cant-transfer-own-github-hosted-parent-pom-receives-bad-request-and-parent-relativepath-points-at-wrong-local-pom/130983

The customer has a project that he wants to build with Maven packages. See the repository [here](https://github.com/joergi/basics).

When he tries to build the project with th

[2020-09-08 07:26] maxim-lobanov commented on #1453
Closing this for now since root cause is found but it is external issue that can't be fixed from our side for now

[2020-09-08 07:26] #1453 closed

[2020-09-08 08:00] al-cheb commented on #1453
@burg, Hi, Brian
Do you you know about that issue?

[2020-09-08 08:01] LeonidLapshin commented on #1470
Hey, @MarikoNakazawa
We have added the functionality for Visual Studio Build Tools workloads installation, Microsoft.VisualStudio.Workload.WebBuildTools will be included in the next image rollout :)

[2020-09-08 08:34] LeonidLapshin commented on #1354
@pfifltrigg thank you for clarification, please reopen this ticket in case if you still have the problem :)

[2020-09-08 08:34] #1354 closed

[2020-09-08 08:54] miketimofeev commented on #1553
@caelwithcats I'm going to close this issue since the root cause is resolved. Please create another GitHub Community ticket if you need support with the contributors list.
Thank you!

[2020-09-08 08:54] #1553 closed

[2020-09-08 09:44] miketimofeev commented on #1554
Hi @BrightRan @joergi!
It doesn't look like an issue with the VM image. I've found the following community discussions about the same error. Could you please take a look if it helps?
https://github.community/t/github-package-registry-as-maven-repo-trouble-uploading-artifact/14226/37
https://github.community/t/error-on-github-packages-for-snapshot-maven-artifacts-with-a-classifier/116732/5

[2020-09-08 11:51] Darleev commented on #1540
@mcaballeropinto [PR](https://github.com/actions/virtual-environments/pull/1515) should resolve the issue.
So, we just need to wait for the next image rollout.
I will keep you informed.

[2020-09-08 12:35] dscho commented on #1525
If you want to be able to use Git for Windows' Bash, you need the `Git\bin` directory. Otherwise, the `Git\cmd` directory would be the appropriate one.

[2020-09-09 06:46] larsmaes opened #1559 "Update/Add terraform to 0.13.2"
**Tool information**
- Tool name: terraform
- Add or update? update
- Desired version: 0.13.2 (Or at least higher than 0.13.1)

**Virtual environments affected**
- [X] macOS 10.15
- [X] Ubuntu 16.04 LTS
- [X] Ubuntu 18.04 LTS
- [X] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

Terraform 0.13.1 contains a serious bug which causes al our pipelines to crash.

[2020-09-09 06:53] maxim-lobanov commented on #1559
Hello @larsmaes , we install the latest version of terraform on every image-generation. We will start deployment of new image today and terraform 0.31.2 will be included.
As for the macOS, we don't have Terraform installed on MacOS right now

[2020-09-09 10:13] LeonidLapshin commented on #1499
Hey, @Ginxo !
I made a research within that problem and it seems that it is an Azure-related more than Github-related issue, I guess that the root cause of these read timeouts is the SNAT behavior for network connections on Azure.

The similar problems:
https://developercommunity.visualstudio.com/content/problem/357696/maven-project-build-failing-with-connection-reset.html
https://issues.apache.or

[2020-09-09 11:13] maxim-lobanov commented on #1559
@larsmaes , as a workaround, I suggest consider using of [HashiCorp - Setup Terraform](https://github.com/marketplace/actions/hashicorp-setup-terraform) action. It would allow to install specific version of terraform in runtime very quick

[2020-09-09 11:47] maxim-lobanov commented on #1260
"azure-pipelines-tasks" team has updated "UsePython" and "UseRuby" tasks to [produce warning](https://github.com/microsoft/azure-pipelines-tasks/pull/13513) in case if customers specify exact version like "major.minor.patch" and notify customers that they can be broken in future image rollouts.
The current implementation of "UsePython" task can't download versions on-flight so this behavior is exp

[2020-09-09 11:47] #1260 closed

[2020-09-09 12:00] maxim-lobanov commented on #1037
Hello! Thank you for sharing your proposal.
Considering the fact that VHDs will work as previously in near future, we don't have close plans to switch to managed images since it will require reworking our current infrastructure.

[2020-09-09 12:00] #1037 closed

[2020-09-09 12:17] miketimofeev commented on #1549
I'm going to close the issue. Feel free to create a new one if you have more questions.
Thank you!

[2020-09-09 12:17] #1549 closed

[2020-09-09 12:21] bgoggan opened #1564 "Add Edge browser and driver versions for 85.0.564.44"
Is it possible to update the edge browser and drivers on the windows 2019 azure hosted environment? I see both the existing and the one marked pre-release are still on v84. v85 appears to be the current version being installed with new Edge browser installs.

[2020-09-09 12:41] miketimofeev commented on #1564
Hi @bgoggan!
Edge version will be updated automatically during next week's windows deployments.
macOS image with edge 85.0.564.44 is being deployed at the moment, the update is supposed to be finished in a few hours.
As a temporary workaround you can use the following steps:
Windows:
`choco upgrade microsoft-edge`
macOS:
`brew upgrade microsoft-edge`

[2020-09-09 12:55] eine commented on #1525
@maxim-lobanov, IMHO, this is not correct. Instead, I'd say it is because of lack of expertise, and specially lack of attention. I've been following this repository since it was created, and there were discussions about this same issue before (related to MSYS2 and/or WSL). This has been going around for about a year already (before Actions were "officially" out of beta). Overall, many different em

[2020-09-09 12:58] bgoggan commented on #1564
@miketimofeev that sounds great. Thanks for the update.

[2020-09-09 13:36] larsmaes commented on #1559
Thanks! We did this for some mission critical pipelines

[2020-09-09 13:56] MSP-Greg commented on #1525
@eine

I could say the same.

Re removing MSYS2:

1. MSYS2 was/is installed on AppVeyor, and it was used for several years.  Why is it now not appropriate for Actions to do the same?  AppVeyor did not update their images often, which did cause issues.  Given that Actions images are updated at least a few times a month, issues are almost nonexistent.

2. You mention 90 seconds.  For many repos CI,

[2020-09-09 14:11] dscho commented on #1525
@eine @MSP-Greg I really value seeing both of your perspectives spelled out clearly. Maybe we could meet real quick on https://meet.jit.si/GHA-MSYS2 to hash some things out "in person"?

[2020-09-09 14:26] bgoggan commented on #1564
@miketimofeev thanks for the additional info but I actually download and keep the edge drivers contained as part of my test project so once I added the command to update the existing browser they ran as expected.

[2020-09-09 14:44] miketimofeev commented on #1437
Images without JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF8 were deployed. This issue can be closed.

[2020-09-09 14:44] #1437 closed

[2020-09-09 14:46] miketimofeev commented on #1414
@dhananjaya-senanayake Kustomize is available across all Ubuntu images. Thanks for your contribution!

[2020-09-09 14:46] #1414 closed

[2020-09-09 15:04] dscho commented on #1525
I'm going to log off for the day, but maybe we can agree on a time to meet face to face, to resolve any conflicts and work on a mutually satisfactory solution?

[2020-09-09 15:08] MSP-Greg commented on #1525
@dscho

Re meet.jit.si, never used it, just installed on my phone.

Obviously, I feel strongly that MSYS2 should be installed on the Actions Windows image(s).

Past that, I'm not sure.  I've worked with MSYS2 for a while, build packages locally (most recently OpenSSL 3.0.0), but I'm not a strong c type.  I've also used it to build Ruby master/main, and the build has been widely used in Ruby relate

[2020-09-09 15:52] judgewest2000 commented on #1559
Depending on how you are using terraform - we are calling it from a powershell script or bash shell, both from a linux vm.

If you add a step to your yaml you can download whichever version of terraform you wish, and it just needs to be available in an executable path...

    steps:
    - task: terraformdownload@0
      inputs:
        cwd: '/home/linuxbrew/.linuxbrew/bin'
        tfversion: '0.13

[2020-09-09 16:05] StingyJack commented on #1260
@maxim-lobanov you are only speaking to a symptom and not addressing the issue. That may seem like it's a good technique for closing an open issue, except that since it doesn't fix the problem, the issue will persist.

[2020-09-09 18:09] artob commented on #877
It's easy enough to install OCaml on Linux with [avsm/setup-ocaml](https://github.com/avsm/setup-ocaml), but where this would be really valuable is for the macOS environment, since right now installing OCaml takes 5-6 minutes which translates into 50-60 billed minutes (!) just to be able to run unit tests.

[2020-09-09 18:34] eine commented on #1525
@MSP-Greg, sure, you are entitled. However, I explained why I thought it and what is the implication for other users. This is not about you and me, but about how our actions affect other users. I'd be so glad if you could warn them properly. Right now it's a childish "you too", again.

This is a false premise that has been discussed and replied before. Please, bring the relevent references instead

[2020-09-09 18:43] dscho commented on #1525
@eine fair enough. I only proposed it because I see that emotions run unnecessarily high, and in the past I found that a quick face-to-face conversation helped alleviate similar situations. There is just so much lost when using text-only communication, and it is very easy to make much more aggressive arguments than intended.

I am convinced that we can resolve this issue in a way that meets the ne

[2020-09-09 18:48] eine commented on #1525
@dscho, just to clarify: I am not a native speaker, and my comments might sound harder than they should. I want them to be direct, and clear, not rude. I am neither angry, nor do I have any personal issue with Greg. I would love to collaborate and find a technical solution that fits all the use cases with as little conflicts as possible. That includes discussing technical details and objective dec

[2020-09-09 19:28] abdullah-lt opened #1567 "Accessibility Permissions for the app deployed in macOS"
**Description**

I have an app that requires screen recording and full disk permission to work correctly. If the macOS machine had SIP disabled, I would have been able to do it by updating db entries of `TCC.db`.

**Area for Triage**:
Apple

**Question, Bug, or Feature?**:
Question

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04

[2020-09-09 22:56] abdullah-lt commented on #1567
[code]

I think if we allow terminal to have screen recording permissions than the application will be able to do screen recording.
Is it possible to update TCC.db entries ?

[2020-09-10 05:56] maxim-lobanov commented on #1433
Closing since all changes were deployed

[2020-09-10 05:56] #1433 closed

[2020-09-10 06:53] miketimofeev commented on #1567
Hi @abdullah-lt!
We're not going to disable SIP in the nearest feature, please take a look at this comment
https://github.com/actions/virtual-environments/issues/650#issuecomment-610541765

However, we will consider updating TCC.db entry.
Is it enough to update `/Library/Application\ Support/com.apple.TCC/TCC.db` or `$HOME/Library/Application\ Support/com.apple.TCC/TCC.db` also need to be updated

[2020-09-10 07:48] dmitry-shibanov commented on #1523
Hello changes were added to image. If you have any concerns feel free to reopen the issue.

[2020-09-10 07:48] #1523 closed

[2020-09-10 11:30] andreineculau opened #1568 "homebrew folder owned by wrong user + dirty checkouts"
**Description**

`/home/linuxbrew/.linuxbrew/Homebrew` and
`/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/homebrew-core` are initially owned by runneradmin:runneradmin (the user that is bootstrapping the image by running the homebrew installer).

Later on in a workflow, if the user calls `brew install/update`, some of those folders will start to be owned by runner:docker.

The problem is that t

[2020-09-10 12:17] maxim-lobanov commented on #1551
Hello @wsmelton , this issue looks like duplicate of https://github.com/actions/virtual-environments/issues/1282, correct me if I am wrong

[2020-09-10 12:41] wsmelton commented on #1551
To some degree, yes. That is around using SQL Server Express Edition and/or SQL localdb. The Developer Edition offers more functionality that developers will want available to test against.

SQL Server Express won't be usable for my needs and purposes.

[2020-09-10 12:51] maxim-lobanov commented on #1548
Hello @Persistent13 , thank you for your proposal.
Considering the fact that this module can be installed in runtime very quick (8-15 seconds), we wouldn't like to bake it into the image this time.

[2020-09-10 12:51] #1548 closed

[2020-09-10 12:54] maxim-lobanov commented on #1537
Closing the issue since deployment has been finished and Xcode 11.7 was set as default

[2020-09-10 12:57] abdullah-lt commented on #1567
Hi @miketimofeev
Here is the sample repo I created to reproduce it on the VM
https://github.com/LambdaTest/lambda-github-actions

`Recorder` is a golang binary which records video for 5 seconds. Here is the code
[code]

- This workflow will do following steps

1. Install ffmpeg
2. Start golang binary that records video for 5 seconds
3. Upload the video(`testing_out.mov`) as output artifcats

I hav

[2020-09-10 13:10] krokofant commented on #1551
Could we consider adding SQL Server Developer edition and in tandem a newer LocalDB? Wouldn't that cover most needs? Is there any inherit benefit of using Express instead of Developer?

[2020-09-10 13:43] wsmelton commented on #1551
The footprint between Express and Developer for the Database Engine may be a little different, but not extreme. Patching is done the same, and install time is about the same as well. I've installed and configured SQL Server in about 12 minutes using PowerShell DSC. If you are using dbatools it is a bit longer, but less setup and code required.

Express Edition if folks want to include other compon

[2020-09-10 14:26] miketimofeev commented on #1567
@abdullah-lt sorry, I meant not the repo that shows an inability to insert anything into `TCC.db,` but the repo that tries to capture the screen and fails with an error. Because to add something to `TCC.db` we need to know the exact application name\path and required service to access, like
`/bin/bash` and `kTCCServiceSystemPolicyAllFiles`

Does this binary use some macOS software to capture the s

[2020-09-10 14:36] abdullah-lt commented on #1567
@miketimofeev  I have updated the above repo.

````Does this binary use some macOS software to capture the screen or the binary itself do all the job````

It uses FFmpeg to capture video.

[2020-09-10 14:42] miketimofeev commented on #1567
@abdullah-lt thanks! I've cloned your repo and run
[code]
Then I logoned to the test VM and there were no security pop-ups there even though the Recorder process was running
![image](https://user-images.githubusercontent.com/48208649/92747237-ab1d0c00-f38c-11ea-84b4-35cbd005fad0.png)

[2020-09-10 15:04] abdullah-lt commented on #1567
@miketimofeev That's strange. My actions are running from last 20 minutes and is stuck (probably waiting for access).
Could you please check if the video file (testing_out.mov) is created.

[2020-09-10 15:57] miketimofeev commented on #1520
@yshavit Image with the fix was deployed, everything looks fine now. I'm going to close the issue, but feel free to contact us if you have any concerns.
Thank you!

[2020-09-10 15:57] #1520 closed

[2020-09-10 16:42] maxim-lobanov commented on #507
Hello everyone,
Recently, we have done the following things:
- Added retry logic where it is possible in Windows image-generation
- Improve Windows tests to run them twice (right after tool installation and at the end of image-generation). It allows to catch broken software earlier and don't spend build minutes.

In our CI, we see passrate about 90-95% so windows image-generation looks pretty stab

[2020-09-10 16:42] #507 closed

[2020-09-10 17:04] abdullah-lt commented on #1567
@miketimofeev The only thing I can think of is that somehow the system automatically denied the access to the terminal. Then the Recorder binary will be stuck forever waiting for permission. Could you try running ffmpeg command directly on the terminal which will give you better output on what is happening

`ffmpeg -f avfoundation -i 0 -pix_fmt yuv420p -r 25 -t 5 testing_out.mov`

If this doesn't

[2020-09-10 17:30] trajano opened #1570 "Incorrect version"
**Description**

https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md

states that it is using `Docker Compose (docker-compose version 1.26.2, build eefe0d31)`

However, when I did `docker-compose --version`  I got

[code]

**Area for Triage**:

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
-

[2020-09-10 17:41] miketimofeev commented on #1570
Hi @trajano!
We've been updating Ubuntu 18 environments with the new VM image since Wednesday and plan to finish on Monday. The new readme available here, they will be automatically merged into master when deployment is finished
https://github.com/actions/virtual-environments/blob/releases/ubuntu18/20200908/images/linux/Ubuntu1804-README.md
https://github.com/actions/virtual-environments/blob/rele

[2020-09-10 17:50] miketimofeev commented on #1568
Hi @andreineculau!
Am I right that to get rid of "dirty" status we need to remove this as well as add `chown -R runner:docker $HOMEBREW_PREFIX`
https://github.com/actions/virtual-environments/blob/bb03b541e0a63c964dcf851817585d4bb4b38675/images/linux/scripts/installers/homebrew.sh#L16-L17
Just chown to runner doesn't look like enough

[2020-09-10 17:59] trajano commented on #1570
Thanks, in my case I have to use
[code]
since the upgrade to 1.27.x is causing the issue

[2020-09-10 20:19] andreineculau commented on #1568
@miketimofeev yup, you are right. https://github.com/rokmoln/support-firecloud/commit/94a50a28d5987ce067a41a2eec066471f83a23fd

[2020-09-10 20:32] mmuffins opened #1571 "Downloads from sourceforge mirror fail"
**Description**
I just tried to build the latest win2019 server release, but the packer build failed because [Install-JavaTools.ps1](https://github.com/actions/virtual-environments/blob/ffc156448efefc9ac8ad7eb9a420f3850b3d9485/images/win/scripts/Installers/Install-JavaTools.ps1#L122) tried to download cobertura from a direct sourceforge mirror which wasn't available.
Updating the download server `

[2020-09-10 20:45] mmuffins commented on #1571
Nevermind, I just saw that other scripts use the regular downloads.sourceforge.net location, so it doesn't look like there is anything special about that download server. I'll post a PR to update the link.

[2020-09-10 20:47] andreineculau commented on #1568
I realized that my answer is slightly inaccurate in relation to your question.

git doesn't record ownership, so running `chown -R runner:docker` is not to get rid of some dirty status in git, but to actually make it possible to run `brew` as runner:docker. Without `chown`, you need to run `brew` only as runneradmin:runneradmin.

[2020-09-10 20:59] bisoldi commented on #696
I might have a similar issue...Trying to install datadog-lambda and am getting `ERROR: Could not build wheels for ddtrace which use PEP 517 and cannot be installed directly`.  Link to the datadog issue:

https://github.com/DataDog/dd-trace-py/issues/1385

[2020-09-10 21:43] alepauly opened #1572 "Improve delivery of MSYS2"
As discussed in #1525, there is probably room to improve on how and what we install with MSYS2.

I believe what we want is for the install of MSYS2 that's available to be reliable and flexible enough to allow others to add the packages they need without unexpected results. Ideally, it would behave as a cached install so that `setup-msys2` type Actions can interoperate and take advantage of whateve

[2020-09-10 21:48] alepauly commented on #1525
Thank you all for the discussion here, whether it's about the specifics of the issue at hand (tools in path and MSYS2 install) or the more broad areas in which us at GitHub can do better, I'm finding a lot of what's here helpful.

thank you @eine, I would love for us to be able to do that as well and based on the contributions from @MSP-Greg on a bunch of areas in this repo (thank you!) I hope he

[2020-09-10 23:06] eine commented on #1525
@alepauly, so glad to have a reference to talk to. As you said, let's leave the past away and try to do it well enough this time!

IMHO, the main concern to address is that `bash` does not exist on Windows per se. Yet, IIRC, in the beginning `bash` was the "default shell" on `windows-latest`. Not sure when that changed to powershell, or whether it was the same for other windows environments. Anywa

[2020-09-10 23:41] MSP-Greg commented on #1572
As mentioned elsewhere, most (but not all) of my experience with MSYS2 is related to compiling Ruby extension gems.  As such, the main concern is the availability of MSYS2 gcc and associated tools.  Outside of Ruby, more tools are needed.  You may recall that the PR's I submitted to install MSYS2 started with only gcc, but as others asked for more tools, they were added to the install script.

Lik

[2020-09-10 23:48] eine commented on #1572
Hi @alepauly! First off, there is a very relevant issue to bear in mind: MSYS2 is a rolling environment for development. Until very few months ago, it was maintained by a single person, who built and tested every single package on his own computer.  Fortunately, other maintainers stepped in, and a partially automated workflow has been set up, which uses Actions and Releases: https://github.com/msy

[2020-09-10 23:57] eine commented on #1572
@MSP-Greg, being unsupported means that it cannot be done, because more or less frequently it won't work. A user might need to have the system updated for using a package which you are not even aware of, and which is unrelated to any of the tools that make other people happy. That user will be paying money for others happiness. Moreover, they might be affected by broken updates of packages which t

[2020-09-11 00:30] MSP-Greg commented on #1572
@eine

Not sure about the time frame, but I've been building with MSYS2 for five years +.   When exactly I started helping with MSYS2 & Ruby Windows in CI, I'm not sure.

Regardless, re partial updates, problems have happened very rarely.  A few times on AppVeyor (with infrequent image updates), and I don't recall any with Actions.  Maybe possibly one involving gpg keys.  Not sure.

As mentioned i

[2020-09-11 02:46] krokofant commented on #1571
How did you try it locally? To me it looks like the link with `downloads.sourceforge.net` redirects to the download but it's not a direct link.

Maybe replace `ayera` with `master`? Seems like that works as a direct link.
[code]

[2020-09-11 06:26] mmuffins commented on #1571
The full link I used was `https://downloads.sourceforge.net/project/cobertura/cobertura/2.1.1/cobertura-2.1.1-bin.zip`, which worked fine during the packer build. The same location is already used in [Install-NSIS.ps1](https://github.com/actions/virtual-environments/blob/main/images/win/scripts/Installers/Install-NSIS.ps1).

[2020-09-11 06:46] miketimofeev commented on #1570
I'm going to close the issue since we can't do much with compose bugs. Feel free to reopen it if you have any concerns.
Thank you!

[2020-09-11 06:46] #1570 closed

[2020-09-11 08:32] AlenaSviridenko commented on #1450
Hi @pculver, I am going to close this issue.
Please, feel free to reopen or file a new one if any help needed.

Thank you!

[2020-09-11 08:32] #1450 closed

[2020-09-11 08:38] eine commented on #1572
@MSP-Greg, doesn't sound as something to base decisions on, does it?

When things fail (because they will in an undetermined period), will you take care of fixing the problems that will affect thousands of users? Unless you can and want to do so, you should not introduce the problems in the first place. If you are willing to do so, please see the 5-6X time penalty that is affecting any user with a

[2020-09-11 12:18] miketimofeev commented on #1567
@abdullah-lt the problem is that it's not executed by the terminal directly, there is a level of abstraction that includes _runner_, which does all the job. So if I run `ffmpeg -f avfoundation -i 0 -pix_fmt yuv420p -r 25 -t 5 testing_out.mov` directly from VM terminal it asks for permission
![image](https://user-images.githubusercontent.com/48208649/92904501-96dc1c00-f42b-11ea-8a06-c12504006c84.pn

[2020-09-11 13:00] enscogit commented on #235
This is an issue on Ubuntu 18.04.02 with OpenSSL 1.1.0g. I have installed a 'local' CA certificate that is valid and is listed in /etc/ssl/certs/ca-certificates.crt. I can use the certificate if I include --ca-certificate=/etc/ssl/certs/ca-certificates.crt  in the wget command. Using curl & wget without pointing to ca-certificates.crt does not work.

The missing /usr/lib/ssl/cert.pem file is a pro

[2020-09-11 13:18] miketimofeev commented on #1567
@abdullah-lt looks like I've managed to find a solution 🥳
`ffmpeg -f avfoundation -i 0 -pix_fmt uyvy422 -r 25 -t 5 testing_out.mov`
works after adding this entry:
`sudo sqlite3 "/Library/Application Support/com.apple.TCC/TCC.db" "insert into access (service, client, client_type, allowed, prompt_count, indirect_object_identifier, flags) values ('kTCCServiceScreenCapture', '/bin/bash', 1, 1, 1, 'UNU

[2020-09-11 13:30] abdullah-lt commented on #1567
@miketimofeev  That's great news. The above error looks like some encoding issue which can be solved by using a different encoder.

Would it be possible to add the above SQL entry to the mac machines, so that we can use the screen recording feature of the Mac?

[2020-09-11 13:37] miketimofeev commented on #1567
@abdullah-lt yes, I've just added the entry. The new image will be available next week if nothing blocks the deployment. I'll let you know when it's done.

[2020-09-11 13:41] abdullah-lt commented on #1567
Thanks, @miketimofeev. Looking forward to it.

[2020-09-11 17:21] maxim-lobanov commented on #1571
Issue was fixed in `main` branch

[2020-09-11 17:21] #1571 closed

[2020-09-13 00:25] asklar opened #1578 "task.setvariable changes variable casing"
**Description**
Azure DevOps sets NPM_CONFIG_CACHE (all uppercase). Some tools like yarn/node, they manage to add a lowercase version of some npm variables (`npm_config_cache` for example) by directly setting it in an environment block when calling CreateProcess. This breaks some tools when they encounter duplicate variables in their environment block, like msbuild/CL.exe.

I've submitted a fix to

[2020-09-13 04:09] maxim-lobanov commented on #1578
Hello @asklar , In this repository, we track only issues related to content of Hosted images and we can't address your issue here.

This issue should be moved to https://github.com/microsoft/azure-pipelines-agent because `setvariable` because `setvariable` and other commands is something that azure-pipelines-agent does. But AFAIK, this behavior is by design and can't be changed in near future. Git

[2020-09-13 04:17] asklar commented on #1578
thanks @maxim-lobanov - could you transfer the issue there or do I have to file it separately?

[2020-09-13 05:37] maxim-lobanov commented on #1578
@asklar , we can't transfer this issue because issues can be transferred only within single organization. I will close this one.
Also, I have post comment in your issue https://github.com/microsoft/azure-pipelines-tasks/issues/13538. It can be transferred because it is the single org with azure-pipelines-agent.

[2020-09-13 05:37] #1578 closed

[2020-09-13 19:49] samuela opened #1579 "Add Nix package manager"
**Tool information**
- Tool name: Nix
- Tool license:
- Add or update? add
- Desired version: latest at the time of writing is 2.3.7
- Approximate size: <300Mb
- If this is an add request:
  - Brief description of tool: Nix is a declarative package manager that makes it dead simple to install build and use any tool in the Nixpkgs ecosystem. Adding Nix would obviate the need for most other tool req

[2020-09-13 20:49] weiji14 opened #1580 "Update miniconda on Windows from 4.6.14 to 4.8.3"
**Tool information**
- Tool name: [Miniconda](https://docs.conda.io/en/latest/miniconda.html)
- Tool license: BSD 3-Clause License
- Add or update? Update
- Desired version: 4.8.3
- Approximate size: 54.1MB
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage: https://docs.conda.io/en/latest/miniconda.html#windows-installers
  - Provide a basic test case to valid

[2020-09-14 04:52] maxim-lobanov commented on #1580
@weiji14 , no any reason to hardcode specific version. I think it may be upgraded to 4.8.3 or even `latest` (https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe) to simplify future maintenance.
Do you want to submit PR?

[2020-09-14 04:59] maxim-lobanov commented on #1579
Hello everyone, have you considered using [official Nix action](https://github.com/cachix/install-nix-action) to install it in runtime?
It is pretty fast (10-15 seconds) and require minimal additional code

[2020-09-14 05:40] weiji14 commented on #1580
Sure, I'll give it a go :smile:

[2020-09-14 05:47] LouisCAD commented on #1187
For reference, here's another of the several/many occurences of the issue on macOS runners:

`> api.bintray.com:443 failed to respond`

https://github.com/LouisCAD/Splitties/runs/1110382235?check_suite_focus=true

[2020-09-14 06:15] maxim-lobanov commented on #1580
Thank you for the PR,
we would like to get more context why 4.6.14 was hardcoded previously and I have pinged a few people. Hope it will take little time

[2020-09-14 06:22] Ginxo commented on #1499
Thanks @LeonidLapshin
https://issues.redhat.com/browse/BXMSPROD-996 created to test it

[2020-09-14 06:50] samuela commented on #1579
Thanks for the pointer, @maxim-lobanov ! I wasn't ware of that Action, I'll give it a shot. I still think it would be great to have it included in the VM images but this is certainly helpful in the meantime.

[2020-09-14 10:10] Ginxo commented on #1499
@LeonidLapshin the workaround seems to be working fine.
* https://github.com/kiegroup/appformer/pull/1047
* https://github.com/kiegroup/drools/pull/3096
* https://github.com/kiegroup/kie-wb-common/pull/3416
Thanks!

[2020-09-14 15:38] miketimofeev commented on #1514
We've successfully deployed new images. I'm going to close the issue.
@paolomainardi thank you for your contribution!

[2020-09-14 15:38] #1514 closed

[2020-09-14 15:41] miketimofeev commented on #1559
@larsmaes Ubuntu images with terraform 0.13.2 were deployed. I'm going to close the issue but feel free to reopen it if you have any concerns.
Thank you!

[2020-09-14 15:41] #1559 closed

[2020-09-14 15:58] Darleev commented on #1540
@mcaballeropinto good news, I have tested that in the latest ubuntu release the issue is not reproducing anymore.
I have verified in the [forked repository](https://github.com/Darleev/kustomize-github-action-test/runs/1113094131?check_suite_focus=true).
In case of any questions, feel free to contact us.

[2020-09-14 15:58] #1540 closed

[2020-09-14 19:05] shff opened #1587 "Add Tarpaulin"
**Tool information**
- Tool name: cargo-tarpaulin
- Tool license: Apache License
- Add or update? Add
- Desired version: latest from crates.io
- Approximate size:
- If this is an add request:
  - Brief description of tool: Coverage measurement tool that is able to upload to coverage services
  - URL for tool's homepage: https://github.com/xd009642/tarpaulin

**Area for Triage**:
Rust

**Question,

[2020-09-15 06:28] al-cheb commented on #1587
Hello, @shff
Thank you for proposal a new feature. Good news macOS 10.15 source code is now available in the `actions/virtual-environments` repository. Should we add  `cargo-tarpaulin` for macOS 10.15 to preserve consistence for all images?

[2020-09-15 06:30] andy-mishechkin commented on #1469
vswhere.exe -requires Microsoft.VisualStudio.ComponentGroup.UWP.VC, has been executed on GitHub runner. Workflow returns the component version.

[2020-09-15 07:36] dmitry-shibanov commented on #1337
Hello, changes were added. If you have any concerns feel free to reopen the issue.

[2020-09-15 07:36] #1337 closed

[2020-09-15 08:12] AlenaSviridenko commented on #1587
Hi @shff,
Thank you for contribution. We would like to track popularity of this feature request so we will keep it open for now.

In the meantime, I would suggest taking a look at the `actions/cache` action, it supports Cargo packages caching to decrease build time https://github.com/actions/cache.

[2020-09-15 08:40] maxim-lobanov opened #1591 "Default Python will be switched to 3.8 on Ubuntu 20.04 on October, 6"
Hello everyone!

Currently, Python 2.7 is set by default on Ubuntu 20.04. Python 2 was sunsetted on Jan 1 2020 and this version is not supported anymore.
Clean Ubuntu 20.04 LTS [has Python 3 as default](https://wiki.ubuntu.com/FocalFossa/ReleaseNotes#Python3_by_default) so we would like to follow the same approach.

If you still need to use Python 2.x on Ubuntu 20.04, you will be able to switch Py

[2020-09-15 09:15] maxim-lobanov commented on #1527
I am closing this issue for now but please let us know if it is still an issue for you and you are ready to provide additional information

[2020-09-15 09:15] #1527 closed

[2020-09-15 09:58] LeonidLapshin commented on #1499
@Ginxo, happy to hear it, please feel free to open a new ticket if the problem persist :)

[2020-09-15 09:58] #1499 closed

[2020-09-15 10:27] paresy commented on #1336
I can confirm that MacOS performance is very flaky and not consistent. Sometimes it is quite fast and sometimes it degrades to 1/4 of the the normal performance. This is very unsatisfying especially on large/long builds due to the high costs.

[2020-09-15 11:59] rahulsaini commented on #1591
@maxim-lobanov Does this also follow for Ubuntu embedded in Windows 10 or does Microsoft follow a separate path for that?

[2020-09-15 12:06] maxim-lobanov commented on #1591
@rahulsaini , This change will only affect image that you can choose by setting `ubuntu-20.04` image label in YAML file.

What Ubuntu version do you mean? Ubuntu that can be downloaded from store for WSL?

[2020-09-15 12:07] rahulsaini commented on #1591
yes, for WSL.

[2020-09-15 12:28] shff commented on #1587
@al-cheb Oh, nice, this is new! Congrats on the release! I created a PR here: https://github.com/actions/virtual-environments/pull/1593 just in case!

@AlenaSviridenko Sounds fair to me! This tool seems like a perfect fit for Github Actions, so this is why I'm adding it! But let's see if more people need it. Thanks for the tip about actions/cache btw, I'll try in one of my repos!

[2020-09-15 13:07] maxim-lobanov commented on #1591
@rahulsaini , We don't own those images so this change won't affect them.
This change will affect only `ubuntu-20.04` image label.

[2020-09-15 13:07] AlexVanderbist opened #1594 "ubuntu-latest uses ubuntu-tools-v2-runner-2 instead of Ubuntu 18.04"
**Description**
Action with `runs-on: ubuntu-latest` uses `ubuntu-tools-v2-runner-2` instead of Ubuntu 18.04. This behaviour changed for just one repository without any changes made to the workflow files. I first noticed this because `yarn` was suddenly not found in said action.

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] U

[2020-09-15 14:01] mgabathuler opened #1595 "packer build fails for ubuntu 18.04"
**Description**
building the image with packer fails during installation of package Az

**Area for Triage**:
Packages

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [x] Ubuntu 18.04 LTS

**Expected behavior**
packer build to complete without error

**Actual behavior**
running packer build for the ubuntu 18.04 image fails
[code]

[2020-09-15 14:11] al-cheb commented on #1595
Hello, @mgabathuler
Looks like temporary network issue with PowerShell repository. I have got the same error, but for other modules:

![image](https://user-images.githubusercontent.com/47745270/93221424-73400b00-f776-11ea-922f-6a21d52a18ea.png)

[2020-09-15 14:12] mgabathuler commented on #1595
hi @al-cheb
thanks for checking, in that case i'll try again tomorrow and update here with the result

[2020-09-15 14:38] jhasse opened #1596 "Set ANDROID_SDK_ROOT in addition to ANDROID_HOME on macOS"
**Description**
`ANDROID_HOME` is deprecated in favor of ANDROID_SDK_ROOT: https://developer.android.com/studio/command-line/variables

**Area for Triage**:
Android

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behav

[2020-09-15 16:47] IAmHughes opened #1598 "Add JFrog CLI to Runners"
**Tool information**
- Tool name: JFrog CLI
- Tool license:
- Add or update? Add
- Desired version: Latest
- Approximate size:
- If this is an add request:
  - Brief description of tool: Allows interaction with jFrog tools such as Artifactory
  - URL for tool's homepage: [JFrogCLI](https://www.jfrog.com/confluence/display/CLI/JFrog+CLI)
  - Provide a basic test case to validate the tool's function

[2020-09-15 16:50] maxim-lobanov commented on #1598
@IAmHughes , Hello, thank you for feature request!
As I know, There is an [official task](https://github.com/marketplace/actions/setup-jfrog-cli) to install JFrog CLI in runtime.
it installs this tool pretty quick (3-5 seconds). Does it work for you?

[2020-09-15 17:12] IAmHughes commented on #1598
@maxim-lobanov thanks! That's great and will work. It doesn't NEED to be on the image but saving seconds is always nice, especially if I'm building an action that wraps the JFrog CLI.

[2020-09-15 19:38] rsemenov commented on #1502
@steine , I am investigating a similar issue reported by another customer. Could you help us with the following? If you still have a history, do you see a correlation between the `Since you just installed the .NET Core SDK...` message and the prefix of the Agent machine name "WIN-" or "fv-"? Thanks!

[2020-09-15 19:49] zevmo opened #1599 "Add support for Xcode 12 (iOS 14)"
**Tool information**
- Tool name: Xcode 12
- Add or update? Add
- Desired version: latest
- Approximate size:
- If this is an add request:
  - Brief description of tool: Apple version
  - URL for tool's homepage: https://developer.apple.com/xcode/

[2020-09-15 20:23] maxim-lobanov commented on #1599
Hello @zevmo , we have already started to work on updating `Xcode 12 beta 6` to `Xcode 12 GM` on images. We are expecting new image to be deployed early next week

[2020-09-15 20:24] zevmo commented on #1599
Awesome! Thanks @maxim-lobanov

[2020-09-15 21:29] eschwieb commented on #1599
@maxim-lobanov Please do NOT replace Xcode 12b6 with the GM seed! The GM seed does not have Big Sur SDK support, so workflows that are targeting Apple Silicon and/or Big Sur need to keep using Xcode 12b6.

Apple's notes say "Xcode 12 includes everything you need to create amazing apps for all Apple platforms. Includes the latest SDKs for iOS, watchOS, and tvOS, and macOS Catalina. **For developmen

[2020-09-16 03:07] eschwieb commented on #1599
Apple pushed a second GM seed late this evening, build 12A7209 instead of ...08. Please download the new one (shasum 1b69c0f8e7b35c1456211143bbb06c671fcfaaec instead of bc0a...) if you downloaded the GM before 7pm Pacific time on Tuesday September 15th.

[2020-09-16 05:59] steine commented on #1502
@rsemenov ,
We actually ran into this problem again and added the `UseDotNetTask` to reinstall the SDK.

No correlation from what I can see, we have only "WIN-" machines.

BR

Worked, 4 Sept:
[code]
Failed, 4 Sept:
[code]

Failed, 7 Sept:
[code]

After this one we reverted to use the extra task again.

[2020-09-16 06:49] maxim-lobanov commented on #1599
@eschwieb , thank you for your input!
We will install both Xcode 12 beta 6 and Xcode 12 GM on image side by side.

[2020-09-16 07:31] miketimofeev commented on #1554
I'm going to close the issue since it's not related to the image.
@BrightRan @joergi feel free to contact us if you have any concerns.
Thank you!

[2020-09-16 07:31] #1554 closed

[2020-09-16 07:33] miketimofeev commented on #1568
@andreineculau we've implemented a fix with `chown -R runner:docker /home/linuxbrew/` in VM provisioning scripts. The fix will be available next week. Then I suppose we will be able to get rid of this line as well https://github.com/actions/virtual-environments/blob/bb03b541e0a63c964dcf851817585d4bb4b38675/images/linux/scripts/installers/homebrew.sh#L16-L17

[2020-09-16 12:07] maxim-lobanov commented on #1534
Considering the fact that tar is already installed on Windows, I am going to close this issue.
If actions/cache needs gnu tar on MacOS too, please let us know and we will reopen this issue

[2020-09-16 12:13] maxim-lobanov commented on #1598
@IAmHughes , considering the fact that there is an official task and installation in runtime is very quick, we wouldn't like to bake this tool into the image.
We are trying not to add new tool if there is an official task. Setup task usually provide significantly better UX because you can specify specific version of tool and tool owners have better experience to fix any issues. Also it allows us t

[2020-09-16 12:13] #1598 closed

[2020-09-16 13:28] maxim-lobanov commented on #1596
@jhasse does it make sense to add this variable to Windows images too? Looks like currently it exists only on Ubuntu

[2020-09-16 13:30] maxim-lobanov commented on #1502
Reopened since we have repro for this issue and we will work to fix it

[2020-09-16 13:50] rsemenov commented on #1502
@steine, thanks! We root caused the issue. Sometimes PATH doesn't contain `%USERPROFILE%\.dotnet\tools` due to the timing issue with logon tasks. We will be working on a fix, as a workaround, you can manually make sure that `%USERPROFILE%\.dotnet\tools` is in the PATH before running `dotnet tool install `

[2020-09-16 14:01] mgabathuler commented on #1595
ran the build again today and i am getting past the failing point from yesterday but failing at another point now

[code]

is this something new or maybe also just a fluke?

[2020-09-16 14:40] timangus opened #1604 "Add GCC 10.x"
**Tool information**
- Tool name: GCC
- Tool license: GPL
- Add or update? Add
- Desired version: 10.2
- Approximate size:
- If this is an add request:
  - Brief description of tool: GCC is a well known collection of compilers
  - URL for tool's homepage: https://gcc.gnu.org/
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**: C/C++

**Question, Bug, or Featur

[2020-09-16 15:15] mgabathuler commented on #1595
thanks for checking, i think i'll close this issue then and just retry and keep my fingers crossed :)

thanks for all your help @al-cheb

[2020-09-16 15:15] #1595 closed

[2020-09-16 15:19] jamtur01 opened #1605 "Installation failure for grub-efi-amd64-signed"
**Description**
We're seeing some intermittent failures using the ubuntu-20.04 image (Version: 20200914.1). We run a bootstrap script that does an apt update and then an apt upgrade which fails with:

[code]

You can see some failures here:

https://github.com/timberio/vector/pull/3932

Specifically:

https://github.com/timberio/vector/pull/3932/checks?check_run_id=1123684447

You can see one of t

[2020-09-16 15:59] Darleev commented on #1120
@erphunranjbar
Could you please take a look at my reply above and test the provided solution?

We are looking forward to your reply.

[2020-09-16 16:57] al-cheb commented on #1605
Hello, @jamtur01
Could you please add `update-grub` command before `apt update --yes` and validate build?

[2020-09-16 17:22] jamtur01 commented on #1605
Looks like that fixes it from what I can see. Certainly, none of our bootstraps have failed, but the problem has been intermittent.

[2020-09-16 18:00] jhasse commented on #1596
Yes, I think so.

[2020-09-16 19:42] psygo commented on #255
Please do offer us a Dart container with Chrome inside. It's a pretty common use case.

[2020-09-16 19:50] nicoburns commented on #1599
@maxim-lobanov Any chance that we could get this fast-tracked? As far as I'm aware, it's necessary for creating iOS 14 compatible app builds and iOS 14 was released to the general public today.

[2020-09-16 20:46] jamtur01 commented on #1605
This isn't a permanent solution. We use the same bootstrap script inside Docker containers - this solution will obviously choke in there as `update-grub` will fail.

[2020-09-17 04:04] ausfestivus opened #1607 "Packer build fails - dpkg lock file problem"
**Description**

When building the Ubuntu 18 image we are seeing intermittent failures when dpkg is installing the Docker packages.

**Area for Triage**:

Packages

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**

- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behaviou

[2020-09-17 05:39] noce2 opened #1608 "Chrome Binary Not Found - Windows Server 2019"
**Description**
As part of my pipeline I run selenium tests against a headless browser. As of the 2nd of September, these ran perfectly but from the 8th of September, the Chrome Binary could not be found.

**Area for Triage**:

Testing and code coverage

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubu

[2020-09-17 05:40] maxim-lobanov commented on #1608
Hello @noce2 , it is known issue related to breaking change in Chrome 85, it was moved to different location.
You can find more details about root cause and mitigation ways in the issue: https://developercommunity.visualstudio.com/content/problem/1170486/selenium-ui-test-can-no-longer-find-chrome-binary.html

[2020-09-17 06:16] al-cheb commented on #1605
@jamtur01 , As a temporary workaround you can test if process running in a docker container:

[code]

[2020-09-17 06:28] al-cheb commented on #1607
Duplicate: https://github.com/actions/virtual-environments/issues/1120

[2020-09-17 06:28] #1607 closed

[2020-09-17 06:42] ausfestivus commented on #1607
Thanks @al-cheb I did do a search before hand, not sure how I missed it.

[2020-09-17 06:50] ausfestivus commented on #1120
@Darleev ill use your branch for now and see if it helps.

[2020-09-17 07:51] BrightRan opened #1609 "Failed to merge PR: Resource not accessible by integration"
Associated GitHub Community ticket: https://github.community/t/how-to-auto-merge-pr-from-fork/132552

According to the introduction of the new feature "**Run workflows from fork pull requests**" (see [here](https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/)), if enable the option "**Send write tokens to workflows from fork pull requests.**", the workfl

[2020-09-17 07:55] maxim-lobanov commented on #1609
Hello @BrightRan !
I think it is incorrect repo for this issue. In this repository, we owns only Hosted runners and their software.
I am not sure that we have public repo where we can address this issue, may be @alepauly can help us to redirect it?

[2020-09-17 08:30] Trim21 opened #1610 "Update GitHub cli to 1.0.0"
**Tool information**
- Tool name: GitHub cli (gh)
- Tool license: mit
- Add or update? update
- Desired version: 1.0.0 (latest at 2020.9.17)
- Approximate size: 5mb

**Area for Triage**:

**Question, Bug, or Feature?**: Feature"

**Virtual environments affected**
- [X] macOS 10.15
- [X] Ubuntu 16.04 LTS
- [X] Ubuntu 18.04 LTS
- [X] Ubuntu 20.04 LTS
- [X] Windows Server 2016 R2
- [X] Windows Server

[2020-09-17 10:10] mislav commented on #1610
It looks like github cli installer scripts for Linux and Windows all fetch the latest stable release. If so, then I don't think any specific steps need to be done to upgrade gh inside VM images— the version will be auto-upgraded every time the images get rebuilt.

[2020-09-17 10:15] Trim21 commented on #1610
A. I didn't notice that there is a automatic script doing this. I'll close this issue and wait for the update.

[2020-09-17 10:15] #1610 closed

[2020-09-17 10:55] miketimofeev commented on #1567
@abdullah-lt we've successfully deployed the new image. Could you please check the behavior?

[2020-09-17 11:42] abdullah-lt commented on #1567
@miketimofeev I have tested the screen recording and it's working now. Thanks for the quick deployment.

[2020-09-17 11:43] yaananth commented on #1594
@AlexVanderbist do you have checks URL (even if it isn't public), where you saw this? That helps a lot in investigating this

[2020-09-17 11:52] miketimofeev commented on #1567
@abdullah-lt great! Yes, the issue can be closed.
Thank you!

[2020-09-17 11:53] #1567 closed

[2020-09-17 12:01] maxim-lobanov commented on #1604
Hello! @timangus , thank you for feature request. We don't have objections to pre-install GCC to images.
If you would like to contribute, we just need to update this file: https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/installers/gcc.sh#L29

[2020-09-17 12:14] AlexVanderbist commented on #1594
I'm not sure what a checks URL is. Just the action output?

This one is broken: https://github.com/blueoceanideas/sail-amx/runs/1117694189
This one is the same action a couple days earlier, working: https://github.com/blueoceanideas/sail-amx/runs/1096404000

[2020-09-17 12:16] AlexVanderbist commented on #1594
For completion: this is the action's config. Changing `runs-on: 'ubuntu-latest'` to `runs-on: 'ubuntu-18.04'` fixes the issues we're having on the action for that repo.

[code]

[2020-09-17 12:32] pekhota commented on #671
I did this for aws, but it seems that you have some additional provision script which is needed to be run after instance is ready. Can you share some ideas here. Thank you.

[2020-09-17 13:14] yaananth commented on #1594
For https://github.com/blueoceanideas/sail-amx/runs/1117694189

I see this from our telemetry:

So there's gotta be a self hosted runner registered with that label. May be there was one at org-level?

[2020-09-17 13:19] AlexVanderbist commented on #1594
Aha, that would explain. I'll contact the org owner to see if they have any idea about a hosted runner being used and get back to you. Thanks!

[2020-09-17 13:22] AlexVanderbist commented on #1594
You're right, found these after some digging. They probably shouldn't be labelled with `ubuntu-latest` 😅

![image](https://user-images.githubusercontent.com/6287961/93475892-71eb1b80-f8f9-11ea-96c7-1bc29e757fc9.png)

Thanks a lot for looking into this!

[2020-09-17 13:22] #1594 closed

[2020-09-17 17:15] leemacatangay opened #1611 "Update version of - Git for Windows"
**Tool information**
- Tool name: Git for Windows (with support for Virtual File System)
- Tool license: None specific
- Add or update? Update
- Desired version: Git-2.28.0.vfs.0.0-64-bit.exe (https://github.com/microsoft/VFSForGit/releases/download/v1.0.20210.1/Git-2.28.0.vfs.0.0-64-bit.exe)
- Approximate size:

**Area for Triage**: Git

**Question, Bug, or Feature?**: Feature

**Virtual environm

[2020-09-17 17:21] leemacatangay opened #1612 "Add SetupGVFS.1.0.20210.1.exe"
**Tool information**
- Tool name: Virtual file system for Git
- Tool license: None specific
- Add or update? Add
- Desired version: SetupGVFS.1.0.20210.1.exe (https://github.com/microsoft/VFSForGit/releases/download/v1.0.20210.1/SetupGVFS.1.0.20210.1.exe)
- Approximate size: 5.4mb
- If this is an add request:
  - Brief description of tool: Adds Git support for virtual file system
  - URL for tool'

[2020-09-17 17:37] simonbyrne opened #1613 "Windows-latest image does not support `cc` command or $(CC) variable in Makefiles"
**Description**
On the `windows-latest` image, attempting to use the default `$(CC)` command in a Makefile (which resolves to the `cc` command), results in an error.

**Area for Triage**:
C/C++

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [x] Windows Server 2016 R2 (I assume?)
- [x]

[2020-09-17 18:14] noce2 commented on #1608
Thanks for responding @maxim-lobanov, I will close this now.

[2020-09-17 18:14] #1608 closed

[2020-09-17 19:20] nreddipalle opened #1614 "Checkout is failing as part of azure devops pipeline"
**Description**
Trying to checkout the code and its failing within my devops pipeline.

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] **Windows Server 2019**

**Expected behavior**
Checkout code without any errors

**Actual behavior**

[2020-09-17 19:25] nreddipalle commented on #1614
closing never mind.. master branch is renamed to main..

[2020-09-17 19:25] #1614 closed

[2020-09-17 20:14] kylebshr commented on #551
We'd like to move to Github Actions on the [Blueprint](https://github.com/square/Blueprint) repo, but we need to run our tests using the latest version of Xcode on simulators for iOS 10, 11, 12, 13 and 14. While it seems like we can set up an iOS 12 and 13 simulator, there's no way to install an iOS 10 or 11 one. We would definitely appreciate a way to install those, as well as an easier way to se

[2020-09-17 23:09] ausfestivus commented on #1120
Morning @Darleev here is some output from a build with your branch. Failed in `clang9`.

[code]

[2020-09-18 00:26] ausfestivus commented on #1120
Additionally, the following warnings are displayed at the end of a build:

[code]

[2020-09-18 08:16] andy-mishechkin commented on #1382
Hello, @softworkz
I've added MS Visual Studio Installer projects extension to Windows image deployment.
It will be there about on the next week.
If you'll not find it - feel free to ping me
Thank you

[2020-09-18 09:45] softworkz commented on #1382
Hi @andy-mishechkin,

this is really great news!

To be honest, I didn't have high hopes for this, as it is a long-standing and frequently requested topic. Here's just a quick compilation of user questions and issues which will be all resolved by this change:

- https://developercommunity.visualstudio.com/idea/382210/add-support-to-build-installer-project-vdproj-in-a.html
- https://developercommun

[2020-09-18 09:51] miketimofeev commented on #1382
@softworkz I'm afraid the new image won't be in the next week, likely the week after.

[2020-09-18 09:55] softworkz commented on #1382
After waiting years for this, those few days won't really matter 😆
Thanks for letting me know!

[2020-09-18 10:25] maxim-lobanov commented on #1579
Considering the fact that there is an official action for Nix installation and installation in runtime is pretty quick, we wouldn't like to bake this tool into image at the moment.
Usually, Official actions provide better UX because you can install specific version using it (it means you won't be affected by any breaking change in new versions of tool). Also actions provide build-in configuration

[2020-09-18 10:25] #1579 closed

[2020-09-18 11:57] Darleev commented on #1120
@ausfestivus thank you for the information. It's very strange since before branch publishing it was tested that build works as expected.
A fix is underway. I will keep you informed.

[2020-09-18 12:08] ausfestivus commented on #1120
I managed to get a couple of good builds out of the branch today.

No other failures since the logs I posted earlier.

Will keep an eye out for the updates.

[2020-09-18 13:36] rikat-ms opened #1620 "macOS 10.15 should have the new intermediate certificate from Apple which requires for the enterprise build."
**Description**
Enterprise build for Apple application (XCode) fails because macOS 10.15 hosted agent image doesn't have the new intermediate certificate from Apple. This issue is reported in the forum below.
https://developercommunity.visualstudio.com/content/problem/1174298/new-apple-distribution-cert-needs-new-intermediate.html

As described below, the renewed certificate is used to sign new iO

[2020-09-18 14:04] al-cheb commented on #1620
Hello, @rikat-ms
Could you please validate temporary workaround?
[code]

[2020-09-18 17:27] maxim-lobanov commented on #1599
Hello everyone!

We are on way to deploy new image that contains both Xcode 12 (12A7209) and Xcode 12 beta 6.
- Xcode 12 (12A7209) is located on path: `/Applications/Xcode_12.app`
- Xcode 12 beta 6 is located on path: `/Applications/Xcode_12_beta.app`

All Azure DevOps machines has already been updated and contain new image.
GitHub Actions deployment is still in progress (some machines can contain

[2020-09-19 10:03] miketimofeev commented on #1599
The new image with stable Xcode 12 has been deployed! Xcode 12 beta 6 is also on the image.

[2020-09-19 11:40] miketimofeev commented on #1599
@zevmo I'm going to close the issue. Feel free to contact us if you have any concerns.
Thank you!

[2020-09-19 11:40] #1599 closed

[2020-09-19 16:25] henrypbriffel commented on #1599
Thank you‼️

On Sat, Sep 19, 2020 at 6:03 AM Mikhail Timofeev <notifications@github.com>
wrote:

Henry P. Briffel

This message and any attachment are confidential. If you are not the
intended recipient, please telephone or email the sender and delete the
message and any attachment from your system. If you are not the intended
recipient you must not copy this message or attachment or disclose the

[2020-09-19 16:25] FranciscoPombal opened #1621 "CMake+Ninja detects GCC as the default compiler on Windows"
**Description**

CMake+Ninja detects GCC as the default compiler on Windows, causing builds that are meant to use MSVC break. See the result of this example workflow run, where I try to build a project with CMake+Ninja+vcpkg+pwsh:

https://github.com/FranciscoPombal/qBittorrent/runs/1136169917?check_suite_focus=true

This does not happen if I force CMake to use a VS generator, but I'd rather use N

[2020-09-20 20:43] stefkampen commented on #1620
Thanks, the workaround was not functioning correctly for me. However I have adjusted it a bit (note the -r unspecified) and this works for my pipelines:
[code]

[2020-09-20 21:11] alexhultman commented on #1599
Is "Apple Silicon" cross-compilation supposed to work by now? I cannot compile the most basic Hello World with Xcode 12b6:

[code]

[2020-09-20 21:42] Darleev commented on #1621
Hello @FranciscoPombal,
Thank you for contacting us.
Did you try simply specify CMAKE_C_COMPILER and CMAKE_CXX_COMPILER variables like in an example below?

`cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_DEST_WIN }}/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++`

[2020-09-21 07:37] BrightRan opened #1624 "Docker container actions and service containers only work on 'ubuntu-latest'?"
Associated GitHub Community ticket: https://github.community/t/does-service-containers-only-work-with-ubuntu-latest/133246

We can see the following description from the docs (see [here](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idservices) and [here](https://docs.github.com/en/actions/guides/about-service-containers#about-service-containers)):

Howeve

[2020-09-21 08:43] FranciscoPombal commented on #1621
@Darleev

Hi, I did try passing `-DCMAKE_CXX_COMPILER=cl`, which did not work (I want `cl` in this case and would expect it to be the default, not `clang`).

[2020-09-21 08:59] mittalyashu commented on #1624
Reference: https://github.community/t/does-service-containers-only-work-with-ubuntu-latest/133246?u=mittalyashu

[2020-09-21 10:05] Darleev commented on #1624
Hello @BrightRan @mittalyashu,
Thank you for the report.
It seems we are not able to assist you with the provided case, since we do not support github docs in out repository. I believe, [the following link](https://docs.github.com/en) "Contact support", should be the right way to find a correct team to handle the case.
If additional information or assistance is required, feel free to contact us.

[2020-09-21 12:25] Darleev commented on #1624
@BrightRan @mittalyashu, I will try to find a resposible person to handle the case and add the required changes in the documentation.
I will keep you posted.

[2020-09-21 13:44] jclem commented on #1609
We can close this issue—it was in reference to a public repository, for which "Run workflows from fork pull requests" is never enabled, because it would allow anyone that forks the public repository to access secrets and gain write access to the repository.

[2020-09-21 13:44] #1609 closed

[2020-09-21 14:59] zaanposni opened #1633 "Missing requirements in instructions"
**Description**
For [GenerateResourcesAndImage.ps1](https://github.com/actions/virtual-environments/blob/main/helpers/GenerateResourcesAndImage.ps1) the `AzureRm` ps module is needed but that is not stated in the instructions.

**Expected behavior**
I would like the documentation to be up to date and describing everything that has to be done.

**Note**
Is [this](https://github.com/actions/virtual-

[2020-09-21 15:08] maxim-lobanov commented on #1633
@zaanposni , Thank you for pointing to it!
I think updating `GenerateResourcesAndImage.ps1` script to use `Azure` instead of `AzureRM` is better way to fix the issue.

[2020-09-21 15:19] zaanposni commented on #1633
Fair enough @maxim-lobanov
I would like to work on the solution and the PR to fix this issue!
In most cases it should be enough to edit all invokes from `AzureRmSomething` to `AzSomething`.
But surely I will test this through.

[2020-09-21 15:35] LeonidLapshin commented on #1187
@LouisCAD @iamrecursion
The proper way of disabling tcp-udp offload on macOS runners is
[code]
If you can, please add these properties at the start of build, it will disable rx/tx hardware offloading in runtime.
Thank you!

[2020-09-21 18:34] hutson opened #1636 "Rename Windows Packer Configuration Files"
**Description**

Rename Windows Packer configuration files from `[OS][Release]-[Cloud].json` to `[OS][Release].json` and rely on the `builders` section to describe individual target platforms.

If necessary, `only` may be used at the `provisioner` level to restrict steps to specific target platforms.

**Area for Triage**:

**Question, Bug, or Feature?**:

Feature?

**Virtual environments affected*

[2020-09-21 20:09] burg commented on #1453
Hello folks, I wish I had been on the thread earlier!

We found a late-breaking bug in safaridriver + iOS 14 that causes iOS Simulator sessions to fail unless that simulator instance has loaded the Settings > Safari > Advanced screen. The fix for this will be included in later iOS releases / simulator runtimes.

A potential workaround is to enable it manually by loading the settings screen, then u

[2020-09-21 22:12] jamesmistry opened #1637 "Add test signing support"
**Tool information**
- Tool name: Test signing support
- Tool license: N/A
- Add or update? Config update
- Desired version: N/A
- Approximate size: 0
- If this is an add request:
  - Brief description of tool: Test signing allows the loading of test signed kernel drivers. Test signing can't be enabled using MS-hosted agents currently because the configuration change needs a reboot to take effect.

[2020-09-22 03:29] tonyarnold commented on #1599
@alexhultman no, Apple Silicon support was removed from Xcode 12.0. It ships with the macOS 10.15 Catalina SDK.

It was moved to Xcode 12.2 beta, which includes the macOS 11 SDK.

[2020-09-22 05:24] maxim-lobanov commented on #1599
New image with Xcode 12.2 beta should be available in 1 day

[2020-09-22 07:27] BrightRan commented on #1624
Thanks for your help, @Darleev .

[2020-09-22 07:34] Darleev commented on #1637
Hello @jamesmistry,

We had a similar request in the past where we have discussed all points related to the feature. Please check it [by the link.](https://github.com/actions/virtual-environments/issues/1497).

Unfortunately, due to unpredictable impact, we are not able to add the feature at this time, but we will keep this request on mind and let you know if we have any updates.

In case of any q

[2020-09-22 07:40] Darleev commented on #1621
@FranciscoPombal Currently, cl compiler is not in the path by default on Windows agents. In order to add it to agent I have done the following steps:

[code]
You can see my example [in the forked repo.](https://github.com/Darleev/qBittorrent/blob/master/.github/workflows/cmake.yml). As far as I see in Github Action log[ here](https://github.com/Darleev/qBittorrent/runs/1144260244?check_suite_focus

[2020-09-22 08:09] iamrecursion commented on #1187
Fingers crossed this should help with the remaining problems we've having on macOS!

[2020-09-22 08:38] pekhota opened #1643 "What kind of tools do u use to be sure that backward compatibility is not broken?"
Hi. Do u have any kind of action.yml or something that u use as a test to be sure that virtual machine backward compatible?
I'm asking this because there are a lot of action.yml across the github and it is very easy to deploy new version of the image (ex ubuntu1804) which will be backward incompatible or something. So, my question is do you have any tests to run on the machine to make sure that ev

[2020-09-22 08:57] ravikantcool2019 opened #1644 "Update/Add [tool name]"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x]

[2020-09-22 09:00] maxim-lobanov commented on #1643
Hello @pekhota ,
We have validation gates that contain a bunch of smoke (very simple) tests for every tool to validate that the tool is installed on image successfully.
As for the backward compatibility - on images, we always install the latest version of every tool (we have a few tools where we manage multiple versions but we are trying to avoid such cases due to maintenance concerns). So if new

[2020-09-22 09:53] maxim-lobanov opened #1646 "Remove Xcode 12 beta 6 from MacOS Catalina image in favor of Xcode 12.2 beta 1 on October 13"
Hello everyone,

Currently, our images contain `Xcode 12 GM`, `Xcode 12 beta 6` and `Xcode 12.2 beta 1`.
Usually, we don't install a few versions of the single Xcode but we had to keep both `Xcode 12 GM` and `Xcode 12 beta 6` side by side because Xcode 12 GM release does not have Big Sur SDK support but `Xcode 12 beta 6` has. Please find more details in [related issue](https://github.com/actions/v

[2020-09-22 10:54] FranciscoPombal commented on #1621
@Darleev

I ended up going with a similar solution:

[code]

https://github.com/FranciscoPombal/qBittorrent/runs/1143742011

[code]

---

Yes, but is this intentional? Is using an action like `ilammy/msvc-dev-cmd` or `microsoft/setup-msbuild` the "standard" way of getting things to build with MSVC in GitHub actions? I noticed the former can only be used with `cmd`, which is not that flexible. Can

[2020-09-22 11:10] maxim-lobanov commented on #1621
I think it is expected behavior.
There is an additional devCmd (Visual Studio Command Prompt) on Windows machines. It is installed with Visual Studio.
If you run cmake from devCmd shell, it will initialize Visual Studio environments: use MSVC compiler and other Visual Studio tools.
If you run cmake from default shell, VS tools won't be available (if you don't have clang, it will fail to find any c

[2020-09-22 12:10] FranciscoPombal commented on #1621
Yes, but wouldn't it make sense to have the environment initialized by default (with the possibility of overriding, of course), with the latest version of the tools? It would be more convenient for the simpler use cases. That being said, I guess including a single action and 2 additional lines is not that much more trouble.

[2020-09-22 12:24] rajeevkannav commented on #235
@enscogit did that symlink worked? i have same issues after the symlink as well.

[2020-09-22 12:31] maxim-lobanov commented on #1621
I am not sure that it makes sense. Visual Studio Command Prompt is additional shell that is installed by Visual Studio and intended for specific goals - building applications via VS. it is just one of possible scenarios of using image. We should not set it by default. There is an official Microsoft task `microsoft/setup-msbuild` to enable this environment that takes about 1 second to setup this en

[2020-09-22 14:45] pekhota commented on #1643
I'm going to create aws image with the idea to modify only packer configuration. Are that smoke tests available in public so I could run them on my aws ec2 instance?

[2020-09-22 15:05] maxim-lobanov commented on #1643
Installation scripts contain tests like `<tool> --version`. They will be run automatically during image-generation
As for the more complex tests, unfortunately, No. They are private ones for now

[2020-09-22 15:21] pekhota commented on #1643
Will you do code review and is it possible to accept pull request with aws packer provider?

[2020-09-22 16:42] FranciscoPombal commented on #1621
Well, makes sense, and I can definitely live with that.

[2020-09-22 16:42] #1621 closed

[2020-09-22 16:57] dfreilich opened #1649 "Publish Publicly Available copies of environments"
**Description**
I would like to use the `ubuntu-latest` runner in a [Github Actions container](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idcontainer), and I would like to use the `ubuntu-latest` runner. I was unable to find a publicly available package of the environment, however, on any public docker registry. Please publish one, or clarify where it c

[2020-09-22 17:04] maxim-lobanov commented on #1525
Hello everyone!
We have published PR for changes that we have discussed (that was proposed in last message from @eine ): https://github.com/actions/virtual-environments/pull/1648

These changes should improve UX and keep backward compatibility. We will be very appreciate for your review
@eine @dscho @MSP-Greg

[2020-09-22 17:08] maxim-lobanov commented on #1649
Hello @dfreilich , we can't publish the built images to any storage or distribute them somehow due to legal issues (licenses of tools that are included to images)
You can find some details in related issue: https://github.com/actions/virtual-environments/issues/176#issuecomment-620638942
We are working with legal team to improve this in future but no solution for now.

[2020-09-22 17:20] dfreilich commented on #1649
Thanks for the fast response! I hope you can work something out for the future 😄

[2020-09-22 17:47] #1649 closed

[2020-09-22 18:35] eseay commented on #1646
@maxim-lobanov Strange as this may be, I would actually like to request that you keep Xcode 12b6 on the VMs - or, at least I'd like to see if you'd be able to collaborate on an alternative solution to the problem at hand.

**Apps using CoreNFC are unable to launch on an iOS 14 simulator when run from Xcode 12 GM** because it seems that the CoreSimulator packaged with that version does not include

[2020-09-23 05:29] #1633 closed

[2020-09-23 05:29] maxim-lobanov commented on #1633
I have merged PR, thank you for contribution!

[2020-09-23 09:25] andy-mishechkin commented on #1613
Hello, @simonbyrne
When you use bash in Windows, the GitHub bash is using by default (https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#using-a-specific-shell), which has no cc installed.
Windows image also contains the MSYS2 bash, which has cc inside.
For using cc from MSYS2 bash, you can add the directory of this shell to PATH variable in previous step.
Please speci

[2020-09-23 09:32] BrightRan opened #1650 "Are the virtual environments for GitHub-hosted runners only support English as the System Locale?"
Associated GitHub Community ticket: https://github.community/t/intl-datetimeformat-wrong-locale/133337

The customer is using workflow to run jest tests on **`ubuntu-latest`**. But the workflow can't recognize that when he sets **`Intl.DateTimeFormat`** to be **`es-MX`** (**`Spanish (Mexico)`**) instead of **`en-US`** (**`English (United State)`**).

Normally, the System Locale of the virtual envi

[2020-09-23 10:41] dloranc opened #1651 "Broken builds after 10.09.2020 that says a container can't connect to MySQL"
**Description**
All builds for our applications started failing from 14.09.2020 due to some changes in `ubuntu-latest` image. Instead of initialise a database and running Ruby tests it's raising an error that it can't connect to MySQL server.

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [X] Ubuntu 16.04 LTS
- [X] Ubuntu 18.04 LTS

[2020-09-23 10:45] maxim-lobanov commented on #1651
Hello @dloranc , could you please check correlation between image version of your builds and build health around these dates? Range between a few latest green builds and a few first failed ones.

Image version can be found in `Set up job` step:
![image](https://user-images.githubusercontent.com/16715858/94002716-ec58e700-fda2-11ea-832e-94cf59d45009.png)

[2020-09-23 10:58] dloranc commented on #1651
OK, so last four green builds have:
![image](https://user-images.githubusercontent.com/364417/94003377-6e451200-fd9b-11ea-9883-4fd5c21e63b1.png)

or if you prefer to have it written down:
[code]

Red builds have:
![image](https://user-images.githubusercontent.com/364417/94003528-9f254700-fd9b-11ea-8b36-1194d09bb579.png)
[code]

One red build (not first, but later one) have `Version: 20200908.1`.

[2020-09-23 11:03] maxim-lobanov commented on #1646
Hello @eseay ,
Thank you for raising your problem.

I think it makes sense to share motivation of this decision:
Currently, Xcode is hugest tool that we install on MacOS image and currently we have 13 Xcode versions installed. It is always a pain for us to add new Xcode when it is released because it directly affects image-generation, promotion and VM updating time. As a result, the total time of

[2020-09-23 11:45] rikat-ms commented on #1620
Thanks. The install command (-r trustRoot) resolved the build failure. It can be used as a temporary workaround until the hosted image is updated and rolled out.

[2020-09-23 11:48] maxim-lobanov commented on #1620
Fix was merged to `main`, it should be deployed next week

[2020-09-23 14:35] al-cheb commented on #1651
Hello, @dloranc
I can't reproduce the issue with default mysql-5.7

[code]
docker-compose.yml:
[code]

![image](https://user-images.githubusercontent.com/47745270/94026959-05719000-fdc3-11ea-8111-7b5cf8f061cb.png)

[2020-09-23 15:22] maxim-lobanov commented on #1643
@pekhota will it be a separate template or just extending the current one?
AWS packer provider is not our use-case because we build in Azure so if this will require additional maintenance in future, we won't be able to accept it

[2020-09-23 15:37] pekhota commented on #1643
@maxim-lobanov Just extending the current one. Is it more preferable for you?

[2020-09-23 16:19] MaxDesiatov opened #1652 "Add Swift 5.3 for Windows"
**Tool information**
- Tool name: Swift toolchain and SDK
- Tool license: Apache 2.0
- Add or update? Add
- Desired version: 5.3
- Approximate size: 350 MB
- If this is an add request:
  - Brief description of tool: Swift is a general-purpose, multi-paradigm, cross-platform, compiled programming language.
  - URL for tool's homepage: https://swift.org/download/
  - Provide a basic test case to val

[2020-09-23 17:37] eine commented on #1613
Soon, `bash` will default to MSYS2. See #1648.

[2020-09-23 17:40] simonbyrne commented on #1613
Thanks @andy-mishechkin and @eine!

[2020-09-23 21:27] dscho commented on #1525
@eine Git for Windows is intended as a stand-alone solution, not an entire distribution with package management and more options most users will ever care about. It comes with a graphical installer that is tailored to Git users' needs. Therefore, it is definitely _not_ a replacement for MSYS2, nor will MSYS2 ever be an appropriate replacement for Git for Windows.

[2020-09-23 22:03] eine commented on #1525
Is that true in a CLI context too? That is, apart from the graphical installer (which is not visible to GitHub Actions users), is there any other feature that Git for Windows' git CLI interface provides, which is not provided by MSYS2's git CLI package?

[2020-09-23 22:32] saabeilin commented on #765
It seems we are affected with exactly the same issue.

[2020-09-24 06:07] #1650 closed

[2020-09-24 06:19] zackijack opened #1654 "Update helm to v3.3.4"
**Description**
There is a bug in helm v3.3.2 & v3.3.3 and solved on v3.3.4 https://github.com/helm/helm/issues/8771

**Area for Triage**:
Containers

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [x] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
Update helm t

[2020-09-24 07:38] dloranc commented on #1651
@al-cheb Thank you for the help. I tried it too, but it didn't work.

Anyway, we solved this issue by moving tests from docker-compose to GitHub container, so you can close it.

[2020-09-24 08:04] al-cheb commented on #1651
@dloranc , Thank you. Closed.

[2020-09-24 08:04] #1651 closed

[2020-09-24 08:18] dibir-magomedsaygitov commented on #1654
Hello, @zackijack!
Thank you for your report. We are installing latest available version at the moment. New Ubuntu images are coming with `helm v3.3.3`.
As a workaround I'd suggest you to update helm in a runtime using:
[code]

[2020-09-24 08:24] Darleev commented on #1654
Hello @zackijack,

Maybe a solution below will be more convenient for you:

github actions

[code]

Azure DevOps

[code]

In case of any questions, do not hesitate to contact us.

[2020-09-24 08:56] yvele opened #1657 "Update yamllint to be installed using pip"
**Tool information**

- Tool name: yamllint
- Tool license: GNU General Public License v3.0
- Add or update? Update
- Desired version: Latest
- Approximate size:

**Area for Triage**:

Testing and code coverage

**Question, Bug, or Feature?**:

yamllint #1142 actually is installed using system packages see #1319 (Ubuntu) and #1320 (Windows).

But this doesn't give us the latest stable version of y

[2020-09-24 09:20] adrienverge commented on #1657
For information, and to support this request: the current version installed (`.deb`) is not actively maintained, and is 19 releases behind the official `pip` one.

[2020-09-24 10:09] dscho commented on #1525
Yes. As I mentioned, the user experience of Git for Windows does not involve package management. For example, the [MinGit](https://github.com/git-for-windows/git/wiki/MinGit) subset of Git for Windows, as well as the Portable Git edition, come with a bundled, specific Git LFS version, and likewise Git Credential Manager (Core) is bundled, too.

To re-iterate: Git for Windows caters to a different

[2020-09-24 10:09] maxim-lobanov commented on #1657
@yvele , @adrienverge , thank you for raising this point.

Honestly, we are trying not install tools through `pip` because it often installs additional dependencies or can stop work properly after switching python using `actions/setup-python`.
(P.S: We are not Python experts so could be wrong but previously we had similar issues)

I think we can consider using [pipx](https://pipxproject.github.io/

[2020-09-24 10:14] Svardak opened #1659 "Update Xcode to 12 version"
**Tool information**
- Tool name: Xcode
-  update
- Desired version: 12
- Approximate size:

**Virtual environments affected**
- [x] macOS 10.15

Please install new version of Xcode on the machines that Pipelines uses.

[2020-09-24 10:16] maxim-lobanov commented on #1659
Hello @Svardak , Actually Xcode 12 is installed on our images for a few weeks. Please follow documentation to find installation location: https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md#xcode

Also Xcode 12.2 beta 1 is on way and will be deployed in a few hours.

[2020-09-24 10:24] maxim-lobanov commented on #1611
Hello @leemacatangay , I see you also requested installation of GVFS in #1612. Could you please share some context around these tools?
As I understand, GVFS from #1612 is a separate tool but what is this one `Git-2.28.0.vfs.0.0-64-bit.exe`? Currently, we install Git For Windows from https://github.com/git-for-windows/git. Is it plugin or replacement?

cc: @dscho

[2020-09-24 10:59] vgubar opened #1660 "Cached Docker images are not always present"
**Description**
After MS is publishing new windows docker images to registry agent cache is not updated for a few weeks accordingly.
So cached layers are missing on agents and it is increasing time of container initialisation 2-3 times.

**Area for Triage**:
Docker, Container, Image

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [x] Windows Server 2019

**Expected behavi

[2020-09-24 11:05] vgubar opened #1661 "Add mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2019 to Docker cache"
**Tool information**
- Tool name: docker image mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2019
- Add or update? Add
- If this is an add request:
  - Brief description of tool: docker image from Microsoft what is most suitable for agent ( VS2019 and .NetFramework SDK inside )
  - URL for tool's homepage: https://hub.docker.com/_/microsoft-dotnet-framework-sdk/

**Area for Tria

[2020-09-24 11:12] maxim-lobanov commented on #774
Hello everyone!

We have published source code of MacOS image generation and you can find it under https://github.com/actions/virtual-environments/tree/main/images/macos

Unfortunately, our validation CI doesn't support external contributions. So we can't accept contributions but it should be resolved very soon.

[2020-09-24 11:12] #774 closed

[2020-09-24 11:42] yvele commented on #1657
I'm not a python expert, @adrienverge do you think pipx will do the job?

[2020-09-24 11:43] Shatur95 commented on #1536
After this change I can't install `clang-tidy`:

[code]

[2020-09-24 11:57] Shatur95 commented on #1536
Workaround:

[code]

[2020-09-24 12:05] tobylane commented on #774
The [Azure Pipelines folder](https://github.com/microsoft/azure-pipelines-image-generation/tree/master/images/macos) for this information points to this repository. Will the older macOS versions have their own readmes too?

[2020-09-24 12:15] adrienverge commented on #1657
I don't know pipx much, but I wouldn't recommend using it. Pip is standard, solid and tested for decades, and if an isolated environment is needed (@maxim-lobanov is it why you propose pipx?) I recommend using a virtualenv (which is a Python standard, like pip).

For info, yamllint has only 2 dependencies: pyyaml and pathspec. Hard to do less :wink:

[2020-09-24 12:20] Darleev commented on #1659
@Svardak In case of any questions, feel free to contact us.
I'm going to close the issue.

[2020-09-24 12:20] #1659 closed

[2020-09-24 13:40] dscho commented on #1611
That would be the replacement installer, but it's not enough for GVFS... there is another component: https://github.com/microsoft/vfsforgit/releases (which includes the VFS for Git-specific Git fork AFAIR).

Taking a step back, I'm not actually sure that it makes sense to include VFS for Git; it requires a kernel driver...

[2020-09-24 17:55] leemacatangay commented on #1611
Yes, that would be a replacement installer of 2.28 to include support for GVFS.
Then, GVFS component is brought in by another installer. Please see if this can be applied, and if there is installer in Git for Windows that also include support for GVFS.

Thanks,
/ee

From: Johannes Schindelin <notifications@github.com>
Sent: Thursday, September 24, 2020 6:41 AM
To: actions/virtual-environments <vir

[2020-09-24 19:16] al-cheb commented on #1536
Hello, @Shatur95
For clang-10 installation we use third-party repository which is not available after image generation - https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/installers/clang.sh

[code]

[2020-09-24 19:47] Shatur95 commented on #1536
Maybe just add `clang-tidy` to the image? Windows images have `clang-tidy` installed.

[2020-09-24 21:59] miketimofeev commented on #1382
@softworkz good news! The image with MS Visual Studio Installer projects extension is already deployed! Could you check it, please?

[2020-09-24 22:01] miketimofeev commented on #1564
@bgoggan The new image with Edge 85.0.564.51 has finally deployed.
I'm going to close the issue, please feel free to contact us if you have any concerns.
Thank you!

[2020-09-24 22:01] #1564 closed

[2020-09-24 22:04] miketimofeev commented on #1476
@dzsquared we have deployed the new images with DacFX 18.5.1. I'm going to close the issue but please feel free to contact us if you have any concerns.
Thanks again for your contribution!

[2020-09-24 22:04] #1476 closed

[2020-09-24 23:27] spowser opened #1664 "GenerateResourcesAndImage throwing "Cannot bind parameter" error"
**Description**
When I run the GenerateResourcesAndImage command, I get prompted to enter my credentials.  Once I enter them the script starts and after a while throws the following error

[code]

When I checked Azure, the storage had been created so part of the script was successful.

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] macOS 10.15
- [ ]

[2020-09-24 23:59] spowser commented on #1664
Looks like this is failing on line 170 with
$sp = New-AzADServicePrincipal -DisplayName $spDisplayName -Password (ConvertTo-SecureString $ServicePrincipalClientSecret -AsPlainText -Force)

[2020-09-25 01:21] MarcoEidinger opened #1665 "Add xcbeautify to macOS image"
**Tool information**
- Tool name: xcbeautify
- Tool license: MIT
- Add or update? Add
- Desired version: 0.8.1 (latest)
- Approximate size:
- If this is an add request:
  - Brief description of tool: xcbeautify is a little beautifier tool for xcodebuild. Similar to xcpretty, but faster and in active development / maintenance.
  - URL for tool's homepage: https://github.com/thii/xcbeautify
  - Prov

[2020-09-25 02:08] BrightRan opened #1666 "10022 port is not allowed to be used by embedded test execution server"
Associated GitHub Community ticket: https://github.community/t/10022-port-is-not-allowed-to-be-used-by-embedded-test-execution-server/133903

The customer set 10022 port in their workflow to be used by embedded test execution server, but the 10022 port seems is not allowed. When they changed the port from 10022 to any others, the workflow can work.

[2020-09-25 05:40] Darleev commented on #1660
Hello, @vgubar
Docker images and cache are updated every week, in rare cases 2-3 times a week. So this is the expected behavior and sometimes the images can be out of date. You can track current release status using[ the link](https://github.com/actions/virtual-environments/#available-environments).

In case of any questions, feel free to contact us.

[2020-09-25 06:16] Darleev commented on #1120
@ausfestivus thank you for the update, I have prepared another workaround for the issue, and added it to separate branch in the forked repo.
@erphunranjbar When you have a chance, could you please try to build from[ the following branch](https://github.com/Darleev/virtual-environments/tree/v-danurg/ubuntu_apt_retry).

We are looking forward to your reply.

[2020-09-25 06:58] al-cheb commented on #1444
Hello, @dpaoliello
The clang-10 is now available on Ubuntu 20.04 - https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md

[2020-09-25 06:58] #1444 closed

[2020-09-25 07:03] mkreidenweis commented on #1143
@al-cheb Are the plans to upgrade the OS Version to support WSL2, or is this not possible for some reason?

[2020-09-25 08:26] al-cheb commented on #1143
@alepauly, Do we have any plans to update Windows Server 2019?

[2020-09-25 08:33] AlenaSviridenko commented on #1539
Closing this issue since installation in runtime fits the needs.
Please, feel free to create a new one in case of any questions. Thanks!

[2020-09-25 08:33] #1539 closed

[2020-09-25 08:46] maxim-lobanov commented on #1652
No objections to bake Swift into the Windows images.
Feel free to submit PR if you want or we will take care about it when we have capacity

[2020-09-25 08:55] maxim-lobanov commented on #1661
Hello @vgubar ,
Does "mcr.microsoft.com/dotnet/framework/runtime" image fit for your goals?
We have some concerns about baking this docker image to Hosted images because of the size. It takes 10GB on drive but we have limited disk space on Hosted images.

[2020-09-25 09:03] maxim-lobanov commented on #1636
Actually, we support only Azure builders for now. But we don't have concerns to rename templates to avoid confusing

[2020-09-25 09:29] #1613 closed

[2020-09-25 09:55] otebos opened #1668 "Xamarin.iOS 14.0 for macOS 10.15"
**Tool information**
- Tool name: Xamarin.iOS
- Tool license: free
- Add or update? Update
- Desired version: 14.0.0.0
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x ] macOS 1

[2020-09-25 09:57] maxim-lobanov commented on #1668
Hello @otebos , we are working to add Xamarin.iOS 14.0 to our images: https://github.com/actions/virtual-environments/pull/1663
We are expecting new image to be deployed at the middle next week

[2020-09-25 09:58] andy-mishechkin commented on #1469
I've checked on the `windows-latest` runner - vswhere.exe -requires Microsoft.VisualStudio.ComponentGroup.UWP.VC returns the necessary information about workload.

[2020-09-25 09:58] #1469 closed

[2020-09-25 10:12] mpdude opened #1669 "Provide SSH host keys for GitHub services out of the box"
Dear GitHub,

would it be possible to set up Action worker nodes in a way that we already have the SSH Host Keys for GitHub services (repos, Gists) etc. available in either /etc/ssh/ssh_known_hosts or ~/.ssh/known_hosts?

That would make workflows somewhat more straightforward when we e. g. need to fetch dependencies.

Also, it would be more secure than having to run `ssh-keyscan` and just accept

[2020-09-25 10:19] andy-mishechkin commented on #1382
I've checked the availability of this VSIX extension on the `windows-latest` runner - "Microsoft Visual Studio Installer Projects" extension is present

[2020-09-25 10:19] #1382 closed

[2020-09-25 10:41] Darleev commented on #1669
Hello @mpdude,
Thank you for contacting us.
Could you please clarify which agent (OS) you are facing the problem with?
We are looking forward to your reply.

[2020-09-25 11:05] LeonidLapshin commented on #1242
Pulumi is now available on Ubuntu and Windows :)

[2020-09-25 11:05] #1242 closed

[2020-09-25 11:17] mpdude commented on #1669
Oops, my bad! I double-checked `ubuntu-18.04` and `ubuntu-20.04` and in fact, the RSA key is there at `/etc/ssh/ssh_known_hosts`.

It seems GH also has a `DSA` type key; would it make sense to add those as well?

[2020-09-25 11:23] AlenaSviridenko commented on #1611
Hi @leemacatangay,
unfortunately, we cannot add these tools to the image, because Git for Windows is a commonly used tool and its replacement can lead to an unpredictable impact.
Current Git for Windows https://github.com/git-for-windows/git doesn't have a support for GVFS, as I understand. @dscho please, correct me if I am wrong.

I am closing this issue, please, feel free to open a new one for a

[2020-09-25 11:23] #1611 closed

[2020-09-25 11:25] AlenaSviridenko commented on #1612
Closing this one as it is a plugin for https://github.com/actions/virtual-environments/issues/1611 that we won't install on the images.
Thank you.

[2020-09-25 11:25] #1612 closed

[2020-09-25 11:41] bgoggan commented on #1564
@miketimofeev Thanks, I'll remove the update from my release.

[2020-09-25 11:48] maxim-lobanov commented on #1643
Hello @pekhota , we have discussed it internally and we won't be able to accept this contribution.
Our main use case is image generation in Azure. We use this approach for image-generation and deployment VMs.
If we accept contribution, we will have to support AWS approach. Unfortunately, we don't have much experience with AWS and we won't be able to help customers if they face with any issues duri

[2020-09-25 11:49] #1643 closed

[2020-09-25 11:56] vsafonkin commented on #1664
Hello @spowser , thank you for your report! We've prepared PR with fix, you could see link above.

[2020-09-25 12:06] maxim-lobanov commented on #1445
After the latest GitHub update, you can specify credentials for container downloading: https://github.blog/changelog/2020-09-24-github-actions-private-registry-support-for-job-and-service-containers/

[2020-09-25 12:09] #1544 closed

[2020-09-25 12:32] dscho commented on #1611
I agree that it makes more sense to support regular Git out of the box, and not force VFS for Git on every Azure Pipeline/GitHub Action user.

The best way to use VFS for Git in CI, from my perspective, is to set up your own VMs and install build agents on them.

[2020-09-25 12:47] LeonidLapshin commented on #1666
Hi, @Ginxo @BrightRan
I tried to reproduce the problem with 10022 port with nginx container on 10022
[code]
But everything work just fine, it seems that the problem is not about the port, but the connection to port on localhost.
We have seen similar problems here: [flaky networking](https://github.com/actions/virtual-environments/issues/1187)
Could you please try to disable hardware network offloa

[2020-09-25 13:11] PaulVrugt opened #1671 "Install Azure powershell 4.7.0 (AZ module) (current max version is 4.6.0)"
**Tool information**
- Tool name: Azure powershell
- Add or update? Update
- Desired version: 4.7.0
- Approximate size:

**Area for Triage**:

**Question, Bug, or Feature?**:
Bug: The 4.6 version of Az contains a bug which breaks ARM deployments with secure strings as parameters. See https://github.com/Azure/azure-powershell/issues/12792

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] U

[2020-09-25 13:12] vgubar commented on #1660
We are having such issue 4 times during last 6 months. 3 issues were opened for support but they are redirecting us here. It is very critical for our builds, since container initialization time with not valid cache near 25 minutes, instead of 11 max.

[2020-09-25 13:33] dibir-magomedsaygitov commented on #1671
Hello, @PaulVrugt!
Thank you for your report! We have prepared PR with the addition of 4.7.0 version of Azure Powershell.
I will post an update message as soon as Image with updated Azure Powershell is available for use.

[2020-09-25 13:40] PaulVrugt commented on #1671
@dibir-magomedsaygitov  Wow that was fast. Thank you!

[2020-09-25 15:07] leemacatangay commented on #1611
Thanks for reviewing.

Thanks,
/ee

________________________________
From: Johannes Schindelin <notifications@github.com>
Sent: Friday, September 25, 2020 5:33:08 AM
To: actions/virtual-environments <virtual-environments@noreply.github.com>
Cc: Lee Macatangay <leemac@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [actions/virtual-environments] Update version of - Git for Windows

[2020-09-25 15:16] LeonidLapshin commented on #1470
Hey, @MarikoNakazawa
Unfortunately, Visual Studio Build Tools installation along with Visual Studio Enterprise caused unpredictable issues with the default MSBuild behavior(Enterprise one was replaced by the one from Build Tools). We are actively investigating these issues with the Visual Studio team and will be in touch with any new information on this ticket.

[2020-09-25 18:46] hutson commented on #1636
@maxim-lobanov I'm glad to hear! Yeah, my team is re-using the Azure configuration file, but with the addition of an `amazon-ebs` builder.

We don't anticipate the maintainers of this repository to own support for alternative target platforms, such as AWS, but based on comments in #671, I am hoping my team can help make it as easy as possible for downstream consumers to build on y'alls work in thi

[2020-09-25 20:26] hutson opened #1675 "[Windows 2016] devenv.exe command not found"
**Description**

[code]

I copied the contents of [`virtual-environments/images/win/scripts/Installers/Install-VS.ps1`](https://github.com/actions/virtual-environments/blob/09550baace58a0939352f83ba18937a1d52af429/images/win/scripts/Installers/Install-VS.ps1) directly to a host that has had all the provisioners, [up to, but not including](https://github.com/actions/virtual-environments/blob/184354

[2020-09-25 21:29] dzsquared opened #1676 "Update DacFx 18.5.1 to 18.6"
**Tool information**
- Tool name: DacFx
- Tool license:
- Add or update? Update
- Desired version: latest, 18.6
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**: Databases

**Question, Bug, or Feature?**: Feature

**Virtual environments affected**
- [

[2020-09-25 22:47] Elvis-Shi opened #1678 "Add Microsoft BizTalk project build components"
- Tool name: BizTalk project build component
- Tool license: Developer license
- Add or update? Add
- Desired version: Not decided yet.
- Approximate size:
- If this is an add request:
  - Brief description of tool:  BizTalk is a Microsoft product, you can refer to [here ](https://docs.microsoft.com/en-us/biztalk/) to get more understanding about what is BizTalk. Our customer use BizTalk developme

[2020-09-26 11:32] ABBAPOH opened #1679 "Windows image 20200920.1 - logging problems?"
**Description**
After the image upgrade from version 20200827.1 to 20200920.1, we experience constant failures in our tests. It appears that there are some sort of problems with stderr/stdout with Qt applications.
For instance, the whole output from the test disappears as seen here https://github.com/rweickelt/qbs/runs/1159313492 (there's no output after the line Running Qbs tests (2 jobs in paral

[2020-09-26 22:27] HAWAIIBEATCH opened #1680 "g report"
**Description**
A clear and concise description of what the bug is, and why you consider it to be a bug.

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [x] Ubuntu 20.04 LTS
- [x] Windows Server 2016 R2
- [x] Windows Server 2019

**Expected behavior**
A description of what you expected to ha

[2020-09-27 03:03] softworkz commented on #1382
@andy-mishechkin @miketimofeev

Great job! Thanks a lot for making this possible.

I was able to successfully build a Visual Studio Solution including a **Visual Studio Installer Project** (`vdproj`) with **an Azure Build Pipeline** on an **Azure hosted build agent**.

## Instructions

### 1. Don't use the "Visual Studio Build" task

The name of this task is **lying**. It doesn't build with Visual

[2020-09-27 03:20] AngellusMortis commented on #1382
I am still not able to get this working on my project. I am getting the error:

[code]

Which searching around lead me to this as the best explation of why:

https://github.com/it3xl/MSBuild-DevEnv-Build-Server-Workarounds/blob/master/workaround/DevEnv-Vdproj-VS2017_Enterprise-HRESULT-8000000A-EnableOutOfProcBuild.bat

[2020-09-27 03:56] softworkz commented on #1382
Just add a "Command Line Script" task before the devenv task:

- Script: `DisableOutOfProcBuild.exe`
- Advanced > Working Directory:` C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\CommonExtensions\Microsoft\VSI\DisableOutOfProcBuild`

[2020-09-27 04:11] AngellusMortis commented on #1382
Oh thanks. It looks like the `working-directory` param was what I was missing. I was trying to `cd` out of the workspace and it would not let me. It seems you are jailed to the working directory. At least for Github actions.

[2020-09-27 09:25] Google2020update opened #1681 "ไซต์การสื่อสาร - หน้าแรก"
https://racha999coperation.sharepoint.com/

[2020-09-27 10:34] jensens commented on #1534
`gnutar` provides the `--owner` and `--group` arguments which are missing with macos default tar (BSD tar?).
Thus said,  it would be great to have it on macos too. At the moment this is an issue here, testing/building the CMS Plone unified installer using an GH action.

[2020-09-28 03:00] martingemme opened #1682 "Azure DevOps CLI issue in Windows Server 2019"
**Description**
Running `az pipelines pool list --organization $Organization --pool-name $PoolName` in Windows throws the following exception:

I'm currently at commit [956f9257505d3d10e63220e93da37dfd37a55778 ](https://github.com/actions/virtual-environments/commit/956f9257505d3d10e63220e93da37dfd37a55778) (not too far behind).

[code]
I'm unsure if it's during the installation of the extension,

[2020-09-28 06:55] dibir-magomedsaygitov commented on #1671
[PR](https://github.com/actions/virtual-environments/pull/1672) with Azure Powershell v4.7.0 was successfully merged and will be available with the this week's rollout.

[2020-09-28 07:22] #1680 closed

[2020-09-28 07:24] andy-mishechkin commented on #1680
We need to clear and concise description of what the bug is, and why you consider it to be a bug

[2020-09-28 07:51] vsafonkin commented on #1664
@spowser , PR with fix was merged, could you please check your build?

[2020-09-28 08:00] al-cheb commented on #1536
@Shatur95,
Sorry, currently we can't pre-install clang-tidy on Ubuntu 16.04/18.04/20.04 due to lack of free space on images. We are going to migrate to the official repository to eliminate additional manipulation with adding llvm repo or remove components(`sudo apt-get remove libllvm10`). I will let you know when a new image with the new repo is available.

[2020-09-28 08:12] mihsoft commented on #1682
@martingemme - Confirmed in the packer file - Windows2019-Azure.json

[code]

[2020-09-28 08:13] Shatur95 commented on #1536
Thanks, it would be nice.

[2020-09-28 08:42] DocX commented on #1620
Hello, is it possible that adding the new CA would cause issues with certificates and profiles signed with the old CA? We have builds that started to fail after update to the image version `20200918` which contains the new CA.

[2020-09-28 09:08] maxim-lobanov commented on #1620
@DocX , what Xcode version do you use and what error do you see after update?

[2020-09-28 10:13] AlenaSviridenko opened #1688 "Xcode 11.0, 11.1, 11.4.0 will be deprecated on November, 5"
### Breaking changes
Xcode 11.0, 11.1 and 11.4.0 will be removed from MacOS 10.15 image

### Target date
Deployment of these changes will be started on 5 November and will take a few days.

### The motivation for the changes
Currently, we have 13 Xcode versions on image and it become a problem to deliver important updates quickly because it affects image generation / image deployment time. We woul

[2020-09-28 12:12] LeonidLapshin commented on #1660
Hi, @vgubar!
As @darleev mentioned, this situation happens when the release cycle takes longer than usual. Currently, we tend to deploy new  Windows images, with up-to-date docker images, weekly. The propagation process usually starts on Monday and finishes on Thursday. Unfortunately, there are some cases (which you have faced with) when we have to postpone the update process and the docker layers

[2020-09-28 12:12] #1660 closed

[2020-09-28 12:17] dmitry-shibanov commented on #1596
Hello, pull requests were merged. Changes will be added in the next images rollout.

[2020-09-28 14:02] Swatinem commented on #1536
I have a similar problems, related to `clang-tools`:

[code]

[2020-09-28 14:04] kblok opened #1690 "dotnet dev-certs started failing in macOS"
**Description**
The `dotnet dev-certs` started to fail here https://github.com/hardkoded/playwright-sharp/pull/878/checks?check_run_id=1176770064 from one day to the other.

This is part of the workflow definition

[code]

You can see the rest here https://github.com/hardkoded/playwright-sharp/blob/master/.github/workflows/tests.yml

**Area for Triage**:
.NET Core

**Virtual environments affected*

[2020-09-28 14:23] miketimofeev commented on #774
@tobylane we're not going to migrate azure-pipelines readmes to this repo at the moment. They will be updated in the https://github.com/microsoft/azure-pipelines-image-generation/tree/master/images/macos folder as previous

[2020-09-28 14:42] maxim-lobanov commented on #1690
Potentially, can be related to https://github.com/actions/virtual-environments/pull/1630

[2020-09-28 15:13] st3fan commented on #1659
@maxim-lobanov @Darleev  If I understand correctly, the image currently has Xcode 12.0.0, which cannot be used to created builds for the App Store. Apple issued a 12.0.1 update for that soon after Xcode 12 went GM.

[2020-09-28 15:16] maxim-lobanov commented on #1659
We can't install Xcode 12.0.1 to images right now because Apple doesn't provide way to download it. Apple provides Xcode 12.0.1 via AppStore only but Apple Developer site still points to 12.0.0 GM as latest release:
![image](https://user-images.githubusercontent.com/16715858/94451077-a80c8300-01b6-11eb-916d-331a6da55ca8.png)

We can't update it until it is there

[2020-09-28 15:24] maxim-lobanov commented on #1690
@kblok , Checked and confirmed that issue is not related to PR above, your builds run on image 20200918.1 but PR was merged 21 September.

For now we don't have an idea about root cause of this issue but we are sure that this issue is not caused by image update:
1) Green build on image version `20200918.1`: https://github.com/hardkoded/playwright-sharp/actions/runs/269627718
2) Red build on image

[2020-09-28 15:28] kblok commented on #1690
Thanks for the feedback @maxim-lobanov.

[2020-09-28 15:30] kblok commented on #1690
The output of `actions/setup-dotnet@v1` looks different. Do you think I should create this issue on https://github.com/actions/setup-dotnet ?

[2020-09-28 15:36] maxim-lobanov commented on #1690
@kblok , yes, I have confirmed that `actions/setup-dotnet` is root cause of this issue.

Please try to specify `uses: actions/setup-dotnet@v1.6.0` directly in your workflow and build will pass.
I have confirmed it in my fork: https://github.com/maxim-lobanov/playwright-sharp/runs/1177397219?check_suite_focus=true

Looks like actions/setup-dotnet@v1.7.0 was released recently and `v1` tag was update

[2020-09-28 15:48] ZEisinger commented on #1690
Please open an issue. v1.7.1 is the latest version and fixes known problems from v1.7.0

[2020-09-28 15:50] #1690 closed

[2020-09-28 15:55] vsafonkin commented on #1669
Hello @mpdude , it's right, RSA key for github.com was already added to `/etc/ssh/ssh_known_hosts` on Ubuntu. We believe it makes no sense to add DSA key, because it was deprecated by OpenSSH since version 7.0: [link](http://www.openssh.com/legacy.html)

[2020-09-28 16:35] vgubar commented on #1661
Hello @maxim-lobanov ,
Unfortunately - no.
We are using build inside the container to build legacy services with mssql tests. So we need to have VS2019, Nuget, MS SQL server inside the image. Everything except MS SQL server is present inside mcr.microsoft.com/dotnet/framework/sdk. It is logical for us to use it as a base image and just add SQL Server + few small things. I do believe that this imag

[2020-09-28 19:53] mpdude commented on #1669
Ok, thank you

[2020-09-28 19:53] #1669 closed

[2020-09-28 20:44] spowser commented on #1664
@vsafonkin This is now working as expected.  Thanks!

[2020-09-29 02:02] matthewfeickert opened #1691 "macos-latest workflows not starting"
**Description**

All workflows on `macos-latest` are failing to start.

**Area for Triage**:  Containers (maybe? Not sure given the choices at https://github.com/actions/virtual-environments/tree/main/triage-rules.yml)

**Question, Bug, or Feature?**: "Bug"

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Windows Server

[2020-09-29 06:46] Darleev commented on #1120
@ausfestivus @erphunranjbar I have updated [the branch](https://github.com/Darleev/virtual-environments/tree/v-danurg/ubuntu_apt_retry) with the latest image scripts.
I believe this solution should help to avoid the issue with package locks. Could you please try to build and check that everything works as expected?

We are looking forward to your reply.

[2020-09-29 07:00] #1664 closed

[2020-09-29 07:13] LeonidLapshin commented on #1470
Hi, @MarikoNakazawa
Visual Studio team confirmed Visual Studio Enterprise is the ultimate edition and includes all the components presented in Visual Studio Build Tools. The appropriate workload for VS Enterprise is Microsoft.VisualStudio.Workload.NetWeb
Could you please verify this workload is sufficient for your needs? It can be installed in runtime with the following inline PowerShell script:
[

[2020-09-29 07:41] Darleev commented on #1691
Hello @matthewfeickert.
There were temporary issues with insfrastucture which have already been resolved.
As far as I see, all pipelines are in the completed state Could you please verify that everything is fine at the moment?
We are looking forward to your reply.

[2020-09-29 08:06] dsame commented on #1679
While i am investigating the build, can you please make sure the tst_* binaries produce any output at all?

From my build https://github.com/dsame/qbs/runs/1180813452?check_suite_focus=truev i see none of them put anything to stdout in any shells

[2020-09-29 08:16] dmitry-shibanov commented on #1675
Hello @hutson  , could you please ensure, that you have installed VSSetup powershell module from [here](https://github.com/actions/virtual-environments/blob/854d90d2058963f1e3cc0c7c404857aa9c898910/images/win/scripts/Installers/Install-PowerShellModules.ps1#L25), because `Get-VisualStudioPath` depends on two methods `Get-VSSetupInstance` and `Select-VSSetupInstance` which come from VSSetup module.

[2020-09-29 08:27] LeonidLapshin commented on #1452
Hi, @philipwolfe
Azure Dev Spaces CLI added to image and will be available with next image release in 1-2 weeks :)
Thank you!

[2020-09-29 08:28] nevun commented on #1536
We have the same problem with ubuntu-20.04. relevant part from https://github.com/Yubico/pam-u2f/actions/runs/278140722/workflow#L23

[code]
results in:

[code]

[2020-09-29 08:35] Swatinem commented on #1536
Adding the apt repo as explained in the comment above seems to work

https://github.com/actions/virtual-environments/issues/1536#issuecomment-698537248

[2020-09-29 08:40] HAWAIIBEATCH opened #1695 "readme-edits"
**Description**
A clear and concise description of what the bug is, and why you consider it to be a bug.

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [x] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [x] Windows Server 2019

**Expected behavior**
A description of what you expected to ha

[2020-09-29 09:23] ABBAPOH commented on #1679
I've downloaded the artifacts and yes, I do see the output when run manually.
It might be that somehow Qt logging is turned off (the same seem to happen to our binaries as well - all logging from C++ code is missing, that's why tests are failing), but I do not see how this can be possible considering the fact that env doesn't contain any Qt related variables. The logging levels are controlled by t

[2020-09-29 09:54] AlenaSviridenko commented on #1678
Hi @Elvis-Shi, could you please share how you install it in runtime?
Could you please clarify what exactly is expected to be installed, I found this guide with BizTalk Server and VS extension installation https://docs.microsoft.com/en-us/biztalk/install-and-config-guides/install-biztalk-server-2020 - is that it?

[2020-09-29 11:47] al-cheb commented on #1682
Hello, @martingemme
Could you please provide image version which you are using? I can't reproduce the issue:

Current image version: '20200920.1'
![image](https://user-images.githubusercontent.com/47745270/94554280-88cb2f80-0262-11eb-8aed-f69e44d2956c.png)

Current image version: '20200927.0'
![image](https://user-images.githubusercontent.com/47745270/94554389-aac4b200-0262-11eb-8146-ca918c1712a2.

[2020-09-29 12:13] hakkurishian opened #1697 "Unable to find a destination matching the provided destination - missing older iOS Simulators in latest XCode"
**Description**
Latest Xcode Versions can only run latest iOS Simulators. This makes automated testing on older iOS versions impossible, when older XCode versions are not able to build the products.

**Area for Triage**:

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Ubuntu 16.04 LTS
- [ ] Windows Se

[2020-09-29 12:25] maxim-lobanov commented on #1697
Hello, it is expected behavior. For now, we don't pre-install additional simulators. By default, Xcode contains simulators only for single version. Related discussion in https://github.com/actions/virtual-environments/issues/551 contains some workarounds that can help to use simulators from different Xcode or install simulators in runtime.

Closing in favor of #551

[2020-09-29 12:25] #1697 closed

[2020-09-29 12:50] hakkurishian commented on #1697
@maxim-lobanov. Thank you for the quick advice, the related discussion in #551 really helped and matches my request.

[2020-09-29 14:15] ramtechjoe opened #1698 "macOS needs Xamarin.iOS 14.0"
The latest upgrade to Visual Studio is at Xamarin.iOS 14.0.0.  However, this is not included in the current macOS 10.15 image.  This causes builds to fail if built on the latest Visual Studio and using macOS 10.15 build host (e.g., Add Center)

[2020-09-29 14:26] maxim-lobanov commented on #1698
Hello, Xamarin.iOS 14.0 has been already added to image-generation scripts: https://github.com/actions/virtual-environments/pull/1663
The new image with Xamarin.iOS 14.0 will be deployed in a week.

[2020-09-29 14:46] ramtechjoe commented on #1698
Thank you for the fast response and update.  I had seen that issue but wasn't clear because it showed merged but I didn't see the updated vm image.  Thank you for letting me know the schedule of the release and clarifying the issue.

[2020-09-29 14:47] maxim-lobanov commented on #1698
@ramtechjoe , if you don't mind, let's keep your issue opened with `awaiting-deployment` label until new image with Xamarin is deployed everywhere.

[2020-09-29 14:50] ramtechjoe commented on #1698
Sounds good!

[2020-09-29 15:55] matthewfeickert commented on #1691
That's great to hear. Thanks for this important work.

At the moment I'm still seeing issues with the `macos-latest` environments for [`scikit-hep/pylhe`](https://github.com/scikit-hep/pylhe) (I'm trying to restart the jobs that didn't start their workflows). However, things seem fine for [`scikit-hep/pyhf`](https://github.com/scikit-hep/pyhf) now.

[2020-09-29 16:50] felixtsem5 commented on #1671
@dibir-magomedsaygitov Can you please let us know when this will be available? I just checked in Azure Pipelines and the latest is still 4.6.0. Thanks!

[2020-09-29 17:11] Elvis-Shi commented on #1678
@AlenaSviridenko, we don't have a standalone setup for this yet, we know what need to be installed, will create a script, or a MSI to install these files. It is not whole BizTalk, not even the dev tools feature, but a subset of dev tools(only necessary files needed for build).

[2020-09-29 18:06] SaumitraVerma opened #1702 "Direct access to command line."
Is there a way to give real time commands and build

[2020-09-29 18:08] martingemme commented on #1682
I'm unsure which image version, we're using our own yyyy.mm.ddBuildNumber scheme.

As stated I'm currently at commit 956f9257505d3d10e63220e93da37dfd37a55778 (not too far behind).

Is there something I could try? We have the same scripts

[2020-09-29 18:11] alepauly commented on #841
@caixw @zhanghongtong apologies for the delay looking, is the issue still occurring?

[2020-09-29 18:19] alepauly commented on #841
@TobKed, @Salakar, @tysonite, @cytopia, @mratsim  (and others I might have missed) - sorry for the delay. are your projects still experiencing this issue? We've done some work to minimize the cases where this can happen, note that this happens when sometimes the runner running your workflow stops communicating with the service so logs and other artifacts might become unavailable.

[2020-09-29 19:13] martingemme commented on #1682
I updated our repo with the latest and will post back if main (at the time of writing https://github.com/actions/virtual-environments/commit/854d90d2058963f1e3cc0c7c404857aa9c898910) has fixed it.

[2020-09-29 23:11] zhanghongtong commented on #841
Hi, @alepauly
For me, this issue has not happened again, thank you

[2020-09-30 04:36] maxim-lobanov commented on #1702
No, there is no way to get real time access to build machines.
Related issue: https://github.com/actions/virtual-environments/issues/924

[2020-09-30 04:36] #1702 closed

[2020-09-30 05:00] martingemme commented on #1682
Unfortunately still the same issue. I'm at 854d90d

[2020-09-30 07:20] ausfestivus commented on #1120
Hey @Darleev. Appreciate the poke.
Im currently in a launch run up this week and next. Im unlikely to get time allocated to review this till after that. Unless some time in my schedule becomes available in which I will look at it sooner.

Sorry mate.

[2020-09-30 07:22] al-cheb commented on #1682
@martingemme , Could you please provide output with `whoami /groups`?

[2020-09-30 07:39] al-cheb commented on #1605
Feel free to open the thread if you have any concerns.

[2020-09-30 07:47] BrightRan opened #1703 "HttpError: You have triggered an abuse detection mechanism."
Associated GitHub Community ticket: https://github.community/t/abuse-detection-mechanism-prevent-running-test/134996

The customer has a step to execute the "[lots0logs/gh-action-get-changed-files](https://github.com/lots0logs/gh-action-get-changed-files)" action to list the changed files on a PR.
Recently, this action goes to failure with the following error (see [here](https://github.com/apache/

[2020-09-30 07:49] BrightRan commented on #1703
Also see the issue ticket ([lots0logs/gh-action-get-changed-files#14](https://github.com/lots0logs/gh-action-get-changed-files/issues/14)) I reported in the action repository.

[2020-09-30 08:09] tysonite commented on #841
@alepauly, somehow strangely [failed](https://github.com/tysonite/robotframework/runs/1183963653) just yesterday. However not sure if it is related to this issue.

[2020-09-30 09:52] raviteja12345 opened #1704 "Unable to extract the msi file using msiexec in windows 2019 hosted agents"
**Description**
We are facing an issue while trying to extract the msi using msiexec command with arguments /quiet /passive /qn

**Area for Triage**:
The only thing that is changed is the Agent version. The previously working build and currently failing build versions are like this:
![image](https://user-images.githubusercontent.com/51077849/94670258-f2fdd600-032f-11eb-8f7e-a30971be1028.png)

**Qu

[2020-09-30 11:20] kkl-acies commented on #1398
So according to [the doc](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md) both Go 1.14.9 and Go 1.15.2 is installed in the Ubuntu 20.04 image. How do I use Go 1.15.2? Do I need to call a specific command?

[2020-09-30 11:32] maxim-lobanov commented on #1398
@kkl-acies , you should use https://github.com/actions/setup-go task to switch between pre-installed Go versions

[2020-09-30 11:53] alepauly commented on #841
Thanks @tysonite, we'll look into it and let you know.

[2020-09-30 12:07] ABBAPOH commented on #1679
We've found a workaround. Apparently, Qt thinks that there is no console attached to the app (which is case when app is run from IDE, for example). It is possible to force console logging by setting QT_FORCE_STDERR_LOGGING=1 or QT_ASSUME_STDERR_HAS_CONSOLE=1.

[2020-09-30 12:07] #1679 closed

[2020-09-30 12:33] st3fan commented on #1659
@maxim-lobanov You can download the 12.0.1 XIP file from https://developer.apple.com/download/more/

Direct link at https://download.developer.apple.com/Developer_Tools/Xcode_12.0.1/Xcode_12.0.1.xip

(This download page is not very discoverable - but it is the 'old' downloads list with all packages, including Xcode versions that go back years)

[2020-09-30 12:38] dsame commented on #1704
@raviteja12345, please try to issue the command `icacls "C:\Windows\Temp" /q /c /t /grant Users:F /T` before expanding the msi.

For example add a step:

[code]

[2020-09-30 12:40] maxim-lobanov commented on #1659
@st3fan , thank you, looks like it was added recently.

Do we really need to add 12.0.1 to images?
The release notes state the following:
[code]
Link: https://developer.apple.com/documentation/xcode-release-notes/xcode-12_0_1-release-notes

This update fixes an issue that could cause Xcode to crash when viewing documentation
As this appears to be the only change, it appears immaterial for CI envir

[2020-09-30 13:57] jamtur01 commented on #1605
Has the issue been resolved and can we remove the workaround?

[2020-09-30 14:01] raviteja12345 commented on #1704
Thanks.!. Its working now after i add the above mentioned step.

[2020-09-30 15:37] nuttycom commented on #841
This is happening for me as well.

[2020-09-30 16:09] martingemme commented on #1682
@al-cheb
![Capture](https://user-images.githubusercontent.com/2473921/94711216-d3f24a80-0315-11eb-8478-79a5bbe1f022.PNG)

[2020-09-30 17:21] martingemme commented on #1682
![Capture](https://user-images.githubusercontent.com/2473921/94718525-d8236580-031f-11eb-89d8-c2b03c219933.PNG)
@al-cheb

[2020-09-30 17:54] al-cheb commented on #1605
@jamtur01, Looks like the issue doesn't reproduce on the new image:
[code]

[2020-09-30 18:00] al-cheb commented on #1682
@martingemme, Try to provide full permissions:

[code]

[2020-09-30 19:09] martingemme commented on #1682
![image](https://user-images.githubusercontent.com/2473921/94728802-c5645d00-032e-11eb-95ed-28238dfcf7aa.png)
Unfortunately, the command didn't work. Thanks for the help so far!

[2020-09-30 20:06] al-cheb commented on #1682
@martingemme, As  we can see above your token has `Mandatory Label\Medium Mandatory Level` = standard user rights. You should run process with `Mandatory Label\High Mandatory Level`=administrator rights. During image generation we disable UAC - https://github.com/actions/virtual-environments/blob/9110b389998666dc0c6a8e9abd9400248bad8dba/images/win/scripts/Installers/Initialize-VM.ps1#L28

[2020-09-30 20:45] martingemme commented on #1682
We're using VMSS with the Re-image turned on in Azure DevOps. Therefore we do not go into the agents and there is actually in the script the execution of Disable-UserAccessControl at https://github.com/actions/virtual-environments/blob/9110b389998666dc0c6a8e9abd9400248bad8dba/images/win/scripts/Installers/Initialize-VM.ps1#L69

(I believe) The Task Scheduler is also managed by Azure DevOps (and in

[2020-09-30 21:09] martingemme commented on #1682
I confirm that the user is not running the powershell script with admin rights.

The question I thus have if I built the image from your source: Why doing az pipelines list fails because az cli can't access a directory? shouldn't any user be able to run the az cli? why do I need admin rights to run az cli?

[2020-09-30 22:42] martingemme commented on #1682
[code]
![image](https://user-images.githubusercontent.com/2473921/94747376-bab8c080-034c-11eb-8501-bd3a2c043e0b.png)

[2020-10-01 06:07] al-cheb commented on #1682
UAC - https://docs.microsoft.com/en-us/windows/security/identity-protection/user-account-control/how-user-account-control-works

When an **administrator logs on**, **two separate access tokens are created for the user: a standard user access token and an administrator access token**. The standard user access token contains the same user-specific information as the administrator access token, but *

[2020-10-01 08:08] vsafonkin commented on #1652
Hello, I've installed Swift 5.3 on Windows image in GitHub Actions and I have important clarification: Swift installation requires about 2.9 Gb: [link, see `Install Swift 5.3` step](https://github.com/vsafonkin/test-repo/runs/1192122462?check_suite_focus=true)

cc: @maxim-lobanov , @AlenaSviridenko

[2020-10-01 08:36] AlenaSviridenko commented on #1652
Hi @MaxDesiatov, considering the size of Swift 5.3 we'd like not to keep it on the image. Installation in runtime takes ~2 minutes, here are installation steps:
[code]

Does this installation in runtime work for you?

[2020-10-01 09:04] MaxDesiatov commented on #1652
That's fine, thank you. I hope it could be embedded in the image at some point in the future after all.

[2020-10-01 11:27] AlenaSviridenko opened #1712 "Default Xcode will be changed to Xcode 12.0.1 on October, 20"
### Breaking changes
Default Xcode version will be switched from 11.7 to 12.0.1

### Target date
Deployment of these changes will be started on 20 October and will take a few days.

### The motivation for the changes
We would like to provide the latest stable Xcode by default on images. Also it will mitigate compatibility issue with Xamarin.iOS 14.0.

### Possible impact
If you use default Xcode v

[2020-10-01 18:47] alepauly commented on #841
@tysonite, the run you link seems to be a different problem - we'll dig a bit deeper to see what happened.

@nuttycom do you mind sharing run url so we can check?

[2020-10-01 22:17] martingemme commented on #1682
@al-cheb Thanks for the input!

For the people that would like to fix it for their own, we have a VMSS so the fix was to disable (or toggle off) "Configure VMs to run interactive tests" like so:
![image](https://user-images.githubusercontent.com/2473921/94869000-519b8080-0412-11eb-8928-1386c8f563db.png)

Thanks @al-cheb again!

[2020-10-01 22:17] #1682 closed

[2020-10-02 00:08] Cyb3r-Jak3 opened #1716 "Unable to get PyPy3 to install"
**Description**
Pypy versions appear to be missing from the setup-python action but are but show as cached tools. This is causing jobs using pypy to fail,

**Area for Triage**:
  contains: 'Python'
  addLabels: ['Area: Python']

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [X] macOS 10.15
- [X] Ubuntu 16.04 LTS
- [X] Ubuntu 18.04 LTS
- [X] Ubuntu 20.04 LTS
- [X] Windows Ser

[2020-10-02 00:39] compnerd commented on #1652
Hmm, it would be nice to be able to enable that from the default GitHub actions template.  @AlenaSviridenko do you know if actions/starter-workflows has any requirements for tooling to be pre-installed?

[2020-10-02 02:01] classabbyamp opened #1717 "can't get git tag annotation"
**Description**
`git tag -l --format='%(subject)' <tag name>` returns the commit message, not the tag subject. `git tag -l --format='$(body)' <tag name>` returns the commit body (if it exists), not the tag body (if it exists).

Related to actions/runner#712

**Area for Triage**: Git

**Question, Bug, or Feature?**:  Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
-

[2020-10-02 02:01] kaisun2000 commented on #1703
Any updates. Till today, I still get this error blocking me from running tests in workflow config-ed.

https://github.com/kaisun2000/helix/runs/1196686202?check_suite_focus=true

[2020-10-02 02:17] classabbyamp commented on #1717
Also note that the expected behaviour happens when running the `git tag -l` commands on my local arch and ubuntu machines, which have the same git version as the github workflow runners.

[2020-10-02 02:31] compnerd commented on #1652
BTW, the snippet that was provided doesn't really work entirely as the path adjustment is insufficient and it doesn't setup the VSDevEnv.

[2020-10-02 03:59] henryiii commented on #1716
I've been using these for a while, they worked an hour ago: https://github.com/pybind/pybind11/runs/1196848139?check_suite_focus=true

Wrong spelling, perhaps?

I'd love to see 7.3.2, though. ;)

[2020-10-02 04:03] henryiii commented on #1716
Unlike normal Python, GHA can't install arbitrary versions of PyPy. It's hard to even write versions of pypy since there's 2 and now 3 (with 3.7 alpha) versions of Python mixed with the PyPy version.

[2020-10-02 04:43] maxim-lobanov commented on #1716
@Cyb3r-Jak3 , yes, @henryiii is absolutely right.
You can't specify exact pypy version as task input. It is by design for now.
See related code: https://github.com/actions/setup-python/blob/main/src/find-python.ts#L176

[2020-10-02 05:03] caixw commented on #841
Thanks @alepauly, for me, this issue has not happened again.

[2020-10-02 05:27] maxim-lobanov commented on #1703
@BrightRan, I don't think that it is correct place for this issue. We own only content of Hosted images in this repository and we are not familiar with rate limits.

@kaisun2000 , I believe it is an issue with third-party action that you use `gh-action-get-changed-files`. On the quick look, it does N requests to server on every push to your PR where N is number of commits in your PR: https://githu

[2020-10-02 06:46] al-cheb commented on #1542
Example: https://github.community/t/matplotlib-qt-backend-not-working/129635/10?u=al-cheb

[2020-10-02 06:46] #1542 closed

[2020-10-02 06:47] vsafonkin commented on #1652
Hi @compnerd , I thought it was not necessary to do this when installing using the installer.exe, is this incorrect?

Hi @compnerd , I thought it was not necessary to do this when installing using the installer.exe, is this incorrect?

[2020-10-02 06:48] al-cheb commented on #1682
@martingemme, Thank you for providing resolution.

Put small notes - https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops
Configure VMs to run interactive tests (Windows Server OS Only) - Windows agents can either be configured to run unelevated with autologon and with interactive UI, or they can be configured to run with elevated permissions. **Check t

[2020-10-02 07:29] jopdE6vovgedsahzux opened #1719 "Update/Add [tool name]"
**Tool information**
- Tool name:
- Tool license:
- Add or update?
- Desired version:
- Approximate size:
- If this is an add request:
  - Brief description of tool:
  - URL for tool's homepage:
  - Provide a basic test case to validate the tool's functionality:

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ]

[2020-10-02 08:12] andy-mishechkin commented on #1719
We need the detailed description of requested tool

[2020-10-02 08:12] #1719 closed

[2020-10-02 09:55] AlenaSviridenko commented on #1652
Hi @compnerd,
not sure about any requirements for starter-workflows as we don't maintain that repo, I think the suggested tool installation should be just reasonable to add to starter workflows.
However, there are a bunch of setup-swift tasks on marketplace, for example, [this one](https://github.com/marketplace/actions/setup-swift) where you can specify the version of Swift to be installed. Proba

[2020-10-02 09:55] #1652 closed

[2020-10-02 10:07] SamAchten commented on #1671
Is there a workaround while we wait for the fix? Our pipelines broke...

[2020-10-02 10:09] PaulVrugt commented on #1671
@SamAchten the workaround is to revert to azure powershell 4.4. You can do this by using the following properties in the AzurePowerShell@5 task:

[code]

[2020-10-02 10:13] AlenaSviridenko commented on #1665
Hi @MarcoEidinger,
this tool can be installed in runtime via `brew install xcbeautify` in less than a minute. Considering this fact, we wouldn't like to pre-install it on the image. We are trying not add tools that are easily installed in runtime due to maintenance reasons.

I will close this issue. Please, feel free to open a new one in case of any questions.
Thanks.

[2020-10-02 10:13] #1665 closed

[2020-10-02 10:19] AlenaSviridenko commented on #1678
Hi @Elvis-Shi, could you please clarify few unclear moments about this tool:
1. What is the expected tool size? For tools more than 700-800 Mb — we are usually considering the tool popularity before making a decision whether to add it or not, as this is a significant size.
2. What is the expected tool popularity?
3. Will it be an installation binary or a workload/component for Visual Studio?
4. Ha

[2020-10-02 10:20] SamAchten commented on #1671
That worked! 🥳 Thanks

[2020-10-02 12:19] jiridanek commented on #45
For anybody wondering how to run a workflow in a docker image, the answer is https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idcontainer. You'd use ubuntu image in the `runs-on`, but then you also specify a container to be started on that ubuntu, to run your steps.

[2020-10-02 12:24] ekohl commented on #45
https://github.com/pulp/pulpcore-selinux/commit/41d4bba87fcbb174f7c24dccce7e8891b5856d66 is an example of how to compile SELinux policies on CentOS 7 and 8. Since it's still running on an Ubuntu kernel, you obviously can't actually load the policy to see if it would work. A real VM is needed for that. However, it can provide a decent base line test.

[2020-10-02 12:48] vsafonkin commented on #1717
Hello @classabbyamp , I believe the point is that the task `actions/checkout` fetches only last commit object from repository by default. For example, you will see error, if you tried `git checkout v1.0.0`.  In order to avoid it, you can set the `fetch-depth` parameter on the task (get all history for all branches and tags):
[code]
It's worked as expected: [link](https://github.com/vsafonkin/git-t

[2020-10-02 13:19] dibir-magomedsaygitov commented on #1671
Hello everyone! Sorry for the delay, new Windows Images with updated Azure Powershell should be available next week.

[2020-10-02 14:52] classabbyamp commented on #1717
Setting `fetch-depth: 0` did not solve it for me, but this did (it works at all `fetch-depth`s, tested for 0-10):

[code]

[2020-10-02 17:16] kaisun2000 commented on #1703
@maxim-lobanov. My pull request has 500 commits history. Let me try to "squash" them to see if that would help.

[2020-10-02 18:21] compnerd commented on #1652
It is still required with the installer.  The environment variables that the developer command prompt sets up are needed (primarily the `INCLUDE` and `LIB` variables) to find the system headers and libraries.

Ah, nice, that would certainly be preferable, thanks!

[2020-10-02 18:56] rnorth commented on #1445
@chrispat sorry to press on this, but is there any news on solutions to the forked repo problem I mentioned [above](https://github.com/actions/virtual-environments/issues/1445#issuecomment-684539064)?

[2020-10-02 22:56] Cyb3r-Jak3 commented on #1716
Yup, I was able to get it to work now. My issue is that when I was starting, I was converting from Travis CI. That format is `pypy` for `pypy2` and `pypy3` for `pypy3`.

Thanks all for your help!

[2020-10-02 22:56] #1716 closed

[2020-10-03 20:36] dclong opened #1722 "Unable to download Spark in the windows-latest"
**Description**
A clear and concise description of what the bug is, and why you consider it to be a bug.
My GitHub action workflow needs to download Spark from https://archive.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz using the standard Python library `urllib`. The pipeline always succeed on `ubuntu-latest` but always fails on `windows-latest`.

**Area for Triage**:

**Questi

[2020-10-04 01:17] gouaic opened #1723 "Mac"
**Description**
A clear and concise description of what the bug is, and why you consider it to be a bug.

**Area for Triage**:

**Question, Bug, or Feature?**:

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
A description of what you expected to ha

[2020-10-04 12:14] vsafonkin commented on #1717
@classabbyamp , great, if your problem is resolved, you can close this issue. Thank you!

[2020-10-04 17:26] #1717 closed

[2020-10-05 04:30] Steven0351 opened #1725 "Update/Add Xcode 12 beta 2"
The Xcode 12 beta 2 bundled Swift toolchain contains a patch for the Swift Package Manager that prevents Swift Package tests from crashing when accessing Swift Package resources (aka files bundled with the package): https://github.com/apple/swift-package-manager/pull/2905

Not sure if this is already on the todo list, but it would be much appreciated if this could be added.

**Tool information**
-

[2020-10-05 04:31] maxim-lobanov commented on #1725
@Steven0351 , it is in our TO-DO list.
It should be deployed during this week

[2020-10-05 05:54] dibir-magomedsaygitov commented on #1723
Hello @gouaic!
Could you please reopen the issue with proper description. I'm going to close this one. Thank you!

[2020-10-05 05:54] #1723 closed

[2020-10-05 06:56] maxim-lobanov commented on #1688
Note: 11.4.0 is deprecated in favor of 11.4.1 and symlink will be created

[2020-10-05 09:21] BrightRan opened #1732 "GitHub Action - Workflow - Python Package Using Conda"
Associated GitHub Community: https://github.community/t/github-action-workflow-python-package-using-conda/135322

The customer created a workflow (see [here](https://github.com/psilons/pypigeonhole-simple-utils/blob/master/.github/workflows/python-package-conda.yml)) with a conda [environment.yaml](https://github.com/psilons/pypigeonhole-simple-utils/blob/master/environment.yaml) to install some 3

[2020-10-05 10:12] ausfestivus commented on #1120
Hey @Darleev, some time did turn up. I had one scheduled run which failed in one landscape.

[code]

I re-ran the job and it finished fine. Here is the output from the job:

[code]

Hope that helps.

[2020-10-05 11:47] FrancescElies opened #1733 ".NET core: DotNetCoreCLI takes suddenly too long"
**Description**

DotNetCoreCLI@2 is suddenly extremely slow around 30 minutes without any code changes.
[example build (not open source)](https://mbbm-ast.visualstudio.com/AST/_build/results?buildId=40887&view=logs&j=478d6457-175a-5a6d-2808-da0dbe793335&t=5647d006-93ac-5ad2-cb47-052317d432cb)

Could someone help me understand if we are doing something wrong or something is going on with the window

[2020-10-05 11:59] dibir-magomedsaygitov commented on #1733
Hello, @FrancescElies!
Thank you for your report. Could you please provide minimal repro steps since we don't have permissions to build that you have linked.

[2020-10-05 12:01] samcoe opened #1734 "Update gh mac homebrew formula name"
**Tool information**
- Tool name: gh
- Tool license: MIT License
- Add or update? Update
- Desired version: Latest
- Approximate size:

**Area for Triage**:

Bug

**Question, Bug, or Feature?**:

`gh` is currently being installed using the homebrew formula `github/gh/gh`

https://github.com/actions/virtual-environments/blob/7fe98f7934a70fc53b394f3f494ae6a25d6bedf2/images/macos/provision/core/commo

[2020-10-05 12:12] FrancescElies commented on #1733
This is the task we are using. more details about what we are doing I cant post it here.
[code]

Image version Infos:
[code]

[2020-10-05 12:13] maxim-lobanov commented on #1734
@samcoe Sure! Feel free to submit PR

[2020-10-05 12:22] LeonidLapshin commented on #1470
Hi, @MarikoNakazawa
I'll close the issue for now, but if the provided workload for Visual Studio Enterprise works for you, feel free to reopen this ticket and we will add it to the image.
Thank you!

[2020-10-05 12:22] #1470 closed

[2020-10-05 12:36] LeonidLapshin commented on #1666
@Ginxo, @BrightRan
Could you please provide a feedback for the provided workaround?
Thank you!

[2020-10-05 12:41] dibir-magomedsaygitov commented on #1733
@FrancescElies Thank you for the provided information. Looks like your issue is not related to the image since it has not been updated for a long time. We do not have much context about this task since they are maintained by https://github.com/microsoft/azure-pipelines-tasks.

[2020-10-05 13:11] FrancescElies commented on #1733
@dibir-magomedsaygitov thanks for your reply. I will open an issue an reference this one on that repo.

ℹHere I have two example builds that shows the problem:
- [This build](https://mbbm-ast.visualstudio.com/AST/_build/results?buildId=40898&view=logs&j=478d6457-175a-5a6d-2808-da0dbe793335&t=5647d006-93ac-5ad2-cb47-052317d432cb): unittest takes less than 1 minute.
- [This build](https://mbbm-ast.v

[2020-10-05 13:28] dibir-magomedsaygitov commented on #1733
In this case I`m going to close this issue. If you will have any questions feel free contact us.

[2020-10-05 13:28] #1733 closed

[2020-10-05 13:52] Darleev commented on #1120
Hello @ausfestivus,
Thank you for the detailed response, very appreciate it.
Could you please provide a region and build machine configuration?
We are looking forward to your reply.

[2020-10-05 15:14] AlenaSviridenko commented on #1587
Hi @shff,
based on community feedback, this package is not highly required as a pre-installed package, so we'd like not to add it on the images. I am going to close this issue. Please, feel free to open new one in case of any other questions.

Thanks!

[2020-10-05 15:14] #1587 closed

[2020-10-05 17:13] Elvis-Shi commented on #1678
Elvis: As i mentioned above, we don't need to install the whole BizTalk, just the build support, should be less than 100M.

Elvis: Not sure how to detail the popularity. BizTalk has customers around the world during the last 20 years. Most of our customers are enterprise customers.

Elvis: We will firstly consider a vsix for Visual studio, but probably will be an MSI and a vsix.

Elvis: This will

[2020-10-05 21:39] ausfestivus commented on #1120
Region: australiaeast
Machine: Standard_DS2_v2

[2020-10-06 04:41] maxim-lobanov commented on #1734
@samcoe , PR has been merged. The next image will use gh cli from updated formulae

[2020-10-06 05:04] prclqz90 commented on #1609
It's definitely an concern if forks can get access through this. Do you have any solution? Or this feature will only work for non-fork repos?

[2020-10-06 06:01] Ginxo commented on #1666
Hi @LeonidLapshin @BrightRan
at the beginning we thought it was due to the environment (GA runner), and it was, but could check it was not only happening there. So we open a ticket https://issues.redhat.com/browse/JBPM-9402 in our side and after this PR https://github.com/kiegroup/droolsjbpm-integration/pull/2261/files the job is working https://github.com/kiegroup/droolsjbpm-integration/runs/1207

[2020-10-06 06:27] #1734 closed

[2020-10-06 06:59] BrightRan opened #1738 "Duplicated and extra matrix jobs generated when using macOS runner"
Associated GitHub Community ticket: https://github.community/t/specific-workflow-runs-keeps-failing-with-an-internal-error-on-macos/135997

The customer set a matrix in his workflow like as below:
[code]
According to the matrix configurations, it should only generate 2 matrix jobs:
* **`macOS + vcpkg (GUI=ON)`** runs on **`macos-10.15`**
* **`macOS + vcpkg (GUI=OFF)`** runs on **`macos-10.15`**

B

[2020-10-06 07:17] maxim-lobanov commented on #1738
@BrightRan, I don't think that it is correct place for this issue. This repo holds issues with content of Hosted images and we don't own service issues.

P.S. I could be wrong but it is something that https://github.com/actions/runner owns.

[2020-10-06 08:18] dsame commented on #1722
It looks apache mirros have some downtime now, i checked the URL's and some of them either have certificate problems or refuse to connect

[code]

[2020-10-06 08:29] cclauss commented on #1518
@maxim-lobanov You folks are working on a release for https://www.python.org/downloads/release/python-390/ ?

[2020-10-06 08:30] maxim-lobanov commented on #1518
Yep, it is on our backlog

[2020-10-06 08:30] hugovk opened #1740 "Add Python 3.9"
**Tool information**
- Tool name: Python 3.9.0 final
- Tool license: Python Software Foundation License docs.python.org/3/license.html
- Add or update? Add
- Desired version: 3.9.0, and latest 3.9.x when available
- Approximate size:
- If this is an add request:
  - Brief description of tool: The newest version of Python
  - URL for tool's homepage: https://www.python.org/download/pre-releases/

[2020-10-06 08:32] LeonidLapshin commented on #1187
Hey, @LouisCAD @iamrecursion
I'll close the issue, but if the problem persist, feel free to open a new one :)

[2020-10-06 08:32] #1187 closed

[2020-10-06 08:33] AlenaSviridenko commented on #1678
Hi @Elvis-Shi,
thank you for the detailed response, we will definitely keep in mind this tool and consider its pre-installation on the image.

But since ETA on this tool is not clear, we would like not to keep this issue open in the repository. I will close it if you don't mind, please, create a new one when the details are clear and will start working on it.

Thanks!

[2020-10-06 08:33] #1678 closed

[2020-10-06 08:40] dsame commented on #1691
@matthewfeickert ,I see the workflows are restored now and issue can be closed, feel free to open new issue in case of problems

[2020-10-06 08:40] #1691 closed

[2020-10-06 08:41] dibir-magomedsaygitov commented on #1740
Hello, @hugovk!
Thank you for your request. We are already working on adding python 3.9 on our images. I will post update message when python 3.9 is available to use.

[2020-10-06 08:42] #1666 closed

[2020-10-06 09:53] maxim-lobanov commented on #1738
@dakale , @ericsciple @TingluoHuang @thboop could you take a look and transfer if it is related to runner?

[2020-10-06 11:38] dmitry-shibanov commented on #1732
Hello @BrightRan ,as I saw in the github community conversation customer has got an appreciate [answer](https://github.community/t/github-action-workflow-python-package-using-conda/135322/5) for his issue, that it could be resolved by running `conda run`. I think the issue can be closed, but feel free to reopen it if you have any concerns.

[2020-10-06 11:38] #1732 closed

[2020-10-06 11:39] dmitry-shibanov commented on #1675
Hello @hutson , just a gentle ping.

[2020-10-06 12:35] AlenaSviridenko opened #1743 "Obsolete Android build-tools packages will be removed from Ubuntu images on October, 20"
Hey 👋!

Currently, we are installing a bunch of Android build-tools packages that are marked as obsolete. We are going to stop installing them on images starting of October, 20.

List of packages to be removed:
- 17.0.0
- 18.0.1, 18.1.0, 18.1.1
- 19.0.0, 19.0.1, 19.0.2, 19.0.3
- 21.0.0, 21.0.1, 21.0.2, 21.1.0, 21.1.1
- 22.0.0
- 23.0.0

If you have any concerns or questions — please let us know thr

[2020-10-06 13:57] maxim-lobanov commented on #1740
Hello everyone, Python 3.9 is already available on GitHub Actions via [setup-python](https://github.com/actions/setup-python) task (It is not pre-cached on image yet, so it will be installed on-flight with minor latency):
[code]

We also going to deploy new image with pre-cached Python 3.9 next week.

[2020-10-06 14:26] hugovk commented on #1740
Confirmed it's now available on GHA, thank you!

<img src=https://user-images.githubusercontent.com/1324225/95213385-6eabc700-07f7-11eb-85a6-2c650609246b.png width=50%>

Took ~10s to install on Linux, ~60s on macOS and ~51s on Windows, not a problem for me, and good to hear the pre-cached images is coming soon.

https://github.com/hugovk/test/runs/1215290584?check_suite_focus=true

[code]

[2020-10-06 14:29] juliobbv commented on #1738
I'll be taking a look at this item today or tomorrow. I don't have perms to transfer/assign this issue to myself, but I'll keep an eye on it.

[2020-10-06 15:15] ritchiecarroll opened #1744 "C++ boost default installation missing 'boost/uuid/uuid.hpp'"
**Description**
The default C++ boost installation missing is missing `uuid` include only headers, i.e., `C:\hostedtoolcache\windows\Boost\1.72.0\x86_64\boost\boost\uuid\uuid.hpp`

**Area for Triage**:
C/C++

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [X

[2020-10-06 17:08] Elvis-Shi commented on #1678
Are we get an approval for this, and can start to create our tool setup and raise a pull request? or what else information do you need before that?

[2020-10-06 17:23] lpalerm commented on #1671
Do you have a date when this will be updated?

[2020-10-06 17:53] junyuan-z opened #1745 "Python 3.8 does not have SSL module on macOS agent"
**Description**
We are running into a problem related to the SSL module on macOS agent.

Previously we download files like this:

[code]

the URL could be HTTP or HTTPS.

starting from October 5th we are running into issues related to SSL module

[code]

I think this may have something to do with the macOS base image.

**Area for Triage**:  Python

**Question, Bug, or Feature?**:  Bug

**Virtual e

[2020-10-06 18:27] freeman opened #1746 "Add kubelogin"
**Tool information**
- Tool name: Kubelogin
- Tool license: MIT
- Add or update? Add
- Desired version: latest (0.0.6)
- Approximate size: 15MB
- If this is an add request:
  - Brief description of tool: Allows non interactive logins to AKS clusters with managed AAD integration
  - URL for tool's homepage: https://github.com/Azure/kubelogin/
  - Provide a basic test case to validate the tool's fun

[2020-10-06 18:32] junyzheng commented on #1745
Figured out the problem. There are 2 OpenSSL installed on macOS agent: 1.0.2 and 1.1.1. The 1.0.2 OpenSSL is linked to `/usr/local/bin`. However, because it is an older formula comparing to 1.1.1, it will be removed if users run `brew install` first. I am proposing to clean up the installed OpenSSL library on the macOS agent.

[2020-10-06 18:50] dclong commented on #1722
@dsame I confirm that it is no longer an issue any more. Thank you very much!

[2020-10-06 18:50] #1722 closed

[2020-10-06 19:35] st3fan commented on #1659
Hmm now I am not sure actualy. I thought 12.0.1 was required for app store submissions, but maybe there was instead a difference between 12.0.0GM and 12.0.0 ? Sorry for the confusion.

[2020-10-06 22:53] charris commented on #1740
Commenting for followup postings.

[2020-10-07 04:23] hugovk commented on #1740
@charris tip for next time: no need to comment to subscribe to followup postings, there's also a Subscribe button, which also avoids notifying dozens of issue and repo watchers :)

[2020-10-07 06:48] dibir-magomedsaygitov commented on #1746
Hello, @freeman!
Thank you for your request. Could you please specify on what OS versions you would liked to add this tool?

[2020-10-07 07:54] alexanderkasten commented on #736
I have the same problem on macOS https://github.com/atlas-engine/AtlasStudio/runs/1215960239.
<img width="1657" alt="Bildschirmfoto 2020-10-07 um 09 52 58" src="https://user-images.githubusercontent.com/17065920/95303045-04406880-0883-11eb-810f-ceea6bc9e6e4.png">

[2020-10-07 08:10] bladeoner commented on #1591
When will the Ubuntu 20.04 image with Python 3.8 be available?

Thanks in advance.

[2020-10-07 09:30] mmuffins opened #1754 "Support for Gen2 Azure VMs"
Hi,
the images for windows and linux are currently built using VM sizes Standard_D4_v2 and Linux Standard_DS2_v2, respectively. Are there any plans (or concerns) to switch to a comparable VM size that supports Azure VM generation 2, e.g. Standard_DS4_v2?

While it probably wouldn't have any direct advantages for the created image, it would future-proof it and give organizations the choice of what

[2020-10-07 11:52] bladeoner commented on #1591
Hi there, when will the new image with Python 3.8 go live?

[2020-10-07 13:36] maxim-lobanov commented on #1591
@bladeoner , 3.8 is already in image for a long time: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#python

[2020-10-07 13:51] bladeoner commented on #1591
How can I point to that image?

I'm using the following in my YML file:

jobs:
  build:
    name: ubuntu-20.04
    runs-on: ubuntu-20.04

Or do I need to define **container:** ?
The container command is already pointed to something else.

[2020-10-07 13:54] maxim-lobanov commented on #1591
@bladeoner No containers are needed. You should follow official documentation and examples: https://docs.github.com/en/free-pro-team@latest/actions/guides/building-and-testing-python#using-a-specific-python-version

[2020-10-07 13:58] FranciscoPombal opened #1757 "Update Ubuntu images packages more frequently and/or run "sudo apt update && sudo apt upgrade" as part of job setup"
**Description**

Recently, I observed the following job failures on Ubuntu 18.04:

https://github.com/qbittorrent/qBittorrent/runs/1220463176?check_suite_focus=true
https://github.com/qbittorrent/qBittorrent/pull/12086/checks?check_run_id=1220615532

At first I thought it was a spurious error, but then I realized that the true cause was outdated packages/package lists.

My solution was to add `sud

[2020-10-07 14:11] bladeoner commented on #1591
@maxim-lobanov Thank you for your quick response and information I will dive into that.

[2020-10-07 14:45] dsame commented on #1744
@ritchiecarroll, i advise you too change your settings
[code]
to
[code]

JFI, the uuid header files reside in these paths:

BOOST_ROOT_1_72_0/include/boost/uuid/uuid.hpp
BOOST_ROOT_1_72_0/include/boost-1_72/boost/uuid/uuid.hpp
BOOST_ROOT_1_72_0/libs/uuid/include/boost/uuid/uuid.hpp

Please confirm, this help

[2020-10-07 14:47] maxim-lobanov commented on #1725
Hello!
New image with Xcode 12.2 beta 2 has been deployed recently. Please let us know if you have any troubles with it

[2020-10-07 14:47] #1725 closed

[2020-10-07 15:11] maxim-lobanov commented on #1703
Closing the issue because it is not something that we own in this repository

[2020-10-07 15:11] #1703 closed

[2020-10-07 15:26] maxim-lobanov commented on #1698
Hello everyone!
The new image with Xamarin.iOS 14.0 has already been deployed (See #1737). Please pay attention that it is not set by default yet because default Xcode 11.7 is not compatible with it.
We are going to update default Xcode to 12.0 in a few weeks and after that will set Xamarin.iOS 14.0 by default.
For now, you can switch Xamarin.iOS to 14.0 using [Setup Xamarin](https://github.com/ma

[2020-10-07 15:26] #1698 closed

[2020-10-07 15:30] freeman commented on #1746
Hello @dibir-magomedsaygitov,

I think this tool is worth having for all platforms. I use  `ubuntu-latest` myself.

[2020-10-07 17:15] Whoerr commented on #1744
echo "::set-env name=BOOST_INCLUDEDIR::${{ env.BOOST_ROOT }}\boost\include"
to
echo "::set-env name=BOOST_INCLUDEDIR::${{ env.BOOST_ROOT }}\include\boost"
JFI, the uuid header files reside in these paths:
BOOST_ROOT_1_72_0/include/boost/uuid/uuid.hpp
BOOST_ROOT_1_72_0/include/boost-1_72/boost/uuid/uuid.hpp
BOOST_ROOT_1_72_0/libs/uuid/include/boost/uuid/uuid.hpp

[2020-10-07 17:52] simonklb opened #1759 "Network flakiness continued"
**Description**
Seeing the same network flakiness as described in https://github.com/actions/virtual-environments/issues/1187

The accepted workaround seems to be to disable checksum offload. How would I do this if I run the job steps inside a container?

[code]

**Area for Triage**:
Servers

**Question, Bug, or Feature?**:
Question

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu

[2020-10-07 18:03] ABBAPOH opened #1760 "Xcodes are not registered in the central metadata store"
**Description**
We used to use the mdfind tool to find Xcodes installed in the system using the following command:
$ /usr/bin/mdfind "kMDItemCFBundleIdentifier == 'com.apple.dt.Xcode'"

However, this command no longer returns anything, i.e. Xcodes are not registered in the system.

See https://github.com/ABBAPOH/qbs/runs/1221991445?check_suite_focus=true as an example.

**Area for Triage**:
Area:

[2020-10-07 23:15] miketimofeev commented on #1760
Hi @ABBAPOH!
It's probably related to this change
https://github.com/actions/virtual-environments/blob/17d233cac55acb75f4df25a77070e5866ee6b635/images/macos/provision/configuration/configure-machine.sh#L32
We'll try to figure out a better way to reduce CPU usage rather than disabling mdutil completely.

[2020-10-08 01:59] laike9m commented on #1740
Hi Maxim, what about Azure pipelines?

[2020-10-08 04:48] hutson commented on #1675
I apologize for not having had time to investigate whether the VSSetup module installed correctly. I still plan to, but in the meantime there is no reason to keep this issue open.

[2020-10-08 04:48] #1675 closed

[2020-10-08 06:35] maxim-lobanov commented on #1740
@laike9m , Unfortunately, Azure Pipelines [UsePython](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-version?view=azure-devops) task can't install versions on-flight like setup-python so we have to wait for next week until new image with Python 3.9 is deployed.
(I suggest to [upvote feature request](https://github.com/microsoft/azure-pipelines-tasks/issues/13319) for

[2020-10-08 06:40] #1636 closed

[2020-10-08 06:59] laike9m commented on #1740
@maxim-lobanov Got it. Upvoted.

[2020-10-08 07:54] al-cheb commented on #1620
@rikat-ms, @stefkampen, @DocX, The new image with updated Apple certificate has been deployed. Could you please check?

![image](https://user-images.githubusercontent.com/47745270/95430539-92385400-0954-11eb-9a6f-246fca14ec1c.png)

[2020-10-08 07:58] samcoe opened #1765 "Update gh windows installer script"
**Tool information**
- Tool name: gh
- Tool license: MIT License
- Add or update? Update
- Desired version: Latest
- Approximate size:

**Area for Triage**:
Windows

**Question, Bug, or Feature?**:
Question

`gh` is currently being installed on Windows using Chocolatey

https://github.com/actions/virtual-environments/blob/0f6fba462ae50d9f3d88046004324403a146664a/images/win/scripts/Installers/Insta

[2020-10-08 08:32] AlenaSviridenko commented on #1746
Hi @freeman,
tool installation in runtime takes 1-2 sec. Considering this fact and a tool size, we would like not to add it to the image. Below are the steps to install it in runtime:
[code]
Does it work for you?
Please, let me know if you have any questions.
Thanks.

[2020-10-08 10:45] al-cheb commented on #1757
Hello, @FranciscoPombal
Currently, it's impossible to run `sudo apt update && sudo apt upgrade` on every agents as part of pre-build step, because it would affect timing for 100% of ubuntu pipelines and create unpredictable behavior after upgrade. I don't think it's right approach to update the whole system using `sudo apt upgrade`. You should always use `sudo apt update` before running apt-get in

[2020-10-08 11:05] LeonidLapshin commented on #1759
Hi, @simonklb !
Unfortunately, there are no options in container job to set some privileges for docker container, but you still can do it manually, for example
[code]
Could you please check if the hardware checksum offloading disabling works for your case?

[2020-10-08 11:08] al-cheb commented on #1604
@timangus , gcc-10 is now available for Ubuntu 18.04/20.04. The Ubuntu 16.04 has not been updated due to unavailable gcc-10 pkg in ppa:ubuntu-toolchain-r/test repo .

[2020-10-08 11:08] #1604 closed

[2020-10-08 11:09] al-cheb commented on #1502
Looks like fix has been deployed. Feel free to open the thread if you have any concerns.

[2020-10-08 11:09] #1502 closed

[2020-10-08 11:13] al-cheb commented on #1591
The new Ubuntu 20.04 has been deployed with default Python3 and Python is alias -> Python3.
[code]

![image](https://user-images.githubusercontent.com/47745270/95451441-72af2480-0970-11eb-858c-f4dda2299b69.png)

[2020-10-08 11:13] #1591 closed

[2020-10-08 11:26] simonklb commented on #1759
I worked around it by running each step with `uses` and `with.args` instead of `container` and `run`:
[code]
So far I've not seen any timeouts, but it might be a bit early to tell. Also, this might not be suitable in all cases since you have to start a new container each time and rely on the default volumes if you want to share data such as `/github/home` etc.

Is there a reason why this is not fi

[2020-10-08 11:29] freeman commented on #1746
I thnk you're right. In fact a simple:
[code]
will be ok.

Thanks for considering,

[2020-10-08 11:46] LeonidLapshin commented on #1759
I guess that you disable offloading on host machine but it can be not enough, could you please disable it in docker container too for test?

[2020-10-08 12:41] timangus commented on #1604
I saw, thanks. Unfortunately for me I need to build on 16.04, but your efforts are nevertheless appreciated. I asked the ubuntu-toolchain maintainers if they would be willing to build GCC 10 for 16.04 a week or so ago, but so far no response.

[2020-10-08 12:52] dibir-magomedsaygitov commented on #1654
Hello, @zackijack!
Ubuntu images with Helm v3.3.4 are available to use. I'm going to close this issue, but in case of any questions feel free to contact us.

[2020-10-08 12:53] #1654 closed

[2020-10-08 12:59] FranciscoPombal commented on #1757
@al-cheb

Thanks for the answer. If a full upgrade as part of the pre-build step is out of the question, what about just the `sudo apt update`? Seems reasonable, since this is something everyone should/will be doing anyway.

And what about increasing the frequency of the image upgrades, or making sure they contain a more updated package base?

[2020-10-08 13:41] simonklb commented on #1759
Does not seem to make any difference. This is what I'm running at the moment and I'm still experiencing the same timeouts as before. Let me know if you see something wrong with the configuration.

[code]

[2020-10-08 13:58] dibir-magomedsaygitov commented on #1746
In this case I'm closing this issue. If you will have any questions, feel free to contact us.

[2020-10-08 13:58] #1746 closed

[2020-10-08 14:19] LeonidLapshin commented on #1759
@simonklb thank you for testing these steps, they looks good! Could you please provide the repro steps for your problem and/or the error message? We can try to dig deeper if your problem occurs almost every time.

[2020-10-08 14:21] skelliest commented on #765
We are having the same issue on our private repo, and it was also caused by adding an environment variable. Tried quoting the variable and it didn't help, so we'll have to redo our build so that it doesn't have the environment variable.

[code]

[2020-10-08 14:27] al-cheb commented on #1757
1. Currently, we deploy a new image once a week or two, but sometimes external factors block a deployment and there is nothing we can do from our side.

2. `sudo apt update` - it would affect 100% builds and most of them don't use `apt install` at all, thus wasting agent time resources, that's why we don't include it as a pre-build step.

[2020-10-08 14:46] chvck opened #1770 "Macos OpenSSL linking appears broken"
**Description**
We have an action which builds a rust project, as a part of this we have to build a C library which tries to link to OpenSSL. Somewhere between 14 and 17 September our build stopped working on Github Actions. I see that [this commit](https://github.com/actions/virtual-environments/commit/9afcb1503a1d367b713aafd3146c945d34fe70d7#diff-94d9decca4b64333b34283f082ce04bb) was created on

[2020-10-08 15:02] simonklb commented on #1759
@LeonidLapshin Thanks for the swift responses!

The error message is not always the same, but a common failure is when the actions runner communicates with [Terraform Cloud](https://www.terraform.io/docs/cloud/index.html). An error message in that case can look something like this:

[code]

This happens more often than not in the tests but I don't remember ever seeing it when running it myself.

I

[2020-10-08 15:52] domenkozar commented on #183
This is on the roadmap, but it may not be possible for OSS: https://github.com/github/roadmap/issues/95

[2020-10-08 15:58] mikehardy commented on #183
@domenkozar Ironically, if the intention is to limit expenses for OSS (a valid reason, no argument there) in the android emulator case at least the nested virtualization is so much more efficient that it might represent a savings due to faster execution / less CPU-hours burnt, but only if load doesn't migrate here from other systems I suppose

[2020-10-08 16:00] domenkozar commented on #183
Note that I'm not a GitHhub employee and this is pure speculation.

[2020-10-08 16:03] stefkampen commented on #1620
I have removed the workaround and it still works. Thanks! 👍

[2020-10-08 17:18] felipecrs commented on #183
What I don't understand is why this Issue is closed.

[2020-10-08 18:35] dibir-magomedsaygitov commented on #1671
Hello everyone! Quick update: Azure Powershell v4.7.0 is available to use on all Ubuntu images and on Windows 19 image. Deployment of Windows 16 was delayed and (hopefully) will be delivered next week.
I will post update message when Azure Powershell v4.7.0 is available to use on Windows 16 as well. Thank you for your patience.

[2020-10-09 04:03] dsame commented on #1744
Hi @ritchiecarroll, i am closing the issue because there's no response.

Please feel free to open new issue or re-open this one in case of any problem

[2020-10-09 04:03] #1744 closed

[2020-10-09 06:47] al-cheb commented on #1620
Feel free to open the thread if you have any concerns.

[2020-10-09 06:47] #1620 closed

[2020-10-09 06:55] dibir-magomedsaygitov commented on #1760
Hello, @ABBAPOH!
We reverted out recent change back. New images with enabled spotlight indexing should be available with the next week's roll-out. I'll post update message.

[2020-10-09 08:38] matks opened #1773 "Possible issue with Ubuntu 18.04 image 20201004.1 for php projects"
**Description**

Hi, on [PrestaShop\PrestaShop](https://github.com/prestashop/prestashop) we noticed yesterday multiple GitHub Actions checks failing for no weird reasons. The failing Actions were the ones running [phpstan](https://github.com/phpstan/phpstan). After investigation, it seems that the issues happened on Pull Requests where the GA was run using latest 18.04 image 20201004.1 . With pre

[2020-10-09 09:58] AlenaSviridenko opened #1775 "[macOS] Default Ruby version will be changed to 2.7 on October, 26"
### Breaking changes
Default Ruby will be upgraded from 2.6 to 2.7 on MacOS images

### Target date
Deployment of these changes will be started on 28 October and will take a few days.

### The motivation for the changes
Ruby 2.7 is current stable version and it is required for a lot of gems so we would like to set it by default.

### Possible impact
If you use default Xcode version and your projec

[2020-10-09 10:59] tysonite opened #1776 "Jobs on Windows fail without logs sometimes"
Sometimes, jobs on Windows fail without logs:
![image](https://user-images.githubusercontent.com/196535/95575329-2d095f00-0a37-11eb-8bcc-14fdf8551b31.png)

Examples:
- https://github.com/robotframework/robotframework/runs/1230597456
- https://github.com/robotframework/robotframework/pull/3703/checks?check_run_id=1230632395

This might be related to similar issues on macOS: https://github.com/actio

[2020-10-09 11:01] tysonite commented on #841
I feel https://github.com/actions/virtual-environments/issues/736 has been closed too early as it still happens, e.g. : https://github.com/robotframework/robotframework/runs/1230597278

[2020-10-09 11:27] AlenaSviridenko commented on #1661
Hi @vgubar,
after some internal discussion, we came up with the conclusion not to add this container to the image, sorry. Our decision based on container size and its popularity. We have never had previously any requests to add it.
Hopefully, we will revisit this solution in the future, if there will be other requests to add it.

I am going to close this issue, please feel free to create a new one

[2020-10-09 11:27] #1661 closed

[2020-10-09 11:38] ABBAPOH commented on #1760
Sounds great, thanks!

[2020-10-09 13:44] gagancss commented on #1688
Hi what about Xcode 11.3.1 -- will that still be supported ?

[2020-10-09 13:45] ritchiecarroll commented on #1744
Thanks - was working on other things and forgot about this one. Looks like changing the include folder helped.

Appreciate the hint.

Ritchie

[2020-10-09 15:02] maxim-lobanov commented on #1688
@gagancss , Yes. We deprecate only 11.4.0 in favor of 11.4.1. Previously we have done the same for 11.3 (deprecation of 11.3.0 in favor of 11.3.1). It doesn't make much sense to have more than one patch version

[2020-10-09 15:17] michael-spengler opened #1777 "Add [DENO] as a preinstalled RTE to improve execution speed"
Corresponding Discussion:
https://github.community/t/github-actions-deno-support/135130/4

Example:
https://github.com/michael-spengler/github-action-with-deno

[2020-10-09 15:22] alepauly commented on #183
@felipecrs - There are technical reasons why we can't support this at this time unfortunately.

@domenkozar - I don't think the multiple hosted runner size feature will necessarily lead to nested virtualization becoming available, I doubt it. Also, I'm not sure that I would infer that multiple sizes of runners will leave out OSS, I don't think it will.

@mikehardy (and all) - thanks for continuing

[2020-10-09 16:59] webknjaz commented on #1740
@maxim-lobanov All my jobs hit API rate limit when I set them to 3.9 :(

Is there a problem with it? https://github.com/ansible/pylibssh/pull/152/checks?check_run_id=1232497424

[2020-10-09 19:30] dsame commented on #1773
Hi @matks ,

I've checked the required file exists and can be required from PHP script. It seems the problem is with 'require_once' and phpstan logic that attempts to read the class definition more than once
Please try to contact phpstan support to solve the problem.

[2020-10-09 21:07] matks commented on #1773
Hi, thank you for the answer !

[We already contacted phpstan maintainer](https://github.com/phpstan/phpstan/issues/3929) and he thinks he knows broadly what the issue is.

However if I look at the facts:
- the file that is, supposedly, responsible for the bad phpstan behavior has been inside PrestaShop for years and did not cause any issues with GitHub Ubuntu 18.04 image 20200920.1
- if I run the

[2020-10-10 09:12] webknjaz commented on #1740
@maxim-lobanov thanks for the hint! Looks like that cleanup workflow can be the root of the issue. I'll try to make it use less requests...

[2020-10-10 10:06] campersau commented on #712
After https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/ the new syntax for setting `TEMP` environment variable via powershell is:
[code]

[2020-10-10 18:30] MartinKanters commented on #841
I'm seeing the same issue over on our side: https://github.com/apache/maven/runs/1232918625.

[2020-10-10 20:49] drewcrawford opened #1779 "MTLCreateSystemDefaultDevice returns nil"
**Description**
Inside a GitHub-hosted runner, calls to the macOS API `MTLCreateSystemDefaultDevice` returns `nil`.  This prevents use of Metal, is not generally anticipated to happen on macOS, and can break arbitrary software, which is more likely to occur over time.  This appears to be caused by GPU configuration in the guest environment.

**Area for Triage**:
Apple

**Question, Bug, or Feature?

[2020-10-10 21:34] nitzanw commented on #1413
@maxim-lobanov I have exactly the same issue as him

[2020-10-10 22:05] mxschmitt opened #1781 "Add virtual environment: macOS Big Sur (11.0)"
I had a conversation with the GitHub support about macOS Big Sur support in Github Actions, opening an issue publicly was recommended so other users find the answer directly over Google.

Currently there is only macOS Catalina supported as a [virtual environment](https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardwar

[2020-10-11 04:47] maxim-lobanov commented on #1413
@nitzanw , The initial issue was related to typo in version string. See my answer above

[2020-10-11 04:48] maxim-lobanov commented on #1781
Hello @mxschmitt , we definitely have plans to add MacOS Big Sur to GitHub Actions but I can't provide ETA for now.
I will update this issue as soon as I have update.

[2020-10-11 06:35] mapo80 opened #1783 "Download MacOS image"
Guys I have a question for you, I want to download macOS image to run it on my Mac, because it has everything I need to build iOS app. Is it possible? Where can I download it?

Thanks.

[2020-10-11 07:11] maxim-lobanov commented on #1783
Hello @mapo80 , Unfortunately, it is not possible. We can't distribute the built image due to legal issues.
Related issue: https://github.com/actions/virtual-environments/issues/176

[2020-10-11 07:18] mapo80 commented on #1783
Hi @maxim-lobanov, I understand. Can I create it from scratch using your build system? Is there a tutorial to do this?

[2020-10-11 08:02] maxim-lobanov commented on #1783
We just open-sourced MacOS image generation code a few weeks ago so don't have guides yet. It could be a bit tricky but I think that the simplest way to configure the same environment locally:
1) Take clean MacOS 10.15 machine
2) `git clone https://github.com/actions/virtual-environments.git`
3) Run all image-generation scripts from `images/macos` folder one by one

Notes:
- The list of all script

[2020-10-11 08:24] mapo80 commented on #1783
@maxim-lobanov Thanks very much for your detailed answer.

[2020-10-11 08:24] #1783 closed

[2020-10-11 12:19] nitzanw commented on #1413
@maxim-lobanov Tnx for the reply but the link is broken

[2020-10-12 06:00] vsafonkin commented on #1770
Hello @chvck, thank you for your report. Probably, Rust library linker cannot resolve openssl libs through symlink `/usr/local/Cellar/openssl -> /usr/local/Cellar/openssl@1.0.2t`. As a workaround you can try to add next step for macOS into your workflow:
[code]
I've checked it on my test workflow and build was successful: https://github.com/vsafonkin/test-repo/runs/1240480862?check_suite_focus=tru

[2020-10-12 07:09] LeonidLapshin commented on #1777
Hey, @michael-spengler
Could you please provide all information requested in [issue template](https://github.com/actions/virtual-environments/issues/new?assignees=&labels=feature+request%2C+needs+triage&template=tool-request.md&title=Update%2FAdd+%5Btool+name%5D) ?

[2020-10-12 07:27] LeonidLapshin commented on #1759
Hey, @simonklb
Could you please provide a docker image that you use (is it ubuntu:latest?) and commands/steps that use terraform client for communication with Terraform Cloud? I guess it's vital for repro to use the same steps.

[2020-10-12 07:40] andy-mishechkin commented on #1745
Hello, @junyzheng
Thank you for your note.
We'll investigate if we can remove OpenSSL 1.0.2 from image, if it will not impact to other software in image.

[2020-10-12 08:09] rajivml commented on #681
this is happening with Ubuntu 20.04 images :(  , I have a powershell script which is running fine with Ubuntu 16 and 18, but I need Java 11, so i changed the agent to Ubuntu 20.04 and powershell script is failing here

![image](https://user-images.githubusercontent.com/46923567/95721465-435e2780-0c90-11eb-93b0-848b19781be5.png)

[2020-10-12 08:23] maxim-lobanov commented on #681
@rachmari , Java 11 exists on Ubuntu 18.04 and Ubuntu 16.04 environments.
You can use [Java Tool Installer](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/java-tool-installer?view=azure-devops) to switch it.

[2020-10-12 08:34] raviteja12345 commented on #1704
The above mentioned is a work around only. And we need to update them in multiple places in our build definitions. So, it would be good if we have a fix for this issue.

[2020-10-12 09:09] chvck commented on #1770
Hi @vsafonkin thanks for replying. I tried your workaround and it didn't work but given that you said 1.0.2t will be removed anyway and I know that we already support 1.1. I tried the following and it worked:

[code]

Thank you for your help!

[2020-10-12 09:33] vsafonkin commented on #1770
@chvck , great! I've closed this issue, feel free reopen it if you have any problems. Thank you!

[2020-10-12 09:33] #1770 closed

[2020-10-12 09:54] miketimofeev commented on #681
@rajivml could you please run the following on Ubuntu20?
[code]
It looks fine for me:
![image](https://user-images.githubusercontent.com/48208649/95732771-e19abf00-0c89-11eb-9349-f364b30627f6.png)

[2020-10-12 11:24] maxim-lobanov commented on #1676
Hello!
Sorry for delay, PR has been merged. Changes will be deployed next week

[2020-10-12 11:40] maxim-lobanov commented on #1777
Hello @michael-spengler , thank you for feature request.

There is [an action to install Deno](https://github.com/denolib/setup-deno) in runtime and it takes about 2-4 seconds to install any version. It is pretty fast. Also, actions provide better experience than pre-installed software because it allows to install or even freeze specific version instead of having latest version always.
Considering

[2020-10-12 11:40] #1777 closed

[2020-10-12 11:48] LeonidLapshin commented on #1779
Hey, @drewcrawford
Thank you for your research and provided information, but, unfortunately, our current virtualization approach for macOS doesn't allow us to provide GPU passthrough due to several hardware and software limitations. Moreover, I'm afraid there are no plans to make GPU functions available for macOS runners in the nearest future.

[2020-10-12 11:48] #1779 closed

[2020-10-12 14:00] rajivml commented on #681
hi @miketimofeev thanks for your reply, actually I figured out that it's an other step which is messing up the permissions, before the powershell script we have this step and I have changed the order of this step i.e now am running this after the powershell script and it's now running me

With Ubuntu 16 and 18, even if the below step was running before the powershell script, it was running fine wi

[2020-10-12 15:46] junghans commented on #202
Is there a reason gfortran-10 isn’t included in the latest images?

[2020-10-12 16:13] timheuer opened #1794 "GITHUB_WORKSPACE evaluting to blank"
**Description**
Per the documentation: https://docs.github.com/en/free-pro-team@latest/actions/reference/environment-variables#default-environment-variables
The `GITHUB_WORKSPACE` variable should evaluate to a path.  When using in a workflow (after checkout) however, it is evaluating to nothing and not providing the path both on ubuntu-latest/windows-latest

Example: https://github.com/timheuer/bu

[2020-10-12 16:20] certik commented on #202
@junghans they probably install the version in Ubuntu 18.04, which is 7.5.0.

[2020-10-12 16:20] maxim-lobanov commented on #1794
Hello @timheuer , you use incorrect way to reference this variable.
If you would like to reference GITHUB_WORKSPACE as environment variable, you should use:
[code]

If you would like to use `{{}}` syntax, you should use
[code]

Please follow documentation: https://docs.github.com/en/free-pro-team@latest/actions/reference/context-and-expression-syntax-for-github-actions#github-context

[2020-10-12 16:24] junghans commented on #202
`ubuntu-latest` comes with 4 versions of `gcc`, but only 3 versions of `gfortran`.

[2020-10-12 16:28] certik commented on #202
Ok, in that case it should be possible to enable `gfortran` for GCC version 10 also.

[2020-10-12 16:34] maxim-lobanov commented on #202
@junghans , no one has asked for it so we didn't add it.
Feel free to raise feature request.

[2020-10-12 16:37] LanceMcCarthy commented on #1794
That's the confusing part. Yes, you can directly use the GitHub context `${{ github.workspace }}`. However, according to the docs, you can read the workspace GitHub context value as an environment variable.

https://twitter.com/lancewmccarthy/status/1315686054113021957
![image](https://user-images.githubusercontent.com/3520532/95769909-94691e00-0c86-11eb-984d-0032d12427c9.png)

Since we know this

[2020-10-12 17:04] maxim-lobanov commented on #1794
I don't have much context about this logic because it is owned by https://github.com/actions/runner.
In my understanding, `${{ env:* }}` is not equal PS `$env:*`. Through `${{ env: }}` you can only access the variables that are set by your workflow because such expressions are evaluated by runner and they don't have an access to machine environment.

[code]
so you can access only variables that ar

[2020-10-12 19:48] rachmari commented on #681
@maxim-lobanov

You can use Java Tool Installer to switch it.

We document all of the software installed on the runners in this repo. It looks like we already document support for Java 11: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md#java

[2020-10-12 22:16] junghans opened #1796 "Add gfortan-10"
**Tool information**
- Tool name: gfortran
- Tool license: GPL
- Add or update? update
- Desired version: 10.1.0 (to keep in sync with gcc)
- Approximate size:

**Area for Triage**:

**Question, Bug, or Feature?**:

See #202

**Virtual environments affected**
- [ ] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [x] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 201

[2020-10-12 22:16] junghans commented on #202
@maxim-lobanov see #1796

[2020-10-13 00:21] bryansills opened #1797 "Update Xcode to 12.0.1"
**Tool information**
- Tool name: Xcode
- Tool license: ?
- Add or update?: Update
- Desired version: 12.0.1
- Approximate size:

**Area for Triage**:
Area: Apple

**Question, Bug, or Feature?**:
Bug

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Can this tool be ins

[2020-10-13 04:52] maxim-lobanov commented on #1797
@bryansills , thank you for feature request.
We have investigated this feature request previously and decided to not install Xcode 12.0.1 to images because:
[code]

Does it make sense to you? Could you please share additional context why we need to install Xcode 12.0.1?

[2020-10-13 05:45] maxim-lobanov commented on #1794
Closing this one but please let me know if you have any questions

[2020-10-13 05:45] #1794 closed

[2020-10-13 07:56] maxim-lobanov commented on #1580
Hello @weiji14 , Sorry for delay.
Changes were merged and new image will be deployed in 1-2 weeks

[2020-10-13 07:59] al-cheb commented on #1757
@FranciscoPombal, I will let you know if we have any updates in this direction.

[2020-10-13 07:59] #1757 closed

[2020-10-13 09:20] rickynils commented on #1579
For reference, there is also https://github.com/marketplace/actions/nix-quick-install

[2020-10-13 11:09] weiji14 commented on #1580
Awesome! Thanks for keeping on top of this, looking forward to the deployment!

[2020-10-13 13:27] bryansills commented on #1797
We are seeing an error like `Your app was built with an unsupported SDK or version of Xcode` when trying to upload our build to Fastlane. I believe that Apple might have removed support for the 12.0 version of Xcode.

[2020-10-13 14:34] crisvergara opened #1804 "MacOS 10.5 20201011.1 build resolution issue"
**Description**
I have a React Native application in App Center. At some point yesterday, 20201011.1 was rolled out, and now all of my builds are failing. Specifically, there are errors resolving files within a Pod dependency (Braintree). There doesn't seem to be any release branch or documentation in this repository, so I'm not sure what exactly changed between 20201011.1 and the last working ver

[2020-10-13 14:57] TutuNazarova commented on #1797
Hello!
What is the latest Xcode version available?

[2020-10-13 15:04] maxim-lobanov commented on #1804
Hello @crisvergara , could you please provide repro steps for your issue and full build logs?
If your repository is private, I suggest contact App Center Support team and they will be able to retrieve information for investigation.

[2020-10-13 15:13] maxim-lobanov commented on #1797
@TutuNazarova , https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md#xcode

[2020-10-13 16:25] crisvergara commented on #1804
I got a response from appcenter support.

[code]

The flag CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER is unset in my project. The default is NO, but that's changing in Xcode 12: https://github.com/CocoaPods/CocoaPods/issues/9902

I'm going to try running `gem install cocoapods --pre` in my build script and see if that helps, but AFAIK the new image still uses Xcode 11.3, and shouldn't be having

[2020-10-13 16:32] crisvergara commented on #1804
Build logs here: https://gist.github.com/crisvergara/078218e45379321c5924e0546b118ab2

[2020-10-13 16:47] maxim-lobanov commented on #1804
Thank you for additional details.
Changelog for this image will be available soon. The most important changes:
- Node.JS 12 was updated from 12.18.4 to 12.19.0
- Node.JS 14 was updated from 14.13.0 to 14.13.1
- Xcode 12.0 beta 6 was removed from images

Considering that you use Node.JS 10 and Xcode 11.3, It shouldn't impact you. Also no changes in cocoapods version or something similar.
We don't h

[2020-10-13 16:58] crisvergara commented on #1804
I tried pushing a previously successful commit, and unfortunately I had the same issue. For that reason, I don't think my code is the problem. Only change as far as I could tell was the image.

I'm still trying to get my post-clone script to trigger, but app center can be finicky sometimes. I'll keep you updated.

[2020-10-13 18:40] crisvergara commented on #1804
Updating cocoapods in a post-clone script seems to fix the issue for me.

[2020-10-13 20:16] mathomp4 commented on #1796
As a lurker, it would be nice if the macOS image also got gfortran/gcc 10. I think that Ubuntu 18 and Ubuntu 20 have it now, but I'm not smart enough to figure out how to get my matrix right for "if not macos, run gcc-10"...

[2020-10-13 21:35] LeonidLapshin commented on #1804
I'll close the issue for now, but feel free to reopen if the problem will occur again or if you have any concerns.
Thank you!

[2020-10-13 22:13] evnik commented on #1804
@LeonidLapshin We have the similar issue for our native iOS project. We use Xcode 12, have pods versions fixed and manually install 1.8.4 version of CocoaPods in the Post Clone Script. We didn't have any code changes, but our App Center builds started to fail since yesterday on the virtual environment with version: `20201011.1` with this error:
[code]

[2020-10-14 03:58] smorimoto commented on #522
@miketimofeev This happens again in the Windows image. Please re-open this issue.

[2020-10-14 04:03] smorimoto commented on #522
Honestly, why don't you stop installing many tools by default? It seems that you all aren't able to maintain that properly. If you continue to do that, users will just lose.

[2020-10-14 04:07] smorimoto commented on #522
As I've said many times, continuing to ship such dirty images is not a good idea from a CI perspective. Even if you want to keep shipping such images, it's a really good idea to ship the completely plain images.

[2020-10-14 06:38] laike9m commented on #1740
May I ask the ETA for 3.9 support?

[2020-10-14 06:54] BenJKuhn commented on #1740
Last time it took about a month between Python 3.8 availability and support in the azure pipeline tasks. I'm hoping it's a little quicker this time, but still trying to track that down.

[2020-10-14 07:01] #1646 closed

[2020-10-14 07:17] LeonidLapshin commented on #522
Hey, @smorimoto !
Could you please open a new issue with problem description using a [template](https://github.com/actions/virtual-environments/issues/new?assignees=&labels=needs+triage&template=bug-report.md&title=) ?
Thank you!

[2020-10-14 07:21] smorimoto commented on #522
@LeonidLapshin I have no strong objection to opening a new issue, but the problem is quite simple, and everything is as the title says.

[2020-10-14 08:30] AlenaSviridenko commented on #1536
Default CLang version was updated, image with this update was deployed everywhere. Closing issue

[2020-10-14 08:30] #1536 closed

[2020-10-14 09:46] sagimann opened #1809 "Cannot find Xcode 12.0.1 GM on guthub runner"
**Description**
I'm trying to build a production version of my iOS app using Xcode 12, but the app store does not accept it, says it's not built with a GM Xcode. Looking in the /Applications folder for any Xcode 12.x, I see:
[code]
Officially, Xcode 12.0.1 is GM, which does not exist on the runner. How do I build correctly using Xcode 12 (whatever sub version) GM?

**Area for Triage**:  Apple

**Q

[2020-10-14 09:49] maxim-lobanov commented on #1797
@bryancross , we are going to replace Xcode 12.0.0 to 12.0.1 on next image. It should be rollout early next week

[2020-10-14 09:58] maxim-lobanov commented on #1809
Hello @sagimann , Please follow [image documentation](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md#xcode) to find all installed Xcode versions.
Xcode 12.0.0 GM is installed in `/Applications/Xcode_12.app`. Please double check that you use `/Applications/Xcode_12.app` but not `/Applications/Xcode_12_beta.app`.
As for the Xcode 12.0.1, it is not added

[2020-10-14 10:53] #1624 closed

[2020-10-14 12:06] sagimann commented on #1809
Hello @LeonidLapshin , the versions are there, as I listed them above. It seems like the issue was with the build process, which uses Fastlane: when setting the xcode version in Fastlane to "12" or "12.0" or "12.0.0", Fastlane seems to detect the beta Xcode, as we can see in their logs:
[code]

To workaround it, I forcefully removed /Applications/Xcode_12_beta.app so that Fastlane doesn't find it.

[2020-10-14 12:12] traversaro opened #1811 "brew update/brew upgrade failing with Error: Not a directory @ dir_s_rmdir error"
**Description**
On some scheduled jobs on macOS, since few days the `brew update` and `brew upgrade` are failing.

**Area for Triage**:

**Question, Bug, or Feature?**:

Bug

**Virtual environments affected**
- [x] macOS 10.15
- [ ] Ubuntu 16.04 LTS
- [ ] Ubuntu 18.04 LTS
- [ ] Ubuntu 20.04 LTS
- [ ] Windows Server 2016 R2
- [ ] Windows Server 2019

**Expected behavior**
The commands:
* `brew upda

[2020-10-14 12:13] traversaro commented on #1811
I do not have a mac so I can't try to reproduce this, but I checked online and it seems that it is affecting other CI systems: https://github.com/dotnet/runtime/pull/43299 .

[2020-10-14 12:13] webknjaz commented on #1740
@zooba promised to look into it a few days back: https://twitter.com/zooba/status/1315192397144489984

[2020-10-14 12:14] traversaro commented on #1811
Example of failing build: https://github.com/robotology/robotology-superbuild/runs/1248677157 .

[2020-10-14 12:28] al-cheb commented on #1743
PR: https://github.com/actions/virtual-environments/pull/1810

[2020-10-14 12:40] hugovk commented on #1740
I see Python 3.9.0 is now cached in these **pre-releases**, presumably queued up for deploy?

* https://github.com/actions/virtual-environments/releases/tag/ubuntu16/20201012.1
* https://github.com/actions/virtual-environments/releases/tag/ubuntu18/20201012.1
* https://github.com/actions/virtual-environments/releases/tag/ubuntu20/20201012.1
* https://github.com/actions/virtual-environments/release

[2020-10-14 12:40] radekwilczak commented on #1659
@maxim-lobanov
Why the `xcodeVersion: 'default'` is Xcode 11.7?
I think it should pointing to Xcode 12

[2020-10-14 12:42] maxim-lobanov commented on #1659
@radekwilczak , It will be switched soon. See details in announcement: https://github.com/actions/virtual-environments/issues/1712
Usually, we change default Xcode in a few weeks after adding to make sure that customers adapt to update.